/* CSS Document */
/*图表信息*/
body,html{
	overflow:hidden;}
.tubiao th{
	font-size:18px;
	text-align:center;
	font-weight:normal;
	vertical-align:middle;
	height:170px;
	}
.tubiao a,.tubiao a:hover{
	text-decoration:none;
}
.jiben{
	background-image:url(../images/jb.png);
	background-repeat:no-repeat;
	background-position:center;
	width:20%;
}
.hetong{
	background-image:url(../images/het.png);
	background-position:center;
	background-repeat:no-repeat;
	width:20%;
}
.xm{
	background-image:url(../images/xm.png);
	background-position:center;
	background-repeat:no-repeat;
	width:20%;
}
.ys{
	background-image:url(../images/ys.png);
	background-position:center;
	background-repeat:no-repeat;
	width:20%;
}
.tubiao td{
	padding-left:5px;
	font-size:13px;
	vertical-align:top;
}
.jiben_li li{
	list-style:square inside url(../images/jb_p.png);
	line-height:25px;
}

.hetong_li li{
	list-style:square inside url(../images/ht_p.png);
	line-height:25px;
}
.xm_li li{
	list-style:square inside url(../images/xm_p.png);
	line-height:25px;
}
.ys_li li{
	list-style:square inside url(../images/ys_p.png);
	line-height:25px;
}
/*网站门户*/
#menhu{
	margin:0 auto;
	width:970px;
	}
#banner{
	margin:0 auto;
	background:url(../images/portal/banner.jpg) no-repeat;
	height:214px;
	width:970px;
	}
#logo{
	padding-top:30px;
	padding-left:40px;
}
#guide{
	margin:0 auto;
	width:970px;
	background:url(../images/portal/menu.png) repeat-x;
	height:39px;
	}
#guide ul{
	text-align:center;
	width:955px;
	padding-left:10px;
}
#guide ul li{
	margin:0 auto;
	float:left;
	width:90px;
	text-align: center;
	padding:0 7px;
	display:block;
	font-size:16px;
	color:#fff;
}
#guide ul li a{ color:#fff;display:block;padding:7px;width:90px;}
#guide ul li a:hover{
	margin:0 auto;
	background:url(../images/portal/li_h.png) repeat-x;
	text-align: center;
	font-size:16px;
	color:#000;
	text-decoration:none;
}
.banner{
	margin-top:6px;
	margin-bottom:10px;
}
.mh_user{
	background:url(../images/portal/login.png) no-repeat;
	width:281px;
	height:272px;
	float:left;	
}
.yh{
	margin-top:79px;
	text-align:center;
	font-size:16px;
}
.us{ font-size:18px; color:#f00;}
.yh span{
	font-size:18px;
	float:left;
	width:200px;
	padding-left:40px;
	padding-top:20px;
		
}
.mh_l {
	height: 27px; margin-bottom: 10px; vertical-align: middle; float: left; text-align:center;
}
.mh_r {
	height: 27px; margin-bottom: 10px; vertical-align: middle; float: left; line-height:27px;
}
.mh_l{
	width:70px; 
	text-align: right; 
	line-height: 27px; 
	font-size: 16px; 
	font-weight: bold;
}
.mh_r {
	width:200px;
}
.mh_r p{
	font-size:14px;
	color:#f00;
	float:left;
	padding-left:5px;
}
.mh_r input {
	float: left; display: block; margin-left:10px;
}
.clearfix:after {
	height: 0px; overflow: hidden; clear: both; display: block; visibility: hidden; content: "\20";
}
.kuang {
	background: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(227, 227, 227) rgb(227, 227, 227); width:180px; height: 27px; font-size: 16px; display: inline-block; box-shadow: 0px 1px 1px #fff;}
.mh_denglu { 
	height:29px; 
	width:85px;
	font-weight:bold; 
	border:1px solid #f56404;
	background:url(../images/login.png) repeat-x; 
	cursor:pointer; 
	color:#fff; 
	padding:0 10px; 
	font-size:16px;
}
.mh_quxiao { 
	height:29px; 
	width:85px;
	font-weight:bold; 
	border:1px solid #b0b0b0;
	 background:url(../images/cancel.png) repeat-x; 
	 cursor:pointer; 
	 color:#fff; 
	 padding:0 10px; 
	 font-size:16px;
}
#news{
	float:right;
	width:676px;
	height:270px;
	border:1px solid #e0e0e0;
	background:url(../images/portal/news_bg.png) repeat-x top;
}
.news{
	float:left;
	margin-top:10px;
	margin-left:10px;
}
#menhu_con{
	margin:0 auto;
	width:970px;
	margin-top:10px;
}
#menhu_con h1{	
	line-height:36px;
	padding-left:20px;
	color:#fff;
	font-size:18px;
	font-weight:normal;
}
#menhu_con span a{
	float:right;
	padding-right:20px;
	font-size:14px;
	color:#fff;
}
.news_li{
	float:right;
	width:327px;
	margin-top:10px;
	margin-right:10px;
	margin-left:10px;
}
.news_l a{
	text-align:center;
	text-decoration:none;
	color:#48b5ea;
	font-size:14px;
	line-height:25px;
}
.news_l a:hover,.down a:hover,.notice a:hover,.law a:hover,.train a:hover{
	text-decoration:none;
	color:#f60;
}
.news_l p a{
	font-size:13px;
	text-decoration:none;
	color:#000;
	line-height:24px;
	text-align:left;
	height:40px;
}
.news_l p{ border:none; border-bottom:1px dashed #d6d6d6;}
.news_list ul,.down ul,.notice ul,.law ul,.train ul{
	margin-top:3px;
	line-height:25px;
	list-style:none;
}
.news_list li,.down li,.notice li,.law li,.train li{
	list-style:square inside url(../images/portal/point.png);
	padding-left:8px;
	line-height:23px;
	border:none; 
	border-bottom:1px dashed #d6d6d6;
	}
.download{
	margin-top:10px;
	width:970px;
	height:270px;
}
.down{
	float:left;
	margin-top:10px;
	width:279px;
	border:1px solid #e0e0e0;
	background:url(../images/portal/news_bg.png) repeat-x top;
}
.down ul,.notice ul,.law ul{
	padding:5px 10px 10px 5px;;
}
.notice{
	float:right;
	margin-top:10px;
	width:676px;
	border:1px solid #e0e0e0;
	background:url(../images/portal/news_bg.png) repeat-x top;
}
.notice li p,.list li p,.law li p,.train li p{
	float:right;
	margin-right:10px;
	color:#48b5ea;
}
.law{
	float:right;
	margin-top:10px;
	width:478px;
	border:1px solid #e0e0e0;
	background:url(../images/portal/news_bg.png) repeat-x top;
}	
.link{
	float:left;
	margin-top:20px;
	text-align:center;
	margin-bottom:10px;
}
/*������Ϣ*/
.base{
	float:left;
	margin-top:10px;
	width:970px;
	border:1px solid #e0e0e0;
	background:url(../images/portal/news_bg.png) repeat-x top;
}
.base img{
	margin:10px;
	text-align:center;
	border:0px;
}
/*ҽʦ��ѵ*/
.train{
	float:left;
	margin-top:10px;
	width:478px;
	border:1px solid #e0e0e0;
	background:url(../images/portal/news_bg.png) repeat-x top;
}
/*门户bottom*/
#foot{
	float:left;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
	line-height:30px;
	background-color:#f8f8f8;
	padding-bottom:5px;
	width:970px;
	border:none;
	border-top:1px solid #1696d5;
	color:#454545;
	font-size:14px;
}






/*News--------------------------------------------------------------------------------*/
.location{
	margin:0 auto;
	width:970px;
	padding-bottom:10px;
}
#search{
	text-align:right;
	padding-right:10px;}
.position{
	font-size:14px;
	float:left;
	margin-bottom:10px;
	color:#9d9d9d;
	padding-left:20px;
}
.position a{
	font-size:14px;
	margin-bottom:10px;
	color:#9d9d9d;
}
.position a:hover{
	font-size:14px;
	margin-bottom:10px;
	color:#f60;
}
.news_con{
	float:right;
	width:710px;
	padding-bottom:5px;
	border:1px solid #e0e0e0;
}
.news_search,.news_classify{
	float:left;
	width:250px;
	border:1px solid #e0e0e0;
	background:url(../images/portal/news_bg.png) repeat-x top;
}
.news_name{
	line-height:30px;
	font-size:16px;
	color:#000;
	font-weight:bold;
	padding-left:20px;
}
.news_name b{
	line-height:40px;
	font-size:16px;
	color:#e0e0e0;
	padding-left:20px;
}
.news_line{
	width:690px;
	height:3px;
	background:url(../images/portal/news_line.png) no-repeat 10px;
}
.list{ margin:5px 10px 10px 10px;}
.list ul{
	margin-top:3px;
	line-height:30px;
	list-style:none;
}
.list li{
	list-style: square inside url(../images/portal/point.png);
	padding-left: 10px;
	line-height: 30px;
	border: none;
}
/*
.news_kuang{	
	margin-top:10px;
	margin-left:10px;
}
.news_ input {
	font: 700 16px/33px ΢���ź�; width: 170px; height: 33px; color:#FFF; font-size-adjust: none; font-stretch: normal; float:left; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background:url(../images/reg_butt.png) repeat-x; border:1px solid #f56404;margin:10px;
}
*/
/*��ҳ*/
.line_b{
	border:none;
	border-bottom:1px dashed #e0e0e0;
	height:1px;
	width:690px;
}
 #fgx
{
    margin-left: 10px;
}
 #ym
{
    margin-top: 5px;
    *margin-top: 5px;
    margin-left: 20px;
    float: left;
}
 #ym b
{
    color: #1595d4;
}
 #ym2
{
	float:right;
    margin-top: 5px;
    *margin-top: 5px;
    margin-right: 15px;
}
 #ym2 b
{
    line-height:25px;
	padding:0 4px;
	border:1px solid #e0e0e0;
	font-weight:normal;
}
 #ym2 a
{
    color: #5f5f5f;
}
 #ym2 a:hover
{
    color: #1595d4;
	text-decoration:none;
	font-weight:bold;
}
/*��������*/
.news_nav{
	float:left;
	width:970px;
}
.news_nav h2{
	text-align:center;
	font-size:16px;
	font-weight:bold;
}
.news_nav b{
	text-align:right;
	padding-left:830px;
	color:#1595d4;
	font-weight:normal;
}
.news_nav p{
	padding:10px;
	line-height:25px;
	font-size:14px;
	color:#333;
}
/*���ŷ���*/
.news_classify li{
	margin:10px;
	width:230px;
	background-color:#e9f8ff;
	border:1px solid #d3f0ff;
	line-height:30px;
	height:30px;
}
.news_classify li b a{
	font-size:14px;
	color:#000;
	width:230px;
	text-align:center;
	padding-left:20px;
	color:#333;
}
.news_classify li b a:hover,.news_rank li a:hover{
	color:#f60;
	font-size:14px;
	text-decoration:none;
}
/*��������*/
.news_rank{
	float:left;
	margin-top:10px;
	width:250px;
	border:1px solid #e0e0e0;
	background:url(../images/portal/rank_bg.png) repeat-x;
}
.news_rank h1{
	border:none;
	border-bottom:1px dashed #e0e0e0;
}
.rank{ padding:3px 10px;}
.news_rank li.lev_1{ background:url(../images/portal/lev_1.png) no-repeat left;}
.news_rank li.lev_2{ background:url(../images/portal/lev_2.png) no-repeat left;}
.news_rank li.lev_3{ background:url(../images/portal/lev_3.png) no-repeat left;}
.news_rank li{
	background: url(../images/jb_p.png) no-repeat 0px;
}
.news_rank li a{
	line-height:25px;
	font-size:14px; 
	color:#333;
	padding-left:15px;
	font-weight:normal;
}
/*News*/
.position{
	font-size:14px;
	margin-bottom:10px;
	color:#9d9d9d;
	padding-left:20px;
}
.position a{
	font-size:14px;
	margin-bottom:10px;
	color:#9d9d9d;
}
.position a:hover{
	font-size:14px;
	margin-bottom:10px;
	color:#f60;
}
.news_con{
	float:right;
	width:710px;
	padding-bottom:6px;
	border:1px solid #e0e0e0;
}
.news_search,.news_classify{
	float:left;
	width:250px;
	border:1px solid #e0e0e0;
	background:url(../images/portal/news_bg.png) repeat-x top;
}
.news_name{
	line-height:30px;
	font-size:16px;
	color:#000;
	font-weight:bold;
	padding-left:20px;
}
.news_name b{
	line-height:40px;
	font-size:16px;
	color:#e0e0e0;
	padding-left:20px;
}
.news_line{
	width:690px;
	height:3px;
	background:url(../images/portal/news_line.png) no-repeat 10px;
}
.list{ margin:5px 10px 10px 10px;}
.list ul{
	margin-top:3px;
	line-height:30px;
	list-style:none;
}
.list li{
	list-style: square inside url(../images/portal/point.png);
	padding-left: 10px;
	line-height: 30px;
	border: none;
}
/*
.news_kuang{	
	margin-top:10px;
	margin-left:10px;
}
.news_ input {
	font: 700 16px/33px ΢���ź�; width: 170px; height: 33px; color:#FFF; font-size-adjust: none; font-stretch: normal; float:left; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background:url(../images/reg_butt.png) repeat-x; border:1px solid #f56404;margin:10px;
}
*/
/*��ҳ*/
.line_b{
	border:none;
	border-bottom:1px dashed #e0e0e0;
	height:1px;
	width:690px;
}
 #fgx
{
    margin-left: 10px;
}
 #ym
{
    margin-top: 5px;
    *margin-top: 5px;
    margin-left: 20px;
    float: left;
}
 #ym b
{
    color: #1595d4;
}
 #ym2
{
	float:right;
    margin-top: 5px;
    *margin-top: 5px;
    margin-right: 15px;
}
 #ym2 b
{
    line-height:25px;
	padding:0 4px;
	border:1px solid #e0e0e0;
	font-weight:normal;
}
 #ym2 a
{
    color: #5f5f5f;
}
 #ym2 a:hover
{
    color: #1595d4;
	text-decoration:none;
	font-weight:bold;
}
/*��������*/
.news_nav{
	float:left;
	width:970px;
	height:400px;
}
.news_nav h2{
	text-align:center;
	font-size:16px;
	font-weight:bold;
}
.news_nav b{
	text-align:right;
	padding-left:830px;
	color:#1595d4;
	font-weight:normal;
}
.news_nav p{
	padding:10px;
	line-height:25px;
	font-size:14px;
	color:#333;
}
/*���ŷ���*/
.news_classify li{
	margin:10px;
	width:230px;
	background-color:#e9f8ff;
	border:1px solid #d3f0ff;
	line-height:30px;
	height:30px;
}
.news_classify li b a{
	font-size:14px;
	color:#000;
	width:230px;
	text-align:center;
	padding-left:20px;
	color:#333;
}
.news_classify li b a:hover,.news_rank li a:hover{
	color:#f60;
	font-size:14px;
	text-decoration:none;
}
/*��������*/
.news_rank{
	float:left;
	margin-top:10px;
	width:250px;
	border:1px solid #e0e0e0;
	background:url(../images/portal/rank_bg.png) repeat-x;
}
.news_rank h1{
	border:none;
	border-bottom:1px dashed #e0e0e0;
}
.rank{ padding:3px 10px;}
.news_rank li.lev_1{ background:url(../images/portal/lev_1.png) no-repeat left;}
.news_rank li.lev_2{ background:url(../images/portal/lev_2.png) no-repeat left;}
.news_rank li.lev_3{ background:url(../images/portal/lev_3.png) no-repeat left;}
.news_rank li{
	background: url(../images/jb_p.png) no-repeat 0px;
}
.news_rank li a{
	line-height:25px;
	font-size:14px; 
	color:#333;
	padding-left:15px;
	font-weight:normal;
}
/*������Ϣ*/
.base{
	float:left;
	margin-top:10px;
	width:970px;
	border:1px solid #e0e0e0;
	background:url(../images/portal/news_bg.png) repeat-x top;
}
.base img{
	margin:10px;
	text-align:center;
	border:0px;
}
.base_info{
	margin:0 auto;
	width:970px;
	border:1px solid #e0e0e0;
	text-align:center;
}
.base_info th{ line-height:35px; font-weight:bold; font-size:15px;background:#6cb4e7;border:1px solid #e0e0e0; color:#fff;}
.base_info td{border:1px solid #e0e0e0; line-height:30px;}
.base_info tr:nth-child(2n) {
    background-color: #fffdf5;
    transition: all .125s ease-in-out;
}
/*ҽʦ��ѵ*/
.train{
	float:left;
	margin-top:10px;
	width:478px;
	border:1px solid #e0e0e0;
	background:url(../images/portal/news_bg.png) repeat-x top;
}
.law ul,.train ul{
	margin-top:3px;
	line-height:25px;
	list-style:none;
	padding:5px 10px 10px 5px;
}
.law li,.train li{
	list-style: square inside url(../images/portal/point.png);
	padding-left: 8px;
	line-height: 25px;
	border: none;
	border-bottom: 1px dashed #d6d6d6;
	}
.law li p,.train li p{
	float:right;
	margin-right:10px;
	color:#48b5ea;
}

