.th_group .left{
    text-align: left;
}
.th_group .right{
    text-align: right;
}
.th_group th {
    background-color: rgba(0,0,0,0.07);
    border: 1px solid rgba(0,0,0,0.07);
    text-align: center;
    vertical-align:middle;
}
.td_group td {
    border: 1px solid rgba(0,0,0,0.07);
    text-align: center;
    vertical-align:middle;
}
.td_group th {
    border: 1px solid rgba(0,0,0,0.07);
    text-align: center;
    vertical-align:middle;
}
body {
    width:100%;
    overflow:auto;
}