<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.res.dao.jswjw.ext.HospitalSupervisioExtMapper">


    <select id="queryMyreviewItems"  parameterType="string" resultMap="com.pinde.core.common.sci.dao.ResHospSupervSubjectMapper.BaseResultMap">
        select * from RES_HOSP_SUPERV_SUBJECT where LEADER_ONE_FLOW=#{userFlow} and RECORD_STATUS='Y' union all
        select * from RES_HOSP_SUPERV_SUBJECT where LEADER_TWO_FLOW=#{userFlow}
    </select>

    <select id="queryAllSubject"  parameterType="java.util.Map" resultMap="com.pinde.core.common.sci.dao.ResHospSupervSubjectMapper.BaseResultMap">
        select * from (
	       select SUBJECT_FLOW, SUBJECT_NAME,ORG_FLOW,ORG_NAME,SPE_ID,SPE_NAME,ACTIVITY_NAME,ACTIVITY_FLOW,LEADER_SUB_NUM,
	            RECORD_STATUS,INSPECTION_TYPE,ORDER_ACTION, NVL(LEADER_ONE_FLOW, '0000') LEADER_ONE_FLOW,NVL(LEADER_TWO_FLOW, '0000') LEADER_TWO_FLOW,
	            START_TIME,END_TIME,ACTIVITY_START_TIME,ACTIVITY_END_TIME,MATCHING
	       from RES_HOSP_SUPERV_SUBJECT
		)
	    where RECORD_STATUS='Y'
            <if test="matching!=null and matching!=''">
                AND MATCHING IS NOT NULL
            </if>
	        <if test="nowTime!=null and nowTime !=''">
                and ACTIVITY_END_TIME <![CDATA[>]]> #{nowTime}
            </if>
            <if test="orgFlow!=null and orgFlow !=''">
                and ORG_FLOW=#{orgFlow}
            </if>
            <if test="speId!=null and speId.size>0">
                and SPE_ID in
                <foreach collection="speId" open="(" separator="," close=")" item="item">#{item}</foreach>
            </if>
            <if test='activityName!= null and activityName!= ""'>
                and SUBJECT_NAME like CONCAT(CONCAT('%', #{activityName}),'%')
            </if>
            <if test='inspectionType!= null and inspectionType!= ""'>
                and INSPECTION_TYPE=#{inspectionType}
            </if>
            <if test='mySub!= null and mySub!= "" and mySub=="Y"'>
                and LEADER_ONE_FLOW !=#{userFlow} and LEADER_TWO_FLOW !=#{userFlow}
            </if>
            <if test='full!= null and full!= ""'>
                and (LEADER_ONE_FLOW ='0000'  or LEADER_TWO_FLOW='0000')
            </if>
        order by START_TIME desc
    </select>


    <select id="selectDeptByOrgFlow" parameterType="String" resultMap="com.pinde.core.common.sci.dao.SysDeptMapper.BaseResultMap">
	SELECT sd.DEPT_FLOW, sd.ORG_FLOW, sd.DEPT_CODE, sd.DEPT_NAME, sd.ORDINAL
			, sd.RECORD_STATUS, cfg.record_flow, cfg.STANDARD_DEPT_NAME
    FROM sys_dept sd
			LEFT JOIN SCH_and_Standard_Dept_cfg cfg ON sd.dept_flow = cfg.sch_dept_flow
		AND cfg.record_status = 'Y'
		WHERE SD.ORG_FLOW = #{orgFlow}
		ORDER BY RECORD_STATUS DESC, ORDINAL
    </select>
</mapper>