<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.res.dao.jswjw.ext.JsResUserBalckListExtMapper">

<select id="selectBlackUser" parameterType="java.util.Map" resultType="int">
		select
			count(1)
		from JSRES_USER_BALCKLIST
		where record_status='Y'
		and (
			0=1
			<if test="userFlow!=''and userFlow!=null">
				or USER_FLOW= #{userFlow}
			</if>
			<if test="userCode!=''and userCode!=null">
				or USER_CODE= #{userCode}
			</if>
			<if test="userEmail!=''and userEmail!=null">
				or USER_EMAIL= #{userEmail}
			</if>
			<if test="idNo!=''and idNo!=null">
				or ID_NO= #{idNo}
			</if>
			<if test="userPhone!=''and userPhone!=null">
				or USER_PHONE= #{userPhone}
			</if>
		)
	</select>

	<select id="selectBlacklistByIdNo" parameterType="java.lang.String" resultType="int">
		select
		count(1)
		from JSRES_USER_BALCKLIST
		where record_status='Y'
		and ID_NO= #{idNo}
	</select>
<select id="selectBlackUserCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1)

    from JSRES_USER_BALCKLIST
		where record_status='Y'
		and (
			0=1
			<if test="userFlow!=''and userFlow!=null">
				or USER_FLOW= #{userFlow}
			</if>
			<if test="userCode!=''and userCode!=null">
				or USER_CODE= #{userCode}
			</if>
			<if test="userEmail!=''and userEmail!=null">
				or USER_EMAIL= #{userEmail}
			</if>
			<if test="idNo!=''and idNo!=null">
				or ID_NO= #{idNo}
			</if>
			<if test="userPhone!=''and userPhone!=null">
				or USER_PHONE= #{userPhone}
			</if>
		)
	</select>
</mapper>
