<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.res.dao.jswjw.ext.SchDoctorDeptExtMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.core.model.SchDoctorDept" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="DOCTOR_FLOW" property="doctorFlow" jdbcType="VARCHAR" />
    <result column="DOCTOR_NAME" property="doctorName" jdbcType="VARCHAR" />
    <result column="ROTATION_FLOW" property="rotationFlow" jdbcType="VARCHAR" />
    <result column="ROTATION_NAME" property="rotationName" jdbcType="VARCHAR" />
    <result column="SESSION_NUMBER" property="sessionNumber" jdbcType="VARCHAR" />
    <result column="GROUP_FLOW" property="groupFlow" jdbcType="VARCHAR" />
    <result column="SCH_MONTH" property="schMonth" jdbcType="VARCHAR" />
    <result column="SCH_DEPT_FLOW" property="schDeptFlow" jdbcType="VARCHAR" />
    <result column="SCH_DEPT_NAME" property="schDeptName" jdbcType="VARCHAR" />
    <result column="DEPT_FLOW" property="deptFlow" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="ORDINAL" property="ordinal" jdbcType="DECIMAL" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="STANDARD_DEPT_ID" property="standardDeptId" jdbcType="VARCHAR" />
    <result column="STANDARD_DEPT_NAME" property="standardDeptName" jdbcType="VARCHAR" />
    <result column="IS_REQUIRED" property="isRequired" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, DOCTOR_FLOW, DOCTOR_NAME, ROTATION_FLOW, ROTATION_NAME, SESSION_NUMBER, 
    GROUP_FLOW, SCH_MONTH, SCH_DEPT_FLOW, SCH_DEPT_NAME, DEPT_FLOW, DEPT_NAME, ORDINAL, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, ORG_FLOW, 
    ORG_NAME, STANDARD_DEPT_ID, STANDARD_DEPT_NAME, IS_REQUIRED
  </sql>
  <select id="selectByExampleTwo" resultMap="BaseResultMap" parameterType="com.pinde.core.model.SchDoctorDeptExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    SCH_MONTH,GROUP_FLOW,STANDARD_DEPT_ID
    from PDSCI.SCH_DOCTOR_DEPT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>