@charset "utf-8";
/* CSS Document */
html{height:100%;max-height:100%;padding:0;margin:0;border:0;overflow: hidden;font-family:"Microsoft YaHei"}
body{margin:0;}
a{text-decoration:none;color:#222;font-size:14px;padding:0;margin:0;border:0;font-family:"Microsoft YaHei"}
span{font-family:"Microsoft YaHei"}
.fl{float:left}
.fr{float:right;}
img{border:none;}
.db{display:block;}
input{outline:none;margin:0;border:none;}
/*页眉*/
.top_box{position:absolute;overflow:hidden;top:0;left:0;width:100%;z-index:5;display:block;background:#cd8822;}
.nzy_top{width:1024px;margin:auto;overflow:hidden;height:80px;}
.nzy_top .nzy_logo{margin-top:14px;}
.nzy_top .top_text{color:#FFF;font-size:14px;margin-top:50px;}
/*banner+登录*/
.banner_box{position:absolute;width:100%;overflow:hidden;background:#fdf9ef;z-index:3;top:80px;bottom:132px;border-bottom:solid 3px #d8a65c;}
.banner{position:absolute;top:0;left:50%;width:100%;margin-left:-50%;}
.people{position:absolute;bottom:-120px;left:50%;margin-left:-510px;}
.banner_title{position:absolute;left:50%;top:20px;width:883px;margin-left:-530px;}
.login_box input{height:34px;width:225px;color:#999999;font-size:14px;line-height:34px;font-family:"Microsoft YaHei";}
.login_bg{position:absolute;top:10%;left:50%;margin-left:210px;width:300px;height:331px;background:url(images/login_bg.png);}
.login_box{width:260px;margin:auto;}
.login_title{display:block;font-size:28px;text-align:left;color:#fff;margin-top:14px;margin-bottom:26px;}
.username,.password{width:260px;height:36px;overflow:hidden;border:solid 1px #cd8822;background:#FFF;margin-top:20px;}
.login_box img,login_box input{float:left;}
.yanzm{margin-top:20px;overflow:hidden;}
.yanzm .yzm{width:108px;height:36px;overflow:hidden;border:solid 1px #cd8822;padding-left:10px;background:#FFF;}
.yanzm img{float:right; width:140px;height:36px;}
.cw{display:block;color:#f93a47;text-align:left;margin:10px 0;font-sizt:14px;}
.nzy_denglu input{float:left;height:36px;width:120px;color:#fff;font-size:16px;}
.nzy_denglu .login1{background:#dc781d;}
.nzy_denglu .login1:hover{background:#c76c1a;cursor:pointer}
.nzy_denglu .login2{background:#9a9a9a;float:right}
.nzy_denglu .login2:hover{background:#8a8888;cursor:pointer}
/*通知公告*/
.new_box{overflow:hidden;position:absolute;bottom:66px;left:0;width:100%;z-index:4}
.new{width:1024px;margin:auto;border:solid 1px #e7c797;overflow:hidden;height:46px;}
.new a{font-size:14px;}
.new a:hover{color:#1d7fdb;text-decoration:underline;}
.gongao{margin-left:26px;width:340px;overflow:hidden;margin-top:14px;}
.gongao span,.gongao a,.gongao img{float:left;}
.gongao span{color:#d5d5d5;margin-right:4px;line-height:18px;}
.gongao img{margin-left:10px;}
.xitong{margin-left:20px;font-size:14px;color:#222;line-height:46px;}
.more{margin-right:20px;color:#222;line-height:48px;}
/*页脚*/
.nzy_footer_box{background:#c9c9c9;position:absolute;bottom:0;left:0;width:100%;z-index:5;display:block;overflow:hidden;}
.nzy_footer{color:#2e2e2e;text-align:center;line-height:48px;font-size:14px;}