<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.erp.ErpOaContactOrderExtMapper">
    <resultMap id="erpOaOrderCustomerExtMap" type="com.pinde.sci.model.erp.ErpOrderCustomerExt" extends="com.pinde.sci.dao.base.ErpOaContactOrderMapper.BaseResultMap" >
        <association property="customer" column="CUSTOMER_FLOW" resultMap="com.pinde.sci.dao.base.ErpCrmCustomerMapper.BaseResultMap"></association>
    </resultMap>
     <select id="searchContactOrderList" parameterType="java.util.Map" resultMap="erpOaOrderCustomerExtMap">
         select eoco.CONTACT_FLOW,eoco.CONTACT_NO,eoco.CUSTOMER_FLOW,eoco.CUSTOMER_NAME,eoco.CONTRACT_FLOW,eoco.CONTRACT_NAME,
         eoco.DEMAND_MATTER_ID,eoco.DEMAND_MATTER_NAME,eoco.SERVICE_TYPE_ID,eoco.SERVICE_TYPE_NAME,eoco.PRODUCT_TYPE_ID,
         eoco.PRODUCT_TYPE_NAME,eoco.REMARK,eoco.DEMAND_DATE,eoco.DEMAND_STATUS_ID,eoco.DEMAND_STATUS_NAME,eoco.APPLY_DATE,
         eoco.APPLY_USER_FLOW,eoco.CONTACT_STATUS_ID,eoco.CONTACT_STATUS_NAME,eoco.RECORD_STATUS,eoco.CREATE_TIME,
         eoco.CREATE_USER_FLOW,eoco.MODIFY_TIME,eoco.MODIFY_USER_FLOW,eoco.APPLY_USER_NAME,eoco.RECEIVE_DEPT_FLOW,
         eoco.RECEIVE_DEPT_NAME,eoco.COMPLETE_TIME,eoco.ALIAS_NAME,eoco.APPLY_DEPT_FLOW,eoco.APPLY_DEPT_NAME,eoco.RECEIVE_USER_FLOW,
         eoco.RECEIVE_USER_NAME,eoco.CONSUMER_FLOW,eoco.CONSUMER_NAME,eoco.CONSUMER_ALIAS_NAME,eoco.ORDER_PRODUCT_NAME,
          ecc.customer_Grade_Id,ecc.customer_Grade_Name
         from pdsci.erp_oa_contact_order eoco
         left JOIN ERP_CRM_CUSTOMER ecc on eoco.customer_flow=ecc.customer_flow
         where eoco.record_status='Y'
         and ecc.record_status='Y'
         <if test='contactOrder!=null'>
            <if test='contactOrder.customerName!=null and contactOrder.customerName!=""'>
                <bind name="customerName" value="'%'+contactOrder.customerName+'%'"/>
                and (eoco.customer_Name like #{customerName} or eoco.alias_name like #{customerName})
            </if>
            <if test='contactOrder.contactNo!=null and contactOrder.contactNo!=""'>
                <bind name="contactNo" value="'%'+contactOrder.contactNo+'%'"/>
                and eoco.contact_no like #{contactNo}
            </if>
            <if test='contactOrder.contactStatusId!=null and contactOrder.contactStatusId!=""'>
               and eoco.contact_Status_Id=#{contactOrder.contactStatusId}
            </if>
            <if test='contactOrder.contactStatusName!=null and contactOrder.contactStatusName!=""'>
               and eoco.contact_Status_Name=#{contactOrder.contactStatusName}
            </if>
            <if test='contactOrder.productTypeName!=null and contactOrder.productTypeName!=""'>
               <bind name="productTypeName" value="'%'+contactOrder.productTypeName+'%'"/>
               and eoco.product_Type_Name like #{productTypeName}
            </if>
            <if test='contactOrder.demandMatterId!=null and contactOrder.demandMatterId!=""'>
               and eoco.demand_matter_id =#{contactOrder.demandMatterId}
            </if>
            <if test='contactOrder.applyUserFlow!=null and contactOrder.applyUserFlow!=""'>
               and eoco.apply_user_flow=#{contactOrder.applyUserFlow}
            </if>
            <if test='contactOrder.applyDeptFlow!=null and contactOrder.applyDeptFlow!=""'>
               and eoco.apply_dept_flow=#{contactOrder.applyDeptFlow}
            </if>
         </if>
         <if test='orderTimeForm!=null'>
            <if test='orderTimeForm.applyDateStart!=null and orderTimeForm.applyDateStart!=""'>
               and eoco.apply_date >= #{orderTimeForm.applyDateStart}
            </if>
            <if test='orderTimeForm.applyDateEnd!=null and orderTimeForm.applyDateEnd!=""'>
               and eoco.apply_date <![CDATA[ <= ]]> #{orderTimeForm.applyDateEnd}
            </if>
         </if>
         <if test='deptFlow!=null and deptFlow!=""'>
             and eoco.apply_user_flow in(select user_flow from pdsci.sys_user where dept_flow=#{deptFlow})
         </if>
         <if test='receiveFlag!=null and receiveFlag!=""'>
             and eoco.contact_status_id='Passed'
         </if>
          <if test='currDeptFlowFlag!=null and currDeptFlowFlag!=""'>
	             and (eoco.receive_dept_flow is null or eoco.receive_dept_flow=#{currDeptFlowFlag})
	         </if>
          <if test='currDeptFlow!=null and currDeptFlow!=""'>
	             and eoco.receive_dept_flow=#{currDeptFlow}
	      </if>
          <if test='customerFlow!=null and customerFlow!=""'>
	             and eoco.customer_Flow=#{customerFlow}
	      </if>
         <!-- 查询联系单派工  -->
         <if test='contactStatusIdList!=null and contactStatusIdList!=""'>
             and eoco.contact_Status_Id in
           	 <foreach collection="contactStatusIdList" item="item" index="index" open="(" separator="," close=")">  
	  			#{item}  
	 		 </foreach>
         </if>
         <if test='contactStatusNameNotList!=null and contactStatusNameNotList!=""'>
             and eoco.contact_Status_name not in
           	 <foreach collection="contactStatusNameNotList" item="item" index="index" open="(" separator="," close=")">  
	  			#{item}  
	 		 </foreach>
         </if>
         <if test='sortCondition==null or sortCondition==""'>
           order by eoco.create_time desc
         </if>
         <if test='sortCondition!=null'>
           <if test='sortCondition=="applyDate"'>
           order by eoco.apply_date
           </if>
           <if test='sortCondition=="demandDate"'>
           order by eoco.demand_date
           </if>
             <if test='sortCondition=="custmerLevel"'>
                 order by ecc.CUSTOMER_GRADE_ID
             </if>
         </if>
         <if test='sortType!=null and sortType=="desc" and sortCondition!=null'>
           desc
         </if>
     </select>
     
     <select id="countContactOrderList" parameterType="java.util.Map" resultType="int">
         select count(*) from pdsci.erp_oa_contact_order
           where record_status='Y'
           <if test='statusList!=null'>
               and contact_status_id in 
               <foreach collection="statusList" item="item" index="index" open="(" separator="," close=")">  
	  			#{item}  
	 		 </foreach>
           </if>
     </select>
</mapper>