<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.erp.ErpProductManageExtMapper">
    <resultMap id="productUserMap" type="com.pinde.sci.model.erp.ErpProductManageUserExt" extends="com.pinde.sci.dao.base.ErpProductManageUserMapper.BaseResultMap">
        <association property="sysUser" resultMap="com.pinde.sci.dao.base.SysUserMapper.BaseResultMap"></association>
    </resultMap>

    <select id="selectProductUserInfo" parameterType="map" resultMap="productUserMap">
        select * 
        from erp_product_manage_user mu, sys_user us
        where mu.user_flow = us.user_flow
        and mu.record_status = 'Y' and us.record_status = 'Y'
        and mu.manage_flow = '${manageFlow}'
    </select>

    <select id="ownerProducts" resultMap="com.pinde.sci.dao.base.ErpProductManageMapper.BaseResultMap">
        SELECT
        <include refid="com.pinde.sci.dao.base.ErpProductManageMapper.Base_Column_List"></include>
        FROM ERP_PRODUCT_MANAGE
        WHERE APPROVAL_USER_FLOW=#{user.userFlow}
        AND RECORD_STATUS='Y'
        <if test="productName!=null and productName!=''">
            AND PRODUCT_NAME LIKE '%${productName}%'
        </if>
        <if test="customerName!=null and customerName!=''">
            AND CONSUMER_NAME LIKE '%${customerName}%'
        </if>
        <if test="userName!=null and userName!=''">
            AND EXISTS(
            SELECT 1 FROM ERP_PRODUCT_MANAGE_USER WHERE RECORD_STATUS='Y'
            AND ERP_PRODUCT_MANAGE.MANAGE_FLOW=ERP_PRODUCT_MANAGE_USER.MANAGE_FLOW
            AND ERP_PRODUCT_MANAGE_USER.USER_NAME LIKE '%${userName}%'
            )
        </if>
        <if test="approvalTime!=null and approvalTime!=''">
            AND APPROVAL_TIME =#{approvalTime}
        </if>
        <if test="etcTime!=null and etcTime!=''">
            AND ETC_TIME =#{etcTime}
        </if>
        <if test="completeTime!=null and completeTime!=''">
            AND COMPLETE_TIME =#{completeTime}
        </if>
        <if test="statusId!=null and statusId!=''">
            AND STATUS_ID =#{statusId}
        </if>
    </select>

    <select id="process" resultMap="com.pinde.sci.dao.base.ErpProductManageMapper.BaseResultMap">
        SELECT
        <include refid="com.pinde.sci.dao.base.ErpProductManageMapper.Base_Column_List"></include>
        FROM ERP_PRODUCT_MANAGE
        WHERE RECORD_STATUS='Y'
        <if test="productName!=null and productName!=''">
            AND PRODUCT_NAME LIKE '%${productName}%'
        </if>
        <if test="customerName!=null and customerName!=''">
            AND CONSUMER_NAME LIKE '%${customerName}%'
        </if>
        <if test="approvalUserName!=null and approvalUserName!=''">
            AND APPROVAL_USER_NAME LIKE '%${approvalUserName}%'
        </if>
        AND (EXISTS(
        SELECT 1 FROM ERP_PRODUCT_MANAGE_USER WHERE RECORD_STATUS='Y'
        AND ERP_PRODUCT_MANAGE.MANAGE_FLOW=ERP_PRODUCT_MANAGE_USER.MANAGE_FLOW
        AND ERP_PRODUCT_MANAGE_USER.USER_FLOW= #{user.userFlow}
        )or APPROVAL_USER_FLOW=#{user.userFlow})
        <if test="approvalTime!=null and approvalTime!=''">
            AND APPROVAL_TIME =#{approvalTime}
        </if>
        <if test="etcTime!=null and etcTime!=''">
            AND ETC_TIME =#{etcTime}
        </if>
        <if test="completeTime!=null and completeTime!=''">
            AND COMPLETE_TIME =#{completeTime}
        </if>
        <if test="statusId!=null and statusId!=''">
            AND STATUS_ID =#{statusId}
        </if>
    </select>

    <select id="query" resultMap="com.pinde.sci.dao.base.ErpProductManageMapper.BaseResultMap">
        SELECT
        <include refid="com.pinde.sci.dao.base.ErpProductManageMapper.Base_Column_List"></include>
        FROM ERP_PRODUCT_MANAGE
        WHERE RECORD_STATUS='Y'
        <if test="productName!=null and productName!=''">
            AND PRODUCT_NAME LIKE '%${productName}%'
        </if>
        <if test="customerName!=null and customerName!=''">
            AND CONSUMER_NAME LIKE '%${customerName}%'
        </if>
        <if test="approvalUserName!=null and approvalUserName!=''">
            AND APPROVAL_USER_NAME LIKE '%${approvalUserName}%'
        </if>
        <if test="userName!=null and userName!=''">
            AND EXISTS(
            SELECT 1 FROM ERP_PRODUCT_MANAGE_USER WHERE RECORD_STATUS='Y'
            AND ERP_PRODUCT_MANAGE.MANAGE_FLOW=ERP_PRODUCT_MANAGE_USER.MANAGE_FLOW
            AND ERP_PRODUCT_MANAGE_USER.USER_NAME LIKE '%${userName}%'
            )
        </if>
        <if test="approvalTime!=null and approvalTime!=''">
            AND APPROVAL_TIME =#{approvalTime}
        </if>
        <if test="etcTime!=null and etcTime!=''">
            AND ETC_TIME =#{etcTime}
        </if>
        <if test="completeTime!=null and completeTime!=''">
            AND COMPLETE_TIME =#{completeTime}
        </if>
        <if test="statusId!=null and statusId!=''">
            AND STATUS_ID =#{statusId}
        </if>
    </select>

    <update id="deleteJoinUserByManageFlow">
        UPDATE ERP_PRODUCT_MANAGE_USER
        SET RECORD_STATUS='N'
        WHERE RECORD_STATUS='Y'
        AND MANAGE_FLOW=#{manageFlow}
    </update>
</mapper>