<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.edu.EduStudentCourseExtMapper">
	<resultMap id="eduStudentCourseExtMap" type="com.pinde.sci.model.edu.EduStudentCourseExt" extends="com.pinde.sci.dao.base.EduStudentCourseMapper.BaseResultMap" >
		<association property="course" column="course_flow" resultMap="com.pinde.sci.dao.base.EduCourseMapper.BaseResultMap">
		    <result column="ec_dept_name" jdbcType="VARCHAR"  property="deptName"/>
		    <result column="ec_course_name" jdbcType="VARCHAR"  property="deptName"/>
		</association>
	</resultMap>
	<resultMap id="studentCourse" type="com.pinde.sci.form.edu.StudentCourseNumForm">
		<result column="course_Flow" jdbcType="VARCHAR" property="courseFlow" />
		<result column="num" jdbcType="VARCHAR"  property="num"/>
 	</resultMap>
 	
 	<resultMap id="userExtMap" type="com.pinde.sci.model.edu.EduStudentCourseExt" extends="com.pinde.sci.dao.base.EduStudentCourseMapper.BaseResultMap" >
		<association property="eduUser" javaType="com.pinde.sci.model.mo.EduUser" column="eduUserFlow" >
			<id column="eduUserFlow" jdbcType="VARCHAR" property="userFlow" />
    		<result column="SID" jdbcType="VARCHAR" property="sid" />
    		<result column="CLASS_NAME" jdbcType="VARCHAR" property="className" />
		</association>
		<association property="sysUser" javaType="com.pinde.sci.model.mo.SysUser" column="sysUserFlow" >
			<id column="sysUserFlow" jdbcType="VARCHAR" property="userFlow" />
    		<result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    		<result column="USER_PHONE" jdbcType="VARCHAR" property="userPhone" />
		</association>
		<association property="resDoctor" javaType="com.pinde.sci.model.mo.ResDoctor" column="resDoctorFlow" >
			<id column="resDoctorFlow" jdbcType="VARCHAR" property="doctorFlow" />
    		<result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
		</association>
	</resultMap>
 		
	<select id="searchStudentCourseExtWithUserList" parameterType="java.util.Map" resultMap="userExtMap">
    	select 
    		esc.RECORD_FLOW,
    		eu.USER_FLOW eduUserFlow, eu.SID, eu.CLASS_NAME,
    		su.USER_FLOW sysUserFlow, su.USER_NAME, su.USER_PHONE,
    		rd.DOCTOR_FLOW resDoctorFlow, rd.ORG_NAME
    	from pdsci.EDU_USER eu, pdsci.SYS_USER su,pdsci.EDU_STUDENT_COURSE esc, RES_DOCTOR rd
    	where eu.USER_FLOW = su.USER_FLOW
    	and esc.USER_FLOW = su.USER_FLOW
    	and su.USER_FLOW = rd.DOCTOR_FLOW
    	and eu.RECORD_STATUS='Y' and su.RECORD_STATUS='Y' and esc.RECORD_STATUS='Y' and rd.RECORD_STATUS='Y'
   		<if test="studentPeriod!=null and studentPeriod!=''">
   			and esc.STUDENT_PERIOD = #{studentPeriod}
		</if>
   		<if test="courseFlow!=null and courseFlow!=''">
   			and esc.COURSE_FLOW = #{courseFlow}
		</if>
		order by NLSSORT(su.USER_NAME,'NLS_SORT = SCHINESE_PINYIN_M')
    </select>

	<!--<select id="searchStudentCourseExtList" parameterType="com.pinde.sci.model.xjgl.EduStudentCourseExt" resultMap="eduStudentCourseExtMap">-->
	<!--select -->
	<!--esc.RECORD_FLOW, esc.USER_FLOW, esc.COURSE_TYPE_ID, esc.COURSE_TYPE_NAME, esc.COURSE_PERIOD, esc.COURSE_CREDIT, esc.REPLENISH_FLAG,-->
	<!--ec.COURSE_FLOW, ec.COURSE_CODE, ec.COURSE_NAME-->
	<!--from pdsci.EDU_STUDENT_COURSE esc -->
	<!--left join pdsci.EDU_COURSE ec on esc.COURSE_FLOW = ec.COURSE_FLOW-->
	<!--where esc.RECORD_STATUS = 'Y' AND ec.RECORD_STATUS = 'Y'-->
	<!--<if test="studentPeriod!=null and studentPeriod!=''">-->
	<!--and esc.STUDENT_PERIOD = #{studentPeriod}-->
	<!--</if>-->
	<!--<if test="userFlow!=null and userFlow!=''">-->
	<!--and esc.USER_FLOW = #{userFlow}-->
	<!--</if>-->
	<!--</select>-->

	<!--<select id="searchStudentCourseExtListByUserFlowList" parameterType="string" resultMap="eduStudentCourseExtMap">-->
	<!--select -->
	<!--esc.RECORD_FLOW, esc.USER_FLOW, esc.COURSE_TYPE_ID, esc.COURSE_TYPE_NAME, esc.COURSE_PERIOD, esc.COURSE_CREDIT, esc.REPLENISH_FLAG,-->
	<!--ec.COURSE_FLOW, ec.COURSE_CODE, ec.COURSE_NAME-->
	<!--from pdsci.EDU_STUDENT_COURSE esc ,pdsci.EDU_USER eu, pdsci.EDU_COURSE ec-->
	<!--where eu.USER_FLOW = esc.USER_FLOW and eu.PERIOD = esc.STUDENT_PERIOD-->
	<!--and esc.COURSE_FLOW = ec.COURSE_FLOW-->
	<!--and esc.RECORD_STATUS = 'Y' and eu.RECORD_STATUS = 'Y' and  ec.RECORD_STATUS = 'Y' -->
	<!--and esc.USER_FLOW in -->
	<!--<foreach collection="list" open="(" separator="," close=")" item="item">#{item}</foreach>-->
	<!--</select>-->

	<!--<select id="selectStudentCourse" parameterType="java.util.Map" resultMap="studentCourse">-->
	<!--select esc.course_flow, COUNT(0) num from edu_student_course esc-->
	<!--where esc.RECORD_STATUS='Y'-->
	<!--<if test="courseFlow!=null">-->
	<!--and esc.course_Flow in -->
	<!--<foreach collection="courseFlow" item="courseflowList" index="index" open="(" separator="," close=")">  -->
	<!--#{courseflowList}	-->
	<!--</foreach>-->
	<!--</if>-->
	<!--<if test='required!=null and required.size>0'>-->
	<!--and  esc.COURSE_TYPE_ID in -->
	<!--<foreach collection="required" item="time" index="index" open="(" separator="," close=")">  -->
	<!--#{time}	-->
	<!--</foreach>-->
	<!--</if> -->
	<!--<if test="state!=null and state.size>0">-->
	<!--and esc.STUDY_STATUS_ID in -->
	<!--<foreach collection="state" item="type" index="index" open="(" separator="," close=")">  -->
	<!--#{type}	-->
	<!--</foreach>-->
	<!---->
	<!--</if>-->
	<!---->
	<!--GROUP BY esc.course_flow-->
	<!--</select>-->

	<!--<select id="searchEduStudentCourseExtByUserFlow" parameterType="java.util.Map" resultMap="eduStudentCourseExtMap">-->
	<!--select esc.record_flow,esc.user_flow,esc.course_flow,-->
	<!--esc.study_status_Id,esc.study_status_Name,esc.current_chapter_flow,-->
	<!--esc.course_grade,esc.choose_time,esc.achieve_credit,-->
	<!--ec.course_name,ec.course_major_id,-->
	<!--ec.course_major_name,ec.course_credit,ec.course_type_id,-->
	<!--ec.course_type_name,ec.course_period-->
	<!--from pdsci.edu_student_course esc,pdsci.edu_course ec-->
	<!--where esc.record_status='Y' and ec.record_status='Y'-->
	<!--and esc.course_flow=ec.course_flow-->
	<!--<if test='userFlow!=null and userFlow!=""'>-->
	<!--and esc.user_flow=#{userFlow}-->
	<!--</if>-->
	<!--<if test='courseTypeId!=null and courseTypeId!=""'>-->
	<!--and ec.course_Type_Id=#{courseTypeId}-->
	<!--</if>-->
	<!--</select>-->
    
     <select id="searchEduStudentCourseExt" parameterType="java.util.Map" resultMap="eduStudentCourseExtMap">
    	select esc.*,ec.course_name ec_course_name,ec.course_category_id,ec.course_category_name,ec.dept_name ec_dept_name
    	from pdsci.edu_student_course esc,pdsci.edu_course ec
    	where esc.record_status='Y' and ec.record_status='Y'
    	and esc.course_flow=ec.course_flow
    	 <if test='eduCourse!=null'>
    	    <if test='eduCourse.courseName!=null and eduCourse.courseName!=""'>
    	      <bind name="courseName" value="'%'+eduCourse.courseName+'%'"/>
    	       and ec.course_name like #{courseName}
    	    </if>
    	    <if test='eduCourse.courseCategoryId!=null and eduCourse.courseCategoryId!=""'>
    	       and ec.course_category_id=#{eduCourse.courseCategoryId}
    	    </if>
    	    <if test='eduCourse.deptFlow!=null and eduCourse.deptFlow!=""'>
    	       and ec.dept_flow=#{eduCourse.deptFlow}
    	    </if>
    	 </if>
    	 <if test='sysUser!=null'>
            <if test='sysUser.userFlow!=null and sysUser.userFlow!=""'>
                  and esc.user_flow= #{sysUser.userFlow}
            </if>
         </if>
         <if test="courseTypeIdList!=null">
            and esc.course_type_id in
            <foreach collection="courseTypeIdList" item="item" index="index" open="(" separator="," close=")">  
	  	    #{item}  
	 		</foreach>
         </if>
         <if test="studyStatusIdList!=null">
            and esc.study_Status_id in
            <foreach collection="studyStatusIdList" item="item" index="index" open="(" separator="," close=")">  
	  	    #{item}  
	 		</foreach>
         </if>
         order by esc.modify_time desc,esc.choose_time desc
    </select>
    
   <select id="countCourseInfoByCondition" parameterType="java.util.Map" resultType="int">
       select count(esc.user_flow)
        from pdsci.edu_user eu left join pdsci.sys_user su on eu.user_flow=su.user_flow
        left join pdsci.sys_org so on su.org_flow=so.org_flow 
        left join pdsci.edu_student_course esc on esc.user_flow=eu.user_flow
        left join pdsci.edu_course ec on esc.course_flow=ec.course_flow
        where eu.RECORD_STATUS='Y' and su.RECORD_STATUS='Y' and so.RECORD_STATUS='Y'
           and esc.RECORD_STATUS='Y' and ec.RECORD_STATUS='Y'
           <if test='orgFlow!=null and orgFlow!=""'>
              and so.org_flow=#{orgFlow}
           </if>
           <if test='courseFlow!=null and courseFlow!=""'>
              and ec.course_Flow=#{courseFlow} 
           </if>
    </select>
    
  <resultMap id="courseCreditMap" type="com.pinde.sci.form.edu.OneCourseCreditForm">
  	<result column="user_flow" jdbcType="VARCHAR" property="userFlow" />
  	<result column="course_credit" jdbcType="VARCHAR"  property="courseCredit"/>
 </resultMap>
    <select id="searchCourseCreditForm" parameterType="java.util.Map" resultMap="courseCreditMap">
       select esc.user_flow,ec.course_credit
        from pdsci.edu_student_course esc,pdsci.edu_course ec
        where esc.course_flow=ec.course_flow
         and esc.record_status='Y' and ec.record_status='Y'
         and esc.achieve_credit='Y'
    </select>
    
    <select id="sumUserCredit" parameterType="java.util.Map" resultType="int">
       select nvl(sum(course_credit),0) from pdsci.edu_student_course
        where record_status='Y'
        <if test="sysUser!=null">
           <if test='sysUser.userFlow!=null and sysUser.userFlow!=""'>
              and user_flow=#{sysUser.userFlow}
           </if>
        </if>
        <if test='creditFlag=="Y"'>
          and achieve_credit='Y'
        </if>
        <if test='creditFlag==null and creditFlag==""'> 
          and achieve_credit!='Y'
        </if>
        <if test='deptFlow!=null and deptFlow!=""'>
          and course_Flow in (select course_flow from pdsci.edu_course
             where record_status='Y' and dept_flow=#{deptFlow})
        </if>
    </select>
    
    
	<select id="searchStudentCourseChooseCount" parameterType="java.util.Map" resultMap="studentCourse">
 		select 
 			esc.COURSE_FLOW , COUNT(esc.COURSE_FLOW) num 
 		from pdsci.EDU_STUDENT_COURSE esc, pdsci.EDU_USER eu
		where esc.USER_FLOW = eu.USER_FLOW
		and esc.RECORD_STATUS='Y' and eu.RECORD_STATUS='Y'
		<if test="courseFlow!=null">
			and esc.COURSE_FLOW in 
			<foreach collection="courseFlowList" open="(" separator="," close=")" item="item">#{item}</foreach>
		</if>
		<if test="period!=null">
			and eu.PERIOD = #{period}
		</if>
		GROUP BY esc.COURSE_FLOW
	</select>

	<!--<select id="searchCourseCountByCourseFlowList" parameterType="java.util.Map" resultMap="studentCourse">-->
	<!--select -->
	<!--COURSE_FLOW , COUNT(COURSE_FLOW) num -->
	<!--from pdsci.EDU_STUDENT_COURSE -->
	<!--where RECORD_STATUS='Y'-->
	<!--<if test="studentPeriod!=null and studentPeriod!=''">-->
	<!--and STUDENT_PERIOD = #{studentPeriod}-->
	<!--</if>-->
	<!--<if test='courseFlowList!=null and courseFlowList!=""'>-->
	<!--and COURSE_FLOW in -->
	<!--<foreach collection="courseFlowList" open="(" separator="," close=")" item="item">#{item}</foreach>-->
	<!--</if>-->
	<!--group by COURSE_FLOW-->
	<!--</select>-->
	<select id="searchStudentCourse" parameterType="java.util.Map" resultMap="userExtMap">
	  	select 
	    	esc.RECORD_FLOW,esc.STUDENT_PERIOD, esc.GRADE_TERM_NAME,esc.USER_FLOW, esc.COURSE_TYPE_ID, esc.COURSE_TYPE_NAME, esc.COURSE_PERIOD, esc.COURSE_CREDIT, esc.REPLENISH_FLAG,
	    	esc.COURSE_FLOW, esc.COURSE_CODE, esc.COURSE_NAME,su.user_name,eu.sid,esc.COURSE_GRADE,esc.STUDY_WAY_ID, esc.STUDY_WAY_NAME,esc.ASSESS_TYPE_NAME,esc.ASSESS_TYPE_ID 
		from EDU_STUDENT_COURSE esc ,SYS_USER su,EDU_USER eu,RES_DOCTOR doc 
		where esc.RECORD_STATUS = 'Y' and esc.user_flow=su.user_flow and su.user_flow=eu.user_flow and eu.user_flow=doc.doctor_flow 
		<if test="userName!=null and userName!=''">
			and su.USER_NAME = #{userName}
		</if>
		<if test="sid!=null and sid!=''">
			and eu.sid = #{sid}
		</if>
		<if test="trainOrgId!=null and trainOrgId!=''">
			and eu.TRAIN_ORG_ID = #{trainOrgId}
		</if>
		<if test="idNo!=null and idNo!=''">
			and su.id_No = #{idNo}
		</if>
		<if test="impFlow!=null and impFlow!=''">
			and esc.IMP_FLOW = #{impFlow}
		</if>
		<if test="studentPeriod!=null and studentPeriod!=''">
			and esc.STUDENT_PERIOD = #{studentPeriod}
		</if>
		<if test="gradeTermId!=null and gradeTermId!=''">
			and esc.GRADE_TERM_ID = #{gradeTermId}
		</if>
		<if test="courseName!=null and courseName!=''">
			and esc.COURSE_NAME = #{courseName}
		</if>
		<if test='resDoctor!=null and resDoctor!=""'>
			<if test='resDoctor.orgFlow!=null and resDoctor.orgFlow!=""'>
	    		 and doc.org_flow= #{resDoctor.orgFlow}
	    	</if>
    	</if>
		
		order by eu.sid desc,esc.COURSE_TYPE_ID, esc.COURSE_CODE
    </select>
    
</mapper>