@charset "utf-8";

/* CSS Document */

body{margin:0;background-color:#f2f2f2;}
img{display:block;border:none;}
*{font-size:14px;font-family:"微软雅黑";}
ul{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
dl,dd{margin:0}
input{border:none;margin:0;padding:0;outline:none;}
.fl{float:left}
.fr{float:right;}
.top{width:1002px;margin:auto;overflow:hidden}
.top img{margin-top:30px;margin-bottom:10px;}
.top a{color:#5b9de7;margin-top:82px;}

.nav{width:1002px;margin:auto;background-color:#5b9de7;overflow:hidden;}
.nav ul{margin-left:40px;}
.nav ul li{float:left;line-height:40px;}
.nav ul li:hover{background-color:#175cb9;cursor:pointer}
.nav ul li:hover a{font-weight:bold;}
.nav ul li a{line-height:40px;border-left:solid 1px #98c8f3;border-right:solid 1px #2061d1;color:#fff;padding:0 28px;}
.nav ul li .no_01{border-left:none}
.nav ul li .no_02{border-right:none;}
.checkedNav{background-color:#175cb9;cursor:pointer;font-weight:bold;}

.banner_box{width:1002px;margin:auto;margin-top:10px;}
/*首页*/
.contentbox_01{width:1002px;margin:auto;margin-top:30px;overflow:hidden;}
.leftcontent{width:672px;}
.login{width:300px;border:1px solid #aaa;}
.login_01{background-color:#5b9de7;border-bottom:1px solid #aaa;}
.login_01 a{color:#fff;font-weight:bold;line-height:30px;text-align:center;display:block;}
.login_02{overflow:hidden;background-color:#fff;height: 183px;}
.login_02 a,login_02 input{float:left;}
.user a,.mima a,.yanzheng a{margin-right:20px;color:#666;line-height:28px;}
.login_02 input{height:26px;width:163px;border:1px solid #aaa;}
.user,.mima,.yanzheng{margin:10px 30px;overflow:hidden;}
.yanzheng a{margin-right:18px;}
.yanzheng input{width:78px;float:left;margin-right:9px;}
.login_02 .forget{font-size:12px;margin-left:99px;color:#666;clear:left;display:block;}
.login_02 .forget:hover{color:#e4535a;text-decoration:underline;cursor:pointer;}
.login_02 .login_03{margin-left:99px;}
.login_03 input{font-size:12px;color:#fff;width:70px;line-height:27px;text-align:center;border-radius:3px;margin:8px 0;}
.login_02 .login_03 .l_01{background-color:#56b571;}
.login_02 .login_03 .l_02{background-color:#5683b5;margin-left:24px;}
.login_02 .login_03 .l_01:hover{background-color:#419759;}
.login_02 .login_03 .l_02:hover{background-color:#3f658f;}
.login_03{overflow:hidden;}
.new_01{border:solid 1px #aaa;overflow:hidden;}
.title{color:#5b9de7;font-weight:bold;line-height:30px;margin-left:10px;}
.more{color:#5b9de7;font-size:12px;margin-right:10px;margin-top:8px;}
.more:hover{text-decoration:underline;}
.new_02{background-color:#fff;overflow:hidden;}
.new_02 ul{margin-left:10px;margin-top:4px}
.new_02 dl{margin-left:300px;margin-top:4px}
.new_02 ul li{color:#333;line-height:30px;padding-left:8px;background-image:url(../images/dian.png);background-repeat:no-repeat;background-position:center left;}
.new_02 ul li a:hover{color:#5b9de7;text-decoration:underline;cursor:pointer;}
.new_02 dl dt{color:#999;line-height:30px;}

.contentbox_02{margin:auto;width:1002px;overflow:hidden;margin-top:30px;}
.inform{width:1002px;}
.new_02 .no_03{margin:0;margin-right:10px;}
/*页脚*/
.footer{width:1002px;margin:auto;background-color:#5b9de7;padding:8px 0;margin-top:30px;}
.footer a{color:#FFF;text-align:center;display:block;line-height:20px;}
/*公告*/
.com_news_box{width:1002px;margin:auto;margin-top:30px;overflow:hidden;}
.news_t_top{background-image:url(../images/style.png);background-position:left center;background-repeat:no-repeat;width:260px;padding-left:24px;border:solid 1px #aaa;overflow:hidden;color:#5b9de7;font-weight:bold;line-height:30px;}
.news_t_b{background-image:url(../images/news_pic.png);width:286px;height:599px;position:relative;}
.news_t_b a{position:absolute;border-bottom:solid 1px #cacaca;line-height:34px;width:206px;text-align:center;display:block;color:#333;}
.news_t_b a:hover{color:#5b9de7;}
.news_t_b .cn{top:0px;left:32px;}
.news_t_b .yn{top:34px;left:32px;}

.cn_right{width:686px;background-color:#FFF;}
.cn_right a{color:#333;font-size:14px;}
.cn_right a:hover{color:#5b9de7;text-decoration:underline;}
.cn_right_01{padding:18px 0;border-bottom:dashed 1px #cacaca;overflow:hidden;padding-left:10px;}
.cn_right_01 span{color:#646464;margin-top:10px;margin-right:10px;}
.cn_right_top{font-size:16px;font-weight:bold;border-bottom:solid 1px #cacaca;line-height:31px;padding-left:10px;}
.title_02{margin-left:40px;margin-top:8px;}
.content_text{margin-left:40px;color:#646464;width:466px;font-size:12px;margin-top:20px;line-height:18px;}
.title_01{margin-left:10px;padding-left:10px;line-height:46px;background-image:url(../images/dian.png);background-repeat:no-repeat;background-position:left center;}
.cn_right_02{border-bottom:dashed 1px #cacaca;overflow:hidden;}
.cn_right_02 span{color:#646464;margin-top:14px;margin-right:10px;}

.page_01{background-color:#d4d6dc;padding:0 6px;;color:#000;font-family:"宋体";font-size:12px;line-height:23px;}
.page_02{background-color:#eeeeee;border:#d4d6dc 1px solid;padding:0px 7px;font-size:12px;padding-top:1px;line-height:20px;font-family:"宋体"}
.page a,select{margin:0 3px}
.page a:hover{background-color:#000;color:#fff;text-decoration:none;}
.page{margin:20px 0;}

.cn_ch_box{overflow:hidden;position:relative;height:50px;margin-top:30px;}
.changtiao{position:absolute;left:50%;margin-left:-980px}
.cn_ch_box .c{position:absolute;top:0;width:1002px;background-image:url(../images/logo_01.png);background-repeat:no-repeat;background-position:right top;height:50px;left:50%;margin-left:-501px}
.cn_ch_box .c a{float:left;color:#fff;font-size:24px;line-height:50px;padding-left:10px;}
.news_text_box{margin:auto;width:1002px;padding-top:40px;border-bottom:solid 1px #cacaca;padding-bottom:20px;background-color:#fff;}
.news_text_box_01{border-bottom:solid 1px #cacaca;}
.news_text_box_01 .riqi{display:block;text-align:right;color:#cacaca;line-height:34px; margin-right:50px;}
.news_text_box_02{width:920px;margin:auto;margin-top:30px;}
.news_text_box_02 a{color:#646464;line-height:30px;margin:15px 0;display:block;}
.news_text_box_02 img{margin:auto;}
.title_da{font-family:'宋体';font-size:30px;font-weight:bold;text-align:center;display:block;}
.share a{float:left;margin:0 2px;line-height:16px;}
.news_text_box_bottom{margin:auto;width:1002px;padding-top:20px;overflow:hidden;}
.news_text_box_bottom a{color:#000;font-family:"宋体";font-size:12px;}
.next span{color:#000;font-size:12px;}
.next a{color:#215eb1;font-size:12px;}
.next a:hover{color:#ce151e;text-decoration:underline;}
