<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.res.ResDoctorKqExtMapper">
    <resultMap type="HashMap" id="signinMap" extends="com.pinde.sci.dao.base.ResDoctorSigninMapper.BaseResultMap">
        <result property="schDeptName" column="SCH_DEPT_NAME" javaType="string"/>
        <result property="schStartDate" column="SCH_START_DATE" javaType="string"/>
        <result property="schEndDate" column="SCH_END_DATE" javaType="string"/>
        <result property="doctorName" column="DOCTOR_NAME" javaType="string"/>
        <result property="teacherUserName" column="HEAD_USER_NAME" javaType="string"/>
        <result property="trainingSpeName" column="TRAINING_SPE_NAME" javaType="string"/>
        <result property="sessionNumber" column="SESSION_NUMBER" javaType="string"/>
    </resultMap>
    <select id="getSigninList"  parameterType="java.util.Map" resultMap="signinMap">
        SELECT qds.*,SAR.SCH_DEPT_NAME,SAR.SCH_START_DATE,SAR.SCH_END_DATE,
        SU.USER_NAME DOCTOR_NAME,HEAD.USER_NAME HEAD_USER_NAME,
        ED.training_SPE_NAME,ED.SESSION_NUMBER
        FROM res_DOCTOR_SIGNIN qds
        LEFT JOIN SCH_ARRANGE_RESULT SAR
        ON qds.RESULT_FLOW=SAR.RESULT_FLOW
        LEFT JOIN SYS_USER SU
        ON qds.DOCTOR_FLOW=SU.USER_FLOW
        LEFT JOIN SYS_USER HEAD
        ON qds.TEACHER_USER_FLOW =HEAD.USER_FLOW
        LEFT JOIN RES_DOCTOR ED
        ON qds.DOCTOR_FLOW=ED.DOCTOR_FLOW
        WHERE qds.RECORD_STATUS='Y'
        AND SAR.RECORD_STATUS='Y'
        <if test="deptFlows!=null and deptFlows.size()>0">
            and SAR.DEPT_FLOW IN
            <foreach collection="deptFlows" close=")" item="deptFlow" open="(" separator=",">
                #{deptFlow}
            </foreach>
        </if>
        <if test='doctorName!=null and doctorName!=""'>
            and SU.USER_NAME LIKE  CONCAT(CONCAT('%', #{doctorName}),'%')
        </if>
        <if test='doctorFlow!=null and doctorFlow!=""'>
            and SU.USER_FLOW = #{doctorFlow}
        </if>
        <if test='teacherUserFlow!=null and teacherUserFlow!=""'>
            and qds.TEACHER_USER_FLOW = #{teacherUserFlow}
        </if>
        <if test='trainingYears!=null and trainingYears!=""'>
            and ed.training_Years = #{trainingYears}
        </if>
        <if test='trainingSpeId!=null and trainingSpeId!=""'>
            and ed.training_Spe_Id = #{trainingSpeId}
        </if>
        <if test='sessionNumber!=null and sessionNumber!=""'>
            and ed.SESSION_NUMBER = #{sessionNumber}
        </if>
        <if test='signinDate!=null and signinDate!=""'>
            and qds.SIGNIN_DATE = #{signinDate}
        </if>
        ORDER by SIGNIN_DATE DESC,SIGNIN_TIME DESC ,qds.CREATE_TIME DESC
    </select>
    <select id="checkTime" resultType="java.lang.Integer">
        select count(1) from res_doctor_kq where record_status='Y'
        and doctor_flow=#{doctorFlow}
        and kq_type_id=#{id}
        <if test="recordFlow!=null and recordFlow !=''">
            and record_flow !=#{recordFlow}
        </if>
        and audit_status_id in ('Auditing','HeadAuditing','ManagerAuditing','TeacherPass','HeadUnPass','TutorPass','ManagerPass','Passed',
            'RevokeAuditing','RevokeHeadAuditing','RevokeManagerAuditing')
        AND  ( ( START_DATE  <![CDATA[ <= ]]> #{startDate} AND END_DATE >= #{endDate})
          or (START_DATE  <![CDATA[ >= ]]> #{startDate} AND START_DATE <![CDATA[ <= ]]>#{endDate})
          or (END_DATE  <![CDATA[ >= ]]> #{startDate} AND END_DATE <![CDATA[ <= ]]>#{endDate}))
    </select>
    <select id="readAllIntervalDays" resultType="java.lang.Double">
        select nvl(sum(INTERVAL_DAYS),0) from res_doctor_kq where record_status='Y'
        and doctor_flow=#{doctorFlow}
        and kq_type_id=#{id}
        <if test="recordFlow!=null and recordFlow !=''">
            and record_flow !=#{recordFlow}
        </if>
        and audit_status_id in ('Auditing','TeacherPass','HeadPass','TutorPass','ManagerPass','Passed')
    </select>
    <select id="getSigninListForMany"  parameterType="java.util.Map" resultType="java.util.Map">
        select A.signinNum,A.user_flow,su.user_name,su.user_phone,
        ed.training_Spe_Id,ed.training_Spe_name,ed.SESSION_NUMBER
        from (
        select p.*,(select count(1) from res_DOCTOR_SIGNIN rds
        where rds.record_status='Y' and rds.doctor_flow=p.user_flow
        and rds.TEACHER_USER_FLOW=p.sch_dept_flow
        and rds.SIGNIN_DATE=#{signinDate}) signinNum
        from res_doctor_sch_process p
        where p.record_status='Y'
        <if test='orgFlow!=null and orgFlow!=""'>
            and p.org_flow= #{orgFlow}
        </if>
        <if test='schDeptFlow!=null and schDeptFlow!=""'>
            and p.sch_dept_flow= #{schDeptFlow}
        </if>
        <if test="schDeptFlows!=null and schDeptFlows.size()>0">
            and p.sch_dept_flow IN
            <foreach collection="schDeptFlows" close=")" item="schDeptFlow" open="(" separator=",">
                #{schDeptFlow}
            </foreach>
        </if>
        and p.start_date <![CDATA[ <= ]]> #{signinDate}
        AND p.end_date <![CDATA[ >= ]]> #{signinDate}
        ) A
        left join sys_user SU on SU.user_flow=A.user_flow
        LEFT JOIN RES_DOCTOR ED ON A.user_flow = ED.DOCTOR_FLOW
        where SU.RECORD_STATUS = 'Y'
        AND ED.RECORD_STATUS = 'Y'
        <if test='doctorName!=null and doctorName!=""'>
            and SU.USER_NAME LIKE  CONCAT(CONCAT('%', #{doctorName}),'%')
        </if>
        <if test='trainingYears!=null and trainingYears!=""'>
            and ed.training_Years = #{trainingYears}
        </if>
        <if test='trainingSpeId!=null and trainingSpeId!=""'>
            and ed.training_Spe_Id = #{trainingSpeId}
        </if>
        <if test='sessionNumber!=null and sessionNumber!=""'>
            and ed.SESSION_NUMBER = #{sessionNumber}
        </if>
        <if test='isSignin!=null and isSignin=="Y".toString()'>
            and A.signinNum <![CDATA[ > ]]> 0
        </if>
        <if test='isSignin!=null and isSignin=="N".toString()'>
            and A.signinNum = 0
        </if>
        <if test="typeList!=null and typeList.size>0">
            and ed.DOCTOR_TYPE_ID in
            <foreach collection="typeList" open="(" separator="," close=")" item="item">#{item}</foreach>
        </if>
        ORDER by A.CREATE_TIME DESC
    </select>
    <select id="getKqStatistics" parameterType="java.util.Map" resultType="java.util.Map">
        select su.user_name,su.user_flow,rd.training_spe_name,rd.session_number
        <if test="dictList!=null and dictList.size()>0">,
            <foreach collection="dictList" item="item" index="inx">
                (select count(0) from RES_DOCTOR_KQ qdk where qdk.doctor_flow=rd.doctor_flow and qdk.RECORD_STATUS='Y'
                and qdk.KQ_TYPE_ID='LeaveType'
                and AUDIT_ROLE_NOW = 'Pass'
                and qdk.type_id=#{item.dictId}
                <if test="startDate!='' and startDate!=null">
                    and qdk.end_Date >= #{startDate}
                </if>
                <if test="endDate!='' and endDate!=null">
                    and #{endDate} >= qdk.start_Date
                </if>
                ) ${item.dictId}
                <if test="inx != (dictList.size() - 1)">,</if>
            </foreach>
        </if>
        FROM res_doctor rd
        LEFT join sys_user su on su.user_flow=rd.doctor_flow
        where rd.RECORD_STATUS='Y' and su.RECORD_STATUS='Y'
        <if test="orgFlow!='' and orgFlow!=null">
            and rd.org_Flow = #{orgFlow}
        </if>
        <if test="doctorName!='' and doctorName!=null">
            and rd.doctor_name like CONCAT(CONCAT('%', #{doctorName}),'%')
        </if>
        <if test="trainingTypeId!='' and trainingTypeId!=null">
            and rd.training_type_id = #{trainingTypeId}
        </if>
    </select>
    <select id="kqStatisticsDetail"   resultMap="com.pinde.sci.dao.base.ResDoctorKqMapper.BaseResultMap">
        select
        RECORD_FLOW, DOCTOR_FLOW, DOCTOR_NAME, START_DATE, END_DATE
        , INTERVAL_DAYS, SCH_DEPT_FLOW, SCH_DEPT_NAME, SCH_DEPT_START_DATE, SCH_DEPT_END_DATE
        , ORG_FLOW, ORG_NAME, KQ_TYPE_ID, KQ_TYPE_NAME, TYPE_ID
        , TYPE_NAME, DOCTOR_REMARKS, AUDIT_STATUS_ID, AUDIT_STATUS_NAME, TEACHER_FLOW
        , TEACHER_NAME, HEAD_FLOW, HEAD_NAME, TUTOR_FLOW, TUTOR_NAME
        , MANAGER_FLOW, MANAGER_NAME, TEACHER_AGREE_FLAG, TEACHER_AUDIT_TIME, TEACHER_AUDIT_INFO
        , HEAD_AGREE_FLAG, HEAD_AUDIT_TIME, HEAD_AUDIT_INFO, TUTOR_AGREE_FLAG, TUTOR_AUDIT_TIME
        , TUTOR_AUDIT_INFO, MANAGER_AGREE_FLAG, MANAGER_AUDIT_TIME, MANAGER_AUDIT_INFO, PROCESS_FLOW
        , RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
        , SESSION_NUMBER_NOW, AUDIT_ROLE_NOW
        from RES_DOCTOR_KQ qdk
        where qdk.doctor_flow=#{kq.doctorFlow}
        and qdk.RECORD_STATUS='Y'
        and qdk.KQ_TYPE_ID='LeaveType'
        and AUDIT_ROLE_NOW = 'Pass'
        and qdk.type_id=#{kq.typeId}
        <if test="kq.startDate!='' and kq.startDate!=null">
            and qdk.end_Date >= #{kq.startDate}
        </if>
        <if test="kq.endDate!='' and kq.endDate!=null">
            and #{kq.endDate} >= qdk.start_Date
        </if>
        order by end_Date
    </select>

    <select id="searchResDoctorKq" resultMap="com.pinde.sci.dao.base.ResDoctorKqMapper.BaseResultMap" parameterType="java.util.Map">
    select
    rdk.RECORD_FLOW, rdk.DOCTOR_FLOW, rdk.DOCTOR_NAME, rdk.START_DATE, rdk.END_DATE
    , rdk.INTERVAL_DAYS, rdk.SCH_DEPT_FLOW, rdk.SCH_DEPT_NAME, rdk.SCH_DEPT_START_DATE, rdk.SCH_DEPT_END_DATE
    , rdk.ORG_FLOW, rdk.ORG_NAME, rdk.KQ_TYPE_ID, rdk.KQ_TYPE_NAME, rdk.TYPE_ID
    , rdk.TYPE_NAME, rdk.DOCTOR_REMARKS, rdk.AUDIT_STATUS_ID, rdk.AUDIT_STATUS_NAME, rdk.TEACHER_FLOW
    , rdk.TEACHER_NAME, rdk.HEAD_FLOW, rdk.HEAD_NAME, rdk.TUTOR_FLOW, rdk.TUTOR_NAME
    , rdk.MANAGER_FLOW, rdk.MANAGER_NAME, rdk.TEACHER_AGREE_FLAG, rdk.TEACHER_AUDIT_TIME, rdk.TEACHER_AUDIT_INFO
    , rdk.HEAD_AGREE_FLAG, rdk.HEAD_AUDIT_TIME, rdk.HEAD_AUDIT_INFO, rdk.TUTOR_AGREE_FLAG, rdk.TUTOR_AUDIT_TIME
    , rdk.TUTOR_AUDIT_INFO, rdk.MANAGER_AGREE_FLAG, rdk.MANAGER_AUDIT_TIME, rdk.MANAGER_AUDIT_INFO, rdk.PROCESS_FLOW
    , rdk.RECORD_STATUS, rdk.CREATE_TIME, rdk.CREATE_USER_FLOW, rdk.MODIFY_TIME, rdk.MODIFY_USER_FLOW
    from RES_DOCTOR_KQ rdk
    left join res_doctor rd on rdk.doctor_flow = rd.doctor_flow and rd.RECORD_STATUS='Y'
    where rdk.RECORD_STATUS='Y'
    <if test="doctorName!='' and doctorName!=null">
        and rdk.doctor_Name like CONCAT(CONCAT('%', #{doctorName}),'%')
    </if>
    <if test="orgFlow!='' and orgFlow!=null">
        AND rdk.org_flow = #{orgFlow}
    </if>
    <!--    <if test="roleFlag!='' and roleFlag!=null"> -->
    <!-- 带教 -->
    <!--            <if test="roleFlag =='teacher'.toString()">
                    AND rdk.teacher_name != '-'
                    <if test="auditStatusId !='' and auditStatusId !=null">
                        <if test="auditStatusId =='Auditing'.toString()">
                            and rdk.audit_Role_Now = 'teacher'
                        </if>
                        <if test="auditStatusId !='Auditing'.toString()">
                            and rdk.TEACHER_AGREE_FLAG = #{teacherAgreeFlag}
                        </if>
                    </if>
                </if> -->

    <!-- 科主任 -->
    <!--          <if test="roleFlag =='head'.toString()">
                  AND rdk.HEAD_NAME != '-'
                  <if test="auditStatusId!='' and auditStatusId!=null">
                      <if test="auditStatusId =='Auditing'.toString()">
                          and rdk.audit_Role_Now = 'head'
                      </if>
                      <if test="auditStatusId !='Auditing'.toString()">
                          and rdk.head_AGREE_FLAG = #{headAgreeFlag}
                      </if>
                  </if>
              </if> -->

    <!-- 管理员 -->
    <!--    <if test="roleFlag =='manager'.toString()">
            <if test="auditStatusId!='' and auditStatusId!=null">
                AND rdk.MANAGER_NAME != '-'
                <if test="auditStatusId =='Auditing'.toString()">
                    and rdk.AUDIT_ROLE_NOW = 'admin'
                </if>
                <if test="auditStatusId !='Auditing'.toString()">
                    and rdk.manager_AGREE_FLAG = #{managerAgreeFlag}
                </if>
            </if>
        </if>
    </if> -->
    <if test="auditStatusId!='' and auditStatusId!=null">
        and rdk.audit_status_id = #{auditStatusId}
    </if>
    <if test="managerAgreeFlag !='' and managerAgreeFlag!=null">
        and rdk.manager_AGREE_FLAG = #{managerAgreeFlag}
    </if>
    <if test="typeId!='' and typeId!=null">
        and rdk.type_Id like #{typeId}
    </if>
    <if test="startDate!='' and startDate!=null">
        and rdk.end_Date >= #{startDate}
    </if>
    <if test="endDate!='' and endDate!=null">
        and #{endDate} >= rdk.start_Date
    </if>
    <if test="teacherFlow!='' and teacherFlow!=null">
        and rdk.teacher_Flow = #{teacherFlow}
    </if>
    <if test="tutorFlow!='' and tutorFlow!=null">
        and rdk.tutor_Flow = #{tutorFlow}
    </if>
    <if test="headFlow!='' and headFlow!=null">
        and rdk.head_Flow = #{headFlow}
    </if>
    <if test="managerFlow!='' and managerFlow!=null">
        and rdk.manager_Flow = #{managerFlow}
    </if>
    <if test="notStatus!=null and notStatus.size>0">
        and rdk.Audit_Status_Id not in
        <foreach collection="notStatus" open="(" separator="," close=")" item="item">#{item}</foreach>
    </if>
    <if test="doctorTypeIdList!=null and doctorTypeIdList.size>0">
        and rd.DOCTOR_TYPE_ID in
        <foreach collection="doctorTypeIdList" open="(" separator="," close=")" item="item1">#{item1}</foreach>
    </if>
    <if test="sessionNumber!='' and sessionNumber!=null">
        and rd.session_Number = #{sessionNumber}
    </if>
    <if test="trainingTypeId!='' and trainingTypeId!=null">
        and rd.TRAINING_TYPE_ID = #{trainingTypeId}
    </if>
    order by rdk.create_time desc
</select>

    <resultMap type="HashMap" id="doctorKqExtMap">
        <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
        <result column="DOCTOR_FLOW" property="doctorFlow" jdbcType="VARCHAR" />
        <result column="DOCTOR_NAME" property="doctorName" jdbcType="VARCHAR" />
        <result column="START_DATE" property="startDate" jdbcType="VARCHAR" />
        <result column="END_DATE" property="endDate" jdbcType="VARCHAR" />
        <result column="INTERVAL_DAYS" property="intervalDays" jdbcType="VARCHAR" />
        <result column="SCH_DEPT_FLOW" property="schDeptFlow" jdbcType="VARCHAR" />
        <result column="SCH_DEPT_NAME" property="schDeptName" jdbcType="VARCHAR" />
        <result column="SCH_DEPT_START_DATE" property="schDeptStartDate" jdbcType="VARCHAR" />
        <result column="SCH_DEPT_END_DATE" property="schDeptEndDate" jdbcType="VARCHAR" />
        <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
        <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
        <result column="KQ_TYPE_ID" property="kqTypeId" jdbcType="VARCHAR" />
        <result column="KQ_TYPE_NAME" property="kqTypeName" jdbcType="VARCHAR" />
        <result column="TYPE_ID" property="typeId" jdbcType="VARCHAR" />
        <result column="TYPE_NAME" property="typeName" jdbcType="VARCHAR" />
        <result column="DOCTOR_REMARKS" property="doctorRemarks" jdbcType="VARCHAR" />
        <result column="AUDIT_STATUS_ID" property="auditStatusId" jdbcType="VARCHAR" />
        <result column="AUDIT_STATUS_NAME" property="auditStatusName" jdbcType="VARCHAR" />
        <result column="TEACHER_FLOW" property="teacherFlow" jdbcType="VARCHAR" />
        <result column="TEACHER_NAME" property="teacherName" jdbcType="VARCHAR" />
        <result column="HEAD_FLOW" property="headFlow" jdbcType="VARCHAR" />
        <result column="HEAD_NAME" property="headName" jdbcType="VARCHAR" />
        <result column="TUTOR_FLOW" property="tutorFlow" jdbcType="VARCHAR" />
        <result column="TUTOR_NAME" property="tutorName" jdbcType="VARCHAR" />
        <result column="MANAGER_FLOW" property="managerFlow" jdbcType="VARCHAR" />
        <result column="MANAGER_NAME" property="managerName" jdbcType="VARCHAR" />
        <result column="TEACHER_AGREE_FLAG" property="teacherAgreeFlag" jdbcType="VARCHAR" />
        <result column="TEACHER_AUDIT_TIME" property="teacherAuditTime" jdbcType="VARCHAR" />
        <result column="TEACHER_AUDIT_INFO" property="teacherAuditInfo" jdbcType="VARCHAR" />
        <result column="HEAD_AGREE_FLAG" property="headAgreeFlag" jdbcType="VARCHAR" />
        <result column="HEAD_AUDIT_TIME" property="headAuditTime" jdbcType="VARCHAR" />
        <result column="HEAD_AUDIT_INFO" property="headAuditInfo" jdbcType="VARCHAR" />
        <result column="TUTOR_AGREE_FLAG" property="tutorAgreeFlag" jdbcType="VARCHAR" />
        <result column="TUTOR_AUDIT_TIME" property="tutorAuditTime" jdbcType="VARCHAR" />
        <result column="TUTOR_AUDIT_INFO" property="tutorAuditInfo" jdbcType="VARCHAR" />
        <result column="MANAGER_AGREE_FLAG" property="managerAgreeFlag" jdbcType="VARCHAR" />
        <result column="MANAGER_AUDIT_TIME" property="managerAuditTime" jdbcType="VARCHAR" />
        <result column="MANAGER_AUDIT_INFO" property="managerAuditInfo" jdbcType="VARCHAR" />
        <result column="PROCESS_FLOW" property="processFlow" jdbcType="VARCHAR" />
        <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
        <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
        <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
        <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
        <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
        <result column="SESSION_NUMBER_NOW" property="sessionNumberNow" jdbcType="VARCHAR" />
        <result column="AUDIT_ROLE_NOW" property="auditRoleNow" jdbcType="VARCHAR" />
        <result column="FILE_FLOWS" property="fileFlows" jdbcType="VARCHAR" />
    </resultMap>
    <select id="searchDoctorKqList" parameterType="map" resultMap="doctorKqExtMap">
        SELECT RECORD_FLOW, DOCTOR_FLOW, DOCTOR_NAME, START_DATE, END_DATE, INTERVAL_DAYS, SCH_DEPT_FLOW,
            SCH_DEPT_NAME, SCH_DEPT_START_DATE, SCH_DEPT_END_DATE, ORG_FLOW, ORG_NAME, KQ_TYPE_ID,
            KQ_TYPE_NAME, TYPE_ID, TYPE_NAME, DOCTOR_REMARKS, AUDIT_STATUS_ID, AUDIT_STATUS_NAME,
            TEACHER_FLOW, TEACHER_NAME, HEAD_FLOW, HEAD_NAME, TUTOR_FLOW, TUTOR_NAME, MANAGER_FLOW,
            MANAGER_NAME, TEACHER_AGREE_FLAG, TEACHER_AUDIT_TIME, TEACHER_AUDIT_INFO, HEAD_AGREE_FLAG,
            HEAD_AUDIT_TIME, HEAD_AUDIT_INFO, TUTOR_AGREE_FLAG, TUTOR_AUDIT_TIME, TUTOR_AUDIT_INFO,
            MANAGER_AGREE_FLAG, MANAGER_AUDIT_TIME, MANAGER_AUDIT_INFO, PROCESS_FLOW, SESSION_NUMBER_NOW,
            AUDIT_ROLE_NOW,CASE WHEN PF.FILE_FLOWS IS NULL THEN 'N' ELSE 'Y' END AS FILE_FLOWS
        FROM RES_DOCTOR_KQ K
        left join(select product_flow,wm_concat(file_flow) AS FILE_FLOWS
            from PUB_FILE
            where record_status = 'Y'
            AND product_type = 'ResDoctorKqFile'
            group by product_flow
        ) pf on pf.product_flow = k.record_flow
        WHERE k.RECORD_STATUS = 'Y'
        AND K.ORG_FLOW = #{orgFlow}
        AND K.DOCTOR_FLOW = #{doctorFlow}
        AND K.KQ_TYPE_ID = #{kqTypeId}
        <if test="typeId!='' and typeId!=null">
            and K.TYPE_ID = #{typeId}
        </if>
        <if test="schDeptFlow!='' and schDeptFlow!=null">
            and K.SCH_DEPT_FLOW = #{schDeptFlow}
        </if>
        <if test="auditStatusId!='' and auditStatusId!=null">
            and K.AUDIT_STATUS_ID = #{auditStatusId}
        </if>
        ORDER BY K.CREATE_TIME DESC
    </select>

    <update id="updateKqLogsRecordStatusN">
        update res_doctor_kq_log set record_status = 'N'
        where record_status = 'Y'
        and kq_record_flow = #{kqRecordFlow}
        and type_id = #{typeId}
    </update>
</mapper>