<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.res.ResGraduationAssessmentExtMapper" >
    <resultMap id="BaseResultMap" type="com.pinde.sci.model.res.ResGraduationAssessmentExt"
               extends="com.pinde.core.common.sci.dao.ResGraduationAssessmentMapper.ResultMapWithBLOBs">
        <result column="DISCIPLE_START_DATE" property="discipleStartDate" jdbcType="VARCHAR" />
        <result column="DISCIPLE_END_DATE" property="discipleEndDate" jdbcType="VARCHAR" />
        <result column="DAY_SELECT_COUNT" property="daySelectCount" jdbcType="VARCHAR" />
        <result column="NOTE_SELECT_COUNT" property="noteSelectCount" jdbcType="VARCHAR" />
        <result column="EXPERIENCE_SELECT_COUNT" property="experienceSelectCount" jdbcType="VARCHAR" />
        <result column="BOOK_STUDY_COUNT" property="bookStudyCount" jdbcType="VARCHAR" />
        <result column="BOOKEXP_SELECT_COUNT" property="bookexpSelectCount" jdbcType="VARCHAR" />
        <result column="CASES_COUNT" property="casesCount" jdbcType="VARCHAR" />
        <result column="YEAR_HEGE_COUNT" property="yearHegeCount" jdbcType="VARCHAR" />
        <result column="YEAR_BUHEGE_COUNT" property="yearBuhegeCount" jdbcType="VARCHAR" />
        <result column="DISCIPLE_TEACHER_FLOW" property="discipleTeacherFlow" jdbcType="VARCHAR" />
        <result column="DISCIPLE_TEACHER_NAME" property="discipleTeacherName" jdbcType="VARCHAR" />
        <result column="FILE_FLOW" property="fileFlow" jdbcType="VARCHAR" />
        <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
    </resultMap>
    <select id="getDocGraduationAssessment" parameterType="string" resultMap="BaseResultMap">
        select ga.RECORD_FLOW,
               rd.DOCTOR_FLOW,
               rd.DOCTOR_NAME,
               rd.disciple_teacher_flow,
               rd.disciple_TEACHER_NAME,
               ga.teacher_flow,
               ga.teacher_name,
               ga.STUDY_START_DATE,
               ga.STUDY_END_DATE,
               ga.DAY_COUNT,
               ga.NOTE_COUNT,
               ga.EXPERIENCE_COUNT,
               ga.TCM_COUNT,
               ga.XXTH_COUNT,
               ga.TYPICAL_CASES_COUNT,
               ga.GRADUATION_THESIS_TITLE,
               ga.ASSESSMENT_IMG_URL,
               ga.EXPERIENCE_CONTENT,
               ga.EXPERIENCE_SIGN_TIME,
               ga.AUDIT_CONTENT,
               ga.AUDIT_TIME,
               ga.AUDIT_USER_FLOW,
               ga.AUDIT_USER_NAME,
               ga.AUDIT_STATUS_ID,
               ga.AUDIT_STATUS_NAME,
               ga.ADMIN_CONTENT,
               ga.ADMIN_TIME,
               ga.ADMIN_USER_FLOW,
               ga.ADMIN_USER_NAME,
               ga.ADMIN_STATUS_ID,
               ga.ADMIN_STATUS_NAME,
               ga.RECORD_STATUS,
               ga.CREATE_TIME,
               ga.CREATE_USER_FLOW,
               ga.ANNUAL_HEGE,
               ga.ANNUAL_NOT_HEGE,
               ga.MODIFY_TIME,
               ga.MODIFY_USER_FLOW,
               rdi.DISCIPLE_START_DATE,
               rdi.DISCIPLE_END_DATE,
               to_date(rdi.DISCIPLE_END_DATE, 'yyyy-mm-dd') -
               to_date(rdi.DISCIPLE_START_DATE, 'yyyy-mm-dd') day_select_count,
              ( select count(1) from  RES_DISCIPLE_NOTE_INFO where record_status='Y' and NOTE_TYPE_ID='Note' and AUDIT_STATUS_ID='Qualified'
         and doctor_flow=rd.doctor_flow) note_select_count,
         (select count(1) from  RES_DISCIPLE_NOTE_INFO where record_status='Y' and NOTE_TYPE_ID='Experience' and AUDIT_STATUS_ID='Qualified'
         and doctor_flow=rd.doctor_flow) experience_select_count,

         (select count(1) from RES_BOOK_STUDY_RECORD where record_status='Y'
         and doctor_flow=rd.doctor_flow) book_study_count,

        ( select count(1) from  RES_DISCIPLE_NOTE_INFO where record_status='Y' and NOTE_TYPE_ID='BookExperience' and AUDIT_STATUS_ID='Qualified'
         and doctor_flow=rd.doctor_flow )bookExp_select_count,

         (select count(1) from RES_TYPICAL_CASES where record_status='Y' and AUDIT_STATUS_ID='Qualified'
         and doctor_flow=rd.doctor_flow) cases_count,

        ( select count(1) from res_annual_assessment where record_status='Y' and AUDIT_STATUS_ID='AdminAudit'
         and doctor_flow=rd.doctor_flow) year_hege_count,

        ( select count(DISTINCT record_flow) from res_annual_assessment where record_status='Y' and
         (AUDIT_STATUS_ID='DiscipleBack' or AUDIT_STATUS_ID='AdminBack')
         and doctor_flow=rd.doctor_flow) year_buhege_count,
         pf.file_flow,
         pf.file_name
               from res_doctor rd
               left join res_disciple_info rdi on rdi.doctor_flow = rd.doctor_flow  and rdi.record_status = 'Y'
               left join  res_graduation_assessment ga on rd.doctor_flow = ga.doctor_flow and ga.record_status='Y'
               left join pub_file pf on pf.record_status='Y' and pf.PRODUCT_TYPE='GRADUATION_FILE' and pf.CREATE_USER_FLOW=rd.doctor_flow
               where
                rd.record_status = 'Y'
               and rd.doctor_flow=#{userFlow}
    </select>

</mapper>