<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.res.ResIdCtrlExtMapper">
    <select id="doctorIdList" parameterType="java.util.Map" resultType="java.util.Map">
        select a.*
        from
        (select max(su.user_name) user_name,
        max(su.user_flow) user_flow,
        max(rd.session_number) session_number,
        max(rd.training_spe_name) training_spe_name,
        max(rd.training_years) training_years,
        max(rd.graduation_year) graduation_year,
        min(rid.start_date) start_date,
        max(rid.end_date) end_date
        from res_doctor rd
        inner join sys_user su on su.user_flow = rd.doctor_flow
        left join res_idctrl_detail rid on rd.doctor_flow = rid.doctor_flow and rid.record_status = 'Y'
        where rd.record_status = 'Y' and su.record_status = 'Y'
        AND RD.DOCTOR_STATUS_ID NOT IN ('UnPassed', 'Passed', 'UnSubmit')
        AND RD.org_flow IS NOT NULL
        AND RD.org_flow != '20160914888888'
        AND RD.org_flow != '566c9f36cf014f63a569b453efa284d7'
        AND RD.org_flow != '00000000000000000000000000000000'
        <if test="doctorName!=null and doctorName!=''">
            and su.user_name like '%${doctorName}%'
        </if>
        <if test="sessionNumber!=null and sessionNumber!=''">
            and rd.session_Number = #{sessionNumber}
        </if>
        <if test="trainingSpeId!=null and trainingSpeId!=''">
            and rd.training_Spe_Id = #{trainingSpeId}
        </if>
        <if test="trainingYears!=null and trainingYears!=''">
            and rd.training_Years = #{trainingYears}
        </if>
        <if test="graduationYear!=null and graduationYear!=''">
            and rd.GRADUATION_YEAR = #{graduationYear}
        </if>
        <if test="orgFlow!=null and orgFlow!=''">
            and su.org_flow = #{orgFlow}
        </if>
        group by su.user_flow) a
        where 1=1
        <if test="nearOut != null and nearOut == 'Y'.toString()">
            and substr(a.end_date,0,4) = #{currentYear}
            and #{currentMonth} = '08'
        </if>
    </select>
</mapper>