<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.res.ResTrainNoticeExtMapper" >

	<select id="searchByTitleOrgFlowAndSchool" resultMap="com.pinde.sci.dao.base.ResTarinNoticeMapper.BaseResultMap">
		SELECT * FROM (
		SELECT *
		FROM PDSCI.RES_TARIN_NOTICE
		WHERE RECORD_STATUS = 'Y'
		  <if test="orgFlow !=null and orgFlow !=''">
			AND ORG_FLOW = #{orgFlow}
		  </if>
		  <if test="title !=null and title !=''">
			AND RES_NOTICE_TITLE like CONCAT(CONCAT('%', #{title}),'%')
		  </if>
		  or (
				RECORD_STATUS = 'Y' and org_flow is null
				<if test="title !=null and title !=''">
					AND RES_NOTICE_TITLE like CONCAT(CONCAT('%', #{title}),'%')
				</if>
			)
		<if test="doctor!=null">
			union all
			SELECT *
			FROM PDSCI.RES_TARIN_NOTICE
			WHERE RECORD_STATUS = 'Y'
			AND ORG_FLOW IN (
			SELECT ORG_FLOW FROM SYS_ORG
			WHERE RECORD_STATUS='Y'
			AND ORG_TYPE_ID='University'
			AND (
				<if test="(doctor.workOrgName==null or doctor.workOrgName=='') and (doctor.workOrgId!=null and doctor.workOrgId!='')">
					SEND_SCHOOL_ID=#{doctor.workOrgId}
				</if>
				<if test="(doctor.workOrgId==null or doctor.workOrgId=='') and (doctor.workOrgName!=null and doctor.workOrgName!='')">
					SEND_SCHOOL_NAME= #{doctor.workOrgName}
				</if>
				<if test="doctor.workOrgId!=null and doctor.workOrgId!='' and doctor.workOrgName!=null and doctor.workOrgName!=''">
					SEND_SCHOOL_NAME = #{doctor.workOrgName} OR SEND_SCHOOL_ID =#{doctor.workOrgId}
				</if>
				)
			)
		</if>
		) A

		ORDER BY CREATE_TIME DESC
	</select>

	<select id="searchNotices4University" resultMap="com.pinde.sci.dao.base.ResTarinNoticeMapper.BaseResultMap">
		SELECT rtn.*
		FROM RES_TARIN_NOTICE rtn
		WHERE rtn.RECORD_STATUS = 'Y'
		<if test="orgFlow !=null and orgFlow !=''">
			AND rtn.ORG_FLOW = #{orgFlow}
		</if>
		<if test="resNoticeTitle !=null and resNoticeTitle !=''">
			AND rtn.RES_NOTICE_TITLE like CONCAT(CONCAT('%', #{resNoticeTitle}),'%')
		</if>
		<if test="workOrgId!=null and workOrgId!=''">
			and rtn.ORG_FLOW in (
				select so.org_flow
				from PDSCI.SYS_ORG so
				where so.RECORD_STATUS='Y'
				and exists (
				select null from res_doctor rd where
				rd.RECORD_STATUS='Y' and rd.work_org_id = #{workOrgId}
				and rd.org_flow = so.org_flow
				)
			)
		</if>
		ORDER BY CREATE_TIME DESC
	</select>
</mapper>