<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.res.StuBatchExtMapper">

    <select id="getDefualStuBatchAndStuSelect" resultMap="com.pinde.sci.dao.base.StuBatchMapper.BaseResultMap">
        SELECT *
        FROM STU_BATCH t
        WHERE 1=1

        <!--<if test="batchDate != null and batchDate !=''">
          and   batch_date >=#{batchDate}
        </if>-->
        AND t.batch_status = '报名中'
        <if test="userFlow != null and userFlow !=''">
          or  exists(
              select 1 from stu_user_resume a where a.record_status='Y'
            and a.STU_BAT_ID=t.batch_flow
            and a.USER_FLOW=#{userFlow}
            )
        </if>
        order by batch_date asc
    </select>
    <select id="getStuNumByFlow" resultType="java.lang.Integer">
        SELECT count(1)
        FROM STU_USER_RESUME
        WHERE RECORD_STATUS='Y'
         and   STU_BAT_ID =#{batchFlow}
    </select>
</mapper>