<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.sczyres.SczyGraduationExtMapper">
    <select id="searchAppliesMain" resultMap="com.pinde.sci.dao.base.ScresGraduationApplyMapper.BaseResultMap">
        SELECT *
    FROM PDSCI.SCRES_GRADUATION_APPLY
    WHERE RECORD_STATUS = 'Y'
    <if test='graduationYear!=null and graduationYear!=""'>
    	AND GRADUATION_YEAR = #{graduationYear}
    </if>
    <if test=' statusId=="1" '>
        and ORG_STATUS_ID = '1'
    </if>
    <if test=' statusId=="2" '>
        and xt_ORG_STATUS_ID = '1'
    </if>
    <if test=' statusId=="3" '>
        and charge_STATUS_ID = '1'
    </if>
    <if test='doctorName!=null and doctorName!=""'>
        and doctor_Name like '%${doctorName}%'
    </if>
    <if test='catSpeId!=null and catSpeId!=""'>
        and training_spe_id = #{catSpeId}
    </if>
    <if test='isMakeUp!=null and isMakeUp!=""'>
        and  exists (
        select 1 from Pub_User_Resume where record_status='Y' and user_flow=doctor_flow
        and xmltype(USER_RESUME).extract('//isMakeUp/text()').getstringval() =#{isMakeUp}
        )
    </if>
	AND
      (
      (ORG_STATUS_ID = '1'
        AND DOCTOR_STATUS_ID = '1'
        <if test='orgFlows != null and orgFlows.size()>0'>
            AND ORG_FLOW IN
            <foreach collection="orgFlows" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        )
      or(
        DOCTOR_STATUS_ID = '1'
        <if test="orgFlow!=null and orgFlow!=''">
            AND ORG_FLOW = #{orgFlow}
        </if>
        )
      )
    </select>

    <select id="searchApplyMap" resultMap="com.pinde.sci.dao.base.ScresGraduationApplyMapper.BaseResultMap">
        SELECT *
    FROM PDSCI.SCRES_GRADUATION_APPLY
    WHERE RECORD_STATUS = 'Y'

        <if test='orgFlows != null and orgFlows.size()>0'>
            AND ORG_FLOW IN
            <foreach collection="orgFlows" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    <if test='searchApply.graduationYear!=null and searchApply.graduationYear!=""'>
    	AND GRADUATION_YEAR = #{searchApply.graduationYear}
    </if>
    <if test='searchApply.doctorFlow!=null and searchApply.doctorFlow!=""'>
    	AND doctor_flow = #{searchApply.doctorFlow}
    </if>
    <if test='searchApply.orgStatusId!=null and searchApply.orgStatusId!=""'>
    	AND org_Status_Id = #{searchApply.orgStatusId}
    </if>
    <if test='searchApply.xtOrgStatusId!=null and searchApply.xtOrgStatusId!=""'>
    	AND xt_org_Status_Id = #{searchApply.xtOrgStatusId}
    </if>
    <if test='searchApply.chargeStatusId!=null and searchApply.chargeStatusId!=""'>
    	AND charge_STATUS_ID = #{searchApply.chargeStatusId}
    </if>
    <if test='searchApply.doctorStatusId!=null and searchApply.doctorStatusId!=""'>
    	AND doctor_STATUS_ID = #{searchApply.doctorStatusId}
    </if>
        <if test="searchApply.orgFlow!=null and searchApply.orgFlow!=''">
            AND ORG_FLOW = #{searchApply.orgFlow}
        </if>
        <if test="searchApply.trainingSpeId!=null and searchApply.trainingSpeId!=''">
            AND training_spe_Id = #{searchApply.trainingSpeId}
        </if>
        <if test='searchApply.doctorName!=null and searchApply.doctorName!=""'>
            and doctor_Name like '%${searchApply.doctorName}%'
        </if>
    <if test='isMakeUp!=null and isMakeUp!=""'>
        and  exists (
        select 1 from Pub_User_Resume where record_status='Y' and user_flow=doctor_flow
        and xmltype(USER_RESUME).extract('//isMakeUp/text()').getstringval() =#{isMakeUp}
        )
    </if>
    </select>

    <select id="graduationStatistics" resultType="java.util.Map" parameterType="java.util.Map">
        select so.org_code,
                so.org_flow,
                so.org_name,
                (
                select count(0) from SCRES_GRADUATION_APPLY sga where so.org_flow = sga.org_flow
                and sga.record_status = 'Y'
                and sga.CHARGE_STATUS_ID = '1'
                <if test="graduationYear!=null and graduationYear!=''">
                    and sga.GRADUATION_YEAR = #{graduationYear}
                </if>
                ) org_sum
        from sys_org so
        where so.record_status = 'Y'
        and so.Org_Type_Id = 'Hospital'
        ORDER by so.ORDINAL
    </select>

    <select id="ticketList" resultType="java.util.Map" parameterType="java.util.Map">
        select sga.doctor_name,
                sga.doctor_flow,
                sga.graduation_year,
                sga.id_no,
                sga.org_name,
                sgt.ticket_number,
                sga.record_flow apply_flow,
                sgt.record_flow
        from SCRES_GRADUATION_APPLY sga
        left join SCRES_GRADUATION_TICKET sgt on sga.record_flow = sgt.apply_flow and sgt.record_status='Y'
        where sga.record_status = 'Y' and sga.charge_status_id='1'
        <if test='graduationYear!=null and graduationYear!=""'>
            and sga.GRADUATION_YEAR = #{graduationYear}
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
            and sga.org_Flow = #{orgFlow}
        </if>
        <if test='doctorName!=null and doctorName!=""'>
            and sga.doctor_Name like '%${doctorName}%'
        </if>
    </select>

    <select id="searchDocrtor4Exl" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT '' kaoDian,
                '' kaoQu,
                sga.org_name,
                sga.DOCTOR_FLOW,
                sga.doctor_name,
                su.sex_name,
                su.cret_Type_Name,
                su.id_no,
                su.EDUCATION_NAME,
                rd.doctor_Type_Name,
                sga.TRAINING_SPE_ID,
                sga.TRAINING_SPE_NAME,
                sga.TRAINING_START_DATE,
                sga.TRAINING_END_DATE,
                sga.DOCTOR_LICENSE_NO,
                sga.REMARK
        FROM PDSCI.SCRES_GRADUATION_APPLY sga
        left join sys_user su on sga.doctor_flow = su.user_flow
        left join res_doctor rd on sga.doctor_flow = rd.doctor_flow
        WHERE sga.RECORD_STATUS = 'Y'
        <if test='graduationYear!=null and graduationYear!=""'>
            and sga.graduation_Year = #{graduationYear}
        </if>
        <if test='role=="hospital"'>
            AND sga.XT_ORG_STATUS_ID = '1'
            <if test='orgFlows != null and orgFlows.size()>0'>
                AND sga.ORG_FLOW IN
                <foreach collection="orgFlows" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test='orgFlow!=null and orgFlow!=""'>
                AND sga.ORG_FLOW = #{orgFlow}
            </if>
        </if>
        <if test='catSpeId!=null and catSpeId!=""'>
            and SGA.training_spe_id = #{catSpeId}
        </if>
        <if test='isMakeUp!=null and isMakeUp!=""'>
            and  exists (
            select 1 from Pub_User_Resume where record_status='Y' and user_flow=RD.doctor_flow
            and xmltype(USER_RESUME).extract('//isMakeUp/text()').getstringval() =#{isMakeUp}
            )
        </if>
        <if test='role=="charge"'>
            AND sga.CHARGE_STATUS_ID = '1'
        </if>
        order by sga.modify_time desc
    </select>
    <select id="searchDoctorRecruitExtList"  parameterType="java.util.Map" resultType="java.util.Map">
        select u.USER_NAME, u.ID_NO, u.SEX_NAME, u.USER_PHONE,u.CRET_TYPE_ID, dr.cat_spe_name, dr.spe_name, dr.second_spe_name,
        u.org_flow,u.org_name,ed.session_number,ed.training_years,ed.doctor_flow
        from pdsci.RES_DOCTOR_RECRUIT dr
        left join  pdsci.SYS_USER u
        on dr.DOCTOR_FLOW =  u.USER_FLOW
        left join  RES_DOCTOR ed
        on dr.DOCTOR_FLOW =  ed.DOCTOR_FLOW
        where dr.RECORD_STATUS= 'Y' and u.RECORD_STATUS= 'Y' and dr.RECORD_STATUS= 'Y'
        and dr.org_flow in(
        SELECT ORG_FLOW
        FROM PDSCI.SYS_ORG
        WHERE PDSCI.SYS_ORG.RECORD_STATUS='Y'
        <if test='planFlag=="Y"'>
            and dr.return_Back_Flag = 'Y'
        </if>
        <if test='planFlag=="N"'>
            and dr.return_Back_Flag is null
        </if>
        <if test="sysOrg!=null">
            <if test="sysOrg.orgProvId!=null and sysOrg.orgProvId!=''">
                AND ORG_PROV_ID = #{sysOrg.orgProvId}
            </if>
            <if test="sysOrg.orgCityId!=null and sysOrg.orgCityId!=''">
                AND ORG_CITY_ID = #{sysOrg.orgCityId}
            </if>
            <if test="sysOrg.orgFlow!=null and sysOrg.orgFlow!=''">
                AND ORG_FLOW = #{sysOrg.orgFlow}
            </if>
            <if test="sysOrg.orgLevelId!=null and sysOrg.orgLevelId!=''">
                AND ORG_LEVEL_ID = #{sysOrg.orgLevelId}
            </if>
            <if test="sysOrg.orgTypeId!=null and sysOrg.orgTypeId!=''">
                AND ORG_TYPE_ID = #{sysOrg.orgTypeId}
            </if>
        </if>
        <if test="jointOrgFlowList!=null and jointOrgFlowList.size>0">
            and dr.ORG_FLOW in
            <foreach collection="jointOrgFlowList" open="(" separator="," close=")" item="item">#{item}</foreach>
        </if>
        )
        <if test="resDoctorRecruit!=null">
            <if test="resDoctorRecruit.sessionNumber!=null and resDoctorRecruit.sessionNumber!=''">
                and dr.SESSION_NUMBER = #{resDoctorRecruit.sessionNumber}
            </if>
            <if test="trainTypeIdList!=null and trainTypeIdList.size>0">
                and dr.cat_spe_id in
                <foreach collection="trainTypeIdList" open="(" separator="," close=")" item="item">#{item}</foreach>
            </if>
            <if test="resDoctorRecruit.catSpeId!=null and resDoctorRecruit.catSpeId!=''">
                and dr.cat_Spe_Id = #{resDoctorRecruit.catSpeId}
            </if>
            <if test="resDoctorRecruit.speId!=null and resDoctorRecruit.speId!=''">
                and dr.SPE_ID = #{resDoctorRecruit.speId}
            </if>
            <if test="resDoctorRecruit.secondSpeId!=null and resDoctorRecruit.secondSpeId!=''">
                and dr.SECOND_SPE_ID = #{resDoctorRecruit.secondSpeId}
            </if>
            <if test='resDoctorRecruit.orgFlow!=null and resDoctorRecruit.orgFlow!=""'>
                and dr.ORG_FLOW = #{resDoctorRecruit.orgFlow}
            </if>
            <if test="resDoctorRecruit.graduationYear!=null and resDoctorRecruit.graduationYear!=''">
                and dr.GRADUATION_YEAR=#{resDoctorRecruit.graduationYear}
            </if>
            <if test="resDoctorRecruit.auditStatusId!=null and resDoctorRecruit.auditStatusId!=''">
                and dr.AUDIT_STATUS_ID=#{resDoctorRecruit.auditStatusId}
            </if>
            <if test="resDoctorRecruit.recruitFlag!=null and resDoctorRecruit.recruitFlag!=''">
                and dr.RECRUIT_FLAG=#{resDoctorRecruit.recruitFlag}
            </if>
            <if test="resDoctorRecruit.confirmFlag!=null and resDoctorRecruit.confirmFlag!=''">
                and dr.CONFIRM_FLAG=#{resDoctorRecruit.confirmFlag}
            </if>
        </if>
        <if test="derateFlag!=null and resDoctorRecruit.trainYear!=null and resDoctorRecruit.trainYear!='' ">
            and dr.TRAIN_YEAR not in (#{resDoctorRecruit.trainYear})
        </if>
        <if test="user!=null">
            <if test="user.userName!=null and user.userName!=''">
                <bind name="userName" value="'%'+user.userName+'%'"/>
                and u.USER_NAME like #{userName}
            </if>
            <if test="user.idNo!=null and user.idNo!=''">
                <bind name="idNo" value="'%'+user.idNo+'%'"/>
                and u.ID_NO like #{idNo}
            </if>
        </if>
        <if test="doctor!=null">
            <if test="trainTypeIdList!=null and trainTypeIdList.size>0">
                and dr.cat_spe_id in
                <foreach collection="trainTypeIdList" open="(" separator="," close=")" item="item">#{item}</foreach>
            </if>
            <if test="doctor.trainingSpeId!=null and doctor.trainingSpeId!=''">
                and dr.SPE_ID = #{doctor.trainingSpeId}
            </if>
            <if test="doctor.sessionNumber!=null and doctor.sessionNumber!=''">
                and dr.SESSION_NUMBER = #{doctor.sessionNumber}
            </if>
            <if test="docTypeList!=null and docTypeList.size>0">
                and ed.DOCTOR_TYPE_ID in
                <foreach collection="docTypeList" open="(" separator="," close=")" item="item">#{item}</foreach>
            </if>
            <if test="doctor.doctorTypeId!=null and doctor.doctorTypeId!=''">
                and ed.DOCTOR_TYPE_ID = #{doctor.doctorTypeId}
            </if>
            <if test="doctor.workOrgLevelId!=null and doctor.workOrgLevelId!=''">
                and ed.WORK_ORG_LEVEL_ID = #{doctor.workOrgLevelId}
            </if>
            <if test="doctor.isYearGraduate!=null and doctor.isYearGraduate!=''">
                and ed.IS_YEAR_GRADUATE = #{doctor.isYearGraduate}
            </if>
            <if test="doctor.workOrgName!=null and doctor.workOrgName!=''">
                and (
                <trim prefix="" prefixOverrides="OR">
                    <if test="(doctor.workOrgId != null and doctor.workOrgId != '')">OR ed.work_org_id = #{doctor.workOrgId}</if>
                    <if test="(doctor.workOrgName != null and doctor.workOrgName != '')">OR ed.work_org_name = #{doctor.workOrgName}</if>
                </trim>
                )
            </if>
            <if test="doctor.doctorStatusId!=null and doctor.doctorStatusId!=''">
                and ed.doctor_Status_Id = #{doctor.doctorStatusId}
            </if>
        </if>
        order by  NLSSORT(u.USER_NAME,'NLS_SORT = SCHINESE_PINYIN_M'),dr.org_flow, dr.doctor_flow,dr.CREATE_TIME desc
    </select>

    <resultMap type="java.util.Map" id="resultMap">
        <result column="user_resume" jdbcType="CLOB" property="USER_RESUME" javaType="string"/>
    </resultMap>
    <select id="searchDoctorRecruitExtListWithClob"  parameterType="java.util.Map" resultMap="resultMap">
        select u.USER_NAME, u.ID_NO, u.SEX_NAME, u.USER_PHONE,u.CRET_TYPE_ID, dr.cat_spe_name, dr.spe_name, dr.second_spe_name,
        u.org_flow,u.org_name,ed.session_number,ed.training_years,ed.doctor_flow,pur.USER_RESUME,ed.doctor_License_Flag,
        ed.IS_PARTNER,ed.DOCTOR_TYPE_NAME,ed.work_org_name,u.user_Birthday,u.Nation_Name,u.user_email,u.user_QQ,ed.qualified_No,
        dr.recruit_date,ed.graduated_Name,ed.graduation_Time,ed.specialized,dr.DOCTOR_STATUS_NAME,ed.Source_Provinces_Name,
        ed.DOCTOR_TYPE_ID
        from pdsci.RES_DOCTOR_RECRUIT dr
        left join  pdsci.SYS_USER u
        on dr.DOCTOR_FLOW =  u.USER_FLOW
        left join  RES_DOCTOR ed
        on dr.DOCTOR_FLOW =  ed.DOCTOR_FLOW
        left join PUB_USER_RESUME pur
        on pur.user_flow = u.USER_FLOW
        where dr.RECORD_STATUS= 'Y' and u.RECORD_STATUS= 'Y' and dr.RECORD_STATUS= 'Y' and pur.RECORD_STATUS= 'Y'
        and dr.org_flow in(
        SELECT ORG_FLOW
        FROM PDSCI.SYS_ORG
        WHERE PDSCI.SYS_ORG.RECORD_STATUS='Y'
        <if test='planFlag=="Y"'>
            and dr.return_Back_Flag = 'Y'
        </if>
        <if test='planFlag=="N"'>
            and dr.return_Back_Flag is null
        </if>
        <if test="sysOrg!=null">
            <if test="sysOrg.orgProvId!=null and sysOrg.orgProvId!=''">
                AND ORG_PROV_ID = #{sysOrg.orgProvId}
            </if>
            <if test="sysOrg.orgCityId!=null and sysOrg.orgCityId!=''">
                AND ORG_CITY_ID = #{sysOrg.orgCityId}
            </if>
            <if test="sysOrg.orgFlow!=null and sysOrg.orgFlow!=''">
                AND ORG_FLOW = #{sysOrg.orgFlow}
            </if>
            <if test="sysOrg.orgLevelId!=null and sysOrg.orgLevelId!=''">
                AND ORG_LEVEL_ID = #{sysOrg.orgLevelId}
            </if>
            <if test="sysOrg.orgTypeId!=null and sysOrg.orgTypeId!=''">
                AND ORG_TYPE_ID = #{sysOrg.orgTypeId}
            </if>
        </if>
        <if test="jointOrgFlowList!=null and jointOrgFlowList.size>0">
            and dr.ORG_FLOW in
            <foreach collection="jointOrgFlowList" open="(" separator="," close=")" item="item">#{item}</foreach>
        </if>
        )
        <if test="resDoctorRecruit!=null">
            <if test="resDoctorRecruit.sessionNumber!=null and resDoctorRecruit.sessionNumber!=''">
                and dr.SESSION_NUMBER = #{resDoctorRecruit.sessionNumber}
            </if>
            <if test="trainTypeIdList!=null and trainTypeIdList.size>0">
                and dr.cat_spe_id in
                <foreach collection="trainTypeIdList" open="(" separator="," close=")" item="item">#{item}</foreach>
            </if>
            <if test="resDoctorRecruit.catSpeId!=null and resDoctorRecruit.catSpeId!=''">
                and dr.cat_Spe_Id = #{resDoctorRecruit.catSpeId}
            </if>
            <if test="resDoctorRecruit.speId!=null and resDoctorRecruit.speId!=''">
                and dr.SPE_ID = #{resDoctorRecruit.speId}
            </if>
            <if test="resDoctorRecruit.secondSpeId!=null and resDoctorRecruit.secondSpeId!=''">
                and dr.SECOND_SPE_ID = #{resDoctorRecruit.secondSpeId}
            </if>
            <if test='resDoctorRecruit.orgFlow!=null and resDoctorRecruit.orgFlow!=""'>
                and dr.ORG_FLOW = #{resDoctorRecruit.orgFlow}
            </if>
            <if test="resDoctorRecruit.graduationYear!=null and resDoctorRecruit.graduationYear!=''">
                and dr.GRADUATION_YEAR=#{resDoctorRecruit.graduationYear}
            </if>
            <if test="resDoctorRecruit.auditStatusId!=null and resDoctorRecruit.auditStatusId!=''">
                and dr.AUDIT_STATUS_ID=#{resDoctorRecruit.auditStatusId}
            </if>
            <if test="resDoctorRecruit.recruitFlag!=null and resDoctorRecruit.recruitFlag!=''">
                and dr.RECRUIT_FLAG=#{resDoctorRecruit.recruitFlag}
            </if>
            <if test="resDoctorRecruit.confirmFlag!=null and resDoctorRecruit.confirmFlag!=''">
                and dr.CONFIRM_FLAG=#{resDoctorRecruit.confirmFlag}
            </if>
        </if>
        <if test="derateFlag!=null and resDoctorRecruit.trainYear!=null and resDoctorRecruit.trainYear!='' ">
            and dr.TRAIN_YEAR not in (#{resDoctorRecruit.trainYear})
        </if>
        <if test="user!=null">
            <if test="user.userName!=null and user.userName!=''">
                <bind name="userName" value="'%'+user.userName+'%'"/>
                and u.USER_NAME like #{userName}
            </if>
            <if test="user.idNo!=null and user.idNo!=''">
                <bind name="idNo" value="'%'+user.idNo+'%'"/>
                and u.ID_NO like #{idNo}
            </if>
        </if>
        <if test="doctor!=null">
            <if test="trainTypeIdList!=null and trainTypeIdList.size>0">
                and dr.cat_spe_id in
                <foreach collection="trainTypeIdList" open="(" separator="," close=")" item="item">#{item}</foreach>
            </if>
            <if test="doctor.trainingSpeId!=null and doctor.trainingSpeId!=''">
                and dr.SPE_ID = #{doctor.trainingSpeId}
            </if>
            <if test="doctor.sessionNumber!=null and doctor.sessionNumber!=''">
                and dr.SESSION_NUMBER = #{doctor.sessionNumber}
            </if>
            <if test="docTypeList!=null and docTypeList.size>0">
                and ed.DOCTOR_TYPE_ID in
                <foreach collection="docTypeList" open="(" separator="," close=")" item="item">#{item}</foreach>
            </if>
            <if test="doctor.doctorTypeId!=null and doctor.doctorTypeId!=''">
                and ed.DOCTOR_TYPE_ID = #{doctor.doctorTypeId}
            </if>
            <if test="doctor.workOrgLevelId!=null and doctor.workOrgLevelId!=''">
                and ed.WORK_ORG_LEVEL_ID = #{doctor.workOrgLevelId}
            </if>
            <if test="doctor.isYearGraduate!=null and doctor.isYearGraduate!=''">
                and ed.IS_YEAR_GRADUATE = #{doctor.isYearGraduate}
            </if>
            <if test="doctor.workOrgName!=null and doctor.workOrgName!=''">
                and (
                <trim prefix="" prefixOverrides="OR">
                    <if test="(doctor.workOrgId != null and doctor.workOrgId != '')">OR ed.work_org_id = #{doctor.workOrgId}</if>
                    <if test="(doctor.workOrgName != null and doctor.workOrgName != '')">OR ed.work_org_name = #{doctor.workOrgName}</if>
                </trim>
                )
            </if>
            <if test="doctor.doctorStatusId!=null and doctor.doctorStatusId!=''">
                and ed.doctor_Status_Id = #{doctor.doctorStatusId}
            </if>
        </if>
        order by  NLSSORT(u.USER_NAME,'NLS_SORT = SCHINESE_PINYIN_M'),dr.org_flow, dr.doctor_flow,dr.CREATE_TIME desc
    </select>
</mapper>