<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.recruit.RecruitCfgInfoExtMapper">

    <select id="searchAllRecruitYear" resultType="java.lang.String">
        select RECRUIT_YEAR from RECRUIT_CFG_INFO
    where
    RECORD_STATUS = 'Y'
        <if test="orgFlow !=null and orgFlow !=''">
            AND ORG_FLOW = #{orgFlow}
        </if>
    order by MODIFY_TIME DESC
  </select>

    <update id="changeIsRecruit">
        update RECRUIT_CFG_INFO set IS_RECRUIT = 'N'
        where
        RECORD_STATUS = 'Y'
        <if test="orgFlow !=null and orgFlow !=''">
            AND ORG_FLOW = #{orgFlow}
        </if>
    </update>
</mapper>