@charset "utf-8";
/* CSS Document */

body{margin:0;padding:0;font-family:"Microsoft YaHei"}
a{text-decoration:none;color:#000000;cursor:pointer}
ul,li{margin:0;padding:0;list-style:none;}
p{margin:0;padding:0;}
.fl{float:left}
.fr{float:right;}
h1,h2,h3{font-weight:normal;margin:0;padding:0;}
img{border:none;margin:0;padding:0;}

/*top*/
.centerbox{width:1000px;margin:auto;}
.banner{width:100px;height:258px;}
.nav{background:url(../images/navbg.png);height:40px;overflow:hidden;padding-left:24px;box-shadow:0 2px 3px #c6c6c6;}
.nav a{float:left;padding:0 12px;line-height:40px;color:#ffffff;font-size:16px;}
.nav a:hover{float:left;padding:0 12px;line-height:40px;color:#1a1a1a;background:url(../images/navbg3.png);}
.nav .current{color:#1a1a1a;background:url(../images/navbg3.png);}

/*news*/
.news{overflow:hidden;margin-top:14px;}
.newleft{width:322px;height:272px;}
.newleft a{height:58px;width:310px;display:block;border-radius:3px;margin-top:9px;margin-left:11px;}
.newleft .icon1{background:url(../images/login1.png)}
.newleft .icon1:hover{background:url(../images/login1_1.png)}
.newleft .icon2{background:url(../images/login2.png)}
.newleft .icon2:hover{background:url(../images/login2_1.png)}
.newleft .icon3{background:url(../images/login3.png)}
.newleft .icon3:hover{background:url(../images/login3_1.png)}
.newleft .icon4{background:url(../images/login4.png)}
.newleft .icon4:hover{background:url(../images/login4_1.png)}
.newright{width:663px;border:1px solid #e0e0e0;overflow:hidden;}
.title{height:36px;background:url(../images/titlebg.png);overflow:hidden;}
.title span{color:#ffffff;font-size:16px;padding-left:20px;margin-left:15px;background:url(../images/titlepic.png) no-repeat left center;line-height:36px;}
.title a{color:#ffffff;font-size:14px;margin-right:25px;line-height:36px;}
.title a:hover{text-decoration:underline;}
.newpic{width:308px;hieght:206px;margin-top:18px;margin-left:12px;}
.newtext{width:316px;margin-top:18px;margin-right:12px;padding-bottom:8px;}
.newtext li{border-bottom:1px dotted #d6d6d6;}
.newtext li a{font-size:14px;color:#282828;line-height:27px;margin-left:12px;padding-left:16px;background:url(../images/pic.png) no-repeat left center;width:280px;overflow:hidden;white-space:nowrap; text-overflow:ellipsis;display:block}
.newtext li a:hover{color:#0589d0;text-decoration:underline}
.newtext li .first{font-size:15px;color:#0589d0;margin-left:27px;background:none;padding:0;}
.newtext li .first:hover{text-decoration:underline}
.newtext li p{font-size:12px;color:#282828;line-height:18px;margin-bottom:6px}

/*content*/
.content{margin-top:14px;overflow:hidden;}
.left{width:320px;border:1px solid #e0e0e0;height:249px;}
.text{padding:0 12px;margin-top:12px;}
.text li{border-bottom:1px dotted #d6d6d6;}
.text .none{border:none}
.text li a{font-size:14px;color:#282828;line-height:27px;padding-left:16px;background:url(../images/pic.png) no-repeat left center;width:270px;overflow:hidden;white-space:nowrap; text-overflow:ellipsis;display:block}
.text li a:hover{color:#0589d0;text-decoration:underline}

.right{width:663px;border:1px solid #e0e0e0;height:249px;position:relative;}
#tags{height:36px;background:url(../images/titlebg.png);padding-left:8px;}
#tags li{float:left;}
#tags li a{padding:0 20px;border-radius:3px 3px 0 0;color:#ffffff;font-size:16px;line-height:32px;margin-top:4px;display:block;}
#tags .selectTag a{background:url(../images/tagbg.png);color:#282828;}
#tagss{height:36px;background:url(../images/titlebg.png);padding-left:8px;}
#tagss li{float:left;}
#tagss li a{padding:0 20px;border-radius:3px 3px 0 0;color:#ffffff;font-size:16px;line-height:32px;margin-top:4px;display:block;}
#tagss .selecttag a{background:url(../images/tagbg.png);color:#282828;}
.inquiry{overflow:hidden;padding:0 12px;margin-top:12px;}
.inquiry .mmore{position:absolute;top:10px;right:25px;font-size:14px;color:#ffffff;}
.inquiry .mmore:hover{text-decoration:underline;}
.inquiry li{border-bottom:1px dotted #d6d6d6;overflow:hidden;}
.inquiry li a{float:left;font-size:14px;color:#282828;line-height:27px;padding-left:16px;background:url(../images/pic.png) left center no-repeat;width:400px;overflow:hidden;white-space:nowrap; text-overflow:ellipsis;display:block}
.inquiry li a:hover{color:#0589d0;text-decoration:underline}
.inquiry li span{float:right;font-size:14px;color:#282828;line-height:27px;}
.inquiry .none{border:none}

/*link*/
.link{overflow:hidden;margin-top:14px;border:1px solid #e0e0e0;background:url(../images/linkbg.png);}
.link span,.link a{float:left;display:block;}
.link span{width:45px;height:80px;}
.link a{width:168px;height:54px;border:1px solid #cfcfcf;margin-top:12px;margin-left:18px;}
.link a:hover{border:1px solid #0589d0;}
/*footer*/
.footerbox{background:#f8f8f8;}
.footer{margin-top:14px;height:90px;background:url(../images/footerbg.png) top repeat-x;}
.footer span{display:block;font-size:14px;color:#454545;text-align:center;line-height:28px;padding-top:20px;}



/*sonnews*/
.sonbox{margin-top:14px;overflow:hidden;height:720px;}
/*.sonleft{width:286px;}*/

.sonright{width:1000px;}
.sontitle{border-bottom:2px solid #d6d6d6;overflow:hidden}
.sonnewtitle{font-size:28px;color:#0091e1;line-height:48px;padding-left:20px;background:url(../images/titlepic2.png) no-repeat left center;}
.sonnewnap,.sonnewnap a{font-size:14px;color:#282828;line-height:48px;}
.sonnewnap a:hover{text-decoration:underline}
.sonnewcon{margin-top:10px;}
.sonnewcon li{border-bottom:1px dotted #d6d6d6;overflow:hidden}
.sonnewcon li a{font-size:16px;line-height:38px;float:left;color:#282828;padding-left:16px;background:url(../images/pic.png) no-repeat left center;width:800px;overflow:hidden;white-space:nowrap; text-overflow:ellipsis;display:block}
.sonnewcon li a:hover{color:#0589d0;text-decoration:underline}
.sonnewcon li span{font-size:16px;line-height:38px;float:right;color:#282828;}
.fy{ line-height:20px; font-size:13px; margin-top:30px;}
.fy a,.fy input{ margin-left:5px; display:inline; float:left; padding:0 7px; border:1px solid #e1e1e1;color:#484848; cursor:pointer;}
.fy input{ height:22px; background:none; }
.fy a.fyon{ color:#fff; background:#0589d0; border:1px solid #0589d0;}
.fy a:hover{ border:1px solid #0589d0;}


/*三级新闻*/
.soncon{margin-top:14px;overflow:hidden;}
.newcon{width:920px;margin:auto;padding:20px 40px;;overflow:hidden;border-bottom:1px solid #d6d6d6;}
.newcon p{margin-top:20px;font-size:14px;color:#6a6a6a;line-height:24px;text-indent:30px;}
.newcontitle{font-size:28px;display:block;text-align:center;color:#282828;line-height:48px;}
.newcontime{font-size:14px;display:block;text-align:center;color:#aaaaaa;line-height:21px;margin-top:10px;}
.fright{overflow:hidden;margin-top:14px;}
.fright span,.fright span a{font-size:14px;}
.fright span a{color:#0589d0}
.fright span a:hover{text-decoration:underline}