<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.hbres.HbresDoctorRecruitExtMapper">
    <resultMap id="speCountForm" type="com.pinde.sci.form.hbres.ResDoctorTrainingSpeForm">
        <result column="speId" jdbcType="VARCHAR" property="speId"/>
        <result column="doctorCount" jdbcType="VARCHAR" property="doctorCount"/>
    </resultMap>
    <select id="searchRegisterStatistics" parameterType="java.util.Map" resultMap="speCountForm">
        select
        SPE_ID speId, nvl(count(SPE_ID), 0) doctorCount
        from pdsci.RES_DOCTOR_RECRUIT
        where RECORD_STATUS = 'Y'
        and RECRUIT_FLAG = 'Y'
        and CONFIRM_FLAG = 'Y'
        <if test='doctorRecruit.orgFlow != null and doctorRecruit.orgFlow != ""'>
            and ORG_FLOW = #{doctorRecruit.orgFlow}
        </if>
        <if test='doctorRecruit.recruitYear != null and doctorRecruit.recruitYear != ""'>
            AND RECRUIT_YEAR = #{doctorRecruit.recruitYear}
        </if>
        GROUP by SPE_ID
        ORDER BY SPE_ID
    </select>
    <resultMap id="examDocMap" type="com.pinde.sci.model.mo.ResExamDoctor">
        <result column="SITE_CODE" jdbcType="VARCHAR" property="siteCode"/>
        <result column="SITE_NAME" jdbcType="VARCHAR" property="siteName"/>
        <result column="TICKET_NUM" jdbcType="VARCHAR" property="ticketNum"/>
        <result column="TICKET_PRINT_FLAG" jdbcType="VARCHAR" property="ticketPrintFlag"/>
        <result column="EXAM_RESULT" jdbcType="VARCHAR" property="examResult"/>
    </resultMap>
    <select id="searchExamByDoctor" parameterType="java.lang.String" resultMap="examDocMap">
        SELECT
        DISTINCT SITE_CODE,SITE_NAME,TICKET_NUM,TICKET_PRINT_FLAG,EXAM_RESULT
        FROM PDSCI.RES_EXAM_DOCTOR
        WHERE RECORD_STATUS = 'Y'
        AND DOCTOR_FLOW = #{doctorFlow}
    </select>

    <resultMap id="recruitDocCountMap" type="HashMap">
        <result column="K" jdbcType="VARCHAR" property="k"  javaType="string"/>
        <result column="V" jdbcType="VARCHAR" property="v"  javaType="integer"/>
    </resultMap>
    <select id="getRecruitDocCount" resultMap="recruitDocCountMap">
        select org_flow||spe_id K,count(0) V
        from res_doctor_recruit
        where record_status = 'Y'
              and confirm_flag = 'Y'
              and recruit_year = #{assignYear}
              <if test='orgFlow!=null and orgFlow!=""'>
                  and org_flow = #{orgFlow}
              </if>
        group by org_flow,spe_id
    </select>

    <resultMap id="swapDocInfo" type="HashMap">
        <result column="user_name" jdbcType="VARCHAR" property="userName"  javaType="string"/>
        <result column="exam_result" jdbcType="VARCHAR" property="examResult"  javaType="string"/>
        <result column="doctor_type_name" jdbcType="VARCHAR" property="doctorTypeName"  javaType="string"/>
        <result column="education_name" jdbcType="VARCHAR" property="educationName"  javaType="string"/>
        <result column="swap_org_name" jdbcType="VARCHAR" property="swapOrgName"  javaType="string"/>
        <result column="swap_spe_name" jdbcType="VARCHAR" property="swapSpeName"  javaType="string"/>
        <result column="recruit_flow" jdbcType="VARCHAR" property="recruitFlow"  javaType="string"/>
        <result column="work_org_name" jdbcType="VARCHAR" property="workOrgName"  javaType="string"/>
        <result column="qualified_no" jdbcType="VARCHAR" property="qualifiedNo"  javaType="string"/>
        <result column="doctor_flow" jdbcType="VARCHAR" property="doctorFlow"  javaType="string"/>
        <result column="admin_swap_flag" jdbcType="VARCHAR" property="adminSwapFlag"  javaType="string"/>
        <result column="training_org_flow" jdbcType="VARCHAR" property="trainingOrgFlow"  javaType="string"/>
        <result column="training_org_name" jdbcType="VARCHAR" property="trainingOrgName"  javaType="string"/>
        <result column="recruit_flag" jdbcType="VARCHAR" property="recruitFlag"  javaType="string"/>
    </resultMap>
    <select id="searchSwapDocList" resultMap="swapDocInfo">
        select su.user_name user_name,
        red.exam_result exam_result,rd.doctor_type_name doctor_type_name,
        su.education_name education_name,rdr.org_name swap_org_name,
        rdr.spe_name swap_spe_name,rdr.recruit_flow recruit_flow,rd.work_org_name work_org_name,
        rd.doctor_License_No qualified_no,rd.doctor_flow doctor_flow,rdr.admin_swap_flag admin_swap_flag,
        rd.org_flow training_org_flow,rd.org_name training_org_name,rdr.recruit_flag recruit_flag
        from res_exam_doctor red
        inner join sys_user su
          on red.doctor_flow = su.user_flow
        inner join res_doctor rd
          on red.doctor_flow = rd.doctor_flow
        inner join res_grade_borderline rgb
          on rgb.exam_flow = red.exam_flow
          and rgb.spe_id = rd.specialized
          and red.exam_result >= rgb.grade_borderline
        left join res_doctor_recruit rdr
          on red.doctor_flow = rdr.doctor_flow
          and rdr.admin_swap_flag = 'Y'
          and rdr.recruit_flag is null
          and rdr.record_status = 'Y'
        where su.record_status = 'Y'
          and rd.record_status = 'Y'
          and red.record_status = 'Y'
          and not exists(
            select null from res_doctor_recruit rdr2
            where rdr2.record_status = 'Y'
            and rdr2.doctor_flow = rd.doctor_flow
            and rdr2.confirm_flag = 'Y'
          )
          <if test='userName!=null and userName!=""'>
              and su.user_name like CONCAT(CONCAT('%', #{userName}),'%')
          </if>
          <if test='userPhone!=null and userPhone!=""'>
              and su.user_phone = #{userPhone}
          </if>
          <if test='userEmail!=null and userEmail!=""'>
              and su.user_email = #{userEmail}
          </if>
          <if test='idNo!=null and idNo!=""'>
              and su.id_no = #{idNo}
          </if>
          <if test='isSwap!=null and isSwap=="Y"'>
              and rdr.admin_swap_flag = 'Y'
          </if>
          <if test='isNotRecruitDoc!=null and isNotRecruitDoc=="Y"'>
              and exists (
                  select null from res_doctor_recruit rdr3
                  where rdr3.record_status = 'Y'
                  and rdr3.doctor_flow = rd.doctor_flow
                  and rdr3.recruit_flag = 'N'
              )
          </if>
          <if test='assignYear!=null and assignYear!=""'>
              and exists(
                  select null from res_exam re
                  where red.exam_flow = re.exam_flow
                  and re.exam_year = #{assignYear}
                  and re.record_status = 'Y'
              )
          </if>
        order by red.exam_result desc,NLSSORT(su.user_name,'NLS_SORT = SCHINESE_PINYIN_M')
    </select>

    <select id="getAdminSwapCount" resultMap="recruitDocCountMap">
        select spe_id K,count(0) V
        from res_doctor_recruit
        where record_status = 'Y'
        and admin_swap_flag = 'Y'
        and recruit_year = #{assignYear}
        <if test='orgFlow!=null and orgFlow!=""'>
            and org_flow = #{orgFlow}
        </if>
        group by spe_id
    </select>

    <select id="searchRegistList" resultType="java.util.Map" parameterType="java.util.Map">
        select su.user_name,su.id_no,su.sex_name,rd.session_number,rd.doctor_category_name,rrr.spe_name,rrr.audit_status_id,
                rrr.audit_status_name,rrr.doctor_flow,rrr.record_flow,rrr.audit_info
        from sys_user su
        INNER join res_doctor rd on su.user_flow = rd.doctor_flow
        inner join res_recruit_register rrr on rrr.doctor_flow = rd.doctor_flow
        where su.record_status = 'Y' and rd.record_status = 'Y' and rrr.record_status = 'Y'
        <if test='orgFlow!=null and orgFlow!=""'>
            and rrr.org_flow = #{orgFlow}
        </if>
        <if test='recruitYear!=null and recruitYear!=""'>
            and rrr.RECRUIT_YEAR = #{recruitYear}
        </if>
        <if test='userName!=null and userName!=""'>
            and su.user_name like CONCAT(CONCAT('%', #{userName}),'%')
        </if>
        <if test='idNo!=null and idNo!=""'>
            and su.id_no like CONCAT(CONCAT('%', #{idNo}),'%')
        </if>
        <if test='speId!=null and speId!=""'>
            and rrr.spe_id = #{speId}
        </if>
        <if test='doctorTypeId!=null and doctorTypeId!=""'>
            and rd.doctor_type_id = #{doctorTypeId}
        </if>
        <if test='sessionNumber!=null and sessionNumber!=""'>
            and rd.session_number = #{sessionNumber}
        </if>
        <if test='auditStatusId!=null and auditStatusId!=""'>
            and rrr.AUDIT_STATUS_ID = #{auditStatusId}
        </if>
        <if test='isUnderLine=="Y"'>
            and rd.is_under_line = 'Y'
        </if>
        <if test='isUnderLine=="N"'>
            and (rd.is_under_line = 'N' or rd.is_under_line is null)
        </if>
        <if test="docTypeList!=null and docTypeList.size>0">
            and rd.DOCTOR_TYPE_ID in
            <foreach collection="docTypeList" open="(" separator="," close=")" item="item">#{item}</foreach>
        </if>
        order by NLSSORT(su.user_name,'NLS_SORT = SCHINESE_PINYIN_M')
    </select>
    <resultMap id="DoctorScoreRecruit" type="com.pinde.sci.model.jsres.JsResDoctorRecruitExt" extends="com.pinde.sci.dao.base.ResDoctorRecruitMapper.BaseResultMap" >
        <association property="sysUser" column="user_flow"  resultMap="com.pinde.sci.dao.base.SysUserMapper.BaseResultMap" />
        <association property="resScore" column="user_flow"  resultMap="com.pinde.sci.dao.base.ResScoreMapper.ResultMapWithBLOBs" />
        <association property="resDoctor" column="doctorFlow"  resultMap="com.pinde.sci.dao.base.ResDoctorMapper.BaseResultMap" />
    </resultMap>
    <select id="searchJsDoctorScoreExtList"  parameterType="java.util.Map" resultMap="DoctorScoreRecruit">
        select score.score_flow,score.theory_score,score.skill_score,score.ext_score,u.USER_FLOW, u.USER_CODE, u.USER_NAME, u.SEX_ID, u.SEX_NAME, u.USER_PHONE, u.USER_EMAIL
        , u.ID_NO, u.USER_BIRTHDAY, u.TITLE_ID, u.TITLE_NAME, u.DEGREE_ID, u.DEGREE_NAME, u.EDUCATION_ID, u.EDUCATION_NAME, u.POST_ID, u.POST_NAME,ed.*,u.user_flow recruit_Flow
        from pdsci.res_score score
        left join  pdsci.SYS_USER u
        on score.DOCTOR_FLOW =  u.USER_FLOW
        left join  RES_DOCTOR ed
        on score.DOCTOR_FLOW =  ed.DOCTOR_FLOW
        left join sys_org org on org.org_flow=ed.org_flow
        where score.RECORD_STATUS= 'Y' and u.RECORD_STATUS= 'Y' and  ed.RECORD_STATUS= 'Y'
            AND ed.DOCTOR_CATEGORY_ID = 'Doctor'
            AND (ed.DOCTOR_STATUS_ID NOT IN ('UnPassed', 'Passed', 'UnSubmit')
            OR ed.DOCTOR_STATUS_ID IS NULL)
            AND ed.org_flow IS NOT NULL
            AND ed.org_flow != '20160914888888'
            AND ed.org_flow != '566c9f36cf014f63a569b453efa284d7'
            AND ed.org_flow != '00000000000000000000000000000000'
        and  EXISTS (
        SELECT null
        FROM PDSCI.SYS_ORG
        WHERE PDSCI.SYS_ORG.RECORD_STATUS='Y'
        <if test="sysOrg!=null">
            <if test="sysOrg.orgProvId!=null and sysOrg.orgProvId!=''">
                AND ORG_PROV_ID = #{sysOrg.orgProvId}
            </if>
            <if test="sysOrg.orgCityId!=null and sysOrg.orgCityId!=''">
                AND ORG_CITY_ID = #{sysOrg.orgCityId}
            </if>
            <if test="sysOrg.orgFlow!=null and sysOrg.orgFlow!=''">
                AND ORG_FLOW = #{sysOrg.orgFlow}
            </if>
            <if test="sysOrg.orgLevelId!=null and sysOrg.orgLevelId!=''">
                AND ORG_LEVEL_ID = #{sysOrg.orgLevelId}
            </if>
            <if test="sysOrg.orgTypeId!=null and sysOrg.orgTypeId!=''">
                AND ORG_TYPE_ID = #{sysOrg.orgTypeId}
            </if>
        </if>
        <if test="jointOrgFlowList!=null and jointOrgFlowList.size>0">
            and ORG_FLOW in
            <foreach collection="jointOrgFlowList" open="(" separator="," close=")" item="item">#{item}</foreach>
        </if>
        and ed.org_flow=org_flow
        )
        <if test="docTypeList!=null and docTypeList.size>0">
            and ed.DOCTOR_TYPE_ID in
            <foreach collection="docTypeList" open="(" separator="," close=")" item="item">#{item}</foreach>
        </if>
        <if test="resDoctorRecruit!=null">
            <if test="resDoctorRecruit.graduationYear!=null and resDoctorRecruit.graduationYear!=''">
                and ed.GRADUATION_YEAR=#{resDoctorRecruit.graduationYear}
            </if>
        </if>
        <if test="scoreYear!=null and scoreYear!=''">
            and score.SCORE_PHASE_ID = #{scoreYear}
        </if>
        <if test="typeId!=null and typeId!=''">
            and score.SCORE_TYPE_ID = #{typeId}
        </if>
        <if test="isHege!=null and isHege!=''">
            <if test="isHege=='Y'.toString()">
                and score.theory_score >= #{hegeScore}
            </if>
            <if test="isHege=='N'.toString()">
                and not (score.theory_score >= #{hegeScore})
            </if>
        </if>
        <if test="user!=null">
            <if test="user.userName!=null and user.userName!=''">
                <bind name="userName" value="'%'+user.userName+'%'"/>
                and u.USER_NAME like #{userName}
            </if>
            <if test="user.idNo!=null and user.idNo!=''">
                <bind name="idNo" value="'%'+user.idNo+'%'"/>
                and u.ID_NO like #{idNo}
            </if>
        </if>
        <if test="derateFlag!=null and resDoctorRecruit.trainYear!=null and resDoctorRecruit.trainYear!='' ">
            and ed.training_years not in (#{resDoctorRecruit.trainYear})
        </if>
        <if test="doctor!=null">
            <if test="doctor.trainingTypeId!=null and doctor.trainingTypeId!=''">
                and ed.training_spe_id = #{doctor.trainingTypeId}
            </if>
            <if test="doctor.trainingYears!=null and doctor.trainingYears!=''">
                and ed.training_years = #{doctor.trainingYears}
            </if>
            <if test="doctor.sessionNumber!=null and doctor.sessionNumber!=''">
                and ed.SESSION_NUMBER = #{doctor.sessionNumber}
            </if>
            <if test="doctor.doctorTypeId!=null and doctor.doctorTypeId!=''">
                and ed.DOCTOR_TYPE_ID = #{doctor.doctorTypeId}
            </if>
        </if>
        order by  org.org_code,score.theory_score desc
    </select>
    <select id="searchDoctorSkillAndTheoryScoreExts"  parameterType="java.util.Map" resultMap="DoctorScoreRecruit">
        select score.SKILL_SCORE_FLOW score_flow,score.theory_score,score.skill_score,score.ext_score,u.USER_FLOW, u.USER_CODE, u.USER_NAME, u.SEX_ID, u.SEX_NAME, u.USER_PHONE, u.USER_EMAIL
        , u.ID_NO, u.USER_BIRTHDAY, u.TITLE_ID, u.TITLE_NAME, u.DEGREE_ID, u.DEGREE_NAME, u.EDUCATION_ID, u.EDUCATION_NAME, u.POST_ID, u.POST_NAME,ed.*,u.user_flow recruit_Flow
        from (
        SELECT  T.DOCTOR_FLOW,T.SCORE_PHASE_ID, A.THEROY_SCORE_FLOW, B.SKILL_SCORE_FLOW,A.THEORY_SCORE,B.SKILL_SCORE,B.EXT_SCORE
        FROM (SELECT DISTINCT S.DOCTOR_FLOW,S.SCORE_PHASE_ID
        FROM RES_SCORE S
        WHERE S.RECORD_STATUS='Y'
        GROUP BY S.DOCTOR_FLOW,S.SCORE_PHASE_ID) T
        LEFT JOIN (SELECT T.SCORE_FLOW THEROY_SCORE_FLOW,
        T.DOCTOR_FLOW,
        T.THEORY_SCORE,
        T.SCORE_PHASE_ID
        FROM RES_SCORE T
        WHERE T.RECORD_STATUS = 'Y'
        AND T.SCORE_TYPE_ID IN ('TheoryScore')) A
        ON T.DOCTOR_FLOW = A.DOCTOR_FLOW
        AND T.SCORE_PHASE_ID = A.SCORE_PHASE_ID
        LEFT JOIN (SELECT T.SCORE_FLOW SKILL_SCORE_FLOW,
        T.DOCTOR_FLOW,
        T.SKILL_SCORE,
        T.EXT_SCORE,
        T.SCORE_PHASE_ID
        FROM RES_SCORE T
        WHERE T.RECORD_STATUS = 'Y'
        AND T.SCORE_TYPE_ID IN ('SkillScore')) B
        ON T.DOCTOR_FLOW = B.DOCTOR_FLOW
        AND T.SCORE_PHASE_ID = B.SCORE_PHASE_ID ) score
        left join  pdsci.SYS_USER u
        on score.DOCTOR_FLOW =  u.USER_FLOW
        left join  RES_DOCTOR ed
        on score.DOCTOR_FLOW =  ed.DOCTOR_FLOW
        left join sys_org org on org.org_flow=ed.org_flow
        where  u.RECORD_STATUS= 'Y' and  ed.RECORD_STATUS= 'Y'
            AND ed.DOCTOR_CATEGORY_ID = 'Doctor'
            AND (ed.DOCTOR_STATUS_ID NOT IN ('UnPassed', 'Passed', 'UnSubmit')
            OR ed.DOCTOR_STATUS_ID IS NULL)
            AND ed.org_flow IS NOT NULL
            AND ed.org_flow != '20160914888888'
            AND ed.org_flow != '566c9f36cf014f63a569b453efa284d7'
            AND ed.org_flow != '00000000000000000000000000000000'
        and  EXISTS (
        SELECT null
        FROM PDSCI.SYS_ORG
        WHERE PDSCI.SYS_ORG.RECORD_STATUS='Y'
        <if test="sysOrg!=null">
            <if test="sysOrg.orgProvId!=null and sysOrg.orgProvId!=''">
                AND ORG_PROV_ID = #{sysOrg.orgProvId}
            </if>
            <if test="sysOrg.orgCityId!=null and sysOrg.orgCityId!=''">
                AND ORG_CITY_ID = #{sysOrg.orgCityId}
            </if>
            <if test="sysOrg.orgFlow!=null and sysOrg.orgFlow!=''">
                AND ORG_FLOW = #{sysOrg.orgFlow}
            </if>
            <if test="sysOrg.orgLevelId!=null and sysOrg.orgLevelId!=''">
                AND ORG_LEVEL_ID = #{sysOrg.orgLevelId}
            </if>
            <if test="sysOrg.orgTypeId!=null and sysOrg.orgTypeId!=''">
                AND ORG_TYPE_ID = #{sysOrg.orgTypeId}
            </if>
        </if>
        <if test="jointOrgFlowList!=null and jointOrgFlowList.size>0">
            and ORG_FLOW in
            <foreach collection="jointOrgFlowList" open="(" separator="," close=")" item="item">#{item}</foreach>
        </if>
        and ed.org_flow=org_flow
        )
        <if test="docTypeList!=null and docTypeList.size>0">
            and ed.DOCTOR_TYPE_ID in
            <foreach collection="docTypeList" open="(" separator="," close=")" item="item">#{item}</foreach>
        </if>
        <if test="resDoctorRecruit!=null">
            <if test="resDoctorRecruit.graduationYear!=null and resDoctorRecruit.graduationYear!=''">
                and ed.GRADUATION_YEAR=#{resDoctorRecruit.graduationYear}
            </if>
        </if>
        <if test="scoreYear!=null and scoreYear!=''">
            and score.SCORE_PHASE_ID = #{scoreYear}
        </if>
        <if test="typeId!=null and typeId!=''">
            and score.SCORE_TYPE_ID = #{typeId}
        </if>
        <if test="isHege!=null and isHege!=''">
            <if test="isHege=='Y'.toString()">
                and score.theory_score >= #{hegeScore}
            </if>
            <if test="isHege=='N'.toString()">
                and not (score.theory_score >= #{hegeScore})
            </if>
        </if>
        <if test="skillIsHege!=null and skillIsHege!=''">
            and score.skill_score = #{skillIsHege}
        </if>
        <if test="user!=null">
            <if test="user.userName!=null and user.userName!=''">
                <bind name="userName" value="'%'+user.userName+'%'"/>
                and u.USER_NAME like #{userName}
            </if>
            <if test="user.idNo!=null and user.idNo!=''">
                <bind name="idNo" value="'%'+user.idNo+'%'"/>
                and u.ID_NO like #{idNo}
            </if>
        </if>
        <if test="derateFlag!=null and resDoctorRecruit.trainYear!=null and resDoctorRecruit.trainYear!='' ">
            and ed.training_years not in (#{resDoctorRecruit.trainYear})
        </if>
        <if test="doctor!=null">
            <if test="doctor.trainingTypeId!=null and doctor.trainingTypeId!=''">
                and ed.training_spe_id = #{doctor.trainingTypeId}
            </if>
            <if test="doctor.trainingYears!=null and doctor.trainingYears!=''">
                and ed.training_years = #{doctor.trainingYears}
            </if>
            <if test="doctor.sessionNumber!=null and doctor.sessionNumber!=''">
                and ed.SESSION_NUMBER = #{doctor.sessionNumber}
            </if>
            <if test="doctor.doctorTypeId!=null and doctor.doctorTypeId!=''">
                and ed.DOCTOR_TYPE_ID = #{doctor.doctorTypeId}
            </if>
        </if>
        order by  org.org_code desc
    </select>
    <select id="searchJsDoctorSkillScoreExtList"  parameterType="java.util.Map" resultMap="DoctorScoreRecruit">
        select score.score_flow,score.theory_score,score.skill_score,score.ext_score,u.USER_FLOW, u.USER_CODE, u.USER_NAME, u.SEX_ID, u.SEX_NAME, u.USER_PHONE, u.USER_EMAIL
        , u.ID_NO, u.USER_BIRTHDAY, u.TITLE_ID, u.TITLE_NAME, u.DEGREE_ID, u.DEGREE_NAME, u.EDUCATION_ID, u.EDUCATION_NAME, u.POST_ID, u.POST_NAME,ed.*,u.user_flow recruit_Flow
        from pdsci.res_score score
        left join  pdsci.SYS_USER u
        on score.DOCTOR_FLOW =  u.USER_FLOW
        left join  RES_DOCTOR ed
        on score.DOCTOR_FLOW =  ed.DOCTOR_FLOW
        left join sys_org org on org.org_flow=ed.org_flow
        where score.RECORD_STATUS= 'Y' and u.RECORD_STATUS= 'Y' and  ed.RECORD_STATUS= 'Y'
            AND ed.DOCTOR_CATEGORY_ID = 'Doctor'
            AND (ed.DOCTOR_STATUS_ID NOT IN ('UnPassed', 'Passed', 'UnSubmit')
            OR ed.DOCTOR_STATUS_ID IS NULL)
            AND ed.org_flow IS NOT NULL
            AND ed.org_flow != '20160914888888'
            AND ed.org_flow != '566c9f36cf014f63a569b453efa284d7'
            AND ed.org_flow != '00000000000000000000000000000000'
        and  EXISTS (
        SELECT null
        FROM PDSCI.SYS_ORG
        WHERE PDSCI.SYS_ORG.RECORD_STATUS='Y'
        <if test="sysOrg!=null">
            <if test="sysOrg.orgProvId!=null and sysOrg.orgProvId!=''">
                AND ORG_PROV_ID = #{sysOrg.orgProvId}
            </if>
            <if test="sysOrg.orgCityId!=null and sysOrg.orgCityId!=''">
                AND ORG_CITY_ID = #{sysOrg.orgCityId}
            </if>
            <if test="sysOrg.orgFlow!=null and sysOrg.orgFlow!=''">
                AND ORG_FLOW = #{sysOrg.orgFlow}
            </if>
            <if test="sysOrg.orgLevelId!=null and sysOrg.orgLevelId!=''">
                AND ORG_LEVEL_ID = #{sysOrg.orgLevelId}
            </if>
            <if test="sysOrg.orgTypeId!=null and sysOrg.orgTypeId!=''">
                AND ORG_TYPE_ID = #{sysOrg.orgTypeId}
            </if>
        </if>
        <if test="jointOrgFlowList!=null and jointOrgFlowList.size>0">
            and ORG_FLOW in
            <foreach collection="jointOrgFlowList" open="(" separator="," close=")" item="item">#{item}</foreach>
        </if>
        and ed.org_flow=org_flow
        )
        <if test="resDoctorRecruit!=null">
            <if test="resDoctorRecruit.graduationYear!=null and resDoctorRecruit.graduationYear!=''">
                and ed.GRADUATION_YEAR=#{resDoctorRecruit.graduationYear}
            </if>
        </if>
        <if test="docTypeList!=null and docTypeList.size>0">
            and ed.DOCTOR_TYPE_ID in
            <foreach collection="docTypeList" open="(" separator="," close=")" item="item">#{item}</foreach>
        </if>

        <if test="scoreYear!=null and scoreYear!=''">
            and score.SCORE_PHASE_ID = #{scoreYear}
        </if>
        <if test="typeId!=null and typeId!=''">
            and score.SCORE_TYPE_ID = #{typeId}
        </if>
        <if test="isHege!=null and isHege!=''">
            and score.skill_score = #{isHege}
        </if>
        <if test="user!=null">
            <if test="user.userName!=null and user.userName!=''">
                <bind name="userName" value="'%'+user.userName+'%'"/>
                and u.USER_NAME like #{userName}
            </if>
            <if test="user.idNo!=null and user.idNo!=''">
                <bind name="idNo" value="'%'+user.idNo+'%'"/>
                and u.ID_NO like #{idNo}
            </if>
        </if>
        <if test="derateFlag!=null and resDoctorRecruit.trainYear!=null and resDoctorRecruit.trainYear!='' ">
            and ed.training_years not in (#{resDoctorRecruit.trainYear})
        </if>
        <if test="doctor!=null">
            <if test="doctor.trainingTypeId!=null and doctor.trainingTypeId!=''">
                and ed.training_spe_id = #{doctor.trainingTypeId}
            </if>
            <if test="doctor.trainingYears!=null and doctor.trainingYears!=''">
                and ed.training_years = #{doctor.trainingYears}
            </if>
            <if test="doctor.sessionNumber!=null and doctor.sessionNumber!=''">
                and ed.SESSION_NUMBER = #{doctor.sessionNumber}
            </if>
            <if test="doctor.doctorTypeId!=null and doctor.doctorTypeId!=''">
                and ed.DOCTOR_TYPE_ID = #{doctor.doctorTypeId}
            </if>
        </if>
        order by  org.org_code,u.user_code
    </select>
</mapper>