@charset "utf-8";
/* CSS Document */
html {height:100%;max-height:100%;padding:0;margin:0;border:0;overflow: hidden;}
body{margin:0;font-family: "Microsoft YaHei";}
a{text-decoration:none;color:#222;font-size:14px;}
.fl{float:left}
.fr{float:right;}
.db{display:block;}
img{border:none;}
input{outline:none;margin:0;border:none;font-family: "Microsoft YaHei";}

/*header*/
#header{ height:80px; border-bottom:5px solid #4497c9; width:100%;}
.header{ margin:0 auto; width:1024px; background:url(../images/logo_bg.png) no-repeat right; padding-top:8px;}

/*banner*/
#banner{ position:absolute;width:100%;overflow:hidden;z-index:3;top:85px;bottom:150px; background:url(../images/bg.png) no-repeat right top; border-bottom:5px solid #4497c9;}
.banner{ width:1200px; margin:0 auto;}
.bird{ margin:0 auto; width:1200px; background:url(../images/yanzi.png) no-repeat left; height:164px;z-index:-1}
.kid{ position:absolute; bottom:40px; left:20%; margin-left:-217px; width:434px;}
.word{ position:absolute; top:15%; left:45%; margin-left:-65px; width:129px;}
.hehua{ position:absolute; bottom:0px; left:60%; width:544px; height:322px;z-index:-2}
.login{ background:url(../images/login.png) no-repeat right; margin-top:40px; margin-right:140px; width:280px; height:300px;z-index:100;}
.login img{ float:left;}
.con{ margin:0 auto; width:240px; margin-top:75px;*margin-top:50px!important;}
.user{ width: 240px; height: 34px; overflow: hidden; border: solid 1px #d9d9d9; background: #FFF;margin-top: 13px;}
.con input{ height: 34px;width:200px; color: #999999; font-size: 14px;line-height: 34px;}
.yanzm{margin-top: 13px;overflow: hidden;background: #fff none repeat scroll 0 0;height: 34px;  border: 1px solid #d9d9d9;}
.yanzm .yan{ height: 34px; width:100px; overflow: hidden; border: solid 1px #d9d9d9; padding-left: 10px;background: #FFF;}
.cw{ display: block;color: #FF0000; text-align: left; font-size: 13px; height: 28px;line-height:28px;}
.denglu .login1 { background: #02aa51; border-radius: 2px 2px 2px 2px;margin-right: 10px;width:100%;}
.denglu input{height: 36px; width: 115px; color: #fff; font-size: 16px; cursor: pointer;}
.denglu .login2 { background: #328fba;}
/*code*/
/*.code{ position:absolute; bottom:20px; left:28%; margin-left:167px; width:334px;}*/
.code{ position:absolute; bottom:20px; margin-left:167px; }

/*news*/
.new_box{overflow:hidden;position:absolute;bottom:78px;left:0;width:100%;z-index:4}
.new{width:1024px;margin:auto;border:solid 1px #ebebeb;overflow:hidden;}
.new a{line-height:48px;font-size:14px;}
.new a:hover{color:#459ae9;text-decoration:underline;}
.gongao{padding-right:25px;background:url(../images/new.png) no-repeat right 17px;margin-left:26px;}
.gongao span{color:#d5d5d5;margin-right:4px;}
.xitong{margin-left:20px;font-size:14px;font-family:"Microsoft YaHei";color:#222;line-height:48px;}
.more{padding-right:16px;background:url(../images/more.png) no-repeat right center;margin-right:20px;color:#222;}

/*footer*/
.footer_box{background:#b5b5b5;position:absolute;bottom:0;left:0;width:100%;z-index:5;display:block;overflow:hidden;}
.footer{color:#222;text-align:center;line-height:60px;font-size:14px;}
