<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.res.dao.sctcm120.ext.Sctcm120SchArrangeResultExtMapper">
	<resultMap type="HashMap" id="areaMap">
		<result column="MIN_DATE" property="minDate" javaType="string"/>
		<result column="MAX_DATE" property="maxDate" javaType="string"/>
	</resultMap>
	<select id="getDocResultArea" resultMap="areaMap">
		select min(sch_start_date) MIN_DATE,max(sch_end_date) MAX_DATE
		from pdsci.sch_arrange_result 
		where record_status = 'Y'
		and doctor_flow = #{doctorFlow}
	</select>
	
	<resultMap type="HashMap" id="resultMap">
		<result column="stage_name" property="stageName" javaType="string"/>
		<result column="sch_dept_flow" property="schDeptFlow" javaType="string"/>
		<result column="sch_dept_name" property="schDeptName" javaType="string"/>
		<result column="is_current_flag" property="isCurrentFlag" javaType="string"/>
		<result column="sch_flag" property="schFlag" javaType="string"/>
		<result column="IS_EXTERNAL" property="isExternal" javaType="string"/>
		<result column="teacher_user_flow" property="teacherUserFlow" javaType="string"/>
		<result column="teacher_user_name" property="teacherUserName" javaType="string"/>
		<result column="head_user_flow" property="headUserFlow" javaType="string"/>
		<result column="head_user_name" property="headUserName" javaType="string"/>
		<result column="sch_start_date" property="schStartDate" javaType="string"/>
		<result column="sch_end_date" property="schEndDate" javaType="string"/>
		<result column="start_date" property="startDate" javaType="string"/>
		<result column="end_date" property="endDate" javaType="string"/>
		<result column="sch_month" property="schMonth" javaType="string"/>
		<result column="sch_score" property="schScore" javaType="string"/>
		<result column="process_flow" property="processFlow" javaType="string"/>
		<result column="result_flow" property="resultFlow" javaType="string"/>
		<result column="standard_dept_name" property="standardDeptName" javaType="string"/>
		<result column="rotation_dept_flow" property="rotationDeptFlow" javaType="string"/>
		<result column="rotation_status" property="rotationStatus" javaType="string"/>
	</resultMap>
	<select id="searchResult" resultMap="resultMap">
		select 
		(
			select sch_stage_name || group_name 
			from sch_rotation_group srg 
			where srg.record_status = 'Y'
			and sar.group_flow = srg.group_flow
		) stage_name,
		sar.sch_dept_flow,
		sar.sch_dept_name,
		rdsp.is_current_flag,
		rdsp.sch_flag,
		rdsp.IS_EXTERNAL,
		rdsp.teacher_user_flow,
		rdsp.teacher_user_name,
		rdsp.head_user_flow,
		rdsp.head_user_name,
		sar.sch_start_date,
		sar.sch_end_date,
		rdsp.start_date,
		rdsp.end_date,
		sar.sch_month,
		rdsp.sch_score,
		rdsp.process_flow,
		sar.result_flow,
		sar.standard_dept_name,
		(
			select srd.record_flow
			from sch_rotation_dept srd
			where srd.record_status = 'Y'
			and srd.group_flow = sar.standard_group_flow
			and srd.standard_dept_id = sar.standard_dept_id
		) rotation_dept_flow,
		case when rdsp.is_current_flag = 'Y' THEN 'Rounding'
		when rdsp.sch_flag = 'Y' THEN 'OverDue'
		else  (
		case when sar.sch_start_date > to_char(sysdate,'yyyy-mm-dd') then 'NotDue'
		when sar.sch_start_date <![CDATA[<=]]> to_char(sysdate,'yyyy-mm-dd') then 'Rounding'
		end )
		end  rotation_status
		from pdsci.sch_arrange_result sar
		left join pdsci.res_doctor_sch_process rdsp
		on sar.result_flow = rdsp.sch_result_flow
    		and rdsp.record_status = 'Y'
		where sar.record_status = 'Y'
		and sar.doctor_flow = #{doctorFlow}
		<if test='statusId!=null and statusId!=""'>
			<if test='statusId=="Entering"'>
				and rdsp.is_current_flag = 'Y'
			</if>
			<if test='statusId=="NotEntered"'>
				and (rdsp.process_flow is null or ((rdsp.sch_flag = 'N' or rdsp.sch_flag is null) and (rdsp.is_current_flag = 'N' or rdsp.is_current_flag is null)))
			</if>
			<if test='statusId=="Exited"'>
				and rdsp.sch_flag = 'Y'
			</if>
		</if>
		<if test='deptName!=null and deptName!=""'>
			and sar.sch_dept_name like '%${deptName}%'
		</if>
		<if test="isAction2!=null and isAction2!='' and isAction2=='Y'.toString()">
			and sar.sch_start_date is not null
			and sar.sch_end_date is not null
		</if>
		order by sar.sch_start_date
	</select>

	<select id="checkResultDate" parameterType="java.util.Map" resultMap="com.pinde.sci.dao.base.SchArrangeResultMapper.BaseResultMap">
		select *
		from pdsci.sch_arrange_result
		where record_status = 'Y'
		and doctor_flow = #{doctorFlow}
		and (
		(
		sch_start_date <![CDATA[<=]]> #{startDate}
		and  sch_end_date >= #{startDate}
		)
		or
		(
		sch_start_date <![CDATA[<=]]> #{endDate}
		and  sch_end_date >= #{endDate}
		)
		or
		(
		sch_start_date <![CDATA[>=]]> #{startDate}
		and  sch_end_date <![CDATA[<=]]> #{endDate}
		)
		)
		<if test='resultFlow!=null and resultFlow!=""'>
			and result_flow != #{resultFlow}
		</if>
		<if test='rotationFlow!=null and rotationFlow!=""'>
			and rotation_flow = #{rotationFlow}
		</if>
	</select>
</mapper>