<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.res.dao.sctcm120.ext.Sctcm120ResDoctorSchProcessExtMapper">
	<resultMap type="HashMap" id="areaMap">
		<result column="MIN_DATE" property="minDate" javaType="string"/>
		<result column="MAX_DATE" property="maxDate" javaType="string"/>
	</resultMap>
	<select id="getDocProcessArea" resultMap="areaMap">
		select min(sch_start_date) MIN_DATE,max(sch_end_date) MAX_DATE
		from pdsci.res_doctor_sch_process
		where record_status = 'Y'
		and user_flow = #{doctorFlow}
	</select>
	<resultMap type="HashMap" id="processCountMap">
		<result  property="key" column="USER_FLOW" javaType="string"/>
		<result property="value" column="PROCESS_COUNT" javaType="java.math.BigDecimal"/>
	</resultMap>
	<select id="countProcessByUser" resultMap="processCountMap">
		SELECT USER_FLOW,COUNT(*) PROCESS_COUNT
		FROM PDSCI.RES_DOCTOR_SCH_PROCESS
		WHERE USER_FLOW IN
		<foreach collection="userFlows" item="userFlow" open="(" separator="," close=")">
			#{userFlow}
		</foreach>
		AND RECORD_STATUS = 'Y'
		GROUP BY USER_FLOW
	</select>
</mapper>