<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.gzykdx.GzykdxAuditManageExtMapper">
    <select id="queryDoctorsRecruitList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT PUR.USER_RESUME,U.SEX_ID,U.SEX_NAME,U.USER_FLOW,U.USER_CODE,U.USER_NAME,
        TTA1.RESEARCH_DIRECTION,TTA1.SPE_ID,TTA1.SPE_NAME
        ,DTR.DEGREE_TYPE_ID,DTR.DEGREE_TYPE_NAME
        ,DTR.RECRUIT_TYPE_ID,DTR.RECRUIT_TYPE_NAME,DTR.RECRUIT_BATCH
        FROM DOCTOR_TEACHER_RECRUIT DTR
        LEFT JOIN TEACHER_TARGET_APPLY TTA1
        ON DTR.USER_FLOW=TTA1.USER_FLOW
        LEFT JOIN TEACHER_TARGET_APPLY TTA2
        ON DTR.RECRUIT_USER_FLOW=TTA2.USER_FLOW
        LEFT JOIN PUB_USER_RESUME PUR
        ON DTR.DOCTOR_FLOW=PUR.USER_FLOW
        LEFT JOIN SYS_USER U
        ON DTR.USER_FLOW=U.USER_FLOW
        WHERE DTR.RECORD_STATUS='Y'
        AND TTA1.RECORD_STATUS='Y'
        AND TTA2.RECORD_STATUS='Y'
        AND PUR.RECORD_STATUS='Y'
        AND U.RECORD_STATUS='Y'
        <if test='userName!=null and userName!=""'>
            <bind name="name" value="'%'+userName+'%'"/>
            and U.USER_NAME like #{name}
        </if>
        <if test='userCode!=null and userCode!=""'>
            <bind name="code" value="'%'+userCode+'%'"/>
            and U.USER_CODE like #{code}
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
            AND U.ORG_FLOW=#{orgFlow}
        </if>
        <if test='speId!=null and speId!=""'>
            AND TTA1.SPE_ID=#{speId}
        </if>
        <if test='schoolAuditStatusId!=null and schoolAuditStatusId!=""'>
            AND DTR.SCHOOL_AUDIT_STATUS_ID=#{schoolAuditStatusId}
        </if>
        <if test='recruitYear!=null and recruitYear!=""'>
            AND DTR.RECRUIT_YEAR=#{recruitYear}
        </if>
        <if test='degreeTypeId!=null and degreeTypeId!=""'>
            AND DTR.DEGREE_TYPE_ID=#{degreeTypeId}
        </if>
        <if test='researchDirection!=null and researchDirection!=""'>
            AND TTA1.RESEARCH_DIRECTION=#{researchDirection}
        </if>
    </select>

    <select id="qureyTeacherTargetApplyList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT PUR.USER_RESUME,TTA.RECRUIT_YEAR,TTA.USER_FLOW,TTA.USER_NAME, TTA.SPE_ID,TTA.SPE_NAME,
        TTA.RESEARCH_DIRECTION,TTA.IS_ACADEMIC,TTA.IS_SPECIALIZED,TTA.ACADEMIC_NUM,TTA.APPLY_FLOW,
        TTA.SPECIALIZED_NUM,TTA.IS_SUBMIT,TTDTEMP.FUNDS,TTA.AUDIT_STATUS_ID,TTA.AUDIT_STATUS_NAME,
        U.ORG_FLOW,U.ORG_NAME,U.USER_PHONE,U.TITLE_ID,U.TITLE_NAME,U.DEGREE_ID,
        U.DEGREE_NAME,U.EDUCATION_ID,U.EDUCATION_NAME
        FROM TEACHER_TARGET_APPLY TTA
        LEFT JOIN SYS_USER U
        ON TTA.USER_FLOW=U.USER_FLOW
        LEFT JOIN PUB_USER_RESUME PUR
        ON U.USER_FLOW=PUR.USER_FLOW
        LEFT JOIN (
        SELECT TTD.APPLY_FLOW APPLY_FLOW, SUM(NVL(TTD.PRODUCT_AMOUNT, 0)) AS FUNDS
        FROM TEACHER_THESIS_DETAIL TTD
        WHERE TTD.RECORD_STATUS='Y'
        GROUP BY TTD.APPLY_FLOW
        ) TTDTEMP
        ON TTA.APPLY_FLOW=TTDTEMP.APPLY_FLOW
        WHERE TTA.RECORD_STATUS='Y'
        AND U.RECORD_STATUS='Y'
        AND PUR.RECORD_STATUS='Y'
        <if test='isSubmit!=null and isSubmit!=""'>
            AND TTA.IS_SUBMIT=#{isSubmit}
        </if>
        <if test='recruitYear!=null and recruitYear!=""'>
            AND TTA.RECRUIT_YEAR=#{recruitYear}
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
            AND TTA.ORG_FLOW=#{orgFlow}
        </if>
        <if test='auditStatusId!=null and auditStatusId!=""'>
            AND TTA.AUDIT_STATUS_ID=#{auditStatusId}
        </if>
        <if test='speId!=null and speId!=""'>
            AND TTA.SPE_ID=#{speId}
        </if>
        <if test='researchDirectionId!=null and researchDirectionId!=""'>
            AND TTA.RESEARCH_DIRECTION_ID=#{researchDirectionId}
        </if>
        <if test='researchDirection !=null and researchDirection !=""'>
            <bind name="name" value="'%'+researchDirection+'%'"/>
            AND TTA.RESEARCH_DIRECTION like #{name}
        </if>
        <if test='userName!=null and userName!=""'>
            <bind name="name" value="'%'+userName+'%'"/>
            and U.USER_NAME like #{name}
        </if>
        <if test='userFlow!=null and userFlow!=""'>
            AND U.USER_FLOW=#{userFlow}
        </if>
        ORDER BY TTA.CREATE_TIME DESC
    </select>

    <select id="qureyTeacherApplyListOrg" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT PUR.USER_RESUME,TTA.RECRUIT_YEAR,TTA.USER_FLOW,TTA.USER_NAME, TTA.SPE_ID,TTA.SPE_NAME,
        TTA.RESEARCH_DIRECTION,TTA.IS_ACADEMIC,TTA.IS_SPECIALIZED,TTA.ACADEMIC_NUM,TTA.APPLY_FLOW,
        TTA.SPECIALIZED_NUM,TTA.IS_SUBMIT,TTDTEMP.FUNDS,TTA.AUDIT_STATUS_ID,TTA.AUDIT_STATUS_NAME,
        U.ORG_FLOW,U.ORG_NAME,U.USER_PHONE,U.TITLE_ID,U.TITLE_NAME,U.DEGREE_ID,
        U.DEGREE_NAME,U.EDUCATION_ID,U.EDUCATION_NAME
        FROM TEACHER_TARGET_APPLY TTA
        LEFT JOIN SYS_USER U
        ON TTA.USER_FLOW=U.USER_FLOW
        LEFT JOIN PUB_USER_RESUME PUR
        ON U.USER_FLOW=PUR.USER_FLOW
        LEFT JOIN (
        SELECT TTD.APPLY_FLOW APPLY_FLOW, SUM(NVL(TTD.PRODUCT_AMOUNT, 0)) AS FUNDS
        FROM TEACHER_THESIS_DETAIL TTD
        WHERE TTD.RECORD_STATUS='Y'
        GROUP BY TTD.APPLY_FLOW
        ) TTDTEMP
        ON TTA.APPLY_FLOW=TTDTEMP.APPLY_FLOW
        WHERE TTA.RECORD_STATUS='Y'
        AND U.RECORD_STATUS='Y'
        AND PUR.RECORD_STATUS='Y'
        AND TTA.AUDIT_STATUS_ID!='Uncommitted'
        <if test='isSubmit!=null and isSubmit!=""'>
            AND TTA.IS_SUBMIT=#{isSubmit}
        </if>
        <if test='recruitYear!=null and recruitYear!=""'>
            AND TTA.RECRUIT_YEAR=#{recruitYear}
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
            AND TTA.ORG_FLOW=#{orgFlow}
        </if>
        <if test='auditStatusId!=null and auditStatusId!=""'>
            AND TTA.AUDIT_STATUS_ID=#{auditStatusId}
        </if>
        <if test='speId!=null and speId!=""'>
            AND TTA.SPE_ID=#{speId}
        </if>
        <if test='researchDirectionId!=null and researchDirectionId!=""'>
            AND TTA.RESEARCH_DIRECTION_ID=#{researchDirectionId}
        </if>
        <if test='researchDirectionName!=null and researchDirectionName!=""'>
            <bind name="name" value="'%'+researchDirectionName+'%'"/>
            AND TTA.RESEARCH_DIRECTION like #{name}
        </if>
        <if test='userName!=null and userName!=""'>
            <bind name="name" value="'%'+userName+'%'"/>
            and U.USER_NAME like #{name}
        </if>
        <if test='userFlow!=null and userFlow!=""'>
            AND U.USER_FLOW=#{userFlow}
        </if>
        ORDER BY TTA.CREATE_TIME DESC
    </select>

    <select id="queryRecruitNum" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT RTM.RECRUIT_YEAR,RTMD.RARGET_FLOW,RTMD.ORG_FLOW,
        RTMD.ORG_NAME,RTMD.ACADEMIC_NUM,RTMD.SPECIALIZED_NUM,RTMD.ALL_NUM
        FROM RECRUIT_TARGET_MAIN RTM
        LEFT JOIN RECRUIT_TARGET_MAIN_DETAIL RTMD
        ON RTM.RARGET_FLOW=RTMD.RARGET_FLOW
        WHERE RTM.RECORD_STATUS='Y'
        AND RTMD.RECORD_STATUS='Y'
        AND RTM.IS_REPORT='Y'
        AND RTMD.IS_REPORT='Y'
        <if test='orgFlow!=null and orgFlow!=""'>
            AND RTMD.ORG_FLOW=#{orgFlow}
        </if>
        <if test='recruitYear!=null and recruitYear!=""'>
            AND RTM.RECRUIT_YEAR=#{recruitYear}
        </if>
    </select>
    <select id="queryAcademicRecruitSum" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT NVL(SUM(TTA.ACADEMIC_NUM),0) AS ACADEMIC_NUM
        FROM TEACHER_TARGET_APPLY TTA
        WHERE TTA.RECORD_STATUS='Y'
        <if test='recruitYear!=null and recruitYear!=""'>
            AND TTA.RECRUIT_YEAR=#{recruitYear}
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
            AND TTA.ORG_FLOW=#{orgFlow}
        </if>
        <if test='isAcademic!=null and isAcademic!=""'>
            AND TTA.IS_ACADEMIC=#{isAcademic}
        </if>
        <if test='isSpecialized!=null and isSpecialized!=""'>
            AND TTA.IS_SPECIALIZED=#{isSpecialized}
        </if>
        <if test='applyFlow!=null and applyFlow!=""'>
            AND TTA.APPLY_FLOW!=#{applyFlow}
        </if>
        <if test='flag==null or flag==""'>
            AND TTA.AUDIT_STATUS_ID IN ('SchoolPassed','WaitingForSchool')
        </if>
        <if test='flag!=null and flag!=""'>
            AND TTA.AUDIT_STATUS_ID IN ('SchoolPassed','WaitingForSchool','WaitingForCommitted')
        </if>
    </select>
    <select id="querySpecializedRecruitSum" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT NVL(SUM(TTA.SPECIALIZED_NUM),0) AS SPECIALIZED_NUM
        FROM TEACHER_TARGET_APPLY TTA
        WHERE TTA.RECORD_STATUS='Y'
        <if test='recruitYear!=null and recruitYear!=""'>
            AND TTA.RECRUIT_YEAR=#{recruitYear}
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
            AND TTA.ORG_FLOW=#{orgFlow}
        </if>
        <if test='isAcademic!=null and isAcademic!=""'>
            AND TTA.IS_ACADEMIC=#{isAcademic}
        </if>
        <if test='isSpecialized!=null and isSpecialized!=""'>
            AND TTA.IS_SPECIALIZED=#{isSpecialized}
        </if>
        <if test='applyFlow!=null and applyFlow!=""'>
            AND TTA.APPLY_FLOW!=#{applyFlow}
        </if>
        <if test='flag==null or flag==""'>
            AND TTA.AUDIT_STATUS_ID IN ('SchoolPassed','WaitingForSchool')
        </if>
        <if test='flag!=null and flag!=""'>
            AND TTA.AUDIT_STATUS_ID IN ('SchoolPassed','WaitingForSchool','WaitingForCommitted')
        </if>
    </select>

    <select id="queryVacanciesOrg" resultType="java.util.Map" parameterType="java.util.Map">
        with p as(
            select recruit_year,org_flow,spe_id,spe_name,research_direction_id research_area_id,research_direction research_area_name,'Academic' degree_type_id,'学术型' degree_type_name,academic_num planqty,0 useqty
            from teacher_target_apply tta
            where is_academic = 'Y' and tta.audit_status_id='SchoolPassed'
            union
            select recruit_year,org_flow,spe_id,spe_name,research_direction_id research_area_id,research_direction research_area_name,'Profession' degree_type_id,'专业型' degree_type_name,specialized_num planqty,0 useqty
            from teacher_target_apply tta
            where is_specialized = 'Y' and tta.audit_status_id='SchoolPassed'
        ),u as(
                select recruit_year,org_flow,spe_id,spe_name,research_area_id,research_area_name,degree_type_id,degree_type_name,0 planqty,count(1) useqty
                from doctor_teacher_recruit where audit_status_id='Passed'
                group by recruit_year,org_flow,spe_id,spe_name,research_area_id,research_area_name,degree_type_id,degree_type_name
                order by recruit_year,org_flow,spe_id,spe_name,research_area_id,research_area_name,degree_type_id,degree_type_name
        )
        select p.recruit_year,p.org_flow,p.spe_id,p.spe_name,p.research_area_id,p.research_area_name,p.degree_type_id,p.degree_type_name,sum(p.planqty) planqty,sum(u.useqty) useqty
        from p left join u
        on p.recruit_year = u.recruit_year and p.spe_id=u.spe_id and p.research_area_id=u.research_area_id  and p.degree_type_id=u.degree_type_id and p.org_flow=u.org_flow
        where 1=1
        <if test='recruitYear!=null and recruitYear!=""'>
            AND p.recruit_year=#{recruitYear}
        </if>
        <if test='speId!=null and speId!=""'>
            AND p.spe_id=#{speId}
        </if>
        <if test='researchDirectionId!=null and researchDirectionId!=""'>
            AND p.research_area_id=#{researchDirectionId}
        </if>
        <if test='degreeTypeId!=null and degreeTypeId!=""'>
            AND p.degree_type_id=#{degreeTypeId}
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
            AND p.org_flow=#{orgFlow}
        </if>
        group by p.recruit_year,p.org_flow,p.spe_id,p.spe_name,p.research_area_id,p.research_area_name,p.degree_type_id,p.degree_type_name
        order by p.recruit_year,p.org_flow,p.spe_id,p.spe_name,p.research_area_id,p.research_area_name,p.degree_type_id,p.degree_type_name
    </select>

    <select id="queryVacanciesOrgNew" resultType="java.util.Map" parameterType="java.util.Map">
        with a as(
        select tta.apply_flow,tta.recruit_year,tta.spe_id,tta.spe_name,tta.research_direction,tta.research_direction_id,tta.org_flow,tta.org_name,
        'Academic' degree_type_id,'学术型' degree_type_name,nvl(tta.academic_num,0) planqty,nvl(tta.academic_recruit_num,0) useqty,nvl(nvl(tta.academic_num,0)-nvl(tta.academic_recruit_num,0),0) resoultNum
        from teacher_target_apply tta
        where tta.record_status='Y'
        and tta.audit_status_id='SchoolPassed'
        and tta.is_submit='Y'
        and tta.is_academic='Y'
        union
        select tta.apply_flow,tta.recruit_year,tta.spe_id,tta.spe_name,tta.research_direction,tta.research_direction_id,tta.org_flow,tta.org_name,
        'Profession' degree_type_id,'专业型' degree_type_name,nvl(tta.specialized_num,0) planqty,nvl(tta.specialized_recruit_num,0) useqty,nvl(nvl(tta.specialized_num,0)-nvl(tta.specialized_recruit_num,0),0) resoultNum
        from teacher_target_apply tta
        where tta.record_status='Y'
        and tta.audit_status_id='SchoolPassed'
        and tta.is_submit='Y'
        and tta.is_specialized='Y')
        select
        a.apply_flow,a.recruit_year,a.spe_id,a.spe_name,a.research_direction research_area_name,a.research_direction_id research_area_id,a.org_flow,a.org_name,
        a.degree_type_id,a.degree_type_name,a.planqty,a.useqty,a.resoultNum
        from a
        where 1=1
        <if test='recruitYear!=null and recruitYear!=""'>
            AND a.recruit_year=#{recruitYear}
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
            AND a.org_flow=#{orgFlow}
        </if>
        <if test='speId!=null and speId!=""'>
            AND a.spe_id=#{speId}
        </if>
        <if test='researchDirectionId!=null and researchDirectionId!=""'>
            AND a.research_direction_id=#{researchDirectionId}
        </if>
        <if test='researchDirection !=null and researchDirection !=""'>
            <bind name="name" value="'%'+researchDirection+'%'"/>
            AND a.research_direction like #{name}
        </if>
        <if test='degreeTypeId!=null and degreeTypeId!=""'>
            AND a.degree_type_id=#{degreeTypeId}
        </if>
    </select>

    <select id="teacherRecruitInfo" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT DISTINCT TTA.APPLY_FLOW,TTA.ORG_NAME,
        TTA.SPE_ID,
        TTA.RESEARCH_DIRECTION_ID,
        TTA.SPE_NAME,
        TTA.USER_FLOW,
        TTA.USER_NAME,
        TTA.ACADEMIC_NUM,
        TTA.SPECIALIZED_NUM,
        DTR.DOCTOR_NAME,
        DTR.DOCTOR_FLOW
        from DOCTOR_TEACHER_RECRUIT DTR,TEACHER_TARGET_APPLY TTA
        where dtr.FINAL_USER_FLOW = tta.user_flow and dtr.RECORD_STATUS = 'Y' and tta.RECORD_STATUS = 'Y'
        and dtr.SCHOOL_AUDIT_STATUS_ID = 'Passed' and tta.AUDIT_STATUS_ID = 'SchoolPassed'
        <if test='orgFlow!=null and orgFlow!=""'>
            and tta.org_flow = #{orgFlow}
        </if>
        <if test='degreeTypeId!=null and degreeTypeId!=""'>
            and dtr.final_degree_type_id = #{degreeTypeId}
        </if>
        <if test='speId!=null and speId!=""'>
            and dtr.final_spe_id = #{speId}
        </if>
        <if test='researchAreaId!=null and researchAreaId!=""'>
            and dtr.final_research_area_id = #{researchAreaId}
        </if>
        <if test='year!=null and year!=""'>
            and dtr.RECRUIT_YEAR = #{year}
        </if>
    </select>
</mapper>