<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.gzykdx.GzykdxSchoolAdminExtMapper">

    <select id="queryTeachersInOrg" resultMap="com.pinde.sci.dao.base.SysUserMapper.BaseResultMap">
        select * from sys_user
          where record_status = 'Y'
            and status_id = 'Activated'
            and org_flow = #{orgFlow}
            <if test='userName!=null and userName!=""'>
                <bind name="name" value="'%'+userName+'%'"/>
                and user_name like #{name}
            </if>
            and user_flow in (select user_flow
                       from sys_user_role
                      where record_status = 'Y'
                        and role_flow = #{roleFlow})
    </select>
    <update id="updateTeachersInOrg">
        update sys_user set reporting_authority = #{powerFlag}
          where record_status = 'Y'
            and status_id = 'Activated'
            and org_flow = #{orgFlow}
            and user_flow in (select user_flow
                       from sys_user_role
                      where record_status = 'Y'
                        and role_flow = #{roleFlow})
    </update>

    <resultMap type="java.util.Map" id="passedTeacherApplyResultMap">
        <result column="user_resume" jdbcType="CLOB" property="user_resume" javaType="string"/>
    </resultMap>

    <select id="queryPassedTeacherApply" parameterType="com.pinde.sci.model.mo.TeacherTargetApplyExample"
            resultType="java.util.Map" resultMap="passedTeacherApplyResultMap">
       select a.recruit_year,
           a.apply_flow,
           a.spe_id,
           a.research_direction_id,
           a.spe_name,
           a.research_direction,
           a.user_flow,
           a.user_name,
           b.dict_desc,
           a.org_flow,
           a.org_name,
           a.academic_num,
           a.specialized_num,
           a.is_academic,
           a.is_specialized,
           su.id_no,
           su.sex_name,
           su.user_birthday,
           su.user_phone,
           su.education_name,
           su.degree_name,
           su.title_name,
           pur.user_resume
       from teacher_target_apply a
       left join sys_dict b on a.spe_id = b.dict_id
       left join sys_user su on su.user_flow = a.user_flow
       left join pub_user_resume pur on a.user_flow = pur.user_flow
       where a.record_status='Y'
          and b.dict_type_id='GzykdxSpe'
          and a.audit_status_id='SchoolPassed'
        <if test='recruitYear!=null and recruitYear!=""'>
          and a.recruit_year = #{recruitYear}
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
          and a.org_Flow = #{orgFlow}
        </if>
        <if test='userName!=null and userName!=""'>
            <bind name="name" value="'%'+userName+'%'"/>
            and a.user_name like #{name}
        </if>
        <if test='speId!=null and speId!=""'>
            and a.spe_id = #{speId}
        </if>
        <if test='researchDirectionId!=null and researchDirectionId!=""'>
            and a.research_direction_id = #{researchDirectionId}
        </if>
        <if test='researchDirection !=null and researchDirection !=""'>
            <bind name="name" value="'%'+researchDirection+'%'"/>
            AND a.research_direction like #{name}
        </if>
    </select>
    <update id="releasedPassedTarget">
        update recruit_target_main_detail set is_report = 'Y'
          where record_status = 'Y'
            and rarget_flow in (select rarget_flow
                    from recruit_target_main
                      where record_status = 'Y'
                        and recruit_year = #{recruitYear})
    </update>
    <select id="targetNumOfOrgByYear" resultType="java.lang.String">
        select count(user_id_no)
          from doctor_teacher_recruit
         where record_status = 'Y'
           and school_audit_status_id != 'UnPassed'
           <if test='recruitYear!=null and recruitYear!=""'>
              and recruit_year = #{recruitYear}
           </if>
           <if test='orgFlow!=null and orgFlow!=""'>
              and org_flow = #{orgFlow}
           </if>
           <if test='degreeTypeId!=null and degreeTypeId!=""'>
              and degree_type_id = #{degreeTypeId}
           </if>
         group by recruit_year, org_flow, degree_type_id
    </select>
    <select id="targetNumByYear" resultType="java.util.Map">
        select rarget_flow, sum(academic_num) academicNum, sum(specialized_num) specializedNum
            from recruit_target_main_detail
              where record_status = 'Y'
            <if test='rargetFlow!=null and rargetFlow!=""'>
                and rarget_flow = #{rargetFlow}
            </if>
            group by rarget_flow
    </select>
    <select id="queryRecruitLogList" parameterType="java.util.Map" resultType="java.util.Map">
        select rl.change_item,rl.old_data,rl.new_data,rl.change_time,rl.change_user_code,
            tta.recruit_year,tta.spe_id,tta.spe_name,tta.user_name,tta.research_direction,u.org_name,u.user_name sysUserName
        from RECRUIT_LOG rl
        left join teacher_target_apply tta
        on rl.apply_flow=tta.apply_flow
        left join sys_user u
        on u.user_flow=rl.change_user_flow
        where rl.record_status='Y'
        and tta.record_status='Y'
        and u.record_status='Y'
        <if test='recruitYear!=null and recruitYear!=""'>
            and tta.recruit_year=#{recruitYear}
        </if>
        <if test='userName !=null and userName !=""'>
        <bind name="name" value="'%'+userName+'%'"/>
        AND tta.user_name like #{name}
        </if>
        <if test='startChangeTime!=null and startChangeTime!=""'>
        and rl.change_time>=#{startChangeTime}
        </if>
        <if test='endChangeTime!=null and endChangeTime!=""'>
        and #{endChangeTime}>=rl.change_time
        </if>
        order by rl.change_time Desc
    </select>
    <select id="queryOrgRecruitInfo" resultType="java.util.Map">
        select b.user_phone,
            a.org_flow,
            a.org_name,
            nvl(sum(academic_num), 0) academic_sum,
            nvl(sum(specialized_num), 0) specialized_sum
        from teacher_target_apply a
        left join sys_user b
          on a.org_flow = b.org_flow
        where a.record_status = 'Y'
            and a.audit_status_id = 'SchoolPassed'
            and b.is_org_admin = 'Y'
            and b.reporting_authority = 'Y'
            <if test='recruitYear!=null and recruitYear!=""'>
                and a.recruit_year=#{recruitYear}
            </if>
        group by a.org_flow, a.org_name, b.user_phone
    </select>
    <select id="querySchoolPhones" resultType="java.util.Map">
        select distinct b.user_phone
          from sys_user_role a, sys_user b
        where a.user_flow = b.user_flow
            and a.record_status = 'Y'
            and a.ws_id = 'gycmis'
            and b.user_phone is not null
        <if test='roleFlow!=null and roleFlow!=""'>
            and a.role_flow=#{roleFlow}
        </if>
    </select>
</mapper>