<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.gzykdx.GzykdxTeacherExtMapper">
    <select id="queryDoctorAdmissionList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT U.USER_FLOW,U.SEX_ID,U.SEX_NAME,U.USER_CODE,U.USER_NAME,DTR.DOCTOR_FLOW,
        DTR.RESEARCH_AREA_ID,DTR.RESEARCH_AREA_NAME,DTR.SPE_ID,DTR.SPE_NAME,
        DTR.DEGREE_TYPE_ID,DTR.DEGREE_TYPE_NAME,DTR.RECRUIT_TYPE_ID,
        DTR.RECRUIT_TYPE_NAME,DTR.RECRUIT_BATCH,DTR.AUDIT_STATUS_ID,DTR.AUDIT_STATUS_NAME,
        DTR.SCHOOL_AUDIT_STATUS_ID,DTR.SCHOOL_AUDIT_STATUS_NAME
        FROM DOCTOR_TEACHER_RECRUIT DTR
        LEFT JOIN SYS_USER U
        ON DTR.DOCTOR_FLOW=U.USER_FLOW
        WHERE DTR.RECORD_STATUS='Y'
        AND U.RECORD_STATUS='Y'
        <if test='userIdNo!=null and userIdNo!=""'>
            AND DTR.USER_ID_NO=#{userIdNo}
        </if>
        <if test='userFlow!=null and userFlow!=""'>
            AND DTR.USER_FLOW=#{userFlow}
        </if>
        <if test='doctorCode!=null and doctorCode!=""'>
            AND U.USER_CODE=#{doctorCode}
        </if>
        <if test='doctorName!=null and doctorName!=""'>
            <bind name="name" value="'%'+doctorName+'%'"/>
            AND DTR.DOCTOR_NAME like #{name}
        </if>
        <if test='speId!=null and speId!=""'>
            AND DTR.SPE_ID=#{speId}
        </if>
        <if test='schoolAuditStatusId!=null and schoolAuditStatusId!=""'>
            AND DTR.SCHOOL_AUDIT_STATUS_ID=#{schoolAuditStatusId}
        </if>
        <if test='recruitYear!=null and recruitYear!=""'>
            AND DTR.RECRUIT_YEAR=#{recruitYear}
        </if>
        <if test='degreeTypeId!=null and degreeTypeId!=""'>
            AND DTR.DEGREE_TYPE_ID=#{degreeTypeId}
        </if>
        <if test='researchAreaId!=null and researchAreaId!=""'>
            AND DTR.RESEARCH_AREA_ID=#{researchAreaId}
        </if>
        <if test='researchAreaName!=null and researchAreaName!=""'>
            <bind name="name" value="'%'+researchAreaName+'%'"/>
            AND DTR.RESEARCH_AREA_NAME like #{name}
        </if>
    </select>

    <select id="countDoctorFromTea" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1)
        from Doctor_Teacher_Recruit dtr
        where dtr.record_status='Y'
        and dtr.user_flow=#{userFlow}
        and dtr.school_audit_status_id='Passed'
        and dtr.recruit_year=#{recruitYear}
        <if test='orgFlow!=null and orgFlow!=""'>
            AND dtr.org_flow=#{orgFlow}
        </if>
        <if test='degreeTypeId!=null and degreeTypeId!=""'>
            AND dtr.degree_type_id=#{degreeTypeId}
        </if>
    </select>

    <select id="countTeacherVacancies" parameterType="java.util.Map" resultType="java.util.Map">
        select temp.APPLY_FLOW,temp.USER_FLOW,temp.USER_NAME,
        temp.SPE_ID,temp.SPE_NAME,temp.RESEARCH_DIRECTION_ID,temp.RESEARCH_DIRECTION,
        temp.ACADEMICSURPLUS,temp.SPECIALIZEDSURPLUS,temp.IS_ACADEMIC,temp.IS_SPECIALIZED
        from (
        select tta.apply_flow,tta.user_flow,tta.user_name,tta.research_direction_id,tta.research_direction,
        tta.spe_id,tta.spe_name,tta.is_academic,tta.is_specialized,
        nvl(tta.academic_num,0)-nvl(tta.academic_recruit_num,0) academicSurplus,
        nvl(tta.specialized_num,0)-nvl(tta.specialized_recruit_num,0) specializedSurplus
        from teacher_target_apply tta
        where tta.record_status='Y'
        and tta.audit_status_id='SchoolPassed'
        and tta.recruit_year=#{recruitYear}
        <if test='isAcademic!=null and isAcademic!=""'>
            AND tta.is_academic=#{isAcademic}
        </if>
        <if test='isSpecialized!=null and isSpecialized!=""'>
            AND tta.is_specialized=#{isSpecialized}
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
            AND tta.org_flow=#{orgFlow}
        </if>
        <if test='userName!=null and userName!=""'>
            <bind name="name" value="'%'+userName+'%'"/>
            AND tta.user_name like #{name}
        </if>
        <if test='researchDirectionId!=null and researchDirectionId!=""'>
            AND tta.research_direction_id=#{researchDirectionId}
        </if>
        <if test='speId!=null and speId!=""'>
            AND tta.spe_id=#{speId}
        </if>
        ) temp
        where 1=1
        <if test='isAcademic!=null and isAcademic!=""'>
            AND temp.academicSurplus > 0
        </if>
        <if test='isSpecialized!=null and isSpecialized!=""'>
            AND temp.specializedSurplus > 0
        </if>
        <if test='isAcademic=="" and isSpecialized==""'>
            AND temp.academicSurplus > 0 OR temp.specializedSurplus > 0
        </if>
    </select>

    <select id="queryOrgVacancies" parameterType="java.util.Map" resultType="java.util.Map">
        select resoult.org_flow,resoult.org_name, resoult.academicNum, resoult.specializedNum
        from (
            select rtmd.org_flow,rtmd.org_name,sum(nvl(nvl(rtmd.academic_num,0)-temp.academic_already,0)) academicNum,
            sum(nvl(nvl(rtmd.specialized_num,0)-temp.specialized_already,0)) specializedNum
            from recruit_target_main rtm
            left join RECRUIT_TARGET_MAIN_DETAIL rtmd
            on rtm.rarget_flow=rtmd.rarget_flow
            left join(
            select tta.org_flow,sum(nvl(tta.academic_recruit_num,0)) academic_already,
                   sum(nvl(tta.specialized_recruit_num,0)) specialized_already
            from teacher_target_apply tta
            where tta.record_status='Y'
            and tta.recruit_year='2017'
            and tta.audit_status_id='SchoolPassed'
            group by tta.org_flow
            ) temp
            on rtmd.org_flow=temp.org_flow
            where rtmd.record_status='Y'
            and rtm.record_status='Y'
            and rtm.is_report='Y'
            and rtmd.is_report='Y'
            and rtm.recruit_year=#{recruitYear}
            <if test='orgFlow!=null and orgFlow!=""'>
                and rtmd.org_flow=#{orgFlow}
            </if>
            group by rtmd.org_flow,rtmd.org_name  ) resoult
        where 1=1
        <if test='degreeTypeId == "Academic"'>
            and resoult.academicNum > 0
        </if>
        <if test='degreeTypeId == "Profession"'>
            and resoult.specializedNum > 0
        </if>
        <if test='degreeTypeId == ""'>
            and resoult.specializedNum > 0 or resoult.academicNum > 0
        </if>
    </select>

</mapper>