<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.hbzy.HbzyTempMapper">
    <select id="backups" statementType="CALLABLE" parameterType="java.lang.String">
        {call JSZY_ARCHIVE_PRO
        (#{archiveTime,mode=IN,jdbcType=VARCHAR},
          #{sessionNumber,mode=IN,jdbcType=VARCHAR})}
    </select>
    <select id="selectBackupTable" parameterType="java.lang.String" resultType="boolean">
        select count(*) from user_objects t  where t.OBJECT_NAME = ${tableName}
    </select>
</mapper>