<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.hbzy.HbzyGraduationApplyExtMapper">
    <resultMap id="chargeQueryMap" type="java.util.HashMap" >
        <result column="DOCTOR_FLOW" property="doctorFlow" jdbcType="VARCHAR" />
        <result column="RECRUIT_FLOW" property="recruitFlow" jdbcType="VARCHAR" />
        <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
        <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
        <result column="EDUCATION_ID" property="educationId" jdbcType="VARCHAR" />
        <result column="EDUCATION_NAME" property="educationName" jdbcType="VARCHAR" />
        <result column="CERTIFICATE_NO" property="certificateNo" jdbcType="VARCHAR" />
        <result column="SPE_ID" property="speId" jdbcType="VARCHAR" />
        <result column="SPE_NAME" property="speName" jdbcType="VARCHAR" />
        <result column="CAT_SPE_ID" property="catSpeId" jdbcType="VARCHAR" />
        <result column="CAT_SPE_NAME" property="catSpeName" jdbcType="VARCHAR" />
        <result column="ID_NO" property="idNo" jdbcType="VARCHAR" />
        <result column="SEX_ID" property="sexId" jdbcType="VARCHAR" />
        <result column="SEX_NAME" property="sexName" jdbcType="VARCHAR" />
        <result column="GRADUATION_YEAR" property="graduationYear" jdbcType="VARCHAR" />
        <result column="SESSION_NUMBER" property="sessionNumber" jdbcType="VARCHAR" />
        <result column="TRAIN_YEAR" property="trainYear" jdbcType="VARCHAR" />
        <result column="WORK_ORG_NAME" property="workOrgName" jdbcType="VARCHAR" />
        <result column="ORG_CITY_ID" property="orgCityId" jdbcType="VARCHAR" />
        <result column="ORG_CITY_NAME" property="orgCityName" jdbcType="VARCHAR" />
        <result column="DOCTOR_TYPE_ID" property="doctorTypeId" jdbcType="VARCHAR" />
        <result column="DOCTOR_TYPE_NAME" property="doctorTypeName" jdbcType="VARCHAR" />
        <result column="AUDIT_STATUS_ID" jdbcType="VARCHAR" property="auditStatusId" />
        <result column="AUDIT_STATUS_NAME" jdbcType="VARCHAR" property="auditStatusName" />
        <result column="LOCAL_AUDIT_STATUS_ID" jdbcType="VARCHAR" property="localAuditStatusId" />
        <result column="LOCAL_AUDIT_STATUS_NAME" jdbcType="VARCHAR" property="localAuditStatusName" />
        <result column="LOCAL_REASON" jdbcType="VARCHAR" property="localReason" />
        <result column="CITY_AUDIT_STATUS_ID" jdbcType="VARCHAR" property="cityAuditStatusId" />
        <result column="CITY_AUDIT_STATUS_NAME" jdbcType="VARCHAR" property="cityAuditStatusName" />
        <result column="CITY_REASON" jdbcType="VARCHAR" property="cityReason" />
        <result column="GLOBAL_AUDIT_STATUS_ID" jdbcType="VARCHAR" property="globalAuditStatusId" />
        <result column="GLOBAL_AUDIT_STATUS_NAME" jdbcType="VARCHAR" property="globalAuditStatusName" />
        <result column="GLOBAL_REASON" jdbcType="VARCHAR" property="globalReason" />
        <result column="RECRUIT_DATE" jdbcType="VARCHAR" property="startDate" />
        <result column="END_DATE" jdbcType="VARCHAR" property="endDate" />
        <result column="APPLY_FLOW" jdbcType="VARCHAR" property="applyFlow" />
        <result column="APPLY_YEAR" jdbcType="VARCHAR" property="applyYear" />
    </resultMap>


    <select id="chargeQueryApplyList" resultMap="chargeQueryMap">
        SELECT RD.DOCTOR_FLOW,
        RD.WORK_ORG_NAME,
        RD.DOCTOR_TYPE_ID,
        RD.DOCTOR_TYPE_NAME,
        DR.RECRUIT_FLOW,
        DR.ORG_NAME,
        DR.ORG_FLOW,
        SU.USER_NAME,
        SU.ID_NO,
        SU.SEX_ID,
        SU.SEX_NAME,
        SU.EDUCATION_ID,
        SU.EDUCATION_NAME,
        DR.CAT_SPE_ID,
        DR.CAT_SPE_NAME,
        DR.SPE_ID,
        DR.SPE_NAME,
        nvl(DR.CHANGE_SPE_ID,DR.SPE_ID) CHANGE_SPE_ID,
        nvl(DR.CHANGE_SPE_NAME,DR.SPE_NAME) CHANGE_SPE_NAME,
        DR.SESSION_NUMBER,
        decode( DR.TRAIN_YEAR,'1','一年','2','两年','3','三年',DR.TRAIN_YEAR) TRAIN_YEAR,
        DR.GRADUATION_YEAR,
        JGA.APPLY_FLOW,
        JGA.AUDIT_STATUS_ID,
        JGA.AUDIT_STATUS_NAME,
        JGA.LOCAL_AUDIT_STATUS_ID,
        JGA.LOCAL_AUDIT_STATUS_NAME,
        JGA.LOCAL_REASON,
        JGA.CITY_AUDIT_STATUS_ID,
        JGA.CITY_AUDIT_STATUS_NAME,
        JGA.CITY_REASON,
        JGA.GLOBAL_AUDIT_STATUS_ID,
        JGA.GLOBAL_AUDIT_STATUS_NAME,
        JGA.GLOBAL_REASON,
        JGA.APPLY_YEAR,
        DR.RECRUIT_DATE,
        CASE
        WHEN DR.TRAIN_YEAR='1' THEN to_char(add_months(to_date(DR.RECRUIT_DATE, 'yyyy-mm-dd'),12)-1, 'yyyy-mm-dd')
        WHEN DR.TRAIN_YEAR='2' THEN  to_char(add_months(to_date(DR.RECRUIT_DATE, 'yyyy-mm-dd'),12*2)-1, 'yyyy-mm-dd')
        WHEN DR.TRAIN_YEAR='3' THEN  to_char(add_months(to_date(DR.RECRUIT_DATE, 'yyyy-mm-dd'),33)-1, 'yyyy-mm-dd')
        ELSE ''
        END  END_DATE
        FROM res_doctor_recruit dr
        LEFT JOIN RES_DOCTOR RD
        ON DR.DOCTOR_FLOW = RD.DOCTOR_FLOW
        INNER JOIN SYS_USER SU
        ON RD.DOCTOR_FLOW = SU.USER_FLOW
        INNER JOIN JSRES_GRADUATION_APPLY JGA
        ON JGA.RECRUIT_FLOW = DR.RECRUIT_FLOW
        WHERE RD.RECORD_STATUS = 'Y'
        AND JGA.RECORD_STATUS = 'Y'
        AND DR.RECORD_STATUS = 'Y'
        AND SU.RECORD_STATUS = 'Y'
        and DR.org_flow in(
        SELECT ORG_FLOW
        FROM PDSCI.SYS_ORG
        WHERE PDSCI.SYS_ORG.RECORD_STATUS='Y'
        <if test="org!=null">
            <if test="org.orgProvId!=null and org.orgProvId!=''">AND ORG_PROV_ID = #{org.orgProvId}
            </if>
            <if test="org.orgCityId!=null and org.orgCityId!=''">
                AND ORG_CITY_ID = #{org.orgCityId}
            </if>
            <if test="org.orgLevelId!=null and org.orgLevelId!=''">
                AND ORG_LEVEL_ID = #{org.orgLevelId}
            </if>
            <if test="org.orgTypeId!=null and org.orgTypeId!=''">
                AND ORG_TYPE_ID = #{org.orgTypeId}
            </if>
        </if>
        )
        <if test="orgFlow!=null and orgFlow!=''">
            AND DR.org_flow = #{orgFlow}
        </if>
        <if test="orgFlowList!=null and orgFlowList.size>0">
            and DR.org_flow in
            <foreach collection="orgFlowList" open="(" separator="," close=")" item="item">#{item}</foreach>
        </if>
        <if test="docTypeList!=null and docTypeList.size>0">
            and RD.DOCTOR_TYPE_ID in
            <foreach collection="docTypeList" open="(" separator="," close=")" item="item">#{item}</foreach>
        </if>
        <if test="speIds!=null and speIds.size>0">
            and dr.SPE_ID in
            <foreach collection="speIds" open="(" separator="," close=")" item="item">#{item}</foreach>
        </if>
        <if test="trainingTypeId!=null and trainingTypeId!=''">
            and dr.CAT_SPE_ID = #{trainingTypeId}
        </if>
        <if test="trainingSpeId!=null and trainingSpeId!=''">
            and dr.SPE_ID = #{trainingSpeId}
        </if>
        <if test="sessionNumber!=null and sessionNumber!=''">
            and dr.SESSION_NUMBER = #{sessionNumber}
        </if>
        <if test="graduationYear!=null and graduationYear!=''">
            and dr.GRADUATION_YEAR = #{graduationYear}
        </if>
        <if test="trainingYears!=null and trainingYears!=''">
            and dr.TRAIN_YEAR = #{trainingYears}
        </if>
        <if test="userName!=null and userName!=''">
            <bind name="userName" value="'%'+userName+'%'"/>
            and Su.USER_NAME like #{userName}
        </if>
        <if test="idNo!=null and idNo!=''">
            <bind name="idNo" value="'%'+idNo+'%'"/>
            and Su.ID_NO like #{idNo}
        </if>
        <if test="auditStatusId !='' and  auditStatusId!=null">
            AND JGA.AUDIT_STATUS_ID =#{auditStatusId}
        </if>
        <if test="applyYear!=null and applyYear!=''">
        AND JGA.APPLY_YEAR = #{applyYear}
    </if>
        order by
        DR.CAT_SPE_ID,
        DR.SPE_ID,
        DR.SESSION_NUMBER,
        NLSSORT(su.USER_NAME,'NLS_SORT = SCHINESE_PINYIN_M')
    </select>
    <select id="chargeQueryListForExport" resultMap="chargeQueryMap">
         SELECT RD.DOCTOR_FLOW,
            RD.WORK_ORG_NAME,
            SO.ORG_CITY_ID,
            SO.ORG_CITY_NAME,
            RD.DOCTOR_TYPE_ID,
            RD.DOCTOR_TYPE_NAME,
            DR.RECRUIT_FLOW,
            DR.ORG_NAME,
            DR.ORG_FLOW,
            SU.USER_NAME,
            SU.ID_NO,
            SU.SEX_ID,
            SU.SEX_NAME,
            SU.EDUCATION_ID,
            SU.EDUCATION_NAME,
            RD.CERTIFICATE_NO,
            DR.CAT_SPE_ID,
            DR.CAT_SPE_NAME,
            DR.SPE_ID,
            DR.SPE_NAME,
            nvl(DR.CHANGE_SPE_ID,DR.SPE_ID) CHANGE_SPE_ID,
            nvl(DR.CHANGE_SPE_NAME,DR.SPE_NAME) CHANGE_SPE_NAME,
            DR.SESSION_NUMBER,
            decode( DR.TRAIN_YEAR,'1','一年','2','两年','3','三年',DR.TRAIN_YEAR) TRAIN_YEAR,
            DR.GRADUATION_YEAR,
            JGA.APPLY_FLOW,
            JGA.AUDIT_STATUS_ID,
            JGA.AUDIT_STATUS_NAME,
            JGA.LOCAL_AUDIT_STATUS_ID,
            JGA.LOCAL_AUDIT_STATUS_NAME,
            JGA.LOCAL_REASON,
            JGA.CITY_AUDIT_STATUS_ID,
            JGA.CITY_AUDIT_STATUS_NAME,
            JGA.CITY_REASON,
            JGA.GLOBAL_AUDIT_STATUS_ID,
            JGA.GLOBAL_AUDIT_STATUS_NAME,
            JGA.GLOBAL_REASON,
            JGA.APPLY_YEAR,
            DR.RECRUIT_DATE,

            CASE
            WHEN DR.TRAIN_YEAR='1' THEN to_char(add_months(to_date(DR.RECRUIT_DATE, 'yyyy-mm-dd'),12)-1, 'yyyy-mm-dd')
            WHEN DR.TRAIN_YEAR='2' THEN  to_char(add_months(to_date(DR.RECRUIT_DATE, 'yyyy-mm-dd'),12*2)-1, 'yyyy-mm-dd')
            WHEN DR.TRAIN_YEAR='3' THEN  to_char(add_months(to_date(DR.RECRUIT_DATE, 'yyyy-mm-dd'),33)-1, 'yyyy-mm-dd')
            ELSE ''
            END  END_DATE
        FROM res_doctor_recruit dr
        LEFT JOIN RES_DOCTOR RD
        ON DR.DOCTOR_FLOW = RD.DOCTOR_FLOW
        INNER JOIN SYS_USER SU
        ON RD.DOCTOR_FLOW = SU.USER_FLOW
        LEFT JOIN RES_SCORE SCORE
        ON SCORE.Recruit_Flow = DR.RECRUIT_FLOW
        AND SCORE.SCORE_TYPE_ID = 'PublicScore'
        AND SCORE.RECORD_STATUS='Y'
        INNER JOIN JSRES_GRADUATION_APPLY JGA
        ON JGA.RECRUIT_FLOW = DR.RECRUIT_FLOW
        LEFT JOIN SYS_ORG SO
        ON SO.ORG_FLOW=DR.ORG_FLOW
        left join res_joint_org rjo
        on rjo.joint_org_flow = DR.org_flow and rjo.record_status = 'Y'
        WHERE RD.RECORD_STATUS = 'Y'
        AND JGA.RECORD_STATUS = 'Y'
        AND DR.RECORD_STATUS = 'Y'
        AND SU.RECORD_STATUS = 'Y'
        AND SO.RECORD_STATUS = 'Y'
        and DR.org_flow in(
            SELECT ORG_FLOW
            FROM PDSCI.SYS_ORG
            WHERE PDSCI.SYS_ORG.RECORD_STATUS='Y'
            <if test="org!=null">
                    <if test="org.orgProvId!=null and org.orgProvId!=''">AND ORG_PROV_ID = #{org.orgProvId}
                    </if>
                    <if test="org.orgCityId!=null and org.orgCityId!=''">
                        AND ORG_CITY_ID = #{org.orgCityId}
                    </if>
                    <if test="org.orgLevelId!=null and org.orgLevelId!=''">
                        AND ORG_LEVEL_ID = #{org.orgLevelId}
                    </if>
                    <if test="org.orgTypeId!=null and org.orgTypeId!=''">
                        AND ORG_TYPE_ID = #{org.orgTypeId}
                    </if>
                </if>
        )
        <if test="orgFlow!=null and orgFlow!=''">
            AND DR.org_flow = #{orgFlow}
        </if>
        <if test="orgFlowList!=null and orgFlowList.size>0">
            and DR.org_flow in
            <foreach collection="orgFlowList" open="(" separator="," close=")" item="item">#{item}</foreach>
        </if>
        <if test="docTypeList!=null and docTypeList.size>0">
            and RD.DOCTOR_TYPE_ID in
            <foreach collection="docTypeList" open="(" separator="," close=")" item="item">#{item}</foreach>
        </if>
        <if test="speIds!=null and speIds.size>0">
            and dr.SPE_ID in
            <foreach collection="speIds" open="(" separator="," close=")" item="item">#{item}</foreach>
        </if>
        <if test="trainingTypeId!=null and trainingTypeId!=''">
            and dr.CAT_SPE_ID = #{trainingTypeId}
        </if>
        <if test="trainingSpeId!=null and trainingSpeId!=''">
            and dr.SPE_ID = #{trainingSpeId}
        </if>
        <if test="sessionNumber!=null and sessionNumber!=''">
            and dr.SESSION_NUMBER = #{sessionNumber}
        </if>
        <if test="graduationYear!=null and graduationYear!=''">
            and dr.GRADUATION_YEAR = #{graduationYear}
        </if>
        <if test="trainingYears!=null and trainingYears!=''">
            and dr.TRAIN_YEAR = #{trainingYears}
        </if>
        <if test="userName!=null and userName!=''">
            <bind name="userName" value="'%'+userName+'%'"/>
            and Su.USER_NAME like #{userName}
        </if>
        <if test="idNo!=null and idNo!=''">
            <bind name="idNo" value="'%'+idNo+'%'"/>
            and Su.ID_NO like #{idNo}
        </if>
        <if test="auditStatusId !='' and  auditStatusId!=null">
            AND JGA.AUDIT_STATUS_ID =#{auditStatusId}
        </if>
        <if test="applyYear!=null and applyYear!=''">
        AND JGA.APPLY_YEAR = #{applyYear}
        </if>
        order by
            DR.CAT_SPE_ID,
            DR.SPE_ID,
            DR.SESSION_NUMBER,
            NLSSORT(su.USER_NAME,'NLS_SORT = SCHINESE_PINYIN_M')
    </select>
</mapper>