<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.hbzy.HbzyResJointOrgExtMapper">
    <resultMap id="JointOrgExtMap" type="com.pinde.sci.model.hbzy.JszyResJointOrgExt">
        <id column="JOINT_FLOW" property="jointFlow" jdbcType="VARCHAR" />
        <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
        <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
        <result column="JOINT_ORG_FLOW" property="jointOrgFlow" jdbcType="VARCHAR" />
        <result column="JOINT_ORG_CODE" property="jointOrgCode" jdbcType="VARCHAR" />
        <result column="JOINT_ORG_NAME" property="jointOrgName" jdbcType="VARCHAR" />
        <result column="JOINT_ORG_LEVEL_NAME" property="jointOrgLevelName" jdbcType="VARCHAR" />
        <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
        <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
        <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
        <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
        <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    </resultMap>
    <select id="findJointOrgExtByOrgFlow"  parameterType="string" resultMap="JointOrgExtMap">
        SELECT SO.ORG_FLOW,
                JO.JOINT_FLOW,
                JO. ORG_FLOW,
                JO.ORG_NAME,
                JO. JOINT_ORG_FLOW,
                SO.ORG_CODE  JOINT_ORG_CODE,
                JO. JOINT_ORG_NAME,
                SO.ORG_LEVEL_NAME  JOINT_ORG_LEVEL_NAME,
                JO. RECORD_STATUS,
                JO. CREATE_TIME,
                JO. CREATE_USER_FLOW,
                JO.MODIFY_TIME
              FROM RES_JOINT_ORG JO, SYS_ORG SO
             WHERE SO.ORG_FLOW = JO.JOINT_ORG_FLOW(+)
            <if test="orgFlow !=null and orgFlow!=''">
                AND JO.ORG_FLOW = #{orgFlow}
            </if>
               AND SO.RECORD_STATUS = 'Y'
               AND JO.RECORD_STATUS = 'Y'

    </select>

</mapper>