html,body
{
    margin: 0;
    padding: 0;
    height: 100%;
    /*background: url(http://gzzoc.ezhupei.com/css/loginimg/bgimg.gif);*/
    font-size: 13px;
    text-align:left;
}
*
{
    margin: 0;
    padding: 0;
}
img
{
    border: 0;
}
#title
{
    width: 800px;
    height: 70px;
    background: url(http://gzzoc.ezhupei.com/css/loginimg/title.png) no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -220px;
    margin-left: -400px;
}
.title_NF
{
    width: 800px;
    height: 70px;
    background: url(http://gzzoc.ezhupei.com/css/loginimg/title-nf.png) no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -220px;
    margin-left: -400px;
}
.title
{
    width: 800px;
    height: 70px;
    background: url(http://gzzoc.ezhupei.com/css/loginimg/title.png) no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -220px;
    margin-left: -400px;
}
.titleGz
{
    width: 800px;
    height: 70px;
    background: url(http://gzzoc.ezhupei.com/css/loginimg/gzfrTitle.png) no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -220px;
    margin-left: -400px;
}
#login
{
    width: 100%;
    height: 300px;
    background: url(http://gzzoc.ezhupei.com/css/loginimg/bg_blue.gif) repeat-x;
    position: absolute;
    top: 50%;
    margin-top: -150px;
}
#login_
{
    width: 800px;
    height: 300px;
    margin: 0 auto;
}
#notice
{
    width: 458px;
    height: 300px;
    float: left;
}
#notice #n_title
{
    margin-top: 30px;
}
#notice ul
{
    margin-top: 10px;
}
#notice ul li
{
    width: 420px;
    line-height: 25px;
    list-style: none;
}
#notice ul li a
{
    width: 290px;
    float: left;
    color: White;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#notice ul li a:hover
{
    text-decoration: underline;
}
#notice ul li span
{
    float: right;
    color: White;
}
.hr
{
    position: absolute;
    top: 50%;
    margin-top: -120px;
}
#enter
{
    width: 300px;
    height: 300px;
    float: right;
    color: White;
}
#enter table
{
    margin-top: 45px;
}
#enter table td
{
    height: 65px;
}
.sl
{
    width: 230px;
    height: 30px;
    line-height: 30px;
    font-size:17px;
}
.s1
{
    width: 230px;
    height: 30px;
    line-height: 30px;
    font-size:17px;
}
.s2
{
    width: 234px;
    height: 34px;
    line-height: 34px;
    font-size:15px;
}
#bottom
{
    width: 800px;
    text-align:center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 160px;
    margin-left: -400px;
    color: #262626;
}
#c_head
{
    width: 100%;
    height: 105px;
    position: absolute;
    z-index: 100;
    top: 0;
}
#c_title
{
    width: 900px;
    height: 70px;
    margin: 0 auto;
    background: url(http://gzzoc.ezhupei.com/css/loginimg/title.png) no-repeat left bottom;
    padding-top: 40px;

}
#c_hr
{
    height: 5px;
    width: 100%;
    background-color: #2485b2;
    margin-top: -10px;
}
#con
{
    width: 100%;
    overflow: auto;
    top: 105px;
    bottom: 30px;
    position: absolute;
    z-index: 99;
    _height: 100%;
    _border-top: 105px solid #fff;
    _border-bottom: 30px solid #fff;
    _top: 0;
}
#content
{
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
}
#con_title
{
    font-size: 16px;
    font-family: Microsoft YaHei,SimSun,Arial,Verdana,sans-serif;
    line-height: 30px;
    text-align: center;
    color: #2485b2;
}

#con_hr
{
    width: 900px;
    height: 1px;
    background-color: #2485b2;
    margin-top: 15px;
}
#con_text
{
    margin: 20px 20px;
    line-height: 21px;
}
#c_bottom
{
    width: 100%;
    height: 30px;
    background-color: #2485b2;
    color: White;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
    position: absolute;
    z-index: 100;
    bottom: 0;
}
.c_sj{ font-size:13px; color:Black;}
#list_title
{
    font-size: 16px;
    font-family: Microsoft YaHei,SimSun,Arial,Verdana,sans-serif;
    line-height: 30px;
    color: #2485b2;
}
#con_text ul
{
    width: 100%;
    list-style: none;
    line-height: 30px;
}
#con_text ul a
{
    color: #3c3c3c;
    text-decoration: none;
}
#con_text ul a:hover
{
    color: #0c577a;
    text-decoration: underline;
}

#con_text ul span
{
    color: #a3a3a3;
    float: right;
}
#list_hr
{
    width: 900px;
    height: 1px;
    background-color: #cbcbcb;
    margin-top: 15px;
}
#page
{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 30px;
}
#page a
{
    color: #2485b2;
    text-decoration: none;
}
#page a:hover
{
    text-decoration: underline;
}

/*-----新版登录-----*/
.fl{float:left}
.fr{float:right;}
.db{display:block;}
img{border:none;}
input{outline:none;margin:0;border:none;font-family:"Microsoft YaHei";}
a:hover{color:#02a0e2;text-decoration:underline;cursor:pointer;}
/*页眉*/
.main_container{width:100%;min-height:100%;position:relative;}
/*.top_box{position:absolute;overflow:hidden;top:0;left:0;width:100%;z-index:5;display:block;}*/
.top_box{width:100%; height:90px;}
.top{width:1002px;margin:auto;overflow:hidden;}
.top .logo{color:#222;font-size:14px;font-family:"Microsoft YaHei";margin-top:5px;}
.top .shouC{line-height:80px;color:#222;}

.header{ /*border-top:4px solid #54b2e5;*/ margin:0 auto; text-align:center; font-size:16px; color:#595959;min-width: 1000px;
    overflow: hidden;}
.header span{ margin-left:170px; display:block; width:1000px; line-height:60px; height:60px; text-align:left;}
.header p{ float:right; padding-right:10px;}
.header a{text-decoration: none; outline:0;color:#000;}
.header a:hover{text-decoration:none; color:#f60;}

/*banner+登录*/
/*.banner_box{position:absolute;width:100%;overflow:hidden;background:url(http://gzzoc.ezhupei.com/css/loginimg/banner_bg.png) no-repeat center;z-index:3;
top:80px;bottom:132px; border-bottom:3px solid #2485b2;border-top:3px solid #2485b2;}*/
/*.banner_box{width:100%;overflow:hidden;background: url(../image/banner.png) no-repeat center top;border-bottom:3px solid #2485b2;border-top:3px solid #2485b2; height:600px; margin-bottom:20px;}*/
.banner_page{
    background: url(../image/bg_line.png) repeat-x;
    height: 460px;
    border-bottom:3px solid #2485b2;
    border-top:3px solid #2485b2;
    height:460px;
    margin-bottom:20px;
}
.banner_box{
    margin: 0 auto;
    background: url(../image/bg_index.jpg) no-repeat center center;
    height: 460px;
    position: relative;
}
.banner{margin:0 auto;position:relative;margin-top:76px;width:1020px;}
.lclz{ margin:0 auto;position:relative; top:44px;width:1024px;}
.banner_text{position:absolute;top:6%;left:50%;margin-left:-501px;}
.weixin_bg{position:absolute;top:15%;left:50%;margin-left:201px;width:336px;height:368px;background: url(../image/login_bg2.png)}
.weixin{width:240px;margin:auto;}
.chname{font-size:20px;color:#0D74B7;display:block;text-align:center;margin-top:33px;}
.lc_login img,.lc_login input,.mima img,.mima input{float:left; margin:6px;}
.lc_login,.mima{margin-top:15px;height:44px;line-height:35px;border:#ced0d1 solid 1px;overflow:hidden;background:#fff;}
.lc_login input,.mima input{border-radius:2px 2px 2px 2px;height:32px;width:160px;font-size:16px;color:#a1a4a7;line-height:40px;}
.cw{color:#ff3245;font-size:14px;display:block;line-height:48px;}
.denglu input{border-radius:2px 2px 2px 2px;line-height:36px; height:36px;width:240px;text-align:center;font-size:16px;color:#FFF;background:#1493E5;}
.denglu input:hover{background:#2895D5;cursor:pointer;}
.yanzm{margin-top:16px;overflow:hidden;margin-bottom:16px;}
.yanzm .yan{overflow:hidden;border:solid 1px #CED0D1; background:#FFF;border-radius:2px 2px 2px 2px;}
.yanzm .yan input{width:108px; height:38px; padding:6px;}
.yanzm img{float:right;}

.jizhu{height:30px; color: red;}
/*通知公告*/
/*.new_box{overflow:hidden;position:absolute;bottom:66px;left:0;width:100%;z-index:4}*/
.new_box{width:100%;margin:100px;padding-bottom:100px; padding-top:30px;}
.new{width:1002px;margin:auto;border:solid 1px #ebebeb;overflow:hidden;}
.new a{line-height:48px;font-size:14px}
.gongao{margin-left:26px;width:318px;text-indent:36px;line-height:30px;font-size:15px;color:#000;text-align:left;word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.gongao a img{ background-position: right 0px; padding-left:5px;}
.gongao span{color:#d5d5d5;margin-right:4px;}
.xitong{margin-left:20px;font-size:14px;color:#222;line-height:48px;}
.new .more{padding-right:16px;background:url(http://gzzoc.ezhupei.com/css/loginimg/more.png) no-repeat right center;margin-right:20px;color:#222;}
.new .more:hover{color:#02a0e2}
/*页脚*/
/*.footer_box{background:#2485b2;position:absolute;bottom:0;left:0;width:100%;z-index:5;display:block;overflow:hidden;}*/
.footer_box{bottom:0;width:100%; margin-top:28px;}
.footer{color:#4C4C4C;text-align:center;line-height:48px;font-size:14px; }
/*课程*/
.course{ width:980px; background-color:#fff; margin:auto;}
.photo1 img{ margin:60px;}
.photo1{ margin-left:86px;}




/*二维码*/
.code{ width:600px;line-height: 80px;}
.code font{font-weight:normal; display:inline; font-size:15px; margin-left:5px;}
.code .Q_hand{ vertical-align:bottom;margin-top: 10px;}
.code .android{ width:162px; height:40px; margin-left:15px; background:url(http://gzzoc.ezhupei.com/css/loginimg/android_w.png) no-repeat; float:right; display:inline-block;  margin-top: 20px;}
.code .iphone{ width:162px; height:40px; margin-left:15px; background:url(http://gzzoc.ezhupei.com/css/loginimg/iphone_w.png) no-repeat; float:right; display:inline-block; margin-top: 20px;}
.code .android:hover{ width:162px; height:40px; margin-left:15px; background:url(http://gzzoc.ezhupei.com/css/loginimg/android_b.png) no-repeat; float:right; display:inline-block;  margin-top: 20px; cursor:pointer;}
.code .iphone:hover{ width:162px; height:40px; margin-left:15px; background:url(http://gzzoc.ezhupei.com/css/loginimg/iphone_b.png) no-repeat; float:right; display:inline-block; margin-top: 20px; cursor:pointer;}
.code .QR_android,.code .QR_iphone{width:162px; height:166px;background:url(http://gzzoc.ezhupei.com/css/loginimg/Q_kuang.png) no-repeat; }
.code .QR_android{ margin-left: 438px; margin-top:60px; *margin-top:-20px;}
.code .QR_iphone{ margin-left: 260px; margin-top:60px; *margin-top:-20px;}
.code .QR_code{ padding-left: 5px;margin-top: -9px;*padding-left: 6px;*margin-top: 10px;}