<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.njmuedu.NjmuEduCourseNoticeExtMapper">
    <resultMap id="eduCourseNoticeMap" type="com.pinde.sci.model.njmuedu.EduCourseNoticeExt" extends="com.pinde.sci.dao.base.EduCourseNoticeMapper.BaseResultMap" >
		<association property="sysUser" javaType="com.pinde.sci.model.mo.SysUser">
			<id column="SU_USER_FLOW" jdbcType="VARCHAR" property="userFlow" />
    		<result column="user_Head_Img" jdbcType="VARCHAR" property="userHeadImg" />
		</association>
	</resultMap>
    
	<select id="searchCourseNoticeListByCourseFlow" parameterType="string" resultMap="eduCourseNoticeMap">
    	select  ecn.notice_Flow, ecn.notice_Title, ecn.notice_Content, ecn.user_Flow, ecn.user_name, ecn.create_Time,
		    	su.user_flow su_user_flow, su.user_Head_Img
    	from pdsci.EDU_COURSE_NOTICE ecn, pdsci.sys_user su
    	where ecn.RECORD_STATUS = 'Y' and su.RECORD_STATUS = 'Y'
    	and su.user_flow = ecn.user_flow
   	   	and ecn.course_Flow = #{courseFlow}
    	order by ecn.create_time desc	
    </select>
</mapper>