<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.njmuedu.NjmuEduSubjectExtMapper">
    <update id="auditBack">
        update study_subject_detail set
             AUDIT_STATUS_ID='Passing',
             AUDIT_STATUS_NAME='待医院审核'
             where detail_flow in
              <foreach collection="detailFlows" open="(" separator="," close=")" item="item">#{item}</foreach>
    </update>

    <update id="auditPassed">
        update study_subject_detail set
             AUDIT_STATUS_ID='Passed',
             AUDIT_STATUS_NAME='医院审核通过'
             where detail_flow in
              <foreach collection="detailFlows" open="(" separator="," close=")" item="item">#{item}</foreach>
    </update>

    <update id="auditPassedTwo">
        update study_subject_detail set
        AUDIT_STATUS_ID='PassedTwo',
        AUDIT_STATUS_NAME='通过'
        where detail_flow in
        <foreach collection="detailFlows" open="(" separator="," close=")" item="item">#{item}</foreach>
    </update>

    <update id="auditUnPassed">
        update study_subject_detail set
             AUDIT_STATUS_ID='UnPassed',
             AUDIT_STATUS_NAME='医院审核不通过'
             where detail_flow in
              <foreach collection="detailFlows" open="(" separator="," close=")" item="item">#{item}</foreach>
    </update>

    <update id="auditUnPassedTwo">
        update study_subject_detail set
        AUDIT_STATUS_ID='UnPassedTwo',
        AUDIT_STATUS_NAME='不通过'
        where detail_flow in
        <foreach collection="detailFlows" open="(" separator="," close=")" item="item">#{item}</foreach>
    </update>


    <select id="searchStudents" parameterType="java.util.Map" resultType="java.util.Map">
        select su.user_name,
        rd.session_number,
        su.id_no,
        su.user_email,
        su.user_phone,
        rd.work_org_name,
        su.user_flow,
        su.org_name,
        su.status_id,
        rd.training_type_name,
        rd.training_spe_name,
        rd.OSCA_STUDENT_SUBMIT
        FROM sys_user su
        left join res_doctor rd on su.user_flow=rd.doctor_flow
        where
        su.record_status = 'Y' and rd.record_status = 'Y'
        and exists(
            select 1 from  sys_user_role sur where sur.user_flow  = rd.doctor_flow
           and  sur.record_status='Y'
            and sur.role_flow =#{flow}
        )
        <if test="orgFlow!=null and orgFlow!=''">
            and su.org_Flow = #{orgFlow}
        </if>
        and su.status_id in ('Locked','Activated')
        <if test="userName!=null and userName!=''">
            and su.user_name like '%${userName}%'
        </if>
        <if test="trainingTypeId!=null and trainingTypeId!=''">
            and rd.training_Type_Id = #{trainingTypeId}
        </if>
        <if test="trainingSpeId!=null and trainingSpeId!=''">
            and rd.training_spe_id = #{trainingSpeId}
        </if>
        <if test="sessionNumber!=null and sessionNumber!=''">
            and rd.SESSION_NUMBER = #{sessionNumber}
        </if>
        <if test="idNo!=null and idNo!=''">
            and su.id_no like '%${idNo}%'
        </if>

        <if test="statusId!=null and statusId!=''">
            and su.status_id = #{statusId}
        </if>
        order by rd.session_number,su.id_no,su.user_flow
    </select>
    <resultMap id="resBaseExtMap" type="hashmap" >
        <result property="detailFlow" column="DETAIL_FLOW" jdbcType="VARCHAR"/>
        <result property="userFlow" column="USER_FLOW" jdbcType="VARCHAR"/>
        <result property="sexName" column="SEX_NAME" jdbcType="VARCHAR"/>
        <result property="userName" column="USER_NAME" jdbcType="VARCHAR"/>
        <result property="period" column="PERIOD" jdbcType="VARCHAR"/>
        <result property="idNo" column="ID_NO" jdbcType="VARCHAR"/>
        <result property="userPhone" column="USER_PHONE" jdbcType="VARCHAR"/>
        <result property="orgName" column="ORG_NAME" jdbcType="VARCHAR"/>
        <result property="statusId" column="STATUS_ID" jdbcType="VARCHAR"/>
        <result property="majorId" column="MAJOR_ID" jdbcType="VARCHAR"/>
        <result property="majorName" column="MAJOR_NAME" jdbcType="VARCHAR"/>
        <result property="auditStatusId" column="AUDIT_STATUS_ID" jdbcType="VARCHAR"/>
        <result property="auditStatusName" column="AUDIT_STATUS_NAME" jdbcType="VARCHAR"/>
        <result property="orderTime" column="ORDER_TIME" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="detailList"  parameterType="java.util.Map" resultMap="resBaseExtMap">
        select b.*,rownum from(
        select
            DETAIL_FLOW,
            ORDER_TIME,
            SU.SEX_ID,
            SU.SEX_NAME,
            SU.USER_NAME,
            RD.PERIOD,
            SU.ID_NO,
            SU.USER_EMAIL,
            SU.USER_PHONE,
            SU.USER_FLOW,
            SU.ORG_NAME,
            SU.STATUS_ID,
            RD.MAJOR_ID,
            RD.MAJOR_NAME,
             AUDIT_STATUS_ID,
             AUDIT_STATUS_NAME
        from study_subject_detail oda
        left join SYS_USER su on oda.DOCTOR_FLOW = su.USER_FLOW
        left join EDU_USER rd on su.USER_FLOW = rd.USER_FLOW
        where oda.RECORD_STATUS = 'Y'
        <if test='subjectFlow!=null and subjectFlow!=""'>
            and oda.subject_flow = #{subjectFlow}
        </if>
        <if test='doctorName!=null and doctorName!=""'>
            <bind name="name" value="'%'+doctorName+'%'"/>
            and su.user_name like #{name}
        </if>
        <if test='auditStatusId!=null and auditStatusId!=""'>
            and oda.AUDIT_STATUS_ID = #{auditStatusId}
        </if>
        <if test='orgFlow!=null and orgFlow !=""'>
            and su.org_Flow = #{orgFlow}
        </if>
        order by oda.order_time
        )b
    </select>

    <select id="findSubject"    resultMap="com.pinde.sci.dao.base.StudySubjectMapper.BaseResultMap">
        select ss.* from study_subject ss
        where ss.record_status='Y'
        and ss.post_status='Y'
        and  (  TO_NUMBER(ss.RESERVATIONS_NUM) > (select count(0) from study_subject_detail sd where sd.record_status='Y'
        and sd.audit_status_id in ('Passing','Passed','PassedTwo') and sd.SUBJECT_FLOW = ss.SUBJECT_FLOW)
        ) and ss.subject_end_time > = to_char(sysdate,'yyyy-mm-dd hh24:mi') order by ss.subject_year desc,ss.create_time desc
    </select>
    <select id="findAppiontNum"   resultType="Integer">
          select count(1) from study_subject_detail where record_status='Y'
          and study_subject_detail.subject_flow=#{subjectFlow}
          and audit_status_id in ('Passing','Passed','PassedTwo')

    </select>
</mapper>