<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.sch.SchDoctorDeptExtMapper" >
	
	<select id="countRotationUse" resultType="int">
		SELECT COUNT(DISTINCT DOCTOR_FLOW)
		FROM PDSCI.SCH_DOCTOR_DEPT
		WHERE RECORD_STATUS = 'Y'
		AND ROTATION_FLOW = #{rotationFlow}
	</select>
	
	<update id="cleanInvalidSelDept"  parameterType="java.util.Map">
		update sch_doctor_dept sdd set sdd.record_status = 'N' 
		  where sdd.record_status = 'Y'
		  <if test='doctorFlow != null and doctorFlow != ""'>
		  	and sdd.doctor_flow = #{doctorFlow}
		  </if>
		  and (
		      not exists (
		      select null 
		      from sch_rotation_dept srd
		      where srd.record_status = 'Y'
		      and srd.rotation_flow = sdd.rotation_flow
		      and srd.group_flow = sdd.group_flow
		    )
		    or
		      not exists (
		      select null
		      from sch_rotation_dept srd
		      where srd.record_status = 'Y'
		      and srd.rotation_flow = sdd.rotation_flow
		      and srd.group_flow = sdd.group_flow
		      and srd.standard_dept_id = sdd.standard_dept_id
		    )
		    or
		     not exists (
		      select null
		      from sch_rotation_dept srd
		      where srd.record_status = 'Y'
		      and srd.rotation_flow = sdd.rotation_flow
		      and srd.group_flow = sdd.group_flow
		      and srd.standard_dept_id = sdd.standard_dept_id
		      and srd.sch_dept_flow = sdd.sch_dept_flow
		    )
		  )
	</update>
	
	<select id="countReducation" resultType="int">
		select count(0) 
		from pdsci.res_doctor rd
		where rd.record_status = 'Y'
		and rd.org_flow = #{orgFlow}
		and rd.session_number >= '2015'
		and (rd.training_years = 'OneYear' or rd.training_years='TwoYear')
		and rd.training_type_id = 'DoctorTrainingSpe'
     	 AND degree_category_id is not null
		and not exists(
			select null
			from pdsci.sch_doctor_dept sdd
			where sdd.record_status = 'Y'
      		and sdd.org_flow=rd.org_flow
			and rd.doctor_flow = sdd.doctor_flow
			and rd.rotation_flow = sdd.rotation_flow
		)
		  AND NOT EXISTS (SELECT NULL
			FROM Res_Docotr_Delay_Teturn
			WHERE record_status = 'Y'
			  AND Res_Docotr_Delay_Teturn.org_flow = rd.org_flow
			  AND Res_Docotr_Delay_Teturn.doctor_flow = rd.doctor_flow
			  and audit_status_id ='1'
				and policy_id='2'
			  AND type_id = 'ReturnTraining')
	</select>
	<select id="jszyCountReducation" resultType="int">
		select count(0)
		from pdsci.res_doctor rd
		where rd.record_status = 'Y'
		and rd.org_flow = #{orgFlow}
		and (rd.training_years = '1' or rd.training_years='2')
		AND rd.session_number >= '2016'
		and rd.training_type_id in ('ChineseMedicine','TCMGeneral')
      	AND degree_category_id is not null
      	and NOT EXISTS (
      	select 1 from RES_DOCTOR_REDUCTION rdr where rdr.record_status='Y'
      	  and rdr.doctor_flow =rd.doctor_flow and audit_status_id ='GlobalPassed'
      	)
		and not exists(
			select null
			from pdsci.sch_doctor_dept sdd
			where sdd.record_status = 'Y'
      		and sdd.org_flow=rd.org_flow
			and rd.doctor_flow = sdd.doctor_flow
			and rd.rotation_flow = sdd.rotation_flow
		)
		  AND NOT EXISTS (SELECT NULL
			FROM Res_Docotr_Delay_Teturn
			WHERE record_status = 'Y'
			  AND Res_Docotr_Delay_Teturn.org_flow = rd.org_flow
			  AND Res_Docotr_Delay_Teturn.doctor_flow = rd.doctor_flow
			  AND type_id = 'ReturnTraining')
	</select>
</mapper>