<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.sch.SchRotationGroupExtMapper" >
	<select id="sumDeptNumByRotation" parameterType="string" resultType="int">
		SELECT SUM(DEPT_NUM)
		FROM PDSCI.SCH_ROTATION_GROUP
		WHERE RECORD_STATUS = 'Y'
		AND ROTATION_FLOW = #{rotationFlow}
	</select>
</mapper>