<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.core.common.sci.dao.InxInfoMapper">
  <resultMap id="BaseResultMap" type="com.pinde.core.model.InxInfo">
    <id column="INFO_FLOW" jdbcType="VARCHAR" property="infoFlow" />
    <result column="INFO_TITLE" jdbcType="VARCHAR" property="infoTitle" />
    <result column="TITLE_IMG" jdbcType="VARCHAR" property="titleImg" />
    <result column="COLUMN_ID" jdbcType="VARCHAR" property="columnId" />
    <result column="COLUMN_NAME" jdbcType="VARCHAR" property="columnName" />
    <result column="INFO_STATUS_ID" jdbcType="VARCHAR" property="infoStatusId" />
    <result column="INFO_STATUS_NAME" jdbcType="VARCHAR" property="infoStatusName" />
    <result column="INFO_TIME" jdbcType="VARCHAR" property="infoTime" />
    <result column="PASS_TIME" jdbcType="VARCHAR" property="passTime" />
    <result column="PASS_USER_FLOW" jdbcType="VARCHAR" property="passUserFlow" />
    <result column="CANCEL_TIME" jdbcType="VARCHAR" property="cancelTime" />
    <result column="CANCEL_USER_FLOW" jdbcType="VARCHAR" property="cancelUserFlow" />
    <result column="DELETE_TIME" jdbcType="VARCHAR" property="deleteTime" />
    <result column="DELETE_USER_FLOW" jdbcType="VARCHAR" property="deleteUserFlow" />
    <result column="INFO_KEYWORD" jdbcType="VARCHAR" property="infoKeyword" />
    <result column="IS_TOP" jdbcType="CHAR" property="isTop" />
    <result column="VIEW_NUM" jdbcType="DECIMAL" property="viewNum" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="ORG_FLOW" jdbcType="VARCHAR" property="orgFlow" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="ROLE_FLOW" jdbcType="VARCHAR" property="roleFlow" />
    <result column="BACK_COLUMN_ID" jdbcType="VARCHAR" property="backColumnId" />
    <result column="BACK_COLUMN_NAME" jdbcType="VARCHAR" property="backColumnName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.pinde.core.model.InxInfo">
    <result column="INFO_CONTENT" jdbcType="CLOB" property="infoContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    INFO_FLOW, INFO_TITLE, TITLE_IMG, COLUMN_ID, COLUMN_NAME, INFO_STATUS_ID, INFO_STATUS_NAME, 
    INFO_TIME, PASS_TIME, PASS_USER_FLOW, CANCEL_TIME, CANCEL_USER_FLOW, DELETE_TIME, 
    DELETE_USER_FLOW, INFO_KEYWORD, IS_TOP, VIEW_NUM, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW, ORG_FLOW, ORG_NAME, ROLE_FLOW, BACK_COLUMN_ID, BACK_COLUMN_NAME
  </sql>
  <sql id="Blob_Column_List">
    INFO_CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.pinde.core.model.InxInfoExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.INX_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.pinde.core.model.InxInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.INX_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.INX_INFO
    where INFO_FLOW = #{infoFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.INX_INFO
    where INFO_FLOW = #{infoFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.InxInfoExample">
    delete from PDSCI.INX_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.InxInfo">
    insert into PDSCI.INX_INFO (INFO_FLOW, INFO_TITLE, TITLE_IMG, 
      COLUMN_ID, COLUMN_NAME, INFO_STATUS_ID, 
      INFO_STATUS_NAME, INFO_TIME, PASS_TIME, 
      PASS_USER_FLOW, CANCEL_TIME, CANCEL_USER_FLOW, 
      DELETE_TIME, DELETE_USER_FLOW, INFO_KEYWORD, 
      IS_TOP, VIEW_NUM, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, ORG_FLOW, ORG_NAME, 
      ROLE_FLOW, BACK_COLUMN_ID, BACK_COLUMN_NAME, 
      INFO_CONTENT)
    values (#{infoFlow,jdbcType=VARCHAR}, #{infoTitle,jdbcType=VARCHAR}, #{titleImg,jdbcType=VARCHAR}, 
      #{columnId,jdbcType=VARCHAR}, #{columnName,jdbcType=VARCHAR}, #{infoStatusId,jdbcType=VARCHAR}, 
      #{infoStatusName,jdbcType=VARCHAR}, #{infoTime,jdbcType=VARCHAR}, #{passTime,jdbcType=VARCHAR}, 
      #{passUserFlow,jdbcType=VARCHAR}, #{cancelTime,jdbcType=VARCHAR}, #{cancelUserFlow,jdbcType=VARCHAR}, 
      #{deleteTime,jdbcType=VARCHAR}, #{deleteUserFlow,jdbcType=VARCHAR}, #{infoKeyword,jdbcType=VARCHAR}, 
      #{isTop,jdbcType=CHAR}, #{viewNum,jdbcType=DECIMAL}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{roleFlow,jdbcType=VARCHAR}, #{backColumnId,jdbcType=VARCHAR}, #{backColumnName,jdbcType=VARCHAR}, 
      #{infoContent,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.InxInfo">
    insert into PDSCI.INX_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="infoFlow != null">
        INFO_FLOW,
      </if>
      <if test="infoTitle != null">
        INFO_TITLE,
      </if>
      <if test="titleImg != null">
        TITLE_IMG,
      </if>
      <if test="columnId != null">
        COLUMN_ID,
      </if>
      <if test="columnName != null">
        COLUMN_NAME,
      </if>
      <if test="infoStatusId != null">
        INFO_STATUS_ID,
      </if>
      <if test="infoStatusName != null">
        INFO_STATUS_NAME,
      </if>
      <if test="infoTime != null">
        INFO_TIME,
      </if>
      <if test="passTime != null">
        PASS_TIME,
      </if>
      <if test="passUserFlow != null">
        PASS_USER_FLOW,
      </if>
      <if test="cancelTime != null">
        CANCEL_TIME,
      </if>
      <if test="cancelUserFlow != null">
        CANCEL_USER_FLOW,
      </if>
      <if test="deleteTime != null">
        DELETE_TIME,
      </if>
      <if test="deleteUserFlow != null">
        DELETE_USER_FLOW,
      </if>
      <if test="infoKeyword != null">
        INFO_KEYWORD,
      </if>
      <if test="isTop != null">
        IS_TOP,
      </if>
      <if test="viewNum != null">
        VIEW_NUM,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="orgFlow != null">
        ORG_FLOW,
      </if>
      <if test="orgName != null">
        ORG_NAME,
      </if>
      <if test="roleFlow != null">
        ROLE_FLOW,
      </if>
      <if test="backColumnId != null">
        BACK_COLUMN_ID,
      </if>
      <if test="backColumnName != null">
        BACK_COLUMN_NAME,
      </if>
      <if test="infoContent != null">
        INFO_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="infoFlow != null">
        #{infoFlow,jdbcType=VARCHAR},
      </if>
      <if test="infoTitle != null">
        #{infoTitle,jdbcType=VARCHAR},
      </if>
      <if test="titleImg != null">
        #{titleImg,jdbcType=VARCHAR},
      </if>
      <if test="columnId != null">
        #{columnId,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null">
        #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="infoStatusId != null">
        #{infoStatusId,jdbcType=VARCHAR},
      </if>
      <if test="infoStatusName != null">
        #{infoStatusName,jdbcType=VARCHAR},
      </if>
      <if test="infoTime != null">
        #{infoTime,jdbcType=VARCHAR},
      </if>
      <if test="passTime != null">
        #{passTime,jdbcType=VARCHAR},
      </if>
      <if test="passUserFlow != null">
        #{passUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="cancelTime != null">
        #{cancelTime,jdbcType=VARCHAR},
      </if>
      <if test="cancelUserFlow != null">
        #{cancelUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=VARCHAR},
      </if>
      <if test="deleteUserFlow != null">
        #{deleteUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="infoKeyword != null">
        #{infoKeyword,jdbcType=VARCHAR},
      </if>
      <if test="isTop != null">
        #{isTop,jdbcType=CHAR},
      </if>
      <if test="viewNum != null">
        #{viewNum,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null">
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="roleFlow != null">
        #{roleFlow,jdbcType=VARCHAR},
      </if>
      <if test="backColumnId != null">
        #{backColumnId,jdbcType=VARCHAR},
      </if>
      <if test="backColumnName != null">
        #{backColumnName,jdbcType=VARCHAR},
      </if>
      <if test="infoContent != null">
        #{infoContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.InxInfoExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.INX_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.INX_INFO
    <set>
      <if test="record.infoFlow != null">
        INFO_FLOW = #{record.infoFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.infoTitle != null">
        INFO_TITLE = #{record.infoTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.titleImg != null">
        TITLE_IMG = #{record.titleImg,jdbcType=VARCHAR},
      </if>
      <if test="record.columnId != null">
        COLUMN_ID = #{record.columnId,jdbcType=VARCHAR},
      </if>
      <if test="record.columnName != null">
        COLUMN_NAME = #{record.columnName,jdbcType=VARCHAR},
      </if>
      <if test="record.infoStatusId != null">
        INFO_STATUS_ID = #{record.infoStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.infoStatusName != null">
        INFO_STATUS_NAME = #{record.infoStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.infoTime != null">
        INFO_TIME = #{record.infoTime,jdbcType=VARCHAR},
      </if>
      <if test="record.passTime != null">
        PASS_TIME = #{record.passTime,jdbcType=VARCHAR},
      </if>
      <if test="record.passUserFlow != null">
        PASS_USER_FLOW = #{record.passUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.cancelTime != null">
        CANCEL_TIME = #{record.cancelTime,jdbcType=VARCHAR},
      </if>
      <if test="record.cancelUserFlow != null">
        CANCEL_USER_FLOW = #{record.cancelUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteTime != null">
        DELETE_TIME = #{record.deleteTime,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteUserFlow != null">
        DELETE_USER_FLOW = #{record.deleteUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.infoKeyword != null">
        INFO_KEYWORD = #{record.infoKeyword,jdbcType=VARCHAR},
      </if>
      <if test="record.isTop != null">
        IS_TOP = #{record.isTop,jdbcType=CHAR},
      </if>
      <if test="record.viewNum != null">
        VIEW_NUM = #{record.viewNum,jdbcType=DECIMAL},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null">
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null">
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.roleFlow != null">
        ROLE_FLOW = #{record.roleFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.backColumnId != null">
        BACK_COLUMN_ID = #{record.backColumnId,jdbcType=VARCHAR},
      </if>
      <if test="record.backColumnName != null">
        BACK_COLUMN_NAME = #{record.backColumnName,jdbcType=VARCHAR},
      </if>
      <if test="record.infoContent != null">
        INFO_CONTENT = #{record.infoContent,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update PDSCI.INX_INFO
    set INFO_FLOW = #{record.infoFlow,jdbcType=VARCHAR},
      INFO_TITLE = #{record.infoTitle,jdbcType=VARCHAR},
      TITLE_IMG = #{record.titleImg,jdbcType=VARCHAR},
      COLUMN_ID = #{record.columnId,jdbcType=VARCHAR},
      COLUMN_NAME = #{record.columnName,jdbcType=VARCHAR},
      INFO_STATUS_ID = #{record.infoStatusId,jdbcType=VARCHAR},
      INFO_STATUS_NAME = #{record.infoStatusName,jdbcType=VARCHAR},
      INFO_TIME = #{record.infoTime,jdbcType=VARCHAR},
      PASS_TIME = #{record.passTime,jdbcType=VARCHAR},
      PASS_USER_FLOW = #{record.passUserFlow,jdbcType=VARCHAR},
      CANCEL_TIME = #{record.cancelTime,jdbcType=VARCHAR},
      CANCEL_USER_FLOW = #{record.cancelUserFlow,jdbcType=VARCHAR},
      DELETE_TIME = #{record.deleteTime,jdbcType=VARCHAR},
      DELETE_USER_FLOW = #{record.deleteUserFlow,jdbcType=VARCHAR},
      INFO_KEYWORD = #{record.infoKeyword,jdbcType=VARCHAR},
      IS_TOP = #{record.isTop,jdbcType=CHAR},
      VIEW_NUM = #{record.viewNum,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      ROLE_FLOW = #{record.roleFlow,jdbcType=VARCHAR},
      BACK_COLUMN_ID = #{record.backColumnId,jdbcType=VARCHAR},
      BACK_COLUMN_NAME = #{record.backColumnName,jdbcType=VARCHAR},
      INFO_CONTENT = #{record.infoContent,jdbcType=CLOB}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.INX_INFO
    set INFO_FLOW = #{record.infoFlow,jdbcType=VARCHAR},
      INFO_TITLE = #{record.infoTitle,jdbcType=VARCHAR},
      TITLE_IMG = #{record.titleImg,jdbcType=VARCHAR},
      COLUMN_ID = #{record.columnId,jdbcType=VARCHAR},
      COLUMN_NAME = #{record.columnName,jdbcType=VARCHAR},
      INFO_STATUS_ID = #{record.infoStatusId,jdbcType=VARCHAR},
      INFO_STATUS_NAME = #{record.infoStatusName,jdbcType=VARCHAR},
      INFO_TIME = #{record.infoTime,jdbcType=VARCHAR},
      PASS_TIME = #{record.passTime,jdbcType=VARCHAR},
      PASS_USER_FLOW = #{record.passUserFlow,jdbcType=VARCHAR},
      CANCEL_TIME = #{record.cancelTime,jdbcType=VARCHAR},
      CANCEL_USER_FLOW = #{record.cancelUserFlow,jdbcType=VARCHAR},
      DELETE_TIME = #{record.deleteTime,jdbcType=VARCHAR},
      DELETE_USER_FLOW = #{record.deleteUserFlow,jdbcType=VARCHAR},
      INFO_KEYWORD = #{record.infoKeyword,jdbcType=VARCHAR},
      IS_TOP = #{record.isTop,jdbcType=CHAR},
      VIEW_NUM = #{record.viewNum,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      ROLE_FLOW = #{record.roleFlow,jdbcType=VARCHAR},
      BACK_COLUMN_ID = #{record.backColumnId,jdbcType=VARCHAR},
      BACK_COLUMN_NAME = #{record.backColumnName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.InxInfo">
    update PDSCI.INX_INFO
    <set>
      <if test="infoTitle != null">
        INFO_TITLE = #{infoTitle,jdbcType=VARCHAR},
      </if>
      <if test="titleImg != null">
        TITLE_IMG = #{titleImg,jdbcType=VARCHAR},
      </if>
      <if test="columnId != null">
        COLUMN_ID = #{columnId,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null">
        COLUMN_NAME = #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="infoStatusId != null">
        INFO_STATUS_ID = #{infoStatusId,jdbcType=VARCHAR},
      </if>
      <if test="infoStatusName != null">
        INFO_STATUS_NAME = #{infoStatusName,jdbcType=VARCHAR},
      </if>
      <if test="infoTime != null">
        INFO_TIME = #{infoTime,jdbcType=VARCHAR},
      </if>
      <if test="passTime != null">
        PASS_TIME = #{passTime,jdbcType=VARCHAR},
      </if>
      <if test="passUserFlow != null">
        PASS_USER_FLOW = #{passUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="cancelTime != null">
        CANCEL_TIME = #{cancelTime,jdbcType=VARCHAR},
      </if>
      <if test="cancelUserFlow != null">
        CANCEL_USER_FLOW = #{cancelUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null">
        DELETE_TIME = #{deleteTime,jdbcType=VARCHAR},
      </if>
      <if test="deleteUserFlow != null">
        DELETE_USER_FLOW = #{deleteUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="infoKeyword != null">
        INFO_KEYWORD = #{infoKeyword,jdbcType=VARCHAR},
      </if>
      <if test="isTop != null">
        IS_TOP = #{isTop,jdbcType=CHAR},
      </if>
      <if test="viewNum != null">
        VIEW_NUM = #{viewNum,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null">
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="roleFlow != null">
        ROLE_FLOW = #{roleFlow,jdbcType=VARCHAR},
      </if>
      <if test="backColumnId != null">
        BACK_COLUMN_ID = #{backColumnId,jdbcType=VARCHAR},
      </if>
      <if test="backColumnName != null">
        BACK_COLUMN_NAME = #{backColumnName,jdbcType=VARCHAR},
      </if>
      <if test="infoContent != null">
        INFO_CONTENT = #{infoContent,jdbcType=CLOB},
      </if>
    </set>
    where INFO_FLOW = #{infoFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.core.model.InxInfo">
    update PDSCI.INX_INFO
    set INFO_TITLE = #{infoTitle,jdbcType=VARCHAR},
      TITLE_IMG = #{titleImg,jdbcType=VARCHAR},
      COLUMN_ID = #{columnId,jdbcType=VARCHAR},
      COLUMN_NAME = #{columnName,jdbcType=VARCHAR},
      INFO_STATUS_ID = #{infoStatusId,jdbcType=VARCHAR},
      INFO_STATUS_NAME = #{infoStatusName,jdbcType=VARCHAR},
      INFO_TIME = #{infoTime,jdbcType=VARCHAR},
      PASS_TIME = #{passTime,jdbcType=VARCHAR},
      PASS_USER_FLOW = #{passUserFlow,jdbcType=VARCHAR},
      CANCEL_TIME = #{cancelTime,jdbcType=VARCHAR},
      CANCEL_USER_FLOW = #{cancelUserFlow,jdbcType=VARCHAR},
      DELETE_TIME = #{deleteTime,jdbcType=VARCHAR},
      DELETE_USER_FLOW = #{deleteUserFlow,jdbcType=VARCHAR},
      INFO_KEYWORD = #{infoKeyword,jdbcType=VARCHAR},
      IS_TOP = #{isTop,jdbcType=CHAR},
      VIEW_NUM = #{viewNum,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      ROLE_FLOW = #{roleFlow,jdbcType=VARCHAR},
      BACK_COLUMN_ID = #{backColumnId,jdbcType=VARCHAR},
      BACK_COLUMN_NAME = #{backColumnName,jdbcType=VARCHAR},
      INFO_CONTENT = #{infoContent,jdbcType=CLOB}
    where INFO_FLOW = #{infoFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.InxInfo">
    update PDSCI.INX_INFO
    set INFO_TITLE = #{infoTitle,jdbcType=VARCHAR},
      TITLE_IMG = #{titleImg,jdbcType=VARCHAR},
      COLUMN_ID = #{columnId,jdbcType=VARCHAR},
      COLUMN_NAME = #{columnName,jdbcType=VARCHAR},
      INFO_STATUS_ID = #{infoStatusId,jdbcType=VARCHAR},
      INFO_STATUS_NAME = #{infoStatusName,jdbcType=VARCHAR},
      INFO_TIME = #{infoTime,jdbcType=VARCHAR},
      PASS_TIME = #{passTime,jdbcType=VARCHAR},
      PASS_USER_FLOW = #{passUserFlow,jdbcType=VARCHAR},
      CANCEL_TIME = #{cancelTime,jdbcType=VARCHAR},
      CANCEL_USER_FLOW = #{cancelUserFlow,jdbcType=VARCHAR},
      DELETE_TIME = #{deleteTime,jdbcType=VARCHAR},
      DELETE_USER_FLOW = #{deleteUserFlow,jdbcType=VARCHAR},
      INFO_KEYWORD = #{infoKeyword,jdbcType=VARCHAR},
      IS_TOP = #{isTop,jdbcType=CHAR},
      VIEW_NUM = #{viewNum,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      ROLE_FLOW = #{roleFlow,jdbcType=VARCHAR},
      BACK_COLUMN_ID = #{backColumnId,jdbcType=VARCHAR},
      BACK_COLUMN_NAME = #{backColumnName,jdbcType=VARCHAR}
    where INFO_FLOW = #{infoFlow,jdbcType=VARCHAR}
  </update>
</mapper>