<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.core.common.sci.dao.JsresSignMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.core.model.JsresSign" >
    <id column="SIGN_FLOW" property="signFlow" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="AUDIT_STATUS_ID" property="auditStatusId" jdbcType="VARCHAR" />
    <result column="AUDIT_STATUS_NAME" property="auditStatusName" jdbcType="VARCHAR" />
    <result column="SIGN_URL" property="signUrl" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="PRESIDENT_NAME" property="presidentName" jdbcType="VARCHAR" />
    <result column="USE_TIME" property="useTime" jdbcType="VARCHAR" />
    <result column="STOP_TIME" property="stopTime" jdbcType="VARCHAR" />
    <result column="USE_STATUS_ID" property="useStatusId" jdbcType="VARCHAR" />
    <result column="USE_STATUS_NAME" property="useStatusName" jdbcType="VARCHAR" />
    <result column="SESSION_NUMBER" property="sessionNumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SIGN_FLOW, ORG_FLOW, ORG_NAME, AUDIT_STATUS_ID, AUDIT_STATUS_NAME, SIGN_URL, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, PRESIDENT_NAME, USE_TIME, 
    STOP_TIME, USE_STATUS_ID, USE_STATUS_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.JsresSignExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
      from JSRES_SIGN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from JSRES_SIGN
    where SIGN_FLOW = #{signFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete
      from JSRES_SIGN
    where SIGN_FLOW = #{signFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.JsresSignExample" >
      delete from JSRES_SIGN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.JsresSign" >
      insert into JSRES_SIGN (SIGN_FLOW, ORG_FLOW, ORG_NAME,
      AUDIT_STATUS_ID, AUDIT_STATUS_NAME, SIGN_URL, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, PRESIDENT_NAME, 
      USE_TIME, STOP_TIME, USE_STATUS_ID, 
      USE_STATUS_NAME, SESSION_NUMBER)
    values (#{signFlow,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{auditStatusId,jdbcType=VARCHAR}, #{auditStatusName,jdbcType=VARCHAR}, #{signUrl,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{presidentName,jdbcType=VARCHAR}, 
      #{useTime,jdbcType=VARCHAR}, #{stopTime,jdbcType=VARCHAR}, #{useStatusId,jdbcType=VARCHAR}, 
      #{useStatusName,jdbcType=VARCHAR}, #{sessionNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.JsresSign" >
      insert into JSRES_SIGN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="signFlow != null" >
        SIGN_FLOW,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="auditStatusId != null" >
        AUDIT_STATUS_ID,
      </if>
      <if test="auditStatusName != null" >
        AUDIT_STATUS_NAME,
      </if>
      <if test="signUrl != null" >
        SIGN_URL,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="presidentName != null" >
        PRESIDENT_NAME,
      </if>
      <if test="useTime != null" >
        USE_TIME,
      </if>
      <if test="stopTime != null" >
        STOP_TIME,
      </if>
      <if test="useStatusId != null" >
        USE_STATUS_ID,
      </if>
      <if test="useStatusName != null" >
        USE_STATUS_NAME,
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="signFlow != null" >
        #{signFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusId != null" >
        #{auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusName != null" >
        #{auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="signUrl != null" >
        #{signUrl,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="presidentName != null" >
        #{presidentName,jdbcType=VARCHAR},
      </if>
      <if test="useTime != null" >
        #{useTime,jdbcType=VARCHAR},
      </if>
      <if test="stopTime != null" >
        #{stopTime,jdbcType=VARCHAR},
      </if>
      <if test="useStatusId != null" >
        #{useStatusId,jdbcType=VARCHAR},
      </if>
      <if test="useStatusName != null" >
        #{useStatusName,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        #{sessionNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.JsresSignExample" resultType="java.lang.Integer" >
      select count(*) from JSRES_SIGN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update JSRES_SIGN
    <set >
      <if test="record.signFlow != null" >
        SIGN_FLOW = #{record.signFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatusId != null" >
        AUDIT_STATUS_ID = #{record.auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatusName != null" >
        AUDIT_STATUS_NAME = #{record.auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.signUrl != null" >
        SIGN_URL = #{record.signUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.presidentName != null" >
        PRESIDENT_NAME = #{record.presidentName,jdbcType=VARCHAR},
      </if>
      <if test="record.useTime != null" >
        USE_TIME = #{record.useTime,jdbcType=VARCHAR},
      </if>
      <if test="record.stopTime != null" >
        STOP_TIME = #{record.stopTime,jdbcType=VARCHAR},
      </if>
      <if test="record.useStatusId != null" >
        USE_STATUS_ID = #{record.useStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.useStatusName != null" >
        USE_STATUS_NAME = #{record.useStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.sessionNumber != null" >
        SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update JSRES_SIGN
    set SIGN_FLOW = #{record.signFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      AUDIT_STATUS_ID = #{record.auditStatusId,jdbcType=VARCHAR},
      AUDIT_STATUS_NAME = #{record.auditStatusName,jdbcType=VARCHAR},
      SIGN_URL = #{record.signUrl,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      PRESIDENT_NAME = #{record.presidentName,jdbcType=VARCHAR},
      USE_TIME = #{record.useTime,jdbcType=VARCHAR},
      STOP_TIME = #{record.stopTime,jdbcType=VARCHAR},
      USE_STATUS_ID = #{record.useStatusId,jdbcType=VARCHAR},
      USE_STATUS_NAME = #{record.useStatusName,jdbcType=VARCHAR},
      SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.JsresSign" >
      update JSRES_SIGN
    <set >
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusId != null" >
        AUDIT_STATUS_ID = #{auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusName != null" >
        AUDIT_STATUS_NAME = #{auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="signUrl != null" >
        SIGN_URL = #{signUrl,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="presidentName != null" >
        PRESIDENT_NAME = #{presidentName,jdbcType=VARCHAR},
      </if>
      <if test="useTime != null" >
        USE_TIME = #{useTime,jdbcType=VARCHAR},
      </if>
      <if test="stopTime != null" >
        STOP_TIME = #{stopTime,jdbcType=VARCHAR},
      </if>
      <if test="useStatusId != null" >
        USE_STATUS_ID = #{useStatusId,jdbcType=VARCHAR},
      </if>
      <if test="useStatusName != null" >
        USE_STATUS_NAME = #{useStatusName,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where SIGN_FLOW = #{signFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.JsresSign" >
      update JSRES_SIGN
    set ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      AUDIT_STATUS_ID = #{auditStatusId,jdbcType=VARCHAR},
      AUDIT_STATUS_NAME = #{auditStatusName,jdbcType=VARCHAR},
      SIGN_URL = #{signUrl,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      PRESIDENT_NAME = #{presidentName,jdbcType=VARCHAR},
      USE_TIME = #{useTime,jdbcType=VARCHAR},
      STOP_TIME = #{stopTime,jdbcType=VARCHAR},
      USE_STATUS_ID = #{useStatusId,jdbcType=VARCHAR},
      USE_STATUS_NAME = #{useStatusName,jdbcType=VARCHAR},
      SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR}
    where SIGN_FLOW = #{signFlow,jdbcType=VARCHAR}
  </update>
</mapper>