<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.core.common.sci.dao.LcjnCourseInfoMapper">
  <resultMap id="BaseResultMap" type="com.pinde.core.model.LcjnCourseInfo">
    <id column="COURSE_FLOW" jdbcType="VARCHAR" property="courseFlow" />
    <result column="COURSE_NAME" jdbcType="VARCHAR" property="courseName" />
    <result column="COURSE_PEOPLE_NUM" jdbcType="VARCHAR" property="coursePeopleNum" />
    <result column="COURSE_ADDRESS" jdbcType="VARCHAR" property="courseAddress" />
    <result column="COURSE_DEMO" jdbcType="VARCHAR" property="courseDemo" />
    <result column="APPOINT_START_TIME" jdbcType="VARCHAR" property="appointStartTime" />
    <result column="APPOINT_END_TIME" jdbcType="VARCHAR" property="appointEndTime" />
    <result column="IS_RELEASED" jdbcType="VARCHAR" property="isReleased" />
    <result column="IS_SCORE_RELEASED" jdbcType="VARCHAR" property="isScoreReleased" />
    <result column="CODE_INFO" jdbcType="VARCHAR" property="codeInfo" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="ORG_FLOW" jdbcType="VARCHAR" property="orgFlow" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    COURSE_FLOW, COURSE_NAME, COURSE_PEOPLE_NUM, COURSE_ADDRESS, COURSE_DEMO, APPOINT_START_TIME, 
    APPOINT_END_TIME, IS_RELEASED, IS_SCORE_RELEASED, CODE_INFO, RECORD_STATUS, CREATE_TIME, 
    CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, ORG_FLOW, ORG_NAME
  </sql>
  <select id="selectByExample" parameterType="com.pinde.core.model.LcjnCourseInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
      from LCJN_COURSE_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
      from LCJN_COURSE_INFO
    where COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
      delete
      from LCJN_COURSE_INFO
    where COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.LcjnCourseInfoExample">
      delete from LCJN_COURSE_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.LcjnCourseInfo">
      insert into LCJN_COURSE_INFO (COURSE_FLOW, COURSE_NAME, COURSE_PEOPLE_NUM,
      COURSE_ADDRESS, COURSE_DEMO, APPOINT_START_TIME, 
      APPOINT_END_TIME, IS_RELEASED, IS_SCORE_RELEASED, 
      CODE_INFO, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      ORG_FLOW, ORG_NAME)
    values (#{courseFlow,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR}, #{coursePeopleNum,jdbcType=VARCHAR}, 
      #{courseAddress,jdbcType=VARCHAR}, #{courseDemo,jdbcType=VARCHAR}, #{appointStartTime,jdbcType=VARCHAR}, 
      #{appointEndTime,jdbcType=VARCHAR}, #{isReleased,jdbcType=VARCHAR}, #{isScoreReleased,jdbcType=VARCHAR}, 
      #{codeInfo,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.LcjnCourseInfo">
      insert into LCJN_COURSE_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseFlow != null">
        COURSE_FLOW,
      </if>
      <if test="courseName != null">
        COURSE_NAME,
      </if>
      <if test="coursePeopleNum != null">
        COURSE_PEOPLE_NUM,
      </if>
      <if test="courseAddress != null">
        COURSE_ADDRESS,
      </if>
      <if test="courseDemo != null">
        COURSE_DEMO,
      </if>
      <if test="appointStartTime != null">
        APPOINT_START_TIME,
      </if>
      <if test="appointEndTime != null">
        APPOINT_END_TIME,
      </if>
      <if test="isReleased != null">
        IS_RELEASED,
      </if>
      <if test="isScoreReleased != null">
        IS_SCORE_RELEASED,
      </if>
      <if test="codeInfo != null">
        CODE_INFO,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="orgFlow != null">
        ORG_FLOW,
      </if>
      <if test="orgName != null">
        ORG_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseFlow != null">
        #{courseFlow,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="coursePeopleNum != null">
        #{coursePeopleNum,jdbcType=VARCHAR},
      </if>
      <if test="courseAddress != null">
        #{courseAddress,jdbcType=VARCHAR},
      </if>
      <if test="courseDemo != null">
        #{courseDemo,jdbcType=VARCHAR},
      </if>
      <if test="appointStartTime != null">
        #{appointStartTime,jdbcType=VARCHAR},
      </if>
      <if test="appointEndTime != null">
        #{appointEndTime,jdbcType=VARCHAR},
      </if>
      <if test="isReleased != null">
        #{isReleased,jdbcType=VARCHAR},
      </if>
      <if test="isScoreReleased != null">
        #{isScoreReleased,jdbcType=VARCHAR},
      </if>
      <if test="codeInfo != null">
        #{codeInfo,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null">
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.LcjnCourseInfoExample" resultType="java.lang.Integer">
      select count(*) from LCJN_COURSE_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
      update LCJN_COURSE_INFO
    <set>
      <if test="record.courseFlow != null">
        COURSE_FLOW = #{record.courseFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.courseName != null">
        COURSE_NAME = #{record.courseName,jdbcType=VARCHAR},
      </if>
      <if test="record.coursePeopleNum != null">
        COURSE_PEOPLE_NUM = #{record.coursePeopleNum,jdbcType=VARCHAR},
      </if>
      <if test="record.courseAddress != null">
        COURSE_ADDRESS = #{record.courseAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.courseDemo != null">
        COURSE_DEMO = #{record.courseDemo,jdbcType=VARCHAR},
      </if>
      <if test="record.appointStartTime != null">
        APPOINT_START_TIME = #{record.appointStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.appointEndTime != null">
        APPOINT_END_TIME = #{record.appointEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.isReleased != null">
        IS_RELEASED = #{record.isReleased,jdbcType=VARCHAR},
      </if>
      <if test="record.isScoreReleased != null">
        IS_SCORE_RELEASED = #{record.isScoreReleased,jdbcType=VARCHAR},
      </if>
      <if test="record.codeInfo != null">
        CODE_INFO = #{record.codeInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null">
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null">
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
      update LCJN_COURSE_INFO
    set COURSE_FLOW = #{record.courseFlow,jdbcType=VARCHAR},
      COURSE_NAME = #{record.courseName,jdbcType=VARCHAR},
      COURSE_PEOPLE_NUM = #{record.coursePeopleNum,jdbcType=VARCHAR},
      COURSE_ADDRESS = #{record.courseAddress,jdbcType=VARCHAR},
      COURSE_DEMO = #{record.courseDemo,jdbcType=VARCHAR},
      APPOINT_START_TIME = #{record.appointStartTime,jdbcType=VARCHAR},
      APPOINT_END_TIME = #{record.appointEndTime,jdbcType=VARCHAR},
      IS_RELEASED = #{record.isReleased,jdbcType=VARCHAR},
      IS_SCORE_RELEASED = #{record.isScoreReleased,jdbcType=VARCHAR},
      CODE_INFO = #{record.codeInfo,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.LcjnCourseInfo">
      update LCJN_COURSE_INFO
    <set>
      <if test="courseName != null">
        COURSE_NAME = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="coursePeopleNum != null">
        COURSE_PEOPLE_NUM = #{coursePeopleNum,jdbcType=VARCHAR},
      </if>
      <if test="courseAddress != null">
        COURSE_ADDRESS = #{courseAddress,jdbcType=VARCHAR},
      </if>
      <if test="courseDemo != null">
        COURSE_DEMO = #{courseDemo,jdbcType=VARCHAR},
      </if>
      <if test="appointStartTime != null">
        APPOINT_START_TIME = #{appointStartTime,jdbcType=VARCHAR},
      </if>
      <if test="appointEndTime != null">
        APPOINT_END_TIME = #{appointEndTime,jdbcType=VARCHAR},
      </if>
      <if test="isReleased != null">
        IS_RELEASED = #{isReleased,jdbcType=VARCHAR},
      </if>
      <if test="isScoreReleased != null">
        IS_SCORE_RELEASED = #{isScoreReleased,jdbcType=VARCHAR},
      </if>
      <if test="codeInfo != null">
        CODE_INFO = #{codeInfo,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null">
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
    </set>
    where COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.LcjnCourseInfo">
      update LCJN_COURSE_INFO
    set COURSE_NAME = #{courseName,jdbcType=VARCHAR},
      COURSE_PEOPLE_NUM = #{coursePeopleNum,jdbcType=VARCHAR},
      COURSE_ADDRESS = #{courseAddress,jdbcType=VARCHAR},
      COURSE_DEMO = #{courseDemo,jdbcType=VARCHAR},
      APPOINT_START_TIME = #{appointStartTime,jdbcType=VARCHAR},
      APPOINT_END_TIME = #{appointEndTime,jdbcType=VARCHAR},
      IS_RELEASED = #{isReleased,jdbcType=VARCHAR},
      IS_SCORE_RELEASED = #{isScoreReleased,jdbcType=VARCHAR},
      CODE_INFO = #{codeInfo,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR}
    where COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR}
  </update>
</mapper>