<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.core.common.sci.dao.OscaTeaScanDocMapper">
  <resultMap id="BaseResultMap" type="com.pinde.core.model.OscaTeaScanDoc">
    <id column="RECORD_FLOW" jdbcType="VARCHAR" property="recordFlow" />
    <result column="CLINICAL_FLOW" jdbcType="VARCHAR" property="clinicalFlow" />
    <result column="CLINICAL_NAME" jdbcType="VARCHAR" property="clinicalName" />
    <result column="DOCTOR_FLOW" jdbcType="VARCHAR" property="doctorFlow" />
    <result column="DOCTOR_NAME" jdbcType="VARCHAR" property="doctorName" />
    <result column="EXAM_TIME" jdbcType="VARCHAR" property="examTime" />
    <result column="ROOM_RECORD_FLOW" jdbcType="VARCHAR" property="roomRecordFlow" />
    <result column="ROOM_FLOW" jdbcType="VARCHAR" property="roomFlow" />
    <result column="ROOM_NAME" jdbcType="VARCHAR" property="roomName" />
    <result column="PARTNER_FLOW" jdbcType="VARCHAR" property="partnerFlow" />
    <result column="PARTNER_NAME" jdbcType="VARCHAR" property="partnerName" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="CODE_INFO" jdbcType="VARCHAR" property="codeInfo" />
    <result column="STATUS_ID" jdbcType="VARCHAR" property="statusId" />
    <result column="STATUS_NAME" jdbcType="VARCHAR" property="statusName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RECORD_FLOW, CLINICAL_FLOW, CLINICAL_NAME, DOCTOR_FLOW, DOCTOR_NAME, EXAM_TIME, ROOM_RECORD_FLOW, 
    ROOM_FLOW, ROOM_NAME, PARTNER_FLOW, PARTNER_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW, CODE_INFO, STATUS_ID, STATUS_NAME
  </sql>
  <select id="selectByExample" parameterType="com.pinde.core.model.OscaTeaScanDocExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
      from OSCA_TEA_SCAN_DOC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
      from OSCA_TEA_SCAN_DOC
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
      delete from OSCA_TEA_SCAN_DOC
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.OscaTeaScanDocExample">
      delete from OSCA_TEA_SCAN_DOC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.OscaTeaScanDoc">
      insert into OSCA_TEA_SCAN_DOC (RECORD_FLOW, CLINICAL_FLOW, CLINICAL_NAME,
      DOCTOR_FLOW, DOCTOR_NAME, EXAM_TIME, 
      ROOM_RECORD_FLOW, ROOM_FLOW, ROOM_NAME, 
      PARTNER_FLOW, PARTNER_NAME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, CODE_INFO, STATUS_ID, 
      STATUS_NAME)
    values (#{recordFlow,jdbcType=VARCHAR}, #{clinicalFlow,jdbcType=VARCHAR}, #{clinicalName,jdbcType=VARCHAR}, 
      #{doctorFlow,jdbcType=VARCHAR}, #{doctorName,jdbcType=VARCHAR}, #{examTime,jdbcType=VARCHAR}, 
      #{roomRecordFlow,jdbcType=VARCHAR}, #{roomFlow,jdbcType=VARCHAR}, #{roomName,jdbcType=VARCHAR}, 
      #{partnerFlow,jdbcType=VARCHAR}, #{partnerName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{codeInfo,jdbcType=VARCHAR}, #{statusId,jdbcType=VARCHAR}, 
      #{statusName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.OscaTeaScanDoc">
      insert into OSCA_TEA_SCAN_DOC
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordFlow != null">
        RECORD_FLOW,
      </if>
      <if test="clinicalFlow != null">
        CLINICAL_FLOW,
      </if>
      <if test="clinicalName != null">
        CLINICAL_NAME,
      </if>
      <if test="doctorFlow != null">
        DOCTOR_FLOW,
      </if>
      <if test="doctorName != null">
        DOCTOR_NAME,
      </if>
      <if test="examTime != null">
        EXAM_TIME,
      </if>
      <if test="roomRecordFlow != null">
        ROOM_RECORD_FLOW,
      </if>
      <if test="roomFlow != null">
        ROOM_FLOW,
      </if>
      <if test="roomName != null">
        ROOM_NAME,
      </if>
      <if test="partnerFlow != null">
        PARTNER_FLOW,
      </if>
      <if test="partnerName != null">
        PARTNER_NAME,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="codeInfo != null">
        CODE_INFO,
      </if>
      <if test="statusId != null">
        STATUS_ID,
      </if>
      <if test="statusName != null">
        STATUS_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordFlow != null">
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="clinicalFlow != null">
        #{clinicalFlow,jdbcType=VARCHAR},
      </if>
      <if test="clinicalName != null">
        #{clinicalName,jdbcType=VARCHAR},
      </if>
      <if test="doctorFlow != null">
        #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null">
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="examTime != null">
        #{examTime,jdbcType=VARCHAR},
      </if>
      <if test="roomRecordFlow != null">
        #{roomRecordFlow,jdbcType=VARCHAR},
      </if>
      <if test="roomFlow != null">
        #{roomFlow,jdbcType=VARCHAR},
      </if>
      <if test="roomName != null">
        #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="partnerFlow != null">
        #{partnerFlow,jdbcType=VARCHAR},
      </if>
      <if test="partnerName != null">
        #{partnerName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="codeInfo != null">
        #{codeInfo,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null">
        #{statusId,jdbcType=VARCHAR},
      </if>
      <if test="statusName != null">
        #{statusName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.OscaTeaScanDocExample" resultType="java.lang.Integer">
      select count(*) from OSCA_TEA_SCAN_DOC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
      update OSCA_TEA_SCAN_DOC
    <set>
      <if test="record.recordFlow != null">
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.clinicalFlow != null">
        CLINICAL_FLOW = #{record.clinicalFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.clinicalName != null">
        CLINICAL_NAME = #{record.clinicalName,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorFlow != null">
        DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorName != null">
        DOCTOR_NAME = #{record.doctorName,jdbcType=VARCHAR},
      </if>
      <if test="record.examTime != null">
        EXAM_TIME = #{record.examTime,jdbcType=VARCHAR},
      </if>
      <if test="record.roomRecordFlow != null">
        ROOM_RECORD_FLOW = #{record.roomRecordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.roomFlow != null">
        ROOM_FLOW = #{record.roomFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.roomName != null">
        ROOM_NAME = #{record.roomName,jdbcType=VARCHAR},
      </if>
      <if test="record.partnerFlow != null">
        PARTNER_FLOW = #{record.partnerFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.partnerName != null">
        PARTNER_NAME = #{record.partnerName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.codeInfo != null">
        CODE_INFO = #{record.codeInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.statusId != null">
        STATUS_ID = #{record.statusId,jdbcType=VARCHAR},
      </if>
      <if test="record.statusName != null">
        STATUS_NAME = #{record.statusName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
      update OSCA_TEA_SCAN_DOC
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      CLINICAL_FLOW = #{record.clinicalFlow,jdbcType=VARCHAR},
      CLINICAL_NAME = #{record.clinicalName,jdbcType=VARCHAR},
      DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      DOCTOR_NAME = #{record.doctorName,jdbcType=VARCHAR},
      EXAM_TIME = #{record.examTime,jdbcType=VARCHAR},
      ROOM_RECORD_FLOW = #{record.roomRecordFlow,jdbcType=VARCHAR},
      ROOM_FLOW = #{record.roomFlow,jdbcType=VARCHAR},
      ROOM_NAME = #{record.roomName,jdbcType=VARCHAR},
      PARTNER_FLOW = #{record.partnerFlow,jdbcType=VARCHAR},
      PARTNER_NAME = #{record.partnerName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      CODE_INFO = #{record.codeInfo,jdbcType=VARCHAR},
      STATUS_ID = #{record.statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{record.statusName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.OscaTeaScanDoc">
      update OSCA_TEA_SCAN_DOC
    <set>
      <if test="clinicalFlow != null">
        CLINICAL_FLOW = #{clinicalFlow,jdbcType=VARCHAR},
      </if>
      <if test="clinicalName != null">
        CLINICAL_NAME = #{clinicalName,jdbcType=VARCHAR},
      </if>
      <if test="doctorFlow != null">
        DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null">
        DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="examTime != null">
        EXAM_TIME = #{examTime,jdbcType=VARCHAR},
      </if>
      <if test="roomRecordFlow != null">
        ROOM_RECORD_FLOW = #{roomRecordFlow,jdbcType=VARCHAR},
      </if>
      <if test="roomFlow != null">
        ROOM_FLOW = #{roomFlow,jdbcType=VARCHAR},
      </if>
      <if test="roomName != null">
        ROOM_NAME = #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="partnerFlow != null">
        PARTNER_FLOW = #{partnerFlow,jdbcType=VARCHAR},
      </if>
      <if test="partnerName != null">
        PARTNER_NAME = #{partnerName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="codeInfo != null">
        CODE_INFO = #{codeInfo,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null">
        STATUS_ID = #{statusId,jdbcType=VARCHAR},
      </if>
      <if test="statusName != null">
        STATUS_NAME = #{statusName,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.OscaTeaScanDoc">
      update OSCA_TEA_SCAN_DOC
    set CLINICAL_FLOW = #{clinicalFlow,jdbcType=VARCHAR},
      CLINICAL_NAME = #{clinicalName,jdbcType=VARCHAR},
      DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      EXAM_TIME = #{examTime,jdbcType=VARCHAR},
      ROOM_RECORD_FLOW = #{roomRecordFlow,jdbcType=VARCHAR},
      ROOM_FLOW = #{roomFlow,jdbcType=VARCHAR},
      ROOM_NAME = #{roomName,jdbcType=VARCHAR},
      PARTNER_FLOW = #{partnerFlow,jdbcType=VARCHAR},
      PARTNER_NAME = #{partnerName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      CODE_INFO = #{codeInfo,jdbcType=VARCHAR},
      STATUS_ID = #{statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{statusName,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>