<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.core.common.sci.dao.OscaSkillDocStationMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.core.model.OscaSkillDocStation" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="DOCTOR_FLOW" property="doctorFlow" jdbcType="VARCHAR" />
    <result column="DOCTOR_NAME" property="doctorName" jdbcType="VARCHAR" />
    <result column="ROOM_FLOW" property="roomFlow" jdbcType="VARCHAR" />
    <result column="ROOM_NAME" property="roomName" jdbcType="VARCHAR" />
    <result column="CLINICAL_FLOW" property="clinicalFlow" jdbcType="VARCHAR" />
    <result column="CLINICAL_NAME" property="clinicalName" jdbcType="VARCHAR" />
    <result column="STATION_FLOW" property="stationFlow" jdbcType="VARCHAR" />
    <result column="STATION_NAME" property="stationName" jdbcType="VARCHAR" />
    <result column="EXAM_STATUS_ID" property="examStatusId" jdbcType="VARCHAR" />
    <result column="EXAM_STATUS_NAME" property="examStatusName" jdbcType="VARCHAR" />
    <result column="HOUKAO_TIME" property="houkaoTime" jdbcType="VARCHAR" />
    <result column="WAITING_TIME" property="waitingTime" jdbcType="VARCHAR" />
    <result column="YUYIN_URL" property="yuyinUrl" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, DOCTOR_FLOW, DOCTOR_NAME, ROOM_FLOW, ROOM_NAME, CLINICAL_FLOW, CLINICAL_NAME, 
    STATION_FLOW, STATION_NAME, EXAM_STATUS_ID, EXAM_STATUS_NAME, HOUKAO_TIME, WAITING_TIME, 
    YUYIN_URL, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.OscaSkillDocStationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
      from OSCA_SKILL_DOC_STATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from OSCA_SKILL_DOC_STATION
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from OSCA_SKILL_DOC_STATION
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.OscaSkillDocStationExample" >
      delete from OSCA_SKILL_DOC_STATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.OscaSkillDocStation" >
      insert into OSCA_SKILL_DOC_STATION (RECORD_FLOW, DOCTOR_FLOW, DOCTOR_NAME,
      ROOM_FLOW, ROOM_NAME, CLINICAL_FLOW, 
      CLINICAL_NAME, STATION_FLOW, STATION_NAME, 
      EXAM_STATUS_ID, EXAM_STATUS_NAME, HOUKAO_TIME, 
      WAITING_TIME, YUYIN_URL, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW)
    values (#{recordFlow,jdbcType=VARCHAR}, #{doctorFlow,jdbcType=VARCHAR}, #{doctorName,jdbcType=VARCHAR}, 
      #{roomFlow,jdbcType=VARCHAR}, #{roomName,jdbcType=VARCHAR}, #{clinicalFlow,jdbcType=VARCHAR}, 
      #{clinicalName,jdbcType=VARCHAR}, #{stationFlow,jdbcType=VARCHAR}, #{stationName,jdbcType=VARCHAR}, 
      #{examStatusId,jdbcType=VARCHAR}, #{examStatusName,jdbcType=VARCHAR}, #{houkaoTime,jdbcType=VARCHAR}, 
      #{waitingTime,jdbcType=VARCHAR}, #{yuyinUrl,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.OscaSkillDocStation" >
      insert into OSCA_SKILL_DOC_STATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="doctorFlow != null" >
        DOCTOR_FLOW,
      </if>
      <if test="doctorName != null" >
        DOCTOR_NAME,
      </if>
      <if test="roomFlow != null" >
        ROOM_FLOW,
      </if>
      <if test="roomName != null" >
        ROOM_NAME,
      </if>
      <if test="clinicalFlow != null" >
        CLINICAL_FLOW,
      </if>
      <if test="clinicalName != null" >
        CLINICAL_NAME,
      </if>
      <if test="stationFlow != null" >
        STATION_FLOW,
      </if>
      <if test="stationName != null" >
        STATION_NAME,
      </if>
      <if test="examStatusId != null" >
        EXAM_STATUS_ID,
      </if>
      <if test="examStatusName != null" >
        EXAM_STATUS_NAME,
      </if>
      <if test="houkaoTime != null" >
        HOUKAO_TIME,
      </if>
      <if test="waitingTime != null" >
        WAITING_TIME,
      </if>
      <if test="yuyinUrl != null" >
        YUYIN_URL,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorFlow != null" >
        #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="roomFlow != null" >
        #{roomFlow,jdbcType=VARCHAR},
      </if>
      <if test="roomName != null" >
        #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="clinicalFlow != null" >
        #{clinicalFlow,jdbcType=VARCHAR},
      </if>
      <if test="clinicalName != null" >
        #{clinicalName,jdbcType=VARCHAR},
      </if>
      <if test="stationFlow != null" >
        #{stationFlow,jdbcType=VARCHAR},
      </if>
      <if test="stationName != null" >
        #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="examStatusId != null" >
        #{examStatusId,jdbcType=VARCHAR},
      </if>
      <if test="examStatusName != null" >
        #{examStatusName,jdbcType=VARCHAR},
      </if>
      <if test="houkaoTime != null" >
        #{houkaoTime,jdbcType=VARCHAR},
      </if>
      <if test="waitingTime != null" >
        #{waitingTime,jdbcType=VARCHAR},
      </if>
      <if test="yuyinUrl != null" >
        #{yuyinUrl,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.OscaSkillDocStationExample" resultType="java.lang.Integer" >
      select count(*) from OSCA_SKILL_DOC_STATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update OSCA_SKILL_DOC_STATION
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorFlow != null" >
        DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorName != null" >
        DOCTOR_NAME = #{record.doctorName,jdbcType=VARCHAR},
      </if>
      <if test="record.roomFlow != null" >
        ROOM_FLOW = #{record.roomFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.roomName != null" >
        ROOM_NAME = #{record.roomName,jdbcType=VARCHAR},
      </if>
      <if test="record.clinicalFlow != null" >
        CLINICAL_FLOW = #{record.clinicalFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.clinicalName != null" >
        CLINICAL_NAME = #{record.clinicalName,jdbcType=VARCHAR},
      </if>
      <if test="record.stationFlow != null" >
        STATION_FLOW = #{record.stationFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.stationName != null" >
        STATION_NAME = #{record.stationName,jdbcType=VARCHAR},
      </if>
      <if test="record.examStatusId != null" >
        EXAM_STATUS_ID = #{record.examStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.examStatusName != null" >
        EXAM_STATUS_NAME = #{record.examStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.houkaoTime != null" >
        HOUKAO_TIME = #{record.houkaoTime,jdbcType=VARCHAR},
      </if>
      <if test="record.waitingTime != null" >
        WAITING_TIME = #{record.waitingTime,jdbcType=VARCHAR},
      </if>
      <if test="record.yuyinUrl != null" >
        YUYIN_URL = #{record.yuyinUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update OSCA_SKILL_DOC_STATION
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      DOCTOR_NAME = #{record.doctorName,jdbcType=VARCHAR},
      ROOM_FLOW = #{record.roomFlow,jdbcType=VARCHAR},
      ROOM_NAME = #{record.roomName,jdbcType=VARCHAR},
      CLINICAL_FLOW = #{record.clinicalFlow,jdbcType=VARCHAR},
      CLINICAL_NAME = #{record.clinicalName,jdbcType=VARCHAR},
      STATION_FLOW = #{record.stationFlow,jdbcType=VARCHAR},
      STATION_NAME = #{record.stationName,jdbcType=VARCHAR},
      EXAM_STATUS_ID = #{record.examStatusId,jdbcType=VARCHAR},
      EXAM_STATUS_NAME = #{record.examStatusName,jdbcType=VARCHAR},
      HOUKAO_TIME = #{record.houkaoTime,jdbcType=VARCHAR},
      WAITING_TIME = #{record.waitingTime,jdbcType=VARCHAR},
      YUYIN_URL = #{record.yuyinUrl,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.OscaSkillDocStation" >
      update OSCA_SKILL_DOC_STATION
    <set >
      <if test="doctorFlow != null" >
        DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="roomFlow != null" >
        ROOM_FLOW = #{roomFlow,jdbcType=VARCHAR},
      </if>
      <if test="roomName != null" >
        ROOM_NAME = #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="clinicalFlow != null" >
        CLINICAL_FLOW = #{clinicalFlow,jdbcType=VARCHAR},
      </if>
      <if test="clinicalName != null" >
        CLINICAL_NAME = #{clinicalName,jdbcType=VARCHAR},
      </if>
      <if test="stationFlow != null" >
        STATION_FLOW = #{stationFlow,jdbcType=VARCHAR},
      </if>
      <if test="stationName != null" >
        STATION_NAME = #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="examStatusId != null" >
        EXAM_STATUS_ID = #{examStatusId,jdbcType=VARCHAR},
      </if>
      <if test="examStatusName != null" >
        EXAM_STATUS_NAME = #{examStatusName,jdbcType=VARCHAR},
      </if>
      <if test="houkaoTime != null" >
        HOUKAO_TIME = #{houkaoTime,jdbcType=VARCHAR},
      </if>
      <if test="waitingTime != null" >
        WAITING_TIME = #{waitingTime,jdbcType=VARCHAR},
      </if>
      <if test="yuyinUrl != null" >
        YUYIN_URL = #{yuyinUrl,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.OscaSkillDocStation" >
      update OSCA_SKILL_DOC_STATION
    set DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      ROOM_FLOW = #{roomFlow,jdbcType=VARCHAR},
      ROOM_NAME = #{roomName,jdbcType=VARCHAR},
      CLINICAL_FLOW = #{clinicalFlow,jdbcType=VARCHAR},
      CLINICAL_NAME = #{clinicalName,jdbcType=VARCHAR},
      STATION_FLOW = #{stationFlow,jdbcType=VARCHAR},
      STATION_NAME = #{stationName,jdbcType=VARCHAR},
      EXAM_STATUS_ID = #{examStatusId,jdbcType=VARCHAR},
      EXAM_STATUS_NAME = #{examStatusName,jdbcType=VARCHAR},
      HOUKAO_TIME = #{houkaoTime,jdbcType=VARCHAR},
      WAITING_TIME = #{waitingTime,jdbcType=VARCHAR},
      YUYIN_URL = #{yuyinUrl,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>