<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.core.common.sci.dao.PubFileMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.core.model.PubFile" >
    <id column="FILE_FLOW" property="fileFlow" jdbcType="VARCHAR" />
    <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
    <result column="FILE_REMARK" property="fileRemark" jdbcType="VARCHAR" />
    <result column="FILE_TYPE" property="fileType" jdbcType="VARCHAR" />
    <result column="FILE_SUFFIX" property="fileSuffix" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="FILE_SIZE" property="fileSize" jdbcType="DECIMAL" />
    <result column="FILE_UP_TYPE" property="fileUpType" jdbcType="VARCHAR" />
    <result column="FILE_PATH" property="filePath" jdbcType="VARCHAR" />
    <result column="PRODUCT_TYPE" property="productType" jdbcType="VARCHAR" />
    <result column="PRODUCT_FLOW" property="productFlow" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pinde.core.model.PubFile" extends="BaseResultMap" >
    <result column="FILE_CONTENT" property="fileContent" jdbcType="BLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FILE_FLOW, FILE_NAME, FILE_REMARK, FILE_TYPE, FILE_SUFFIX, RECORD_STATUS, CREATE_TIME, 
    CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, FILE_SIZE, FILE_UP_TYPE, FILE_PATH, 
    PRODUCT_TYPE, PRODUCT_FLOW
  </sql>
  <sql id="Blob_Column_List" >
    FILE_CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pinde.core.model.PubFileExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
      from PUB_FILE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.PubFileExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
      from PUB_FILE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
      from PUB_FILE
    where FILE_FLOW = #{fileFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from PUB_FILE
    where FILE_FLOW = #{fileFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.PubFileExample" >
      delete from PUB_FILE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.PubFile" >
      insert into PUB_FILE (FILE_FLOW, FILE_NAME, FILE_REMARK,
      FILE_TYPE, FILE_SUFFIX, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, FILE_SIZE, FILE_UP_TYPE, 
      FILE_PATH, PRODUCT_TYPE, PRODUCT_FLOW, 
      FILE_CONTENT)
    values (#{fileFlow,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, #{fileRemark,jdbcType=VARCHAR}, 
      #{fileType,jdbcType=VARCHAR}, #{fileSuffix,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{fileSize,jdbcType=DECIMAL}, #{fileUpType,jdbcType=VARCHAR}, 
      #{filePath,jdbcType=VARCHAR}, #{productType,jdbcType=VARCHAR}, #{productFlow,jdbcType=VARCHAR}, 
      #{fileContent,jdbcType=BLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.PubFile" >
      insert into PUB_FILE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fileFlow != null" >
        FILE_FLOW,
      </if>
      <if test="fileName != null" >
        FILE_NAME,
      </if>
      <if test="fileRemark != null" >
        FILE_REMARK,
      </if>
      <if test="fileType != null" >
        FILE_TYPE,
      </if>
      <if test="fileSuffix != null" >
        FILE_SUFFIX,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="fileSize != null" >
        FILE_SIZE,
      </if>
      <if test="fileUpType != null" >
        FILE_UP_TYPE,
      </if>
      <if test="filePath != null" >
        FILE_PATH,
      </if>
      <if test="productType != null" >
        PRODUCT_TYPE,
      </if>
      <if test="productFlow != null" >
        PRODUCT_FLOW,
      </if>
      <if test="fileContent != null" >
        FILE_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fileFlow != null" >
        #{fileFlow,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileRemark != null" >
        #{fileRemark,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="fileSuffix != null" >
        #{fileSuffix,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=DECIMAL},
      </if>
      <if test="fileUpType != null" >
        #{fileUpType,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="productType != null" >
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="productFlow != null" >
        #{productFlow,jdbcType=VARCHAR},
      </if>
      <if test="fileContent != null" >
        #{fileContent,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.PubFileExample" resultType="java.lang.Integer" >
      select count(*) from PUB_FILE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update PUB_FILE
    <set >
      <if test="record.fileFlow != null" >
        FILE_FLOW = #{record.fileFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.fileName != null" >
        FILE_NAME = #{record.fileName,jdbcType=VARCHAR},
      </if>
      <if test="record.fileRemark != null" >
        FILE_REMARK = #{record.fileRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.fileType != null" >
        FILE_TYPE = #{record.fileType,jdbcType=VARCHAR},
      </if>
      <if test="record.fileSuffix != null" >
        FILE_SUFFIX = #{record.fileSuffix,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.fileSize != null" >
        FILE_SIZE = #{record.fileSize,jdbcType=DECIMAL},
      </if>
      <if test="record.fileUpType != null" >
        FILE_UP_TYPE = #{record.fileUpType,jdbcType=VARCHAR},
      </if>
      <if test="record.filePath != null" >
        FILE_PATH = #{record.filePath,jdbcType=VARCHAR},
      </if>
      <if test="record.productType != null" >
        PRODUCT_TYPE = #{record.productType,jdbcType=VARCHAR},
      </if>
      <if test="record.productFlow != null" >
        PRODUCT_FLOW = #{record.productFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.fileContent != null" >
        FILE_CONTENT = #{record.fileContent,jdbcType=BLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
      update PUB_FILE
    set FILE_FLOW = #{record.fileFlow,jdbcType=VARCHAR},
      FILE_NAME = #{record.fileName,jdbcType=VARCHAR},
      FILE_REMARK = #{record.fileRemark,jdbcType=VARCHAR},
      FILE_TYPE = #{record.fileType,jdbcType=VARCHAR},
      FILE_SUFFIX = #{record.fileSuffix,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      FILE_SIZE = #{record.fileSize,jdbcType=DECIMAL},
      FILE_UP_TYPE = #{record.fileUpType,jdbcType=VARCHAR},
      FILE_PATH = #{record.filePath,jdbcType=VARCHAR},
      PRODUCT_TYPE = #{record.productType,jdbcType=VARCHAR},
      PRODUCT_FLOW = #{record.productFlow,jdbcType=VARCHAR},
      FILE_CONTENT = #{record.fileContent,jdbcType=BLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update PUB_FILE
    set FILE_FLOW = #{record.fileFlow,jdbcType=VARCHAR},
      FILE_NAME = #{record.fileName,jdbcType=VARCHAR},
      FILE_REMARK = #{record.fileRemark,jdbcType=VARCHAR},
      FILE_TYPE = #{record.fileType,jdbcType=VARCHAR},
      FILE_SUFFIX = #{record.fileSuffix,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      FILE_SIZE = #{record.fileSize,jdbcType=DECIMAL},
      FILE_UP_TYPE = #{record.fileUpType,jdbcType=VARCHAR},
      FILE_PATH = #{record.filePath,jdbcType=VARCHAR},
      PRODUCT_TYPE = #{record.productType,jdbcType=VARCHAR},
      PRODUCT_FLOW = #{record.productFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.PubFile" >
      update PUB_FILE
    <set >
      <if test="fileName != null" >
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileRemark != null" >
        FILE_REMARK = #{fileRemark,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        FILE_TYPE = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="fileSuffix != null" >
        FILE_SUFFIX = #{fileSuffix,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        FILE_SIZE = #{fileSize,jdbcType=DECIMAL},
      </if>
      <if test="fileUpType != null" >
        FILE_UP_TYPE = #{fileUpType,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        FILE_PATH = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="productType != null" >
        PRODUCT_TYPE = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="productFlow != null" >
        PRODUCT_FLOW = #{productFlow,jdbcType=VARCHAR},
      </if>
      <if test="fileContent != null" >
        FILE_CONTENT = #{fileContent,jdbcType=BLOB},
      </if>
    </set>
    where FILE_FLOW = #{fileFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.core.model.PubFile" >
      update PUB_FILE
    set FILE_NAME = #{fileName,jdbcType=VARCHAR},
      FILE_REMARK = #{fileRemark,jdbcType=VARCHAR},
      FILE_TYPE = #{fileType,jdbcType=VARCHAR},
      FILE_SUFFIX = #{fileSuffix,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      FILE_SIZE = #{fileSize,jdbcType=DECIMAL},
      FILE_UP_TYPE = #{fileUpType,jdbcType=VARCHAR},
      FILE_PATH = #{filePath,jdbcType=VARCHAR},
      PRODUCT_TYPE = #{productType,jdbcType=VARCHAR},
      PRODUCT_FLOW = #{productFlow,jdbcType=VARCHAR},
      FILE_CONTENT = #{fileContent,jdbcType=BLOB}
    where FILE_FLOW = #{fileFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.PubFile" >
      update PUB_FILE
    set FILE_NAME = #{fileName,jdbcType=VARCHAR},
      FILE_REMARK = #{fileRemark,jdbcType=VARCHAR},
      FILE_TYPE = #{fileType,jdbcType=VARCHAR},
      FILE_SUFFIX = #{fileSuffix,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      FILE_SIZE = #{fileSize,jdbcType=DECIMAL},
      FILE_UP_TYPE = #{fileUpType,jdbcType=VARCHAR},
      FILE_PATH = #{filePath,jdbcType=VARCHAR},
      PRODUCT_TYPE = #{productType,jdbcType=VARCHAR},
      PRODUCT_FLOW = #{productFlow,jdbcType=VARCHAR}
    where FILE_FLOW = #{fileFlow,jdbcType=VARCHAR}
  </update>
</mapper>