<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.core.common.sci.dao.PubImportRecordMapper" >
    <resultMap id="BaseResultMap" type="com.pinde.core.model.PubImportRecord">
    <id column="IMP_FLOW" property="impFlow" jdbcType="VARCHAR" />
    <result column="IMP_TYPE_ID" property="impTypeId" jdbcType="VARCHAR" />
    <result column="IMP_TYPE_NAME" property="impTypeName" jdbcType="VARCHAR" />
    <result column="IMP_TIME" property="impTime" jdbcType="VARCHAR" />
    <result column="IMP_NUM" property="impNum" jdbcType="VARCHAR" />
    <result column="IMP_USER_FLOW" property="impUserFlow" jdbcType="VARCHAR" />
    <result column="IMP_USER_NAME" property="impUserName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="ROLE_FLAG" property="roleFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    IMP_FLOW, IMP_TYPE_ID, IMP_TYPE_NAME, IMP_TIME, IMP_NUM, IMP_USER_FLOW, IMP_USER_NAME, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, ROLE_FLAG
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.PubImportRecordExample">
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from PUB_IMPORT_RECORD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PUB_IMPORT_RECORD
    where IMP_FLOW = #{impFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PUB_IMPORT_RECORD
    where IMP_FLOW = #{impFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.PubImportRecordExample">
    delete from PUB_IMPORT_RECORD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.PubImportRecord">
    insert into PUB_IMPORT_RECORD (IMP_FLOW, IMP_TYPE_ID, IMP_TYPE_NAME, 
      IMP_TIME, IMP_NUM, IMP_USER_FLOW, 
      IMP_USER_NAME, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      ROLE_FLAG)
    values (#{impFlow,jdbcType=VARCHAR}, #{impTypeId,jdbcType=VARCHAR}, #{impTypeName,jdbcType=VARCHAR}, 
      #{impTime,jdbcType=VARCHAR}, #{impNum,jdbcType=VARCHAR}, #{impUserFlow,jdbcType=VARCHAR}, 
      #{impUserName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{roleFlag,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.PubImportRecord">
    insert into PUB_IMPORT_RECORD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="impFlow != null" >
        IMP_FLOW,
      </if>
      <if test="impTypeId != null" >
        IMP_TYPE_ID,
      </if>
      <if test="impTypeName != null" >
        IMP_TYPE_NAME,
      </if>
      <if test="impTime != null" >
        IMP_TIME,
      </if>
      <if test="impNum != null" >
        IMP_NUM,
      </if>
      <if test="impUserFlow != null" >
        IMP_USER_FLOW,
      </if>
      <if test="impUserName != null" >
        IMP_USER_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="roleFlag != null" >
        ROLE_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="impFlow != null" >
        #{impFlow,jdbcType=VARCHAR},
      </if>
      <if test="impTypeId != null" >
        #{impTypeId,jdbcType=VARCHAR},
      </if>
      <if test="impTypeName != null" >
        #{impTypeName,jdbcType=VARCHAR},
      </if>
      <if test="impTime != null" >
        #{impTime,jdbcType=VARCHAR},
      </if>
      <if test="impNum != null" >
        #{impNum,jdbcType=VARCHAR},
      </if>
      <if test="impUserFlow != null" >
        #{impUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="impUserName != null" >
        #{impUserName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="roleFlag != null" >
        #{roleFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.PubImportRecordExample"
            resultType="java.lang.Integer">
    select count(*) from PUB_IMPORT_RECORD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PUB_IMPORT_RECORD
    <set >
      <if test="record.impFlow != null" >
        IMP_FLOW = #{record.impFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.impTypeId != null" >
        IMP_TYPE_ID = #{record.impTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.impTypeName != null" >
        IMP_TYPE_NAME = #{record.impTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.impTime != null" >
        IMP_TIME = #{record.impTime,jdbcType=VARCHAR},
      </if>
      <if test="record.impNum != null" >
        IMP_NUM = #{record.impNum,jdbcType=VARCHAR},
      </if>
      <if test="record.impUserFlow != null" >
        IMP_USER_FLOW = #{record.impUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.impUserName != null" >
        IMP_USER_NAME = #{record.impUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.roleFlag != null" >
        ROLE_FLAG = #{record.roleFlag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PUB_IMPORT_RECORD
    set IMP_FLOW = #{record.impFlow,jdbcType=VARCHAR},
      IMP_TYPE_ID = #{record.impTypeId,jdbcType=VARCHAR},
      IMP_TYPE_NAME = #{record.impTypeName,jdbcType=VARCHAR},
      IMP_TIME = #{record.impTime,jdbcType=VARCHAR},
      IMP_NUM = #{record.impNum,jdbcType=VARCHAR},
      IMP_USER_FLOW = #{record.impUserFlow,jdbcType=VARCHAR},
      IMP_USER_NAME = #{record.impUserName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      ROLE_FLAG = #{record.roleFlag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.PubImportRecord">
    update PUB_IMPORT_RECORD
    <set >
      <if test="impTypeId != null" >
        IMP_TYPE_ID = #{impTypeId,jdbcType=VARCHAR},
      </if>
      <if test="impTypeName != null" >
        IMP_TYPE_NAME = #{impTypeName,jdbcType=VARCHAR},
      </if>
      <if test="impTime != null" >
        IMP_TIME = #{impTime,jdbcType=VARCHAR},
      </if>
      <if test="impNum != null" >
        IMP_NUM = #{impNum,jdbcType=VARCHAR},
      </if>
      <if test="impUserFlow != null" >
        IMP_USER_FLOW = #{impUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="impUserName != null" >
        IMP_USER_NAME = #{impUserName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="roleFlag != null" >
        ROLE_FLAG = #{roleFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where IMP_FLOW = #{impFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.PubImportRecord">
    update PUB_IMPORT_RECORD
    set IMP_TYPE_ID = #{impTypeId,jdbcType=VARCHAR},
      IMP_TYPE_NAME = #{impTypeName,jdbcType=VARCHAR},
      IMP_TIME = #{impTime,jdbcType=VARCHAR},
      IMP_NUM = #{impNum,jdbcType=VARCHAR},
      IMP_USER_FLOW = #{impUserFlow,jdbcType=VARCHAR},
      IMP_USER_NAME = #{impUserName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      ROLE_FLAG = #{roleFlag,jdbcType=VARCHAR}
    where IMP_FLOW = #{impFlow,jdbcType=VARCHAR}
  </update>
</mapper>