<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.core.common.sci.dao.PubProjProcessMapper" >
    <resultMap id="BaseResultMap" type="com.pinde.core.model.PubProjProcess">
    <id column="PROCESS_FLOW" property="processFlow" jdbcType="VARCHAR" />
    <result column="PROJ_FLOW" property="projFlow" jdbcType="VARCHAR" />
    <result column="PROJ_STAGE_ID" property="projStageId" jdbcType="VARCHAR" />
    <result column="PROJ_STAGE_NAME" property="projStageName" jdbcType="VARCHAR" />
    <result column="PROJ_STATUS_ID" property="projStatusId" jdbcType="VARCHAR" />
    <result column="PROJ_STATUS_NAME" property="projStatusName" jdbcType="VARCHAR" />
    <result column="REC_FLOW" property="recFlow" jdbcType="VARCHAR" />
    <result column="REC_TYPE_ID" property="recTypeId" jdbcType="VARCHAR" />
    <result column="REC_TYPE_NAME" property="recTypeName" jdbcType="VARCHAR" />
    <result column="PROCESS_REMARK" property="processRemark" jdbcType="VARCHAR" />
    <result column="AUDIT_CONTENT" property="auditContent" jdbcType="VARCHAR" />
    <result column="OPER_USER_FLOW" property="operUserFlow" jdbcType="VARCHAR" />
    <result column="OPER_USER_NAME" property="operUserName" jdbcType="VARCHAR" />
    <result column="OPER_ORG_FLOW" property="operOrgFlow" jdbcType="VARCHAR" />
    <result column="OPER_ORG_NAME" property="operOrgName" jdbcType="VARCHAR" />
    <result column="OPER_TIME" property="operTime" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PROCESS_FLOW, PROJ_FLOW, PROJ_STAGE_ID, PROJ_STAGE_NAME, PROJ_STATUS_ID, PROJ_STATUS_NAME, 
    REC_FLOW, REC_TYPE_ID, REC_TYPE_NAME, PROCESS_REMARK, AUDIT_CONTENT, OPER_USER_FLOW, 
    OPER_USER_NAME, OPER_ORG_FLOW, OPER_ORG_NAME, OPER_TIME, RECORD_STATUS, CREATE_TIME, 
    CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.PubProjProcessExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
        from PUB_PROJ_PROCESS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from PUB_PROJ_PROCESS
    where PROCESS_FLOW = #{processFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from PUB_PROJ_PROCESS
    where PROCESS_FLOW = #{processFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.PubProjProcessExample">
        delete from PUB_PROJ_PROCESS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.PubProjProcess">
        insert into PUB_PROJ_PROCESS (PROCESS_FLOW, PROJ_FLOW, PROJ_STAGE_ID,
      PROJ_STAGE_NAME, PROJ_STATUS_ID, PROJ_STATUS_NAME, 
      REC_FLOW, REC_TYPE_ID, REC_TYPE_NAME, 
      PROCESS_REMARK, AUDIT_CONTENT, OPER_USER_FLOW, 
      OPER_USER_NAME, OPER_ORG_FLOW, OPER_ORG_NAME, 
      OPER_TIME, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
      )
    values (#{processFlow,jdbcType=VARCHAR}, #{projFlow,jdbcType=VARCHAR}, #{projStageId,jdbcType=VARCHAR}, 
      #{projStageName,jdbcType=VARCHAR}, #{projStatusId,jdbcType=VARCHAR}, #{projStatusName,jdbcType=VARCHAR}, 
      #{recFlow,jdbcType=VARCHAR}, #{recTypeId,jdbcType=VARCHAR}, #{recTypeName,jdbcType=VARCHAR}, 
      #{processRemark,jdbcType=VARCHAR}, #{auditContent,jdbcType=VARCHAR}, #{operUserFlow,jdbcType=VARCHAR}, 
      #{operUserName,jdbcType=VARCHAR}, #{operOrgFlow,jdbcType=VARCHAR}, #{operOrgName,jdbcType=VARCHAR}, 
      #{operTime,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.PubProjProcess">
        insert into PUB_PROJ_PROCESS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="processFlow != null" >
        PROCESS_FLOW,
      </if>
      <if test="projFlow != null" >
        PROJ_FLOW,
      </if>
      <if test="projStageId != null" >
        PROJ_STAGE_ID,
      </if>
      <if test="projStageName != null" >
        PROJ_STAGE_NAME,
      </if>
      <if test="projStatusId != null" >
        PROJ_STATUS_ID,
      </if>
      <if test="projStatusName != null" >
        PROJ_STATUS_NAME,
      </if>
      <if test="recFlow != null" >
        REC_FLOW,
      </if>
      <if test="recTypeId != null" >
        REC_TYPE_ID,
      </if>
      <if test="recTypeName != null" >
        REC_TYPE_NAME,
      </if>
      <if test="processRemark != null" >
        PROCESS_REMARK,
      </if>
      <if test="auditContent != null" >
        AUDIT_CONTENT,
      </if>
      <if test="operUserFlow != null" >
        OPER_USER_FLOW,
      </if>
      <if test="operUserName != null" >
        OPER_USER_NAME,
      </if>
      <if test="operOrgFlow != null" >
        OPER_ORG_FLOW,
      </if>
      <if test="operOrgName != null" >
        OPER_ORG_NAME,
      </if>
      <if test="operTime != null" >
        OPER_TIME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="processFlow != null" >
        #{processFlow,jdbcType=VARCHAR},
      </if>
      <if test="projFlow != null" >
        #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="projStageId != null" >
        #{projStageId,jdbcType=VARCHAR},
      </if>
      <if test="projStageName != null" >
        #{projStageName,jdbcType=VARCHAR},
      </if>
      <if test="projStatusId != null" >
        #{projStatusId,jdbcType=VARCHAR},
      </if>
      <if test="projStatusName != null" >
        #{projStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recFlow != null" >
        #{recFlow,jdbcType=VARCHAR},
      </if>
      <if test="recTypeId != null" >
        #{recTypeId,jdbcType=VARCHAR},
      </if>
      <if test="recTypeName != null" >
        #{recTypeName,jdbcType=VARCHAR},
      </if>
      <if test="processRemark != null" >
        #{processRemark,jdbcType=VARCHAR},
      </if>
      <if test="auditContent != null" >
        #{auditContent,jdbcType=VARCHAR},
      </if>
      <if test="operUserFlow != null" >
        #{operUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="operUserName != null" >
        #{operUserName,jdbcType=VARCHAR},
      </if>
      <if test="operOrgFlow != null" >
        #{operOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="operOrgName != null" >
        #{operOrgName,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null" >
        #{operTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.PubProjProcessExample"
            resultType="java.lang.Integer">
        select count(*) from PUB_PROJ_PROCESS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update PUB_PROJ_PROCESS
    <set >
      <if test="record.processFlow != null" >
        PROCESS_FLOW = #{record.processFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projFlow != null" >
        PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projStageId != null" >
        PROJ_STAGE_ID = #{record.projStageId,jdbcType=VARCHAR},
      </if>
      <if test="record.projStageName != null" >
        PROJ_STAGE_NAME = #{record.projStageName,jdbcType=VARCHAR},
      </if>
      <if test="record.projStatusId != null" >
        PROJ_STATUS_ID = #{record.projStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.projStatusName != null" >
        PROJ_STATUS_NAME = #{record.projStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.recFlow != null" >
        REC_FLOW = #{record.recFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.recTypeId != null" >
        REC_TYPE_ID = #{record.recTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.recTypeName != null" >
        REC_TYPE_NAME = #{record.recTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.processRemark != null" >
        PROCESS_REMARK = #{record.processRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.auditContent != null" >
        AUDIT_CONTENT = #{record.auditContent,jdbcType=VARCHAR},
      </if>
      <if test="record.operUserFlow != null" >
        OPER_USER_FLOW = #{record.operUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.operUserName != null" >
        OPER_USER_NAME = #{record.operUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.operOrgFlow != null" >
        OPER_ORG_FLOW = #{record.operOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.operOrgName != null" >
        OPER_ORG_NAME = #{record.operOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.operTime != null" >
        OPER_TIME = #{record.operTime,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update PUB_PROJ_PROCESS
    set PROCESS_FLOW = #{record.processFlow,jdbcType=VARCHAR},
      PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      PROJ_STAGE_ID = #{record.projStageId,jdbcType=VARCHAR},
      PROJ_STAGE_NAME = #{record.projStageName,jdbcType=VARCHAR},
      PROJ_STATUS_ID = #{record.projStatusId,jdbcType=VARCHAR},
      PROJ_STATUS_NAME = #{record.projStatusName,jdbcType=VARCHAR},
      REC_FLOW = #{record.recFlow,jdbcType=VARCHAR},
      REC_TYPE_ID = #{record.recTypeId,jdbcType=VARCHAR},
      REC_TYPE_NAME = #{record.recTypeName,jdbcType=VARCHAR},
      PROCESS_REMARK = #{record.processRemark,jdbcType=VARCHAR},
      AUDIT_CONTENT = #{record.auditContent,jdbcType=VARCHAR},
      OPER_USER_FLOW = #{record.operUserFlow,jdbcType=VARCHAR},
      OPER_USER_NAME = #{record.operUserName,jdbcType=VARCHAR},
      OPER_ORG_FLOW = #{record.operOrgFlow,jdbcType=VARCHAR},
      OPER_ORG_NAME = #{record.operOrgName,jdbcType=VARCHAR},
      OPER_TIME = #{record.operTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.PubProjProcess">
        update PUB_PROJ_PROCESS
    <set >
      <if test="projFlow != null" >
        PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="projStageId != null" >
        PROJ_STAGE_ID = #{projStageId,jdbcType=VARCHAR},
      </if>
      <if test="projStageName != null" >
        PROJ_STAGE_NAME = #{projStageName,jdbcType=VARCHAR},
      </if>
      <if test="projStatusId != null" >
        PROJ_STATUS_ID = #{projStatusId,jdbcType=VARCHAR},
      </if>
      <if test="projStatusName != null" >
        PROJ_STATUS_NAME = #{projStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recFlow != null" >
        REC_FLOW = #{recFlow,jdbcType=VARCHAR},
      </if>
      <if test="recTypeId != null" >
        REC_TYPE_ID = #{recTypeId,jdbcType=VARCHAR},
      </if>
      <if test="recTypeName != null" >
        REC_TYPE_NAME = #{recTypeName,jdbcType=VARCHAR},
      </if>
      <if test="processRemark != null" >
        PROCESS_REMARK = #{processRemark,jdbcType=VARCHAR},
      </if>
      <if test="auditContent != null" >
        AUDIT_CONTENT = #{auditContent,jdbcType=VARCHAR},
      </if>
      <if test="operUserFlow != null" >
        OPER_USER_FLOW = #{operUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="operUserName != null" >
        OPER_USER_NAME = #{operUserName,jdbcType=VARCHAR},
      </if>
      <if test="operOrgFlow != null" >
        OPER_ORG_FLOW = #{operOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="operOrgName != null" >
        OPER_ORG_NAME = #{operOrgName,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null" >
        OPER_TIME = #{operTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where PROCESS_FLOW = #{processFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.PubProjProcess">
        update PUB_PROJ_PROCESS
    set PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      PROJ_STAGE_ID = #{projStageId,jdbcType=VARCHAR},
      PROJ_STAGE_NAME = #{projStageName,jdbcType=VARCHAR},
      PROJ_STATUS_ID = #{projStatusId,jdbcType=VARCHAR},
      PROJ_STATUS_NAME = #{projStatusName,jdbcType=VARCHAR},
      REC_FLOW = #{recFlow,jdbcType=VARCHAR},
      REC_TYPE_ID = #{recTypeId,jdbcType=VARCHAR},
      REC_TYPE_NAME = #{recTypeName,jdbcType=VARCHAR},
      PROCESS_REMARK = #{processRemark,jdbcType=VARCHAR},
      AUDIT_CONTENT = #{auditContent,jdbcType=VARCHAR},
      OPER_USER_FLOW = #{operUserFlow,jdbcType=VARCHAR},
      OPER_USER_NAME = #{operUserName,jdbcType=VARCHAR},
      OPER_ORG_FLOW = #{operOrgFlow,jdbcType=VARCHAR},
      OPER_ORG_NAME = #{operOrgName,jdbcType=VARCHAR},
      OPER_TIME = #{operTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where PROCESS_FLOW = #{processFlow,jdbcType=VARCHAR}
  </update>
</mapper>