<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.core.common.sci.dao.PubProjAuthorMapper">
    <resultMap id="BaseResultMap" type="com.pinde.core.model.PubProjAuthor">
    <id column="AUTHOR_FLOW" jdbcType="VARCHAR" property="authorFlow" />
    <result column="PROJ_FLOW" jdbcType="VARCHAR" property="projFlow" />
    <result column="AUTHOR_NAME" jdbcType="VARCHAR" property="authorName" />
    <result column="SEX_ID" jdbcType="VARCHAR" property="sexId" />
    <result column="SEX_NAME" jdbcType="VARCHAR" property="sexName" />
    <result column="USER_FLOW" jdbcType="VARCHAR" property="userFlow" />
    <result column="DEPT_FLOW" jdbcType="VARCHAR" property="deptFlow" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="ACH_SCORE" jdbcType="DECIMAL" property="achScore" />
    <result column="ACH_SCORE_DEPT" jdbcType="DECIMAL" property="achScoreDept" />
    <result column="BRANCH_ID" jdbcType="VARCHAR" property="branchId" />
    <result column="BRANCH_NAME" jdbcType="VARCHAR" property="branchName" />
    <result column="SCORE_FLOW" jdbcType="VARCHAR" property="scoreFlow" />
    <result column="SCORE_NAME" jdbcType="VARCHAR" property="scoreName" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="IS_FIXED_FLAG" jdbcType="VARCHAR" property="isFixedFlag" />
    <result column="IS_PUBLISH" jdbcType="VARCHAR" property="isPublish" />
    <result column="PROJ_RANKING" jdbcType="VARCHAR" property="projRanking" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    AUTHOR_FLOW, PROJ_FLOW, AUTHOR_NAME, SEX_ID, SEX_NAME, USER_FLOW, DEPT_FLOW, DEPT_NAME, 
    ACH_SCORE, ACH_SCORE_DEPT, BRANCH_ID, BRANCH_NAME, SCORE_FLOW, SCORE_NAME, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, IS_FIXED_FLAG, IS_PUBLISH, 
    PROJ_RANKING
  </sql>
    <select id="selectByExample" parameterType="com.pinde.core.model.PubProjAuthorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
        from PUB_PROJ_AUTHOR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
      from PUB_PROJ_AUTHOR
    where AUTHOR_FLOW = #{authorFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
      delete from PUB_PROJ_AUTHOR
    where AUTHOR_FLOW = #{authorFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.PubProjAuthorExample">
        delete from PUB_PROJ_AUTHOR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.PubProjAuthor">
        insert into PUB_PROJ_AUTHOR (AUTHOR_FLOW, PROJ_FLOW, AUTHOR_NAME,
      SEX_ID, SEX_NAME, USER_FLOW, 
      DEPT_FLOW, DEPT_NAME, ACH_SCORE, 
      ACH_SCORE_DEPT, BRANCH_ID, BRANCH_NAME, 
      SCORE_FLOW, SCORE_NAME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, IS_FIXED_FLAG, IS_PUBLISH, 
      PROJ_RANKING)
    values (#{authorFlow,jdbcType=VARCHAR}, #{projFlow,jdbcType=VARCHAR}, #{authorName,jdbcType=VARCHAR}, 
      #{sexId,jdbcType=VARCHAR}, #{sexName,jdbcType=VARCHAR}, #{userFlow,jdbcType=VARCHAR}, 
      #{deptFlow,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{achScore,jdbcType=DECIMAL}, 
      #{achScoreDept,jdbcType=DECIMAL}, #{branchId,jdbcType=VARCHAR}, #{branchName,jdbcType=VARCHAR}, 
      #{scoreFlow,jdbcType=VARCHAR}, #{scoreName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{isFixedFlag,jdbcType=VARCHAR}, #{isPublish,jdbcType=VARCHAR}, 
      #{projRanking,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.PubProjAuthor">
        insert into PUB_PROJ_AUTHOR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authorFlow != null">
        AUTHOR_FLOW,
      </if>
      <if test="projFlow != null">
        PROJ_FLOW,
      </if>
      <if test="authorName != null">
        AUTHOR_NAME,
      </if>
      <if test="sexId != null">
        SEX_ID,
      </if>
      <if test="sexName != null">
        SEX_NAME,
      </if>
      <if test="userFlow != null">
        USER_FLOW,
      </if>
      <if test="deptFlow != null">
        DEPT_FLOW,
      </if>
      <if test="deptName != null">
        DEPT_NAME,
      </if>
      <if test="achScore != null">
        ACH_SCORE,
      </if>
      <if test="achScoreDept != null">
        ACH_SCORE_DEPT,
      </if>
      <if test="branchId != null">
        BRANCH_ID,
      </if>
      <if test="branchName != null">
        BRANCH_NAME,
      </if>
      <if test="scoreFlow != null">
        SCORE_FLOW,
      </if>
      <if test="scoreName != null">
        SCORE_NAME,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="isFixedFlag != null">
        IS_FIXED_FLAG,
      </if>
      <if test="isPublish != null">
        IS_PUBLISH,
      </if>
      <if test="projRanking != null">
        PROJ_RANKING,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authorFlow != null">
        #{authorFlow,jdbcType=VARCHAR},
      </if>
      <if test="projFlow != null">
        #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="authorName != null">
        #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="sexId != null">
        #{sexId,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null">
        #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null">
        #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null">
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="achScore != null">
        #{achScore,jdbcType=DECIMAL},
      </if>
      <if test="achScoreDept != null">
        #{achScoreDept,jdbcType=DECIMAL},
      </if>
      <if test="branchId != null">
        #{branchId,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null">
        #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="scoreFlow != null">
        #{scoreFlow,jdbcType=VARCHAR},
      </if>
      <if test="scoreName != null">
        #{scoreName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="isFixedFlag != null">
        #{isFixedFlag,jdbcType=VARCHAR},
      </if>
      <if test="isPublish != null">
        #{isPublish,jdbcType=VARCHAR},
      </if>
      <if test="projRanking != null">
        #{projRanking,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.PubProjAuthorExample"
            resultType="java.lang.Integer">
        select count(*) from PUB_PROJ_AUTHOR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
      update PUB_PROJ_AUTHOR
    <set>
      <if test="record.authorFlow != null">
        AUTHOR_FLOW = #{record.authorFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projFlow != null">
        PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.authorName != null">
        AUTHOR_NAME = #{record.authorName,jdbcType=VARCHAR},
      </if>
      <if test="record.sexId != null">
        SEX_ID = #{record.sexId,jdbcType=VARCHAR},
      </if>
      <if test="record.sexName != null">
        SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      </if>
      <if test="record.userFlow != null">
        USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null">
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null">
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.achScore != null">
        ACH_SCORE = #{record.achScore,jdbcType=DECIMAL},
      </if>
      <if test="record.achScoreDept != null">
        ACH_SCORE_DEPT = #{record.achScoreDept,jdbcType=DECIMAL},
      </if>
      <if test="record.branchId != null">
        BRANCH_ID = #{record.branchId,jdbcType=VARCHAR},
      </if>
      <if test="record.branchName != null">
        BRANCH_NAME = #{record.branchName,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreFlow != null">
        SCORE_FLOW = #{record.scoreFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreName != null">
        SCORE_NAME = #{record.scoreName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.isFixedFlag != null">
        IS_FIXED_FLAG = #{record.isFixedFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.isPublish != null">
        IS_PUBLISH = #{record.isPublish,jdbcType=VARCHAR},
      </if>
      <if test="record.projRanking != null">
        PROJ_RANKING = #{record.projRanking,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
      update PUB_PROJ_AUTHOR
    set AUTHOR_FLOW = #{record.authorFlow,jdbcType=VARCHAR},
      PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      AUTHOR_NAME = #{record.authorName,jdbcType=VARCHAR},
      SEX_ID = #{record.sexId,jdbcType=VARCHAR},
      SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      ACH_SCORE = #{record.achScore,jdbcType=DECIMAL},
      ACH_SCORE_DEPT = #{record.achScoreDept,jdbcType=DECIMAL},
      BRANCH_ID = #{record.branchId,jdbcType=VARCHAR},
      BRANCH_NAME = #{record.branchName,jdbcType=VARCHAR},
      SCORE_FLOW = #{record.scoreFlow,jdbcType=VARCHAR},
      SCORE_NAME = #{record.scoreName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      IS_FIXED_FLAG = #{record.isFixedFlag,jdbcType=VARCHAR},
      IS_PUBLISH = #{record.isPublish,jdbcType=VARCHAR},
      PROJ_RANKING = #{record.projRanking,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.PubProjAuthor">
        update PUB_PROJ_AUTHOR
    <set>
      <if test="projFlow != null">
        PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="authorName != null">
        AUTHOR_NAME = #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="sexId != null">
        SEX_ID = #{sexId,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null">
        SEX_NAME = #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null">
        USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null">
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="achScore != null">
        ACH_SCORE = #{achScore,jdbcType=DECIMAL},
      </if>
      <if test="achScoreDept != null">
        ACH_SCORE_DEPT = #{achScoreDept,jdbcType=DECIMAL},
      </if>
      <if test="branchId != null">
        BRANCH_ID = #{branchId,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null">
        BRANCH_NAME = #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="scoreFlow != null">
        SCORE_FLOW = #{scoreFlow,jdbcType=VARCHAR},
      </if>
      <if test="scoreName != null">
        SCORE_NAME = #{scoreName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="isFixedFlag != null">
        IS_FIXED_FLAG = #{isFixedFlag,jdbcType=VARCHAR},
      </if>
      <if test="isPublish != null">
        IS_PUBLISH = #{isPublish,jdbcType=VARCHAR},
      </if>
      <if test="projRanking != null">
        PROJ_RANKING = #{projRanking,jdbcType=VARCHAR},
      </if>
    </set>
    where AUTHOR_FLOW = #{authorFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.PubProjAuthor">
        update PUB_PROJ_AUTHOR
    set PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      AUTHOR_NAME = #{authorName,jdbcType=VARCHAR},
      SEX_ID = #{sexId,jdbcType=VARCHAR},
      SEX_NAME = #{sexName,jdbcType=VARCHAR},
      USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      ACH_SCORE = #{achScore,jdbcType=DECIMAL},
      ACH_SCORE_DEPT = #{achScoreDept,jdbcType=DECIMAL},
      BRANCH_ID = #{branchId,jdbcType=VARCHAR},
      BRANCH_NAME = #{branchName,jdbcType=VARCHAR},
      SCORE_FLOW = #{scoreFlow,jdbcType=VARCHAR},
      SCORE_NAME = #{scoreName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      IS_FIXED_FLAG = #{isFixedFlag,jdbcType=VARCHAR},
      IS_PUBLISH = #{isPublish,jdbcType=VARCHAR},
      PROJ_RANKING = #{projRanking,jdbcType=VARCHAR}
    where AUTHOR_FLOW = #{authorFlow,jdbcType=VARCHAR}
  </update>
</mapper>