<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.core.common.sci.dao.PubProjRecMapper">
    <resultMap id="BaseResultMap" type="com.pinde.core.model.PubProjRec">
    <id column="REC_FLOW" jdbcType="VARCHAR" property="recFlow" />
    <result column="PROJ_FLOW" jdbcType="VARCHAR" property="projFlow" />
    <result column="PROJ_STAGE_ID" jdbcType="VARCHAR" property="projStageId" />
    <result column="PROJ_STAGE_NAME" jdbcType="VARCHAR" property="projStageName" />
    <result column="PROJ_STATUS_ID" jdbcType="VARCHAR" property="projStatusId" />
    <result column="PROJ_STATUS_NAME" jdbcType="VARCHAR" property="projStatusName" />
    <result column="REC_TYPE_ID" jdbcType="VARCHAR" property="recTypeId" />
    <result column="REC_TYPE_NAME" jdbcType="VARCHAR" property="recTypeName" />
    <result column="OPER_USER_FLOW" jdbcType="VARCHAR" property="operUserFlow" />
    <result column="OPER_USER_NAME" jdbcType="VARCHAR" property="operUserName" />
    <result column="OPER_TIME" jdbcType="VARCHAR" property="operTime" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="PAGE_GROUP_NAME" jdbcType="VARCHAR" property="pageGroupName" />
  </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.pinde.core.model.PubProjRec">
    <result column="REC_CONTENT" jdbcType="CLOB" property="recContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REC_FLOW, PROJ_FLOW, PROJ_STAGE_ID, PROJ_STAGE_NAME, PROJ_STATUS_ID, PROJ_STATUS_NAME, 
    REC_TYPE_ID, REC_TYPE_NAME, OPER_USER_FLOW, OPER_USER_NAME, OPER_TIME, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, PAGE_GROUP_NAME
  </sql>
  <sql id="Blob_Column_List">
    REC_CONTENT
  </sql>
    <select id="selectByExampleWithBLOBs" parameterType="com.pinde.core.model.PubProjRecExample"
            resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
        from PUB_PROJ_REC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
    <select id="selectByExample" parameterType="com.pinde.core.model.PubProjRecExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
        from PUB_PROJ_REC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
      from PUB_PROJ_REC
    where REC_FLOW = #{recFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
      delete from PUB_PROJ_REC
    where REC_FLOW = #{recFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.PubProjRecExample">
        delete from PUB_PROJ_REC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.PubProjRec">
        insert into PUB_PROJ_REC (REC_FLOW, PROJ_FLOW, PROJ_STAGE_ID,
      PROJ_STAGE_NAME, PROJ_STATUS_ID, PROJ_STATUS_NAME, 
      REC_TYPE_ID, REC_TYPE_NAME, OPER_USER_FLOW, 
      OPER_USER_NAME, OPER_TIME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, PAGE_GROUP_NAME, REC_CONTENT
      )
    values (#{recFlow,jdbcType=VARCHAR}, #{projFlow,jdbcType=VARCHAR}, #{projStageId,jdbcType=VARCHAR}, 
      #{projStageName,jdbcType=VARCHAR}, #{projStatusId,jdbcType=VARCHAR}, #{projStatusName,jdbcType=VARCHAR}, 
      #{recTypeId,jdbcType=VARCHAR}, #{recTypeName,jdbcType=VARCHAR}, #{operUserFlow,jdbcType=VARCHAR}, 
      #{operUserName,jdbcType=VARCHAR}, #{operTime,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{pageGroupName,jdbcType=VARCHAR}, #{recContent,jdbcType=CLOB}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.PubProjRec">
        insert into PUB_PROJ_REC
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recFlow != null">
        REC_FLOW,
      </if>
      <if test="projFlow != null">
        PROJ_FLOW,
      </if>
      <if test="projStageId != null">
        PROJ_STAGE_ID,
      </if>
      <if test="projStageName != null">
        PROJ_STAGE_NAME,
      </if>
      <if test="projStatusId != null">
        PROJ_STATUS_ID,
      </if>
      <if test="projStatusName != null">
        PROJ_STATUS_NAME,
      </if>
      <if test="recTypeId != null">
        REC_TYPE_ID,
      </if>
      <if test="recTypeName != null">
        REC_TYPE_NAME,
      </if>
      <if test="operUserFlow != null">
        OPER_USER_FLOW,
      </if>
      <if test="operUserName != null">
        OPER_USER_NAME,
      </if>
      <if test="operTime != null">
        OPER_TIME,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="pageGroupName != null">
        PAGE_GROUP_NAME,
      </if>
      <if test="recContent != null">
        REC_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recFlow != null">
        #{recFlow,jdbcType=VARCHAR},
      </if>
      <if test="projFlow != null">
        #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="projStageId != null">
        #{projStageId,jdbcType=VARCHAR},
      </if>
      <if test="projStageName != null">
        #{projStageName,jdbcType=VARCHAR},
      </if>
      <if test="projStatusId != null">
        #{projStatusId,jdbcType=VARCHAR},
      </if>
      <if test="projStatusName != null">
        #{projStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recTypeId != null">
        #{recTypeId,jdbcType=VARCHAR},
      </if>
      <if test="recTypeName != null">
        #{recTypeName,jdbcType=VARCHAR},
      </if>
      <if test="operUserFlow != null">
        #{operUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="operUserName != null">
        #{operUserName,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null">
        #{operTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="pageGroupName != null">
        #{pageGroupName,jdbcType=VARCHAR},
      </if>
      <if test="recContent != null">
        #{recContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.PubProjRecExample" resultType="java.lang.Integer">
        select count(*) from PUB_PROJ_REC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
      update PUB_PROJ_REC
    <set>
      <if test="record.recFlow != null">
        REC_FLOW = #{record.recFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projFlow != null">
        PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projStageId != null">
        PROJ_STAGE_ID = #{record.projStageId,jdbcType=VARCHAR},
      </if>
      <if test="record.projStageName != null">
        PROJ_STAGE_NAME = #{record.projStageName,jdbcType=VARCHAR},
      </if>
      <if test="record.projStatusId != null">
        PROJ_STATUS_ID = #{record.projStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.projStatusName != null">
        PROJ_STATUS_NAME = #{record.projStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.recTypeId != null">
        REC_TYPE_ID = #{record.recTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.recTypeName != null">
        REC_TYPE_NAME = #{record.recTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.operUserFlow != null">
        OPER_USER_FLOW = #{record.operUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.operUserName != null">
        OPER_USER_NAME = #{record.operUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.operTime != null">
        OPER_TIME = #{record.operTime,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.pageGroupName != null">
        PAGE_GROUP_NAME = #{record.pageGroupName,jdbcType=VARCHAR},
      </if>
      <if test="record.recContent != null">
        REC_CONTENT = #{record.recContent,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
      update PUB_PROJ_REC
    set REC_FLOW = #{record.recFlow,jdbcType=VARCHAR},
      PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      PROJ_STAGE_ID = #{record.projStageId,jdbcType=VARCHAR},
      PROJ_STAGE_NAME = #{record.projStageName,jdbcType=VARCHAR},
      PROJ_STATUS_ID = #{record.projStatusId,jdbcType=VARCHAR},
      PROJ_STATUS_NAME = #{record.projStatusName,jdbcType=VARCHAR},
      REC_TYPE_ID = #{record.recTypeId,jdbcType=VARCHAR},
      REC_TYPE_NAME = #{record.recTypeName,jdbcType=VARCHAR},
      OPER_USER_FLOW = #{record.operUserFlow,jdbcType=VARCHAR},
      OPER_USER_NAME = #{record.operUserName,jdbcType=VARCHAR},
      OPER_TIME = #{record.operTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      PAGE_GROUP_NAME = #{record.pageGroupName,jdbcType=VARCHAR},
      REC_CONTENT = #{record.recContent,jdbcType=CLOB}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
      update PUB_PROJ_REC
    set REC_FLOW = #{record.recFlow,jdbcType=VARCHAR},
      PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      PROJ_STAGE_ID = #{record.projStageId,jdbcType=VARCHAR},
      PROJ_STAGE_NAME = #{record.projStageName,jdbcType=VARCHAR},
      PROJ_STATUS_ID = #{record.projStatusId,jdbcType=VARCHAR},
      PROJ_STATUS_NAME = #{record.projStatusName,jdbcType=VARCHAR},
      REC_TYPE_ID = #{record.recTypeId,jdbcType=VARCHAR},
      REC_TYPE_NAME = #{record.recTypeName,jdbcType=VARCHAR},
      OPER_USER_FLOW = #{record.operUserFlow,jdbcType=VARCHAR},
      OPER_USER_NAME = #{record.operUserName,jdbcType=VARCHAR},
      OPER_TIME = #{record.operTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      PAGE_GROUP_NAME = #{record.pageGroupName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.PubProjRec">
        update PUB_PROJ_REC
    <set>
      <if test="projFlow != null">
        PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="projStageId != null">
        PROJ_STAGE_ID = #{projStageId,jdbcType=VARCHAR},
      </if>
      <if test="projStageName != null">
        PROJ_STAGE_NAME = #{projStageName,jdbcType=VARCHAR},
      </if>
      <if test="projStatusId != null">
        PROJ_STATUS_ID = #{projStatusId,jdbcType=VARCHAR},
      </if>
      <if test="projStatusName != null">
        PROJ_STATUS_NAME = #{projStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recTypeId != null">
        REC_TYPE_ID = #{recTypeId,jdbcType=VARCHAR},
      </if>
      <if test="recTypeName != null">
        REC_TYPE_NAME = #{recTypeName,jdbcType=VARCHAR},
      </if>
      <if test="operUserFlow != null">
        OPER_USER_FLOW = #{operUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="operUserName != null">
        OPER_USER_NAME = #{operUserName,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null">
        OPER_TIME = #{operTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="pageGroupName != null">
        PAGE_GROUP_NAME = #{pageGroupName,jdbcType=VARCHAR},
      </if>
      <if test="recContent != null">
        REC_CONTENT = #{recContent,jdbcType=CLOB},
      </if>
    </set>
    where REC_FLOW = #{recFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.core.model.PubProjRec">
        update PUB_PROJ_REC
    set PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      PROJ_STAGE_ID = #{projStageId,jdbcType=VARCHAR},
      PROJ_STAGE_NAME = #{projStageName,jdbcType=VARCHAR},
      PROJ_STATUS_ID = #{projStatusId,jdbcType=VARCHAR},
      PROJ_STATUS_NAME = #{projStatusName,jdbcType=VARCHAR},
      REC_TYPE_ID = #{recTypeId,jdbcType=VARCHAR},
      REC_TYPE_NAME = #{recTypeName,jdbcType=VARCHAR},
      OPER_USER_FLOW = #{operUserFlow,jdbcType=VARCHAR},
      OPER_USER_NAME = #{operUserName,jdbcType=VARCHAR},
      OPER_TIME = #{operTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      PAGE_GROUP_NAME = #{pageGroupName,jdbcType=VARCHAR},
      REC_CONTENT = #{recContent,jdbcType=CLOB}
    where REC_FLOW = #{recFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.PubProjRec">
        update PUB_PROJ_REC
    set PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      PROJ_STAGE_ID = #{projStageId,jdbcType=VARCHAR},
      PROJ_STAGE_NAME = #{projStageName,jdbcType=VARCHAR},
      PROJ_STATUS_ID = #{projStatusId,jdbcType=VARCHAR},
      PROJ_STATUS_NAME = #{projStatusName,jdbcType=VARCHAR},
      REC_TYPE_ID = #{recTypeId,jdbcType=VARCHAR},
      REC_TYPE_NAME = #{recTypeName,jdbcType=VARCHAR},
      OPER_USER_FLOW = #{operUserFlow,jdbcType=VARCHAR},
      OPER_USER_NAME = #{operUserName,jdbcType=VARCHAR},
      OPER_TIME = #{operTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      PAGE_GROUP_NAME = #{pageGroupName,jdbcType=VARCHAR}
    where REC_FLOW = #{recFlow,jdbcType=VARCHAR}
  </update>
</mapper>