<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.core.common.sci.dao.ResDoctorSchProcessMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.core.model.ResDoctorSchProcess" >
    <id column="PROCESS_FLOW" property="processFlow" jdbcType="VARCHAR" />
    <result column="USER_FLOW" property="userFlow" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="DEPT_FLOW" property="deptFlow" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="SCH_DEPT_FLOW" property="schDeptFlow" jdbcType="VARCHAR" />
    <result column="SCH_DEPT_NAME" property="schDeptName" jdbcType="VARCHAR" />
    <result column="SCH_RESULT_FLOW" property="schResultFlow" jdbcType="VARCHAR" />
    <result column="SCH_START_DATE" property="schStartDate" jdbcType="VARCHAR" />
    <result column="SCH_END_DATE" property="schEndDate" jdbcType="VARCHAR" />
    <result column="START_DATE" property="startDate" jdbcType="VARCHAR" />
    <result column="END_DATE" property="endDate" jdbcType="VARCHAR" />
    <result column="TEACHER_USER_FLOW" property="teacherUserFlow" jdbcType="VARCHAR" />
    <result column="TEACHER_USER_NAME" property="teacherUserName" jdbcType="VARCHAR" />
    <result column="HEAD_USER_FLOW" property="headUserFlow" jdbcType="VARCHAR" />
    <result column="HEAD_USER_NAME" property="headUserName" jdbcType="VARCHAR" />
    <result column="SCH_FLAG" property="schFlag" jdbcType="VARCHAR" />
    <result column="SCH_SCORE" property="schScore" jdbcType="DECIMAL" />
    <result column="IS_CURRENT_FLAG" property="isCurrentFlag" jdbcType="VARCHAR" />
    <result column="SCH_PER" property="schPer" jdbcType="DECIMAL" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="IS_EXTERNAL" property="isExternal" jdbcType="VARCHAR" />
    <result column="SECRETARY_USER_FLOW" property="secretaryUserFlow" jdbcType="VARCHAR" />
    <result column="SECRETARY_USER_NAME" property="secretaryUserName" jdbcType="VARCHAR" />
    <result column="MONTH_DATE" property="monthDate" jdbcType="VARCHAR" />
    <result column="OUT_DATE" property="outDate" jdbcType="VARCHAR" />
    <result column="TEMPORARY_OUT" property="temporaryOut" jdbcType="VARCHAR" />
    <result column="TEMPORARY_AUDIT_STATUS_ID" property="temporaryAuditStatusId" jdbcType="VARCHAR" />
    <result column="TEMPORARY_AUDIT_STATUS_NAME" property="temporaryAuditStatusName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PROCESS_FLOW, USER_FLOW, ORG_FLOW, ORG_NAME, DEPT_FLOW, DEPT_NAME, SCH_DEPT_FLOW, 
    SCH_DEPT_NAME, SCH_RESULT_FLOW, SCH_START_DATE, SCH_END_DATE, START_DATE, END_DATE, 
    TEACHER_USER_FLOW, TEACHER_USER_NAME, HEAD_USER_FLOW, HEAD_USER_NAME, SCH_FLAG, SCH_SCORE, 
    IS_CURRENT_FLAG, SCH_PER, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
    MODIFY_USER_FLOW, IS_EXTERNAL, SECRETARY_USER_FLOW, SECRETARY_USER_NAME, MONTH_DATE, 
    OUT_DATE, TEMPORARY_OUT, TEMPORARY_AUDIT_STATUS_ID, TEMPORARY_AUDIT_STATUS_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.ResDoctorSchProcessExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
      from RES_DOCTOR_SCH_PROCESS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from RES_DOCTOR_SCH_PROCESS
    where PROCESS_FLOW = #{processFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from RES_DOCTOR_SCH_PROCESS
    where PROCESS_FLOW = #{processFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.ResDoctorSchProcessExample" >
      delete from RES_DOCTOR_SCH_PROCESS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.ResDoctorSchProcess" >
      insert into RES_DOCTOR_SCH_PROCESS (PROCESS_FLOW, USER_FLOW, ORG_FLOW,
      ORG_NAME, DEPT_FLOW, DEPT_NAME, 
      SCH_DEPT_FLOW, SCH_DEPT_NAME, SCH_RESULT_FLOW, 
      SCH_START_DATE, SCH_END_DATE, START_DATE, 
      END_DATE, TEACHER_USER_FLOW, TEACHER_USER_NAME, 
      HEAD_USER_FLOW, HEAD_USER_NAME, SCH_FLAG, 
      SCH_SCORE, IS_CURRENT_FLAG, SCH_PER, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, IS_EXTERNAL, 
      SECRETARY_USER_FLOW, SECRETARY_USER_NAME, MONTH_DATE, 
      OUT_DATE, TEMPORARY_OUT, TEMPORARY_AUDIT_STATUS_ID, 
      TEMPORARY_AUDIT_STATUS_NAME)
    values (#{processFlow,jdbcType=VARCHAR}, #{userFlow,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, 
      #{orgName,jdbcType=VARCHAR}, #{deptFlow,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, 
      #{schDeptFlow,jdbcType=VARCHAR}, #{schDeptName,jdbcType=VARCHAR}, #{schResultFlow,jdbcType=VARCHAR}, 
      #{schStartDate,jdbcType=VARCHAR}, #{schEndDate,jdbcType=VARCHAR}, #{startDate,jdbcType=VARCHAR}, 
      #{endDate,jdbcType=VARCHAR}, #{teacherUserFlow,jdbcType=VARCHAR}, #{teacherUserName,jdbcType=VARCHAR}, 
      #{headUserFlow,jdbcType=VARCHAR}, #{headUserName,jdbcType=VARCHAR}, #{schFlag,jdbcType=VARCHAR}, 
      #{schScore,jdbcType=DECIMAL}, #{isCurrentFlag,jdbcType=VARCHAR}, #{schPer,jdbcType=DECIMAL}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{isExternal,jdbcType=VARCHAR}, 
      #{secretaryUserFlow,jdbcType=VARCHAR}, #{secretaryUserName,jdbcType=VARCHAR}, #{monthDate,jdbcType=VARCHAR}, 
      #{outDate,jdbcType=VARCHAR}, #{temporaryOut,jdbcType=VARCHAR}, #{temporaryAuditStatusId,jdbcType=VARCHAR}, 
      #{temporaryAuditStatusName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.ResDoctorSchProcess" >
      insert into RES_DOCTOR_SCH_PROCESS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="processFlow != null" >
        PROCESS_FLOW,
      </if>
      <if test="userFlow != null" >
        USER_FLOW,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="schDeptFlow != null" >
        SCH_DEPT_FLOW,
      </if>
      <if test="schDeptName != null" >
        SCH_DEPT_NAME,
      </if>
      <if test="schResultFlow != null" >
        SCH_RESULT_FLOW,
      </if>
      <if test="schStartDate != null" >
        SCH_START_DATE,
      </if>
      <if test="schEndDate != null" >
        SCH_END_DATE,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="teacherUserFlow != null" >
        TEACHER_USER_FLOW,
      </if>
      <if test="teacherUserName != null" >
        TEACHER_USER_NAME,
      </if>
      <if test="headUserFlow != null" >
        HEAD_USER_FLOW,
      </if>
      <if test="headUserName != null" >
        HEAD_USER_NAME,
      </if>
      <if test="schFlag != null" >
        SCH_FLAG,
      </if>
      <if test="schScore != null" >
        SCH_SCORE,
      </if>
      <if test="isCurrentFlag != null" >
        IS_CURRENT_FLAG,
      </if>
      <if test="schPer != null" >
        SCH_PER,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="isExternal != null" >
        IS_EXTERNAL,
      </if>
      <if test="secretaryUserFlow != null" >
        SECRETARY_USER_FLOW,
      </if>
      <if test="secretaryUserName != null" >
        SECRETARY_USER_NAME,
      </if>
      <if test="monthDate != null" >
        MONTH_DATE,
      </if>
      <if test="outDate != null" >
        OUT_DATE,
      </if>
      <if test="temporaryOut != null" >
        TEMPORARY_OUT,
      </if>
      <if test="temporaryAuditStatusId != null" >
        TEMPORARY_AUDIT_STATUS_ID,
      </if>
      <if test="temporaryAuditStatusName != null" >
        TEMPORARY_AUDIT_STATUS_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="processFlow != null" >
        #{processFlow,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null" >
        #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="schDeptFlow != null" >
        #{schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="schDeptName != null" >
        #{schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="schResultFlow != null" >
        #{schResultFlow,jdbcType=VARCHAR},
      </if>
      <if test="schStartDate != null" >
        #{schStartDate,jdbcType=VARCHAR},
      </if>
      <if test="schEndDate != null" >
        #{schEndDate,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="teacherUserFlow != null" >
        #{teacherUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="teacherUserName != null" >
        #{teacherUserName,jdbcType=VARCHAR},
      </if>
      <if test="headUserFlow != null" >
        #{headUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="headUserName != null" >
        #{headUserName,jdbcType=VARCHAR},
      </if>
      <if test="schFlag != null" >
        #{schFlag,jdbcType=VARCHAR},
      </if>
      <if test="schScore != null" >
        #{schScore,jdbcType=DECIMAL},
      </if>
      <if test="isCurrentFlag != null" >
        #{isCurrentFlag,jdbcType=VARCHAR},
      </if>
      <if test="schPer != null" >
        #{schPer,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="isExternal != null" >
        #{isExternal,jdbcType=VARCHAR},
      </if>
      <if test="secretaryUserFlow != null" >
        #{secretaryUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="secretaryUserName != null" >
        #{secretaryUserName,jdbcType=VARCHAR},
      </if>
      <if test="monthDate != null" >
        #{monthDate,jdbcType=VARCHAR},
      </if>
      <if test="outDate != null" >
        #{outDate,jdbcType=VARCHAR},
      </if>
      <if test="temporaryOut != null" >
        #{temporaryOut,jdbcType=VARCHAR},
      </if>
      <if test="temporaryAuditStatusId != null" >
        #{temporaryAuditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="temporaryAuditStatusName != null" >
        #{temporaryAuditStatusName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.ResDoctorSchProcessExample" resultType="java.lang.Integer" >
      select count(*) from RES_DOCTOR_SCH_PROCESS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update RES_DOCTOR_SCH_PROCESS
    <set >
      <if test="record.processFlow != null" >
        PROCESS_FLOW = #{record.processFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userFlow != null" >
        USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null" >
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.schDeptFlow != null" >
        SCH_DEPT_FLOW = #{record.schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.schDeptName != null" >
        SCH_DEPT_NAME = #{record.schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.schResultFlow != null" >
        SCH_RESULT_FLOW = #{record.schResultFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.schStartDate != null" >
        SCH_START_DATE = #{record.schStartDate,jdbcType=VARCHAR},
      </if>
      <if test="record.schEndDate != null" >
        SCH_END_DATE = #{record.schEndDate,jdbcType=VARCHAR},
      </if>
      <if test="record.startDate != null" >
        START_DATE = #{record.startDate,jdbcType=VARCHAR},
      </if>
      <if test="record.endDate != null" >
        END_DATE = #{record.endDate,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherUserFlow != null" >
        TEACHER_USER_FLOW = #{record.teacherUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherUserName != null" >
        TEACHER_USER_NAME = #{record.teacherUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.headUserFlow != null" >
        HEAD_USER_FLOW = #{record.headUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.headUserName != null" >
        HEAD_USER_NAME = #{record.headUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.schFlag != null" >
        SCH_FLAG = #{record.schFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.schScore != null" >
        SCH_SCORE = #{record.schScore,jdbcType=DECIMAL},
      </if>
      <if test="record.isCurrentFlag != null" >
        IS_CURRENT_FLAG = #{record.isCurrentFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.schPer != null" >
        SCH_PER = #{record.schPer,jdbcType=DECIMAL},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.isExternal != null" >
        IS_EXTERNAL = #{record.isExternal,jdbcType=VARCHAR},
      </if>
      <if test="record.secretaryUserFlow != null" >
        SECRETARY_USER_FLOW = #{record.secretaryUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.secretaryUserName != null" >
        SECRETARY_USER_NAME = #{record.secretaryUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.monthDate != null" >
        MONTH_DATE = #{record.monthDate,jdbcType=VARCHAR},
      </if>
      <if test="record.outDate != null" >
        OUT_DATE = #{record.outDate,jdbcType=VARCHAR},
      </if>
      <if test="record.temporaryOut != null" >
        TEMPORARY_OUT = #{record.temporaryOut,jdbcType=VARCHAR},
      </if>
      <if test="record.temporaryAuditStatusId != null" >
        TEMPORARY_AUDIT_STATUS_ID = #{record.temporaryAuditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.temporaryAuditStatusName != null" >
        TEMPORARY_AUDIT_STATUS_NAME = #{record.temporaryAuditStatusName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update RES_DOCTOR_SCH_PROCESS
    set PROCESS_FLOW = #{record.processFlow,jdbcType=VARCHAR},
      USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      SCH_DEPT_FLOW = #{record.schDeptFlow,jdbcType=VARCHAR},
      SCH_DEPT_NAME = #{record.schDeptName,jdbcType=VARCHAR},
      SCH_RESULT_FLOW = #{record.schResultFlow,jdbcType=VARCHAR},
      SCH_START_DATE = #{record.schStartDate,jdbcType=VARCHAR},
      SCH_END_DATE = #{record.schEndDate,jdbcType=VARCHAR},
      START_DATE = #{record.startDate,jdbcType=VARCHAR},
      END_DATE = #{record.endDate,jdbcType=VARCHAR},
      TEACHER_USER_FLOW = #{record.teacherUserFlow,jdbcType=VARCHAR},
      TEACHER_USER_NAME = #{record.teacherUserName,jdbcType=VARCHAR},
      HEAD_USER_FLOW = #{record.headUserFlow,jdbcType=VARCHAR},
      HEAD_USER_NAME = #{record.headUserName,jdbcType=VARCHAR},
      SCH_FLAG = #{record.schFlag,jdbcType=VARCHAR},
      SCH_SCORE = #{record.schScore,jdbcType=DECIMAL},
      IS_CURRENT_FLAG = #{record.isCurrentFlag,jdbcType=VARCHAR},
      SCH_PER = #{record.schPer,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      IS_EXTERNAL = #{record.isExternal,jdbcType=VARCHAR},
      SECRETARY_USER_FLOW = #{record.secretaryUserFlow,jdbcType=VARCHAR},
      SECRETARY_USER_NAME = #{record.secretaryUserName,jdbcType=VARCHAR},
      MONTH_DATE = #{record.monthDate,jdbcType=VARCHAR},
      OUT_DATE = #{record.outDate,jdbcType=VARCHAR},
      TEMPORARY_OUT = #{record.temporaryOut,jdbcType=VARCHAR},
      TEMPORARY_AUDIT_STATUS_ID = #{record.temporaryAuditStatusId,jdbcType=VARCHAR},
      TEMPORARY_AUDIT_STATUS_NAME = #{record.temporaryAuditStatusName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.ResDoctorSchProcess" >
      update RES_DOCTOR_SCH_PROCESS
    <set >
      <if test="userFlow != null" >
        USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="schDeptFlow != null" >
        SCH_DEPT_FLOW = #{schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="schDeptName != null" >
        SCH_DEPT_NAME = #{schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="schResultFlow != null" >
        SCH_RESULT_FLOW = #{schResultFlow,jdbcType=VARCHAR},
      </if>
      <if test="schStartDate != null" >
        SCH_START_DATE = #{schStartDate,jdbcType=VARCHAR},
      </if>
      <if test="schEndDate != null" >
        SCH_END_DATE = #{schEndDate,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        START_DATE = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="teacherUserFlow != null" >
        TEACHER_USER_FLOW = #{teacherUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="teacherUserName != null" >
        TEACHER_USER_NAME = #{teacherUserName,jdbcType=VARCHAR},
      </if>
      <if test="headUserFlow != null" >
        HEAD_USER_FLOW = #{headUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="headUserName != null" >
        HEAD_USER_NAME = #{headUserName,jdbcType=VARCHAR},
      </if>
      <if test="schFlag != null" >
        SCH_FLAG = #{schFlag,jdbcType=VARCHAR},
      </if>
      <if test="schScore != null" >
        SCH_SCORE = #{schScore,jdbcType=DECIMAL},
      </if>
      <if test="isCurrentFlag != null" >
        IS_CURRENT_FLAG = #{isCurrentFlag,jdbcType=VARCHAR},
      </if>
      <if test="schPer != null" >
        SCH_PER = #{schPer,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="isExternal != null" >
        IS_EXTERNAL = #{isExternal,jdbcType=VARCHAR},
      </if>
      <if test="secretaryUserFlow != null" >
        SECRETARY_USER_FLOW = #{secretaryUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="secretaryUserName != null" >
        SECRETARY_USER_NAME = #{secretaryUserName,jdbcType=VARCHAR},
      </if>
      <if test="monthDate != null" >
        MONTH_DATE = #{monthDate,jdbcType=VARCHAR},
      </if>
      <if test="outDate != null" >
        OUT_DATE = #{outDate,jdbcType=VARCHAR},
      </if>
      <if test="temporaryOut != null" >
        TEMPORARY_OUT = #{temporaryOut,jdbcType=VARCHAR},
      </if>
      <if test="temporaryAuditStatusId != null" >
        TEMPORARY_AUDIT_STATUS_ID = #{temporaryAuditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="temporaryAuditStatusName != null" >
        TEMPORARY_AUDIT_STATUS_NAME = #{temporaryAuditStatusName,jdbcType=VARCHAR},
      </if>
    </set>
    where PROCESS_FLOW = #{processFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.ResDoctorSchProcess" >
      update RES_DOCTOR_SCH_PROCESS
    set USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      SCH_DEPT_FLOW = #{schDeptFlow,jdbcType=VARCHAR},
      SCH_DEPT_NAME = #{schDeptName,jdbcType=VARCHAR},
      SCH_RESULT_FLOW = #{schResultFlow,jdbcType=VARCHAR},
      SCH_START_DATE = #{schStartDate,jdbcType=VARCHAR},
      SCH_END_DATE = #{schEndDate,jdbcType=VARCHAR},
      START_DATE = #{startDate,jdbcType=VARCHAR},
      END_DATE = #{endDate,jdbcType=VARCHAR},
      TEACHER_USER_FLOW = #{teacherUserFlow,jdbcType=VARCHAR},
      TEACHER_USER_NAME = #{teacherUserName,jdbcType=VARCHAR},
      HEAD_USER_FLOW = #{headUserFlow,jdbcType=VARCHAR},
      HEAD_USER_NAME = #{headUserName,jdbcType=VARCHAR},
      SCH_FLAG = #{schFlag,jdbcType=VARCHAR},
      SCH_SCORE = #{schScore,jdbcType=DECIMAL},
      IS_CURRENT_FLAG = #{isCurrentFlag,jdbcType=VARCHAR},
      SCH_PER = #{schPer,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      IS_EXTERNAL = #{isExternal,jdbcType=VARCHAR},
      SECRETARY_USER_FLOW = #{secretaryUserFlow,jdbcType=VARCHAR},
      SECRETARY_USER_NAME = #{secretaryUserName,jdbcType=VARCHAR},
      MONTH_DATE = #{monthDate,jdbcType=VARCHAR},
      OUT_DATE = #{outDate,jdbcType=VARCHAR},
      TEMPORARY_OUT = #{temporaryOut,jdbcType=VARCHAR},
      TEMPORARY_AUDIT_STATUS_ID = #{temporaryAuditStatusId,jdbcType=VARCHAR},
      TEMPORARY_AUDIT_STATUS_NAME = #{temporaryAuditStatusName,jdbcType=VARCHAR}
    where PROCESS_FLOW = #{processFlow,jdbcType=VARCHAR}
  </update>
</mapper>