<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.core.common.sci.dao.ResInprocessInfoMemberMapper">
  <resultMap id="BaseResultMap" type="com.pinde.core.model.ResInprocessInfoMember">
    <id column="RECORD_FLOW" jdbcType="VARCHAR" property="recordFlow" />
    <result column="INFO_RECORD_FLOW" jdbcType="VARCHAR" property="infoRecordFlow" />
    <result column="MEMBER_TITLE_ID" jdbcType="VARCHAR" property="memberTitleId" />
    <result column="MEMBER_TITLE_NAME" jdbcType="VARCHAR" property="memberTitleName" />
    <result column="MEMBER_NAME" jdbcType="VARCHAR" property="memberName" />
    <result column="MEMBER_PHONE" jdbcType="VARCHAR" property="memberPhone" />
    <result column="MEMBER_POST_ID" jdbcType="VARCHAR" property="memberPostId" />
    <result column="MEMBER_POST_NAME" jdbcType="VARCHAR" property="memberPostName" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RECORD_FLOW, INFO_RECORD_FLOW, MEMBER_TITLE_ID, MEMBER_TITLE_NAME, MEMBER_NAME, MEMBER_PHONE, 
    MEMBER_POST_ID, MEMBER_POST_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
    MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" parameterType="com.pinde.core.model.ResInprocessInfoMemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
      from RES_INPROCESS_INFO_MEMBER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
      from RES_INPROCESS_INFO_MEMBER
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
      delete from RES_INPROCESS_INFO_MEMBER
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.ResInprocessInfoMemberExample">
      delete from RES_INPROCESS_INFO_MEMBER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.ResInprocessInfoMember">
      insert into RES_INPROCESS_INFO_MEMBER (RECORD_FLOW, INFO_RECORD_FLOW, MEMBER_TITLE_ID,
      MEMBER_TITLE_NAME, MEMBER_NAME, MEMBER_PHONE, 
      MEMBER_POST_ID, MEMBER_POST_NAME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW)
    values (#{recordFlow,jdbcType=VARCHAR}, #{infoRecordFlow,jdbcType=VARCHAR}, #{memberTitleId,jdbcType=VARCHAR}, 
      #{memberTitleName,jdbcType=VARCHAR}, #{memberName,jdbcType=VARCHAR}, #{memberPhone,jdbcType=VARCHAR}, 
      #{memberPostId,jdbcType=VARCHAR}, #{memberPostName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.ResInprocessInfoMember">
      insert into RES_INPROCESS_INFO_MEMBER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordFlow != null">
        RECORD_FLOW,
      </if>
      <if test="infoRecordFlow != null">
        INFO_RECORD_FLOW,
      </if>
      <if test="memberTitleId != null">
        MEMBER_TITLE_ID,
      </if>
      <if test="memberTitleName != null">
        MEMBER_TITLE_NAME,
      </if>
      <if test="memberName != null">
        MEMBER_NAME,
      </if>
      <if test="memberPhone != null">
        MEMBER_PHONE,
      </if>
      <if test="memberPostId != null">
        MEMBER_POST_ID,
      </if>
      <if test="memberPostName != null">
        MEMBER_POST_NAME,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordFlow != null">
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="infoRecordFlow != null">
        #{infoRecordFlow,jdbcType=VARCHAR},
      </if>
      <if test="memberTitleId != null">
        #{memberTitleId,jdbcType=VARCHAR},
      </if>
      <if test="memberTitleName != null">
        #{memberTitleName,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberPhone != null">
        #{memberPhone,jdbcType=VARCHAR},
      </if>
      <if test="memberPostId != null">
        #{memberPostId,jdbcType=VARCHAR},
      </if>
      <if test="memberPostName != null">
        #{memberPostName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.ResInprocessInfoMemberExample" resultType="java.lang.Integer">
      select count(*) from RES_INPROCESS_INFO_MEMBER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
      update RES_INPROCESS_INFO_MEMBER
    <set>
      <if test="record.recordFlow != null">
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.infoRecordFlow != null">
        INFO_RECORD_FLOW = #{record.infoRecordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.memberTitleId != null">
        MEMBER_TITLE_ID = #{record.memberTitleId,jdbcType=VARCHAR},
      </if>
      <if test="record.memberTitleName != null">
        MEMBER_TITLE_NAME = #{record.memberTitleName,jdbcType=VARCHAR},
      </if>
      <if test="record.memberName != null">
        MEMBER_NAME = #{record.memberName,jdbcType=VARCHAR},
      </if>
      <if test="record.memberPhone != null">
        MEMBER_PHONE = #{record.memberPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.memberPostId != null">
        MEMBER_POST_ID = #{record.memberPostId,jdbcType=VARCHAR},
      </if>
      <if test="record.memberPostName != null">
        MEMBER_POST_NAME = #{record.memberPostName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
      update RES_INPROCESS_INFO_MEMBER
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      INFO_RECORD_FLOW = #{record.infoRecordFlow,jdbcType=VARCHAR},
      MEMBER_TITLE_ID = #{record.memberTitleId,jdbcType=VARCHAR},
      MEMBER_TITLE_NAME = #{record.memberTitleName,jdbcType=VARCHAR},
      MEMBER_NAME = #{record.memberName,jdbcType=VARCHAR},
      MEMBER_PHONE = #{record.memberPhone,jdbcType=VARCHAR},
      MEMBER_POST_ID = #{record.memberPostId,jdbcType=VARCHAR},
      MEMBER_POST_NAME = #{record.memberPostName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.ResInprocessInfoMember">
      update RES_INPROCESS_INFO_MEMBER
    <set>
      <if test="infoRecordFlow != null">
        INFO_RECORD_FLOW = #{infoRecordFlow,jdbcType=VARCHAR},
      </if>
      <if test="memberTitleId != null">
        MEMBER_TITLE_ID = #{memberTitleId,jdbcType=VARCHAR},
      </if>
      <if test="memberTitleName != null">
        MEMBER_TITLE_NAME = #{memberTitleName,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberPhone != null">
        MEMBER_PHONE = #{memberPhone,jdbcType=VARCHAR},
      </if>
      <if test="memberPostId != null">
        MEMBER_POST_ID = #{memberPostId,jdbcType=VARCHAR},
      </if>
      <if test="memberPostName != null">
        MEMBER_POST_NAME = #{memberPostName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.ResInprocessInfoMember">
      update RES_INPROCESS_INFO_MEMBER
    set INFO_RECORD_FLOW = #{infoRecordFlow,jdbcType=VARCHAR},
      MEMBER_TITLE_ID = #{memberTitleId,jdbcType=VARCHAR},
      MEMBER_TITLE_NAME = #{memberTitleName,jdbcType=VARCHAR},
      MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      MEMBER_PHONE = #{memberPhone,jdbcType=VARCHAR},
      MEMBER_POST_ID = #{memberPostId,jdbcType=VARCHAR},
      MEMBER_POST_NAME = #{memberPostName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>