<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.core.common.sci.dao.ResTeacherLetterInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.core.model.ResTeacherLetterInfo" >
    <id column="LETTER_FLOW" property="letterFlow" jdbcType="VARCHAR" />
    <result column="USER_FLOW" property="userFlow" jdbcType="VARCHAR" />
    <result column="LETTER_PERIOD" property="letterPeriod" jdbcType="VARCHAR" />
    <result column="LETTER_START_TIME" property="letterStartTime" jdbcType="VARCHAR" />
    <result column="LETTER_END_TIME" property="letterEndTime" jdbcType="VARCHAR" />
    <result column="LETTER_TIME" property="letterTime" jdbcType="VARCHAR" />
    <result column="LETTER_FILE" property="letterFile" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="LETTER_YEAR" property="letterYear" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    LETTER_FLOW, USER_FLOW, LETTER_PERIOD, LETTER_START_TIME, LETTER_END_TIME, LETTER_TIME, 
    LETTER_FILE, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
    LETTER_YEAR
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.ResTeacherLetterInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.RES_TEACHER_LETTER_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.RES_TEACHER_LETTER_INFO
    where LETTER_FLOW = #{letterFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.RES_TEACHER_LETTER_INFO
    where LETTER_FLOW = #{letterFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.ResTeacherLetterInfoExample" >
    delete from PDSCI.RES_TEACHER_LETTER_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.ResTeacherLetterInfo" >
    insert into PDSCI.RES_TEACHER_LETTER_INFO (LETTER_FLOW, USER_FLOW, LETTER_PERIOD, 
      LETTER_START_TIME, LETTER_END_TIME, LETTER_TIME, 
      LETTER_FILE, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      LETTER_YEAR)
    values (#{letterFlow,jdbcType=VARCHAR}, #{userFlow,jdbcType=VARCHAR}, #{letterPeriod,jdbcType=VARCHAR}, 
      #{letterStartTime,jdbcType=VARCHAR}, #{letterEndTime,jdbcType=VARCHAR}, #{letterTime,jdbcType=VARCHAR}, 
      #{letterFile,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{letterYear,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.ResTeacherLetterInfo" >
    insert into PDSCI.RES_TEACHER_LETTER_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="letterFlow != null" >
        LETTER_FLOW,
      </if>
      <if test="userFlow != null" >
        USER_FLOW,
      </if>
      <if test="letterPeriod != null" >
        LETTER_PERIOD,
      </if>
      <if test="letterStartTime != null" >
        LETTER_START_TIME,
      </if>
      <if test="letterEndTime != null" >
        LETTER_END_TIME,
      </if>
      <if test="letterTime != null" >
        LETTER_TIME,
      </if>
      <if test="letterFile != null" >
        LETTER_FILE,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="letterYear != null" >
        LETTER_YEAR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="letterFlow != null" >
        #{letterFlow,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null" >
        #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="letterPeriod != null" >
        #{letterPeriod,jdbcType=VARCHAR},
      </if>
      <if test="letterStartTime != null" >
        #{letterStartTime,jdbcType=VARCHAR},
      </if>
      <if test="letterEndTime != null" >
        #{letterEndTime,jdbcType=VARCHAR},
      </if>
      <if test="letterTime != null" >
        #{letterTime,jdbcType=VARCHAR},
      </if>
      <if test="letterFile != null" >
        #{letterFile,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="letterYear != null" >
        #{letterYear,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.ResTeacherLetterInfoExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.RES_TEACHER_LETTER_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.RES_TEACHER_LETTER_INFO
    <set >
      <if test="record.letterFlow != null" >
        LETTER_FLOW = #{record.letterFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userFlow != null" >
        USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.letterPeriod != null" >
        LETTER_PERIOD = #{record.letterPeriod,jdbcType=VARCHAR},
      </if>
      <if test="record.letterStartTime != null" >
        LETTER_START_TIME = #{record.letterStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.letterEndTime != null" >
        LETTER_END_TIME = #{record.letterEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.letterTime != null" >
        LETTER_TIME = #{record.letterTime,jdbcType=VARCHAR},
      </if>
      <if test="record.letterFile != null" >
        LETTER_FILE = #{record.letterFile,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.letterYear != null" >
        LETTER_YEAR = #{record.letterYear,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.RES_TEACHER_LETTER_INFO
    set LETTER_FLOW = #{record.letterFlow,jdbcType=VARCHAR},
      USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      LETTER_PERIOD = #{record.letterPeriod,jdbcType=VARCHAR},
      LETTER_START_TIME = #{record.letterStartTime,jdbcType=VARCHAR},
      LETTER_END_TIME = #{record.letterEndTime,jdbcType=VARCHAR},
      LETTER_TIME = #{record.letterTime,jdbcType=VARCHAR},
      LETTER_FILE = #{record.letterFile,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      LETTER_YEAR = #{record.letterYear,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.ResTeacherLetterInfo" >
    update PDSCI.RES_TEACHER_LETTER_INFO
    <set >
      <if test="userFlow != null" >
        USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="letterPeriod != null" >
        LETTER_PERIOD = #{letterPeriod,jdbcType=VARCHAR},
      </if>
      <if test="letterStartTime != null" >
        LETTER_START_TIME = #{letterStartTime,jdbcType=VARCHAR},
      </if>
      <if test="letterEndTime != null" >
        LETTER_END_TIME = #{letterEndTime,jdbcType=VARCHAR},
      </if>
      <if test="letterTime != null" >
        LETTER_TIME = #{letterTime,jdbcType=VARCHAR},
      </if>
      <if test="letterFile != null" >
        LETTER_FILE = #{letterFile,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="letterYear != null" >
        LETTER_YEAR = #{letterYear,jdbcType=VARCHAR},
      </if>
    </set>
    where LETTER_FLOW = #{letterFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.ResTeacherLetterInfo" >
    update PDSCI.RES_TEACHER_LETTER_INFO
    set USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      LETTER_PERIOD = #{letterPeriod,jdbcType=VARCHAR},
      LETTER_START_TIME = #{letterStartTime,jdbcType=VARCHAR},
      LETTER_END_TIME = #{letterEndTime,jdbcType=VARCHAR},
      LETTER_TIME = #{letterTime,jdbcType=VARCHAR},
      LETTER_FILE = #{letterFile,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      LETTER_YEAR = #{letterYear,jdbcType=VARCHAR}
    where LETTER_FLOW = #{letterFlow,jdbcType=VARCHAR}
  </update>
</mapper>