<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.core.common.sci.dao.SchArrangeResultMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.core.model.SchArrangeResult" >
    <id column="RESULT_FLOW" property="resultFlow" jdbcType="VARCHAR" />
    <result column="ARRANGE_FLOW" property="arrangeFlow" jdbcType="VARCHAR" />
    <result column="DOCTOR_FLOW" property="doctorFlow" jdbcType="VARCHAR" />
    <result column="DOCTOR_NAME" property="doctorName" jdbcType="VARCHAR" />
    <result column="SESSION_NUMBER" property="sessionNumber" jdbcType="VARCHAR" />
    <result column="ROTATION_FLOW" property="rotationFlow" jdbcType="VARCHAR" />
    <result column="ROTATION_NAME" property="rotationName" jdbcType="VARCHAR" />
    <result column="SCH_YEAR" property="schYear" jdbcType="VARCHAR" />
    <result column="SCH_DEPT_ORDER" property="schDeptOrder" jdbcType="DECIMAL" />
    <result column="SCH_START_DATE" property="schStartDate" jdbcType="VARCHAR" />
    <result column="SCH_END_DATE" property="schEndDate" jdbcType="VARCHAR" />
    <result column="DEPT_FLOW" property="deptFlow" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="SCH_DEPT_FLOW" property="schDeptFlow" jdbcType="VARCHAR" />
    <result column="SCH_DEPT_NAME" property="schDeptName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="SCH_MONTH" property="schMonth" jdbcType="VARCHAR" />
    <result column="IS_REQUIRED" property="isRequired" jdbcType="VARCHAR" />
    <result column="STANDARD_DEPT_ID" property="standardDeptId" jdbcType="VARCHAR" />
    <result column="STANDARD_DEPT_NAME" property="standardDeptName" jdbcType="VARCHAR" />
    <result column="GROUP_FLOW" property="groupFlow" jdbcType="VARCHAR" />
    <result column="STANDARD_GROUP_FLOW" property="standardGroupFlow" jdbcType="VARCHAR" />
    <result column="IS_ROTATION" property="isRotation" jdbcType="VARCHAR" />
    <result column="AFTER_FILE_FLOW" property="afterFileFlow" jdbcType="VARCHAR" />
    <result column="IS_STEP_B" property="isStepB" jdbcType="VARCHAR" />
    <result column="HAVE_AFTER_PIC" property="haveAfterPic" jdbcType="CHAR" />
    <result column="CYCLE_YEAR" property="cycleYear" jdbcType="VARCHAR" />
    <result column="MONTH_DATE" property="monthDate" jdbcType="VARCHAR" />
    <result column="BASE_AUDIT" property="baseAudit" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RESULT_FLOW, ARRANGE_FLOW, DOCTOR_FLOW, DOCTOR_NAME, SESSION_NUMBER, ROTATION_FLOW, 
    ROTATION_NAME, SCH_YEAR, SCH_DEPT_ORDER, SCH_START_DATE, SCH_END_DATE, DEPT_FLOW, 
    DEPT_NAME, SCH_DEPT_FLOW, SCH_DEPT_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW, ORG_FLOW, ORG_NAME, SCH_MONTH, IS_REQUIRED, STANDARD_DEPT_ID, 
    STANDARD_DEPT_NAME, GROUP_FLOW, STANDARD_GROUP_FLOW, IS_ROTATION, AFTER_FILE_FLOW, 
    IS_STEP_B, HAVE_AFTER_PIC, CYCLE_YEAR, MONTH_DATE, BASE_AUDIT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.SchArrangeResultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
      from SCH_ARRANGE_RESULT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from SCH_ARRANGE_RESULT
    where RESULT_FLOW = #{resultFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from SCH_ARRANGE_RESULT
    where RESULT_FLOW = #{resultFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.SchArrangeResultExample" >
      delete from SCH_ARRANGE_RESULT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.SchArrangeResult" >
      insert into SCH_ARRANGE_RESULT (RESULT_FLOW, ARRANGE_FLOW, DOCTOR_FLOW,
      DOCTOR_NAME, SESSION_NUMBER, ROTATION_FLOW, 
      ROTATION_NAME, SCH_YEAR, SCH_DEPT_ORDER, 
      SCH_START_DATE, SCH_END_DATE, DEPT_FLOW, 
      DEPT_NAME, SCH_DEPT_FLOW, SCH_DEPT_NAME, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, ORG_FLOW, 
      ORG_NAME, SCH_MONTH, IS_REQUIRED, 
      STANDARD_DEPT_ID, STANDARD_DEPT_NAME, GROUP_FLOW, 
      STANDARD_GROUP_FLOW, IS_ROTATION, AFTER_FILE_FLOW, 
      IS_STEP_B, HAVE_AFTER_PIC, CYCLE_YEAR, 
      MONTH_DATE, BASE_AUDIT)
    values (#{resultFlow,jdbcType=VARCHAR}, #{arrangeFlow,jdbcType=VARCHAR}, #{doctorFlow,jdbcType=VARCHAR}, 
      #{doctorName,jdbcType=VARCHAR}, #{sessionNumber,jdbcType=VARCHAR}, #{rotationFlow,jdbcType=VARCHAR}, 
      #{rotationName,jdbcType=VARCHAR}, #{schYear,jdbcType=VARCHAR}, #{schDeptOrder,jdbcType=DECIMAL}, 
      #{schStartDate,jdbcType=VARCHAR}, #{schEndDate,jdbcType=VARCHAR}, #{deptFlow,jdbcType=VARCHAR}, 
      #{deptName,jdbcType=VARCHAR}, #{schDeptFlow,jdbcType=VARCHAR}, #{schDeptName,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, 
      #{orgName,jdbcType=VARCHAR}, #{schMonth,jdbcType=VARCHAR}, #{isRequired,jdbcType=VARCHAR}, 
      #{standardDeptId,jdbcType=VARCHAR}, #{standardDeptName,jdbcType=VARCHAR}, #{groupFlow,jdbcType=VARCHAR}, 
      #{standardGroupFlow,jdbcType=VARCHAR}, #{isRotation,jdbcType=VARCHAR}, #{afterFileFlow,jdbcType=VARCHAR}, 
      #{isStepB,jdbcType=VARCHAR}, #{haveAfterPic,jdbcType=CHAR}, #{cycleYear,jdbcType=VARCHAR}, 
      #{monthDate,jdbcType=VARCHAR}, #{baseAudit,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.SchArrangeResult" >
      insert into SCH_ARRANGE_RESULT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resultFlow != null" >
        RESULT_FLOW,
      </if>
      <if test="arrangeFlow != null" >
        ARRANGE_FLOW,
      </if>
      <if test="doctorFlow != null" >
        DOCTOR_FLOW,
      </if>
      <if test="doctorName != null" >
        DOCTOR_NAME,
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER,
      </if>
      <if test="rotationFlow != null" >
        ROTATION_FLOW,
      </if>
      <if test="rotationName != null" >
        ROTATION_NAME,
      </if>
      <if test="schYear != null" >
        SCH_YEAR,
      </if>
      <if test="schDeptOrder != null" >
        SCH_DEPT_ORDER,
      </if>
      <if test="schStartDate != null" >
        SCH_START_DATE,
      </if>
      <if test="schEndDate != null" >
        SCH_END_DATE,
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="schDeptFlow != null" >
        SCH_DEPT_FLOW,
      </if>
      <if test="schDeptName != null" >
        SCH_DEPT_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="schMonth != null" >
        SCH_MONTH,
      </if>
      <if test="isRequired != null" >
        IS_REQUIRED,
      </if>
      <if test="standardDeptId != null" >
        STANDARD_DEPT_ID,
      </if>
      <if test="standardDeptName != null" >
        STANDARD_DEPT_NAME,
      </if>
      <if test="groupFlow != null" >
        GROUP_FLOW,
      </if>
      <if test="standardGroupFlow != null" >
        STANDARD_GROUP_FLOW,
      </if>
      <if test="isRotation != null" >
        IS_ROTATION,
      </if>
      <if test="afterFileFlow != null" >
        AFTER_FILE_FLOW,
      </if>
      <if test="isStepB != null" >
        IS_STEP_B,
      </if>
      <if test="haveAfterPic != null" >
        HAVE_AFTER_PIC,
      </if>
      <if test="cycleYear != null" >
        CYCLE_YEAR,
      </if>
      <if test="monthDate != null" >
        MONTH_DATE,
      </if>
      <if test="baseAudit != null" >
        BASE_AUDIT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resultFlow != null" >
        #{resultFlow,jdbcType=VARCHAR},
      </if>
      <if test="arrangeFlow != null" >
        #{arrangeFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorFlow != null" >
        #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="rotationFlow != null" >
        #{rotationFlow,jdbcType=VARCHAR},
      </if>
      <if test="rotationName != null" >
        #{rotationName,jdbcType=VARCHAR},
      </if>
      <if test="schYear != null" >
        #{schYear,jdbcType=VARCHAR},
      </if>
      <if test="schDeptOrder != null" >
        #{schDeptOrder,jdbcType=DECIMAL},
      </if>
      <if test="schStartDate != null" >
        #{schStartDate,jdbcType=VARCHAR},
      </if>
      <if test="schEndDate != null" >
        #{schEndDate,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="schDeptFlow != null" >
        #{schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="schDeptName != null" >
        #{schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="schMonth != null" >
        #{schMonth,jdbcType=VARCHAR},
      </if>
      <if test="isRequired != null" >
        #{isRequired,jdbcType=VARCHAR},
      </if>
      <if test="standardDeptId != null" >
        #{standardDeptId,jdbcType=VARCHAR},
      </if>
      <if test="standardDeptName != null" >
        #{standardDeptName,jdbcType=VARCHAR},
      </if>
      <if test="groupFlow != null" >
        #{groupFlow,jdbcType=VARCHAR},
      </if>
      <if test="standardGroupFlow != null" >
        #{standardGroupFlow,jdbcType=VARCHAR},
      </if>
      <if test="isRotation != null" >
        #{isRotation,jdbcType=VARCHAR},
      </if>
      <if test="afterFileFlow != null" >
        #{afterFileFlow,jdbcType=VARCHAR},
      </if>
      <if test="isStepB != null" >
        #{isStepB,jdbcType=VARCHAR},
      </if>
      <if test="haveAfterPic != null" >
        #{haveAfterPic,jdbcType=CHAR},
      </if>
      <if test="cycleYear != null" >
        #{cycleYear,jdbcType=VARCHAR},
      </if>
      <if test="monthDate != null" >
        #{monthDate,jdbcType=VARCHAR},
      </if>
      <if test="baseAudit != null" >
        #{baseAudit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.SchArrangeResultExample" resultType="java.lang.Integer" >
      select count(*) from SCH_ARRANGE_RESULT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update SCH_ARRANGE_RESULT
    <set >
      <if test="record.resultFlow != null" >
        RESULT_FLOW = #{record.resultFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.arrangeFlow != null" >
        ARRANGE_FLOW = #{record.arrangeFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorFlow != null" >
        DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorName != null" >
        DOCTOR_NAME = #{record.doctorName,jdbcType=VARCHAR},
      </if>
      <if test="record.sessionNumber != null" >
        SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.rotationFlow != null" >
        ROTATION_FLOW = #{record.rotationFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.rotationName != null" >
        ROTATION_NAME = #{record.rotationName,jdbcType=VARCHAR},
      </if>
      <if test="record.schYear != null" >
        SCH_YEAR = #{record.schYear,jdbcType=VARCHAR},
      </if>
      <if test="record.schDeptOrder != null" >
        SCH_DEPT_ORDER = #{record.schDeptOrder,jdbcType=DECIMAL},
      </if>
      <if test="record.schStartDate != null" >
        SCH_START_DATE = #{record.schStartDate,jdbcType=VARCHAR},
      </if>
      <if test="record.schEndDate != null" >
        SCH_END_DATE = #{record.schEndDate,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null" >
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.schDeptFlow != null" >
        SCH_DEPT_FLOW = #{record.schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.schDeptName != null" >
        SCH_DEPT_NAME = #{record.schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.schMonth != null" >
        SCH_MONTH = #{record.schMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.isRequired != null" >
        IS_REQUIRED = #{record.isRequired,jdbcType=VARCHAR},
      </if>
      <if test="record.standardDeptId != null" >
        STANDARD_DEPT_ID = #{record.standardDeptId,jdbcType=VARCHAR},
      </if>
      <if test="record.standardDeptName != null" >
        STANDARD_DEPT_NAME = #{record.standardDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.groupFlow != null" >
        GROUP_FLOW = #{record.groupFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.standardGroupFlow != null" >
        STANDARD_GROUP_FLOW = #{record.standardGroupFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.isRotation != null" >
        IS_ROTATION = #{record.isRotation,jdbcType=VARCHAR},
      </if>
      <if test="record.afterFileFlow != null" >
        AFTER_FILE_FLOW = #{record.afterFileFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.isStepB != null" >
        IS_STEP_B = #{record.isStepB,jdbcType=VARCHAR},
      </if>
      <if test="record.haveAfterPic != null" >
        HAVE_AFTER_PIC = #{record.haveAfterPic,jdbcType=CHAR},
      </if>
      <if test="record.cycleYear != null" >
        CYCLE_YEAR = #{record.cycleYear,jdbcType=VARCHAR},
      </if>
      <if test="record.monthDate != null" >
        MONTH_DATE = #{record.monthDate,jdbcType=VARCHAR},
      </if>
      <if test="record.baseAudit != null" >
        BASE_AUDIT = #{record.baseAudit,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update SCH_ARRANGE_RESULT
    set RESULT_FLOW = #{record.resultFlow,jdbcType=VARCHAR},
      ARRANGE_FLOW = #{record.arrangeFlow,jdbcType=VARCHAR},
      DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      DOCTOR_NAME = #{record.doctorName,jdbcType=VARCHAR},
      SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      ROTATION_FLOW = #{record.rotationFlow,jdbcType=VARCHAR},
      ROTATION_NAME = #{record.rotationName,jdbcType=VARCHAR},
      SCH_YEAR = #{record.schYear,jdbcType=VARCHAR},
      SCH_DEPT_ORDER = #{record.schDeptOrder,jdbcType=DECIMAL},
      SCH_START_DATE = #{record.schStartDate,jdbcType=VARCHAR},
      SCH_END_DATE = #{record.schEndDate,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      SCH_DEPT_FLOW = #{record.schDeptFlow,jdbcType=VARCHAR},
      SCH_DEPT_NAME = #{record.schDeptName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      SCH_MONTH = #{record.schMonth,jdbcType=VARCHAR},
      IS_REQUIRED = #{record.isRequired,jdbcType=VARCHAR},
      STANDARD_DEPT_ID = #{record.standardDeptId,jdbcType=VARCHAR},
      STANDARD_DEPT_NAME = #{record.standardDeptName,jdbcType=VARCHAR},
      GROUP_FLOW = #{record.groupFlow,jdbcType=VARCHAR},
      STANDARD_GROUP_FLOW = #{record.standardGroupFlow,jdbcType=VARCHAR},
      IS_ROTATION = #{record.isRotation,jdbcType=VARCHAR},
      AFTER_FILE_FLOW = #{record.afterFileFlow,jdbcType=VARCHAR},
      IS_STEP_B = #{record.isStepB,jdbcType=VARCHAR},
      HAVE_AFTER_PIC = #{record.haveAfterPic,jdbcType=CHAR},
      CYCLE_YEAR = #{record.cycleYear,jdbcType=VARCHAR},
      MONTH_DATE = #{record.monthDate,jdbcType=VARCHAR},
      BASE_AUDIT = #{record.baseAudit,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.SchArrangeResult" >
      update SCH_ARRANGE_RESULT
    <set >
      <if test="arrangeFlow != null" >
        ARRANGE_FLOW = #{arrangeFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorFlow != null" >
        DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="rotationFlow != null" >
        ROTATION_FLOW = #{rotationFlow,jdbcType=VARCHAR},
      </if>
      <if test="rotationName != null" >
        ROTATION_NAME = #{rotationName,jdbcType=VARCHAR},
      </if>
      <if test="schYear != null" >
        SCH_YEAR = #{schYear,jdbcType=VARCHAR},
      </if>
      <if test="schDeptOrder != null" >
        SCH_DEPT_ORDER = #{schDeptOrder,jdbcType=DECIMAL},
      </if>
      <if test="schStartDate != null" >
        SCH_START_DATE = #{schStartDate,jdbcType=VARCHAR},
      </if>
      <if test="schEndDate != null" >
        SCH_END_DATE = #{schEndDate,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="schDeptFlow != null" >
        SCH_DEPT_FLOW = #{schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="schDeptName != null" >
        SCH_DEPT_NAME = #{schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="schMonth != null" >
        SCH_MONTH = #{schMonth,jdbcType=VARCHAR},
      </if>
      <if test="isRequired != null" >
        IS_REQUIRED = #{isRequired,jdbcType=VARCHAR},
      </if>
      <if test="standardDeptId != null" >
        STANDARD_DEPT_ID = #{standardDeptId,jdbcType=VARCHAR},
      </if>
      <if test="standardDeptName != null" >
        STANDARD_DEPT_NAME = #{standardDeptName,jdbcType=VARCHAR},
      </if>
      <if test="groupFlow != null" >
        GROUP_FLOW = #{groupFlow,jdbcType=VARCHAR},
      </if>
      <if test="standardGroupFlow != null" >
        STANDARD_GROUP_FLOW = #{standardGroupFlow,jdbcType=VARCHAR},
      </if>
      <if test="isRotation != null" >
        IS_ROTATION = #{isRotation,jdbcType=VARCHAR},
      </if>
      <if test="afterFileFlow != null" >
        AFTER_FILE_FLOW = #{afterFileFlow,jdbcType=VARCHAR},
      </if>
      <if test="isStepB != null" >
        IS_STEP_B = #{isStepB,jdbcType=VARCHAR},
      </if>
      <if test="haveAfterPic != null" >
        HAVE_AFTER_PIC = #{haveAfterPic,jdbcType=CHAR},
      </if>
      <if test="cycleYear != null" >
        CYCLE_YEAR = #{cycleYear,jdbcType=VARCHAR},
      </if>
      <if test="monthDate != null" >
        MONTH_DATE = #{monthDate,jdbcType=VARCHAR},
      </if>
      <if test="baseAudit != null" >
        BASE_AUDIT = #{baseAudit,jdbcType=VARCHAR},
      </if>
    </set>
    where RESULT_FLOW = #{resultFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.SchArrangeResult" >
      update SCH_ARRANGE_RESULT
    set ARRANGE_FLOW = #{arrangeFlow,jdbcType=VARCHAR},
      DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      ROTATION_FLOW = #{rotationFlow,jdbcType=VARCHAR},
      ROTATION_NAME = #{rotationName,jdbcType=VARCHAR},
      SCH_YEAR = #{schYear,jdbcType=VARCHAR},
      SCH_DEPT_ORDER = #{schDeptOrder,jdbcType=DECIMAL},
      SCH_START_DATE = #{schStartDate,jdbcType=VARCHAR},
      SCH_END_DATE = #{schEndDate,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      SCH_DEPT_FLOW = #{schDeptFlow,jdbcType=VARCHAR},
      SCH_DEPT_NAME = #{schDeptName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      SCH_MONTH = #{schMonth,jdbcType=VARCHAR},
      IS_REQUIRED = #{isRequired,jdbcType=VARCHAR},
      STANDARD_DEPT_ID = #{standardDeptId,jdbcType=VARCHAR},
      STANDARD_DEPT_NAME = #{standardDeptName,jdbcType=VARCHAR},
      GROUP_FLOW = #{groupFlow,jdbcType=VARCHAR},
      STANDARD_GROUP_FLOW = #{standardGroupFlow,jdbcType=VARCHAR},
      IS_ROTATION = #{isRotation,jdbcType=VARCHAR},
      AFTER_FILE_FLOW = #{afterFileFlow,jdbcType=VARCHAR},
      IS_STEP_B = #{isStepB,jdbcType=VARCHAR},
      HAVE_AFTER_PIC = #{haveAfterPic,jdbcType=CHAR},
      CYCLE_YEAR = #{cycleYear,jdbcType=VARCHAR},
      MONTH_DATE = #{monthDate,jdbcType=VARCHAR},
      BASE_AUDIT = #{baseAudit,jdbcType=VARCHAR}
    where RESULT_FLOW = #{resultFlow,jdbcType=VARCHAR}
  </update>

  <select id="searchArrangeResultByDateAndOrgByMapNew" resultMap="com.pinde.core.common.sci.dao.SchArrangeResultMapper.BaseResultMap">
    select * from (
    select rd.DOCTOR_TYPE_ID,sar.*,rd.DOCTOR_STATUS_ID
    from sch_arrange_result sar
    left join res_doctor rd
    on sar.doctor_flow=rd.doctor_flow
    where sar.RECORD_STATUS='Y'
    <if test="doctorName!=null and doctorName!=''">
      <bind name="doctorName" value="'%'+doctorName+'%'"/>
      and sar.DOCTOR_NAME like #{doctorName}
    </if>
    <if test="deptFlow!=null and deptFlow!=''">
      and sar.DEPT_FLOW = #{deptFlow}
    </if>
    <if test="orgFlow!=null and orgFlow!=''">
      and sar.ORG_FLOW = #{orgFlow}
    </if>
    <if test="doctorFlow!=null and doctorFlow!=''">
      and sar.DOCTOR_FLOW = #{doctorFlow}
    </if>

    <if test='schStartDate!=null and schStartDate!=""'>
      and sar.SCH_START_DATE <![CDATA[>=]]> #{schStartDate}
    </if>
    <if test='SchEndDate!=null and SchEndDate!=""'>
      and sar.SCH_END_DATE <![CDATA[<=]]> #{SchEndDate}
    </if>
    <if test='schStartDate!=null and schStartDate!="" and SchEndDate!=null and SchEndDate!=""'>
      or (sar.SCH_START_DATE <![CDATA[<=]]> #{schStartDate} and sar.SCH_END_DATE >= #{schStartDate})
      or (sar.SCH_START_DATE <![CDATA[<=]]> #{SchEndDate} and sar.SCH_END_DATE >= #{SchEndDate})
    </if>
    <if test='medicineTypeId!=null and medicineTypeId!=""'>
      and EXISTS (SELECT 1 FROM SYS_USER SU WHERE SU.USER_FLOW=DOCTOR_FLOW AND
      instr(#{medicineTypeId},su.medicine_Type_Id)>0)
    </if>
    <if test="workOrgId!=null and workOrgId!=''">
      and rd.work_org_id = #{workOrgId}
    </if>
    <if test="trainingSpeId!=null and trainingSpeId!=''">
      and rd.TRAINING_SPE_ID = #{trainingSpeId}
    </if>
    ORDER BY sar.SCH_START_DATE DESC
    )where RECORD_STATUS='Y'
    <if test="docTypeList!=null and docTypeList.size>0">
      and DOCTOR_TYPE_ID in
      <foreach collection="docTypeList" open="(" separator="," close=")" item="item">#{item}</foreach>
    </if>

    <if test='doctorStatusId != null and doctorStatusId != ""'>
      AND DOCTOR_STATUS_ID = TO_CHAR(#{doctorStatusId})
    </if>
  </select>
</mapper>