<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.core.common.sci.dao.SchExamArrangementMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.core.model.SchExamArrangement" >
    <id column="ARRANGE_FLOW" property="arrangeFlow" jdbcType="VARCHAR" />
    <result column="TRAINING_TYPE_ID" property="trainingTypeId" jdbcType="VARCHAR" />
    <result column="TRAINING_TYPE_NAME" property="trainingTypeName" jdbcType="VARCHAR" />
    <result column="TRAINING_SPE_ID" property="trainingSpeId" jdbcType="VARCHAR" />
    <result column="TRAINING_SPE_NAME" property="trainingSpeName" jdbcType="VARCHAR" />
    <result column="SESSION_NUMBER" property="sessionNumber" jdbcType="VARCHAR" />
    <result column="ASSESSMENT_YEAR" property="assessmentYear" jdbcType="VARCHAR" />
    <result column="EXAMPAPER_TYPE" property="exampaperType" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="ASSESSMENT_START_TIME" property="assessmentStartTime" jdbcType="VARCHAR" />
    <result column="ASSESSMENT_END_TIME" property="assessmentEndTime" jdbcType="VARCHAR" />
    <result column="IS_OPEN" property="isOpen" jdbcType="VARCHAR" />
    <result column="EXAM_NUMBER" property="examNumber" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="EXAM_DURATION" property="examDuration" jdbcType="VARCHAR" />
    <result column="EXAM_START_TIME" property="examStartTime" jdbcType="VARCHAR" />
    <result column="EXAM_END_TIME" property="examEndTime" jdbcType="VARCHAR" />
    <result column="IS_APP" property="isApp" jdbcType="VARCHAR" />
    <result column="IS_WEB" property="isWeb" jdbcType="VARCHAR" />
    <result column="IS_OPEN_RESULT" property="isOpenResult" jdbcType="VARCHAR" />
    <result column="PAPER_FLOW" property="paperFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ARRANGE_FLOW, TRAINING_TYPE_ID, TRAINING_TYPE_NAME, TRAINING_SPE_ID, TRAINING_SPE_NAME, 
    SESSION_NUMBER, ASSESSMENT_YEAR, EXAMPAPER_TYPE, ORG_FLOW, ORG_NAME, ASSESSMENT_START_TIME, 
    ASSESSMENT_END_TIME, IS_OPEN, EXAM_NUMBER, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW, EXAM_DURATION, EXAM_START_TIME, EXAM_END_TIME, IS_APP, 
    IS_WEB, IS_OPEN_RESULT, PAPER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.SchExamArrangementExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
      from SCH_EXAM_ARRANGEMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from SCH_EXAM_ARRANGEMENT
    where ARRANGE_FLOW = #{arrangeFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from SCH_EXAM_ARRANGEMENT
    where ARRANGE_FLOW = #{arrangeFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.SchExamArrangementExample" >
      delete from SCH_EXAM_ARRANGEMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.SchExamArrangement" >
      insert into SCH_EXAM_ARRANGEMENT (ARRANGE_FLOW, TRAINING_TYPE_ID, TRAINING_TYPE_NAME,
      TRAINING_SPE_ID, TRAINING_SPE_NAME, SESSION_NUMBER, 
      ASSESSMENT_YEAR, EXAMPAPER_TYPE, ORG_FLOW, 
      ORG_NAME, ASSESSMENT_START_TIME, ASSESSMENT_END_TIME, 
      IS_OPEN, EXAM_NUMBER, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, EXAM_DURATION, EXAM_START_TIME, 
      EXAM_END_TIME, IS_APP, IS_WEB, 
      IS_OPEN_RESULT)
    values (#{arrangeFlow,jdbcType=VARCHAR}, #{trainingTypeId,jdbcType=VARCHAR}, #{trainingTypeName,jdbcType=VARCHAR}, 
      #{trainingSpeId,jdbcType=VARCHAR}, #{trainingSpeName,jdbcType=VARCHAR}, #{sessionNumber,jdbcType=VARCHAR}, 
      #{assessmentYear,jdbcType=VARCHAR}, #{exampaperType,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, 
      #{orgName,jdbcType=VARCHAR}, #{assessmentStartTime,jdbcType=VARCHAR}, #{assessmentEndTime,jdbcType=VARCHAR}, 
      #{isOpen,jdbcType=VARCHAR}, #{examNumber,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{examDuration,jdbcType=VARCHAR}, #{examStartTime,jdbcType=VARCHAR}, 
      #{examEndTime,jdbcType=VARCHAR}, #{isApp,jdbcType=VARCHAR}, #{isWeb,jdbcType=VARCHAR}, 
      #{isOpenResult,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.SchExamArrangement" >
      insert into SCH_EXAM_ARRANGEMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="arrangeFlow != null" >
        ARRANGE_FLOW,
      </if>
      <if test="trainingTypeId != null" >
        TRAINING_TYPE_ID,
      </if>
      <if test="trainingTypeName != null" >
        TRAINING_TYPE_NAME,
      </if>
      <if test="trainingSpeId != null" >
        TRAINING_SPE_ID,
      </if>
      <if test="trainingSpeName != null" >
        TRAINING_SPE_NAME,
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER,
      </if>
      <if test="assessmentYear != null" >
        ASSESSMENT_YEAR,
      </if>
      <if test="exampaperType != null" >
        EXAMPAPER_TYPE,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="assessmentStartTime != null" >
        ASSESSMENT_START_TIME,
      </if>
      <if test="assessmentEndTime != null" >
        ASSESSMENT_END_TIME,
      </if>
      <if test="isOpen != null" >
        IS_OPEN,
      </if>
      <if test="examNumber != null" >
        EXAM_NUMBER,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="examDuration != null" >
        EXAM_DURATION,
      </if>
      <if test="examStartTime != null" >
        EXAM_START_TIME,
      </if>
      <if test="examEndTime != null" >
        EXAM_END_TIME,
      </if>
      <if test="isApp != null" >
        IS_APP,
      </if>
      <if test="isWeb != null" >
        IS_WEB,
      </if>
      <if test="isOpenResult != null" >
        IS_OPEN_RESULT,
      </if>
        <if test="paperFlow != null">
            paper_flow,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="arrangeFlow != null" >
        #{arrangeFlow,jdbcType=VARCHAR},
      </if>
      <if test="trainingTypeId != null" >
        #{trainingTypeId,jdbcType=VARCHAR},
      </if>
      <if test="trainingTypeName != null" >
        #{trainingTypeName,jdbcType=VARCHAR},
      </if>
      <if test="trainingSpeId != null" >
        #{trainingSpeId,jdbcType=VARCHAR},
      </if>
      <if test="trainingSpeName != null" >
        #{trainingSpeName,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="assessmentYear != null" >
        #{assessmentYear,jdbcType=VARCHAR},
      </if>
      <if test="exampaperType != null" >
        #{exampaperType,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="assessmentStartTime != null" >
        #{assessmentStartTime,jdbcType=VARCHAR},
      </if>
      <if test="assessmentEndTime != null" >
        #{assessmentEndTime,jdbcType=VARCHAR},
      </if>
      <if test="isOpen != null" >
        #{isOpen,jdbcType=VARCHAR},
      </if>
      <if test="examNumber != null" >
        #{examNumber,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="examDuration != null" >
        #{examDuration,jdbcType=VARCHAR},
      </if>
      <if test="examStartTime != null" >
        #{examStartTime,jdbcType=VARCHAR},
      </if>
      <if test="examEndTime != null" >
        #{examEndTime,jdbcType=VARCHAR},
      </if>
      <if test="isApp != null" >
        #{isApp,jdbcType=VARCHAR},
      </if>
      <if test="isWeb != null" >
        #{isWeb,jdbcType=VARCHAR},
      </if>
      <if test="isOpenResult != null" >
        #{isOpenResult,jdbcType=VARCHAR},
      </if>
        <if test="paperFlow != null">
            #{paperFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.SchExamArrangementExample"
            resultType="java.lang.Integer">
      select count(*) from SCH_EXAM_ARRANGEMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update SCH_EXAM_ARRANGEMENT
    <set >
      <if test="record.arrangeFlow != null" >
        ARRANGE_FLOW = #{record.arrangeFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingTypeId != null" >
        TRAINING_TYPE_ID = #{record.trainingTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingTypeName != null" >
        TRAINING_TYPE_NAME = #{record.trainingTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingSpeId != null" >
        TRAINING_SPE_ID = #{record.trainingSpeId,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingSpeName != null" >
        TRAINING_SPE_NAME = #{record.trainingSpeName,jdbcType=VARCHAR},
      </if>
      <if test="record.sessionNumber != null" >
        SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.assessmentYear != null" >
        ASSESSMENT_YEAR = #{record.assessmentYear,jdbcType=VARCHAR},
      </if>
      <if test="record.exampaperType != null" >
        EXAMPAPER_TYPE = #{record.exampaperType,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.assessmentStartTime != null" >
        ASSESSMENT_START_TIME = #{record.assessmentStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.assessmentEndTime != null" >
        ASSESSMENT_END_TIME = #{record.assessmentEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.isOpen != null" >
        IS_OPEN = #{record.isOpen,jdbcType=VARCHAR},
      </if>
      <if test="record.examNumber != null" >
        EXAM_NUMBER = #{record.examNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.examDuration != null" >
        EXAM_DURATION = #{record.examDuration,jdbcType=VARCHAR},
      </if>
      <if test="record.examStartTime != null" >
        EXAM_START_TIME = #{record.examStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.examEndTime != null" >
        EXAM_END_TIME = #{record.examEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.isApp != null" >
        IS_APP = #{record.isApp,jdbcType=VARCHAR},
      </if>
      <if test="record.isWeb != null" >
        IS_WEB = #{record.isWeb,jdbcType=VARCHAR},
      </if>
      <if test="record.isOpenResult != null" >
        IS_OPEN_RESULT = #{record.isOpenResult,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update SCH_EXAM_ARRANGEMENT
    set ARRANGE_FLOW = #{record.arrangeFlow,jdbcType=VARCHAR},
      TRAINING_TYPE_ID = #{record.trainingTypeId,jdbcType=VARCHAR},
      TRAINING_TYPE_NAME = #{record.trainingTypeName,jdbcType=VARCHAR},
      TRAINING_SPE_ID = #{record.trainingSpeId,jdbcType=VARCHAR},
      TRAINING_SPE_NAME = #{record.trainingSpeName,jdbcType=VARCHAR},
      SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      ASSESSMENT_YEAR = #{record.assessmentYear,jdbcType=VARCHAR},
      EXAMPAPER_TYPE = #{record.exampaperType,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      ASSESSMENT_START_TIME = #{record.assessmentStartTime,jdbcType=VARCHAR},
      ASSESSMENT_END_TIME = #{record.assessmentEndTime,jdbcType=VARCHAR},
      IS_OPEN = #{record.isOpen,jdbcType=VARCHAR},
      EXAM_NUMBER = #{record.examNumber,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      EXAM_DURATION = #{record.examDuration,jdbcType=VARCHAR},
      EXAM_START_TIME = #{record.examStartTime,jdbcType=VARCHAR},
      EXAM_END_TIME = #{record.examEndTime,jdbcType=VARCHAR},
      IS_APP = #{record.isApp,jdbcType=VARCHAR},
      IS_WEB = #{record.isWeb,jdbcType=VARCHAR},
      IS_OPEN_RESULT = #{record.isOpenResult,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.SchExamArrangement" >
      update SCH_EXAM_ARRANGEMENT
    <set >
      <if test="trainingTypeId != null" >
        TRAINING_TYPE_ID = #{trainingTypeId,jdbcType=VARCHAR},
      </if>
      <if test="trainingTypeName != null" >
        TRAINING_TYPE_NAME = #{trainingTypeName,jdbcType=VARCHAR},
      </if>
      <if test="trainingSpeId != null" >
        TRAINING_SPE_ID = #{trainingSpeId,jdbcType=VARCHAR},
      </if>
      <if test="trainingSpeName != null" >
        TRAINING_SPE_NAME = #{trainingSpeName,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="assessmentYear != null" >
        ASSESSMENT_YEAR = #{assessmentYear,jdbcType=VARCHAR},
      </if>
      <if test="exampaperType != null" >
        EXAMPAPER_TYPE = #{exampaperType,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="assessmentStartTime != null" >
        ASSESSMENT_START_TIME = #{assessmentStartTime,jdbcType=VARCHAR},
      </if>
      <if test="assessmentEndTime != null" >
        ASSESSMENT_END_TIME = #{assessmentEndTime,jdbcType=VARCHAR},
      </if>
      <if test="isOpen != null" >
        IS_OPEN = #{isOpen,jdbcType=VARCHAR},
      </if>
      <if test="examNumber != null" >
        EXAM_NUMBER = #{examNumber,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="examDuration != null" >
        EXAM_DURATION = #{examDuration,jdbcType=VARCHAR},
      </if>
      <if test="examStartTime != null" >
        EXAM_START_TIME = #{examStartTime,jdbcType=VARCHAR},
      </if>
      <if test="examEndTime != null" >
        EXAM_END_TIME = #{examEndTime,jdbcType=VARCHAR},
      </if>
      <if test="isApp != null" >
        IS_APP = #{isApp,jdbcType=VARCHAR},
      </if>
      <if test="isWeb != null" >
        IS_WEB = #{isWeb,jdbcType=VARCHAR},
      </if>
      <if test="isOpenResult != null" >
        IS_OPEN_RESULT = #{isOpenResult,jdbcType=VARCHAR},
      </if>

        <if test="paperFlow != null">
            paper_flow = #{paperFlow,jdbcType=VARCHAR},
        </if>
    </set>
    where ARRANGE_FLOW = #{arrangeFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.SchExamArrangement" >
      update SCH_EXAM_ARRANGEMENT
    set TRAINING_TYPE_ID = #{trainingTypeId,jdbcType=VARCHAR},
      TRAINING_TYPE_NAME = #{trainingTypeName,jdbcType=VARCHAR},
      TRAINING_SPE_ID = #{trainingSpeId,jdbcType=VARCHAR},
      TRAINING_SPE_NAME = #{trainingSpeName,jdbcType=VARCHAR},
      SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      ASSESSMENT_YEAR = #{assessmentYear,jdbcType=VARCHAR},
      EXAMPAPER_TYPE = #{exampaperType,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      ASSESSMENT_START_TIME = #{assessmentStartTime,jdbcType=VARCHAR},
      ASSESSMENT_END_TIME = #{assessmentEndTime,jdbcType=VARCHAR},
      IS_OPEN = #{isOpen,jdbcType=VARCHAR},
      EXAM_NUMBER = #{examNumber,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      EXAM_DURATION = #{examDuration,jdbcType=VARCHAR},
      EXAM_START_TIME = #{examStartTime,jdbcType=VARCHAR},
      EXAM_END_TIME = #{examEndTime,jdbcType=VARCHAR},
      IS_APP = #{isApp,jdbcType=VARCHAR},
      IS_WEB = #{isWeb,jdbcType=VARCHAR},
      IS_OPEN_RESULT = #{isOpenResult,jdbcType=VARCHAR}
    where ARRANGE_FLOW = #{arrangeFlow,jdbcType=VARCHAR}
  </update>

    <select id="selectExamUserList" resultType="com.pinde.core.vo.sch.SchExamArrangementVO"
            parameterType="com.pinde.core.vo.sch.SchExamArrangementVO">
        SELECT su.USER_NAME,
               rd.TRAINING_SPE_NAME,
               su.USER_CODE,
               su.USER_PHONE,
               su.ID_NO,
               LISTAGG(sasdc.STANDARD_DEPT_NAME, ',') WITHIN GROUP (ORDER BY 1) AS DEPT_NAME
        FROM RES_DOCTOR_SCH_PROCESS rdsp,
             SCH_AND_STANDARD_DEPT_CFG sasdc,
             SYS_USER su,
             RES_DOCTOR rd
        WHERE RDSP.USER_FLOW = su.USER_FLOW
          AND rd.DOCTOR_FLOW = su.USER_FLOW
          AND su.RECORD_STATUS = 'Y'
          AND rd.RECORD_STATUS = 'Y'
          AND RDSP.SCH_END_DATE >= #{schStartDate}
          AND RDSP.SCH_START_DATE &lt;= #{schEndDate}
          AND RDSP.RECORD_STATUS = 'Y'
          AND sasdc.RECORD_STATUS = 'Y'
          AND sasdc.sch_dept_flow = rdsp.sch_dept_flow
          AND rdsp.org_flow = sasdc.org_flow
          and rd.TRAINING_SPE_ID = #{trainingSpeId}
          and rd.SESSION_NUMBER = #{sessionNumber}
          and rd.org_flow = #{orgFlow}
         <!-- and rd.TRAINING_SPE_NAME is not null -->
          and su.USER_CODE is not null
          and su.USER_PHONE is not null
          and su.ID_NO is not null
        GROUP BY su.USER_NAME,
                 rd.TRAINING_SPE_NAME,
                 su.USER_CODE,
                 su.USER_PHONE,
                 su.ID_NO
    </select>
</mapper>