<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.core.common.sci.dao.SysSmsTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.core.model.SysSmsTemplate" >
    <id column="SMS_TEMP_FLOW" property="smsTempFlow" jdbcType="VARCHAR" />
    <result column="WS_ID" property="wsId" jdbcType="VARCHAR" />
    <result column="TEMP_NAME" property="tempName" jdbcType="VARCHAR" />
    <result column="TEMP_CONTENT" property="tempContent" jdbcType="VARCHAR" />
    <result column="TEMP_ID" property="tempId" jdbcType="DECIMAL" />
    <result column="TEMP_FORMART" property="tempFormart" jdbcType="CHAR" />
    <result column="TEMP_TYPE" property="tempType" jdbcType="CHAR" />
    <result column="IS_ENABLED" property="isEnabled" jdbcType="CHAR" />
    <result column="TEMP_REMARK" property="tempRemark" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SMS_TEMP_FLOW, WS_ID, TEMP_NAME, TEMP_CONTENT, TEMP_ID, TEMP_FORMART, TEMP_TYPE, 
    IS_ENABLED, TEMP_REMARK, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
    MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.SysSmsTemplateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
      from SYS_SMS_TEMPLATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from SYS_SMS_TEMPLATE
    where SMS_TEMP_FLOW = #{smsTempFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from SYS_SMS_TEMPLATE
    where SMS_TEMP_FLOW = #{smsTempFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.SysSmsTemplateExample" >
      delete from SYS_SMS_TEMPLATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.SysSmsTemplate" >
      insert into SYS_SMS_TEMPLATE (SMS_TEMP_FLOW, WS_ID, TEMP_NAME,
      TEMP_CONTENT, TEMP_ID, TEMP_FORMART, 
      TEMP_TYPE, IS_ENABLED, TEMP_REMARK, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{smsTempFlow,jdbcType=VARCHAR}, #{wsId,jdbcType=VARCHAR}, #{tempName,jdbcType=VARCHAR}, 
      #{tempContent,jdbcType=VARCHAR}, #{tempId,jdbcType=DECIMAL}, #{tempFormart,jdbcType=CHAR}, 
      #{tempType,jdbcType=CHAR}, #{isEnabled,jdbcType=CHAR}, #{tempRemark,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.SysSmsTemplate" >
      insert into SYS_SMS_TEMPLATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="smsTempFlow != null" >
        SMS_TEMP_FLOW,
      </if>
      <if test="wsId != null" >
        WS_ID,
      </if>
      <if test="tempName != null" >
        TEMP_NAME,
      </if>
      <if test="tempContent != null" >
        TEMP_CONTENT,
      </if>
      <if test="tempId != null" >
        TEMP_ID,
      </if>
      <if test="tempFormart != null" >
        TEMP_FORMART,
      </if>
      <if test="tempType != null" >
        TEMP_TYPE,
      </if>
      <if test="isEnabled != null" >
        IS_ENABLED,
      </if>
      <if test="tempRemark != null" >
        TEMP_REMARK,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="smsTempFlow != null" >
        #{smsTempFlow,jdbcType=VARCHAR},
      </if>
      <if test="wsId != null" >
        #{wsId,jdbcType=VARCHAR},
      </if>
      <if test="tempName != null" >
        #{tempName,jdbcType=VARCHAR},
      </if>
      <if test="tempContent != null" >
        #{tempContent,jdbcType=VARCHAR},
      </if>
      <if test="tempId != null" >
        #{tempId,jdbcType=DECIMAL},
      </if>
      <if test="tempFormart != null" >
        #{tempFormart,jdbcType=CHAR},
      </if>
      <if test="tempType != null" >
        #{tempType,jdbcType=CHAR},
      </if>
      <if test="isEnabled != null" >
        #{isEnabled,jdbcType=CHAR},
      </if>
      <if test="tempRemark != null" >
        #{tempRemark,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.SysSmsTemplateExample" resultType="java.lang.Integer" >
      select count(*) from SYS_SMS_TEMPLATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update SYS_SMS_TEMPLATE
    <set >
      <if test="record.smsTempFlow != null" >
        SMS_TEMP_FLOW = #{record.smsTempFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.wsId != null" >
        WS_ID = #{record.wsId,jdbcType=VARCHAR},
      </if>
      <if test="record.tempName != null" >
        TEMP_NAME = #{record.tempName,jdbcType=VARCHAR},
      </if>
      <if test="record.tempContent != null" >
        TEMP_CONTENT = #{record.tempContent,jdbcType=VARCHAR},
      </if>
      <if test="record.tempId != null" >
        TEMP_ID = #{record.tempId,jdbcType=DECIMAL},
      </if>
      <if test="record.tempFormart != null" >
        TEMP_FORMART = #{record.tempFormart,jdbcType=CHAR},
      </if>
      <if test="record.tempType != null" >
        TEMP_TYPE = #{record.tempType,jdbcType=CHAR},
      </if>
      <if test="record.isEnabled != null" >
        IS_ENABLED = #{record.isEnabled,jdbcType=CHAR},
      </if>
      <if test="record.tempRemark != null" >
        TEMP_REMARK = #{record.tempRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update SYS_SMS_TEMPLATE
    set SMS_TEMP_FLOW = #{record.smsTempFlow,jdbcType=VARCHAR},
      WS_ID = #{record.wsId,jdbcType=VARCHAR},
      TEMP_NAME = #{record.tempName,jdbcType=VARCHAR},
      TEMP_CONTENT = #{record.tempContent,jdbcType=VARCHAR},
      TEMP_ID = #{record.tempId,jdbcType=DECIMAL},
      TEMP_FORMART = #{record.tempFormart,jdbcType=CHAR},
      TEMP_TYPE = #{record.tempType,jdbcType=CHAR},
      IS_ENABLED = #{record.isEnabled,jdbcType=CHAR},
      TEMP_REMARK = #{record.tempRemark,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.SysSmsTemplate" >
      update SYS_SMS_TEMPLATE
    <set >
      <if test="wsId != null" >
        WS_ID = #{wsId,jdbcType=VARCHAR},
      </if>
      <if test="tempName != null" >
        TEMP_NAME = #{tempName,jdbcType=VARCHAR},
      </if>
      <if test="tempContent != null" >
        TEMP_CONTENT = #{tempContent,jdbcType=VARCHAR},
      </if>
      <if test="tempId != null" >
        TEMP_ID = #{tempId,jdbcType=DECIMAL},
      </if>
      <if test="tempFormart != null" >
        TEMP_FORMART = #{tempFormart,jdbcType=CHAR},
      </if>
      <if test="tempType != null" >
        TEMP_TYPE = #{tempType,jdbcType=CHAR},
      </if>
      <if test="isEnabled != null" >
        IS_ENABLED = #{isEnabled,jdbcType=CHAR},
      </if>
      <if test="tempRemark != null" >
        TEMP_REMARK = #{tempRemark,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where SMS_TEMP_FLOW = #{smsTempFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.SysSmsTemplate" >
      update SYS_SMS_TEMPLATE
    set WS_ID = #{wsId,jdbcType=VARCHAR},
      TEMP_NAME = #{tempName,jdbcType=VARCHAR},
      TEMP_CONTENT = #{tempContent,jdbcType=VARCHAR},
      TEMP_ID = #{tempId,jdbcType=DECIMAL},
      TEMP_FORMART = #{tempFormart,jdbcType=CHAR},
      TEMP_TYPE = #{tempType,jdbcType=CHAR},
      IS_ENABLED = #{isEnabled,jdbcType=CHAR},
      TEMP_REMARK = #{tempRemark,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where SMS_TEMP_FLOW = #{smsTempFlow,jdbcType=VARCHAR}
  </update>
</mapper>