<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.srm.AchExportExtMapper">
    <resultMap type="com.pinde.sci.model.srm.AchThesisExportExt" id="AchThesisExportExtResultMap"
               extends="com.pinde.sci.dao.base.SrmAchThesisMapper.BaseResultMap">
        <result column="author_dept_flow" jdbcType="VARCHAR" property="authorDeptFlow"/>
        <result column="author_dept_name" jdbcType="VARCHAR" property="authorDeptName"/>
        <result column="USER_FLOW" jdbcType="VARCHAR" property="userFlow"/>
        <result column="AUTHOR_NAME" jdbcType="VARCHAR" property="authorName"/>
        <result column="BRANCH_ID" jdbcType="VARCHAR" property="branchId"/>
        <result column="BRANCH_NAME" jdbcType="VARCHAR" property="branchName"/>
    </resultMap>
    <resultMap type="com.pinde.sci.model.srm.AchSatExportExt" id="AchSatExportExtResultMap"
               extends="com.pinde.sci.dao.base.SrmAchSatMapper.BaseResultMap">
        <result column="DEPT_FLOW" jdbcType="VARCHAR" property="deptFlow"/>
        <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName"/>
        <result column="USER_FLOW" jdbcType="VARCHAR" property="userFlow"/>
        <result column="AUTHOR_NAME" jdbcType="VARCHAR" property="authorName"/>
        <result column="BRANCH_ID" jdbcType="VARCHAR" property="branchId"/>
        <result column="BRANCH_NAME" jdbcType="VARCHAR" property="branchName"/>
    </resultMap>
    <resultMap type="com.pinde.sci.model.srm.AchBookExportExt" id="AchBookExportExtResultMap"
               extends="com.pinde.sci.dao.base.SrmAchBookMapper.BaseResultMap">
        <result column="DEPT_FLOW" jdbcType="VARCHAR" property="deptFlow"/>
        <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName"/>
        <result column="USER_FLOW" jdbcType="VARCHAR" property="userFlow"/>
        <result column="AUTHOR_NAME" jdbcType="VARCHAR" property="authorName"/>
        <result column="NUM" jdbcType="DECIMAL" property="num" />
        <result column="BRANCH_ID" jdbcType="VARCHAR" property="branchId"/>
        <result column="BRANCH_NAME" jdbcType="VARCHAR" property="branchName"/>
    </resultMap>
    <resultMap type="com.pinde.sci.model.srm.AchPatentExportExt" id="AchPatentExportExtResultMap"
               extends="com.pinde.sci.dao.base.SrmAchPatentMapper.BaseResultMap">
        <result column="DEPT_FLOW" jdbcType="VARCHAR" property="deptFlow"/>
        <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName"/>
        <result column="USER_FLOW" jdbcType="VARCHAR" property="userFlow"/>
        <result column="AUTHOR_NAME" jdbcType="VARCHAR" property="authorName"/>
        <result column="NUM" jdbcType="DECIMAL" property="num" />
        <result column="BRANCH_ID" jdbcType="VARCHAR" property="branchId"/>
        <result column="BRANCH_NAME" jdbcType="VARCHAR" property="branchName"/>
        <result column="AUTHORIZE_DATE" jdbcType="VARCHAR" property="authorizeDate"/>
    </resultMap>

    <select id="searchAchThesisExportByDept" parameterType="java.util.Map" resultMap="AchThesisExportExtResultMap">
        select sat.publish_date,sat.thesis_flow,sat.thesis_name ,sat.jour_type_id,
        sat.jour_type_name ,sat.dept_flow ,sat.dept_name
        from srm_ach_thesis sat
        where sat.record_status = 'Y'
        AND EXISTS(
        select * from srm_ach_thesis_author sata where
        sata.thesis_flow = sat.thesis_flow and sata.record_status = 'Y'
        <if test='authorName!=null and authorName!=""'>
            AND sata.author_name like '%${authorName}%'
        </if>
        )
        <if test='thesisName!=null and thesisName!=""'>
            AND sat.thesis_name like '%${thesisName}%'
        </if>
        <if test='deptFlow!=null and deptFlow!=""'>
            AND sat.dept_flow=#{deptFlow}
        </if>
        <if test='publishDate!=null and publishDate!=""'>
            AND sat.publish_date=#{publishDate}
        </if>
        <if test='projSourceId!=null and projSourceId!=""'>
            AND sat.PROJ_SOURCE_ID=#{projSourceId}
        </if>

        <if test='applyOrgFlow!=null and applyOrgFlow!=""'>
            AND sat.APPLY_ORG_FLOW = #{applyOrgFlow}
        </if>
        <if test='operStatusId!=null and operStatusId!=""'>
            AND sat.OPER_STATUS_ID = #{operStatusId}
        </if>
        <if test='notOperStatusId!=null and notOperStatusId!=""'>
            AND sat.OPER_STATUS_ID NOT IN  ${notOperStatusId}
        </if>
        <if test='branchId!=null and branchId!=""'>
            AND sat.BRANCH_ID = #{branchId}
        </if>
        ORDER BY publish_date asc
    </select>

    <select id="searchAchThesisExt" parameterType="java.util.Map" resultMap="AchThesisExportExtResultMap">
        select sat.publish_date,sat.thesis_flow,sat.thesis_name ,sat.jour_type_id,
        sat.jour_type_name,sata.user_flow ,sata.author_name ,sat.dept_flow ,sat.dept_name dept_name,
        sata.dept_flow author_dept_flow,sata.dept_name author_dept_name, sata.BRANCH_ID,sata.BRANCH_NAME
        from srm_ach_thesis sat
        left join srm_ach_thesis_author sata on sata.thesis_flow = sat.thesis_flow
        where sat.record_status = 'Y'
        and sata.record_status='Y'
        <if test='thesisName!=null and thesisName!=""'>
            AND sat.thesis_name like '%${thesisName}%'
        </if>
        <if test='deptFlow!=null and deptFlow!=""'>
            AND sat.dept_flow=#{deptFlow}
        </if>
        <if test='publishDate!=null and publishDate!=""'>
            AND sat.publish_date=#{publishDate}
        </if>
        <if test='projSourceId!=null and projSourceId!=""'>
            AND sat.PROJ_SOURCE_ID=#{projSourceId}
        </if>
        <if test='authorName!=null and authorName!=""'>
            AND sata.author_name like '%${authorName}%'
        </if>
        <if test='applyOrgFlow!=null and applyOrgFlow!=""'>
            AND sat.APPLY_ORG_FLOW = #{applyOrgFlow}
        </if>
        <if test='operStatusId!=null and operStatusId!=""'>
            AND sat.OPER_STATUS_ID = #{operStatusId}
        </if>
        <if test='notOperStatusId!=null and notOperStatusId!=""'>
            AND sat.OPER_STATUS_ID NOT IN  ${notOperStatusId}
        </if>
        <if test='branchId!=null and branchId!=""'>
            AND sat.BRANCH_ID = #{branchId}
        </if>
        ORDER BY publish_date asc
    </select>
    <select id="searchAchSatExt" parameterType="java.util.Map" resultMap="AchSatExportExtResultMap">
        select sas.PRIZED_DATE,sas.SAT_FLOW,sas.SAT_NAME ,sas.PRIZED_GRADE_ID,
        sas.PRIZED_GRADE_NAME,sasa.user_flow ,sasa.author_name ,sasa.dept_flow ,sasa.dept_name,sasa.BRANCH_ID,sasa.BRANCH_NAME
        from srm_ach_sat sas
        left join srm_ach_sat_author sasa on sasa.SAT_FLOW = sas.SAT_FLOW
        where sas.record_status = 'Y'
        and sasa.record_status='Y'
        <if test='thesisName!=null and thesisName!=""'>
            AND sas.SAT_NAME like '%${thesisName}%'
        </if>
        <if test='deptFlow!=null and deptFlow!=""'>
            AND sas.dept_flow=#{deptFlow}
        </if>
        <if test='prizedDate!=null and prizedDate!=""'>
            AND sas.PRIZED_DATE=#{prizedDate}
        </if>
        <if test='authorName!=null and authorName!=""'>
            AND sasa.author_name like '%${authorName}%'
        </if>
        <if test='applyOrgFlow!=null and applyOrgFlow!=""'>
            AND sas.APPLY_ORG_FLOW = #{applyOrgFlow}
        </if>
        <if test='operStatusId!=null and operStatusId!=""'>
            AND sas.OPER_STATUS_ID = #{operStatusId}
        </if>
        <if test='notOperStatusId!=null and notOperStatusId!=""'>
            AND sas.OPER_STATUS_ID != #{notOperStatusId}
        </if>
        <if test='branchId!=null and branchId!=""'>
            AND sas.BRANCH_ID = #{branchId}
        </if>
        ORDER by sas.PRIZED_DATE DESC,sasa.user_flow,sasa.dept_flow
    </select>

    <select id="searchAchBookExt" parameterType="java.util.Map" resultMap="AchBookExportExtResultMap">
        select ROW_NUMBER() over(ORDER by sab.publish_date DESC,sab.book_name,saba.write_type_id) as NUM, sab.publish_date,saba.user_flow,saba.author_name,saba.dept_flow,saba.dept_name,sab.book_name,saba.write_type_id,saba.BRANCH_ID,saba.BRANCH_NAME
        from srm_ach_book sab, srm_ach_book_author saba
        where saba.book_flow = sab.book_flow
        and sab.record_status = 'Y'
        and saba.record_status = 'Y'
        <if test='bookName!=null and bookName!=""'>
            AND sab.BOOK_NAME like '%${bookName}%'
        </if>
        <if test='userFlow!=null and userFlow!=""'>
            AND sab.APPLY_USER_FLOW = #{userFlow}
        </if>
        <if test='deptFlow!=null and deptFlow!=""'>
            AND sab.dept_flow=#{deptFlow}
        </if>
        <if test='typeId!=null and typeId!=""'>
            AND sab.type_id=#{typeId}
        </if>
        <if test='publishDate!=null and publishDate!=""'>
            AND sab.PUBLISH_DATE=#{publishDate}
        </if>
        <if test='authorName!=null and authorName!=""'>
            AND saba.AUTHOR_NAME like '%${authorName}%'
        </if>
        <if test='workCode!=null and workCode!=""'>
            AND saba.WORK_CODE like '%${workCode}%'
        </if>
        <if test='applyOrgFlow!=null and applyOrgFlow!=""'>
            AND sab.APPLY_ORG_FLOW = #{applyOrgFlow}
        </if>
        <if test='operStatusId!=null and operStatusId!=""'>
            AND sab.OPER_STATUS_ID = #{operStatusId}
        </if>
        <if test='notOperStatusId!=null and notOperStatusId!=""'>
            AND sab.OPER_STATUS_ID != #{notOperStatusId}
        </if>
        <if test='branchId!=null and branchId!=""'>
            AND sab.BRANCH_ID = #{branchId}
        </if>
    </select>

    <select id="searchAchPatentExt" parameterType="java.util.Map" resultMap="AchPatentExportExtResultMap">
        select ROW_NUMBER() over(ORDER by sap.authorize_year DESC,sap.patent_name,sapa.type_name) as NUM,sap.authorize_year,sap.authorize_Code,sapa.user_flow,sapa.author_name,sapa.dept_flow,sapa.dept_name, sap.patent_name,sap.type_name,sapa.BRANCH_ID,sapa.BRANCH_NAME,substr(sap.AUTHORIZE_DATE, 0, 4) AUTHORIZE_DATE
        from srm_ach_patent sap,srm_ach_Patent_author sapa
        where sapa.Patent_flow = sap.patent_flow
        and sap.record_status = 'Y'
        and sapa.record_status = 'Y'
        <if test='patentName!=null and patentName!=""'>
            AND sap.patent_name like '%${patentName}%'
        </if>
        <if test='deptFlow!=null and deptFlow!=""'>
            AND sap.dept_flow=#{deptFlow}
        </if>
        <if test='authorizeYear!=null and authorizeYear!=""'>
            AND sap.authorize_year=#{authorizeYear}
        </if>
        <if test='applyDate!=null and applyDate!=""'>
            AND sap.apply_Date=#{applyDate}
        </if>
        <if test='typeId!=null and typeId!=""'>
            AND sap.type_id=#{typeId}
        </if>
        <if test='authorName!=null and authorName!=""'>
            AND sapa.author_name like '%${authorName}%'
        </if>
        <if test='applyOrgFlow!=null and applyOrgFlow!=""'>
            AND sap.APPLY_ORG_FLOW = #{applyOrgFlow}
        </if>
        <if test='operStatusId!=null and operStatusId!=""'>
            AND sap.OPER_STATUS_ID = #{operStatusId}
        </if>
        <if test='notOperStatusId!=null and notOperStatusId!=""'>
            AND sap.OPER_STATUS_ID != #{notOperStatusId}
        </if>
        <if test='branchId!=null and branchId!=""'>
            AND sap.BRANCH_ID = #{branchId}
        </if>
    </select>

</mapper>