<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.srm.AchScoreExtMapper">
    <select id="searchByAuthor" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT a.* , rownum AS ranking_num
        FROM (
        select user_flow,user_name,sum(ach_score) ach_score
        from (
        select c1.user_flow user_flow,max(u.user_name) user_name,nvl(sum(ACH_SCORE),0) ACH_SCORE
        from SRM_ACH_BOOK_AUTHOR c1
        left join sys_user u on c1.user_flow =u.user_flow
        where c1.user_flow is not null
        <if test='startTime!=null and startTime!=""'>
            and c1.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c1.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and c1.create_time LIKE '${year}%'
        </if>
        <if test='userName!=null and userName!=""'>
            and u.user_name LIKE '%${userName}%'
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
            and u.org_flow=#{orgFlow}
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c1.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c1.is_fixed_flag=#{isFixedFlag}
        </if>
        and u.STATUS_ID = 'Activated'
        and u.record_status='Y'
        and c1.record_status='Y'
        group by c1.user_flow
        union all
        select c2.user_flow user_flow,max(u.user_name) user_name,nvl(sum(ACH_SCORE),0) ACH_SCORE
        from SRM_ACH_PATENT_AUTHOR c2
        left join sys_user u on c2.user_flow =u.user_flow
        where c2.user_flow is not null
        <if test='startTime!=null and startTime!=""'>
            and c2.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c2.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and c2.create_time LIKE '${year}%'
        </if>
        <if test='userName!=null and userName!=""'>
            and u.user_name LIKE '%${userName}%'
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
            and u.org_flow=#{orgFlow}
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c2.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c2.is_fixed_flag=#{isFixedFlag}
        </if>
        and u.STATUS_ID = 'Activated'
        and u.record_status='Y'
        and c2.record_status='Y'
        group by c2.user_flow
        union all
        select c3.user_flow user_flow,max(u.user_name) user_name,nvl(sum(ACH_SCORE),0) ACH_SCORE
        from SRM_ACH_SAT_AUTHOR c3
        left join sys_user u on c3.user_flow =u.user_flow
        where c3.user_flow is not null
        <if test='startTime!=null and startTime!=""'>
            and c3.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c3.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and c3.create_time LIKE '${year}%'
        </if>
        <if test='userName!=null and userName!=""'>
            and u.user_name LIKE '%${userName}%'
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
            and u.org_flow=#{orgFlow}
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c3.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c3.is_fixed_flag=#{isFixedFlag}
        </if>
        and u.STATUS_ID = 'Activated'
        and u.record_status='Y'
        and c3.record_status='Y'
        group by c3.user_flow
        union all
        select c4.user_flow user_flow,max(u.user_name) user_name,nvl(sum(ACH_SCORE),0) ACH_SCORE
        from SRM_ACH_THESIS_AUTHOR c4
        left join sys_user u on c4.user_flow =u.user_flow
        where c4.user_flow is not null
        <if test='startTime!=null and startTime!=""'>
            and c4.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c4.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and c4.create_time LIKE '${year}%'
        </if>
        <if test='userName!=null and userName!=""'>
            and u.user_name LIKE '%${userName}%'
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
            and u.org_flow=#{orgFlow}
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c4.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c4.is_fixed_flag=#{isFixedFlag}
        </if>
        and u.STATUS_ID = 'Activated'
        and u.record_status='Y'
        and c4.record_status='Y'
        group by c4.user_flow

        union all
        select c5.user_flow user_flow,max(u.user_name) user_name,nvl(sum(ACH_SCORE),0) ACH_SCORE
        from PUB_PROJ_AUTHOR c5
        left join sys_user u on c5.user_flow =u.user_flow
        where c5.user_flow is not null
        <if test='startTime!=null and startTime!=""'>
            and c5.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c5.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and c5.create_time LIKE '${year}%'
        </if>
        <if test='userName!=null and userName!=""'>
            and u.user_name LIKE '%${userName}%'
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
            and u.org_flow=#{orgFlow}
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c5.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c5.is_fixed_flag=#{isFixedFlag}
        </if>
        and u.STATUS_ID = 'Activated'
        and u.record_status='Y'
        and c5.record_status='Y'
        group by c5.user_flow
        )
        group by user_flow,user_name
        order by ach_score desc
        ) a

    </select>

    <select id="searchByDept" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT a.* , rownum AS ranking_num
        FROM (
        select dept_flow,dept_name,sum(ACH_SCORE_DEPT) ACH_SCORE_DEPT
        from
        (select p.dept_flow dept_flow,max(p.dept_name) dept_name,nvl(sum(ACH_SCORE_DEPT),0) ACH_SCORE_DEPT
        from SRM_ACH_BOOK_AUTHOR c1
        right join sys_dept p
        on c1.dept_flow =p.dept_flow
        where
        p.record_status='Y'
        and c1.record_status='Y'
        <if test='startTime!=null and startTime!=""'>
            and c1.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c1.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c1.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c1.is_fixed_flag=#{isFixedFlag}
        </if>
        <if test='year!=null and yera!=""'>
            and c1.create_time LIKE '${year}%'
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
            and p.org_flow=#{orgFlow}
        </if>
        group by p.dept_flow
        union all
        select c2.dept_flow dept_flow,max(p.dept_name) dept_name,nvl(sum(ACH_SCORE_DEPT),0) ACH_SCORE_DEPT
        from SRM_ACH_PATENT_AUTHOR c2
        left join sys_dept p
        on c2.dept_flow =p.dept_flow
        where c2.dept_flow is not null
        and p.record_status='Y'
        and c2.record_status='Y'
        <if test='startTime!=null and startTime!=""'>
            and c2.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c2.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c2.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c2.is_fixed_flag=#{isFixedFlag}
        </if>
        <if test='year!=null and yera!=""'>
            and c2.create_time LIKE '${year}%'
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
            and p.org_flow=#{orgFlow}
        </if>
        group by c2.dept_flow
        union all
        select c3.dept_flow dept_flow,max(p.dept_name) dept_name,nvl(sum(ACH_SCORE_DEPT),0) ACH_SCORE_DEPT
        from SRM_ACH_SAT_AUTHOR c3
        left join sys_dept p
        on c3.dept_flow =p.dept_flow
        where c3.dept_flow is not null
        and p.record_status='Y'
        and c3.record_status='Y'
        <if test='startTime!=null and startTime!=""'>
            and c3.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c3.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c3.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c3.is_fixed_flag=#{isFixedFlag}
        </if>
        <if test='year!=null and yera!=""'>
            and c3.create_time LIKE '${year}%'
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
            and p.org_flow=#{orgFlow}
        </if>
        group by c3.dept_flow
        union all
        select c4.dept_flow dept_flow,max(p.dept_name) dept_name,nvl(sum(ACH_SCORE_DEPT),0) ACH_SCORE_DEPT
        from SRM_ACH_THESIS_AUTHOR c4
        left join sys_dept p
        on c4.dept_flow =p.dept_flow
        where c4.dept_flow is not null
        and p.record_status='Y'
        and c4.record_status='Y'
        <if test='startTime!=null and startTime!=""'>
            and c4.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c4.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c4.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c4.is_fixed_flag=#{isFixedFlag}
        </if>
        <if test='year!=null and yera!=""'>
            and c4.create_time LIKE '${year}%'
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
            and p.org_flow=#{orgFlow}
        </if>
        group by c4.dept_flow

        union all
        select c5.dept_flow dept_flow,max(p.dept_name) dept_name,nvl(sum(ACH_SCORE_DEPT),0) ACH_SCORE_DEPT
        from PUB_PROJ_AUTHOR c5
        left join sys_dept p
        on c5.dept_flow =p.dept_flow
        where c5.dept_flow is not null
        and p.record_status='Y'
        and c5.record_status='Y'
        <if test='startTime!=null and startTime!=""'>
            and c5.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c5.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c5.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c5.is_fixed_flag=#{isFixedFlag}
        </if>
        <if test='year!=null and yera!=""'>
            and c5.create_time LIKE '${year}%'
        </if>
        <if test='orgFlow!=null and orgFlow!=""'>
            and p.org_flow=#{orgFlow}
        </if>
        group by c5.dept_flow
        )
        group by dept_flow,dept_name
        order by ACH_SCORE_DEPT desc
        ) a
    </select>

    <select id="searchScoreListByDept" parameterType="java.util.Map" resultType="java.util.Map">
        select a.score_flow scoreFlow,a.score_name scoreName,sum(a.ACH_SCORE_DEPT) amountAchScore,count(*)
        amount,max(sac.SCORE_DEPT_VALUE) scoreValue,max(a.ACH_SCORE_DEPT) scoreOldValue
        from(
        select c1.score_flow as score_flow,c1.score_name as score_name,c1.dept_flow as dept_flow, c1.ACH_SCORE_DEPT as
        ACH_SCORE_DEPT
        from SRM_ACH_PATENT_AUTHOR c1
        where c1.record_status = 'Y'
        <if test="deptFlow != null and deptFlow != ''">
            and c1.dept_flow = '${deptFlow}'
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c1.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c1.is_fixed_flag=#{isFixedFlag}
        </if>
        <if test='startTime!=null and startTime!=""'>
            and c1.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c1.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and c1.create_time LIKE '${year}%'
        </if>
        union all
        select c2.score_flow as score_flow,c2.score_name as score_name,c2.dept_flow as dept_flow, c2.ACH_SCORE_DEPT as
        ACH_SCORE_DEPT
        from SRM_ACH_BOOK_AUTHOR c2
        where c2.record_status = 'Y'
        <if test="deptFlow != null and deptFlow != ''">
            and c2.dept_flow = #{deptFlow}
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c2.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c2.is_fixed_flag=#{isFixedFlag}
        </if>
        <if test='startTime!=null and startTime!=""'>
            and c2.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c2.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and c2.create_time LIKE '${year}%'
        </if>
        union all
        select c3.score_flow as score_flow,c3.score_name as score_name,c3.dept_flow as dept_flow,c3.ACH_SCORE_DEPT as
        ACH_SCORE_DEPT
        from SRM_ACH_SAT_AUTHOR c3
        where c3.record_status = 'Y'
        <if test="deptFlow != null and deptFlow != ''">
            and c3.dept_flow = #{deptFlow}
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c3.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c3.is_fixed_flag=#{isFixedFlag}
        </if>
        <if test='startTime!=null and startTime!=""'>
            and c3.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c3.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and c3.create_time LIKE '${year}%'
        </if>
        union all
        select c4.score_flow as score_flow,c4.score_name as score_name,c4.dept_flow as dept_flow,c4.ACH_SCORE_DEPT as
        ACH_SCORE_DEPT
        from SRM_ACH_THESIS_AUTHOR c4
        where c4.record_status = 'Y'
        <if test="deptFlow != null and deptFlow != ''">
            and c4.dept_flow = #{deptFlow}
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c4.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c4.is_fixed_flag=#{isFixedFlag}
        </if>
        <if test='startTime!=null and startTime!=""'>
            and c4.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c4.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and c4.create_time LIKE '${year}%'
        </if>
        union all
        select c5.score_flow as score_flow,c5.score_name as score_name,c5.dept_flow as dept_flow,c5.ACH_SCORE_DEPT as
        ACH_SCORE_DEPT
        from PUB_PROJ_AUTHOR c5
        where c5.record_status = 'Y'
        <if test="deptFlow != null and deptFlow != ''">
            and c5.dept_flow = #{deptFlow}
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c5.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c5.is_fixed_flag=#{isFixedFlag}
        </if>
        <if test='startTime!=null and startTime!=""'>
            and c5.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c5.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and c5.create_time LIKE '${year}%'
        </if>
        )a,srm_ach_score sac
        where sac.score_flow = a.score_flow
        GROUP BY a.score_flow,a.score_name
    </select>

    <select id="searchScoreListByAuthor" parameterType="java.util.Map" resultType="java.util.Map">
        select a.score_flow scoreFlow,a.score_name scoreName,sum(a.ACH_SCORE) amountAchScore,count(*)
        amount,max(sac.score_personal_value) scoreValue,max(a.ACH_SCORE) scoreOldValue
        from(
        select c1.score_flow as score_flow,c1.score_name as score_name, c1.ACH_SCORE as ACH_SCORE
        from SRM_ACH_PATENT_AUTHOR c1
        where c1.record_status = 'Y'
        <if test="userFlow!=null and userFlow!=''">
            and c1.USER_FLOW = #{userFlow}
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c1.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c1.is_fixed_flag=#{isFixedFlag}
        </if>
        <if test='startTime!=null and startTime!=""'>
            and c1.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c1.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and c1.create_time LIKE '${year}%'
        </if>
        union all
        select c2.score_flow as score_flow,c2.score_name as score_name, c2.ACH_SCORE as ACH_SCORE
        from SRM_ACH_BOOK_AUTHOR c2
        where c2.record_status = 'Y'
        <if test="userFlow != null and userFlow != ''">
            and c2.USER_FLOW = #{userFlow}
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c2.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c2.is_fixed_flag=#{isFixedFlag}
        </if>
        <if test='startTime!=null and startTime!=""'>
            and c2.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c2.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and c2.create_time LIKE '${year}%'
        </if>
        union all
        select c3.score_flow as score_flow,c3.score_name as score_name,c3.ACH_SCORE as ACH_SCORE
        from SRM_ACH_SAT_AUTHOR c3
        where c3.record_status = 'Y'
        <if test="userFlow != null and userFlow != ''">
            and c3.USER_FLOW = #{userFlow}
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c3.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c3.is_fixed_flag=#{isFixedFlag}
        </if>
        <if test='startTime!=null and startTime!=""'>
            and c3.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c3.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and c3.create_time LIKE '${year}%'
        </if>
        union all
        select c4.score_flow as score_flow,c4.score_name as score_name,c4.ACH_SCORE as ACH_SCORE
        from SRM_ACH_THESIS_AUTHOR c4
        where c4.record_status = 'Y'
        <if test="userFlow != null and userFlow != ''">
            and c4.USER_FLOW = #{userFlow}
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c4.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c4.is_fixed_flag=#{isFixedFlag}
        </if>
        <if test='startTime!=null and startTime!=""'>
            and c4.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c4.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and c4.create_time LIKE '${year}%'
        </if>
        union all
        select c5.score_flow as score_flow,c5.score_name as score_name,c5.ACH_SCORE as ACH_SCORE
        from PUB_PROJ_AUTHOR c5
        where c5.record_status = 'Y'
        <if test="userFlow != null and userFlow != ''">
            and c5.USER_FLOW = #{userFlow}
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and c5.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and c5.is_fixed_flag=#{isFixedFlag}
        </if>
        <if test='startTime!=null and startTime!=""'>
            and c5.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and c5.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and c5.create_time LIKE '${year}%'
        </if>
        )a,srm_ach_score sac
        where sac.score_flow = a.score_flow
        GROUP BY a.score_flow,a.score_name
    </select>

    <select id="searchAchScoreList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * from(
        SELECT saba.score_name score_name, sab.book_name ach_name
        FROM srm_ach_book_author saba
        left join srm_ach_book sab
        on saba.book_flow = sab.book_flow
        where saba.record_status = 'Y'
        and sab.record_status = 'Y'
        <if test="userFlow != null and userFlow != ''">
            and saba.USER_FLOW = #{userFlow}
        </if>
        <if test="deptFlow != null and deptFlow != ''">
            and saba.dept_flow = #{deptFlow}
        </if>
        <if test="scoreFlow != null and scoreFlow != ''">
            and saba.score_flow = #{scoreFlow}
        </if>
        <if test='startTime!=null and startTime!=""'>
            and saba.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and saba.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and saba.create_time LIKE '${year}%'
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and saba.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and saba.is_fixed_flag=#{isFixedFlag}
        </if>
        union all
        SELECT sapa.score_name score_name, sap.patent_name ach_name
        FROM srm_ach_patent_author sapa
        left join srm_ach_patent sap
        on sapa.patent_flow = sap.patent_flow
        where sapa.record_status = 'Y'
        and sap.record_status = 'Y'
        <if test="userFlow != null and userFlow != ''">
            and sapa.USER_FLOW = #{userFlow}
        </if>
        <if test="deptFlow != null and deptFlow != ''">
            and sapa.dept_flow = #{deptFlow}
        </if>
        <if test="scoreFlow != null and scoreFlow != ''">
            and sapa.score_flow = #{scoreFlow}
        </if>
        <if test='startTime!=null and startTime!=""'>
            and sapa.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and sapa.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and sapa.create_time LIKE '${year}%'
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and sapa.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and sapa.is_fixed_flag=#{isFixedFlag}
        </if>
        union all
        SELECT sasa.score_name score_name, sas.sat_name ach_name
        FROM srm_ach_sat_author sasa
        left join srm_ach_sat sas
        on sasa.sat_flow = sas.sat_flow
        where sasa.record_status = 'Y'
        and sas.record_status = 'Y'
        <if test="userFlow != null and userFlow != ''">
            and sasa.USER_FLOW = #{userFlow}
        </if>
        <if test="deptFlow != null and deptFlow != ''">
            and sasa.dept_flow = #{deptFlow}
        </if>
        <if test="scoreFlow != null and scoreFlow != ''">
            and sasa.score_flow = #{scoreFlow}
        </if>
        <if test='startTime!=null and startTime!=""'>
            and sasa.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and sasa.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and sasa.create_time LIKE '${year}%'
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and sasa.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and sasa.is_fixed_flag=#{isFixedFlag}
        </if>
        union all
        SELECT sata.score_name score_name, sat.thesis_name ach_name
        FROM srm_ach_thesis_author sata
        left join srm_ach_thesis sat
        on sata.thesis_flow = sat.thesis_flow
        where sata.record_status = 'Y'
        and sat.record_status = 'Y'
        <if test="userFlow != null and userFlow != ''">
            and sata.USER_FLOW = #{userFlow}
        </if>
        <if test="deptFlow != null and deptFlow != ''">
            and sata.dept_flow = #{deptFlow}
        </if>
        <if test="scoreFlow != null and scoreFlow != ''">
            and sata.score_flow = #{scoreFlow}
        </if>
        <if test='startTime!=null and startTime!=""'>
            and sata.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and sata.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and sata.create_time LIKE '${year}%'
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and sata.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and sata.is_fixed_flag=#{isFixedFlag}
        </if>
        union all
        SELECT ppa.score_name score_name, pp.proj_name ach_name
        FROM pub_proj_author ppa
        left join pub_proj pp
        on ppa.proj_flow = pp.proj_flow
        where ppa.record_status = 'Y'
        and pp.record_status = 'Y'
        <if test="userFlow != null and userFlow != ''">
            and ppa.USER_FLOW = #{userFlow}
        </if>
        <if test="deptFlow != null and deptFlow != ''">
            and ppa.dept_flow = #{deptFlow}
        </if>
        <if test="scoreFlow != null and scoreFlow != ''">
            and ppa.score_flow = #{scoreFlow}
        </if>
        <if test='startTime!=null and startTime!=""'>
            and ppa.create_time<![CDATA[>=]]>#{startTime}
        </if>
        <if test='endTime!=null and endTime!=""'>
            and ppa.create_time<![CDATA[<=]]>#{endTime}
        </if>
        <if test='year!=null and yera!=""'>
            and ppa.create_time LIKE '${year}%'
        </if>
        <if test='isPublish!=null and isPublish!=""'>
            and ppa.is_publish=#{isPublish}
        </if>
        <if test='isFixedFlag!=null and isFixedFlag!=""'>
            and ppa.is_fixed_flag=#{isFixedFlag}
        </if>
        )
    </select>

    <select id="achScoreIsUse" parameterType="java.util.List" resultType="java.lang.Integer">
        select sum(a) from (
          SELECT count(1) a
            FROM  SRM_ACH_BOOK_AUTHOR saba where saba.record_status = 'Y'
        <if test="scoreFlowList!=null">
            and saba.SCORE_FLOW IN
            <foreach collection="scoreFlowList" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
            union all
          SELECT count(1) a
            FROM  SRM_ACH_PATENT_AUTHOR sapa where sapa.record_status = 'Y'
        <if test="scoreFlowList!=null">
            and sapa.SCORE_FLOW IN
            <foreach collection="scoreFlowList" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
            union all
          SELECT count(1) a
            FROM  SRM_ACH_SAT_AUTHOR sasa where sasa.record_status = 'Y'
        <if test="scoreFlowList!=null">
          and  sasa.SCORE_FLOW IN
            <foreach collection="scoreFlowList" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
            union all
          SELECT count(1) a
            FROM  SRM_ACH_THESIS_AUTHOR sata where
             sata.record_status = 'Y'
            <if test="scoreFlowList!=null">
               and sata.SCORE_FLOW IN
                <foreach collection="scoreFlowList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            union all
          SELECT count(1) a
            FROM  PUB_PROJ_AUTHOR PPA where PPA.record_status = 'Y'
        <if test="scoreFlowList!=null">
            and PPA.SCORE_FLOW IN
            <foreach collection="scoreFlowList" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
          )
    </select>

</mapper>