<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.srm.FundItemExtMapper" >
	
	<select id="searchSrmFundItemNotInBySchemeFlow" resultMap="com.pinde.sci.dao.base.SrmFundItemMapper.BaseResultMap">
		select
	    	<include refid="com.pinde.sci.dao.base.SrmFundItemMapper.Base_Column_List" />
	    from PDSCI.SRM_FUND_ITEM i where not exists(
  			select 1 from  PDSCI.SRM_FUND_SCHEME_DETAIL de where de.SCHEME_FLOW=#{schemeFlow} 
  				and i.ITEM_FLOW=de.ITEM_FLOW and RECORD_STATUS='Y'
	)
  	</select>
</mapper>