<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.srm.ProjFundExtMapper" >
	<resultMap type="com.pinde.sci.model.srm.ProjFundDetailExt"  id="ProjFundDetailResultMap" extends="com.pinde.sci.dao.base.SrmProjFundDetailMapper.BaseResultMap">
		<association property="projFundInfo" column="fundFlow" resultMap="com.pinde.sci.dao.base.SrmProjFundInfoMapper.BaseResultMap"></association>
		<association property="proj" column="PROJ_FLOW" resultMap="com.pinde.sci.dao.base.PubProjMapper.BaseResultMap"></association>
		<association property="schemeDetail" column="item_flow" resultMap="com.pinde.sci.dao.base.SrmFundSchemeDetailMapper.BaseResultMap"></association>
	</resultMap>
	<resultMap type="com.pinde.sci.model.srm.PubProjExt" id="ProjFundInfoResultMap" extends="com.pinde.sci.dao.base.PubProjMapper.BaseResultMap">
		<association property="projFundInfo" column="fundFlow" resultMap="com.pinde.sci.dao.base.SrmProjFundInfoMapper.BaseResultMap"></association>
	    <association property="user" column="userFlow" resultMap="com.pinde.sci.dao.base.SysUserMapper.BaseResultMap"></association>
	</resultMap>

	<resultMap type="com.pinde.sci.model.srm.FundDetailAndSchemeExt" id="FundDetailExtResultMap" extends="com.pinde.sci.dao.base.SrmProjFundDetailMapper.BaseResultMap">
		<association property="item" column="itemFlow" resultMap="com.pinde.sci.dao.base.SrmFundSchemeDetailMapper.BaseResultMap"></association>
	</resultMap>
    <resultMap type="com.pinde.sci.model.srm.ProjFundFormExt" id="ProjFundFormResultMap"
               extends="com.pinde.sci.dao.base.SrmProjFundFormMapper.BaseResultMap">
        <association property="projFundInfo" column="fundFlow"
                     resultMap="com.pinde.sci.dao.base.SrmProjFundInfoMapper.BaseResultMap"></association>
        <association property="proj" column="PROJ_FLOW"
                     resultMap="com.pinde.sci.dao.base.PubProjMapper.BaseResultMap"></association>
    </resultMap>
	<select id="selectProjFundDetailList" parameterType="com.pinde.sci.model.srm.ProjFundDetailExt" resultMap="ProjFundDetailResultMap">
		SELECT SPFDTEMP.*,pp.proj_Name,pp.proj_No,pp.ACCOUNT_NO,pp.proj_flow,pp.APPLY_USER_FLOW,pp.APPLY_USER_NAME  FROM (
			SELECT * FROM PDSCI.SRM_PROJ_FUND_DETAIL SPFD 
				<where>
					<if test='fundTypeId!=null and fundTypeId!=""'>
						SPFD.FUND_TYPE_ID='${fundTypeId}'
					</if> 
					<if test='recordStatus!=null and recordStatus!=""'>
						 AND SPFD.RECORD_STATUS=#{recordStatus}
					</if>
					<if test='operStatusId!=null and operStatusId!=""'>
						AND SPFD.OPER_STATUS_ID='${operStatusId}'
					</if>
					<if test='provideDateTime!=null and provideDateTime!=""'>
						and to_char(to_date(PROVIDE_DATE_TIME,'yyyyMMddHH24miss'),'yyyy-MM-dd') = #{provideDateTime}
					</if>
					<if test="operStatusIds!=null">
					    and SPFD.OPER_STATUS_ID in <foreach collection="operStatusIds" open="(" close=")" separator="," item="item">#{item}</foreach>
					</if>
				</where>
				) SPFDTEMP , 
			PDSCI.SRM_PROJ_FUND_INFO SPFI , 
			PDSCI.SRM_FUND_SCHEME_DETAIL SFSD ,
			PDSCI.PUB_PROJ PP WHERE SPFDTEMP.FUND_FLOW=SPFI.FUND_FLOW AND SPFI.PROJ_FLOW=PP.PROJ_FLOW AND SPFDTEMP.ITEM_FLOW=SFSD.ITEM_FLOW 
			<if test='proj.projName!=null and proj.projName!=""'>
				AND PP.PROJ_NAME LIKE '%${proj.projName}%'
			</if>
			<if test='proj.applyDeptFlow!=null and proj.applyDeptFlow!=""'>
				AND PP.APPLY_DEPT_FLOW=#{proj.applyDeptFlow}
			</if>
			<if test='proj.projDeclarerFlow!=null and proj.projDeclarerFlow!=""'>
				AND PP.PROJ_DECLARER_FLOW=#{proj.projDeclarerFlow}
			</if>
			<if test='proj.accountNo!=null and proj.accountNo!=""'>
				AND PP.ACCOUNT_NO like '%${proj.accountNo}%'
			</if>
			<if test='proj.projNo!=null and proj.projNo!=""'>
				AND PP.PROJ_NO like '%${proj.projNo}%'
			</if>
			<if test='proj.projTypeId!=null and proj.projTypeId!=""'>
			    AND PP.PROJ_TYPE_ID = '${proj.projTypeId}'
			</if>
			<if test='proj.applyUserName!=null and proj.applyUserName!=""'>
				AND PP.APPLY_USER_NAME LIKE '%${proj.applyUserName}%'
			</if>
			<if test='proj.applyOrgFlow!=null and proj.applyOrgFlow!=""'>
				AND PP.APPLY_ORG_FLOW='${proj.applyOrgFlow}'
			</if>
	</select>

	<select id="selectProjFundInfoList" parameterType="com.pinde.sci.model.srm.PubProjExt" resultMap="ProjFundInfoResultMap">
		SELECT pp.*,SPFI.FUND_FLOW,SPFI.PROJ_SOURCE_ID, SPFI.PROJ_SOURCE_NAME, SPFI.BUDGET_STATUS_ID,
		SPFI.BUDGET_STATUS_NAME, SPFI.DEPT_FLOW, SPFI.AMOUNT_FUND, SPFI.GOVE_FUND, SPFI.ORG_FUND,
		SPFI.BUDGET_AMOUNT, SPFI.SCHEME_FLOW,SPFI.REALITY_AMOUNT, SPFI.YET_PAYMENT_AMOUNT, SPFI.REALITY_BALANCE,
		SPFI.REALITY_GOVE_AMOUNT, SPFI.REALITY_ORG_AMOUNT,SPFI.SURPLUS_FUND,
		SPFI.FUND_INCOME_TIME,SPFI.BUDGET_GOVE, SPFI.BUDGET_ORG, SPFI.YET_PAYMENT_GOVE, SPFI.YET_PAYMENT_ORG
		,su.dept_name
		FROM PDSCI.PUB_PROJ PP , PDSCI.SRM_PROJ_FUND_INFO SPFI , PDSCI.SYS_USER SU WHERE PP.PROJ_FLOW=SPFI.PROJ_FLOW AND PP.APPLY_USER_FLOW=SU.USER_FLOW AND  PP.RECORD_STATUS='Y' AND SPFI.RECORD_STATUS='Y'
		<if test='projFlow!=null and projFlow!=""'>
		    AND PP.PROJ_FLOW=#{projFlow}
		</if>
		<if test='projDeclarerFlow!=null and projDeclarerFlow!=""'>
			and PP.PROJ_DECLARER_FLOW = '${projDeclarerFlow}'
		</if>
		<if test='projSecondSourceId!=null and projSecondSourceId!=""'>
			and PP.PROJ_SECOND_SOURCE_ID = '${projSecondSourceId}'
		</if>
		<if test='projCategoryId!=null and projCategoryId!=""'>
		    AND PP.Proj_Category_Id = '${projCategoryId}'
		</if>
		<if test='projTypeId!=null and projTypeId!=""'>
		    AND PP.PROJ_TYPE_ID = '${projTypeId}'
		</if>
		<if test='accountNo!=null and accountNo!=""'>
			and PP.account_No like '%${accountNo}%'
		</if>
		<if test='projNo!=null and projNo!=""'>
			and PP.PROJ_NO like '%${projNo}%'
		</if>
		<if test='applyUserFlow!=null and applyUserFlow!=""'>
			AND PP.APPLY_USER_FLOW = '${applyUserFlow}'
		</if>
		<if test='projName!=null and projName!=""'>
			AND PP.PROJ_NAME LIKE '%${projName}%'
		</if>
		<if test='applyUserName!=null and applyUserName!=""'>
			AND PP.APPLY_USER_NAME LIKE '%${applyUserName}%'
		</if>
		<if test='applyOrgFlow!=null and applyOrgFlow!=""'>
			AND PP.APPLY_ORG_FLOW = '${applyOrgFlow}'
		</if>
		<if test='applyDeptFlow!=null and applyDeptFlow!=""'>
			AND PP.APPLY_DEPT_FLOW = '${applyDeptFlow}'
		</if>
		<if test='projFundInfo.budgetStatusId!=null and projFundInfo.budgetStatusId!=""'>
			AND SPFI.BUDGET_STATUS_ID='${projFundInfo.budgetStatusId}'
		</if>
		<if test="statusids!=null">
			and SPFI.BUDGET_STATUS_ID in <foreach collection="statusids" open="(" close=")" separator="," item="item">#{item}</foreach>
		</if>
		ORDER BY SPFI.CREATE_TIME DESC
	</select>
	
	<select id="selectProjFundDetailExt" parameterType="string" resultMap="ProjFundDetailResultMap">
		SELECT SFSD.*,SPFDTEMP.*,SPFI.*,PP.* FROM PDSCI.SRM_PROJ_FUND_DETAIL SPFDTEMP,
		    SRM_PROJ_FUND_INFO SPFI, 
			SRM_FUND_SCHEME_DETAIL SFSD ,
			PUB_PROJ PP WHERE SPFDTEMP.FUND_FLOW=SPFI.FUND_FLOW AND SPFI.PROJ_FLOW=PP.PROJ_FLOW AND SPFDTEMP.ITEM_FLOW=SFSD.ITEM_FLOW
			and  SPFDTEMP.fund_detail_flow = #{fundDetailFlow}
	</select>

    <select id="selectProjFundFormList" parameterType="com.pinde.sci.model.srm.ProjFundFormExt"
            resultMap="ProjFundFormResultMap">
        SELECT * FROM (
        SELECT * FROM PDSCI.SRM_PROJ_FUND_FORM SPFF
        <where>
            <if test='recordStatus!=null and recordStatus!=""'>
                SPFF.RECORD_STATUS=#{recordStatus}
            </if>
            <if test='operStatusId!=null and operStatusId!=""'>
                AND SPFF.OPER_STATUS_ID=#{operStatusId}
            </if>
            <if test='provideDateTime!=null and provideDateTime!=""'>
                and to_char(to_date(PROVIDE_DATE_TIME,'yyyyMMddHH24miss'),'yyyy-MM-dd') = #{provideDateTime}
            </if>
            <if test="operStatusIds!=null">
                and SPFF.OPER_STATUS_ID in
                <foreach collection="operStatusIds" open="(" close=")" separator="," item="item">#{item}</foreach>
            </if>
        </where>
        ) SPFFTEMP ,
        PDSCI.SRM_PROJ_FUND_INFO SPFI ,
        PDSCI.PUB_PROJ PP WHERE SPFFTEMP.FUND_FLOW=SPFI.FUND_FLOW AND SPFI.PROJ_FLOW=PP.PROJ_FLOW
        <if test='proj.projName!=null and proj.projName!=""'>
            AND PP.PROJ_NAME LIKE '%${proj.projName}%'
        </if>
        <if test='proj.projTypeId!=null and proj.projTypeId!=""'>
            AND PP.PROJ_TYPE_ID = '${proj.projTypeId}'
        </if>
        <if test='proj.applyUserName!=null and proj.applyUserName!=""'>
            AND PP.APPLY_USER_NAME LIKE '%${proj.applyUserName}%'
        </if>
        <if test='proj.applyOrgFlow!=null and proj.applyOrgFlow!=""'>
            AND PP.APPLY_ORG_FLOW='${proj.applyOrgFlow}'
        </if>
    </select>

    <select id="selectProjFundFormExt" parameterType="string" resultMap="ProjFundFormResultMap">
        SELECT * FROM PDSCI.SRM_PROJ_FUND_FORM SPFFTEMP,
        SRM_PROJ_FUND_INFO SPFI,
        PUB_PROJ PP WHERE SPFFTEMP.FUND_FLOW=SPFI.FUND_FLOW AND SPFI.PROJ_FLOW=PP.PROJ_FLOW
        and  SPFFTEMP.fund_form_flow = #{fundFormFlow,jdbcType=VARCHAR}
    </select>


	<select id="selectProjFundInfoExtList" parameterType="com.pinde.sci.model.srm.PubProjExt" resultMap="ProjFundInfoResultMap">
		SELECT pp.*,
		SPFI.FUND_FLOW,SPFI.PROJ_SOURCE_ID, SPFI.PROJ_SOURCE_NAME, SPFI.BUDGET_STATUS_ID,
		SPFI.BUDGET_STATUS_NAME, SPFI.DEPT_FLOW, SPFI.AMOUNT_FUND, SPFI.GOVE_FUND, SPFI.ORG_FUND,
		SPFI.BUDGET_AMOUNT, SPFI.SCHEME_FLOW,SPFI.REALITY_AMOUNT, SPFI.YET_PAYMENT_AMOUNT, SPFI.REALITY_BALANCE,
		SPFI.REALITY_GOVE_AMOUNT, SPFI.REALITY_ORG_AMOUNT,SPFI.SURPLUS_FUND,
		SPFI.FUND_INCOME_TIME,SPFI.BUDGET_GOVE, SPFI.BUDGET_ORG, SPFI.YET_PAYMENT_GOVE, SPFI.YET_PAYMENT_ORG
		FROM PDSCI.PUB_PROJ PP , PDSCI.SRM_PROJ_FUND_INFO SPFI , PDSCI.SYS_USER SU
		WHERE PP.PROJ_FLOW=SPFI.PROJ_FLOW AND PP.APPLY_USER_FLOW=SU.USER_FLOW
		AND  PP.RECORD_STATUS='Y' AND SPFI.RECORD_STATUS='Y'
		<if test='projFlow!=null and projFlow!=""'>
			AND PP.PROJ_FLOW=#{projFlow}
		</if>
		<if test='applyDeptFlow!=null and applyDeptFlow!=""'>
			AND PP.APPLY_DEPT_FLOW=#{applyDeptFlow}
		</if>
		<if test='projDeclarerFlow!=null and projDeclarerFlow!=""'>
			AND PP.PROJ_DECLARER_FLOW=#{projDeclarerFlow}
		</if>
		<if test='accountNo!=null and accountNo!=""'>
			AND PP.ACCOUNT_NO like '%${accountNo}%'
		</if>
		<if test='projNo!=null and projNo!=""'>
			AND PP.PROJ_NO like '%${projNo}%'
		</if>
		<if test='planTypeId!=null and planTypeId!=""'>
			AND PP.PLAN_TYPE_ID = #{planTypeId}
		</if>
		<if test='startYear!=null and startYear!=""'>
			and proj_year <![CDATA[ >= ]]> '${startYear}'
		</if>
		<if test='endYear!=null and endYear!=""'>
			and proj_year <![CDATA[ <= ]]> '${endYear}'
		</if>
		<if test='projStageId!=null and projStageId!=""'>
			AND PP.PROJ_STAGE_ID=#{projStageId}
		</if>
		<if test='projStatusId!=null and projStatusId!=""'>
			AND PP.PROJ_STATUS_ID=#{projStatusId}
		</if>
		<if test='projCategoryId!=null and projCategoryId!=""'>
			AND PP.Proj_Category_Id = '${projCategoryId}'
		</if>
		<if test='projTypeId!=null and projTypeId!=""'>
			AND PP.PROJ_TYPE_ID = '${projTypeId}'
		</if>
		<if test='applyUserFlow!=null and applyUserFlow!=""'>
			AND PP.APPLY_USER_FLOW = '${applyUserFlow}'
		</if>
		<if test='projName!=null and projName!=""'>
			AND PP.PROJ_NAME LIKE '%${projName}%'
		</if>
		<if test='applyUserName!=null and applyUserName!=""'>
			AND PP.APPLY_USER_NAME LIKE '%${applyUserName}%'
		</if>
		<if test='applyOrgFlow!=null and applyOrgFlow!=""'>
			AND PP.APPLY_ORG_FLOW = '${applyOrgFlow}'
		</if>
		<if test='projFundInfo.budgetStatusId!=null and projFundInfo.budgetStatusId!=""'>
			AND SPFI.BUDGET_STATUS_ID='${projFundInfo.budgetStatusId}'
		</if>
		<if test="statusids!=null">
			and SPFI.BUDGET_STATUS_ID in <foreach collection="statusids" open="(" close=")" separator="," item="item">#{item}</foreach>
		</if>
		<if test="projStageIds!=null">
			and PP.PROJ_STAGE_ID not in <foreach collection="projStageIds" open="(" close=")" separator="," item="item">#{item}</foreach>
		</if>
		ORDER BY SPFI.CREATE_TIME DESC
	</select>

	<select id="selectReimburseInfoExtList" parameterType="com.pinde.sci.model.srm.PubProjExt" resultMap="ProjFundInfoResultMap">
		SELECT pp.*,
		SPFI.FUND_FLOW,SPFI.PROJ_SOURCE_ID, SPFI.PROJ_SOURCE_NAME, SPFI.BUDGET_STATUS_ID,
		SPFI.BUDGET_STATUS_NAME, SPFI.DEPT_FLOW, SPFI.AMOUNT_FUND, SPFI.GOVE_FUND, SPFI.ORG_FUND,
		SPFI.BUDGET_AMOUNT, SPFI.SCHEME_FLOW,SPFI.REALITY_AMOUNT, SPFI.YET_PAYMENT_AMOUNT, SPFI.REALITY_BALANCE,
		SPFI.REALITY_GOVE_AMOUNT, SPFI.REALITY_ORG_AMOUNT,
		SPFI.FUND_INCOME_TIME,SPFI.BUDGET_GOVE, SPFI.BUDGET_ORG, SPFI.YET_PAYMENT_GOVE, SPFI.YET_PAYMENT_ORG
		FROM PDSCI.PUB_PROJ PP , PDSCI.SRM_PROJ_FUND_INFO SPFI , PDSCI.SYS_USER SU
		WHERE PP.PROJ_FLOW=SPFI.PROJ_FLOW AND PP.APPLY_USER_FLOW=SU.USER_FLOW
		AND  PP.RECORD_STATUS='Y' AND SPFI.RECORD_STATUS='Y'
		<if test='projFlow!=null and projFlow!=""'>
			AND PP.PROJ_FLOW=#{projFlow}
		</if>
		<if test='applyDeptFlow!=null and applyDeptFlow!=""'>
			AND PP.APPLY_DEPT_FLOW=#{applyDeptFlow}
		</if>
		<if test='projDeclarerFlow!=null and projDeclarerFlow!=""'>
			AND PP.PROJ_DECLARER_FLOW=#{projDeclarerFlow}
		</if>
		<if test='accountNo!=null and accountNo!=""'>
			AND PP.ACCOUNT_NO like '%${accountNo}%'
		</if>
		<if test='projNo!=null and projNo!=""'>
			AND PP.PROJ_NO like '%${projNo}%'
		</if>
		<if test='projCategoryId!=null and projCategoryId!=""'>
			AND PP.Proj_Category_Id = '${projCategoryId}'
		</if>
		<if test='projTypeId!=null and projTypeId!=""'>
			AND PP.PROJ_TYPE_ID = '${projTypeId}'
		</if>
		<if test='applyUserFlow!=null and applyUserFlow!=""'>
			AND PP.APPLY_USER_FLOW = '${applyUserFlow}'
		</if>
		<if test='projName!=null and projName!=""'>
			AND PP.PROJ_NAME LIKE '%${projName}%'
		</if>
		<if test='applyUserName!=null and applyUserName!=""'>
			AND PP.APPLY_USER_NAME LIKE '%${applyUserName}%'
		</if>
		<if test='applyOrgFlow!=null and applyOrgFlow!=""'>
			AND PP.APPLY_ORG_FLOW = '${applyOrgFlow}'
		</if>
		AND SPFI.BUDGET_STATUS_ID in ('FirstAudit','SecondAudit')
		ORDER BY SPFI.CREATE_TIME DESC
	</select>
	<!--and exists(
	select SPFD.FUND_DETAIL_FLOW from  PDSCI.SRM_PROJ_FUND_DETAIL SPFD
	where SPFD.fund_Flow = SPFI.fund_Flow
	and SPFD.FUND_TYPE_ID = 'Reimburse'
	AND SPFD.RECORD_STATUS = 'Y'
	<if test="statusids!=null">
		and SPFD.OPER_STATUS_ID in <foreach collection="statusids" open="(" close=")" separator="," item="item">#{item}</foreach>
	</if>
	)-->
	<select id="selectFundDetailExtList" parameterType="java.util.Map" resultMap="FundDetailExtResultMap">
		select sfsd.item_Name,sfsd.SCHEME_NAME, spfd.* from srm_fund_scheme_detail sfsd,srm_proj_fund_detail spfd
		where sfsd.item_flow = spfd.item_flow
		and spfd.record_status = 'Y'
		<if test='fundFlow!=null and fundFlow!=""'>
			and spfd.fund_flow = #{fundFlow}
		</if>
		<if test='fundTypeId!=null and fundTypeId!=""'>
			and spfd.FUND_TYPE_ID = #{fundTypeId}
		</if>
		<if test="statusIds!=null">
			and spfd.OPER_STATUS_ID in <foreach collection="statusIds" open="(" close=")" separator="," item="item">#{item}</foreach>
		</if>
		order by spfd.item_id desc
	</select>

	<select id="selectFundDetailList" parameterType="java.util.Map" resultMap="com.pinde.sci.dao.base.SrmProjFundDetailMapper.BaseResultMap">
		select spfd.*
		from srm_proj_fund_detail spfd
		left join srm_proj_fund_info spfi on spfi.fund_flow = spfd.fund_flow
		left join pub_proj pp on pp.proj_flow = spfi.proj_flow
		where spfd.record_status = 'Y'
		and spfi.record_status = 'Y'
		and pp.record_status = 'Y'
		and spfd.FUND_TYPE_ID in ('Reimburse','Income','Surplus')
		AND SPFD.OPER_STATUS_ID='SecondAudit'

		<if test='startTime!=null and startTime!=""'>
			and spfd.PROVIDE_DATE_TIME &gt;= #{startTime}
		</if>
		<if test='endTime!=null and endTime!=""'>
			and spfd.PROVIDE_DATE_TIME &lt;= #{endTime}
		</if>
		<if test='startMoney!=null and startMoney!=""'>
			and spfd.REALMONEY &gt;= #{startMoney}
		</if>
		<if test='endMoney!=null and endMoney!=""'>
			and spfd.REALMONEY &lt;= #{endMoney}
		</if>

		<if test='applyDeptFlow!=null and applyDeptFlow!=""'>
			AND PP.APPLY_DEPT_FLOW=#{applyDeptFlow}
		</if>
		<if test='projDeclarerFlow!=null and projDeclarerFlow!=""'>
			AND PP.PROJ_DECLARER_FLOW=#{projDeclarerFlow}
		</if>
		<if test='accountNo!=null and accountNo!=""'>
			AND PP.ACCOUNT_NO like '%${accountNo}%'
		</if>
		<if test='projNo!=null and projNo!=""'>
			AND PP.PROJ_NO like '%${projNo}%'
		</if>
		<if test='projTypeId!=null and projTypeId!=""'>
			AND PP.PROJ_TYPE_ID = '${projTypeId}'
		</if>
		<if test='applyUserName!=null and applyUserName!=""'>
			AND PP.APPLY_USER_NAME LIKE '%${applyUserName}%'
		</if>
		<if test='applyOrgFlow!=null and applyOrgFlow!=""'>
			AND PP.APPLY_ORG_FLOW='${applyOrgFlow}'
		</if>
		order by spfd.FUND_FLOW desc,spfd.PROVIDE_DATE_TIME asc
	</select>

	<select id="selectFundInfoList" parameterType="java.util.Map" resultMap="com.pinde.sci.dao.base.SrmProjFundInfoMapper.BaseResultMap">
		select spfi.*
		from srm_proj_fund_info spfi
		left join pub_proj pp on pp.proj_flow = spfi.proj_flow
		where spfi.record_status = 'Y'
		and pp.record_status = 'Y'

		<if test='projNo!=null and projNo!=""'>
			AND PP.PROJ_NO = #{projNo}
		</if>
		<if test='applyOrgFlow!=null and applyOrgFlow!=""'>
			AND PP.APPLY_ORG_FLOW=#{applyOrgFlow}
		</if>
		order by spfi.CREATE_TIME desc
	</select>
</mapper>