<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.srm.RegisProjFundExtMapper" >
    <resultMap type="com.pinde.sci.model.srm.RegisProjFundExt"  id="RegisProjFundExtResultMap" extends="com.pinde.sci.dao.base.PubProjMapper.BaseResultMap">
        <result column="fundDetailNum" jdbcType="DECIMAL" property="fundDetailNum" />
        <association property="projFundInfo" column="projFlow" resultMap="com.pinde.sci.dao.base.SrmProjFundInfoMapper.BaseResultMap"></association>
    </resultMap>

    <select id="searchProjFundExt" parameterType="java.util.Map" resultMap="RegisProjFundExtResultMap">
        SELECT spfi.FUND_FLOW,spfi.AMOUNT_FUND,spfi.GOVE_FUND,spfi.ORG_FUND,spfi.REALITY_BALANCE,pp.*,
        (SELECT count(*) from SRM_PROJ_FUND_DETAIL SPRD
        WHERE SPRD.FUND_FLOW = spfi.FUND_FLOW
        AND SPRD.RECORD_STATUS = 'Y'
        and SPRD.FUND_TYPE_ID='Reimburse'
        <if test='detailStatusId!=null and detailStatusId!=""'>
            AND SPRD.OPER_STATUS_ID = #{detailStatusId}
        </if>
        ) fundDetailNum FROM
        SRM_PROJ_FUND_INFO SPFI,
        PUB_PROJ PP
        WHERE SPFI.PROJ_FLOW=PP.PROJ_FLOW
        and SPFI.RECORD_STATUS = 'Y'
        and PP.RECORD_STATUS = 'Y'
        <if test='projName!=null and projName!=""'>
            AND PP.PROJ_NAME LIKE '%${projName}%'
        </if>
        <if test='projTypeId!=null and projTypeId!=""'>
            AND PP.PROJ_TYPE_ID = #{projTypeId}
        </if>
        <if test='applyUserFlow!=null and applyUserFlow!=""'>
            AND PP.APPLY_USER_FLOW = #{applyUserFlow}
        </if>
        <if test='applyUserName!=null and applyUserName!=""'>
            AND PP.APPLY_USER_NAME LIKE '%${applyUserName}%'
        </if>
        <if test='projNo!=null and projNo!=""'>
            AND PP.PROJ_NO LIKE '%${projNo}%'
        </if>
        <if test='projYear!=null and projYear!=""'>
            AND PP.PROJ_YEAR = #{projYear}
        </if>
        <if test='projSubTypeId!=null and projSubTypeId!=""'>
            AND PP.PROJ_SUB_TYPE_ID = #{projSubTypeId}
        </if>
        <if test='projDeclarerFlow!=null and projDeclarerFlow!=""'>
            AND PP.PROJ_DECLARER_FLOW = #{projDeclarerFlow}
        </if>
        <if test='applyDeptFlow!=null and applyDeptFlow!=""'>
            AND PP.APPLY_DEPT_FLOW = #{applyDeptFlow}
        </if>
        <if test='branchId!=null and branchId!=""'>
            AND PP.BRANCH_ID = #{branchId}
        </if>
        <if test='applyUserEmpnum !=null and applyUserEmpnum!=""'>
            AND PP.APPLY_USER_EMPNUM LIKE '%${applyUserEmpnum}%'
        </if>
        <if test='projStatusId !=null and projStatusId!=""'>
            AND PP.PROJ_STATUS_ID = #{projStatusId}
        </if>
    </select>
</mapper>