<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.AidProjMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.AidProj" >
    <id column="PROJ_FLOW" property="projFlow" jdbcType="VARCHAR" />
    <result column="PROJ_YEAR" property="projYear" jdbcType="VARCHAR" />
    <result column="PROJ_DECLARER" property="projDeclarer" jdbcType="VARCHAR" />
    <result column="PROJ_NAME" property="projName" jdbcType="VARCHAR" />
    <result column="PROJ_START_TIME" property="projStartTime" jdbcType="VARCHAR" />
    <result column="PROJ_END_TIME" property="projEndTime" jdbcType="VARCHAR" />
    <result column="PROJ_CATEGORY_ID" property="projCategoryId" jdbcType="VARCHAR" />
    <result column="PROJ_CATEGORY_NAME" property="projCategoryName" jdbcType="VARCHAR" />
    <result column="PROJ_NO" property="projNo" jdbcType="VARCHAR" />
    <result column="PROJ_TYPE_ID" property="projTypeId" jdbcType="VARCHAR" />
    <result column="PROJ_TYPE_NAME" property="projTypeName" jdbcType="VARCHAR" />
    <result column="APPLY_USER_FLOW" property="applyUserFlow" jdbcType="VARCHAR" />
    <result column="APPLY_USER_NAME" property="applyUserName" jdbcType="VARCHAR" />
    <result column="APPLY_USER_PHONE" property="applyUserPhone" jdbcType="VARCHAR" />
    <result column="APPLY_USER_EMAIL" property="applyUserEmail" jdbcType="VARCHAR" />
    <result column="APPLY_ORG_FLOW" property="applyOrgFlow" jdbcType="VARCHAR" />
    <result column="APPLY_ORG_NAME" property="applyOrgName" jdbcType="VARCHAR" />
    <result column="CHARGE_ORG_NAME" property="chargeOrgName" jdbcType="VARCHAR" />
    <result column="TOTAL_INVESTMENT" property="totalInvestment" jdbcType="VARCHAR" />
    <result column="COUNTRY_INVESTMENT" property="countryInvestment" jdbcType="VARCHAR" />
    <result column="CHARGE_INVESTMENT" property="chargeInvestment" jdbcType="VARCHAR" />
    <result column="ORG_INVESTMENT" property="orgInvestment" jdbcType="VARCHAR" />
    <result column="STATUS_ID" property="statusId" jdbcType="VARCHAR" />
    <result column="STATUS_NAME" property="statusName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="PROJ_SUB_CATEGORY_ID" property="projSubCategoryId" jdbcType="VARCHAR" />
    <result column="PROJ_SUB_CATEGORY_NAME" property="projSubCategoryName" jdbcType="VARCHAR" />
    <result column="CHARGE_ORG_FLOW" property="chargeOrgFlow" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pinde.sci.model.mo.AidProj" extends="BaseResultMap" >
    <result column="PROJ_INFO" property="projInfo" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PROJ_FLOW, PROJ_YEAR, PROJ_DECLARER, PROJ_NAME, PROJ_START_TIME, PROJ_END_TIME, PROJ_CATEGORY_ID, 
    PROJ_CATEGORY_NAME, PROJ_NO, PROJ_TYPE_ID, PROJ_TYPE_NAME, APPLY_USER_FLOW, APPLY_USER_NAME, 
    APPLY_USER_PHONE, APPLY_USER_EMAIL, APPLY_ORG_FLOW, APPLY_ORG_NAME, CHARGE_ORG_NAME, 
    TOTAL_INVESTMENT, COUNTRY_INVESTMENT, CHARGE_INVESTMENT, ORG_INVESTMENT, STATUS_ID, 
    STATUS_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
    PROJ_SUB_CATEGORY_ID, PROJ_SUB_CATEGORY_NAME, CHARGE_ORG_FLOW
  </sql>
  <sql id="Blob_Column_List" >
    PROJ_INFO
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pinde.sci.model.mo.AidProjExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.AID_PROJ
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.AidProjExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.AID_PROJ
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.AID_PROJ
    where PROJ_FLOW = #{projFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.AID_PROJ
    where PROJ_FLOW = #{projFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.AidProjExample" >
    delete from PDSCI.AID_PROJ
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.AidProj" >
    insert into PDSCI.AID_PROJ (PROJ_FLOW, PROJ_YEAR, PROJ_DECLARER, 
      PROJ_NAME, PROJ_START_TIME, PROJ_END_TIME, 
      PROJ_CATEGORY_ID, PROJ_CATEGORY_NAME, PROJ_NO, 
      PROJ_TYPE_ID, PROJ_TYPE_NAME, APPLY_USER_FLOW, 
      APPLY_USER_NAME, APPLY_USER_PHONE, APPLY_USER_EMAIL, 
      APPLY_ORG_FLOW, APPLY_ORG_NAME, CHARGE_ORG_NAME, 
      TOTAL_INVESTMENT, COUNTRY_INVESTMENT, CHARGE_INVESTMENT, 
      ORG_INVESTMENT, STATUS_ID, STATUS_NAME, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, PROJ_SUB_CATEGORY_ID, 
      PROJ_SUB_CATEGORY_NAME, CHARGE_ORG_FLOW, PROJ_INFO
      )
    values (#{projFlow,jdbcType=VARCHAR}, #{projYear,jdbcType=VARCHAR}, #{projDeclarer,jdbcType=VARCHAR}, 
      #{projName,jdbcType=VARCHAR}, #{projStartTime,jdbcType=VARCHAR}, #{projEndTime,jdbcType=VARCHAR}, 
      #{projCategoryId,jdbcType=VARCHAR}, #{projCategoryName,jdbcType=VARCHAR}, #{projNo,jdbcType=VARCHAR}, 
      #{projTypeId,jdbcType=VARCHAR}, #{projTypeName,jdbcType=VARCHAR}, #{applyUserFlow,jdbcType=VARCHAR}, 
      #{applyUserName,jdbcType=VARCHAR}, #{applyUserPhone,jdbcType=VARCHAR}, #{applyUserEmail,jdbcType=VARCHAR}, 
      #{applyOrgFlow,jdbcType=VARCHAR}, #{applyOrgName,jdbcType=VARCHAR}, #{chargeOrgName,jdbcType=VARCHAR}, 
      #{totalInvestment,jdbcType=VARCHAR}, #{countryInvestment,jdbcType=VARCHAR}, #{chargeInvestment,jdbcType=VARCHAR}, 
      #{orgInvestment,jdbcType=VARCHAR}, #{statusId,jdbcType=VARCHAR}, #{statusName,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{projSubCategoryId,jdbcType=VARCHAR}, 
      #{projSubCategoryName,jdbcType=VARCHAR}, #{chargeOrgFlow,jdbcType=VARCHAR}, #{projInfo,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.AidProj" >
    insert into PDSCI.AID_PROJ
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projFlow != null" >
        PROJ_FLOW,
      </if>
      <if test="projYear != null" >
        PROJ_YEAR,
      </if>
      <if test="projDeclarer != null" >
        PROJ_DECLARER,
      </if>
      <if test="projName != null" >
        PROJ_NAME,
      </if>
      <if test="projStartTime != null" >
        PROJ_START_TIME,
      </if>
      <if test="projEndTime != null" >
        PROJ_END_TIME,
      </if>
      <if test="projCategoryId != null" >
        PROJ_CATEGORY_ID,
      </if>
      <if test="projCategoryName != null" >
        PROJ_CATEGORY_NAME,
      </if>
      <if test="projNo != null" >
        PROJ_NO,
      </if>
      <if test="projTypeId != null" >
        PROJ_TYPE_ID,
      </if>
      <if test="projTypeName != null" >
        PROJ_TYPE_NAME,
      </if>
      <if test="applyUserFlow != null" >
        APPLY_USER_FLOW,
      </if>
      <if test="applyUserName != null" >
        APPLY_USER_NAME,
      </if>
      <if test="applyUserPhone != null" >
        APPLY_USER_PHONE,
      </if>
      <if test="applyUserEmail != null" >
        APPLY_USER_EMAIL,
      </if>
      <if test="applyOrgFlow != null" >
        APPLY_ORG_FLOW,
      </if>
      <if test="applyOrgName != null" >
        APPLY_ORG_NAME,
      </if>
      <if test="chargeOrgName != null" >
        CHARGE_ORG_NAME,
      </if>
      <if test="totalInvestment != null" >
        TOTAL_INVESTMENT,
      </if>
      <if test="countryInvestment != null" >
        COUNTRY_INVESTMENT,
      </if>
      <if test="chargeInvestment != null" >
        CHARGE_INVESTMENT,
      </if>
      <if test="orgInvestment != null" >
        ORG_INVESTMENT,
      </if>
      <if test="statusId != null" >
        STATUS_ID,
      </if>
      <if test="statusName != null" >
        STATUS_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="projSubCategoryId != null" >
        PROJ_SUB_CATEGORY_ID,
      </if>
      <if test="projSubCategoryName != null" >
        PROJ_SUB_CATEGORY_NAME,
      </if>
      <if test="chargeOrgFlow != null" >
        CHARGE_ORG_FLOW,
      </if>
      <if test="projInfo != null" >
        PROJ_INFO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projFlow != null" >
        #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="projYear != null" >
        #{projYear,jdbcType=VARCHAR},
      </if>
      <if test="projDeclarer != null" >
        #{projDeclarer,jdbcType=VARCHAR},
      </if>
      <if test="projName != null" >
        #{projName,jdbcType=VARCHAR},
      </if>
      <if test="projStartTime != null" >
        #{projStartTime,jdbcType=VARCHAR},
      </if>
      <if test="projEndTime != null" >
        #{projEndTime,jdbcType=VARCHAR},
      </if>
      <if test="projCategoryId != null" >
        #{projCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="projCategoryName != null" >
        #{projCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="projNo != null" >
        #{projNo,jdbcType=VARCHAR},
      </if>
      <if test="projTypeId != null" >
        #{projTypeId,jdbcType=VARCHAR},
      </if>
      <if test="projTypeName != null" >
        #{projTypeName,jdbcType=VARCHAR},
      </if>
      <if test="applyUserFlow != null" >
        #{applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyUserName != null" >
        #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="applyUserPhone != null" >
        #{applyUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="applyUserEmail != null" >
        #{applyUserEmail,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgFlow != null" >
        #{applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgName != null" >
        #{applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="chargeOrgName != null" >
        #{chargeOrgName,jdbcType=VARCHAR},
      </if>
      <if test="totalInvestment != null" >
        #{totalInvestment,jdbcType=VARCHAR},
      </if>
      <if test="countryInvestment != null" >
        #{countryInvestment,jdbcType=VARCHAR},
      </if>
      <if test="chargeInvestment != null" >
        #{chargeInvestment,jdbcType=VARCHAR},
      </if>
      <if test="orgInvestment != null" >
        #{orgInvestment,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null" >
        #{statusId,jdbcType=VARCHAR},
      </if>
      <if test="statusName != null" >
        #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="projSubCategoryId != null" >
        #{projSubCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="projSubCategoryName != null" >
        #{projSubCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="chargeOrgFlow != null" >
        #{chargeOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="projInfo != null" >
        #{projInfo,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.AidProjExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.AID_PROJ
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.AID_PROJ
    <set >
      <if test="record.projFlow != null" >
        PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projYear != null" >
        PROJ_YEAR = #{record.projYear,jdbcType=VARCHAR},
      </if>
      <if test="record.projDeclarer != null" >
        PROJ_DECLARER = #{record.projDeclarer,jdbcType=VARCHAR},
      </if>
      <if test="record.projName != null" >
        PROJ_NAME = #{record.projName,jdbcType=VARCHAR},
      </if>
      <if test="record.projStartTime != null" >
        PROJ_START_TIME = #{record.projStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.projEndTime != null" >
        PROJ_END_TIME = #{record.projEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.projCategoryId != null" >
        PROJ_CATEGORY_ID = #{record.projCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.projCategoryName != null" >
        PROJ_CATEGORY_NAME = #{record.projCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.projNo != null" >
        PROJ_NO = #{record.projNo,jdbcType=VARCHAR},
      </if>
      <if test="record.projTypeId != null" >
        PROJ_TYPE_ID = #{record.projTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.projTypeName != null" >
        PROJ_TYPE_NAME = #{record.projTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserFlow != null" >
        APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserName != null" >
        APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserPhone != null" >
        APPLY_USER_PHONE = #{record.applyUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserEmail != null" >
        APPLY_USER_EMAIL = #{record.applyUserEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.applyOrgFlow != null" >
        APPLY_ORG_FLOW = #{record.applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.applyOrgName != null" >
        APPLY_ORG_NAME = #{record.applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeOrgName != null" >
        CHARGE_ORG_NAME = #{record.chargeOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.totalInvestment != null" >
        TOTAL_INVESTMENT = #{record.totalInvestment,jdbcType=VARCHAR},
      </if>
      <if test="record.countryInvestment != null" >
        COUNTRY_INVESTMENT = #{record.countryInvestment,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeInvestment != null" >
        CHARGE_INVESTMENT = #{record.chargeInvestment,jdbcType=VARCHAR},
      </if>
      <if test="record.orgInvestment != null" >
        ORG_INVESTMENT = #{record.orgInvestment,jdbcType=VARCHAR},
      </if>
      <if test="record.statusId != null" >
        STATUS_ID = #{record.statusId,jdbcType=VARCHAR},
      </if>
      <if test="record.statusName != null" >
        STATUS_NAME = #{record.statusName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projSubCategoryId != null" >
        PROJ_SUB_CATEGORY_ID = #{record.projSubCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.projSubCategoryName != null" >
        PROJ_SUB_CATEGORY_NAME = #{record.projSubCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeOrgFlow != null" >
        CHARGE_ORG_FLOW = #{record.chargeOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projInfo != null" >
        PROJ_INFO = #{record.projInfo,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update PDSCI.AID_PROJ
    set PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      PROJ_YEAR = #{record.projYear,jdbcType=VARCHAR},
      PROJ_DECLARER = #{record.projDeclarer,jdbcType=VARCHAR},
      PROJ_NAME = #{record.projName,jdbcType=VARCHAR},
      PROJ_START_TIME = #{record.projStartTime,jdbcType=VARCHAR},
      PROJ_END_TIME = #{record.projEndTime,jdbcType=VARCHAR},
      PROJ_CATEGORY_ID = #{record.projCategoryId,jdbcType=VARCHAR},
      PROJ_CATEGORY_NAME = #{record.projCategoryName,jdbcType=VARCHAR},
      PROJ_NO = #{record.projNo,jdbcType=VARCHAR},
      PROJ_TYPE_ID = #{record.projTypeId,jdbcType=VARCHAR},
      PROJ_TYPE_NAME = #{record.projTypeName,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      APPLY_USER_PHONE = #{record.applyUserPhone,jdbcType=VARCHAR},
      APPLY_USER_EMAIL = #{record.applyUserEmail,jdbcType=VARCHAR},
      APPLY_ORG_FLOW = #{record.applyOrgFlow,jdbcType=VARCHAR},
      APPLY_ORG_NAME = #{record.applyOrgName,jdbcType=VARCHAR},
      CHARGE_ORG_NAME = #{record.chargeOrgName,jdbcType=VARCHAR},
      TOTAL_INVESTMENT = #{record.totalInvestment,jdbcType=VARCHAR},
      COUNTRY_INVESTMENT = #{record.countryInvestment,jdbcType=VARCHAR},
      CHARGE_INVESTMENT = #{record.chargeInvestment,jdbcType=VARCHAR},
      ORG_INVESTMENT = #{record.orgInvestment,jdbcType=VARCHAR},
      STATUS_ID = #{record.statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{record.statusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      PROJ_SUB_CATEGORY_ID = #{record.projSubCategoryId,jdbcType=VARCHAR},
      PROJ_SUB_CATEGORY_NAME = #{record.projSubCategoryName,jdbcType=VARCHAR},
      CHARGE_ORG_FLOW = #{record.chargeOrgFlow,jdbcType=VARCHAR},
      PROJ_INFO = #{record.projInfo,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.AID_PROJ
    set PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      PROJ_YEAR = #{record.projYear,jdbcType=VARCHAR},
      PROJ_DECLARER = #{record.projDeclarer,jdbcType=VARCHAR},
      PROJ_NAME = #{record.projName,jdbcType=VARCHAR},
      PROJ_START_TIME = #{record.projStartTime,jdbcType=VARCHAR},
      PROJ_END_TIME = #{record.projEndTime,jdbcType=VARCHAR},
      PROJ_CATEGORY_ID = #{record.projCategoryId,jdbcType=VARCHAR},
      PROJ_CATEGORY_NAME = #{record.projCategoryName,jdbcType=VARCHAR},
      PROJ_NO = #{record.projNo,jdbcType=VARCHAR},
      PROJ_TYPE_ID = #{record.projTypeId,jdbcType=VARCHAR},
      PROJ_TYPE_NAME = #{record.projTypeName,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      APPLY_USER_PHONE = #{record.applyUserPhone,jdbcType=VARCHAR},
      APPLY_USER_EMAIL = #{record.applyUserEmail,jdbcType=VARCHAR},
      APPLY_ORG_FLOW = #{record.applyOrgFlow,jdbcType=VARCHAR},
      APPLY_ORG_NAME = #{record.applyOrgName,jdbcType=VARCHAR},
      CHARGE_ORG_NAME = #{record.chargeOrgName,jdbcType=VARCHAR},
      TOTAL_INVESTMENT = #{record.totalInvestment,jdbcType=VARCHAR},
      COUNTRY_INVESTMENT = #{record.countryInvestment,jdbcType=VARCHAR},
      CHARGE_INVESTMENT = #{record.chargeInvestment,jdbcType=VARCHAR},
      ORG_INVESTMENT = #{record.orgInvestment,jdbcType=VARCHAR},
      STATUS_ID = #{record.statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{record.statusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      PROJ_SUB_CATEGORY_ID = #{record.projSubCategoryId,jdbcType=VARCHAR},
      PROJ_SUB_CATEGORY_NAME = #{record.projSubCategoryName,jdbcType=VARCHAR},
      CHARGE_ORG_FLOW = #{record.chargeOrgFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.AidProj" >
    update PDSCI.AID_PROJ
    <set >
      <if test="projYear != null" >
        PROJ_YEAR = #{projYear,jdbcType=VARCHAR},
      </if>
      <if test="projDeclarer != null" >
        PROJ_DECLARER = #{projDeclarer,jdbcType=VARCHAR},
      </if>
      <if test="projName != null" >
        PROJ_NAME = #{projName,jdbcType=VARCHAR},
      </if>
      <if test="projStartTime != null" >
        PROJ_START_TIME = #{projStartTime,jdbcType=VARCHAR},
      </if>
      <if test="projEndTime != null" >
        PROJ_END_TIME = #{projEndTime,jdbcType=VARCHAR},
      </if>
      <if test="projCategoryId != null" >
        PROJ_CATEGORY_ID = #{projCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="projCategoryName != null" >
        PROJ_CATEGORY_NAME = #{projCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="projNo != null" >
        PROJ_NO = #{projNo,jdbcType=VARCHAR},
      </if>
      <if test="projTypeId != null" >
        PROJ_TYPE_ID = #{projTypeId,jdbcType=VARCHAR},
      </if>
      <if test="projTypeName != null" >
        PROJ_TYPE_NAME = #{projTypeName,jdbcType=VARCHAR},
      </if>
      <if test="applyUserFlow != null" >
        APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyUserName != null" >
        APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="applyUserPhone != null" >
        APPLY_USER_PHONE = #{applyUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="applyUserEmail != null" >
        APPLY_USER_EMAIL = #{applyUserEmail,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgFlow != null" >
        APPLY_ORG_FLOW = #{applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgName != null" >
        APPLY_ORG_NAME = #{applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="chargeOrgName != null" >
        CHARGE_ORG_NAME = #{chargeOrgName,jdbcType=VARCHAR},
      </if>
      <if test="totalInvestment != null" >
        TOTAL_INVESTMENT = #{totalInvestment,jdbcType=VARCHAR},
      </if>
      <if test="countryInvestment != null" >
        COUNTRY_INVESTMENT = #{countryInvestment,jdbcType=VARCHAR},
      </if>
      <if test="chargeInvestment != null" >
        CHARGE_INVESTMENT = #{chargeInvestment,jdbcType=VARCHAR},
      </if>
      <if test="orgInvestment != null" >
        ORG_INVESTMENT = #{orgInvestment,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null" >
        STATUS_ID = #{statusId,jdbcType=VARCHAR},
      </if>
      <if test="statusName != null" >
        STATUS_NAME = #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="projSubCategoryId != null" >
        PROJ_SUB_CATEGORY_ID = #{projSubCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="projSubCategoryName != null" >
        PROJ_SUB_CATEGORY_NAME = #{projSubCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="chargeOrgFlow != null" >
        CHARGE_ORG_FLOW = #{chargeOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="projInfo != null" >
        PROJ_INFO = #{projInfo,jdbcType=CLOB},
      </if>
    </set>
    where PROJ_FLOW = #{projFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.sci.model.mo.AidProj" >
    update PDSCI.AID_PROJ
    set PROJ_YEAR = #{projYear,jdbcType=VARCHAR},
      PROJ_DECLARER = #{projDeclarer,jdbcType=VARCHAR},
      PROJ_NAME = #{projName,jdbcType=VARCHAR},
      PROJ_START_TIME = #{projStartTime,jdbcType=VARCHAR},
      PROJ_END_TIME = #{projEndTime,jdbcType=VARCHAR},
      PROJ_CATEGORY_ID = #{projCategoryId,jdbcType=VARCHAR},
      PROJ_CATEGORY_NAME = #{projCategoryName,jdbcType=VARCHAR},
      PROJ_NO = #{projNo,jdbcType=VARCHAR},
      PROJ_TYPE_ID = #{projTypeId,jdbcType=VARCHAR},
      PROJ_TYPE_NAME = #{projTypeName,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      APPLY_USER_PHONE = #{applyUserPhone,jdbcType=VARCHAR},
      APPLY_USER_EMAIL = #{applyUserEmail,jdbcType=VARCHAR},
      APPLY_ORG_FLOW = #{applyOrgFlow,jdbcType=VARCHAR},
      APPLY_ORG_NAME = #{applyOrgName,jdbcType=VARCHAR},
      CHARGE_ORG_NAME = #{chargeOrgName,jdbcType=VARCHAR},
      TOTAL_INVESTMENT = #{totalInvestment,jdbcType=VARCHAR},
      COUNTRY_INVESTMENT = #{countryInvestment,jdbcType=VARCHAR},
      CHARGE_INVESTMENT = #{chargeInvestment,jdbcType=VARCHAR},
      ORG_INVESTMENT = #{orgInvestment,jdbcType=VARCHAR},
      STATUS_ID = #{statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{statusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      PROJ_SUB_CATEGORY_ID = #{projSubCategoryId,jdbcType=VARCHAR},
      PROJ_SUB_CATEGORY_NAME = #{projSubCategoryName,jdbcType=VARCHAR},
      CHARGE_ORG_FLOW = #{chargeOrgFlow,jdbcType=VARCHAR},
      PROJ_INFO = #{projInfo,jdbcType=CLOB}
    where PROJ_FLOW = #{projFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.AidProj" >
    update PDSCI.AID_PROJ
    set PROJ_YEAR = #{projYear,jdbcType=VARCHAR},
      PROJ_DECLARER = #{projDeclarer,jdbcType=VARCHAR},
      PROJ_NAME = #{projName,jdbcType=VARCHAR},
      PROJ_START_TIME = #{projStartTime,jdbcType=VARCHAR},
      PROJ_END_TIME = #{projEndTime,jdbcType=VARCHAR},
      PROJ_CATEGORY_ID = #{projCategoryId,jdbcType=VARCHAR},
      PROJ_CATEGORY_NAME = #{projCategoryName,jdbcType=VARCHAR},
      PROJ_NO = #{projNo,jdbcType=VARCHAR},
      PROJ_TYPE_ID = #{projTypeId,jdbcType=VARCHAR},
      PROJ_TYPE_NAME = #{projTypeName,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      APPLY_USER_PHONE = #{applyUserPhone,jdbcType=VARCHAR},
      APPLY_USER_EMAIL = #{applyUserEmail,jdbcType=VARCHAR},
      APPLY_ORG_FLOW = #{applyOrgFlow,jdbcType=VARCHAR},
      APPLY_ORG_NAME = #{applyOrgName,jdbcType=VARCHAR},
      CHARGE_ORG_NAME = #{chargeOrgName,jdbcType=VARCHAR},
      TOTAL_INVESTMENT = #{totalInvestment,jdbcType=VARCHAR},
      COUNTRY_INVESTMENT = #{countryInvestment,jdbcType=VARCHAR},
      CHARGE_INVESTMENT = #{chargeInvestment,jdbcType=VARCHAR},
      ORG_INVESTMENT = #{orgInvestment,jdbcType=VARCHAR},
      STATUS_ID = #{statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{statusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      PROJ_SUB_CATEGORY_ID = #{projSubCategoryId,jdbcType=VARCHAR},
      PROJ_SUB_CATEGORY_NAME = #{projSubCategoryName,jdbcType=VARCHAR},
      CHARGE_ORG_FLOW = #{chargeOrgFlow,jdbcType=VARCHAR}
    where PROJ_FLOW = #{projFlow,jdbcType=VARCHAR}
  </update>
</mapper>