<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.AidTalentsMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.AidTalents" >
    <id column="TALENTS_FLOW" property="talentsFlow" jdbcType="VARCHAR" />
    <result column="USER_FLOW" property="userFlow" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_BIRTHDAY" property="userBirthday" jdbcType="VARCHAR" />
    <result column="SEX_ID" property="sexId" jdbcType="VARCHAR" />
    <result column="SEX_NAME" property="sexName" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="DEPT_FLOW" property="deptFlow" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="TITLE_ID" property="titleId" jdbcType="VARCHAR" />
    <result column="TITLE_NAME" property="titleName" jdbcType="VARCHAR" />
    <result column="POST_ID" property="postId" jdbcType="VARCHAR" />
    <result column="POST_NAME" property="postName" jdbcType="VARCHAR" />
    <result column="STUDY_NAME" property="studyName" jdbcType="VARCHAR" />
    <result column="STUDY_COUNTRY" property="studyCountry" jdbcType="VARCHAR" />
    <result column="START_DATE" property="startDate" jdbcType="VARCHAR" />
    <result column="END_DATE" property="endDate" jdbcType="VARCHAR" />
    <result column="APPLY_FEE" property="applyFee" jdbcType="VARCHAR" />
    <result column="STATUS_ID" property="statusId" jdbcType="VARCHAR" />
    <result column="STATUS_NAME" property="statusName" jdbcType="VARCHAR" />
    <result column="ASSESS_STATUS_ID" property="assessStatusId" jdbcType="VARCHAR" />
    <result column="ASSESS_STATUS_NAME" property="assessStatusName" jdbcType="VARCHAR" />
    <result column="APPLY_DATE" property="applyDate" jdbcType="VARCHAR" />
    <result column="ASSESS_DATE" property="assessDate" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pinde.sci.model.mo.AidTalents" extends="BaseResultMap" >
    <result column="TALENTS_CONTENT" property="talentsContent" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TALENTS_FLOW, USER_FLOW, USER_NAME, USER_BIRTHDAY, SEX_ID, SEX_NAME, ORG_FLOW, ORG_NAME, 
    DEPT_FLOW, DEPT_NAME, TITLE_ID, TITLE_NAME, POST_ID, POST_NAME, STUDY_NAME, STUDY_COUNTRY, 
    START_DATE, END_DATE, APPLY_FEE, STATUS_ID, STATUS_NAME, ASSESS_STATUS_ID, ASSESS_STATUS_NAME, 
    APPLY_DATE, ASSESS_DATE, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
    MODIFY_USER_FLOW
  </sql>
  <sql id="Blob_Column_List" >
    TALENTS_CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pinde.sci.model.mo.AidTalentsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.AID_TALENTS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.AidTalentsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.AID_TALENTS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.AID_TALENTS
    where TALENTS_FLOW = #{talentsFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.AID_TALENTS
    where TALENTS_FLOW = #{talentsFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.AidTalentsExample" >
    delete from PDSCI.AID_TALENTS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.AidTalents" >
    insert into PDSCI.AID_TALENTS (TALENTS_FLOW, USER_FLOW, USER_NAME, 
      USER_BIRTHDAY, SEX_ID, SEX_NAME, 
      ORG_FLOW, ORG_NAME, DEPT_FLOW, 
      DEPT_NAME, TITLE_ID, TITLE_NAME, 
      POST_ID, POST_NAME, STUDY_NAME, 
      STUDY_COUNTRY, START_DATE, END_DATE, 
      APPLY_FEE, STATUS_ID, STATUS_NAME, 
      ASSESS_STATUS_ID, ASSESS_STATUS_NAME, APPLY_DATE, 
      ASSESS_DATE, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      TALENTS_CONTENT)
    values (#{talentsFlow,jdbcType=VARCHAR}, #{userFlow,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userBirthday,jdbcType=VARCHAR}, #{sexId,jdbcType=VARCHAR}, #{sexName,jdbcType=VARCHAR}, 
      #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{deptFlow,jdbcType=VARCHAR}, 
      #{deptName,jdbcType=VARCHAR}, #{titleId,jdbcType=VARCHAR}, #{titleName,jdbcType=VARCHAR}, 
      #{postId,jdbcType=VARCHAR}, #{postName,jdbcType=VARCHAR}, #{studyName,jdbcType=VARCHAR}, 
      #{studyCountry,jdbcType=VARCHAR}, #{startDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR}, 
      #{applyFee,jdbcType=VARCHAR}, #{statusId,jdbcType=VARCHAR}, #{statusName,jdbcType=VARCHAR}, 
      #{assessStatusId,jdbcType=VARCHAR}, #{assessStatusName,jdbcType=VARCHAR}, #{applyDate,jdbcType=VARCHAR}, 
      #{assessDate,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{talentsContent,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.AidTalents" >
    insert into PDSCI.AID_TALENTS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="talentsFlow != null" >
        TALENTS_FLOW,
      </if>
      <if test="userFlow != null" >
        USER_FLOW,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userBirthday != null" >
        USER_BIRTHDAY,
      </if>
      <if test="sexId != null" >
        SEX_ID,
      </if>
      <if test="sexName != null" >
        SEX_NAME,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="titleId != null" >
        TITLE_ID,
      </if>
      <if test="titleName != null" >
        TITLE_NAME,
      </if>
      <if test="postId != null" >
        POST_ID,
      </if>
      <if test="postName != null" >
        POST_NAME,
      </if>
      <if test="studyName != null" >
        STUDY_NAME,
      </if>
      <if test="studyCountry != null" >
        STUDY_COUNTRY,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="applyFee != null" >
        APPLY_FEE,
      </if>
      <if test="statusId != null" >
        STATUS_ID,
      </if>
      <if test="statusName != null" >
        STATUS_NAME,
      </if>
      <if test="assessStatusId != null" >
        ASSESS_STATUS_ID,
      </if>
      <if test="assessStatusName != null" >
        ASSESS_STATUS_NAME,
      </if>
      <if test="applyDate != null" >
        APPLY_DATE,
      </if>
      <if test="assessDate != null" >
        ASSESS_DATE,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="talentsContent != null" >
        TALENTS_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="talentsFlow != null" >
        #{talentsFlow,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null" >
        #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userBirthday != null" >
        #{userBirthday,jdbcType=VARCHAR},
      </if>
      <if test="sexId != null" >
        #{sexId,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null" >
        #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null" >
        #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="titleName != null" >
        #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="postId != null" >
        #{postId,jdbcType=VARCHAR},
      </if>
      <if test="postName != null" >
        #{postName,jdbcType=VARCHAR},
      </if>
      <if test="studyName != null" >
        #{studyName,jdbcType=VARCHAR},
      </if>
      <if test="studyCountry != null" >
        #{studyCountry,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="applyFee != null" >
        #{applyFee,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null" >
        #{statusId,jdbcType=VARCHAR},
      </if>
      <if test="statusName != null" >
        #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="assessStatusId != null" >
        #{assessStatusId,jdbcType=VARCHAR},
      </if>
      <if test="assessStatusName != null" >
        #{assessStatusName,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null" >
        #{applyDate,jdbcType=VARCHAR},
      </if>
      <if test="assessDate != null" >
        #{assessDate,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="talentsContent != null" >
        #{talentsContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.AidTalentsExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.AID_TALENTS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.AID_TALENTS
    <set >
      <if test="record.talentsFlow != null" >
        TALENTS_FLOW = #{record.talentsFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userFlow != null" >
        USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userBirthday != null" >
        USER_BIRTHDAY = #{record.userBirthday,jdbcType=VARCHAR},
      </if>
      <if test="record.sexId != null" >
        SEX_ID = #{record.sexId,jdbcType=VARCHAR},
      </if>
      <if test="record.sexName != null" >
        SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null" >
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.titleId != null" >
        TITLE_ID = #{record.titleId,jdbcType=VARCHAR},
      </if>
      <if test="record.titleName != null" >
        TITLE_NAME = #{record.titleName,jdbcType=VARCHAR},
      </if>
      <if test="record.postId != null" >
        POST_ID = #{record.postId,jdbcType=VARCHAR},
      </if>
      <if test="record.postName != null" >
        POST_NAME = #{record.postName,jdbcType=VARCHAR},
      </if>
      <if test="record.studyName != null" >
        STUDY_NAME = #{record.studyName,jdbcType=VARCHAR},
      </if>
      <if test="record.studyCountry != null" >
        STUDY_COUNTRY = #{record.studyCountry,jdbcType=VARCHAR},
      </if>
      <if test="record.startDate != null" >
        START_DATE = #{record.startDate,jdbcType=VARCHAR},
      </if>
      <if test="record.endDate != null" >
        END_DATE = #{record.endDate,jdbcType=VARCHAR},
      </if>
      <if test="record.applyFee != null" >
        APPLY_FEE = #{record.applyFee,jdbcType=VARCHAR},
      </if>
      <if test="record.statusId != null" >
        STATUS_ID = #{record.statusId,jdbcType=VARCHAR},
      </if>
      <if test="record.statusName != null" >
        STATUS_NAME = #{record.statusName,jdbcType=VARCHAR},
      </if>
      <if test="record.assessStatusId != null" >
        ASSESS_STATUS_ID = #{record.assessStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.assessStatusName != null" >
        ASSESS_STATUS_NAME = #{record.assessStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyDate != null" >
        APPLY_DATE = #{record.applyDate,jdbcType=VARCHAR},
      </if>
      <if test="record.assessDate != null" >
        ASSESS_DATE = #{record.assessDate,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.talentsContent != null" >
        TALENTS_CONTENT = #{record.talentsContent,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update PDSCI.AID_TALENTS
    set TALENTS_FLOW = #{record.talentsFlow,jdbcType=VARCHAR},
      USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      USER_BIRTHDAY = #{record.userBirthday,jdbcType=VARCHAR},
      SEX_ID = #{record.sexId,jdbcType=VARCHAR},
      SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      TITLE_ID = #{record.titleId,jdbcType=VARCHAR},
      TITLE_NAME = #{record.titleName,jdbcType=VARCHAR},
      POST_ID = #{record.postId,jdbcType=VARCHAR},
      POST_NAME = #{record.postName,jdbcType=VARCHAR},
      STUDY_NAME = #{record.studyName,jdbcType=VARCHAR},
      STUDY_COUNTRY = #{record.studyCountry,jdbcType=VARCHAR},
      START_DATE = #{record.startDate,jdbcType=VARCHAR},
      END_DATE = #{record.endDate,jdbcType=VARCHAR},
      APPLY_FEE = #{record.applyFee,jdbcType=VARCHAR},
      STATUS_ID = #{record.statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{record.statusName,jdbcType=VARCHAR},
      ASSESS_STATUS_ID = #{record.assessStatusId,jdbcType=VARCHAR},
      ASSESS_STATUS_NAME = #{record.assessStatusName,jdbcType=VARCHAR},
      APPLY_DATE = #{record.applyDate,jdbcType=VARCHAR},
      ASSESS_DATE = #{record.assessDate,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      TALENTS_CONTENT = #{record.talentsContent,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.AID_TALENTS
    set TALENTS_FLOW = #{record.talentsFlow,jdbcType=VARCHAR},
      USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      USER_BIRTHDAY = #{record.userBirthday,jdbcType=VARCHAR},
      SEX_ID = #{record.sexId,jdbcType=VARCHAR},
      SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      TITLE_ID = #{record.titleId,jdbcType=VARCHAR},
      TITLE_NAME = #{record.titleName,jdbcType=VARCHAR},
      POST_ID = #{record.postId,jdbcType=VARCHAR},
      POST_NAME = #{record.postName,jdbcType=VARCHAR},
      STUDY_NAME = #{record.studyName,jdbcType=VARCHAR},
      STUDY_COUNTRY = #{record.studyCountry,jdbcType=VARCHAR},
      START_DATE = #{record.startDate,jdbcType=VARCHAR},
      END_DATE = #{record.endDate,jdbcType=VARCHAR},
      APPLY_FEE = #{record.applyFee,jdbcType=VARCHAR},
      STATUS_ID = #{record.statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{record.statusName,jdbcType=VARCHAR},
      ASSESS_STATUS_ID = #{record.assessStatusId,jdbcType=VARCHAR},
      ASSESS_STATUS_NAME = #{record.assessStatusName,jdbcType=VARCHAR},
      APPLY_DATE = #{record.applyDate,jdbcType=VARCHAR},
      ASSESS_DATE = #{record.assessDate,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.AidTalents" >
    update PDSCI.AID_TALENTS
    <set >
      <if test="userFlow != null" >
        USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userBirthday != null" >
        USER_BIRTHDAY = #{userBirthday,jdbcType=VARCHAR},
      </if>
      <if test="sexId != null" >
        SEX_ID = #{sexId,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null" >
        SEX_NAME = #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null" >
        TITLE_ID = #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="titleName != null" >
        TITLE_NAME = #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="postId != null" >
        POST_ID = #{postId,jdbcType=VARCHAR},
      </if>
      <if test="postName != null" >
        POST_NAME = #{postName,jdbcType=VARCHAR},
      </if>
      <if test="studyName != null" >
        STUDY_NAME = #{studyName,jdbcType=VARCHAR},
      </if>
      <if test="studyCountry != null" >
        STUDY_COUNTRY = #{studyCountry,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        START_DATE = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="applyFee != null" >
        APPLY_FEE = #{applyFee,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null" >
        STATUS_ID = #{statusId,jdbcType=VARCHAR},
      </if>
      <if test="statusName != null" >
        STATUS_NAME = #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="assessStatusId != null" >
        ASSESS_STATUS_ID = #{assessStatusId,jdbcType=VARCHAR},
      </if>
      <if test="assessStatusName != null" >
        ASSESS_STATUS_NAME = #{assessStatusName,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null" >
        APPLY_DATE = #{applyDate,jdbcType=VARCHAR},
      </if>
      <if test="assessDate != null" >
        ASSESS_DATE = #{assessDate,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="talentsContent != null" >
        TALENTS_CONTENT = #{talentsContent,jdbcType=CLOB},
      </if>
    </set>
    where TALENTS_FLOW = #{talentsFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.sci.model.mo.AidTalents" >
    update PDSCI.AID_TALENTS
    set USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_BIRTHDAY = #{userBirthday,jdbcType=VARCHAR},
      SEX_ID = #{sexId,jdbcType=VARCHAR},
      SEX_NAME = #{sexName,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      TITLE_ID = #{titleId,jdbcType=VARCHAR},
      TITLE_NAME = #{titleName,jdbcType=VARCHAR},
      POST_ID = #{postId,jdbcType=VARCHAR},
      POST_NAME = #{postName,jdbcType=VARCHAR},
      STUDY_NAME = #{studyName,jdbcType=VARCHAR},
      STUDY_COUNTRY = #{studyCountry,jdbcType=VARCHAR},
      START_DATE = #{startDate,jdbcType=VARCHAR},
      END_DATE = #{endDate,jdbcType=VARCHAR},
      APPLY_FEE = #{applyFee,jdbcType=VARCHAR},
      STATUS_ID = #{statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{statusName,jdbcType=VARCHAR},
      ASSESS_STATUS_ID = #{assessStatusId,jdbcType=VARCHAR},
      ASSESS_STATUS_NAME = #{assessStatusName,jdbcType=VARCHAR},
      APPLY_DATE = #{applyDate,jdbcType=VARCHAR},
      ASSESS_DATE = #{assessDate,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      TALENTS_CONTENT = #{talentsContent,jdbcType=CLOB}
    where TALENTS_FLOW = #{talentsFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.AidTalents" >
    update PDSCI.AID_TALENTS
    set USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_BIRTHDAY = #{userBirthday,jdbcType=VARCHAR},
      SEX_ID = #{sexId,jdbcType=VARCHAR},
      SEX_NAME = #{sexName,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      TITLE_ID = #{titleId,jdbcType=VARCHAR},
      TITLE_NAME = #{titleName,jdbcType=VARCHAR},
      POST_ID = #{postId,jdbcType=VARCHAR},
      POST_NAME = #{postName,jdbcType=VARCHAR},
      STUDY_NAME = #{studyName,jdbcType=VARCHAR},
      STUDY_COUNTRY = #{studyCountry,jdbcType=VARCHAR},
      START_DATE = #{startDate,jdbcType=VARCHAR},
      END_DATE = #{endDate,jdbcType=VARCHAR},
      APPLY_FEE = #{applyFee,jdbcType=VARCHAR},
      STATUS_ID = #{statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{statusName,jdbcType=VARCHAR},
      ASSESS_STATUS_ID = #{assessStatusId,jdbcType=VARCHAR},
      ASSESS_STATUS_NAME = #{assessStatusName,jdbcType=VARCHAR},
      APPLY_DATE = #{applyDate,jdbcType=VARCHAR},
      ASSESS_DATE = #{assessDate,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where TALENTS_FLOW = #{talentsFlow,jdbcType=VARCHAR}
  </update>
</mapper>