<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.DeptTeacherGradeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.DeptTeacherGradeInfo" >
    <id column="REC_FLOW" property="recFlow" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="DEPT_FLOW" property="deptFlow" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="SCH_DEPT_FLOW" property="schDeptFlow" jdbcType="VARCHAR" />
    <result column="SCH_DEPT_NAME" property="schDeptName" jdbcType="VARCHAR" />
    <result column="REC_TYPE_ID" property="recTypeId" jdbcType="VARCHAR" />
    <result column="REC_TYPE_NAME" property="recTypeName" jdbcType="VARCHAR" />
    <result column="REC_VERSION" property="recVersion" jdbcType="VARCHAR" />
    <result column="STATUS_ID" property="statusId" jdbcType="VARCHAR" />
    <result column="STATUS_NAME" property="statusName" jdbcType="VARCHAR" />
    <result column="OPER_TIME" property="operTime" jdbcType="VARCHAR" />
    <result column="OPER_USER_FLOW" property="operUserFlow" jdbcType="VARCHAR" />
    <result column="OPER_USER_NAME" property="operUserName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="PROCESS_FLOW" property="processFlow" jdbcType="VARCHAR" />
    <result column="REC_FORM" property="recForm" jdbcType="VARCHAR" />
    <result column="SCH_ROTATION_DEPT_FLOW" property="schRotationDeptFlow" jdbcType="VARCHAR" />
    <result column="ALL_SCORE" property="allScore" jdbcType="VARCHAR" />
    <result column="CFG_FLOW" property="cfgFlow" jdbcType="VARCHAR" />
    <result column="TEACHER_NAME_ONE" property="teacherNameOne" jdbcType="VARCHAR" />
    <result column="TEACHER_FLOW_ONE" property="teacherFlowOne" jdbcType="VARCHAR" />
    <result column="TEACHER_NAME_TWO" property="teacherNameTwo" jdbcType="VARCHAR" />
    <result column="TEACHER_FLOW_TWO" property="teacherFlowTwo" jdbcType="VARCHAR" />
    <result column="TEACHER_NAME_THREE" property="teacherNameThree" jdbcType="VARCHAR" />
    <result column="TEACHER_FLOW_THREE" property="teacherFlowThree" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pinde.sci.model.mo.DeptTeacherGradeInfo" extends="BaseResultMap" >
    <result column="REC_CONTENT" property="recContent" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    REC_FLOW, ORG_FLOW, ORG_NAME, DEPT_FLOW, DEPT_NAME, SCH_DEPT_FLOW, SCH_DEPT_NAME, 
    REC_TYPE_ID, REC_TYPE_NAME, REC_VERSION, STATUS_ID, STATUS_NAME, OPER_TIME, OPER_USER_FLOW, 
    OPER_USER_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
    PROCESS_FLOW, REC_FORM, SCH_ROTATION_DEPT_FLOW, ALL_SCORE, CFG_FLOW, TEACHER_NAME_ONE, 
    TEACHER_FLOW_ONE, TEACHER_NAME_TWO, TEACHER_FLOW_TWO, TEACHER_NAME_THREE, TEACHER_FLOW_THREE
  </sql>
  <sql id="Blob_Column_List" >
    REC_CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pinde.sci.model.mo.DeptTeacherGradeInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.DEPT_TEACHER_GRADE_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.DeptTeacherGradeInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.DEPT_TEACHER_GRADE_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.DEPT_TEACHER_GRADE_INFO
    where REC_FLOW = #{recFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.DEPT_TEACHER_GRADE_INFO
    where REC_FLOW = #{recFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.DeptTeacherGradeInfoExample" >
    delete from PDSCI.DEPT_TEACHER_GRADE_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.DeptTeacherGradeInfo" >
    insert into PDSCI.DEPT_TEACHER_GRADE_INFO (REC_FLOW, ORG_FLOW, ORG_NAME, 
      DEPT_FLOW, DEPT_NAME, SCH_DEPT_FLOW, 
      SCH_DEPT_NAME, REC_TYPE_ID, REC_TYPE_NAME, 
      REC_VERSION, STATUS_ID, STATUS_NAME, 
      OPER_TIME, OPER_USER_FLOW, OPER_USER_NAME, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, PROCESS_FLOW, 
      REC_FORM, SCH_ROTATION_DEPT_FLOW, ALL_SCORE, 
      CFG_FLOW, TEACHER_NAME_ONE, TEACHER_FLOW_ONE, 
      TEACHER_NAME_TWO, TEACHER_FLOW_TWO, TEACHER_NAME_THREE, 
      TEACHER_FLOW_THREE, REC_CONTENT)
    values (#{recFlow,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{deptFlow,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{schDeptFlow,jdbcType=VARCHAR}, 
      #{schDeptName,jdbcType=VARCHAR}, #{recTypeId,jdbcType=VARCHAR}, #{recTypeName,jdbcType=VARCHAR}, 
      #{recVersion,jdbcType=VARCHAR}, #{statusId,jdbcType=VARCHAR}, #{statusName,jdbcType=VARCHAR}, 
      #{operTime,jdbcType=VARCHAR}, #{operUserFlow,jdbcType=VARCHAR}, #{operUserName,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{processFlow,jdbcType=VARCHAR}, 
      #{recForm,jdbcType=VARCHAR}, #{schRotationDeptFlow,jdbcType=VARCHAR}, #{allScore,jdbcType=VARCHAR}, 
      #{cfgFlow,jdbcType=VARCHAR}, #{teacherNameOne,jdbcType=VARCHAR}, #{teacherFlowOne,jdbcType=VARCHAR}, 
      #{teacherNameTwo,jdbcType=VARCHAR}, #{teacherFlowTwo,jdbcType=VARCHAR}, #{teacherNameThree,jdbcType=VARCHAR}, 
      #{teacherFlowThree,jdbcType=VARCHAR}, #{recContent,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.DeptTeacherGradeInfo" >
    insert into PDSCI.DEPT_TEACHER_GRADE_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recFlow != null" >
        REC_FLOW,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="schDeptFlow != null" >
        SCH_DEPT_FLOW,
      </if>
      <if test="schDeptName != null" >
        SCH_DEPT_NAME,
      </if>
      <if test="recTypeId != null" >
        REC_TYPE_ID,
      </if>
      <if test="recTypeName != null" >
        REC_TYPE_NAME,
      </if>
      <if test="recVersion != null" >
        REC_VERSION,
      </if>
      <if test="statusId != null" >
        STATUS_ID,
      </if>
      <if test="statusName != null" >
        STATUS_NAME,
      </if>
      <if test="operTime != null" >
        OPER_TIME,
      </if>
      <if test="operUserFlow != null" >
        OPER_USER_FLOW,
      </if>
      <if test="operUserName != null" >
        OPER_USER_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="processFlow != null" >
        PROCESS_FLOW,
      </if>
      <if test="recForm != null" >
        REC_FORM,
      </if>
      <if test="schRotationDeptFlow != null" >
        SCH_ROTATION_DEPT_FLOW,
      </if>
      <if test="allScore != null" >
        ALL_SCORE,
      </if>
      <if test="cfgFlow != null" >
        CFG_FLOW,
      </if>
      <if test="teacherNameOne != null" >
        TEACHER_NAME_ONE,
      </if>
      <if test="teacherFlowOne != null" >
        TEACHER_FLOW_ONE,
      </if>
      <if test="teacherNameTwo != null" >
        TEACHER_NAME_TWO,
      </if>
      <if test="teacherFlowTwo != null" >
        TEACHER_FLOW_TWO,
      </if>
      <if test="teacherNameThree != null" >
        TEACHER_NAME_THREE,
      </if>
      <if test="teacherFlowThree != null" >
        TEACHER_FLOW_THREE,
      </if>
      <if test="recContent != null" >
        REC_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recFlow != null" >
        #{recFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="schDeptFlow != null" >
        #{schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="schDeptName != null" >
        #{schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="recTypeId != null" >
        #{recTypeId,jdbcType=VARCHAR},
      </if>
      <if test="recTypeName != null" >
        #{recTypeName,jdbcType=VARCHAR},
      </if>
      <if test="recVersion != null" >
        #{recVersion,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null" >
        #{statusId,jdbcType=VARCHAR},
      </if>
      <if test="statusName != null" >
        #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null" >
        #{operTime,jdbcType=VARCHAR},
      </if>
      <if test="operUserFlow != null" >
        #{operUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="operUserName != null" >
        #{operUserName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="processFlow != null" >
        #{processFlow,jdbcType=VARCHAR},
      </if>
      <if test="recForm != null" >
        #{recForm,jdbcType=VARCHAR},
      </if>
      <if test="schRotationDeptFlow != null" >
        #{schRotationDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="allScore != null" >
        #{allScore,jdbcType=VARCHAR},
      </if>
      <if test="cfgFlow != null" >
        #{cfgFlow,jdbcType=VARCHAR},
      </if>
      <if test="teacherNameOne != null" >
        #{teacherNameOne,jdbcType=VARCHAR},
      </if>
      <if test="teacherFlowOne != null" >
        #{teacherFlowOne,jdbcType=VARCHAR},
      </if>
      <if test="teacherNameTwo != null" >
        #{teacherNameTwo,jdbcType=VARCHAR},
      </if>
      <if test="teacherFlowTwo != null" >
        #{teacherFlowTwo,jdbcType=VARCHAR},
      </if>
      <if test="teacherNameThree != null" >
        #{teacherNameThree,jdbcType=VARCHAR},
      </if>
      <if test="teacherFlowThree != null" >
        #{teacherFlowThree,jdbcType=VARCHAR},
      </if>
      <if test="recContent != null" >
        #{recContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.DeptTeacherGradeInfoExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.DEPT_TEACHER_GRADE_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.DEPT_TEACHER_GRADE_INFO
    <set >
      <if test="record.recFlow != null" >
        REC_FLOW = #{record.recFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null" >
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.schDeptFlow != null" >
        SCH_DEPT_FLOW = #{record.schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.schDeptName != null" >
        SCH_DEPT_NAME = #{record.schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.recTypeId != null" >
        REC_TYPE_ID = #{record.recTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.recTypeName != null" >
        REC_TYPE_NAME = #{record.recTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.recVersion != null" >
        REC_VERSION = #{record.recVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.statusId != null" >
        STATUS_ID = #{record.statusId,jdbcType=VARCHAR},
      </if>
      <if test="record.statusName != null" >
        STATUS_NAME = #{record.statusName,jdbcType=VARCHAR},
      </if>
      <if test="record.operTime != null" >
        OPER_TIME = #{record.operTime,jdbcType=VARCHAR},
      </if>
      <if test="record.operUserFlow != null" >
        OPER_USER_FLOW = #{record.operUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.operUserName != null" >
        OPER_USER_NAME = #{record.operUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.processFlow != null" >
        PROCESS_FLOW = #{record.processFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.recForm != null" >
        REC_FORM = #{record.recForm,jdbcType=VARCHAR},
      </if>
      <if test="record.schRotationDeptFlow != null" >
        SCH_ROTATION_DEPT_FLOW = #{record.schRotationDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.allScore != null" >
        ALL_SCORE = #{record.allScore,jdbcType=VARCHAR},
      </if>
      <if test="record.cfgFlow != null" >
        CFG_FLOW = #{record.cfgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherNameOne != null" >
        TEACHER_NAME_ONE = #{record.teacherNameOne,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherFlowOne != null" >
        TEACHER_FLOW_ONE = #{record.teacherFlowOne,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherNameTwo != null" >
        TEACHER_NAME_TWO = #{record.teacherNameTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherFlowTwo != null" >
        TEACHER_FLOW_TWO = #{record.teacherFlowTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherNameThree != null" >
        TEACHER_NAME_THREE = #{record.teacherNameThree,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherFlowThree != null" >
        TEACHER_FLOW_THREE = #{record.teacherFlowThree,jdbcType=VARCHAR},
      </if>
      <if test="record.recContent != null" >
        REC_CONTENT = #{record.recContent,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update PDSCI.DEPT_TEACHER_GRADE_INFO
    set REC_FLOW = #{record.recFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      SCH_DEPT_FLOW = #{record.schDeptFlow,jdbcType=VARCHAR},
      SCH_DEPT_NAME = #{record.schDeptName,jdbcType=VARCHAR},
      REC_TYPE_ID = #{record.recTypeId,jdbcType=VARCHAR},
      REC_TYPE_NAME = #{record.recTypeName,jdbcType=VARCHAR},
      REC_VERSION = #{record.recVersion,jdbcType=VARCHAR},
      STATUS_ID = #{record.statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{record.statusName,jdbcType=VARCHAR},
      OPER_TIME = #{record.operTime,jdbcType=VARCHAR},
      OPER_USER_FLOW = #{record.operUserFlow,jdbcType=VARCHAR},
      OPER_USER_NAME = #{record.operUserName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      PROCESS_FLOW = #{record.processFlow,jdbcType=VARCHAR},
      REC_FORM = #{record.recForm,jdbcType=VARCHAR},
      SCH_ROTATION_DEPT_FLOW = #{record.schRotationDeptFlow,jdbcType=VARCHAR},
      ALL_SCORE = #{record.allScore,jdbcType=VARCHAR},
      CFG_FLOW = #{record.cfgFlow,jdbcType=VARCHAR},
      TEACHER_NAME_ONE = #{record.teacherNameOne,jdbcType=VARCHAR},
      TEACHER_FLOW_ONE = #{record.teacherFlowOne,jdbcType=VARCHAR},
      TEACHER_NAME_TWO = #{record.teacherNameTwo,jdbcType=VARCHAR},
      TEACHER_FLOW_TWO = #{record.teacherFlowTwo,jdbcType=VARCHAR},
      TEACHER_NAME_THREE = #{record.teacherNameThree,jdbcType=VARCHAR},
      TEACHER_FLOW_THREE = #{record.teacherFlowThree,jdbcType=VARCHAR},
      REC_CONTENT = #{record.recContent,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.DEPT_TEACHER_GRADE_INFO
    set REC_FLOW = #{record.recFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      SCH_DEPT_FLOW = #{record.schDeptFlow,jdbcType=VARCHAR},
      SCH_DEPT_NAME = #{record.schDeptName,jdbcType=VARCHAR},
      REC_TYPE_ID = #{record.recTypeId,jdbcType=VARCHAR},
      REC_TYPE_NAME = #{record.recTypeName,jdbcType=VARCHAR},
      REC_VERSION = #{record.recVersion,jdbcType=VARCHAR},
      STATUS_ID = #{record.statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{record.statusName,jdbcType=VARCHAR},
      OPER_TIME = #{record.operTime,jdbcType=VARCHAR},
      OPER_USER_FLOW = #{record.operUserFlow,jdbcType=VARCHAR},
      OPER_USER_NAME = #{record.operUserName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      PROCESS_FLOW = #{record.processFlow,jdbcType=VARCHAR},
      REC_FORM = #{record.recForm,jdbcType=VARCHAR},
      SCH_ROTATION_DEPT_FLOW = #{record.schRotationDeptFlow,jdbcType=VARCHAR},
      ALL_SCORE = #{record.allScore,jdbcType=VARCHAR},
      CFG_FLOW = #{record.cfgFlow,jdbcType=VARCHAR},
      TEACHER_NAME_ONE = #{record.teacherNameOne,jdbcType=VARCHAR},
      TEACHER_FLOW_ONE = #{record.teacherFlowOne,jdbcType=VARCHAR},
      TEACHER_NAME_TWO = #{record.teacherNameTwo,jdbcType=VARCHAR},
      TEACHER_FLOW_TWO = #{record.teacherFlowTwo,jdbcType=VARCHAR},
      TEACHER_NAME_THREE = #{record.teacherNameThree,jdbcType=VARCHAR},
      TEACHER_FLOW_THREE = #{record.teacherFlowThree,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.DeptTeacherGradeInfo" >
    update PDSCI.DEPT_TEACHER_GRADE_INFO
    <set >
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="schDeptFlow != null" >
        SCH_DEPT_FLOW = #{schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="schDeptName != null" >
        SCH_DEPT_NAME = #{schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="recTypeId != null" >
        REC_TYPE_ID = #{recTypeId,jdbcType=VARCHAR},
      </if>
      <if test="recTypeName != null" >
        REC_TYPE_NAME = #{recTypeName,jdbcType=VARCHAR},
      </if>
      <if test="recVersion != null" >
        REC_VERSION = #{recVersion,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null" >
        STATUS_ID = #{statusId,jdbcType=VARCHAR},
      </if>
      <if test="statusName != null" >
        STATUS_NAME = #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null" >
        OPER_TIME = #{operTime,jdbcType=VARCHAR},
      </if>
      <if test="operUserFlow != null" >
        OPER_USER_FLOW = #{operUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="operUserName != null" >
        OPER_USER_NAME = #{operUserName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="processFlow != null" >
        PROCESS_FLOW = #{processFlow,jdbcType=VARCHAR},
      </if>
      <if test="recForm != null" >
        REC_FORM = #{recForm,jdbcType=VARCHAR},
      </if>
      <if test="schRotationDeptFlow != null" >
        SCH_ROTATION_DEPT_FLOW = #{schRotationDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="allScore != null" >
        ALL_SCORE = #{allScore,jdbcType=VARCHAR},
      </if>
      <if test="cfgFlow != null" >
        CFG_FLOW = #{cfgFlow,jdbcType=VARCHAR},
      </if>
      <if test="teacherNameOne != null" >
        TEACHER_NAME_ONE = #{teacherNameOne,jdbcType=VARCHAR},
      </if>
      <if test="teacherFlowOne != null" >
        TEACHER_FLOW_ONE = #{teacherFlowOne,jdbcType=VARCHAR},
      </if>
      <if test="teacherNameTwo != null" >
        TEACHER_NAME_TWO = #{teacherNameTwo,jdbcType=VARCHAR},
      </if>
      <if test="teacherFlowTwo != null" >
        TEACHER_FLOW_TWO = #{teacherFlowTwo,jdbcType=VARCHAR},
      </if>
      <if test="teacherNameThree != null" >
        TEACHER_NAME_THREE = #{teacherNameThree,jdbcType=VARCHAR},
      </if>
      <if test="teacherFlowThree != null" >
        TEACHER_FLOW_THREE = #{teacherFlowThree,jdbcType=VARCHAR},
      </if>
      <if test="recContent != null" >
        REC_CONTENT = #{recContent,jdbcType=CLOB},
      </if>
    </set>
    where REC_FLOW = #{recFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.sci.model.mo.DeptTeacherGradeInfo" >
    update PDSCI.DEPT_TEACHER_GRADE_INFO
    set ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      SCH_DEPT_FLOW = #{schDeptFlow,jdbcType=VARCHAR},
      SCH_DEPT_NAME = #{schDeptName,jdbcType=VARCHAR},
      REC_TYPE_ID = #{recTypeId,jdbcType=VARCHAR},
      REC_TYPE_NAME = #{recTypeName,jdbcType=VARCHAR},
      REC_VERSION = #{recVersion,jdbcType=VARCHAR},
      STATUS_ID = #{statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{statusName,jdbcType=VARCHAR},
      OPER_TIME = #{operTime,jdbcType=VARCHAR},
      OPER_USER_FLOW = #{operUserFlow,jdbcType=VARCHAR},
      OPER_USER_NAME = #{operUserName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      PROCESS_FLOW = #{processFlow,jdbcType=VARCHAR},
      REC_FORM = #{recForm,jdbcType=VARCHAR},
      SCH_ROTATION_DEPT_FLOW = #{schRotationDeptFlow,jdbcType=VARCHAR},
      ALL_SCORE = #{allScore,jdbcType=VARCHAR},
      CFG_FLOW = #{cfgFlow,jdbcType=VARCHAR},
      TEACHER_NAME_ONE = #{teacherNameOne,jdbcType=VARCHAR},
      TEACHER_FLOW_ONE = #{teacherFlowOne,jdbcType=VARCHAR},
      TEACHER_NAME_TWO = #{teacherNameTwo,jdbcType=VARCHAR},
      TEACHER_FLOW_TWO = #{teacherFlowTwo,jdbcType=VARCHAR},
      TEACHER_NAME_THREE = #{teacherNameThree,jdbcType=VARCHAR},
      TEACHER_FLOW_THREE = #{teacherFlowThree,jdbcType=VARCHAR},
      REC_CONTENT = #{recContent,jdbcType=CLOB}
    where REC_FLOW = #{recFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.DeptTeacherGradeInfo" >
    update PDSCI.DEPT_TEACHER_GRADE_INFO
    set ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      SCH_DEPT_FLOW = #{schDeptFlow,jdbcType=VARCHAR},
      SCH_DEPT_NAME = #{schDeptName,jdbcType=VARCHAR},
      REC_TYPE_ID = #{recTypeId,jdbcType=VARCHAR},
      REC_TYPE_NAME = #{recTypeName,jdbcType=VARCHAR},
      REC_VERSION = #{recVersion,jdbcType=VARCHAR},
      STATUS_ID = #{statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{statusName,jdbcType=VARCHAR},
      OPER_TIME = #{operTime,jdbcType=VARCHAR},
      OPER_USER_FLOW = #{operUserFlow,jdbcType=VARCHAR},
      OPER_USER_NAME = #{operUserName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      PROCESS_FLOW = #{processFlow,jdbcType=VARCHAR},
      REC_FORM = #{recForm,jdbcType=VARCHAR},
      SCH_ROTATION_DEPT_FLOW = #{schRotationDeptFlow,jdbcType=VARCHAR},
      ALL_SCORE = #{allScore,jdbcType=VARCHAR},
      CFG_FLOW = #{cfgFlow,jdbcType=VARCHAR},
      TEACHER_NAME_ONE = #{teacherNameOne,jdbcType=VARCHAR},
      TEACHER_FLOW_ONE = #{teacherFlowOne,jdbcType=VARCHAR},
      TEACHER_NAME_TWO = #{teacherNameTwo,jdbcType=VARCHAR},
      TEACHER_FLOW_TWO = #{teacherFlowTwo,jdbcType=VARCHAR},
      TEACHER_NAME_THREE = #{teacherNameThree,jdbcType=VARCHAR},
      TEACHER_FLOW_THREE = #{teacherFlowThree,jdbcType=VARCHAR}
    where REC_FLOW = #{recFlow,jdbcType=VARCHAR}
  </update>
</mapper>