<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.EdcProjParamMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.EdcProjParam" >
    <id column="PROJ_FLOW" property="projFlow" jdbcType="VARCHAR" />
    <result column="INPUT_TYPE_ID" property="inputTypeId" jdbcType="VARCHAR" />
    <result column="INPUT_TYPE_NAME" property="inputTypeName" jdbcType="VARCHAR" />
    <result column="VIEW_TYPE_ID" property="viewTypeId" jdbcType="VARCHAR" />
    <result column="VIEW_TYPE_NAME" property="viewTypeName" jdbcType="VARCHAR" />
    <result column="IS_RANDOM" property="isRandom" jdbcType="VARCHAR" />
    <result column="IS_VISIT" property="isVisit" jdbcType="VARCHAR" />
    <result column="RANDOM_TYPE_ID" property="randomTypeId" jdbcType="VARCHAR" />
    <result column="RANDOM_TYPE_NAME" property="randomTypeName" jdbcType="VARCHAR" />
    <result column="BLIND_TYPE_ID" property="blindTypeId" jdbcType="VARCHAR" />
    <result column="BLIND_TYPE_NAME" property="blindTypeName" jdbcType="VARCHAR" />
    <result column="RANDOM_FILE_FLOW" property="randomFileFlow" jdbcType="VARCHAR" />
    <result column="PROJ_LOCK" property="projLock" jdbcType="VARCHAR" />
    <result column="DESIGN_LOCK" property="designLock" jdbcType="VARCHAR" />
    <result column="RANDOM_LOCK" property="randomLock" jdbcType="VARCHAR" />
    <result column="INPUT_LOCK" property="inputLock" jdbcType="VARCHAR" />
    <result column="INSPECT_LOCK" property="inspectLock" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pinde.sci.model.mo.EdcProjParam" extends="BaseResultMap" >
    <result column="RANDOM_FACTOR" property="randomFactor" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PROJ_FLOW, INPUT_TYPE_ID, INPUT_TYPE_NAME, VIEW_TYPE_ID, VIEW_TYPE_NAME, IS_RANDOM, 
    IS_VISIT, RANDOM_TYPE_ID, RANDOM_TYPE_NAME, BLIND_TYPE_ID, BLIND_TYPE_NAME, RANDOM_FILE_FLOW, 
    PROJ_LOCK, DESIGN_LOCK, RANDOM_LOCK, INPUT_LOCK, INSPECT_LOCK, RECORD_STATUS, CREATE_USER_FLOW, 
    CREATE_TIME, MODIFY_USER_FLOW, MODIFY_TIME
  </sql>
  <sql id="Blob_Column_List" >
    RANDOM_FACTOR
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pinde.sci.model.mo.EdcProjParamExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.EDC_PROJ_PARAM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.EdcProjParamExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.EDC_PROJ_PARAM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.EDC_PROJ_PARAM
    where PROJ_FLOW = #{projFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.EDC_PROJ_PARAM
    where PROJ_FLOW = #{projFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.EdcProjParamExample" >
    delete from PDSCI.EDC_PROJ_PARAM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.EdcProjParam" >
    insert into PDSCI.EDC_PROJ_PARAM (PROJ_FLOW, INPUT_TYPE_ID, INPUT_TYPE_NAME, 
      VIEW_TYPE_ID, VIEW_TYPE_NAME, IS_RANDOM, 
      IS_VISIT, RANDOM_TYPE_ID, RANDOM_TYPE_NAME, 
      BLIND_TYPE_ID, BLIND_TYPE_NAME, RANDOM_FILE_FLOW, 
      PROJ_LOCK, DESIGN_LOCK, RANDOM_LOCK, 
      INPUT_LOCK, INSPECT_LOCK, RECORD_STATUS, 
      CREATE_USER_FLOW, CREATE_TIME, MODIFY_USER_FLOW, 
      MODIFY_TIME, RANDOM_FACTOR)
    values (#{projFlow,jdbcType=VARCHAR}, #{inputTypeId,jdbcType=VARCHAR}, #{inputTypeName,jdbcType=VARCHAR}, 
      #{viewTypeId,jdbcType=VARCHAR}, #{viewTypeName,jdbcType=VARCHAR}, #{isRandom,jdbcType=VARCHAR}, 
      #{isVisit,jdbcType=VARCHAR}, #{randomTypeId,jdbcType=VARCHAR}, #{randomTypeName,jdbcType=VARCHAR}, 
      #{blindTypeId,jdbcType=VARCHAR}, #{blindTypeName,jdbcType=VARCHAR}, #{randomFileFlow,jdbcType=VARCHAR}, 
      #{projLock,jdbcType=VARCHAR}, #{designLock,jdbcType=VARCHAR}, #{randomLock,jdbcType=VARCHAR}, 
      #{inputLock,jdbcType=VARCHAR}, #{inspectLock,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{randomFactor,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.EdcProjParam" >
    insert into PDSCI.EDC_PROJ_PARAM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projFlow != null" >
        PROJ_FLOW,
      </if>
      <if test="inputTypeId != null" >
        INPUT_TYPE_ID,
      </if>
      <if test="inputTypeName != null" >
        INPUT_TYPE_NAME,
      </if>
      <if test="viewTypeId != null" >
        VIEW_TYPE_ID,
      </if>
      <if test="viewTypeName != null" >
        VIEW_TYPE_NAME,
      </if>
      <if test="isRandom != null" >
        IS_RANDOM,
      </if>
      <if test="isVisit != null" >
        IS_VISIT,
      </if>
      <if test="randomTypeId != null" >
        RANDOM_TYPE_ID,
      </if>
      <if test="randomTypeName != null" >
        RANDOM_TYPE_NAME,
      </if>
      <if test="blindTypeId != null" >
        BLIND_TYPE_ID,
      </if>
      <if test="blindTypeName != null" >
        BLIND_TYPE_NAME,
      </if>
      <if test="randomFileFlow != null" >
        RANDOM_FILE_FLOW,
      </if>
      <if test="projLock != null" >
        PROJ_LOCK,
      </if>
      <if test="designLock != null" >
        DESIGN_LOCK,
      </if>
      <if test="randomLock != null" >
        RANDOM_LOCK,
      </if>
      <if test="inputLock != null" >
        INPUT_LOCK,
      </if>
      <if test="inspectLock != null" >
        INSPECT_LOCK,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="randomFactor != null" >
        RANDOM_FACTOR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projFlow != null" >
        #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="inputTypeId != null" >
        #{inputTypeId,jdbcType=VARCHAR},
      </if>
      <if test="inputTypeName != null" >
        #{inputTypeName,jdbcType=VARCHAR},
      </if>
      <if test="viewTypeId != null" >
        #{viewTypeId,jdbcType=VARCHAR},
      </if>
      <if test="viewTypeName != null" >
        #{viewTypeName,jdbcType=VARCHAR},
      </if>
      <if test="isRandom != null" >
        #{isRandom,jdbcType=VARCHAR},
      </if>
      <if test="isVisit != null" >
        #{isVisit,jdbcType=VARCHAR},
      </if>
      <if test="randomTypeId != null" >
        #{randomTypeId,jdbcType=VARCHAR},
      </if>
      <if test="randomTypeName != null" >
        #{randomTypeName,jdbcType=VARCHAR},
      </if>
      <if test="blindTypeId != null" >
        #{blindTypeId,jdbcType=VARCHAR},
      </if>
      <if test="blindTypeName != null" >
        #{blindTypeName,jdbcType=VARCHAR},
      </if>
      <if test="randomFileFlow != null" >
        #{randomFileFlow,jdbcType=VARCHAR},
      </if>
      <if test="projLock != null" >
        #{projLock,jdbcType=VARCHAR},
      </if>
      <if test="designLock != null" >
        #{designLock,jdbcType=VARCHAR},
      </if>
      <if test="randomLock != null" >
        #{randomLock,jdbcType=VARCHAR},
      </if>
      <if test="inputLock != null" >
        #{inputLock,jdbcType=VARCHAR},
      </if>
      <if test="inspectLock != null" >
        #{inspectLock,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="randomFactor != null" >
        #{randomFactor,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.EdcProjParamExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.EDC_PROJ_PARAM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.EDC_PROJ_PARAM
    <set >
      <if test="record.projFlow != null" >
        PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.inputTypeId != null" >
        INPUT_TYPE_ID = #{record.inputTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.inputTypeName != null" >
        INPUT_TYPE_NAME = #{record.inputTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.viewTypeId != null" >
        VIEW_TYPE_ID = #{record.viewTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.viewTypeName != null" >
        VIEW_TYPE_NAME = #{record.viewTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.isRandom != null" >
        IS_RANDOM = #{record.isRandom,jdbcType=VARCHAR},
      </if>
      <if test="record.isVisit != null" >
        IS_VISIT = #{record.isVisit,jdbcType=VARCHAR},
      </if>
      <if test="record.randomTypeId != null" >
        RANDOM_TYPE_ID = #{record.randomTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.randomTypeName != null" >
        RANDOM_TYPE_NAME = #{record.randomTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.blindTypeId != null" >
        BLIND_TYPE_ID = #{record.blindTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.blindTypeName != null" >
        BLIND_TYPE_NAME = #{record.blindTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.randomFileFlow != null" >
        RANDOM_FILE_FLOW = #{record.randomFileFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projLock != null" >
        PROJ_LOCK = #{record.projLock,jdbcType=VARCHAR},
      </if>
      <if test="record.designLock != null" >
        DESIGN_LOCK = #{record.designLock,jdbcType=VARCHAR},
      </if>
      <if test="record.randomLock != null" >
        RANDOM_LOCK = #{record.randomLock,jdbcType=VARCHAR},
      </if>
      <if test="record.inputLock != null" >
        INPUT_LOCK = #{record.inputLock,jdbcType=VARCHAR},
      </if>
      <if test="record.inspectLock != null" >
        INSPECT_LOCK = #{record.inspectLock,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.randomFactor != null" >
        RANDOM_FACTOR = #{record.randomFactor,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update PDSCI.EDC_PROJ_PARAM
    set PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      INPUT_TYPE_ID = #{record.inputTypeId,jdbcType=VARCHAR},
      INPUT_TYPE_NAME = #{record.inputTypeName,jdbcType=VARCHAR},
      VIEW_TYPE_ID = #{record.viewTypeId,jdbcType=VARCHAR},
      VIEW_TYPE_NAME = #{record.viewTypeName,jdbcType=VARCHAR},
      IS_RANDOM = #{record.isRandom,jdbcType=VARCHAR},
      IS_VISIT = #{record.isVisit,jdbcType=VARCHAR},
      RANDOM_TYPE_ID = #{record.randomTypeId,jdbcType=VARCHAR},
      RANDOM_TYPE_NAME = #{record.randomTypeName,jdbcType=VARCHAR},
      BLIND_TYPE_ID = #{record.blindTypeId,jdbcType=VARCHAR},
      BLIND_TYPE_NAME = #{record.blindTypeName,jdbcType=VARCHAR},
      RANDOM_FILE_FLOW = #{record.randomFileFlow,jdbcType=VARCHAR},
      PROJ_LOCK = #{record.projLock,jdbcType=VARCHAR},
      DESIGN_LOCK = #{record.designLock,jdbcType=VARCHAR},
      RANDOM_LOCK = #{record.randomLock,jdbcType=VARCHAR},
      INPUT_LOCK = #{record.inputLock,jdbcType=VARCHAR},
      INSPECT_LOCK = #{record.inspectLock,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      RANDOM_FACTOR = #{record.randomFactor,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.EDC_PROJ_PARAM
    set PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      INPUT_TYPE_ID = #{record.inputTypeId,jdbcType=VARCHAR},
      INPUT_TYPE_NAME = #{record.inputTypeName,jdbcType=VARCHAR},
      VIEW_TYPE_ID = #{record.viewTypeId,jdbcType=VARCHAR},
      VIEW_TYPE_NAME = #{record.viewTypeName,jdbcType=VARCHAR},
      IS_RANDOM = #{record.isRandom,jdbcType=VARCHAR},
      IS_VISIT = #{record.isVisit,jdbcType=VARCHAR},
      RANDOM_TYPE_ID = #{record.randomTypeId,jdbcType=VARCHAR},
      RANDOM_TYPE_NAME = #{record.randomTypeName,jdbcType=VARCHAR},
      BLIND_TYPE_ID = #{record.blindTypeId,jdbcType=VARCHAR},
      BLIND_TYPE_NAME = #{record.blindTypeName,jdbcType=VARCHAR},
      RANDOM_FILE_FLOW = #{record.randomFileFlow,jdbcType=VARCHAR},
      PROJ_LOCK = #{record.projLock,jdbcType=VARCHAR},
      DESIGN_LOCK = #{record.designLock,jdbcType=VARCHAR},
      RANDOM_LOCK = #{record.randomLock,jdbcType=VARCHAR},
      INPUT_LOCK = #{record.inputLock,jdbcType=VARCHAR},
      INSPECT_LOCK = #{record.inspectLock,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.EdcProjParam" >
    update PDSCI.EDC_PROJ_PARAM
    <set >
      <if test="inputTypeId != null" >
        INPUT_TYPE_ID = #{inputTypeId,jdbcType=VARCHAR},
      </if>
      <if test="inputTypeName != null" >
        INPUT_TYPE_NAME = #{inputTypeName,jdbcType=VARCHAR},
      </if>
      <if test="viewTypeId != null" >
        VIEW_TYPE_ID = #{viewTypeId,jdbcType=VARCHAR},
      </if>
      <if test="viewTypeName != null" >
        VIEW_TYPE_NAME = #{viewTypeName,jdbcType=VARCHAR},
      </if>
      <if test="isRandom != null" >
        IS_RANDOM = #{isRandom,jdbcType=VARCHAR},
      </if>
      <if test="isVisit != null" >
        IS_VISIT = #{isVisit,jdbcType=VARCHAR},
      </if>
      <if test="randomTypeId != null" >
        RANDOM_TYPE_ID = #{randomTypeId,jdbcType=VARCHAR},
      </if>
      <if test="randomTypeName != null" >
        RANDOM_TYPE_NAME = #{randomTypeName,jdbcType=VARCHAR},
      </if>
      <if test="blindTypeId != null" >
        BLIND_TYPE_ID = #{blindTypeId,jdbcType=VARCHAR},
      </if>
      <if test="blindTypeName != null" >
        BLIND_TYPE_NAME = #{blindTypeName,jdbcType=VARCHAR},
      </if>
      <if test="randomFileFlow != null" >
        RANDOM_FILE_FLOW = #{randomFileFlow,jdbcType=VARCHAR},
      </if>
      <if test="projLock != null" >
        PROJ_LOCK = #{projLock,jdbcType=VARCHAR},
      </if>
      <if test="designLock != null" >
        DESIGN_LOCK = #{designLock,jdbcType=VARCHAR},
      </if>
      <if test="randomLock != null" >
        RANDOM_LOCK = #{randomLock,jdbcType=VARCHAR},
      </if>
      <if test="inputLock != null" >
        INPUT_LOCK = #{inputLock,jdbcType=VARCHAR},
      </if>
      <if test="inspectLock != null" >
        INSPECT_LOCK = #{inspectLock,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="randomFactor != null" >
        RANDOM_FACTOR = #{randomFactor,jdbcType=CLOB},
      </if>
    </set>
    where PROJ_FLOW = #{projFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.sci.model.mo.EdcProjParam" >
    update PDSCI.EDC_PROJ_PARAM
    set INPUT_TYPE_ID = #{inputTypeId,jdbcType=VARCHAR},
      INPUT_TYPE_NAME = #{inputTypeName,jdbcType=VARCHAR},
      VIEW_TYPE_ID = #{viewTypeId,jdbcType=VARCHAR},
      VIEW_TYPE_NAME = #{viewTypeName,jdbcType=VARCHAR},
      IS_RANDOM = #{isRandom,jdbcType=VARCHAR},
      IS_VISIT = #{isVisit,jdbcType=VARCHAR},
      RANDOM_TYPE_ID = #{randomTypeId,jdbcType=VARCHAR},
      RANDOM_TYPE_NAME = #{randomTypeName,jdbcType=VARCHAR},
      BLIND_TYPE_ID = #{blindTypeId,jdbcType=VARCHAR},
      BLIND_TYPE_NAME = #{blindTypeName,jdbcType=VARCHAR},
      RANDOM_FILE_FLOW = #{randomFileFlow,jdbcType=VARCHAR},
      PROJ_LOCK = #{projLock,jdbcType=VARCHAR},
      DESIGN_LOCK = #{designLock,jdbcType=VARCHAR},
      RANDOM_LOCK = #{randomLock,jdbcType=VARCHAR},
      INPUT_LOCK = #{inputLock,jdbcType=VARCHAR},
      INSPECT_LOCK = #{inspectLock,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      RANDOM_FACTOR = #{randomFactor,jdbcType=CLOB}
    where PROJ_FLOW = #{projFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.EdcProjParam" >
    update PDSCI.EDC_PROJ_PARAM
    set INPUT_TYPE_ID = #{inputTypeId,jdbcType=VARCHAR},
      INPUT_TYPE_NAME = #{inputTypeName,jdbcType=VARCHAR},
      VIEW_TYPE_ID = #{viewTypeId,jdbcType=VARCHAR},
      VIEW_TYPE_NAME = #{viewTypeName,jdbcType=VARCHAR},
      IS_RANDOM = #{isRandom,jdbcType=VARCHAR},
      IS_VISIT = #{isVisit,jdbcType=VARCHAR},
      RANDOM_TYPE_ID = #{randomTypeId,jdbcType=VARCHAR},
      RANDOM_TYPE_NAME = #{randomTypeName,jdbcType=VARCHAR},
      BLIND_TYPE_ID = #{blindTypeId,jdbcType=VARCHAR},
      BLIND_TYPE_NAME = #{blindTypeName,jdbcType=VARCHAR},
      RANDOM_FILE_FLOW = #{randomFileFlow,jdbcType=VARCHAR},
      PROJ_LOCK = #{projLock,jdbcType=VARCHAR},
      DESIGN_LOCK = #{designLock,jdbcType=VARCHAR},
      RANDOM_LOCK = #{randomLock,jdbcType=VARCHAR},
      INPUT_LOCK = #{inputLock,jdbcType=VARCHAR},
      INSPECT_LOCK = #{inspectLock,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR}
    where PROJ_FLOW = #{projFlow,jdbcType=VARCHAR}
  </update>
</mapper>