<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.EdcQueryMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.EdcQuery" >
    <id column="QUERY_FLOW" property="queryFlow" jdbcType="VARCHAR" />
    <result column="PROJ_FLOW" property="projFlow" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="PATIENT_FLOW" property="patientFlow" jdbcType="VARCHAR" />
    <result column="PATIENT_CODE" property="patientCode" jdbcType="VARCHAR" />
    <result column="QUERY_SEQ" property="querySeq" jdbcType="DECIMAL" />
    <result column="QUERY_STATUS_ID" property="queryStatusId" jdbcType="VARCHAR" />
    <result column="QUERY_STATUS_NAME" property="queryStatusName" jdbcType="VARCHAR" />
    <result column="SEND_USER_FLOW" property="sendUserFlow" jdbcType="VARCHAR" />
    <result column="SEND_USER_NAME" property="sendUserName" jdbcType="VARCHAR" />
    <result column="SEND_TIME" property="sendTime" jdbcType="VARCHAR" />
    <result column="SEND_WAY_ID" property="sendWayId" jdbcType="VARCHAR" />
    <result column="SEND_WAY_NAME" property="sendWayName" jdbcType="VARCHAR" />
    <result column="QUERY_TYPE_ID" property="queryTypeId" jdbcType="VARCHAR" />
    <result column="QUERY_TYPE_NAME" property="queryTypeName" jdbcType="VARCHAR" />
    <result column="QUERY_CONTENT" property="queryContent" jdbcType="VARCHAR" />
    <result column="SOLVE_STATUS_ID" property="solveStatusId" jdbcType="VARCHAR" />
    <result column="SOLVE_STATUS_NAME" property="solveStatusName" jdbcType="VARCHAR" />
    <result column="SOLVE_USER_FLOW" property="solveUserFlow" jdbcType="VARCHAR" />
    <result column="SOLVE_USER_NAME" property="solveUserName" jdbcType="VARCHAR" />
    <result column="SOLVE_TIME" property="solveTime" jdbcType="VARCHAR" />
    <result column="DCF_FLOW" property="dcfFlow" jdbcType="VARCHAR" />
    <result column="DCF_NO" property="dcfNo" jdbcType="VARCHAR" />
    <result column="CRA_STATUS" property="craStatus" jdbcType="VARCHAR" />
    <result column="DM_STATUS" property="dmStatus" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    QUERY_FLOW, PROJ_FLOW, ORG_FLOW, PATIENT_FLOW, PATIENT_CODE, QUERY_SEQ, QUERY_STATUS_ID, 
    QUERY_STATUS_NAME, SEND_USER_FLOW, SEND_USER_NAME, SEND_TIME, SEND_WAY_ID, SEND_WAY_NAME, 
    QUERY_TYPE_ID, QUERY_TYPE_NAME, QUERY_CONTENT, SOLVE_STATUS_ID, SOLVE_STATUS_NAME, 
    SOLVE_USER_FLOW, SOLVE_USER_NAME, SOLVE_TIME, DCF_FLOW, DCF_NO, CRA_STATUS, DM_STATUS, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.EdcQueryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.EDC_QUERY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.EDC_QUERY
    where QUERY_FLOW = #{queryFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.EDC_QUERY
    where QUERY_FLOW = #{queryFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.EdcQueryExample" >
    delete from PDSCI.EDC_QUERY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.EdcQuery" >
    insert into PDSCI.EDC_QUERY (QUERY_FLOW, PROJ_FLOW, ORG_FLOW, 
      PATIENT_FLOW, PATIENT_CODE, QUERY_SEQ, 
      QUERY_STATUS_ID, QUERY_STATUS_NAME, SEND_USER_FLOW, 
      SEND_USER_NAME, SEND_TIME, SEND_WAY_ID, 
      SEND_WAY_NAME, QUERY_TYPE_ID, QUERY_TYPE_NAME, 
      QUERY_CONTENT, SOLVE_STATUS_ID, SOLVE_STATUS_NAME, 
      SOLVE_USER_FLOW, SOLVE_USER_NAME, SOLVE_TIME, 
      DCF_FLOW, DCF_NO, CRA_STATUS, 
      DM_STATUS, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
      )
    values (#{queryFlow,jdbcType=VARCHAR}, #{projFlow,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, 
      #{patientFlow,jdbcType=VARCHAR}, #{patientCode,jdbcType=VARCHAR}, #{querySeq,jdbcType=DECIMAL}, 
      #{queryStatusId,jdbcType=VARCHAR}, #{queryStatusName,jdbcType=VARCHAR}, #{sendUserFlow,jdbcType=VARCHAR}, 
      #{sendUserName,jdbcType=VARCHAR}, #{sendTime,jdbcType=VARCHAR}, #{sendWayId,jdbcType=VARCHAR}, 
      #{sendWayName,jdbcType=VARCHAR}, #{queryTypeId,jdbcType=VARCHAR}, #{queryTypeName,jdbcType=VARCHAR}, 
      #{queryContent,jdbcType=VARCHAR}, #{solveStatusId,jdbcType=VARCHAR}, #{solveStatusName,jdbcType=VARCHAR}, 
      #{solveUserFlow,jdbcType=VARCHAR}, #{solveUserName,jdbcType=VARCHAR}, #{solveTime,jdbcType=VARCHAR}, 
      #{dcfFlow,jdbcType=VARCHAR}, #{dcfNo,jdbcType=VARCHAR}, #{craStatus,jdbcType=VARCHAR}, 
      #{dmStatus,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.EdcQuery" >
    insert into PDSCI.EDC_QUERY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="queryFlow != null" >
        QUERY_FLOW,
      </if>
      <if test="projFlow != null" >
        PROJ_FLOW,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="patientFlow != null" >
        PATIENT_FLOW,
      </if>
      <if test="patientCode != null" >
        PATIENT_CODE,
      </if>
      <if test="querySeq != null" >
        QUERY_SEQ,
      </if>
      <if test="queryStatusId != null" >
        QUERY_STATUS_ID,
      </if>
      <if test="queryStatusName != null" >
        QUERY_STATUS_NAME,
      </if>
      <if test="sendUserFlow != null" >
        SEND_USER_FLOW,
      </if>
      <if test="sendUserName != null" >
        SEND_USER_NAME,
      </if>
      <if test="sendTime != null" >
        SEND_TIME,
      </if>
      <if test="sendWayId != null" >
        SEND_WAY_ID,
      </if>
      <if test="sendWayName != null" >
        SEND_WAY_NAME,
      </if>
      <if test="queryTypeId != null" >
        QUERY_TYPE_ID,
      </if>
      <if test="queryTypeName != null" >
        QUERY_TYPE_NAME,
      </if>
      <if test="queryContent != null" >
        QUERY_CONTENT,
      </if>
      <if test="solveStatusId != null" >
        SOLVE_STATUS_ID,
      </if>
      <if test="solveStatusName != null" >
        SOLVE_STATUS_NAME,
      </if>
      <if test="solveUserFlow != null" >
        SOLVE_USER_FLOW,
      </if>
      <if test="solveUserName != null" >
        SOLVE_USER_NAME,
      </if>
      <if test="solveTime != null" >
        SOLVE_TIME,
      </if>
      <if test="dcfFlow != null" >
        DCF_FLOW,
      </if>
      <if test="dcfNo != null" >
        DCF_NO,
      </if>
      <if test="craStatus != null" >
        CRA_STATUS,
      </if>
      <if test="dmStatus != null" >
        DM_STATUS,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="queryFlow != null" >
        #{queryFlow,jdbcType=VARCHAR},
      </if>
      <if test="projFlow != null" >
        #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="patientFlow != null" >
        #{patientFlow,jdbcType=VARCHAR},
      </if>
      <if test="patientCode != null" >
        #{patientCode,jdbcType=VARCHAR},
      </if>
      <if test="querySeq != null" >
        #{querySeq,jdbcType=DECIMAL},
      </if>
      <if test="queryStatusId != null" >
        #{queryStatusId,jdbcType=VARCHAR},
      </if>
      <if test="queryStatusName != null" >
        #{queryStatusName,jdbcType=VARCHAR},
      </if>
      <if test="sendUserFlow != null" >
        #{sendUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="sendUserName != null" >
        #{sendUserName,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=VARCHAR},
      </if>
      <if test="sendWayId != null" >
        #{sendWayId,jdbcType=VARCHAR},
      </if>
      <if test="sendWayName != null" >
        #{sendWayName,jdbcType=VARCHAR},
      </if>
      <if test="queryTypeId != null" >
        #{queryTypeId,jdbcType=VARCHAR},
      </if>
      <if test="queryTypeName != null" >
        #{queryTypeName,jdbcType=VARCHAR},
      </if>
      <if test="queryContent != null" >
        #{queryContent,jdbcType=VARCHAR},
      </if>
      <if test="solveStatusId != null" >
        #{solveStatusId,jdbcType=VARCHAR},
      </if>
      <if test="solveStatusName != null" >
        #{solveStatusName,jdbcType=VARCHAR},
      </if>
      <if test="solveUserFlow != null" >
        #{solveUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="solveUserName != null" >
        #{solveUserName,jdbcType=VARCHAR},
      </if>
      <if test="solveTime != null" >
        #{solveTime,jdbcType=VARCHAR},
      </if>
      <if test="dcfFlow != null" >
        #{dcfFlow,jdbcType=VARCHAR},
      </if>
      <if test="dcfNo != null" >
        #{dcfNo,jdbcType=VARCHAR},
      </if>
      <if test="craStatus != null" >
        #{craStatus,jdbcType=VARCHAR},
      </if>
      <if test="dmStatus != null" >
        #{dmStatus,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.EdcQueryExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.EDC_QUERY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.EDC_QUERY
    <set >
      <if test="record.queryFlow != null" >
        QUERY_FLOW = #{record.queryFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projFlow != null" >
        PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.patientFlow != null" >
        PATIENT_FLOW = #{record.patientFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.patientCode != null" >
        PATIENT_CODE = #{record.patientCode,jdbcType=VARCHAR},
      </if>
      <if test="record.querySeq != null" >
        QUERY_SEQ = #{record.querySeq,jdbcType=DECIMAL},
      </if>
      <if test="record.queryStatusId != null" >
        QUERY_STATUS_ID = #{record.queryStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.queryStatusName != null" >
        QUERY_STATUS_NAME = #{record.queryStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.sendUserFlow != null" >
        SEND_USER_FLOW = #{record.sendUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.sendUserName != null" >
        SEND_USER_NAME = #{record.sendUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.sendTime != null" >
        SEND_TIME = #{record.sendTime,jdbcType=VARCHAR},
      </if>
      <if test="record.sendWayId != null" >
        SEND_WAY_ID = #{record.sendWayId,jdbcType=VARCHAR},
      </if>
      <if test="record.sendWayName != null" >
        SEND_WAY_NAME = #{record.sendWayName,jdbcType=VARCHAR},
      </if>
      <if test="record.queryTypeId != null" >
        QUERY_TYPE_ID = #{record.queryTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.queryTypeName != null" >
        QUERY_TYPE_NAME = #{record.queryTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.queryContent != null" >
        QUERY_CONTENT = #{record.queryContent,jdbcType=VARCHAR},
      </if>
      <if test="record.solveStatusId != null" >
        SOLVE_STATUS_ID = #{record.solveStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.solveStatusName != null" >
        SOLVE_STATUS_NAME = #{record.solveStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.solveUserFlow != null" >
        SOLVE_USER_FLOW = #{record.solveUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.solveUserName != null" >
        SOLVE_USER_NAME = #{record.solveUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.solveTime != null" >
        SOLVE_TIME = #{record.solveTime,jdbcType=VARCHAR},
      </if>
      <if test="record.dcfFlow != null" >
        DCF_FLOW = #{record.dcfFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.dcfNo != null" >
        DCF_NO = #{record.dcfNo,jdbcType=VARCHAR},
      </if>
      <if test="record.craStatus != null" >
        CRA_STATUS = #{record.craStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.dmStatus != null" >
        DM_STATUS = #{record.dmStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.EDC_QUERY
    set QUERY_FLOW = #{record.queryFlow,jdbcType=VARCHAR},
      PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      PATIENT_FLOW = #{record.patientFlow,jdbcType=VARCHAR},
      PATIENT_CODE = #{record.patientCode,jdbcType=VARCHAR},
      QUERY_SEQ = #{record.querySeq,jdbcType=DECIMAL},
      QUERY_STATUS_ID = #{record.queryStatusId,jdbcType=VARCHAR},
      QUERY_STATUS_NAME = #{record.queryStatusName,jdbcType=VARCHAR},
      SEND_USER_FLOW = #{record.sendUserFlow,jdbcType=VARCHAR},
      SEND_USER_NAME = #{record.sendUserName,jdbcType=VARCHAR},
      SEND_TIME = #{record.sendTime,jdbcType=VARCHAR},
      SEND_WAY_ID = #{record.sendWayId,jdbcType=VARCHAR},
      SEND_WAY_NAME = #{record.sendWayName,jdbcType=VARCHAR},
      QUERY_TYPE_ID = #{record.queryTypeId,jdbcType=VARCHAR},
      QUERY_TYPE_NAME = #{record.queryTypeName,jdbcType=VARCHAR},
      QUERY_CONTENT = #{record.queryContent,jdbcType=VARCHAR},
      SOLVE_STATUS_ID = #{record.solveStatusId,jdbcType=VARCHAR},
      SOLVE_STATUS_NAME = #{record.solveStatusName,jdbcType=VARCHAR},
      SOLVE_USER_FLOW = #{record.solveUserFlow,jdbcType=VARCHAR},
      SOLVE_USER_NAME = #{record.solveUserName,jdbcType=VARCHAR},
      SOLVE_TIME = #{record.solveTime,jdbcType=VARCHAR},
      DCF_FLOW = #{record.dcfFlow,jdbcType=VARCHAR},
      DCF_NO = #{record.dcfNo,jdbcType=VARCHAR},
      CRA_STATUS = #{record.craStatus,jdbcType=VARCHAR},
      DM_STATUS = #{record.dmStatus,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.EdcQuery" >
    update PDSCI.EDC_QUERY
    <set >
      <if test="projFlow != null" >
        PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="patientFlow != null" >
        PATIENT_FLOW = #{patientFlow,jdbcType=VARCHAR},
      </if>
      <if test="patientCode != null" >
        PATIENT_CODE = #{patientCode,jdbcType=VARCHAR},
      </if>
      <if test="querySeq != null" >
        QUERY_SEQ = #{querySeq,jdbcType=DECIMAL},
      </if>
      <if test="queryStatusId != null" >
        QUERY_STATUS_ID = #{queryStatusId,jdbcType=VARCHAR},
      </if>
      <if test="queryStatusName != null" >
        QUERY_STATUS_NAME = #{queryStatusName,jdbcType=VARCHAR},
      </if>
      <if test="sendUserFlow != null" >
        SEND_USER_FLOW = #{sendUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="sendUserName != null" >
        SEND_USER_NAME = #{sendUserName,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        SEND_TIME = #{sendTime,jdbcType=VARCHAR},
      </if>
      <if test="sendWayId != null" >
        SEND_WAY_ID = #{sendWayId,jdbcType=VARCHAR},
      </if>
      <if test="sendWayName != null" >
        SEND_WAY_NAME = #{sendWayName,jdbcType=VARCHAR},
      </if>
      <if test="queryTypeId != null" >
        QUERY_TYPE_ID = #{queryTypeId,jdbcType=VARCHAR},
      </if>
      <if test="queryTypeName != null" >
        QUERY_TYPE_NAME = #{queryTypeName,jdbcType=VARCHAR},
      </if>
      <if test="queryContent != null" >
        QUERY_CONTENT = #{queryContent,jdbcType=VARCHAR},
      </if>
      <if test="solveStatusId != null" >
        SOLVE_STATUS_ID = #{solveStatusId,jdbcType=VARCHAR},
      </if>
      <if test="solveStatusName != null" >
        SOLVE_STATUS_NAME = #{solveStatusName,jdbcType=VARCHAR},
      </if>
      <if test="solveUserFlow != null" >
        SOLVE_USER_FLOW = #{solveUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="solveUserName != null" >
        SOLVE_USER_NAME = #{solveUserName,jdbcType=VARCHAR},
      </if>
      <if test="solveTime != null" >
        SOLVE_TIME = #{solveTime,jdbcType=VARCHAR},
      </if>
      <if test="dcfFlow != null" >
        DCF_FLOW = #{dcfFlow,jdbcType=VARCHAR},
      </if>
      <if test="dcfNo != null" >
        DCF_NO = #{dcfNo,jdbcType=VARCHAR},
      </if>
      <if test="craStatus != null" >
        CRA_STATUS = #{craStatus,jdbcType=VARCHAR},
      </if>
      <if test="dmStatus != null" >
        DM_STATUS = #{dmStatus,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where QUERY_FLOW = #{queryFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.EdcQuery" >
    update PDSCI.EDC_QUERY
    set PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      PATIENT_FLOW = #{patientFlow,jdbcType=VARCHAR},
      PATIENT_CODE = #{patientCode,jdbcType=VARCHAR},
      QUERY_SEQ = #{querySeq,jdbcType=DECIMAL},
      QUERY_STATUS_ID = #{queryStatusId,jdbcType=VARCHAR},
      QUERY_STATUS_NAME = #{queryStatusName,jdbcType=VARCHAR},
      SEND_USER_FLOW = #{sendUserFlow,jdbcType=VARCHAR},
      SEND_USER_NAME = #{sendUserName,jdbcType=VARCHAR},
      SEND_TIME = #{sendTime,jdbcType=VARCHAR},
      SEND_WAY_ID = #{sendWayId,jdbcType=VARCHAR},
      SEND_WAY_NAME = #{sendWayName,jdbcType=VARCHAR},
      QUERY_TYPE_ID = #{queryTypeId,jdbcType=VARCHAR},
      QUERY_TYPE_NAME = #{queryTypeName,jdbcType=VARCHAR},
      QUERY_CONTENT = #{queryContent,jdbcType=VARCHAR},
      SOLVE_STATUS_ID = #{solveStatusId,jdbcType=VARCHAR},
      SOLVE_STATUS_NAME = #{solveStatusName,jdbcType=VARCHAR},
      SOLVE_USER_FLOW = #{solveUserFlow,jdbcType=VARCHAR},
      SOLVE_USER_NAME = #{solveUserName,jdbcType=VARCHAR},
      SOLVE_TIME = #{solveTime,jdbcType=VARCHAR},
      DCF_FLOW = #{dcfFlow,jdbcType=VARCHAR},
      DCF_NO = #{dcfNo,jdbcType=VARCHAR},
      CRA_STATUS = #{craStatus,jdbcType=VARCHAR},
      DM_STATUS = #{dmStatus,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where QUERY_FLOW = #{queryFlow,jdbcType=VARCHAR}
  </update>
</mapper>