<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.EduCourseScheduleMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.EduCourseSchedule" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="USER_FLOW" property="userFlow" jdbcType="VARCHAR" />
    <result column="COURSE_FLOW" property="courseFlow" jdbcType="VARCHAR" />
    <result column="CHAPTER_FLOW" property="chapterFlow" jdbcType="VARCHAR" />
    <result column="STUDY_STATUS_ID" property="studyStatusId" jdbcType="VARCHAR" />
    <result column="STUDY_STATUS_NAME" property="studyStatusName" jdbcType="VARCHAR" />
    <result column="EXAM_RESULTS" property="examResults" jdbcType="VARCHAR" />
    <result column="PRAISE_STATUS" property="praiseStatus" jdbcType="VARCHAR" />
    <result column="SCORE" property="score" jdbcType="DECIMAL" />
    <result column="EVALUATE" property="evaluate" jdbcType="VARCHAR" />
    <result column="EVALUATE_TIME" property="evaluateTime" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="CURRENT_TIME" property="currentTime" jdbcType="VARCHAR" />
    <result column="CHAPTER_FINISH_FLAG" property="chapterFinishFlag" jdbcType="VARCHAR" />
    <result column="EXAM_PASS_FLAG" property="examPassFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, USER_FLOW, COURSE_FLOW, CHAPTER_FLOW, STUDY_STATUS_ID, STUDY_STATUS_NAME, 
    EXAM_RESULTS, PRAISE_STATUS, SCORE, EVALUATE, EVALUATE_TIME, RECORD_STATUS, CREATE_TIME, 
    CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, CURRENT_TIME, CHAPTER_FINISH_FLAG, 
    EXAM_PASS_FLAG
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.EduCourseScheduleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.EDU_COURSE_SCHEDULE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.EDU_COURSE_SCHEDULE
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.EDU_COURSE_SCHEDULE
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.EduCourseScheduleExample" >
    delete from PDSCI.EDU_COURSE_SCHEDULE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.EduCourseSchedule" >
    insert into PDSCI.EDU_COURSE_SCHEDULE (RECORD_FLOW, USER_FLOW, COURSE_FLOW, 
      CHAPTER_FLOW, STUDY_STATUS_ID, STUDY_STATUS_NAME, 
      EXAM_RESULTS, PRAISE_STATUS, SCORE, 
      EVALUATE, EVALUATE_TIME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, CURRENT_TIME, CHAPTER_FINISH_FLAG, 
      EXAM_PASS_FLAG)
    values (#{recordFlow,jdbcType=VARCHAR}, #{userFlow,jdbcType=VARCHAR}, #{courseFlow,jdbcType=VARCHAR}, 
      #{chapterFlow,jdbcType=VARCHAR}, #{studyStatusId,jdbcType=VARCHAR}, #{studyStatusName,jdbcType=VARCHAR}, 
      #{examResults,jdbcType=VARCHAR}, #{praiseStatus,jdbcType=VARCHAR}, #{score,jdbcType=DECIMAL}, 
      #{evaluate,jdbcType=VARCHAR}, #{evaluateTime,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{currentTime,jdbcType=VARCHAR}, #{chapterFinishFlag,jdbcType=VARCHAR}, 
      #{examPassFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.EduCourseSchedule" >
    insert into PDSCI.EDU_COURSE_SCHEDULE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="userFlow != null" >
        USER_FLOW,
      </if>
      <if test="courseFlow != null" >
        COURSE_FLOW,
      </if>
      <if test="chapterFlow != null" >
        CHAPTER_FLOW,
      </if>
      <if test="studyStatusId != null" >
        STUDY_STATUS_ID,
      </if>
      <if test="studyStatusName != null" >
        STUDY_STATUS_NAME,
      </if>
      <if test="examResults != null" >
        EXAM_RESULTS,
      </if>
      <if test="praiseStatus != null" >
        PRAISE_STATUS,
      </if>
      <if test="score != null" >
        SCORE,
      </if>
      <if test="evaluate != null" >
        EVALUATE,
      </if>
      <if test="evaluateTime != null" >
        EVALUATE_TIME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="currentTime != null" >
        CURRENT_TIME,
      </if>
      <if test="chapterFinishFlag != null" >
        CHAPTER_FINISH_FLAG,
      </if>
      <if test="examPassFlag != null" >
        EXAM_PASS_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null" >
        #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="courseFlow != null" >
        #{courseFlow,jdbcType=VARCHAR},
      </if>
      <if test="chapterFlow != null" >
        #{chapterFlow,jdbcType=VARCHAR},
      </if>
      <if test="studyStatusId != null" >
        #{studyStatusId,jdbcType=VARCHAR},
      </if>
      <if test="studyStatusName != null" >
        #{studyStatusName,jdbcType=VARCHAR},
      </if>
      <if test="examResults != null" >
        #{examResults,jdbcType=VARCHAR},
      </if>
      <if test="praiseStatus != null" >
        #{praiseStatus,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="evaluate != null" >
        #{evaluate,jdbcType=VARCHAR},
      </if>
      <if test="evaluateTime != null" >
        #{evaluateTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="currentTime != null" >
        #{currentTime,jdbcType=VARCHAR},
      </if>
      <if test="chapterFinishFlag != null" >
        #{chapterFinishFlag,jdbcType=VARCHAR},
      </if>
      <if test="examPassFlag != null" >
        #{examPassFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.EduCourseScheduleExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.EDU_COURSE_SCHEDULE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.EDU_COURSE_SCHEDULE
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userFlow != null" >
        USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.courseFlow != null" >
        COURSE_FLOW = #{record.courseFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.chapterFlow != null" >
        CHAPTER_FLOW = #{record.chapterFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.studyStatusId != null" >
        STUDY_STATUS_ID = #{record.studyStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.studyStatusName != null" >
        STUDY_STATUS_NAME = #{record.studyStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.examResults != null" >
        EXAM_RESULTS = #{record.examResults,jdbcType=VARCHAR},
      </if>
      <if test="record.praiseStatus != null" >
        PRAISE_STATUS = #{record.praiseStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null" >
        SCORE = #{record.score,jdbcType=DECIMAL},
      </if>
      <if test="record.evaluate != null" >
        EVALUATE = #{record.evaluate,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluateTime != null" >
        EVALUATE_TIME = #{record.evaluateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.currentTime != null" >
        CURRENT_TIME = #{record.currentTime,jdbcType=VARCHAR},
      </if>
      <if test="record.chapterFinishFlag != null" >
        CHAPTER_FINISH_FLAG = #{record.chapterFinishFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.examPassFlag != null" >
        EXAM_PASS_FLAG = #{record.examPassFlag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.EDU_COURSE_SCHEDULE
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      COURSE_FLOW = #{record.courseFlow,jdbcType=VARCHAR},
      CHAPTER_FLOW = #{record.chapterFlow,jdbcType=VARCHAR},
      STUDY_STATUS_ID = #{record.studyStatusId,jdbcType=VARCHAR},
      STUDY_STATUS_NAME = #{record.studyStatusName,jdbcType=VARCHAR},
      EXAM_RESULTS = #{record.examResults,jdbcType=VARCHAR},
      PRAISE_STATUS = #{record.praiseStatus,jdbcType=VARCHAR},
      SCORE = #{record.score,jdbcType=DECIMAL},
      EVALUATE = #{record.evaluate,jdbcType=VARCHAR},
      EVALUATE_TIME = #{record.evaluateTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      CURRENT_TIME = #{record.currentTime,jdbcType=VARCHAR},
      CHAPTER_FINISH_FLAG = #{record.chapterFinishFlag,jdbcType=VARCHAR},
      EXAM_PASS_FLAG = #{record.examPassFlag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.EduCourseSchedule" >
    update PDSCI.EDU_COURSE_SCHEDULE
    <set >
      <if test="userFlow != null" >
        USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="courseFlow != null" >
        COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR},
      </if>
      <if test="chapterFlow != null" >
        CHAPTER_FLOW = #{chapterFlow,jdbcType=VARCHAR},
      </if>
      <if test="studyStatusId != null" >
        STUDY_STATUS_ID = #{studyStatusId,jdbcType=VARCHAR},
      </if>
      <if test="studyStatusName != null" >
        STUDY_STATUS_NAME = #{studyStatusName,jdbcType=VARCHAR},
      </if>
      <if test="examResults != null" >
        EXAM_RESULTS = #{examResults,jdbcType=VARCHAR},
      </if>
      <if test="praiseStatus != null" >
        PRAISE_STATUS = #{praiseStatus,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        SCORE = #{score,jdbcType=DECIMAL},
      </if>
      <if test="evaluate != null" >
        EVALUATE = #{evaluate,jdbcType=VARCHAR},
      </if>
      <if test="evaluateTime != null" >
        EVALUATE_TIME = #{evaluateTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="currentTime != null" >
        CURRENT_TIME = #{currentTime,jdbcType=VARCHAR},
      </if>
      <if test="chapterFinishFlag != null" >
        CHAPTER_FINISH_FLAG = #{chapterFinishFlag,jdbcType=VARCHAR},
      </if>
      <if test="examPassFlag != null" >
        EXAM_PASS_FLAG = #{examPassFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.EduCourseSchedule" >
    update PDSCI.EDU_COURSE_SCHEDULE
    set USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR},
      CHAPTER_FLOW = #{chapterFlow,jdbcType=VARCHAR},
      STUDY_STATUS_ID = #{studyStatusId,jdbcType=VARCHAR},
      STUDY_STATUS_NAME = #{studyStatusName,jdbcType=VARCHAR},
      EXAM_RESULTS = #{examResults,jdbcType=VARCHAR},
      PRAISE_STATUS = #{praiseStatus,jdbcType=VARCHAR},
      SCORE = #{score,jdbcType=DECIMAL},
      EVALUATE = #{evaluate,jdbcType=VARCHAR},
      EVALUATE_TIME = #{evaluateTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      CURRENT_TIME = #{currentTime,jdbcType=VARCHAR},
      CHAPTER_FINISH_FLAG = #{chapterFinishFlag,jdbcType=VARCHAR},
      EXAM_PASS_FLAG = #{examPassFlag,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>