<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.EduCourseMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.EduCourse">
    <id column="COURSE_FLOW" jdbcType="VARCHAR" property="courseFlow" />
    <result column="COURSE_NAME" jdbcType="VARCHAR" property="courseName" />
    <result column="COURSE_MAJOR_ID" jdbcType="VARCHAR" property="courseMajorId" />
    <result column="COURSE_MAJOR_NAME" jdbcType="VARCHAR" property="courseMajorName" />
    <result column="COURSE_CREDIT" jdbcType="VARCHAR" property="courseCredit" />
    <result column="COURSE_TYPE_ID" jdbcType="VARCHAR" property="courseTypeId" />
    <result column="COURSE_TYPE_NAME" jdbcType="VARCHAR" property="courseTypeName" />
    <result column="COURSE_PERIOD" jdbcType="VARCHAR" property="coursePeriod" />
    <result column="COURSE_IMG" jdbcType="VARCHAR" property="courseImg" />
    <result column="COURSE_ORDER" jdbcType="DECIMAL" property="courseOrder" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="UPLOAD_TIME" jdbcType="VARCHAR" property="uploadTime" />
    <result column="COURSE_CATEGORY_ID" jdbcType="VARCHAR" property="courseCategoryId" />
    <result column="COURSE_CATEGORY_NAME" jdbcType="VARCHAR" property="courseCategoryName" />
    <result column="COURSE_STATUS_ID" jdbcType="VARCHAR" property="courseStatusId" />
    <result column="COURSE_STATUS_NAME" jdbcType="VARCHAR" property="courseStatusName" />
    <result column="COURSE_SPEAKER" jdbcType="VARCHAR" property="courseSpeaker" />
    <result column="DEPT_FLOW" jdbcType="VARCHAR" property="deptFlow" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="COURSE_IMG_NAME" jdbcType="VARCHAR" property="courseImgName" />
    <result column="CREATE_USER_NAME" jdbcType="VARCHAR" property="createUserName" />
    <result column="GRADATION_ID" jdbcType="VARCHAR" property="gradationId" />
    <result column="GRADATION_NAME" jdbcType="VARCHAR" property="gradationName" />
    <result column="COURSE_PERIOD_TEACH" jdbcType="VARCHAR" property="coursePeriodTeach" />
    <result column="COURSE_PERIOD_EXPER" jdbcType="VARCHAR" property="coursePeriodExper" />
    <result column="COURSE_PERIOD_MACHINE" jdbcType="VARCHAR" property="coursePeriodMachine" />
    <result column="COURSE_PERIOD_OTHER" jdbcType="VARCHAR" property="coursePeriodOther" />
    <result column="COURSE_CODE" jdbcType="VARCHAR" property="courseCode" />
    <result column="COURSE_NAME_EN" jdbcType="VARCHAR" property="courseNameEn" />
    <result column="COURSE_USER_COUNT" jdbcType="VARCHAR" property="courseUserCount" />
    <result column="COURSE_MOUDLE_ID" jdbcType="VARCHAR" property="courseMoudleId" />
    <result column="COURSE_MOUDLE_NAME" jdbcType="VARCHAR" property="courseMoudleName" />
    <result column="ASSUME_ORG_FLOW" jdbcType="VARCHAR" property="assumeOrgFlow" />
    <result column="ASSUME_ORG_NAME" jdbcType="VARCHAR" property="assumeOrgName" />
    <result column="COURSE_SPEAKER_FLOW" jdbcType="VARCHAR" property="courseSpeakerFlow" />
    <result column="COURSE_SPEAKER_PHONE" jdbcType="VARCHAR" property="courseSpeakerPhone" />
    <result column="COURSE_SESSION" jdbcType="VARCHAR" property="courseSession" />
    <result column="PRE_COURSE" jdbcType="VARCHAR" property="preCourse" />
    <result column="EFFECTIVE_GRADE" jdbcType="VARCHAR" property="effectiveGrade" />
    <result column="CLASS_APPLY_MEMO" jdbcType="VARCHAR" property="classApplyMemo" />
    <result column="CLASS_APPLY_FLAG" jdbcType="VARCHAR" property="classApplyFlag" />
    <result column="COURSE_SCHEDULE_MEMO" jdbcType="VARCHAR" property="courseScheduleMemo" />
    <result column="COURSE_SCHEDULE_FLAG" jdbcType="VARCHAR" property="courseScheduleFlag" />
    <result column="COURSE_EVALUATE_MEMO" jdbcType="VARCHAR" property="courseEvaluateMemo" />
    <result column="COURSE_EVALUATE_FLAG" jdbcType="VARCHAR" property="courseEvaluateFlag" />
    <result column="RESULT_INPUT" jdbcType="VARCHAR" property="resultInput" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.pinde.sci.model.mo.EduCourseWithBLOBs">
    <result column="COURSE_INTRO" jdbcType="CLOB" property="courseIntro" />
    <result column="OUTLINE_CONTENT" jdbcType="CLOB" property="outlineContent" />
    <result column="TEACHING_CONTENT" jdbcType="CLOB" property="teachingContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    COURSE_FLOW, COURSE_NAME, COURSE_MAJOR_ID, COURSE_MAJOR_NAME, COURSE_CREDIT, COURSE_TYPE_ID, 
    COURSE_TYPE_NAME, COURSE_PERIOD, COURSE_IMG, COURSE_ORDER, RECORD_STATUS, CREATE_TIME, 
    CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, UPLOAD_TIME, COURSE_CATEGORY_ID, 
    COURSE_CATEGORY_NAME, COURSE_STATUS_ID, COURSE_STATUS_NAME, COURSE_SPEAKER, DEPT_FLOW, 
    DEPT_NAME, COURSE_IMG_NAME, CREATE_USER_NAME, GRADATION_ID, GRADATION_NAME, COURSE_PERIOD_TEACH, 
    COURSE_PERIOD_EXPER, COURSE_PERIOD_MACHINE, COURSE_PERIOD_OTHER, COURSE_CODE, COURSE_NAME_EN, 
    COURSE_USER_COUNT, COURSE_MOUDLE_ID, COURSE_MOUDLE_NAME, ASSUME_ORG_FLOW, ASSUME_ORG_NAME, 
    COURSE_SPEAKER_FLOW, COURSE_SPEAKER_PHONE, COURSE_SESSION, PRE_COURSE, EFFECTIVE_GRADE,
    CLASS_APPLY_MEMO,CLASS_APPLY_FLAG,COURSE_SCHEDULE_MEMO,COURSE_SCHEDULE_FLAG,COURSE_EVALUATE_MEMO,COURSE_EVALUATE_FLAG,RESULT_INPUT
  </sql>
  <sql id="Blob_Column_List">
    COURSE_INTRO, OUTLINE_CONTENT, TEACHING_CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.pinde.sci.model.mo.EduCourseExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.EDU_COURSE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.EduCourseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.EDU_COURSE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.EDU_COURSE
    where COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.EDU_COURSE
    where COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.EduCourseExample">
    delete from PDSCI.EDU_COURSE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.EduCourse">
    insert into PDSCI.EDU_COURSE (COURSE_FLOW, COURSE_NAME, COURSE_MAJOR_ID, 
      COURSE_MAJOR_NAME, COURSE_CREDIT, COURSE_TYPE_ID, 
      COURSE_TYPE_NAME, COURSE_PERIOD, COURSE_IMG, 
      COURSE_ORDER, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      UPLOAD_TIME, COURSE_CATEGORY_ID, COURSE_CATEGORY_NAME, 
      COURSE_STATUS_ID, COURSE_STATUS_NAME, COURSE_SPEAKER, 
      DEPT_FLOW, DEPT_NAME, COURSE_IMG_NAME, 
      CREATE_USER_NAME, GRADATION_ID, GRADATION_NAME, 
      COURSE_PERIOD_TEACH, COURSE_PERIOD_EXPER, COURSE_PERIOD_MACHINE, 
      COURSE_PERIOD_OTHER, COURSE_CODE, COURSE_NAME_EN, 
      COURSE_USER_COUNT, COURSE_MOUDLE_ID, COURSE_MOUDLE_NAME, 
      ASSUME_ORG_FLOW, ASSUME_ORG_NAME, COURSE_SPEAKER_FLOW, 
      COURSE_SPEAKER_PHONE, COURSE_SESSION, PRE_COURSE, 
      EFFECTIVE_GRADE, COURSE_INTRO, OUTLINE_CONTENT, 
      TEACHING_CONTENT,CLASS_APPLY_MEMO,CLASS_APPLY_FLAG,COURSE_SCHEDULE_MEMO,
      COURSE_SCHEDULE_FLAG,COURSE_EVALUATE_MEMO,COURSE_EVALUATE_FLAG,RESULT_INPUT)
    values (#{courseFlow,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR}, #{courseMajorId,jdbcType=VARCHAR}, 
      #{courseMajorName,jdbcType=VARCHAR}, #{courseCredit,jdbcType=VARCHAR}, #{courseTypeId,jdbcType=VARCHAR}, 
      #{courseTypeName,jdbcType=VARCHAR}, #{coursePeriod,jdbcType=VARCHAR}, #{courseImg,jdbcType=VARCHAR}, 
      #{courseOrder,jdbcType=DECIMAL}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{uploadTime,jdbcType=VARCHAR}, #{courseCategoryId,jdbcType=VARCHAR}, #{courseCategoryName,jdbcType=VARCHAR}, 
      #{courseStatusId,jdbcType=VARCHAR}, #{courseStatusName,jdbcType=VARCHAR}, #{courseSpeaker,jdbcType=VARCHAR}, 
      #{deptFlow,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{courseImgName,jdbcType=VARCHAR}, 
      #{createUserName,jdbcType=VARCHAR}, #{gradationId,jdbcType=VARCHAR}, #{gradationName,jdbcType=VARCHAR}, 
      #{coursePeriodTeach,jdbcType=VARCHAR}, #{coursePeriodExper,jdbcType=VARCHAR}, #{coursePeriodMachine,jdbcType=VARCHAR}, 
      #{coursePeriodOther,jdbcType=VARCHAR}, #{courseCode,jdbcType=VARCHAR}, #{courseNameEn,jdbcType=VARCHAR}, 
      #{courseUserCount,jdbcType=VARCHAR}, #{courseMoudleId,jdbcType=VARCHAR}, #{courseMoudleName,jdbcType=VARCHAR}, 
      #{assumeOrgFlow,jdbcType=VARCHAR}, #{assumeOrgName,jdbcType=VARCHAR}, #{courseSpeakerFlow,jdbcType=VARCHAR}, 
      #{courseSpeakerPhone,jdbcType=VARCHAR}, #{courseSession,jdbcType=VARCHAR}, #{preCourse,jdbcType=VARCHAR}, 
      #{effectiveGrade,jdbcType=VARCHAR}, #{courseIntro,jdbcType=CLOB}, #{outlineContent,jdbcType=CLOB}, 
      #{teachingContent,jdbcType=CLOB}, #{classApplyMemo,jdbcType=VARCHAR}, #{classApplyFlag,jdbcType=VARCHAR},
      #{courseScheduleMemo,jdbcType=VARCHAR}, #{courseScheduleFlag,jdbcType=VARCHAR}, #{courseEvaluateMemo,jdbcType=VARCHAR},
      #{courseEvaluateFlag,jdbcType=VARCHAR},#{resultInput,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.EduCourse">
    insert into PDSCI.EDU_COURSE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseFlow != null">
        COURSE_FLOW,
      </if>
      <if test="courseName != null">
        COURSE_NAME,
      </if>
      <if test="courseMajorId != null">
        COURSE_MAJOR_ID,
      </if>
      <if test="courseMajorName != null">
        COURSE_MAJOR_NAME,
      </if>
      <if test="courseCredit != null">
        COURSE_CREDIT,
      </if>
      <if test="courseTypeId != null">
        COURSE_TYPE_ID,
      </if>
      <if test="courseTypeName != null">
        COURSE_TYPE_NAME,
      </if>
      <if test="coursePeriod != null">
        COURSE_PERIOD,
      </if>
      <if test="courseImg != null">
        COURSE_IMG,
      </if>
      <if test="courseOrder != null">
        COURSE_ORDER,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="uploadTime != null">
        UPLOAD_TIME,
      </if>
      <if test="courseCategoryId != null">
        COURSE_CATEGORY_ID,
      </if>
      <if test="courseCategoryName != null">
        COURSE_CATEGORY_NAME,
      </if>
      <if test="courseStatusId != null">
        COURSE_STATUS_ID,
      </if>
      <if test="courseStatusName != null">
        COURSE_STATUS_NAME,
      </if>
      <if test="courseSpeaker != null">
        COURSE_SPEAKER,
      </if>
      <if test="deptFlow != null">
        DEPT_FLOW,
      </if>
      <if test="deptName != null">
        DEPT_NAME,
      </if>
      <if test="courseImgName != null">
        COURSE_IMG_NAME,
      </if>
      <if test="createUserName != null">
        CREATE_USER_NAME,
      </if>
      <if test="gradationId != null">
        GRADATION_ID,
      </if>
      <if test="gradationName != null">
        GRADATION_NAME,
      </if>
      <if test="coursePeriodTeach != null">
        COURSE_PERIOD_TEACH,
      </if>
      <if test="coursePeriodExper != null">
        COURSE_PERIOD_EXPER,
      </if>
      <if test="coursePeriodMachine != null">
        COURSE_PERIOD_MACHINE,
      </if>
      <if test="coursePeriodOther != null">
        COURSE_PERIOD_OTHER,
      </if>
      <if test="courseCode != null">
        COURSE_CODE,
      </if>
      <if test="courseNameEn != null">
        COURSE_NAME_EN,
      </if>
      <if test="courseUserCount != null">
        COURSE_USER_COUNT,
      </if>
      <if test="courseMoudleId != null">
        COURSE_MOUDLE_ID,
      </if>
      <if test="courseMoudleName != null">
        COURSE_MOUDLE_NAME,
      </if>
      <if test="assumeOrgFlow != null">
        ASSUME_ORG_FLOW,
      </if>
      <if test="assumeOrgName != null">
        ASSUME_ORG_NAME,
      </if>
      <if test="courseSpeakerFlow != null">
        COURSE_SPEAKER_FLOW,
      </if>
      <if test="courseSpeakerPhone != null">
        COURSE_SPEAKER_PHONE,
      </if>
      <if test="courseSession != null">
        COURSE_SESSION,
      </if>
      <if test="preCourse != null">
        PRE_COURSE,
      </if>
      <if test="effectiveGrade != null">
        EFFECTIVE_GRADE,
      </if>
      <if test="courseIntro != null">
        COURSE_INTRO,
      </if>
      <if test="outlineContent != null">
        OUTLINE_CONTENT,
      </if>
      <if test="teachingContent != null">
        TEACHING_CONTENT,
      </if>
      <if test="classApplyMemo != null">
        CLASS_APPLY_MEMO,
      </if>
      <if test="classApplyFlag != null">
        CLASS_APPLY_FLAG,
      </if>
      <if test="courseScheduleMemo != null">
        COURSE_SCHEDULE_MEMO,
      </if>
      <if test="courseScheduleFlag != null">
        COURSE_SCHEDULE_FLAG,
      </if>
      <if test="courseEvaluateMemo != null">
        COURSE_EVALUATE_MEMO,
      </if>
      <if test="courseEvaluateFlag != null">
        COURSE_EVALUATE_FLAG,
      </if>
      <if test="resultInput != null">
        RESULT_INPUT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseFlow != null">
        #{courseFlow,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseMajorId != null">
        #{courseMajorId,jdbcType=VARCHAR},
      </if>
      <if test="courseMajorName != null">
        #{courseMajorName,jdbcType=VARCHAR},
      </if>
      <if test="courseCredit != null">
        #{courseCredit,jdbcType=VARCHAR},
      </if>
      <if test="courseTypeId != null">
        #{courseTypeId,jdbcType=VARCHAR},
      </if>
      <if test="courseTypeName != null">
        #{courseTypeName,jdbcType=VARCHAR},
      </if>
      <if test="coursePeriod != null">
        #{coursePeriod,jdbcType=VARCHAR},
      </if>
      <if test="courseImg != null">
        #{courseImg,jdbcType=VARCHAR},
      </if>
      <if test="courseOrder != null">
        #{courseOrder,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=VARCHAR},
      </if>
      <if test="courseCategoryId != null">
        #{courseCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="courseCategoryName != null">
        #{courseCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="courseStatusId != null">
        #{courseStatusId,jdbcType=VARCHAR},
      </if>
      <if test="courseStatusName != null">
        #{courseStatusName,jdbcType=VARCHAR},
      </if>
      <if test="courseSpeaker != null">
        #{courseSpeaker,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null">
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="courseImgName != null">
        #{courseImgName,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="gradationId != null">
        #{gradationId,jdbcType=VARCHAR},
      </if>
      <if test="gradationName != null">
        #{gradationName,jdbcType=VARCHAR},
      </if>
      <if test="coursePeriodTeach != null">
        #{coursePeriodTeach,jdbcType=VARCHAR},
      </if>
      <if test="coursePeriodExper != null">
        #{coursePeriodExper,jdbcType=VARCHAR},
      </if>
      <if test="coursePeriodMachine != null">
        #{coursePeriodMachine,jdbcType=VARCHAR},
      </if>
      <if test="coursePeriodOther != null">
        #{coursePeriodOther,jdbcType=VARCHAR},
      </if>
      <if test="courseCode != null">
        #{courseCode,jdbcType=VARCHAR},
      </if>
      <if test="courseNameEn != null">
        #{courseNameEn,jdbcType=VARCHAR},
      </if>
      <if test="courseUserCount != null">
        #{courseUserCount,jdbcType=VARCHAR},
      </if>
      <if test="courseMoudleId != null">
        #{courseMoudleId,jdbcType=VARCHAR},
      </if>
      <if test="courseMoudleName != null">
        #{courseMoudleName,jdbcType=VARCHAR},
      </if>
      <if test="assumeOrgFlow != null">
        #{assumeOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="assumeOrgName != null">
        #{assumeOrgName,jdbcType=VARCHAR},
      </if>
      <if test="courseSpeakerFlow != null">
        #{courseSpeakerFlow,jdbcType=VARCHAR},
      </if>
      <if test="courseSpeakerPhone != null">
        #{courseSpeakerPhone,jdbcType=VARCHAR},
      </if>
      <if test="courseSession != null">
        #{courseSession,jdbcType=VARCHAR},
      </if>
      <if test="preCourse != null">
        #{preCourse,jdbcType=VARCHAR},
      </if>
      <if test="effectiveGrade != null">
        #{effectiveGrade,jdbcType=VARCHAR},
      </if>
      <if test="courseIntro != null">
        #{courseIntro,jdbcType=CLOB},
      </if>
      <if test="outlineContent != null">
        #{outlineContent,jdbcType=CLOB},
      </if>
      <if test="teachingContent != null">
        #{teachingContent,jdbcType=CLOB},
      </if>
      <if test="classApplyMemo != null">
        #{classApplyMemo,jdbcType=VARCHAR},
      </if>
      <if test="classApplyFlag != null">
        #{classApplyFlag,jdbcType=VARCHAR},
      </if>
      <if test="courseScheduleMemo != null">
        #{courseScheduleMemo,jdbcType=VARCHAR},
      </if>
      <if test="courseScheduleFlag != null">
        #{courseScheduleFlag,jdbcType=VARCHAR},
      </if>
      <if test="courseEvaluateMemo != null">
        #{courseEvaluateMemo,jdbcType=VARCHAR},
      </if>
      <if test="courseEvaluateFlag != null">
        #{courseEvaluateFlag,jdbcType=VARCHAR},
      </if>
      <if test="resultInput != null">
        #{resultInput,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.EduCourseExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.EDU_COURSE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.EDU_COURSE
    <set>
      <if test="record.courseFlow != null">
        COURSE_FLOW = #{record.courseFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.courseName != null">
        COURSE_NAME = #{record.courseName,jdbcType=VARCHAR},
      </if>
      <if test="record.courseMajorId != null">
        COURSE_MAJOR_ID = #{record.courseMajorId,jdbcType=VARCHAR},
      </if>
      <if test="record.courseMajorName != null">
        COURSE_MAJOR_NAME = #{record.courseMajorName,jdbcType=VARCHAR},
      </if>
      <if test="record.courseCredit != null">
        COURSE_CREDIT = #{record.courseCredit,jdbcType=VARCHAR},
      </if>
      <if test="record.courseTypeId != null">
        COURSE_TYPE_ID = #{record.courseTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.courseTypeName != null">
        COURSE_TYPE_NAME = #{record.courseTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.coursePeriod != null">
        COURSE_PERIOD = #{record.coursePeriod,jdbcType=VARCHAR},
      </if>
      <if test="record.courseImg != null">
        COURSE_IMG = #{record.courseImg,jdbcType=VARCHAR},
      </if>
      <if test="record.courseOrder != null">
        COURSE_ORDER = #{record.courseOrder,jdbcType=DECIMAL},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadTime != null">
        UPLOAD_TIME = #{record.uploadTime,jdbcType=VARCHAR},
      </if>
      <if test="record.courseCategoryId != null">
        COURSE_CATEGORY_ID = #{record.courseCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.courseCategoryName != null">
        COURSE_CATEGORY_NAME = #{record.courseCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.courseStatusId != null">
        COURSE_STATUS_ID = #{record.courseStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.courseStatusName != null">
        COURSE_STATUS_NAME = #{record.courseStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.courseSpeaker != null">
        COURSE_SPEAKER = #{record.courseSpeaker,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null">
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null">
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.courseImgName != null">
        COURSE_IMG_NAME = #{record.courseImgName,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserName != null">
        CREATE_USER_NAME = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.gradationId != null">
        GRADATION_ID = #{record.gradationId,jdbcType=VARCHAR},
      </if>
      <if test="record.gradationName != null">
        GRADATION_NAME = #{record.gradationName,jdbcType=VARCHAR},
      </if>
      <if test="record.coursePeriodTeach != null">
        COURSE_PERIOD_TEACH = #{record.coursePeriodTeach,jdbcType=VARCHAR},
      </if>
      <if test="record.coursePeriodExper != null">
        COURSE_PERIOD_EXPER = #{record.coursePeriodExper,jdbcType=VARCHAR},
      </if>
      <if test="record.coursePeriodMachine != null">
        COURSE_PERIOD_MACHINE = #{record.coursePeriodMachine,jdbcType=VARCHAR},
      </if>
      <if test="record.coursePeriodOther != null">
        COURSE_PERIOD_OTHER = #{record.coursePeriodOther,jdbcType=VARCHAR},
      </if>
      <if test="record.courseCode != null">
        COURSE_CODE = #{record.courseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.courseNameEn != null">
        COURSE_NAME_EN = #{record.courseNameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.courseUserCount != null">
        COURSE_USER_COUNT = #{record.courseUserCount,jdbcType=VARCHAR},
      </if>
      <if test="record.courseMoudleId != null">
        COURSE_MOUDLE_ID = #{record.courseMoudleId,jdbcType=VARCHAR},
      </if>
      <if test="record.courseMoudleName != null">
        COURSE_MOUDLE_NAME = #{record.courseMoudleName,jdbcType=VARCHAR},
      </if>
      <if test="record.assumeOrgFlow != null">
        ASSUME_ORG_FLOW = #{record.assumeOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.assumeOrgName != null">
        ASSUME_ORG_NAME = #{record.assumeOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.courseSpeakerFlow != null">
        COURSE_SPEAKER_FLOW = #{record.courseSpeakerFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.courseSpeakerPhone != null">
        COURSE_SPEAKER_PHONE = #{record.courseSpeakerPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.courseSession != null">
        COURSE_SESSION = #{record.courseSession,jdbcType=VARCHAR},
      </if>
      <if test="record.preCourse != null">
        PRE_COURSE = #{record.preCourse,jdbcType=VARCHAR},
      </if>
      <if test="record.effectiveGrade != null">
        EFFECTIVE_GRADE = #{record.effectiveGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.courseIntro != null">
        COURSE_INTRO = #{record.courseIntro,jdbcType=CLOB},
      </if>
      <if test="record.outlineContent != null">
        OUTLINE_CONTENT = #{record.outlineContent,jdbcType=CLOB},
      </if>
      <if test="record.teachingContent != null">
        TEACHING_CONTENT = #{record.teachingContent,jdbcType=CLOB},
      </if>
      <if test="record.classApplyMemo != null">
        CLASS_APPLY_MEMO = #{record.classApplyMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.classApplyFlag != null">
        CLASS_APPLY_FLAG = #{record.classApplyFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.courseScheduleMemo != null">
        COURSE_SCHEDULE_MEMO = #{record.courseScheduleMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.courseScheduleFlag != null">
        COURSE_SCHEDULE_FLAG = #{record.courseScheduleFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.courseEvaluateMemo != null">
        COURSE_EVALUATE_MEMO = #{record.courseEvaluateMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.courseEvaluateFlag != null">
        COURSE_EVALUATE_FLAG = #{record.courseEvaluateFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.resultInput != null">
        RESULT_INPUT = #{record.resultInput,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update PDSCI.EDU_COURSE
    set COURSE_FLOW = #{record.courseFlow,jdbcType=VARCHAR},
      COURSE_NAME = #{record.courseName,jdbcType=VARCHAR},
      COURSE_MAJOR_ID = #{record.courseMajorId,jdbcType=VARCHAR},
      COURSE_MAJOR_NAME = #{record.courseMajorName,jdbcType=VARCHAR},
      COURSE_CREDIT = #{record.courseCredit,jdbcType=VARCHAR},
      COURSE_TYPE_ID = #{record.courseTypeId,jdbcType=VARCHAR},
      COURSE_TYPE_NAME = #{record.courseTypeName,jdbcType=VARCHAR},
      COURSE_PERIOD = #{record.coursePeriod,jdbcType=VARCHAR},
      COURSE_IMG = #{record.courseImg,jdbcType=VARCHAR},
      COURSE_ORDER = #{record.courseOrder,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      UPLOAD_TIME = #{record.uploadTime,jdbcType=VARCHAR},
      COURSE_CATEGORY_ID = #{record.courseCategoryId,jdbcType=VARCHAR},
      COURSE_CATEGORY_NAME = #{record.courseCategoryName,jdbcType=VARCHAR},
      COURSE_STATUS_ID = #{record.courseStatusId,jdbcType=VARCHAR},
      COURSE_STATUS_NAME = #{record.courseStatusName,jdbcType=VARCHAR},
      COURSE_SPEAKER = #{record.courseSpeaker,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      COURSE_IMG_NAME = #{record.courseImgName,jdbcType=VARCHAR},
      CREATE_USER_NAME = #{record.createUserName,jdbcType=VARCHAR},
      GRADATION_ID = #{record.gradationId,jdbcType=VARCHAR},
      GRADATION_NAME = #{record.gradationName,jdbcType=VARCHAR},
      COURSE_PERIOD_TEACH = #{record.coursePeriodTeach,jdbcType=VARCHAR},
      COURSE_PERIOD_EXPER = #{record.coursePeriodExper,jdbcType=VARCHAR},
      COURSE_PERIOD_MACHINE = #{record.coursePeriodMachine,jdbcType=VARCHAR},
      COURSE_PERIOD_OTHER = #{record.coursePeriodOther,jdbcType=VARCHAR},
      COURSE_CODE = #{record.courseCode,jdbcType=VARCHAR},
      COURSE_NAME_EN = #{record.courseNameEn,jdbcType=VARCHAR},
      COURSE_USER_COUNT = #{record.courseUserCount,jdbcType=VARCHAR},
      COURSE_MOUDLE_ID = #{record.courseMoudleId,jdbcType=VARCHAR},
      COURSE_MOUDLE_NAME = #{record.courseMoudleName,jdbcType=VARCHAR},
      ASSUME_ORG_FLOW = #{record.assumeOrgFlow,jdbcType=VARCHAR},
      ASSUME_ORG_NAME = #{record.assumeOrgName,jdbcType=VARCHAR},
      COURSE_SPEAKER_FLOW = #{record.courseSpeakerFlow,jdbcType=VARCHAR},
      COURSE_SPEAKER_PHONE = #{record.courseSpeakerPhone,jdbcType=VARCHAR},
      COURSE_SESSION = #{record.courseSession,jdbcType=VARCHAR},
      PRE_COURSE = #{record.preCourse,jdbcType=VARCHAR},
      EFFECTIVE_GRADE = #{record.effectiveGrade,jdbcType=VARCHAR},
      COURSE_INTRO = #{record.courseIntro,jdbcType=CLOB},
      OUTLINE_CONTENT = #{record.outlineContent,jdbcType=CLOB},
      TEACHING_CONTENT = #{record.teachingContent,jdbcType=CLOB},
      CLASS_APPLY_MEMO = #{record.classApplyMemo,jdbcType=VARCHAR},
      CLASS_APPLY_FLAG = #{record.classApplyFlag,jdbcType=VARCHAR},
      COURSE_SCHEDULE_MEMO = #{record.courseScheduleMemo,jdbcType=VARCHAR},
      COURSE_SCHEDULE_FLAG = #{record.courseScheduleFlag,jdbcType=VARCHAR},
      COURSE_EVALUATE_MEMO = #{record.courseEvaluateMemo,jdbcType=VARCHAR},
      COURSE_EVALUATE_FLAG = #{record.courseEvaluateFlag,jdbcType=VARCHAR},
      RESULT_INPUT = #{record.resultInput,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.EDU_COURSE
    set COURSE_FLOW = #{record.courseFlow,jdbcType=VARCHAR},
      COURSE_NAME = #{record.courseName,jdbcType=VARCHAR},
      COURSE_MAJOR_ID = #{record.courseMajorId,jdbcType=VARCHAR},
      COURSE_MAJOR_NAME = #{record.courseMajorName,jdbcType=VARCHAR},
      COURSE_CREDIT = #{record.courseCredit,jdbcType=VARCHAR},
      COURSE_TYPE_ID = #{record.courseTypeId,jdbcType=VARCHAR},
      COURSE_TYPE_NAME = #{record.courseTypeName,jdbcType=VARCHAR},
      COURSE_PERIOD = #{record.coursePeriod,jdbcType=VARCHAR},
      COURSE_IMG = #{record.courseImg,jdbcType=VARCHAR},
      COURSE_ORDER = #{record.courseOrder,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      UPLOAD_TIME = #{record.uploadTime,jdbcType=VARCHAR},
      COURSE_CATEGORY_ID = #{record.courseCategoryId,jdbcType=VARCHAR},
      COURSE_CATEGORY_NAME = #{record.courseCategoryName,jdbcType=VARCHAR},
      COURSE_STATUS_ID = #{record.courseStatusId,jdbcType=VARCHAR},
      COURSE_STATUS_NAME = #{record.courseStatusName,jdbcType=VARCHAR},
      COURSE_SPEAKER = #{record.courseSpeaker,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      COURSE_IMG_NAME = #{record.courseImgName,jdbcType=VARCHAR},
      CREATE_USER_NAME = #{record.createUserName,jdbcType=VARCHAR},
      GRADATION_ID = #{record.gradationId,jdbcType=VARCHAR},
      GRADATION_NAME = #{record.gradationName,jdbcType=VARCHAR},
      COURSE_PERIOD_TEACH = #{record.coursePeriodTeach,jdbcType=VARCHAR},
      COURSE_PERIOD_EXPER = #{record.coursePeriodExper,jdbcType=VARCHAR},
      COURSE_PERIOD_MACHINE = #{record.coursePeriodMachine,jdbcType=VARCHAR},
      COURSE_PERIOD_OTHER = #{record.coursePeriodOther,jdbcType=VARCHAR},
      COURSE_CODE = #{record.courseCode,jdbcType=VARCHAR},
      COURSE_NAME_EN = #{record.courseNameEn,jdbcType=VARCHAR},
      COURSE_USER_COUNT = #{record.courseUserCount,jdbcType=VARCHAR},
      COURSE_MOUDLE_ID = #{record.courseMoudleId,jdbcType=VARCHAR},
      COURSE_MOUDLE_NAME = #{record.courseMoudleName,jdbcType=VARCHAR},
      ASSUME_ORG_FLOW = #{record.assumeOrgFlow,jdbcType=VARCHAR},
      ASSUME_ORG_NAME = #{record.assumeOrgName,jdbcType=VARCHAR},
      COURSE_SPEAKER_FLOW = #{record.courseSpeakerFlow,jdbcType=VARCHAR},
      COURSE_SPEAKER_PHONE = #{record.courseSpeakerPhone,jdbcType=VARCHAR},
      COURSE_SESSION = #{record.courseSession,jdbcType=VARCHAR},
      PRE_COURSE = #{record.preCourse,jdbcType=VARCHAR},
      EFFECTIVE_GRADE = #{record.effectiveGrade,jdbcType=VARCHAR},
      CLASS_APPLY_MEMO = #{record.classApplyMemo,jdbcType=VARCHAR},
      CLASS_APPLY_FLAG = #{record.classApplyFlag,jdbcType=VARCHAR},
      COURSE_SCHEDULE_MEMO = #{record.courseScheduleMemo,jdbcType=VARCHAR},
      COURSE_SCHEDULE_FLAG = #{record.courseScheduleFlag,jdbcType=VARCHAR},
      COURSE_EVALUATE_MEMO = #{record.courseEvaluateMemo,jdbcType=VARCHAR},
      COURSE_EVALUATE_FLAG = #{record.courseEvaluateFlag,jdbcType=VARCHAR},
      RESULT_INPUT = #{record.resultInput,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.EduCourse">
    update PDSCI.EDU_COURSE
    <set>
      <if test="courseName != null">
        COURSE_NAME = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseMajorId != null">
        COURSE_MAJOR_ID = #{courseMajorId,jdbcType=VARCHAR},
      </if>
      <if test="courseMajorName != null">
        COURSE_MAJOR_NAME = #{courseMajorName,jdbcType=VARCHAR},
      </if>
      <if test="courseCredit != null">
        COURSE_CREDIT = #{courseCredit,jdbcType=VARCHAR},
      </if>
      <if test="courseTypeId != null">
        COURSE_TYPE_ID = #{courseTypeId,jdbcType=VARCHAR},
      </if>
      <if test="courseTypeName != null">
        COURSE_TYPE_NAME = #{courseTypeName,jdbcType=VARCHAR},
      </if>
      <if test="coursePeriod != null">
        COURSE_PERIOD = #{coursePeriod,jdbcType=VARCHAR},
      </if>
      <if test="courseImg != null">
        COURSE_IMG = #{courseImg,jdbcType=VARCHAR},
      </if>
      <if test="courseOrder != null">
        COURSE_ORDER = #{courseOrder,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null">
        UPLOAD_TIME = #{uploadTime,jdbcType=VARCHAR},
      </if>
      <if test="courseCategoryId != null">
        COURSE_CATEGORY_ID = #{courseCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="courseCategoryName != null">
        COURSE_CATEGORY_NAME = #{courseCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="courseStatusId != null">
        COURSE_STATUS_ID = #{courseStatusId,jdbcType=VARCHAR},
      </if>
      <if test="courseStatusName != null">
        COURSE_STATUS_NAME = #{courseStatusName,jdbcType=VARCHAR},
      </if>
      <if test="courseSpeaker != null">
        COURSE_SPEAKER = #{courseSpeaker,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null">
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="courseImgName != null">
        COURSE_IMG_NAME = #{courseImgName,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null">
        CREATE_USER_NAME = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="gradationId != null">
        GRADATION_ID = #{gradationId,jdbcType=VARCHAR},
      </if>
      <if test="gradationName != null">
        GRADATION_NAME = #{gradationName,jdbcType=VARCHAR},
      </if>
      <if test="coursePeriodTeach != null">
        COURSE_PERIOD_TEACH = #{coursePeriodTeach,jdbcType=VARCHAR},
      </if>
      <if test="coursePeriodExper != null">
        COURSE_PERIOD_EXPER = #{coursePeriodExper,jdbcType=VARCHAR},
      </if>
      <if test="coursePeriodMachine != null">
        COURSE_PERIOD_MACHINE = #{coursePeriodMachine,jdbcType=VARCHAR},
      </if>
      <if test="coursePeriodOther != null">
        COURSE_PERIOD_OTHER = #{coursePeriodOther,jdbcType=VARCHAR},
      </if>
      <if test="courseCode != null">
        COURSE_CODE = #{courseCode,jdbcType=VARCHAR},
      </if>
      <if test="courseNameEn != null">
        COURSE_NAME_EN = #{courseNameEn,jdbcType=VARCHAR},
      </if>
      <if test="courseUserCount != null">
        COURSE_USER_COUNT = #{courseUserCount,jdbcType=VARCHAR},
      </if>
      <if test="courseMoudleId != null">
        COURSE_MOUDLE_ID = #{courseMoudleId,jdbcType=VARCHAR},
      </if>
      <if test="courseMoudleName != null">
        COURSE_MOUDLE_NAME = #{courseMoudleName,jdbcType=VARCHAR},
      </if>
      <if test="assumeOrgFlow != null">
        ASSUME_ORG_FLOW = #{assumeOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="assumeOrgName != null">
        ASSUME_ORG_NAME = #{assumeOrgName,jdbcType=VARCHAR},
      </if>
      <if test="courseSpeakerFlow != null">
        COURSE_SPEAKER_FLOW = #{courseSpeakerFlow,jdbcType=VARCHAR},
      </if>
      <if test="courseSpeakerPhone != null">
        COURSE_SPEAKER_PHONE = #{courseSpeakerPhone,jdbcType=VARCHAR},
      </if>
      <if test="courseSession != null">
        COURSE_SESSION = #{courseSession,jdbcType=VARCHAR},
      </if>
      <if test="preCourse != null">
        PRE_COURSE = #{preCourse,jdbcType=VARCHAR},
      </if>
      <if test="effectiveGrade != null">
        EFFECTIVE_GRADE = #{effectiveGrade,jdbcType=VARCHAR},
      </if>
      <if test="courseIntro != null">
        COURSE_INTRO = #{courseIntro,jdbcType=CLOB},
      </if>
      <if test="outlineContent != null">
        OUTLINE_CONTENT = #{outlineContent,jdbcType=CLOB},
      </if>
      <if test="teachingContent != null">
        TEACHING_CONTENT = #{teachingContent,jdbcType=CLOB},
      </if>
      <if test="classApplyMemo != null">
        CLASS_APPLY_MEMO = #{classApplyMemo,jdbcType=VARCHAR},
      </if>
      <if test="classApplyFlag != null">
        CLASS_APPLY_FLAG = #{classApplyFlag,jdbcType=VARCHAR},
      </if>
      <if test="courseScheduleMemo != null">
        COURSE_SCHEDULE_MEMO = #{courseScheduleMemo,jdbcType=VARCHAR},
      </if>
      <if test="courseScheduleFlag != null">
        COURSE_SCHEDULE_FLAG = #{courseScheduleFlag,jdbcType=VARCHAR},
      </if>
      <if test="courseEvaluateMemo != null">
        COURSE_EVALUATE_MEMO = #{courseEvaluateMemo,jdbcType=VARCHAR},
      </if>
      <if test="courseEvaluateFlag != null">
        COURSE_EVALUATE_FLAG = #{courseEvaluateFlag,jdbcType=VARCHAR},
      </if>
      <if test="resultInput != null">
        RESULT_INPUT = #{resultInput,jdbcType=VARCHAR},
      </if>
    </set>
    where COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.sci.model.mo.EduCourse">
    update PDSCI.EDU_COURSE
    set COURSE_NAME = #{courseName,jdbcType=VARCHAR},
      COURSE_MAJOR_ID = #{courseMajorId,jdbcType=VARCHAR},
      COURSE_MAJOR_NAME = #{courseMajorName,jdbcType=VARCHAR},
      COURSE_CREDIT = #{courseCredit,jdbcType=VARCHAR},
      COURSE_TYPE_ID = #{courseTypeId,jdbcType=VARCHAR},
      COURSE_TYPE_NAME = #{courseTypeName,jdbcType=VARCHAR},
      COURSE_PERIOD = #{coursePeriod,jdbcType=VARCHAR},
      COURSE_IMG = #{courseImg,jdbcType=VARCHAR},
      COURSE_ORDER = #{courseOrder,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      UPLOAD_TIME = #{uploadTime,jdbcType=VARCHAR},
      COURSE_CATEGORY_ID = #{courseCategoryId,jdbcType=VARCHAR},
      COURSE_CATEGORY_NAME = #{courseCategoryName,jdbcType=VARCHAR},
      COURSE_STATUS_ID = #{courseStatusId,jdbcType=VARCHAR},
      COURSE_STATUS_NAME = #{courseStatusName,jdbcType=VARCHAR},
      COURSE_SPEAKER = #{courseSpeaker,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      COURSE_IMG_NAME = #{courseImgName,jdbcType=VARCHAR},
      CREATE_USER_NAME = #{createUserName,jdbcType=VARCHAR},
      GRADATION_ID = #{gradationId,jdbcType=VARCHAR},
      GRADATION_NAME = #{gradationName,jdbcType=VARCHAR},
      COURSE_PERIOD_TEACH = #{coursePeriodTeach,jdbcType=VARCHAR},
      COURSE_PERIOD_EXPER = #{coursePeriodExper,jdbcType=VARCHAR},
      COURSE_PERIOD_MACHINE = #{coursePeriodMachine,jdbcType=VARCHAR},
      COURSE_PERIOD_OTHER = #{coursePeriodOther,jdbcType=VARCHAR},
      COURSE_CODE = #{courseCode,jdbcType=VARCHAR},
      COURSE_NAME_EN = #{courseNameEn,jdbcType=VARCHAR},
      COURSE_USER_COUNT = #{courseUserCount,jdbcType=VARCHAR},
      COURSE_MOUDLE_ID = #{courseMoudleId,jdbcType=VARCHAR},
      COURSE_MOUDLE_NAME = #{courseMoudleName,jdbcType=VARCHAR},
      ASSUME_ORG_FLOW = #{assumeOrgFlow,jdbcType=VARCHAR},
      ASSUME_ORG_NAME = #{assumeOrgName,jdbcType=VARCHAR},
      COURSE_SPEAKER_FLOW = #{courseSpeakerFlow,jdbcType=VARCHAR},
      COURSE_SPEAKER_PHONE = #{courseSpeakerPhone,jdbcType=VARCHAR},
      COURSE_SESSION = #{courseSession,jdbcType=VARCHAR},
      PRE_COURSE = #{preCourse,jdbcType=VARCHAR},
      EFFECTIVE_GRADE = #{effectiveGrade,jdbcType=VARCHAR},
      COURSE_INTRO = #{courseIntro,jdbcType=CLOB},
      OUTLINE_CONTENT = #{outlineContent,jdbcType=CLOB},
      TEACHING_CONTENT = #{teachingContent,jdbcType=CLOB},
      CLASS_APPLY_MEMO = #{classApplyMemo,jdbcType=VARCHAR},
      CLASS_APPLY_FLAG = #{classApplyFlag,jdbcType=VARCHAR},
      COURSE_SCHEDULE_MEMO = #{courseScheduleMemo,jdbcType=VARCHAR},
      COURSE_SCHEDULE_FLAG = #{courseScheduleFlag,jdbcType=VARCHAR},
      COURSE_EVALUATE_MEMO = #{courseEvaluateMemo,jdbcType=VARCHAR},
      COURSE_EVALUATE_FLAG = #{courseEvaluateFlag,jdbcType=VARCHAR},
      RESULT_INPUT = #{resultInput,jdbcType=VARCHAR}
    where COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.EduCourse">
    update PDSCI.EDU_COURSE
    set COURSE_NAME = #{courseName,jdbcType=VARCHAR},
      COURSE_MAJOR_ID = #{courseMajorId,jdbcType=VARCHAR},
      COURSE_MAJOR_NAME = #{courseMajorName,jdbcType=VARCHAR},
      COURSE_CREDIT = #{courseCredit,jdbcType=VARCHAR},
      COURSE_TYPE_ID = #{courseTypeId,jdbcType=VARCHAR},
      COURSE_TYPE_NAME = #{courseTypeName,jdbcType=VARCHAR},
      COURSE_PERIOD = #{coursePeriod,jdbcType=VARCHAR},
      COURSE_IMG = #{courseImg,jdbcType=VARCHAR},
      COURSE_ORDER = #{courseOrder,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      UPLOAD_TIME = #{uploadTime,jdbcType=VARCHAR},
      COURSE_CATEGORY_ID = #{courseCategoryId,jdbcType=VARCHAR},
      COURSE_CATEGORY_NAME = #{courseCategoryName,jdbcType=VARCHAR},
      COURSE_STATUS_ID = #{courseStatusId,jdbcType=VARCHAR},
      COURSE_STATUS_NAME = #{courseStatusName,jdbcType=VARCHAR},
      COURSE_SPEAKER = #{courseSpeaker,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      COURSE_IMG_NAME = #{courseImgName,jdbcType=VARCHAR},
      CREATE_USER_NAME = #{createUserName,jdbcType=VARCHAR},
      GRADATION_ID = #{gradationId,jdbcType=VARCHAR},
      GRADATION_NAME = #{gradationName,jdbcType=VARCHAR},
      COURSE_PERIOD_TEACH = #{coursePeriodTeach,jdbcType=VARCHAR},
      COURSE_PERIOD_EXPER = #{coursePeriodExper,jdbcType=VARCHAR},
      COURSE_PERIOD_MACHINE = #{coursePeriodMachine,jdbcType=VARCHAR},
      COURSE_PERIOD_OTHER = #{coursePeriodOther,jdbcType=VARCHAR},
      COURSE_CODE = #{courseCode,jdbcType=VARCHAR},
      COURSE_NAME_EN = #{courseNameEn,jdbcType=VARCHAR},
      COURSE_USER_COUNT = #{courseUserCount,jdbcType=VARCHAR},
      COURSE_MOUDLE_ID = #{courseMoudleId,jdbcType=VARCHAR},
      COURSE_MOUDLE_NAME = #{courseMoudleName,jdbcType=VARCHAR},
      ASSUME_ORG_FLOW = #{assumeOrgFlow,jdbcType=VARCHAR},
      ASSUME_ORG_NAME = #{assumeOrgName,jdbcType=VARCHAR},
      COURSE_SPEAKER_FLOW = #{courseSpeakerFlow,jdbcType=VARCHAR},
      COURSE_SPEAKER_PHONE = #{courseSpeakerPhone,jdbcType=VARCHAR},
      COURSE_SESSION = #{courseSession,jdbcType=VARCHAR},
      PRE_COURSE = #{preCourse,jdbcType=VARCHAR},
      EFFECTIVE_GRADE = #{effectiveGrade,jdbcType=VARCHAR},
      CLASS_APPLY_MEMO = #{classApplyMemo,jdbcType=VARCHAR},
      CLASS_APPLY_FLAG = #{classApplyFlag,jdbcType=VARCHAR},
      COURSE_SCHEDULE_MEMO = #{courseScheduleMemo,jdbcType=VARCHAR},
      COURSE_SCHEDULE_FLAG = #{courseScheduleFlag,jdbcType=VARCHAR},
      COURSE_EVALUATE_MEMO = #{courseEvaluateMemo,jdbcType=VARCHAR},
      COURSE_EVALUATE_FLAG = #{courseEvaluateFlag,jdbcType=VARCHAR},
      RESULT_INPUT = #{resultInput,jdbcType=VARCHAR}
    where COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR}
  </update>
</mapper>