<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.EduStudentCourseMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.EduStudentCourse" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="USER_FLOW" property="userFlow" jdbcType="VARCHAR" />
    <result column="COURSE_FLOW" property="courseFlow" jdbcType="VARCHAR" />
    <result column="STUDY_STATUS_ID" property="studyStatusId" jdbcType="VARCHAR" />
    <result column="STUDY_STATUS_NAME" property="studyStatusName" jdbcType="VARCHAR" />
    <result column="CURRENT_CHAPTER_FLOW" property="currentChapterFlow" jdbcType="VARCHAR" />
    <result column="COURSE_GRADE" property="courseGrade" jdbcType="VARCHAR" />
    <result column="CHOOSE_TIME" property="chooseTime" jdbcType="VARCHAR" />
    <result column="ACHIEVE_CREDIT" property="achieveCredit" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="COURSE_TYPE_ID" property="courseTypeId" jdbcType="VARCHAR" />
    <result column="COURSE_TYPE_NAME" property="courseTypeName" jdbcType="VARCHAR" />
    <result column="CURRENT_CHAPTER_TIME" property="currentChapterTime" jdbcType="VARCHAR" />
    <result column="COURSE_CREDIT" property="courseCredit" jdbcType="VARCHAR" />
    <result column="START_STUDY_TIME" property="startStudyTime" jdbcType="VARCHAR" />
    <result column="COMPLETE_STUDY_TIME" property="completeStudyTime" jdbcType="VARCHAR" />
    <result column="COURSE_PERIOD" property="coursePeriod" jdbcType="VARCHAR" />
    <result column="VIDEO_FINISH_FLAG" property="videoFinishFlag" jdbcType="VARCHAR" />
    <result column="SCH_DEPT_FLOW" property="schDeptFlow" jdbcType="VARCHAR" />
    <result column="SCH_DEPT_NAME" property="schDeptName" jdbcType="VARCHAR" />
    <result column="AUDIT_FLAG" property="auditFlag" jdbcType="VARCHAR" />
    <result column="REPLENISH_FLAG" property="replenishFlag" jdbcType="VARCHAR" />
    <result column="DEPT_FLOW" property="deptFlow" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="STUDENT_PERIOD" property="studentPeriod" jdbcType="VARCHAR" />
    <result column="GRADE_TERM_ID" property="gradeTermId" jdbcType="VARCHAR" />
    <result column="GRADE_TERM_NAME" property="gradeTermName" jdbcType="VARCHAR" />
    <result column="COURSE_CODE" property="courseCode" jdbcType="VARCHAR" />
    <result column="COURSE_NAME" property="courseName" jdbcType="VARCHAR" />
    <result column="COURSE_NAME_EN" property="courseNameEn" jdbcType="VARCHAR" />
    <result column="STUDY_WAY_ID" property="studyWayId" jdbcType="VARCHAR" />
    <result column="STUDY_WAY_NAME" property="studyWayName" jdbcType="VARCHAR" />
    <result column="PACIFIC_GRADE" property="pacificGrade" jdbcType="VARCHAR" />
    <result column="TEAM_END_GRADE" property="teamEndGrade" jdbcType="VARCHAR" />
    <result column="ASSESS_TYPE_ID" property="assessTypeId" jdbcType="VARCHAR" />
    <result column="ASSESS_TYPE_NAME" property="assessTypeName" jdbcType="VARCHAR" />
    <result column="IMP_FLOW" property="impFlow" jdbcType="VARCHAR" />
    <result column="ROLE_FLAG" property="roleFlag" jdbcType="VARCHAR" />
    <result column="SUBMIT_FLAG" property="submitFlag" jdbcType="VARCHAR" />
    <result column="AUDIT_STATUS_ID" property="auditStatusId" jdbcType="VARCHAR" />
    <result column="AUDIT_STATUS_NAME" property="auditStatusName" jdbcType="VARCHAR" />
    <result column="DEGREE_COURSE_FLAG" property="degreeCourseFlag" jdbcType="CHAR" />
    <result column="SCORE_MODE" property="scoreMode" jdbcType="VARCHAR" />
    <result column="CDDW_AUDIT_STATUS_ID" property="cddwAuditStatusId" jdbcType="VARCHAR" />
    <result column="CDDW_AUDIT_STATUS_NAME" property="cddwAuditStatusName" jdbcType="VARCHAR" />
    <result column="GRADE_YEAR" property="gradeYear" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, USER_FLOW, COURSE_FLOW, STUDY_STATUS_ID, STUDY_STATUS_NAME, CURRENT_CHAPTER_FLOW, 
    COURSE_GRADE, CHOOSE_TIME, ACHIEVE_CREDIT, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW, COURSE_TYPE_ID, COURSE_TYPE_NAME, CURRENT_CHAPTER_TIME, 
    COURSE_CREDIT, START_STUDY_TIME, COMPLETE_STUDY_TIME, COURSE_PERIOD, VIDEO_FINISH_FLAG, 
    SCH_DEPT_FLOW, SCH_DEPT_NAME, AUDIT_FLAG, REPLENISH_FLAG, DEPT_FLOW, DEPT_NAME, STUDENT_PERIOD, 
    GRADE_TERM_ID, GRADE_TERM_NAME, COURSE_CODE, COURSE_NAME, COURSE_NAME_EN, STUDY_WAY_ID, 
    STUDY_WAY_NAME, PACIFIC_GRADE, TEAM_END_GRADE, ASSESS_TYPE_ID, ASSESS_TYPE_NAME, 
    IMP_FLOW, ROLE_FLAG, SUBMIT_FLAG, AUDIT_STATUS_ID, AUDIT_STATUS_NAME, DEGREE_COURSE_FLAG, 
    SCORE_MODE, CDDW_AUDIT_STATUS_ID, CDDW_AUDIT_STATUS_NAME, GRADE_YEAR
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.EduStudentCourseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.EDU_STUDENT_COURSE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.EDU_STUDENT_COURSE
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.EDU_STUDENT_COURSE
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.EduStudentCourseExample" >
    delete from PDSCI.EDU_STUDENT_COURSE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.EduStudentCourse" >
    insert into PDSCI.EDU_STUDENT_COURSE (RECORD_FLOW, USER_FLOW, COURSE_FLOW, 
      STUDY_STATUS_ID, STUDY_STATUS_NAME, CURRENT_CHAPTER_FLOW, 
      COURSE_GRADE, CHOOSE_TIME, ACHIEVE_CREDIT, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, COURSE_TYPE_ID, 
      COURSE_TYPE_NAME, CURRENT_CHAPTER_TIME, COURSE_CREDIT, 
      START_STUDY_TIME, COMPLETE_STUDY_TIME, COURSE_PERIOD, 
      VIDEO_FINISH_FLAG, SCH_DEPT_FLOW, SCH_DEPT_NAME, 
      AUDIT_FLAG, REPLENISH_FLAG, DEPT_FLOW, 
      DEPT_NAME, STUDENT_PERIOD, GRADE_TERM_ID, 
      GRADE_TERM_NAME, COURSE_CODE, COURSE_NAME, 
      COURSE_NAME_EN, STUDY_WAY_ID, STUDY_WAY_NAME, 
      PACIFIC_GRADE, TEAM_END_GRADE, ASSESS_TYPE_ID, 
      ASSESS_TYPE_NAME, IMP_FLOW, ROLE_FLAG, 
      SUBMIT_FLAG, AUDIT_STATUS_ID, AUDIT_STATUS_NAME, 
      DEGREE_COURSE_FLAG, SCORE_MODE, CDDW_AUDIT_STATUS_ID, 
      CDDW_AUDIT_STATUS_NAME, GRADE_YEAR)
    values (#{recordFlow,jdbcType=VARCHAR}, #{userFlow,jdbcType=VARCHAR}, #{courseFlow,jdbcType=VARCHAR}, 
      #{studyStatusId,jdbcType=VARCHAR}, #{studyStatusName,jdbcType=VARCHAR}, #{currentChapterFlow,jdbcType=VARCHAR}, 
      #{courseGrade,jdbcType=VARCHAR}, #{chooseTime,jdbcType=VARCHAR}, #{achieveCredit,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{courseTypeId,jdbcType=VARCHAR}, 
      #{courseTypeName,jdbcType=VARCHAR}, #{currentChapterTime,jdbcType=VARCHAR}, #{courseCredit,jdbcType=VARCHAR}, 
      #{startStudyTime,jdbcType=VARCHAR}, #{completeStudyTime,jdbcType=VARCHAR}, #{coursePeriod,jdbcType=VARCHAR}, 
      #{videoFinishFlag,jdbcType=VARCHAR}, #{schDeptFlow,jdbcType=VARCHAR}, #{schDeptName,jdbcType=VARCHAR}, 
      #{auditFlag,jdbcType=VARCHAR}, #{replenishFlag,jdbcType=VARCHAR}, #{deptFlow,jdbcType=VARCHAR}, 
      #{deptName,jdbcType=VARCHAR}, #{studentPeriod,jdbcType=VARCHAR}, #{gradeTermId,jdbcType=VARCHAR}, 
      #{gradeTermName,jdbcType=VARCHAR}, #{courseCode,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR}, 
      #{courseNameEn,jdbcType=VARCHAR}, #{studyWayId,jdbcType=VARCHAR}, #{studyWayName,jdbcType=VARCHAR}, 
      #{pacificGrade,jdbcType=VARCHAR}, #{teamEndGrade,jdbcType=VARCHAR}, #{assessTypeId,jdbcType=VARCHAR}, 
      #{assessTypeName,jdbcType=VARCHAR}, #{impFlow,jdbcType=VARCHAR}, #{roleFlag,jdbcType=VARCHAR}, 
      #{submitFlag,jdbcType=VARCHAR}, #{auditStatusId,jdbcType=VARCHAR}, #{auditStatusName,jdbcType=VARCHAR}, 
      #{degreeCourseFlag,jdbcType=CHAR}, #{scoreMode,jdbcType=VARCHAR}, #{cddwAuditStatusId,jdbcType=VARCHAR}, 
      #{cddwAuditStatusName,jdbcType=VARCHAR}, #{gradeYear,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.EduStudentCourse" >
    insert into PDSCI.EDU_STUDENT_COURSE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="userFlow != null" >
        USER_FLOW,
      </if>
      <if test="courseFlow != null" >
        COURSE_FLOW,
      </if>
      <if test="studyStatusId != null" >
        STUDY_STATUS_ID,
      </if>
      <if test="studyStatusName != null" >
        STUDY_STATUS_NAME,
      </if>
      <if test="currentChapterFlow != null" >
        CURRENT_CHAPTER_FLOW,
      </if>
      <if test="courseGrade != null" >
        COURSE_GRADE,
      </if>
      <if test="chooseTime != null" >
        CHOOSE_TIME,
      </if>
      <if test="achieveCredit != null" >
        ACHIEVE_CREDIT,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="courseTypeId != null" >
        COURSE_TYPE_ID,
      </if>
      <if test="courseTypeName != null" >
        COURSE_TYPE_NAME,
      </if>
      <if test="currentChapterTime != null" >
        CURRENT_CHAPTER_TIME,
      </if>
      <if test="courseCredit != null" >
        COURSE_CREDIT,
      </if>
      <if test="startStudyTime != null" >
        START_STUDY_TIME,
      </if>
      <if test="completeStudyTime != null" >
        COMPLETE_STUDY_TIME,
      </if>
      <if test="coursePeriod != null" >
        COURSE_PERIOD,
      </if>
      <if test="videoFinishFlag != null" >
        VIDEO_FINISH_FLAG,
      </if>
      <if test="schDeptFlow != null" >
        SCH_DEPT_FLOW,
      </if>
      <if test="schDeptName != null" >
        SCH_DEPT_NAME,
      </if>
      <if test="auditFlag != null" >
        AUDIT_FLAG,
      </if>
      <if test="replenishFlag != null" >
        REPLENISH_FLAG,
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="studentPeriod != null" >
        STUDENT_PERIOD,
      </if>
      <if test="gradeTermId != null" >
        GRADE_TERM_ID,
      </if>
      <if test="gradeTermName != null" >
        GRADE_TERM_NAME,
      </if>
      <if test="courseCode != null" >
        COURSE_CODE,
      </if>
      <if test="courseName != null" >
        COURSE_NAME,
      </if>
      <if test="courseNameEn != null" >
        COURSE_NAME_EN,
      </if>
      <if test="studyWayId != null" >
        STUDY_WAY_ID,
      </if>
      <if test="studyWayName != null" >
        STUDY_WAY_NAME,
      </if>
      <if test="pacificGrade != null" >
        PACIFIC_GRADE,
      </if>
      <if test="teamEndGrade != null" >
        TEAM_END_GRADE,
      </if>
      <if test="assessTypeId != null" >
        ASSESS_TYPE_ID,
      </if>
      <if test="assessTypeName != null" >
        ASSESS_TYPE_NAME,
      </if>
      <if test="impFlow != null" >
        IMP_FLOW,
      </if>
      <if test="roleFlag != null" >
        ROLE_FLAG,
      </if>
      <if test="submitFlag != null" >
        SUBMIT_FLAG,
      </if>
      <if test="auditStatusId != null" >
        AUDIT_STATUS_ID,
      </if>
      <if test="auditStatusName != null" >
        AUDIT_STATUS_NAME,
      </if>
      <if test="degreeCourseFlag != null" >
        DEGREE_COURSE_FLAG,
      </if>
      <if test="scoreMode != null" >
        SCORE_MODE,
      </if>
      <if test="cddwAuditStatusId != null" >
        CDDW_AUDIT_STATUS_ID,
      </if>
      <if test="cddwAuditStatusName != null" >
        CDDW_AUDIT_STATUS_NAME,
      </if>
      <if test="gradeYear != null" >
        GRADE_YEAR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null" >
        #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="courseFlow != null" >
        #{courseFlow,jdbcType=VARCHAR},
      </if>
      <if test="studyStatusId != null" >
        #{studyStatusId,jdbcType=VARCHAR},
      </if>
      <if test="studyStatusName != null" >
        #{studyStatusName,jdbcType=VARCHAR},
      </if>
      <if test="currentChapterFlow != null" >
        #{currentChapterFlow,jdbcType=VARCHAR},
      </if>
      <if test="courseGrade != null" >
        #{courseGrade,jdbcType=VARCHAR},
      </if>
      <if test="chooseTime != null" >
        #{chooseTime,jdbcType=VARCHAR},
      </if>
      <if test="achieveCredit != null" >
        #{achieveCredit,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="courseTypeId != null" >
        #{courseTypeId,jdbcType=VARCHAR},
      </if>
      <if test="courseTypeName != null" >
        #{courseTypeName,jdbcType=VARCHAR},
      </if>
      <if test="currentChapterTime != null" >
        #{currentChapterTime,jdbcType=VARCHAR},
      </if>
      <if test="courseCredit != null" >
        #{courseCredit,jdbcType=VARCHAR},
      </if>
      <if test="startStudyTime != null" >
        #{startStudyTime,jdbcType=VARCHAR},
      </if>
      <if test="completeStudyTime != null" >
        #{completeStudyTime,jdbcType=VARCHAR},
      </if>
      <if test="coursePeriod != null" >
        #{coursePeriod,jdbcType=VARCHAR},
      </if>
      <if test="videoFinishFlag != null" >
        #{videoFinishFlag,jdbcType=VARCHAR},
      </if>
      <if test="schDeptFlow != null" >
        #{schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="schDeptName != null" >
        #{schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="auditFlag != null" >
        #{auditFlag,jdbcType=VARCHAR},
      </if>
      <if test="replenishFlag != null" >
        #{replenishFlag,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="studentPeriod != null" >
        #{studentPeriod,jdbcType=VARCHAR},
      </if>
      <if test="gradeTermId != null" >
        #{gradeTermId,jdbcType=VARCHAR},
      </if>
      <if test="gradeTermName != null" >
        #{gradeTermName,jdbcType=VARCHAR},
      </if>
      <if test="courseCode != null" >
        #{courseCode,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null" >
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseNameEn != null" >
        #{courseNameEn,jdbcType=VARCHAR},
      </if>
      <if test="studyWayId != null" >
        #{studyWayId,jdbcType=VARCHAR},
      </if>
      <if test="studyWayName != null" >
        #{studyWayName,jdbcType=VARCHAR},
      </if>
      <if test="pacificGrade != null" >
        #{pacificGrade,jdbcType=VARCHAR},
      </if>
      <if test="teamEndGrade != null" >
        #{teamEndGrade,jdbcType=VARCHAR},
      </if>
      <if test="assessTypeId != null" >
        #{assessTypeId,jdbcType=VARCHAR},
      </if>
      <if test="assessTypeName != null" >
        #{assessTypeName,jdbcType=VARCHAR},
      </if>
      <if test="impFlow != null" >
        #{impFlow,jdbcType=VARCHAR},
      </if>
      <if test="roleFlag != null" >
        #{roleFlag,jdbcType=VARCHAR},
      </if>
      <if test="submitFlag != null" >
        #{submitFlag,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusId != null" >
        #{auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusName != null" >
        #{auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="degreeCourseFlag != null" >
        #{degreeCourseFlag,jdbcType=CHAR},
      </if>
      <if test="scoreMode != null" >
        #{scoreMode,jdbcType=VARCHAR},
      </if>
      <if test="cddwAuditStatusId != null" >
        #{cddwAuditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="cddwAuditStatusName != null" >
        #{cddwAuditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="gradeYear != null" >
        #{gradeYear,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.EduStudentCourseExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.EDU_STUDENT_COURSE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.EDU_STUDENT_COURSE
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userFlow != null" >
        USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.courseFlow != null" >
        COURSE_FLOW = #{record.courseFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.studyStatusId != null" >
        STUDY_STATUS_ID = #{record.studyStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.studyStatusName != null" >
        STUDY_STATUS_NAME = #{record.studyStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.currentChapterFlow != null" >
        CURRENT_CHAPTER_FLOW = #{record.currentChapterFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.courseGrade != null" >
        COURSE_GRADE = #{record.courseGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.chooseTime != null" >
        CHOOSE_TIME = #{record.chooseTime,jdbcType=VARCHAR},
      </if>
      <if test="record.achieveCredit != null" >
        ACHIEVE_CREDIT = #{record.achieveCredit,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.courseTypeId != null" >
        COURSE_TYPE_ID = #{record.courseTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.courseTypeName != null" >
        COURSE_TYPE_NAME = #{record.courseTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.currentChapterTime != null" >
        CURRENT_CHAPTER_TIME = #{record.currentChapterTime,jdbcType=VARCHAR},
      </if>
      <if test="record.courseCredit != null" >
        COURSE_CREDIT = #{record.courseCredit,jdbcType=VARCHAR},
      </if>
      <if test="record.startStudyTime != null" >
        START_STUDY_TIME = #{record.startStudyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.completeStudyTime != null" >
        COMPLETE_STUDY_TIME = #{record.completeStudyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.coursePeriod != null" >
        COURSE_PERIOD = #{record.coursePeriod,jdbcType=VARCHAR},
      </if>
      <if test="record.videoFinishFlag != null" >
        VIDEO_FINISH_FLAG = #{record.videoFinishFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.schDeptFlow != null" >
        SCH_DEPT_FLOW = #{record.schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.schDeptName != null" >
        SCH_DEPT_NAME = #{record.schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.auditFlag != null" >
        AUDIT_FLAG = #{record.auditFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.replenishFlag != null" >
        REPLENISH_FLAG = #{record.replenishFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null" >
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.studentPeriod != null" >
        STUDENT_PERIOD = #{record.studentPeriod,jdbcType=VARCHAR},
      </if>
      <if test="record.gradeTermId != null" >
        GRADE_TERM_ID = #{record.gradeTermId,jdbcType=VARCHAR},
      </if>
      <if test="record.gradeTermName != null" >
        GRADE_TERM_NAME = #{record.gradeTermName,jdbcType=VARCHAR},
      </if>
      <if test="record.courseCode != null" >
        COURSE_CODE = #{record.courseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.courseName != null" >
        COURSE_NAME = #{record.courseName,jdbcType=VARCHAR},
      </if>
      <if test="record.courseNameEn != null" >
        COURSE_NAME_EN = #{record.courseNameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.studyWayId != null" >
        STUDY_WAY_ID = #{record.studyWayId,jdbcType=VARCHAR},
      </if>
      <if test="record.studyWayName != null" >
        STUDY_WAY_NAME = #{record.studyWayName,jdbcType=VARCHAR},
      </if>
      <if test="record.pacificGrade != null" >
        PACIFIC_GRADE = #{record.pacificGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.teamEndGrade != null" >
        TEAM_END_GRADE = #{record.teamEndGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.assessTypeId != null" >
        ASSESS_TYPE_ID = #{record.assessTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.assessTypeName != null" >
        ASSESS_TYPE_NAME = #{record.assessTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.impFlow != null" >
        IMP_FLOW = #{record.impFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.roleFlag != null" >
        ROLE_FLAG = #{record.roleFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.submitFlag != null" >
        SUBMIT_FLAG = #{record.submitFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatusId != null" >
        AUDIT_STATUS_ID = #{record.auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatusName != null" >
        AUDIT_STATUS_NAME = #{record.auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.degreeCourseFlag != null" >
        DEGREE_COURSE_FLAG = #{record.degreeCourseFlag,jdbcType=CHAR},
      </if>
      <if test="record.scoreMode != null" >
        SCORE_MODE = #{record.scoreMode,jdbcType=VARCHAR},
      </if>
      <if test="record.cddwAuditStatusId != null" >
        CDDW_AUDIT_STATUS_ID = #{record.cddwAuditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.cddwAuditStatusName != null" >
        CDDW_AUDIT_STATUS_NAME = #{record.cddwAuditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.gradeYear != null" >
        GRADE_YEAR = #{record.gradeYear,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.EDU_STUDENT_COURSE
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      COURSE_FLOW = #{record.courseFlow,jdbcType=VARCHAR},
      STUDY_STATUS_ID = #{record.studyStatusId,jdbcType=VARCHAR},
      STUDY_STATUS_NAME = #{record.studyStatusName,jdbcType=VARCHAR},
      CURRENT_CHAPTER_FLOW = #{record.currentChapterFlow,jdbcType=VARCHAR},
      COURSE_GRADE = #{record.courseGrade,jdbcType=VARCHAR},
      CHOOSE_TIME = #{record.chooseTime,jdbcType=VARCHAR},
      ACHIEVE_CREDIT = #{record.achieveCredit,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      COURSE_TYPE_ID = #{record.courseTypeId,jdbcType=VARCHAR},
      COURSE_TYPE_NAME = #{record.courseTypeName,jdbcType=VARCHAR},
      CURRENT_CHAPTER_TIME = #{record.currentChapterTime,jdbcType=VARCHAR},
      COURSE_CREDIT = #{record.courseCredit,jdbcType=VARCHAR},
      START_STUDY_TIME = #{record.startStudyTime,jdbcType=VARCHAR},
      COMPLETE_STUDY_TIME = #{record.completeStudyTime,jdbcType=VARCHAR},
      COURSE_PERIOD = #{record.coursePeriod,jdbcType=VARCHAR},
      VIDEO_FINISH_FLAG = #{record.videoFinishFlag,jdbcType=VARCHAR},
      SCH_DEPT_FLOW = #{record.schDeptFlow,jdbcType=VARCHAR},
      SCH_DEPT_NAME = #{record.schDeptName,jdbcType=VARCHAR},
      AUDIT_FLAG = #{record.auditFlag,jdbcType=VARCHAR},
      REPLENISH_FLAG = #{record.replenishFlag,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      STUDENT_PERIOD = #{record.studentPeriod,jdbcType=VARCHAR},
      GRADE_TERM_ID = #{record.gradeTermId,jdbcType=VARCHAR},
      GRADE_TERM_NAME = #{record.gradeTermName,jdbcType=VARCHAR},
      COURSE_CODE = #{record.courseCode,jdbcType=VARCHAR},
      COURSE_NAME = #{record.courseName,jdbcType=VARCHAR},
      COURSE_NAME_EN = #{record.courseNameEn,jdbcType=VARCHAR},
      STUDY_WAY_ID = #{record.studyWayId,jdbcType=VARCHAR},
      STUDY_WAY_NAME = #{record.studyWayName,jdbcType=VARCHAR},
      PACIFIC_GRADE = #{record.pacificGrade,jdbcType=VARCHAR},
      TEAM_END_GRADE = #{record.teamEndGrade,jdbcType=VARCHAR},
      ASSESS_TYPE_ID = #{record.assessTypeId,jdbcType=VARCHAR},
      ASSESS_TYPE_NAME = #{record.assessTypeName,jdbcType=VARCHAR},
      IMP_FLOW = #{record.impFlow,jdbcType=VARCHAR},
      ROLE_FLAG = #{record.roleFlag,jdbcType=VARCHAR},
      SUBMIT_FLAG = #{record.submitFlag,jdbcType=VARCHAR},
      AUDIT_STATUS_ID = #{record.auditStatusId,jdbcType=VARCHAR},
      AUDIT_STATUS_NAME = #{record.auditStatusName,jdbcType=VARCHAR},
      DEGREE_COURSE_FLAG = #{record.degreeCourseFlag,jdbcType=CHAR},
      SCORE_MODE = #{record.scoreMode,jdbcType=VARCHAR},
      CDDW_AUDIT_STATUS_ID = #{record.cddwAuditStatusId,jdbcType=VARCHAR},
      CDDW_AUDIT_STATUS_NAME = #{record.cddwAuditStatusName,jdbcType=VARCHAR},
      GRADE_YEAR = #{record.gradeYear,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.EduStudentCourse" >
    update PDSCI.EDU_STUDENT_COURSE
    <set >
      <if test="userFlow != null" >
        USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="courseFlow != null" >
        COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR},
      </if>
      <if test="studyStatusId != null" >
        STUDY_STATUS_ID = #{studyStatusId,jdbcType=VARCHAR},
      </if>
      <if test="studyStatusName != null" >
        STUDY_STATUS_NAME = #{studyStatusName,jdbcType=VARCHAR},
      </if>
      <if test="currentChapterFlow != null" >
        CURRENT_CHAPTER_FLOW = #{currentChapterFlow,jdbcType=VARCHAR},
      </if>
      <if test="courseGrade != null" >
        COURSE_GRADE = #{courseGrade,jdbcType=VARCHAR},
      </if>
      <if test="chooseTime != null" >
        CHOOSE_TIME = #{chooseTime,jdbcType=VARCHAR},
      </if>
      <if test="achieveCredit != null" >
        ACHIEVE_CREDIT = #{achieveCredit,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="courseTypeId != null" >
        COURSE_TYPE_ID = #{courseTypeId,jdbcType=VARCHAR},
      </if>
      <if test="courseTypeName != null" >
        COURSE_TYPE_NAME = #{courseTypeName,jdbcType=VARCHAR},
      </if>
      <if test="currentChapterTime != null" >
        CURRENT_CHAPTER_TIME = #{currentChapterTime,jdbcType=VARCHAR},
      </if>
      <if test="courseCredit != null" >
        COURSE_CREDIT = #{courseCredit,jdbcType=VARCHAR},
      </if>
      <if test="startStudyTime != null" >
        START_STUDY_TIME = #{startStudyTime,jdbcType=VARCHAR},
      </if>
      <if test="completeStudyTime != null" >
        COMPLETE_STUDY_TIME = #{completeStudyTime,jdbcType=VARCHAR},
      </if>
      <if test="coursePeriod != null" >
        COURSE_PERIOD = #{coursePeriod,jdbcType=VARCHAR},
      </if>
      <if test="videoFinishFlag != null" >
        VIDEO_FINISH_FLAG = #{videoFinishFlag,jdbcType=VARCHAR},
      </if>
      <if test="schDeptFlow != null" >
        SCH_DEPT_FLOW = #{schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="schDeptName != null" >
        SCH_DEPT_NAME = #{schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="auditFlag != null" >
        AUDIT_FLAG = #{auditFlag,jdbcType=VARCHAR},
      </if>
      <if test="replenishFlag != null" >
        REPLENISH_FLAG = #{replenishFlag,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="studentPeriod != null" >
        STUDENT_PERIOD = #{studentPeriod,jdbcType=VARCHAR},
      </if>
      <if test="gradeTermId != null" >
        GRADE_TERM_ID = #{gradeTermId,jdbcType=VARCHAR},
      </if>
      <if test="gradeTermName != null" >
        GRADE_TERM_NAME = #{gradeTermName,jdbcType=VARCHAR},
      </if>
      <if test="courseCode != null" >
        COURSE_CODE = #{courseCode,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null" >
        COURSE_NAME = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseNameEn != null" >
        COURSE_NAME_EN = #{courseNameEn,jdbcType=VARCHAR},
      </if>
      <if test="studyWayId != null" >
        STUDY_WAY_ID = #{studyWayId,jdbcType=VARCHAR},
      </if>
      <if test="studyWayName != null" >
        STUDY_WAY_NAME = #{studyWayName,jdbcType=VARCHAR},
      </if>
      <if test="pacificGrade != null" >
        PACIFIC_GRADE = #{pacificGrade,jdbcType=VARCHAR},
      </if>
      <if test="teamEndGrade != null" >
        TEAM_END_GRADE = #{teamEndGrade,jdbcType=VARCHAR},
      </if>
      <if test="assessTypeId != null" >
        ASSESS_TYPE_ID = #{assessTypeId,jdbcType=VARCHAR},
      </if>
      <if test="assessTypeName != null" >
        ASSESS_TYPE_NAME = #{assessTypeName,jdbcType=VARCHAR},
      </if>
      <if test="impFlow != null" >
        IMP_FLOW = #{impFlow,jdbcType=VARCHAR},
      </if>
      <if test="roleFlag != null" >
        ROLE_FLAG = #{roleFlag,jdbcType=VARCHAR},
      </if>
      <if test="submitFlag != null" >
        SUBMIT_FLAG = #{submitFlag,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusId != null" >
        AUDIT_STATUS_ID = #{auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusName != null" >
        AUDIT_STATUS_NAME = #{auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="degreeCourseFlag != null" >
        DEGREE_COURSE_FLAG = #{degreeCourseFlag,jdbcType=CHAR},
      </if>
      <if test="scoreMode != null" >
        SCORE_MODE = #{scoreMode,jdbcType=VARCHAR},
      </if>
      <if test="cddwAuditStatusId != null" >
        CDDW_AUDIT_STATUS_ID = #{cddwAuditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="cddwAuditStatusName != null" >
        CDDW_AUDIT_STATUS_NAME = #{cddwAuditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="gradeYear != null" >
        GRADE_YEAR = #{gradeYear,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.EduStudentCourse" >
    update PDSCI.EDU_STUDENT_COURSE
    set USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR},
      STUDY_STATUS_ID = #{studyStatusId,jdbcType=VARCHAR},
      STUDY_STATUS_NAME = #{studyStatusName,jdbcType=VARCHAR},
      CURRENT_CHAPTER_FLOW = #{currentChapterFlow,jdbcType=VARCHAR},
      COURSE_GRADE = #{courseGrade,jdbcType=VARCHAR},
      CHOOSE_TIME = #{chooseTime,jdbcType=VARCHAR},
      ACHIEVE_CREDIT = #{achieveCredit,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      COURSE_TYPE_ID = #{courseTypeId,jdbcType=VARCHAR},
      COURSE_TYPE_NAME = #{courseTypeName,jdbcType=VARCHAR},
      CURRENT_CHAPTER_TIME = #{currentChapterTime,jdbcType=VARCHAR},
      COURSE_CREDIT = #{courseCredit,jdbcType=VARCHAR},
      START_STUDY_TIME = #{startStudyTime,jdbcType=VARCHAR},
      COMPLETE_STUDY_TIME = #{completeStudyTime,jdbcType=VARCHAR},
      COURSE_PERIOD = #{coursePeriod,jdbcType=VARCHAR},
      VIDEO_FINISH_FLAG = #{videoFinishFlag,jdbcType=VARCHAR},
      SCH_DEPT_FLOW = #{schDeptFlow,jdbcType=VARCHAR},
      SCH_DEPT_NAME = #{schDeptName,jdbcType=VARCHAR},
      AUDIT_FLAG = #{auditFlag,jdbcType=VARCHAR},
      REPLENISH_FLAG = #{replenishFlag,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      STUDENT_PERIOD = #{studentPeriod,jdbcType=VARCHAR},
      GRADE_TERM_ID = #{gradeTermId,jdbcType=VARCHAR},
      GRADE_TERM_NAME = #{gradeTermName,jdbcType=VARCHAR},
      COURSE_CODE = #{courseCode,jdbcType=VARCHAR},
      COURSE_NAME = #{courseName,jdbcType=VARCHAR},
      COURSE_NAME_EN = #{courseNameEn,jdbcType=VARCHAR},
      STUDY_WAY_ID = #{studyWayId,jdbcType=VARCHAR},
      STUDY_WAY_NAME = #{studyWayName,jdbcType=VARCHAR},
      PACIFIC_GRADE = #{pacificGrade,jdbcType=VARCHAR},
      TEAM_END_GRADE = #{teamEndGrade,jdbcType=VARCHAR},
      ASSESS_TYPE_ID = #{assessTypeId,jdbcType=VARCHAR},
      ASSESS_TYPE_NAME = #{assessTypeName,jdbcType=VARCHAR},
      IMP_FLOW = #{impFlow,jdbcType=VARCHAR},
      ROLE_FLAG = #{roleFlag,jdbcType=VARCHAR},
      SUBMIT_FLAG = #{submitFlag,jdbcType=VARCHAR},
      AUDIT_STATUS_ID = #{auditStatusId,jdbcType=VARCHAR},
      AUDIT_STATUS_NAME = #{auditStatusName,jdbcType=VARCHAR},
      DEGREE_COURSE_FLAG = #{degreeCourseFlag,jdbcType=CHAR},
      SCORE_MODE = #{scoreMode,jdbcType=VARCHAR},
      CDDW_AUDIT_STATUS_ID = #{cddwAuditStatusId,jdbcType=VARCHAR},
      CDDW_AUDIT_STATUS_NAME = #{cddwAuditStatusName,jdbcType=VARCHAR},
      GRADE_YEAR = #{gradeYear,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>