<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.EduTeachingnoticeMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.EduTeachingnotice" >
    <id column="INFO_FLOW" property="infoFlow" jdbcType="VARCHAR" />
    <result column="INFO_TITLE" property="infoTitle" jdbcType="VARCHAR" />
    <result column="INFO_TARGET_NAME" property="infoTargetName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="INFO_TARGET_FLOW" property="infoTargetFlow" jdbcType="VARCHAR" />
    <result column="INFO_TYPE_ID" property="infoTypeId" jdbcType="VARCHAR" />
    <result column="INFO_TYPE_NAME" property="infoTypeName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pinde.sci.model.mo.EduTeachingnotice" extends="BaseResultMap" >
    <result column="INFO_CONTENT" property="infoContent" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    INFO_FLOW, INFO_TITLE, INFO_TARGET_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW, INFO_TARGET_FLOW, INFO_TYPE_ID, INFO_TYPE_NAME
  </sql>
  <sql id="Blob_Column_List" >
    INFO_CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pinde.sci.model.mo.EduTeachingnoticeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.EDU_TEACHINGNOTICE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.EduTeachingnoticeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.EDU_TEACHINGNOTICE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.EDU_TEACHINGNOTICE
    where INFO_FLOW = #{infoFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.EDU_TEACHINGNOTICE
    where INFO_FLOW = #{infoFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.EduTeachingnoticeExample" >
    delete from PDSCI.EDU_TEACHINGNOTICE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.EduTeachingnotice" >
    insert into PDSCI.EDU_TEACHINGNOTICE (INFO_FLOW, INFO_TITLE, INFO_TARGET_NAME, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, INFO_TARGET_FLOW, 
      INFO_TYPE_ID, INFO_TYPE_NAME, INFO_CONTENT
      )
    values (#{infoFlow,jdbcType=VARCHAR}, #{infoTitle,jdbcType=VARCHAR}, #{infoTargetName,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{infoTargetFlow,jdbcType=VARCHAR}, 
      #{infoTypeId,jdbcType=VARCHAR}, #{infoTypeName,jdbcType=VARCHAR}, #{infoContent,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.EduTeachingnotice" >
    insert into PDSCI.EDU_TEACHINGNOTICE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="infoFlow != null" >
        INFO_FLOW,
      </if>
      <if test="infoTitle != null" >
        INFO_TITLE,
      </if>
      <if test="infoTargetName != null" >
        INFO_TARGET_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="infoTargetFlow != null" >
        INFO_TARGET_FLOW,
      </if>
      <if test="infoTypeId != null" >
        INFO_TYPE_ID,
      </if>
      <if test="infoTypeName != null" >
        INFO_TYPE_NAME,
      </if>
      <if test="infoContent != null" >
        INFO_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="infoFlow != null" >
        #{infoFlow,jdbcType=VARCHAR},
      </if>
      <if test="infoTitle != null" >
        #{infoTitle,jdbcType=VARCHAR},
      </if>
      <if test="infoTargetName != null" >
        #{infoTargetName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="infoTargetFlow != null" >
        #{infoTargetFlow,jdbcType=VARCHAR},
      </if>
      <if test="infoTypeId != null" >
        #{infoTypeId,jdbcType=VARCHAR},
      </if>
      <if test="infoTypeName != null" >
        #{infoTypeName,jdbcType=VARCHAR},
      </if>
      <if test="infoContent != null" >
        #{infoContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.EduTeachingnoticeExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.EDU_TEACHINGNOTICE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.EDU_TEACHINGNOTICE
    <set >
      <if test="record.infoFlow != null" >
        INFO_FLOW = #{record.infoFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.infoTitle != null" >
        INFO_TITLE = #{record.infoTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.infoTargetName != null" >
        INFO_TARGET_NAME = #{record.infoTargetName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.infoTargetFlow != null" >
        INFO_TARGET_FLOW = #{record.infoTargetFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.infoTypeId != null" >
        INFO_TYPE_ID = #{record.infoTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.infoTypeName != null" >
        INFO_TYPE_NAME = #{record.infoTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.infoContent != null" >
        INFO_CONTENT = #{record.infoContent,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update PDSCI.EDU_TEACHINGNOTICE
    set INFO_FLOW = #{record.infoFlow,jdbcType=VARCHAR},
      INFO_TITLE = #{record.infoTitle,jdbcType=VARCHAR},
      INFO_TARGET_NAME = #{record.infoTargetName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      INFO_TARGET_FLOW = #{record.infoTargetFlow,jdbcType=VARCHAR},
      INFO_TYPE_ID = #{record.infoTypeId,jdbcType=VARCHAR},
      INFO_TYPE_NAME = #{record.infoTypeName,jdbcType=VARCHAR},
      INFO_CONTENT = #{record.infoContent,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.EDU_TEACHINGNOTICE
    set INFO_FLOW = #{record.infoFlow,jdbcType=VARCHAR},
      INFO_TITLE = #{record.infoTitle,jdbcType=VARCHAR},
      INFO_TARGET_NAME = #{record.infoTargetName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      INFO_TARGET_FLOW = #{record.infoTargetFlow,jdbcType=VARCHAR},
      INFO_TYPE_ID = #{record.infoTypeId,jdbcType=VARCHAR},
      INFO_TYPE_NAME = #{record.infoTypeName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.EduTeachingnotice" >
    update PDSCI.EDU_TEACHINGNOTICE
    <set >
      <if test="infoTitle != null" >
        INFO_TITLE = #{infoTitle,jdbcType=VARCHAR},
      </if>
      <if test="infoTargetName != null" >
        INFO_TARGET_NAME = #{infoTargetName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="infoTargetFlow != null" >
        INFO_TARGET_FLOW = #{infoTargetFlow,jdbcType=VARCHAR},
      </if>
      <if test="infoTypeId != null" >
        INFO_TYPE_ID = #{infoTypeId,jdbcType=VARCHAR},
      </if>
      <if test="infoTypeName != null" >
        INFO_TYPE_NAME = #{infoTypeName,jdbcType=VARCHAR},
      </if>
      <if test="infoContent != null" >
        INFO_CONTENT = #{infoContent,jdbcType=CLOB},
      </if>
    </set>
    where INFO_FLOW = #{infoFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.sci.model.mo.EduTeachingnotice" >
    update PDSCI.EDU_TEACHINGNOTICE
    set INFO_TITLE = #{infoTitle,jdbcType=VARCHAR},
      INFO_TARGET_NAME = #{infoTargetName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      INFO_TARGET_FLOW = #{infoTargetFlow,jdbcType=VARCHAR},
      INFO_TYPE_ID = #{infoTypeId,jdbcType=VARCHAR},
      INFO_TYPE_NAME = #{infoTypeName,jdbcType=VARCHAR},
      INFO_CONTENT = #{infoContent,jdbcType=CLOB}
    where INFO_FLOW = #{infoFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.EduTeachingnotice" >
    update PDSCI.EDU_TEACHINGNOTICE
    set INFO_TITLE = #{infoTitle,jdbcType=VARCHAR},
      INFO_TARGET_NAME = #{infoTargetName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      INFO_TARGET_FLOW = #{infoTargetFlow,jdbcType=VARCHAR},
      INFO_TYPE_ID = #{infoTypeId,jdbcType=VARCHAR},
      INFO_TYPE_NAME = #{infoTypeName,jdbcType=VARCHAR}
    where INFO_FLOW = #{infoFlow,jdbcType=VARCHAR}
  </update>
</mapper>