<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.ErpCrmContractPayBalanceMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ErpCrmContractPayBalance">
    <id column="RECORD_FLOW" jdbcType="VARCHAR" property="recordFlow" />
    <result column="CONTRACT_FLOW" jdbcType="VARCHAR" property="contractFlow" />
    <result column="PLAN_FLOW" jdbcType="VARCHAR" property="planFlow" />
    <result column="BILL_FLOW" jdbcType="VARCHAR" property="billFlow" />
    <result column="PAY_DATE" jdbcType="VARCHAR" property="payDate" />
    <result column="PAY_FUND" jdbcType="DECIMAL" property="payFund" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="BILL_APPLY_USER_FLOW" jdbcType="VARCHAR" property="billApplyUserFlow" />
    <result column="BILL_APPLY_USER_NAME" jdbcType="VARCHAR" property="billApplyUserName" />
    <result column="AUDIT_USER_FLOW" jdbcType="VARCHAR" property="auditUserFlow" />
    <result column="AUDIT_USER_NAME" jdbcType="VARCHAR" property="auditUserName" />
    <result column="STATUS_ID" jdbcType="VARCHAR" property="statusId" />
    <result column="STATUS_NAME" jdbcType="VARCHAR" property="statusName" />
    <result column="AUDIT_REASON" jdbcType="VARCHAR" property="auditReason" />
    <result column="AUDIT_TIME" jdbcType="VARCHAR" property="auditTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RECORD_FLOW, CONTRACT_FLOW, PLAN_FLOW, BILL_FLOW, PAY_DATE, PAY_FUND, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, BILL_APPLY_USER_FLOW, 
    BILL_APPLY_USER_NAME, AUDIT_USER_FLOW, AUDIT_USER_NAME, STATUS_ID, STATUS_NAME, AUDIT_REASON, 
    AUDIT_TIME
  </sql>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.ErpCrmContractPayBalanceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.ERP_CRM_CONTRACT_PAY_BALANCE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PDSCI.ERP_CRM_CONTRACT_PAY_BALANCE
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.ERP_CRM_CONTRACT_PAY_BALANCE
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ErpCrmContractPayBalanceExample">
    delete from PDSCI.ERP_CRM_CONTRACT_PAY_BALANCE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ErpCrmContractPayBalance">
    insert into PDSCI.ERP_CRM_CONTRACT_PAY_BALANCE (RECORD_FLOW, CONTRACT_FLOW, PLAN_FLOW, 
      BILL_FLOW, PAY_DATE, PAY_FUND, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, BILL_APPLY_USER_FLOW, 
      BILL_APPLY_USER_NAME, AUDIT_USER_FLOW, AUDIT_USER_NAME, 
      STATUS_ID, STATUS_NAME, AUDIT_REASON, 
      AUDIT_TIME)
    values (#{recordFlow,jdbcType=VARCHAR}, #{contractFlow,jdbcType=VARCHAR}, #{planFlow,jdbcType=VARCHAR}, 
      #{billFlow,jdbcType=VARCHAR}, #{payDate,jdbcType=VARCHAR}, #{payFund,jdbcType=DECIMAL}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{billApplyUserFlow,jdbcType=VARCHAR}, 
      #{billApplyUserName,jdbcType=VARCHAR}, #{auditUserFlow,jdbcType=VARCHAR}, #{auditUserName,jdbcType=VARCHAR}, 
      #{statusId,jdbcType=VARCHAR}, #{statusName,jdbcType=VARCHAR}, #{auditReason,jdbcType=VARCHAR}, 
      #{auditTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ErpCrmContractPayBalance">
    insert into PDSCI.ERP_CRM_CONTRACT_PAY_BALANCE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordFlow != null">
        RECORD_FLOW,
      </if>
      <if test="contractFlow != null">
        CONTRACT_FLOW,
      </if>
      <if test="planFlow != null">
        PLAN_FLOW,
      </if>
      <if test="billFlow != null">
        BILL_FLOW,
      </if>
      <if test="payDate != null">
        PAY_DATE,
      </if>
      <if test="payFund != null">
        PAY_FUND,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="billApplyUserFlow != null">
        BILL_APPLY_USER_FLOW,
      </if>
      <if test="billApplyUserName != null">
        BILL_APPLY_USER_NAME,
      </if>
      <if test="auditUserFlow != null">
        AUDIT_USER_FLOW,
      </if>
      <if test="auditUserName != null">
        AUDIT_USER_NAME,
      </if>
      <if test="statusId != null">
        STATUS_ID,
      </if>
      <if test="statusName != null">
        STATUS_NAME,
      </if>
      <if test="auditReason != null">
        AUDIT_REASON,
      </if>
      <if test="auditTime != null">
        AUDIT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordFlow != null">
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="contractFlow != null">
        #{contractFlow,jdbcType=VARCHAR},
      </if>
      <if test="planFlow != null">
        #{planFlow,jdbcType=VARCHAR},
      </if>
      <if test="billFlow != null">
        #{billFlow,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null">
        #{payDate,jdbcType=VARCHAR},
      </if>
      <if test="payFund != null">
        #{payFund,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="billApplyUserFlow != null">
        #{billApplyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="billApplyUserName != null">
        #{billApplyUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditUserFlow != null">
        #{auditUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="auditUserName != null">
        #{auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null">
        #{statusId,jdbcType=VARCHAR},
      </if>
      <if test="statusName != null">
        #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="auditReason != null">
        #{auditReason,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ErpCrmContractPayBalanceExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.ERP_CRM_CONTRACT_PAY_BALANCE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.ERP_CRM_CONTRACT_PAY_BALANCE
    <set>
      <if test="record.recordFlow != null">
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.contractFlow != null">
        CONTRACT_FLOW = #{record.contractFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.planFlow != null">
        PLAN_FLOW = #{record.planFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.billFlow != null">
        BILL_FLOW = #{record.billFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.payDate != null">
        PAY_DATE = #{record.payDate,jdbcType=VARCHAR},
      </if>
      <if test="record.payFund != null">
        PAY_FUND = #{record.payFund,jdbcType=DECIMAL},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.billApplyUserFlow != null">
        BILL_APPLY_USER_FLOW = #{record.billApplyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.billApplyUserName != null">
        BILL_APPLY_USER_NAME = #{record.billApplyUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.auditUserFlow != null">
        AUDIT_USER_FLOW = #{record.auditUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.auditUserName != null">
        AUDIT_USER_NAME = #{record.auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.statusId != null">
        STATUS_ID = #{record.statusId,jdbcType=VARCHAR},
      </if>
      <if test="record.statusName != null">
        STATUS_NAME = #{record.statusName,jdbcType=VARCHAR},
      </if>
      <if test="record.auditReason != null">
        AUDIT_REASON = #{record.auditReason,jdbcType=VARCHAR},
      </if>
      <if test="record.auditTime != null">
        AUDIT_TIME = #{record.auditTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.ERP_CRM_CONTRACT_PAY_BALANCE
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      CONTRACT_FLOW = #{record.contractFlow,jdbcType=VARCHAR},
      PLAN_FLOW = #{record.planFlow,jdbcType=VARCHAR},
      BILL_FLOW = #{record.billFlow,jdbcType=VARCHAR},
      PAY_DATE = #{record.payDate,jdbcType=VARCHAR},
      PAY_FUND = #{record.payFund,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      BILL_APPLY_USER_FLOW = #{record.billApplyUserFlow,jdbcType=VARCHAR},
      BILL_APPLY_USER_NAME = #{record.billApplyUserName,jdbcType=VARCHAR},
      AUDIT_USER_FLOW = #{record.auditUserFlow,jdbcType=VARCHAR},
      AUDIT_USER_NAME = #{record.auditUserName,jdbcType=VARCHAR},
      STATUS_ID = #{record.statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{record.statusName,jdbcType=VARCHAR},
      AUDIT_REASON = #{record.auditReason,jdbcType=VARCHAR},
      AUDIT_TIME = #{record.auditTime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ErpCrmContractPayBalance">
    update PDSCI.ERP_CRM_CONTRACT_PAY_BALANCE
    <set>
      <if test="contractFlow != null">
        CONTRACT_FLOW = #{contractFlow,jdbcType=VARCHAR},
      </if>
      <if test="planFlow != null">
        PLAN_FLOW = #{planFlow,jdbcType=VARCHAR},
      </if>
      <if test="billFlow != null">
        BILL_FLOW = #{billFlow,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null">
        PAY_DATE = #{payDate,jdbcType=VARCHAR},
      </if>
      <if test="payFund != null">
        PAY_FUND = #{payFund,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="billApplyUserFlow != null">
        BILL_APPLY_USER_FLOW = #{billApplyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="billApplyUserName != null">
        BILL_APPLY_USER_NAME = #{billApplyUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditUserFlow != null">
        AUDIT_USER_FLOW = #{auditUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="auditUserName != null">
        AUDIT_USER_NAME = #{auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null">
        STATUS_ID = #{statusId,jdbcType=VARCHAR},
      </if>
      <if test="statusName != null">
        STATUS_NAME = #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="auditReason != null">
        AUDIT_REASON = #{auditReason,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        AUDIT_TIME = #{auditTime,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ErpCrmContractPayBalance">
    update PDSCI.ERP_CRM_CONTRACT_PAY_BALANCE
    set CONTRACT_FLOW = #{contractFlow,jdbcType=VARCHAR},
      PLAN_FLOW = #{planFlow,jdbcType=VARCHAR},
      BILL_FLOW = #{billFlow,jdbcType=VARCHAR},
      PAY_DATE = #{payDate,jdbcType=VARCHAR},
      PAY_FUND = #{payFund,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      BILL_APPLY_USER_FLOW = #{billApplyUserFlow,jdbcType=VARCHAR},
      BILL_APPLY_USER_NAME = #{billApplyUserName,jdbcType=VARCHAR},
      AUDIT_USER_FLOW = #{auditUserFlow,jdbcType=VARCHAR},
      AUDIT_USER_NAME = #{auditUserName,jdbcType=VARCHAR},
      STATUS_ID = #{statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{statusName,jdbcType=VARCHAR},
      AUDIT_REASON = #{auditReason,jdbcType=VARCHAR},
      AUDIT_TIME = #{auditTime,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>