<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ErpCrmCustomerMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ErpCrmCustomer" >
    <id column="CUSTOMER_FLOW" property="customerFlow" jdbcType="VARCHAR" />
    <result column="CUSTOMER_NAME" property="customerName" jdbcType="VARCHAR" />
    <result column="ALIAS_NAME" property="aliasName" jdbcType="VARCHAR" />
    <result column="CUSTOMER_PROV_ID" property="customerProvId" jdbcType="VARCHAR" />
    <result column="CUSTOMER_PROV_NAME" property="customerProvName" jdbcType="VARCHAR" />
    <result column="CUSTOMER_CITY_ID" property="customerCityId" jdbcType="VARCHAR" />
    <result column="CUSTOMER_CITY_NAME" property="customerCityName" jdbcType="VARCHAR" />
    <result column="CUSTOMER_AREA_ID" property="customerAreaId" jdbcType="VARCHAR" />
    <result column="CUSTOMER_AREA_NAME" property="customerAreaName" jdbcType="VARCHAR" />
    <result column="CUSTOMER_SITE" property="customerSite" jdbcType="VARCHAR" />
    <result column="CUSTOMER_ADDRESS" property="customerAddress" jdbcType="VARCHAR" />
    <result column="ZIP_CODE" property="zipCode" jdbcType="VARCHAR" />
    <result column="TEL_PHONE" property="telPhone" jdbcType="VARCHAR" />
    <result column="CUSTOMER_TYPE_ID" property="customerTypeId" jdbcType="VARCHAR" />
    <result column="CUSTOMER_TYPE_NAME" property="customerTypeName" jdbcType="VARCHAR" />
    <result column="HOSPITAL_GRADE_ID" property="hospitalGradeId" jdbcType="VARCHAR" />
    <result column="HOSPITAL_GRADE_NAME" property="hospitalGradeName" jdbcType="VARCHAR" />
    <result column="HOSPITAL_LEVEL_ID" property="hospitalLevelId" jdbcType="VARCHAR" />
    <result column="HOSPITAL_LEVEL_NAME" property="hospitalLevelName" jdbcType="VARCHAR" />
    <result column="HOSPITAL_TYPE_ID" property="hospitalTypeId" jdbcType="VARCHAR" />
    <result column="HOSPITAL_TYPE_NAME" property="hospitalTypeName" jdbcType="VARCHAR" />
    <result column="SCHOOL_TYPE_ID" property="schoolTypeId" jdbcType="VARCHAR" />
    <result column="SCHOOL_TYPE_NAME" property="schoolTypeName" jdbcType="VARCHAR" />
    <result column="IS_CONTRACT" property="isContract" jdbcType="VARCHAR" />
    <result column="CUSTOMER_GRADE_ID" property="customerGradeId" jdbcType="VARCHAR" />
    <result column="CUSTOMER_GRADE_NAME" property="customerGradeName" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CUSTOMER_FLOW, CUSTOMER_NAME, ALIAS_NAME, CUSTOMER_PROV_ID, CUSTOMER_PROV_NAME, CUSTOMER_CITY_ID, 
    CUSTOMER_CITY_NAME, CUSTOMER_AREA_ID, CUSTOMER_AREA_NAME, CUSTOMER_SITE, CUSTOMER_ADDRESS, 
    ZIP_CODE, TEL_PHONE, CUSTOMER_TYPE_ID, CUSTOMER_TYPE_NAME, HOSPITAL_GRADE_ID, HOSPITAL_GRADE_NAME, 
    HOSPITAL_LEVEL_ID, HOSPITAL_LEVEL_NAME, HOSPITAL_TYPE_ID, HOSPITAL_TYPE_NAME, SCHOOL_TYPE_ID, 
    SCHOOL_TYPE_NAME, IS_CONTRACT, CUSTOMER_GRADE_ID, CUSTOMER_GRADE_NAME, REMARK, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ErpCrmCustomerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.ERP_CRM_CUSTOMER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.ERP_CRM_CUSTOMER
    where CUSTOMER_FLOW = #{customerFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.ERP_CRM_CUSTOMER
    where CUSTOMER_FLOW = #{customerFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ErpCrmCustomerExample" >
    delete from PDSCI.ERP_CRM_CUSTOMER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ErpCrmCustomer" >
    insert into PDSCI.ERP_CRM_CUSTOMER (CUSTOMER_FLOW, CUSTOMER_NAME, ALIAS_NAME, 
      CUSTOMER_PROV_ID, CUSTOMER_PROV_NAME, CUSTOMER_CITY_ID, 
      CUSTOMER_CITY_NAME, CUSTOMER_AREA_ID, CUSTOMER_AREA_NAME, 
      CUSTOMER_SITE, CUSTOMER_ADDRESS, ZIP_CODE, 
      TEL_PHONE, CUSTOMER_TYPE_ID, CUSTOMER_TYPE_NAME, 
      HOSPITAL_GRADE_ID, HOSPITAL_GRADE_NAME, HOSPITAL_LEVEL_ID, 
      HOSPITAL_LEVEL_NAME, HOSPITAL_TYPE_ID, HOSPITAL_TYPE_NAME, 
      SCHOOL_TYPE_ID, SCHOOL_TYPE_NAME, IS_CONTRACT, 
      CUSTOMER_GRADE_ID, CUSTOMER_GRADE_NAME, REMARK, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{customerFlow,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, #{aliasName,jdbcType=VARCHAR}, 
      #{customerProvId,jdbcType=VARCHAR}, #{customerProvName,jdbcType=VARCHAR}, #{customerCityId,jdbcType=VARCHAR}, 
      #{customerCityName,jdbcType=VARCHAR}, #{customerAreaId,jdbcType=VARCHAR}, #{customerAreaName,jdbcType=VARCHAR}, 
      #{customerSite,jdbcType=VARCHAR}, #{customerAddress,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, 
      #{telPhone,jdbcType=VARCHAR}, #{customerTypeId,jdbcType=VARCHAR}, #{customerTypeName,jdbcType=VARCHAR}, 
      #{hospitalGradeId,jdbcType=VARCHAR}, #{hospitalGradeName,jdbcType=VARCHAR}, #{hospitalLevelId,jdbcType=VARCHAR}, 
      #{hospitalLevelName,jdbcType=VARCHAR}, #{hospitalTypeId,jdbcType=VARCHAR}, #{hospitalTypeName,jdbcType=VARCHAR}, 
      #{schoolTypeId,jdbcType=VARCHAR}, #{schoolTypeName,jdbcType=VARCHAR}, #{isContract,jdbcType=VARCHAR}, 
      #{customerGradeId,jdbcType=VARCHAR}, #{customerGradeName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ErpCrmCustomer" >
    insert into PDSCI.ERP_CRM_CUSTOMER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerFlow != null" >
        CUSTOMER_FLOW,
      </if>
      <if test="customerName != null" >
        CUSTOMER_NAME,
      </if>
      <if test="aliasName != null" >
        ALIAS_NAME,
      </if>
      <if test="customerProvId != null" >
        CUSTOMER_PROV_ID,
      </if>
      <if test="customerProvName != null" >
        CUSTOMER_PROV_NAME,
      </if>
      <if test="customerCityId != null" >
        CUSTOMER_CITY_ID,
      </if>
      <if test="customerCityName != null" >
        CUSTOMER_CITY_NAME,
      </if>
      <if test="customerAreaId != null" >
        CUSTOMER_AREA_ID,
      </if>
      <if test="customerAreaName != null" >
        CUSTOMER_AREA_NAME,
      </if>
      <if test="customerSite != null" >
        CUSTOMER_SITE,
      </if>
      <if test="customerAddress != null" >
        CUSTOMER_ADDRESS,
      </if>
      <if test="zipCode != null" >
        ZIP_CODE,
      </if>
      <if test="telPhone != null" >
        TEL_PHONE,
      </if>
      <if test="customerTypeId != null" >
        CUSTOMER_TYPE_ID,
      </if>
      <if test="customerTypeName != null" >
        CUSTOMER_TYPE_NAME,
      </if>
      <if test="hospitalGradeId != null" >
        HOSPITAL_GRADE_ID,
      </if>
      <if test="hospitalGradeName != null" >
        HOSPITAL_GRADE_NAME,
      </if>
      <if test="hospitalLevelId != null" >
        HOSPITAL_LEVEL_ID,
      </if>
      <if test="hospitalLevelName != null" >
        HOSPITAL_LEVEL_NAME,
      </if>
      <if test="hospitalTypeId != null" >
        HOSPITAL_TYPE_ID,
      </if>
      <if test="hospitalTypeName != null" >
        HOSPITAL_TYPE_NAME,
      </if>
      <if test="schoolTypeId != null" >
        SCHOOL_TYPE_ID,
      </if>
      <if test="schoolTypeName != null" >
        SCHOOL_TYPE_NAME,
      </if>
      <if test="isContract != null" >
        IS_CONTRACT,
      </if>
      <if test="customerGradeId != null" >
        CUSTOMER_GRADE_ID,
      </if>
      <if test="customerGradeName != null" >
        CUSTOMER_GRADE_NAME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerFlow != null" >
        #{customerFlow,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="aliasName != null" >
        #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="customerProvId != null" >
        #{customerProvId,jdbcType=VARCHAR},
      </if>
      <if test="customerProvName != null" >
        #{customerProvName,jdbcType=VARCHAR},
      </if>
      <if test="customerCityId != null" >
        #{customerCityId,jdbcType=VARCHAR},
      </if>
      <if test="customerCityName != null" >
        #{customerCityName,jdbcType=VARCHAR},
      </if>
      <if test="customerAreaId != null" >
        #{customerAreaId,jdbcType=VARCHAR},
      </if>
      <if test="customerAreaName != null" >
        #{customerAreaName,jdbcType=VARCHAR},
      </if>
      <if test="customerSite != null" >
        #{customerSite,jdbcType=VARCHAR},
      </if>
      <if test="customerAddress != null" >
        #{customerAddress,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="telPhone != null" >
        #{telPhone,jdbcType=VARCHAR},
      </if>
      <if test="customerTypeId != null" >
        #{customerTypeId,jdbcType=VARCHAR},
      </if>
      <if test="customerTypeName != null" >
        #{customerTypeName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalGradeId != null" >
        #{hospitalGradeId,jdbcType=VARCHAR},
      </if>
      <if test="hospitalGradeName != null" >
        #{hospitalGradeName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalLevelId != null" >
        #{hospitalLevelId,jdbcType=VARCHAR},
      </if>
      <if test="hospitalLevelName != null" >
        #{hospitalLevelName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalTypeId != null" >
        #{hospitalTypeId,jdbcType=VARCHAR},
      </if>
      <if test="hospitalTypeName != null" >
        #{hospitalTypeName,jdbcType=VARCHAR},
      </if>
      <if test="schoolTypeId != null" >
        #{schoolTypeId,jdbcType=VARCHAR},
      </if>
      <if test="schoolTypeName != null" >
        #{schoolTypeName,jdbcType=VARCHAR},
      </if>
      <if test="isContract != null" >
        #{isContract,jdbcType=VARCHAR},
      </if>
      <if test="customerGradeId != null" >
        #{customerGradeId,jdbcType=VARCHAR},
      </if>
      <if test="customerGradeName != null" >
        #{customerGradeName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ErpCrmCustomerExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.ERP_CRM_CUSTOMER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.ERP_CRM_CUSTOMER
    <set >
      <if test="record.customerFlow != null" >
        CUSTOMER_FLOW = #{record.customerFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.customerName != null" >
        CUSTOMER_NAME = #{record.customerName,jdbcType=VARCHAR},
      </if>
      <if test="record.aliasName != null" >
        ALIAS_NAME = #{record.aliasName,jdbcType=VARCHAR},
      </if>
      <if test="record.customerProvId != null" >
        CUSTOMER_PROV_ID = #{record.customerProvId,jdbcType=VARCHAR},
      </if>
      <if test="record.customerProvName != null" >
        CUSTOMER_PROV_NAME = #{record.customerProvName,jdbcType=VARCHAR},
      </if>
      <if test="record.customerCityId != null" >
        CUSTOMER_CITY_ID = #{record.customerCityId,jdbcType=VARCHAR},
      </if>
      <if test="record.customerCityName != null" >
        CUSTOMER_CITY_NAME = #{record.customerCityName,jdbcType=VARCHAR},
      </if>
      <if test="record.customerAreaId != null" >
        CUSTOMER_AREA_ID = #{record.customerAreaId,jdbcType=VARCHAR},
      </if>
      <if test="record.customerAreaName != null" >
        CUSTOMER_AREA_NAME = #{record.customerAreaName,jdbcType=VARCHAR},
      </if>
      <if test="record.customerSite != null" >
        CUSTOMER_SITE = #{record.customerSite,jdbcType=VARCHAR},
      </if>
      <if test="record.customerAddress != null" >
        CUSTOMER_ADDRESS = #{record.customerAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.zipCode != null" >
        ZIP_CODE = #{record.zipCode,jdbcType=VARCHAR},
      </if>
      <if test="record.telPhone != null" >
        TEL_PHONE = #{record.telPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.customerTypeId != null" >
        CUSTOMER_TYPE_ID = #{record.customerTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.customerTypeName != null" >
        CUSTOMER_TYPE_NAME = #{record.customerTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.hospitalGradeId != null" >
        HOSPITAL_GRADE_ID = #{record.hospitalGradeId,jdbcType=VARCHAR},
      </if>
      <if test="record.hospitalGradeName != null" >
        HOSPITAL_GRADE_NAME = #{record.hospitalGradeName,jdbcType=VARCHAR},
      </if>
      <if test="record.hospitalLevelId != null" >
        HOSPITAL_LEVEL_ID = #{record.hospitalLevelId,jdbcType=VARCHAR},
      </if>
      <if test="record.hospitalLevelName != null" >
        HOSPITAL_LEVEL_NAME = #{record.hospitalLevelName,jdbcType=VARCHAR},
      </if>
      <if test="record.hospitalTypeId != null" >
        HOSPITAL_TYPE_ID = #{record.hospitalTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.hospitalTypeName != null" >
        HOSPITAL_TYPE_NAME = #{record.hospitalTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolTypeId != null" >
        SCHOOL_TYPE_ID = #{record.schoolTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolTypeName != null" >
        SCHOOL_TYPE_NAME = #{record.schoolTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.isContract != null" >
        IS_CONTRACT = #{record.isContract,jdbcType=VARCHAR},
      </if>
      <if test="record.customerGradeId != null" >
        CUSTOMER_GRADE_ID = #{record.customerGradeId,jdbcType=VARCHAR},
      </if>
      <if test="record.customerGradeName != null" >
        CUSTOMER_GRADE_NAME = #{record.customerGradeName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.ERP_CRM_CUSTOMER
    set CUSTOMER_FLOW = #{record.customerFlow,jdbcType=VARCHAR},
      CUSTOMER_NAME = #{record.customerName,jdbcType=VARCHAR},
      ALIAS_NAME = #{record.aliasName,jdbcType=VARCHAR},
      CUSTOMER_PROV_ID = #{record.customerProvId,jdbcType=VARCHAR},
      CUSTOMER_PROV_NAME = #{record.customerProvName,jdbcType=VARCHAR},
      CUSTOMER_CITY_ID = #{record.customerCityId,jdbcType=VARCHAR},
      CUSTOMER_CITY_NAME = #{record.customerCityName,jdbcType=VARCHAR},
      CUSTOMER_AREA_ID = #{record.customerAreaId,jdbcType=VARCHAR},
      CUSTOMER_AREA_NAME = #{record.customerAreaName,jdbcType=VARCHAR},
      CUSTOMER_SITE = #{record.customerSite,jdbcType=VARCHAR},
      CUSTOMER_ADDRESS = #{record.customerAddress,jdbcType=VARCHAR},
      ZIP_CODE = #{record.zipCode,jdbcType=VARCHAR},
      TEL_PHONE = #{record.telPhone,jdbcType=VARCHAR},
      CUSTOMER_TYPE_ID = #{record.customerTypeId,jdbcType=VARCHAR},
      CUSTOMER_TYPE_NAME = #{record.customerTypeName,jdbcType=VARCHAR},
      HOSPITAL_GRADE_ID = #{record.hospitalGradeId,jdbcType=VARCHAR},
      HOSPITAL_GRADE_NAME = #{record.hospitalGradeName,jdbcType=VARCHAR},
      HOSPITAL_LEVEL_ID = #{record.hospitalLevelId,jdbcType=VARCHAR},
      HOSPITAL_LEVEL_NAME = #{record.hospitalLevelName,jdbcType=VARCHAR},
      HOSPITAL_TYPE_ID = #{record.hospitalTypeId,jdbcType=VARCHAR},
      HOSPITAL_TYPE_NAME = #{record.hospitalTypeName,jdbcType=VARCHAR},
      SCHOOL_TYPE_ID = #{record.schoolTypeId,jdbcType=VARCHAR},
      SCHOOL_TYPE_NAME = #{record.schoolTypeName,jdbcType=VARCHAR},
      IS_CONTRACT = #{record.isContract,jdbcType=VARCHAR},
      CUSTOMER_GRADE_ID = #{record.customerGradeId,jdbcType=VARCHAR},
      CUSTOMER_GRADE_NAME = #{record.customerGradeName,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ErpCrmCustomer" >
    update PDSCI.ERP_CRM_CUSTOMER
    <set >
      <if test="customerName != null" >
        CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="aliasName != null" >
        ALIAS_NAME = #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="customerProvId != null" >
        CUSTOMER_PROV_ID = #{customerProvId,jdbcType=VARCHAR},
      </if>
      <if test="customerProvName != null" >
        CUSTOMER_PROV_NAME = #{customerProvName,jdbcType=VARCHAR},
      </if>
      <if test="customerCityId != null" >
        CUSTOMER_CITY_ID = #{customerCityId,jdbcType=VARCHAR},
      </if>
      <if test="customerCityName != null" >
        CUSTOMER_CITY_NAME = #{customerCityName,jdbcType=VARCHAR},
      </if>
      <if test="customerAreaId != null" >
        CUSTOMER_AREA_ID = #{customerAreaId,jdbcType=VARCHAR},
      </if>
      <if test="customerAreaName != null" >
        CUSTOMER_AREA_NAME = #{customerAreaName,jdbcType=VARCHAR},
      </if>
      <if test="customerSite != null" >
        CUSTOMER_SITE = #{customerSite,jdbcType=VARCHAR},
      </if>
      <if test="customerAddress != null" >
        CUSTOMER_ADDRESS = #{customerAddress,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        ZIP_CODE = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="telPhone != null" >
        TEL_PHONE = #{telPhone,jdbcType=VARCHAR},
      </if>
      <if test="customerTypeId != null" >
        CUSTOMER_TYPE_ID = #{customerTypeId,jdbcType=VARCHAR},
      </if>
      <if test="customerTypeName != null" >
        CUSTOMER_TYPE_NAME = #{customerTypeName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalGradeId != null" >
        HOSPITAL_GRADE_ID = #{hospitalGradeId,jdbcType=VARCHAR},
      </if>
      <if test="hospitalGradeName != null" >
        HOSPITAL_GRADE_NAME = #{hospitalGradeName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalLevelId != null" >
        HOSPITAL_LEVEL_ID = #{hospitalLevelId,jdbcType=VARCHAR},
      </if>
      <if test="hospitalLevelName != null" >
        HOSPITAL_LEVEL_NAME = #{hospitalLevelName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalTypeId != null" >
        HOSPITAL_TYPE_ID = #{hospitalTypeId,jdbcType=VARCHAR},
      </if>
      <if test="hospitalTypeName != null" >
        HOSPITAL_TYPE_NAME = #{hospitalTypeName,jdbcType=VARCHAR},
      </if>
      <if test="schoolTypeId != null" >
        SCHOOL_TYPE_ID = #{schoolTypeId,jdbcType=VARCHAR},
      </if>
      <if test="schoolTypeName != null" >
        SCHOOL_TYPE_NAME = #{schoolTypeName,jdbcType=VARCHAR},
      </if>
      <if test="isContract != null" >
        IS_CONTRACT = #{isContract,jdbcType=VARCHAR},
      </if>
      <if test="customerGradeId != null" >
        CUSTOMER_GRADE_ID = #{customerGradeId,jdbcType=VARCHAR},
      </if>
      <if test="customerGradeName != null" >
        CUSTOMER_GRADE_NAME = #{customerGradeName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where CUSTOMER_FLOW = #{customerFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ErpCrmCustomer" >
    update PDSCI.ERP_CRM_CUSTOMER
    set CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      ALIAS_NAME = #{aliasName,jdbcType=VARCHAR},
      CUSTOMER_PROV_ID = #{customerProvId,jdbcType=VARCHAR},
      CUSTOMER_PROV_NAME = #{customerProvName,jdbcType=VARCHAR},
      CUSTOMER_CITY_ID = #{customerCityId,jdbcType=VARCHAR},
      CUSTOMER_CITY_NAME = #{customerCityName,jdbcType=VARCHAR},
      CUSTOMER_AREA_ID = #{customerAreaId,jdbcType=VARCHAR},
      CUSTOMER_AREA_NAME = #{customerAreaName,jdbcType=VARCHAR},
      CUSTOMER_SITE = #{customerSite,jdbcType=VARCHAR},
      CUSTOMER_ADDRESS = #{customerAddress,jdbcType=VARCHAR},
      ZIP_CODE = #{zipCode,jdbcType=VARCHAR},
      TEL_PHONE = #{telPhone,jdbcType=VARCHAR},
      CUSTOMER_TYPE_ID = #{customerTypeId,jdbcType=VARCHAR},
      CUSTOMER_TYPE_NAME = #{customerTypeName,jdbcType=VARCHAR},
      HOSPITAL_GRADE_ID = #{hospitalGradeId,jdbcType=VARCHAR},
      HOSPITAL_GRADE_NAME = #{hospitalGradeName,jdbcType=VARCHAR},
      HOSPITAL_LEVEL_ID = #{hospitalLevelId,jdbcType=VARCHAR},
      HOSPITAL_LEVEL_NAME = #{hospitalLevelName,jdbcType=VARCHAR},
      HOSPITAL_TYPE_ID = #{hospitalTypeId,jdbcType=VARCHAR},
      HOSPITAL_TYPE_NAME = #{hospitalTypeName,jdbcType=VARCHAR},
      SCHOOL_TYPE_ID = #{schoolTypeId,jdbcType=VARCHAR},
      SCHOOL_TYPE_NAME = #{schoolTypeName,jdbcType=VARCHAR},
      IS_CONTRACT = #{isContract,jdbcType=VARCHAR},
      CUSTOMER_GRADE_ID = #{customerGradeId,jdbcType=VARCHAR},
      CUSTOMER_GRADE_NAME = #{customerGradeName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where CUSTOMER_FLOW = #{customerFlow,jdbcType=VARCHAR}
  </update>
</mapper>