<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.ErpCrmContractOtherPowerMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ErpCrmContractOtherPower">
    <id column="OTHER_POWER_FLOW" jdbcType="VARCHAR" property="otherPowerFlow" />
    <result column="CONTRACT_FLOW" jdbcType="VARCHAR" property="contractFlow" />
    <result column="POWER_IDS" jdbcType="VARCHAR" property="powerIds" />
    <result column="POWER_NAMES" jdbcType="VARCHAR" property="powerNames" />
    <result column="PEOPLE_NUM" jdbcType="DECIMAL" property="peopleNum" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    OTHER_POWER_FLOW, CONTRACT_FLOW, POWER_IDS, POWER_NAMES, PEOPLE_NUM, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.ErpCrmContractOtherPowerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.ERP_CRM_CONTRACT_OTHER_POWER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PDSCI.ERP_CRM_CONTRACT_OTHER_POWER
    where OTHER_POWER_FLOW = #{otherPowerFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.ERP_CRM_CONTRACT_OTHER_POWER
    where OTHER_POWER_FLOW = #{otherPowerFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ErpCrmContractOtherPowerExample">
    delete from PDSCI.ERP_CRM_CONTRACT_OTHER_POWER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ErpCrmContractOtherPower">
    insert into PDSCI.ERP_CRM_CONTRACT_OTHER_POWER (OTHER_POWER_FLOW, CONTRACT_FLOW, POWER_IDS, 
      POWER_NAMES, PEOPLE_NUM, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW)
    values (#{otherPowerFlow,jdbcType=VARCHAR}, #{contractFlow,jdbcType=VARCHAR}, #{powerIds,jdbcType=VARCHAR}, 
      #{powerNames,jdbcType=VARCHAR}, #{peopleNum,jdbcType=DECIMAL}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ErpCrmContractOtherPower">
    insert into PDSCI.ERP_CRM_CONTRACT_OTHER_POWER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="otherPowerFlow != null">
        OTHER_POWER_FLOW,
      </if>
      <if test="contractFlow != null">
        CONTRACT_FLOW,
      </if>
      <if test="powerIds != null">
        POWER_IDS,
      </if>
      <if test="powerNames != null">
        POWER_NAMES,
      </if>
      <if test="peopleNum != null">
        PEOPLE_NUM,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="otherPowerFlow != null">
        #{otherPowerFlow,jdbcType=VARCHAR},
      </if>
      <if test="contractFlow != null">
        #{contractFlow,jdbcType=VARCHAR},
      </if>
      <if test="powerIds != null">
        #{powerIds,jdbcType=VARCHAR},
      </if>
      <if test="powerNames != null">
        #{powerNames,jdbcType=VARCHAR},
      </if>
      <if test="peopleNum != null">
        #{peopleNum,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ErpCrmContractOtherPowerExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.ERP_CRM_CONTRACT_OTHER_POWER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.ERP_CRM_CONTRACT_OTHER_POWER
    <set>
      <if test="record.otherPowerFlow != null">
        OTHER_POWER_FLOW = #{record.otherPowerFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.contractFlow != null">
        CONTRACT_FLOW = #{record.contractFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.powerIds != null">
        POWER_IDS = #{record.powerIds,jdbcType=VARCHAR},
      </if>
      <if test="record.powerNames != null">
        POWER_NAMES = #{record.powerNames,jdbcType=VARCHAR},
      </if>
      <if test="record.peopleNum != null">
        PEOPLE_NUM = #{record.peopleNum,jdbcType=DECIMAL},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.ERP_CRM_CONTRACT_OTHER_POWER
    set OTHER_POWER_FLOW = #{record.otherPowerFlow,jdbcType=VARCHAR},
      CONTRACT_FLOW = #{record.contractFlow,jdbcType=VARCHAR},
      POWER_IDS = #{record.powerIds,jdbcType=VARCHAR},
      POWER_NAMES = #{record.powerNames,jdbcType=VARCHAR},
      PEOPLE_NUM = #{record.peopleNum,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ErpCrmContractOtherPower">
    update PDSCI.ERP_CRM_CONTRACT_OTHER_POWER
    <set>
      <if test="contractFlow != null">
        CONTRACT_FLOW = #{contractFlow,jdbcType=VARCHAR},
      </if>
      <if test="powerIds != null">
        POWER_IDS = #{powerIds,jdbcType=VARCHAR},
      </if>
      <if test="powerNames != null">
        POWER_NAMES = #{powerNames,jdbcType=VARCHAR},
      </if>
      <if test="peopleNum != null">
        PEOPLE_NUM = #{peopleNum,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where OTHER_POWER_FLOW = #{otherPowerFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ErpCrmContractOtherPower">
    update PDSCI.ERP_CRM_CONTRACT_OTHER_POWER
    set CONTRACT_FLOW = #{contractFlow,jdbcType=VARCHAR},
      POWER_IDS = #{powerIds,jdbcType=VARCHAR},
      POWER_NAMES = #{powerNames,jdbcType=VARCHAR},
      PEOPLE_NUM = #{peopleNum,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where OTHER_POWER_FLOW = #{otherPowerFlow,jdbcType=VARCHAR}
  </update>
</mapper>