<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ErpCrmCustomerVisitMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ErpCrmCustomerVisit" >
    <id column="VISIT_FLOW" property="visitFlow" jdbcType="VARCHAR" />
    <result column="VISIT_TYPE" property="visitType" jdbcType="CHAR" />
    <result column="VISIT_REF_FLOW" property="visitRefFlow" jdbcType="VARCHAR" />
    <result column="VISIT_TIME" property="visitTime" jdbcType="VARCHAR" />
    <result column="VISIT_SUBJECT" property="visitSubject" jdbcType="VARCHAR" />
    <result column="VISIT_CONTENT" property="visitContent" jdbcType="VARCHAR" />
    <result column="CUST_USER_FLOW" property="custUserFlow" jdbcType="VARCHAR" />
    <result column="CUST_USER_NAME" property="custUserName" jdbcType="VARCHAR" />
    <result column="CUST_USER_PHONE" property="custUserPhone" jdbcType="VARCHAR" />
    <result column="VISIT_USER_FLOW" property="visitUserFlow" jdbcType="VARCHAR" />
    <result column="VISIT_USER_NAME" property="visitUserName" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    VISIT_FLOW, VISIT_TYPE, VISIT_REF_FLOW, VISIT_TIME, VISIT_SUBJECT, VISIT_CONTENT, 
    CUST_USER_FLOW, CUST_USER_NAME, CUST_USER_PHONE, VISIT_USER_FLOW, VISIT_USER_NAME, 
    REMARK, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ErpCrmCustomerVisitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.ERP_CRM_CUSTOMER_VISIT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.ERP_CRM_CUSTOMER_VISIT
    where VISIT_FLOW = #{visitFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.ERP_CRM_CUSTOMER_VISIT
    where VISIT_FLOW = #{visitFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ErpCrmCustomerVisitExample" >
    delete from PDSCI.ERP_CRM_CUSTOMER_VISIT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ErpCrmCustomerVisit" >
    insert into PDSCI.ERP_CRM_CUSTOMER_VISIT (VISIT_FLOW, VISIT_TYPE, VISIT_REF_FLOW, 
      VISIT_TIME, VISIT_SUBJECT, VISIT_CONTENT, 
      CUST_USER_FLOW, CUST_USER_NAME, CUST_USER_PHONE, 
      VISIT_USER_FLOW, VISIT_USER_NAME, REMARK, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{visitFlow,jdbcType=VARCHAR}, #{visitType,jdbcType=CHAR}, #{visitRefFlow,jdbcType=VARCHAR}, 
      #{visitTime,jdbcType=VARCHAR}, #{visitSubject,jdbcType=VARCHAR}, #{visitContent,jdbcType=VARCHAR}, 
      #{custUserFlow,jdbcType=VARCHAR}, #{custUserName,jdbcType=VARCHAR}, #{custUserPhone,jdbcType=VARCHAR}, 
      #{visitUserFlow,jdbcType=VARCHAR}, #{visitUserName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ErpCrmCustomerVisit" >
    insert into PDSCI.ERP_CRM_CUSTOMER_VISIT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="visitFlow != null" >
        VISIT_FLOW,
      </if>
      <if test="visitType != null" >
        VISIT_TYPE,
      </if>
      <if test="visitRefFlow != null" >
        VISIT_REF_FLOW,
      </if>
      <if test="visitTime != null" >
        VISIT_TIME,
      </if>
      <if test="visitSubject != null" >
        VISIT_SUBJECT,
      </if>
      <if test="visitContent != null" >
        VISIT_CONTENT,
      </if>
      <if test="custUserFlow != null" >
        CUST_USER_FLOW,
      </if>
      <if test="custUserName != null" >
        CUST_USER_NAME,
      </if>
      <if test="custUserPhone != null" >
        CUST_USER_PHONE,
      </if>
      <if test="visitUserFlow != null" >
        VISIT_USER_FLOW,
      </if>
      <if test="visitUserName != null" >
        VISIT_USER_NAME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="visitFlow != null" >
        #{visitFlow,jdbcType=VARCHAR},
      </if>
      <if test="visitType != null" >
        #{visitType,jdbcType=CHAR},
      </if>
      <if test="visitRefFlow != null" >
        #{visitRefFlow,jdbcType=VARCHAR},
      </if>
      <if test="visitTime != null" >
        #{visitTime,jdbcType=VARCHAR},
      </if>
      <if test="visitSubject != null" >
        #{visitSubject,jdbcType=VARCHAR},
      </if>
      <if test="visitContent != null" >
        #{visitContent,jdbcType=VARCHAR},
      </if>
      <if test="custUserFlow != null" >
        #{custUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="custUserName != null" >
        #{custUserName,jdbcType=VARCHAR},
      </if>
      <if test="custUserPhone != null" >
        #{custUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="visitUserFlow != null" >
        #{visitUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="visitUserName != null" >
        #{visitUserName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ErpCrmCustomerVisitExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.ERP_CRM_CUSTOMER_VISIT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.ERP_CRM_CUSTOMER_VISIT
    <set >
      <if test="record.visitFlow != null" >
        VISIT_FLOW = #{record.visitFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.visitType != null" >
        VISIT_TYPE = #{record.visitType,jdbcType=CHAR},
      </if>
      <if test="record.visitRefFlow != null" >
        VISIT_REF_FLOW = #{record.visitRefFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.visitTime != null" >
        VISIT_TIME = #{record.visitTime,jdbcType=VARCHAR},
      </if>
      <if test="record.visitSubject != null" >
        VISIT_SUBJECT = #{record.visitSubject,jdbcType=VARCHAR},
      </if>
      <if test="record.visitContent != null" >
        VISIT_CONTENT = #{record.visitContent,jdbcType=VARCHAR},
      </if>
      <if test="record.custUserFlow != null" >
        CUST_USER_FLOW = #{record.custUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.custUserName != null" >
        CUST_USER_NAME = #{record.custUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.custUserPhone != null" >
        CUST_USER_PHONE = #{record.custUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.visitUserFlow != null" >
        VISIT_USER_FLOW = #{record.visitUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.visitUserName != null" >
        VISIT_USER_NAME = #{record.visitUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.ERP_CRM_CUSTOMER_VISIT
    set VISIT_FLOW = #{record.visitFlow,jdbcType=VARCHAR},
      VISIT_TYPE = #{record.visitType,jdbcType=CHAR},
      VISIT_REF_FLOW = #{record.visitRefFlow,jdbcType=VARCHAR},
      VISIT_TIME = #{record.visitTime,jdbcType=VARCHAR},
      VISIT_SUBJECT = #{record.visitSubject,jdbcType=VARCHAR},
      VISIT_CONTENT = #{record.visitContent,jdbcType=VARCHAR},
      CUST_USER_FLOW = #{record.custUserFlow,jdbcType=VARCHAR},
      CUST_USER_NAME = #{record.custUserName,jdbcType=VARCHAR},
      CUST_USER_PHONE = #{record.custUserPhone,jdbcType=VARCHAR},
      VISIT_USER_FLOW = #{record.visitUserFlow,jdbcType=VARCHAR},
      VISIT_USER_NAME = #{record.visitUserName,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ErpCrmCustomerVisit" >
    update PDSCI.ERP_CRM_CUSTOMER_VISIT
    <set >
      <if test="visitType != null" >
        VISIT_TYPE = #{visitType,jdbcType=CHAR},
      </if>
      <if test="visitRefFlow != null" >
        VISIT_REF_FLOW = #{visitRefFlow,jdbcType=VARCHAR},
      </if>
      <if test="visitTime != null" >
        VISIT_TIME = #{visitTime,jdbcType=VARCHAR},
      </if>
      <if test="visitSubject != null" >
        VISIT_SUBJECT = #{visitSubject,jdbcType=VARCHAR},
      </if>
      <if test="visitContent != null" >
        VISIT_CONTENT = #{visitContent,jdbcType=VARCHAR},
      </if>
      <if test="custUserFlow != null" >
        CUST_USER_FLOW = #{custUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="custUserName != null" >
        CUST_USER_NAME = #{custUserName,jdbcType=VARCHAR},
      </if>
      <if test="custUserPhone != null" >
        CUST_USER_PHONE = #{custUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="visitUserFlow != null" >
        VISIT_USER_FLOW = #{visitUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="visitUserName != null" >
        VISIT_USER_NAME = #{visitUserName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where VISIT_FLOW = #{visitFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ErpCrmCustomerVisit" >
    update PDSCI.ERP_CRM_CUSTOMER_VISIT
    set VISIT_TYPE = #{visitType,jdbcType=CHAR},
      VISIT_REF_FLOW = #{visitRefFlow,jdbcType=VARCHAR},
      VISIT_TIME = #{visitTime,jdbcType=VARCHAR},
      VISIT_SUBJECT = #{visitSubject,jdbcType=VARCHAR},
      VISIT_CONTENT = #{visitContent,jdbcType=VARCHAR},
      CUST_USER_FLOW = #{custUserFlow,jdbcType=VARCHAR},
      CUST_USER_NAME = #{custUserName,jdbcType=VARCHAR},
      CUST_USER_PHONE = #{custUserPhone,jdbcType=VARCHAR},
      VISIT_USER_FLOW = #{visitUserFlow,jdbcType=VARCHAR},
      VISIT_USER_NAME = #{visitUserName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where VISIT_FLOW = #{visitFlow,jdbcType=VARCHAR}
  </update>
</mapper>