<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ErpCrmContractUserRefMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ErpCrmContractUserRef" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="USER_RECORD_FLOW" property="userRecordFlow" jdbcType="VARCHAR" />
    <result column="USER_FLOW" property="userFlow" jdbcType="VARCHAR" />
    <result column="CONTRACT_FLOW" property="contractFlow" jdbcType="VARCHAR" />
    <result column="PRODUCT_FLOW" property="productFlow" jdbcType="VARCHAR" />
    <result column="PRODUCT_TYPE_ID" property="productTypeId" jdbcType="VARCHAR" />
    <result column="PRODUCT_TYPE_NAME" property="productTypeName" jdbcType="VARCHAR" />
    <result column="USER_CATEGORY_ID" property="userCategoryId" jdbcType="VARCHAR" />
    <result column="USER_CATEGORY_NAME" property="userCategoryName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, USER_RECORD_FLOW, USER_FLOW, CONTRACT_FLOW, PRODUCT_FLOW, PRODUCT_TYPE_ID, 
    PRODUCT_TYPE_NAME, USER_CATEGORY_ID, USER_CATEGORY_NAME, RECORD_STATUS, CREATE_TIME, 
    CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ErpCrmContractUserRefExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.ERP_CRM_CONTRACT_USER_REF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.ERP_CRM_CONTRACT_USER_REF
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.ERP_CRM_CONTRACT_USER_REF
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ErpCrmContractUserRefExample" >
    delete from PDSCI.ERP_CRM_CONTRACT_USER_REF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ErpCrmContractUserRef" >
    insert into PDSCI.ERP_CRM_CONTRACT_USER_REF (RECORD_FLOW, USER_RECORD_FLOW, USER_FLOW, 
      CONTRACT_FLOW, PRODUCT_FLOW, PRODUCT_TYPE_ID, 
      PRODUCT_TYPE_NAME, USER_CATEGORY_ID, USER_CATEGORY_NAME, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{recordFlow,jdbcType=VARCHAR}, #{userRecordFlow,jdbcType=VARCHAR}, #{userFlow,jdbcType=VARCHAR}, 
      #{contractFlow,jdbcType=VARCHAR}, #{productFlow,jdbcType=VARCHAR}, #{productTypeId,jdbcType=VARCHAR}, 
      #{productTypeName,jdbcType=VARCHAR}, #{userCategoryId,jdbcType=VARCHAR}, #{userCategoryName,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ErpCrmContractUserRef" >
    insert into PDSCI.ERP_CRM_CONTRACT_USER_REF
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="userRecordFlow != null" >
        USER_RECORD_FLOW,
      </if>
      <if test="userFlow != null" >
        USER_FLOW,
      </if>
      <if test="contractFlow != null" >
        CONTRACT_FLOW,
      </if>
      <if test="productFlow != null" >
        PRODUCT_FLOW,
      </if>
      <if test="productTypeId != null" >
        PRODUCT_TYPE_ID,
      </if>
      <if test="productTypeName != null" >
        PRODUCT_TYPE_NAME,
      </if>
      <if test="userCategoryId != null" >
        USER_CATEGORY_ID,
      </if>
      <if test="userCategoryName != null" >
        USER_CATEGORY_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="userRecordFlow != null" >
        #{userRecordFlow,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null" >
        #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="contractFlow != null" >
        #{contractFlow,jdbcType=VARCHAR},
      </if>
      <if test="productFlow != null" >
        #{productFlow,jdbcType=VARCHAR},
      </if>
      <if test="productTypeId != null" >
        #{productTypeId,jdbcType=VARCHAR},
      </if>
      <if test="productTypeName != null" >
        #{productTypeName,jdbcType=VARCHAR},
      </if>
      <if test="userCategoryId != null" >
        #{userCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="userCategoryName != null" >
        #{userCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ErpCrmContractUserRefExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.ERP_CRM_CONTRACT_USER_REF
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.ERP_CRM_CONTRACT_USER_REF
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userRecordFlow != null" >
        USER_RECORD_FLOW = #{record.userRecordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userFlow != null" >
        USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.contractFlow != null" >
        CONTRACT_FLOW = #{record.contractFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.productFlow != null" >
        PRODUCT_FLOW = #{record.productFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.productTypeId != null" >
        PRODUCT_TYPE_ID = #{record.productTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.productTypeName != null" >
        PRODUCT_TYPE_NAME = #{record.productTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.userCategoryId != null" >
        USER_CATEGORY_ID = #{record.userCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.userCategoryName != null" >
        USER_CATEGORY_NAME = #{record.userCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.ERP_CRM_CONTRACT_USER_REF
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      USER_RECORD_FLOW = #{record.userRecordFlow,jdbcType=VARCHAR},
      USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      CONTRACT_FLOW = #{record.contractFlow,jdbcType=VARCHAR},
      PRODUCT_FLOW = #{record.productFlow,jdbcType=VARCHAR},
      PRODUCT_TYPE_ID = #{record.productTypeId,jdbcType=VARCHAR},
      PRODUCT_TYPE_NAME = #{record.productTypeName,jdbcType=VARCHAR},
      USER_CATEGORY_ID = #{record.userCategoryId,jdbcType=VARCHAR},
      USER_CATEGORY_NAME = #{record.userCategoryName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ErpCrmContractUserRef" >
    update PDSCI.ERP_CRM_CONTRACT_USER_REF
    <set >
      <if test="userRecordFlow != null" >
        USER_RECORD_FLOW = #{userRecordFlow,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null" >
        USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="contractFlow != null" >
        CONTRACT_FLOW = #{contractFlow,jdbcType=VARCHAR},
      </if>
      <if test="productFlow != null" >
        PRODUCT_FLOW = #{productFlow,jdbcType=VARCHAR},
      </if>
      <if test="productTypeId != null" >
        PRODUCT_TYPE_ID = #{productTypeId,jdbcType=VARCHAR},
      </if>
      <if test="productTypeName != null" >
        PRODUCT_TYPE_NAME = #{productTypeName,jdbcType=VARCHAR},
      </if>
      <if test="userCategoryId != null" >
        USER_CATEGORY_ID = #{userCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="userCategoryName != null" >
        USER_CATEGORY_NAME = #{userCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ErpCrmContractUserRef" >
    update PDSCI.ERP_CRM_CONTRACT_USER_REF
    set USER_RECORD_FLOW = #{userRecordFlow,jdbcType=VARCHAR},
      USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      CONTRACT_FLOW = #{contractFlow,jdbcType=VARCHAR},
      PRODUCT_FLOW = #{productFlow,jdbcType=VARCHAR},
      PRODUCT_TYPE_ID = #{productTypeId,jdbcType=VARCHAR},
      PRODUCT_TYPE_NAME = #{productTypeName,jdbcType=VARCHAR},
      USER_CATEGORY_ID = #{userCategoryId,jdbcType=VARCHAR},
      USER_CATEGORY_NAME = #{userCategoryName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>