<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ErpOaContactOrderMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ErpOaContactOrder" >
    <id column="CONTACT_FLOW" property="contactFlow" jdbcType="VARCHAR" />
    <result column="CONTACT_NO" property="contactNo" jdbcType="VARCHAR" />
    <result column="CUSTOMER_FLOW" property="customerFlow" jdbcType="VARCHAR" />
    <result column="CUSTOMER_NAME" property="customerName" jdbcType="VARCHAR" />
    <result column="CONTRACT_FLOW" property="contractFlow" jdbcType="VARCHAR" />
    <result column="CONTRACT_NAME" property="contractName" jdbcType="VARCHAR" />
    <result column="DEMAND_MATTER_ID" property="demandMatterId" jdbcType="VARCHAR" />
    <result column="DEMAND_MATTER_NAME" property="demandMatterName" jdbcType="VARCHAR" />
    <result column="SERVICE_TYPE_ID" property="serviceTypeId" jdbcType="VARCHAR" />
    <result column="SERVICE_TYPE_NAME" property="serviceTypeName" jdbcType="VARCHAR" />
    <result column="PRODUCT_TYPE_ID" property="productTypeId" jdbcType="VARCHAR" />
    <result column="PRODUCT_TYPE_NAME" property="productTypeName" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="DEMAND_DATE" property="demandDate" jdbcType="VARCHAR" />
    <result column="DEMAND_STATUS_ID" property="demandStatusId" jdbcType="VARCHAR" />
    <result column="DEMAND_STATUS_NAME" property="demandStatusName" jdbcType="VARCHAR" />
    <result column="APPLY_DATE" property="applyDate" jdbcType="VARCHAR" />
    <result column="APPLY_USER_FLOW" property="applyUserFlow" jdbcType="VARCHAR" />
    <result column="CONTACT_STATUS_ID" property="contactStatusId" jdbcType="VARCHAR" />
    <result column="CONTACT_STATUS_NAME" property="contactStatusName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="APPLY_USER_NAME" property="applyUserName" jdbcType="VARCHAR" />
    <result column="RECEIVE_DEPT_FLOW" property="receiveDeptFlow" jdbcType="VARCHAR" />
    <result column="RECEIVE_DEPT_NAME" property="receiveDeptName" jdbcType="VARCHAR" />
    <result column="COMPLETE_TIME" property="completeTime" jdbcType="VARCHAR" />
    <result column="ALIAS_NAME" property="aliasName" jdbcType="VARCHAR" />
    <result column="APPLY_DEPT_FLOW" property="applyDeptFlow" jdbcType="VARCHAR" />
    <result column="APPLY_DEPT_NAME" property="applyDeptName" jdbcType="VARCHAR" />
    <result column="RECEIVE_USER_FLOW" property="receiveUserFlow" jdbcType="VARCHAR" />
    <result column="RECEIVE_USER_NAME" property="receiveUserName" jdbcType="VARCHAR" />
    <result column="CONSUMER_FLOW" property="consumerFlow" jdbcType="VARCHAR" />
    <result column="CONSUMER_NAME" property="consumerName" jdbcType="VARCHAR" />
    <result column="CONSUMER_ALIAS_NAME" property="consumerAliasName" jdbcType="VARCHAR" />
    <result column="ORDER_PRODUCT_NAME" property="orderProductName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pinde.sci.model.mo.ErpOaContactOrder" extends="BaseResultMap" >
    <result column="CONTACT_CONTENT" property="contactContent" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CONTACT_FLOW, CONTACT_NO, CUSTOMER_FLOW, CUSTOMER_NAME, CONTRACT_FLOW, CONTRACT_NAME, 
    DEMAND_MATTER_ID, DEMAND_MATTER_NAME, SERVICE_TYPE_ID, SERVICE_TYPE_NAME, PRODUCT_TYPE_ID, 
    PRODUCT_TYPE_NAME, REMARK, DEMAND_DATE, DEMAND_STATUS_ID, DEMAND_STATUS_NAME, APPLY_DATE, 
    APPLY_USER_FLOW, CONTACT_STATUS_ID, CONTACT_STATUS_NAME, RECORD_STATUS, CREATE_TIME, 
    CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, APPLY_USER_NAME, RECEIVE_DEPT_FLOW, 
    RECEIVE_DEPT_NAME, COMPLETE_TIME, ALIAS_NAME, APPLY_DEPT_FLOW, APPLY_DEPT_NAME, RECEIVE_USER_FLOW, 
    RECEIVE_USER_NAME, CONSUMER_FLOW, CONSUMER_NAME, CONSUMER_ALIAS_NAME, ORDER_PRODUCT_NAME
  </sql>
  <sql id="Blob_Column_List" >
    CONTACT_CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pinde.sci.model.mo.ErpOaContactOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.ERP_OA_CONTACT_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ErpOaContactOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.ERP_OA_CONTACT_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.ERP_OA_CONTACT_ORDER
    where CONTACT_FLOW = #{contactFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.ERP_OA_CONTACT_ORDER
    where CONTACT_FLOW = #{contactFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ErpOaContactOrderExample" >
    delete from PDSCI.ERP_OA_CONTACT_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ErpOaContactOrder" >
    insert into PDSCI.ERP_OA_CONTACT_ORDER (CONTACT_FLOW, CONTACT_NO, CUSTOMER_FLOW, 
      CUSTOMER_NAME, CONTRACT_FLOW, CONTRACT_NAME, 
      DEMAND_MATTER_ID, DEMAND_MATTER_NAME, SERVICE_TYPE_ID, 
      SERVICE_TYPE_NAME, PRODUCT_TYPE_ID, PRODUCT_TYPE_NAME, 
      REMARK, DEMAND_DATE, DEMAND_STATUS_ID, 
      DEMAND_STATUS_NAME, APPLY_DATE, APPLY_USER_FLOW, 
      CONTACT_STATUS_ID, CONTACT_STATUS_NAME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, APPLY_USER_NAME, RECEIVE_DEPT_FLOW, 
      RECEIVE_DEPT_NAME, COMPLETE_TIME, ALIAS_NAME, 
      APPLY_DEPT_FLOW, APPLY_DEPT_NAME, RECEIVE_USER_FLOW, 
      RECEIVE_USER_NAME, CONSUMER_FLOW, CONSUMER_NAME, 
      CONSUMER_ALIAS_NAME, ORDER_PRODUCT_NAME, CONTACT_CONTENT
      )
    values (#{contactFlow,jdbcType=VARCHAR}, #{contactNo,jdbcType=VARCHAR}, #{customerFlow,jdbcType=VARCHAR}, 
      #{customerName,jdbcType=VARCHAR}, #{contractFlow,jdbcType=VARCHAR}, #{contractName,jdbcType=VARCHAR}, 
      #{demandMatterId,jdbcType=VARCHAR}, #{demandMatterName,jdbcType=VARCHAR}, #{serviceTypeId,jdbcType=VARCHAR}, 
      #{serviceTypeName,jdbcType=VARCHAR}, #{productTypeId,jdbcType=VARCHAR}, #{productTypeName,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{demandDate,jdbcType=VARCHAR}, #{demandStatusId,jdbcType=VARCHAR}, 
      #{demandStatusName,jdbcType=VARCHAR}, #{applyDate,jdbcType=VARCHAR}, #{applyUserFlow,jdbcType=VARCHAR}, 
      #{contactStatusId,jdbcType=VARCHAR}, #{contactStatusName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{applyUserName,jdbcType=VARCHAR}, #{receiveDeptFlow,jdbcType=VARCHAR}, 
      #{receiveDeptName,jdbcType=VARCHAR}, #{completeTime,jdbcType=VARCHAR}, #{aliasName,jdbcType=VARCHAR}, 
      #{applyDeptFlow,jdbcType=VARCHAR}, #{applyDeptName,jdbcType=VARCHAR}, #{receiveUserFlow,jdbcType=VARCHAR}, 
      #{receiveUserName,jdbcType=VARCHAR}, #{consumerFlow,jdbcType=VARCHAR}, #{consumerName,jdbcType=VARCHAR}, 
      #{consumerAliasName,jdbcType=VARCHAR}, #{orderProductName,jdbcType=VARCHAR}, #{contactContent,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ErpOaContactOrder" >
    insert into PDSCI.ERP_OA_CONTACT_ORDER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contactFlow != null" >
        CONTACT_FLOW,
      </if>
      <if test="contactNo != null" >
        CONTACT_NO,
      </if>
      <if test="customerFlow != null" >
        CUSTOMER_FLOW,
      </if>
      <if test="customerName != null" >
        CUSTOMER_NAME,
      </if>
      <if test="contractFlow != null" >
        CONTRACT_FLOW,
      </if>
      <if test="contractName != null" >
        CONTRACT_NAME,
      </if>
      <if test="demandMatterId != null" >
        DEMAND_MATTER_ID,
      </if>
      <if test="demandMatterName != null" >
        DEMAND_MATTER_NAME,
      </if>
      <if test="serviceTypeId != null" >
        SERVICE_TYPE_ID,
      </if>
      <if test="serviceTypeName != null" >
        SERVICE_TYPE_NAME,
      </if>
      <if test="productTypeId != null" >
        PRODUCT_TYPE_ID,
      </if>
      <if test="productTypeName != null" >
        PRODUCT_TYPE_NAME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="demandDate != null" >
        DEMAND_DATE,
      </if>
      <if test="demandStatusId != null" >
        DEMAND_STATUS_ID,
      </if>
      <if test="demandStatusName != null" >
        DEMAND_STATUS_NAME,
      </if>
      <if test="applyDate != null" >
        APPLY_DATE,
      </if>
      <if test="applyUserFlow != null" >
        APPLY_USER_FLOW,
      </if>
      <if test="contactStatusId != null" >
        CONTACT_STATUS_ID,
      </if>
      <if test="contactStatusName != null" >
        CONTACT_STATUS_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="applyUserName != null" >
        APPLY_USER_NAME,
      </if>
      <if test="receiveDeptFlow != null" >
        RECEIVE_DEPT_FLOW,
      </if>
      <if test="receiveDeptName != null" >
        RECEIVE_DEPT_NAME,
      </if>
      <if test="completeTime != null" >
        COMPLETE_TIME,
      </if>
      <if test="aliasName != null" >
        ALIAS_NAME,
      </if>
      <if test="applyDeptFlow != null" >
        APPLY_DEPT_FLOW,
      </if>
      <if test="applyDeptName != null" >
        APPLY_DEPT_NAME,
      </if>
      <if test="receiveUserFlow != null" >
        RECEIVE_USER_FLOW,
      </if>
      <if test="receiveUserName != null" >
        RECEIVE_USER_NAME,
      </if>
      <if test="consumerFlow != null" >
        CONSUMER_FLOW,
      </if>
      <if test="consumerName != null" >
        CONSUMER_NAME,
      </if>
      <if test="consumerAliasName != null" >
        CONSUMER_ALIAS_NAME,
      </if>
      <if test="orderProductName != null" >
        ORDER_PRODUCT_NAME,
      </if>
      <if test="contactContent != null" >
        CONTACT_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contactFlow != null" >
        #{contactFlow,jdbcType=VARCHAR},
      </if>
      <if test="contactNo != null" >
        #{contactNo,jdbcType=VARCHAR},
      </if>
      <if test="customerFlow != null" >
        #{customerFlow,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="contractFlow != null" >
        #{contractFlow,jdbcType=VARCHAR},
      </if>
      <if test="contractName != null" >
        #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="demandMatterId != null" >
        #{demandMatterId,jdbcType=VARCHAR},
      </if>
      <if test="demandMatterName != null" >
        #{demandMatterName,jdbcType=VARCHAR},
      </if>
      <if test="serviceTypeId != null" >
        #{serviceTypeId,jdbcType=VARCHAR},
      </if>
      <if test="serviceTypeName != null" >
        #{serviceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="productTypeId != null" >
        #{productTypeId,jdbcType=VARCHAR},
      </if>
      <if test="productTypeName != null" >
        #{productTypeName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="demandDate != null" >
        #{demandDate,jdbcType=VARCHAR},
      </if>
      <if test="demandStatusId != null" >
        #{demandStatusId,jdbcType=VARCHAR},
      </if>
      <if test="demandStatusName != null" >
        #{demandStatusName,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null" >
        #{applyDate,jdbcType=VARCHAR},
      </if>
      <if test="applyUserFlow != null" >
        #{applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="contactStatusId != null" >
        #{contactStatusId,jdbcType=VARCHAR},
      </if>
      <if test="contactStatusName != null" >
        #{contactStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyUserName != null" >
        #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="receiveDeptFlow != null" >
        #{receiveDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="receiveDeptName != null" >
        #{receiveDeptName,jdbcType=VARCHAR},
      </if>
      <if test="completeTime != null" >
        #{completeTime,jdbcType=VARCHAR},
      </if>
      <if test="aliasName != null" >
        #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="applyDeptFlow != null" >
        #{applyDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyDeptName != null" >
        #{applyDeptName,jdbcType=VARCHAR},
      </if>
      <if test="receiveUserFlow != null" >
        #{receiveUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="receiveUserName != null" >
        #{receiveUserName,jdbcType=VARCHAR},
      </if>
      <if test="consumerFlow != null" >
        #{consumerFlow,jdbcType=VARCHAR},
      </if>
      <if test="consumerName != null" >
        #{consumerName,jdbcType=VARCHAR},
      </if>
      <if test="consumerAliasName != null" >
        #{consumerAliasName,jdbcType=VARCHAR},
      </if>
      <if test="orderProductName != null" >
        #{orderProductName,jdbcType=VARCHAR},
      </if>
      <if test="contactContent != null" >
        #{contactContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ErpOaContactOrderExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.ERP_OA_CONTACT_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.ERP_OA_CONTACT_ORDER
    <set >
      <if test="record.contactFlow != null" >
        CONTACT_FLOW = #{record.contactFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.contactNo != null" >
        CONTACT_NO = #{record.contactNo,jdbcType=VARCHAR},
      </if>
      <if test="record.customerFlow != null" >
        CUSTOMER_FLOW = #{record.customerFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.customerName != null" >
        CUSTOMER_NAME = #{record.customerName,jdbcType=VARCHAR},
      </if>
      <if test="record.contractFlow != null" >
        CONTRACT_FLOW = #{record.contractFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.contractName != null" >
        CONTRACT_NAME = #{record.contractName,jdbcType=VARCHAR},
      </if>
      <if test="record.demandMatterId != null" >
        DEMAND_MATTER_ID = #{record.demandMatterId,jdbcType=VARCHAR},
      </if>
      <if test="record.demandMatterName != null" >
        DEMAND_MATTER_NAME = #{record.demandMatterName,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceTypeId != null" >
        SERVICE_TYPE_ID = #{record.serviceTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceTypeName != null" >
        SERVICE_TYPE_NAME = #{record.serviceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.productTypeId != null" >
        PRODUCT_TYPE_ID = #{record.productTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.productTypeName != null" >
        PRODUCT_TYPE_NAME = #{record.productTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.demandDate != null" >
        DEMAND_DATE = #{record.demandDate,jdbcType=VARCHAR},
      </if>
      <if test="record.demandStatusId != null" >
        DEMAND_STATUS_ID = #{record.demandStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.demandStatusName != null" >
        DEMAND_STATUS_NAME = #{record.demandStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyDate != null" >
        APPLY_DATE = #{record.applyDate,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserFlow != null" >
        APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.contactStatusId != null" >
        CONTACT_STATUS_ID = #{record.contactStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.contactStatusName != null" >
        CONTACT_STATUS_NAME = #{record.contactStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserName != null" >
        APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveDeptFlow != null" >
        RECEIVE_DEPT_FLOW = #{record.receiveDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveDeptName != null" >
        RECEIVE_DEPT_NAME = #{record.receiveDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.completeTime != null" >
        COMPLETE_TIME = #{record.completeTime,jdbcType=VARCHAR},
      </if>
      <if test="record.aliasName != null" >
        ALIAS_NAME = #{record.aliasName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyDeptFlow != null" >
        APPLY_DEPT_FLOW = #{record.applyDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.applyDeptName != null" >
        APPLY_DEPT_NAME = #{record.applyDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveUserFlow != null" >
        RECEIVE_USER_FLOW = #{record.receiveUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveUserName != null" >
        RECEIVE_USER_NAME = #{record.receiveUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.consumerFlow != null" >
        CONSUMER_FLOW = #{record.consumerFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.consumerName != null" >
        CONSUMER_NAME = #{record.consumerName,jdbcType=VARCHAR},
      </if>
      <if test="record.consumerAliasName != null" >
        CONSUMER_ALIAS_NAME = #{record.consumerAliasName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderProductName != null" >
        ORDER_PRODUCT_NAME = #{record.orderProductName,jdbcType=VARCHAR},
      </if>
      <if test="record.contactContent != null" >
        CONTACT_CONTENT = #{record.contactContent,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update PDSCI.ERP_OA_CONTACT_ORDER
    set CONTACT_FLOW = #{record.contactFlow,jdbcType=VARCHAR},
      CONTACT_NO = #{record.contactNo,jdbcType=VARCHAR},
      CUSTOMER_FLOW = #{record.customerFlow,jdbcType=VARCHAR},
      CUSTOMER_NAME = #{record.customerName,jdbcType=VARCHAR},
      CONTRACT_FLOW = #{record.contractFlow,jdbcType=VARCHAR},
      CONTRACT_NAME = #{record.contractName,jdbcType=VARCHAR},
      DEMAND_MATTER_ID = #{record.demandMatterId,jdbcType=VARCHAR},
      DEMAND_MATTER_NAME = #{record.demandMatterName,jdbcType=VARCHAR},
      SERVICE_TYPE_ID = #{record.serviceTypeId,jdbcType=VARCHAR},
      SERVICE_TYPE_NAME = #{record.serviceTypeName,jdbcType=VARCHAR},
      PRODUCT_TYPE_ID = #{record.productTypeId,jdbcType=VARCHAR},
      PRODUCT_TYPE_NAME = #{record.productTypeName,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      DEMAND_DATE = #{record.demandDate,jdbcType=VARCHAR},
      DEMAND_STATUS_ID = #{record.demandStatusId,jdbcType=VARCHAR},
      DEMAND_STATUS_NAME = #{record.demandStatusName,jdbcType=VARCHAR},
      APPLY_DATE = #{record.applyDate,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      CONTACT_STATUS_ID = #{record.contactStatusId,jdbcType=VARCHAR},
      CONTACT_STATUS_NAME = #{record.contactStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      RECEIVE_DEPT_FLOW = #{record.receiveDeptFlow,jdbcType=VARCHAR},
      RECEIVE_DEPT_NAME = #{record.receiveDeptName,jdbcType=VARCHAR},
      COMPLETE_TIME = #{record.completeTime,jdbcType=VARCHAR},
      ALIAS_NAME = #{record.aliasName,jdbcType=VARCHAR},
      APPLY_DEPT_FLOW = #{record.applyDeptFlow,jdbcType=VARCHAR},
      APPLY_DEPT_NAME = #{record.applyDeptName,jdbcType=VARCHAR},
      RECEIVE_USER_FLOW = #{record.receiveUserFlow,jdbcType=VARCHAR},
      RECEIVE_USER_NAME = #{record.receiveUserName,jdbcType=VARCHAR},
      CONSUMER_FLOW = #{record.consumerFlow,jdbcType=VARCHAR},
      CONSUMER_NAME = #{record.consumerName,jdbcType=VARCHAR},
      CONSUMER_ALIAS_NAME = #{record.consumerAliasName,jdbcType=VARCHAR},
      ORDER_PRODUCT_NAME = #{record.orderProductName,jdbcType=VARCHAR},
      CONTACT_CONTENT = #{record.contactContent,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.ERP_OA_CONTACT_ORDER
    set CONTACT_FLOW = #{record.contactFlow,jdbcType=VARCHAR},
      CONTACT_NO = #{record.contactNo,jdbcType=VARCHAR},
      CUSTOMER_FLOW = #{record.customerFlow,jdbcType=VARCHAR},
      CUSTOMER_NAME = #{record.customerName,jdbcType=VARCHAR},
      CONTRACT_FLOW = #{record.contractFlow,jdbcType=VARCHAR},
      CONTRACT_NAME = #{record.contractName,jdbcType=VARCHAR},
      DEMAND_MATTER_ID = #{record.demandMatterId,jdbcType=VARCHAR},
      DEMAND_MATTER_NAME = #{record.demandMatterName,jdbcType=VARCHAR},
      SERVICE_TYPE_ID = #{record.serviceTypeId,jdbcType=VARCHAR},
      SERVICE_TYPE_NAME = #{record.serviceTypeName,jdbcType=VARCHAR},
      PRODUCT_TYPE_ID = #{record.productTypeId,jdbcType=VARCHAR},
      PRODUCT_TYPE_NAME = #{record.productTypeName,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      DEMAND_DATE = #{record.demandDate,jdbcType=VARCHAR},
      DEMAND_STATUS_ID = #{record.demandStatusId,jdbcType=VARCHAR},
      DEMAND_STATUS_NAME = #{record.demandStatusName,jdbcType=VARCHAR},
      APPLY_DATE = #{record.applyDate,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      CONTACT_STATUS_ID = #{record.contactStatusId,jdbcType=VARCHAR},
      CONTACT_STATUS_NAME = #{record.contactStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      RECEIVE_DEPT_FLOW = #{record.receiveDeptFlow,jdbcType=VARCHAR},
      RECEIVE_DEPT_NAME = #{record.receiveDeptName,jdbcType=VARCHAR},
      COMPLETE_TIME = #{record.completeTime,jdbcType=VARCHAR},
      ALIAS_NAME = #{record.aliasName,jdbcType=VARCHAR},
      APPLY_DEPT_FLOW = #{record.applyDeptFlow,jdbcType=VARCHAR},
      APPLY_DEPT_NAME = #{record.applyDeptName,jdbcType=VARCHAR},
      RECEIVE_USER_FLOW = #{record.receiveUserFlow,jdbcType=VARCHAR},
      RECEIVE_USER_NAME = #{record.receiveUserName,jdbcType=VARCHAR},
      CONSUMER_FLOW = #{record.consumerFlow,jdbcType=VARCHAR},
      CONSUMER_NAME = #{record.consumerName,jdbcType=VARCHAR},
      CONSUMER_ALIAS_NAME = #{record.consumerAliasName,jdbcType=VARCHAR},
      ORDER_PRODUCT_NAME = #{record.orderProductName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ErpOaContactOrder" >
    update PDSCI.ERP_OA_CONTACT_ORDER
    <set >
      <if test="contactNo != null" >
        CONTACT_NO = #{contactNo,jdbcType=VARCHAR},
      </if>
      <if test="customerFlow != null" >
        CUSTOMER_FLOW = #{customerFlow,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="contractFlow != null" >
        CONTRACT_FLOW = #{contractFlow,jdbcType=VARCHAR},
      </if>
      <if test="contractName != null" >
        CONTRACT_NAME = #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="demandMatterId != null" >
        DEMAND_MATTER_ID = #{demandMatterId,jdbcType=VARCHAR},
      </if>
      <if test="demandMatterName != null" >
        DEMAND_MATTER_NAME = #{demandMatterName,jdbcType=VARCHAR},
      </if>
      <if test="serviceTypeId != null" >
        SERVICE_TYPE_ID = #{serviceTypeId,jdbcType=VARCHAR},
      </if>
      <if test="serviceTypeName != null" >
        SERVICE_TYPE_NAME = #{serviceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="productTypeId != null" >
        PRODUCT_TYPE_ID = #{productTypeId,jdbcType=VARCHAR},
      </if>
      <if test="productTypeName != null" >
        PRODUCT_TYPE_NAME = #{productTypeName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="demandDate != null" >
        DEMAND_DATE = #{demandDate,jdbcType=VARCHAR},
      </if>
      <if test="demandStatusId != null" >
        DEMAND_STATUS_ID = #{demandStatusId,jdbcType=VARCHAR},
      </if>
      <if test="demandStatusName != null" >
        DEMAND_STATUS_NAME = #{demandStatusName,jdbcType=VARCHAR},
      </if>
      <if test="applyDate != null" >
        APPLY_DATE = #{applyDate,jdbcType=VARCHAR},
      </if>
      <if test="applyUserFlow != null" >
        APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="contactStatusId != null" >
        CONTACT_STATUS_ID = #{contactStatusId,jdbcType=VARCHAR},
      </if>
      <if test="contactStatusName != null" >
        CONTACT_STATUS_NAME = #{contactStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyUserName != null" >
        APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="receiveDeptFlow != null" >
        RECEIVE_DEPT_FLOW = #{receiveDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="receiveDeptName != null" >
        RECEIVE_DEPT_NAME = #{receiveDeptName,jdbcType=VARCHAR},
      </if>
      <if test="completeTime != null" >
        COMPLETE_TIME = #{completeTime,jdbcType=VARCHAR},
      </if>
      <if test="aliasName != null" >
        ALIAS_NAME = #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="applyDeptFlow != null" >
        APPLY_DEPT_FLOW = #{applyDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyDeptName != null" >
        APPLY_DEPT_NAME = #{applyDeptName,jdbcType=VARCHAR},
      </if>
      <if test="receiveUserFlow != null" >
        RECEIVE_USER_FLOW = #{receiveUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="receiveUserName != null" >
        RECEIVE_USER_NAME = #{receiveUserName,jdbcType=VARCHAR},
      </if>
      <if test="consumerFlow != null" >
        CONSUMER_FLOW = #{consumerFlow,jdbcType=VARCHAR},
      </if>
      <if test="consumerName != null" >
        CONSUMER_NAME = #{consumerName,jdbcType=VARCHAR},
      </if>
      <if test="consumerAliasName != null" >
        CONSUMER_ALIAS_NAME = #{consumerAliasName,jdbcType=VARCHAR},
      </if>
      <if test="orderProductName != null" >
        ORDER_PRODUCT_NAME = #{orderProductName,jdbcType=VARCHAR},
      </if>
      <if test="contactContent != null" >
        CONTACT_CONTENT = #{contactContent,jdbcType=CLOB},
      </if>
    </set>
    where CONTACT_FLOW = #{contactFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.sci.model.mo.ErpOaContactOrder" >
    update PDSCI.ERP_OA_CONTACT_ORDER
    set CONTACT_NO = #{contactNo,jdbcType=VARCHAR},
      CUSTOMER_FLOW = #{customerFlow,jdbcType=VARCHAR},
      CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      CONTRACT_FLOW = #{contractFlow,jdbcType=VARCHAR},
      CONTRACT_NAME = #{contractName,jdbcType=VARCHAR},
      DEMAND_MATTER_ID = #{demandMatterId,jdbcType=VARCHAR},
      DEMAND_MATTER_NAME = #{demandMatterName,jdbcType=VARCHAR},
      SERVICE_TYPE_ID = #{serviceTypeId,jdbcType=VARCHAR},
      SERVICE_TYPE_NAME = #{serviceTypeName,jdbcType=VARCHAR},
      PRODUCT_TYPE_ID = #{productTypeId,jdbcType=VARCHAR},
      PRODUCT_TYPE_NAME = #{productTypeName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      DEMAND_DATE = #{demandDate,jdbcType=VARCHAR},
      DEMAND_STATUS_ID = #{demandStatusId,jdbcType=VARCHAR},
      DEMAND_STATUS_NAME = #{demandStatusName,jdbcType=VARCHAR},
      APPLY_DATE = #{applyDate,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      CONTACT_STATUS_ID = #{contactStatusId,jdbcType=VARCHAR},
      CONTACT_STATUS_NAME = #{contactStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      RECEIVE_DEPT_FLOW = #{receiveDeptFlow,jdbcType=VARCHAR},
      RECEIVE_DEPT_NAME = #{receiveDeptName,jdbcType=VARCHAR},
      COMPLETE_TIME = #{completeTime,jdbcType=VARCHAR},
      ALIAS_NAME = #{aliasName,jdbcType=VARCHAR},
      APPLY_DEPT_FLOW = #{applyDeptFlow,jdbcType=VARCHAR},
      APPLY_DEPT_NAME = #{applyDeptName,jdbcType=VARCHAR},
      RECEIVE_USER_FLOW = #{receiveUserFlow,jdbcType=VARCHAR},
      RECEIVE_USER_NAME = #{receiveUserName,jdbcType=VARCHAR},
      CONSUMER_FLOW = #{consumerFlow,jdbcType=VARCHAR},
      CONSUMER_NAME = #{consumerName,jdbcType=VARCHAR},
      CONSUMER_ALIAS_NAME = #{consumerAliasName,jdbcType=VARCHAR},
      ORDER_PRODUCT_NAME = #{orderProductName,jdbcType=VARCHAR},
      CONTACT_CONTENT = #{contactContent,jdbcType=CLOB}
    where CONTACT_FLOW = #{contactFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ErpOaContactOrder" >
    update PDSCI.ERP_OA_CONTACT_ORDER
    set CONTACT_NO = #{contactNo,jdbcType=VARCHAR},
      CUSTOMER_FLOW = #{customerFlow,jdbcType=VARCHAR},
      CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      CONTRACT_FLOW = #{contractFlow,jdbcType=VARCHAR},
      CONTRACT_NAME = #{contractName,jdbcType=VARCHAR},
      DEMAND_MATTER_ID = #{demandMatterId,jdbcType=VARCHAR},
      DEMAND_MATTER_NAME = #{demandMatterName,jdbcType=VARCHAR},
      SERVICE_TYPE_ID = #{serviceTypeId,jdbcType=VARCHAR},
      SERVICE_TYPE_NAME = #{serviceTypeName,jdbcType=VARCHAR},
      PRODUCT_TYPE_ID = #{productTypeId,jdbcType=VARCHAR},
      PRODUCT_TYPE_NAME = #{productTypeName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      DEMAND_DATE = #{demandDate,jdbcType=VARCHAR},
      DEMAND_STATUS_ID = #{demandStatusId,jdbcType=VARCHAR},
      DEMAND_STATUS_NAME = #{demandStatusName,jdbcType=VARCHAR},
      APPLY_DATE = #{applyDate,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      CONTACT_STATUS_ID = #{contactStatusId,jdbcType=VARCHAR},
      CONTACT_STATUS_NAME = #{contactStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      RECEIVE_DEPT_FLOW = #{receiveDeptFlow,jdbcType=VARCHAR},
      RECEIVE_DEPT_NAME = #{receiveDeptName,jdbcType=VARCHAR},
      COMPLETE_TIME = #{completeTime,jdbcType=VARCHAR},
      ALIAS_NAME = #{aliasName,jdbcType=VARCHAR},
      APPLY_DEPT_FLOW = #{applyDeptFlow,jdbcType=VARCHAR},
      APPLY_DEPT_NAME = #{applyDeptName,jdbcType=VARCHAR},
      RECEIVE_USER_FLOW = #{receiveUserFlow,jdbcType=VARCHAR},
      RECEIVE_USER_NAME = #{receiveUserName,jdbcType=VARCHAR},
      CONSUMER_FLOW = #{consumerFlow,jdbcType=VARCHAR},
      CONSUMER_NAME = #{consumerName,jdbcType=VARCHAR},
      CONSUMER_ALIAS_NAME = #{consumerAliasName,jdbcType=VARCHAR},
      ORDER_PRODUCT_NAME = #{orderProductName,jdbcType=VARCHAR}
    where CONTACT_FLOW = #{contactFlow,jdbcType=VARCHAR}
  </update>
</mapper>