<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ErpOaWorkOrderMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ErpOaWorkOrder" >
    <id column="WORK_FLOW" property="workFlow" jdbcType="VARCHAR" />
    <result column="WORK_NO" property="workNo" jdbcType="VARCHAR" />
    <result column="CONTACT_FLOW" property="contactFlow" jdbcType="VARCHAR" />
    <result column="CUSTOMER_FLOW" property="customerFlow" jdbcType="VARCHAR" />
    <result column="CUSTOMER_NAME" property="customerName" jdbcType="VARCHAR" />
    <result column="ASSIGN_DATE" property="assignDate" jdbcType="VARCHAR" />
    <result column="ASSIGN_DEPT_FLOW" property="assignDeptFlow" jdbcType="VARCHAR" />
    <result column="ASSIGN_USER_FLOW" property="assignUserFlow" jdbcType="VARCHAR" />
    <result column="WORK_STATUS_ID" property="workStatusId" jdbcType="VARCHAR" />
    <result column="WORK_STATUS_NAME" property="workStatusName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="ASSIGN_DEPT_NAME" property="assignDeptName" jdbcType="VARCHAR" />
    <result column="ASSIGN_USER_NAME" property="assignUserName" jdbcType="VARCHAR" />
    <result column="ALIAS_NAME" property="aliasName" jdbcType="VARCHAR" />
    <result column="CONSUMER_FLOW" property="consumerFlow" jdbcType="VARCHAR" />
    <result column="CONSUMER_NAME" property="consumerName" jdbcType="VARCHAR" />
    <result column="CONSUMER_ALIAS_NAME" property="consumerAliasName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pinde.sci.model.mo.ErpOaWorkOrder" extends="BaseResultMap" >
    <result column="WORK_CONTENT" property="workContent" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    WORK_FLOW, WORK_NO, CONTACT_FLOW, CUSTOMER_FLOW, CUSTOMER_NAME, ASSIGN_DATE, ASSIGN_DEPT_FLOW, 
    ASSIGN_USER_FLOW, WORK_STATUS_ID, WORK_STATUS_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW, ASSIGN_DEPT_NAME, ASSIGN_USER_NAME, ALIAS_NAME, CONSUMER_FLOW, 
    CONSUMER_NAME, CONSUMER_ALIAS_NAME
  </sql>
  <sql id="Blob_Column_List" >
    WORK_CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pinde.sci.model.mo.ErpOaWorkOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.ERP_OA_WORK_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ErpOaWorkOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.ERP_OA_WORK_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.ERP_OA_WORK_ORDER
    where WORK_FLOW = #{workFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.ERP_OA_WORK_ORDER
    where WORK_FLOW = #{workFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ErpOaWorkOrderExample" >
    delete from PDSCI.ERP_OA_WORK_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ErpOaWorkOrder" >
    insert into PDSCI.ERP_OA_WORK_ORDER (WORK_FLOW, WORK_NO, CONTACT_FLOW, 
      CUSTOMER_FLOW, CUSTOMER_NAME, ASSIGN_DATE, 
      ASSIGN_DEPT_FLOW, ASSIGN_USER_FLOW, WORK_STATUS_ID, 
      WORK_STATUS_NAME, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      ASSIGN_DEPT_NAME, ASSIGN_USER_NAME, ALIAS_NAME, 
      CONSUMER_FLOW, CONSUMER_NAME, CONSUMER_ALIAS_NAME, 
      WORK_CONTENT)
    values (#{workFlow,jdbcType=VARCHAR}, #{workNo,jdbcType=VARCHAR}, #{contactFlow,jdbcType=VARCHAR}, 
      #{customerFlow,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, #{assignDate,jdbcType=VARCHAR}, 
      #{assignDeptFlow,jdbcType=VARCHAR}, #{assignUserFlow,jdbcType=VARCHAR}, #{workStatusId,jdbcType=VARCHAR}, 
      #{workStatusName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{assignDeptName,jdbcType=VARCHAR}, #{assignUserName,jdbcType=VARCHAR}, #{aliasName,jdbcType=VARCHAR}, 
      #{consumerFlow,jdbcType=VARCHAR}, #{consumerName,jdbcType=VARCHAR}, #{consumerAliasName,jdbcType=VARCHAR}, 
      #{workContent,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ErpOaWorkOrder" >
    insert into PDSCI.ERP_OA_WORK_ORDER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="workFlow != null" >
        WORK_FLOW,
      </if>
      <if test="workNo != null" >
        WORK_NO,
      </if>
      <if test="contactFlow != null" >
        CONTACT_FLOW,
      </if>
      <if test="customerFlow != null" >
        CUSTOMER_FLOW,
      </if>
      <if test="customerName != null" >
        CUSTOMER_NAME,
      </if>
      <if test="assignDate != null" >
        ASSIGN_DATE,
      </if>
      <if test="assignDeptFlow != null" >
        ASSIGN_DEPT_FLOW,
      </if>
      <if test="assignUserFlow != null" >
        ASSIGN_USER_FLOW,
      </if>
      <if test="workStatusId != null" >
        WORK_STATUS_ID,
      </if>
      <if test="workStatusName != null" >
        WORK_STATUS_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="assignDeptName != null" >
        ASSIGN_DEPT_NAME,
      </if>
      <if test="assignUserName != null" >
        ASSIGN_USER_NAME,
      </if>
      <if test="aliasName != null" >
        ALIAS_NAME,
      </if>
      <if test="consumerFlow != null" >
        CONSUMER_FLOW,
      </if>
      <if test="consumerName != null" >
        CONSUMER_NAME,
      </if>
      <if test="consumerAliasName != null" >
        CONSUMER_ALIAS_NAME,
      </if>
      <if test="workContent != null" >
        WORK_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="workFlow != null" >
        #{workFlow,jdbcType=VARCHAR},
      </if>
      <if test="workNo != null" >
        #{workNo,jdbcType=VARCHAR},
      </if>
      <if test="contactFlow != null" >
        #{contactFlow,jdbcType=VARCHAR},
      </if>
      <if test="customerFlow != null" >
        #{customerFlow,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="assignDate != null" >
        #{assignDate,jdbcType=VARCHAR},
      </if>
      <if test="assignDeptFlow != null" >
        #{assignDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="assignUserFlow != null" >
        #{assignUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="workStatusId != null" >
        #{workStatusId,jdbcType=VARCHAR},
      </if>
      <if test="workStatusName != null" >
        #{workStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="assignDeptName != null" >
        #{assignDeptName,jdbcType=VARCHAR},
      </if>
      <if test="assignUserName != null" >
        #{assignUserName,jdbcType=VARCHAR},
      </if>
      <if test="aliasName != null" >
        #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="consumerFlow != null" >
        #{consumerFlow,jdbcType=VARCHAR},
      </if>
      <if test="consumerName != null" >
        #{consumerName,jdbcType=VARCHAR},
      </if>
      <if test="consumerAliasName != null" >
        #{consumerAliasName,jdbcType=VARCHAR},
      </if>
      <if test="workContent != null" >
        #{workContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ErpOaWorkOrderExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.ERP_OA_WORK_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.ERP_OA_WORK_ORDER
    <set >
      <if test="record.workFlow != null" >
        WORK_FLOW = #{record.workFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.workNo != null" >
        WORK_NO = #{record.workNo,jdbcType=VARCHAR},
      </if>
      <if test="record.contactFlow != null" >
        CONTACT_FLOW = #{record.contactFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.customerFlow != null" >
        CUSTOMER_FLOW = #{record.customerFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.customerName != null" >
        CUSTOMER_NAME = #{record.customerName,jdbcType=VARCHAR},
      </if>
      <if test="record.assignDate != null" >
        ASSIGN_DATE = #{record.assignDate,jdbcType=VARCHAR},
      </if>
      <if test="record.assignDeptFlow != null" >
        ASSIGN_DEPT_FLOW = #{record.assignDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.assignUserFlow != null" >
        ASSIGN_USER_FLOW = #{record.assignUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.workStatusId != null" >
        WORK_STATUS_ID = #{record.workStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.workStatusName != null" >
        WORK_STATUS_NAME = #{record.workStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.assignDeptName != null" >
        ASSIGN_DEPT_NAME = #{record.assignDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.assignUserName != null" >
        ASSIGN_USER_NAME = #{record.assignUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.aliasName != null" >
        ALIAS_NAME = #{record.aliasName,jdbcType=VARCHAR},
      </if>
      <if test="record.consumerFlow != null" >
        CONSUMER_FLOW = #{record.consumerFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.consumerName != null" >
        CONSUMER_NAME = #{record.consumerName,jdbcType=VARCHAR},
      </if>
      <if test="record.consumerAliasName != null" >
        CONSUMER_ALIAS_NAME = #{record.consumerAliasName,jdbcType=VARCHAR},
      </if>
      <if test="record.workContent != null" >
        WORK_CONTENT = #{record.workContent,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update PDSCI.ERP_OA_WORK_ORDER
    set WORK_FLOW = #{record.workFlow,jdbcType=VARCHAR},
      WORK_NO = #{record.workNo,jdbcType=VARCHAR},
      CONTACT_FLOW = #{record.contactFlow,jdbcType=VARCHAR},
      CUSTOMER_FLOW = #{record.customerFlow,jdbcType=VARCHAR},
      CUSTOMER_NAME = #{record.customerName,jdbcType=VARCHAR},
      ASSIGN_DATE = #{record.assignDate,jdbcType=VARCHAR},
      ASSIGN_DEPT_FLOW = #{record.assignDeptFlow,jdbcType=VARCHAR},
      ASSIGN_USER_FLOW = #{record.assignUserFlow,jdbcType=VARCHAR},
      WORK_STATUS_ID = #{record.workStatusId,jdbcType=VARCHAR},
      WORK_STATUS_NAME = #{record.workStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      ASSIGN_DEPT_NAME = #{record.assignDeptName,jdbcType=VARCHAR},
      ASSIGN_USER_NAME = #{record.assignUserName,jdbcType=VARCHAR},
      ALIAS_NAME = #{record.aliasName,jdbcType=VARCHAR},
      CONSUMER_FLOW = #{record.consumerFlow,jdbcType=VARCHAR},
      CONSUMER_NAME = #{record.consumerName,jdbcType=VARCHAR},
      CONSUMER_ALIAS_NAME = #{record.consumerAliasName,jdbcType=VARCHAR},
      WORK_CONTENT = #{record.workContent,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.ERP_OA_WORK_ORDER
    set WORK_FLOW = #{record.workFlow,jdbcType=VARCHAR},
      WORK_NO = #{record.workNo,jdbcType=VARCHAR},
      CONTACT_FLOW = #{record.contactFlow,jdbcType=VARCHAR},
      CUSTOMER_FLOW = #{record.customerFlow,jdbcType=VARCHAR},
      CUSTOMER_NAME = #{record.customerName,jdbcType=VARCHAR},
      ASSIGN_DATE = #{record.assignDate,jdbcType=VARCHAR},
      ASSIGN_DEPT_FLOW = #{record.assignDeptFlow,jdbcType=VARCHAR},
      ASSIGN_USER_FLOW = #{record.assignUserFlow,jdbcType=VARCHAR},
      WORK_STATUS_ID = #{record.workStatusId,jdbcType=VARCHAR},
      WORK_STATUS_NAME = #{record.workStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      ASSIGN_DEPT_NAME = #{record.assignDeptName,jdbcType=VARCHAR},
      ASSIGN_USER_NAME = #{record.assignUserName,jdbcType=VARCHAR},
      ALIAS_NAME = #{record.aliasName,jdbcType=VARCHAR},
      CONSUMER_FLOW = #{record.consumerFlow,jdbcType=VARCHAR},
      CONSUMER_NAME = #{record.consumerName,jdbcType=VARCHAR},
      CONSUMER_ALIAS_NAME = #{record.consumerAliasName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ErpOaWorkOrder" >
    update PDSCI.ERP_OA_WORK_ORDER
    <set >
      <if test="workNo != null" >
        WORK_NO = #{workNo,jdbcType=VARCHAR},
      </if>
      <if test="contactFlow != null" >
        CONTACT_FLOW = #{contactFlow,jdbcType=VARCHAR},
      </if>
      <if test="customerFlow != null" >
        CUSTOMER_FLOW = #{customerFlow,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="assignDate != null" >
        ASSIGN_DATE = #{assignDate,jdbcType=VARCHAR},
      </if>
      <if test="assignDeptFlow != null" >
        ASSIGN_DEPT_FLOW = #{assignDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="assignUserFlow != null" >
        ASSIGN_USER_FLOW = #{assignUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="workStatusId != null" >
        WORK_STATUS_ID = #{workStatusId,jdbcType=VARCHAR},
      </if>
      <if test="workStatusName != null" >
        WORK_STATUS_NAME = #{workStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="assignDeptName != null" >
        ASSIGN_DEPT_NAME = #{assignDeptName,jdbcType=VARCHAR},
      </if>
      <if test="assignUserName != null" >
        ASSIGN_USER_NAME = #{assignUserName,jdbcType=VARCHAR},
      </if>
      <if test="aliasName != null" >
        ALIAS_NAME = #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="consumerFlow != null" >
        CONSUMER_FLOW = #{consumerFlow,jdbcType=VARCHAR},
      </if>
      <if test="consumerName != null" >
        CONSUMER_NAME = #{consumerName,jdbcType=VARCHAR},
      </if>
      <if test="consumerAliasName != null" >
        CONSUMER_ALIAS_NAME = #{consumerAliasName,jdbcType=VARCHAR},
      </if>
      <if test="workContent != null" >
        WORK_CONTENT = #{workContent,jdbcType=CLOB},
      </if>
    </set>
    where WORK_FLOW = #{workFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.sci.model.mo.ErpOaWorkOrder" >
    update PDSCI.ERP_OA_WORK_ORDER
    set WORK_NO = #{workNo,jdbcType=VARCHAR},
      CONTACT_FLOW = #{contactFlow,jdbcType=VARCHAR},
      CUSTOMER_FLOW = #{customerFlow,jdbcType=VARCHAR},
      CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      ASSIGN_DATE = #{assignDate,jdbcType=VARCHAR},
      ASSIGN_DEPT_FLOW = #{assignDeptFlow,jdbcType=VARCHAR},
      ASSIGN_USER_FLOW = #{assignUserFlow,jdbcType=VARCHAR},
      WORK_STATUS_ID = #{workStatusId,jdbcType=VARCHAR},
      WORK_STATUS_NAME = #{workStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      ASSIGN_DEPT_NAME = #{assignDeptName,jdbcType=VARCHAR},
      ASSIGN_USER_NAME = #{assignUserName,jdbcType=VARCHAR},
      ALIAS_NAME = #{aliasName,jdbcType=VARCHAR},
      CONSUMER_FLOW = #{consumerFlow,jdbcType=VARCHAR},
      CONSUMER_NAME = #{consumerName,jdbcType=VARCHAR},
      CONSUMER_ALIAS_NAME = #{consumerAliasName,jdbcType=VARCHAR},
      WORK_CONTENT = #{workContent,jdbcType=CLOB}
    where WORK_FLOW = #{workFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ErpOaWorkOrder" >
    update PDSCI.ERP_OA_WORK_ORDER
    set WORK_NO = #{workNo,jdbcType=VARCHAR},
      CONTACT_FLOW = #{contactFlow,jdbcType=VARCHAR},
      CUSTOMER_FLOW = #{customerFlow,jdbcType=VARCHAR},
      CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      ASSIGN_DATE = #{assignDate,jdbcType=VARCHAR},
      ASSIGN_DEPT_FLOW = #{assignDeptFlow,jdbcType=VARCHAR},
      ASSIGN_USER_FLOW = #{assignUserFlow,jdbcType=VARCHAR},
      WORK_STATUS_ID = #{workStatusId,jdbcType=VARCHAR},
      WORK_STATUS_NAME = #{workStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      ASSIGN_DEPT_NAME = #{assignDeptName,jdbcType=VARCHAR},
      ASSIGN_USER_NAME = #{assignUserName,jdbcType=VARCHAR},
      ALIAS_NAME = #{aliasName,jdbcType=VARCHAR},
      CONSUMER_FLOW = #{consumerFlow,jdbcType=VARCHAR},
      CONSUMER_NAME = #{consumerName,jdbcType=VARCHAR},
      CONSUMER_ALIAS_NAME = #{consumerAliasName,jdbcType=VARCHAR}
    where WORK_FLOW = #{workFlow,jdbcType=VARCHAR}
  </update>
</mapper>