<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.ErpProductManageMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ErpProductManage">
    <id column="MANAGE_FLOW" jdbcType="VARCHAR" property="manageFlow" />
    <result column="PRODUCT_NAME" jdbcType="VARCHAR" property="productName" />
    <result column="CONSUMER_FLOW" jdbcType="VARCHAR" property="consumerFlow" />
    <result column="CONSUMER_NAME" jdbcType="VARCHAR" property="consumerName" />
    <result column="APPROVAL_TIME" jdbcType="VARCHAR" property="approvalTime" />
    <result column="APPROVAL_USER_FLOW" jdbcType="VARCHAR" property="approvalUserFlow" />
    <result column="APPROVAL_USER_NAME" jdbcType="VARCHAR" property="approvalUserName" />
    <result column="ETC_TIME" jdbcType="VARCHAR" property="etcTime" />
    <result column="COMPLETE_TIME" jdbcType="VARCHAR" property="completeTime" />
    <result column="STATUS_ID" jdbcType="VARCHAR" property="statusId" />
    <result column="STATUS_NAME" jdbcType="VARCHAR" property="statusName" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    MANAGE_FLOW, PRODUCT_NAME, CONSUMER_FLOW, CONSUMER_NAME, APPROVAL_TIME, APPROVAL_USER_FLOW, 
    APPROVAL_USER_NAME, ETC_TIME, COMPLETE_TIME, STATUS_ID, STATUS_NAME, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.ErpProductManageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.ERP_PRODUCT_MANAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PDSCI.ERP_PRODUCT_MANAGE
    where MANAGE_FLOW = #{manageFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.ERP_PRODUCT_MANAGE
    where MANAGE_FLOW = #{manageFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ErpProductManageExample">
    delete from PDSCI.ERP_PRODUCT_MANAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ErpProductManage">
    insert into PDSCI.ERP_PRODUCT_MANAGE (MANAGE_FLOW, PRODUCT_NAME, CONSUMER_FLOW, 
      CONSUMER_NAME, APPROVAL_TIME, APPROVAL_USER_FLOW, 
      APPROVAL_USER_NAME, ETC_TIME, COMPLETE_TIME, 
      STATUS_ID, STATUS_NAME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW)
    values (#{manageFlow,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{consumerFlow,jdbcType=VARCHAR}, 
      #{consumerName,jdbcType=VARCHAR}, #{approvalTime,jdbcType=VARCHAR}, #{approvalUserFlow,jdbcType=VARCHAR}, 
      #{approvalUserName,jdbcType=VARCHAR}, #{etcTime,jdbcType=VARCHAR}, #{completeTime,jdbcType=VARCHAR}, 
      #{statusId,jdbcType=VARCHAR}, #{statusName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ErpProductManage">
    insert into PDSCI.ERP_PRODUCT_MANAGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="manageFlow != null">
        MANAGE_FLOW,
      </if>
      <if test="productName != null">
        PRODUCT_NAME,
      </if>
      <if test="consumerFlow != null">
        CONSUMER_FLOW,
      </if>
      <if test="consumerName != null">
        CONSUMER_NAME,
      </if>
      <if test="approvalTime != null">
        APPROVAL_TIME,
      </if>
      <if test="approvalUserFlow != null">
        APPROVAL_USER_FLOW,
      </if>
      <if test="approvalUserName != null">
        APPROVAL_USER_NAME,
      </if>
      <if test="etcTime != null">
        ETC_TIME,
      </if>
      <if test="completeTime != null">
        COMPLETE_TIME,
      </if>
      <if test="statusId != null">
        STATUS_ID,
      </if>
      <if test="statusName != null">
        STATUS_NAME,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="manageFlow != null">
        #{manageFlow,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="consumerFlow != null">
        #{consumerFlow,jdbcType=VARCHAR},
      </if>
      <if test="consumerName != null">
        #{consumerName,jdbcType=VARCHAR},
      </if>
      <if test="approvalTime != null">
        #{approvalTime,jdbcType=VARCHAR},
      </if>
      <if test="approvalUserFlow != null">
        #{approvalUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="approvalUserName != null">
        #{approvalUserName,jdbcType=VARCHAR},
      </if>
      <if test="etcTime != null">
        #{etcTime,jdbcType=VARCHAR},
      </if>
      <if test="completeTime != null">
        #{completeTime,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null">
        #{statusId,jdbcType=VARCHAR},
      </if>
      <if test="statusName != null">
        #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ErpProductManageExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.ERP_PRODUCT_MANAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.ERP_PRODUCT_MANAGE
    <set>
      <if test="record.manageFlow != null">
        MANAGE_FLOW = #{record.manageFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.productName != null">
        PRODUCT_NAME = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.consumerFlow != null">
        CONSUMER_FLOW = #{record.consumerFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.consumerName != null">
        CONSUMER_NAME = #{record.consumerName,jdbcType=VARCHAR},
      </if>
      <if test="record.approvalTime != null">
        APPROVAL_TIME = #{record.approvalTime,jdbcType=VARCHAR},
      </if>
      <if test="record.approvalUserFlow != null">
        APPROVAL_USER_FLOW = #{record.approvalUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.approvalUserName != null">
        APPROVAL_USER_NAME = #{record.approvalUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.etcTime != null">
        ETC_TIME = #{record.etcTime,jdbcType=VARCHAR},
      </if>
      <if test="record.completeTime != null">
        COMPLETE_TIME = #{record.completeTime,jdbcType=VARCHAR},
      </if>
      <if test="record.statusId != null">
        STATUS_ID = #{record.statusId,jdbcType=VARCHAR},
      </if>
      <if test="record.statusName != null">
        STATUS_NAME = #{record.statusName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.ERP_PRODUCT_MANAGE
    set MANAGE_FLOW = #{record.manageFlow,jdbcType=VARCHAR},
      PRODUCT_NAME = #{record.productName,jdbcType=VARCHAR},
      CONSUMER_FLOW = #{record.consumerFlow,jdbcType=VARCHAR},
      CONSUMER_NAME = #{record.consumerName,jdbcType=VARCHAR},
      APPROVAL_TIME = #{record.approvalTime,jdbcType=VARCHAR},
      APPROVAL_USER_FLOW = #{record.approvalUserFlow,jdbcType=VARCHAR},
      APPROVAL_USER_NAME = #{record.approvalUserName,jdbcType=VARCHAR},
      ETC_TIME = #{record.etcTime,jdbcType=VARCHAR},
      COMPLETE_TIME = #{record.completeTime,jdbcType=VARCHAR},
      STATUS_ID = #{record.statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{record.statusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ErpProductManage">
    update PDSCI.ERP_PRODUCT_MANAGE
    <set>
      <if test="productName != null">
        PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="consumerFlow != null">
        CONSUMER_FLOW = #{consumerFlow,jdbcType=VARCHAR},
      </if>
      <if test="consumerName != null">
        CONSUMER_NAME = #{consumerName,jdbcType=VARCHAR},
      </if>
      <if test="approvalTime != null">
        APPROVAL_TIME = #{approvalTime,jdbcType=VARCHAR},
      </if>
      <if test="approvalUserFlow != null">
        APPROVAL_USER_FLOW = #{approvalUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="approvalUserName != null">
        APPROVAL_USER_NAME = #{approvalUserName,jdbcType=VARCHAR},
      </if>
      <if test="etcTime != null">
        ETC_TIME = #{etcTime,jdbcType=VARCHAR},
      </if>
      <if test="completeTime != null">
        COMPLETE_TIME = #{completeTime,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null">
        STATUS_ID = #{statusId,jdbcType=VARCHAR},
      </if>
      <if test="statusName != null">
        STATUS_NAME = #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where MANAGE_FLOW = #{manageFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ErpProductManage">
    update PDSCI.ERP_PRODUCT_MANAGE
    set PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      CONSUMER_FLOW = #{consumerFlow,jdbcType=VARCHAR},
      CONSUMER_NAME = #{consumerName,jdbcType=VARCHAR},
      APPROVAL_TIME = #{approvalTime,jdbcType=VARCHAR},
      APPROVAL_USER_FLOW = #{approvalUserFlow,jdbcType=VARCHAR},
      APPROVAL_USER_NAME = #{approvalUserName,jdbcType=VARCHAR},
      ETC_TIME = #{etcTime,jdbcType=VARCHAR},
      COMPLETE_TIME = #{completeTime,jdbcType=VARCHAR},
      STATUS_ID = #{statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{statusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where MANAGE_FLOW = #{manageFlow,jdbcType=VARCHAR}
  </update>
</mapper>