<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ExamBookReloadRecMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ExamBookReloadRec" >
    <id column="RELOAD_REC_FLOW" property="reloadRecFlow" jdbcType="VARCHAR" />
    <result column="BOOK_NUM" property="bookNum" jdbcType="VARCHAR" />
    <result column="BOOK_FLOW" property="bookFlow" jdbcType="VARCHAR" />
    <result column="BOOK_MEMO" property="bookMemo" jdbcType="VARCHAR" />
    <result column="QUESTION_TYPE_ID" property="questionTypeId" jdbcType="VARCHAR" />
    <result column="QUESTION_TYPE_NAME" property="questionTypeName" jdbcType="VARCHAR" />
    <result column="OPER_USER_FLOW" property="operUserFlow" jdbcType="VARCHAR" />
    <result column="OPER_USER_NAME" property="operUserName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RELOAD_REC_FLOW, BOOK_NUM, BOOK_FLOW, BOOK_MEMO, QUESTION_TYPE_ID, QUESTION_TYPE_NAME, 
    OPER_USER_FLOW, OPER_USER_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
    MODIFY_USER_FLOW, FILE_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ExamBookReloadRecExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.EXAM_BOOK_RELOAD_REC
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.EXAM_BOOK_RELOAD_REC
    where RELOAD_REC_FLOW = #{reloadRecFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.EXAM_BOOK_RELOAD_REC
    where RELOAD_REC_FLOW = #{reloadRecFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ExamBookReloadRecExample" >
    delete from PDSCI.EXAM_BOOK_RELOAD_REC
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ExamBookReloadRec" >
    insert into PDSCI.EXAM_BOOK_RELOAD_REC (RELOAD_REC_FLOW, BOOK_NUM, BOOK_FLOW, 
      BOOK_MEMO, QUESTION_TYPE_ID, QUESTION_TYPE_NAME, 
      OPER_USER_FLOW, OPER_USER_NAME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, FILE_NAME)
    values (#{reloadRecFlow,jdbcType=VARCHAR}, #{bookNum,jdbcType=VARCHAR}, #{bookFlow,jdbcType=VARCHAR}, 
      #{bookMemo,jdbcType=VARCHAR}, #{questionTypeId,jdbcType=VARCHAR}, #{questionTypeName,jdbcType=VARCHAR}, 
      #{operUserFlow,jdbcType=VARCHAR}, #{operUserName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ExamBookReloadRec" >
    insert into PDSCI.EXAM_BOOK_RELOAD_REC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reloadRecFlow != null" >
        RELOAD_REC_FLOW,
      </if>
      <if test="bookNum != null" >
        BOOK_NUM,
      </if>
      <if test="bookFlow != null" >
        BOOK_FLOW,
      </if>
      <if test="bookMemo != null" >
        BOOK_MEMO,
      </if>
      <if test="questionTypeId != null" >
        QUESTION_TYPE_ID,
      </if>
      <if test="questionTypeName != null" >
        QUESTION_TYPE_NAME,
      </if>
      <if test="operUserFlow != null" >
        OPER_USER_FLOW,
      </if>
      <if test="operUserName != null" >
        OPER_USER_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="fileName != null" >
        FILE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reloadRecFlow != null" >
        #{reloadRecFlow,jdbcType=VARCHAR},
      </if>
      <if test="bookNum != null" >
        #{bookNum,jdbcType=VARCHAR},
      </if>
      <if test="bookFlow != null" >
        #{bookFlow,jdbcType=VARCHAR},
      </if>
      <if test="bookMemo != null" >
        #{bookMemo,jdbcType=VARCHAR},
      </if>
      <if test="questionTypeId != null" >
        #{questionTypeId,jdbcType=VARCHAR},
      </if>
      <if test="questionTypeName != null" >
        #{questionTypeName,jdbcType=VARCHAR},
      </if>
      <if test="operUserFlow != null" >
        #{operUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="operUserName != null" >
        #{operUserName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ExamBookReloadRecExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.EXAM_BOOK_RELOAD_REC
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.EXAM_BOOK_RELOAD_REC
    <set >
      <if test="record.reloadRecFlow != null" >
        RELOAD_REC_FLOW = #{record.reloadRecFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.bookNum != null" >
        BOOK_NUM = #{record.bookNum,jdbcType=VARCHAR},
      </if>
      <if test="record.bookFlow != null" >
        BOOK_FLOW = #{record.bookFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.bookMemo != null" >
        BOOK_MEMO = #{record.bookMemo,jdbcType=VARCHAR},
      </if>
      <if test="record.questionTypeId != null" >
        QUESTION_TYPE_ID = #{record.questionTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.questionTypeName != null" >
        QUESTION_TYPE_NAME = #{record.questionTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.operUserFlow != null" >
        OPER_USER_FLOW = #{record.operUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.operUserName != null" >
        OPER_USER_NAME = #{record.operUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.fileName != null" >
        FILE_NAME = #{record.fileName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.EXAM_BOOK_RELOAD_REC
    set RELOAD_REC_FLOW = #{record.reloadRecFlow,jdbcType=VARCHAR},
      BOOK_NUM = #{record.bookNum,jdbcType=VARCHAR},
      BOOK_FLOW = #{record.bookFlow,jdbcType=VARCHAR},
      BOOK_MEMO = #{record.bookMemo,jdbcType=VARCHAR},
      QUESTION_TYPE_ID = #{record.questionTypeId,jdbcType=VARCHAR},
      QUESTION_TYPE_NAME = #{record.questionTypeName,jdbcType=VARCHAR},
      OPER_USER_FLOW = #{record.operUserFlow,jdbcType=VARCHAR},
      OPER_USER_NAME = #{record.operUserName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      FILE_NAME = #{record.fileName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ExamBookReloadRec" >
    update PDSCI.EXAM_BOOK_RELOAD_REC
    <set >
      <if test="bookNum != null" >
        BOOK_NUM = #{bookNum,jdbcType=VARCHAR},
      </if>
      <if test="bookFlow != null" >
        BOOK_FLOW = #{bookFlow,jdbcType=VARCHAR},
      </if>
      <if test="bookMemo != null" >
        BOOK_MEMO = #{bookMemo,jdbcType=VARCHAR},
      </if>
      <if test="questionTypeId != null" >
        QUESTION_TYPE_ID = #{questionTypeId,jdbcType=VARCHAR},
      </if>
      <if test="questionTypeName != null" >
        QUESTION_TYPE_NAME = #{questionTypeName,jdbcType=VARCHAR},
      </if>
      <if test="operUserFlow != null" >
        OPER_USER_FLOW = #{operUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="operUserName != null" >
        OPER_USER_NAME = #{operUserName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
    </set>
    where RELOAD_REC_FLOW = #{reloadRecFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ExamBookReloadRec" >
    update PDSCI.EXAM_BOOK_RELOAD_REC
    set BOOK_NUM = #{bookNum,jdbcType=VARCHAR},
      BOOK_FLOW = #{bookFlow,jdbcType=VARCHAR},
      BOOK_MEMO = #{bookMemo,jdbcType=VARCHAR},
      QUESTION_TYPE_ID = #{questionTypeId,jdbcType=VARCHAR},
      QUESTION_TYPE_NAME = #{questionTypeName,jdbcType=VARCHAR},
      OPER_USER_FLOW = #{operUserFlow,jdbcType=VARCHAR},
      OPER_USER_NAME = #{operUserName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      FILE_NAME = #{fileName,jdbcType=VARCHAR}
    where RELOAD_REC_FLOW = #{reloadRecFlow,jdbcType=VARCHAR}
  </update>
</mapper>