<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ExamBookScanInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ExamBookScanInfo" >
    <id column="SCAN_FLOW" property="scanFlow" jdbcType="VARCHAR" />
    <result column="BOOK_FLOW" property="bookFlow" jdbcType="VARCHAR" />
    <result column="SCAN_USER_FLOW" property="scanUserFlow" jdbcType="VARCHAR" />
    <result column="SCAN_USER_NAME" property="scanUserName" jdbcType="VARCHAR" />
    <result column="SCAN_TIME" property="scanTime" jdbcType="VARCHAR" />
    <result column="SIGN_USER_FLOW" property="signUserFlow" jdbcType="VARCHAR" />
    <result column="SIGN_USER_NAME" property="signUserName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SCAN_FLOW, BOOK_FLOW, SCAN_USER_FLOW, SCAN_USER_NAME, SCAN_TIME, SIGN_USER_FLOW, 
    SIGN_USER_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ExamBookScanInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.EXAM_BOOK_SCAN_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.EXAM_BOOK_SCAN_INFO
    where SCAN_FLOW = #{scanFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.EXAM_BOOK_SCAN_INFO
    where SCAN_FLOW = #{scanFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ExamBookScanInfoExample" >
    delete from PDSCI.EXAM_BOOK_SCAN_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ExamBookScanInfo" >
    insert into PDSCI.EXAM_BOOK_SCAN_INFO (SCAN_FLOW, BOOK_FLOW, SCAN_USER_FLOW, 
      SCAN_USER_NAME, SCAN_TIME, SIGN_USER_FLOW, 
      SIGN_USER_NAME, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
      )
    values (#{scanFlow,jdbcType=VARCHAR}, #{bookFlow,jdbcType=VARCHAR}, #{scanUserFlow,jdbcType=VARCHAR}, 
      #{scanUserName,jdbcType=VARCHAR}, #{scanTime,jdbcType=VARCHAR}, #{signUserFlow,jdbcType=VARCHAR}, 
      #{signUserName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ExamBookScanInfo" >
    insert into PDSCI.EXAM_BOOK_SCAN_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scanFlow != null" >
        SCAN_FLOW,
      </if>
      <if test="bookFlow != null" >
        BOOK_FLOW,
      </if>
      <if test="scanUserFlow != null" >
        SCAN_USER_FLOW,
      </if>
      <if test="scanUserName != null" >
        SCAN_USER_NAME,
      </if>
      <if test="scanTime != null" >
        SCAN_TIME,
      </if>
      <if test="signUserFlow != null" >
        SIGN_USER_FLOW,
      </if>
      <if test="signUserName != null" >
        SIGN_USER_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scanFlow != null" >
        #{scanFlow,jdbcType=VARCHAR},
      </if>
      <if test="bookFlow != null" >
        #{bookFlow,jdbcType=VARCHAR},
      </if>
      <if test="scanUserFlow != null" >
        #{scanUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="scanUserName != null" >
        #{scanUserName,jdbcType=VARCHAR},
      </if>
      <if test="scanTime != null" >
        #{scanTime,jdbcType=VARCHAR},
      </if>
      <if test="signUserFlow != null" >
        #{signUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="signUserName != null" >
        #{signUserName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ExamBookScanInfoExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.EXAM_BOOK_SCAN_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.EXAM_BOOK_SCAN_INFO
    <set >
      <if test="record.scanFlow != null" >
        SCAN_FLOW = #{record.scanFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.bookFlow != null" >
        BOOK_FLOW = #{record.bookFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.scanUserFlow != null" >
        SCAN_USER_FLOW = #{record.scanUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.scanUserName != null" >
        SCAN_USER_NAME = #{record.scanUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.scanTime != null" >
        SCAN_TIME = #{record.scanTime,jdbcType=VARCHAR},
      </if>
      <if test="record.signUserFlow != null" >
        SIGN_USER_FLOW = #{record.signUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.signUserName != null" >
        SIGN_USER_NAME = #{record.signUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.EXAM_BOOK_SCAN_INFO
    set SCAN_FLOW = #{record.scanFlow,jdbcType=VARCHAR},
      BOOK_FLOW = #{record.bookFlow,jdbcType=VARCHAR},
      SCAN_USER_FLOW = #{record.scanUserFlow,jdbcType=VARCHAR},
      SCAN_USER_NAME = #{record.scanUserName,jdbcType=VARCHAR},
      SCAN_TIME = #{record.scanTime,jdbcType=VARCHAR},
      SIGN_USER_FLOW = #{record.signUserFlow,jdbcType=VARCHAR},
      SIGN_USER_NAME = #{record.signUserName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ExamBookScanInfo" >
    update PDSCI.EXAM_BOOK_SCAN_INFO
    <set >
      <if test="bookFlow != null" >
        BOOK_FLOW = #{bookFlow,jdbcType=VARCHAR},
      </if>
      <if test="scanUserFlow != null" >
        SCAN_USER_FLOW = #{scanUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="scanUserName != null" >
        SCAN_USER_NAME = #{scanUserName,jdbcType=VARCHAR},
      </if>
      <if test="scanTime != null" >
        SCAN_TIME = #{scanTime,jdbcType=VARCHAR},
      </if>
      <if test="signUserFlow != null" >
        SIGN_USER_FLOW = #{signUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="signUserName != null" >
        SIGN_USER_NAME = #{signUserName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where SCAN_FLOW = #{scanFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ExamBookScanInfo" >
    update PDSCI.EXAM_BOOK_SCAN_INFO
    set BOOK_FLOW = #{bookFlow,jdbcType=VARCHAR},
      SCAN_USER_FLOW = #{scanUserFlow,jdbcType=VARCHAR},
      SCAN_USER_NAME = #{scanUserName,jdbcType=VARCHAR},
      SCAN_TIME = #{scanTime,jdbcType=VARCHAR},
      SIGN_USER_FLOW = #{signUserFlow,jdbcType=VARCHAR},
      SIGN_USER_NAME = #{signUserName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where SCAN_FLOW = #{scanFlow,jdbcType=VARCHAR}
  </update>
</mapper>