<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ExamBookImpDetailMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ExamBookImpDetail" >
    <id column="IMP_DETAIL_FLOW" property="impDetailFlow" jdbcType="VARCHAR" />
    <result column="BOOK_IMP_FLOW" property="bookImpFlow" jdbcType="VARCHAR" />
    <result column="QUESTION_TYPE_ID" property="questionTypeId" jdbcType="VARCHAR" />
    <result column="QUESTION_TYPE_NAME" property="questionTypeName" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="QUESTION_NUM" property="questionNum" jdbcType="DECIMAL" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="BOOK_FLOW" property="bookFlow" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pinde.sci.model.mo.ExamBookImpDetail" extends="BaseResultMap" >
    <result column="QUESTION_FILE" property="questionFile" jdbcType="BLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    IMP_DETAIL_FLOW, BOOK_IMP_FLOW, QUESTION_TYPE_ID, QUESTION_TYPE_NAME, MEMO, QUESTION_NUM, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, BOOK_FLOW
  </sql>
  <sql id="Blob_Column_List" >
    QUESTION_FILE
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pinde.sci.model.mo.ExamBookImpDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.EXAM_BOOK_IMP_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ExamBookImpDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.EXAM_BOOK_IMP_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.EXAM_BOOK_IMP_DETAIL
    where IMP_DETAIL_FLOW = #{impDetailFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.EXAM_BOOK_IMP_DETAIL
    where IMP_DETAIL_FLOW = #{impDetailFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ExamBookImpDetailExample" >
    delete from PDSCI.EXAM_BOOK_IMP_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ExamBookImpDetail" >
    insert into PDSCI.EXAM_BOOK_IMP_DETAIL (IMP_DETAIL_FLOW, BOOK_IMP_FLOW, QUESTION_TYPE_ID, 
      QUESTION_TYPE_NAME, MEMO, QUESTION_NUM, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, BOOK_FLOW, 
      QUESTION_FILE)
    values (#{impDetailFlow,jdbcType=VARCHAR}, #{bookImpFlow,jdbcType=VARCHAR}, #{questionTypeId,jdbcType=VARCHAR}, 
      #{questionTypeName,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{questionNum,jdbcType=DECIMAL}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{bookFlow,jdbcType=VARCHAR}, 
      #{questionFile,jdbcType=BLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ExamBookImpDetail" >
    insert into PDSCI.EXAM_BOOK_IMP_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="impDetailFlow != null" >
        IMP_DETAIL_FLOW,
      </if>
      <if test="bookImpFlow != null" >
        BOOK_IMP_FLOW,
      </if>
      <if test="questionTypeId != null" >
        QUESTION_TYPE_ID,
      </if>
      <if test="questionTypeName != null" >
        QUESTION_TYPE_NAME,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
      <if test="questionNum != null" >
        QUESTION_NUM,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="bookFlow != null" >
        BOOK_FLOW,
      </if>
      <if test="questionFile != null" >
        QUESTION_FILE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="impDetailFlow != null" >
        #{impDetailFlow,jdbcType=VARCHAR},
      </if>
      <if test="bookImpFlow != null" >
        #{bookImpFlow,jdbcType=VARCHAR},
      </if>
      <if test="questionTypeId != null" >
        #{questionTypeId,jdbcType=VARCHAR},
      </if>
      <if test="questionTypeName != null" >
        #{questionTypeName,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="questionNum != null" >
        #{questionNum,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="bookFlow != null" >
        #{bookFlow,jdbcType=VARCHAR},
      </if>
      <if test="questionFile != null" >
        #{questionFile,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ExamBookImpDetailExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.EXAM_BOOK_IMP_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.EXAM_BOOK_IMP_DETAIL
    <set >
      <if test="record.impDetailFlow != null" >
        IMP_DETAIL_FLOW = #{record.impDetailFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.bookImpFlow != null" >
        BOOK_IMP_FLOW = #{record.bookImpFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.questionTypeId != null" >
        QUESTION_TYPE_ID = #{record.questionTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.questionTypeName != null" >
        QUESTION_TYPE_NAME = #{record.questionTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null" >
        MEMO = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.questionNum != null" >
        QUESTION_NUM = #{record.questionNum,jdbcType=DECIMAL},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.bookFlow != null" >
        BOOK_FLOW = #{record.bookFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.questionFile != null" >
        QUESTION_FILE = #{record.questionFile,jdbcType=BLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update PDSCI.EXAM_BOOK_IMP_DETAIL
    set IMP_DETAIL_FLOW = #{record.impDetailFlow,jdbcType=VARCHAR},
      BOOK_IMP_FLOW = #{record.bookImpFlow,jdbcType=VARCHAR},
      QUESTION_TYPE_ID = #{record.questionTypeId,jdbcType=VARCHAR},
      QUESTION_TYPE_NAME = #{record.questionTypeName,jdbcType=VARCHAR},
      MEMO = #{record.memo,jdbcType=VARCHAR},
      QUESTION_NUM = #{record.questionNum,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      BOOK_FLOW = #{record.bookFlow,jdbcType=VARCHAR},
      QUESTION_FILE = #{record.questionFile,jdbcType=BLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.EXAM_BOOK_IMP_DETAIL
    set IMP_DETAIL_FLOW = #{record.impDetailFlow,jdbcType=VARCHAR},
      BOOK_IMP_FLOW = #{record.bookImpFlow,jdbcType=VARCHAR},
      QUESTION_TYPE_ID = #{record.questionTypeId,jdbcType=VARCHAR},
      QUESTION_TYPE_NAME = #{record.questionTypeName,jdbcType=VARCHAR},
      MEMO = #{record.memo,jdbcType=VARCHAR},
      QUESTION_NUM = #{record.questionNum,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      BOOK_FLOW = #{record.bookFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ExamBookImpDetail" >
    update PDSCI.EXAM_BOOK_IMP_DETAIL
    <set >
      <if test="bookImpFlow != null" >
        BOOK_IMP_FLOW = #{bookImpFlow,jdbcType=VARCHAR},
      </if>
      <if test="questionTypeId != null" >
        QUESTION_TYPE_ID = #{questionTypeId,jdbcType=VARCHAR},
      </if>
      <if test="questionTypeName != null" >
        QUESTION_TYPE_NAME = #{questionTypeName,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="questionNum != null" >
        QUESTION_NUM = #{questionNum,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="bookFlow != null" >
        BOOK_FLOW = #{bookFlow,jdbcType=VARCHAR},
      </if>
      <if test="questionFile != null" >
        QUESTION_FILE = #{questionFile,jdbcType=BLOB},
      </if>
    </set>
    where IMP_DETAIL_FLOW = #{impDetailFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.sci.model.mo.ExamBookImpDetail" >
    update PDSCI.EXAM_BOOK_IMP_DETAIL
    set BOOK_IMP_FLOW = #{bookImpFlow,jdbcType=VARCHAR},
      QUESTION_TYPE_ID = #{questionTypeId,jdbcType=VARCHAR},
      QUESTION_TYPE_NAME = #{questionTypeName,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      QUESTION_NUM = #{questionNum,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      BOOK_FLOW = #{bookFlow,jdbcType=VARCHAR},
      QUESTION_FILE = #{questionFile,jdbcType=BLOB}
    where IMP_DETAIL_FLOW = #{impDetailFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ExamBookImpDetail" >
    update PDSCI.EXAM_BOOK_IMP_DETAIL
    set BOOK_IMP_FLOW = #{bookImpFlow,jdbcType=VARCHAR},
      QUESTION_TYPE_ID = #{questionTypeId,jdbcType=VARCHAR},
      QUESTION_TYPE_NAME = #{questionTypeName,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      QUESTION_NUM = #{questionNum,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      BOOK_FLOW = #{bookFlow,jdbcType=VARCHAR}
    where IMP_DETAIL_FLOW = #{impDetailFlow,jdbcType=VARCHAR}
  </update>
</mapper>