<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.FeeNoticeConfigMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.FeeNoticeConfig" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="PUBLISH_SWITCH" property="publishSwitch" jdbcType="VARCHAR" />
    <result column="TITLE_POSITION" property="titlePosition" jdbcType="VARCHAR" />
    <result column="TITLE_NAME" property="titleName" jdbcType="VARCHAR" />
    <result column="SKIN_COLOR" property="skinColor" jdbcType="VARCHAR" />
    <result column="FONT_COLOR" property="fontColor" jdbcType="VARCHAR" />
    <result column="FONT_REQUIRED" property="fontRequired" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, PUBLISH_SWITCH, TITLE_POSITION, TITLE_NAME, SKIN_COLOR, FONT_COLOR, 
    FONT_REQUIRED, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.FeeNoticeConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.FEE_NOTICE_CONFIG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.FEE_NOTICE_CONFIG
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.FEE_NOTICE_CONFIG
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.FeeNoticeConfigExample" >
    delete from PDSCI.FEE_NOTICE_CONFIG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.FeeNoticeConfig" >
    insert into PDSCI.FEE_NOTICE_CONFIG (RECORD_FLOW, PUBLISH_SWITCH, TITLE_POSITION, 
      TITLE_NAME, SKIN_COLOR, FONT_COLOR, 
      FONT_REQUIRED, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
      )
    values (#{recordFlow,jdbcType=VARCHAR}, #{publishSwitch,jdbcType=VARCHAR}, #{titlePosition,jdbcType=VARCHAR}, 
      #{titleName,jdbcType=VARCHAR}, #{skinColor,jdbcType=VARCHAR}, #{fontColor,jdbcType=VARCHAR}, 
      #{fontRequired,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.FeeNoticeConfig" >
    insert into PDSCI.FEE_NOTICE_CONFIG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="publishSwitch != null" >
        PUBLISH_SWITCH,
      </if>
      <if test="titlePosition != null" >
        TITLE_POSITION,
      </if>
      <if test="titleName != null" >
        TITLE_NAME,
      </if>
      <if test="skinColor != null" >
        SKIN_COLOR,
      </if>
      <if test="fontColor != null" >
        FONT_COLOR,
      </if>
      <if test="fontRequired != null" >
        FONT_REQUIRED,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="publishSwitch != null" >
        #{publishSwitch,jdbcType=VARCHAR},
      </if>
      <if test="titlePosition != null" >
        #{titlePosition,jdbcType=VARCHAR},
      </if>
      <if test="titleName != null" >
        #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="skinColor != null" >
        #{skinColor,jdbcType=VARCHAR},
      </if>
      <if test="fontColor != null" >
        #{fontColor,jdbcType=VARCHAR},
      </if>
      <if test="fontRequired != null" >
        #{fontRequired,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.FeeNoticeConfigExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.FEE_NOTICE_CONFIG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.FEE_NOTICE_CONFIG
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.publishSwitch != null" >
        PUBLISH_SWITCH = #{record.publishSwitch,jdbcType=VARCHAR},
      </if>
      <if test="record.titlePosition != null" >
        TITLE_POSITION = #{record.titlePosition,jdbcType=VARCHAR},
      </if>
      <if test="record.titleName != null" >
        TITLE_NAME = #{record.titleName,jdbcType=VARCHAR},
      </if>
      <if test="record.skinColor != null" >
        SKIN_COLOR = #{record.skinColor,jdbcType=VARCHAR},
      </if>
      <if test="record.fontColor != null" >
        FONT_COLOR = #{record.fontColor,jdbcType=VARCHAR},
      </if>
      <if test="record.fontRequired != null" >
        FONT_REQUIRED = #{record.fontRequired,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.FEE_NOTICE_CONFIG
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      PUBLISH_SWITCH = #{record.publishSwitch,jdbcType=VARCHAR},
      TITLE_POSITION = #{record.titlePosition,jdbcType=VARCHAR},
      TITLE_NAME = #{record.titleName,jdbcType=VARCHAR},
      SKIN_COLOR = #{record.skinColor,jdbcType=VARCHAR},
      FONT_COLOR = #{record.fontColor,jdbcType=VARCHAR},
      FONT_REQUIRED = #{record.fontRequired,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.FeeNoticeConfig" >
    update PDSCI.FEE_NOTICE_CONFIG
    <set >
      <if test="publishSwitch != null" >
        PUBLISH_SWITCH = #{publishSwitch,jdbcType=VARCHAR},
      </if>
      <if test="titlePosition != null" >
        TITLE_POSITION = #{titlePosition,jdbcType=VARCHAR},
      </if>
      <if test="titleName != null" >
        TITLE_NAME = #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="skinColor != null" >
        SKIN_COLOR = #{skinColor,jdbcType=VARCHAR},
      </if>
      <if test="fontColor != null" >
        FONT_COLOR = #{fontColor,jdbcType=VARCHAR},
      </if>
      <if test="fontRequired != null" >
        FONT_REQUIRED = #{fontRequired,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.FeeNoticeConfig" >
    update PDSCI.FEE_NOTICE_CONFIG
    set PUBLISH_SWITCH = #{publishSwitch,jdbcType=VARCHAR},
      TITLE_POSITION = #{titlePosition,jdbcType=VARCHAR},
      TITLE_NAME = #{titleName,jdbcType=VARCHAR},
      SKIN_COLOR = #{skinColor,jdbcType=VARCHAR},
      FONT_COLOR = #{fontColor,jdbcType=VARCHAR},
      FONT_REQUIRED = #{fontRequired,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>