<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.FstuCreditMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.FstuCredit" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="USER_FLOW" property="userFlow" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="YEAR" property="year" jdbcType="VARCHAR" />
    <result column="PERIOD_ONE_COUNTRY_CREDIT" property="periodOneCountryCredit" jdbcType="VARCHAR" />
    <result column="PERIOD_ONE_PROVINCE_CREDIT" property="periodOneProvinceCredit" jdbcType="VARCHAR" />
    <result column="PERIOD_TWO_CREDIT" property="periodTwoCredit" jdbcType="VARCHAR" />
    <result column="PROFESSIONAL_ETHICS_FLAG" property="professionalEthicsFlag" jdbcType="VARCHAR" />
    <result column="FINISH_CREDIT_FLAG" property="finishCreditFlag" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, USER_FLOW, USER_NAME, YEAR, PERIOD_ONE_COUNTRY_CREDIT, PERIOD_ONE_PROVINCE_CREDIT, 
    PERIOD_TWO_CREDIT, PROFESSIONAL_ETHICS_FLAG, FINISH_CREDIT_FLAG, RECORD_STATUS, CREATE_TIME, 
    CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, ORG_FLOW, ORG_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.FstuCreditExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.FSTU_CREDIT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.FSTU_CREDIT
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.FSTU_CREDIT
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.FstuCreditExample" >
    delete from PDSCI.FSTU_CREDIT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.FstuCredit" >
    insert into PDSCI.FSTU_CREDIT (RECORD_FLOW, USER_FLOW, USER_NAME, 
      YEAR, PERIOD_ONE_COUNTRY_CREDIT, PERIOD_ONE_PROVINCE_CREDIT, 
      PERIOD_TWO_CREDIT, PROFESSIONAL_ETHICS_FLAG, 
      FINISH_CREDIT_FLAG, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      ORG_FLOW, ORG_NAME)
    values (#{recordFlow,jdbcType=VARCHAR}, #{userFlow,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{year,jdbcType=VARCHAR}, #{periodOneCountryCredit,jdbcType=VARCHAR}, #{periodOneProvinceCredit,jdbcType=VARCHAR}, 
      #{periodTwoCredit,jdbcType=VARCHAR}, #{professionalEthicsFlag,jdbcType=VARCHAR}, 
      #{finishCreditFlag,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.FstuCredit" >
    insert into PDSCI.FSTU_CREDIT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="userFlow != null" >
        USER_FLOW,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="year != null" >
        YEAR,
      </if>
      <if test="periodOneCountryCredit != null" >
        PERIOD_ONE_COUNTRY_CREDIT,
      </if>
      <if test="periodOneProvinceCredit != null" >
        PERIOD_ONE_PROVINCE_CREDIT,
      </if>
      <if test="periodTwoCredit != null" >
        PERIOD_TWO_CREDIT,
      </if>
      <if test="professionalEthicsFlag != null" >
        PROFESSIONAL_ETHICS_FLAG,
      </if>
      <if test="finishCreditFlag != null" >
        FINISH_CREDIT_FLAG,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null" >
        #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="periodOneCountryCredit != null" >
        #{periodOneCountryCredit,jdbcType=VARCHAR},
      </if>
      <if test="periodOneProvinceCredit != null" >
        #{periodOneProvinceCredit,jdbcType=VARCHAR},
      </if>
      <if test="periodTwoCredit != null" >
        #{periodTwoCredit,jdbcType=VARCHAR},
      </if>
      <if test="professionalEthicsFlag != null" >
        #{professionalEthicsFlag,jdbcType=VARCHAR},
      </if>
      <if test="finishCreditFlag != null" >
        #{finishCreditFlag,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.FstuCreditExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.FSTU_CREDIT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.FSTU_CREDIT
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userFlow != null" >
        USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null" >
        YEAR = #{record.year,jdbcType=VARCHAR},
      </if>
      <if test="record.periodOneCountryCredit != null" >
        PERIOD_ONE_COUNTRY_CREDIT = #{record.periodOneCountryCredit,jdbcType=VARCHAR},
      </if>
      <if test="record.periodOneProvinceCredit != null" >
        PERIOD_ONE_PROVINCE_CREDIT = #{record.periodOneProvinceCredit,jdbcType=VARCHAR},
      </if>
      <if test="record.periodTwoCredit != null" >
        PERIOD_TWO_CREDIT = #{record.periodTwoCredit,jdbcType=VARCHAR},
      </if>
      <if test="record.professionalEthicsFlag != null" >
        PROFESSIONAL_ETHICS_FLAG = #{record.professionalEthicsFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.finishCreditFlag != null" >
        FINISH_CREDIT_FLAG = #{record.finishCreditFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.FSTU_CREDIT
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      YEAR = #{record.year,jdbcType=VARCHAR},
      PERIOD_ONE_COUNTRY_CREDIT = #{record.periodOneCountryCredit,jdbcType=VARCHAR},
      PERIOD_ONE_PROVINCE_CREDIT = #{record.periodOneProvinceCredit,jdbcType=VARCHAR},
      PERIOD_TWO_CREDIT = #{record.periodTwoCredit,jdbcType=VARCHAR},
      PROFESSIONAL_ETHICS_FLAG = #{record.professionalEthicsFlag,jdbcType=VARCHAR},
      FINISH_CREDIT_FLAG = #{record.finishCreditFlag,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.FstuCredit" >
    update PDSCI.FSTU_CREDIT
    <set >
      <if test="userFlow != null" >
        USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        YEAR = #{year,jdbcType=VARCHAR},
      </if>
      <if test="periodOneCountryCredit != null" >
        PERIOD_ONE_COUNTRY_CREDIT = #{periodOneCountryCredit,jdbcType=VARCHAR},
      </if>
      <if test="periodOneProvinceCredit != null" >
        PERIOD_ONE_PROVINCE_CREDIT = #{periodOneProvinceCredit,jdbcType=VARCHAR},
      </if>
      <if test="periodTwoCredit != null" >
        PERIOD_TWO_CREDIT = #{periodTwoCredit,jdbcType=VARCHAR},
      </if>
      <if test="professionalEthicsFlag != null" >
        PROFESSIONAL_ETHICS_FLAG = #{professionalEthicsFlag,jdbcType=VARCHAR},
      </if>
      <if test="finishCreditFlag != null" >
        FINISH_CREDIT_FLAG = #{finishCreditFlag,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.FstuCredit" >
    update PDSCI.FSTU_CREDIT
    set USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      YEAR = #{year,jdbcType=VARCHAR},
      PERIOD_ONE_COUNTRY_CREDIT = #{periodOneCountryCredit,jdbcType=VARCHAR},
      PERIOD_ONE_PROVINCE_CREDIT = #{periodOneProvinceCredit,jdbcType=VARCHAR},
      PERIOD_TWO_CREDIT = #{periodTwoCredit,jdbcType=VARCHAR},
      PROFESSIONAL_ETHICS_FLAG = #{professionalEthicsFlag,jdbcType=VARCHAR},
      FINISH_CREDIT_FLAG = #{finishCreditFlag,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>