<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.FstuScoreMainMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.FstuScoreMain" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="CONFIG_RECORD_FLOW" property="configRecordFlow" jdbcType="VARCHAR" />
    <result column="FIRST_SCORE_TYPE_ID" property="firstScoreTypeId" jdbcType="VARCHAR" />
    <result column="FIRST_SCORE_TYPE_NAME" property="firstScoreTypeName" jdbcType="VARCHAR" />
    <result column="FIRST_PROJ_TYPE_ID" property="firstProjTypeId" jdbcType="VARCHAR" />
    <result column="FIRST_PROJ_TYPE_NAME" property="firstProjTypeName" jdbcType="VARCHAR" />
    <result column="FIRST_SCORE_ITEM_ID" property="firstScoreItemId" jdbcType="VARCHAR" />
    <result column="FIRST_SCORE_ITEM_NAME" property="firstScoreItemName" jdbcType="VARCHAR" />
    <result column="FIRST_EXECUTION_ID" property="firstExecutionId" jdbcType="VARCHAR" />
    <result column="FIRST_EXECUTION_NAME" property="firstExecutionName" jdbcType="VARCHAR" />
    <result column="FIRST_SCORE" property="firstScore" jdbcType="VARCHAR" />
    <result column="FIRST_MAX_SCORE" property="firstMaxScore" jdbcType="VARCHAR" />
    <result column="FIRST_MIUR_AUDIT_FLAG" property="firstMiurAuditFlag" jdbcType="VARCHAR" />
    <result column="SESSION_NUMBER" property="sessionNumber" jdbcType="VARCHAR" />
    <result column="USER_FLOW" property="userFlow" jdbcType="VARCHAR" />
    <result column="USER_CODE" property="userCode" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_DEPT_FLOW" property="userDeptFlow" jdbcType="VARCHAR" />
    <result column="USER_DEPT_NAME" property="userDeptName" jdbcType="VARCHAR" />
    <result column="SCORE_NAME" property="scoreName" jdbcType="VARCHAR" />
    <result column="SCORE_NUMBER" property="scoreNumber" jdbcType="VARCHAR" />
    <result column="BEGIN_TIME" property="beginTime" jdbcType="VARCHAR" />
    <result column="END_TIME" property="endTime" jdbcType="VARCHAR" />
    <result column="INSTRUCTION" property="instruction" jdbcType="VARCHAR" />
    <result column="MY_SCORE" property="myScore" jdbcType="VARCHAR" />
    <result column="AUDIT_STATUS_ID" property="auditStatusId" jdbcType="VARCHAR" />
    <result column="AUDIT_STATUS_NAME" property="auditStatusName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="HEADER_AUDIT_STATUS_ID" property="headerAuditStatusId" jdbcType="VARCHAR" />
    <result column="HEADER_AUDIT_STATUS_NAME" property="headerAuditStatusName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, CONFIG_RECORD_FLOW, FIRST_SCORE_TYPE_ID, FIRST_SCORE_TYPE_NAME, FIRST_PROJ_TYPE_ID, 
    FIRST_PROJ_TYPE_NAME, FIRST_SCORE_ITEM_ID, FIRST_SCORE_ITEM_NAME, FIRST_EXECUTION_ID, 
    FIRST_EXECUTION_NAME, FIRST_SCORE, FIRST_MAX_SCORE, FIRST_MIUR_AUDIT_FLAG, SESSION_NUMBER, 
    USER_FLOW, USER_CODE, USER_NAME, USER_DEPT_FLOW, USER_DEPT_NAME, SCORE_NAME, SCORE_NUMBER, 
    BEGIN_TIME, END_TIME, INSTRUCTION, MY_SCORE, AUDIT_STATUS_ID, AUDIT_STATUS_NAME, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, HEADER_AUDIT_STATUS_ID, 
    HEADER_AUDIT_STATUS_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.FstuScoreMainExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.FSTU_SCORE_MAIN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.FSTU_SCORE_MAIN
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.FSTU_SCORE_MAIN
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.FstuScoreMainExample" >
    delete from PDSCI.FSTU_SCORE_MAIN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.FstuScoreMain" >
    insert into PDSCI.FSTU_SCORE_MAIN (RECORD_FLOW, CONFIG_RECORD_FLOW, FIRST_SCORE_TYPE_ID, 
      FIRST_SCORE_TYPE_NAME, FIRST_PROJ_TYPE_ID, FIRST_PROJ_TYPE_NAME, 
      FIRST_SCORE_ITEM_ID, FIRST_SCORE_ITEM_NAME, FIRST_EXECUTION_ID, 
      FIRST_EXECUTION_NAME, FIRST_SCORE, FIRST_MAX_SCORE, 
      FIRST_MIUR_AUDIT_FLAG, SESSION_NUMBER, USER_FLOW, 
      USER_CODE, USER_NAME, USER_DEPT_FLOW, 
      USER_DEPT_NAME, SCORE_NAME, SCORE_NUMBER, 
      BEGIN_TIME, END_TIME, INSTRUCTION, 
      MY_SCORE, AUDIT_STATUS_ID, AUDIT_STATUS_NAME, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, HEADER_AUDIT_STATUS_ID, 
      HEADER_AUDIT_STATUS_NAME)
    values (#{recordFlow,jdbcType=VARCHAR}, #{configRecordFlow,jdbcType=VARCHAR}, #{firstScoreTypeId,jdbcType=VARCHAR}, 
      #{firstScoreTypeName,jdbcType=VARCHAR}, #{firstProjTypeId,jdbcType=VARCHAR}, #{firstProjTypeName,jdbcType=VARCHAR}, 
      #{firstScoreItemId,jdbcType=VARCHAR}, #{firstScoreItemName,jdbcType=VARCHAR}, #{firstExecutionId,jdbcType=VARCHAR}, 
      #{firstExecutionName,jdbcType=VARCHAR}, #{firstScore,jdbcType=VARCHAR}, #{firstMaxScore,jdbcType=VARCHAR}, 
      #{firstMiurAuditFlag,jdbcType=VARCHAR}, #{sessionNumber,jdbcType=VARCHAR}, #{userFlow,jdbcType=VARCHAR}, 
      #{userCode,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userDeptFlow,jdbcType=VARCHAR}, 
      #{userDeptName,jdbcType=VARCHAR}, #{scoreName,jdbcType=VARCHAR}, #{scoreNumber,jdbcType=VARCHAR}, 
      #{beginTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, #{instruction,jdbcType=VARCHAR}, 
      #{myScore,jdbcType=VARCHAR}, #{auditStatusId,jdbcType=VARCHAR}, #{auditStatusName,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{headerAuditStatusId,jdbcType=VARCHAR}, 
      #{headerAuditStatusName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.FstuScoreMain" >
    insert into PDSCI.FSTU_SCORE_MAIN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="configRecordFlow != null" >
        CONFIG_RECORD_FLOW,
      </if>
      <if test="firstScoreTypeId != null" >
        FIRST_SCORE_TYPE_ID,
      </if>
      <if test="firstScoreTypeName != null" >
        FIRST_SCORE_TYPE_NAME,
      </if>
      <if test="firstProjTypeId != null" >
        FIRST_PROJ_TYPE_ID,
      </if>
      <if test="firstProjTypeName != null" >
        FIRST_PROJ_TYPE_NAME,
      </if>
      <if test="firstScoreItemId != null" >
        FIRST_SCORE_ITEM_ID,
      </if>
      <if test="firstScoreItemName != null" >
        FIRST_SCORE_ITEM_NAME,
      </if>
      <if test="firstExecutionId != null" >
        FIRST_EXECUTION_ID,
      </if>
      <if test="firstExecutionName != null" >
        FIRST_EXECUTION_NAME,
      </if>
      <if test="firstScore != null" >
        FIRST_SCORE,
      </if>
      <if test="firstMaxScore != null" >
        FIRST_MAX_SCORE,
      </if>
      <if test="firstMiurAuditFlag != null" >
        FIRST_MIUR_AUDIT_FLAG,
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER,
      </if>
      <if test="userFlow != null" >
        USER_FLOW,
      </if>
      <if test="userCode != null" >
        USER_CODE,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userDeptFlow != null" >
        USER_DEPT_FLOW,
      </if>
      <if test="userDeptName != null" >
        USER_DEPT_NAME,
      </if>
      <if test="scoreName != null" >
        SCORE_NAME,
      </if>
      <if test="scoreNumber != null" >
        SCORE_NUMBER,
      </if>
      <if test="beginTime != null" >
        BEGIN_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
      <if test="instruction != null" >
        INSTRUCTION,
      </if>
      <if test="myScore != null" >
        MY_SCORE,
      </if>
      <if test="auditStatusId != null" >
        AUDIT_STATUS_ID,
      </if>
      <if test="auditStatusName != null" >
        AUDIT_STATUS_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="headerAuditStatusId != null" >
        HEADER_AUDIT_STATUS_ID,
      </if>
      <if test="headerAuditStatusName != null" >
        HEADER_AUDIT_STATUS_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="configRecordFlow != null" >
        #{configRecordFlow,jdbcType=VARCHAR},
      </if>
      <if test="firstScoreTypeId != null" >
        #{firstScoreTypeId,jdbcType=VARCHAR},
      </if>
      <if test="firstScoreTypeName != null" >
        #{firstScoreTypeName,jdbcType=VARCHAR},
      </if>
      <if test="firstProjTypeId != null" >
        #{firstProjTypeId,jdbcType=VARCHAR},
      </if>
      <if test="firstProjTypeName != null" >
        #{firstProjTypeName,jdbcType=VARCHAR},
      </if>
      <if test="firstScoreItemId != null" >
        #{firstScoreItemId,jdbcType=VARCHAR},
      </if>
      <if test="firstScoreItemName != null" >
        #{firstScoreItemName,jdbcType=VARCHAR},
      </if>
      <if test="firstExecutionId != null" >
        #{firstExecutionId,jdbcType=VARCHAR},
      </if>
      <if test="firstExecutionName != null" >
        #{firstExecutionName,jdbcType=VARCHAR},
      </if>
      <if test="firstScore != null" >
        #{firstScore,jdbcType=VARCHAR},
      </if>
      <if test="firstMaxScore != null" >
        #{firstMaxScore,jdbcType=VARCHAR},
      </if>
      <if test="firstMiurAuditFlag != null" >
        #{firstMiurAuditFlag,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null" >
        #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userDeptFlow != null" >
        #{userDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="userDeptName != null" >
        #{userDeptName,jdbcType=VARCHAR},
      </if>
      <if test="scoreName != null" >
        #{scoreName,jdbcType=VARCHAR},
      </if>
      <if test="scoreNumber != null" >
        #{scoreNumber,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="instruction != null" >
        #{instruction,jdbcType=VARCHAR},
      </if>
      <if test="myScore != null" >
        #{myScore,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusId != null" >
        #{auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusName != null" >
        #{auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="headerAuditStatusId != null" >
        #{headerAuditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="headerAuditStatusName != null" >
        #{headerAuditStatusName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.FstuScoreMainExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.FSTU_SCORE_MAIN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.FSTU_SCORE_MAIN
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.configRecordFlow != null" >
        CONFIG_RECORD_FLOW = #{record.configRecordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.firstScoreTypeId != null" >
        FIRST_SCORE_TYPE_ID = #{record.firstScoreTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.firstScoreTypeName != null" >
        FIRST_SCORE_TYPE_NAME = #{record.firstScoreTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.firstProjTypeId != null" >
        FIRST_PROJ_TYPE_ID = #{record.firstProjTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.firstProjTypeName != null" >
        FIRST_PROJ_TYPE_NAME = #{record.firstProjTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.firstScoreItemId != null" >
        FIRST_SCORE_ITEM_ID = #{record.firstScoreItemId,jdbcType=VARCHAR},
      </if>
      <if test="record.firstScoreItemName != null" >
        FIRST_SCORE_ITEM_NAME = #{record.firstScoreItemName,jdbcType=VARCHAR},
      </if>
      <if test="record.firstExecutionId != null" >
        FIRST_EXECUTION_ID = #{record.firstExecutionId,jdbcType=VARCHAR},
      </if>
      <if test="record.firstExecutionName != null" >
        FIRST_EXECUTION_NAME = #{record.firstExecutionName,jdbcType=VARCHAR},
      </if>
      <if test="record.firstScore != null" >
        FIRST_SCORE = #{record.firstScore,jdbcType=VARCHAR},
      </if>
      <if test="record.firstMaxScore != null" >
        FIRST_MAX_SCORE = #{record.firstMaxScore,jdbcType=VARCHAR},
      </if>
      <if test="record.firstMiurAuditFlag != null" >
        FIRST_MIUR_AUDIT_FLAG = #{record.firstMiurAuditFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.sessionNumber != null" >
        SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.userFlow != null" >
        USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userCode != null" >
        USER_CODE = #{record.userCode,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userDeptFlow != null" >
        USER_DEPT_FLOW = #{record.userDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userDeptName != null" >
        USER_DEPT_NAME = #{record.userDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreName != null" >
        SCORE_NAME = #{record.scoreName,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreNumber != null" >
        SCORE_NUMBER = #{record.scoreNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.beginTime != null" >
        BEGIN_TIME = #{record.beginTime,jdbcType=VARCHAR},
      </if>
      <if test="record.endTime != null" >
        END_TIME = #{record.endTime,jdbcType=VARCHAR},
      </if>
      <if test="record.instruction != null" >
        INSTRUCTION = #{record.instruction,jdbcType=VARCHAR},
      </if>
      <if test="record.myScore != null" >
        MY_SCORE = #{record.myScore,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatusId != null" >
        AUDIT_STATUS_ID = #{record.auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatusName != null" >
        AUDIT_STATUS_NAME = #{record.auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.headerAuditStatusId != null" >
        HEADER_AUDIT_STATUS_ID = #{record.headerAuditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.headerAuditStatusName != null" >
        HEADER_AUDIT_STATUS_NAME = #{record.headerAuditStatusName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.FSTU_SCORE_MAIN
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      CONFIG_RECORD_FLOW = #{record.configRecordFlow,jdbcType=VARCHAR},
      FIRST_SCORE_TYPE_ID = #{record.firstScoreTypeId,jdbcType=VARCHAR},
      FIRST_SCORE_TYPE_NAME = #{record.firstScoreTypeName,jdbcType=VARCHAR},
      FIRST_PROJ_TYPE_ID = #{record.firstProjTypeId,jdbcType=VARCHAR},
      FIRST_PROJ_TYPE_NAME = #{record.firstProjTypeName,jdbcType=VARCHAR},
      FIRST_SCORE_ITEM_ID = #{record.firstScoreItemId,jdbcType=VARCHAR},
      FIRST_SCORE_ITEM_NAME = #{record.firstScoreItemName,jdbcType=VARCHAR},
      FIRST_EXECUTION_ID = #{record.firstExecutionId,jdbcType=VARCHAR},
      FIRST_EXECUTION_NAME = #{record.firstExecutionName,jdbcType=VARCHAR},
      FIRST_SCORE = #{record.firstScore,jdbcType=VARCHAR},
      FIRST_MAX_SCORE = #{record.firstMaxScore,jdbcType=VARCHAR},
      FIRST_MIUR_AUDIT_FLAG = #{record.firstMiurAuditFlag,jdbcType=VARCHAR},
      SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      USER_CODE = #{record.userCode,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      USER_DEPT_FLOW = #{record.userDeptFlow,jdbcType=VARCHAR},
      USER_DEPT_NAME = #{record.userDeptName,jdbcType=VARCHAR},
      SCORE_NAME = #{record.scoreName,jdbcType=VARCHAR},
      SCORE_NUMBER = #{record.scoreNumber,jdbcType=VARCHAR},
      BEGIN_TIME = #{record.beginTime,jdbcType=VARCHAR},
      END_TIME = #{record.endTime,jdbcType=VARCHAR},
      INSTRUCTION = #{record.instruction,jdbcType=VARCHAR},
      MY_SCORE = #{record.myScore,jdbcType=VARCHAR},
      AUDIT_STATUS_ID = #{record.auditStatusId,jdbcType=VARCHAR},
      AUDIT_STATUS_NAME = #{record.auditStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      HEADER_AUDIT_STATUS_ID = #{record.headerAuditStatusId,jdbcType=VARCHAR},
      HEADER_AUDIT_STATUS_NAME = #{record.headerAuditStatusName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.FstuScoreMain" >
    update PDSCI.FSTU_SCORE_MAIN
    <set >
      <if test="configRecordFlow != null" >
        CONFIG_RECORD_FLOW = #{configRecordFlow,jdbcType=VARCHAR},
      </if>
      <if test="firstScoreTypeId != null" >
        FIRST_SCORE_TYPE_ID = #{firstScoreTypeId,jdbcType=VARCHAR},
      </if>
      <if test="firstScoreTypeName != null" >
        FIRST_SCORE_TYPE_NAME = #{firstScoreTypeName,jdbcType=VARCHAR},
      </if>
      <if test="firstProjTypeId != null" >
        FIRST_PROJ_TYPE_ID = #{firstProjTypeId,jdbcType=VARCHAR},
      </if>
      <if test="firstProjTypeName != null" >
        FIRST_PROJ_TYPE_NAME = #{firstProjTypeName,jdbcType=VARCHAR},
      </if>
      <if test="firstScoreItemId != null" >
        FIRST_SCORE_ITEM_ID = #{firstScoreItemId,jdbcType=VARCHAR},
      </if>
      <if test="firstScoreItemName != null" >
        FIRST_SCORE_ITEM_NAME = #{firstScoreItemName,jdbcType=VARCHAR},
      </if>
      <if test="firstExecutionId != null" >
        FIRST_EXECUTION_ID = #{firstExecutionId,jdbcType=VARCHAR},
      </if>
      <if test="firstExecutionName != null" >
        FIRST_EXECUTION_NAME = #{firstExecutionName,jdbcType=VARCHAR},
      </if>
      <if test="firstScore != null" >
        FIRST_SCORE = #{firstScore,jdbcType=VARCHAR},
      </if>
      <if test="firstMaxScore != null" >
        FIRST_MAX_SCORE = #{firstMaxScore,jdbcType=VARCHAR},
      </if>
      <if test="firstMiurAuditFlag != null" >
        FIRST_MIUR_AUDIT_FLAG = #{firstMiurAuditFlag,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null" >
        USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        USER_CODE = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userDeptFlow != null" >
        USER_DEPT_FLOW = #{userDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="userDeptName != null" >
        USER_DEPT_NAME = #{userDeptName,jdbcType=VARCHAR},
      </if>
      <if test="scoreName != null" >
        SCORE_NAME = #{scoreName,jdbcType=VARCHAR},
      </if>
      <if test="scoreNumber != null" >
        SCORE_NUMBER = #{scoreNumber,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        BEGIN_TIME = #{beginTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="instruction != null" >
        INSTRUCTION = #{instruction,jdbcType=VARCHAR},
      </if>
      <if test="myScore != null" >
        MY_SCORE = #{myScore,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusId != null" >
        AUDIT_STATUS_ID = #{auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusName != null" >
        AUDIT_STATUS_NAME = #{auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="headerAuditStatusId != null" >
        HEADER_AUDIT_STATUS_ID = #{headerAuditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="headerAuditStatusName != null" >
        HEADER_AUDIT_STATUS_NAME = #{headerAuditStatusName,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.FstuScoreMain" >
    update PDSCI.FSTU_SCORE_MAIN
    set CONFIG_RECORD_FLOW = #{configRecordFlow,jdbcType=VARCHAR},
      FIRST_SCORE_TYPE_ID = #{firstScoreTypeId,jdbcType=VARCHAR},
      FIRST_SCORE_TYPE_NAME = #{firstScoreTypeName,jdbcType=VARCHAR},
      FIRST_PROJ_TYPE_ID = #{firstProjTypeId,jdbcType=VARCHAR},
      FIRST_PROJ_TYPE_NAME = #{firstProjTypeName,jdbcType=VARCHAR},
      FIRST_SCORE_ITEM_ID = #{firstScoreItemId,jdbcType=VARCHAR},
      FIRST_SCORE_ITEM_NAME = #{firstScoreItemName,jdbcType=VARCHAR},
      FIRST_EXECUTION_ID = #{firstExecutionId,jdbcType=VARCHAR},
      FIRST_EXECUTION_NAME = #{firstExecutionName,jdbcType=VARCHAR},
      FIRST_SCORE = #{firstScore,jdbcType=VARCHAR},
      FIRST_MAX_SCORE = #{firstMaxScore,jdbcType=VARCHAR},
      FIRST_MIUR_AUDIT_FLAG = #{firstMiurAuditFlag,jdbcType=VARCHAR},
      SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      USER_CODE = #{userCode,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_DEPT_FLOW = #{userDeptFlow,jdbcType=VARCHAR},
      USER_DEPT_NAME = #{userDeptName,jdbcType=VARCHAR},
      SCORE_NAME = #{scoreName,jdbcType=VARCHAR},
      SCORE_NUMBER = #{scoreNumber,jdbcType=VARCHAR},
      BEGIN_TIME = #{beginTime,jdbcType=VARCHAR},
      END_TIME = #{endTime,jdbcType=VARCHAR},
      INSTRUCTION = #{instruction,jdbcType=VARCHAR},
      MY_SCORE = #{myScore,jdbcType=VARCHAR},
      AUDIT_STATUS_ID = #{auditStatusId,jdbcType=VARCHAR},
      AUDIT_STATUS_NAME = #{auditStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      HEADER_AUDIT_STATUS_ID = #{headerAuditStatusId,jdbcType=VARCHAR},
      HEADER_AUDIT_STATUS_NAME = #{headerAuditStatusName,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>