<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.FstuProjMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.FstuProj">
    <id column="PROJ_FLOW" jdbcType="VARCHAR" property="projFlow" />
    <result column="PROJ_NAME" jdbcType="VARCHAR" property="projName" />
    <result column="PROJ_NO" jdbcType="VARCHAR" property="projNo" />
    <result column="PROJ_YEAR" jdbcType="VARCHAR" property="projYear" />
    <result column="PROJ_LEVEL_ID" jdbcType="VARCHAR" property="projLevelId" />
    <result column="PROJ_LEVEL_NAME" jdbcType="VARCHAR" property="projLevelName" />
    <result column="PROJ_SUBJECT" jdbcType="VARCHAR" property="projSubject" />
    <result column="PROJ_SUBJECT_ID" jdbcType="VARCHAR" property="projSubjectId" />
    <result column="PROJ_START_TIME" jdbcType="VARCHAR" property="projStartTime" />
    <result column="PROJ_END_TIME" jdbcType="VARCHAR" property="projEndTime" />
    <result column="APPLY_ORG_FLOW" jdbcType="VARCHAR" property="applyOrgFlow" />
    <result column="APPLY_ORG_NAME" jdbcType="VARCHAR" property="applyOrgName" />
    <result column="APPLY_USER_FLOW" jdbcType="VARCHAR" property="applyUserFlow" />
    <result column="APPLY_USER_NAME" jdbcType="VARCHAR" property="applyUserName" />
    <result column="PROJ_PHONE" jdbcType="VARCHAR" property="projPhone" />
    <result column="PROJ_HOLD_ADDRESS" jdbcType="VARCHAR" property="projHoldAddress" />
    <result column="APPLY_SCORE" jdbcType="VARCHAR" property="applyScore" />
    <result column="TEACHING_OBJECT" jdbcType="VARCHAR" property="teachingObject" />
    <result column="TEACHING_OBJECT_ID" jdbcType="VARCHAR" property="teachingObjectId" />
    <result column="RECRUIT_NUM" jdbcType="DECIMAL" property="recruitNum" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="ORG_FLOW" jdbcType="VARCHAR" property="orgFlow" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="ISCLOSED" jdbcType="VARCHAR" property="isclosed" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="PROJ_EMAIL" jdbcType="VARCHAR" property="projEmail" />
    <result column="ATTEN_NAME" jdbcType="VARCHAR" property="attenName" />
    <result column="ATTEN_PHONE" jdbcType="VARCHAR" property="attenPhone" />
    <result column="ACASCORE_TYPE_ID" jdbcType="VARCHAR" property="acascoreTypeId" />
    <result column="ACASCORE_TYPE_NAME" jdbcType="VARCHAR" property="acascoreTypeName" />
    <result column="ACCEPT_ORG_FLOW" jdbcType="VARCHAR" property="acceptOrgFlow" />
    <result column="ACCEPT_ORG_NAME" jdbcType="VARCHAR" property="acceptOrgName" />
    <result column="PROJ_TYPE_ID" jdbcType="VARCHAR" property="projTypeId" />
    <result column="PROJ_TYPE_NAME" jdbcType="VARCHAR" property="projTypeName" />
    <result column="PRACTICE_MODE" jdbcType="VARCHAR" property="practiceMode" />
    <result column="DECLARE_RESULT" jdbcType="VARCHAR" property="declareResult" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PROJ_FLOW, PROJ_NAME, PROJ_NO, PROJ_YEAR, PROJ_LEVEL_ID, PROJ_LEVEL_NAME, PROJ_SUBJECT, 
    PROJ_SUBJECT_ID, PROJ_START_TIME, PROJ_END_TIME, APPLY_ORG_FLOW, APPLY_ORG_NAME, 
    APPLY_USER_FLOW, APPLY_USER_NAME, PROJ_PHONE, PROJ_HOLD_ADDRESS, APPLY_SCORE, TEACHING_OBJECT, 
    TEACHING_OBJECT_ID, RECRUIT_NUM, REMARK, ORG_FLOW, ORG_NAME, ISCLOSED, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, PROJ_EMAIL, ATTEN_NAME, 
    ATTEN_PHONE, ACASCORE_TYPE_ID, ACASCORE_TYPE_NAME, ACCEPT_ORG_FLOW, ACCEPT_ORG_NAME, 
    PROJ_TYPE_ID, PROJ_TYPE_NAME, PRACTICE_MODE, DECLARE_RESULT
  </sql>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.FstuProjExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.FSTU_PROJ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PDSCI.FSTU_PROJ
    where PROJ_FLOW = #{projFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.FSTU_PROJ
    where PROJ_FLOW = #{projFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.FstuProjExample">
    delete from PDSCI.FSTU_PROJ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.FstuProj">
    insert into PDSCI.FSTU_PROJ (PROJ_FLOW, PROJ_NAME, PROJ_NO, 
      PROJ_YEAR, PROJ_LEVEL_ID, PROJ_LEVEL_NAME, 
      PROJ_SUBJECT, PROJ_SUBJECT_ID, PROJ_START_TIME, 
      PROJ_END_TIME, APPLY_ORG_FLOW, APPLY_ORG_NAME, 
      APPLY_USER_FLOW, APPLY_USER_NAME, PROJ_PHONE, 
      PROJ_HOLD_ADDRESS, APPLY_SCORE, TEACHING_OBJECT, 
      TEACHING_OBJECT_ID, RECRUIT_NUM, REMARK, 
      ORG_FLOW, ORG_NAME, ISCLOSED, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, PROJ_EMAIL, 
      ATTEN_NAME, ATTEN_PHONE, ACASCORE_TYPE_ID, 
      ACASCORE_TYPE_NAME, ACCEPT_ORG_FLOW, ACCEPT_ORG_NAME, 
      PROJ_TYPE_ID, PROJ_TYPE_NAME, PRACTICE_MODE, 
      DECLARE_RESULT)
    values (#{projFlow,jdbcType=VARCHAR}, #{projName,jdbcType=VARCHAR}, #{projNo,jdbcType=VARCHAR}, 
      #{projYear,jdbcType=VARCHAR}, #{projLevelId,jdbcType=VARCHAR}, #{projLevelName,jdbcType=VARCHAR}, 
      #{projSubject,jdbcType=VARCHAR}, #{projSubjectId,jdbcType=VARCHAR}, #{projStartTime,jdbcType=VARCHAR}, 
      #{projEndTime,jdbcType=VARCHAR}, #{applyOrgFlow,jdbcType=VARCHAR}, #{applyOrgName,jdbcType=VARCHAR}, 
      #{applyUserFlow,jdbcType=VARCHAR}, #{applyUserName,jdbcType=VARCHAR}, #{projPhone,jdbcType=VARCHAR}, 
      #{projHoldAddress,jdbcType=VARCHAR}, #{applyScore,jdbcType=VARCHAR}, #{teachingObject,jdbcType=VARCHAR}, 
      #{teachingObjectId,jdbcType=VARCHAR}, #{recruitNum,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{isclosed,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{projEmail,jdbcType=VARCHAR}, 
      #{attenName,jdbcType=VARCHAR}, #{attenPhone,jdbcType=VARCHAR}, #{acascoreTypeId,jdbcType=VARCHAR}, 
      #{acascoreTypeName,jdbcType=VARCHAR}, #{acceptOrgFlow,jdbcType=VARCHAR}, #{acceptOrgName,jdbcType=VARCHAR}, 
      #{projTypeId,jdbcType=VARCHAR}, #{projTypeName,jdbcType=VARCHAR}, #{practiceMode,jdbcType=VARCHAR}, 
      #{declareResult,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.FstuProj">
    insert into PDSCI.FSTU_PROJ
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projFlow != null">
        PROJ_FLOW,
      </if>
      <if test="projName != null">
        PROJ_NAME,
      </if>
      <if test="projNo != null">
        PROJ_NO,
      </if>
      <if test="projYear != null">
        PROJ_YEAR,
      </if>
      <if test="projLevelId != null">
        PROJ_LEVEL_ID,
      </if>
      <if test="projLevelName != null">
        PROJ_LEVEL_NAME,
      </if>
      <if test="projSubject != null">
        PROJ_SUBJECT,
      </if>
      <if test="projSubjectId != null">
        PROJ_SUBJECT_ID,
      </if>
      <if test="projStartTime != null">
        PROJ_START_TIME,
      </if>
      <if test="projEndTime != null">
        PROJ_END_TIME,
      </if>
      <if test="applyOrgFlow != null">
        APPLY_ORG_FLOW,
      </if>
      <if test="applyOrgName != null">
        APPLY_ORG_NAME,
      </if>
      <if test="applyUserFlow != null">
        APPLY_USER_FLOW,
      </if>
      <if test="applyUserName != null">
        APPLY_USER_NAME,
      </if>
      <if test="projPhone != null">
        PROJ_PHONE,
      </if>
      <if test="projHoldAddress != null">
        PROJ_HOLD_ADDRESS,
      </if>
      <if test="applyScore != null">
        APPLY_SCORE,
      </if>
      <if test="teachingObject != null">
        TEACHING_OBJECT,
      </if>
      <if test="teachingObjectId != null">
        TEACHING_OBJECT_ID,
      </if>
      <if test="recruitNum != null">
        RECRUIT_NUM,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="orgFlow != null">
        ORG_FLOW,
      </if>
      <if test="orgName != null">
        ORG_NAME,
      </if>
      <if test="isclosed != null">
        ISCLOSED,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="projEmail != null">
        PROJ_EMAIL,
      </if>
      <if test="attenName != null">
        ATTEN_NAME,
      </if>
      <if test="attenPhone != null">
        ATTEN_PHONE,
      </if>
      <if test="acascoreTypeId != null">
        ACASCORE_TYPE_ID,
      </if>
      <if test="acascoreTypeName != null">
        ACASCORE_TYPE_NAME,
      </if>
      <if test="acceptOrgFlow != null">
        ACCEPT_ORG_FLOW,
      </if>
      <if test="acceptOrgName != null">
        ACCEPT_ORG_NAME,
      </if>
      <if test="projTypeId != null">
        PROJ_TYPE_ID,
      </if>
      <if test="projTypeName != null">
        PROJ_TYPE_NAME,
      </if>
      <if test="practiceMode != null">
        PRACTICE_MODE,
      </if>
      <if test="declareResult != null">
        DECLARE_RESULT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projFlow != null">
        #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="projName != null">
        #{projName,jdbcType=VARCHAR},
      </if>
      <if test="projNo != null">
        #{projNo,jdbcType=VARCHAR},
      </if>
      <if test="projYear != null">
        #{projYear,jdbcType=VARCHAR},
      </if>
      <if test="projLevelId != null">
        #{projLevelId,jdbcType=VARCHAR},
      </if>
      <if test="projLevelName != null">
        #{projLevelName,jdbcType=VARCHAR},
      </if>
      <if test="projSubject != null">
        #{projSubject,jdbcType=VARCHAR},
      </if>
      <if test="projSubjectId != null">
        #{projSubjectId,jdbcType=VARCHAR},
      </if>
      <if test="projStartTime != null">
        #{projStartTime,jdbcType=VARCHAR},
      </if>
      <if test="projEndTime != null">
        #{projEndTime,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgFlow != null">
        #{applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgName != null">
        #{applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="applyUserFlow != null">
        #{applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyUserName != null">
        #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="projPhone != null">
        #{projPhone,jdbcType=VARCHAR},
      </if>
      <if test="projHoldAddress != null">
        #{projHoldAddress,jdbcType=VARCHAR},
      </if>
      <if test="applyScore != null">
        #{applyScore,jdbcType=VARCHAR},
      </if>
      <if test="teachingObject != null">
        #{teachingObject,jdbcType=VARCHAR},
      </if>
      <if test="teachingObjectId != null">
        #{teachingObjectId,jdbcType=VARCHAR},
      </if>
      <if test="recruitNum != null">
        #{recruitNum,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null">
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="isclosed != null">
        #{isclosed,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="projEmail != null">
        #{projEmail,jdbcType=VARCHAR},
      </if>
      <if test="attenName != null">
        #{attenName,jdbcType=VARCHAR},
      </if>
      <if test="attenPhone != null">
        #{attenPhone,jdbcType=VARCHAR},
      </if>
      <if test="acascoreTypeId != null">
        #{acascoreTypeId,jdbcType=VARCHAR},
      </if>
      <if test="acascoreTypeName != null">
        #{acascoreTypeName,jdbcType=VARCHAR},
      </if>
      <if test="acceptOrgFlow != null">
        #{acceptOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="acceptOrgName != null">
        #{acceptOrgName,jdbcType=VARCHAR},
      </if>
      <if test="projTypeId != null">
        #{projTypeId,jdbcType=VARCHAR},
      </if>
      <if test="projTypeName != null">
        #{projTypeName,jdbcType=VARCHAR},
      </if>
      <if test="practiceMode != null">
        #{practiceMode,jdbcType=VARCHAR},
      </if>
      <if test="declareResult != null">
        #{declareResult,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.FstuProjExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.FSTU_PROJ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.FSTU_PROJ
    <set>
      <if test="record.projFlow != null">
        PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projName != null">
        PROJ_NAME = #{record.projName,jdbcType=VARCHAR},
      </if>
      <if test="record.projNo != null">
        PROJ_NO = #{record.projNo,jdbcType=VARCHAR},
      </if>
      <if test="record.projYear != null">
        PROJ_YEAR = #{record.projYear,jdbcType=VARCHAR},
      </if>
      <if test="record.projLevelId != null">
        PROJ_LEVEL_ID = #{record.projLevelId,jdbcType=VARCHAR},
      </if>
      <if test="record.projLevelName != null">
        PROJ_LEVEL_NAME = #{record.projLevelName,jdbcType=VARCHAR},
      </if>
      <if test="record.projSubject != null">
        PROJ_SUBJECT = #{record.projSubject,jdbcType=VARCHAR},
      </if>
      <if test="record.projSubjectId != null">
        PROJ_SUBJECT_ID = #{record.projSubjectId,jdbcType=VARCHAR},
      </if>
      <if test="record.projStartTime != null">
        PROJ_START_TIME = #{record.projStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.projEndTime != null">
        PROJ_END_TIME = #{record.projEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.applyOrgFlow != null">
        APPLY_ORG_FLOW = #{record.applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.applyOrgName != null">
        APPLY_ORG_NAME = #{record.applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserFlow != null">
        APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserName != null">
        APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.projPhone != null">
        PROJ_PHONE = #{record.projPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.projHoldAddress != null">
        PROJ_HOLD_ADDRESS = #{record.projHoldAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.applyScore != null">
        APPLY_SCORE = #{record.applyScore,jdbcType=VARCHAR},
      </if>
      <if test="record.teachingObject != null">
        TEACHING_OBJECT = #{record.teachingObject,jdbcType=VARCHAR},
      </if>
      <if test="record.teachingObjectId != null">
        TEACHING_OBJECT_ID = #{record.teachingObjectId,jdbcType=VARCHAR},
      </if>
      <if test="record.recruitNum != null">
        RECRUIT_NUM = #{record.recruitNum,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null">
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null">
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.isclosed != null">
        ISCLOSED = #{record.isclosed,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projEmail != null">
        PROJ_EMAIL = #{record.projEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.attenName != null">
        ATTEN_NAME = #{record.attenName,jdbcType=VARCHAR},
      </if>
      <if test="record.attenPhone != null">
        ATTEN_PHONE = #{record.attenPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.acascoreTypeId != null">
        ACASCORE_TYPE_ID = #{record.acascoreTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.acascoreTypeName != null">
        ACASCORE_TYPE_NAME = #{record.acascoreTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.acceptOrgFlow != null">
        ACCEPT_ORG_FLOW = #{record.acceptOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.acceptOrgName != null">
        ACCEPT_ORG_NAME = #{record.acceptOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.projTypeId != null">
        PROJ_TYPE_ID = #{record.projTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.projTypeName != null">
        PROJ_TYPE_NAME = #{record.projTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.practiceMode != null">
        PRACTICE_MODE = #{record.practiceMode,jdbcType=VARCHAR},
      </if>
      <if test="record.declareResult != null">
        DECLARE_RESULT = #{record.declareResult,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.FSTU_PROJ
    set PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      PROJ_NAME = #{record.projName,jdbcType=VARCHAR},
      PROJ_NO = #{record.projNo,jdbcType=VARCHAR},
      PROJ_YEAR = #{record.projYear,jdbcType=VARCHAR},
      PROJ_LEVEL_ID = #{record.projLevelId,jdbcType=VARCHAR},
      PROJ_LEVEL_NAME = #{record.projLevelName,jdbcType=VARCHAR},
      PROJ_SUBJECT = #{record.projSubject,jdbcType=VARCHAR},
      PROJ_SUBJECT_ID = #{record.projSubjectId,jdbcType=VARCHAR},
      PROJ_START_TIME = #{record.projStartTime,jdbcType=VARCHAR},
      PROJ_END_TIME = #{record.projEndTime,jdbcType=VARCHAR},
      APPLY_ORG_FLOW = #{record.applyOrgFlow,jdbcType=VARCHAR},
      APPLY_ORG_NAME = #{record.applyOrgName,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      PROJ_PHONE = #{record.projPhone,jdbcType=VARCHAR},
      PROJ_HOLD_ADDRESS = #{record.projHoldAddress,jdbcType=VARCHAR},
      APPLY_SCORE = #{record.applyScore,jdbcType=VARCHAR},
      TEACHING_OBJECT = #{record.teachingObject,jdbcType=VARCHAR},
      TEACHING_OBJECT_ID = #{record.teachingObjectId,jdbcType=VARCHAR},
      RECRUIT_NUM = #{record.recruitNum,jdbcType=DECIMAL},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      ISCLOSED = #{record.isclosed,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      PROJ_EMAIL = #{record.projEmail,jdbcType=VARCHAR},
      ATTEN_NAME = #{record.attenName,jdbcType=VARCHAR},
      ATTEN_PHONE = #{record.attenPhone,jdbcType=VARCHAR},
      ACASCORE_TYPE_ID = #{record.acascoreTypeId,jdbcType=VARCHAR},
      ACASCORE_TYPE_NAME = #{record.acascoreTypeName,jdbcType=VARCHAR},
      ACCEPT_ORG_FLOW = #{record.acceptOrgFlow,jdbcType=VARCHAR},
      ACCEPT_ORG_NAME = #{record.acceptOrgName,jdbcType=VARCHAR},
      PROJ_TYPE_ID = #{record.projTypeId,jdbcType=VARCHAR},
      PROJ_TYPE_NAME = #{record.projTypeName,jdbcType=VARCHAR},
      PRACTICE_MODE = #{record.practiceMode,jdbcType=VARCHAR},
      DECLARE_RESULT = #{record.declareResult,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.FstuProj">
    update PDSCI.FSTU_PROJ
    <set>
      <if test="projName != null">
        PROJ_NAME = #{projName,jdbcType=VARCHAR},
      </if>
      <if test="projNo != null">
        PROJ_NO = #{projNo,jdbcType=VARCHAR},
      </if>
      <if test="projYear != null">
        PROJ_YEAR = #{projYear,jdbcType=VARCHAR},
      </if>
      <if test="projLevelId != null">
        PROJ_LEVEL_ID = #{projLevelId,jdbcType=VARCHAR},
      </if>
      <if test="projLevelName != null">
        PROJ_LEVEL_NAME = #{projLevelName,jdbcType=VARCHAR},
      </if>
      <if test="projSubject != null">
        PROJ_SUBJECT = #{projSubject,jdbcType=VARCHAR},
      </if>
      <if test="projSubjectId != null">
        PROJ_SUBJECT_ID = #{projSubjectId,jdbcType=VARCHAR},
      </if>
      <if test="projStartTime != null">
        PROJ_START_TIME = #{projStartTime,jdbcType=VARCHAR},
      </if>
      <if test="projEndTime != null">
        PROJ_END_TIME = #{projEndTime,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgFlow != null">
        APPLY_ORG_FLOW = #{applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgName != null">
        APPLY_ORG_NAME = #{applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="applyUserFlow != null">
        APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyUserName != null">
        APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="projPhone != null">
        PROJ_PHONE = #{projPhone,jdbcType=VARCHAR},
      </if>
      <if test="projHoldAddress != null">
        PROJ_HOLD_ADDRESS = #{projHoldAddress,jdbcType=VARCHAR},
      </if>
      <if test="applyScore != null">
        APPLY_SCORE = #{applyScore,jdbcType=VARCHAR},
      </if>
      <if test="teachingObject != null">
        TEACHING_OBJECT = #{teachingObject,jdbcType=VARCHAR},
      </if>
      <if test="teachingObjectId != null">
        TEACHING_OBJECT_ID = #{teachingObjectId,jdbcType=VARCHAR},
      </if>
      <if test="recruitNum != null">
        RECRUIT_NUM = #{recruitNum,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null">
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="isclosed != null">
        ISCLOSED = #{isclosed,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="projEmail != null">
        PROJ_EMAIL = #{projEmail,jdbcType=VARCHAR},
      </if>
      <if test="attenName != null">
        ATTEN_NAME = #{attenName,jdbcType=VARCHAR},
      </if>
      <if test="attenPhone != null">
        ATTEN_PHONE = #{attenPhone,jdbcType=VARCHAR},
      </if>
      <if test="acascoreTypeId != null">
        ACASCORE_TYPE_ID = #{acascoreTypeId,jdbcType=VARCHAR},
      </if>
      <if test="acascoreTypeName != null">
        ACASCORE_TYPE_NAME = #{acascoreTypeName,jdbcType=VARCHAR},
      </if>
      <if test="acceptOrgFlow != null">
        ACCEPT_ORG_FLOW = #{acceptOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="acceptOrgName != null">
        ACCEPT_ORG_NAME = #{acceptOrgName,jdbcType=VARCHAR},
      </if>
      <if test="projTypeId != null">
        PROJ_TYPE_ID = #{projTypeId,jdbcType=VARCHAR},
      </if>
      <if test="projTypeName != null">
        PROJ_TYPE_NAME = #{projTypeName,jdbcType=VARCHAR},
      </if>
      <if test="practiceMode != null">
        PRACTICE_MODE = #{practiceMode,jdbcType=VARCHAR},
      </if>
      <if test="declareResult != null">
        DECLARE_RESULT = #{declareResult,jdbcType=VARCHAR},
      </if>
    </set>
    where PROJ_FLOW = #{projFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.FstuProj">
    update PDSCI.FSTU_PROJ
    set PROJ_NAME = #{projName,jdbcType=VARCHAR},
      PROJ_NO = #{projNo,jdbcType=VARCHAR},
      PROJ_YEAR = #{projYear,jdbcType=VARCHAR},
      PROJ_LEVEL_ID = #{projLevelId,jdbcType=VARCHAR},
      PROJ_LEVEL_NAME = #{projLevelName,jdbcType=VARCHAR},
      PROJ_SUBJECT = #{projSubject,jdbcType=VARCHAR},
      PROJ_SUBJECT_ID = #{projSubjectId,jdbcType=VARCHAR},
      PROJ_START_TIME = #{projStartTime,jdbcType=VARCHAR},
      PROJ_END_TIME = #{projEndTime,jdbcType=VARCHAR},
      APPLY_ORG_FLOW = #{applyOrgFlow,jdbcType=VARCHAR},
      APPLY_ORG_NAME = #{applyOrgName,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      PROJ_PHONE = #{projPhone,jdbcType=VARCHAR},
      PROJ_HOLD_ADDRESS = #{projHoldAddress,jdbcType=VARCHAR},
      APPLY_SCORE = #{applyScore,jdbcType=VARCHAR},
      TEACHING_OBJECT = #{teachingObject,jdbcType=VARCHAR},
      TEACHING_OBJECT_ID = #{teachingObjectId,jdbcType=VARCHAR},
      RECRUIT_NUM = #{recruitNum,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      ISCLOSED = #{isclosed,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      PROJ_EMAIL = #{projEmail,jdbcType=VARCHAR},
      ATTEN_NAME = #{attenName,jdbcType=VARCHAR},
      ATTEN_PHONE = #{attenPhone,jdbcType=VARCHAR},
      ACASCORE_TYPE_ID = #{acascoreTypeId,jdbcType=VARCHAR},
      ACASCORE_TYPE_NAME = #{acascoreTypeName,jdbcType=VARCHAR},
      ACCEPT_ORG_FLOW = #{acceptOrgFlow,jdbcType=VARCHAR},
      ACCEPT_ORG_NAME = #{acceptOrgName,jdbcType=VARCHAR},
      PROJ_TYPE_ID = #{projTypeId,jdbcType=VARCHAR},
      PROJ_TYPE_NAME = #{projTypeName,jdbcType=VARCHAR},
      PRACTICE_MODE = #{practiceMode,jdbcType=VARCHAR},
      DECLARE_RESULT = #{declareResult,jdbcType=VARCHAR}
    where PROJ_FLOW = #{projFlow,jdbcType=VARCHAR}
  </update>
</mapper>