<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.GcpContractMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.GcpContract" >
    <id column="CONTRACT_FLOW" property="contractFlow" jdbcType="VARCHAR" />
    <result column="CONTRACT_NAME" property="contractName" jdbcType="VARCHAR" />
    <result column="PROJ_FLOW" property="projFlow" jdbcType="VARCHAR" />
    <result column="PROJ_NAME" property="projName" jdbcType="VARCHAR" />
    <result column="PROJ_SHORT_NAME" property="projShortName" jdbcType="VARCHAR" />
    <result column="PROJ_SUB_TYPE_ID" property="projSubTypeId" jdbcType="VARCHAR" />
    <result column="PROJ_SUB_TYPE_NAME" property="projSubTypeName" jdbcType="VARCHAR" />
    <result column="PROJ_DECLARER" property="projDeclarer" jdbcType="VARCHAR" />
    <result column="PROJ_SHORT_DECLARER" property="projShortDeclarer" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="CONTRACT_TYPE_ID" property="contractTypeId" jdbcType="VARCHAR" />
    <result column="CONTRACT_TYPE_NAME" property="contractTypeName" jdbcType="VARCHAR" />
    <result column="CONTRACT_FUND" property="contractFund" jdbcType="DECIMAL" />
    <result column="CONTRACT_NO" property="contractNo" jdbcType="VARCHAR" />
    <result column="CASE_NUMBER" property="caseNumber" jdbcType="DECIMAL" />
    <result column="CONTRACT_COPIES" property="contractCopies" jdbcType="DECIMAL" />
    <result column="STAMP_DATE" property="stampDate" jdbcType="VARCHAR" />
    <result column="CONTRACT_FILE" property="contractFile" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CONTRACT_FLOW, CONTRACT_NAME, PROJ_FLOW, PROJ_NAME, PROJ_SHORT_NAME, PROJ_SUB_TYPE_ID, 
    PROJ_SUB_TYPE_NAME, PROJ_DECLARER, PROJ_SHORT_DECLARER, ORG_FLOW, CONTRACT_TYPE_ID, 
    CONTRACT_TYPE_NAME, CONTRACT_FUND, CONTRACT_NO, CASE_NUMBER, CONTRACT_COPIES, STAMP_DATE, 
    CONTRACT_FILE, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.GcpContractExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.GCP_CONTRACT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.GCP_CONTRACT
    where CONTRACT_FLOW = #{contractFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.GCP_CONTRACT
    where CONTRACT_FLOW = #{contractFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.GcpContractExample" >
    delete from PDSCI.GCP_CONTRACT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.GcpContract" >
    insert into PDSCI.GCP_CONTRACT (CONTRACT_FLOW, CONTRACT_NAME, PROJ_FLOW, 
      PROJ_NAME, PROJ_SHORT_NAME, PROJ_SUB_TYPE_ID, 
      PROJ_SUB_TYPE_NAME, PROJ_DECLARER, PROJ_SHORT_DECLARER, 
      ORG_FLOW, CONTRACT_TYPE_ID, CONTRACT_TYPE_NAME, 
      CONTRACT_FUND, CONTRACT_NO, CASE_NUMBER, 
      CONTRACT_COPIES, STAMP_DATE, CONTRACT_FILE, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{contractFlow,jdbcType=VARCHAR}, #{contractName,jdbcType=VARCHAR}, #{projFlow,jdbcType=VARCHAR}, 
      #{projName,jdbcType=VARCHAR}, #{projShortName,jdbcType=VARCHAR}, #{projSubTypeId,jdbcType=VARCHAR}, 
      #{projSubTypeName,jdbcType=VARCHAR}, #{projDeclarer,jdbcType=VARCHAR}, #{projShortDeclarer,jdbcType=VARCHAR}, 
      #{orgFlow,jdbcType=VARCHAR}, #{contractTypeId,jdbcType=VARCHAR}, #{contractTypeName,jdbcType=VARCHAR}, 
      #{contractFund,jdbcType=DECIMAL}, #{contractNo,jdbcType=VARCHAR}, #{caseNumber,jdbcType=DECIMAL}, 
      #{contractCopies,jdbcType=DECIMAL}, #{stampDate,jdbcType=VARCHAR}, #{contractFile,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.GcpContract" >
    insert into PDSCI.GCP_CONTRACT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contractFlow != null" >
        CONTRACT_FLOW,
      </if>
      <if test="contractName != null" >
        CONTRACT_NAME,
      </if>
      <if test="projFlow != null" >
        PROJ_FLOW,
      </if>
      <if test="projName != null" >
        PROJ_NAME,
      </if>
      <if test="projShortName != null" >
        PROJ_SHORT_NAME,
      </if>
      <if test="projSubTypeId != null" >
        PROJ_SUB_TYPE_ID,
      </if>
      <if test="projSubTypeName != null" >
        PROJ_SUB_TYPE_NAME,
      </if>
      <if test="projDeclarer != null" >
        PROJ_DECLARER,
      </if>
      <if test="projShortDeclarer != null" >
        PROJ_SHORT_DECLARER,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="contractTypeId != null" >
        CONTRACT_TYPE_ID,
      </if>
      <if test="contractTypeName != null" >
        CONTRACT_TYPE_NAME,
      </if>
      <if test="contractFund != null" >
        CONTRACT_FUND,
      </if>
      <if test="contractNo != null" >
        CONTRACT_NO,
      </if>
      <if test="caseNumber != null" >
        CASE_NUMBER,
      </if>
      <if test="contractCopies != null" >
        CONTRACT_COPIES,
      </if>
      <if test="stampDate != null" >
        STAMP_DATE,
      </if>
      <if test="contractFile != null" >
        CONTRACT_FILE,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contractFlow != null" >
        #{contractFlow,jdbcType=VARCHAR},
      </if>
      <if test="contractName != null" >
        #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="projFlow != null" >
        #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="projName != null" >
        #{projName,jdbcType=VARCHAR},
      </if>
      <if test="projShortName != null" >
        #{projShortName,jdbcType=VARCHAR},
      </if>
      <if test="projSubTypeId != null" >
        #{projSubTypeId,jdbcType=VARCHAR},
      </if>
      <if test="projSubTypeName != null" >
        #{projSubTypeName,jdbcType=VARCHAR},
      </if>
      <if test="projDeclarer != null" >
        #{projDeclarer,jdbcType=VARCHAR},
      </if>
      <if test="projShortDeclarer != null" >
        #{projShortDeclarer,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="contractTypeId != null" >
        #{contractTypeId,jdbcType=VARCHAR},
      </if>
      <if test="contractTypeName != null" >
        #{contractTypeName,jdbcType=VARCHAR},
      </if>
      <if test="contractFund != null" >
        #{contractFund,jdbcType=DECIMAL},
      </if>
      <if test="contractNo != null" >
        #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="caseNumber != null" >
        #{caseNumber,jdbcType=DECIMAL},
      </if>
      <if test="contractCopies != null" >
        #{contractCopies,jdbcType=DECIMAL},
      </if>
      <if test="stampDate != null" >
        #{stampDate,jdbcType=VARCHAR},
      </if>
      <if test="contractFile != null" >
        #{contractFile,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.GcpContractExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.GCP_CONTRACT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.GCP_CONTRACT
    <set >
      <if test="record.contractFlow != null" >
        CONTRACT_FLOW = #{record.contractFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.contractName != null" >
        CONTRACT_NAME = #{record.contractName,jdbcType=VARCHAR},
      </if>
      <if test="record.projFlow != null" >
        PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projName != null" >
        PROJ_NAME = #{record.projName,jdbcType=VARCHAR},
      </if>
      <if test="record.projShortName != null" >
        PROJ_SHORT_NAME = #{record.projShortName,jdbcType=VARCHAR},
      </if>
      <if test="record.projSubTypeId != null" >
        PROJ_SUB_TYPE_ID = #{record.projSubTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.projSubTypeName != null" >
        PROJ_SUB_TYPE_NAME = #{record.projSubTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.projDeclarer != null" >
        PROJ_DECLARER = #{record.projDeclarer,jdbcType=VARCHAR},
      </if>
      <if test="record.projShortDeclarer != null" >
        PROJ_SHORT_DECLARER = #{record.projShortDeclarer,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.contractTypeId != null" >
        CONTRACT_TYPE_ID = #{record.contractTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.contractTypeName != null" >
        CONTRACT_TYPE_NAME = #{record.contractTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.contractFund != null" >
        CONTRACT_FUND = #{record.contractFund,jdbcType=DECIMAL},
      </if>
      <if test="record.contractNo != null" >
        CONTRACT_NO = #{record.contractNo,jdbcType=VARCHAR},
      </if>
      <if test="record.caseNumber != null" >
        CASE_NUMBER = #{record.caseNumber,jdbcType=DECIMAL},
      </if>
      <if test="record.contractCopies != null" >
        CONTRACT_COPIES = #{record.contractCopies,jdbcType=DECIMAL},
      </if>
      <if test="record.stampDate != null" >
        STAMP_DATE = #{record.stampDate,jdbcType=VARCHAR},
      </if>
      <if test="record.contractFile != null" >
        CONTRACT_FILE = #{record.contractFile,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.GCP_CONTRACT
    set CONTRACT_FLOW = #{record.contractFlow,jdbcType=VARCHAR},
      CONTRACT_NAME = #{record.contractName,jdbcType=VARCHAR},
      PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      PROJ_NAME = #{record.projName,jdbcType=VARCHAR},
      PROJ_SHORT_NAME = #{record.projShortName,jdbcType=VARCHAR},
      PROJ_SUB_TYPE_ID = #{record.projSubTypeId,jdbcType=VARCHAR},
      PROJ_SUB_TYPE_NAME = #{record.projSubTypeName,jdbcType=VARCHAR},
      PROJ_DECLARER = #{record.projDeclarer,jdbcType=VARCHAR},
      PROJ_SHORT_DECLARER = #{record.projShortDeclarer,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      CONTRACT_TYPE_ID = #{record.contractTypeId,jdbcType=VARCHAR},
      CONTRACT_TYPE_NAME = #{record.contractTypeName,jdbcType=VARCHAR},
      CONTRACT_FUND = #{record.contractFund,jdbcType=DECIMAL},
      CONTRACT_NO = #{record.contractNo,jdbcType=VARCHAR},
      CASE_NUMBER = #{record.caseNumber,jdbcType=DECIMAL},
      CONTRACT_COPIES = #{record.contractCopies,jdbcType=DECIMAL},
      STAMP_DATE = #{record.stampDate,jdbcType=VARCHAR},
      CONTRACT_FILE = #{record.contractFile,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.GcpContract" >
    update PDSCI.GCP_CONTRACT
    <set >
      <if test="contractName != null" >
        CONTRACT_NAME = #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="projFlow != null" >
        PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="projName != null" >
        PROJ_NAME = #{projName,jdbcType=VARCHAR},
      </if>
      <if test="projShortName != null" >
        PROJ_SHORT_NAME = #{projShortName,jdbcType=VARCHAR},
      </if>
      <if test="projSubTypeId != null" >
        PROJ_SUB_TYPE_ID = #{projSubTypeId,jdbcType=VARCHAR},
      </if>
      <if test="projSubTypeName != null" >
        PROJ_SUB_TYPE_NAME = #{projSubTypeName,jdbcType=VARCHAR},
      </if>
      <if test="projDeclarer != null" >
        PROJ_DECLARER = #{projDeclarer,jdbcType=VARCHAR},
      </if>
      <if test="projShortDeclarer != null" >
        PROJ_SHORT_DECLARER = #{projShortDeclarer,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="contractTypeId != null" >
        CONTRACT_TYPE_ID = #{contractTypeId,jdbcType=VARCHAR},
      </if>
      <if test="contractTypeName != null" >
        CONTRACT_TYPE_NAME = #{contractTypeName,jdbcType=VARCHAR},
      </if>
      <if test="contractFund != null" >
        CONTRACT_FUND = #{contractFund,jdbcType=DECIMAL},
      </if>
      <if test="contractNo != null" >
        CONTRACT_NO = #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="caseNumber != null" >
        CASE_NUMBER = #{caseNumber,jdbcType=DECIMAL},
      </if>
      <if test="contractCopies != null" >
        CONTRACT_COPIES = #{contractCopies,jdbcType=DECIMAL},
      </if>
      <if test="stampDate != null" >
        STAMP_DATE = #{stampDate,jdbcType=VARCHAR},
      </if>
      <if test="contractFile != null" >
        CONTRACT_FILE = #{contractFile,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where CONTRACT_FLOW = #{contractFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.GcpContract" >
    update PDSCI.GCP_CONTRACT
    set CONTRACT_NAME = #{contractName,jdbcType=VARCHAR},
      PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      PROJ_NAME = #{projName,jdbcType=VARCHAR},
      PROJ_SHORT_NAME = #{projShortName,jdbcType=VARCHAR},
      PROJ_SUB_TYPE_ID = #{projSubTypeId,jdbcType=VARCHAR},
      PROJ_SUB_TYPE_NAME = #{projSubTypeName,jdbcType=VARCHAR},
      PROJ_DECLARER = #{projDeclarer,jdbcType=VARCHAR},
      PROJ_SHORT_DECLARER = #{projShortDeclarer,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      CONTRACT_TYPE_ID = #{contractTypeId,jdbcType=VARCHAR},
      CONTRACT_TYPE_NAME = #{contractTypeName,jdbcType=VARCHAR},
      CONTRACT_FUND = #{contractFund,jdbcType=DECIMAL},
      CONTRACT_NO = #{contractNo,jdbcType=VARCHAR},
      CASE_NUMBER = #{caseNumber,jdbcType=DECIMAL},
      CONTRACT_COPIES = #{contractCopies,jdbcType=DECIMAL},
      STAMP_DATE = #{stampDate,jdbcType=VARCHAR},
      CONTRACT_FILE = #{contractFile,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where CONTRACT_FLOW = #{contractFlow,jdbcType=VARCHAR}
  </update>
</mapper>