<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.GcpDrugMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.GcpDrug" >
    <id column="DRUG_FLOW" property="drugFlow" jdbcType="VARCHAR" />
    <result column="PROJ_FLOW" property="projFlow" jdbcType="VARCHAR" />
    <result column="DRUG_NAME" property="drugName" jdbcType="VARCHAR" />
    <result column="DRUG_TYPE_ID" property="drugTypeId" jdbcType="VARCHAR" />
    <result column="DRUG_TYPE_NAME" property="drugTypeName" jdbcType="VARCHAR" />
    <result column="DOSE" property="dose" jdbcType="VARCHAR" />
    <result column="DOSE_UNIT_ID" property="doseUnitId" jdbcType="VARCHAR" />
    <result column="DOSE_UNIT_NAME" property="doseUnitName" jdbcType="VARCHAR" />
    <result column="PREPARATION_UNIT_ID" property="preparationUnitId" jdbcType="VARCHAR" />
    <result column="PREPARATION_UNIT_NAME" property="preparationUnitName" jdbcType="VARCHAR" />
    <result column="SPEC" property="spec" jdbcType="VARCHAR" />
    <result column="USAGE_ID" property="usageId" jdbcType="VARCHAR" />
    <result column="USAGE_NAME" property="usageName" jdbcType="VARCHAR" />
    <result column="SOLUTION_ID" property="solutionId" jdbcType="VARCHAR" />
    <result column="SOLUTION_NAME" property="solutionName" jdbcType="VARCHAR" />
    <result column="MIN_PACK_UNIT_ID" property="minPackUnitId" jdbcType="VARCHAR" />
    <result column="MIN_PACK_UNIT_NAME" property="minPackUnitName" jdbcType="VARCHAR" />
    <result column="MIN_PACK_AMOUNT" property="minPackAmount" jdbcType="VARCHAR" />
    <result column="SINGLE_PACK_AMOUNT" property="singlePackAmount" jdbcType="VARCHAR" />
    <result column="PROVISION_AMOUNT" property="provisionAmount" jdbcType="VARCHAR" />
    <result column="STORAGE_CONDITION" property="storageCondition" jdbcType="VARCHAR" />
    <result column="MANUFACTURER" property="manufacturer" jdbcType="VARCHAR" />
    <result column="RECIPE_USAGE" property="recipeUsage" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DRUG_FLOW, PROJ_FLOW, DRUG_NAME, DRUG_TYPE_ID, DRUG_TYPE_NAME, DOSE, DOSE_UNIT_ID, 
    DOSE_UNIT_NAME, PREPARATION_UNIT_ID, PREPARATION_UNIT_NAME, SPEC, USAGE_ID, USAGE_NAME, 
    SOLUTION_ID, SOLUTION_NAME, MIN_PACK_UNIT_ID, MIN_PACK_UNIT_NAME, MIN_PACK_AMOUNT, 
    SINGLE_PACK_AMOUNT, PROVISION_AMOUNT, STORAGE_CONDITION, MANUFACTURER, RECIPE_USAGE, 
    RECORD_STATUS, CREATE_USER_FLOW, CREATE_TIME, MODIFY_USER_FLOW, MODIFY_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.GcpDrugExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.GCP_DRUG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.GCP_DRUG
    where DRUG_FLOW = #{drugFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.GCP_DRUG
    where DRUG_FLOW = #{drugFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.GcpDrugExample" >
    delete from PDSCI.GCP_DRUG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.GcpDrug" >
    insert into PDSCI.GCP_DRUG (DRUG_FLOW, PROJ_FLOW, DRUG_NAME, 
      DRUG_TYPE_ID, DRUG_TYPE_NAME, DOSE, 
      DOSE_UNIT_ID, DOSE_UNIT_NAME, PREPARATION_UNIT_ID, 
      PREPARATION_UNIT_NAME, SPEC, USAGE_ID, 
      USAGE_NAME, SOLUTION_ID, SOLUTION_NAME, 
      MIN_PACK_UNIT_ID, MIN_PACK_UNIT_NAME, MIN_PACK_AMOUNT, 
      SINGLE_PACK_AMOUNT, PROVISION_AMOUNT, STORAGE_CONDITION, 
      MANUFACTURER, RECIPE_USAGE, RECORD_STATUS, 
      CREATE_USER_FLOW, CREATE_TIME, MODIFY_USER_FLOW, 
      MODIFY_TIME)
    values (#{drugFlow,jdbcType=VARCHAR}, #{projFlow,jdbcType=VARCHAR}, #{drugName,jdbcType=VARCHAR}, 
      #{drugTypeId,jdbcType=VARCHAR}, #{drugTypeName,jdbcType=VARCHAR}, #{dose,jdbcType=VARCHAR}, 
      #{doseUnitId,jdbcType=VARCHAR}, #{doseUnitName,jdbcType=VARCHAR}, #{preparationUnitId,jdbcType=VARCHAR}, 
      #{preparationUnitName,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, #{usageId,jdbcType=VARCHAR}, 
      #{usageName,jdbcType=VARCHAR}, #{solutionId,jdbcType=VARCHAR}, #{solutionName,jdbcType=VARCHAR}, 
      #{minPackUnitId,jdbcType=VARCHAR}, #{minPackUnitName,jdbcType=VARCHAR}, #{minPackAmount,jdbcType=VARCHAR}, 
      #{singlePackAmount,jdbcType=VARCHAR}, #{provisionAmount,jdbcType=VARCHAR}, #{storageCondition,jdbcType=VARCHAR}, 
      #{manufacturer,jdbcType=VARCHAR}, #{recipeUsage,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.GcpDrug" >
    insert into PDSCI.GCP_DRUG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="drugFlow != null" >
        DRUG_FLOW,
      </if>
      <if test="projFlow != null" >
        PROJ_FLOW,
      </if>
      <if test="drugName != null" >
        DRUG_NAME,
      </if>
      <if test="drugTypeId != null" >
        DRUG_TYPE_ID,
      </if>
      <if test="drugTypeName != null" >
        DRUG_TYPE_NAME,
      </if>
      <if test="dose != null" >
        DOSE,
      </if>
      <if test="doseUnitId != null" >
        DOSE_UNIT_ID,
      </if>
      <if test="doseUnitName != null" >
        DOSE_UNIT_NAME,
      </if>
      <if test="preparationUnitId != null" >
        PREPARATION_UNIT_ID,
      </if>
      <if test="preparationUnitName != null" >
        PREPARATION_UNIT_NAME,
      </if>
      <if test="spec != null" >
        SPEC,
      </if>
      <if test="usageId != null" >
        USAGE_ID,
      </if>
      <if test="usageName != null" >
        USAGE_NAME,
      </if>
      <if test="solutionId != null" >
        SOLUTION_ID,
      </if>
      <if test="solutionName != null" >
        SOLUTION_NAME,
      </if>
      <if test="minPackUnitId != null" >
        MIN_PACK_UNIT_ID,
      </if>
      <if test="minPackUnitName != null" >
        MIN_PACK_UNIT_NAME,
      </if>
      <if test="minPackAmount != null" >
        MIN_PACK_AMOUNT,
      </if>
      <if test="singlePackAmount != null" >
        SINGLE_PACK_AMOUNT,
      </if>
      <if test="provisionAmount != null" >
        PROVISION_AMOUNT,
      </if>
      <if test="storageCondition != null" >
        STORAGE_CONDITION,
      </if>
      <if test="manufacturer != null" >
        MANUFACTURER,
      </if>
      <if test="recipeUsage != null" >
        RECIPE_USAGE,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="drugFlow != null" >
        #{drugFlow,jdbcType=VARCHAR},
      </if>
      <if test="projFlow != null" >
        #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="drugName != null" >
        #{drugName,jdbcType=VARCHAR},
      </if>
      <if test="drugTypeId != null" >
        #{drugTypeId,jdbcType=VARCHAR},
      </if>
      <if test="drugTypeName != null" >
        #{drugTypeName,jdbcType=VARCHAR},
      </if>
      <if test="dose != null" >
        #{dose,jdbcType=VARCHAR},
      </if>
      <if test="doseUnitId != null" >
        #{doseUnitId,jdbcType=VARCHAR},
      </if>
      <if test="doseUnitName != null" >
        #{doseUnitName,jdbcType=VARCHAR},
      </if>
      <if test="preparationUnitId != null" >
        #{preparationUnitId,jdbcType=VARCHAR},
      </if>
      <if test="preparationUnitName != null" >
        #{preparationUnitName,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="usageId != null" >
        #{usageId,jdbcType=VARCHAR},
      </if>
      <if test="usageName != null" >
        #{usageName,jdbcType=VARCHAR},
      </if>
      <if test="solutionId != null" >
        #{solutionId,jdbcType=VARCHAR},
      </if>
      <if test="solutionName != null" >
        #{solutionName,jdbcType=VARCHAR},
      </if>
      <if test="minPackUnitId != null" >
        #{minPackUnitId,jdbcType=VARCHAR},
      </if>
      <if test="minPackUnitName != null" >
        #{minPackUnitName,jdbcType=VARCHAR},
      </if>
      <if test="minPackAmount != null" >
        #{minPackAmount,jdbcType=VARCHAR},
      </if>
      <if test="singlePackAmount != null" >
        #{singlePackAmount,jdbcType=VARCHAR},
      </if>
      <if test="provisionAmount != null" >
        #{provisionAmount,jdbcType=VARCHAR},
      </if>
      <if test="storageCondition != null" >
        #{storageCondition,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="recipeUsage != null" >
        #{recipeUsage,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.GcpDrugExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.GCP_DRUG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.GCP_DRUG
    <set >
      <if test="record.drugFlow != null" >
        DRUG_FLOW = #{record.drugFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projFlow != null" >
        PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.drugName != null" >
        DRUG_NAME = #{record.drugName,jdbcType=VARCHAR},
      </if>
      <if test="record.drugTypeId != null" >
        DRUG_TYPE_ID = #{record.drugTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.drugTypeName != null" >
        DRUG_TYPE_NAME = #{record.drugTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.dose != null" >
        DOSE = #{record.dose,jdbcType=VARCHAR},
      </if>
      <if test="record.doseUnitId != null" >
        DOSE_UNIT_ID = #{record.doseUnitId,jdbcType=VARCHAR},
      </if>
      <if test="record.doseUnitName != null" >
        DOSE_UNIT_NAME = #{record.doseUnitName,jdbcType=VARCHAR},
      </if>
      <if test="record.preparationUnitId != null" >
        PREPARATION_UNIT_ID = #{record.preparationUnitId,jdbcType=VARCHAR},
      </if>
      <if test="record.preparationUnitName != null" >
        PREPARATION_UNIT_NAME = #{record.preparationUnitName,jdbcType=VARCHAR},
      </if>
      <if test="record.spec != null" >
        SPEC = #{record.spec,jdbcType=VARCHAR},
      </if>
      <if test="record.usageId != null" >
        USAGE_ID = #{record.usageId,jdbcType=VARCHAR},
      </if>
      <if test="record.usageName != null" >
        USAGE_NAME = #{record.usageName,jdbcType=VARCHAR},
      </if>
      <if test="record.solutionId != null" >
        SOLUTION_ID = #{record.solutionId,jdbcType=VARCHAR},
      </if>
      <if test="record.solutionName != null" >
        SOLUTION_NAME = #{record.solutionName,jdbcType=VARCHAR},
      </if>
      <if test="record.minPackUnitId != null" >
        MIN_PACK_UNIT_ID = #{record.minPackUnitId,jdbcType=VARCHAR},
      </if>
      <if test="record.minPackUnitName != null" >
        MIN_PACK_UNIT_NAME = #{record.minPackUnitName,jdbcType=VARCHAR},
      </if>
      <if test="record.minPackAmount != null" >
        MIN_PACK_AMOUNT = #{record.minPackAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.singlePackAmount != null" >
        SINGLE_PACK_AMOUNT = #{record.singlePackAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.provisionAmount != null" >
        PROVISION_AMOUNT = #{record.provisionAmount,jdbcType=VARCHAR},
      </if>
      <if test="record.storageCondition != null" >
        STORAGE_CONDITION = #{record.storageCondition,jdbcType=VARCHAR},
      </if>
      <if test="record.manufacturer != null" >
        MANUFACTURER = #{record.manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="record.recipeUsage != null" >
        RECIPE_USAGE = #{record.recipeUsage,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.GCP_DRUG
    set DRUG_FLOW = #{record.drugFlow,jdbcType=VARCHAR},
      PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      DRUG_NAME = #{record.drugName,jdbcType=VARCHAR},
      DRUG_TYPE_ID = #{record.drugTypeId,jdbcType=VARCHAR},
      DRUG_TYPE_NAME = #{record.drugTypeName,jdbcType=VARCHAR},
      DOSE = #{record.dose,jdbcType=VARCHAR},
      DOSE_UNIT_ID = #{record.doseUnitId,jdbcType=VARCHAR},
      DOSE_UNIT_NAME = #{record.doseUnitName,jdbcType=VARCHAR},
      PREPARATION_UNIT_ID = #{record.preparationUnitId,jdbcType=VARCHAR},
      PREPARATION_UNIT_NAME = #{record.preparationUnitName,jdbcType=VARCHAR},
      SPEC = #{record.spec,jdbcType=VARCHAR},
      USAGE_ID = #{record.usageId,jdbcType=VARCHAR},
      USAGE_NAME = #{record.usageName,jdbcType=VARCHAR},
      SOLUTION_ID = #{record.solutionId,jdbcType=VARCHAR},
      SOLUTION_NAME = #{record.solutionName,jdbcType=VARCHAR},
      MIN_PACK_UNIT_ID = #{record.minPackUnitId,jdbcType=VARCHAR},
      MIN_PACK_UNIT_NAME = #{record.minPackUnitName,jdbcType=VARCHAR},
      MIN_PACK_AMOUNT = #{record.minPackAmount,jdbcType=VARCHAR},
      SINGLE_PACK_AMOUNT = #{record.singlePackAmount,jdbcType=VARCHAR},
      PROVISION_AMOUNT = #{record.provisionAmount,jdbcType=VARCHAR},
      STORAGE_CONDITION = #{record.storageCondition,jdbcType=VARCHAR},
      MANUFACTURER = #{record.manufacturer,jdbcType=VARCHAR},
      RECIPE_USAGE = #{record.recipeUsage,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.GcpDrug" >
    update PDSCI.GCP_DRUG
    <set >
      <if test="projFlow != null" >
        PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="drugName != null" >
        DRUG_NAME = #{drugName,jdbcType=VARCHAR},
      </if>
      <if test="drugTypeId != null" >
        DRUG_TYPE_ID = #{drugTypeId,jdbcType=VARCHAR},
      </if>
      <if test="drugTypeName != null" >
        DRUG_TYPE_NAME = #{drugTypeName,jdbcType=VARCHAR},
      </if>
      <if test="dose != null" >
        DOSE = #{dose,jdbcType=VARCHAR},
      </if>
      <if test="doseUnitId != null" >
        DOSE_UNIT_ID = #{doseUnitId,jdbcType=VARCHAR},
      </if>
      <if test="doseUnitName != null" >
        DOSE_UNIT_NAME = #{doseUnitName,jdbcType=VARCHAR},
      </if>
      <if test="preparationUnitId != null" >
        PREPARATION_UNIT_ID = #{preparationUnitId,jdbcType=VARCHAR},
      </if>
      <if test="preparationUnitName != null" >
        PREPARATION_UNIT_NAME = #{preparationUnitName,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        SPEC = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="usageId != null" >
        USAGE_ID = #{usageId,jdbcType=VARCHAR},
      </if>
      <if test="usageName != null" >
        USAGE_NAME = #{usageName,jdbcType=VARCHAR},
      </if>
      <if test="solutionId != null" >
        SOLUTION_ID = #{solutionId,jdbcType=VARCHAR},
      </if>
      <if test="solutionName != null" >
        SOLUTION_NAME = #{solutionName,jdbcType=VARCHAR},
      </if>
      <if test="minPackUnitId != null" >
        MIN_PACK_UNIT_ID = #{minPackUnitId,jdbcType=VARCHAR},
      </if>
      <if test="minPackUnitName != null" >
        MIN_PACK_UNIT_NAME = #{minPackUnitName,jdbcType=VARCHAR},
      </if>
      <if test="minPackAmount != null" >
        MIN_PACK_AMOUNT = #{minPackAmount,jdbcType=VARCHAR},
      </if>
      <if test="singlePackAmount != null" >
        SINGLE_PACK_AMOUNT = #{singlePackAmount,jdbcType=VARCHAR},
      </if>
      <if test="provisionAmount != null" >
        PROVISION_AMOUNT = #{provisionAmount,jdbcType=VARCHAR},
      </if>
      <if test="storageCondition != null" >
        STORAGE_CONDITION = #{storageCondition,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        MANUFACTURER = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="recipeUsage != null" >
        RECIPE_USAGE = #{recipeUsage,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
    </set>
    where DRUG_FLOW = #{drugFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.GcpDrug" >
    update PDSCI.GCP_DRUG
    set PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      DRUG_NAME = #{drugName,jdbcType=VARCHAR},
      DRUG_TYPE_ID = #{drugTypeId,jdbcType=VARCHAR},
      DRUG_TYPE_NAME = #{drugTypeName,jdbcType=VARCHAR},
      DOSE = #{dose,jdbcType=VARCHAR},
      DOSE_UNIT_ID = #{doseUnitId,jdbcType=VARCHAR},
      DOSE_UNIT_NAME = #{doseUnitName,jdbcType=VARCHAR},
      PREPARATION_UNIT_ID = #{preparationUnitId,jdbcType=VARCHAR},
      PREPARATION_UNIT_NAME = #{preparationUnitName,jdbcType=VARCHAR},
      SPEC = #{spec,jdbcType=VARCHAR},
      USAGE_ID = #{usageId,jdbcType=VARCHAR},
      USAGE_NAME = #{usageName,jdbcType=VARCHAR},
      SOLUTION_ID = #{solutionId,jdbcType=VARCHAR},
      SOLUTION_NAME = #{solutionName,jdbcType=VARCHAR},
      MIN_PACK_UNIT_ID = #{minPackUnitId,jdbcType=VARCHAR},
      MIN_PACK_UNIT_NAME = #{minPackUnitName,jdbcType=VARCHAR},
      MIN_PACK_AMOUNT = #{minPackAmount,jdbcType=VARCHAR},
      SINGLE_PACK_AMOUNT = #{singlePackAmount,jdbcType=VARCHAR},
      PROVISION_AMOUNT = #{provisionAmount,jdbcType=VARCHAR},
      STORAGE_CONDITION = #{storageCondition,jdbcType=VARCHAR},
      MANUFACTURER = #{manufacturer,jdbcType=VARCHAR},
      RECIPE_USAGE = #{recipeUsage,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR}
    where DRUG_FLOW = #{drugFlow,jdbcType=VARCHAR}
  </update>
</mapper>