<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.GcpFundMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.GcpFund" >
    <id column="FUND_FLOW" property="fundFlow" jdbcType="VARCHAR" />
    <result column="PROJ_FLOW" property="projFlow" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="FUND_NO" property="fundNo" jdbcType="VARCHAR" />
    <result column="FUND_AMOUNT" property="fundAmount" jdbcType="DECIMAL" />
    <result column="FUND_DATE" property="fundDate" jdbcType="VARCHAR" />
    <result column="FUND_USES_ID" property="fundUsesId" jdbcType="VARCHAR" />
    <result column="FUND_USES_NAME" property="fundUsesName" jdbcType="VARCHAR" />
    <result column="FUND_USES_OTHER" property="fundUsesOther" jdbcType="VARCHAR" />
    <result column="FUND_NOTE" property="fundNote" jdbcType="VARCHAR" />
    <result column="FUND_TYPE_ID" property="fundTypeId" jdbcType="VARCHAR" />
    <result column="FUND_TYPE_NAME" property="fundTypeName" jdbcType="VARCHAR" />
    <result column="FUND_STATUS_ID" property="fundStatusId" jdbcType="VARCHAR" />
    <result column="FUND_STATUS_NAME" property="fundStatusName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FUND_FLOW, PROJ_FLOW, ORG_FLOW, FUND_NO, FUND_AMOUNT, FUND_DATE, FUND_USES_ID, FUND_USES_NAME, 
    FUND_USES_OTHER, FUND_NOTE, FUND_TYPE_ID, FUND_TYPE_NAME, FUND_STATUS_ID, FUND_STATUS_NAME, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.GcpFundExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.GCP_FUND
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.GCP_FUND
    where FUND_FLOW = #{fundFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.GCP_FUND
    where FUND_FLOW = #{fundFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.GcpFundExample" >
    delete from PDSCI.GCP_FUND
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.GcpFund" >
    insert into PDSCI.GCP_FUND (FUND_FLOW, PROJ_FLOW, ORG_FLOW, 
      FUND_NO, FUND_AMOUNT, FUND_DATE, 
      FUND_USES_ID, FUND_USES_NAME, FUND_USES_OTHER, 
      FUND_NOTE, FUND_TYPE_ID, FUND_TYPE_NAME, 
      FUND_STATUS_ID, FUND_STATUS_NAME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW)
    values (#{fundFlow,jdbcType=VARCHAR}, #{projFlow,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, 
      #{fundNo,jdbcType=VARCHAR}, #{fundAmount,jdbcType=DECIMAL}, #{fundDate,jdbcType=VARCHAR}, 
      #{fundUsesId,jdbcType=VARCHAR}, #{fundUsesName,jdbcType=VARCHAR}, #{fundUsesOther,jdbcType=VARCHAR}, 
      #{fundNote,jdbcType=VARCHAR}, #{fundTypeId,jdbcType=VARCHAR}, #{fundTypeName,jdbcType=VARCHAR}, 
      #{fundStatusId,jdbcType=VARCHAR}, #{fundStatusName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.GcpFund" >
    insert into PDSCI.GCP_FUND
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fundFlow != null" >
        FUND_FLOW,
      </if>
      <if test="projFlow != null" >
        PROJ_FLOW,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="fundNo != null" >
        FUND_NO,
      </if>
      <if test="fundAmount != null" >
        FUND_AMOUNT,
      </if>
      <if test="fundDate != null" >
        FUND_DATE,
      </if>
      <if test="fundUsesId != null" >
        FUND_USES_ID,
      </if>
      <if test="fundUsesName != null" >
        FUND_USES_NAME,
      </if>
      <if test="fundUsesOther != null" >
        FUND_USES_OTHER,
      </if>
      <if test="fundNote != null" >
        FUND_NOTE,
      </if>
      <if test="fundTypeId != null" >
        FUND_TYPE_ID,
      </if>
      <if test="fundTypeName != null" >
        FUND_TYPE_NAME,
      </if>
      <if test="fundStatusId != null" >
        FUND_STATUS_ID,
      </if>
      <if test="fundStatusName != null" >
        FUND_STATUS_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fundFlow != null" >
        #{fundFlow,jdbcType=VARCHAR},
      </if>
      <if test="projFlow != null" >
        #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="fundNo != null" >
        #{fundNo,jdbcType=VARCHAR},
      </if>
      <if test="fundAmount != null" >
        #{fundAmount,jdbcType=DECIMAL},
      </if>
      <if test="fundDate != null" >
        #{fundDate,jdbcType=VARCHAR},
      </if>
      <if test="fundUsesId != null" >
        #{fundUsesId,jdbcType=VARCHAR},
      </if>
      <if test="fundUsesName != null" >
        #{fundUsesName,jdbcType=VARCHAR},
      </if>
      <if test="fundUsesOther != null" >
        #{fundUsesOther,jdbcType=VARCHAR},
      </if>
      <if test="fundNote != null" >
        #{fundNote,jdbcType=VARCHAR},
      </if>
      <if test="fundTypeId != null" >
        #{fundTypeId,jdbcType=VARCHAR},
      </if>
      <if test="fundTypeName != null" >
        #{fundTypeName,jdbcType=VARCHAR},
      </if>
      <if test="fundStatusId != null" >
        #{fundStatusId,jdbcType=VARCHAR},
      </if>
      <if test="fundStatusName != null" >
        #{fundStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.GcpFundExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.GCP_FUND
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.GCP_FUND
    <set >
      <if test="record.fundFlow != null" >
        FUND_FLOW = #{record.fundFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projFlow != null" >
        PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.fundNo != null" >
        FUND_NO = #{record.fundNo,jdbcType=VARCHAR},
      </if>
      <if test="record.fundAmount != null" >
        FUND_AMOUNT = #{record.fundAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.fundDate != null" >
        FUND_DATE = #{record.fundDate,jdbcType=VARCHAR},
      </if>
      <if test="record.fundUsesId != null" >
        FUND_USES_ID = #{record.fundUsesId,jdbcType=VARCHAR},
      </if>
      <if test="record.fundUsesName != null" >
        FUND_USES_NAME = #{record.fundUsesName,jdbcType=VARCHAR},
      </if>
      <if test="record.fundUsesOther != null" >
        FUND_USES_OTHER = #{record.fundUsesOther,jdbcType=VARCHAR},
      </if>
      <if test="record.fundNote != null" >
        FUND_NOTE = #{record.fundNote,jdbcType=VARCHAR},
      </if>
      <if test="record.fundTypeId != null" >
        FUND_TYPE_ID = #{record.fundTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.fundTypeName != null" >
        FUND_TYPE_NAME = #{record.fundTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.fundStatusId != null" >
        FUND_STATUS_ID = #{record.fundStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.fundStatusName != null" >
        FUND_STATUS_NAME = #{record.fundStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.GCP_FUND
    set FUND_FLOW = #{record.fundFlow,jdbcType=VARCHAR},
      PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      FUND_NO = #{record.fundNo,jdbcType=VARCHAR},
      FUND_AMOUNT = #{record.fundAmount,jdbcType=DECIMAL},
      FUND_DATE = #{record.fundDate,jdbcType=VARCHAR},
      FUND_USES_ID = #{record.fundUsesId,jdbcType=VARCHAR},
      FUND_USES_NAME = #{record.fundUsesName,jdbcType=VARCHAR},
      FUND_USES_OTHER = #{record.fundUsesOther,jdbcType=VARCHAR},
      FUND_NOTE = #{record.fundNote,jdbcType=VARCHAR},
      FUND_TYPE_ID = #{record.fundTypeId,jdbcType=VARCHAR},
      FUND_TYPE_NAME = #{record.fundTypeName,jdbcType=VARCHAR},
      FUND_STATUS_ID = #{record.fundStatusId,jdbcType=VARCHAR},
      FUND_STATUS_NAME = #{record.fundStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.GcpFund" >
    update PDSCI.GCP_FUND
    <set >
      <if test="projFlow != null" >
        PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="fundNo != null" >
        FUND_NO = #{fundNo,jdbcType=VARCHAR},
      </if>
      <if test="fundAmount != null" >
        FUND_AMOUNT = #{fundAmount,jdbcType=DECIMAL},
      </if>
      <if test="fundDate != null" >
        FUND_DATE = #{fundDate,jdbcType=VARCHAR},
      </if>
      <if test="fundUsesId != null" >
        FUND_USES_ID = #{fundUsesId,jdbcType=VARCHAR},
      </if>
      <if test="fundUsesName != null" >
        FUND_USES_NAME = #{fundUsesName,jdbcType=VARCHAR},
      </if>
      <if test="fundUsesOther != null" >
        FUND_USES_OTHER = #{fundUsesOther,jdbcType=VARCHAR},
      </if>
      <if test="fundNote != null" >
        FUND_NOTE = #{fundNote,jdbcType=VARCHAR},
      </if>
      <if test="fundTypeId != null" >
        FUND_TYPE_ID = #{fundTypeId,jdbcType=VARCHAR},
      </if>
      <if test="fundTypeName != null" >
        FUND_TYPE_NAME = #{fundTypeName,jdbcType=VARCHAR},
      </if>
      <if test="fundStatusId != null" >
        FUND_STATUS_ID = #{fundStatusId,jdbcType=VARCHAR},
      </if>
      <if test="fundStatusName != null" >
        FUND_STATUS_NAME = #{fundStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where FUND_FLOW = #{fundFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.GcpFund" >
    update PDSCI.GCP_FUND
    set PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      FUND_NO = #{fundNo,jdbcType=VARCHAR},
      FUND_AMOUNT = #{fundAmount,jdbcType=DECIMAL},
      FUND_DATE = #{fundDate,jdbcType=VARCHAR},
      FUND_USES_ID = #{fundUsesId,jdbcType=VARCHAR},
      FUND_USES_NAME = #{fundUsesName,jdbcType=VARCHAR},
      FUND_USES_OTHER = #{fundUsesOther,jdbcType=VARCHAR},
      FUND_NOTE = #{fundNote,jdbcType=VARCHAR},
      FUND_TYPE_ID = #{fundTypeId,jdbcType=VARCHAR},
      FUND_TYPE_NAME = #{fundTypeName,jdbcType=VARCHAR},
      FUND_STATUS_ID = #{fundStatusId,jdbcType=VARCHAR},
      FUND_STATUS_NAME = #{fundStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where FUND_FLOW = #{fundFlow,jdbcType=VARCHAR}
  </update>
</mapper>