<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.IrbMeetingMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.IrbMeeting" >
    <id column="MEETING_FLOW" property="meetingFlow" jdbcType="VARCHAR" />
    <result column="MEETING_DATE" property="meetingDate" jdbcType="VARCHAR" />
    <result column="MEETING_START_TIME" property="meetingStartTime" jdbcType="VARCHAR" />
    <result column="MEETING_END_TIME" property="meetingEndTime" jdbcType="VARCHAR" />
    <result column="MEETING_ADDRESS" property="meetingAddress" jdbcType="VARCHAR" />
    <result column="MEETING_HOST" property="meetingHost" jdbcType="VARCHAR" />
    <result column="MEETING_STATUS" property="meetingStatus" jdbcType="VARCHAR" />
    <result column="IRB_INFO_FLOW" property="irbInfoFlow" jdbcType="VARCHAR" />
    <result column="IRB_NAME" property="irbName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MEETING_FLOW, MEETING_DATE, MEETING_START_TIME, MEETING_END_TIME, MEETING_ADDRESS, 
    MEETING_HOST, MEETING_STATUS, IRB_INFO_FLOW, IRB_NAME, RECORD_STATUS, CREATE_TIME, 
    CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.IrbMeetingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.IRB_MEETING
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.IRB_MEETING
    where MEETING_FLOW = #{meetingFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.IRB_MEETING
    where MEETING_FLOW = #{meetingFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.IrbMeetingExample" >
    delete from PDSCI.IRB_MEETING
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.IrbMeeting" >
    insert into PDSCI.IRB_MEETING (MEETING_FLOW, MEETING_DATE, MEETING_START_TIME, 
      MEETING_END_TIME, MEETING_ADDRESS, MEETING_HOST, 
      MEETING_STATUS, IRB_INFO_FLOW, IRB_NAME, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{meetingFlow,jdbcType=VARCHAR}, #{meetingDate,jdbcType=VARCHAR}, #{meetingStartTime,jdbcType=VARCHAR}, 
      #{meetingEndTime,jdbcType=VARCHAR}, #{meetingAddress,jdbcType=VARCHAR}, #{meetingHost,jdbcType=VARCHAR}, 
      #{meetingStatus,jdbcType=VARCHAR}, #{irbInfoFlow,jdbcType=VARCHAR}, #{irbName,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.IrbMeeting" >
    insert into PDSCI.IRB_MEETING
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="meetingFlow != null" >
        MEETING_FLOW,
      </if>
      <if test="meetingDate != null" >
        MEETING_DATE,
      </if>
      <if test="meetingStartTime != null" >
        MEETING_START_TIME,
      </if>
      <if test="meetingEndTime != null" >
        MEETING_END_TIME,
      </if>
      <if test="meetingAddress != null" >
        MEETING_ADDRESS,
      </if>
      <if test="meetingHost != null" >
        MEETING_HOST,
      </if>
      <if test="meetingStatus != null" >
        MEETING_STATUS,
      </if>
      <if test="irbInfoFlow != null" >
        IRB_INFO_FLOW,
      </if>
      <if test="irbName != null" >
        IRB_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="meetingFlow != null" >
        #{meetingFlow,jdbcType=VARCHAR},
      </if>
      <if test="meetingDate != null" >
        #{meetingDate,jdbcType=VARCHAR},
      </if>
      <if test="meetingStartTime != null" >
        #{meetingStartTime,jdbcType=VARCHAR},
      </if>
      <if test="meetingEndTime != null" >
        #{meetingEndTime,jdbcType=VARCHAR},
      </if>
      <if test="meetingAddress != null" >
        #{meetingAddress,jdbcType=VARCHAR},
      </if>
      <if test="meetingHost != null" >
        #{meetingHost,jdbcType=VARCHAR},
      </if>
      <if test="meetingStatus != null" >
        #{meetingStatus,jdbcType=VARCHAR},
      </if>
      <if test="irbInfoFlow != null" >
        #{irbInfoFlow,jdbcType=VARCHAR},
      </if>
      <if test="irbName != null" >
        #{irbName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.IrbMeetingExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.IRB_MEETING
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.IRB_MEETING
    <set >
      <if test="record.meetingFlow != null" >
        MEETING_FLOW = #{record.meetingFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingDate != null" >
        MEETING_DATE = #{record.meetingDate,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingStartTime != null" >
        MEETING_START_TIME = #{record.meetingStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingEndTime != null" >
        MEETING_END_TIME = #{record.meetingEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingAddress != null" >
        MEETING_ADDRESS = #{record.meetingAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingHost != null" >
        MEETING_HOST = #{record.meetingHost,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingStatus != null" >
        MEETING_STATUS = #{record.meetingStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.irbInfoFlow != null" >
        IRB_INFO_FLOW = #{record.irbInfoFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.irbName != null" >
        IRB_NAME = #{record.irbName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.IRB_MEETING
    set MEETING_FLOW = #{record.meetingFlow,jdbcType=VARCHAR},
      MEETING_DATE = #{record.meetingDate,jdbcType=VARCHAR},
      MEETING_START_TIME = #{record.meetingStartTime,jdbcType=VARCHAR},
      MEETING_END_TIME = #{record.meetingEndTime,jdbcType=VARCHAR},
      MEETING_ADDRESS = #{record.meetingAddress,jdbcType=VARCHAR},
      MEETING_HOST = #{record.meetingHost,jdbcType=VARCHAR},
      MEETING_STATUS = #{record.meetingStatus,jdbcType=VARCHAR},
      IRB_INFO_FLOW = #{record.irbInfoFlow,jdbcType=VARCHAR},
      IRB_NAME = #{record.irbName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.IrbMeeting" >
    update PDSCI.IRB_MEETING
    <set >
      <if test="meetingDate != null" >
        MEETING_DATE = #{meetingDate,jdbcType=VARCHAR},
      </if>
      <if test="meetingStartTime != null" >
        MEETING_START_TIME = #{meetingStartTime,jdbcType=VARCHAR},
      </if>
      <if test="meetingEndTime != null" >
        MEETING_END_TIME = #{meetingEndTime,jdbcType=VARCHAR},
      </if>
      <if test="meetingAddress != null" >
        MEETING_ADDRESS = #{meetingAddress,jdbcType=VARCHAR},
      </if>
      <if test="meetingHost != null" >
        MEETING_HOST = #{meetingHost,jdbcType=VARCHAR},
      </if>
      <if test="meetingStatus != null" >
        MEETING_STATUS = #{meetingStatus,jdbcType=VARCHAR},
      </if>
      <if test="irbInfoFlow != null" >
        IRB_INFO_FLOW = #{irbInfoFlow,jdbcType=VARCHAR},
      </if>
      <if test="irbName != null" >
        IRB_NAME = #{irbName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where MEETING_FLOW = #{meetingFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.IrbMeeting" >
    update PDSCI.IRB_MEETING
    set MEETING_DATE = #{meetingDate,jdbcType=VARCHAR},
      MEETING_START_TIME = #{meetingStartTime,jdbcType=VARCHAR},
      MEETING_END_TIME = #{meetingEndTime,jdbcType=VARCHAR},
      MEETING_ADDRESS = #{meetingAddress,jdbcType=VARCHAR},
      MEETING_HOST = #{meetingHost,jdbcType=VARCHAR},
      MEETING_STATUS = #{meetingStatus,jdbcType=VARCHAR},
      IRB_INFO_FLOW = #{irbInfoFlow,jdbcType=VARCHAR},
      IRB_NAME = #{irbName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where MEETING_FLOW = #{meetingFlow,jdbcType=VARCHAR}
  </update>
</mapper>