<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.IrbStampMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.IrbStamp" >
    <id column="STAMP_FLOW" property="stampFlow" jdbcType="VARCHAR" />
    <result column="PROJ_FLOW" property="projFlow" jdbcType="VARCHAR" />
    <result column="PROJ_NAME" property="projName" jdbcType="VARCHAR" />
    <result column="STAMP_DATE" property="stampDate" jdbcType="VARCHAR" />
    <result column="STAMP_NAME" property="stampName" jdbcType="VARCHAR" />
    <result column="STAMP_NUM" property="stampNum" jdbcType="DECIMAL" />
    <result column="STAMP_USER_NAME" property="stampUserName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    STAMP_FLOW, PROJ_FLOW, PROJ_NAME, STAMP_DATE, STAMP_NAME, STAMP_NUM, STAMP_USER_NAME, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.IrbStampExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.IRB_STAMP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.IRB_STAMP
    where STAMP_FLOW = #{stampFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.IRB_STAMP
    where STAMP_FLOW = #{stampFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.IrbStampExample" >
    delete from PDSCI.IRB_STAMP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.IrbStamp" >
    insert into PDSCI.IRB_STAMP (STAMP_FLOW, PROJ_FLOW, PROJ_NAME, 
      STAMP_DATE, STAMP_NAME, STAMP_NUM, 
      STAMP_USER_NAME, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
      )
    values (#{stampFlow,jdbcType=VARCHAR}, #{projFlow,jdbcType=VARCHAR}, #{projName,jdbcType=VARCHAR}, 
      #{stampDate,jdbcType=VARCHAR}, #{stampName,jdbcType=VARCHAR}, #{stampNum,jdbcType=DECIMAL}, 
      #{stampUserName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.IrbStamp" >
    insert into PDSCI.IRB_STAMP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stampFlow != null" >
        STAMP_FLOW,
      </if>
      <if test="projFlow != null" >
        PROJ_FLOW,
      </if>
      <if test="projName != null" >
        PROJ_NAME,
      </if>
      <if test="stampDate != null" >
        STAMP_DATE,
      </if>
      <if test="stampName != null" >
        STAMP_NAME,
      </if>
      <if test="stampNum != null" >
        STAMP_NUM,
      </if>
      <if test="stampUserName != null" >
        STAMP_USER_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stampFlow != null" >
        #{stampFlow,jdbcType=VARCHAR},
      </if>
      <if test="projFlow != null" >
        #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="projName != null" >
        #{projName,jdbcType=VARCHAR},
      </if>
      <if test="stampDate != null" >
        #{stampDate,jdbcType=VARCHAR},
      </if>
      <if test="stampName != null" >
        #{stampName,jdbcType=VARCHAR},
      </if>
      <if test="stampNum != null" >
        #{stampNum,jdbcType=DECIMAL},
      </if>
      <if test="stampUserName != null" >
        #{stampUserName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.IrbStampExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.IRB_STAMP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.IRB_STAMP
    <set >
      <if test="record.stampFlow != null" >
        STAMP_FLOW = #{record.stampFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projFlow != null" >
        PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projName != null" >
        PROJ_NAME = #{record.projName,jdbcType=VARCHAR},
      </if>
      <if test="record.stampDate != null" >
        STAMP_DATE = #{record.stampDate,jdbcType=VARCHAR},
      </if>
      <if test="record.stampName != null" >
        STAMP_NAME = #{record.stampName,jdbcType=VARCHAR},
      </if>
      <if test="record.stampNum != null" >
        STAMP_NUM = #{record.stampNum,jdbcType=DECIMAL},
      </if>
      <if test="record.stampUserName != null" >
        STAMP_USER_NAME = #{record.stampUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.IRB_STAMP
    set STAMP_FLOW = #{record.stampFlow,jdbcType=VARCHAR},
      PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      PROJ_NAME = #{record.projName,jdbcType=VARCHAR},
      STAMP_DATE = #{record.stampDate,jdbcType=VARCHAR},
      STAMP_NAME = #{record.stampName,jdbcType=VARCHAR},
      STAMP_NUM = #{record.stampNum,jdbcType=DECIMAL},
      STAMP_USER_NAME = #{record.stampUserName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.IrbStamp" >
    update PDSCI.IRB_STAMP
    <set >
      <if test="projFlow != null" >
        PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="projName != null" >
        PROJ_NAME = #{projName,jdbcType=VARCHAR},
      </if>
      <if test="stampDate != null" >
        STAMP_DATE = #{stampDate,jdbcType=VARCHAR},
      </if>
      <if test="stampName != null" >
        STAMP_NAME = #{stampName,jdbcType=VARCHAR},
      </if>
      <if test="stampNum != null" >
        STAMP_NUM = #{stampNum,jdbcType=DECIMAL},
      </if>
      <if test="stampUserName != null" >
        STAMP_USER_NAME = #{stampUserName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where STAMP_FLOW = #{stampFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.IrbStamp" >
    update PDSCI.IRB_STAMP
    set PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      PROJ_NAME = #{projName,jdbcType=VARCHAR},
      STAMP_DATE = #{stampDate,jdbcType=VARCHAR},
      STAMP_NAME = #{stampName,jdbcType=VARCHAR},
      STAMP_NUM = #{stampNum,jdbcType=DECIMAL},
      STAMP_USER_NAME = #{stampUserName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where STAMP_FLOW = #{stampFlow,jdbcType=VARCHAR}
  </update>
</mapper>