<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.JsresBaseEvaluationScoreMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.core.model.JsresBaseEvaluationScore" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="EVALUATION_RECORD_FLOW" property="evaluationRecordFlow" jdbcType="VARCHAR" />
    <result column="ITEM_ID" property="itemId" jdbcType="VARCHAR" />
    <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
    <result column="PLAN_YEAR" property="planYear" jdbcType="VARCHAR" />
    <result column="OWNER_SCORE" property="ownerScore" jdbcType="VARCHAR" />
    <result column="SPE_SCORE" property="speScore" jdbcType="VARCHAR" />
    <result column="SPE_USER_FLOW" property="speUserFlow" jdbcType="VARCHAR" />
    <result column="SPE_USER_NAME" property="speUserName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, EVALUATION_RECORD_FLOW, ITEM_ID, ITEM_NAME, PLAN_YEAR, OWNER_SCORE, 
    SPE_SCORE, SPE_USER_FLOW, SPE_USER_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.JsresBaseEvaluationScoreExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
      from JSRES_BASE_EVALUATION_SCORE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from JSRES_BASE_EVALUATION_SCORE
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete
      from JSRES_BASE_EVALUATION_SCORE
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.JsresBaseEvaluationScoreExample" >
      delete from JSRES_BASE_EVALUATION_SCORE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.JsresBaseEvaluationScore" >
      insert into JSRES_BASE_EVALUATION_SCORE (RECORD_FLOW, EVALUATION_RECORD_FLOW,
      ITEM_ID, ITEM_NAME, PLAN_YEAR, 
      OWNER_SCORE, SPE_SCORE, SPE_USER_FLOW, 
      SPE_USER_NAME, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
      )
    values (#{recordFlow,jdbcType=VARCHAR}, #{evaluationRecordFlow,jdbcType=VARCHAR}, 
      #{itemId,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, #{planYear,jdbcType=VARCHAR}, 
      #{ownerScore,jdbcType=VARCHAR}, #{speScore,jdbcType=VARCHAR}, #{speUserFlow,jdbcType=VARCHAR}, 
      #{speUserName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.JsresBaseEvaluationScore" >
      insert into JSRES_BASE_EVALUATION_SCORE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="evaluationRecordFlow != null" >
        EVALUATION_RECORD_FLOW,
      </if>
      <if test="itemId != null" >
        ITEM_ID,
      </if>
      <if test="itemName != null" >
        ITEM_NAME,
      </if>
      <if test="planYear != null" >
        PLAN_YEAR,
      </if>
      <if test="ownerScore != null" >
        OWNER_SCORE,
      </if>
      <if test="speScore != null" >
        SPE_SCORE,
      </if>
      <if test="speUserFlow != null" >
        SPE_USER_FLOW,
      </if>
      <if test="speUserName != null" >
        SPE_USER_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="evaluationRecordFlow != null" >
        #{evaluationRecordFlow,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="planYear != null" >
        #{planYear,jdbcType=VARCHAR},
      </if>
      <if test="ownerScore != null" >
        #{ownerScore,jdbcType=VARCHAR},
      </if>
      <if test="speScore != null" >
        #{speScore,jdbcType=VARCHAR},
      </if>
      <if test="speUserFlow != null" >
        #{speUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="speUserName != null" >
        #{speUserName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.JsresBaseEvaluationScoreExample" resultType="java.lang.Integer" >
      select count(*) from JSRES_BASE_EVALUATION_SCORE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update JSRES_BASE_EVALUATION_SCORE
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluationRecordFlow != null" >
        EVALUATION_RECORD_FLOW = #{record.evaluationRecordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.itemId != null" >
        ITEM_ID = #{record.itemId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null" >
        ITEM_NAME = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.planYear != null" >
        PLAN_YEAR = #{record.planYear,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerScore != null" >
        OWNER_SCORE = #{record.ownerScore,jdbcType=VARCHAR},
      </if>
      <if test="record.speScore != null" >
        SPE_SCORE = #{record.speScore,jdbcType=VARCHAR},
      </if>
      <if test="record.speUserFlow != null" >
        SPE_USER_FLOW = #{record.speUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.speUserName != null" >
        SPE_USER_NAME = #{record.speUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update JSRES_BASE_EVALUATION_SCORE
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      EVALUATION_RECORD_FLOW = #{record.evaluationRecordFlow,jdbcType=VARCHAR},
      ITEM_ID = #{record.itemId,jdbcType=VARCHAR},
      ITEM_NAME = #{record.itemName,jdbcType=VARCHAR},
      PLAN_YEAR = #{record.planYear,jdbcType=VARCHAR},
      OWNER_SCORE = #{record.ownerScore,jdbcType=VARCHAR},
      SPE_SCORE = #{record.speScore,jdbcType=VARCHAR},
      SPE_USER_FLOW = #{record.speUserFlow,jdbcType=VARCHAR},
      SPE_USER_NAME = #{record.speUserName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.JsresBaseEvaluationScore" >
      update JSRES_BASE_EVALUATION_SCORE
    <set >
      <if test="evaluationRecordFlow != null" >
        EVALUATION_RECORD_FLOW = #{evaluationRecordFlow,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        ITEM_ID = #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="planYear != null" >
        PLAN_YEAR = #{planYear,jdbcType=VARCHAR},
      </if>
      <if test="ownerScore != null" >
        OWNER_SCORE = #{ownerScore,jdbcType=VARCHAR},
      </if>
      <if test="speScore != null" >
        SPE_SCORE = #{speScore,jdbcType=VARCHAR},
      </if>
      <if test="speUserFlow != null" >
        SPE_USER_FLOW = #{speUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="speUserName != null" >
        SPE_USER_NAME = #{speUserName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.JsresBaseEvaluationScore" >
      update JSRES_BASE_EVALUATION_SCORE
    set EVALUATION_RECORD_FLOW = #{evaluationRecordFlow,jdbcType=VARCHAR},
      ITEM_ID = #{itemId,jdbcType=VARCHAR},
      ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      PLAN_YEAR = #{planYear,jdbcType=VARCHAR},
      OWNER_SCORE = #{ownerScore,jdbcType=VARCHAR},
      SPE_SCORE = #{speScore,jdbcType=VARCHAR},
      SPE_USER_FLOW = #{speUserFlow,jdbcType=VARCHAR},
      SPE_USER_NAME = #{speUserName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>