<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.NydwElectorMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.NydwElector" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="VOTE_FLOW" property="voteFlow" jdbcType="VARCHAR" />
    <result column="PARTY_BRANCH_ID" property="partyBranchId" jdbcType="VARCHAR" />
    <result column="PARTY_BRANCH_NAME" property="partyBranchName" jdbcType="VARCHAR" />
    <result column="ELECTOR_FLOW" property="electorFlow" jdbcType="VARCHAR" />
    <result column="ELECTOR_NAME" property="electorName" jdbcType="VARCHAR" />
    <result column="SEX_ID" property="sexId" jdbcType="VARCHAR" />
    <result column="SEX_NAME" property="sexName" jdbcType="VARCHAR" />
    <result column="PYDW_ORG_FLOW" property="pydwOrgFlow" jdbcType="VARCHAR" />
    <result column="PYDW_ORG_NAME" property="pydwOrgName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, VOTE_FLOW, PARTY_BRANCH_ID, PARTY_BRANCH_NAME, ELECTOR_FLOW, ELECTOR_NAME, 
    SEX_ID, SEX_NAME, PYDW_ORG_FLOW, PYDW_ORG_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.NydwElectorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.NYDW_ELECTOR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.NYDW_ELECTOR
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.NYDW_ELECTOR
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.NydwElectorExample" >
    delete from PDSCI.NYDW_ELECTOR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.NydwElector" >
    insert into PDSCI.NYDW_ELECTOR (RECORD_FLOW, VOTE_FLOW, PARTY_BRANCH_ID, 
      PARTY_BRANCH_NAME, ELECTOR_FLOW, ELECTOR_NAME, 
      SEX_ID, SEX_NAME, PYDW_ORG_FLOW, 
      PYDW_ORG_NAME, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
      )
    values (#{recordFlow,jdbcType=VARCHAR}, #{voteFlow,jdbcType=VARCHAR}, #{partyBranchId,jdbcType=VARCHAR}, 
      #{partyBranchName,jdbcType=VARCHAR}, #{electorFlow,jdbcType=VARCHAR}, #{electorName,jdbcType=VARCHAR}, 
      #{sexId,jdbcType=VARCHAR}, #{sexName,jdbcType=VARCHAR}, #{pydwOrgFlow,jdbcType=VARCHAR}, 
      #{pydwOrgName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.NydwElector" >
    insert into PDSCI.NYDW_ELECTOR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="voteFlow != null" >
        VOTE_FLOW,
      </if>
      <if test="partyBranchId != null" >
        PARTY_BRANCH_ID,
      </if>
      <if test="partyBranchName != null" >
        PARTY_BRANCH_NAME,
      </if>
      <if test="electorFlow != null" >
        ELECTOR_FLOW,
      </if>
      <if test="electorName != null" >
        ELECTOR_NAME,
      </if>
      <if test="sexId != null" >
        SEX_ID,
      </if>
      <if test="sexName != null" >
        SEX_NAME,
      </if>
      <if test="pydwOrgFlow != null" >
        PYDW_ORG_FLOW,
      </if>
      <if test="pydwOrgName != null" >
        PYDW_ORG_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="voteFlow != null" >
        #{voteFlow,jdbcType=VARCHAR},
      </if>
      <if test="partyBranchId != null" >
        #{partyBranchId,jdbcType=VARCHAR},
      </if>
      <if test="partyBranchName != null" >
        #{partyBranchName,jdbcType=VARCHAR},
      </if>
      <if test="electorFlow != null" >
        #{electorFlow,jdbcType=VARCHAR},
      </if>
      <if test="electorName != null" >
        #{electorName,jdbcType=VARCHAR},
      </if>
      <if test="sexId != null" >
        #{sexId,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null" >
        #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="pydwOrgFlow != null" >
        #{pydwOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="pydwOrgName != null" >
        #{pydwOrgName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.NydwElectorExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.NYDW_ELECTOR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.NYDW_ELECTOR
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.voteFlow != null" >
        VOTE_FLOW = #{record.voteFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.partyBranchId != null" >
        PARTY_BRANCH_ID = #{record.partyBranchId,jdbcType=VARCHAR},
      </if>
      <if test="record.partyBranchName != null" >
        PARTY_BRANCH_NAME = #{record.partyBranchName,jdbcType=VARCHAR},
      </if>
      <if test="record.electorFlow != null" >
        ELECTOR_FLOW = #{record.electorFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.electorName != null" >
        ELECTOR_NAME = #{record.electorName,jdbcType=VARCHAR},
      </if>
      <if test="record.sexId != null" >
        SEX_ID = #{record.sexId,jdbcType=VARCHAR},
      </if>
      <if test="record.sexName != null" >
        SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      </if>
      <if test="record.pydwOrgFlow != null" >
        PYDW_ORG_FLOW = #{record.pydwOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.pydwOrgName != null" >
        PYDW_ORG_NAME = #{record.pydwOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.NYDW_ELECTOR
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      VOTE_FLOW = #{record.voteFlow,jdbcType=VARCHAR},
      PARTY_BRANCH_ID = #{record.partyBranchId,jdbcType=VARCHAR},
      PARTY_BRANCH_NAME = #{record.partyBranchName,jdbcType=VARCHAR},
      ELECTOR_FLOW = #{record.electorFlow,jdbcType=VARCHAR},
      ELECTOR_NAME = #{record.electorName,jdbcType=VARCHAR},
      SEX_ID = #{record.sexId,jdbcType=VARCHAR},
      SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      PYDW_ORG_FLOW = #{record.pydwOrgFlow,jdbcType=VARCHAR},
      PYDW_ORG_NAME = #{record.pydwOrgName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.NydwElector" >
    update PDSCI.NYDW_ELECTOR
    <set >
      <if test="voteFlow != null" >
        VOTE_FLOW = #{voteFlow,jdbcType=VARCHAR},
      </if>
      <if test="partyBranchId != null" >
        PARTY_BRANCH_ID = #{partyBranchId,jdbcType=VARCHAR},
      </if>
      <if test="partyBranchName != null" >
        PARTY_BRANCH_NAME = #{partyBranchName,jdbcType=VARCHAR},
      </if>
      <if test="electorFlow != null" >
        ELECTOR_FLOW = #{electorFlow,jdbcType=VARCHAR},
      </if>
      <if test="electorName != null" >
        ELECTOR_NAME = #{electorName,jdbcType=VARCHAR},
      </if>
      <if test="sexId != null" >
        SEX_ID = #{sexId,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null" >
        SEX_NAME = #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="pydwOrgFlow != null" >
        PYDW_ORG_FLOW = #{pydwOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="pydwOrgName != null" >
        PYDW_ORG_NAME = #{pydwOrgName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.NydwElector" >
    update PDSCI.NYDW_ELECTOR
    set VOTE_FLOW = #{voteFlow,jdbcType=VARCHAR},
      PARTY_BRANCH_ID = #{partyBranchId,jdbcType=VARCHAR},
      PARTY_BRANCH_NAME = #{partyBranchName,jdbcType=VARCHAR},
      ELECTOR_FLOW = #{electorFlow,jdbcType=VARCHAR},
      ELECTOR_NAME = #{electorName,jdbcType=VARCHAR},
      SEX_ID = #{sexId,jdbcType=VARCHAR},
      SEX_NAME = #{sexName,jdbcType=VARCHAR},
      PYDW_ORG_FLOW = #{pydwOrgFlow,jdbcType=VARCHAR},
      PYDW_ORG_NAME = #{pydwOrgName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>