<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.NydwCaucusNoticeMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.NydwCaucusNotice" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="NOTICE_NAME" property="noticeName" jdbcType="VARCHAR" />
    <result column="PARTY_BRANCH_ID" property="partyBranchId" jdbcType="VARCHAR" />
    <result column="PARTY_BRANCH_NAME" property="partyBranchName" jdbcType="VARCHAR" />
    <result column="NOTICE_TYPE_ID" property="noticeTypeId" jdbcType="VARCHAR" />
    <result column="NOTICE_TYPE_NAME" property="noticeTypeName" jdbcType="VARCHAR" />
    <result column="PUBLISH_FLAG" property="publishFlag" jdbcType="VARCHAR" />
    <result column="PUBLISH_TIME" property="publishTime" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="CLICKS" property="clicks" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pinde.sci.model.mo.NydwCaucusNotice" extends="BaseResultMap" >
    <result column="CONTENT" property="content" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, NOTICE_NAME, PARTY_BRANCH_ID, PARTY_BRANCH_NAME, NOTICE_TYPE_ID, NOTICE_TYPE_NAME, 
    PUBLISH_FLAG, PUBLISH_TIME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
    MODIFY_USER_FLOW, CLICKS
  </sql>
  <sql id="Blob_Column_List" >
    CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pinde.sci.model.mo.NydwCaucusNoticeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.NYDW_CAUCUS_NOTICE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.NydwCaucusNoticeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.NYDW_CAUCUS_NOTICE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.NYDW_CAUCUS_NOTICE
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.NYDW_CAUCUS_NOTICE
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.NydwCaucusNoticeExample" >
    delete from PDSCI.NYDW_CAUCUS_NOTICE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.NydwCaucusNotice" >
    insert into PDSCI.NYDW_CAUCUS_NOTICE (RECORD_FLOW, NOTICE_NAME, PARTY_BRANCH_ID, 
      PARTY_BRANCH_NAME, NOTICE_TYPE_ID, NOTICE_TYPE_NAME, 
      PUBLISH_FLAG, PUBLISH_TIME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, CLICKS, CONTENT
      )
    values (#{recordFlow,jdbcType=VARCHAR}, #{noticeName,jdbcType=VARCHAR}, #{partyBranchId,jdbcType=VARCHAR}, 
      #{partyBranchName,jdbcType=VARCHAR}, #{noticeTypeId,jdbcType=VARCHAR}, #{noticeTypeName,jdbcType=VARCHAR}, 
      #{publishFlag,jdbcType=VARCHAR}, #{publishTime,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{clicks,jdbcType=VARCHAR}, #{content,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.NydwCaucusNotice" >
    insert into PDSCI.NYDW_CAUCUS_NOTICE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="noticeName != null" >
        NOTICE_NAME,
      </if>
      <if test="partyBranchId != null" >
        PARTY_BRANCH_ID,
      </if>
      <if test="partyBranchName != null" >
        PARTY_BRANCH_NAME,
      </if>
      <if test="noticeTypeId != null" >
        NOTICE_TYPE_ID,
      </if>
      <if test="noticeTypeName != null" >
        NOTICE_TYPE_NAME,
      </if>
      <if test="publishFlag != null" >
        PUBLISH_FLAG,
      </if>
      <if test="publishTime != null" >
        PUBLISH_TIME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="clicks != null" >
        CLICKS,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="noticeName != null" >
        #{noticeName,jdbcType=VARCHAR},
      </if>
      <if test="partyBranchId != null" >
        #{partyBranchId,jdbcType=VARCHAR},
      </if>
      <if test="partyBranchName != null" >
        #{partyBranchName,jdbcType=VARCHAR},
      </if>
      <if test="noticeTypeId != null" >
        #{noticeTypeId,jdbcType=VARCHAR},
      </if>
      <if test="noticeTypeName != null" >
        #{noticeTypeName,jdbcType=VARCHAR},
      </if>
      <if test="publishFlag != null" >
        #{publishFlag,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="clicks != null" >
        #{clicks,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.NydwCaucusNoticeExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.NYDW_CAUCUS_NOTICE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.NYDW_CAUCUS_NOTICE
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.noticeName != null" >
        NOTICE_NAME = #{record.noticeName,jdbcType=VARCHAR},
      </if>
      <if test="record.partyBranchId != null" >
        PARTY_BRANCH_ID = #{record.partyBranchId,jdbcType=VARCHAR},
      </if>
      <if test="record.partyBranchName != null" >
        PARTY_BRANCH_NAME = #{record.partyBranchName,jdbcType=VARCHAR},
      </if>
      <if test="record.noticeTypeId != null" >
        NOTICE_TYPE_ID = #{record.noticeTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.noticeTypeName != null" >
        NOTICE_TYPE_NAME = #{record.noticeTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.publishFlag != null" >
        PUBLISH_FLAG = #{record.publishFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.publishTime != null" >
        PUBLISH_TIME = #{record.publishTime,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.clicks != null" >
        CLICKS = #{record.clicks,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        CONTENT = #{record.content,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update PDSCI.NYDW_CAUCUS_NOTICE
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      NOTICE_NAME = #{record.noticeName,jdbcType=VARCHAR},
      PARTY_BRANCH_ID = #{record.partyBranchId,jdbcType=VARCHAR},
      PARTY_BRANCH_NAME = #{record.partyBranchName,jdbcType=VARCHAR},
      NOTICE_TYPE_ID = #{record.noticeTypeId,jdbcType=VARCHAR},
      NOTICE_TYPE_NAME = #{record.noticeTypeName,jdbcType=VARCHAR},
      PUBLISH_FLAG = #{record.publishFlag,jdbcType=VARCHAR},
      PUBLISH_TIME = #{record.publishTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      CLICKS = #{record.clicks,jdbcType=VARCHAR},
      CONTENT = #{record.content,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.NYDW_CAUCUS_NOTICE
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      NOTICE_NAME = #{record.noticeName,jdbcType=VARCHAR},
      PARTY_BRANCH_ID = #{record.partyBranchId,jdbcType=VARCHAR},
      PARTY_BRANCH_NAME = #{record.partyBranchName,jdbcType=VARCHAR},
      NOTICE_TYPE_ID = #{record.noticeTypeId,jdbcType=VARCHAR},
      NOTICE_TYPE_NAME = #{record.noticeTypeName,jdbcType=VARCHAR},
      PUBLISH_FLAG = #{record.publishFlag,jdbcType=VARCHAR},
      PUBLISH_TIME = #{record.publishTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      CLICKS = #{record.clicks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.NydwCaucusNotice" >
    update PDSCI.NYDW_CAUCUS_NOTICE
    <set >
      <if test="noticeName != null" >
        NOTICE_NAME = #{noticeName,jdbcType=VARCHAR},
      </if>
      <if test="partyBranchId != null" >
        PARTY_BRANCH_ID = #{partyBranchId,jdbcType=VARCHAR},
      </if>
      <if test="partyBranchName != null" >
        PARTY_BRANCH_NAME = #{partyBranchName,jdbcType=VARCHAR},
      </if>
      <if test="noticeTypeId != null" >
        NOTICE_TYPE_ID = #{noticeTypeId,jdbcType=VARCHAR},
      </if>
      <if test="noticeTypeName != null" >
        NOTICE_TYPE_NAME = #{noticeTypeName,jdbcType=VARCHAR},
      </if>
      <if test="publishFlag != null" >
        PUBLISH_FLAG = #{publishFlag,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        PUBLISH_TIME = #{publishTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="clicks != null" >
        CLICKS = #{clicks,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=CLOB},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.sci.model.mo.NydwCaucusNotice" >
    update PDSCI.NYDW_CAUCUS_NOTICE
    set NOTICE_NAME = #{noticeName,jdbcType=VARCHAR},
      PARTY_BRANCH_ID = #{partyBranchId,jdbcType=VARCHAR},
      PARTY_BRANCH_NAME = #{partyBranchName,jdbcType=VARCHAR},
      NOTICE_TYPE_ID = #{noticeTypeId,jdbcType=VARCHAR},
      NOTICE_TYPE_NAME = #{noticeTypeName,jdbcType=VARCHAR},
      PUBLISH_FLAG = #{publishFlag,jdbcType=VARCHAR},
      PUBLISH_TIME = #{publishTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      CLICKS = #{clicks,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=CLOB}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.NydwCaucusNotice" >
    update PDSCI.NYDW_CAUCUS_NOTICE
    set NOTICE_NAME = #{noticeName,jdbcType=VARCHAR},
      PARTY_BRANCH_ID = #{partyBranchId,jdbcType=VARCHAR},
      PARTY_BRANCH_NAME = #{partyBranchName,jdbcType=VARCHAR},
      NOTICE_TYPE_ID = #{noticeTypeId,jdbcType=VARCHAR},
      NOTICE_TYPE_NAME = #{noticeTypeName,jdbcType=VARCHAR},
      PUBLISH_FLAG = #{publishFlag,jdbcType=VARCHAR},
      PUBLISH_TIME = #{publishTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      CLICKS = #{clicks,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>