<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.NyzlRetestStudentMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.NyzlRetestStudent" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="STU_NO" property="stuNo" jdbcType="VARCHAR" />
    <result column="STU_NAME" property="stuName" jdbcType="VARCHAR" />
    <result column="CARD_NO" property="cardNo" jdbcType="VARCHAR" />
    <result column="STU_SIGN" property="stuSign" jdbcType="VARCHAR" />
    <result column="EDUCATION_TYPE_ID" property="educationTypeId" jdbcType="VARCHAR" />
    <result column="EDUCATION_TYPE_NAME" property="educationTypeName" jdbcType="VARCHAR" />
    <result column="CERTIFICATE_NO" property="certificateNo" jdbcType="VARCHAR" />
    <result column="INTENTION_TEACHER_NAME" property="intentionTeacherName" jdbcType="VARCHAR" />
    <result column="SEX_ID" property="sexId" jdbcType="VARCHAR" />
    <result column="SEX_NAME" property="sexName" jdbcType="VARCHAR" />
    <result column="GRADUATION_SPE_NAME" property="graduationSpeName" jdbcType="VARCHAR" />
    <result column="GRADUATION_UNIT" property="graduationUnit" jdbcType="VARCHAR" />
    <result column="CONTACT_PHONE" property="contactPhone" jdbcType="VARCHAR" />
    <result column="CONTACT_EMAIL" property="contactEmail" jdbcType="VARCHAR" />
    <result column="SPE_ID" property="speId" jdbcType="VARCHAR" />
    <result column="SPE_NAME" property="speName" jdbcType="VARCHAR" />
    <result column="DIRECTION_ID" property="directionId" jdbcType="VARCHAR" />
    <result column="DIRECTION_NAME" property="directionName" jdbcType="VARCHAR" />
    <result column="DEGREE_TYPE_ID" property="degreeTypeId" jdbcType="VARCHAR" />
    <result column="DEGREE_TYPE_NAME" property="degreeTypeName" jdbcType="VARCHAR" />
    <result column="APPLICATION_CATEGORY_ID" property="applicationCategoryId" jdbcType="VARCHAR" />
    <result column="APPLICATION_CATEGORY_NAME" property="applicationCategoryName" jdbcType="VARCHAR" />
    <result column="STU_GRADE" property="stuGrade" jdbcType="VARCHAR" />
    <result column="SCHOOL_RANKING" property="schoolRanking" jdbcType="VARCHAR" />
    <result column="COLLEGE_RANKGING" property="collegeRankging" jdbcType="VARCHAR" />
    <result column="REGISTER_STATUS_ID" property="registerStatusId" jdbcType="VARCHAR" />
    <result column="REGISTER_STATUS_NAME" property="registerStatusName" jdbcType="VARCHAR" />
    <result column="SWAP_BATCH_ID" property="swapBatchId" jdbcType="VARCHAR" />
    <result column="SWAP_BATCH_NAME" property="swapBatchName" jdbcType="VARCHAR" />
    <result column="GRADE_RANKING_PERCENTAGE" property="gradeRankingPercentage" jdbcType="VARCHAR" />
    <result column="SIX_GRADE" property="sixGrade" jdbcType="VARCHAR" />
    <result column="INSTITUTION_TYPE_NAME" property="institutionTypeName" jdbcType="VARCHAR" />
    <result column="POLITICAL_THEORY" property="politicalTheory" jdbcType="VARCHAR" />
    <result column="POLITICAL_THEORY_GRADE" property="politicalTheoryGrade" jdbcType="VARCHAR" />
    <result column="FOREIGN_LANGUAGE" property="foreignLanguage" jdbcType="VARCHAR" />
    <result column="FOREIGN_LANGUAGE_GRADE" property="foreignLanguageGrade" jdbcType="VARCHAR" />
    <result column="BUSINESS_ONE" property="businessOne" jdbcType="VARCHAR" />
    <result column="BUSINESS_ONE_GRADE" property="businessOneGrade" jdbcType="VARCHAR" />
    <result column="BUSINESS_TWO" property="businessTwo" jdbcType="VARCHAR" />
    <result column="BUSINESS_TWO_GRADE" property="businessTwoGrade" jdbcType="VARCHAR" />
    <result column="SUBJECT_ONE" property="subjectOne" jdbcType="VARCHAR" />
    <result column="ENGLISH_STANDARD_GRADE" property="englishStandardGrade" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="RECRUIT_YEAR" property="recruitYear" jdbcType="VARCHAR" />
    <result column="STU_BIRTHDAY" property="stuBirthday" jdbcType="VARCHAR" />
    <result column="FWH_FLOW" property="fwhFlow" jdbcType="VARCHAR" />
    <result column="FWH_NAME" property="fwhName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, STU_NO, STU_NAME, CARD_NO, STU_SIGN, EDUCATION_TYPE_ID, EDUCATION_TYPE_NAME, 
    CERTIFICATE_NO, INTENTION_TEACHER_NAME, SEX_ID, SEX_NAME, GRADUATION_SPE_NAME, GRADUATION_UNIT, 
    CONTACT_PHONE, CONTACT_EMAIL, SPE_ID, SPE_NAME, DIRECTION_ID, DIRECTION_NAME, DEGREE_TYPE_ID, 
    DEGREE_TYPE_NAME, APPLICATION_CATEGORY_ID, APPLICATION_CATEGORY_NAME, STU_GRADE, 
    SCHOOL_RANKING, COLLEGE_RANKGING, REGISTER_STATUS_ID, REGISTER_STATUS_NAME, SWAP_BATCH_ID, 
    SWAP_BATCH_NAME, GRADE_RANKING_PERCENTAGE, SIX_GRADE, INSTITUTION_TYPE_NAME, POLITICAL_THEORY, 
    POLITICAL_THEORY_GRADE, FOREIGN_LANGUAGE, FOREIGN_LANGUAGE_GRADE, BUSINESS_ONE, BUSINESS_ONE_GRADE, 
    BUSINESS_TWO, BUSINESS_TWO_GRADE, SUBJECT_ONE, ENGLISH_STANDARD_GRADE, ORG_FLOW, 
    ORG_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
    RECRUIT_YEAR, STU_BIRTHDAY, FWH_FLOW, FWH_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.NyzlRetestStudentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.NYZL_RETEST_STUDENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.NYZL_RETEST_STUDENT
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.NYZL_RETEST_STUDENT
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.NyzlRetestStudentExample" >
    delete from PDSCI.NYZL_RETEST_STUDENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.NyzlRetestStudent" >
    insert into PDSCI.NYZL_RETEST_STUDENT (RECORD_FLOW, STU_NO, STU_NAME, 
      CARD_NO, STU_SIGN, EDUCATION_TYPE_ID, 
      EDUCATION_TYPE_NAME, CERTIFICATE_NO, INTENTION_TEACHER_NAME, 
      SEX_ID, SEX_NAME, GRADUATION_SPE_NAME, 
      GRADUATION_UNIT, CONTACT_PHONE, CONTACT_EMAIL, 
      SPE_ID, SPE_NAME, DIRECTION_ID, 
      DIRECTION_NAME, DEGREE_TYPE_ID, DEGREE_TYPE_NAME, 
      APPLICATION_CATEGORY_ID, APPLICATION_CATEGORY_NAME, 
      STU_GRADE, SCHOOL_RANKING, COLLEGE_RANKGING, 
      REGISTER_STATUS_ID, REGISTER_STATUS_NAME, SWAP_BATCH_ID, 
      SWAP_BATCH_NAME, GRADE_RANKING_PERCENTAGE, 
      SIX_GRADE, INSTITUTION_TYPE_NAME, POLITICAL_THEORY, 
      POLITICAL_THEORY_GRADE, FOREIGN_LANGUAGE, 
      FOREIGN_LANGUAGE_GRADE, BUSINESS_ONE, BUSINESS_ONE_GRADE, 
      BUSINESS_TWO, BUSINESS_TWO_GRADE, SUBJECT_ONE, 
      ENGLISH_STANDARD_GRADE, ORG_FLOW, ORG_NAME, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, RECRUIT_YEAR, 
      STU_BIRTHDAY, FWH_FLOW, FWH_NAME
      )
    values (#{recordFlow,jdbcType=VARCHAR}, #{stuNo,jdbcType=VARCHAR}, #{stuName,jdbcType=VARCHAR}, 
      #{cardNo,jdbcType=VARCHAR}, #{stuSign,jdbcType=VARCHAR}, #{educationTypeId,jdbcType=VARCHAR}, 
      #{educationTypeName,jdbcType=VARCHAR}, #{certificateNo,jdbcType=VARCHAR}, #{intentionTeacherName,jdbcType=VARCHAR}, 
      #{sexId,jdbcType=VARCHAR}, #{sexName,jdbcType=VARCHAR}, #{graduationSpeName,jdbcType=VARCHAR}, 
      #{graduationUnit,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, #{contactEmail,jdbcType=VARCHAR}, 
      #{speId,jdbcType=VARCHAR}, #{speName,jdbcType=VARCHAR}, #{directionId,jdbcType=VARCHAR}, 
      #{directionName,jdbcType=VARCHAR}, #{degreeTypeId,jdbcType=VARCHAR}, #{degreeTypeName,jdbcType=VARCHAR}, 
      #{applicationCategoryId,jdbcType=VARCHAR}, #{applicationCategoryName,jdbcType=VARCHAR}, 
      #{stuGrade,jdbcType=VARCHAR}, #{schoolRanking,jdbcType=VARCHAR}, #{collegeRankging,jdbcType=VARCHAR}, 
      #{registerStatusId,jdbcType=VARCHAR}, #{registerStatusName,jdbcType=VARCHAR}, #{swapBatchId,jdbcType=VARCHAR}, 
      #{swapBatchName,jdbcType=VARCHAR}, #{gradeRankingPercentage,jdbcType=VARCHAR}, 
      #{sixGrade,jdbcType=VARCHAR}, #{institutionTypeName,jdbcType=VARCHAR}, #{politicalTheory,jdbcType=VARCHAR}, 
      #{politicalTheoryGrade,jdbcType=VARCHAR}, #{foreignLanguage,jdbcType=VARCHAR}, 
      #{foreignLanguageGrade,jdbcType=VARCHAR}, #{businessOne,jdbcType=VARCHAR}, #{businessOneGrade,jdbcType=VARCHAR}, 
      #{businessTwo,jdbcType=VARCHAR}, #{businessTwoGrade,jdbcType=VARCHAR}, #{subjectOne,jdbcType=VARCHAR}, 
      #{englishStandardGrade,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{recruitYear,jdbcType=VARCHAR}, 
      #{stuBirthday,jdbcType=VARCHAR}, #{fwhFlow,jdbcType=VARCHAR}, #{fwhName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.NyzlRetestStudent" >
    insert into PDSCI.NYZL_RETEST_STUDENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="stuNo != null" >
        STU_NO,
      </if>
      <if test="stuName != null" >
        STU_NAME,
      </if>
      <if test="cardNo != null" >
        CARD_NO,
      </if>
      <if test="stuSign != null" >
        STU_SIGN,
      </if>
      <if test="educationTypeId != null" >
        EDUCATION_TYPE_ID,
      </if>
      <if test="educationTypeName != null" >
        EDUCATION_TYPE_NAME,
      </if>
      <if test="certificateNo != null" >
        CERTIFICATE_NO,
      </if>
      <if test="intentionTeacherName != null" >
        INTENTION_TEACHER_NAME,
      </if>
      <if test="sexId != null" >
        SEX_ID,
      </if>
      <if test="sexName != null" >
        SEX_NAME,
      </if>
      <if test="graduationSpeName != null" >
        GRADUATION_SPE_NAME,
      </if>
      <if test="graduationUnit != null" >
        GRADUATION_UNIT,
      </if>
      <if test="contactPhone != null" >
        CONTACT_PHONE,
      </if>
      <if test="contactEmail != null" >
        CONTACT_EMAIL,
      </if>
      <if test="speId != null" >
        SPE_ID,
      </if>
      <if test="speName != null" >
        SPE_NAME,
      </if>
      <if test="directionId != null" >
        DIRECTION_ID,
      </if>
      <if test="directionName != null" >
        DIRECTION_NAME,
      </if>
      <if test="degreeTypeId != null" >
        DEGREE_TYPE_ID,
      </if>
      <if test="degreeTypeName != null" >
        DEGREE_TYPE_NAME,
      </if>
      <if test="applicationCategoryId != null" >
        APPLICATION_CATEGORY_ID,
      </if>
      <if test="applicationCategoryName != null" >
        APPLICATION_CATEGORY_NAME,
      </if>
      <if test="stuGrade != null" >
        STU_GRADE,
      </if>
      <if test="schoolRanking != null" >
        SCHOOL_RANKING,
      </if>
      <if test="collegeRankging != null" >
        COLLEGE_RANKGING,
      </if>
      <if test="registerStatusId != null" >
        REGISTER_STATUS_ID,
      </if>
      <if test="registerStatusName != null" >
        REGISTER_STATUS_NAME,
      </if>
      <if test="swapBatchId != null" >
        SWAP_BATCH_ID,
      </if>
      <if test="swapBatchName != null" >
        SWAP_BATCH_NAME,
      </if>
      <if test="gradeRankingPercentage != null" >
        GRADE_RANKING_PERCENTAGE,
      </if>
      <if test="sixGrade != null" >
        SIX_GRADE,
      </if>
      <if test="institutionTypeName != null" >
        INSTITUTION_TYPE_NAME,
      </if>
      <if test="politicalTheory != null" >
        POLITICAL_THEORY,
      </if>
      <if test="politicalTheoryGrade != null" >
        POLITICAL_THEORY_GRADE,
      </if>
      <if test="foreignLanguage != null" >
        FOREIGN_LANGUAGE,
      </if>
      <if test="foreignLanguageGrade != null" >
        FOREIGN_LANGUAGE_GRADE,
      </if>
      <if test="businessOne != null" >
        BUSINESS_ONE,
      </if>
      <if test="businessOneGrade != null" >
        BUSINESS_ONE_GRADE,
      </if>
      <if test="businessTwo != null" >
        BUSINESS_TWO,
      </if>
      <if test="businessTwoGrade != null" >
        BUSINESS_TWO_GRADE,
      </if>
      <if test="subjectOne != null" >
        SUBJECT_ONE,
      </if>
      <if test="englishStandardGrade != null" >
        ENGLISH_STANDARD_GRADE,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="recruitYear != null" >
        RECRUIT_YEAR,
      </if>
      <if test="stuBirthday != null" >
        STU_BIRTHDAY,
      </if>
      <if test="fwhFlow != null" >
        FWH_FLOW,
      </if>
      <if test="fwhName != null" >
        FWH_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="stuNo != null" >
        #{stuNo,jdbcType=VARCHAR},
      </if>
      <if test="stuName != null" >
        #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="stuSign != null" >
        #{stuSign,jdbcType=VARCHAR},
      </if>
      <if test="educationTypeId != null" >
        #{educationTypeId,jdbcType=VARCHAR},
      </if>
      <if test="educationTypeName != null" >
        #{educationTypeName,jdbcType=VARCHAR},
      </if>
      <if test="certificateNo != null" >
        #{certificateNo,jdbcType=VARCHAR},
      </if>
      <if test="intentionTeacherName != null" >
        #{intentionTeacherName,jdbcType=VARCHAR},
      </if>
      <if test="sexId != null" >
        #{sexId,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null" >
        #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="graduationSpeName != null" >
        #{graduationSpeName,jdbcType=VARCHAR},
      </if>
      <if test="graduationUnit != null" >
        #{graduationUnit,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="speId != null" >
        #{speId,jdbcType=VARCHAR},
      </if>
      <if test="speName != null" >
        #{speName,jdbcType=VARCHAR},
      </if>
      <if test="directionId != null" >
        #{directionId,jdbcType=VARCHAR},
      </if>
      <if test="directionName != null" >
        #{directionName,jdbcType=VARCHAR},
      </if>
      <if test="degreeTypeId != null" >
        #{degreeTypeId,jdbcType=VARCHAR},
      </if>
      <if test="degreeTypeName != null" >
        #{degreeTypeName,jdbcType=VARCHAR},
      </if>
      <if test="applicationCategoryId != null" >
        #{applicationCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="applicationCategoryName != null" >
        #{applicationCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="stuGrade != null" >
        #{stuGrade,jdbcType=VARCHAR},
      </if>
      <if test="schoolRanking != null" >
        #{schoolRanking,jdbcType=VARCHAR},
      </if>
      <if test="collegeRankging != null" >
        #{collegeRankging,jdbcType=VARCHAR},
      </if>
      <if test="registerStatusId != null" >
        #{registerStatusId,jdbcType=VARCHAR},
      </if>
      <if test="registerStatusName != null" >
        #{registerStatusName,jdbcType=VARCHAR},
      </if>
      <if test="swapBatchId != null" >
        #{swapBatchId,jdbcType=VARCHAR},
      </if>
      <if test="swapBatchName != null" >
        #{swapBatchName,jdbcType=VARCHAR},
      </if>
      <if test="gradeRankingPercentage != null" >
        #{gradeRankingPercentage,jdbcType=VARCHAR},
      </if>
      <if test="sixGrade != null" >
        #{sixGrade,jdbcType=VARCHAR},
      </if>
      <if test="institutionTypeName != null" >
        #{institutionTypeName,jdbcType=VARCHAR},
      </if>
      <if test="politicalTheory != null" >
        #{politicalTheory,jdbcType=VARCHAR},
      </if>
      <if test="politicalTheoryGrade != null" >
        #{politicalTheoryGrade,jdbcType=VARCHAR},
      </if>
      <if test="foreignLanguage != null" >
        #{foreignLanguage,jdbcType=VARCHAR},
      </if>
      <if test="foreignLanguageGrade != null" >
        #{foreignLanguageGrade,jdbcType=VARCHAR},
      </if>
      <if test="businessOne != null" >
        #{businessOne,jdbcType=VARCHAR},
      </if>
      <if test="businessOneGrade != null" >
        #{businessOneGrade,jdbcType=VARCHAR},
      </if>
      <if test="businessTwo != null" >
        #{businessTwo,jdbcType=VARCHAR},
      </if>
      <if test="businessTwoGrade != null" >
        #{businessTwoGrade,jdbcType=VARCHAR},
      </if>
      <if test="subjectOne != null" >
        #{subjectOne,jdbcType=VARCHAR},
      </if>
      <if test="englishStandardGrade != null" >
        #{englishStandardGrade,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="recruitYear != null" >
        #{recruitYear,jdbcType=VARCHAR},
      </if>
      <if test="stuBirthday != null" >
        #{stuBirthday,jdbcType=VARCHAR},
      </if>
      <if test="fwhFlow != null" >
        #{fwhFlow,jdbcType=VARCHAR},
      </if>
      <if test="fwhName != null" >
        #{fwhName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.NyzlRetestStudentExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.NYZL_RETEST_STUDENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.NYZL_RETEST_STUDENT
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.stuNo != null" >
        STU_NO = #{record.stuNo,jdbcType=VARCHAR},
      </if>
      <if test="record.stuName != null" >
        STU_NAME = #{record.stuName,jdbcType=VARCHAR},
      </if>
      <if test="record.cardNo != null" >
        CARD_NO = #{record.cardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.stuSign != null" >
        STU_SIGN = #{record.stuSign,jdbcType=VARCHAR},
      </if>
      <if test="record.educationTypeId != null" >
        EDUCATION_TYPE_ID = #{record.educationTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.educationTypeName != null" >
        EDUCATION_TYPE_NAME = #{record.educationTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateNo != null" >
        CERTIFICATE_NO = #{record.certificateNo,jdbcType=VARCHAR},
      </if>
      <if test="record.intentionTeacherName != null" >
        INTENTION_TEACHER_NAME = #{record.intentionTeacherName,jdbcType=VARCHAR},
      </if>
      <if test="record.sexId != null" >
        SEX_ID = #{record.sexId,jdbcType=VARCHAR},
      </if>
      <if test="record.sexName != null" >
        SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      </if>
      <if test="record.graduationSpeName != null" >
        GRADUATION_SPE_NAME = #{record.graduationSpeName,jdbcType=VARCHAR},
      </if>
      <if test="record.graduationUnit != null" >
        GRADUATION_UNIT = #{record.graduationUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.contactPhone != null" >
        CONTACT_PHONE = #{record.contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.contactEmail != null" >
        CONTACT_EMAIL = #{record.contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.speId != null" >
        SPE_ID = #{record.speId,jdbcType=VARCHAR},
      </if>
      <if test="record.speName != null" >
        SPE_NAME = #{record.speName,jdbcType=VARCHAR},
      </if>
      <if test="record.directionId != null" >
        DIRECTION_ID = #{record.directionId,jdbcType=VARCHAR},
      </if>
      <if test="record.directionName != null" >
        DIRECTION_NAME = #{record.directionName,jdbcType=VARCHAR},
      </if>
      <if test="record.degreeTypeId != null" >
        DEGREE_TYPE_ID = #{record.degreeTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.degreeTypeName != null" >
        DEGREE_TYPE_NAME = #{record.degreeTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationCategoryId != null" >
        APPLICATION_CATEGORY_ID = #{record.applicationCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationCategoryName != null" >
        APPLICATION_CATEGORY_NAME = #{record.applicationCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.stuGrade != null" >
        STU_GRADE = #{record.stuGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolRanking != null" >
        SCHOOL_RANKING = #{record.schoolRanking,jdbcType=VARCHAR},
      </if>
      <if test="record.collegeRankging != null" >
        COLLEGE_RANKGING = #{record.collegeRankging,jdbcType=VARCHAR},
      </if>
      <if test="record.registerStatusId != null" >
        REGISTER_STATUS_ID = #{record.registerStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.registerStatusName != null" >
        REGISTER_STATUS_NAME = #{record.registerStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.swapBatchId != null" >
        SWAP_BATCH_ID = #{record.swapBatchId,jdbcType=VARCHAR},
      </if>
      <if test="record.swapBatchName != null" >
        SWAP_BATCH_NAME = #{record.swapBatchName,jdbcType=VARCHAR},
      </if>
      <if test="record.gradeRankingPercentage != null" >
        GRADE_RANKING_PERCENTAGE = #{record.gradeRankingPercentage,jdbcType=VARCHAR},
      </if>
      <if test="record.sixGrade != null" >
        SIX_GRADE = #{record.sixGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.institutionTypeName != null" >
        INSTITUTION_TYPE_NAME = #{record.institutionTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.politicalTheory != null" >
        POLITICAL_THEORY = #{record.politicalTheory,jdbcType=VARCHAR},
      </if>
      <if test="record.politicalTheoryGrade != null" >
        POLITICAL_THEORY_GRADE = #{record.politicalTheoryGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.foreignLanguage != null" >
        FOREIGN_LANGUAGE = #{record.foreignLanguage,jdbcType=VARCHAR},
      </if>
      <if test="record.foreignLanguageGrade != null" >
        FOREIGN_LANGUAGE_GRADE = #{record.foreignLanguageGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.businessOne != null" >
        BUSINESS_ONE = #{record.businessOne,jdbcType=VARCHAR},
      </if>
      <if test="record.businessOneGrade != null" >
        BUSINESS_ONE_GRADE = #{record.businessOneGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.businessTwo != null" >
        BUSINESS_TWO = #{record.businessTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.businessTwoGrade != null" >
        BUSINESS_TWO_GRADE = #{record.businessTwoGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.subjectOne != null" >
        SUBJECT_ONE = #{record.subjectOne,jdbcType=VARCHAR},
      </if>
      <if test="record.englishStandardGrade != null" >
        ENGLISH_STANDARD_GRADE = #{record.englishStandardGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.recruitYear != null" >
        RECRUIT_YEAR = #{record.recruitYear,jdbcType=VARCHAR},
      </if>
      <if test="record.stuBirthday != null" >
        STU_BIRTHDAY = #{record.stuBirthday,jdbcType=VARCHAR},
      </if>
      <if test="record.fwhFlow != null" >
        FWH_FLOW = #{record.fwhFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.fwhName != null" >
        FWH_NAME = #{record.fwhName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.NYZL_RETEST_STUDENT
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      STU_NO = #{record.stuNo,jdbcType=VARCHAR},
      STU_NAME = #{record.stuName,jdbcType=VARCHAR},
      CARD_NO = #{record.cardNo,jdbcType=VARCHAR},
      STU_SIGN = #{record.stuSign,jdbcType=VARCHAR},
      EDUCATION_TYPE_ID = #{record.educationTypeId,jdbcType=VARCHAR},
      EDUCATION_TYPE_NAME = #{record.educationTypeName,jdbcType=VARCHAR},
      CERTIFICATE_NO = #{record.certificateNo,jdbcType=VARCHAR},
      INTENTION_TEACHER_NAME = #{record.intentionTeacherName,jdbcType=VARCHAR},
      SEX_ID = #{record.sexId,jdbcType=VARCHAR},
      SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      GRADUATION_SPE_NAME = #{record.graduationSpeName,jdbcType=VARCHAR},
      GRADUATION_UNIT = #{record.graduationUnit,jdbcType=VARCHAR},
      CONTACT_PHONE = #{record.contactPhone,jdbcType=VARCHAR},
      CONTACT_EMAIL = #{record.contactEmail,jdbcType=VARCHAR},
      SPE_ID = #{record.speId,jdbcType=VARCHAR},
      SPE_NAME = #{record.speName,jdbcType=VARCHAR},
      DIRECTION_ID = #{record.directionId,jdbcType=VARCHAR},
      DIRECTION_NAME = #{record.directionName,jdbcType=VARCHAR},
      DEGREE_TYPE_ID = #{record.degreeTypeId,jdbcType=VARCHAR},
      DEGREE_TYPE_NAME = #{record.degreeTypeName,jdbcType=VARCHAR},
      APPLICATION_CATEGORY_ID = #{record.applicationCategoryId,jdbcType=VARCHAR},
      APPLICATION_CATEGORY_NAME = #{record.applicationCategoryName,jdbcType=VARCHAR},
      STU_GRADE = #{record.stuGrade,jdbcType=VARCHAR},
      SCHOOL_RANKING = #{record.schoolRanking,jdbcType=VARCHAR},
      COLLEGE_RANKGING = #{record.collegeRankging,jdbcType=VARCHAR},
      REGISTER_STATUS_ID = #{record.registerStatusId,jdbcType=VARCHAR},
      REGISTER_STATUS_NAME = #{record.registerStatusName,jdbcType=VARCHAR},
      SWAP_BATCH_ID = #{record.swapBatchId,jdbcType=VARCHAR},
      SWAP_BATCH_NAME = #{record.swapBatchName,jdbcType=VARCHAR},
      GRADE_RANKING_PERCENTAGE = #{record.gradeRankingPercentage,jdbcType=VARCHAR},
      SIX_GRADE = #{record.sixGrade,jdbcType=VARCHAR},
      INSTITUTION_TYPE_NAME = #{record.institutionTypeName,jdbcType=VARCHAR},
      POLITICAL_THEORY = #{record.politicalTheory,jdbcType=VARCHAR},
      POLITICAL_THEORY_GRADE = #{record.politicalTheoryGrade,jdbcType=VARCHAR},
      FOREIGN_LANGUAGE = #{record.foreignLanguage,jdbcType=VARCHAR},
      FOREIGN_LANGUAGE_GRADE = #{record.foreignLanguageGrade,jdbcType=VARCHAR},
      BUSINESS_ONE = #{record.businessOne,jdbcType=VARCHAR},
      BUSINESS_ONE_GRADE = #{record.businessOneGrade,jdbcType=VARCHAR},
      BUSINESS_TWO = #{record.businessTwo,jdbcType=VARCHAR},
      BUSINESS_TWO_GRADE = #{record.businessTwoGrade,jdbcType=VARCHAR},
      SUBJECT_ONE = #{record.subjectOne,jdbcType=VARCHAR},
      ENGLISH_STANDARD_GRADE = #{record.englishStandardGrade,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      RECRUIT_YEAR = #{record.recruitYear,jdbcType=VARCHAR},
      STU_BIRTHDAY = #{record.stuBirthday,jdbcType=VARCHAR},
      FWH_FLOW = #{record.fwhFlow,jdbcType=VARCHAR},
      FWH_NAME = #{record.fwhName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.NyzlRetestStudent" >
    update PDSCI.NYZL_RETEST_STUDENT
    <set >
      <if test="stuNo != null" >
        STU_NO = #{stuNo,jdbcType=VARCHAR},
      </if>
      <if test="stuName != null" >
        STU_NAME = #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        CARD_NO = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="stuSign != null" >
        STU_SIGN = #{stuSign,jdbcType=VARCHAR},
      </if>
      <if test="educationTypeId != null" >
        EDUCATION_TYPE_ID = #{educationTypeId,jdbcType=VARCHAR},
      </if>
      <if test="educationTypeName != null" >
        EDUCATION_TYPE_NAME = #{educationTypeName,jdbcType=VARCHAR},
      </if>
      <if test="certificateNo != null" >
        CERTIFICATE_NO = #{certificateNo,jdbcType=VARCHAR},
      </if>
      <if test="intentionTeacherName != null" >
        INTENTION_TEACHER_NAME = #{intentionTeacherName,jdbcType=VARCHAR},
      </if>
      <if test="sexId != null" >
        SEX_ID = #{sexId,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null" >
        SEX_NAME = #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="graduationSpeName != null" >
        GRADUATION_SPE_NAME = #{graduationSpeName,jdbcType=VARCHAR},
      </if>
      <if test="graduationUnit != null" >
        GRADUATION_UNIT = #{graduationUnit,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        CONTACT_EMAIL = #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="speId != null" >
        SPE_ID = #{speId,jdbcType=VARCHAR},
      </if>
      <if test="speName != null" >
        SPE_NAME = #{speName,jdbcType=VARCHAR},
      </if>
      <if test="directionId != null" >
        DIRECTION_ID = #{directionId,jdbcType=VARCHAR},
      </if>
      <if test="directionName != null" >
        DIRECTION_NAME = #{directionName,jdbcType=VARCHAR},
      </if>
      <if test="degreeTypeId != null" >
        DEGREE_TYPE_ID = #{degreeTypeId,jdbcType=VARCHAR},
      </if>
      <if test="degreeTypeName != null" >
        DEGREE_TYPE_NAME = #{degreeTypeName,jdbcType=VARCHAR},
      </if>
      <if test="applicationCategoryId != null" >
        APPLICATION_CATEGORY_ID = #{applicationCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="applicationCategoryName != null" >
        APPLICATION_CATEGORY_NAME = #{applicationCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="stuGrade != null" >
        STU_GRADE = #{stuGrade,jdbcType=VARCHAR},
      </if>
      <if test="schoolRanking != null" >
        SCHOOL_RANKING = #{schoolRanking,jdbcType=VARCHAR},
      </if>
      <if test="collegeRankging != null" >
        COLLEGE_RANKGING = #{collegeRankging,jdbcType=VARCHAR},
      </if>
      <if test="registerStatusId != null" >
        REGISTER_STATUS_ID = #{registerStatusId,jdbcType=VARCHAR},
      </if>
      <if test="registerStatusName != null" >
        REGISTER_STATUS_NAME = #{registerStatusName,jdbcType=VARCHAR},
      </if>
      <if test="swapBatchId != null" >
        SWAP_BATCH_ID = #{swapBatchId,jdbcType=VARCHAR},
      </if>
      <if test="swapBatchName != null" >
        SWAP_BATCH_NAME = #{swapBatchName,jdbcType=VARCHAR},
      </if>
      <if test="gradeRankingPercentage != null" >
        GRADE_RANKING_PERCENTAGE = #{gradeRankingPercentage,jdbcType=VARCHAR},
      </if>
      <if test="sixGrade != null" >
        SIX_GRADE = #{sixGrade,jdbcType=VARCHAR},
      </if>
      <if test="institutionTypeName != null" >
        INSTITUTION_TYPE_NAME = #{institutionTypeName,jdbcType=VARCHAR},
      </if>
      <if test="politicalTheory != null" >
        POLITICAL_THEORY = #{politicalTheory,jdbcType=VARCHAR},
      </if>
      <if test="politicalTheoryGrade != null" >
        POLITICAL_THEORY_GRADE = #{politicalTheoryGrade,jdbcType=VARCHAR},
      </if>
      <if test="foreignLanguage != null" >
        FOREIGN_LANGUAGE = #{foreignLanguage,jdbcType=VARCHAR},
      </if>
      <if test="foreignLanguageGrade != null" >
        FOREIGN_LANGUAGE_GRADE = #{foreignLanguageGrade,jdbcType=VARCHAR},
      </if>
      <if test="businessOne != null" >
        BUSINESS_ONE = #{businessOne,jdbcType=VARCHAR},
      </if>
      <if test="businessOneGrade != null" >
        BUSINESS_ONE_GRADE = #{businessOneGrade,jdbcType=VARCHAR},
      </if>
      <if test="businessTwo != null" >
        BUSINESS_TWO = #{businessTwo,jdbcType=VARCHAR},
      </if>
      <if test="businessTwoGrade != null" >
        BUSINESS_TWO_GRADE = #{businessTwoGrade,jdbcType=VARCHAR},
      </if>
      <if test="subjectOne != null" >
        SUBJECT_ONE = #{subjectOne,jdbcType=VARCHAR},
      </if>
      <if test="englishStandardGrade != null" >
        ENGLISH_STANDARD_GRADE = #{englishStandardGrade,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="recruitYear != null" >
        RECRUIT_YEAR = #{recruitYear,jdbcType=VARCHAR},
      </if>
      <if test="stuBirthday != null" >
        STU_BIRTHDAY = #{stuBirthday,jdbcType=VARCHAR},
      </if>
      <if test="fwhFlow != null" >
        FWH_FLOW = #{fwhFlow,jdbcType=VARCHAR},
      </if>
      <if test="fwhName != null" >
        FWH_NAME = #{fwhName,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.NyzlRetestStudent" >
    update PDSCI.NYZL_RETEST_STUDENT
    set STU_NO = #{stuNo,jdbcType=VARCHAR},
      STU_NAME = #{stuName,jdbcType=VARCHAR},
      CARD_NO = #{cardNo,jdbcType=VARCHAR},
      STU_SIGN = #{stuSign,jdbcType=VARCHAR},
      EDUCATION_TYPE_ID = #{educationTypeId,jdbcType=VARCHAR},
      EDUCATION_TYPE_NAME = #{educationTypeName,jdbcType=VARCHAR},
      CERTIFICATE_NO = #{certificateNo,jdbcType=VARCHAR},
      INTENTION_TEACHER_NAME = #{intentionTeacherName,jdbcType=VARCHAR},
      SEX_ID = #{sexId,jdbcType=VARCHAR},
      SEX_NAME = #{sexName,jdbcType=VARCHAR},
      GRADUATION_SPE_NAME = #{graduationSpeName,jdbcType=VARCHAR},
      GRADUATION_UNIT = #{graduationUnit,jdbcType=VARCHAR},
      CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
      CONTACT_EMAIL = #{contactEmail,jdbcType=VARCHAR},
      SPE_ID = #{speId,jdbcType=VARCHAR},
      SPE_NAME = #{speName,jdbcType=VARCHAR},
      DIRECTION_ID = #{directionId,jdbcType=VARCHAR},
      DIRECTION_NAME = #{directionName,jdbcType=VARCHAR},
      DEGREE_TYPE_ID = #{degreeTypeId,jdbcType=VARCHAR},
      DEGREE_TYPE_NAME = #{degreeTypeName,jdbcType=VARCHAR},
      APPLICATION_CATEGORY_ID = #{applicationCategoryId,jdbcType=VARCHAR},
      APPLICATION_CATEGORY_NAME = #{applicationCategoryName,jdbcType=VARCHAR},
      STU_GRADE = #{stuGrade,jdbcType=VARCHAR},
      SCHOOL_RANKING = #{schoolRanking,jdbcType=VARCHAR},
      COLLEGE_RANKGING = #{collegeRankging,jdbcType=VARCHAR},
      REGISTER_STATUS_ID = #{registerStatusId,jdbcType=VARCHAR},
      REGISTER_STATUS_NAME = #{registerStatusName,jdbcType=VARCHAR},
      SWAP_BATCH_ID = #{swapBatchId,jdbcType=VARCHAR},
      SWAP_BATCH_NAME = #{swapBatchName,jdbcType=VARCHAR},
      GRADE_RANKING_PERCENTAGE = #{gradeRankingPercentage,jdbcType=VARCHAR},
      SIX_GRADE = #{sixGrade,jdbcType=VARCHAR},
      INSTITUTION_TYPE_NAME = #{institutionTypeName,jdbcType=VARCHAR},
      POLITICAL_THEORY = #{politicalTheory,jdbcType=VARCHAR},
      POLITICAL_THEORY_GRADE = #{politicalTheoryGrade,jdbcType=VARCHAR},
      FOREIGN_LANGUAGE = #{foreignLanguage,jdbcType=VARCHAR},
      FOREIGN_LANGUAGE_GRADE = #{foreignLanguageGrade,jdbcType=VARCHAR},
      BUSINESS_ONE = #{businessOne,jdbcType=VARCHAR},
      BUSINESS_ONE_GRADE = #{businessOneGrade,jdbcType=VARCHAR},
      BUSINESS_TWO = #{businessTwo,jdbcType=VARCHAR},
      BUSINESS_TWO_GRADE = #{businessTwoGrade,jdbcType=VARCHAR},
      SUBJECT_ONE = #{subjectOne,jdbcType=VARCHAR},
      ENGLISH_STANDARD_GRADE = #{englishStandardGrade,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      RECRUIT_YEAR = #{recruitYear,jdbcType=VARCHAR},
      STU_BIRTHDAY = #{stuBirthday,jdbcType=VARCHAR},
      FWH_FLOW = #{fwhFlow,jdbcType=VARCHAR},
      FWH_NAME = #{fwhName,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>