<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.PubAttributeMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.PubAttribute" >
    <id column="ATTR_FLOW" property="attrFlow" jdbcType="VARCHAR" />
    <result column="ATTR_NAME" property="attrName" jdbcType="VARCHAR" />
    <result column="ATTR_CODE" property="attrCode" jdbcType="VARCHAR" />
    <result column="ATTR_VAR_NAME" property="attrVarName" jdbcType="VARCHAR" />
    <result column="MODULE_CODE" property="moduleCode" jdbcType="VARCHAR" />
    <result column="ELEMENT_CODE" property="elementCode" jdbcType="VARCHAR" />
    <result column="ELEMENT_NAME" property="elementName" jdbcType="VARCHAR" />
    <result column="DATA_TYPE_ID" property="dataTypeId" jdbcType="VARCHAR" />
    <result column="DATA_TYPE_NAME" property="dataTypeName" jdbcType="VARCHAR" />
    <result column="DATA_LENGTH" property="dataLength" jdbcType="VARCHAR" />
    <result column="DATA_DECIMAL_LENGTH" property="dataDecimalLength" jdbcType="VARCHAR" />
    <result column="INPUT_TYPE_ID" property="inputTypeId" jdbcType="VARCHAR" />
    <result column="INPUT_TYPE_NAME" property="inputTypeName" jdbcType="VARCHAR" />
    <result column="ORDINAL" property="ordinal" jdbcType="DECIMAL" />
    <result column="IS_VIEW_NAME" property="isViewName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ATTR_FLOW, ATTR_NAME, ATTR_CODE, ATTR_VAR_NAME, MODULE_CODE, ELEMENT_CODE, ELEMENT_NAME, 
    DATA_TYPE_ID, DATA_TYPE_NAME, DATA_LENGTH, DATA_DECIMAL_LENGTH, INPUT_TYPE_ID, INPUT_TYPE_NAME, 
    ORDINAL, IS_VIEW_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
    MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.PubAttributeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.PUB_ATTRIBUTE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.PUB_ATTRIBUTE
    where ATTR_FLOW = #{attrFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.PUB_ATTRIBUTE
    where ATTR_FLOW = #{attrFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.PubAttributeExample" >
    delete from PDSCI.PUB_ATTRIBUTE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.PubAttribute" >
    insert into PDSCI.PUB_ATTRIBUTE (ATTR_FLOW, ATTR_NAME, ATTR_CODE, 
      ATTR_VAR_NAME, MODULE_CODE, ELEMENT_CODE, 
      ELEMENT_NAME, DATA_TYPE_ID, DATA_TYPE_NAME, 
      DATA_LENGTH, DATA_DECIMAL_LENGTH, INPUT_TYPE_ID, 
      INPUT_TYPE_NAME, ORDINAL, IS_VIEW_NAME, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{attrFlow,jdbcType=VARCHAR}, #{attrName,jdbcType=VARCHAR}, #{attrCode,jdbcType=VARCHAR}, 
      #{attrVarName,jdbcType=VARCHAR}, #{moduleCode,jdbcType=VARCHAR}, #{elementCode,jdbcType=VARCHAR}, 
      #{elementName,jdbcType=VARCHAR}, #{dataTypeId,jdbcType=VARCHAR}, #{dataTypeName,jdbcType=VARCHAR}, 
      #{dataLength,jdbcType=VARCHAR}, #{dataDecimalLength,jdbcType=VARCHAR}, #{inputTypeId,jdbcType=VARCHAR}, 
      #{inputTypeName,jdbcType=VARCHAR}, #{ordinal,jdbcType=DECIMAL}, #{isViewName,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.PubAttribute" >
    insert into PDSCI.PUB_ATTRIBUTE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attrFlow != null" >
        ATTR_FLOW,
      </if>
      <if test="attrName != null" >
        ATTR_NAME,
      </if>
      <if test="attrCode != null" >
        ATTR_CODE,
      </if>
      <if test="attrVarName != null" >
        ATTR_VAR_NAME,
      </if>
      <if test="moduleCode != null" >
        MODULE_CODE,
      </if>
      <if test="elementCode != null" >
        ELEMENT_CODE,
      </if>
      <if test="elementName != null" >
        ELEMENT_NAME,
      </if>
      <if test="dataTypeId != null" >
        DATA_TYPE_ID,
      </if>
      <if test="dataTypeName != null" >
        DATA_TYPE_NAME,
      </if>
      <if test="dataLength != null" >
        DATA_LENGTH,
      </if>
      <if test="dataDecimalLength != null" >
        DATA_DECIMAL_LENGTH,
      </if>
      <if test="inputTypeId != null" >
        INPUT_TYPE_ID,
      </if>
      <if test="inputTypeName != null" >
        INPUT_TYPE_NAME,
      </if>
      <if test="ordinal != null" >
        ORDINAL,
      </if>
      <if test="isViewName != null" >
        IS_VIEW_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attrFlow != null" >
        #{attrFlow,jdbcType=VARCHAR},
      </if>
      <if test="attrName != null" >
        #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="attrCode != null" >
        #{attrCode,jdbcType=VARCHAR},
      </if>
      <if test="attrVarName != null" >
        #{attrVarName,jdbcType=VARCHAR},
      </if>
      <if test="moduleCode != null" >
        #{moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="elementCode != null" >
        #{elementCode,jdbcType=VARCHAR},
      </if>
      <if test="elementName != null" >
        #{elementName,jdbcType=VARCHAR},
      </if>
      <if test="dataTypeId != null" >
        #{dataTypeId,jdbcType=VARCHAR},
      </if>
      <if test="dataTypeName != null" >
        #{dataTypeName,jdbcType=VARCHAR},
      </if>
      <if test="dataLength != null" >
        #{dataLength,jdbcType=VARCHAR},
      </if>
      <if test="dataDecimalLength != null" >
        #{dataDecimalLength,jdbcType=VARCHAR},
      </if>
      <if test="inputTypeId != null" >
        #{inputTypeId,jdbcType=VARCHAR},
      </if>
      <if test="inputTypeName != null" >
        #{inputTypeName,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null" >
        #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="isViewName != null" >
        #{isViewName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.PubAttributeExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.PUB_ATTRIBUTE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.PUB_ATTRIBUTE
    <set >
      <if test="record.attrFlow != null" >
        ATTR_FLOW = #{record.attrFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.attrName != null" >
        ATTR_NAME = #{record.attrName,jdbcType=VARCHAR},
      </if>
      <if test="record.attrCode != null" >
        ATTR_CODE = #{record.attrCode,jdbcType=VARCHAR},
      </if>
      <if test="record.attrVarName != null" >
        ATTR_VAR_NAME = #{record.attrVarName,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleCode != null" >
        MODULE_CODE = #{record.moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.elementCode != null" >
        ELEMENT_CODE = #{record.elementCode,jdbcType=VARCHAR},
      </if>
      <if test="record.elementName != null" >
        ELEMENT_NAME = #{record.elementName,jdbcType=VARCHAR},
      </if>
      <if test="record.dataTypeId != null" >
        DATA_TYPE_ID = #{record.dataTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.dataTypeName != null" >
        DATA_TYPE_NAME = #{record.dataTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.dataLength != null" >
        DATA_LENGTH = #{record.dataLength,jdbcType=VARCHAR},
      </if>
      <if test="record.dataDecimalLength != null" >
        DATA_DECIMAL_LENGTH = #{record.dataDecimalLength,jdbcType=VARCHAR},
      </if>
      <if test="record.inputTypeId != null" >
        INPUT_TYPE_ID = #{record.inputTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.inputTypeName != null" >
        INPUT_TYPE_NAME = #{record.inputTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.ordinal != null" >
        ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      </if>
      <if test="record.isViewName != null" >
        IS_VIEW_NAME = #{record.isViewName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.PUB_ATTRIBUTE
    set ATTR_FLOW = #{record.attrFlow,jdbcType=VARCHAR},
      ATTR_NAME = #{record.attrName,jdbcType=VARCHAR},
      ATTR_CODE = #{record.attrCode,jdbcType=VARCHAR},
      ATTR_VAR_NAME = #{record.attrVarName,jdbcType=VARCHAR},
      MODULE_CODE = #{record.moduleCode,jdbcType=VARCHAR},
      ELEMENT_CODE = #{record.elementCode,jdbcType=VARCHAR},
      ELEMENT_NAME = #{record.elementName,jdbcType=VARCHAR},
      DATA_TYPE_ID = #{record.dataTypeId,jdbcType=VARCHAR},
      DATA_TYPE_NAME = #{record.dataTypeName,jdbcType=VARCHAR},
      DATA_LENGTH = #{record.dataLength,jdbcType=VARCHAR},
      DATA_DECIMAL_LENGTH = #{record.dataDecimalLength,jdbcType=VARCHAR},
      INPUT_TYPE_ID = #{record.inputTypeId,jdbcType=VARCHAR},
      INPUT_TYPE_NAME = #{record.inputTypeName,jdbcType=VARCHAR},
      ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      IS_VIEW_NAME = #{record.isViewName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.PubAttribute" >
    update PDSCI.PUB_ATTRIBUTE
    <set >
      <if test="attrName != null" >
        ATTR_NAME = #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="attrCode != null" >
        ATTR_CODE = #{attrCode,jdbcType=VARCHAR},
      </if>
      <if test="attrVarName != null" >
        ATTR_VAR_NAME = #{attrVarName,jdbcType=VARCHAR},
      </if>
      <if test="moduleCode != null" >
        MODULE_CODE = #{moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="elementCode != null" >
        ELEMENT_CODE = #{elementCode,jdbcType=VARCHAR},
      </if>
      <if test="elementName != null" >
        ELEMENT_NAME = #{elementName,jdbcType=VARCHAR},
      </if>
      <if test="dataTypeId != null" >
        DATA_TYPE_ID = #{dataTypeId,jdbcType=VARCHAR},
      </if>
      <if test="dataTypeName != null" >
        DATA_TYPE_NAME = #{dataTypeName,jdbcType=VARCHAR},
      </if>
      <if test="dataLength != null" >
        DATA_LENGTH = #{dataLength,jdbcType=VARCHAR},
      </if>
      <if test="dataDecimalLength != null" >
        DATA_DECIMAL_LENGTH = #{dataDecimalLength,jdbcType=VARCHAR},
      </if>
      <if test="inputTypeId != null" >
        INPUT_TYPE_ID = #{inputTypeId,jdbcType=VARCHAR},
      </if>
      <if test="inputTypeName != null" >
        INPUT_TYPE_NAME = #{inputTypeName,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null" >
        ORDINAL = #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="isViewName != null" >
        IS_VIEW_NAME = #{isViewName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where ATTR_FLOW = #{attrFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.PubAttribute" >
    update PDSCI.PUB_ATTRIBUTE
    set ATTR_NAME = #{attrName,jdbcType=VARCHAR},
      ATTR_CODE = #{attrCode,jdbcType=VARCHAR},
      ATTR_VAR_NAME = #{attrVarName,jdbcType=VARCHAR},
      MODULE_CODE = #{moduleCode,jdbcType=VARCHAR},
      ELEMENT_CODE = #{elementCode,jdbcType=VARCHAR},
      ELEMENT_NAME = #{elementName,jdbcType=VARCHAR},
      DATA_TYPE_ID = #{dataTypeId,jdbcType=VARCHAR},
      DATA_TYPE_NAME = #{dataTypeName,jdbcType=VARCHAR},
      DATA_LENGTH = #{dataLength,jdbcType=VARCHAR},
      DATA_DECIMAL_LENGTH = #{dataDecimalLength,jdbcType=VARCHAR},
      INPUT_TYPE_ID = #{inputTypeId,jdbcType=VARCHAR},
      INPUT_TYPE_NAME = #{inputTypeName,jdbcType=VARCHAR},
      ORDINAL = #{ordinal,jdbcType=DECIMAL},
      IS_VIEW_NAME = #{isViewName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where ATTR_FLOW = #{attrFlow,jdbcType=VARCHAR}
  </update>
</mapper>