<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.PubPatientAeMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.PubPatientAe" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="PATIENT_FLOW" property="patientFlow" jdbcType="VARCHAR" />
    <result column="PATIENT_CODE" property="patientCode" jdbcType="VARCHAR" />
    <result column="PATIENT_NAME_PY" property="patientNamePy" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="PROJ_FLOW" property="projFlow" jdbcType="VARCHAR" />
    <result column="AE_NAME" property="aeName" jdbcType="VARCHAR" />
    <result column="IS_SAE" property="isSae" jdbcType="VARCHAR" />
    <result column="AE_RELATIONS" property="aeRelations" jdbcType="VARCHAR" />
    <result column="REPORT_TYPE" property="reportType" jdbcType="VARCHAR" />
    <result column="REPORT_DATE" property="reportDate" jdbcType="VARCHAR" />
    <result column="IS_SUBMIT_IRB" property="isSubmitIrb" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pinde.sci.model.mo.PubPatientAe" extends="BaseResultMap" >
    <result column="AE_INFO" property="aeInfo" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, PATIENT_FLOW, PATIENT_CODE, PATIENT_NAME_PY, ORG_FLOW, PROJ_FLOW, AE_NAME, 
    IS_SAE, AE_RELATIONS, REPORT_TYPE, REPORT_DATE, IS_SUBMIT_IRB, RECORD_STATUS, CREATE_TIME, 
    CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <sql id="Blob_Column_List" >
    AE_INFO
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pinde.sci.model.mo.PubPatientAeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.PUB_PATIENT_AE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.PubPatientAeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.PUB_PATIENT_AE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.PUB_PATIENT_AE
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.PUB_PATIENT_AE
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.PubPatientAeExample" >
    delete from PDSCI.PUB_PATIENT_AE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.PubPatientAe" >
    insert into PDSCI.PUB_PATIENT_AE (RECORD_FLOW, PATIENT_FLOW, PATIENT_CODE, 
      PATIENT_NAME_PY, ORG_FLOW, PROJ_FLOW, 
      AE_NAME, IS_SAE, AE_RELATIONS, 
      REPORT_TYPE, REPORT_DATE, IS_SUBMIT_IRB, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, AE_INFO
      )
    values (#{recordFlow,jdbcType=VARCHAR}, #{patientFlow,jdbcType=VARCHAR}, #{patientCode,jdbcType=VARCHAR}, 
      #{patientNamePy,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, #{projFlow,jdbcType=VARCHAR}, 
      #{aeName,jdbcType=VARCHAR}, #{isSae,jdbcType=VARCHAR}, #{aeRelations,jdbcType=VARCHAR}, 
      #{reportType,jdbcType=VARCHAR}, #{reportDate,jdbcType=VARCHAR}, #{isSubmitIrb,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{aeInfo,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.PubPatientAe" >
    insert into PDSCI.PUB_PATIENT_AE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="patientFlow != null" >
        PATIENT_FLOW,
      </if>
      <if test="patientCode != null" >
        PATIENT_CODE,
      </if>
      <if test="patientNamePy != null" >
        PATIENT_NAME_PY,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="projFlow != null" >
        PROJ_FLOW,
      </if>
      <if test="aeName != null" >
        AE_NAME,
      </if>
      <if test="isSae != null" >
        IS_SAE,
      </if>
      <if test="aeRelations != null" >
        AE_RELATIONS,
      </if>
      <if test="reportType != null" >
        REPORT_TYPE,
      </if>
      <if test="reportDate != null" >
        REPORT_DATE,
      </if>
      <if test="isSubmitIrb != null" >
        IS_SUBMIT_IRB,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="aeInfo != null" >
        AE_INFO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="patientFlow != null" >
        #{patientFlow,jdbcType=VARCHAR},
      </if>
      <if test="patientCode != null" >
        #{patientCode,jdbcType=VARCHAR},
      </if>
      <if test="patientNamePy != null" >
        #{patientNamePy,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="projFlow != null" >
        #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="aeName != null" >
        #{aeName,jdbcType=VARCHAR},
      </if>
      <if test="isSae != null" >
        #{isSae,jdbcType=VARCHAR},
      </if>
      <if test="aeRelations != null" >
        #{aeRelations,jdbcType=VARCHAR},
      </if>
      <if test="reportType != null" >
        #{reportType,jdbcType=VARCHAR},
      </if>
      <if test="reportDate != null" >
        #{reportDate,jdbcType=VARCHAR},
      </if>
      <if test="isSubmitIrb != null" >
        #{isSubmitIrb,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="aeInfo != null" >
        #{aeInfo,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.PubPatientAeExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.PUB_PATIENT_AE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.PUB_PATIENT_AE
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.patientFlow != null" >
        PATIENT_FLOW = #{record.patientFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.patientCode != null" >
        PATIENT_CODE = #{record.patientCode,jdbcType=VARCHAR},
      </if>
      <if test="record.patientNamePy != null" >
        PATIENT_NAME_PY = #{record.patientNamePy,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projFlow != null" >
        PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.aeName != null" >
        AE_NAME = #{record.aeName,jdbcType=VARCHAR},
      </if>
      <if test="record.isSae != null" >
        IS_SAE = #{record.isSae,jdbcType=VARCHAR},
      </if>
      <if test="record.aeRelations != null" >
        AE_RELATIONS = #{record.aeRelations,jdbcType=VARCHAR},
      </if>
      <if test="record.reportType != null" >
        REPORT_TYPE = #{record.reportType,jdbcType=VARCHAR},
      </if>
      <if test="record.reportDate != null" >
        REPORT_DATE = #{record.reportDate,jdbcType=VARCHAR},
      </if>
      <if test="record.isSubmitIrb != null" >
        IS_SUBMIT_IRB = #{record.isSubmitIrb,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.aeInfo != null" >
        AE_INFO = #{record.aeInfo,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update PDSCI.PUB_PATIENT_AE
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      PATIENT_FLOW = #{record.patientFlow,jdbcType=VARCHAR},
      PATIENT_CODE = #{record.patientCode,jdbcType=VARCHAR},
      PATIENT_NAME_PY = #{record.patientNamePy,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      AE_NAME = #{record.aeName,jdbcType=VARCHAR},
      IS_SAE = #{record.isSae,jdbcType=VARCHAR},
      AE_RELATIONS = #{record.aeRelations,jdbcType=VARCHAR},
      REPORT_TYPE = #{record.reportType,jdbcType=VARCHAR},
      REPORT_DATE = #{record.reportDate,jdbcType=VARCHAR},
      IS_SUBMIT_IRB = #{record.isSubmitIrb,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      AE_INFO = #{record.aeInfo,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.PUB_PATIENT_AE
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      PATIENT_FLOW = #{record.patientFlow,jdbcType=VARCHAR},
      PATIENT_CODE = #{record.patientCode,jdbcType=VARCHAR},
      PATIENT_NAME_PY = #{record.patientNamePy,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      AE_NAME = #{record.aeName,jdbcType=VARCHAR},
      IS_SAE = #{record.isSae,jdbcType=VARCHAR},
      AE_RELATIONS = #{record.aeRelations,jdbcType=VARCHAR},
      REPORT_TYPE = #{record.reportType,jdbcType=VARCHAR},
      REPORT_DATE = #{record.reportDate,jdbcType=VARCHAR},
      IS_SUBMIT_IRB = #{record.isSubmitIrb,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.PubPatientAe" >
    update PDSCI.PUB_PATIENT_AE
    <set >
      <if test="patientFlow != null" >
        PATIENT_FLOW = #{patientFlow,jdbcType=VARCHAR},
      </if>
      <if test="patientCode != null" >
        PATIENT_CODE = #{patientCode,jdbcType=VARCHAR},
      </if>
      <if test="patientNamePy != null" >
        PATIENT_NAME_PY = #{patientNamePy,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="projFlow != null" >
        PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="aeName != null" >
        AE_NAME = #{aeName,jdbcType=VARCHAR},
      </if>
      <if test="isSae != null" >
        IS_SAE = #{isSae,jdbcType=VARCHAR},
      </if>
      <if test="aeRelations != null" >
        AE_RELATIONS = #{aeRelations,jdbcType=VARCHAR},
      </if>
      <if test="reportType != null" >
        REPORT_TYPE = #{reportType,jdbcType=VARCHAR},
      </if>
      <if test="reportDate != null" >
        REPORT_DATE = #{reportDate,jdbcType=VARCHAR},
      </if>
      <if test="isSubmitIrb != null" >
        IS_SUBMIT_IRB = #{isSubmitIrb,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="aeInfo != null" >
        AE_INFO = #{aeInfo,jdbcType=CLOB},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.sci.model.mo.PubPatientAe" >
    update PDSCI.PUB_PATIENT_AE
    set PATIENT_FLOW = #{patientFlow,jdbcType=VARCHAR},
      PATIENT_CODE = #{patientCode,jdbcType=VARCHAR},
      PATIENT_NAME_PY = #{patientNamePy,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      AE_NAME = #{aeName,jdbcType=VARCHAR},
      IS_SAE = #{isSae,jdbcType=VARCHAR},
      AE_RELATIONS = #{aeRelations,jdbcType=VARCHAR},
      REPORT_TYPE = #{reportType,jdbcType=VARCHAR},
      REPORT_DATE = #{reportDate,jdbcType=VARCHAR},
      IS_SUBMIT_IRB = #{isSubmitIrb,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      AE_INFO = #{aeInfo,jdbcType=CLOB}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.PubPatientAe" >
    update PDSCI.PUB_PATIENT_AE
    set PATIENT_FLOW = #{patientFlow,jdbcType=VARCHAR},
      PATIENT_CODE = #{patientCode,jdbcType=VARCHAR},
      PATIENT_NAME_PY = #{patientNamePy,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      AE_NAME = #{aeName,jdbcType=VARCHAR},
      IS_SAE = #{isSae,jdbcType=VARCHAR},
      AE_RELATIONS = #{aeRelations,jdbcType=VARCHAR},
      REPORT_TYPE = #{reportType,jdbcType=VARCHAR},
      REPORT_DATE = #{reportDate,jdbcType=VARCHAR},
      IS_SUBMIT_IRB = #{isSubmitIrb,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>