<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.PubPatientWindowMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.PubPatientWindow" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="PROJ_FLOW" property="projFlow" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="PATIENT_FLOW" property="patientFlow" jdbcType="VARCHAR" />
    <result column="PATIENT_NAME" property="patientName" jdbcType="VARCHAR" />
    <result column="PATIENT_CODE" property="patientCode" jdbcType="VARCHAR" />
    <result column="IN_DATE" property="inDate" jdbcType="VARCHAR" />
    <result column="VISIT_FLOW" property="visitFlow" jdbcType="VARCHAR" />
    <result column="VISIT_NAME" property="visitName" jdbcType="VARCHAR" />
    <result column="VISIT_DATE" property="visitDate" jdbcType="VARCHAR" />
    <result column="WINDOW_VISIT_LEFT" property="windowVisitLeft" jdbcType="VARCHAR" />
    <result column="WINDOW_VISIT_RIGHT" property="windowVisitRight" jdbcType="VARCHAR" />
    <result column="WINDOW_LEFT" property="windowLeft" jdbcType="VARCHAR" />
    <result column="WINDOW_RIGHT" property="windowRight" jdbcType="VARCHAR" />
    <result column="OUT_WINDOW_TYPE_ID" property="outWindowTypeId" jdbcType="VARCHAR" />
    <result column="OUT_WINDOW_TYPE_NAME" property="outWindowTypeName" jdbcType="VARCHAR" />
    <result column="OUT_WINDOW_DAYS" property="outWindowDays" jdbcType="VARCHAR" />
    <result column="IS_NOTICE" property="isNotice" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, PROJ_FLOW, ORG_FLOW, PATIENT_FLOW, PATIENT_NAME, PATIENT_CODE, IN_DATE, 
    VISIT_FLOW, VISIT_NAME, VISIT_DATE, WINDOW_VISIT_LEFT, WINDOW_VISIT_RIGHT, WINDOW_LEFT, 
    WINDOW_RIGHT, OUT_WINDOW_TYPE_ID, OUT_WINDOW_TYPE_NAME, OUT_WINDOW_DAYS, IS_NOTICE, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.PubPatientWindowExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.PUB_PATIENT_WINDOW
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.PUB_PATIENT_WINDOW
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.PUB_PATIENT_WINDOW
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.PubPatientWindowExample" >
    delete from PDSCI.PUB_PATIENT_WINDOW
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.PubPatientWindow" >
    insert into PDSCI.PUB_PATIENT_WINDOW (RECORD_FLOW, PROJ_FLOW, ORG_FLOW, 
      PATIENT_FLOW, PATIENT_NAME, PATIENT_CODE, 
      IN_DATE, VISIT_FLOW, VISIT_NAME, 
      VISIT_DATE, WINDOW_VISIT_LEFT, WINDOW_VISIT_RIGHT, 
      WINDOW_LEFT, WINDOW_RIGHT, OUT_WINDOW_TYPE_ID, 
      OUT_WINDOW_TYPE_NAME, OUT_WINDOW_DAYS, IS_NOTICE, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{recordFlow,jdbcType=VARCHAR}, #{projFlow,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, 
      #{patientFlow,jdbcType=VARCHAR}, #{patientName,jdbcType=VARCHAR}, #{patientCode,jdbcType=VARCHAR}, 
      #{inDate,jdbcType=VARCHAR}, #{visitFlow,jdbcType=VARCHAR}, #{visitName,jdbcType=VARCHAR}, 
      #{visitDate,jdbcType=VARCHAR}, #{windowVisitLeft,jdbcType=VARCHAR}, #{windowVisitRight,jdbcType=VARCHAR}, 
      #{windowLeft,jdbcType=VARCHAR}, #{windowRight,jdbcType=VARCHAR}, #{outWindowTypeId,jdbcType=VARCHAR}, 
      #{outWindowTypeName,jdbcType=VARCHAR}, #{outWindowDays,jdbcType=VARCHAR}, #{isNotice,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.PubPatientWindow" >
    insert into PDSCI.PUB_PATIENT_WINDOW
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="projFlow != null" >
        PROJ_FLOW,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="patientFlow != null" >
        PATIENT_FLOW,
      </if>
      <if test="patientName != null" >
        PATIENT_NAME,
      </if>
      <if test="patientCode != null" >
        PATIENT_CODE,
      </if>
      <if test="inDate != null" >
        IN_DATE,
      </if>
      <if test="visitFlow != null" >
        VISIT_FLOW,
      </if>
      <if test="visitName != null" >
        VISIT_NAME,
      </if>
      <if test="visitDate != null" >
        VISIT_DATE,
      </if>
      <if test="windowVisitLeft != null" >
        WINDOW_VISIT_LEFT,
      </if>
      <if test="windowVisitRight != null" >
        WINDOW_VISIT_RIGHT,
      </if>
      <if test="windowLeft != null" >
        WINDOW_LEFT,
      </if>
      <if test="windowRight != null" >
        WINDOW_RIGHT,
      </if>
      <if test="outWindowTypeId != null" >
        OUT_WINDOW_TYPE_ID,
      </if>
      <if test="outWindowTypeName != null" >
        OUT_WINDOW_TYPE_NAME,
      </if>
      <if test="outWindowDays != null" >
        OUT_WINDOW_DAYS,
      </if>
      <if test="isNotice != null" >
        IS_NOTICE,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="projFlow != null" >
        #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="patientFlow != null" >
        #{patientFlow,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null" >
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientCode != null" >
        #{patientCode,jdbcType=VARCHAR},
      </if>
      <if test="inDate != null" >
        #{inDate,jdbcType=VARCHAR},
      </if>
      <if test="visitFlow != null" >
        #{visitFlow,jdbcType=VARCHAR},
      </if>
      <if test="visitName != null" >
        #{visitName,jdbcType=VARCHAR},
      </if>
      <if test="visitDate != null" >
        #{visitDate,jdbcType=VARCHAR},
      </if>
      <if test="windowVisitLeft != null" >
        #{windowVisitLeft,jdbcType=VARCHAR},
      </if>
      <if test="windowVisitRight != null" >
        #{windowVisitRight,jdbcType=VARCHAR},
      </if>
      <if test="windowLeft != null" >
        #{windowLeft,jdbcType=VARCHAR},
      </if>
      <if test="windowRight != null" >
        #{windowRight,jdbcType=VARCHAR},
      </if>
      <if test="outWindowTypeId != null" >
        #{outWindowTypeId,jdbcType=VARCHAR},
      </if>
      <if test="outWindowTypeName != null" >
        #{outWindowTypeName,jdbcType=VARCHAR},
      </if>
      <if test="outWindowDays != null" >
        #{outWindowDays,jdbcType=VARCHAR},
      </if>
      <if test="isNotice != null" >
        #{isNotice,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.PubPatientWindowExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.PUB_PATIENT_WINDOW
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.PUB_PATIENT_WINDOW
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projFlow != null" >
        PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.patientFlow != null" >
        PATIENT_FLOW = #{record.patientFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.patientName != null" >
        PATIENT_NAME = #{record.patientName,jdbcType=VARCHAR},
      </if>
      <if test="record.patientCode != null" >
        PATIENT_CODE = #{record.patientCode,jdbcType=VARCHAR},
      </if>
      <if test="record.inDate != null" >
        IN_DATE = #{record.inDate,jdbcType=VARCHAR},
      </if>
      <if test="record.visitFlow != null" >
        VISIT_FLOW = #{record.visitFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.visitName != null" >
        VISIT_NAME = #{record.visitName,jdbcType=VARCHAR},
      </if>
      <if test="record.visitDate != null" >
        VISIT_DATE = #{record.visitDate,jdbcType=VARCHAR},
      </if>
      <if test="record.windowVisitLeft != null" >
        WINDOW_VISIT_LEFT = #{record.windowVisitLeft,jdbcType=VARCHAR},
      </if>
      <if test="record.windowVisitRight != null" >
        WINDOW_VISIT_RIGHT = #{record.windowVisitRight,jdbcType=VARCHAR},
      </if>
      <if test="record.windowLeft != null" >
        WINDOW_LEFT = #{record.windowLeft,jdbcType=VARCHAR},
      </if>
      <if test="record.windowRight != null" >
        WINDOW_RIGHT = #{record.windowRight,jdbcType=VARCHAR},
      </if>
      <if test="record.outWindowTypeId != null" >
        OUT_WINDOW_TYPE_ID = #{record.outWindowTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.outWindowTypeName != null" >
        OUT_WINDOW_TYPE_NAME = #{record.outWindowTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.outWindowDays != null" >
        OUT_WINDOW_DAYS = #{record.outWindowDays,jdbcType=VARCHAR},
      </if>
      <if test="record.isNotice != null" >
        IS_NOTICE = #{record.isNotice,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.PUB_PATIENT_WINDOW
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      PATIENT_FLOW = #{record.patientFlow,jdbcType=VARCHAR},
      PATIENT_NAME = #{record.patientName,jdbcType=VARCHAR},
      PATIENT_CODE = #{record.patientCode,jdbcType=VARCHAR},
      IN_DATE = #{record.inDate,jdbcType=VARCHAR},
      VISIT_FLOW = #{record.visitFlow,jdbcType=VARCHAR},
      VISIT_NAME = #{record.visitName,jdbcType=VARCHAR},
      VISIT_DATE = #{record.visitDate,jdbcType=VARCHAR},
      WINDOW_VISIT_LEFT = #{record.windowVisitLeft,jdbcType=VARCHAR},
      WINDOW_VISIT_RIGHT = #{record.windowVisitRight,jdbcType=VARCHAR},
      WINDOW_LEFT = #{record.windowLeft,jdbcType=VARCHAR},
      WINDOW_RIGHT = #{record.windowRight,jdbcType=VARCHAR},
      OUT_WINDOW_TYPE_ID = #{record.outWindowTypeId,jdbcType=VARCHAR},
      OUT_WINDOW_TYPE_NAME = #{record.outWindowTypeName,jdbcType=VARCHAR},
      OUT_WINDOW_DAYS = #{record.outWindowDays,jdbcType=VARCHAR},
      IS_NOTICE = #{record.isNotice,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.PubPatientWindow" >
    update PDSCI.PUB_PATIENT_WINDOW
    <set >
      <if test="projFlow != null" >
        PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="patientFlow != null" >
        PATIENT_FLOW = #{patientFlow,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null" >
        PATIENT_NAME = #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientCode != null" >
        PATIENT_CODE = #{patientCode,jdbcType=VARCHAR},
      </if>
      <if test="inDate != null" >
        IN_DATE = #{inDate,jdbcType=VARCHAR},
      </if>
      <if test="visitFlow != null" >
        VISIT_FLOW = #{visitFlow,jdbcType=VARCHAR},
      </if>
      <if test="visitName != null" >
        VISIT_NAME = #{visitName,jdbcType=VARCHAR},
      </if>
      <if test="visitDate != null" >
        VISIT_DATE = #{visitDate,jdbcType=VARCHAR},
      </if>
      <if test="windowVisitLeft != null" >
        WINDOW_VISIT_LEFT = #{windowVisitLeft,jdbcType=VARCHAR},
      </if>
      <if test="windowVisitRight != null" >
        WINDOW_VISIT_RIGHT = #{windowVisitRight,jdbcType=VARCHAR},
      </if>
      <if test="windowLeft != null" >
        WINDOW_LEFT = #{windowLeft,jdbcType=VARCHAR},
      </if>
      <if test="windowRight != null" >
        WINDOW_RIGHT = #{windowRight,jdbcType=VARCHAR},
      </if>
      <if test="outWindowTypeId != null" >
        OUT_WINDOW_TYPE_ID = #{outWindowTypeId,jdbcType=VARCHAR},
      </if>
      <if test="outWindowTypeName != null" >
        OUT_WINDOW_TYPE_NAME = #{outWindowTypeName,jdbcType=VARCHAR},
      </if>
      <if test="outWindowDays != null" >
        OUT_WINDOW_DAYS = #{outWindowDays,jdbcType=VARCHAR},
      </if>
      <if test="isNotice != null" >
        IS_NOTICE = #{isNotice,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.PubPatientWindow" >
    update PDSCI.PUB_PATIENT_WINDOW
    set PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      PATIENT_FLOW = #{patientFlow,jdbcType=VARCHAR},
      PATIENT_NAME = #{patientName,jdbcType=VARCHAR},
      PATIENT_CODE = #{patientCode,jdbcType=VARCHAR},
      IN_DATE = #{inDate,jdbcType=VARCHAR},
      VISIT_FLOW = #{visitFlow,jdbcType=VARCHAR},
      VISIT_NAME = #{visitName,jdbcType=VARCHAR},
      VISIT_DATE = #{visitDate,jdbcType=VARCHAR},
      WINDOW_VISIT_LEFT = #{windowVisitLeft,jdbcType=VARCHAR},
      WINDOW_VISIT_RIGHT = #{windowVisitRight,jdbcType=VARCHAR},
      WINDOW_LEFT = #{windowLeft,jdbcType=VARCHAR},
      WINDOW_RIGHT = #{windowRight,jdbcType=VARCHAR},
      OUT_WINDOW_TYPE_ID = #{outWindowTypeId,jdbcType=VARCHAR},
      OUT_WINDOW_TYPE_NAME = #{outWindowTypeName,jdbcType=VARCHAR},
      OUT_WINDOW_DAYS = #{outWindowDays,jdbcType=VARCHAR},
      IS_NOTICE = #{isNotice,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>