<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ResExamMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.core.model.ResExam" >
    <id column="EXAM_FLOW" property="examFlow" jdbcType="VARCHAR" />
    <result column="EXAM_NAME" property="examName" jdbcType="VARCHAR" />
    <result column="EXAM_DATE" property="examDate" jdbcType="VARCHAR" />
    <result column="EXAM_TIME" property="examTime" jdbcType="VARCHAR" />
    <result column="EXAM_TYPE_ID" property="examTypeId" jdbcType="VARCHAR" />
    <result column="EXAM_TYPE_NAME" property="examTypeName" jdbcType="VARCHAR" />
    <result column="EXAM_STATUS_ID" property="examStatusId" jdbcType="VARCHAR" />
    <result column="EXAM_STATUS_NAME" property="examStatusName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="EXAM_YEAR" property="examYear" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    EXAM_FLOW, EXAM_NAME, EXAM_DATE, EXAM_TIME, EXAM_TYPE_ID, EXAM_TYPE_NAME, EXAM_STATUS_ID, 
    EXAM_STATUS_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
    EXAM_YEAR
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.ResExamExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
      from RES_EXAM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from RES_EXAM
    where EXAM_FLOW = #{examFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from RES_EXAM
    where EXAM_FLOW = #{examFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.ResExamExample" >
      delete from RES_EXAM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.ResExam" >
      insert into RES_EXAM (EXAM_FLOW, EXAM_NAME, EXAM_DATE,
      EXAM_TIME, EXAM_TYPE_ID, EXAM_TYPE_NAME, 
      EXAM_STATUS_ID, EXAM_STATUS_NAME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, EXAM_YEAR)
    values (#{examFlow,jdbcType=VARCHAR}, #{examName,jdbcType=VARCHAR}, #{examDate,jdbcType=VARCHAR}, 
      #{examTime,jdbcType=VARCHAR}, #{examTypeId,jdbcType=VARCHAR}, #{examTypeName,jdbcType=VARCHAR}, 
      #{examStatusId,jdbcType=VARCHAR}, #{examStatusName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{examYear,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.ResExam" >
      insert into RES_EXAM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="examFlow != null" >
        EXAM_FLOW,
      </if>
      <if test="examName != null" >
        EXAM_NAME,
      </if>
      <if test="examDate != null" >
        EXAM_DATE,
      </if>
      <if test="examTime != null" >
        EXAM_TIME,
      </if>
      <if test="examTypeId != null" >
        EXAM_TYPE_ID,
      </if>
      <if test="examTypeName != null" >
        EXAM_TYPE_NAME,
      </if>
      <if test="examStatusId != null" >
        EXAM_STATUS_ID,
      </if>
      <if test="examStatusName != null" >
        EXAM_STATUS_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="examYear != null" >
        EXAM_YEAR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="examFlow != null" >
        #{examFlow,jdbcType=VARCHAR},
      </if>
      <if test="examName != null" >
        #{examName,jdbcType=VARCHAR},
      </if>
      <if test="examDate != null" >
        #{examDate,jdbcType=VARCHAR},
      </if>
      <if test="examTime != null" >
        #{examTime,jdbcType=VARCHAR},
      </if>
      <if test="examTypeId != null" >
        #{examTypeId,jdbcType=VARCHAR},
      </if>
      <if test="examTypeName != null" >
        #{examTypeName,jdbcType=VARCHAR},
      </if>
      <if test="examStatusId != null" >
        #{examStatusId,jdbcType=VARCHAR},
      </if>
      <if test="examStatusName != null" >
        #{examStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="examYear != null" >
        #{examYear,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.ResExamExample" resultType="java.lang.Integer" >
      select count(*) from RES_EXAM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update RES_EXAM
    <set >
      <if test="record.examFlow != null" >
        EXAM_FLOW = #{record.examFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.examName != null" >
        EXAM_NAME = #{record.examName,jdbcType=VARCHAR},
      </if>
      <if test="record.examDate != null" >
        EXAM_DATE = #{record.examDate,jdbcType=VARCHAR},
      </if>
      <if test="record.examTime != null" >
        EXAM_TIME = #{record.examTime,jdbcType=VARCHAR},
      </if>
      <if test="record.examTypeId != null" >
        EXAM_TYPE_ID = #{record.examTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.examTypeName != null" >
        EXAM_TYPE_NAME = #{record.examTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.examStatusId != null" >
        EXAM_STATUS_ID = #{record.examStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.examStatusName != null" >
        EXAM_STATUS_NAME = #{record.examStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.examYear != null" >
        EXAM_YEAR = #{record.examYear,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update RES_EXAM
    set EXAM_FLOW = #{record.examFlow,jdbcType=VARCHAR},
      EXAM_NAME = #{record.examName,jdbcType=VARCHAR},
      EXAM_DATE = #{record.examDate,jdbcType=VARCHAR},
      EXAM_TIME = #{record.examTime,jdbcType=VARCHAR},
      EXAM_TYPE_ID = #{record.examTypeId,jdbcType=VARCHAR},
      EXAM_TYPE_NAME = #{record.examTypeName,jdbcType=VARCHAR},
      EXAM_STATUS_ID = #{record.examStatusId,jdbcType=VARCHAR},
      EXAM_STATUS_NAME = #{record.examStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      EXAM_YEAR = #{record.examYear,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.ResExam" >
      update RES_EXAM
    <set >
      <if test="examName != null" >
        EXAM_NAME = #{examName,jdbcType=VARCHAR},
      </if>
      <if test="examDate != null" >
        EXAM_DATE = #{examDate,jdbcType=VARCHAR},
      </if>
      <if test="examTime != null" >
        EXAM_TIME = #{examTime,jdbcType=VARCHAR},
      </if>
      <if test="examTypeId != null" >
        EXAM_TYPE_ID = #{examTypeId,jdbcType=VARCHAR},
      </if>
      <if test="examTypeName != null" >
        EXAM_TYPE_NAME = #{examTypeName,jdbcType=VARCHAR},
      </if>
      <if test="examStatusId != null" >
        EXAM_STATUS_ID = #{examStatusId,jdbcType=VARCHAR},
      </if>
      <if test="examStatusName != null" >
        EXAM_STATUS_NAME = #{examStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="examYear != null" >
        EXAM_YEAR = #{examYear,jdbcType=VARCHAR},
      </if>
    </set>
    where EXAM_FLOW = #{examFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.ResExam" >
      update RES_EXAM
    set EXAM_NAME = #{examName,jdbcType=VARCHAR},
      EXAM_DATE = #{examDate,jdbcType=VARCHAR},
      EXAM_TIME = #{examTime,jdbcType=VARCHAR},
      EXAM_TYPE_ID = #{examTypeId,jdbcType=VARCHAR},
      EXAM_TYPE_NAME = #{examTypeName,jdbcType=VARCHAR},
      EXAM_STATUS_ID = #{examStatusId,jdbcType=VARCHAR},
      EXAM_STATUS_NAME = #{examStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      EXAM_YEAR = #{examYear,jdbcType=VARCHAR}
    where EXAM_FLOW = #{examFlow,jdbcType=VARCHAR}
  </update>
</mapper>