<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ResEvaluationScoreMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.core.model.ResEvaluationScore" >
    <id column="SCORE_FLOW" property="scoreFlow" jdbcType="VARCHAR" />
    <result column="SUBJECT_FLOW" property="subjectFlow" jdbcType="VARCHAR" />
    <result column="SUBJECT_NAME" property="subjectName" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="SPE_ID" property="speId" jdbcType="VARCHAR" />
    <result column="SPE_NAME" property="speName" jdbcType="VARCHAR" />
    <result column="ITEM_ID" property="itemId" jdbcType="VARCHAR" />
    <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
    <result column="EVALUATION_YEAR" property="evaluationYear" jdbcType="VARCHAR" />
    <result column="OWNER_SCORE" property="ownerScore" jdbcType="VARCHAR" />
    <result column="SPE_SCORE" property="speScore" jdbcType="VARCHAR" />
    <result column="SPE_REASON" property="speReason" jdbcType="VARCHAR" />
    <result column="SPE_USER_FLOW" property="speUserFlow" jdbcType="VARCHAR" />
    <result column="SPE_USER_NAME" property="speUserName" jdbcType="VARCHAR" />
    <result column="SPE_CONTENT" property="speContent" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="CORE_INDICATORS" property="coreIndicators" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SCORE_FLOW, SUBJECT_FLOW, SUBJECT_NAME, ORG_FLOW, ORG_NAME, SPE_ID, SPE_NAME, ITEM_ID, 
    ITEM_NAME, EVALUATION_YEAR, OWNER_SCORE, SPE_SCORE, SPE_REASON, SPE_USER_FLOW, SPE_USER_NAME, 
    SPE_CONTENT, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
    CORE_INDICATORS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.ResEvaluationScoreExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.RES_EVALUATION_SCORE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.RES_EVALUATION_SCORE
    where SCORE_FLOW = #{scoreFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.RES_EVALUATION_SCORE
    where SCORE_FLOW = #{scoreFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.ResEvaluationScoreExample" >
    delete from PDSCI.RES_EVALUATION_SCORE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.ResEvaluationScore" >
    insert into PDSCI.RES_EVALUATION_SCORE (SCORE_FLOW, SUBJECT_FLOW, SUBJECT_NAME, 
      ORG_FLOW, ORG_NAME, SPE_ID, 
      SPE_NAME, ITEM_ID, ITEM_NAME, 
      EVALUATION_YEAR, OWNER_SCORE, SPE_SCORE, 
      SPE_REASON, SPE_USER_FLOW, SPE_USER_NAME, 
      SPE_CONTENT, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      CORE_INDICATORS)
    values (#{scoreFlow,jdbcType=VARCHAR}, #{subjectFlow,jdbcType=VARCHAR}, #{subjectName,jdbcType=VARCHAR}, 
      #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{speId,jdbcType=VARCHAR}, 
      #{speName,jdbcType=VARCHAR}, #{itemId,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, 
      #{evaluationYear,jdbcType=VARCHAR}, #{ownerScore,jdbcType=VARCHAR}, #{speScore,jdbcType=VARCHAR}, 
      #{speReason,jdbcType=VARCHAR}, #{speUserFlow,jdbcType=VARCHAR}, #{speUserName,jdbcType=VARCHAR}, 
      #{speContent,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{coreIndicators,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.ResEvaluationScore" >
    insert into PDSCI.RES_EVALUATION_SCORE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scoreFlow != null" >
        SCORE_FLOW,
      </if>
      <if test="subjectFlow != null" >
        SUBJECT_FLOW,
      </if>
      <if test="subjectName != null" >
        SUBJECT_NAME,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="speId != null" >
        SPE_ID,
      </if>
      <if test="speName != null" >
        SPE_NAME,
      </if>
      <if test="itemId != null" >
        ITEM_ID,
      </if>
      <if test="itemName != null" >
        ITEM_NAME,
      </if>
      <if test="evaluationYear != null" >
        EVALUATION_YEAR,
      </if>
      <if test="ownerScore != null" >
        OWNER_SCORE,
      </if>
      <if test="speScore != null" >
        SPE_SCORE,
      </if>
      <if test="speReason != null" >
        SPE_REASON,
      </if>
      <if test="speUserFlow != null" >
        SPE_USER_FLOW,
      </if>
      <if test="speUserName != null" >
        SPE_USER_NAME,
      </if>
      <if test="speContent != null" >
        SPE_CONTENT,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="coreIndicators != null" >
        CORE_INDICATORS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scoreFlow != null" >
        #{scoreFlow,jdbcType=VARCHAR},
      </if>
      <if test="subjectFlow != null" >
        #{subjectFlow,jdbcType=VARCHAR},
      </if>
      <if test="subjectName != null" >
        #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="speId != null" >
        #{speId,jdbcType=VARCHAR},
      </if>
      <if test="speName != null" >
        #{speName,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="evaluationYear != null" >
        #{evaluationYear,jdbcType=VARCHAR},
      </if>
      <if test="ownerScore != null" >
        #{ownerScore,jdbcType=VARCHAR},
      </if>
      <if test="speScore != null" >
        #{speScore,jdbcType=VARCHAR},
      </if>
      <if test="speReason != null" >
        #{speReason,jdbcType=VARCHAR},
      </if>
      <if test="speUserFlow != null" >
        #{speUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="speUserName != null" >
        #{speUserName,jdbcType=VARCHAR},
      </if>
      <if test="speContent != null" >
        #{speContent,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="coreIndicators != null" >
        #{coreIndicators,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.ResEvaluationScoreExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.RES_EVALUATION_SCORE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.RES_EVALUATION_SCORE
    <set >
      <if test="record.scoreFlow != null" >
        SCORE_FLOW = #{record.scoreFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.subjectFlow != null" >
        SUBJECT_FLOW = #{record.subjectFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.subjectName != null" >
        SUBJECT_NAME = #{record.subjectName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.speId != null" >
        SPE_ID = #{record.speId,jdbcType=VARCHAR},
      </if>
      <if test="record.speName != null" >
        SPE_NAME = #{record.speName,jdbcType=VARCHAR},
      </if>
      <if test="record.itemId != null" >
        ITEM_ID = #{record.itemId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null" >
        ITEM_NAME = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluationYear != null" >
        EVALUATION_YEAR = #{record.evaluationYear,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerScore != null" >
        OWNER_SCORE = #{record.ownerScore,jdbcType=VARCHAR},
      </if>
      <if test="record.speScore != null" >
        SPE_SCORE = #{record.speScore,jdbcType=VARCHAR},
      </if>
      <if test="record.speReason != null" >
        SPE_REASON = #{record.speReason,jdbcType=VARCHAR},
      </if>
      <if test="record.speUserFlow != null" >
        SPE_USER_FLOW = #{record.speUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.speUserName != null" >
        SPE_USER_NAME = #{record.speUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.speContent != null" >
        SPE_CONTENT = #{record.speContent,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.coreIndicators != null" >
        CORE_INDICATORS = #{record.coreIndicators,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.RES_EVALUATION_SCORE
    set SCORE_FLOW = #{record.scoreFlow,jdbcType=VARCHAR},
      SUBJECT_FLOW = #{record.subjectFlow,jdbcType=VARCHAR},
      SUBJECT_NAME = #{record.subjectName,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      SPE_ID = #{record.speId,jdbcType=VARCHAR},
      SPE_NAME = #{record.speName,jdbcType=VARCHAR},
      ITEM_ID = #{record.itemId,jdbcType=VARCHAR},
      ITEM_NAME = #{record.itemName,jdbcType=VARCHAR},
      EVALUATION_YEAR = #{record.evaluationYear,jdbcType=VARCHAR},
      OWNER_SCORE = #{record.ownerScore,jdbcType=VARCHAR},
      SPE_SCORE = #{record.speScore,jdbcType=VARCHAR},
      SPE_REASON = #{record.speReason,jdbcType=VARCHAR},
      SPE_USER_FLOW = #{record.speUserFlow,jdbcType=VARCHAR},
      SPE_USER_NAME = #{record.speUserName,jdbcType=VARCHAR},
      SPE_CONTENT = #{record.speContent,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      CORE_INDICATORS = #{record.coreIndicators,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.ResEvaluationScore" >
    update PDSCI.RES_EVALUATION_SCORE
    <set >
      <if test="subjectFlow != null" >
        SUBJECT_FLOW = #{subjectFlow,jdbcType=VARCHAR},
      </if>
      <if test="subjectName != null" >
        SUBJECT_NAME = #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="speId != null" >
        SPE_ID = #{speId,jdbcType=VARCHAR},
      </if>
      <if test="speName != null" >
        SPE_NAME = #{speName,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        ITEM_ID = #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="evaluationYear != null" >
        EVALUATION_YEAR = #{evaluationYear,jdbcType=VARCHAR},
      </if>
      <if test="ownerScore != null" >
        OWNER_SCORE = #{ownerScore,jdbcType=VARCHAR},
      </if>
      <if test="speScore != null" >
        SPE_SCORE = #{speScore,jdbcType=VARCHAR},
      </if>
      <if test="speReason != null" >
        SPE_REASON = #{speReason,jdbcType=VARCHAR},
      </if>
      <if test="speUserFlow != null" >
        SPE_USER_FLOW = #{speUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="speUserName != null" >
        SPE_USER_NAME = #{speUserName,jdbcType=VARCHAR},
      </if>
      <if test="speContent != null" >
        SPE_CONTENT = #{speContent,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="coreIndicators != null" >
        CORE_INDICATORS = #{coreIndicators,jdbcType=VARCHAR},
      </if>
    </set>
    where SCORE_FLOW = #{scoreFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.ResEvaluationScore" >
    update PDSCI.RES_EVALUATION_SCORE
    set SUBJECT_FLOW = #{subjectFlow,jdbcType=VARCHAR},
      SUBJECT_NAME = #{subjectName,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      SPE_ID = #{speId,jdbcType=VARCHAR},
      SPE_NAME = #{speName,jdbcType=VARCHAR},
      ITEM_ID = #{itemId,jdbcType=VARCHAR},
      ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      EVALUATION_YEAR = #{evaluationYear,jdbcType=VARCHAR},
      OWNER_SCORE = #{ownerScore,jdbcType=VARCHAR},
      SPE_SCORE = #{speScore,jdbcType=VARCHAR},
      SPE_REASON = #{speReason,jdbcType=VARCHAR},
      SPE_USER_FLOW = #{speUserFlow,jdbcType=VARCHAR},
      SPE_USER_NAME = #{speUserName,jdbcType=VARCHAR},
      SPE_CONTENT = #{speContent,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      CORE_INDICATORS = #{coreIndicators,jdbcType=VARCHAR}
    where SCORE_FLOW = #{scoreFlow,jdbcType=VARCHAR}
  </update>
</mapper>