<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ResKgCfgMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ResKgCfg" >
    <id column="CFG_FLOW" property="cfgFlow" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="DOCTOR_TYPE_ID" property="doctorTypeId" jdbcType="VARCHAR" />
    <result column="LESS_OR_GREATER" property="lessOrGreater" jdbcType="VARCHAR" />
    <result column="ALL_DAYS" property="allDays" jdbcType="VARCHAR" />
    <result column="INTERVAL_DAYS" property="intervalDays" jdbcType="VARCHAR" />
    <result column="TEACHER_FLAG" property="teacherFlag" jdbcType="VARCHAR" />
    <result column="TEACHER_NAME" property="teacherName" jdbcType="VARCHAR" />
    <result column="HEAD_FLAG" property="headFlag" jdbcType="VARCHAR" />
    <result column="HEAD_NAME" property="headName" jdbcType="VARCHAR" />
    <result column="TUTOR_FLAG" property="tutorFlag" jdbcType="VARCHAR" />
    <result column="TUTOR_NAME" property="tutorName" jdbcType="VARCHAR" />
    <result column="MANAGER_FLAG" property="managerFlag" jdbcType="VARCHAR" />
    <result column="MANAGER_NAME" property="managerName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="INTERVAL_DAYS2" property="intervalDays2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CFG_FLOW, ORG_FLOW, DOCTOR_TYPE_ID, LESS_OR_GREATER, ALL_DAYS, INTERVAL_DAYS, TEACHER_FLAG, 
    TEACHER_NAME, HEAD_FLAG, HEAD_NAME, TUTOR_FLAG, TUTOR_NAME, MANAGER_FLAG, MANAGER_NAME, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, INTERVAL_DAYS2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ResKgCfgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.RES_KG_CFG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.RES_KG_CFG
    where CFG_FLOW = #{cfgFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.RES_KG_CFG
    where CFG_FLOW = #{cfgFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ResKgCfgExample" >
    delete from PDSCI.RES_KG_CFG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ResKgCfg" >
    insert into PDSCI.RES_KG_CFG (CFG_FLOW, ORG_FLOW, DOCTOR_TYPE_ID, 
      LESS_OR_GREATER, ALL_DAYS, INTERVAL_DAYS, 
      TEACHER_FLAG, TEACHER_NAME, HEAD_FLAG, 
      HEAD_NAME, TUTOR_FLAG, TUTOR_NAME, 
      MANAGER_FLAG, MANAGER_NAME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, INTERVAL_DAYS2)
    values (#{cfgFlow,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, #{doctorTypeId,jdbcType=VARCHAR}, 
      #{lessOrGreater,jdbcType=VARCHAR}, #{allDays,jdbcType=VARCHAR}, #{intervalDays,jdbcType=VARCHAR}, 
      #{teacherFlag,jdbcType=VARCHAR}, #{teacherName,jdbcType=VARCHAR}, #{headFlag,jdbcType=VARCHAR}, 
      #{headName,jdbcType=VARCHAR}, #{tutorFlag,jdbcType=VARCHAR}, #{tutorName,jdbcType=VARCHAR}, 
      #{managerFlag,jdbcType=VARCHAR}, #{managerName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{intervalDays2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ResKgCfg" >
    insert into PDSCI.RES_KG_CFG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cfgFlow != null" >
        CFG_FLOW,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="doctorTypeId != null" >
        DOCTOR_TYPE_ID,
      </if>
      <if test="lessOrGreater != null" >
        LESS_OR_GREATER,
      </if>
      <if test="allDays != null" >
        ALL_DAYS,
      </if>
      <if test="intervalDays != null" >
        INTERVAL_DAYS,
      </if>
      <if test="teacherFlag != null" >
        TEACHER_FLAG,
      </if>
      <if test="teacherName != null" >
        TEACHER_NAME,
      </if>
      <if test="headFlag != null" >
        HEAD_FLAG,
      </if>
      <if test="headName != null" >
        HEAD_NAME,
      </if>
      <if test="tutorFlag != null" >
        TUTOR_FLAG,
      </if>
      <if test="tutorName != null" >
        TUTOR_NAME,
      </if>
      <if test="managerFlag != null" >
        MANAGER_FLAG,
      </if>
      <if test="managerName != null" >
        MANAGER_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="intervalDays2 != null" >
        INTERVAL_DAYS2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cfgFlow != null" >
        #{cfgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorTypeId != null" >
        #{doctorTypeId,jdbcType=VARCHAR},
      </if>
      <if test="lessOrGreater != null" >
        #{lessOrGreater,jdbcType=VARCHAR},
      </if>
      <if test="allDays != null" >
        #{allDays,jdbcType=VARCHAR},
      </if>
      <if test="intervalDays != null" >
        #{intervalDays,jdbcType=VARCHAR},
      </if>
      <if test="teacherFlag != null" >
        #{teacherFlag,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="headFlag != null" >
        #{headFlag,jdbcType=VARCHAR},
      </if>
      <if test="headName != null" >
        #{headName,jdbcType=VARCHAR},
      </if>
      <if test="tutorFlag != null" >
        #{tutorFlag,jdbcType=VARCHAR},
      </if>
      <if test="tutorName != null" >
        #{tutorName,jdbcType=VARCHAR},
      </if>
      <if test="managerFlag != null" >
        #{managerFlag,jdbcType=VARCHAR},
      </if>
      <if test="managerName != null" >
        #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="intervalDays2 != null" >
        #{intervalDays2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ResKgCfgExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.RES_KG_CFG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.RES_KG_CFG
    <set >
      <if test="record.cfgFlow != null" >
        CFG_FLOW = #{record.cfgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorTypeId != null" >
        DOCTOR_TYPE_ID = #{record.doctorTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.lessOrGreater != null" >
        LESS_OR_GREATER = #{record.lessOrGreater,jdbcType=VARCHAR},
      </if>
      <if test="record.allDays != null" >
        ALL_DAYS = #{record.allDays,jdbcType=VARCHAR},
      </if>
      <if test="record.intervalDays != null" >
        INTERVAL_DAYS = #{record.intervalDays,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherFlag != null" >
        TEACHER_FLAG = #{record.teacherFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherName != null" >
        TEACHER_NAME = #{record.teacherName,jdbcType=VARCHAR},
      </if>
      <if test="record.headFlag != null" >
        HEAD_FLAG = #{record.headFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.headName != null" >
        HEAD_NAME = #{record.headName,jdbcType=VARCHAR},
      </if>
      <if test="record.tutorFlag != null" >
        TUTOR_FLAG = #{record.tutorFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.tutorName != null" >
        TUTOR_NAME = #{record.tutorName,jdbcType=VARCHAR},
      </if>
      <if test="record.managerFlag != null" >
        MANAGER_FLAG = #{record.managerFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.managerName != null" >
        MANAGER_NAME = #{record.managerName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.intervalDays2 != null" >
        INTERVAL_DAYS2 = #{record.intervalDays2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.RES_KG_CFG
    set CFG_FLOW = #{record.cfgFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      DOCTOR_TYPE_ID = #{record.doctorTypeId,jdbcType=VARCHAR},
      LESS_OR_GREATER = #{record.lessOrGreater,jdbcType=VARCHAR},
      ALL_DAYS = #{record.allDays,jdbcType=VARCHAR},
      INTERVAL_DAYS = #{record.intervalDays,jdbcType=VARCHAR},
      TEACHER_FLAG = #{record.teacherFlag,jdbcType=VARCHAR},
      TEACHER_NAME = #{record.teacherName,jdbcType=VARCHAR},
      HEAD_FLAG = #{record.headFlag,jdbcType=VARCHAR},
      HEAD_NAME = #{record.headName,jdbcType=VARCHAR},
      TUTOR_FLAG = #{record.tutorFlag,jdbcType=VARCHAR},
      TUTOR_NAME = #{record.tutorName,jdbcType=VARCHAR},
      MANAGER_FLAG = #{record.managerFlag,jdbcType=VARCHAR},
      MANAGER_NAME = #{record.managerName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      INTERVAL_DAYS2 = #{record.intervalDays2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ResKgCfg" >
    update PDSCI.RES_KG_CFG
    <set >
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorTypeId != null" >
        DOCTOR_TYPE_ID = #{doctorTypeId,jdbcType=VARCHAR},
      </if>
      <if test="lessOrGreater != null" >
        LESS_OR_GREATER = #{lessOrGreater,jdbcType=VARCHAR},
      </if>
      <if test="allDays != null" >
        ALL_DAYS = #{allDays,jdbcType=VARCHAR},
      </if>
      <if test="intervalDays != null" >
        INTERVAL_DAYS = #{intervalDays,jdbcType=VARCHAR},
      </if>
      <if test="teacherFlag != null" >
        TEACHER_FLAG = #{teacherFlag,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="headFlag != null" >
        HEAD_FLAG = #{headFlag,jdbcType=VARCHAR},
      </if>
      <if test="headName != null" >
        HEAD_NAME = #{headName,jdbcType=VARCHAR},
      </if>
      <if test="tutorFlag != null" >
        TUTOR_FLAG = #{tutorFlag,jdbcType=VARCHAR},
      </if>
      <if test="tutorName != null" >
        TUTOR_NAME = #{tutorName,jdbcType=VARCHAR},
      </if>
      <if test="managerFlag != null" >
        MANAGER_FLAG = #{managerFlag,jdbcType=VARCHAR},
      </if>
      <if test="managerName != null" >
        MANAGER_NAME = #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="intervalDays2 != null" >
        INTERVAL_DAYS2 = #{intervalDays2,jdbcType=VARCHAR},
      </if>
    </set>
    where CFG_FLOW = #{cfgFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ResKgCfg" >
    update PDSCI.RES_KG_CFG
    set ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      DOCTOR_TYPE_ID = #{doctorTypeId,jdbcType=VARCHAR},
      LESS_OR_GREATER = #{lessOrGreater,jdbcType=VARCHAR},
      ALL_DAYS = #{allDays,jdbcType=VARCHAR},
      INTERVAL_DAYS = #{intervalDays,jdbcType=VARCHAR},
      TEACHER_FLAG = #{teacherFlag,jdbcType=VARCHAR},
      TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
      HEAD_FLAG = #{headFlag,jdbcType=VARCHAR},
      HEAD_NAME = #{headName,jdbcType=VARCHAR},
      TUTOR_FLAG = #{tutorFlag,jdbcType=VARCHAR},
      TUTOR_NAME = #{tutorName,jdbcType=VARCHAR},
      MANAGER_FLAG = #{managerFlag,jdbcType=VARCHAR},
      MANAGER_NAME = #{managerName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      INTERVAL_DAYS2 = #{intervalDays2,jdbcType=VARCHAR}
    where CFG_FLOW = #{cfgFlow,jdbcType=VARCHAR}
  </update>
</mapper>