<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ResLectureRandomSignMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ResLectureRandomSign" >
    <id column="RANDOM_FLOW" property="randomFlow" jdbcType="VARCHAR" />
    <result column="LECTURE_FLOW" property="lectureFlow" jdbcType="VARCHAR" />
    <result column="CODE_START_TIME" property="codeStartTime" jdbcType="VARCHAR" />
    <result column="CODE_END_TIME" property="codeEndTime" jdbcType="VARCHAR" />
    <result column="CODE_STATUS_TYPE" property="codeStatusType" jdbcType="VARCHAR" />
    <result column="CODE_STATUS_NAME" property="codeStatusName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RANDOM_FLOW, LECTURE_FLOW, CODE_START_TIME, CODE_END_TIME, CODE_STATUS_TYPE, CODE_STATUS_NAME, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ResLectureRandomSignExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.RES_LECTURE_RANDOM_SIGN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.RES_LECTURE_RANDOM_SIGN
    where RANDOM_FLOW = #{randomFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.RES_LECTURE_RANDOM_SIGN
    where RANDOM_FLOW = #{randomFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ResLectureRandomSignExample" >
    delete from PDSCI.RES_LECTURE_RANDOM_SIGN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ResLectureRandomSign" >
    insert into PDSCI.RES_LECTURE_RANDOM_SIGN (RANDOM_FLOW, LECTURE_FLOW, CODE_START_TIME, 
      CODE_END_TIME, CODE_STATUS_TYPE, CODE_STATUS_NAME, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{randomFlow,jdbcType=VARCHAR}, #{lectureFlow,jdbcType=VARCHAR}, #{codeStartTime,jdbcType=VARCHAR}, 
      #{codeEndTime,jdbcType=VARCHAR}, #{codeStatusType,jdbcType=VARCHAR}, #{codeStatusName,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ResLectureRandomSign" >
    insert into PDSCI.RES_LECTURE_RANDOM_SIGN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="randomFlow != null" >
        RANDOM_FLOW,
      </if>
      <if test="lectureFlow != null" >
        LECTURE_FLOW,
      </if>
      <if test="codeStartTime != null" >
        CODE_START_TIME,
      </if>
      <if test="codeEndTime != null" >
        CODE_END_TIME,
      </if>
      <if test="codeStatusType != null" >
        CODE_STATUS_TYPE,
      </if>
      <if test="codeStatusName != null" >
        CODE_STATUS_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="randomFlow != null" >
        #{randomFlow,jdbcType=VARCHAR},
      </if>
      <if test="lectureFlow != null" >
        #{lectureFlow,jdbcType=VARCHAR},
      </if>
      <if test="codeStartTime != null" >
        #{codeStartTime,jdbcType=VARCHAR},
      </if>
      <if test="codeEndTime != null" >
        #{codeEndTime,jdbcType=VARCHAR},
      </if>
      <if test="codeStatusType != null" >
        #{codeStatusType,jdbcType=VARCHAR},
      </if>
      <if test="codeStatusName != null" >
        #{codeStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ResLectureRandomSignExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.RES_LECTURE_RANDOM_SIGN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.RES_LECTURE_RANDOM_SIGN
    <set >
      <if test="record.randomFlow != null" >
        RANDOM_FLOW = #{record.randomFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.lectureFlow != null" >
        LECTURE_FLOW = #{record.lectureFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.codeStartTime != null" >
        CODE_START_TIME = #{record.codeStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.codeEndTime != null" >
        CODE_END_TIME = #{record.codeEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.codeStatusType != null" >
        CODE_STATUS_TYPE = #{record.codeStatusType,jdbcType=VARCHAR},
      </if>
      <if test="record.codeStatusName != null" >
        CODE_STATUS_NAME = #{record.codeStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.RES_LECTURE_RANDOM_SIGN
    set RANDOM_FLOW = #{record.randomFlow,jdbcType=VARCHAR},
      LECTURE_FLOW = #{record.lectureFlow,jdbcType=VARCHAR},
      CODE_START_TIME = #{record.codeStartTime,jdbcType=VARCHAR},
      CODE_END_TIME = #{record.codeEndTime,jdbcType=VARCHAR},
      CODE_STATUS_TYPE = #{record.codeStatusType,jdbcType=VARCHAR},
      CODE_STATUS_NAME = #{record.codeStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ResLectureRandomSign" >
    update PDSCI.RES_LECTURE_RANDOM_SIGN
    <set >
      <if test="lectureFlow != null" >
        LECTURE_FLOW = #{lectureFlow,jdbcType=VARCHAR},
      </if>
      <if test="codeStartTime != null" >
        CODE_START_TIME = #{codeStartTime,jdbcType=VARCHAR},
      </if>
      <if test="codeEndTime != null" >
        CODE_END_TIME = #{codeEndTime,jdbcType=VARCHAR},
      </if>
      <if test="codeStatusType != null" >
        CODE_STATUS_TYPE = #{codeStatusType,jdbcType=VARCHAR},
      </if>
      <if test="codeStatusName != null" >
        CODE_STATUS_NAME = #{codeStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where RANDOM_FLOW = #{randomFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ResLectureRandomSign" >
    update PDSCI.RES_LECTURE_RANDOM_SIGN
    set LECTURE_FLOW = #{lectureFlow,jdbcType=VARCHAR},
      CODE_START_TIME = #{codeStartTime,jdbcType=VARCHAR},
      CODE_END_TIME = #{codeEndTime,jdbcType=VARCHAR},
      CODE_STATUS_TYPE = #{codeStatusType,jdbcType=VARCHAR},
      CODE_STATUS_NAME = #{codeStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where RANDOM_FLOW = #{randomFlow,jdbcType=VARCHAR}
  </update>
</mapper>