<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ResRecruitCfgMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.core.model.ResRecruitCfg" >
    <id column="CFG_FLOW" property="cfgFlow" jdbcType="VARCHAR" />
    <result column="YEAR" property="year" jdbcType="VARCHAR" />
    <result column="REG_BEGIN_DATE" property="regBeginDate" jdbcType="VARCHAR" />
    <result column="REG_END_DATE" property="regEndDate" jdbcType="VARCHAR" />
    <result column="PRINT_BEGIN_DATE" property="printBeginDate" jdbcType="VARCHAR" />
    <result column="PRINT_END_DATE" property="printEndDate" jdbcType="VARCHAR" />
    <result column="WISH_BEGIN_DATE" property="wishBeginDate" jdbcType="VARCHAR" />
    <result column="WISH_END_DATE" property="wishEndDate" jdbcType="VARCHAR" />
    <result column="ADMIT_BEGIN_DATE" property="admitBeginDate" jdbcType="VARCHAR" />
    <result column="ADMIT_END_DATE" property="admitEndDate" jdbcType="VARCHAR" />
    <result column="SWAP_BEGIN_DATE" property="swapBeginDate" jdbcType="VARCHAR" />
    <result column="SWAP_END_DATE" property="swapEndDate" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="REGISTRATION_BEGIN_DATE" property="registrationBeginDate" jdbcType="VARCHAR" />
    <result column="REGISTRATION_END_DATE" property="registrationEndDate" jdbcType="VARCHAR" />
    <result column="GRADUATION_BEGIN_DATE" property="graduationBeginDate" jdbcType="VARCHAR" />
    <result column="GRADUATION_END_DATE" property="graduationEndDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CFG_FLOW, YEAR, REG_BEGIN_DATE, REG_END_DATE, PRINT_BEGIN_DATE, PRINT_END_DATE, WISH_BEGIN_DATE, 
    WISH_END_DATE, ADMIT_BEGIN_DATE, ADMIT_END_DATE, SWAP_BEGIN_DATE, SWAP_END_DATE, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, REGISTRATION_BEGIN_DATE, 
    REGISTRATION_END_DATE, GRADUATION_BEGIN_DATE, GRADUATION_END_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.ResRecruitCfgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
      from RES_RECRUIT_CFG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from RES_RECRUIT_CFG
    where CFG_FLOW = #{cfgFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from RES_RECRUIT_CFG
    where CFG_FLOW = #{cfgFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.ResRecruitCfgExample" >
      delete from RES_RECRUIT_CFG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.ResRecruitCfg" >
      insert into RES_RECRUIT_CFG (CFG_FLOW, YEAR, REG_BEGIN_DATE,
      REG_END_DATE, PRINT_BEGIN_DATE, PRINT_END_DATE, 
      WISH_BEGIN_DATE, WISH_END_DATE, ADMIT_BEGIN_DATE, 
      ADMIT_END_DATE, SWAP_BEGIN_DATE, SWAP_END_DATE, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, REGISTRATION_BEGIN_DATE, 
      REGISTRATION_END_DATE, GRADUATION_BEGIN_DATE, 
      GRADUATION_END_DATE)
    values (#{cfgFlow,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, #{regBeginDate,jdbcType=VARCHAR}, 
      #{regEndDate,jdbcType=VARCHAR}, #{printBeginDate,jdbcType=VARCHAR}, #{printEndDate,jdbcType=VARCHAR}, 
      #{wishBeginDate,jdbcType=VARCHAR}, #{wishEndDate,jdbcType=VARCHAR}, #{admitBeginDate,jdbcType=VARCHAR}, 
      #{admitEndDate,jdbcType=VARCHAR}, #{swapBeginDate,jdbcType=VARCHAR}, #{swapEndDate,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{registrationBeginDate,jdbcType=VARCHAR}, 
      #{registrationEndDate,jdbcType=VARCHAR}, #{graduationBeginDate,jdbcType=VARCHAR}, 
      #{graduationEndDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.ResRecruitCfg" >
      insert into RES_RECRUIT_CFG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cfgFlow != null" >
        CFG_FLOW,
      </if>
      <if test="year != null" >
        YEAR,
      </if>
      <if test="regBeginDate != null" >
        REG_BEGIN_DATE,
      </if>
      <if test="regEndDate != null" >
        REG_END_DATE,
      </if>
      <if test="printBeginDate != null" >
        PRINT_BEGIN_DATE,
      </if>
      <if test="printEndDate != null" >
        PRINT_END_DATE,
      </if>
      <if test="wishBeginDate != null" >
        WISH_BEGIN_DATE,
      </if>
      <if test="wishEndDate != null" >
        WISH_END_DATE,
      </if>
      <if test="admitBeginDate != null" >
        ADMIT_BEGIN_DATE,
      </if>
      <if test="admitEndDate != null" >
        ADMIT_END_DATE,
      </if>
      <if test="swapBeginDate != null" >
        SWAP_BEGIN_DATE,
      </if>
      <if test="swapEndDate != null" >
        SWAP_END_DATE,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="registrationBeginDate != null" >
        REGISTRATION_BEGIN_DATE,
      </if>
      <if test="registrationEndDate != null" >
        REGISTRATION_END_DATE,
      </if>
      <if test="graduationBeginDate != null" >
        GRADUATION_BEGIN_DATE,
      </if>
      <if test="graduationEndDate != null" >
        GRADUATION_END_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cfgFlow != null" >
        #{cfgFlow,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="regBeginDate != null" >
        #{regBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="regEndDate != null" >
        #{regEndDate,jdbcType=VARCHAR},
      </if>
      <if test="printBeginDate != null" >
        #{printBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="printEndDate != null" >
        #{printEndDate,jdbcType=VARCHAR},
      </if>
      <if test="wishBeginDate != null" >
        #{wishBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="wishEndDate != null" >
        #{wishEndDate,jdbcType=VARCHAR},
      </if>
      <if test="admitBeginDate != null" >
        #{admitBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="admitEndDate != null" >
        #{admitEndDate,jdbcType=VARCHAR},
      </if>
      <if test="swapBeginDate != null" >
        #{swapBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="swapEndDate != null" >
        #{swapEndDate,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="registrationBeginDate != null" >
        #{registrationBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="registrationEndDate != null" >
        #{registrationEndDate,jdbcType=VARCHAR},
      </if>
      <if test="graduationBeginDate != null" >
        #{graduationBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="graduationEndDate != null" >
        #{graduationEndDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.ResRecruitCfgExample" resultType="java.lang.Integer" >
      select count(*) from RES_RECRUIT_CFG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update RES_RECRUIT_CFG
    <set >
      <if test="record.cfgFlow != null" >
        CFG_FLOW = #{record.cfgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null" >
        YEAR = #{record.year,jdbcType=VARCHAR},
      </if>
      <if test="record.regBeginDate != null" >
        REG_BEGIN_DATE = #{record.regBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="record.regEndDate != null" >
        REG_END_DATE = #{record.regEndDate,jdbcType=VARCHAR},
      </if>
      <if test="record.printBeginDate != null" >
        PRINT_BEGIN_DATE = #{record.printBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="record.printEndDate != null" >
        PRINT_END_DATE = #{record.printEndDate,jdbcType=VARCHAR},
      </if>
      <if test="record.wishBeginDate != null" >
        WISH_BEGIN_DATE = #{record.wishBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="record.wishEndDate != null" >
        WISH_END_DATE = #{record.wishEndDate,jdbcType=VARCHAR},
      </if>
      <if test="record.admitBeginDate != null" >
        ADMIT_BEGIN_DATE = #{record.admitBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="record.admitEndDate != null" >
        ADMIT_END_DATE = #{record.admitEndDate,jdbcType=VARCHAR},
      </if>
      <if test="record.swapBeginDate != null" >
        SWAP_BEGIN_DATE = #{record.swapBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="record.swapEndDate != null" >
        SWAP_END_DATE = #{record.swapEndDate,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.registrationBeginDate != null" >
        REGISTRATION_BEGIN_DATE = #{record.registrationBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="record.registrationEndDate != null" >
        REGISTRATION_END_DATE = #{record.registrationEndDate,jdbcType=VARCHAR},
      </if>
      <if test="record.graduationBeginDate != null" >
        GRADUATION_BEGIN_DATE = #{record.graduationBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="record.graduationEndDate != null" >
        GRADUATION_END_DATE = #{record.graduationEndDate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update RES_RECRUIT_CFG
    set CFG_FLOW = #{record.cfgFlow,jdbcType=VARCHAR},
      YEAR = #{record.year,jdbcType=VARCHAR},
      REG_BEGIN_DATE = #{record.regBeginDate,jdbcType=VARCHAR},
      REG_END_DATE = #{record.regEndDate,jdbcType=VARCHAR},
      PRINT_BEGIN_DATE = #{record.printBeginDate,jdbcType=VARCHAR},
      PRINT_END_DATE = #{record.printEndDate,jdbcType=VARCHAR},
      WISH_BEGIN_DATE = #{record.wishBeginDate,jdbcType=VARCHAR},
      WISH_END_DATE = #{record.wishEndDate,jdbcType=VARCHAR},
      ADMIT_BEGIN_DATE = #{record.admitBeginDate,jdbcType=VARCHAR},
      ADMIT_END_DATE = #{record.admitEndDate,jdbcType=VARCHAR},
      SWAP_BEGIN_DATE = #{record.swapBeginDate,jdbcType=VARCHAR},
      SWAP_END_DATE = #{record.swapEndDate,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      REGISTRATION_BEGIN_DATE = #{record.registrationBeginDate,jdbcType=VARCHAR},
      REGISTRATION_END_DATE = #{record.registrationEndDate,jdbcType=VARCHAR},
      GRADUATION_BEGIN_DATE = #{record.graduationBeginDate,jdbcType=VARCHAR},
      GRADUATION_END_DATE = #{record.graduationEndDate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.ResRecruitCfg" >
      update RES_RECRUIT_CFG
    <set >
      <if test="year != null" >
        YEAR = #{year,jdbcType=VARCHAR},
      </if>
      <if test="regBeginDate != null" >
        REG_BEGIN_DATE = #{regBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="regEndDate != null" >
        REG_END_DATE = #{regEndDate,jdbcType=VARCHAR},
      </if>
      <if test="printBeginDate != null" >
        PRINT_BEGIN_DATE = #{printBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="printEndDate != null" >
        PRINT_END_DATE = #{printEndDate,jdbcType=VARCHAR},
      </if>
      <if test="wishBeginDate != null" >
        WISH_BEGIN_DATE = #{wishBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="wishEndDate != null" >
        WISH_END_DATE = #{wishEndDate,jdbcType=VARCHAR},
      </if>
      <if test="admitBeginDate != null" >
        ADMIT_BEGIN_DATE = #{admitBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="admitEndDate != null" >
        ADMIT_END_DATE = #{admitEndDate,jdbcType=VARCHAR},
      </if>
      <if test="swapBeginDate != null" >
        SWAP_BEGIN_DATE = #{swapBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="swapEndDate != null" >
        SWAP_END_DATE = #{swapEndDate,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="registrationBeginDate != null" >
        REGISTRATION_BEGIN_DATE = #{registrationBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="registrationEndDate != null" >
        REGISTRATION_END_DATE = #{registrationEndDate,jdbcType=VARCHAR},
      </if>
      <if test="graduationBeginDate != null" >
        GRADUATION_BEGIN_DATE = #{graduationBeginDate,jdbcType=VARCHAR},
      </if>
      <if test="graduationEndDate != null" >
        GRADUATION_END_DATE = #{graduationEndDate,jdbcType=VARCHAR},
      </if>
    </set>
    where CFG_FLOW = #{cfgFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.ResRecruitCfg" >
      update RES_RECRUIT_CFG
    set YEAR = #{year,jdbcType=VARCHAR},
      REG_BEGIN_DATE = #{regBeginDate,jdbcType=VARCHAR},
      REG_END_DATE = #{regEndDate,jdbcType=VARCHAR},
      PRINT_BEGIN_DATE = #{printBeginDate,jdbcType=VARCHAR},
      PRINT_END_DATE = #{printEndDate,jdbcType=VARCHAR},
      WISH_BEGIN_DATE = #{wishBeginDate,jdbcType=VARCHAR},
      WISH_END_DATE = #{wishEndDate,jdbcType=VARCHAR},
      ADMIT_BEGIN_DATE = #{admitBeginDate,jdbcType=VARCHAR},
      ADMIT_END_DATE = #{admitEndDate,jdbcType=VARCHAR},
      SWAP_BEGIN_DATE = #{swapBeginDate,jdbcType=VARCHAR},
      SWAP_END_DATE = #{swapEndDate,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      REGISTRATION_BEGIN_DATE = #{registrationBeginDate,jdbcType=VARCHAR},
      REGISTRATION_END_DATE = #{registrationEndDate,jdbcType=VARCHAR},
      GRADUATION_BEGIN_DATE = #{graduationBeginDate,jdbcType=VARCHAR},
      GRADUATION_END_DATE = #{graduationEndDate,jdbcType=VARCHAR}
    where CFG_FLOW = #{cfgFlow,jdbcType=VARCHAR}
  </update>
</mapper>