<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ResStandardDeptPerMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.core.model.ResStandardDeptPer" >
    <id column="PER_FLOW" property="perFlow" jdbcType="VARCHAR" />
    <result column="DOCTOR_FLOW" property="doctorFlow" jdbcType="VARCHAR" />
    <result column="SESSION_NUMBER" property="sessionNumber" jdbcType="VARCHAR" />
    <result column="ROTATION_FLOW" property="rotationFlow" jdbcType="VARCHAR" />
    <result column="ROTATION_NAME" property="rotationName" jdbcType="VARCHAR" />
    <result column="ALL_PER" property="allPer" jdbcType="VARCHAR" />
    <result column="PROCESS_PER" property="processPer" jdbcType="VARCHAR" />
    <result column="SCH_ROTATION_DEPT_FLOW" property="schRotationDeptFlow" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PER_FLOW, DOCTOR_FLOW, SESSION_NUMBER, ROTATION_FLOW, ROTATION_NAME, ALL_PER, PROCESS_PER, 
    SCH_ROTATION_DEPT_FLOW, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
    MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.ResStandardDeptPerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.RES_STANDARD_DEPT_PER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.RES_STANDARD_DEPT_PER
    where PER_FLOW = #{perFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.RES_STANDARD_DEPT_PER
    where PER_FLOW = #{perFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.ResStandardDeptPerExample" >
    delete from PDSCI.RES_STANDARD_DEPT_PER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.ResStandardDeptPer" >
    insert into PDSCI.RES_STANDARD_DEPT_PER (PER_FLOW, DOCTOR_FLOW, SESSION_NUMBER, 
      ROTATION_FLOW, ROTATION_NAME, ALL_PER, 
      PROCESS_PER, SCH_ROTATION_DEPT_FLOW, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW)
    values (#{perFlow,jdbcType=VARCHAR}, #{doctorFlow,jdbcType=VARCHAR}, #{sessionNumber,jdbcType=VARCHAR}, 
      #{rotationFlow,jdbcType=VARCHAR}, #{rotationName,jdbcType=VARCHAR}, #{allPer,jdbcType=VARCHAR}, 
      #{processPer,jdbcType=VARCHAR}, #{schRotationDeptFlow,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.ResStandardDeptPer" >
    insert into PDSCI.RES_STANDARD_DEPT_PER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="perFlow != null" >
        PER_FLOW,
      </if>
      <if test="doctorFlow != null" >
        DOCTOR_FLOW,
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER,
      </if>
      <if test="rotationFlow != null" >
        ROTATION_FLOW,
      </if>
      <if test="rotationName != null" >
        ROTATION_NAME,
      </if>
      <if test="allPer != null" >
        ALL_PER,
      </if>
      <if test="processPer != null" >
        PROCESS_PER,
      </if>
      <if test="schRotationDeptFlow != null" >
        SCH_ROTATION_DEPT_FLOW,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="perFlow != null" >
        #{perFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorFlow != null" >
        #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="rotationFlow != null" >
        #{rotationFlow,jdbcType=VARCHAR},
      </if>
      <if test="rotationName != null" >
        #{rotationName,jdbcType=VARCHAR},
      </if>
      <if test="allPer != null" >
        #{allPer,jdbcType=VARCHAR},
      </if>
      <if test="processPer != null" >
        #{processPer,jdbcType=VARCHAR},
      </if>
      <if test="schRotationDeptFlow != null" >
        #{schRotationDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.ResStandardDeptPerExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.RES_STANDARD_DEPT_PER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.RES_STANDARD_DEPT_PER
    <set >
      <if test="record.perFlow != null" >
        PER_FLOW = #{record.perFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorFlow != null" >
        DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.sessionNumber != null" >
        SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.rotationFlow != null" >
        ROTATION_FLOW = #{record.rotationFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.rotationName != null" >
        ROTATION_NAME = #{record.rotationName,jdbcType=VARCHAR},
      </if>
      <if test="record.allPer != null" >
        ALL_PER = #{record.allPer,jdbcType=VARCHAR},
      </if>
      <if test="record.processPer != null" >
        PROCESS_PER = #{record.processPer,jdbcType=VARCHAR},
      </if>
      <if test="record.schRotationDeptFlow != null" >
        SCH_ROTATION_DEPT_FLOW = #{record.schRotationDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.RES_STANDARD_DEPT_PER
    set PER_FLOW = #{record.perFlow,jdbcType=VARCHAR},
      DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      ROTATION_FLOW = #{record.rotationFlow,jdbcType=VARCHAR},
      ROTATION_NAME = #{record.rotationName,jdbcType=VARCHAR},
      ALL_PER = #{record.allPer,jdbcType=VARCHAR},
      PROCESS_PER = #{record.processPer,jdbcType=VARCHAR},
      SCH_ROTATION_DEPT_FLOW = #{record.schRotationDeptFlow,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.ResStandardDeptPer" >
    update PDSCI.RES_STANDARD_DEPT_PER
    <set >
      <if test="doctorFlow != null" >
        DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="rotationFlow != null" >
        ROTATION_FLOW = #{rotationFlow,jdbcType=VARCHAR},
      </if>
      <if test="rotationName != null" >
        ROTATION_NAME = #{rotationName,jdbcType=VARCHAR},
      </if>
      <if test="allPer != null" >
        ALL_PER = #{allPer,jdbcType=VARCHAR},
      </if>
      <if test="processPer != null" >
        PROCESS_PER = #{processPer,jdbcType=VARCHAR},
      </if>
      <if test="schRotationDeptFlow != null" >
        SCH_ROTATION_DEPT_FLOW = #{schRotationDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where PER_FLOW = #{perFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.ResStandardDeptPer" >
    update PDSCI.RES_STANDARD_DEPT_PER
    set DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      ROTATION_FLOW = #{rotationFlow,jdbcType=VARCHAR},
      ROTATION_NAME = #{rotationName,jdbcType=VARCHAR},
      ALL_PER = #{allPer,jdbcType=VARCHAR},
      PROCESS_PER = #{processPer,jdbcType=VARCHAR},
      SCH_ROTATION_DEPT_FLOW = #{schRotationDeptFlow,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where PER_FLOW = #{perFlow,jdbcType=VARCHAR}
  </update>
</mapper>