<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ResTypicalCasesMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.core.model.ResTypicalCases" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="DOCTOR_FLOW" property="doctorFlow" jdbcType="VARCHAR" />
    <result column="DOCTOR_NAME" property="doctorName" jdbcType="VARCHAR" />
    <result column="TEACHER_FLOW" property="teacherFlow" jdbcType="VARCHAR" />
    <result column="TEACHER_NAME" property="teacherName" jdbcType="VARCHAR" />
    <result column="PEOPLE_NAME" property="peopleName" jdbcType="VARCHAR" />
    <result column="SEX_ID" property="sexId" jdbcType="VARCHAR" />
    <result column="SEX_NAME" property="sexName" jdbcType="VARCHAR" />
    <result column="VISIT_DATE" property="visitDate" jdbcType="VARCHAR" />
    <result column="BIRTH_DATE" property="birthDate" jdbcType="VARCHAR" />
    <result column="VISIT_ACTION_ID" property="visitActionId" jdbcType="VARCHAR" />
    <result column="VISIT_ACTION_NAME" property="visitActionName" jdbcType="VARCHAR" />
    <result column="SOLAR_TERMS" property="solarTerms" jdbcType="VARCHAR" />
    <result column="MAIN_SUIT" property="mainSuit" jdbcType="VARCHAR" />
    <result column="PRESENT_DISEASE_HISTORY" property="presentDiseaseHistory" jdbcType="VARCHAR" />
    <result column="PREVIOUS_DISEASE_HISTORY" property="previousDiseaseHistory" jdbcType="VARCHAR" />
    <result column="ALLERGIC_HISTORY" property="allergicHistory" jdbcType="VARCHAR" />
    <result column="PHYSICAL_EXAMINATION" property="physicalExamination" jdbcType="VARCHAR" />
    <result column="ACCESSORY_EXAMINATION" property="accessoryExamination" jdbcType="VARCHAR" />
    <result column="TCM_DIAGNOSIS" property="tcmDiagnosis" jdbcType="VARCHAR" />
    <result column="SYNDROME_DIAGNOSIS" property="syndromeDiagnosis" jdbcType="VARCHAR" />
    <result column="WESTERN_DIAGNOSIS" property="westernDiagnosis" jdbcType="VARCHAR" />
    <result column="THERAPY" property="therapy" jdbcType="VARCHAR" />
    <result column="PRESCRIPTION" property="prescription" jdbcType="VARCHAR" />
    <result column="RETURN_VISIT" property="returnVisit" jdbcType="VARCHAR" />
    <result column="EXPERIENCE_CONTENT" property="experienceContent" jdbcType="VARCHAR" />
    <result column="STUDENT_SIGN_TIME" property="studentSignTime" jdbcType="VARCHAR" />
    <result column="AUDIT_TIME" property="auditTime" jdbcType="VARCHAR" />
    <result column="AUDIT_USER_FLOW" property="auditUserFlow" jdbcType="VARCHAR" />
    <result column="AUDIT_USER_NAME" property="auditUserName" jdbcType="VARCHAR" />
    <result column="AUDIT_STATUS_ID" property="auditStatusId" jdbcType="VARCHAR" />
    <result column="AUDIT_STATUS_NAME" property="auditStatusName" jdbcType="VARCHAR" />
    <result column="RECORD_YEAR" property="recordYear" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pinde.core.model.ResTypicalCases" extends="BaseResultMap" >
    <result column="AUDIT_CONTENT" property="auditContent" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, DOCTOR_FLOW, DOCTOR_NAME, TEACHER_FLOW, TEACHER_NAME, PEOPLE_NAME, SEX_ID, 
    SEX_NAME, VISIT_DATE, BIRTH_DATE, VISIT_ACTION_ID, VISIT_ACTION_NAME, SOLAR_TERMS, 
    MAIN_SUIT, PRESENT_DISEASE_HISTORY, PREVIOUS_DISEASE_HISTORY, ALLERGIC_HISTORY, PHYSICAL_EXAMINATION, 
    ACCESSORY_EXAMINATION, TCM_DIAGNOSIS, SYNDROME_DIAGNOSIS, WESTERN_DIAGNOSIS, THERAPY, 
    PRESCRIPTION, RETURN_VISIT, EXPERIENCE_CONTENT, STUDENT_SIGN_TIME, AUDIT_TIME, AUDIT_USER_FLOW, 
    AUDIT_USER_NAME, AUDIT_STATUS_ID, AUDIT_STATUS_NAME, RECORD_YEAR, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <sql id="Blob_Column_List" >
    AUDIT_CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pinde.core.model.ResTypicalCasesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.RES_TYPICAL_CASES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.ResTypicalCasesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.RES_TYPICAL_CASES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.RES_TYPICAL_CASES
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.RES_TYPICAL_CASES
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.ResTypicalCasesExample" >
    delete from PDSCI.RES_TYPICAL_CASES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.ResTypicalCases" >
    insert into PDSCI.RES_TYPICAL_CASES (RECORD_FLOW, DOCTOR_FLOW, DOCTOR_NAME, 
      TEACHER_FLOW, TEACHER_NAME, PEOPLE_NAME, 
      SEX_ID, SEX_NAME, VISIT_DATE, 
      BIRTH_DATE, VISIT_ACTION_ID, VISIT_ACTION_NAME, 
      SOLAR_TERMS, MAIN_SUIT, PRESENT_DISEASE_HISTORY, 
      PREVIOUS_DISEASE_HISTORY, ALLERGIC_HISTORY, 
      PHYSICAL_EXAMINATION, ACCESSORY_EXAMINATION, 
      TCM_DIAGNOSIS, SYNDROME_DIAGNOSIS, WESTERN_DIAGNOSIS, 
      THERAPY, PRESCRIPTION, RETURN_VISIT, 
      EXPERIENCE_CONTENT, STUDENT_SIGN_TIME, AUDIT_TIME, 
      AUDIT_USER_FLOW, AUDIT_USER_NAME, AUDIT_STATUS_ID, 
      AUDIT_STATUS_NAME, RECORD_YEAR, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, AUDIT_CONTENT)
    values (#{recordFlow,jdbcType=VARCHAR}, #{doctorFlow,jdbcType=VARCHAR}, #{doctorName,jdbcType=VARCHAR}, 
      #{teacherFlow,jdbcType=VARCHAR}, #{teacherName,jdbcType=VARCHAR}, #{peopleName,jdbcType=VARCHAR}, 
      #{sexId,jdbcType=VARCHAR}, #{sexName,jdbcType=VARCHAR}, #{visitDate,jdbcType=VARCHAR}, 
      #{birthDate,jdbcType=VARCHAR}, #{visitActionId,jdbcType=VARCHAR}, #{visitActionName,jdbcType=VARCHAR}, 
      #{solarTerms,jdbcType=VARCHAR}, #{mainSuit,jdbcType=VARCHAR}, #{presentDiseaseHistory,jdbcType=VARCHAR}, 
      #{previousDiseaseHistory,jdbcType=VARCHAR}, #{allergicHistory,jdbcType=VARCHAR}, 
      #{physicalExamination,jdbcType=VARCHAR}, #{accessoryExamination,jdbcType=VARCHAR}, 
      #{tcmDiagnosis,jdbcType=VARCHAR}, #{syndromeDiagnosis,jdbcType=VARCHAR}, #{westernDiagnosis,jdbcType=VARCHAR}, 
      #{therapy,jdbcType=VARCHAR}, #{prescription,jdbcType=VARCHAR}, #{returnVisit,jdbcType=VARCHAR}, 
      #{experienceContent,jdbcType=VARCHAR}, #{studentSignTime,jdbcType=VARCHAR}, #{auditTime,jdbcType=VARCHAR}, 
      #{auditUserFlow,jdbcType=VARCHAR}, #{auditUserName,jdbcType=VARCHAR}, #{auditStatusId,jdbcType=VARCHAR}, 
      #{auditStatusName,jdbcType=VARCHAR}, #{recordYear,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{auditContent,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.ResTypicalCases" >
    insert into PDSCI.RES_TYPICAL_CASES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="doctorFlow != null" >
        DOCTOR_FLOW,
      </if>
      <if test="doctorName != null" >
        DOCTOR_NAME,
      </if>
      <if test="teacherFlow != null" >
        TEACHER_FLOW,
      </if>
      <if test="teacherName != null" >
        TEACHER_NAME,
      </if>
      <if test="peopleName != null" >
        PEOPLE_NAME,
      </if>
      <if test="sexId != null" >
        SEX_ID,
      </if>
      <if test="sexName != null" >
        SEX_NAME,
      </if>
      <if test="visitDate != null" >
        VISIT_DATE,
      </if>
      <if test="birthDate != null" >
        BIRTH_DATE,
      </if>
      <if test="visitActionId != null" >
        VISIT_ACTION_ID,
      </if>
      <if test="visitActionName != null" >
        VISIT_ACTION_NAME,
      </if>
      <if test="solarTerms != null" >
        SOLAR_TERMS,
      </if>
      <if test="mainSuit != null" >
        MAIN_SUIT,
      </if>
      <if test="presentDiseaseHistory != null" >
        PRESENT_DISEASE_HISTORY,
      </if>
      <if test="previousDiseaseHistory != null" >
        PREVIOUS_DISEASE_HISTORY,
      </if>
      <if test="allergicHistory != null" >
        ALLERGIC_HISTORY,
      </if>
      <if test="physicalExamination != null" >
        PHYSICAL_EXAMINATION,
      </if>
      <if test="accessoryExamination != null" >
        ACCESSORY_EXAMINATION,
      </if>
      <if test="tcmDiagnosis != null" >
        TCM_DIAGNOSIS,
      </if>
      <if test="syndromeDiagnosis != null" >
        SYNDROME_DIAGNOSIS,
      </if>
      <if test="westernDiagnosis != null" >
        WESTERN_DIAGNOSIS,
      </if>
      <if test="therapy != null" >
        THERAPY,
      </if>
      <if test="prescription != null" >
        PRESCRIPTION,
      </if>
      <if test="returnVisit != null" >
        RETURN_VISIT,
      </if>
      <if test="experienceContent != null" >
        EXPERIENCE_CONTENT,
      </if>
      <if test="studentSignTime != null" >
        STUDENT_SIGN_TIME,
      </if>
      <if test="auditTime != null" >
        AUDIT_TIME,
      </if>
      <if test="auditUserFlow != null" >
        AUDIT_USER_FLOW,
      </if>
      <if test="auditUserName != null" >
        AUDIT_USER_NAME,
      </if>
      <if test="auditStatusId != null" >
        AUDIT_STATUS_ID,
      </if>
      <if test="auditStatusName != null" >
        AUDIT_STATUS_NAME,
      </if>
      <if test="recordYear != null" >
        RECORD_YEAR,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="auditContent != null" >
        AUDIT_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorFlow != null" >
        #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="teacherFlow != null" >
        #{teacherFlow,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="peopleName != null" >
        #{peopleName,jdbcType=VARCHAR},
      </if>
      <if test="sexId != null" >
        #{sexId,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null" >
        #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="visitDate != null" >
        #{visitDate,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null" >
        #{birthDate,jdbcType=VARCHAR},
      </if>
      <if test="visitActionId != null" >
        #{visitActionId,jdbcType=VARCHAR},
      </if>
      <if test="visitActionName != null" >
        #{visitActionName,jdbcType=VARCHAR},
      </if>
      <if test="solarTerms != null" >
        #{solarTerms,jdbcType=VARCHAR},
      </if>
      <if test="mainSuit != null" >
        #{mainSuit,jdbcType=VARCHAR},
      </if>
      <if test="presentDiseaseHistory != null" >
        #{presentDiseaseHistory,jdbcType=VARCHAR},
      </if>
      <if test="previousDiseaseHistory != null" >
        #{previousDiseaseHistory,jdbcType=VARCHAR},
      </if>
      <if test="allergicHistory != null" >
        #{allergicHistory,jdbcType=VARCHAR},
      </if>
      <if test="physicalExamination != null" >
        #{physicalExamination,jdbcType=VARCHAR},
      </if>
      <if test="accessoryExamination != null" >
        #{accessoryExamination,jdbcType=VARCHAR},
      </if>
      <if test="tcmDiagnosis != null" >
        #{tcmDiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="syndromeDiagnosis != null" >
        #{syndromeDiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="westernDiagnosis != null" >
        #{westernDiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="therapy != null" >
        #{therapy,jdbcType=VARCHAR},
      </if>
      <if test="prescription != null" >
        #{prescription,jdbcType=VARCHAR},
      </if>
      <if test="returnVisit != null" >
        #{returnVisit,jdbcType=VARCHAR},
      </if>
      <if test="experienceContent != null" >
        #{experienceContent,jdbcType=VARCHAR},
      </if>
      <if test="studentSignTime != null" >
        #{studentSignTime,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=VARCHAR},
      </if>
      <if test="auditUserFlow != null" >
        #{auditUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="auditUserName != null" >
        #{auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusId != null" >
        #{auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusName != null" >
        #{auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordYear != null" >
        #{recordYear,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="auditContent != null" >
        #{auditContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.ResTypicalCasesExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.RES_TYPICAL_CASES
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.RES_TYPICAL_CASES
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorFlow != null" >
        DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorName != null" >
        DOCTOR_NAME = #{record.doctorName,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherFlow != null" >
        TEACHER_FLOW = #{record.teacherFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherName != null" >
        TEACHER_NAME = #{record.teacherName,jdbcType=VARCHAR},
      </if>
      <if test="record.peopleName != null" >
        PEOPLE_NAME = #{record.peopleName,jdbcType=VARCHAR},
      </if>
      <if test="record.sexId != null" >
        SEX_ID = #{record.sexId,jdbcType=VARCHAR},
      </if>
      <if test="record.sexName != null" >
        SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      </if>
      <if test="record.visitDate != null" >
        VISIT_DATE = #{record.visitDate,jdbcType=VARCHAR},
      </if>
      <if test="record.birthDate != null" >
        BIRTH_DATE = #{record.birthDate,jdbcType=VARCHAR},
      </if>
      <if test="record.visitActionId != null" >
        VISIT_ACTION_ID = #{record.visitActionId,jdbcType=VARCHAR},
      </if>
      <if test="record.visitActionName != null" >
        VISIT_ACTION_NAME = #{record.visitActionName,jdbcType=VARCHAR},
      </if>
      <if test="record.solarTerms != null" >
        SOLAR_TERMS = #{record.solarTerms,jdbcType=VARCHAR},
      </if>
      <if test="record.mainSuit != null" >
        MAIN_SUIT = #{record.mainSuit,jdbcType=VARCHAR},
      </if>
      <if test="record.presentDiseaseHistory != null" >
        PRESENT_DISEASE_HISTORY = #{record.presentDiseaseHistory,jdbcType=VARCHAR},
      </if>
      <if test="record.previousDiseaseHistory != null" >
        PREVIOUS_DISEASE_HISTORY = #{record.previousDiseaseHistory,jdbcType=VARCHAR},
      </if>
      <if test="record.allergicHistory != null" >
        ALLERGIC_HISTORY = #{record.allergicHistory,jdbcType=VARCHAR},
      </if>
      <if test="record.physicalExamination != null" >
        PHYSICAL_EXAMINATION = #{record.physicalExamination,jdbcType=VARCHAR},
      </if>
      <if test="record.accessoryExamination != null" >
        ACCESSORY_EXAMINATION = #{record.accessoryExamination,jdbcType=VARCHAR},
      </if>
      <if test="record.tcmDiagnosis != null" >
        TCM_DIAGNOSIS = #{record.tcmDiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="record.syndromeDiagnosis != null" >
        SYNDROME_DIAGNOSIS = #{record.syndromeDiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="record.westernDiagnosis != null" >
        WESTERN_DIAGNOSIS = #{record.westernDiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="record.therapy != null" >
        THERAPY = #{record.therapy,jdbcType=VARCHAR},
      </if>
      <if test="record.prescription != null" >
        PRESCRIPTION = #{record.prescription,jdbcType=VARCHAR},
      </if>
      <if test="record.returnVisit != null" >
        RETURN_VISIT = #{record.returnVisit,jdbcType=VARCHAR},
      </if>
      <if test="record.experienceContent != null" >
        EXPERIENCE_CONTENT = #{record.experienceContent,jdbcType=VARCHAR},
      </if>
      <if test="record.studentSignTime != null" >
        STUDENT_SIGN_TIME = #{record.studentSignTime,jdbcType=VARCHAR},
      </if>
      <if test="record.auditTime != null" >
        AUDIT_TIME = #{record.auditTime,jdbcType=VARCHAR},
      </if>
      <if test="record.auditUserFlow != null" >
        AUDIT_USER_FLOW = #{record.auditUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.auditUserName != null" >
        AUDIT_USER_NAME = #{record.auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatusId != null" >
        AUDIT_STATUS_ID = #{record.auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatusName != null" >
        AUDIT_STATUS_NAME = #{record.auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordYear != null" >
        RECORD_YEAR = #{record.recordYear,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.auditContent != null" >
        AUDIT_CONTENT = #{record.auditContent,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update PDSCI.RES_TYPICAL_CASES
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      DOCTOR_NAME = #{record.doctorName,jdbcType=VARCHAR},
      TEACHER_FLOW = #{record.teacherFlow,jdbcType=VARCHAR},
      TEACHER_NAME = #{record.teacherName,jdbcType=VARCHAR},
      PEOPLE_NAME = #{record.peopleName,jdbcType=VARCHAR},
      SEX_ID = #{record.sexId,jdbcType=VARCHAR},
      SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      VISIT_DATE = #{record.visitDate,jdbcType=VARCHAR},
      BIRTH_DATE = #{record.birthDate,jdbcType=VARCHAR},
      VISIT_ACTION_ID = #{record.visitActionId,jdbcType=VARCHAR},
      VISIT_ACTION_NAME = #{record.visitActionName,jdbcType=VARCHAR},
      SOLAR_TERMS = #{record.solarTerms,jdbcType=VARCHAR},
      MAIN_SUIT = #{record.mainSuit,jdbcType=VARCHAR},
      PRESENT_DISEASE_HISTORY = #{record.presentDiseaseHistory,jdbcType=VARCHAR},
      PREVIOUS_DISEASE_HISTORY = #{record.previousDiseaseHistory,jdbcType=VARCHAR},
      ALLERGIC_HISTORY = #{record.allergicHistory,jdbcType=VARCHAR},
      PHYSICAL_EXAMINATION = #{record.physicalExamination,jdbcType=VARCHAR},
      ACCESSORY_EXAMINATION = #{record.accessoryExamination,jdbcType=VARCHAR},
      TCM_DIAGNOSIS = #{record.tcmDiagnosis,jdbcType=VARCHAR},
      SYNDROME_DIAGNOSIS = #{record.syndromeDiagnosis,jdbcType=VARCHAR},
      WESTERN_DIAGNOSIS = #{record.westernDiagnosis,jdbcType=VARCHAR},
      THERAPY = #{record.therapy,jdbcType=VARCHAR},
      PRESCRIPTION = #{record.prescription,jdbcType=VARCHAR},
      RETURN_VISIT = #{record.returnVisit,jdbcType=VARCHAR},
      EXPERIENCE_CONTENT = #{record.experienceContent,jdbcType=VARCHAR},
      STUDENT_SIGN_TIME = #{record.studentSignTime,jdbcType=VARCHAR},
      AUDIT_TIME = #{record.auditTime,jdbcType=VARCHAR},
      AUDIT_USER_FLOW = #{record.auditUserFlow,jdbcType=VARCHAR},
      AUDIT_USER_NAME = #{record.auditUserName,jdbcType=VARCHAR},
      AUDIT_STATUS_ID = #{record.auditStatusId,jdbcType=VARCHAR},
      AUDIT_STATUS_NAME = #{record.auditStatusName,jdbcType=VARCHAR},
      RECORD_YEAR = #{record.recordYear,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      AUDIT_CONTENT = #{record.auditContent,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.RES_TYPICAL_CASES
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      DOCTOR_NAME = #{record.doctorName,jdbcType=VARCHAR},
      TEACHER_FLOW = #{record.teacherFlow,jdbcType=VARCHAR},
      TEACHER_NAME = #{record.teacherName,jdbcType=VARCHAR},
      PEOPLE_NAME = #{record.peopleName,jdbcType=VARCHAR},
      SEX_ID = #{record.sexId,jdbcType=VARCHAR},
      SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      VISIT_DATE = #{record.visitDate,jdbcType=VARCHAR},
      BIRTH_DATE = #{record.birthDate,jdbcType=VARCHAR},
      VISIT_ACTION_ID = #{record.visitActionId,jdbcType=VARCHAR},
      VISIT_ACTION_NAME = #{record.visitActionName,jdbcType=VARCHAR},
      SOLAR_TERMS = #{record.solarTerms,jdbcType=VARCHAR},
      MAIN_SUIT = #{record.mainSuit,jdbcType=VARCHAR},
      PRESENT_DISEASE_HISTORY = #{record.presentDiseaseHistory,jdbcType=VARCHAR},
      PREVIOUS_DISEASE_HISTORY = #{record.previousDiseaseHistory,jdbcType=VARCHAR},
      ALLERGIC_HISTORY = #{record.allergicHistory,jdbcType=VARCHAR},
      PHYSICAL_EXAMINATION = #{record.physicalExamination,jdbcType=VARCHAR},
      ACCESSORY_EXAMINATION = #{record.accessoryExamination,jdbcType=VARCHAR},
      TCM_DIAGNOSIS = #{record.tcmDiagnosis,jdbcType=VARCHAR},
      SYNDROME_DIAGNOSIS = #{record.syndromeDiagnosis,jdbcType=VARCHAR},
      WESTERN_DIAGNOSIS = #{record.westernDiagnosis,jdbcType=VARCHAR},
      THERAPY = #{record.therapy,jdbcType=VARCHAR},
      PRESCRIPTION = #{record.prescription,jdbcType=VARCHAR},
      RETURN_VISIT = #{record.returnVisit,jdbcType=VARCHAR},
      EXPERIENCE_CONTENT = #{record.experienceContent,jdbcType=VARCHAR},
      STUDENT_SIGN_TIME = #{record.studentSignTime,jdbcType=VARCHAR},
      AUDIT_TIME = #{record.auditTime,jdbcType=VARCHAR},
      AUDIT_USER_FLOW = #{record.auditUserFlow,jdbcType=VARCHAR},
      AUDIT_USER_NAME = #{record.auditUserName,jdbcType=VARCHAR},
      AUDIT_STATUS_ID = #{record.auditStatusId,jdbcType=VARCHAR},
      AUDIT_STATUS_NAME = #{record.auditStatusName,jdbcType=VARCHAR},
      RECORD_YEAR = #{record.recordYear,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.ResTypicalCases" >
    update PDSCI.RES_TYPICAL_CASES
    <set >
      <if test="doctorFlow != null" >
        DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="teacherFlow != null" >
        TEACHER_FLOW = #{teacherFlow,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="peopleName != null" >
        PEOPLE_NAME = #{peopleName,jdbcType=VARCHAR},
      </if>
      <if test="sexId != null" >
        SEX_ID = #{sexId,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null" >
        SEX_NAME = #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="visitDate != null" >
        VISIT_DATE = #{visitDate,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null" >
        BIRTH_DATE = #{birthDate,jdbcType=VARCHAR},
      </if>
      <if test="visitActionId != null" >
        VISIT_ACTION_ID = #{visitActionId,jdbcType=VARCHAR},
      </if>
      <if test="visitActionName != null" >
        VISIT_ACTION_NAME = #{visitActionName,jdbcType=VARCHAR},
      </if>
      <if test="solarTerms != null" >
        SOLAR_TERMS = #{solarTerms,jdbcType=VARCHAR},
      </if>
      <if test="mainSuit != null" >
        MAIN_SUIT = #{mainSuit,jdbcType=VARCHAR},
      </if>
      <if test="presentDiseaseHistory != null" >
        PRESENT_DISEASE_HISTORY = #{presentDiseaseHistory,jdbcType=VARCHAR},
      </if>
      <if test="previousDiseaseHistory != null" >
        PREVIOUS_DISEASE_HISTORY = #{previousDiseaseHistory,jdbcType=VARCHAR},
      </if>
      <if test="allergicHistory != null" >
        ALLERGIC_HISTORY = #{allergicHistory,jdbcType=VARCHAR},
      </if>
      <if test="physicalExamination != null" >
        PHYSICAL_EXAMINATION = #{physicalExamination,jdbcType=VARCHAR},
      </if>
      <if test="accessoryExamination != null" >
        ACCESSORY_EXAMINATION = #{accessoryExamination,jdbcType=VARCHAR},
      </if>
      <if test="tcmDiagnosis != null" >
        TCM_DIAGNOSIS = #{tcmDiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="syndromeDiagnosis != null" >
        SYNDROME_DIAGNOSIS = #{syndromeDiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="westernDiagnosis != null" >
        WESTERN_DIAGNOSIS = #{westernDiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="therapy != null" >
        THERAPY = #{therapy,jdbcType=VARCHAR},
      </if>
      <if test="prescription != null" >
        PRESCRIPTION = #{prescription,jdbcType=VARCHAR},
      </if>
      <if test="returnVisit != null" >
        RETURN_VISIT = #{returnVisit,jdbcType=VARCHAR},
      </if>
      <if test="experienceContent != null" >
        EXPERIENCE_CONTENT = #{experienceContent,jdbcType=VARCHAR},
      </if>
      <if test="studentSignTime != null" >
        STUDENT_SIGN_TIME = #{studentSignTime,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        AUDIT_TIME = #{auditTime,jdbcType=VARCHAR},
      </if>
      <if test="auditUserFlow != null" >
        AUDIT_USER_FLOW = #{auditUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="auditUserName != null" >
        AUDIT_USER_NAME = #{auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusId != null" >
        AUDIT_STATUS_ID = #{auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusName != null" >
        AUDIT_STATUS_NAME = #{auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordYear != null" >
        RECORD_YEAR = #{recordYear,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="auditContent != null" >
        AUDIT_CONTENT = #{auditContent,jdbcType=CLOB},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.core.model.ResTypicalCases" >
    update PDSCI.RES_TYPICAL_CASES
    set DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      TEACHER_FLOW = #{teacherFlow,jdbcType=VARCHAR},
      TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
      PEOPLE_NAME = #{peopleName,jdbcType=VARCHAR},
      SEX_ID = #{sexId,jdbcType=VARCHAR},
      SEX_NAME = #{sexName,jdbcType=VARCHAR},
      VISIT_DATE = #{visitDate,jdbcType=VARCHAR},
      BIRTH_DATE = #{birthDate,jdbcType=VARCHAR},
      VISIT_ACTION_ID = #{visitActionId,jdbcType=VARCHAR},
      VISIT_ACTION_NAME = #{visitActionName,jdbcType=VARCHAR},
      SOLAR_TERMS = #{solarTerms,jdbcType=VARCHAR},
      MAIN_SUIT = #{mainSuit,jdbcType=VARCHAR},
      PRESENT_DISEASE_HISTORY = #{presentDiseaseHistory,jdbcType=VARCHAR},
      PREVIOUS_DISEASE_HISTORY = #{previousDiseaseHistory,jdbcType=VARCHAR},
      ALLERGIC_HISTORY = #{allergicHistory,jdbcType=VARCHAR},
      PHYSICAL_EXAMINATION = #{physicalExamination,jdbcType=VARCHAR},
      ACCESSORY_EXAMINATION = #{accessoryExamination,jdbcType=VARCHAR},
      TCM_DIAGNOSIS = #{tcmDiagnosis,jdbcType=VARCHAR},
      SYNDROME_DIAGNOSIS = #{syndromeDiagnosis,jdbcType=VARCHAR},
      WESTERN_DIAGNOSIS = #{westernDiagnosis,jdbcType=VARCHAR},
      THERAPY = #{therapy,jdbcType=VARCHAR},
      PRESCRIPTION = #{prescription,jdbcType=VARCHAR},
      RETURN_VISIT = #{returnVisit,jdbcType=VARCHAR},
      EXPERIENCE_CONTENT = #{experienceContent,jdbcType=VARCHAR},
      STUDENT_SIGN_TIME = #{studentSignTime,jdbcType=VARCHAR},
      AUDIT_TIME = #{auditTime,jdbcType=VARCHAR},
      AUDIT_USER_FLOW = #{auditUserFlow,jdbcType=VARCHAR},
      AUDIT_USER_NAME = #{auditUserName,jdbcType=VARCHAR},
      AUDIT_STATUS_ID = #{auditStatusId,jdbcType=VARCHAR},
      AUDIT_STATUS_NAME = #{auditStatusName,jdbcType=VARCHAR},
      RECORD_YEAR = #{recordYear,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      AUDIT_CONTENT = #{auditContent,jdbcType=CLOB}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.ResTypicalCases" >
    update PDSCI.RES_TYPICAL_CASES
    set DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      TEACHER_FLOW = #{teacherFlow,jdbcType=VARCHAR},
      TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
      PEOPLE_NAME = #{peopleName,jdbcType=VARCHAR},
      SEX_ID = #{sexId,jdbcType=VARCHAR},
      SEX_NAME = #{sexName,jdbcType=VARCHAR},
      VISIT_DATE = #{visitDate,jdbcType=VARCHAR},
      BIRTH_DATE = #{birthDate,jdbcType=VARCHAR},
      VISIT_ACTION_ID = #{visitActionId,jdbcType=VARCHAR},
      VISIT_ACTION_NAME = #{visitActionName,jdbcType=VARCHAR},
      SOLAR_TERMS = #{solarTerms,jdbcType=VARCHAR},
      MAIN_SUIT = #{mainSuit,jdbcType=VARCHAR},
      PRESENT_DISEASE_HISTORY = #{presentDiseaseHistory,jdbcType=VARCHAR},
      PREVIOUS_DISEASE_HISTORY = #{previousDiseaseHistory,jdbcType=VARCHAR},
      ALLERGIC_HISTORY = #{allergicHistory,jdbcType=VARCHAR},
      PHYSICAL_EXAMINATION = #{physicalExamination,jdbcType=VARCHAR},
      ACCESSORY_EXAMINATION = #{accessoryExamination,jdbcType=VARCHAR},
      TCM_DIAGNOSIS = #{tcmDiagnosis,jdbcType=VARCHAR},
      SYNDROME_DIAGNOSIS = #{syndromeDiagnosis,jdbcType=VARCHAR},
      WESTERN_DIAGNOSIS = #{westernDiagnosis,jdbcType=VARCHAR},
      THERAPY = #{therapy,jdbcType=VARCHAR},
      PRESCRIPTION = #{prescription,jdbcType=VARCHAR},
      RETURN_VISIT = #{returnVisit,jdbcType=VARCHAR},
      EXPERIENCE_CONTENT = #{experienceContent,jdbcType=VARCHAR},
      STUDENT_SIGN_TIME = #{studentSignTime,jdbcType=VARCHAR},
      AUDIT_TIME = #{auditTime,jdbcType=VARCHAR},
      AUDIT_USER_FLOW = #{auditUserFlow,jdbcType=VARCHAR},
      AUDIT_USER_NAME = #{auditUserName,jdbcType=VARCHAR},
      AUDIT_STATUS_ID = #{auditStatusId,jdbcType=VARCHAR},
      AUDIT_STATUS_NAME = #{auditStatusName,jdbcType=VARCHAR},
      RECORD_YEAR = #{recordYear,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>