<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.SchDoctorAbsenceMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SchDoctorAbsence" >
    <id column="ABSENCE_FLOW" property="absenceFlow" jdbcType="VARCHAR" />
    <result column="DOCTOR_FLOW" property="doctorFlow" jdbcType="VARCHAR" />
    <result column="DOCTOR_NAME" property="doctorName" jdbcType="VARCHAR" />
    <result column="SESSION_NUMBER" property="sessionNumber" jdbcType="VARCHAR" />
    <result column="TRAINING_SPE_ID" property="trainingSpeId" jdbcType="VARCHAR" />
    <result column="TRAINING_SPE_NAME" property="trainingSpeName" jdbcType="VARCHAR" />
    <result column="START_DATE" property="startDate" jdbcType="VARCHAR" />
    <result column="END_DATE" property="endDate" jdbcType="VARCHAR" />
    <result column="INTERVAL_DAY" property="intervalDay" jdbcType="VARCHAR" />
    <result column="ABSENCE_RESON" property="absenceReson" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="DOCTOR_CATEGORY_ID" property="doctorCategoryId" jdbcType="VARCHAR" />
    <result column="DOCTOR_CATEGORY_NAME" property="doctorCategoryName" jdbcType="VARCHAR" />
    <result column="SCH_DEPT_FLOW" property="schDeptFlow" jdbcType="VARCHAR" />
    <result column="SCH_DEPT_NAME" property="schDeptName" jdbcType="VARCHAR" />
    <result column="TEACHER_AGREE_FLAG" property="teacherAgreeFlag" jdbcType="VARCHAR" />
    <result column="HEAD_AGREE_FLAG" property="headAgreeFlag" jdbcType="VARCHAR" />
    <result column="MANAGER_AGREE_FLAG" property="managerAgreeFlag" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="TEACHER_FLOW" property="teacherFlow" jdbcType="VARCHAR" />
    <result column="TEACHER_NAME" property="teacherName" jdbcType="VARCHAR" />
    <result column="HEAD_FLOW" property="headFlow" jdbcType="VARCHAR" />
    <result column="HEAD_NAME" property="headName" jdbcType="VARCHAR" />
    <result column="MANAGER_FLOW" property="managerFlow" jdbcType="VARCHAR" />
    <result column="MANAGER_NAME" property="managerName" jdbcType="VARCHAR" />
    <result column="REPEAL_ABSENCE" property="repealAbsence" jdbcType="VARCHAR" />
    <result column="REPEAL_ABSENCE_DATE" property="repealAbsenceDate" jdbcType="VARCHAR" />
    <result column="ABSENCE_TYPE_ID" property="absenceTypeId" jdbcType="VARCHAR" />
    <result column="ABSENCE_TYPE_NAME" property="absenceTypeName" jdbcType="VARCHAR" />
    <result column="IS_REGISTER" property="isRegister" jdbcType="VARCHAR" />
    <result column="MAKING_FILE" property="makingFile" jdbcType="VARCHAR" />
    <result column="DEPT_FLOW" property="deptFlow" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="DOCTOR_TYPE_ID" property="doctorTypeId" jdbcType="VARCHAR" />
    <result column="DOCTOR_TYPE_NAME" property="doctorTypeName" jdbcType="VARCHAR" />
    <result column="REPEAL_ABSENCE_DAY" property="repealAbsenceDay" jdbcType="VARCHAR" />
    <result column="TEACHING_FLOW" property="teachingFlow" jdbcType="VARCHAR" />
    <result column="TEACHING_NAME" property="teachingName" jdbcType="VARCHAR" />
    <result column="TEACHER_AUDIT_INFO" property="teacherAuditInfo" jdbcType="VARCHAR" />
    <result column="HEAD_AUDIT_INFO" property="headAuditInfo" jdbcType="VARCHAR" />
    <result column="MANAGER_AUDIT_INFO" property="managerAuditInfo" jdbcType="VARCHAR" />
    <result column="REPEAL_ABSENCE_INFO" property="repealAbsenceInfo" jdbcType="VARCHAR" />
    <result column="TEACHER_AUDIT_TIME" property="teacherAuditTime" jdbcType="VARCHAR" />
    <result column="HEAD_AUDIT_TIME" property="headAuditTime" jdbcType="VARCHAR" />
    <result column="MANAGER_AUDIT_TIME" property="managerAuditTime" jdbcType="VARCHAR" />
    <result column="REPEAL_ABSENCE_AUDIT_TIME" property="repealAbsenceAuditTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ABSENCE_FLOW, DOCTOR_FLOW, DOCTOR_NAME, SESSION_NUMBER, TRAINING_SPE_ID, TRAINING_SPE_NAME, 
    START_DATE, END_DATE, INTERVAL_DAY, ABSENCE_RESON, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW, DOCTOR_CATEGORY_ID, DOCTOR_CATEGORY_NAME, SCH_DEPT_FLOW, 
    SCH_DEPT_NAME, TEACHER_AGREE_FLAG, HEAD_AGREE_FLAG, MANAGER_AGREE_FLAG, ORG_FLOW, 
    ORG_NAME, TEACHER_FLOW, TEACHER_NAME, HEAD_FLOW, HEAD_NAME, MANAGER_FLOW, MANAGER_NAME, 
    REPEAL_ABSENCE, REPEAL_ABSENCE_DATE, ABSENCE_TYPE_ID, ABSENCE_TYPE_NAME, IS_REGISTER, 
    MAKING_FILE, DEPT_FLOW, DEPT_NAME, DOCTOR_TYPE_ID, DOCTOR_TYPE_NAME, REPEAL_ABSENCE_DAY, 
    TEACHING_FLOW, TEACHING_NAME, TEACHER_AUDIT_INFO, HEAD_AUDIT_INFO, MANAGER_AUDIT_INFO, 
    REPEAL_ABSENCE_INFO, TEACHER_AUDIT_TIME, HEAD_AUDIT_TIME, MANAGER_AUDIT_TIME, REPEAL_ABSENCE_AUDIT_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.SchDoctorAbsenceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.SCH_DOCTOR_ABSENCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.SCH_DOCTOR_ABSENCE
    where ABSENCE_FLOW = #{absenceFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.SCH_DOCTOR_ABSENCE
    where ABSENCE_FLOW = #{absenceFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SchDoctorAbsenceExample" >
    delete from PDSCI.SCH_DOCTOR_ABSENCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SchDoctorAbsence" >
    insert into PDSCI.SCH_DOCTOR_ABSENCE (ABSENCE_FLOW, DOCTOR_FLOW, DOCTOR_NAME, 
      SESSION_NUMBER, TRAINING_SPE_ID, TRAINING_SPE_NAME, 
      START_DATE, END_DATE, INTERVAL_DAY, 
      ABSENCE_RESON, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      DOCTOR_CATEGORY_ID, DOCTOR_CATEGORY_NAME, SCH_DEPT_FLOW, 
      SCH_DEPT_NAME, TEACHER_AGREE_FLAG, HEAD_AGREE_FLAG, 
      MANAGER_AGREE_FLAG, ORG_FLOW, ORG_NAME, 
      TEACHER_FLOW, TEACHER_NAME, HEAD_FLOW, 
      HEAD_NAME, MANAGER_FLOW, MANAGER_NAME, 
      REPEAL_ABSENCE, REPEAL_ABSENCE_DATE, ABSENCE_TYPE_ID, 
      ABSENCE_TYPE_NAME, IS_REGISTER, MAKING_FILE, 
      DEPT_FLOW, DEPT_NAME, DOCTOR_TYPE_ID, 
      DOCTOR_TYPE_NAME, REPEAL_ABSENCE_DAY, TEACHING_FLOW, 
      TEACHING_NAME, TEACHER_AUDIT_INFO, HEAD_AUDIT_INFO, 
      MANAGER_AUDIT_INFO, REPEAL_ABSENCE_INFO, TEACHER_AUDIT_TIME, 
      HEAD_AUDIT_TIME, MANAGER_AUDIT_TIME, REPEAL_ABSENCE_AUDIT_TIME
      )
    values (#{absenceFlow,jdbcType=VARCHAR}, #{doctorFlow,jdbcType=VARCHAR}, #{doctorName,jdbcType=VARCHAR}, 
      #{sessionNumber,jdbcType=VARCHAR}, #{trainingSpeId,jdbcType=VARCHAR}, #{trainingSpeName,jdbcType=VARCHAR}, 
      #{startDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR}, #{intervalDay,jdbcType=VARCHAR}, 
      #{absenceReson,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{doctorCategoryId,jdbcType=VARCHAR}, #{doctorCategoryName,jdbcType=VARCHAR}, #{schDeptFlow,jdbcType=VARCHAR}, 
      #{schDeptName,jdbcType=VARCHAR}, #{teacherAgreeFlag,jdbcType=VARCHAR}, #{headAgreeFlag,jdbcType=VARCHAR}, 
      #{managerAgreeFlag,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{teacherFlow,jdbcType=VARCHAR}, #{teacherName,jdbcType=VARCHAR}, #{headFlow,jdbcType=VARCHAR}, 
      #{headName,jdbcType=VARCHAR}, #{managerFlow,jdbcType=VARCHAR}, #{managerName,jdbcType=VARCHAR}, 
      #{repealAbsence,jdbcType=VARCHAR}, #{repealAbsenceDate,jdbcType=VARCHAR}, #{absenceTypeId,jdbcType=VARCHAR}, 
      #{absenceTypeName,jdbcType=VARCHAR}, #{isRegister,jdbcType=VARCHAR}, #{makingFile,jdbcType=VARCHAR}, 
      #{deptFlow,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{doctorTypeId,jdbcType=VARCHAR}, 
      #{doctorTypeName,jdbcType=VARCHAR}, #{repealAbsenceDay,jdbcType=VARCHAR}, #{teachingFlow,jdbcType=VARCHAR}, 
      #{teachingName,jdbcType=VARCHAR}, #{teacherAuditInfo,jdbcType=VARCHAR}, #{headAuditInfo,jdbcType=VARCHAR}, 
      #{managerAuditInfo,jdbcType=VARCHAR}, #{repealAbsenceInfo,jdbcType=VARCHAR}, #{teacherAuditTime,jdbcType=VARCHAR}, 
      #{headAuditTime,jdbcType=VARCHAR}, #{managerAuditTime,jdbcType=VARCHAR}, #{repealAbsenceAuditTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SchDoctorAbsence" >
    insert into PDSCI.SCH_DOCTOR_ABSENCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="absenceFlow != null" >
        ABSENCE_FLOW,
      </if>
      <if test="doctorFlow != null" >
        DOCTOR_FLOW,
      </if>
      <if test="doctorName != null" >
        DOCTOR_NAME,
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER,
      </if>
      <if test="trainingSpeId != null" >
        TRAINING_SPE_ID,
      </if>
      <if test="trainingSpeName != null" >
        TRAINING_SPE_NAME,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="intervalDay != null" >
        INTERVAL_DAY,
      </if>
      <if test="absenceReson != null" >
        ABSENCE_RESON,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="doctorCategoryId != null" >
        DOCTOR_CATEGORY_ID,
      </if>
      <if test="doctorCategoryName != null" >
        DOCTOR_CATEGORY_NAME,
      </if>
      <if test="schDeptFlow != null" >
        SCH_DEPT_FLOW,
      </if>
      <if test="schDeptName != null" >
        SCH_DEPT_NAME,
      </if>
      <if test="teacherAgreeFlag != null" >
        TEACHER_AGREE_FLAG,
      </if>
      <if test="headAgreeFlag != null" >
        HEAD_AGREE_FLAG,
      </if>
      <if test="managerAgreeFlag != null" >
        MANAGER_AGREE_FLAG,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="teacherFlow != null" >
        TEACHER_FLOW,
      </if>
      <if test="teacherName != null" >
        TEACHER_NAME,
      </if>
      <if test="headFlow != null" >
        HEAD_FLOW,
      </if>
      <if test="headName != null" >
        HEAD_NAME,
      </if>
      <if test="managerFlow != null" >
        MANAGER_FLOW,
      </if>
      <if test="managerName != null" >
        MANAGER_NAME,
      </if>
      <if test="repealAbsence != null" >
        REPEAL_ABSENCE,
      </if>
      <if test="repealAbsenceDate != null" >
        REPEAL_ABSENCE_DATE,
      </if>
      <if test="absenceTypeId != null" >
        ABSENCE_TYPE_ID,
      </if>
      <if test="absenceTypeName != null" >
        ABSENCE_TYPE_NAME,
      </if>
      <if test="isRegister != null" >
        IS_REGISTER,
      </if>
      <if test="makingFile != null" >
        MAKING_FILE,
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="doctorTypeId != null" >
        DOCTOR_TYPE_ID,
      </if>
      <if test="doctorTypeName != null" >
        DOCTOR_TYPE_NAME,
      </if>
      <if test="repealAbsenceDay != null" >
        REPEAL_ABSENCE_DAY,
      </if>
      <if test="teachingFlow != null" >
        TEACHING_FLOW,
      </if>
      <if test="teachingName != null" >
        TEACHING_NAME,
      </if>
      <if test="teacherAuditInfo != null" >
        TEACHER_AUDIT_INFO,
      </if>
      <if test="headAuditInfo != null" >
        HEAD_AUDIT_INFO,
      </if>
      <if test="managerAuditInfo != null" >
        MANAGER_AUDIT_INFO,
      </if>
      <if test="repealAbsenceInfo != null" >
        REPEAL_ABSENCE_INFO,
      </if>
      <if test="teacherAuditTime != null" >
        TEACHER_AUDIT_TIME,
      </if>
      <if test="headAuditTime != null" >
        HEAD_AUDIT_TIME,
      </if>
      <if test="managerAuditTime != null" >
        MANAGER_AUDIT_TIME,
      </if>
      <if test="repealAbsenceAuditTime != null" >
        REPEAL_ABSENCE_AUDIT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="absenceFlow != null" >
        #{absenceFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorFlow != null" >
        #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="trainingSpeId != null" >
        #{trainingSpeId,jdbcType=VARCHAR},
      </if>
      <if test="trainingSpeName != null" >
        #{trainingSpeName,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="intervalDay != null" >
        #{intervalDay,jdbcType=VARCHAR},
      </if>
      <if test="absenceReson != null" >
        #{absenceReson,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorCategoryId != null" >
        #{doctorCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="doctorCategoryName != null" >
        #{doctorCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="schDeptFlow != null" >
        #{schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="schDeptName != null" >
        #{schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="teacherAgreeFlag != null" >
        #{teacherAgreeFlag,jdbcType=VARCHAR},
      </if>
      <if test="headAgreeFlag != null" >
        #{headAgreeFlag,jdbcType=VARCHAR},
      </if>
      <if test="managerAgreeFlag != null" >
        #{managerAgreeFlag,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="teacherFlow != null" >
        #{teacherFlow,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="headFlow != null" >
        #{headFlow,jdbcType=VARCHAR},
      </if>
      <if test="headName != null" >
        #{headName,jdbcType=VARCHAR},
      </if>
      <if test="managerFlow != null" >
        #{managerFlow,jdbcType=VARCHAR},
      </if>
      <if test="managerName != null" >
        #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="repealAbsence != null" >
        #{repealAbsence,jdbcType=VARCHAR},
      </if>
      <if test="repealAbsenceDate != null" >
        #{repealAbsenceDate,jdbcType=VARCHAR},
      </if>
      <if test="absenceTypeId != null" >
        #{absenceTypeId,jdbcType=VARCHAR},
      </if>
      <if test="absenceTypeName != null" >
        #{absenceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="isRegister != null" >
        #{isRegister,jdbcType=VARCHAR},
      </if>
      <if test="makingFile != null" >
        #{makingFile,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="doctorTypeId != null" >
        #{doctorTypeId,jdbcType=VARCHAR},
      </if>
      <if test="doctorTypeName != null" >
        #{doctorTypeName,jdbcType=VARCHAR},
      </if>
      <if test="repealAbsenceDay != null" >
        #{repealAbsenceDay,jdbcType=VARCHAR},
      </if>
      <if test="teachingFlow != null" >
        #{teachingFlow,jdbcType=VARCHAR},
      </if>
      <if test="teachingName != null" >
        #{teachingName,jdbcType=VARCHAR},
      </if>
      <if test="teacherAuditInfo != null" >
        #{teacherAuditInfo,jdbcType=VARCHAR},
      </if>
      <if test="headAuditInfo != null" >
        #{headAuditInfo,jdbcType=VARCHAR},
      </if>
      <if test="managerAuditInfo != null" >
        #{managerAuditInfo,jdbcType=VARCHAR},
      </if>
      <if test="repealAbsenceInfo != null" >
        #{repealAbsenceInfo,jdbcType=VARCHAR},
      </if>
      <if test="teacherAuditTime != null" >
        #{teacherAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="headAuditTime != null" >
        #{headAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="managerAuditTime != null" >
        #{managerAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="repealAbsenceAuditTime != null" >
        #{repealAbsenceAuditTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SchDoctorAbsenceExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.SCH_DOCTOR_ABSENCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.SCH_DOCTOR_ABSENCE
    <set >
      <if test="record.absenceFlow != null" >
        ABSENCE_FLOW = #{record.absenceFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorFlow != null" >
        DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorName != null" >
        DOCTOR_NAME = #{record.doctorName,jdbcType=VARCHAR},
      </if>
      <if test="record.sessionNumber != null" >
        SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingSpeId != null" >
        TRAINING_SPE_ID = #{record.trainingSpeId,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingSpeName != null" >
        TRAINING_SPE_NAME = #{record.trainingSpeName,jdbcType=VARCHAR},
      </if>
      <if test="record.startDate != null" >
        START_DATE = #{record.startDate,jdbcType=VARCHAR},
      </if>
      <if test="record.endDate != null" >
        END_DATE = #{record.endDate,jdbcType=VARCHAR},
      </if>
      <if test="record.intervalDay != null" >
        INTERVAL_DAY = #{record.intervalDay,jdbcType=VARCHAR},
      </if>
      <if test="record.absenceReson != null" >
        ABSENCE_RESON = #{record.absenceReson,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorCategoryId != null" >
        DOCTOR_CATEGORY_ID = #{record.doctorCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorCategoryName != null" >
        DOCTOR_CATEGORY_NAME = #{record.doctorCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.schDeptFlow != null" >
        SCH_DEPT_FLOW = #{record.schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.schDeptName != null" >
        SCH_DEPT_NAME = #{record.schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherAgreeFlag != null" >
        TEACHER_AGREE_FLAG = #{record.teacherAgreeFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.headAgreeFlag != null" >
        HEAD_AGREE_FLAG = #{record.headAgreeFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.managerAgreeFlag != null" >
        MANAGER_AGREE_FLAG = #{record.managerAgreeFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherFlow != null" >
        TEACHER_FLOW = #{record.teacherFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherName != null" >
        TEACHER_NAME = #{record.teacherName,jdbcType=VARCHAR},
      </if>
      <if test="record.headFlow != null" >
        HEAD_FLOW = #{record.headFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.headName != null" >
        HEAD_NAME = #{record.headName,jdbcType=VARCHAR},
      </if>
      <if test="record.managerFlow != null" >
        MANAGER_FLOW = #{record.managerFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.managerName != null" >
        MANAGER_NAME = #{record.managerName,jdbcType=VARCHAR},
      </if>
      <if test="record.repealAbsence != null" >
        REPEAL_ABSENCE = #{record.repealAbsence,jdbcType=VARCHAR},
      </if>
      <if test="record.repealAbsenceDate != null" >
        REPEAL_ABSENCE_DATE = #{record.repealAbsenceDate,jdbcType=VARCHAR},
      </if>
      <if test="record.absenceTypeId != null" >
        ABSENCE_TYPE_ID = #{record.absenceTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.absenceTypeName != null" >
        ABSENCE_TYPE_NAME = #{record.absenceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.isRegister != null" >
        IS_REGISTER = #{record.isRegister,jdbcType=VARCHAR},
      </if>
      <if test="record.makingFile != null" >
        MAKING_FILE = #{record.makingFile,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null" >
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorTypeId != null" >
        DOCTOR_TYPE_ID = #{record.doctorTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorTypeName != null" >
        DOCTOR_TYPE_NAME = #{record.doctorTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.repealAbsenceDay != null" >
        REPEAL_ABSENCE_DAY = #{record.repealAbsenceDay,jdbcType=VARCHAR},
      </if>
      <if test="record.teachingFlow != null" >
        TEACHING_FLOW = #{record.teachingFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.teachingName != null" >
        TEACHING_NAME = #{record.teachingName,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherAuditInfo != null" >
        TEACHER_AUDIT_INFO = #{record.teacherAuditInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.headAuditInfo != null" >
        HEAD_AUDIT_INFO = #{record.headAuditInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.managerAuditInfo != null" >
        MANAGER_AUDIT_INFO = #{record.managerAuditInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.repealAbsenceInfo != null" >
        REPEAL_ABSENCE_INFO = #{record.repealAbsenceInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherAuditTime != null" >
        TEACHER_AUDIT_TIME = #{record.teacherAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="record.headAuditTime != null" >
        HEAD_AUDIT_TIME = #{record.headAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="record.managerAuditTime != null" >
        MANAGER_AUDIT_TIME = #{record.managerAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="record.repealAbsenceAuditTime != null" >
        REPEAL_ABSENCE_AUDIT_TIME = #{record.repealAbsenceAuditTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.SCH_DOCTOR_ABSENCE
    set ABSENCE_FLOW = #{record.absenceFlow,jdbcType=VARCHAR},
      DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      DOCTOR_NAME = #{record.doctorName,jdbcType=VARCHAR},
      SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      TRAINING_SPE_ID = #{record.trainingSpeId,jdbcType=VARCHAR},
      TRAINING_SPE_NAME = #{record.trainingSpeName,jdbcType=VARCHAR},
      START_DATE = #{record.startDate,jdbcType=VARCHAR},
      END_DATE = #{record.endDate,jdbcType=VARCHAR},
      INTERVAL_DAY = #{record.intervalDay,jdbcType=VARCHAR},
      ABSENCE_RESON = #{record.absenceReson,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      DOCTOR_CATEGORY_ID = #{record.doctorCategoryId,jdbcType=VARCHAR},
      DOCTOR_CATEGORY_NAME = #{record.doctorCategoryName,jdbcType=VARCHAR},
      SCH_DEPT_FLOW = #{record.schDeptFlow,jdbcType=VARCHAR},
      SCH_DEPT_NAME = #{record.schDeptName,jdbcType=VARCHAR},
      TEACHER_AGREE_FLAG = #{record.teacherAgreeFlag,jdbcType=VARCHAR},
      HEAD_AGREE_FLAG = #{record.headAgreeFlag,jdbcType=VARCHAR},
      MANAGER_AGREE_FLAG = #{record.managerAgreeFlag,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      TEACHER_FLOW = #{record.teacherFlow,jdbcType=VARCHAR},
      TEACHER_NAME = #{record.teacherName,jdbcType=VARCHAR},
      HEAD_FLOW = #{record.headFlow,jdbcType=VARCHAR},
      HEAD_NAME = #{record.headName,jdbcType=VARCHAR},
      MANAGER_FLOW = #{record.managerFlow,jdbcType=VARCHAR},
      MANAGER_NAME = #{record.managerName,jdbcType=VARCHAR},
      REPEAL_ABSENCE = #{record.repealAbsence,jdbcType=VARCHAR},
      REPEAL_ABSENCE_DATE = #{record.repealAbsenceDate,jdbcType=VARCHAR},
      ABSENCE_TYPE_ID = #{record.absenceTypeId,jdbcType=VARCHAR},
      ABSENCE_TYPE_NAME = #{record.absenceTypeName,jdbcType=VARCHAR},
      IS_REGISTER = #{record.isRegister,jdbcType=VARCHAR},
      MAKING_FILE = #{record.makingFile,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      DOCTOR_TYPE_ID = #{record.doctorTypeId,jdbcType=VARCHAR},
      DOCTOR_TYPE_NAME = #{record.doctorTypeName,jdbcType=VARCHAR},
      REPEAL_ABSENCE_DAY = #{record.repealAbsenceDay,jdbcType=VARCHAR},
      TEACHING_FLOW = #{record.teachingFlow,jdbcType=VARCHAR},
      TEACHING_NAME = #{record.teachingName,jdbcType=VARCHAR},
      TEACHER_AUDIT_INFO = #{record.teacherAuditInfo,jdbcType=VARCHAR},
      HEAD_AUDIT_INFO = #{record.headAuditInfo,jdbcType=VARCHAR},
      MANAGER_AUDIT_INFO = #{record.managerAuditInfo,jdbcType=VARCHAR},
      REPEAL_ABSENCE_INFO = #{record.repealAbsenceInfo,jdbcType=VARCHAR},
      TEACHER_AUDIT_TIME = #{record.teacherAuditTime,jdbcType=VARCHAR},
      HEAD_AUDIT_TIME = #{record.headAuditTime,jdbcType=VARCHAR},
      MANAGER_AUDIT_TIME = #{record.managerAuditTime,jdbcType=VARCHAR},
      REPEAL_ABSENCE_AUDIT_TIME = #{record.repealAbsenceAuditTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SchDoctorAbsence" >
    update PDSCI.SCH_DOCTOR_ABSENCE
    <set >
      <if test="doctorFlow != null" >
        DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="trainingSpeId != null" >
        TRAINING_SPE_ID = #{trainingSpeId,jdbcType=VARCHAR},
      </if>
      <if test="trainingSpeName != null" >
        TRAINING_SPE_NAME = #{trainingSpeName,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        START_DATE = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="intervalDay != null" >
        INTERVAL_DAY = #{intervalDay,jdbcType=VARCHAR},
      </if>
      <if test="absenceReson != null" >
        ABSENCE_RESON = #{absenceReson,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorCategoryId != null" >
        DOCTOR_CATEGORY_ID = #{doctorCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="doctorCategoryName != null" >
        DOCTOR_CATEGORY_NAME = #{doctorCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="schDeptFlow != null" >
        SCH_DEPT_FLOW = #{schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="schDeptName != null" >
        SCH_DEPT_NAME = #{schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="teacherAgreeFlag != null" >
        TEACHER_AGREE_FLAG = #{teacherAgreeFlag,jdbcType=VARCHAR},
      </if>
      <if test="headAgreeFlag != null" >
        HEAD_AGREE_FLAG = #{headAgreeFlag,jdbcType=VARCHAR},
      </if>
      <if test="managerAgreeFlag != null" >
        MANAGER_AGREE_FLAG = #{managerAgreeFlag,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="teacherFlow != null" >
        TEACHER_FLOW = #{teacherFlow,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="headFlow != null" >
        HEAD_FLOW = #{headFlow,jdbcType=VARCHAR},
      </if>
      <if test="headName != null" >
        HEAD_NAME = #{headName,jdbcType=VARCHAR},
      </if>
      <if test="managerFlow != null" >
        MANAGER_FLOW = #{managerFlow,jdbcType=VARCHAR},
      </if>
      <if test="managerName != null" >
        MANAGER_NAME = #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="repealAbsence != null" >
        REPEAL_ABSENCE = #{repealAbsence,jdbcType=VARCHAR},
      </if>
      <if test="repealAbsenceDate != null" >
        REPEAL_ABSENCE_DATE = #{repealAbsenceDate,jdbcType=VARCHAR},
      </if>
      <if test="absenceTypeId != null" >
        ABSENCE_TYPE_ID = #{absenceTypeId,jdbcType=VARCHAR},
      </if>
      <if test="absenceTypeName != null" >
        ABSENCE_TYPE_NAME = #{absenceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="isRegister != null" >
        IS_REGISTER = #{isRegister,jdbcType=VARCHAR},
      </if>
      <if test="makingFile != null" >
        MAKING_FILE = #{makingFile,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="doctorTypeId != null" >
        DOCTOR_TYPE_ID = #{doctorTypeId,jdbcType=VARCHAR},
      </if>
      <if test="doctorTypeName != null" >
        DOCTOR_TYPE_NAME = #{doctorTypeName,jdbcType=VARCHAR},
      </if>
      <if test="repealAbsenceDay != null" >
        REPEAL_ABSENCE_DAY = #{repealAbsenceDay,jdbcType=VARCHAR},
      </if>
      <if test="teachingFlow != null" >
        TEACHING_FLOW = #{teachingFlow,jdbcType=VARCHAR},
      </if>
      <if test="teachingName != null" >
        TEACHING_NAME = #{teachingName,jdbcType=VARCHAR},
      </if>
      <if test="teacherAuditInfo != null" >
        TEACHER_AUDIT_INFO = #{teacherAuditInfo,jdbcType=VARCHAR},
      </if>
      <if test="headAuditInfo != null" >
        HEAD_AUDIT_INFO = #{headAuditInfo,jdbcType=VARCHAR},
      </if>
      <if test="managerAuditInfo != null" >
        MANAGER_AUDIT_INFO = #{managerAuditInfo,jdbcType=VARCHAR},
      </if>
      <if test="repealAbsenceInfo != null" >
        REPEAL_ABSENCE_INFO = #{repealAbsenceInfo,jdbcType=VARCHAR},
      </if>
      <if test="teacherAuditTime != null" >
        TEACHER_AUDIT_TIME = #{teacherAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="headAuditTime != null" >
        HEAD_AUDIT_TIME = #{headAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="managerAuditTime != null" >
        MANAGER_AUDIT_TIME = #{managerAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="repealAbsenceAuditTime != null" >
        REPEAL_ABSENCE_AUDIT_TIME = #{repealAbsenceAuditTime,jdbcType=VARCHAR},
      </if>
    </set>
    where ABSENCE_FLOW = #{absenceFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SchDoctorAbsence" >
    update PDSCI.SCH_DOCTOR_ABSENCE
    set DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      TRAINING_SPE_ID = #{trainingSpeId,jdbcType=VARCHAR},
      TRAINING_SPE_NAME = #{trainingSpeName,jdbcType=VARCHAR},
      START_DATE = #{startDate,jdbcType=VARCHAR},
      END_DATE = #{endDate,jdbcType=VARCHAR},
      INTERVAL_DAY = #{intervalDay,jdbcType=VARCHAR},
      ABSENCE_RESON = #{absenceReson,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      DOCTOR_CATEGORY_ID = #{doctorCategoryId,jdbcType=VARCHAR},
      DOCTOR_CATEGORY_NAME = #{doctorCategoryName,jdbcType=VARCHAR},
      SCH_DEPT_FLOW = #{schDeptFlow,jdbcType=VARCHAR},
      SCH_DEPT_NAME = #{schDeptName,jdbcType=VARCHAR},
      TEACHER_AGREE_FLAG = #{teacherAgreeFlag,jdbcType=VARCHAR},
      HEAD_AGREE_FLAG = #{headAgreeFlag,jdbcType=VARCHAR},
      MANAGER_AGREE_FLAG = #{managerAgreeFlag,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      TEACHER_FLOW = #{teacherFlow,jdbcType=VARCHAR},
      TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
      HEAD_FLOW = #{headFlow,jdbcType=VARCHAR},
      HEAD_NAME = #{headName,jdbcType=VARCHAR},
      MANAGER_FLOW = #{managerFlow,jdbcType=VARCHAR},
      MANAGER_NAME = #{managerName,jdbcType=VARCHAR},
      REPEAL_ABSENCE = #{repealAbsence,jdbcType=VARCHAR},
      REPEAL_ABSENCE_DATE = #{repealAbsenceDate,jdbcType=VARCHAR},
      ABSENCE_TYPE_ID = #{absenceTypeId,jdbcType=VARCHAR},
      ABSENCE_TYPE_NAME = #{absenceTypeName,jdbcType=VARCHAR},
      IS_REGISTER = #{isRegister,jdbcType=VARCHAR},
      MAKING_FILE = #{makingFile,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      DOCTOR_TYPE_ID = #{doctorTypeId,jdbcType=VARCHAR},
      DOCTOR_TYPE_NAME = #{doctorTypeName,jdbcType=VARCHAR},
      REPEAL_ABSENCE_DAY = #{repealAbsenceDay,jdbcType=VARCHAR},
      TEACHING_FLOW = #{teachingFlow,jdbcType=VARCHAR},
      TEACHING_NAME = #{teachingName,jdbcType=VARCHAR},
      TEACHER_AUDIT_INFO = #{teacherAuditInfo,jdbcType=VARCHAR},
      HEAD_AUDIT_INFO = #{headAuditInfo,jdbcType=VARCHAR},
      MANAGER_AUDIT_INFO = #{managerAuditInfo,jdbcType=VARCHAR},
      REPEAL_ABSENCE_INFO = #{repealAbsenceInfo,jdbcType=VARCHAR},
      TEACHER_AUDIT_TIME = #{teacherAuditTime,jdbcType=VARCHAR},
      HEAD_AUDIT_TIME = #{headAuditTime,jdbcType=VARCHAR},
      MANAGER_AUDIT_TIME = #{managerAuditTime,jdbcType=VARCHAR},
      REPEAL_ABSENCE_AUDIT_TIME = #{repealAbsenceAuditTime,jdbcType=VARCHAR}
    where ABSENCE_FLOW = #{absenceFlow,jdbcType=VARCHAR}
  </update>
</mapper>