<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.SchDeptMapper">
  <resultMap id="BaseResultMap" type="com.pinde.core.model.SchDept">
    <id column="SCH_DEPT_FLOW" jdbcType="VARCHAR" property="schDeptFlow" />
    <result column="SCH_DEPT_NAME" jdbcType="VARCHAR" property="schDeptName" />
    <result column="DEPT_FLOW" jdbcType="VARCHAR" property="deptFlow" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="ORG_FLOW" jdbcType="VARCHAR" property="orgFlow" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="DEPT_NUM" jdbcType="DECIMAL" property="deptNum" />
    <result column="EXTERNAL" jdbcType="VARCHAR" property="external" />
    <result column="ORDINAL" jdbcType="DECIMAL" property="ordinal" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="EXTERNAL_ORG_FLOW" jdbcType="VARCHAR" property="externalOrgFlow" />
    <result column="EXTERNAL_ORG_NAME" jdbcType="VARCHAR" property="externalOrgName" />
    <result column="IS_EXTERNAL" jdbcType="VARCHAR" property="isExternal" />
    <result column="DEPT_ID" jdbcType="VARCHAR" property="deptId" />
    <result column="DEPT_PID" jdbcType="VARCHAR" property="deptPid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SCH_DEPT_FLOW, SCH_DEPT_NAME, DEPT_FLOW, DEPT_NAME, ORG_FLOW, ORG_NAME, DEPT_NUM, 
    EXTERNAL, ORDINAL, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
    EXTERNAL_ORG_FLOW, EXTERNAL_ORG_NAME, IS_EXTERNAL, DEPT_ID, DEPT_PID
  </sql>
  <select id="selectByExample" parameterType="com.pinde.core.model.SchDeptExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
      from SCH_DEPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
      from SCH_DEPT
    where SCH_DEPT_FLOW = #{schDeptFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
      delete from SCH_DEPT
    where SCH_DEPT_FLOW = #{schDeptFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.SchDeptExample">
      delete from SCH_DEPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.SchDept">
      insert into SCH_DEPT (SCH_DEPT_FLOW, SCH_DEPT_NAME, DEPT_FLOW,
      DEPT_NAME, ORG_FLOW, ORG_NAME, 
      DEPT_NUM, EXTERNAL, ORDINAL, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, EXTERNAL_ORG_FLOW, 
      EXTERNAL_ORG_NAME, IS_EXTERNAL, DEPT_ID, 
      DEPT_PID)
    values (#{schDeptFlow,jdbcType=VARCHAR}, #{schDeptName,jdbcType=VARCHAR}, #{deptFlow,jdbcType=VARCHAR}, 
      #{deptName,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{deptNum,jdbcType=DECIMAL}, #{external,jdbcType=VARCHAR}, #{ordinal,jdbcType=DECIMAL}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{externalOrgFlow,jdbcType=VARCHAR}, 
      #{externalOrgName,jdbcType=VARCHAR}, #{isExternal,jdbcType=VARCHAR}, #{deptId,jdbcType=VARCHAR}, 
      #{deptPid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.SchDept">
      insert into SCH_DEPT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schDeptFlow != null">
        SCH_DEPT_FLOW,
      </if>
      <if test="schDeptName != null">
        SCH_DEPT_NAME,
      </if>
      <if test="deptFlow != null">
        DEPT_FLOW,
      </if>
      <if test="deptName != null">
        DEPT_NAME,
      </if>
      <if test="orgFlow != null">
        ORG_FLOW,
      </if>
      <if test="orgName != null">
        ORG_NAME,
      </if>
      <if test="deptNum != null">
        DEPT_NUM,
      </if>
      <if test="external != null">
        EXTERNAL,
      </if>
      <if test="ordinal != null">
        ORDINAL,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="externalOrgFlow != null">
        EXTERNAL_ORG_FLOW,
      </if>
      <if test="externalOrgName != null">
        EXTERNAL_ORG_NAME,
      </if>
      <if test="isExternal != null">
        IS_EXTERNAL,
      </if>
      <if test="deptId != null">
        DEPT_ID,
      </if>
      <if test="deptPid != null">
        DEPT_PID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schDeptFlow != null">
        #{schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="schDeptName != null">
        #{schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null">
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null">
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="deptNum != null">
        #{deptNum,jdbcType=DECIMAL},
      </if>
      <if test="external != null">
        #{external,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null">
        #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="externalOrgFlow != null">
        #{externalOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="externalOrgName != null">
        #{externalOrgName,jdbcType=VARCHAR},
      </if>
      <if test="isExternal != null">
        #{isExternal,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptPid != null">
        #{deptPid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.SchDeptExample" resultType="java.lang.Integer">
      select count(*) from SCH_DEPT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
      update SCH_DEPT
    <set>
      <if test="record.schDeptFlow != null">
        SCH_DEPT_FLOW = #{record.schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.schDeptName != null">
        SCH_DEPT_NAME = #{record.schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null">
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null">
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null">
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null">
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptNum != null">
        DEPT_NUM = #{record.deptNum,jdbcType=DECIMAL},
      </if>
      <if test="record.external != null">
        EXTERNAL = #{record.external,jdbcType=VARCHAR},
      </if>
      <if test="record.ordinal != null">
        ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.externalOrgFlow != null">
        EXTERNAL_ORG_FLOW = #{record.externalOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.externalOrgName != null">
        EXTERNAL_ORG_NAME = #{record.externalOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.isExternal != null">
        IS_EXTERNAL = #{record.isExternal,jdbcType=VARCHAR},
      </if>
      <if test="record.deptId != null">
        DEPT_ID = #{record.deptId,jdbcType=VARCHAR},
      </if>
      <if test="record.deptPid != null">
        DEPT_PID = #{record.deptPid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
      update SCH_DEPT
    set SCH_DEPT_FLOW = #{record.schDeptFlow,jdbcType=VARCHAR},
      SCH_DEPT_NAME = #{record.schDeptName,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      DEPT_NUM = #{record.deptNum,jdbcType=DECIMAL},
      EXTERNAL = #{record.external,jdbcType=VARCHAR},
      ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      EXTERNAL_ORG_FLOW = #{record.externalOrgFlow,jdbcType=VARCHAR},
      EXTERNAL_ORG_NAME = #{record.externalOrgName,jdbcType=VARCHAR},
      IS_EXTERNAL = #{record.isExternal,jdbcType=VARCHAR},
      DEPT_ID = #{record.deptId,jdbcType=VARCHAR},
      DEPT_PID = #{record.deptPid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.SchDept">
      update SCH_DEPT
    <set>
      <if test="schDeptName != null">
        SCH_DEPT_NAME = #{schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null">
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null">
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="deptNum != null">
        DEPT_NUM = #{deptNum,jdbcType=DECIMAL},
      </if>
      <if test="external != null">
        EXTERNAL = #{external,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null">
        ORDINAL = #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="externalOrgFlow != null">
        EXTERNAL_ORG_FLOW = #{externalOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="externalOrgName != null">
        EXTERNAL_ORG_NAME = #{externalOrgName,jdbcType=VARCHAR},
      </if>
      <if test="isExternal != null">
        IS_EXTERNAL = #{isExternal,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        DEPT_ID = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptPid != null">
        DEPT_PID = #{deptPid,jdbcType=VARCHAR},
      </if>
    </set>
    where SCH_DEPT_FLOW = #{schDeptFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.SchDept">
      update SCH_DEPT
    set SCH_DEPT_NAME = #{schDeptName,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      DEPT_NUM = #{deptNum,jdbcType=DECIMAL},
      EXTERNAL = #{external,jdbcType=VARCHAR},
      ORDINAL = #{ordinal,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      EXTERNAL_ORG_FLOW = #{externalOrgFlow,jdbcType=VARCHAR},
      EXTERNAL_ORG_NAME = #{externalOrgName,jdbcType=VARCHAR},
      IS_EXTERNAL = #{isExternal,jdbcType=VARCHAR},
      DEPT_ID = #{deptId,jdbcType=VARCHAR},
      DEPT_PID = #{deptPid,jdbcType=VARCHAR}
    where SCH_DEPT_FLOW = #{schDeptFlow,jdbcType=VARCHAR}
  </update>
</mapper>