<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.SchDeptExternalRelMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SchDeptExternalRel" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="SCH_DEPT_FLOW" property="schDeptFlow" jdbcType="VARCHAR" />
    <result column="SCH_DEPT_NAME" property="schDeptName" jdbcType="VARCHAR" />
    <result column="DEPT_FLOW" property="deptFlow" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="REL_SCH_DEPT_FLOW" property="relSchDeptFlow" jdbcType="VARCHAR" />
    <result column="REL_SCH_DEPT_NAME" property="relSchDeptName" jdbcType="VARCHAR" />
    <result column="REL_DEPT_FLOW" property="relDeptFlow" jdbcType="VARCHAR" />
    <result column="REL_DEPT_NAME" property="relDeptName" jdbcType="VARCHAR" />
    <result column="REL_ORG_FLOW" property="relOrgFlow" jdbcType="VARCHAR" />
    <result column="REL_ORG_NAME" property="relOrgName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, SCH_DEPT_FLOW, SCH_DEPT_NAME, DEPT_FLOW, DEPT_NAME, ORG_FLOW, ORG_NAME, 
    REL_SCH_DEPT_FLOW, REL_SCH_DEPT_NAME, REL_DEPT_FLOW, REL_DEPT_NAME, REL_ORG_FLOW, 
    REL_ORG_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.SchDeptExternalRelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.SCH_DEPT_EXTERNAL_REL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.SCH_DEPT_EXTERNAL_REL
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.SCH_DEPT_EXTERNAL_REL
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SchDeptExternalRelExample" >
    delete from PDSCI.SCH_DEPT_EXTERNAL_REL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SchDeptExternalRel" >
    insert into PDSCI.SCH_DEPT_EXTERNAL_REL (RECORD_FLOW, SCH_DEPT_FLOW, SCH_DEPT_NAME, 
      DEPT_FLOW, DEPT_NAME, ORG_FLOW, 
      ORG_NAME, REL_SCH_DEPT_FLOW, REL_SCH_DEPT_NAME, 
      REL_DEPT_FLOW, REL_DEPT_NAME, REL_ORG_FLOW, 
      REL_ORG_NAME, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
      )
    values (#{recordFlow,jdbcType=VARCHAR}, #{schDeptFlow,jdbcType=VARCHAR}, #{schDeptName,jdbcType=VARCHAR}, 
      #{deptFlow,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, 
      #{orgName,jdbcType=VARCHAR}, #{relSchDeptFlow,jdbcType=VARCHAR}, #{relSchDeptName,jdbcType=VARCHAR}, 
      #{relDeptFlow,jdbcType=VARCHAR}, #{relDeptName,jdbcType=VARCHAR}, #{relOrgFlow,jdbcType=VARCHAR}, 
      #{relOrgName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SchDeptExternalRel" >
    insert into PDSCI.SCH_DEPT_EXTERNAL_REL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="schDeptFlow != null" >
        SCH_DEPT_FLOW,
      </if>
      <if test="schDeptName != null" >
        SCH_DEPT_NAME,
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="relSchDeptFlow != null" >
        REL_SCH_DEPT_FLOW,
      </if>
      <if test="relSchDeptName != null" >
        REL_SCH_DEPT_NAME,
      </if>
      <if test="relDeptFlow != null" >
        REL_DEPT_FLOW,
      </if>
      <if test="relDeptName != null" >
        REL_DEPT_NAME,
      </if>
      <if test="relOrgFlow != null" >
        REL_ORG_FLOW,
      </if>
      <if test="relOrgName != null" >
        REL_ORG_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="schDeptFlow != null" >
        #{schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="schDeptName != null" >
        #{schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="relSchDeptFlow != null" >
        #{relSchDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="relSchDeptName != null" >
        #{relSchDeptName,jdbcType=VARCHAR},
      </if>
      <if test="relDeptFlow != null" >
        #{relDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="relDeptName != null" >
        #{relDeptName,jdbcType=VARCHAR},
      </if>
      <if test="relOrgFlow != null" >
        #{relOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="relOrgName != null" >
        #{relOrgName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SchDeptExternalRelExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.SCH_DEPT_EXTERNAL_REL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.SCH_DEPT_EXTERNAL_REL
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.schDeptFlow != null" >
        SCH_DEPT_FLOW = #{record.schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.schDeptName != null" >
        SCH_DEPT_NAME = #{record.schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null" >
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.relSchDeptFlow != null" >
        REL_SCH_DEPT_FLOW = #{record.relSchDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.relSchDeptName != null" >
        REL_SCH_DEPT_NAME = #{record.relSchDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.relDeptFlow != null" >
        REL_DEPT_FLOW = #{record.relDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.relDeptName != null" >
        REL_DEPT_NAME = #{record.relDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.relOrgFlow != null" >
        REL_ORG_FLOW = #{record.relOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.relOrgName != null" >
        REL_ORG_NAME = #{record.relOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.SCH_DEPT_EXTERNAL_REL
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      SCH_DEPT_FLOW = #{record.schDeptFlow,jdbcType=VARCHAR},
      SCH_DEPT_NAME = #{record.schDeptName,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      REL_SCH_DEPT_FLOW = #{record.relSchDeptFlow,jdbcType=VARCHAR},
      REL_SCH_DEPT_NAME = #{record.relSchDeptName,jdbcType=VARCHAR},
      REL_DEPT_FLOW = #{record.relDeptFlow,jdbcType=VARCHAR},
      REL_DEPT_NAME = #{record.relDeptName,jdbcType=VARCHAR},
      REL_ORG_FLOW = #{record.relOrgFlow,jdbcType=VARCHAR},
      REL_ORG_NAME = #{record.relOrgName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SchDeptExternalRel" >
    update PDSCI.SCH_DEPT_EXTERNAL_REL
    <set >
      <if test="schDeptFlow != null" >
        SCH_DEPT_FLOW = #{schDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="schDeptName != null" >
        SCH_DEPT_NAME = #{schDeptName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="relSchDeptFlow != null" >
        REL_SCH_DEPT_FLOW = #{relSchDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="relSchDeptName != null" >
        REL_SCH_DEPT_NAME = #{relSchDeptName,jdbcType=VARCHAR},
      </if>
      <if test="relDeptFlow != null" >
        REL_DEPT_FLOW = #{relDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="relDeptName != null" >
        REL_DEPT_NAME = #{relDeptName,jdbcType=VARCHAR},
      </if>
      <if test="relOrgFlow != null" >
        REL_ORG_FLOW = #{relOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="relOrgName != null" >
        REL_ORG_NAME = #{relOrgName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SchDeptExternalRel" >
    update PDSCI.SCH_DEPT_EXTERNAL_REL
    set SCH_DEPT_FLOW = #{schDeptFlow,jdbcType=VARCHAR},
      SCH_DEPT_NAME = #{schDeptName,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      REL_SCH_DEPT_FLOW = #{relSchDeptFlow,jdbcType=VARCHAR},
      REL_SCH_DEPT_NAME = #{relSchDeptName,jdbcType=VARCHAR},
      REL_DEPT_FLOW = #{relDeptFlow,jdbcType=VARCHAR},
      REL_DEPT_NAME = #{relDeptName,jdbcType=VARCHAR},
      REL_ORG_FLOW = #{relOrgFlow,jdbcType=VARCHAR},
      REL_ORG_NAME = #{relOrgName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>