<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ScresGraduationApplyMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ScresGraduationApply" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="DOCTOR_FLOW" property="doctorFlow" jdbcType="VARCHAR" />
    <result column="DOCTOR_NAME" property="doctorName" jdbcType="VARCHAR" />
    <result column="ID_NO" property="idNo" jdbcType="VARCHAR" />
    <result column="EDUCATION_ID" property="educationId" jdbcType="VARCHAR" />
    <result column="EDUCATION_NAME" property="educationName" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="TRAINING_SPE_ID" property="trainingSpeId" jdbcType="VARCHAR" />
    <result column="TRAINING_SPE_NAME" property="trainingSpeName" jdbcType="VARCHAR" />
    <result column="TRAINING_START_DATE" property="trainingStartDate" jdbcType="VARCHAR" />
    <result column="TRAINING_END_DATE" property="trainingEndDate" jdbcType="VARCHAR" />
    <result column="DOCTOR_LICENSE_NO" property="doctorLicenseNo" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="GRADUATION_YEAR" property="graduationYear" jdbcType="VARCHAR" />
    <result column="XT_ORG_STATUS_ID" property="xtOrgStatusId" jdbcType="VARCHAR" />
    <result column="XT_ORG_STATUS_NAME" property="xtOrgStatusName" jdbcType="VARCHAR" />
    <result column="ORG_STATUS_ID" property="orgStatusId" jdbcType="VARCHAR" />
    <result column="ORG_STATUS_NAME" property="orgStatusName" jdbcType="VARCHAR" />
    <result column="CHARGE_STATUS_ID" property="chargeStatusId" jdbcType="VARCHAR" />
    <result column="CHARGE_STATUS_NAME" property="chargeStatusName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="DOCTOR_STATUS_ID" property="doctorStatusId" jdbcType="VARCHAR" />
    <result column="DOCTOR_STATUS_NAME" property="doctorStatusName" jdbcType="VARCHAR" />
    <result column="XT_ORG_REMARK" property="xtOrgRemark" jdbcType="VARCHAR" />
    <result column="ORG_REMARK" property="orgRemark" jdbcType="VARCHAR" />
    <result column="CHARGE_REMARK" property="chargeRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, DOCTOR_FLOW, DOCTOR_NAME, ID_NO, EDUCATION_ID, EDUCATION_NAME, ORG_FLOW, 
    ORG_NAME, TRAINING_SPE_ID, TRAINING_SPE_NAME, TRAINING_START_DATE, TRAINING_END_DATE, 
    DOCTOR_LICENSE_NO, REMARK, GRADUATION_YEAR, XT_ORG_STATUS_ID, XT_ORG_STATUS_NAME, 
    ORG_STATUS_ID, ORG_STATUS_NAME, CHARGE_STATUS_ID, CHARGE_STATUS_NAME, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, DOCTOR_STATUS_ID, DOCTOR_STATUS_NAME, 
    XT_ORG_REMARK, ORG_REMARK, CHARGE_REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ScresGraduationApplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.SCRES_GRADUATION_APPLY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.SCRES_GRADUATION_APPLY
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.SCRES_GRADUATION_APPLY
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ScresGraduationApplyExample" >
    delete from PDSCI.SCRES_GRADUATION_APPLY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ScresGraduationApply" >
    insert into PDSCI.SCRES_GRADUATION_APPLY (RECORD_FLOW, DOCTOR_FLOW, DOCTOR_NAME, 
      ID_NO, EDUCATION_ID, EDUCATION_NAME, 
      ORG_FLOW, ORG_NAME, TRAINING_SPE_ID, 
      TRAINING_SPE_NAME, TRAINING_START_DATE, TRAINING_END_DATE, 
      DOCTOR_LICENSE_NO, REMARK, GRADUATION_YEAR, 
      XT_ORG_STATUS_ID, XT_ORG_STATUS_NAME, ORG_STATUS_ID, 
      ORG_STATUS_NAME, CHARGE_STATUS_ID, CHARGE_STATUS_NAME, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, DOCTOR_STATUS_ID, 
      DOCTOR_STATUS_NAME, XT_ORG_REMARK, ORG_REMARK, 
      CHARGE_REMARK)
    values (#{recordFlow,jdbcType=VARCHAR}, #{doctorFlow,jdbcType=VARCHAR}, #{doctorName,jdbcType=VARCHAR}, 
      #{idNo,jdbcType=VARCHAR}, #{educationId,jdbcType=VARCHAR}, #{educationName,jdbcType=VARCHAR}, 
      #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{trainingSpeId,jdbcType=VARCHAR}, 
      #{trainingSpeName,jdbcType=VARCHAR}, #{trainingStartDate,jdbcType=VARCHAR}, #{trainingEndDate,jdbcType=VARCHAR}, 
      #{doctorLicenseNo,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{graduationYear,jdbcType=VARCHAR}, 
      #{xtOrgStatusId,jdbcType=VARCHAR}, #{xtOrgStatusName,jdbcType=VARCHAR}, #{orgStatusId,jdbcType=VARCHAR}, 
      #{orgStatusName,jdbcType=VARCHAR}, #{chargeStatusId,jdbcType=VARCHAR}, #{chargeStatusName,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{doctorStatusId,jdbcType=VARCHAR}, 
      #{doctorStatusName,jdbcType=VARCHAR}, #{xtOrgRemark,jdbcType=VARCHAR}, #{orgRemark,jdbcType=VARCHAR}, 
      #{chargeRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ScresGraduationApply" >
    insert into PDSCI.SCRES_GRADUATION_APPLY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="doctorFlow != null" >
        DOCTOR_FLOW,
      </if>
      <if test="doctorName != null" >
        DOCTOR_NAME,
      </if>
      <if test="idNo != null" >
        ID_NO,
      </if>
      <if test="educationId != null" >
        EDUCATION_ID,
      </if>
      <if test="educationName != null" >
        EDUCATION_NAME,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="trainingSpeId != null" >
        TRAINING_SPE_ID,
      </if>
      <if test="trainingSpeName != null" >
        TRAINING_SPE_NAME,
      </if>
      <if test="trainingStartDate != null" >
        TRAINING_START_DATE,
      </if>
      <if test="trainingEndDate != null" >
        TRAINING_END_DATE,
      </if>
      <if test="doctorLicenseNo != null" >
        DOCTOR_LICENSE_NO,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="graduationYear != null" >
        GRADUATION_YEAR,
      </if>
      <if test="xtOrgStatusId != null" >
        XT_ORG_STATUS_ID,
      </if>
      <if test="xtOrgStatusName != null" >
        XT_ORG_STATUS_NAME,
      </if>
      <if test="orgStatusId != null" >
        ORG_STATUS_ID,
      </if>
      <if test="orgStatusName != null" >
        ORG_STATUS_NAME,
      </if>
      <if test="chargeStatusId != null" >
        CHARGE_STATUS_ID,
      </if>
      <if test="chargeStatusName != null" >
        CHARGE_STATUS_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="doctorStatusId != null" >
        DOCTOR_STATUS_ID,
      </if>
      <if test="doctorStatusName != null" >
        DOCTOR_STATUS_NAME,
      </if>
      <if test="xtOrgRemark != null" >
        XT_ORG_REMARK,
      </if>
      <if test="orgRemark != null" >
        ORG_REMARK,
      </if>
      <if test="chargeRemark != null" >
        CHARGE_REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorFlow != null" >
        #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null" >
        #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="educationId != null" >
        #{educationId,jdbcType=VARCHAR},
      </if>
      <if test="educationName != null" >
        #{educationName,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="trainingSpeId != null" >
        #{trainingSpeId,jdbcType=VARCHAR},
      </if>
      <if test="trainingSpeName != null" >
        #{trainingSpeName,jdbcType=VARCHAR},
      </if>
      <if test="trainingStartDate != null" >
        #{trainingStartDate,jdbcType=VARCHAR},
      </if>
      <if test="trainingEndDate != null" >
        #{trainingEndDate,jdbcType=VARCHAR},
      </if>
      <if test="doctorLicenseNo != null" >
        #{doctorLicenseNo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="graduationYear != null" >
        #{graduationYear,jdbcType=VARCHAR},
      </if>
      <if test="xtOrgStatusId != null" >
        #{xtOrgStatusId,jdbcType=VARCHAR},
      </if>
      <if test="xtOrgStatusName != null" >
        #{xtOrgStatusName,jdbcType=VARCHAR},
      </if>
      <if test="orgStatusId != null" >
        #{orgStatusId,jdbcType=VARCHAR},
      </if>
      <if test="orgStatusName != null" >
        #{orgStatusName,jdbcType=VARCHAR},
      </if>
      <if test="chargeStatusId != null" >
        #{chargeStatusId,jdbcType=VARCHAR},
      </if>
      <if test="chargeStatusName != null" >
        #{chargeStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorStatusId != null" >
        #{doctorStatusId,jdbcType=VARCHAR},
      </if>
      <if test="doctorStatusName != null" >
        #{doctorStatusName,jdbcType=VARCHAR},
      </if>
      <if test="xtOrgRemark != null" >
        #{xtOrgRemark,jdbcType=VARCHAR},
      </if>
      <if test="orgRemark != null" >
        #{orgRemark,jdbcType=VARCHAR},
      </if>
      <if test="chargeRemark != null" >
        #{chargeRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ScresGraduationApplyExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.SCRES_GRADUATION_APPLY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.SCRES_GRADUATION_APPLY
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorFlow != null" >
        DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorName != null" >
        DOCTOR_NAME = #{record.doctorName,jdbcType=VARCHAR},
      </if>
      <if test="record.idNo != null" >
        ID_NO = #{record.idNo,jdbcType=VARCHAR},
      </if>
      <if test="record.educationId != null" >
        EDUCATION_ID = #{record.educationId,jdbcType=VARCHAR},
      </if>
      <if test="record.educationName != null" >
        EDUCATION_NAME = #{record.educationName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingSpeId != null" >
        TRAINING_SPE_ID = #{record.trainingSpeId,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingSpeName != null" >
        TRAINING_SPE_NAME = #{record.trainingSpeName,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingStartDate != null" >
        TRAINING_START_DATE = #{record.trainingStartDate,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingEndDate != null" >
        TRAINING_END_DATE = #{record.trainingEndDate,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorLicenseNo != null" >
        DOCTOR_LICENSE_NO = #{record.doctorLicenseNo,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.graduationYear != null" >
        GRADUATION_YEAR = #{record.graduationYear,jdbcType=VARCHAR},
      </if>
      <if test="record.xtOrgStatusId != null" >
        XT_ORG_STATUS_ID = #{record.xtOrgStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.xtOrgStatusName != null" >
        XT_ORG_STATUS_NAME = #{record.xtOrgStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgStatusId != null" >
        ORG_STATUS_ID = #{record.orgStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgStatusName != null" >
        ORG_STATUS_NAME = #{record.orgStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeStatusId != null" >
        CHARGE_STATUS_ID = #{record.chargeStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeStatusName != null" >
        CHARGE_STATUS_NAME = #{record.chargeStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorStatusId != null" >
        DOCTOR_STATUS_ID = #{record.doctorStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorStatusName != null" >
        DOCTOR_STATUS_NAME = #{record.doctorStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.xtOrgRemark != null" >
        XT_ORG_REMARK = #{record.xtOrgRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.orgRemark != null" >
        ORG_REMARK = #{record.orgRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeRemark != null" >
        CHARGE_REMARK = #{record.chargeRemark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.SCRES_GRADUATION_APPLY
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      DOCTOR_NAME = #{record.doctorName,jdbcType=VARCHAR},
      ID_NO = #{record.idNo,jdbcType=VARCHAR},
      EDUCATION_ID = #{record.educationId,jdbcType=VARCHAR},
      EDUCATION_NAME = #{record.educationName,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      TRAINING_SPE_ID = #{record.trainingSpeId,jdbcType=VARCHAR},
      TRAINING_SPE_NAME = #{record.trainingSpeName,jdbcType=VARCHAR},
      TRAINING_START_DATE = #{record.trainingStartDate,jdbcType=VARCHAR},
      TRAINING_END_DATE = #{record.trainingEndDate,jdbcType=VARCHAR},
      DOCTOR_LICENSE_NO = #{record.doctorLicenseNo,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      GRADUATION_YEAR = #{record.graduationYear,jdbcType=VARCHAR},
      XT_ORG_STATUS_ID = #{record.xtOrgStatusId,jdbcType=VARCHAR},
      XT_ORG_STATUS_NAME = #{record.xtOrgStatusName,jdbcType=VARCHAR},
      ORG_STATUS_ID = #{record.orgStatusId,jdbcType=VARCHAR},
      ORG_STATUS_NAME = #{record.orgStatusName,jdbcType=VARCHAR},
      CHARGE_STATUS_ID = #{record.chargeStatusId,jdbcType=VARCHAR},
      CHARGE_STATUS_NAME = #{record.chargeStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      DOCTOR_STATUS_ID = #{record.doctorStatusId,jdbcType=VARCHAR},
      DOCTOR_STATUS_NAME = #{record.doctorStatusName,jdbcType=VARCHAR},
      XT_ORG_REMARK = #{record.xtOrgRemark,jdbcType=VARCHAR},
      ORG_REMARK = #{record.orgRemark,jdbcType=VARCHAR},
      CHARGE_REMARK = #{record.chargeRemark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ScresGraduationApply" >
    update PDSCI.SCRES_GRADUATION_APPLY
    <set >
      <if test="doctorFlow != null" >
        DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null" >
        ID_NO = #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="educationId != null" >
        EDUCATION_ID = #{educationId,jdbcType=VARCHAR},
      </if>
      <if test="educationName != null" >
        EDUCATION_NAME = #{educationName,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="trainingSpeId != null" >
        TRAINING_SPE_ID = #{trainingSpeId,jdbcType=VARCHAR},
      </if>
      <if test="trainingSpeName != null" >
        TRAINING_SPE_NAME = #{trainingSpeName,jdbcType=VARCHAR},
      </if>
      <if test="trainingStartDate != null" >
        TRAINING_START_DATE = #{trainingStartDate,jdbcType=VARCHAR},
      </if>
      <if test="trainingEndDate != null" >
        TRAINING_END_DATE = #{trainingEndDate,jdbcType=VARCHAR},
      </if>
      <if test="doctorLicenseNo != null" >
        DOCTOR_LICENSE_NO = #{doctorLicenseNo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="graduationYear != null" >
        GRADUATION_YEAR = #{graduationYear,jdbcType=VARCHAR},
      </if>
      <if test="xtOrgStatusId != null" >
        XT_ORG_STATUS_ID = #{xtOrgStatusId,jdbcType=VARCHAR},
      </if>
      <if test="xtOrgStatusName != null" >
        XT_ORG_STATUS_NAME = #{xtOrgStatusName,jdbcType=VARCHAR},
      </if>
      <if test="orgStatusId != null" >
        ORG_STATUS_ID = #{orgStatusId,jdbcType=VARCHAR},
      </if>
      <if test="orgStatusName != null" >
        ORG_STATUS_NAME = #{orgStatusName,jdbcType=VARCHAR},
      </if>
      <if test="chargeStatusId != null" >
        CHARGE_STATUS_ID = #{chargeStatusId,jdbcType=VARCHAR},
      </if>
      <if test="chargeStatusName != null" >
        CHARGE_STATUS_NAME = #{chargeStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorStatusId != null" >
        DOCTOR_STATUS_ID = #{doctorStatusId,jdbcType=VARCHAR},
      </if>
      <if test="doctorStatusName != null" >
        DOCTOR_STATUS_NAME = #{doctorStatusName,jdbcType=VARCHAR},
      </if>
      <if test="xtOrgRemark != null" >
        XT_ORG_REMARK = #{xtOrgRemark,jdbcType=VARCHAR},
      </if>
      <if test="orgRemark != null" >
        ORG_REMARK = #{orgRemark,jdbcType=VARCHAR},
      </if>
      <if test="chargeRemark != null" >
        CHARGE_REMARK = #{chargeRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ScresGraduationApply" >
    update PDSCI.SCRES_GRADUATION_APPLY
    set DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      ID_NO = #{idNo,jdbcType=VARCHAR},
      EDUCATION_ID = #{educationId,jdbcType=VARCHAR},
      EDUCATION_NAME = #{educationName,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      TRAINING_SPE_ID = #{trainingSpeId,jdbcType=VARCHAR},
      TRAINING_SPE_NAME = #{trainingSpeName,jdbcType=VARCHAR},
      TRAINING_START_DATE = #{trainingStartDate,jdbcType=VARCHAR},
      TRAINING_END_DATE = #{trainingEndDate,jdbcType=VARCHAR},
      DOCTOR_LICENSE_NO = #{doctorLicenseNo,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      GRADUATION_YEAR = #{graduationYear,jdbcType=VARCHAR},
      XT_ORG_STATUS_ID = #{xtOrgStatusId,jdbcType=VARCHAR},
      XT_ORG_STATUS_NAME = #{xtOrgStatusName,jdbcType=VARCHAR},
      ORG_STATUS_ID = #{orgStatusId,jdbcType=VARCHAR},
      ORG_STATUS_NAME = #{orgStatusName,jdbcType=VARCHAR},
      CHARGE_STATUS_ID = #{chargeStatusId,jdbcType=VARCHAR},
      CHARGE_STATUS_NAME = #{chargeStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      DOCTOR_STATUS_ID = #{doctorStatusId,jdbcType=VARCHAR},
      DOCTOR_STATUS_NAME = #{doctorStatusName,jdbcType=VARCHAR},
      XT_ORG_REMARK = #{xtOrgRemark,jdbcType=VARCHAR},
      ORG_REMARK = #{orgRemark,jdbcType=VARCHAR},
      CHARGE_REMARK = #{chargeRemark,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>