<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.SrmAchScoreMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SrmAchScore">
    <id column="SCORE_FLOW" jdbcType="VARCHAR" property="scoreFlow" />
    <result column="SCORE_NAME" jdbcType="VARCHAR" property="scoreName" />
    <result column="SCORE_DEPT_VALUE" jdbcType="DECIMAL" property="scoreDeptValue" />
    <result column="SCORE_PERSONAL_VALUE" jdbcType="DECIMAL" property="scorePersonalValue" />
    <result column="SCORE_REMARK" jdbcType="VARCHAR" property="scoreRemark" />
    <result column="SCORE_STATUS_ID" jdbcType="VARCHAR" property="scoreStatusId" />
    <result column="SCORE_STATUS_NAME" jdbcType="VARCHAR" property="scoreStatusName" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="PARENT_SCORE_FLOW" jdbcType="VARCHAR" property="parentScoreFlow" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SCORE_FLOW, SCORE_NAME, SCORE_DEPT_VALUE, SCORE_PERSONAL_VALUE, SCORE_REMARK, SCORE_STATUS_ID, 
    SCORE_STATUS_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
    PARENT_SCORE_FLOW
  </sql>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.SrmAchScoreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.SRM_ACH_SCORE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PDSCI.SRM_ACH_SCORE
    where SCORE_FLOW = #{scoreFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.SRM_ACH_SCORE
    where SCORE_FLOW = #{scoreFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SrmAchScoreExample">
    delete from PDSCI.SRM_ACH_SCORE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SrmAchScore">
    insert into PDSCI.SRM_ACH_SCORE (SCORE_FLOW, SCORE_NAME, SCORE_DEPT_VALUE, 
      SCORE_PERSONAL_VALUE, SCORE_REMARK, SCORE_STATUS_ID, 
      SCORE_STATUS_NAME, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      PARENT_SCORE_FLOW)
    values (#{scoreFlow,jdbcType=VARCHAR}, #{scoreName,jdbcType=VARCHAR}, #{scoreDeptValue,jdbcType=DECIMAL}, 
      #{scorePersonalValue,jdbcType=DECIMAL}, #{scoreRemark,jdbcType=VARCHAR}, #{scoreStatusId,jdbcType=VARCHAR}, 
      #{scoreStatusName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{parentScoreFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SrmAchScore">
    insert into PDSCI.SRM_ACH_SCORE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scoreFlow != null">
        SCORE_FLOW,
      </if>
      <if test="scoreName != null">
        SCORE_NAME,
      </if>
      <if test="scoreDeptValue != null">
        SCORE_DEPT_VALUE,
      </if>
      <if test="scorePersonalValue != null">
        SCORE_PERSONAL_VALUE,
      </if>
      <if test="scoreRemark != null">
        SCORE_REMARK,
      </if>
      <if test="scoreStatusId != null">
        SCORE_STATUS_ID,
      </if>
      <if test="scoreStatusName != null">
        SCORE_STATUS_NAME,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="parentScoreFlow != null">
        PARENT_SCORE_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scoreFlow != null">
        #{scoreFlow,jdbcType=VARCHAR},
      </if>
      <if test="scoreName != null">
        #{scoreName,jdbcType=VARCHAR},
      </if>
      <if test="scoreDeptValue != null">
        #{scoreDeptValue,jdbcType=DECIMAL},
      </if>
      <if test="scorePersonalValue != null">
        #{scorePersonalValue,jdbcType=DECIMAL},
      </if>
      <if test="scoreRemark != null">
        #{scoreRemark,jdbcType=VARCHAR},
      </if>
      <if test="scoreStatusId != null">
        #{scoreStatusId,jdbcType=VARCHAR},
      </if>
      <if test="scoreStatusName != null">
        #{scoreStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="parentScoreFlow != null">
        #{parentScoreFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SrmAchScoreExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.SRM_ACH_SCORE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.SRM_ACH_SCORE
    <set>
      <if test="record.scoreFlow != null">
        SCORE_FLOW = #{record.scoreFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreName != null">
        SCORE_NAME = #{record.scoreName,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreDeptValue != null">
        SCORE_DEPT_VALUE = #{record.scoreDeptValue,jdbcType=DECIMAL},
      </if>
      <if test="record.scorePersonalValue != null">
        SCORE_PERSONAL_VALUE = #{record.scorePersonalValue,jdbcType=DECIMAL},
      </if>
      <if test="record.scoreRemark != null">
        SCORE_REMARK = #{record.scoreRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreStatusId != null">
        SCORE_STATUS_ID = #{record.scoreStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreStatusName != null">
        SCORE_STATUS_NAME = #{record.scoreStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.parentScoreFlow != null">
        PARENT_SCORE_FLOW = #{record.parentScoreFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.SRM_ACH_SCORE
    set SCORE_FLOW = #{record.scoreFlow,jdbcType=VARCHAR},
      SCORE_NAME = #{record.scoreName,jdbcType=VARCHAR},
      SCORE_DEPT_VALUE = #{record.scoreDeptValue,jdbcType=DECIMAL},
      SCORE_PERSONAL_VALUE = #{record.scorePersonalValue,jdbcType=DECIMAL},
      SCORE_REMARK = #{record.scoreRemark,jdbcType=VARCHAR},
      SCORE_STATUS_ID = #{record.scoreStatusId,jdbcType=VARCHAR},
      SCORE_STATUS_NAME = #{record.scoreStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      PARENT_SCORE_FLOW = #{record.parentScoreFlow,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SrmAchScore">
    update PDSCI.SRM_ACH_SCORE
    <set>
      <if test="scoreName != null">
        SCORE_NAME = #{scoreName,jdbcType=VARCHAR},
      </if>
      <if test="scoreDeptValue != null">
        SCORE_DEPT_VALUE = #{scoreDeptValue,jdbcType=DECIMAL},
      </if>
      <if test="scorePersonalValue != null">
        SCORE_PERSONAL_VALUE = #{scorePersonalValue,jdbcType=DECIMAL},
      </if>
      <if test="scoreRemark != null">
        SCORE_REMARK = #{scoreRemark,jdbcType=VARCHAR},
      </if>
      <if test="scoreStatusId != null">
        SCORE_STATUS_ID = #{scoreStatusId,jdbcType=VARCHAR},
      </if>
      <if test="scoreStatusName != null">
        SCORE_STATUS_NAME = #{scoreStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="parentScoreFlow != null">
        PARENT_SCORE_FLOW = #{parentScoreFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where SCORE_FLOW = #{scoreFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SrmAchScore">
    update PDSCI.SRM_ACH_SCORE
    set SCORE_NAME = #{scoreName,jdbcType=VARCHAR},
      SCORE_DEPT_VALUE = #{scoreDeptValue,jdbcType=DECIMAL},
      SCORE_PERSONAL_VALUE = #{scorePersonalValue,jdbcType=DECIMAL},
      SCORE_REMARK = #{scoreRemark,jdbcType=VARCHAR},
      SCORE_STATUS_ID = #{scoreStatusId,jdbcType=VARCHAR},
      SCORE_STATUS_NAME = #{scoreStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      PARENT_SCORE_FLOW = #{parentScoreFlow,jdbcType=VARCHAR}
    where SCORE_FLOW = #{scoreFlow,jdbcType=VARCHAR}
  </update>
</mapper>