<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.SrmAchAppraisalMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SrmAchAppraisal" >
    <id column="APPRAISAL_FLOW" property="appraisalFlow" jdbcType="VARCHAR" />
    <result column="APPRAISAL_NAME" property="appraisalName" jdbcType="VARCHAR" />
    <result column="ORG_BELONG_ID" property="orgBelongId" jdbcType="VARCHAR" />
    <result column="ORG_BELONG_NAME" property="orgBelongName" jdbcType="VARCHAR" />
    <result column="APPRAISAL_DEPT" property="appraisalDept" jdbcType="VARCHAR" />
    <result column="APPRAISAL_DATE" property="appraisalDate" jdbcType="VARCHAR" />
    <result column="APPRAISAL_CODE" property="appraisalCode" jdbcType="VARCHAR" />
    <result column="APPROVAL_DATE" property="approvalDate" jdbcType="VARCHAR" />
    <result column="APPRAISAL_TYPE_ID" property="appraisalTypeId" jdbcType="VARCHAR" />
    <result column="APPRAISAL_TYPE_NAME" property="appraisalTypeName" jdbcType="VARCHAR" />
    <result column="APPRAISAL_RESULT_ID" property="appraisalResultId" jdbcType="VARCHAR" />
    <result column="APPRAISAL_RESULT_NAME" property="appraisalResultName" jdbcType="VARCHAR" />
    <result column="FINISH_TYPE_ID" property="finishTypeId" jdbcType="VARCHAR" />
    <result column="FINISH_TYPE_NAME" property="finishTypeName" jdbcType="VARCHAR" />
    <result column="CATEGORY_ID" property="categoryId" jdbcType="VARCHAR" />
    <result column="CATEGORY_NAME" property="categoryName" jdbcType="VARCHAR" />
    <result column="PROJ_START_DATE" property="projStartDate" jdbcType="VARCHAR" />
    <result column="PROJ_END_DATE" property="projEndDate" jdbcType="VARCHAR" />
    <result column="FINISH_ORG" property="finishOrg" jdbcType="VARCHAR" />
    <result column="PROJ_SOURCE_ID" property="projSourceId" jdbcType="VARCHAR" />
    <result column="PROJ_SOURCE_NAME" property="projSourceName" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="OPER_STATUS_ID" property="operStatusId" jdbcType="VARCHAR" />
    <result column="OPER_STATUS_NAME" property="operStatusName" jdbcType="VARCHAR" />
    <result column="APPLY_USER_FLOW" property="applyUserFlow" jdbcType="VARCHAR" />
    <result column="APPLY_USER_NAME" property="applyUserName" jdbcType="VARCHAR" />
    <result column="APPLY_ORG_FLOW" property="applyOrgFlow" jdbcType="VARCHAR" />
    <result column="APPLY_ORG_NAME" property="applyOrgName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="DEPT_FLOW" property="deptFlow" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    APPRAISAL_FLOW, APPRAISAL_NAME, ORG_BELONG_ID, ORG_BELONG_NAME, APPRAISAL_DEPT, APPRAISAL_DATE, 
    APPRAISAL_CODE, APPROVAL_DATE, APPRAISAL_TYPE_ID, APPRAISAL_TYPE_NAME, APPRAISAL_RESULT_ID, 
    APPRAISAL_RESULT_NAME, FINISH_TYPE_ID, FINISH_TYPE_NAME, CATEGORY_ID, CATEGORY_NAME, 
    PROJ_START_DATE, PROJ_END_DATE, FINISH_ORG, PROJ_SOURCE_ID, PROJ_SOURCE_NAME, REMARK, 
    OPER_STATUS_ID, OPER_STATUS_NAME, APPLY_USER_FLOW, APPLY_USER_NAME, APPLY_ORG_FLOW, 
    APPLY_ORG_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
    DEPT_FLOW, DEPT_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.SrmAchAppraisalExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.SRM_ACH_APPRAISAL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.SRM_ACH_APPRAISAL
    where APPRAISAL_FLOW = #{appraisalFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.SRM_ACH_APPRAISAL
    where APPRAISAL_FLOW = #{appraisalFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SrmAchAppraisalExample" >
    delete from PDSCI.SRM_ACH_APPRAISAL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SrmAchAppraisal" >
    insert into PDSCI.SRM_ACH_APPRAISAL (APPRAISAL_FLOW, APPRAISAL_NAME, ORG_BELONG_ID, 
      ORG_BELONG_NAME, APPRAISAL_DEPT, APPRAISAL_DATE, 
      APPRAISAL_CODE, APPROVAL_DATE, APPRAISAL_TYPE_ID, 
      APPRAISAL_TYPE_NAME, APPRAISAL_RESULT_ID, APPRAISAL_RESULT_NAME, 
      FINISH_TYPE_ID, FINISH_TYPE_NAME, CATEGORY_ID, 
      CATEGORY_NAME, PROJ_START_DATE, PROJ_END_DATE, 
      FINISH_ORG, PROJ_SOURCE_ID, PROJ_SOURCE_NAME, 
      REMARK, OPER_STATUS_ID, OPER_STATUS_NAME, 
      APPLY_USER_FLOW, APPLY_USER_NAME, APPLY_ORG_FLOW, 
      APPLY_ORG_NAME, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      DEPT_FLOW, DEPT_NAME)
    values (#{appraisalFlow,jdbcType=VARCHAR}, #{appraisalName,jdbcType=VARCHAR}, #{orgBelongId,jdbcType=VARCHAR}, 
      #{orgBelongName,jdbcType=VARCHAR}, #{appraisalDept,jdbcType=VARCHAR}, #{appraisalDate,jdbcType=VARCHAR}, 
      #{appraisalCode,jdbcType=VARCHAR}, #{approvalDate,jdbcType=VARCHAR}, #{appraisalTypeId,jdbcType=VARCHAR}, 
      #{appraisalTypeName,jdbcType=VARCHAR}, #{appraisalResultId,jdbcType=VARCHAR}, #{appraisalResultName,jdbcType=VARCHAR}, 
      #{finishTypeId,jdbcType=VARCHAR}, #{finishTypeName,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR}, 
      #{categoryName,jdbcType=VARCHAR}, #{projStartDate,jdbcType=VARCHAR}, #{projEndDate,jdbcType=VARCHAR}, 
      #{finishOrg,jdbcType=VARCHAR}, #{projSourceId,jdbcType=VARCHAR}, #{projSourceName,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{operStatusId,jdbcType=VARCHAR}, #{operStatusName,jdbcType=VARCHAR}, 
      #{applyUserFlow,jdbcType=VARCHAR}, #{applyUserName,jdbcType=VARCHAR}, #{applyOrgFlow,jdbcType=VARCHAR}, 
      #{applyOrgName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{deptFlow,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SrmAchAppraisal" >
    insert into PDSCI.SRM_ACH_APPRAISAL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="appraisalFlow != null" >
        APPRAISAL_FLOW,
      </if>
      <if test="appraisalName != null" >
        APPRAISAL_NAME,
      </if>
      <if test="orgBelongId != null" >
        ORG_BELONG_ID,
      </if>
      <if test="orgBelongName != null" >
        ORG_BELONG_NAME,
      </if>
      <if test="appraisalDept != null" >
        APPRAISAL_DEPT,
      </if>
      <if test="appraisalDate != null" >
        APPRAISAL_DATE,
      </if>
      <if test="appraisalCode != null" >
        APPRAISAL_CODE,
      </if>
      <if test="approvalDate != null" >
        APPROVAL_DATE,
      </if>
      <if test="appraisalTypeId != null" >
        APPRAISAL_TYPE_ID,
      </if>
      <if test="appraisalTypeName != null" >
        APPRAISAL_TYPE_NAME,
      </if>
      <if test="appraisalResultId != null" >
        APPRAISAL_RESULT_ID,
      </if>
      <if test="appraisalResultName != null" >
        APPRAISAL_RESULT_NAME,
      </if>
      <if test="finishTypeId != null" >
        FINISH_TYPE_ID,
      </if>
      <if test="finishTypeName != null" >
        FINISH_TYPE_NAME,
      </if>
      <if test="categoryId != null" >
        CATEGORY_ID,
      </if>
      <if test="categoryName != null" >
        CATEGORY_NAME,
      </if>
      <if test="projStartDate != null" >
        PROJ_START_DATE,
      </if>
      <if test="projEndDate != null" >
        PROJ_END_DATE,
      </if>
      <if test="finishOrg != null" >
        FINISH_ORG,
      </if>
      <if test="projSourceId != null" >
        PROJ_SOURCE_ID,
      </if>
      <if test="projSourceName != null" >
        PROJ_SOURCE_NAME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="operStatusId != null" >
        OPER_STATUS_ID,
      </if>
      <if test="operStatusName != null" >
        OPER_STATUS_NAME,
      </if>
      <if test="applyUserFlow != null" >
        APPLY_USER_FLOW,
      </if>
      <if test="applyUserName != null" >
        APPLY_USER_NAME,
      </if>
      <if test="applyOrgFlow != null" >
        APPLY_ORG_FLOW,
      </if>
      <if test="applyOrgName != null" >
        APPLY_ORG_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="appraisalFlow != null" >
        #{appraisalFlow,jdbcType=VARCHAR},
      </if>
      <if test="appraisalName != null" >
        #{appraisalName,jdbcType=VARCHAR},
      </if>
      <if test="orgBelongId != null" >
        #{orgBelongId,jdbcType=VARCHAR},
      </if>
      <if test="orgBelongName != null" >
        #{orgBelongName,jdbcType=VARCHAR},
      </if>
      <if test="appraisalDept != null" >
        #{appraisalDept,jdbcType=VARCHAR},
      </if>
      <if test="appraisalDate != null" >
        #{appraisalDate,jdbcType=VARCHAR},
      </if>
      <if test="appraisalCode != null" >
        #{appraisalCode,jdbcType=VARCHAR},
      </if>
      <if test="approvalDate != null" >
        #{approvalDate,jdbcType=VARCHAR},
      </if>
      <if test="appraisalTypeId != null" >
        #{appraisalTypeId,jdbcType=VARCHAR},
      </if>
      <if test="appraisalTypeName != null" >
        #{appraisalTypeName,jdbcType=VARCHAR},
      </if>
      <if test="appraisalResultId != null" >
        #{appraisalResultId,jdbcType=VARCHAR},
      </if>
      <if test="appraisalResultName != null" >
        #{appraisalResultName,jdbcType=VARCHAR},
      </if>
      <if test="finishTypeId != null" >
        #{finishTypeId,jdbcType=VARCHAR},
      </if>
      <if test="finishTypeName != null" >
        #{finishTypeName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="projStartDate != null" >
        #{projStartDate,jdbcType=VARCHAR},
      </if>
      <if test="projEndDate != null" >
        #{projEndDate,jdbcType=VARCHAR},
      </if>
      <if test="finishOrg != null" >
        #{finishOrg,jdbcType=VARCHAR},
      </if>
      <if test="projSourceId != null" >
        #{projSourceId,jdbcType=VARCHAR},
      </if>
      <if test="projSourceName != null" >
        #{projSourceName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operStatusId != null" >
        #{operStatusId,jdbcType=VARCHAR},
      </if>
      <if test="operStatusName != null" >
        #{operStatusName,jdbcType=VARCHAR},
      </if>
      <if test="applyUserFlow != null" >
        #{applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyUserName != null" >
        #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgFlow != null" >
        #{applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgName != null" >
        #{applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SrmAchAppraisalExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.SRM_ACH_APPRAISAL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.SRM_ACH_APPRAISAL
    <set >
      <if test="record.appraisalFlow != null" >
        APPRAISAL_FLOW = #{record.appraisalFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.appraisalName != null" >
        APPRAISAL_NAME = #{record.appraisalName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgBelongId != null" >
        ORG_BELONG_ID = #{record.orgBelongId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgBelongName != null" >
        ORG_BELONG_NAME = #{record.orgBelongName,jdbcType=VARCHAR},
      </if>
      <if test="record.appraisalDept != null" >
        APPRAISAL_DEPT = #{record.appraisalDept,jdbcType=VARCHAR},
      </if>
      <if test="record.appraisalDate != null" >
        APPRAISAL_DATE = #{record.appraisalDate,jdbcType=VARCHAR},
      </if>
      <if test="record.appraisalCode != null" >
        APPRAISAL_CODE = #{record.appraisalCode,jdbcType=VARCHAR},
      </if>
      <if test="record.approvalDate != null" >
        APPROVAL_DATE = #{record.approvalDate,jdbcType=VARCHAR},
      </if>
      <if test="record.appraisalTypeId != null" >
        APPRAISAL_TYPE_ID = #{record.appraisalTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.appraisalTypeName != null" >
        APPRAISAL_TYPE_NAME = #{record.appraisalTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.appraisalResultId != null" >
        APPRAISAL_RESULT_ID = #{record.appraisalResultId,jdbcType=VARCHAR},
      </if>
      <if test="record.appraisalResultName != null" >
        APPRAISAL_RESULT_NAME = #{record.appraisalResultName,jdbcType=VARCHAR},
      </if>
      <if test="record.finishTypeId != null" >
        FINISH_TYPE_ID = #{record.finishTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.finishTypeName != null" >
        FINISH_TYPE_NAME = #{record.finishTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null" >
        CATEGORY_ID = #{record.categoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryName != null" >
        CATEGORY_NAME = #{record.categoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.projStartDate != null" >
        PROJ_START_DATE = #{record.projStartDate,jdbcType=VARCHAR},
      </if>
      <if test="record.projEndDate != null" >
        PROJ_END_DATE = #{record.projEndDate,jdbcType=VARCHAR},
      </if>
      <if test="record.finishOrg != null" >
        FINISH_ORG = #{record.finishOrg,jdbcType=VARCHAR},
      </if>
      <if test="record.projSourceId != null" >
        PROJ_SOURCE_ID = #{record.projSourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.projSourceName != null" >
        PROJ_SOURCE_NAME = #{record.projSourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.operStatusId != null" >
        OPER_STATUS_ID = #{record.operStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.operStatusName != null" >
        OPER_STATUS_NAME = #{record.operStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserFlow != null" >
        APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserName != null" >
        APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyOrgFlow != null" >
        APPLY_ORG_FLOW = #{record.applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.applyOrgName != null" >
        APPLY_ORG_NAME = #{record.applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null" >
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.SRM_ACH_APPRAISAL
    set APPRAISAL_FLOW = #{record.appraisalFlow,jdbcType=VARCHAR},
      APPRAISAL_NAME = #{record.appraisalName,jdbcType=VARCHAR},
      ORG_BELONG_ID = #{record.orgBelongId,jdbcType=VARCHAR},
      ORG_BELONG_NAME = #{record.orgBelongName,jdbcType=VARCHAR},
      APPRAISAL_DEPT = #{record.appraisalDept,jdbcType=VARCHAR},
      APPRAISAL_DATE = #{record.appraisalDate,jdbcType=VARCHAR},
      APPRAISAL_CODE = #{record.appraisalCode,jdbcType=VARCHAR},
      APPROVAL_DATE = #{record.approvalDate,jdbcType=VARCHAR},
      APPRAISAL_TYPE_ID = #{record.appraisalTypeId,jdbcType=VARCHAR},
      APPRAISAL_TYPE_NAME = #{record.appraisalTypeName,jdbcType=VARCHAR},
      APPRAISAL_RESULT_ID = #{record.appraisalResultId,jdbcType=VARCHAR},
      APPRAISAL_RESULT_NAME = #{record.appraisalResultName,jdbcType=VARCHAR},
      FINISH_TYPE_ID = #{record.finishTypeId,jdbcType=VARCHAR},
      FINISH_TYPE_NAME = #{record.finishTypeName,jdbcType=VARCHAR},
      CATEGORY_ID = #{record.categoryId,jdbcType=VARCHAR},
      CATEGORY_NAME = #{record.categoryName,jdbcType=VARCHAR},
      PROJ_START_DATE = #{record.projStartDate,jdbcType=VARCHAR},
      PROJ_END_DATE = #{record.projEndDate,jdbcType=VARCHAR},
      FINISH_ORG = #{record.finishOrg,jdbcType=VARCHAR},
      PROJ_SOURCE_ID = #{record.projSourceId,jdbcType=VARCHAR},
      PROJ_SOURCE_NAME = #{record.projSourceName,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      OPER_STATUS_ID = #{record.operStatusId,jdbcType=VARCHAR},
      OPER_STATUS_NAME = #{record.operStatusName,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      APPLY_ORG_FLOW = #{record.applyOrgFlow,jdbcType=VARCHAR},
      APPLY_ORG_NAME = #{record.applyOrgName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SrmAchAppraisal" >
    update PDSCI.SRM_ACH_APPRAISAL
    <set >
      <if test="appraisalName != null" >
        APPRAISAL_NAME = #{appraisalName,jdbcType=VARCHAR},
      </if>
      <if test="orgBelongId != null" >
        ORG_BELONG_ID = #{orgBelongId,jdbcType=VARCHAR},
      </if>
      <if test="orgBelongName != null" >
        ORG_BELONG_NAME = #{orgBelongName,jdbcType=VARCHAR},
      </if>
      <if test="appraisalDept != null" >
        APPRAISAL_DEPT = #{appraisalDept,jdbcType=VARCHAR},
      </if>
      <if test="appraisalDate != null" >
        APPRAISAL_DATE = #{appraisalDate,jdbcType=VARCHAR},
      </if>
      <if test="appraisalCode != null" >
        APPRAISAL_CODE = #{appraisalCode,jdbcType=VARCHAR},
      </if>
      <if test="approvalDate != null" >
        APPROVAL_DATE = #{approvalDate,jdbcType=VARCHAR},
      </if>
      <if test="appraisalTypeId != null" >
        APPRAISAL_TYPE_ID = #{appraisalTypeId,jdbcType=VARCHAR},
      </if>
      <if test="appraisalTypeName != null" >
        APPRAISAL_TYPE_NAME = #{appraisalTypeName,jdbcType=VARCHAR},
      </if>
      <if test="appraisalResultId != null" >
        APPRAISAL_RESULT_ID = #{appraisalResultId,jdbcType=VARCHAR},
      </if>
      <if test="appraisalResultName != null" >
        APPRAISAL_RESULT_NAME = #{appraisalResultName,jdbcType=VARCHAR},
      </if>
      <if test="finishTypeId != null" >
        FINISH_TYPE_ID = #{finishTypeId,jdbcType=VARCHAR},
      </if>
      <if test="finishTypeName != null" >
        FINISH_TYPE_NAME = #{finishTypeName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        CATEGORY_ID = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null" >
        CATEGORY_NAME = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="projStartDate != null" >
        PROJ_START_DATE = #{projStartDate,jdbcType=VARCHAR},
      </if>
      <if test="projEndDate != null" >
        PROJ_END_DATE = #{projEndDate,jdbcType=VARCHAR},
      </if>
      <if test="finishOrg != null" >
        FINISH_ORG = #{finishOrg,jdbcType=VARCHAR},
      </if>
      <if test="projSourceId != null" >
        PROJ_SOURCE_ID = #{projSourceId,jdbcType=VARCHAR},
      </if>
      <if test="projSourceName != null" >
        PROJ_SOURCE_NAME = #{projSourceName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operStatusId != null" >
        OPER_STATUS_ID = #{operStatusId,jdbcType=VARCHAR},
      </if>
      <if test="operStatusName != null" >
        OPER_STATUS_NAME = #{operStatusName,jdbcType=VARCHAR},
      </if>
      <if test="applyUserFlow != null" >
        APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyUserName != null" >
        APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgFlow != null" >
        APPLY_ORG_FLOW = #{applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgName != null" >
        APPLY_ORG_NAME = #{applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
    </set>
    where APPRAISAL_FLOW = #{appraisalFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SrmAchAppraisal" >
    update PDSCI.SRM_ACH_APPRAISAL
    set APPRAISAL_NAME = #{appraisalName,jdbcType=VARCHAR},
      ORG_BELONG_ID = #{orgBelongId,jdbcType=VARCHAR},
      ORG_BELONG_NAME = #{orgBelongName,jdbcType=VARCHAR},
      APPRAISAL_DEPT = #{appraisalDept,jdbcType=VARCHAR},
      APPRAISAL_DATE = #{appraisalDate,jdbcType=VARCHAR},
      APPRAISAL_CODE = #{appraisalCode,jdbcType=VARCHAR},
      APPROVAL_DATE = #{approvalDate,jdbcType=VARCHAR},
      APPRAISAL_TYPE_ID = #{appraisalTypeId,jdbcType=VARCHAR},
      APPRAISAL_TYPE_NAME = #{appraisalTypeName,jdbcType=VARCHAR},
      APPRAISAL_RESULT_ID = #{appraisalResultId,jdbcType=VARCHAR},
      APPRAISAL_RESULT_NAME = #{appraisalResultName,jdbcType=VARCHAR},
      FINISH_TYPE_ID = #{finishTypeId,jdbcType=VARCHAR},
      FINISH_TYPE_NAME = #{finishTypeName,jdbcType=VARCHAR},
      CATEGORY_ID = #{categoryId,jdbcType=VARCHAR},
      CATEGORY_NAME = #{categoryName,jdbcType=VARCHAR},
      PROJ_START_DATE = #{projStartDate,jdbcType=VARCHAR},
      PROJ_END_DATE = #{projEndDate,jdbcType=VARCHAR},
      FINISH_ORG = #{finishOrg,jdbcType=VARCHAR},
      PROJ_SOURCE_ID = #{projSourceId,jdbcType=VARCHAR},
      PROJ_SOURCE_NAME = #{projSourceName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      OPER_STATUS_ID = #{operStatusId,jdbcType=VARCHAR},
      OPER_STATUS_NAME = #{operStatusName,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      APPLY_ORG_FLOW = #{applyOrgFlow,jdbcType=VARCHAR},
      APPLY_ORG_NAME = #{applyOrgName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR}
    where APPRAISAL_FLOW = #{appraisalFlow,jdbcType=VARCHAR}
  </update>
</mapper>