<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.SrmAchTopicMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SrmAchTopic">
    <id column="TOPIC_FLOW" jdbcType="VARCHAR" property="topicFlow" />
    <result column="TOPIC_NAME" jdbcType="VARCHAR" property="topicName" />
    <result column="DEPT_FLOW" jdbcType="VARCHAR" property="deptFlow" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="CHARGE_ORG" jdbcType="VARCHAR" property="chargeOrg" />
    <result column="APPROVE_NUMBER" jdbcType="VARCHAR" property="approveNumber" />
    <result column="APPLY_USER_FLOW" jdbcType="VARCHAR" property="applyUserFlow" />
    <result column="APPLY_USER_NAME" jdbcType="VARCHAR" property="applyUserName" />
    <result column="TOPIC_START_TIME" jdbcType="VARCHAR" property="topicStartTime" />
    <result column="TOPIC_END_TIME" jdbcType="VARCHAR" property="topicEndTime" />
    <result column="TOPIC_MONEY" jdbcType="DECIMAL" property="topicMoney" />
    <result column="APPLY_ORG_FLOW" jdbcType="VARCHAR" property="applyOrgFlow" />
    <result column="APPLY_ORG_NAME" jdbcType="VARCHAR" property="applyOrgName" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="OPER_STATUS_ID" jdbcType="VARCHAR" property="operStatusId" />
    <result column="OPER_STATUS_NAME" jdbcType="VARCHAR" property="operStatusName" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="TYPE_ID" jdbcType="VARCHAR" property="typeId" />
    <result column="TYPE_NAME" jdbcType="VARCHAR" property="typeName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TOPIC_FLOW, TOPIC_NAME, DEPT_FLOW, DEPT_NAME, CHARGE_ORG, APPROVE_NUMBER, APPLY_USER_FLOW, 
    APPLY_USER_NAME, TOPIC_START_TIME, TOPIC_END_TIME, TOPIC_MONEY, APPLY_ORG_FLOW, APPLY_ORG_NAME, 
    REMARK, OPER_STATUS_ID, OPER_STATUS_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW, TYPE_ID, TYPE_NAME
  </sql>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.SrmAchTopicExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.SRM_ACH_TOPIC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PDSCI.SRM_ACH_TOPIC
    where TOPIC_FLOW = #{topicFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.SRM_ACH_TOPIC
    where TOPIC_FLOW = #{topicFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SrmAchTopicExample">
    delete from PDSCI.SRM_ACH_TOPIC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SrmAchTopic">
    insert into PDSCI.SRM_ACH_TOPIC (TOPIC_FLOW, TOPIC_NAME, DEPT_FLOW, 
      DEPT_NAME, CHARGE_ORG, APPROVE_NUMBER, 
      APPLY_USER_FLOW, APPLY_USER_NAME, TOPIC_START_TIME, 
      TOPIC_END_TIME, TOPIC_MONEY, APPLY_ORG_FLOW, 
      APPLY_ORG_NAME, REMARK, OPER_STATUS_ID, 
      OPER_STATUS_NAME, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      TYPE_ID, TYPE_NAME)
    values (#{topicFlow,jdbcType=VARCHAR}, #{topicName,jdbcType=VARCHAR}, #{deptFlow,jdbcType=VARCHAR}, 
      #{deptName,jdbcType=VARCHAR}, #{chargeOrg,jdbcType=VARCHAR}, #{approveNumber,jdbcType=VARCHAR}, 
      #{applyUserFlow,jdbcType=VARCHAR}, #{applyUserName,jdbcType=VARCHAR}, #{topicStartTime,jdbcType=VARCHAR}, 
      #{topicEndTime,jdbcType=VARCHAR}, #{topicMoney,jdbcType=DECIMAL}, #{applyOrgFlow,jdbcType=VARCHAR}, 
      #{applyOrgName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{operStatusId,jdbcType=VARCHAR}, 
      #{operStatusName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{typeId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SrmAchTopic">
    insert into PDSCI.SRM_ACH_TOPIC
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="topicFlow != null">
        TOPIC_FLOW,
      </if>
      <if test="topicName != null">
        TOPIC_NAME,
      </if>
      <if test="deptFlow != null">
        DEPT_FLOW,
      </if>
      <if test="deptName != null">
        DEPT_NAME,
      </if>
      <if test="chargeOrg != null">
        CHARGE_ORG,
      </if>
      <if test="approveNumber != null">
        APPROVE_NUMBER,
      </if>
      <if test="applyUserFlow != null">
        APPLY_USER_FLOW,
      </if>
      <if test="applyUserName != null">
        APPLY_USER_NAME,
      </if>
      <if test="topicStartTime != null">
        TOPIC_START_TIME,
      </if>
      <if test="topicEndTime != null">
        TOPIC_END_TIME,
      </if>
      <if test="topicMoney != null">
        TOPIC_MONEY,
      </if>
      <if test="applyOrgFlow != null">
        APPLY_ORG_FLOW,
      </if>
      <if test="applyOrgName != null">
        APPLY_ORG_NAME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="operStatusId != null">
        OPER_STATUS_ID,
      </if>
      <if test="operStatusName != null">
        OPER_STATUS_NAME,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="typeId != null">
        TYPE_ID,
      </if>
      <if test="typeName != null">
        TYPE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="topicFlow != null">
        #{topicFlow,jdbcType=VARCHAR},
      </if>
      <if test="topicName != null">
        #{topicName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null">
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="chargeOrg != null">
        #{chargeOrg,jdbcType=VARCHAR},
      </if>
      <if test="approveNumber != null">
        #{approveNumber,jdbcType=VARCHAR},
      </if>
      <if test="applyUserFlow != null">
        #{applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyUserName != null">
        #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="topicStartTime != null">
        #{topicStartTime,jdbcType=VARCHAR},
      </if>
      <if test="topicEndTime != null">
        #{topicEndTime,jdbcType=VARCHAR},
      </if>
      <if test="topicMoney != null">
        #{topicMoney,jdbcType=DECIMAL},
      </if>
      <if test="applyOrgFlow != null">
        #{applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgName != null">
        #{applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operStatusId != null">
        #{operStatusId,jdbcType=VARCHAR},
      </if>
      <if test="operStatusName != null">
        #{operStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SrmAchTopicExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.SRM_ACH_TOPIC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.SRM_ACH_TOPIC
    <set>
      <if test="record.topicFlow != null">
        TOPIC_FLOW = #{record.topicFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.topicName != null">
        TOPIC_NAME = #{record.topicName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null">
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null">
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeOrg != null">
        CHARGE_ORG = #{record.chargeOrg,jdbcType=VARCHAR},
      </if>
      <if test="record.approveNumber != null">
        APPROVE_NUMBER = #{record.approveNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserFlow != null">
        APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserName != null">
        APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.topicStartTime != null">
        TOPIC_START_TIME = #{record.topicStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.topicEndTime != null">
        TOPIC_END_TIME = #{record.topicEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.topicMoney != null">
        TOPIC_MONEY = #{record.topicMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.applyOrgFlow != null">
        APPLY_ORG_FLOW = #{record.applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.applyOrgName != null">
        APPLY_ORG_NAME = #{record.applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.operStatusId != null">
        OPER_STATUS_ID = #{record.operStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.operStatusName != null">
        OPER_STATUS_NAME = #{record.operStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.typeId != null">
        TYPE_ID = #{record.typeId,jdbcType=VARCHAR},
      </if>
      <if test="record.typeName != null">
        TYPE_NAME = #{record.typeName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.SRM_ACH_TOPIC
    set TOPIC_FLOW = #{record.topicFlow,jdbcType=VARCHAR},
      TOPIC_NAME = #{record.topicName,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      CHARGE_ORG = #{record.chargeOrg,jdbcType=VARCHAR},
      APPROVE_NUMBER = #{record.approveNumber,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      TOPIC_START_TIME = #{record.topicStartTime,jdbcType=VARCHAR},
      TOPIC_END_TIME = #{record.topicEndTime,jdbcType=VARCHAR},
      TOPIC_MONEY = #{record.topicMoney,jdbcType=DECIMAL},
      APPLY_ORG_FLOW = #{record.applyOrgFlow,jdbcType=VARCHAR},
      APPLY_ORG_NAME = #{record.applyOrgName,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      OPER_STATUS_ID = #{record.operStatusId,jdbcType=VARCHAR},
      OPER_STATUS_NAME = #{record.operStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      TYPE_ID = #{record.typeId,jdbcType=VARCHAR},
      TYPE_NAME = #{record.typeName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SrmAchTopic">
    update PDSCI.SRM_ACH_TOPIC
    <set>
      <if test="topicName != null">
        TOPIC_NAME = #{topicName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null">
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="chargeOrg != null">
        CHARGE_ORG = #{chargeOrg,jdbcType=VARCHAR},
      </if>
      <if test="approveNumber != null">
        APPROVE_NUMBER = #{approveNumber,jdbcType=VARCHAR},
      </if>
      <if test="applyUserFlow != null">
        APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyUserName != null">
        APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="topicStartTime != null">
        TOPIC_START_TIME = #{topicStartTime,jdbcType=VARCHAR},
      </if>
      <if test="topicEndTime != null">
        TOPIC_END_TIME = #{topicEndTime,jdbcType=VARCHAR},
      </if>
      <if test="topicMoney != null">
        TOPIC_MONEY = #{topicMoney,jdbcType=DECIMAL},
      </if>
      <if test="applyOrgFlow != null">
        APPLY_ORG_FLOW = #{applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgName != null">
        APPLY_ORG_NAME = #{applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operStatusId != null">
        OPER_STATUS_ID = #{operStatusId,jdbcType=VARCHAR},
      </if>
      <if test="operStatusName != null">
        OPER_STATUS_NAME = #{operStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        TYPE_ID = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      </if>
    </set>
    where TOPIC_FLOW = #{topicFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SrmAchTopic">
    update PDSCI.SRM_ACH_TOPIC
    set TOPIC_NAME = #{topicName,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      CHARGE_ORG = #{chargeOrg,jdbcType=VARCHAR},
      APPROVE_NUMBER = #{approveNumber,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      TOPIC_START_TIME = #{topicStartTime,jdbcType=VARCHAR},
      TOPIC_END_TIME = #{topicEndTime,jdbcType=VARCHAR},
      TOPIC_MONEY = #{topicMoney,jdbcType=DECIMAL},
      APPLY_ORG_FLOW = #{applyOrgFlow,jdbcType=VARCHAR},
      APPLY_ORG_NAME = #{applyOrgName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      OPER_STATUS_ID = #{operStatusId,jdbcType=VARCHAR},
      OPER_STATUS_NAME = #{operStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      TYPE_ID = #{typeId,jdbcType=VARCHAR},
      TYPE_NAME = #{typeName,jdbcType=VARCHAR}
    where TOPIC_FLOW = #{topicFlow,jdbcType=VARCHAR}
  </update>
</mapper>