<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.SrmAchCopyrightAuthorMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SrmAchCopyrightAuthor" >
    <id column="AUTHOR_FLOW" property="authorFlow" jdbcType="VARCHAR" />
    <result column="COPYRIGHT_FLOW" property="copyrightFlow" jdbcType="VARCHAR" />
    <result column="TYPE_ID" property="typeId" jdbcType="VARCHAR" />
    <result column="TYPE_NAME" property="typeName" jdbcType="VARCHAR" />
    <result column="AUTHOR_NAME" property="authorName" jdbcType="VARCHAR" />
    <result column="SEX_ID" property="sexId" jdbcType="VARCHAR" />
    <result column="SEX_NAME" property="sexName" jdbcType="VARCHAR" />
    <result column="EDUCATION_ID" property="educationId" jdbcType="VARCHAR" />
    <result column="EDUCATION_NAME" property="educationName" jdbcType="VARCHAR" />
    <result column="DEGREE_ID" property="degreeId" jdbcType="VARCHAR" />
    <result column="DEGREE_NAME" property="degreeName" jdbcType="VARCHAR" />
    <result column="TITLE_ID" property="titleId" jdbcType="VARCHAR" />
    <result column="TITLE_NAME" property="titleName" jdbcType="VARCHAR" />
    <result column="CONTRIBUTION_PERCENT" property="contributionPercent" jdbcType="VARCHAR" />
    <result column="WORK_CODE" property="workCode" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    AUTHOR_FLOW, COPYRIGHT_FLOW, TYPE_ID, TYPE_NAME, AUTHOR_NAME, SEX_ID, SEX_NAME, EDUCATION_ID, 
    EDUCATION_NAME, DEGREE_ID, DEGREE_NAME, TITLE_ID, TITLE_NAME, CONTRIBUTION_PERCENT, 
    WORK_CODE, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.SrmAchCopyrightAuthorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.SRM_ACH_COPYRIGHT_AUTHOR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.SRM_ACH_COPYRIGHT_AUTHOR
    where AUTHOR_FLOW = #{authorFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.SRM_ACH_COPYRIGHT_AUTHOR
    where AUTHOR_FLOW = #{authorFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SrmAchCopyrightAuthorExample" >
    delete from PDSCI.SRM_ACH_COPYRIGHT_AUTHOR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SrmAchCopyrightAuthor" >
    insert into PDSCI.SRM_ACH_COPYRIGHT_AUTHOR (AUTHOR_FLOW, COPYRIGHT_FLOW, TYPE_ID, 
      TYPE_NAME, AUTHOR_NAME, SEX_ID, 
      SEX_NAME, EDUCATION_ID, EDUCATION_NAME, 
      DEGREE_ID, DEGREE_NAME, TITLE_ID, 
      TITLE_NAME, CONTRIBUTION_PERCENT, WORK_CODE, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{authorFlow,jdbcType=VARCHAR}, #{copyrightFlow,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, 
      #{typeName,jdbcType=VARCHAR}, #{authorName,jdbcType=VARCHAR}, #{sexId,jdbcType=VARCHAR}, 
      #{sexName,jdbcType=VARCHAR}, #{educationId,jdbcType=VARCHAR}, #{educationName,jdbcType=VARCHAR}, 
      #{degreeId,jdbcType=VARCHAR}, #{degreeName,jdbcType=VARCHAR}, #{titleId,jdbcType=VARCHAR}, 
      #{titleName,jdbcType=VARCHAR}, #{contributionPercent,jdbcType=VARCHAR}, #{workCode,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SrmAchCopyrightAuthor" >
    insert into PDSCI.SRM_ACH_COPYRIGHT_AUTHOR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="authorFlow != null" >
        AUTHOR_FLOW,
      </if>
      <if test="copyrightFlow != null" >
        COPYRIGHT_FLOW,
      </if>
      <if test="typeId != null" >
        TYPE_ID,
      </if>
      <if test="typeName != null" >
        TYPE_NAME,
      </if>
      <if test="authorName != null" >
        AUTHOR_NAME,
      </if>
      <if test="sexId != null" >
        SEX_ID,
      </if>
      <if test="sexName != null" >
        SEX_NAME,
      </if>
      <if test="educationId != null" >
        EDUCATION_ID,
      </if>
      <if test="educationName != null" >
        EDUCATION_NAME,
      </if>
      <if test="degreeId != null" >
        DEGREE_ID,
      </if>
      <if test="degreeName != null" >
        DEGREE_NAME,
      </if>
      <if test="titleId != null" >
        TITLE_ID,
      </if>
      <if test="titleName != null" >
        TITLE_NAME,
      </if>
      <if test="contributionPercent != null" >
        CONTRIBUTION_PERCENT,
      </if>
      <if test="workCode != null" >
        WORK_CODE,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="authorFlow != null" >
        #{authorFlow,jdbcType=VARCHAR},
      </if>
      <if test="copyrightFlow != null" >
        #{copyrightFlow,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="authorName != null" >
        #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="sexId != null" >
        #{sexId,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null" >
        #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="educationId != null" >
        #{educationId,jdbcType=VARCHAR},
      </if>
      <if test="educationName != null" >
        #{educationName,jdbcType=VARCHAR},
      </if>
      <if test="degreeId != null" >
        #{degreeId,jdbcType=VARCHAR},
      </if>
      <if test="degreeName != null" >
        #{degreeName,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null" >
        #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="titleName != null" >
        #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="contributionPercent != null" >
        #{contributionPercent,jdbcType=VARCHAR},
      </if>
      <if test="workCode != null" >
        #{workCode,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SrmAchCopyrightAuthorExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.SRM_ACH_COPYRIGHT_AUTHOR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.SRM_ACH_COPYRIGHT_AUTHOR
    <set >
      <if test="record.authorFlow != null" >
        AUTHOR_FLOW = #{record.authorFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.copyrightFlow != null" >
        COPYRIGHT_FLOW = #{record.copyrightFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.typeId != null" >
        TYPE_ID = #{record.typeId,jdbcType=VARCHAR},
      </if>
      <if test="record.typeName != null" >
        TYPE_NAME = #{record.typeName,jdbcType=VARCHAR},
      </if>
      <if test="record.authorName != null" >
        AUTHOR_NAME = #{record.authorName,jdbcType=VARCHAR},
      </if>
      <if test="record.sexId != null" >
        SEX_ID = #{record.sexId,jdbcType=VARCHAR},
      </if>
      <if test="record.sexName != null" >
        SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      </if>
      <if test="record.educationId != null" >
        EDUCATION_ID = #{record.educationId,jdbcType=VARCHAR},
      </if>
      <if test="record.educationName != null" >
        EDUCATION_NAME = #{record.educationName,jdbcType=VARCHAR},
      </if>
      <if test="record.degreeId != null" >
        DEGREE_ID = #{record.degreeId,jdbcType=VARCHAR},
      </if>
      <if test="record.degreeName != null" >
        DEGREE_NAME = #{record.degreeName,jdbcType=VARCHAR},
      </if>
      <if test="record.titleId != null" >
        TITLE_ID = #{record.titleId,jdbcType=VARCHAR},
      </if>
      <if test="record.titleName != null" >
        TITLE_NAME = #{record.titleName,jdbcType=VARCHAR},
      </if>
      <if test="record.contributionPercent != null" >
        CONTRIBUTION_PERCENT = #{record.contributionPercent,jdbcType=VARCHAR},
      </if>
      <if test="record.workCode != null" >
        WORK_CODE = #{record.workCode,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.SRM_ACH_COPYRIGHT_AUTHOR
    set AUTHOR_FLOW = #{record.authorFlow,jdbcType=VARCHAR},
      COPYRIGHT_FLOW = #{record.copyrightFlow,jdbcType=VARCHAR},
      TYPE_ID = #{record.typeId,jdbcType=VARCHAR},
      TYPE_NAME = #{record.typeName,jdbcType=VARCHAR},
      AUTHOR_NAME = #{record.authorName,jdbcType=VARCHAR},
      SEX_ID = #{record.sexId,jdbcType=VARCHAR},
      SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      EDUCATION_ID = #{record.educationId,jdbcType=VARCHAR},
      EDUCATION_NAME = #{record.educationName,jdbcType=VARCHAR},
      DEGREE_ID = #{record.degreeId,jdbcType=VARCHAR},
      DEGREE_NAME = #{record.degreeName,jdbcType=VARCHAR},
      TITLE_ID = #{record.titleId,jdbcType=VARCHAR},
      TITLE_NAME = #{record.titleName,jdbcType=VARCHAR},
      CONTRIBUTION_PERCENT = #{record.contributionPercent,jdbcType=VARCHAR},
      WORK_CODE = #{record.workCode,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SrmAchCopyrightAuthor" >
    update PDSCI.SRM_ACH_COPYRIGHT_AUTHOR
    <set >
      <if test="copyrightFlow != null" >
        COPYRIGHT_FLOW = #{copyrightFlow,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        TYPE_ID = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="authorName != null" >
        AUTHOR_NAME = #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="sexId != null" >
        SEX_ID = #{sexId,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null" >
        SEX_NAME = #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="educationId != null" >
        EDUCATION_ID = #{educationId,jdbcType=VARCHAR},
      </if>
      <if test="educationName != null" >
        EDUCATION_NAME = #{educationName,jdbcType=VARCHAR},
      </if>
      <if test="degreeId != null" >
        DEGREE_ID = #{degreeId,jdbcType=VARCHAR},
      </if>
      <if test="degreeName != null" >
        DEGREE_NAME = #{degreeName,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null" >
        TITLE_ID = #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="titleName != null" >
        TITLE_NAME = #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="contributionPercent != null" >
        CONTRIBUTION_PERCENT = #{contributionPercent,jdbcType=VARCHAR},
      </if>
      <if test="workCode != null" >
        WORK_CODE = #{workCode,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where AUTHOR_FLOW = #{authorFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SrmAchCopyrightAuthor" >
    update PDSCI.SRM_ACH_COPYRIGHT_AUTHOR
    set COPYRIGHT_FLOW = #{copyrightFlow,jdbcType=VARCHAR},
      TYPE_ID = #{typeId,jdbcType=VARCHAR},
      TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      AUTHOR_NAME = #{authorName,jdbcType=VARCHAR},
      SEX_ID = #{sexId,jdbcType=VARCHAR},
      SEX_NAME = #{sexName,jdbcType=VARCHAR},
      EDUCATION_ID = #{educationId,jdbcType=VARCHAR},
      EDUCATION_NAME = #{educationName,jdbcType=VARCHAR},
      DEGREE_ID = #{degreeId,jdbcType=VARCHAR},
      DEGREE_NAME = #{degreeName,jdbcType=VARCHAR},
      TITLE_ID = #{titleId,jdbcType=VARCHAR},
      TITLE_NAME = #{titleName,jdbcType=VARCHAR},
      CONTRIBUTION_PERCENT = #{contributionPercent,jdbcType=VARCHAR},
      WORK_CODE = #{workCode,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where AUTHOR_FLOW = #{authorFlow,jdbcType=VARCHAR}
  </update>
</mapper>