<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.SrmExpertMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SrmExpert" >
    <id column="USER_FLOW" property="userFlow" jdbcType="VARCHAR" />
    <result column="GRADUATE_SCHOOL" property="graduateSchool" jdbcType="VARCHAR" />
    <result column="BEGIN_WORK_YEAR" property="beginWorkYear" jdbcType="VARCHAR" />
    <result column="FAX" property="fax" jdbcType="VARCHAR" />
    <result column="MAJOR_ID" property="majorId" jdbcType="VARCHAR" />
    <result column="MAJOR_NAME" property="majorName" jdbcType="VARCHAR" />
    <result column="EDUCATION" property="education" jdbcType="VARCHAR" />
    <result column="POST" property="post" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="POSTCODE" property="postcode" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="AWARD" property="award" jdbcType="VARCHAR" />
    <result column="LABOR_PAY_ID" property="laborPayId" jdbcType="VARCHAR" />
    <result column="LABOR_PAY_NAME" property="laborPayName" jdbcType="VARCHAR" />
    <result column="ACCOUNT_BANK" property="accountBank" jdbcType="VARCHAR" />
    <result column="ACCOUNT_NAME" property="accountName" jdbcType="VARCHAR" />
    <result column="ACCOUNT_NO" property="accountNo" jdbcType="VARCHAR" />
    <result column="RECIPIENT" property="recipient" jdbcType="VARCHAR" />
    <result column="RECIPIENT_ADDRESS" property="recipientAddress" jdbcType="VARCHAR" />
    <result column="TECH_AREA_NAME" property="techAreaName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="FINISH_INFO_FLAG" property="finishInfoFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USER_FLOW, GRADUATE_SCHOOL, BEGIN_WORK_YEAR, FAX, MAJOR_ID, MAJOR_NAME, EDUCATION, 
    POST, ADDRESS, POSTCODE, TYPE, AWARD, LABOR_PAY_ID, LABOR_PAY_NAME, ACCOUNT_BANK, 
    ACCOUNT_NAME, ACCOUNT_NO, RECIPIENT, RECIPIENT_ADDRESS, TECH_AREA_NAME, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, FINISH_INFO_FLAG
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.SrmExpertExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.SRM_EXPERT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.SRM_EXPERT
    where USER_FLOW = #{userFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.SRM_EXPERT
    where USER_FLOW = #{userFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SrmExpertExample" >
    delete from PDSCI.SRM_EXPERT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SrmExpert" >
    insert into PDSCI.SRM_EXPERT (USER_FLOW, GRADUATE_SCHOOL, BEGIN_WORK_YEAR, 
      FAX, MAJOR_ID, MAJOR_NAME, 
      EDUCATION, POST, ADDRESS, 
      POSTCODE, TYPE, AWARD, 
      LABOR_PAY_ID, LABOR_PAY_NAME, ACCOUNT_BANK, 
      ACCOUNT_NAME, ACCOUNT_NO, RECIPIENT, 
      RECIPIENT_ADDRESS, TECH_AREA_NAME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, FINISH_INFO_FLAG)
    values (#{userFlow,jdbcType=VARCHAR}, #{graduateSchool,jdbcType=VARCHAR}, #{beginWorkYear,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{majorId,jdbcType=VARCHAR}, #{majorName,jdbcType=VARCHAR}, 
      #{education,jdbcType=VARCHAR}, #{post,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{postcode,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{award,jdbcType=VARCHAR}, 
      #{laborPayId,jdbcType=VARCHAR}, #{laborPayName,jdbcType=VARCHAR}, #{accountBank,jdbcType=VARCHAR}, 
      #{accountName,jdbcType=VARCHAR}, #{accountNo,jdbcType=VARCHAR}, #{recipient,jdbcType=VARCHAR}, 
      #{recipientAddress,jdbcType=VARCHAR}, #{techAreaName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{finishInfoFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SrmExpert" >
    insert into PDSCI.SRM_EXPERT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userFlow != null" >
        USER_FLOW,
      </if>
      <if test="graduateSchool != null" >
        GRADUATE_SCHOOL,
      </if>
      <if test="beginWorkYear != null" >
        BEGIN_WORK_YEAR,
      </if>
      <if test="fax != null" >
        FAX,
      </if>
      <if test="majorId != null" >
        MAJOR_ID,
      </if>
      <if test="majorName != null" >
        MAJOR_NAME,
      </if>
      <if test="education != null" >
        EDUCATION,
      </if>
      <if test="post != null" >
        POST,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="postcode != null" >
        POSTCODE,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="award != null" >
        AWARD,
      </if>
      <if test="laborPayId != null" >
        LABOR_PAY_ID,
      </if>
      <if test="laborPayName != null" >
        LABOR_PAY_NAME,
      </if>
      <if test="accountBank != null" >
        ACCOUNT_BANK,
      </if>
      <if test="accountName != null" >
        ACCOUNT_NAME,
      </if>
      <if test="accountNo != null" >
        ACCOUNT_NO,
      </if>
      <if test="recipient != null" >
        RECIPIENT,
      </if>
      <if test="recipientAddress != null" >
        RECIPIENT_ADDRESS,
      </if>
      <if test="techAreaName != null" >
        TECH_AREA_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="finishInfoFlag != null" >
        FINISH_INFO_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userFlow != null" >
        #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="graduateSchool != null" >
        #{graduateSchool,jdbcType=VARCHAR},
      </if>
      <if test="beginWorkYear != null" >
        #{beginWorkYear,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null" >
        #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="majorName != null" >
        #{majorName,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="award != null" >
        #{award,jdbcType=VARCHAR},
      </if>
      <if test="laborPayId != null" >
        #{laborPayId,jdbcType=VARCHAR},
      </if>
      <if test="laborPayName != null" >
        #{laborPayName,jdbcType=VARCHAR},
      </if>
      <if test="accountBank != null" >
        #{accountBank,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null" >
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="recipient != null" >
        #{recipient,jdbcType=VARCHAR},
      </if>
      <if test="recipientAddress != null" >
        #{recipientAddress,jdbcType=VARCHAR},
      </if>
      <if test="techAreaName != null" >
        #{techAreaName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="finishInfoFlag != null" >
        #{finishInfoFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SrmExpertExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.SRM_EXPERT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.SRM_EXPERT
    <set >
      <if test="record.userFlow != null" >
        USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.graduateSchool != null" >
        GRADUATE_SCHOOL = #{record.graduateSchool,jdbcType=VARCHAR},
      </if>
      <if test="record.beginWorkYear != null" >
        BEGIN_WORK_YEAR = #{record.beginWorkYear,jdbcType=VARCHAR},
      </if>
      <if test="record.fax != null" >
        FAX = #{record.fax,jdbcType=VARCHAR},
      </if>
      <if test="record.majorId != null" >
        MAJOR_ID = #{record.majorId,jdbcType=VARCHAR},
      </if>
      <if test="record.majorName != null" >
        MAJOR_NAME = #{record.majorName,jdbcType=VARCHAR},
      </if>
      <if test="record.education != null" >
        EDUCATION = #{record.education,jdbcType=VARCHAR},
      </if>
      <if test="record.post != null" >
        POST = #{record.post,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.postcode != null" >
        POSTCODE = #{record.postcode,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.award != null" >
        AWARD = #{record.award,jdbcType=VARCHAR},
      </if>
      <if test="record.laborPayId != null" >
        LABOR_PAY_ID = #{record.laborPayId,jdbcType=VARCHAR},
      </if>
      <if test="record.laborPayName != null" >
        LABOR_PAY_NAME = #{record.laborPayName,jdbcType=VARCHAR},
      </if>
      <if test="record.accountBank != null" >
        ACCOUNT_BANK = #{record.accountBank,jdbcType=VARCHAR},
      </if>
      <if test="record.accountName != null" >
        ACCOUNT_NAME = #{record.accountName,jdbcType=VARCHAR},
      </if>
      <if test="record.accountNo != null" >
        ACCOUNT_NO = #{record.accountNo,jdbcType=VARCHAR},
      </if>
      <if test="record.recipient != null" >
        RECIPIENT = #{record.recipient,jdbcType=VARCHAR},
      </if>
      <if test="record.recipientAddress != null" >
        RECIPIENT_ADDRESS = #{record.recipientAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.techAreaName != null" >
        TECH_AREA_NAME = #{record.techAreaName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.finishInfoFlag != null" >
        FINISH_INFO_FLAG = #{record.finishInfoFlag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.SRM_EXPERT
    set USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      GRADUATE_SCHOOL = #{record.graduateSchool,jdbcType=VARCHAR},
      BEGIN_WORK_YEAR = #{record.beginWorkYear,jdbcType=VARCHAR},
      FAX = #{record.fax,jdbcType=VARCHAR},
      MAJOR_ID = #{record.majorId,jdbcType=VARCHAR},
      MAJOR_NAME = #{record.majorName,jdbcType=VARCHAR},
      EDUCATION = #{record.education,jdbcType=VARCHAR},
      POST = #{record.post,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      POSTCODE = #{record.postcode,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=VARCHAR},
      AWARD = #{record.award,jdbcType=VARCHAR},
      LABOR_PAY_ID = #{record.laborPayId,jdbcType=VARCHAR},
      LABOR_PAY_NAME = #{record.laborPayName,jdbcType=VARCHAR},
      ACCOUNT_BANK = #{record.accountBank,jdbcType=VARCHAR},
      ACCOUNT_NAME = #{record.accountName,jdbcType=VARCHAR},
      ACCOUNT_NO = #{record.accountNo,jdbcType=VARCHAR},
      RECIPIENT = #{record.recipient,jdbcType=VARCHAR},
      RECIPIENT_ADDRESS = #{record.recipientAddress,jdbcType=VARCHAR},
      TECH_AREA_NAME = #{record.techAreaName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      FINISH_INFO_FLAG = #{record.finishInfoFlag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SrmExpert" >
    update PDSCI.SRM_EXPERT
    <set >
      <if test="graduateSchool != null" >
        GRADUATE_SCHOOL = #{graduateSchool,jdbcType=VARCHAR},
      </if>
      <if test="beginWorkYear != null" >
        BEGIN_WORK_YEAR = #{beginWorkYear,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        FAX = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null" >
        MAJOR_ID = #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="majorName != null" >
        MAJOR_NAME = #{majorName,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        EDUCATION = #{education,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        POST = #{post,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        POSTCODE = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="award != null" >
        AWARD = #{award,jdbcType=VARCHAR},
      </if>
      <if test="laborPayId != null" >
        LABOR_PAY_ID = #{laborPayId,jdbcType=VARCHAR},
      </if>
      <if test="laborPayName != null" >
        LABOR_PAY_NAME = #{laborPayName,jdbcType=VARCHAR},
      </if>
      <if test="accountBank != null" >
        ACCOUNT_BANK = #{accountBank,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null" >
        ACCOUNT_NO = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="recipient != null" >
        RECIPIENT = #{recipient,jdbcType=VARCHAR},
      </if>
      <if test="recipientAddress != null" >
        RECIPIENT_ADDRESS = #{recipientAddress,jdbcType=VARCHAR},
      </if>
      <if test="techAreaName != null" >
        TECH_AREA_NAME = #{techAreaName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="finishInfoFlag != null" >
        FINISH_INFO_FLAG = #{finishInfoFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_FLOW = #{userFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SrmExpert" >
    update PDSCI.SRM_EXPERT
    set GRADUATE_SCHOOL = #{graduateSchool,jdbcType=VARCHAR},
      BEGIN_WORK_YEAR = #{beginWorkYear,jdbcType=VARCHAR},
      FAX = #{fax,jdbcType=VARCHAR},
      MAJOR_ID = #{majorId,jdbcType=VARCHAR},
      MAJOR_NAME = #{majorName,jdbcType=VARCHAR},
      EDUCATION = #{education,jdbcType=VARCHAR},
      POST = #{post,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      POSTCODE = #{postcode,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      AWARD = #{award,jdbcType=VARCHAR},
      LABOR_PAY_ID = #{laborPayId,jdbcType=VARCHAR},
      LABOR_PAY_NAME = #{laborPayName,jdbcType=VARCHAR},
      ACCOUNT_BANK = #{accountBank,jdbcType=VARCHAR},
      ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
      ACCOUNT_NO = #{accountNo,jdbcType=VARCHAR},
      RECIPIENT = #{recipient,jdbcType=VARCHAR},
      RECIPIENT_ADDRESS = #{recipientAddress,jdbcType=VARCHAR},
      TECH_AREA_NAME = #{techAreaName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      FINISH_INFO_FLAG = #{finishInfoFlag,jdbcType=VARCHAR}
    where USER_FLOW = #{userFlow,jdbcType=VARCHAR}
  </update>
</mapper>