<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.SrmExpertProjMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SrmExpertProj" >
    <id column="EXPERT_PROJ_FLOW" property="expertProjFlow" jdbcType="VARCHAR" />
    <result column="PROJ_FLOW" property="projFlow" jdbcType="VARCHAR" />
    <result column="PROJ_NAME" property="projName" jdbcType="VARCHAR" />
    <result column="USER_FLOW" property="userFlow" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="EMAIL_NOTIFY_FLAG" property="emailNotifyFlag" jdbcType="VARCHAR" />
    <result column="PHONE_NOTIFY_FLAG" property="phoneNotifyFlag" jdbcType="VARCHAR" />
    <result column="FEEDBACK_INFO" property="feedbackInfo" jdbcType="VARCHAR" />
    <result column="AGREE_FLAG" property="agreeFlag" jdbcType="VARCHAR" />
    <result column="SCORE_TOTAL" property="scoreTotal" jdbcType="VARCHAR" />
    <result column="SCORE_RESULT_ID" property="scoreResultId" jdbcType="VARCHAR" />
    <result column="SCORE_RESULT_NAME" property="scoreResultName" jdbcType="VARCHAR" />
    <result column="EXPERT_OPINION" property="expertOpinion" jdbcType="VARCHAR" />
    <result column="EVAL_SET_FLOW" property="evalSetFlow" jdbcType="VARCHAR" />
    <result column="GROUP_FLOW" property="groupFlow" jdbcType="VARCHAR" />
    <result column="EVAL_STATUS_ID" property="evalStatusId" jdbcType="VARCHAR" />
    <result column="EVAL_STATUS_NAME" property="evalStatusName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pinde.sci.model.mo.SrmExpertProj" extends="BaseResultMap" >
    <result column="SCORE_ITEM" property="scoreItem" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    EXPERT_PROJ_FLOW, PROJ_FLOW, PROJ_NAME, USER_FLOW, USER_NAME, EMAIL_NOTIFY_FLAG, 
    PHONE_NOTIFY_FLAG, FEEDBACK_INFO, AGREE_FLAG, SCORE_TOTAL, SCORE_RESULT_ID, SCORE_RESULT_NAME, 
    EXPERT_OPINION, EVAL_SET_FLOW, GROUP_FLOW, EVAL_STATUS_ID, EVAL_STATUS_NAME, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <sql id="Blob_Column_List" >
    SCORE_ITEM
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pinde.sci.model.mo.SrmExpertProjExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.SRM_EXPERT_PROJ
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.SrmExpertProjExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.SRM_EXPERT_PROJ
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.SRM_EXPERT_PROJ
    where EXPERT_PROJ_FLOW = #{expertProjFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.SRM_EXPERT_PROJ
    where EXPERT_PROJ_FLOW = #{expertProjFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SrmExpertProjExample" >
    delete from PDSCI.SRM_EXPERT_PROJ
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SrmExpertProj" >
    insert into PDSCI.SRM_EXPERT_PROJ (EXPERT_PROJ_FLOW, PROJ_FLOW, PROJ_NAME, 
      USER_FLOW, USER_NAME, EMAIL_NOTIFY_FLAG, 
      PHONE_NOTIFY_FLAG, FEEDBACK_INFO, AGREE_FLAG, 
      SCORE_TOTAL, SCORE_RESULT_ID, SCORE_RESULT_NAME, 
      EXPERT_OPINION, EVAL_SET_FLOW, GROUP_FLOW, 
      EVAL_STATUS_ID, EVAL_STATUS_NAME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, SCORE_ITEM)
    values (#{expertProjFlow,jdbcType=VARCHAR}, #{projFlow,jdbcType=VARCHAR}, #{projName,jdbcType=VARCHAR}, 
      #{userFlow,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{emailNotifyFlag,jdbcType=VARCHAR}, 
      #{phoneNotifyFlag,jdbcType=VARCHAR}, #{feedbackInfo,jdbcType=VARCHAR}, #{agreeFlag,jdbcType=VARCHAR}, 
      #{scoreTotal,jdbcType=VARCHAR}, #{scoreResultId,jdbcType=VARCHAR}, #{scoreResultName,jdbcType=VARCHAR}, 
      #{expertOpinion,jdbcType=VARCHAR}, #{evalSetFlow,jdbcType=VARCHAR}, #{groupFlow,jdbcType=VARCHAR}, 
      #{evalStatusId,jdbcType=VARCHAR}, #{evalStatusName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{scoreItem,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SrmExpertProj" >
    insert into PDSCI.SRM_EXPERT_PROJ
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="expertProjFlow != null" >
        EXPERT_PROJ_FLOW,
      </if>
      <if test="projFlow != null" >
        PROJ_FLOW,
      </if>
      <if test="projName != null" >
        PROJ_NAME,
      </if>
      <if test="userFlow != null" >
        USER_FLOW,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="emailNotifyFlag != null" >
        EMAIL_NOTIFY_FLAG,
      </if>
      <if test="phoneNotifyFlag != null" >
        PHONE_NOTIFY_FLAG,
      </if>
      <if test="feedbackInfo != null" >
        FEEDBACK_INFO,
      </if>
      <if test="agreeFlag != null" >
        AGREE_FLAG,
      </if>
      <if test="scoreTotal != null" >
        SCORE_TOTAL,
      </if>
      <if test="scoreResultId != null" >
        SCORE_RESULT_ID,
      </if>
      <if test="scoreResultName != null" >
        SCORE_RESULT_NAME,
      </if>
      <if test="expertOpinion != null" >
        EXPERT_OPINION,
      </if>
      <if test="evalSetFlow != null" >
        EVAL_SET_FLOW,
      </if>
      <if test="groupFlow != null" >
        GROUP_FLOW,
      </if>
      <if test="evalStatusId != null" >
        EVAL_STATUS_ID,
      </if>
      <if test="evalStatusName != null" >
        EVAL_STATUS_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="scoreItem != null" >
        SCORE_ITEM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="expertProjFlow != null" >
        #{expertProjFlow,jdbcType=VARCHAR},
      </if>
      <if test="projFlow != null" >
        #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="projName != null" >
        #{projName,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null" >
        #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="emailNotifyFlag != null" >
        #{emailNotifyFlag,jdbcType=VARCHAR},
      </if>
      <if test="phoneNotifyFlag != null" >
        #{phoneNotifyFlag,jdbcType=VARCHAR},
      </if>
      <if test="feedbackInfo != null" >
        #{feedbackInfo,jdbcType=VARCHAR},
      </if>
      <if test="agreeFlag != null" >
        #{agreeFlag,jdbcType=VARCHAR},
      </if>
      <if test="scoreTotal != null" >
        #{scoreTotal,jdbcType=VARCHAR},
      </if>
      <if test="scoreResultId != null" >
        #{scoreResultId,jdbcType=VARCHAR},
      </if>
      <if test="scoreResultName != null" >
        #{scoreResultName,jdbcType=VARCHAR},
      </if>
      <if test="expertOpinion != null" >
        #{expertOpinion,jdbcType=VARCHAR},
      </if>
      <if test="evalSetFlow != null" >
        #{evalSetFlow,jdbcType=VARCHAR},
      </if>
      <if test="groupFlow != null" >
        #{groupFlow,jdbcType=VARCHAR},
      </if>
      <if test="evalStatusId != null" >
        #{evalStatusId,jdbcType=VARCHAR},
      </if>
      <if test="evalStatusName != null" >
        #{evalStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="scoreItem != null" >
        #{scoreItem,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SrmExpertProjExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.SRM_EXPERT_PROJ
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.SRM_EXPERT_PROJ
    <set >
      <if test="record.expertProjFlow != null" >
        EXPERT_PROJ_FLOW = #{record.expertProjFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projFlow != null" >
        PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projName != null" >
        PROJ_NAME = #{record.projName,jdbcType=VARCHAR},
      </if>
      <if test="record.userFlow != null" >
        USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.emailNotifyFlag != null" >
        EMAIL_NOTIFY_FLAG = #{record.emailNotifyFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNotifyFlag != null" >
        PHONE_NOTIFY_FLAG = #{record.phoneNotifyFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.feedbackInfo != null" >
        FEEDBACK_INFO = #{record.feedbackInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.agreeFlag != null" >
        AGREE_FLAG = #{record.agreeFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreTotal != null" >
        SCORE_TOTAL = #{record.scoreTotal,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreResultId != null" >
        SCORE_RESULT_ID = #{record.scoreResultId,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreResultName != null" >
        SCORE_RESULT_NAME = #{record.scoreResultName,jdbcType=VARCHAR},
      </if>
      <if test="record.expertOpinion != null" >
        EXPERT_OPINION = #{record.expertOpinion,jdbcType=VARCHAR},
      </if>
      <if test="record.evalSetFlow != null" >
        EVAL_SET_FLOW = #{record.evalSetFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.groupFlow != null" >
        GROUP_FLOW = #{record.groupFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.evalStatusId != null" >
        EVAL_STATUS_ID = #{record.evalStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.evalStatusName != null" >
        EVAL_STATUS_NAME = #{record.evalStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreItem != null" >
        SCORE_ITEM = #{record.scoreItem,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update PDSCI.SRM_EXPERT_PROJ
    set EXPERT_PROJ_FLOW = #{record.expertProjFlow,jdbcType=VARCHAR},
      PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      PROJ_NAME = #{record.projName,jdbcType=VARCHAR},
      USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      EMAIL_NOTIFY_FLAG = #{record.emailNotifyFlag,jdbcType=VARCHAR},
      PHONE_NOTIFY_FLAG = #{record.phoneNotifyFlag,jdbcType=VARCHAR},
      FEEDBACK_INFO = #{record.feedbackInfo,jdbcType=VARCHAR},
      AGREE_FLAG = #{record.agreeFlag,jdbcType=VARCHAR},
      SCORE_TOTAL = #{record.scoreTotal,jdbcType=VARCHAR},
      SCORE_RESULT_ID = #{record.scoreResultId,jdbcType=VARCHAR},
      SCORE_RESULT_NAME = #{record.scoreResultName,jdbcType=VARCHAR},
      EXPERT_OPINION = #{record.expertOpinion,jdbcType=VARCHAR},
      EVAL_SET_FLOW = #{record.evalSetFlow,jdbcType=VARCHAR},
      GROUP_FLOW = #{record.groupFlow,jdbcType=VARCHAR},
      EVAL_STATUS_ID = #{record.evalStatusId,jdbcType=VARCHAR},
      EVAL_STATUS_NAME = #{record.evalStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      SCORE_ITEM = #{record.scoreItem,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.SRM_EXPERT_PROJ
    set EXPERT_PROJ_FLOW = #{record.expertProjFlow,jdbcType=VARCHAR},
      PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      PROJ_NAME = #{record.projName,jdbcType=VARCHAR},
      USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      EMAIL_NOTIFY_FLAG = #{record.emailNotifyFlag,jdbcType=VARCHAR},
      PHONE_NOTIFY_FLAG = #{record.phoneNotifyFlag,jdbcType=VARCHAR},
      FEEDBACK_INFO = #{record.feedbackInfo,jdbcType=VARCHAR},
      AGREE_FLAG = #{record.agreeFlag,jdbcType=VARCHAR},
      SCORE_TOTAL = #{record.scoreTotal,jdbcType=VARCHAR},
      SCORE_RESULT_ID = #{record.scoreResultId,jdbcType=VARCHAR},
      SCORE_RESULT_NAME = #{record.scoreResultName,jdbcType=VARCHAR},
      EXPERT_OPINION = #{record.expertOpinion,jdbcType=VARCHAR},
      EVAL_SET_FLOW = #{record.evalSetFlow,jdbcType=VARCHAR},
      GROUP_FLOW = #{record.groupFlow,jdbcType=VARCHAR},
      EVAL_STATUS_ID = #{record.evalStatusId,jdbcType=VARCHAR},
      EVAL_STATUS_NAME = #{record.evalStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SrmExpertProj" >
    update PDSCI.SRM_EXPERT_PROJ
    <set >
      <if test="projFlow != null" >
        PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="projName != null" >
        PROJ_NAME = #{projName,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null" >
        USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="emailNotifyFlag != null" >
        EMAIL_NOTIFY_FLAG = #{emailNotifyFlag,jdbcType=VARCHAR},
      </if>
      <if test="phoneNotifyFlag != null" >
        PHONE_NOTIFY_FLAG = #{phoneNotifyFlag,jdbcType=VARCHAR},
      </if>
      <if test="feedbackInfo != null" >
        FEEDBACK_INFO = #{feedbackInfo,jdbcType=VARCHAR},
      </if>
      <if test="agreeFlag != null" >
        AGREE_FLAG = #{agreeFlag,jdbcType=VARCHAR},
      </if>
      <if test="scoreTotal != null" >
        SCORE_TOTAL = #{scoreTotal,jdbcType=VARCHAR},
      </if>
      <if test="scoreResultId != null" >
        SCORE_RESULT_ID = #{scoreResultId,jdbcType=VARCHAR},
      </if>
      <if test="scoreResultName != null" >
        SCORE_RESULT_NAME = #{scoreResultName,jdbcType=VARCHAR},
      </if>
      <if test="expertOpinion != null" >
        EXPERT_OPINION = #{expertOpinion,jdbcType=VARCHAR},
      </if>
      <if test="evalSetFlow != null" >
        EVAL_SET_FLOW = #{evalSetFlow,jdbcType=VARCHAR},
      </if>
      <if test="groupFlow != null" >
        GROUP_FLOW = #{groupFlow,jdbcType=VARCHAR},
      </if>
      <if test="evalStatusId != null" >
        EVAL_STATUS_ID = #{evalStatusId,jdbcType=VARCHAR},
      </if>
      <if test="evalStatusName != null" >
        EVAL_STATUS_NAME = #{evalStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="scoreItem != null" >
        SCORE_ITEM = #{scoreItem,jdbcType=CLOB},
      </if>
    </set>
    where EXPERT_PROJ_FLOW = #{expertProjFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.sci.model.mo.SrmExpertProj" >
    update PDSCI.SRM_EXPERT_PROJ
    set PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      PROJ_NAME = #{projName,jdbcType=VARCHAR},
      USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      EMAIL_NOTIFY_FLAG = #{emailNotifyFlag,jdbcType=VARCHAR},
      PHONE_NOTIFY_FLAG = #{phoneNotifyFlag,jdbcType=VARCHAR},
      FEEDBACK_INFO = #{feedbackInfo,jdbcType=VARCHAR},
      AGREE_FLAG = #{agreeFlag,jdbcType=VARCHAR},
      SCORE_TOTAL = #{scoreTotal,jdbcType=VARCHAR},
      SCORE_RESULT_ID = #{scoreResultId,jdbcType=VARCHAR},
      SCORE_RESULT_NAME = #{scoreResultName,jdbcType=VARCHAR},
      EXPERT_OPINION = #{expertOpinion,jdbcType=VARCHAR},
      EVAL_SET_FLOW = #{evalSetFlow,jdbcType=VARCHAR},
      GROUP_FLOW = #{groupFlow,jdbcType=VARCHAR},
      EVAL_STATUS_ID = #{evalStatusId,jdbcType=VARCHAR},
      EVAL_STATUS_NAME = #{evalStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      SCORE_ITEM = #{scoreItem,jdbcType=CLOB}
    where EXPERT_PROJ_FLOW = #{expertProjFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SrmExpertProj" >
    update PDSCI.SRM_EXPERT_PROJ
    set PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      PROJ_NAME = #{projName,jdbcType=VARCHAR},
      USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      EMAIL_NOTIFY_FLAG = #{emailNotifyFlag,jdbcType=VARCHAR},
      PHONE_NOTIFY_FLAG = #{phoneNotifyFlag,jdbcType=VARCHAR},
      FEEDBACK_INFO = #{feedbackInfo,jdbcType=VARCHAR},
      AGREE_FLAG = #{agreeFlag,jdbcType=VARCHAR},
      SCORE_TOTAL = #{scoreTotal,jdbcType=VARCHAR},
      SCORE_RESULT_ID = #{scoreResultId,jdbcType=VARCHAR},
      SCORE_RESULT_NAME = #{scoreResultName,jdbcType=VARCHAR},
      EXPERT_OPINION = #{expertOpinion,jdbcType=VARCHAR},
      EVAL_SET_FLOW = #{evalSetFlow,jdbcType=VARCHAR},
      GROUP_FLOW = #{groupFlow,jdbcType=VARCHAR},
      EVAL_STATUS_ID = #{evalStatusId,jdbcType=VARCHAR},
      EVAL_STATUS_NAME = #{evalStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where EXPERT_PROJ_FLOW = #{expertProjFlow,jdbcType=VARCHAR}
  </update>
</mapper>