<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.SrmExpertGroupUserMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SrmExpertGroupUser" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="GROUP_FLOW" property="groupFlow" jdbcType="VARCHAR" />
    <result column="USER_FLOW" property="userFlow" jdbcType="VARCHAR" />
    <result column="EXPERT_STATUS_ID" property="expertStatusId" jdbcType="VARCHAR" />
    <result column="EXPERT_STATUS_NAME" property="expertStatusName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="SIGN_FLAG" property="signFlag" jdbcType="VARCHAR" />
    <result column="EMAIL_NOTIFY_FLAG" property="emailNotifyFlag" jdbcType="VARCHAR" />
    <result column="PHONE_NOTIFY_FLAG" property="phoneNotifyFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, GROUP_FLOW, USER_FLOW, EXPERT_STATUS_ID, EXPERT_STATUS_NAME, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, SIGN_FLAG, EMAIL_NOTIFY_FLAG, 
    PHONE_NOTIFY_FLAG
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.SrmExpertGroupUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.SRM_EXPERT_GROUP_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.SRM_EXPERT_GROUP_USER
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.SRM_EXPERT_GROUP_USER
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SrmExpertGroupUserExample" >
    delete from PDSCI.SRM_EXPERT_GROUP_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SrmExpertGroupUser" >
    insert into PDSCI.SRM_EXPERT_GROUP_USER (RECORD_FLOW, GROUP_FLOW, USER_FLOW, 
      EXPERT_STATUS_ID, EXPERT_STATUS_NAME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, SIGN_FLAG, EMAIL_NOTIFY_FLAG, 
      PHONE_NOTIFY_FLAG)
    values (#{recordFlow,jdbcType=VARCHAR}, #{groupFlow,jdbcType=VARCHAR}, #{userFlow,jdbcType=VARCHAR}, 
      #{expertStatusId,jdbcType=VARCHAR}, #{expertStatusName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{signFlag,jdbcType=VARCHAR}, #{emailNotifyFlag,jdbcType=VARCHAR}, 
      #{phoneNotifyFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SrmExpertGroupUser" >
    insert into PDSCI.SRM_EXPERT_GROUP_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="groupFlow != null" >
        GROUP_FLOW,
      </if>
      <if test="userFlow != null" >
        USER_FLOW,
      </if>
      <if test="expertStatusId != null" >
        EXPERT_STATUS_ID,
      </if>
      <if test="expertStatusName != null" >
        EXPERT_STATUS_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="signFlag != null" >
        SIGN_FLAG,
      </if>
      <if test="emailNotifyFlag != null" >
        EMAIL_NOTIFY_FLAG,
      </if>
      <if test="phoneNotifyFlag != null" >
        PHONE_NOTIFY_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="groupFlow != null" >
        #{groupFlow,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null" >
        #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="expertStatusId != null" >
        #{expertStatusId,jdbcType=VARCHAR},
      </if>
      <if test="expertStatusName != null" >
        #{expertStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="signFlag != null" >
        #{signFlag,jdbcType=VARCHAR},
      </if>
      <if test="emailNotifyFlag != null" >
        #{emailNotifyFlag,jdbcType=VARCHAR},
      </if>
      <if test="phoneNotifyFlag != null" >
        #{phoneNotifyFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SrmExpertGroupUserExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.SRM_EXPERT_GROUP_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.SRM_EXPERT_GROUP_USER
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.groupFlow != null" >
        GROUP_FLOW = #{record.groupFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userFlow != null" >
        USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.expertStatusId != null" >
        EXPERT_STATUS_ID = #{record.expertStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.expertStatusName != null" >
        EXPERT_STATUS_NAME = #{record.expertStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.signFlag != null" >
        SIGN_FLAG = #{record.signFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.emailNotifyFlag != null" >
        EMAIL_NOTIFY_FLAG = #{record.emailNotifyFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNotifyFlag != null" >
        PHONE_NOTIFY_FLAG = #{record.phoneNotifyFlag,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.SRM_EXPERT_GROUP_USER
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      GROUP_FLOW = #{record.groupFlow,jdbcType=VARCHAR},
      USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      EXPERT_STATUS_ID = #{record.expertStatusId,jdbcType=VARCHAR},
      EXPERT_STATUS_NAME = #{record.expertStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      SIGN_FLAG = #{record.signFlag,jdbcType=VARCHAR},
      EMAIL_NOTIFY_FLAG = #{record.emailNotifyFlag,jdbcType=VARCHAR},
      PHONE_NOTIFY_FLAG = #{record.phoneNotifyFlag,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SrmExpertGroupUser" >
    update PDSCI.SRM_EXPERT_GROUP_USER
    <set >
      <if test="groupFlow != null" >
        GROUP_FLOW = #{groupFlow,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null" >
        USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="expertStatusId != null" >
        EXPERT_STATUS_ID = #{expertStatusId,jdbcType=VARCHAR},
      </if>
      <if test="expertStatusName != null" >
        EXPERT_STATUS_NAME = #{expertStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="signFlag != null" >
        SIGN_FLAG = #{signFlag,jdbcType=VARCHAR},
      </if>
      <if test="emailNotifyFlag != null" >
        EMAIL_NOTIFY_FLAG = #{emailNotifyFlag,jdbcType=VARCHAR},
      </if>
      <if test="phoneNotifyFlag != null" >
        PHONE_NOTIFY_FLAG = #{phoneNotifyFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SrmExpertGroupUser" >
    update PDSCI.SRM_EXPERT_GROUP_USER
    set GROUP_FLOW = #{groupFlow,jdbcType=VARCHAR},
      USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      EXPERT_STATUS_ID = #{expertStatusId,jdbcType=VARCHAR},
      EXPERT_STATUS_NAME = #{expertStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      SIGN_FLAG = #{signFlag,jdbcType=VARCHAR},
      EMAIL_NOTIFY_FLAG = #{emailNotifyFlag,jdbcType=VARCHAR},
      PHONE_NOTIFY_FLAG = #{phoneNotifyFlag,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>