<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.SrmExpertProjEvalMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SrmExpertProjEval" >
    <id column="EVAL_SET_FLOW" property="evalSetFlow" jdbcType="VARCHAR" />
    <result column="GROUP_FLOW" property="groupFlow" jdbcType="VARCHAR" />
    <result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR" />
    <result column="PROJ_FLOW" property="projFlow" jdbcType="VARCHAR" />
    <result column="LOCK_STATUS" property="lockStatus" jdbcType="VARCHAR" />
    <result column="BEGIN_DATE" property="beginDate" jdbcType="VARCHAR" />
    <result column="END_DATE" property="endDate" jdbcType="VARCHAR" />
    <result column="SCHEME_FLOW" property="schemeFlow" jdbcType="VARCHAR" />
    <result column="SCHEME_NAME" property="schemeName" jdbcType="VARCHAR" />
    <result column="EVALUATION_ID" property="evaluationId" jdbcType="VARCHAR" />
    <result column="EVALUATION_NAME" property="evaluationName" jdbcType="VARCHAR" />
    <result column="EVALUATION_WAY_ID" property="evaluationWayId" jdbcType="VARCHAR" />
    <result column="EVALUATION_WAY_NAME" property="evaluationWayName" jdbcType="VARCHAR" />
    <result column="EVAL_STATUS_ID" property="evalStatusId" jdbcType="VARCHAR" />
    <result column="EVAL_STATUS_NAME" property="evalStatusName" jdbcType="VARCHAR" />
    <result column="EVAL_OPINION" property="evalOpinion" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    EVAL_SET_FLOW, GROUP_FLOW, GROUP_NAME, PROJ_FLOW, LOCK_STATUS, BEGIN_DATE, END_DATE, 
    SCHEME_FLOW, SCHEME_NAME, EVALUATION_ID, EVALUATION_NAME, EVALUATION_WAY_ID, EVALUATION_WAY_NAME, 
    EVAL_STATUS_ID, EVAL_STATUS_NAME, EVAL_OPINION, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.SrmExpertProjEvalExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.SRM_EXPERT_PROJ_EVAL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.SRM_EXPERT_PROJ_EVAL
    where EVAL_SET_FLOW = #{evalSetFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.SRM_EXPERT_PROJ_EVAL
    where EVAL_SET_FLOW = #{evalSetFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SrmExpertProjEvalExample" >
    delete from PDSCI.SRM_EXPERT_PROJ_EVAL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SrmExpertProjEval" >
    insert into PDSCI.SRM_EXPERT_PROJ_EVAL (EVAL_SET_FLOW, GROUP_FLOW, GROUP_NAME, 
      PROJ_FLOW, LOCK_STATUS, BEGIN_DATE, 
      END_DATE, SCHEME_FLOW, SCHEME_NAME, 
      EVALUATION_ID, EVALUATION_NAME, EVALUATION_WAY_ID, 
      EVALUATION_WAY_NAME, EVAL_STATUS_ID, EVAL_STATUS_NAME, 
      EVAL_OPINION, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
      )
    values (#{evalSetFlow,jdbcType=VARCHAR}, #{groupFlow,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, 
      #{projFlow,jdbcType=VARCHAR}, #{lockStatus,jdbcType=VARCHAR}, #{beginDate,jdbcType=VARCHAR}, 
      #{endDate,jdbcType=VARCHAR}, #{schemeFlow,jdbcType=VARCHAR}, #{schemeName,jdbcType=VARCHAR}, 
      #{evaluationId,jdbcType=VARCHAR}, #{evaluationName,jdbcType=VARCHAR}, #{evaluationWayId,jdbcType=VARCHAR}, 
      #{evaluationWayName,jdbcType=VARCHAR}, #{evalStatusId,jdbcType=VARCHAR}, #{evalStatusName,jdbcType=VARCHAR}, 
      #{evalOpinion,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SrmExpertProjEval" >
    insert into PDSCI.SRM_EXPERT_PROJ_EVAL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="evalSetFlow != null" >
        EVAL_SET_FLOW,
      </if>
      <if test="groupFlow != null" >
        GROUP_FLOW,
      </if>
      <if test="groupName != null" >
        GROUP_NAME,
      </if>
      <if test="projFlow != null" >
        PROJ_FLOW,
      </if>
      <if test="lockStatus != null" >
        LOCK_STATUS,
      </if>
      <if test="beginDate != null" >
        BEGIN_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="schemeFlow != null" >
        SCHEME_FLOW,
      </if>
      <if test="schemeName != null" >
        SCHEME_NAME,
      </if>
      <if test="evaluationId != null" >
        EVALUATION_ID,
      </if>
      <if test="evaluationName != null" >
        EVALUATION_NAME,
      </if>
      <if test="evaluationWayId != null" >
        EVALUATION_WAY_ID,
      </if>
      <if test="evaluationWayName != null" >
        EVALUATION_WAY_NAME,
      </if>
      <if test="evalStatusId != null" >
        EVAL_STATUS_ID,
      </if>
      <if test="evalStatusName != null" >
        EVAL_STATUS_NAME,
      </if>
      <if test="evalOpinion != null" >
        EVAL_OPINION,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="evalSetFlow != null" >
        #{evalSetFlow,jdbcType=VARCHAR},
      </if>
      <if test="groupFlow != null" >
        #{groupFlow,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="projFlow != null" >
        #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="lockStatus != null" >
        #{lockStatus,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null" >
        #{beginDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="schemeFlow != null" >
        #{schemeFlow,jdbcType=VARCHAR},
      </if>
      <if test="schemeName != null" >
        #{schemeName,jdbcType=VARCHAR},
      </if>
      <if test="evaluationId != null" >
        #{evaluationId,jdbcType=VARCHAR},
      </if>
      <if test="evaluationName != null" >
        #{evaluationName,jdbcType=VARCHAR},
      </if>
      <if test="evaluationWayId != null" >
        #{evaluationWayId,jdbcType=VARCHAR},
      </if>
      <if test="evaluationWayName != null" >
        #{evaluationWayName,jdbcType=VARCHAR},
      </if>
      <if test="evalStatusId != null" >
        #{evalStatusId,jdbcType=VARCHAR},
      </if>
      <if test="evalStatusName != null" >
        #{evalStatusName,jdbcType=VARCHAR},
      </if>
      <if test="evalOpinion != null" >
        #{evalOpinion,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SrmExpertProjEvalExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.SRM_EXPERT_PROJ_EVAL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.SRM_EXPERT_PROJ_EVAL
    <set >
      <if test="record.evalSetFlow != null" >
        EVAL_SET_FLOW = #{record.evalSetFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.groupFlow != null" >
        GROUP_FLOW = #{record.groupFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.groupName != null" >
        GROUP_NAME = #{record.groupName,jdbcType=VARCHAR},
      </if>
      <if test="record.projFlow != null" >
        PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.lockStatus != null" >
        LOCK_STATUS = #{record.lockStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.beginDate != null" >
        BEGIN_DATE = #{record.beginDate,jdbcType=VARCHAR},
      </if>
      <if test="record.endDate != null" >
        END_DATE = #{record.endDate,jdbcType=VARCHAR},
      </if>
      <if test="record.schemeFlow != null" >
        SCHEME_FLOW = #{record.schemeFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.schemeName != null" >
        SCHEME_NAME = #{record.schemeName,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluationId != null" >
        EVALUATION_ID = #{record.evaluationId,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluationName != null" >
        EVALUATION_NAME = #{record.evaluationName,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluationWayId != null" >
        EVALUATION_WAY_ID = #{record.evaluationWayId,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluationWayName != null" >
        EVALUATION_WAY_NAME = #{record.evaluationWayName,jdbcType=VARCHAR},
      </if>
      <if test="record.evalStatusId != null" >
        EVAL_STATUS_ID = #{record.evalStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.evalStatusName != null" >
        EVAL_STATUS_NAME = #{record.evalStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.evalOpinion != null" >
        EVAL_OPINION = #{record.evalOpinion,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.SRM_EXPERT_PROJ_EVAL
    set EVAL_SET_FLOW = #{record.evalSetFlow,jdbcType=VARCHAR},
      GROUP_FLOW = #{record.groupFlow,jdbcType=VARCHAR},
      GROUP_NAME = #{record.groupName,jdbcType=VARCHAR},
      PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      LOCK_STATUS = #{record.lockStatus,jdbcType=VARCHAR},
      BEGIN_DATE = #{record.beginDate,jdbcType=VARCHAR},
      END_DATE = #{record.endDate,jdbcType=VARCHAR},
      SCHEME_FLOW = #{record.schemeFlow,jdbcType=VARCHAR},
      SCHEME_NAME = #{record.schemeName,jdbcType=VARCHAR},
      EVALUATION_ID = #{record.evaluationId,jdbcType=VARCHAR},
      EVALUATION_NAME = #{record.evaluationName,jdbcType=VARCHAR},
      EVALUATION_WAY_ID = #{record.evaluationWayId,jdbcType=VARCHAR},
      EVALUATION_WAY_NAME = #{record.evaluationWayName,jdbcType=VARCHAR},
      EVAL_STATUS_ID = #{record.evalStatusId,jdbcType=VARCHAR},
      EVAL_STATUS_NAME = #{record.evalStatusName,jdbcType=VARCHAR},
      EVAL_OPINION = #{record.evalOpinion,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SrmExpertProjEval" >
    update PDSCI.SRM_EXPERT_PROJ_EVAL
    <set >
      <if test="groupFlow != null" >
        GROUP_FLOW = #{groupFlow,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="projFlow != null" >
        PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="lockStatus != null" >
        LOCK_STATUS = #{lockStatus,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null" >
        BEGIN_DATE = #{beginDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="schemeFlow != null" >
        SCHEME_FLOW = #{schemeFlow,jdbcType=VARCHAR},
      </if>
      <if test="schemeName != null" >
        SCHEME_NAME = #{schemeName,jdbcType=VARCHAR},
      </if>
      <if test="evaluationId != null" >
        EVALUATION_ID = #{evaluationId,jdbcType=VARCHAR},
      </if>
      <if test="evaluationName != null" >
        EVALUATION_NAME = #{evaluationName,jdbcType=VARCHAR},
      </if>
      <if test="evaluationWayId != null" >
        EVALUATION_WAY_ID = #{evaluationWayId,jdbcType=VARCHAR},
      </if>
      <if test="evaluationWayName != null" >
        EVALUATION_WAY_NAME = #{evaluationWayName,jdbcType=VARCHAR},
      </if>
      <if test="evalStatusId != null" >
        EVAL_STATUS_ID = #{evalStatusId,jdbcType=VARCHAR},
      </if>
      <if test="evalStatusName != null" >
        EVAL_STATUS_NAME = #{evalStatusName,jdbcType=VARCHAR},
      </if>
      <if test="evalOpinion != null" >
        EVAL_OPINION = #{evalOpinion,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where EVAL_SET_FLOW = #{evalSetFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SrmExpertProjEval" >
    update PDSCI.SRM_EXPERT_PROJ_EVAL
    set GROUP_FLOW = #{groupFlow,jdbcType=VARCHAR},
      GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      LOCK_STATUS = #{lockStatus,jdbcType=VARCHAR},
      BEGIN_DATE = #{beginDate,jdbcType=VARCHAR},
      END_DATE = #{endDate,jdbcType=VARCHAR},
      SCHEME_FLOW = #{schemeFlow,jdbcType=VARCHAR},
      SCHEME_NAME = #{schemeName,jdbcType=VARCHAR},
      EVALUATION_ID = #{evaluationId,jdbcType=VARCHAR},
      EVALUATION_NAME = #{evaluationName,jdbcType=VARCHAR},
      EVALUATION_WAY_ID = #{evaluationWayId,jdbcType=VARCHAR},
      EVALUATION_WAY_NAME = #{evaluationWayName,jdbcType=VARCHAR},
      EVAL_STATUS_ID = #{evalStatusId,jdbcType=VARCHAR},
      EVAL_STATUS_NAME = #{evalStatusName,jdbcType=VARCHAR},
      EVAL_OPINION = #{evalOpinion,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where EVAL_SET_FLOW = #{evalSetFlow,jdbcType=VARCHAR}
  </update>
</mapper>