<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.SrmFundSchemeDetailMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SrmFundSchemeDetail">
    <id column="ITEM_FLOW" jdbcType="VARCHAR" property="itemFlow" />
    <result column="SCHEME_FLOW" jdbcType="VARCHAR" property="schemeFlow" />
    <result column="SCHEME_NAME" jdbcType="VARCHAR" property="schemeName" />
    <result column="ITEM_ID" jdbcType="VARCHAR" property="itemId" />
    <result column="ITEM_NAME" jdbcType="VARCHAR" property="itemName" />
    <result column="MAX_LIMIT" jdbcType="VARCHAR" property="maxLimit" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="ITEM_PID" jdbcType="VARCHAR" property="itemPid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ITEM_FLOW, SCHEME_FLOW, SCHEME_NAME, ITEM_ID, ITEM_NAME, MAX_LIMIT, REMARK, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, ITEM_PID
  </sql>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.SrmFundSchemeDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.SRM_FUND_SCHEME_DETAIL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PDSCI.SRM_FUND_SCHEME_DETAIL
    where ITEM_FLOW = #{itemFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.SRM_FUND_SCHEME_DETAIL
    where ITEM_FLOW = #{itemFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SrmFundSchemeDetailExample">
    delete from PDSCI.SRM_FUND_SCHEME_DETAIL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SrmFundSchemeDetail">
    insert into PDSCI.SRM_FUND_SCHEME_DETAIL (ITEM_FLOW, SCHEME_FLOW, SCHEME_NAME, 
      ITEM_ID, ITEM_NAME, MAX_LIMIT, 
      REMARK, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      ITEM_PID)
    values (#{itemFlow,jdbcType=VARCHAR}, #{schemeFlow,jdbcType=VARCHAR}, #{schemeName,jdbcType=VARCHAR}, 
      #{itemId,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, #{maxLimit,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{itemPid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SrmFundSchemeDetail">
    insert into PDSCI.SRM_FUND_SCHEME_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemFlow != null">
        ITEM_FLOW,
      </if>
      <if test="schemeFlow != null">
        SCHEME_FLOW,
      </if>
      <if test="schemeName != null">
        SCHEME_NAME,
      </if>
      <if test="itemId != null">
        ITEM_ID,
      </if>
      <if test="itemName != null">
        ITEM_NAME,
      </if>
      <if test="maxLimit != null">
        MAX_LIMIT,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="itemPid != null">
        ITEM_PID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemFlow != null">
        #{itemFlow,jdbcType=VARCHAR},
      </if>
      <if test="schemeFlow != null">
        #{schemeFlow,jdbcType=VARCHAR},
      </if>
      <if test="schemeName != null">
        #{schemeName,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="maxLimit != null">
        #{maxLimit,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="itemPid != null">
        #{itemPid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SrmFundSchemeDetailExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.SRM_FUND_SCHEME_DETAIL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.SRM_FUND_SCHEME_DETAIL
    <set>
      <if test="record.itemFlow != null">
        ITEM_FLOW = #{record.itemFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.schemeFlow != null">
        SCHEME_FLOW = #{record.schemeFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.schemeName != null">
        SCHEME_NAME = #{record.schemeName,jdbcType=VARCHAR},
      </if>
      <if test="record.itemId != null">
        ITEM_ID = #{record.itemId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null">
        ITEM_NAME = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.maxLimit != null">
        MAX_LIMIT = #{record.maxLimit,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.itemPid != null">
        ITEM_PID = #{record.itemPid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.SRM_FUND_SCHEME_DETAIL
    set ITEM_FLOW = #{record.itemFlow,jdbcType=VARCHAR},
      SCHEME_FLOW = #{record.schemeFlow,jdbcType=VARCHAR},
      SCHEME_NAME = #{record.schemeName,jdbcType=VARCHAR},
      ITEM_ID = #{record.itemId,jdbcType=VARCHAR},
      ITEM_NAME = #{record.itemName,jdbcType=VARCHAR},
      MAX_LIMIT = #{record.maxLimit,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      ITEM_PID = #{record.itemPid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SrmFundSchemeDetail">
    update PDSCI.SRM_FUND_SCHEME_DETAIL
    <set>
      <if test="schemeFlow != null">
        SCHEME_FLOW = #{schemeFlow,jdbcType=VARCHAR},
      </if>
      <if test="schemeName != null">
        SCHEME_NAME = #{schemeName,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        ITEM_ID = #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="maxLimit != null">
        MAX_LIMIT = #{maxLimit,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="itemPid != null">
        ITEM_PID = #{itemPid,jdbcType=VARCHAR},
      </if>
    </set>
    where ITEM_FLOW = #{itemFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SrmFundSchemeDetail">
    update PDSCI.SRM_FUND_SCHEME_DETAIL
    set SCHEME_FLOW = #{schemeFlow,jdbcType=VARCHAR},
      SCHEME_NAME = #{schemeName,jdbcType=VARCHAR},
      ITEM_ID = #{itemId,jdbcType=VARCHAR},
      ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      MAX_LIMIT = #{maxLimit,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      ITEM_PID = #{itemPid,jdbcType=VARCHAR}
    where ITEM_FLOW = #{itemFlow,jdbcType=VARCHAR}
  </update>
</mapper>