<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.SrmGradeSchemeMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SrmGradeScheme" >
    <id column="SCHEME_FLOW" property="schemeFlow" jdbcType="VARCHAR" />
    <result column="SCHEME_NAME" property="schemeName" jdbcType="VARCHAR" />
    <result column="PROJ_TYPE_ID" property="projTypeId" jdbcType="VARCHAR" />
    <result column="PROJ_TYPE_NAME" property="projTypeName" jdbcType="VARCHAR" />
    <result column="EVALUATION_ID" property="evaluationId" jdbcType="VARCHAR" />
    <result column="EVALUATION_NAME" property="evaluationName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SCHEME_FLOW, SCHEME_NAME, PROJ_TYPE_ID, PROJ_TYPE_NAME, EVALUATION_ID, EVALUATION_NAME, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.SrmGradeSchemeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.SRM_GRADE_SCHEME
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.SRM_GRADE_SCHEME
    where SCHEME_FLOW = #{schemeFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.SRM_GRADE_SCHEME
    where SCHEME_FLOW = #{schemeFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SrmGradeSchemeExample" >
    delete from PDSCI.SRM_GRADE_SCHEME
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SrmGradeScheme" >
    insert into PDSCI.SRM_GRADE_SCHEME (SCHEME_FLOW, SCHEME_NAME, PROJ_TYPE_ID, 
      PROJ_TYPE_NAME, EVALUATION_ID, EVALUATION_NAME, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{schemeFlow,jdbcType=VARCHAR}, #{schemeName,jdbcType=VARCHAR}, #{projTypeId,jdbcType=VARCHAR}, 
      #{projTypeName,jdbcType=VARCHAR}, #{evaluationId,jdbcType=VARCHAR}, #{evaluationName,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SrmGradeScheme" >
    insert into PDSCI.SRM_GRADE_SCHEME
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="schemeFlow != null" >
        SCHEME_FLOW,
      </if>
      <if test="schemeName != null" >
        SCHEME_NAME,
      </if>
      <if test="projTypeId != null" >
        PROJ_TYPE_ID,
      </if>
      <if test="projTypeName != null" >
        PROJ_TYPE_NAME,
      </if>
      <if test="evaluationId != null" >
        EVALUATION_ID,
      </if>
      <if test="evaluationName != null" >
        EVALUATION_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="schemeFlow != null" >
        #{schemeFlow,jdbcType=VARCHAR},
      </if>
      <if test="schemeName != null" >
        #{schemeName,jdbcType=VARCHAR},
      </if>
      <if test="projTypeId != null" >
        #{projTypeId,jdbcType=VARCHAR},
      </if>
      <if test="projTypeName != null" >
        #{projTypeName,jdbcType=VARCHAR},
      </if>
      <if test="evaluationId != null" >
        #{evaluationId,jdbcType=VARCHAR},
      </if>
      <if test="evaluationName != null" >
        #{evaluationName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SrmGradeSchemeExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.SRM_GRADE_SCHEME
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.SRM_GRADE_SCHEME
    <set >
      <if test="record.schemeFlow != null" >
        SCHEME_FLOW = #{record.schemeFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.schemeName != null" >
        SCHEME_NAME = #{record.schemeName,jdbcType=VARCHAR},
      </if>
      <if test="record.projTypeId != null" >
        PROJ_TYPE_ID = #{record.projTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.projTypeName != null" >
        PROJ_TYPE_NAME = #{record.projTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluationId != null" >
        EVALUATION_ID = #{record.evaluationId,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluationName != null" >
        EVALUATION_NAME = #{record.evaluationName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.SRM_GRADE_SCHEME
    set SCHEME_FLOW = #{record.schemeFlow,jdbcType=VARCHAR},
      SCHEME_NAME = #{record.schemeName,jdbcType=VARCHAR},
      PROJ_TYPE_ID = #{record.projTypeId,jdbcType=VARCHAR},
      PROJ_TYPE_NAME = #{record.projTypeName,jdbcType=VARCHAR},
      EVALUATION_ID = #{record.evaluationId,jdbcType=VARCHAR},
      EVALUATION_NAME = #{record.evaluationName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SrmGradeScheme" >
    update PDSCI.SRM_GRADE_SCHEME
    <set >
      <if test="schemeName != null" >
        SCHEME_NAME = #{schemeName,jdbcType=VARCHAR},
      </if>
      <if test="projTypeId != null" >
        PROJ_TYPE_ID = #{projTypeId,jdbcType=VARCHAR},
      </if>
      <if test="projTypeName != null" >
        PROJ_TYPE_NAME = #{projTypeName,jdbcType=VARCHAR},
      </if>
      <if test="evaluationId != null" >
        EVALUATION_ID = #{evaluationId,jdbcType=VARCHAR},
      </if>
      <if test="evaluationName != null" >
        EVALUATION_NAME = #{evaluationName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where SCHEME_FLOW = #{schemeFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SrmGradeScheme" >
    update PDSCI.SRM_GRADE_SCHEME
    set SCHEME_NAME = #{schemeName,jdbcType=VARCHAR},
      PROJ_TYPE_ID = #{projTypeId,jdbcType=VARCHAR},
      PROJ_TYPE_NAME = #{projTypeName,jdbcType=VARCHAR},
      EVALUATION_ID = #{evaluationId,jdbcType=VARCHAR},
      EVALUATION_NAME = #{evaluationName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where SCHEME_FLOW = #{schemeFlow,jdbcType=VARCHAR}
  </update>
</mapper>