<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.SrmProjSourceSchemeMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SrmProjSourceScheme">
    <id column="SOURCE_FLOW" jdbcType="VARCHAR" property="sourceFlow" />
    <result column="SCHEME_FLOW" jdbcType="VARCHAR" property="schemeFlow" />
    <result column="SCHEME_NAME" jdbcType="VARCHAR" property="schemeName" />
    <result column="PROJ_FIRST_SOURCE_ID" jdbcType="VARCHAR" property="projFirstSourceId" />
    <result column="PROJ_FIRST_SOURCE_NAME" jdbcType="VARCHAR" property="projFirstSourceName" />
    <result column="PROJ_SECOND_SOURCE_ID" jdbcType="VARCHAR" property="projSecondSourceId" />
    <result column="PROJ_SECOND_SOURCE_NAME" jdbcType="VARCHAR" property="projSecondSourceName" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SOURCE_FLOW, SCHEME_FLOW, SCHEME_NAME, PROJ_FIRST_SOURCE_ID, PROJ_FIRST_SOURCE_NAME, 
    PROJ_SECOND_SOURCE_ID, PROJ_SECOND_SOURCE_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.SrmProjSourceSchemeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.SRM_PROJ_SOURCE_SCHEME
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PDSCI.SRM_PROJ_SOURCE_SCHEME
    where SOURCE_FLOW = #{sourceFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.SRM_PROJ_SOURCE_SCHEME
    where SOURCE_FLOW = #{sourceFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SrmProjSourceSchemeExample">
    delete from PDSCI.SRM_PROJ_SOURCE_SCHEME
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SrmProjSourceScheme">
    insert into PDSCI.SRM_PROJ_SOURCE_SCHEME (SOURCE_FLOW, SCHEME_FLOW, SCHEME_NAME, 
      PROJ_FIRST_SOURCE_ID, PROJ_FIRST_SOURCE_NAME, 
      PROJ_SECOND_SOURCE_ID, PROJ_SECOND_SOURCE_NAME, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{sourceFlow,jdbcType=VARCHAR}, #{schemeFlow,jdbcType=VARCHAR}, #{schemeName,jdbcType=VARCHAR}, 
      #{projFirstSourceId,jdbcType=VARCHAR}, #{projFirstSourceName,jdbcType=VARCHAR}, 
      #{projSecondSourceId,jdbcType=VARCHAR}, #{projSecondSourceName,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SrmProjSourceScheme">
    insert into PDSCI.SRM_PROJ_SOURCE_SCHEME
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sourceFlow != null">
        SOURCE_FLOW,
      </if>
      <if test="schemeFlow != null">
        SCHEME_FLOW,
      </if>
      <if test="schemeName != null">
        SCHEME_NAME,
      </if>
      <if test="projFirstSourceId != null">
        PROJ_FIRST_SOURCE_ID,
      </if>
      <if test="projFirstSourceName != null">
        PROJ_FIRST_SOURCE_NAME,
      </if>
      <if test="projSecondSourceId != null">
        PROJ_SECOND_SOURCE_ID,
      </if>
      <if test="projSecondSourceName != null">
        PROJ_SECOND_SOURCE_NAME,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sourceFlow != null">
        #{sourceFlow,jdbcType=VARCHAR},
      </if>
      <if test="schemeFlow != null">
        #{schemeFlow,jdbcType=VARCHAR},
      </if>
      <if test="schemeName != null">
        #{schemeName,jdbcType=VARCHAR},
      </if>
      <if test="projFirstSourceId != null">
        #{projFirstSourceId,jdbcType=VARCHAR},
      </if>
      <if test="projFirstSourceName != null">
        #{projFirstSourceName,jdbcType=VARCHAR},
      </if>
      <if test="projSecondSourceId != null">
        #{projSecondSourceId,jdbcType=VARCHAR},
      </if>
      <if test="projSecondSourceName != null">
        #{projSecondSourceName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SrmProjSourceSchemeExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.SRM_PROJ_SOURCE_SCHEME
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.SRM_PROJ_SOURCE_SCHEME
    <set>
      <if test="record.sourceFlow != null">
        SOURCE_FLOW = #{record.sourceFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.schemeFlow != null">
        SCHEME_FLOW = #{record.schemeFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.schemeName != null">
        SCHEME_NAME = #{record.schemeName,jdbcType=VARCHAR},
      </if>
      <if test="record.projFirstSourceId != null">
        PROJ_FIRST_SOURCE_ID = #{record.projFirstSourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.projFirstSourceName != null">
        PROJ_FIRST_SOURCE_NAME = #{record.projFirstSourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.projSecondSourceId != null">
        PROJ_SECOND_SOURCE_ID = #{record.projSecondSourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.projSecondSourceName != null">
        PROJ_SECOND_SOURCE_NAME = #{record.projSecondSourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.SRM_PROJ_SOURCE_SCHEME
    set SOURCE_FLOW = #{record.sourceFlow,jdbcType=VARCHAR},
      SCHEME_FLOW = #{record.schemeFlow,jdbcType=VARCHAR},
      SCHEME_NAME = #{record.schemeName,jdbcType=VARCHAR},
      PROJ_FIRST_SOURCE_ID = #{record.projFirstSourceId,jdbcType=VARCHAR},
      PROJ_FIRST_SOURCE_NAME = #{record.projFirstSourceName,jdbcType=VARCHAR},
      PROJ_SECOND_SOURCE_ID = #{record.projSecondSourceId,jdbcType=VARCHAR},
      PROJ_SECOND_SOURCE_NAME = #{record.projSecondSourceName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SrmProjSourceScheme">
    update PDSCI.SRM_PROJ_SOURCE_SCHEME
    <set>
      <if test="schemeFlow != null">
        SCHEME_FLOW = #{schemeFlow,jdbcType=VARCHAR},
      </if>
      <if test="schemeName != null">
        SCHEME_NAME = #{schemeName,jdbcType=VARCHAR},
      </if>
      <if test="projFirstSourceId != null">
        PROJ_FIRST_SOURCE_ID = #{projFirstSourceId,jdbcType=VARCHAR},
      </if>
      <if test="projFirstSourceName != null">
        PROJ_FIRST_SOURCE_NAME = #{projFirstSourceName,jdbcType=VARCHAR},
      </if>
      <if test="projSecondSourceId != null">
        PROJ_SECOND_SOURCE_ID = #{projSecondSourceId,jdbcType=VARCHAR},
      </if>
      <if test="projSecondSourceName != null">
        PROJ_SECOND_SOURCE_NAME = #{projSecondSourceName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where SOURCE_FLOW = #{sourceFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SrmProjSourceScheme">
    update PDSCI.SRM_PROJ_SOURCE_SCHEME
    set SCHEME_FLOW = #{schemeFlow,jdbcType=VARCHAR},
      SCHEME_NAME = #{schemeName,jdbcType=VARCHAR},
      PROJ_FIRST_SOURCE_ID = #{projFirstSourceId,jdbcType=VARCHAR},
      PROJ_FIRST_SOURCE_NAME = #{projFirstSourceName,jdbcType=VARCHAR},
      PROJ_SECOND_SOURCE_ID = #{projSecondSourceId,jdbcType=VARCHAR},
      PROJ_SECOND_SOURCE_NAME = #{projSecondSourceName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where SOURCE_FLOW = #{sourceFlow,jdbcType=VARCHAR}
  </update>
</mapper>