<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.SrmProjFundFormMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SrmProjFundForm" >
    <id column="FUND_FORM_FLOW" property="fundFormFlow" jdbcType="VARCHAR" />
    <result column="FUND_OPERATOR" property="fundOperator" jdbcType="VARCHAR" />
    <result column="FUND_FLOW" property="fundFlow" jdbcType="VARCHAR" />
    <result column="MONEY" property="money" jdbcType="DECIMAL" />
    <result column="REALMONEY" property="realmoney" jdbcType="DECIMAL" />
    <result column="OPER_STATUS_ID" property="operStatusId" jdbcType="VARCHAR" />
    <result column="OPER_STATUS_NAME" property="operStatusName" jdbcType="VARCHAR" />
    <result column="PROVIDE_DATE_TIME" property="provideDateTime" jdbcType="VARCHAR" />
    <result column="ORG_FUND" property="orgFund" jdbcType="DECIMAL" />
    <result column="GOVE_FUND" property="goveFund" jdbcType="DECIMAL" />
    <result column="REALITY_GOVE_AMOUNT" property="realityGoveAmount" jdbcType="DECIMAL" />
    <result column="REALITY_ORG_AMOUNT" property="realityOrgAmount" jdbcType="DECIMAL" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FUND_FORM_FLOW, FUND_OPERATOR, FUND_FLOW, MONEY, REALMONEY, OPER_STATUS_ID, OPER_STATUS_NAME, 
    PROVIDE_DATE_TIME, ORG_FUND, GOVE_FUND, REALITY_GOVE_AMOUNT, REALITY_ORG_AMOUNT, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.SrmProjFundFormExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.SRM_PROJ_FUND_FORM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.SRM_PROJ_FUND_FORM
    where FUND_FORM_FLOW = #{fundFormFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.SRM_PROJ_FUND_FORM
    where FUND_FORM_FLOW = #{fundFormFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SrmProjFundFormExample" >
    delete from PDSCI.SRM_PROJ_FUND_FORM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SrmProjFundForm" >
    insert into PDSCI.SRM_PROJ_FUND_FORM (FUND_FORM_FLOW, FUND_OPERATOR, FUND_FLOW, 
      MONEY, REALMONEY, OPER_STATUS_ID, 
      OPER_STATUS_NAME, PROVIDE_DATE_TIME, ORG_FUND, 
      GOVE_FUND, REALITY_GOVE_AMOUNT, REALITY_ORG_AMOUNT, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{fundFormFlow,jdbcType=VARCHAR}, #{fundOperator,jdbcType=VARCHAR}, #{fundFlow,jdbcType=VARCHAR}, 
      #{money,jdbcType=DECIMAL}, #{realmoney,jdbcType=DECIMAL}, #{operStatusId,jdbcType=VARCHAR}, 
      #{operStatusName,jdbcType=VARCHAR}, #{provideDateTime,jdbcType=VARCHAR}, #{orgFund,jdbcType=DECIMAL}, 
      #{goveFund,jdbcType=DECIMAL}, #{realityGoveAmount,jdbcType=DECIMAL}, #{realityOrgAmount,jdbcType=DECIMAL}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SrmProjFundForm" >
    insert into PDSCI.SRM_PROJ_FUND_FORM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fundFormFlow != null" >
        FUND_FORM_FLOW,
      </if>
      <if test="fundOperator != null" >
        FUND_OPERATOR,
      </if>
      <if test="fundFlow != null" >
        FUND_FLOW,
      </if>
      <if test="money != null" >
        MONEY,
      </if>
      <if test="realmoney != null" >
        REALMONEY,
      </if>
      <if test="operStatusId != null" >
        OPER_STATUS_ID,
      </if>
      <if test="operStatusName != null" >
        OPER_STATUS_NAME,
      </if>
      <if test="provideDateTime != null" >
        PROVIDE_DATE_TIME,
      </if>
      <if test="orgFund != null" >
        ORG_FUND,
      </if>
      <if test="goveFund != null" >
        GOVE_FUND,
      </if>
      <if test="realityGoveAmount != null" >
        REALITY_GOVE_AMOUNT,
      </if>
      <if test="realityOrgAmount != null" >
        REALITY_ORG_AMOUNT,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fundFormFlow != null" >
        #{fundFormFlow,jdbcType=VARCHAR},
      </if>
      <if test="fundOperator != null" >
        #{fundOperator,jdbcType=VARCHAR},
      </if>
      <if test="fundFlow != null" >
        #{fundFlow,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="realmoney != null" >
        #{realmoney,jdbcType=DECIMAL},
      </if>
      <if test="operStatusId != null" >
        #{operStatusId,jdbcType=VARCHAR},
      </if>
      <if test="operStatusName != null" >
        #{operStatusName,jdbcType=VARCHAR},
      </if>
      <if test="provideDateTime != null" >
        #{provideDateTime,jdbcType=VARCHAR},
      </if>
      <if test="orgFund != null" >
        #{orgFund,jdbcType=DECIMAL},
      </if>
      <if test="goveFund != null" >
        #{goveFund,jdbcType=DECIMAL},
      </if>
      <if test="realityGoveAmount != null" >
        #{realityGoveAmount,jdbcType=DECIMAL},
      </if>
      <if test="realityOrgAmount != null" >
        #{realityOrgAmount,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SrmProjFundFormExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.SRM_PROJ_FUND_FORM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.SRM_PROJ_FUND_FORM
    <set >
      <if test="record.fundFormFlow != null" >
        FUND_FORM_FLOW = #{record.fundFormFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.fundOperator != null" >
        FUND_OPERATOR = #{record.fundOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.fundFlow != null" >
        FUND_FLOW = #{record.fundFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null" >
        MONEY = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.realmoney != null" >
        REALMONEY = #{record.realmoney,jdbcType=DECIMAL},
      </if>
      <if test="record.operStatusId != null" >
        OPER_STATUS_ID = #{record.operStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.operStatusName != null" >
        OPER_STATUS_NAME = #{record.operStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.provideDateTime != null" >
        PROVIDE_DATE_TIME = #{record.provideDateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFund != null" >
        ORG_FUND = #{record.orgFund,jdbcType=DECIMAL},
      </if>
      <if test="record.goveFund != null" >
        GOVE_FUND = #{record.goveFund,jdbcType=DECIMAL},
      </if>
      <if test="record.realityGoveAmount != null" >
        REALITY_GOVE_AMOUNT = #{record.realityGoveAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.realityOrgAmount != null" >
        REALITY_ORG_AMOUNT = #{record.realityOrgAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.SRM_PROJ_FUND_FORM
    set FUND_FORM_FLOW = #{record.fundFormFlow,jdbcType=VARCHAR},
      FUND_OPERATOR = #{record.fundOperator,jdbcType=VARCHAR},
      FUND_FLOW = #{record.fundFlow,jdbcType=VARCHAR},
      MONEY = #{record.money,jdbcType=DECIMAL},
      REALMONEY = #{record.realmoney,jdbcType=DECIMAL},
      OPER_STATUS_ID = #{record.operStatusId,jdbcType=VARCHAR},
      OPER_STATUS_NAME = #{record.operStatusName,jdbcType=VARCHAR},
      PROVIDE_DATE_TIME = #{record.provideDateTime,jdbcType=VARCHAR},
      ORG_FUND = #{record.orgFund,jdbcType=DECIMAL},
      GOVE_FUND = #{record.goveFund,jdbcType=DECIMAL},
      REALITY_GOVE_AMOUNT = #{record.realityGoveAmount,jdbcType=DECIMAL},
      REALITY_ORG_AMOUNT = #{record.realityOrgAmount,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SrmProjFundForm" >
    update PDSCI.SRM_PROJ_FUND_FORM
    <set >
      <if test="fundOperator != null" >
        FUND_OPERATOR = #{fundOperator,jdbcType=VARCHAR},
      </if>
      <if test="fundFlow != null" >
        FUND_FLOW = #{fundFlow,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        MONEY = #{money,jdbcType=DECIMAL},
      </if>
      <if test="realmoney != null" >
        REALMONEY = #{realmoney,jdbcType=DECIMAL},
      </if>
      <if test="operStatusId != null" >
        OPER_STATUS_ID = #{operStatusId,jdbcType=VARCHAR},
      </if>
      <if test="operStatusName != null" >
        OPER_STATUS_NAME = #{operStatusName,jdbcType=VARCHAR},
      </if>
      <if test="provideDateTime != null" >
        PROVIDE_DATE_TIME = #{provideDateTime,jdbcType=VARCHAR},
      </if>
      <if test="orgFund != null" >
        ORG_FUND = #{orgFund,jdbcType=DECIMAL},
      </if>
      <if test="goveFund != null" >
        GOVE_FUND = #{goveFund,jdbcType=DECIMAL},
      </if>
      <if test="realityGoveAmount != null" >
        REALITY_GOVE_AMOUNT = #{realityGoveAmount,jdbcType=DECIMAL},
      </if>
      <if test="realityOrgAmount != null" >
        REALITY_ORG_AMOUNT = #{realityOrgAmount,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where FUND_FORM_FLOW = #{fundFormFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SrmProjFundForm" >
    update PDSCI.SRM_PROJ_FUND_FORM
    set FUND_OPERATOR = #{fundOperator,jdbcType=VARCHAR},
      FUND_FLOW = #{fundFlow,jdbcType=VARCHAR},
      MONEY = #{money,jdbcType=DECIMAL},
      REALMONEY = #{realmoney,jdbcType=DECIMAL},
      OPER_STATUS_ID = #{operStatusId,jdbcType=VARCHAR},
      OPER_STATUS_NAME = #{operStatusName,jdbcType=VARCHAR},
      PROVIDE_DATE_TIME = #{provideDateTime,jdbcType=VARCHAR},
      ORG_FUND = #{orgFund,jdbcType=DECIMAL},
      GOVE_FUND = #{goveFund,jdbcType=DECIMAL},
      REALITY_GOVE_AMOUNT = #{realityGoveAmount,jdbcType=DECIMAL},
      REALITY_ORG_AMOUNT = #{realityOrgAmount,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where FUND_FORM_FLOW = #{fundFormFlow,jdbcType=VARCHAR}
  </update>
</mapper>