<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.StudyCourseMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.StudyCourse">
    <id column="COURSE_FLOW" jdbcType="VARCHAR" property="courseFlow" />
    <result column="COURSE_NAME" jdbcType="VARCHAR" property="courseName" />
    <result column="COURSE_IMG_URL" jdbcType="VARCHAR" property="courseImgUrl" />
    <result column="DETAIL_IMG_URL" jdbcType="VARCHAR" property="detailImgUrl" />
    <result column="TEACHER_NAME" jdbcType="VARCHAR" property="teacherName" />
    <result column="ORDINAL" jdbcType="DECIMAL" property="ordinal" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    COURSE_FLOW, COURSE_NAME, COURSE_IMG_URL, DETAIL_IMG_URL, TEACHER_NAME, ORDINAL, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.StudyCourseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.STUDY_COURSE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PDSCI.STUDY_COURSE
    where COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.STUDY_COURSE
    where COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.StudyCourseExample">
    delete from PDSCI.STUDY_COURSE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.StudyCourse">
    insert into PDSCI.STUDY_COURSE (COURSE_FLOW, COURSE_NAME, COURSE_IMG_URL, 
      DETAIL_IMG_URL, TEACHER_NAME, ORDINAL, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{courseFlow,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR}, #{courseImgUrl,jdbcType=VARCHAR}, 
      #{detailImgUrl,jdbcType=VARCHAR}, #{teacherName,jdbcType=VARCHAR}, #{ordinal,jdbcType=DECIMAL}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.StudyCourse">
    insert into PDSCI.STUDY_COURSE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseFlow != null">
        COURSE_FLOW,
      </if>
      <if test="courseName != null">
        COURSE_NAME,
      </if>
      <if test="courseImgUrl != null">
        COURSE_IMG_URL,
      </if>
      <if test="detailImgUrl != null">
        DETAIL_IMG_URL,
      </if>
      <if test="teacherName != null">
        TEACHER_NAME,
      </if>
      <if test="ordinal != null">
        ORDINAL,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseFlow != null">
        #{courseFlow,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseImgUrl != null">
        #{courseImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="detailImgUrl != null">
        #{detailImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null">
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null">
        #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.StudyCourseExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.STUDY_COURSE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.STUDY_COURSE
    <set>
      <if test="record.courseFlow != null">
        COURSE_FLOW = #{record.courseFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.courseName != null">
        COURSE_NAME = #{record.courseName,jdbcType=VARCHAR},
      </if>
      <if test="record.courseImgUrl != null">
        COURSE_IMG_URL = #{record.courseImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.detailImgUrl != null">
        DETAIL_IMG_URL = #{record.detailImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherName != null">
        TEACHER_NAME = #{record.teacherName,jdbcType=VARCHAR},
      </if>
      <if test="record.ordinal != null">
        ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.STUDY_COURSE
    set COURSE_FLOW = #{record.courseFlow,jdbcType=VARCHAR},
      COURSE_NAME = #{record.courseName,jdbcType=VARCHAR},
      COURSE_IMG_URL = #{record.courseImgUrl,jdbcType=VARCHAR},
      DETAIL_IMG_URL = #{record.detailImgUrl,jdbcType=VARCHAR},
      TEACHER_NAME = #{record.teacherName,jdbcType=VARCHAR},
      ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.StudyCourse">
    update PDSCI.STUDY_COURSE
    <set>
      <if test="courseName != null">
        COURSE_NAME = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseImgUrl != null">
        COURSE_IMG_URL = #{courseImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="detailImgUrl != null">
        DETAIL_IMG_URL = #{detailImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null">
        TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null">
        ORDINAL = #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.StudyCourse">
    update PDSCI.STUDY_COURSE
    set COURSE_NAME = #{courseName,jdbcType=VARCHAR},
      COURSE_IMG_URL = #{courseImgUrl,jdbcType=VARCHAR},
      DETAIL_IMG_URL = #{detailImgUrl,jdbcType=VARCHAR},
      TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
      ORDINAL = #{ordinal,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR}
  </update>
</mapper>