<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.SysMonthlyDeptCycleInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.core.model.SysMonthlyDeptCycleInfo" >
    <id column="SMDCI_FLOW" property="smdciFlow" jdbcType="VARCHAR" />
    <result column="DATE_MONTH" property="dateMonth" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="DEPT_FLOW" property="deptFlow" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="IN_NUM" property="inNum" jdbcType="DECIMAL" />
    <result column="OUT_PASS" property="outPass" jdbcType="DECIMAL" />
    <result column="ERROR_OUT_NUM" property="errorOutNum" jdbcType="DECIMAL" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="GRADUATE_IN_NUM" property="graduateInNum" jdbcType="DECIMAL" />
    <result column="GRADUATE_OUT_PASS" property="graduateOutPass" jdbcType="DECIMAL" />
    <result column="GRADUATE_ERROR_OUT_NUM" property="graduateErrorOutNum" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SMDCI_FLOW, DATE_MONTH, ORG_FLOW, ORG_NAME, DEPT_FLOW, DEPT_NAME, IN_NUM, OUT_PASS, 
    ERROR_OUT_NUM, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
    GRADUATE_IN_NUM, GRADUATE_OUT_PASS, GRADUATE_ERROR_OUT_NUM
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.SysMonthlyDeptCycleInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
      from SYS_MONTHLY_DEPT_CYCLE_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from SYS_MONTHLY_DEPT_CYCLE_INFO
    where SMDCI_FLOW = #{smdciFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from SYS_MONTHLY_DEPT_CYCLE_INFO
    where SMDCI_FLOW = #{smdciFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.SysMonthlyDeptCycleInfoExample" >
      delete from SYS_MONTHLY_DEPT_CYCLE_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.SysMonthlyDeptCycleInfo" >
      insert into SYS_MONTHLY_DEPT_CYCLE_INFO (SMDCI_FLOW, DATE_MONTH, ORG_FLOW,
      ORG_NAME, DEPT_FLOW, DEPT_NAME, 
      IN_NUM, OUT_PASS, ERROR_OUT_NUM, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, GRADUATE_IN_NUM, 
      GRADUATE_OUT_PASS, GRADUATE_ERROR_OUT_NUM)
    values (#{smdciFlow,jdbcType=VARCHAR}, #{dateMonth,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, 
      #{orgName,jdbcType=VARCHAR}, #{deptFlow,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, 
      #{inNum,jdbcType=DECIMAL}, #{outPass,jdbcType=DECIMAL}, #{errorOutNum,jdbcType=DECIMAL}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{graduateInNum,jdbcType=DECIMAL}, 
      #{graduateOutPass,jdbcType=DECIMAL}, #{graduateErrorOutNum,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.SysMonthlyDeptCycleInfo" >
      insert into SYS_MONTHLY_DEPT_CYCLE_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="smdciFlow != null" >
        SMDCI_FLOW,
      </if>
      <if test="dateMonth != null" >
        DATE_MONTH,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="inNum != null" >
        IN_NUM,
      </if>
      <if test="outPass != null" >
        OUT_PASS,
      </if>
      <if test="errorOutNum != null" >
        ERROR_OUT_NUM,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="graduateInNum != null" >
        GRADUATE_IN_NUM,
      </if>
      <if test="graduateOutPass != null" >
        GRADUATE_OUT_PASS,
      </if>
      <if test="graduateErrorOutNum != null" >
        GRADUATE_ERROR_OUT_NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="smdciFlow != null" >
        #{smdciFlow,jdbcType=VARCHAR},
      </if>
      <if test="dateMonth != null" >
        #{dateMonth,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="inNum != null" >
        #{inNum,jdbcType=DECIMAL},
      </if>
      <if test="outPass != null" >
        #{outPass,jdbcType=DECIMAL},
      </if>
      <if test="errorOutNum != null" >
        #{errorOutNum,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="graduateInNum != null" >
        #{graduateInNum,jdbcType=DECIMAL},
      </if>
      <if test="graduateOutPass != null" >
        #{graduateOutPass,jdbcType=DECIMAL},
      </if>
      <if test="graduateErrorOutNum != null" >
        #{graduateErrorOutNum,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.SysMonthlyDeptCycleInfoExample" resultType="java.lang.Integer" >
      select count(*) from SYS_MONTHLY_DEPT_CYCLE_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update SYS_MONTHLY_DEPT_CYCLE_INFO
    <set >
      <if test="record.smdciFlow != null" >
        SMDCI_FLOW = #{record.smdciFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.dateMonth != null" >
        DATE_MONTH = #{record.dateMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null" >
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.inNum != null" >
        IN_NUM = #{record.inNum,jdbcType=DECIMAL},
      </if>
      <if test="record.outPass != null" >
        OUT_PASS = #{record.outPass,jdbcType=DECIMAL},
      </if>
      <if test="record.errorOutNum != null" >
        ERROR_OUT_NUM = #{record.errorOutNum,jdbcType=DECIMAL},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.graduateInNum != null" >
        GRADUATE_IN_NUM = #{record.graduateInNum,jdbcType=DECIMAL},
      </if>
      <if test="record.graduateOutPass != null" >
        GRADUATE_OUT_PASS = #{record.graduateOutPass,jdbcType=DECIMAL},
      </if>
      <if test="record.graduateErrorOutNum != null" >
        GRADUATE_ERROR_OUT_NUM = #{record.graduateErrorOutNum,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update SYS_MONTHLY_DEPT_CYCLE_INFO
    set SMDCI_FLOW = #{record.smdciFlow,jdbcType=VARCHAR},
      DATE_MONTH = #{record.dateMonth,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      IN_NUM = #{record.inNum,jdbcType=DECIMAL},
      OUT_PASS = #{record.outPass,jdbcType=DECIMAL},
      ERROR_OUT_NUM = #{record.errorOutNum,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      GRADUATE_IN_NUM = #{record.graduateInNum,jdbcType=DECIMAL},
      GRADUATE_OUT_PASS = #{record.graduateOutPass,jdbcType=DECIMAL},
      GRADUATE_ERROR_OUT_NUM = #{record.graduateErrorOutNum,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.SysMonthlyDeptCycleInfo" >
      update SYS_MONTHLY_DEPT_CYCLE_INFO
    <set >
      <if test="dateMonth != null" >
        DATE_MONTH = #{dateMonth,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="inNum != null" >
        IN_NUM = #{inNum,jdbcType=DECIMAL},
      </if>
      <if test="outPass != null" >
        OUT_PASS = #{outPass,jdbcType=DECIMAL},
      </if>
      <if test="errorOutNum != null" >
        ERROR_OUT_NUM = #{errorOutNum,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="graduateInNum != null" >
        GRADUATE_IN_NUM = #{graduateInNum,jdbcType=DECIMAL},
      </if>
      <if test="graduateOutPass != null" >
        GRADUATE_OUT_PASS = #{graduateOutPass,jdbcType=DECIMAL},
      </if>
      <if test="graduateErrorOutNum != null" >
        GRADUATE_ERROR_OUT_NUM = #{graduateErrorOutNum,jdbcType=DECIMAL},
      </if>
    </set>
    where SMDCI_FLOW = #{smdciFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.SysMonthlyDeptCycleInfo" >
      update SYS_MONTHLY_DEPT_CYCLE_INFO
    set DATE_MONTH = #{dateMonth,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      IN_NUM = #{inNum,jdbcType=DECIMAL},
      OUT_PASS = #{outPass,jdbcType=DECIMAL},
      ERROR_OUT_NUM = #{errorOutNum,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      GRADUATE_IN_NUM = #{graduateInNum,jdbcType=DECIMAL},
      GRADUATE_OUT_PASS = #{graduateOutPass,jdbcType=DECIMAL},
      GRADUATE_ERROR_OUT_NUM = #{graduateErrorOutNum,jdbcType=DECIMAL}
    where SMDCI_FLOW = #{smdciFlow,jdbcType=VARCHAR}
  </update>
</mapper>