<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.TeachingActivityEvalMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.TeachingActivityEval" >
    <id column="EVAL_FLOW" property="evalFlow" jdbcType="VARCHAR" />
    <result column="RESULT_FLOW" property="resultFlow" jdbcType="VARCHAR" />
    <result column="USER_FLOW" property="userFlow" jdbcType="VARCHAR" />
    <result column="TARGET_FLOW" property="targetFlow" jdbcType="VARCHAR" />
    <result column="TARGET_NAME" property="targetName" jdbcType="VARCHAR" />
    <result column="ORDINAL" property="ordinal" jdbcType="DECIMAL" />
    <result column="EVAL_SCORE" property="evalScore" jdbcType="DECIMAL" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="IS_TEXT" property="isText" jdbcType="VARCHAR" />
    <result column="EVAL_REMARKS" property="evalRemarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    EVAL_FLOW, RESULT_FLOW, USER_FLOW, TARGET_FLOW, TARGET_NAME, ORDINAL, EVAL_SCORE, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, IS_TEXT, 
    EVAL_REMARKS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.TeachingActivityEvalExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.TEACHING_ACTIVITY_EVAL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.TEACHING_ACTIVITY_EVAL
    where EVAL_FLOW = #{evalFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.TEACHING_ACTIVITY_EVAL
    where EVAL_FLOW = #{evalFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.TeachingActivityEvalExample" >
    delete from PDSCI.TEACHING_ACTIVITY_EVAL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.TeachingActivityEval" >
    insert into PDSCI.TEACHING_ACTIVITY_EVAL (EVAL_FLOW, RESULT_FLOW, USER_FLOW, 
      TARGET_FLOW, TARGET_NAME, ORDINAL, 
      EVAL_SCORE, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      IS_TEXT, EVAL_REMARKS)
    values (#{evalFlow,jdbcType=VARCHAR}, #{resultFlow,jdbcType=VARCHAR}, #{userFlow,jdbcType=VARCHAR}, 
      #{targetFlow,jdbcType=VARCHAR}, #{targetName,jdbcType=VARCHAR}, #{ordinal,jdbcType=DECIMAL}, 
      #{evalScore,jdbcType=DECIMAL}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{isText,jdbcType=VARCHAR}, #{evalRemarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.TeachingActivityEval" >
    insert into PDSCI.TEACHING_ACTIVITY_EVAL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="evalFlow != null" >
        EVAL_FLOW,
      </if>
      <if test="resultFlow != null" >
        RESULT_FLOW,
      </if>
      <if test="userFlow != null" >
        USER_FLOW,
      </if>
      <if test="targetFlow != null" >
        TARGET_FLOW,
      </if>
      <if test="targetName != null" >
        TARGET_NAME,
      </if>
      <if test="ordinal != null" >
        ORDINAL,
      </if>
      <if test="evalScore != null" >
        EVAL_SCORE,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="isText != null" >
        IS_TEXT,
      </if>
      <if test="evalRemarks != null" >
        EVAL_REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="evalFlow != null" >
        #{evalFlow,jdbcType=VARCHAR},
      </if>
      <if test="resultFlow != null" >
        #{resultFlow,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null" >
        #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="targetFlow != null" >
        #{targetFlow,jdbcType=VARCHAR},
      </if>
      <if test="targetName != null" >
        #{targetName,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null" >
        #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="evalScore != null" >
        #{evalScore,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="isText != null" >
        #{isText,jdbcType=VARCHAR},
      </if>
      <if test="evalRemarks != null" >
        #{evalRemarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.TeachingActivityEvalExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.TEACHING_ACTIVITY_EVAL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.TEACHING_ACTIVITY_EVAL
    <set >
      <if test="record.evalFlow != null" >
        EVAL_FLOW = #{record.evalFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.resultFlow != null" >
        RESULT_FLOW = #{record.resultFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userFlow != null" >
        USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.targetFlow != null" >
        TARGET_FLOW = #{record.targetFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.targetName != null" >
        TARGET_NAME = #{record.targetName,jdbcType=VARCHAR},
      </if>
      <if test="record.ordinal != null" >
        ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      </if>
      <if test="record.evalScore != null" >
        EVAL_SCORE = #{record.evalScore,jdbcType=DECIMAL},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.isText != null" >
        IS_TEXT = #{record.isText,jdbcType=VARCHAR},
      </if>
      <if test="record.evalRemarks != null" >
        EVAL_REMARKS = #{record.evalRemarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.TEACHING_ACTIVITY_EVAL
    set EVAL_FLOW = #{record.evalFlow,jdbcType=VARCHAR},
      RESULT_FLOW = #{record.resultFlow,jdbcType=VARCHAR},
      USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      TARGET_FLOW = #{record.targetFlow,jdbcType=VARCHAR},
      TARGET_NAME = #{record.targetName,jdbcType=VARCHAR},
      ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      EVAL_SCORE = #{record.evalScore,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      IS_TEXT = #{record.isText,jdbcType=VARCHAR},
      EVAL_REMARKS = #{record.evalRemarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.TeachingActivityEval" >
    update PDSCI.TEACHING_ACTIVITY_EVAL
    <set >
      <if test="resultFlow != null" >
        RESULT_FLOW = #{resultFlow,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null" >
        USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="targetFlow != null" >
        TARGET_FLOW = #{targetFlow,jdbcType=VARCHAR},
      </if>
      <if test="targetName != null" >
        TARGET_NAME = #{targetName,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null" >
        ORDINAL = #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="evalScore != null" >
        EVAL_SCORE = #{evalScore,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="isText != null" >
        IS_TEXT = #{isText,jdbcType=VARCHAR},
      </if>
      <if test="evalRemarks != null" >
        EVAL_REMARKS = #{evalRemarks,jdbcType=VARCHAR},
      </if>
    </set>
    where EVAL_FLOW = #{evalFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.TeachingActivityEval" >
    update PDSCI.TEACHING_ACTIVITY_EVAL
    set RESULT_FLOW = #{resultFlow,jdbcType=VARCHAR},
      USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      TARGET_FLOW = #{targetFlow,jdbcType=VARCHAR},
      TARGET_NAME = #{targetName,jdbcType=VARCHAR},
      ORDINAL = #{ordinal,jdbcType=DECIMAL},
      EVAL_SCORE = #{evalScore,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      IS_TEXT = #{isText,jdbcType=VARCHAR},
      EVAL_REMARKS = #{evalRemarks,jdbcType=VARCHAR}
    where EVAL_FLOW = #{evalFlow,jdbcType=VARCHAR}
  </update>

  <resultMap id="BaseMap" type="com.pinde.sci.model.mo.ActivityCfgExt" >
    <id column="record_flow" property="recordFlow" jdbcType="VARCHAR" />
    <result column="submit_role" property="submitRole" jdbcType="VARCHAR" />
    <result column="sub_role_name" property="subRoleName" jdbcType="VARCHAR" />
    <result column="audit_role" property="auditRole" jdbcType="VARCHAR" />
    <result column="audit_role_name" property="auditRoleName" jdbcType="VARCHAR" />
    <result column="record_status" property="recordStatus" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="VARCHAR" />
    <result column="org_flow" property="orgFlow" jdbcType="VARCHAR" />
  </resultMap>

  <select id="searchActvity" parameterType="map" resultMap="BaseMap">
    select * from teach_activity_cfg where record_status='Y'
    <if test="recordFlow != null" >
      and record_flow=#{recordFlow}
    </if>
    <if test="orgFlow != null" >
      and org_flow=#{orgFlow}
    </if>
  </select>
</mapper>