<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.TeacherTargetApplyMapper">
  <resultMap id="BaseResultMap" type="com.pinde.core.model.TeacherTargetApply">
    <id column="APPLY_FLOW" jdbcType="VARCHAR" property="applyFlow" />
    <result column="USER_FLOW" jdbcType="VARCHAR" property="userFlow" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="ORG_FLOW" jdbcType="VARCHAR" property="orgFlow" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="SPE_ID" jdbcType="VARCHAR" property="speId" />
    <result column="SPE_NAME" jdbcType="VARCHAR" property="speName" />
    <result column="RECRUIT_YEAR" jdbcType="VARCHAR" property="recruitYear" />
    <result column="IS_ACADEMIC" jdbcType="VARCHAR" property="isAcademic" />
    <result column="IS_SPECIALIZED" jdbcType="VARCHAR" property="isSpecialized" />
    <result column="ACADEMIC_NUM" jdbcType="VARCHAR" property="academicNum" />
    <result column="SPECIALIZED_NUM" jdbcType="VARCHAR" property="specializedNum" />
    <result column="RESEARCH_DIRECTION" jdbcType="VARCHAR" property="researchDirection" />
    <result column="AUDIT_STATUS_ID" jdbcType="VARCHAR" property="auditStatusId" />
    <result column="AUDIT_STATUS_NAME" jdbcType="VARCHAR" property="auditStatusName" />
    <result column="IS_SUBMIT" jdbcType="VARCHAR" property="isSubmit" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="RESEARCH_DIRECTION_ID" jdbcType="VARCHAR" property="researchDirectionId" />
    <result column="ORG_AUDIT_ADVICE" jdbcType="VARCHAR" property="orgAuditAdvice" />
    <result column="SCHOOL_AUDIT_ADVICE" jdbcType="VARCHAR" property="schoolAuditAdvice" />
    <result column="ACADEMIC_RECRUIT_NUM" jdbcType="VARCHAR" property="academicRecruitNum" />
    <result column="SPECIALIZED_RECRUIT_NUM" jdbcType="VARCHAR" property="specializedRecruitNum" />
    <result column="ORG_USER_FLOW" jdbcType="VARCHAR" property="orgUserFlow" />
    <result column="ORG_USER_NAME" jdbcType="VARCHAR" property="orgUserName" />
    <result column="ORG_AUDIT_TIME" jdbcType="VARCHAR" property="orgAuditTime" />
    <result column="SCHOOL_AUDIT_TIME" jdbcType="VARCHAR" property="schoolAuditTime" />
    <result column="TEACHER_APPLY_TIME" jdbcType="VARCHAR" property="teacherApplyTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    APPLY_FLOW, USER_FLOW, USER_NAME, ORG_FLOW, ORG_NAME, SPE_ID, SPE_NAME, RECRUIT_YEAR, 
    IS_ACADEMIC, IS_SPECIALIZED, ACADEMIC_NUM, SPECIALIZED_NUM, RESEARCH_DIRECTION, AUDIT_STATUS_ID, 
    AUDIT_STATUS_NAME, IS_SUBMIT, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
    MODIFY_USER_FLOW, RESEARCH_DIRECTION_ID, ORG_AUDIT_ADVICE, SCHOOL_AUDIT_ADVICE, ACADEMIC_RECRUIT_NUM, 
    SPECIALIZED_RECRUIT_NUM, ORG_USER_FLOW, ORG_USER_NAME, ORG_AUDIT_TIME, SCHOOL_AUDIT_TIME, 
    TEACHER_APPLY_TIME
  </sql>
  <select id="selectByExample" parameterType="com.pinde.core.model.TeacherTargetApplyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
      from TEACHER_TARGET_APPLY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
      from TEACHER_TARGET_APPLY
    where APPLY_FLOW = #{applyFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
      delete from TEACHER_TARGET_APPLY
    where APPLY_FLOW = #{applyFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.TeacherTargetApplyExample">
      delete from TEACHER_TARGET_APPLY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.TeacherTargetApply">
      insert into TEACHER_TARGET_APPLY (APPLY_FLOW, USER_FLOW, USER_NAME,
      ORG_FLOW, ORG_NAME, SPE_ID, 
      SPE_NAME, RECRUIT_YEAR, IS_ACADEMIC, 
      IS_SPECIALIZED, ACADEMIC_NUM, SPECIALIZED_NUM, 
      RESEARCH_DIRECTION, AUDIT_STATUS_ID, AUDIT_STATUS_NAME, 
      IS_SUBMIT, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      RESEARCH_DIRECTION_ID, ORG_AUDIT_ADVICE, SCHOOL_AUDIT_ADVICE, 
      ACADEMIC_RECRUIT_NUM, SPECIALIZED_RECRUIT_NUM, 
      ORG_USER_FLOW, ORG_USER_NAME, ORG_AUDIT_TIME, 
      SCHOOL_AUDIT_TIME, TEACHER_APPLY_TIME)
    values (#{applyFlow,jdbcType=VARCHAR}, #{userFlow,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{speId,jdbcType=VARCHAR}, 
      #{speName,jdbcType=VARCHAR}, #{recruitYear,jdbcType=VARCHAR}, #{isAcademic,jdbcType=VARCHAR}, 
      #{isSpecialized,jdbcType=VARCHAR}, #{academicNum,jdbcType=VARCHAR}, #{specializedNum,jdbcType=VARCHAR}, 
      #{researchDirection,jdbcType=VARCHAR}, #{auditStatusId,jdbcType=VARCHAR}, #{auditStatusName,jdbcType=VARCHAR}, 
      #{isSubmit,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{researchDirectionId,jdbcType=VARCHAR}, #{orgAuditAdvice,jdbcType=VARCHAR}, #{schoolAuditAdvice,jdbcType=VARCHAR}, 
      #{academicRecruitNum,jdbcType=VARCHAR}, #{specializedRecruitNum,jdbcType=VARCHAR}, 
      #{orgUserFlow,jdbcType=VARCHAR}, #{orgUserName,jdbcType=VARCHAR}, #{orgAuditTime,jdbcType=VARCHAR}, 
      #{schoolAuditTime,jdbcType=VARCHAR}, #{teacherApplyTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.TeacherTargetApply">
      insert into TEACHER_TARGET_APPLY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applyFlow != null">
        APPLY_FLOW,
      </if>
      <if test="userFlow != null">
        USER_FLOW,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="orgFlow != null">
        ORG_FLOW,
      </if>
      <if test="orgName != null">
        ORG_NAME,
      </if>
      <if test="speId != null">
        SPE_ID,
      </if>
      <if test="speName != null">
        SPE_NAME,
      </if>
      <if test="recruitYear != null">
        RECRUIT_YEAR,
      </if>
      <if test="isAcademic != null">
        IS_ACADEMIC,
      </if>
      <if test="isSpecialized != null">
        IS_SPECIALIZED,
      </if>
      <if test="academicNum != null">
        ACADEMIC_NUM,
      </if>
      <if test="specializedNum != null">
        SPECIALIZED_NUM,
      </if>
      <if test="researchDirection != null">
        RESEARCH_DIRECTION,
      </if>
      <if test="auditStatusId != null">
        AUDIT_STATUS_ID,
      </if>
      <if test="auditStatusName != null">
        AUDIT_STATUS_NAME,
      </if>
      <if test="isSubmit != null">
        IS_SUBMIT,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="researchDirectionId != null">
        RESEARCH_DIRECTION_ID,
      </if>
      <if test="orgAuditAdvice != null">
        ORG_AUDIT_ADVICE,
      </if>
      <if test="schoolAuditAdvice != null">
        SCHOOL_AUDIT_ADVICE,
      </if>
      <if test="academicRecruitNum != null">
        ACADEMIC_RECRUIT_NUM,
      </if>
      <if test="specializedRecruitNum != null">
        SPECIALIZED_RECRUIT_NUM,
      </if>
      <if test="orgUserFlow != null">
        ORG_USER_FLOW,
      </if>
      <if test="orgUserName != null">
        ORG_USER_NAME,
      </if>
      <if test="orgAuditTime != null">
        ORG_AUDIT_TIME,
      </if>
      <if test="schoolAuditTime != null">
        SCHOOL_AUDIT_TIME,
      </if>
      <if test="teacherApplyTime != null">
        TEACHER_APPLY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applyFlow != null">
        #{applyFlow,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null">
        #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null">
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="speId != null">
        #{speId,jdbcType=VARCHAR},
      </if>
      <if test="speName != null">
        #{speName,jdbcType=VARCHAR},
      </if>
      <if test="recruitYear != null">
        #{recruitYear,jdbcType=VARCHAR},
      </if>
      <if test="isAcademic != null">
        #{isAcademic,jdbcType=VARCHAR},
      </if>
      <if test="isSpecialized != null">
        #{isSpecialized,jdbcType=VARCHAR},
      </if>
      <if test="academicNum != null">
        #{academicNum,jdbcType=VARCHAR},
      </if>
      <if test="specializedNum != null">
        #{specializedNum,jdbcType=VARCHAR},
      </if>
      <if test="researchDirection != null">
        #{researchDirection,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusId != null">
        #{auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusName != null">
        #{auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="isSubmit != null">
        #{isSubmit,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="researchDirectionId != null">
        #{researchDirectionId,jdbcType=VARCHAR},
      </if>
      <if test="orgAuditAdvice != null">
        #{orgAuditAdvice,jdbcType=VARCHAR},
      </if>
      <if test="schoolAuditAdvice != null">
        #{schoolAuditAdvice,jdbcType=VARCHAR},
      </if>
      <if test="academicRecruitNum != null">
        #{academicRecruitNum,jdbcType=VARCHAR},
      </if>
      <if test="specializedRecruitNum != null">
        #{specializedRecruitNum,jdbcType=VARCHAR},
      </if>
      <if test="orgUserFlow != null">
        #{orgUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgUserName != null">
        #{orgUserName,jdbcType=VARCHAR},
      </if>
      <if test="orgAuditTime != null">
        #{orgAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="schoolAuditTime != null">
        #{schoolAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="teacherApplyTime != null">
        #{teacherApplyTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.TeacherTargetApplyExample" resultType="java.lang.Integer">
      select count(*) from TEACHER_TARGET_APPLY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
      update TEACHER_TARGET_APPLY
    <set>
      <if test="record.applyFlow != null">
        APPLY_FLOW = #{record.applyFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userFlow != null">
        USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null">
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null">
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.speId != null">
        SPE_ID = #{record.speId,jdbcType=VARCHAR},
      </if>
      <if test="record.speName != null">
        SPE_NAME = #{record.speName,jdbcType=VARCHAR},
      </if>
      <if test="record.recruitYear != null">
        RECRUIT_YEAR = #{record.recruitYear,jdbcType=VARCHAR},
      </if>
      <if test="record.isAcademic != null">
        IS_ACADEMIC = #{record.isAcademic,jdbcType=VARCHAR},
      </if>
      <if test="record.isSpecialized != null">
        IS_SPECIALIZED = #{record.isSpecialized,jdbcType=VARCHAR},
      </if>
      <if test="record.academicNum != null">
        ACADEMIC_NUM = #{record.academicNum,jdbcType=VARCHAR},
      </if>
      <if test="record.specializedNum != null">
        SPECIALIZED_NUM = #{record.specializedNum,jdbcType=VARCHAR},
      </if>
      <if test="record.researchDirection != null">
        RESEARCH_DIRECTION = #{record.researchDirection,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatusId != null">
        AUDIT_STATUS_ID = #{record.auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatusName != null">
        AUDIT_STATUS_NAME = #{record.auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.isSubmit != null">
        IS_SUBMIT = #{record.isSubmit,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.researchDirectionId != null">
        RESEARCH_DIRECTION_ID = #{record.researchDirectionId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgAuditAdvice != null">
        ORG_AUDIT_ADVICE = #{record.orgAuditAdvice,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolAuditAdvice != null">
        SCHOOL_AUDIT_ADVICE = #{record.schoolAuditAdvice,jdbcType=VARCHAR},
      </if>
      <if test="record.academicRecruitNum != null">
        ACADEMIC_RECRUIT_NUM = #{record.academicRecruitNum,jdbcType=VARCHAR},
      </if>
      <if test="record.specializedRecruitNum != null">
        SPECIALIZED_RECRUIT_NUM = #{record.specializedRecruitNum,jdbcType=VARCHAR},
      </if>
      <if test="record.orgUserFlow != null">
        ORG_USER_FLOW = #{record.orgUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgUserName != null">
        ORG_USER_NAME = #{record.orgUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgAuditTime != null">
        ORG_AUDIT_TIME = #{record.orgAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolAuditTime != null">
        SCHOOL_AUDIT_TIME = #{record.schoolAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherApplyTime != null">
        TEACHER_APPLY_TIME = #{record.teacherApplyTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
      update TEACHER_TARGET_APPLY
    set APPLY_FLOW = #{record.applyFlow,jdbcType=VARCHAR},
      USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      SPE_ID = #{record.speId,jdbcType=VARCHAR},
      SPE_NAME = #{record.speName,jdbcType=VARCHAR},
      RECRUIT_YEAR = #{record.recruitYear,jdbcType=VARCHAR},
      IS_ACADEMIC = #{record.isAcademic,jdbcType=VARCHAR},
      IS_SPECIALIZED = #{record.isSpecialized,jdbcType=VARCHAR},
      ACADEMIC_NUM = #{record.academicNum,jdbcType=VARCHAR},
      SPECIALIZED_NUM = #{record.specializedNum,jdbcType=VARCHAR},
      RESEARCH_DIRECTION = #{record.researchDirection,jdbcType=VARCHAR},
      AUDIT_STATUS_ID = #{record.auditStatusId,jdbcType=VARCHAR},
      AUDIT_STATUS_NAME = #{record.auditStatusName,jdbcType=VARCHAR},
      IS_SUBMIT = #{record.isSubmit,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      RESEARCH_DIRECTION_ID = #{record.researchDirectionId,jdbcType=VARCHAR},
      ORG_AUDIT_ADVICE = #{record.orgAuditAdvice,jdbcType=VARCHAR},
      SCHOOL_AUDIT_ADVICE = #{record.schoolAuditAdvice,jdbcType=VARCHAR},
      ACADEMIC_RECRUIT_NUM = #{record.academicRecruitNum,jdbcType=VARCHAR},
      SPECIALIZED_RECRUIT_NUM = #{record.specializedRecruitNum,jdbcType=VARCHAR},
      ORG_USER_FLOW = #{record.orgUserFlow,jdbcType=VARCHAR},
      ORG_USER_NAME = #{record.orgUserName,jdbcType=VARCHAR},
      ORG_AUDIT_TIME = #{record.orgAuditTime,jdbcType=VARCHAR},
      SCHOOL_AUDIT_TIME = #{record.schoolAuditTime,jdbcType=VARCHAR},
      TEACHER_APPLY_TIME = #{record.teacherApplyTime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.TeacherTargetApply">
      update TEACHER_TARGET_APPLY
    <set>
      <if test="userFlow != null">
        USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null">
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="speId != null">
        SPE_ID = #{speId,jdbcType=VARCHAR},
      </if>
      <if test="speName != null">
        SPE_NAME = #{speName,jdbcType=VARCHAR},
      </if>
      <if test="recruitYear != null">
        RECRUIT_YEAR = #{recruitYear,jdbcType=VARCHAR},
      </if>
      <if test="isAcademic != null">
        IS_ACADEMIC = #{isAcademic,jdbcType=VARCHAR},
      </if>
      <if test="isSpecialized != null">
        IS_SPECIALIZED = #{isSpecialized,jdbcType=VARCHAR},
      </if>
      <if test="academicNum != null">
        ACADEMIC_NUM = #{academicNum,jdbcType=VARCHAR},
      </if>
      <if test="specializedNum != null">
        SPECIALIZED_NUM = #{specializedNum,jdbcType=VARCHAR},
      </if>
      <if test="researchDirection != null">
        RESEARCH_DIRECTION = #{researchDirection,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusId != null">
        AUDIT_STATUS_ID = #{auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusName != null">
        AUDIT_STATUS_NAME = #{auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="isSubmit != null">
        IS_SUBMIT = #{isSubmit,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="researchDirectionId != null">
        RESEARCH_DIRECTION_ID = #{researchDirectionId,jdbcType=VARCHAR},
      </if>
      <if test="orgAuditAdvice != null">
        ORG_AUDIT_ADVICE = #{orgAuditAdvice,jdbcType=VARCHAR},
      </if>
      <if test="schoolAuditAdvice != null">
        SCHOOL_AUDIT_ADVICE = #{schoolAuditAdvice,jdbcType=VARCHAR},
      </if>
      <if test="academicRecruitNum != null">
        ACADEMIC_RECRUIT_NUM = #{academicRecruitNum,jdbcType=VARCHAR},
      </if>
      <if test="specializedRecruitNum != null">
        SPECIALIZED_RECRUIT_NUM = #{specializedRecruitNum,jdbcType=VARCHAR},
      </if>
      <if test="orgUserFlow != null">
        ORG_USER_FLOW = #{orgUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgUserName != null">
        ORG_USER_NAME = #{orgUserName,jdbcType=VARCHAR},
      </if>
      <if test="orgAuditTime != null">
        ORG_AUDIT_TIME = #{orgAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="schoolAuditTime != null">
        SCHOOL_AUDIT_TIME = #{schoolAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="teacherApplyTime != null">
        TEACHER_APPLY_TIME = #{teacherApplyTime,jdbcType=VARCHAR},
      </if>
    </set>
    where APPLY_FLOW = #{applyFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.TeacherTargetApply">
      update TEACHER_TARGET_APPLY
    set USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      SPE_ID = #{speId,jdbcType=VARCHAR},
      SPE_NAME = #{speName,jdbcType=VARCHAR},
      RECRUIT_YEAR = #{recruitYear,jdbcType=VARCHAR},
      IS_ACADEMIC = #{isAcademic,jdbcType=VARCHAR},
      IS_SPECIALIZED = #{isSpecialized,jdbcType=VARCHAR},
      ACADEMIC_NUM = #{academicNum,jdbcType=VARCHAR},
      SPECIALIZED_NUM = #{specializedNum,jdbcType=VARCHAR},
      RESEARCH_DIRECTION = #{researchDirection,jdbcType=VARCHAR},
      AUDIT_STATUS_ID = #{auditStatusId,jdbcType=VARCHAR},
      AUDIT_STATUS_NAME = #{auditStatusName,jdbcType=VARCHAR},
      IS_SUBMIT = #{isSubmit,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      RESEARCH_DIRECTION_ID = #{researchDirectionId,jdbcType=VARCHAR},
      ORG_AUDIT_ADVICE = #{orgAuditAdvice,jdbcType=VARCHAR},
      SCHOOL_AUDIT_ADVICE = #{schoolAuditAdvice,jdbcType=VARCHAR},
      ACADEMIC_RECRUIT_NUM = #{academicRecruitNum,jdbcType=VARCHAR},
      SPECIALIZED_RECRUIT_NUM = #{specializedRecruitNum,jdbcType=VARCHAR},
      ORG_USER_FLOW = #{orgUserFlow,jdbcType=VARCHAR},
      ORG_USER_NAME = #{orgUserName,jdbcType=VARCHAR},
      ORG_AUDIT_TIME = #{orgAuditTime,jdbcType=VARCHAR},
      SCHOOL_AUDIT_TIME = #{schoolAuditTime,jdbcType=VARCHAR},
      TEACHER_APPLY_TIME = #{teacherApplyTime,jdbcType=VARCHAR}
    where APPLY_FLOW = #{applyFlow,jdbcType=VARCHAR}
  </update>
</mapper>