<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.TestResultMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.core.model.TestResult" >
    <id column="RESULT_FLOW" property="resultFlow" jdbcType="VARCHAR" />
    <result column="PAPER_FLOW" property="paperFlow" jdbcType="VARCHAR" />
    <result column="PAPER_NAME" property="paperName" jdbcType="VARCHAR" />
    <result column="USER_FLOW" property="userFlow" jdbcType="VARCHAR" />
    <result column="USER_CODE" property="userCode" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="TEST_SCORE" property="testScore" jdbcType="DECIMAL" />
    <result column="ADD_SCORE" property="addScore" jdbcType="DECIMAL" />
    <result column="TOTLE_SCORE" property="totleScore" jdbcType="DECIMAL" />
    <result column="PASS_FLAG" property="passFlag" jdbcType="VARCHAR" />
    <result column="TEST_TIME" property="testTime" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="TEST_TYPE_ID" property="testTypeId" jdbcType="VARCHAR" />
    <result column="TEST_TYPE_NAME" property="testTypeName" jdbcType="VARCHAR" />
    <result column="TICKET_NUMBER" property="ticketNumber" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RESULT_FLOW, PAPER_FLOW, PAPER_NAME, USER_FLOW, USER_CODE, USER_NAME, TEST_SCORE, 
    ADD_SCORE, TOTLE_SCORE, PASS_FLAG, TEST_TIME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW, TEST_TYPE_ID, TEST_TYPE_NAME, TICKET_NUMBER, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.TestResultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.TEST_RESULT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.TEST_RESULT
    where RESULT_FLOW = #{resultFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.TEST_RESULT
    where RESULT_FLOW = #{resultFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.core.model.TestResultExample" >
    delete from PDSCI.TEST_RESULT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.core.model.TestResult" >
    insert into PDSCI.TEST_RESULT (RESULT_FLOW, PAPER_FLOW, PAPER_NAME, 
      USER_FLOW, USER_CODE, USER_NAME, 
      TEST_SCORE, ADD_SCORE, TOTLE_SCORE, 
      PASS_FLAG, TEST_TIME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, TEST_TYPE_ID, TEST_TYPE_NAME, 
      TICKET_NUMBER, REMARK)
    values (#{resultFlow,jdbcType=VARCHAR}, #{paperFlow,jdbcType=VARCHAR}, #{paperName,jdbcType=VARCHAR}, 
      #{userFlow,jdbcType=VARCHAR}, #{userCode,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{testScore,jdbcType=DECIMAL}, #{addScore,jdbcType=DECIMAL}, #{totleScore,jdbcType=DECIMAL}, 
      #{passFlag,jdbcType=VARCHAR}, #{testTime,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{testTypeId,jdbcType=VARCHAR}, #{testTypeName,jdbcType=VARCHAR}, 
      #{ticketNumber,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.core.model.TestResult" >
    insert into PDSCI.TEST_RESULT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resultFlow != null" >
        RESULT_FLOW,
      </if>
      <if test="paperFlow != null" >
        PAPER_FLOW,
      </if>
      <if test="paperName != null" >
        PAPER_NAME,
      </if>
      <if test="userFlow != null" >
        USER_FLOW,
      </if>
      <if test="userCode != null" >
        USER_CODE,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="testScore != null" >
        TEST_SCORE,
      </if>
      <if test="addScore != null" >
        ADD_SCORE,
      </if>
      <if test="totleScore != null" >
        TOTLE_SCORE,
      </if>
      <if test="passFlag != null" >
        PASS_FLAG,
      </if>
      <if test="testTime != null" >
        TEST_TIME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="testTypeId != null" >
        TEST_TYPE_ID,
      </if>
      <if test="testTypeName != null" >
        TEST_TYPE_NAME,
      </if>
      <if test="ticketNumber != null" >
        TICKET_NUMBER,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resultFlow != null" >
        #{resultFlow,jdbcType=VARCHAR},
      </if>
      <if test="paperFlow != null" >
        #{paperFlow,jdbcType=VARCHAR},
      </if>
      <if test="paperName != null" >
        #{paperName,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null" >
        #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="testScore != null" >
        #{testScore,jdbcType=DECIMAL},
      </if>
      <if test="addScore != null" >
        #{addScore,jdbcType=DECIMAL},
      </if>
      <if test="totleScore != null" >
        #{totleScore,jdbcType=DECIMAL},
      </if>
      <if test="passFlag != null" >
        #{passFlag,jdbcType=VARCHAR},
      </if>
      <if test="testTime != null" >
        #{testTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="testTypeId != null" >
        #{testTypeId,jdbcType=VARCHAR},
      </if>
      <if test="testTypeName != null" >
        #{testTypeName,jdbcType=VARCHAR},
      </if>
      <if test="ticketNumber != null" >
        #{ticketNumber,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.core.model.TestResultExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.TEST_RESULT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.TEST_RESULT
    <set >
      <if test="record.resultFlow != null" >
        RESULT_FLOW = #{record.resultFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.paperFlow != null" >
        PAPER_FLOW = #{record.paperFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.paperName != null" >
        PAPER_NAME = #{record.paperName,jdbcType=VARCHAR},
      </if>
      <if test="record.userFlow != null" >
        USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userCode != null" >
        USER_CODE = #{record.userCode,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.testScore != null" >
        TEST_SCORE = #{record.testScore,jdbcType=DECIMAL},
      </if>
      <if test="record.addScore != null" >
        ADD_SCORE = #{record.addScore,jdbcType=DECIMAL},
      </if>
      <if test="record.totleScore != null" >
        TOTLE_SCORE = #{record.totleScore,jdbcType=DECIMAL},
      </if>
      <if test="record.passFlag != null" >
        PASS_FLAG = #{record.passFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.testTime != null" >
        TEST_TIME = #{record.testTime,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.testTypeId != null" >
        TEST_TYPE_ID = #{record.testTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.testTypeName != null" >
        TEST_TYPE_NAME = #{record.testTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.ticketNumber != null" >
        TICKET_NUMBER = #{record.ticketNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.TEST_RESULT
    set RESULT_FLOW = #{record.resultFlow,jdbcType=VARCHAR},
      PAPER_FLOW = #{record.paperFlow,jdbcType=VARCHAR},
      PAPER_NAME = #{record.paperName,jdbcType=VARCHAR},
      USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      USER_CODE = #{record.userCode,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      TEST_SCORE = #{record.testScore,jdbcType=DECIMAL},
      ADD_SCORE = #{record.addScore,jdbcType=DECIMAL},
      TOTLE_SCORE = #{record.totleScore,jdbcType=DECIMAL},
      PASS_FLAG = #{record.passFlag,jdbcType=VARCHAR},
      TEST_TIME = #{record.testTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      TEST_TYPE_ID = #{record.testTypeId,jdbcType=VARCHAR},
      TEST_TYPE_NAME = #{record.testTypeName,jdbcType=VARCHAR},
      TICKET_NUMBER = #{record.ticketNumber,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.TestResult" >
    update PDSCI.TEST_RESULT
    <set >
      <if test="paperFlow != null" >
        PAPER_FLOW = #{paperFlow,jdbcType=VARCHAR},
      </if>
      <if test="paperName != null" >
        PAPER_NAME = #{paperName,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null" >
        USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        USER_CODE = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="testScore != null" >
        TEST_SCORE = #{testScore,jdbcType=DECIMAL},
      </if>
      <if test="addScore != null" >
        ADD_SCORE = #{addScore,jdbcType=DECIMAL},
      </if>
      <if test="totleScore != null" >
        TOTLE_SCORE = #{totleScore,jdbcType=DECIMAL},
      </if>
      <if test="passFlag != null" >
        PASS_FLAG = #{passFlag,jdbcType=VARCHAR},
      </if>
      <if test="testTime != null" >
        TEST_TIME = #{testTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="testTypeId != null" >
        TEST_TYPE_ID = #{testTypeId,jdbcType=VARCHAR},
      </if>
      <if test="testTypeName != null" >
        TEST_TYPE_NAME = #{testTypeName,jdbcType=VARCHAR},
      </if>
      <if test="ticketNumber != null" >
        TICKET_NUMBER = #{ticketNumber,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where RESULT_FLOW = #{resultFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.TestResult" >
    update PDSCI.TEST_RESULT
    set PAPER_FLOW = #{paperFlow,jdbcType=VARCHAR},
      PAPER_NAME = #{paperName,jdbcType=VARCHAR},
      USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      USER_CODE = #{userCode,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      TEST_SCORE = #{testScore,jdbcType=DECIMAL},
      ADD_SCORE = #{addScore,jdbcType=DECIMAL},
      TOTLE_SCORE = #{totleScore,jdbcType=DECIMAL},
      PASS_FLAG = #{passFlag,jdbcType=VARCHAR},
      TEST_TIME = #{testTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      TEST_TYPE_ID = #{testTypeId,jdbcType=VARCHAR},
      TEST_TYPE_NAME = #{testTypeName,jdbcType=VARCHAR},
      TICKET_NUMBER = #{ticketNumber,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where RESULT_FLOW = #{resultFlow,jdbcType=VARCHAR}
  </update>
</mapper>