<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ZseyHrKqMonthMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ZseyHrKqMonth" >
    <id column="MONTH_FLOW" property="monthFlow" jdbcType="VARCHAR" />
    <result column="RES_TYPE" property="resType" jdbcType="CHAR" />
    <result column="USER_FLOW" property="userFlow" jdbcType="VARCHAR" />
    <result column="USER_CODE" property="userCode" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="DEPT_FLOW" property="deptFlow" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="IN_DATE" property="inDate" jdbcType="VARCHAR" />
    <result column="ID_NO" property="idNo" jdbcType="VARCHAR" />
    <result column="M01" property="m01" jdbcType="VARCHAR" />
    <result column="M02" property="m02" jdbcType="VARCHAR" />
    <result column="M03" property="m03" jdbcType="VARCHAR" />
    <result column="M04" property="m04" jdbcType="VARCHAR" />
    <result column="M05" property="m05" jdbcType="VARCHAR" />
    <result column="M06" property="m06" jdbcType="VARCHAR" />
    <result column="M07" property="m07" jdbcType="VARCHAR" />
    <result column="M08" property="m08" jdbcType="VARCHAR" />
    <result column="M09" property="m09" jdbcType="VARCHAR" />
    <result column="M10" property="m10" jdbcType="VARCHAR" />
    <result column="M11" property="m11" jdbcType="VARCHAR" />
    <result column="M12" property="m12" jdbcType="VARCHAR" />
    <result column="M13" property="m13" jdbcType="VARCHAR" />
    <result column="M14" property="m14" jdbcType="VARCHAR" />
    <result column="M15" property="m15" jdbcType="VARCHAR" />
    <result column="M16" property="m16" jdbcType="VARCHAR" />
    <result column="M17" property="m17" jdbcType="VARCHAR" />
    <result column="M18" property="m18" jdbcType="VARCHAR" />
    <result column="M19" property="m19" jdbcType="VARCHAR" />
    <result column="M20" property="m20" jdbcType="VARCHAR" />
    <result column="M21" property="m21" jdbcType="VARCHAR" />
    <result column="M22" property="m22" jdbcType="VARCHAR" />
    <result column="M23" property="m23" jdbcType="VARCHAR" />
    <result column="M24" property="m24" jdbcType="VARCHAR" />
    <result column="M25" property="m25" jdbcType="VARCHAR" />
    <result column="M26" property="m26" jdbcType="VARCHAR" />
    <result column="M27" property="m27" jdbcType="VARCHAR" />
    <result column="M28" property="m28" jdbcType="VARCHAR" />
    <result column="M29" property="m29" jdbcType="VARCHAR" />
    <result column="M30" property="m30" jdbcType="VARCHAR" />
    <result column="M31" property="m31" jdbcType="VARCHAR" />
    <result column="KQ_DATE" property="kqDate" jdbcType="VARCHAR" />
    <result column="KQ_DEPT_FLOW" property="kqDeptFlow" jdbcType="VARCHAR" />
    <result column="KQ_DEPT_NAME" property="kqDeptName" jdbcType="VARCHAR" />
    <result column="KQ_USER_CODE" property="kqUserCode" jdbcType="VARCHAR" />
    <result column="KQ_USER_NAME" property="kqUserName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="IS_SUBMIT" property="isSubmit" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MONTH_FLOW, RES_TYPE, USER_FLOW, USER_CODE, USER_NAME, DEPT_FLOW, DEPT_NAME, IN_DATE, 
    ID_NO, M01, M02, M03, M04, M05, M06, M07, M08, M09, M10, M11, M12, M13, M14, M15, 
    M16, M17, M18, M19, M20, M21, M22, M23, M24, M25, M26, M27, M28, M29, M30, M31, KQ_DATE, 
    KQ_DEPT_FLOW, KQ_DEPT_NAME, KQ_USER_CODE, KQ_USER_NAME, RECORD_STATUS, CREATE_TIME, 
    CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, IS_SUBMIT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ZseyHrKqMonthExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.ZSEY_HR_KQ_MONTH
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.ZSEY_HR_KQ_MONTH
    where MONTH_FLOW = #{monthFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.ZSEY_HR_KQ_MONTH
    where MONTH_FLOW = #{monthFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ZseyHrKqMonthExample" >
    delete from PDSCI.ZSEY_HR_KQ_MONTH
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ZseyHrKqMonth" >
    insert into PDSCI.ZSEY_HR_KQ_MONTH (MONTH_FLOW, RES_TYPE, USER_FLOW, 
      USER_CODE, USER_NAME, DEPT_FLOW, 
      DEPT_NAME, IN_DATE, ID_NO, 
      M01, M02, M03, M04, 
      M05, M06, M07, M08, 
      M09, M10, M11, M12, 
      M13, M14, M15, M16, 
      M17, M18, M19, M20, 
      M21, M22, M23, M24, 
      M25, M26, M27, M28, 
      M29, M30, M31, KQ_DATE, 
      KQ_DEPT_FLOW, KQ_DEPT_NAME, KQ_USER_CODE, 
      KQ_USER_NAME, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      IS_SUBMIT)
    values (#{monthFlow,jdbcType=VARCHAR}, #{resType,jdbcType=CHAR}, #{userFlow,jdbcType=VARCHAR}, 
      #{userCode,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{deptFlow,jdbcType=VARCHAR}, 
      #{deptName,jdbcType=VARCHAR}, #{inDate,jdbcType=VARCHAR}, #{idNo,jdbcType=VARCHAR}, 
      #{m01,jdbcType=VARCHAR}, #{m02,jdbcType=VARCHAR}, #{m03,jdbcType=VARCHAR}, #{m04,jdbcType=VARCHAR}, 
      #{m05,jdbcType=VARCHAR}, #{m06,jdbcType=VARCHAR}, #{m07,jdbcType=VARCHAR}, #{m08,jdbcType=VARCHAR}, 
      #{m09,jdbcType=VARCHAR}, #{m10,jdbcType=VARCHAR}, #{m11,jdbcType=VARCHAR}, #{m12,jdbcType=VARCHAR}, 
      #{m13,jdbcType=VARCHAR}, #{m14,jdbcType=VARCHAR}, #{m15,jdbcType=VARCHAR}, #{m16,jdbcType=VARCHAR}, 
      #{m17,jdbcType=VARCHAR}, #{m18,jdbcType=VARCHAR}, #{m19,jdbcType=VARCHAR}, #{m20,jdbcType=VARCHAR}, 
      #{m21,jdbcType=VARCHAR}, #{m22,jdbcType=VARCHAR}, #{m23,jdbcType=VARCHAR}, #{m24,jdbcType=VARCHAR}, 
      #{m25,jdbcType=VARCHAR}, #{m26,jdbcType=VARCHAR}, #{m27,jdbcType=VARCHAR}, #{m28,jdbcType=VARCHAR}, 
      #{m29,jdbcType=VARCHAR}, #{m30,jdbcType=VARCHAR}, #{m31,jdbcType=VARCHAR}, #{kqDate,jdbcType=VARCHAR}, 
      #{kqDeptFlow,jdbcType=VARCHAR}, #{kqDeptName,jdbcType=VARCHAR}, #{kqUserCode,jdbcType=VARCHAR}, 
      #{kqUserName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{isSubmit,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ZseyHrKqMonth" >
    insert into PDSCI.ZSEY_HR_KQ_MONTH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="monthFlow != null" >
        MONTH_FLOW,
      </if>
      <if test="resType != null" >
        RES_TYPE,
      </if>
      <if test="userFlow != null" >
        USER_FLOW,
      </if>
      <if test="userCode != null" >
        USER_CODE,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="inDate != null" >
        IN_DATE,
      </if>
      <if test="idNo != null" >
        ID_NO,
      </if>
      <if test="m01 != null" >
        M01,
      </if>
      <if test="m02 != null" >
        M02,
      </if>
      <if test="m03 != null" >
        M03,
      </if>
      <if test="m04 != null" >
        M04,
      </if>
      <if test="m05 != null" >
        M05,
      </if>
      <if test="m06 != null" >
        M06,
      </if>
      <if test="m07 != null" >
        M07,
      </if>
      <if test="m08 != null" >
        M08,
      </if>
      <if test="m09 != null" >
        M09,
      </if>
      <if test="m10 != null" >
        M10,
      </if>
      <if test="m11 != null" >
        M11,
      </if>
      <if test="m12 != null" >
        M12,
      </if>
      <if test="m13 != null" >
        M13,
      </if>
      <if test="m14 != null" >
        M14,
      </if>
      <if test="m15 != null" >
        M15,
      </if>
      <if test="m16 != null" >
        M16,
      </if>
      <if test="m17 != null" >
        M17,
      </if>
      <if test="m18 != null" >
        M18,
      </if>
      <if test="m19 != null" >
        M19,
      </if>
      <if test="m20 != null" >
        M20,
      </if>
      <if test="m21 != null" >
        M21,
      </if>
      <if test="m22 != null" >
        M22,
      </if>
      <if test="m23 != null" >
        M23,
      </if>
      <if test="m24 != null" >
        M24,
      </if>
      <if test="m25 != null" >
        M25,
      </if>
      <if test="m26 != null" >
        M26,
      </if>
      <if test="m27 != null" >
        M27,
      </if>
      <if test="m28 != null" >
        M28,
      </if>
      <if test="m29 != null" >
        M29,
      </if>
      <if test="m30 != null" >
        M30,
      </if>
      <if test="m31 != null" >
        M31,
      </if>
      <if test="kqDate != null" >
        KQ_DATE,
      </if>
      <if test="kqDeptFlow != null" >
        KQ_DEPT_FLOW,
      </if>
      <if test="kqDeptName != null" >
        KQ_DEPT_NAME,
      </if>
      <if test="kqUserCode != null" >
        KQ_USER_CODE,
      </if>
      <if test="kqUserName != null" >
        KQ_USER_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="isSubmit != null" >
        IS_SUBMIT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="monthFlow != null" >
        #{monthFlow,jdbcType=VARCHAR},
      </if>
      <if test="resType != null" >
        #{resType,jdbcType=CHAR},
      </if>
      <if test="userFlow != null" >
        #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="inDate != null" >
        #{inDate,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null" >
        #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="m01 != null" >
        #{m01,jdbcType=VARCHAR},
      </if>
      <if test="m02 != null" >
        #{m02,jdbcType=VARCHAR},
      </if>
      <if test="m03 != null" >
        #{m03,jdbcType=VARCHAR},
      </if>
      <if test="m04 != null" >
        #{m04,jdbcType=VARCHAR},
      </if>
      <if test="m05 != null" >
        #{m05,jdbcType=VARCHAR},
      </if>
      <if test="m06 != null" >
        #{m06,jdbcType=VARCHAR},
      </if>
      <if test="m07 != null" >
        #{m07,jdbcType=VARCHAR},
      </if>
      <if test="m08 != null" >
        #{m08,jdbcType=VARCHAR},
      </if>
      <if test="m09 != null" >
        #{m09,jdbcType=VARCHAR},
      </if>
      <if test="m10 != null" >
        #{m10,jdbcType=VARCHAR},
      </if>
      <if test="m11 != null" >
        #{m11,jdbcType=VARCHAR},
      </if>
      <if test="m12 != null" >
        #{m12,jdbcType=VARCHAR},
      </if>
      <if test="m13 != null" >
        #{m13,jdbcType=VARCHAR},
      </if>
      <if test="m14 != null" >
        #{m14,jdbcType=VARCHAR},
      </if>
      <if test="m15 != null" >
        #{m15,jdbcType=VARCHAR},
      </if>
      <if test="m16 != null" >
        #{m16,jdbcType=VARCHAR},
      </if>
      <if test="m17 != null" >
        #{m17,jdbcType=VARCHAR},
      </if>
      <if test="m18 != null" >
        #{m18,jdbcType=VARCHAR},
      </if>
      <if test="m19 != null" >
        #{m19,jdbcType=VARCHAR},
      </if>
      <if test="m20 != null" >
        #{m20,jdbcType=VARCHAR},
      </if>
      <if test="m21 != null" >
        #{m21,jdbcType=VARCHAR},
      </if>
      <if test="m22 != null" >
        #{m22,jdbcType=VARCHAR},
      </if>
      <if test="m23 != null" >
        #{m23,jdbcType=VARCHAR},
      </if>
      <if test="m24 != null" >
        #{m24,jdbcType=VARCHAR},
      </if>
      <if test="m25 != null" >
        #{m25,jdbcType=VARCHAR},
      </if>
      <if test="m26 != null" >
        #{m26,jdbcType=VARCHAR},
      </if>
      <if test="m27 != null" >
        #{m27,jdbcType=VARCHAR},
      </if>
      <if test="m28 != null" >
        #{m28,jdbcType=VARCHAR},
      </if>
      <if test="m29 != null" >
        #{m29,jdbcType=VARCHAR},
      </if>
      <if test="m30 != null" >
        #{m30,jdbcType=VARCHAR},
      </if>
      <if test="m31 != null" >
        #{m31,jdbcType=VARCHAR},
      </if>
      <if test="kqDate != null" >
        #{kqDate,jdbcType=VARCHAR},
      </if>
      <if test="kqDeptFlow != null" >
        #{kqDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="kqDeptName != null" >
        #{kqDeptName,jdbcType=VARCHAR},
      </if>
      <if test="kqUserCode != null" >
        #{kqUserCode,jdbcType=VARCHAR},
      </if>
      <if test="kqUserName != null" >
        #{kqUserName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="isSubmit != null" >
        #{isSubmit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ZseyHrKqMonthExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.ZSEY_HR_KQ_MONTH
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.ZSEY_HR_KQ_MONTH
    <set >
      <if test="record.monthFlow != null" >
        MONTH_FLOW = #{record.monthFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.resType != null" >
        RES_TYPE = #{record.resType,jdbcType=CHAR},
      </if>
      <if test="record.userFlow != null" >
        USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userCode != null" >
        USER_CODE = #{record.userCode,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null" >
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.inDate != null" >
        IN_DATE = #{record.inDate,jdbcType=VARCHAR},
      </if>
      <if test="record.idNo != null" >
        ID_NO = #{record.idNo,jdbcType=VARCHAR},
      </if>
      <if test="record.m01 != null" >
        M01 = #{record.m01,jdbcType=VARCHAR},
      </if>
      <if test="record.m02 != null" >
        M02 = #{record.m02,jdbcType=VARCHAR},
      </if>
      <if test="record.m03 != null" >
        M03 = #{record.m03,jdbcType=VARCHAR},
      </if>
      <if test="record.m04 != null" >
        M04 = #{record.m04,jdbcType=VARCHAR},
      </if>
      <if test="record.m05 != null" >
        M05 = #{record.m05,jdbcType=VARCHAR},
      </if>
      <if test="record.m06 != null" >
        M06 = #{record.m06,jdbcType=VARCHAR},
      </if>
      <if test="record.m07 != null" >
        M07 = #{record.m07,jdbcType=VARCHAR},
      </if>
      <if test="record.m08 != null" >
        M08 = #{record.m08,jdbcType=VARCHAR},
      </if>
      <if test="record.m09 != null" >
        M09 = #{record.m09,jdbcType=VARCHAR},
      </if>
      <if test="record.m10 != null" >
        M10 = #{record.m10,jdbcType=VARCHAR},
      </if>
      <if test="record.m11 != null" >
        M11 = #{record.m11,jdbcType=VARCHAR},
      </if>
      <if test="record.m12 != null" >
        M12 = #{record.m12,jdbcType=VARCHAR},
      </if>
      <if test="record.m13 != null" >
        M13 = #{record.m13,jdbcType=VARCHAR},
      </if>
      <if test="record.m14 != null" >
        M14 = #{record.m14,jdbcType=VARCHAR},
      </if>
      <if test="record.m15 != null" >
        M15 = #{record.m15,jdbcType=VARCHAR},
      </if>
      <if test="record.m16 != null" >
        M16 = #{record.m16,jdbcType=VARCHAR},
      </if>
      <if test="record.m17 != null" >
        M17 = #{record.m17,jdbcType=VARCHAR},
      </if>
      <if test="record.m18 != null" >
        M18 = #{record.m18,jdbcType=VARCHAR},
      </if>
      <if test="record.m19 != null" >
        M19 = #{record.m19,jdbcType=VARCHAR},
      </if>
      <if test="record.m20 != null" >
        M20 = #{record.m20,jdbcType=VARCHAR},
      </if>
      <if test="record.m21 != null" >
        M21 = #{record.m21,jdbcType=VARCHAR},
      </if>
      <if test="record.m22 != null" >
        M22 = #{record.m22,jdbcType=VARCHAR},
      </if>
      <if test="record.m23 != null" >
        M23 = #{record.m23,jdbcType=VARCHAR},
      </if>
      <if test="record.m24 != null" >
        M24 = #{record.m24,jdbcType=VARCHAR},
      </if>
      <if test="record.m25 != null" >
        M25 = #{record.m25,jdbcType=VARCHAR},
      </if>
      <if test="record.m26 != null" >
        M26 = #{record.m26,jdbcType=VARCHAR},
      </if>
      <if test="record.m27 != null" >
        M27 = #{record.m27,jdbcType=VARCHAR},
      </if>
      <if test="record.m28 != null" >
        M28 = #{record.m28,jdbcType=VARCHAR},
      </if>
      <if test="record.m29 != null" >
        M29 = #{record.m29,jdbcType=VARCHAR},
      </if>
      <if test="record.m30 != null" >
        M30 = #{record.m30,jdbcType=VARCHAR},
      </if>
      <if test="record.m31 != null" >
        M31 = #{record.m31,jdbcType=VARCHAR},
      </if>
      <if test="record.kqDate != null" >
        KQ_DATE = #{record.kqDate,jdbcType=VARCHAR},
      </if>
      <if test="record.kqDeptFlow != null" >
        KQ_DEPT_FLOW = #{record.kqDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.kqDeptName != null" >
        KQ_DEPT_NAME = #{record.kqDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.kqUserCode != null" >
        KQ_USER_CODE = #{record.kqUserCode,jdbcType=VARCHAR},
      </if>
      <if test="record.kqUserName != null" >
        KQ_USER_NAME = #{record.kqUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.isSubmit != null" >
        IS_SUBMIT = #{record.isSubmit,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.ZSEY_HR_KQ_MONTH
    set MONTH_FLOW = #{record.monthFlow,jdbcType=VARCHAR},
      RES_TYPE = #{record.resType,jdbcType=CHAR},
      USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      USER_CODE = #{record.userCode,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      IN_DATE = #{record.inDate,jdbcType=VARCHAR},
      ID_NO = #{record.idNo,jdbcType=VARCHAR},
      M01 = #{record.m01,jdbcType=VARCHAR},
      M02 = #{record.m02,jdbcType=VARCHAR},
      M03 = #{record.m03,jdbcType=VARCHAR},
      M04 = #{record.m04,jdbcType=VARCHAR},
      M05 = #{record.m05,jdbcType=VARCHAR},
      M06 = #{record.m06,jdbcType=VARCHAR},
      M07 = #{record.m07,jdbcType=VARCHAR},
      M08 = #{record.m08,jdbcType=VARCHAR},
      M09 = #{record.m09,jdbcType=VARCHAR},
      M10 = #{record.m10,jdbcType=VARCHAR},
      M11 = #{record.m11,jdbcType=VARCHAR},
      M12 = #{record.m12,jdbcType=VARCHAR},
      M13 = #{record.m13,jdbcType=VARCHAR},
      M14 = #{record.m14,jdbcType=VARCHAR},
      M15 = #{record.m15,jdbcType=VARCHAR},
      M16 = #{record.m16,jdbcType=VARCHAR},
      M17 = #{record.m17,jdbcType=VARCHAR},
      M18 = #{record.m18,jdbcType=VARCHAR},
      M19 = #{record.m19,jdbcType=VARCHAR},
      M20 = #{record.m20,jdbcType=VARCHAR},
      M21 = #{record.m21,jdbcType=VARCHAR},
      M22 = #{record.m22,jdbcType=VARCHAR},
      M23 = #{record.m23,jdbcType=VARCHAR},
      M24 = #{record.m24,jdbcType=VARCHAR},
      M25 = #{record.m25,jdbcType=VARCHAR},
      M26 = #{record.m26,jdbcType=VARCHAR},
      M27 = #{record.m27,jdbcType=VARCHAR},
      M28 = #{record.m28,jdbcType=VARCHAR},
      M29 = #{record.m29,jdbcType=VARCHAR},
      M30 = #{record.m30,jdbcType=VARCHAR},
      M31 = #{record.m31,jdbcType=VARCHAR},
      KQ_DATE = #{record.kqDate,jdbcType=VARCHAR},
      KQ_DEPT_FLOW = #{record.kqDeptFlow,jdbcType=VARCHAR},
      KQ_DEPT_NAME = #{record.kqDeptName,jdbcType=VARCHAR},
      KQ_USER_CODE = #{record.kqUserCode,jdbcType=VARCHAR},
      KQ_USER_NAME = #{record.kqUserName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      IS_SUBMIT = #{record.isSubmit,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ZseyHrKqMonth" >
    update PDSCI.ZSEY_HR_KQ_MONTH
    <set >
      <if test="resType != null" >
        RES_TYPE = #{resType,jdbcType=CHAR},
      </if>
      <if test="userFlow != null" >
        USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null" >
        USER_CODE = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="inDate != null" >
        IN_DATE = #{inDate,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null" >
        ID_NO = #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="m01 != null" >
        M01 = #{m01,jdbcType=VARCHAR},
      </if>
      <if test="m02 != null" >
        M02 = #{m02,jdbcType=VARCHAR},
      </if>
      <if test="m03 != null" >
        M03 = #{m03,jdbcType=VARCHAR},
      </if>
      <if test="m04 != null" >
        M04 = #{m04,jdbcType=VARCHAR},
      </if>
      <if test="m05 != null" >
        M05 = #{m05,jdbcType=VARCHAR},
      </if>
      <if test="m06 != null" >
        M06 = #{m06,jdbcType=VARCHAR},
      </if>
      <if test="m07 != null" >
        M07 = #{m07,jdbcType=VARCHAR},
      </if>
      <if test="m08 != null" >
        M08 = #{m08,jdbcType=VARCHAR},
      </if>
      <if test="m09 != null" >
        M09 = #{m09,jdbcType=VARCHAR},
      </if>
      <if test="m10 != null" >
        M10 = #{m10,jdbcType=VARCHAR},
      </if>
      <if test="m11 != null" >
        M11 = #{m11,jdbcType=VARCHAR},
      </if>
      <if test="m12 != null" >
        M12 = #{m12,jdbcType=VARCHAR},
      </if>
      <if test="m13 != null" >
        M13 = #{m13,jdbcType=VARCHAR},
      </if>
      <if test="m14 != null" >
        M14 = #{m14,jdbcType=VARCHAR},
      </if>
      <if test="m15 != null" >
        M15 = #{m15,jdbcType=VARCHAR},
      </if>
      <if test="m16 != null" >
        M16 = #{m16,jdbcType=VARCHAR},
      </if>
      <if test="m17 != null" >
        M17 = #{m17,jdbcType=VARCHAR},
      </if>
      <if test="m18 != null" >
        M18 = #{m18,jdbcType=VARCHAR},
      </if>
      <if test="m19 != null" >
        M19 = #{m19,jdbcType=VARCHAR},
      </if>
      <if test="m20 != null" >
        M20 = #{m20,jdbcType=VARCHAR},
      </if>
      <if test="m21 != null" >
        M21 = #{m21,jdbcType=VARCHAR},
      </if>
      <if test="m22 != null" >
        M22 = #{m22,jdbcType=VARCHAR},
      </if>
      <if test="m23 != null" >
        M23 = #{m23,jdbcType=VARCHAR},
      </if>
      <if test="m24 != null" >
        M24 = #{m24,jdbcType=VARCHAR},
      </if>
      <if test="m25 != null" >
        M25 = #{m25,jdbcType=VARCHAR},
      </if>
      <if test="m26 != null" >
        M26 = #{m26,jdbcType=VARCHAR},
      </if>
      <if test="m27 != null" >
        M27 = #{m27,jdbcType=VARCHAR},
      </if>
      <if test="m28 != null" >
        M28 = #{m28,jdbcType=VARCHAR},
      </if>
      <if test="m29 != null" >
        M29 = #{m29,jdbcType=VARCHAR},
      </if>
      <if test="m30 != null" >
        M30 = #{m30,jdbcType=VARCHAR},
      </if>
      <if test="m31 != null" >
        M31 = #{m31,jdbcType=VARCHAR},
      </if>
      <if test="kqDate != null" >
        KQ_DATE = #{kqDate,jdbcType=VARCHAR},
      </if>
      <if test="kqDeptFlow != null" >
        KQ_DEPT_FLOW = #{kqDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="kqDeptName != null" >
        KQ_DEPT_NAME = #{kqDeptName,jdbcType=VARCHAR},
      </if>
      <if test="kqUserCode != null" >
        KQ_USER_CODE = #{kqUserCode,jdbcType=VARCHAR},
      </if>
      <if test="kqUserName != null" >
        KQ_USER_NAME = #{kqUserName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="isSubmit != null" >
        IS_SUBMIT = #{isSubmit,jdbcType=VARCHAR},
      </if>
    </set>
    where MONTH_FLOW = #{monthFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ZseyHrKqMonth" >
    update PDSCI.ZSEY_HR_KQ_MONTH
    set RES_TYPE = #{resType,jdbcType=CHAR},
      USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      USER_CODE = #{userCode,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      IN_DATE = #{inDate,jdbcType=VARCHAR},
      ID_NO = #{idNo,jdbcType=VARCHAR},
      M01 = #{m01,jdbcType=VARCHAR},
      M02 = #{m02,jdbcType=VARCHAR},
      M03 = #{m03,jdbcType=VARCHAR},
      M04 = #{m04,jdbcType=VARCHAR},
      M05 = #{m05,jdbcType=VARCHAR},
      M06 = #{m06,jdbcType=VARCHAR},
      M07 = #{m07,jdbcType=VARCHAR},
      M08 = #{m08,jdbcType=VARCHAR},
      M09 = #{m09,jdbcType=VARCHAR},
      M10 = #{m10,jdbcType=VARCHAR},
      M11 = #{m11,jdbcType=VARCHAR},
      M12 = #{m12,jdbcType=VARCHAR},
      M13 = #{m13,jdbcType=VARCHAR},
      M14 = #{m14,jdbcType=VARCHAR},
      M15 = #{m15,jdbcType=VARCHAR},
      M16 = #{m16,jdbcType=VARCHAR},
      M17 = #{m17,jdbcType=VARCHAR},
      M18 = #{m18,jdbcType=VARCHAR},
      M19 = #{m19,jdbcType=VARCHAR},
      M20 = #{m20,jdbcType=VARCHAR},
      M21 = #{m21,jdbcType=VARCHAR},
      M22 = #{m22,jdbcType=VARCHAR},
      M23 = #{m23,jdbcType=VARCHAR},
      M24 = #{m24,jdbcType=VARCHAR},
      M25 = #{m25,jdbcType=VARCHAR},
      M26 = #{m26,jdbcType=VARCHAR},
      M27 = #{m27,jdbcType=VARCHAR},
      M28 = #{m28,jdbcType=VARCHAR},
      M29 = #{m29,jdbcType=VARCHAR},
      M30 = #{m30,jdbcType=VARCHAR},
      M31 = #{m31,jdbcType=VARCHAR},
      KQ_DATE = #{kqDate,jdbcType=VARCHAR},
      KQ_DEPT_FLOW = #{kqDeptFlow,jdbcType=VARCHAR},
      KQ_DEPT_NAME = #{kqDeptName,jdbcType=VARCHAR},
      KQ_USER_CODE = #{kqUserCode,jdbcType=VARCHAR},
      KQ_USER_NAME = #{kqUserName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      IS_SUBMIT = #{isSubmit,jdbcType=VARCHAR}
    where MONTH_FLOW = #{monthFlow,jdbcType=VARCHAR}
  </update>
</mapper>