<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ZseySuppliesBatchMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ZseySuppliesBatch" >
    <id column="BATCH_FLOW" property="batchFlow" jdbcType="VARCHAR" />
    <result column="SUPPLIES_FLOW" property="suppliesFlow" jdbcType="VARCHAR" />
    <result column="BATCH_TYPE" property="batchType" jdbcType="VARCHAR" />
    <result column="ONE_NUMBER" property="oneNumber" jdbcType="VARCHAR" />
    <result column="REPEAT_NUMBER" property="repeatNumber" jdbcType="VARCHAR" />
    <result column="DEPT_FLOW" property="deptFlow" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="BATCH_DATE" property="batchDate" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    BATCH_FLOW, SUPPLIES_FLOW, BATCH_TYPE, ONE_NUMBER, REPEAT_NUMBER, DEPT_FLOW, DEPT_NAME, 
    BATCH_DATE, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ZseySuppliesBatchExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.ZSEY_SUPPLIES_BATCH
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.ZSEY_SUPPLIES_BATCH
    where BATCH_FLOW = #{batchFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.ZSEY_SUPPLIES_BATCH
    where BATCH_FLOW = #{batchFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ZseySuppliesBatchExample" >
    delete from PDSCI.ZSEY_SUPPLIES_BATCH
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ZseySuppliesBatch" >
    insert into PDSCI.ZSEY_SUPPLIES_BATCH (BATCH_FLOW, SUPPLIES_FLOW, BATCH_TYPE, 
      ONE_NUMBER, REPEAT_NUMBER, DEPT_FLOW, 
      DEPT_NAME, BATCH_DATE, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW)
    values (#{batchFlow,jdbcType=VARCHAR}, #{suppliesFlow,jdbcType=VARCHAR}, #{batchType,jdbcType=VARCHAR}, 
      #{oneNumber,jdbcType=VARCHAR}, #{repeatNumber,jdbcType=VARCHAR}, #{deptFlow,jdbcType=VARCHAR}, 
      #{deptName,jdbcType=VARCHAR}, #{batchDate,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ZseySuppliesBatch" >
    insert into PDSCI.ZSEY_SUPPLIES_BATCH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="batchFlow != null" >
        BATCH_FLOW,
      </if>
      <if test="suppliesFlow != null" >
        SUPPLIES_FLOW,
      </if>
      <if test="batchType != null" >
        BATCH_TYPE,
      </if>
      <if test="oneNumber != null" >
        ONE_NUMBER,
      </if>
      <if test="repeatNumber != null" >
        REPEAT_NUMBER,
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="batchDate != null" >
        BATCH_DATE,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="batchFlow != null" >
        #{batchFlow,jdbcType=VARCHAR},
      </if>
      <if test="suppliesFlow != null" >
        #{suppliesFlow,jdbcType=VARCHAR},
      </if>
      <if test="batchType != null" >
        #{batchType,jdbcType=VARCHAR},
      </if>
      <if test="oneNumber != null" >
        #{oneNumber,jdbcType=VARCHAR},
      </if>
      <if test="repeatNumber != null" >
        #{repeatNumber,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="batchDate != null" >
        #{batchDate,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ZseySuppliesBatchExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.ZSEY_SUPPLIES_BATCH
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.ZSEY_SUPPLIES_BATCH
    <set >
      <if test="record.batchFlow != null" >
        BATCH_FLOW = #{record.batchFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.suppliesFlow != null" >
        SUPPLIES_FLOW = #{record.suppliesFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.batchType != null" >
        BATCH_TYPE = #{record.batchType,jdbcType=VARCHAR},
      </if>
      <if test="record.oneNumber != null" >
        ONE_NUMBER = #{record.oneNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.repeatNumber != null" >
        REPEAT_NUMBER = #{record.repeatNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null" >
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.batchDate != null" >
        BATCH_DATE = #{record.batchDate,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.ZSEY_SUPPLIES_BATCH
    set BATCH_FLOW = #{record.batchFlow,jdbcType=VARCHAR},
      SUPPLIES_FLOW = #{record.suppliesFlow,jdbcType=VARCHAR},
      BATCH_TYPE = #{record.batchType,jdbcType=VARCHAR},
      ONE_NUMBER = #{record.oneNumber,jdbcType=VARCHAR},
      REPEAT_NUMBER = #{record.repeatNumber,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      BATCH_DATE = #{record.batchDate,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ZseySuppliesBatch" >
    update PDSCI.ZSEY_SUPPLIES_BATCH
    <set >
      <if test="suppliesFlow != null" >
        SUPPLIES_FLOW = #{suppliesFlow,jdbcType=VARCHAR},
      </if>
      <if test="batchType != null" >
        BATCH_TYPE = #{batchType,jdbcType=VARCHAR},
      </if>
      <if test="oneNumber != null" >
        ONE_NUMBER = #{oneNumber,jdbcType=VARCHAR},
      </if>
      <if test="repeatNumber != null" >
        REPEAT_NUMBER = #{repeatNumber,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="batchDate != null" >
        BATCH_DATE = #{batchDate,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where BATCH_FLOW = #{batchFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ZseySuppliesBatch" >
    update PDSCI.ZSEY_SUPPLIES_BATCH
    set SUPPLIES_FLOW = #{suppliesFlow,jdbcType=VARCHAR},
      BATCH_TYPE = #{batchType,jdbcType=VARCHAR},
      ONE_NUMBER = #{oneNumber,jdbcType=VARCHAR},
      REPEAT_NUMBER = #{repeatNumber,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      BATCH_DATE = #{batchDate,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where BATCH_FLOW = #{batchFlow,jdbcType=VARCHAR}
  </update>
</mapper>