@charset "utf-8";
.notificationCenterPage{border-left:1px solid #e7e7eb;border-right:1px solid #e7e7eb; margin-bottom:30px;}
.notificationCenterPage .notify_item:hover{background-color: #fafafb;}
.notificationCenterPage .notify_item:hover .noticearrow,.notificationCenterPage .notify_item.msgselect .noticearrow{border-color: #c2c0be #f4f5f9 #f4f5f9;}
.notificationCenterPage .notify_item .noticearrow{font-size: 13px;margin-right: 2px;display: inline-block;width: 0;height: 0;border-style: solid;border-width: 4px;border-color: #c2c0be #fff #fff;}
.notificationCenterPage .notify_item dd {padding: 0 50px 10px 48px;color: #222;background-color: #f5f5f9;}
.notificationCenterPage dt{line-height: 40px;}
.notificationCenterPage .notify_item {border-bottom: 1px solid #e7e7eb;}
.notificationCenterPage .notify_item .notify_title{overflow: hidden;}
.notificationCenterPage .notify_item .notify_time {margin-right: 30px;}
.notificationCenterPage .notify_item .notify_status{float:right;margin-right:30px;}
.notificationCenterPage i{font-style: normal;}
.notificationCenterPage .notify_item .notify_title_wrapper{font-weight:400;font-style: normal;color: #8d8d8d;padding-left: 30px;display: block;overflow: hidden;}
.notificationCenterPage .notify_item.msgselect dt .notify_title_wrapper{color:#222;background-color: #fafafb;}
.notificationCenterPage .notify_item.msgselect dd{color:#222;background-color: #fafafb;}
.notificationCenterPage .notify_item.msgselect dd a{color:#ff4f15; text-decoration:underline;}
.none {display: none;}
.notificationCenterPage .notify_item.readed i.dot{margin-right: 9px;font-size: 12px;color: #d5d5d5;}
.notificationCenterPage .notify_item i.dot{color: #ff4f15; margin-right:9px;}