<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.res.dao.jszy.ext.JszyRestarinNoticeExtMapper" >

    <select id="searchByTitleOrgFlowAndWorkOrgId" resultMap="com.pinde.sci.dao.base.ResTarinNoticeMapper.ResultMapWithBLOBs">
        SELECT * FROM (
            SELECT *
        FROM RES_TARIN_NOTICE
            WHERE RECORD_STATUS = 'Y'
            <if test="orgFlow !=null and orgFlow !=''">
                AND ORG_FLOW = #{orgFlow}
            </if>
            <if test="resNoticeTitle !=null and resNoticeTitle !=''">
                AND RES_NOTICE_TITLE like CONCAT(CONCAT('%', #{resNoticeTitle}),'%')
            </if>
            <if test="doctor!=null">
                union all
                SELECT *
                FROM RES_TARIN_NOTICE
                WHERE RECORD_STATUS = 'Y'
                AND ORG_FLOW IN (
                SELECT ORG_FLOW FROM SYS_ORG
                WHERE RECORD_STATUS='Y'
                AND ORG_TYPE_ID='University'
                AND (
                <if test="(doctor.workOrgName==null or doctor.workOrgName=='') and (doctor.workOrgId!=null and doctor.workOrgId!='')">
                    SEND_SCHOOL_ID=#{doctor.workOrgId}
                </if>
                <if test="(doctor.workOrgId==null or doctor.workOrgId=='') and (doctor.workOrgName!=null and doctor.workOrgName!='')">
                    SEND_SCHOOL_NAME= #{doctor.workOrgName}
                </if>
                <if test="doctor.workOrgId!=null and doctor.workOrgId!='' and doctor.workOrgName!=null and doctor.workOrgName!=''">
                    SEND_SCHOOL_NAME = #{doctor.workOrgName} OR SEND_SCHOOL_ID =#{doctor.workOrgId}
                </if>
                )
                )
            </if>
        ) A
        ORDER BY CREATE_TIME DESC
    </select>
</mapper>