<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.res.dao.jszy.ext.ResFollowTeacherRecordExtMapper" >

	<select id="searchFolowTeacherRecordByType" resultMap="com.pinde.sci.dao.base.ResDiscipleRecordInfoMapper.BaseResultMap">
		SELECT *
        FROM RES_DISCIPLE_RECORD_INFO
		WHERE RECORD_STATUS = 'Y'
		AND DOCTOR_FLOW=#{userFlow}
		<if test="typeId=='NotAudit'">
			AND AUDIT_STATUS_ID IN ('PendingAudit')
		</if>
		<if test="typeId=='Audited'">
			AND AUDIT_STATUS_ID IN ('Qualified','UnQualified')
		</if>
		<if test="typeId ==null or typeId =='' or typeId=='All'">

		</if>
		ORDER BY CREATE_TIME DESC
	</select>
	<select id="folowTeacherRecordFinishMap" resultType="hashmap">
		select *
  		from (SELECT AUDIT_STATUS_ID, COUNT(1) qty
              FROM RES_DISCIPLE_RECORD_INFO
         WHERE RECORD_STATUS = 'Y'
           and doctor_flow = #{userFlow}
         GROUP BY AUDIT_STATUS_ID)
         pivot(sum(qty) for AUDIT_STATUS_ID in('Qualified',
                                                               'UnQualified',
                                                               'PendingAudit'))
	</select>
	<select id="discipleNoteInfoFinishMap" resultType="hashmap">
		select *
  		from (SELECT AUDIT_STATUS_ID, COUNT(1) qty
              FROM RES_DISCIPLE_NOTE_INFO
         WHERE RECORD_STATUS = 'Y'
           and doctor_flow = #{userFlow}
           and note_type_id=#{noteTypeId}
         GROUP BY AUDIT_STATUS_ID)
         pivot(sum(qty) for AUDIT_STATUS_ID in('Qualified',
                                                               'UnQualified',
                                                               'Apply',
                                                               'Submit'))
	</select>
	<select id="typicalCasesFinishMap" resultType="hashmap">
		select *
  		from (SELECT AUDIT_STATUS_ID, COUNT(1) qty
              FROM res_typical_cases
         WHERE RECORD_STATUS = 'Y'
           and doctor_flow = #{userFlow}
         GROUP BY AUDIT_STATUS_ID)
         pivot(sum(qty) for AUDIT_STATUS_ID in('Qualified',
                                                               'UnQualified',
                                                               'Apply',
                                                               'PendingAudit'))
	</select>
</mapper>