<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.res.dao.njmu.ext.AddDataMapper">
	<insert id="addActivityData" useGeneratedKeys="true" keyProperty="dataFlow">
		INSERT INTO CaseDiscuss
           (HosSecID
           ,CySecID
           ,CaDisTime
           ,CaDisContent
           ,CaDisPlayClass
           ,CaDisPeriod
           ,CaDisMainSpeaker
           ,CheckStatus
           ,UserID)
     	VALUES
           (#{HosSecID,jdbcType=VARCHAR}
           ,#{CySecID,jdbcType=VARCHAR}
           ,#{activity_date,jdbcType=VARCHAR}
           ,#{activity_content,jdbcType=VARCHAR}
           ,#{activity_way,jdbcType=VARCHAR}
           ,#{activity_period,jdbcType=VARCHAR}
           ,#{activity_speaker,jdbcType=VARCHAR}
           ,0
           ,#{userFlow,jdbcType=INTEGER})
	</insert>
	
	<select id="addActivityDataSub1" parameterType="map" resultType="java.lang.String">
		select HosCycleSection.HosSecID from UserCycleSec left join HosCycleSection on HosCycleSection.hoscysecid = UserCycleSec.hoscysecid where ucsid = #{deptFlow,jdbcType=INTEGER}
	</select>
	
	<select id="addActivityDataSub2" parameterType="map" resultType="java.lang.String">
		select UserCycleSec.CySecID from UserCycleSec left join HosCycleSection on HosCycleSection.hoscysecid = UserCycleSec.hoscysecid where ucsid = #{deptFlow,jdbcType=INTEGER}
	</select>
	
	<insert id="addSummaryData" useGeneratedKeys="true" keyProperty="dataFlow">
		INSERT INTO OutSecBrief
           (BriefRequrie
           ,UserID
           ,CySecID
           ,CheckStatus
           ,UCSID
           ,OutDate)
     VALUES
           (#{summary_content,jdbcType=VARCHAR}
           ,${userFlow}
           ,#{HosCySecID,jdbcType=VARCHAR}
           ,0
           ,#{deptFlow,jdbcType=INTEGER}
           ,getdate())
	</insert>
	
	<select id="addSummaryDataSub1" parameterType="map" resultType="java.lang.String">
		select HosCySecID from UserCycleSec where UCSID = #{deptFlow,jdbcType=INTEGER}
	</select>
	
	<insert id="addWfwork">
		INSERT INTO WFWORK
           (WFWORK_DataID
           ,WFWORK_TableName
           ,WFWORK_TITLE
           ,WFWORK_AWAITER
           ,WFWORK_CreateUserID
           ,WFWORK_CREATER
           ,WFWORK_HANDLER
           ,WFWORK_PBEGIN
           ,WFWORK_ABEGIN
           ,WFWORK_STATE
           ,WFWORK_URL
           ,WFWORK_ROLEID
           )
     VALUES
           (#{iDataFlow,jdbcType=INTEGER}
           ,#{tableName}
           ,#{hossecname,jdbcType=VARCHAR}
           ,#{usertecid,jdbcType=VARCHAR}
           ,#{userFlow}
           ,#{truename,jdbcType=VARCHAR}
           ,null
           ,getdate()
           ,getdate()
           ,0
           ,null
           ,6)
	</insert>
	
	
	<select id="addWfworkSub1" parameterType="map" resultType="java.lang.String">
		select hossecname+'的'+truename+'的'+'${wfTitle}'+'填写' as WFWORK_TITLE from usercyclesec 
			inner join HosCycleSection on HosCycleSection.hoscysecid = usercyclesec.hoscysecid
			inner join hossection on hossection.hossecid = HosCycleSection.hossecid
			inner join userinfo on userinfo.userid = usercyclesec.userid
			inner join UserRealTec on UserRealTec.ucsid = usercyclesec.ucsid
			where usercyclesec.ucsid = ${deptFlow}
	</select>
	
	<select id="addWfworkSub2" parameterType="map" resultType="java.lang.String">
		select usertecid as WFWORK_AWAITER from usercyclesec 
			inner join UserRealTec on UserRealTec.ucsid = usercyclesec.ucsid
			where usercyclesec.ucsid = ${deptFlow}
	</select>
	
	<select id="addWfworkSub3" parameterType="map" resultType="java.lang.String">
		select truename from userinfo where userid = ${userFlow}
	</select>
</mapper>