<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.res.dao.njmu.ext.CanAddSummaryMapper">
	<select id="evaluateTeacher" parameterType="string" resultType="java.lang.Integer">
		SELECT count(*)
		FROM ExamInfo ei
		LEFT JOIN HosSection hs ON hs.HosSecID=ei.SecID
		LEFT JOIN UserInfo ui ON ui.UserID=ei.UserID
		WHERE isnull(ui.TrueName,'') != ''  AND ui.UserID=(select UserTecID from UserRealTec where UCSID = #{deptFlow})
			AND ei.KHRID =(select UserID from UserCycleSec where UCSID = #{deptFlow})  
			AND  ei.SecID=(select HosSecID from UserCycleSec 
		left join HosCycleSection on HosCycleSection.HosCySecID = UserCycleSec.HosCySecID
		where UCSID = #{deptFlow})
	</select>
	<select id="evaluateDept" parameterType="string" resultType="java.lang.Integer">
		SELECT count(*)
		FROM ExamInfo ei
		LEFT JOIN HosSection hs ON hs.HosSecID=ei.SecID
		LEFT JOIN UserInfo ui ON ui.UserID=ei.UserID
		WHERE ei.ExamInfoType = 6 
			AND ei.KHRID = (select UserID from UserCycleSec where UCSID = #{deptFlow}) 
			AND ei.SecID=(select HosSecID from UserCycleSec 
		left join HosCycleSection on HosCycleSection.HosCySecID = UserCycleSec.HosCySecID
		where UCSID = #{deptFlow})
	</select>
	<select id="afterDeptExam" parameterType="string" resultType="java.lang.Integer">
		select count(*) from T_DepartmentalExaminationResult where UCSID = #{deptFlow} and isTest=1
	</select>
</mapper>