<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.res.dao.njmu.ext.DataListMapper">

	<resultMap id="mrDataMap" type="hashmap">
        <result column="dataFlow"  property="dataFlow" javaType="java.lang.String"/>
        <result column="mrNo"  property="mrNo" javaType="java.lang.String"/>
        <result column="mrPName"  property="mrPName" javaType="java.lang.String"/>
        <result column="statusId"  property="statusId" javaType="java.lang.String"/>
        <result column="statusDesc"  property="statusDesc" javaType="java.lang.String"/>
   	</resultMap>
	<select id="mrDataList" parameterType="string" resultMap="mrDataMap">
		SELECT * FROM (
			SELECT ROW_NUMBER() OVER (order by T.userDate desc)AS Row, T.*  from (
			SELECT RecID AS dataFlow,RecData1 as mrPName,RecData2 as mrNo,RecDate as userDate
			,CASE when CheckStatus = 0 then 'Saved'
				  when CheckStatus = 1 then 'Audited'
				  when CheckStatus = 2 then 'Rejected'
				  when CheckStatus = 3 then 'Returned'
			end as statusId
			,CASE when CheckStatus = 0 then '未审核'
				  when CheckStatus = 1 then '已审核'
				  when CheckStatus = 2 then '否决'
				  when CheckStatus = 3 then '退回修改'
			end as statusDesc
			FROM Rec_BigHistory WHERE FROMID = ${cataFlow} AND USERID = #{userFlow}
			)
			as T) TT
		WHERE TT.Row between ${startRow} and ${endRow}
			ORDER BY userDate desc
	</select>
	
	<resultMap id="diseaseDataMap" type="hashmap">
        <result column="dataFlow"  property="dataFlow" javaType="java.lang.String"/>
        <result column="diseasePName"  property="diseasePName" javaType="java.lang.String"/>
        <result column="diseaseMrNo"  property="diseaseMrNo" javaType="java.lang.String"/>
        <result column="diseasePDate"  property="diseasePDate" javaType="java.lang.String"/>
        <result column="statusId"  property="statusId" javaType="java.lang.String"/>
        <result column="statusDesc"  property="statusDesc" javaType="java.lang.String"/>
   	</resultMap>
	<select id="diseaseDataList" parameterType="string" resultMap="diseaseDataMap">
		SELECT * FROM (
			SELECT ROW_NUMBER() OVER (order by T.diseasePDate desc)AS Row, T.*  from (
			SELECT RecID AS dataFlow,RecData1 as diseasePName,RecData2 as diseaseMrNo,Recdata8 as diseasePDate
			,CASE when CheckStatus = 0 then 'Saved'
				  when CheckStatus = 1 then 'Audited'
				  when CheckStatus = 2 then 'Rejected'
				  when CheckStatus = 3 then 'Returned'
			end as statusId
			,CASE when CheckStatus = 0 then '未审核'
				  when CheckStatus = 1 then '已审核'
				  when CheckStatus = 2 then '否决'
				  when CheckStatus = 3 then '退回修改'
			end as statusDesc
			FROM Rec_CaseClass WHERE FROMID = ${cataFlow} AND USERID = #{userFlow}
			)
			as T) TT
		WHERE TT.Row between ${startRow} and ${endRow}
			ORDER BY diseasePDate desc
	</select>
	
	<resultMap id="skillDataMap" type="hashmap">
        <result column="dataFlow"  property="dataFlow" javaType="java.lang.String"/>
        <result column="skillPName"  property="skillPName" javaType="java.lang.String"/>
        <result column="skillMrNo"  property="skillMrNo" javaType="java.lang.String"/>
        <result column="skillOperDate"  property="skillOperDate" javaType="java.lang.String"/>
        <result column="statusId"  property="statusId" javaType="java.lang.String"/>
        <result column="statusDesc"  property="statusDesc" javaType="java.lang.String"/>
   	</resultMap>
	<select id="skillDataList" parameterType="string" resultMap="skillDataMap">
		SELECT * FROM (
			SELECT ROW_NUMBER() OVER (order by T.skillOperDate desc)AS Row, T.*  from (
			SELECT RecID AS dataFlow,RecData3 as skillPName,RecData4 as skillMrNo,Recdata2 as skillOperDate
			,CASE when CheckStatus = 0 then 'Saved'
				  when CheckStatus = 1 then 'Audited'
				  when CheckStatus = 2 then 'Rejected'
				  when CheckStatus = 3 then 'Returned'
			end as statusId
			,CASE when CheckStatus = 0 then '未审核'
				  when CheckStatus = 1 then '已审核'
				  when CheckStatus = 2 then '否决'
				  when CheckStatus = 3 then '退回修改'
			end as statusDesc 
			FROM Rec_OperateSkill WHERE FROMID = ${cataFlow} AND USERID = #{userFlow}
			)
			as T) TT
		WHERE TT.Row between ${startRow} and ${endRow}
			ORDER BY skillOperDate desc
	</select>
	
	<resultMap id="operationDataMap" type="hashmap">
        <result column="dataFlow"  property="dataFlow" javaType="java.lang.String"/>
        <result column="operationPName"  property="operationPName" javaType="java.lang.String"/>
        <result column="operationMrNo"  property="operationMrNo" javaType="java.lang.String"/>
        <result column="operationOperDate"  property="operationOperDate" javaType="java.lang.String"/>
        <result column="statusId"  property="statusId" javaType="java.lang.String"/>
        <result column="statusDesc"  property="statusDesc" javaType="java.lang.String"/>
   	</resultMap>
	<select id="operationDataList" parameterType="string" resultMap="operationDataMap">
		SELECT * FROM (
			SELECT ROW_NUMBER() OVER (order by T.operationOperDate desc)AS Row, T.*  from (
			SELECT RecID AS dataFlow,RecData3 as operationPName,RecData4 as operationMrNo,RecData2 as operationOperDate
			,CASE when CheckStatus = 0 then 'Saved'
				  when CheckStatus = 1 then 'Audited'
				  when CheckStatus = 2 then 'Rejected'
				  when CheckStatus = 3 then 'Returned'
			end as statusId
			,CASE when CheckStatus = 0 then '未审核'
				  when CheckStatus = 1 then '已审核'
				  when CheckStatus = 2 then '否决'
				  when CheckStatus = 3 then '退回修改'
			end as statusDesc 
			FROM Rec_POSSkill WHERE FROMID = ${cataFlow} AND USERID = #{userFlow}
			)
			as T) TT
		WHERE TT.Row between ${startRow} and ${endRow}
			ORDER BY operationOperDate desc
	</select>
	
	<resultMap id="activityDataMap" type="hashmap">
        <result column="dataFlow"  property="dataFlow" javaType="java.lang.String"/>
        <result column="activitySpeaker"  property="activitySpeaker" javaType="java.lang.String"/>
        <result column="activityWay"  property="activityWay" javaType="java.lang.String"/>
        <result column="activityDate"  property="activityDate" javaType="java.lang.String"/>
        <result column="statusId"  property="statusId" javaType="java.lang.String"/>
        <result column="statusDesc"  property="statusDesc" javaType="java.lang.String"/>
   	</resultMap>
	<select id="activityDataList" parameterType="string" resultMap="activityDataMap">
		SELECT * FROM (
			SELECT ROW_NUMBER() OVER (order by T.activityDate desc)AS Row, T.*  from (
			SELECT CaDisID AS dataFlow,CaDisMainSpeaker as activitySpeaker,CaDisPlayClass as activityWay,
			convert(varchar(10),CaDisTime,120) as activityDate
			,CASE when CheckStatus = 0 then 'Saved'
				  when CheckStatus = 1 then 'Audited'
				  when CheckStatus = 2 then 'Rejected'
				  when CheckStatus = 3 then 'Returned'
			end as statusId
			,CASE when CheckStatus = 0 then '未审核'
				  when CheckStatus = 1 then '已审核'
				  when CheckStatus = 2 then '否决'
				  when CheckStatus = 3 then '退回修改'
			end as statusDesc 
			FROM CaseDiscuss
			left join UserCycleSec on UserCycleSec.CySecID = CaseDiscuss.CySecID AND UserCycleSec.UserID = CaseDiscuss.UserID
			WHERE UserCycleSec.UCSID = #{deptFlow}
			)
			as T) TT
		WHERE TT.Row between ${startRow} and ${endRow}
			ORDER BY activityDate desc,activityWay
	</select>
</mapper>