<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.res.dao.njmu.ext.EnterDeptMapper">
	<resultMap id="preMap" type="hashmap">
		<result column="cySecID" property="cySecID" javaType="java.lang.String"/>
		<result column="hosSecID" property="hosSecID" javaType="java.lang.String"/>
		<result column="hosCySecId" property="hosCySecId" javaType="java.lang.String"/>
		<result column="startTime" property="startTime" javaType="java.lang.String"/>
		<result column="endTime" property="endTime" javaType="java.lang.String"/>
	</resultMap>
	<select id="pre" parameterType="string" resultMap="preMap">
		select UserCycleSec.CySecID as cySecID,
		       HosCycleSection.HosSecID as hosSecID,
		       HosCycleSection.HosCySecId as hosCySecId,
		       convert(varchar(10),StartTime,120) as startTime,
		       convert(varchar(10),Endtime,120) as endtime
		from UserCycleSec 
	    LEFT JOIN HosCycleSection ON HosCycleSection.HosCySecID = UserCycleSec.HosCySecID 
		where UCSID = #{deptFlow}
	</select>
	<insert id="addExam" parameterType="string">
		INSERT INTO T_DepartmentalExaminationResult
           (DERID
           ,UCSID
           ,Examination
           ,IsTest
           ,TestResult
           ,PassScore
           ,MakeupRequest
           ,MakeupContent
           ,MakeupCheck
           ,MakeupCheckContent
           ,MakeupResult
           ,Remark)
    	VALUES
           (NEWID(),#{deptFlow},0,0,-1,0,0,'',0,'','-1','')
	</insert>
</mapper>