<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.res.dao.njmu.ext.GlobalProgressMapper">
	<resultMap id="globalMap" type="hashmap">
		<result column="title" property="title" javaType="java.lang.String"/>
		<result column="porder" property="order" javaType="java.lang.String"/>
		<result column="dataType" property="dataType" javaType="java.lang.String"/>
		<result column="label" property="label" javaType="java.lang.String"/>
		<result column="progress" property="progress" javaType="java.lang.String"/>
	</resultMap>
	<select id="search" parameterType="string" resultMap="globalMap">
		SELECT MustNum.title,
		  MustNum.dataType,
		  isnull(CAST(ROUND(CAST(num AS FLOAT)/CAST(mustNum AS FLOAT)* 100,2) AS VARCHAR),0) + '%' AS label,
		  isnull(ROUND(CAST(num AS FLOAT)     /CAST(mustNum AS FLOAT)* 100,2),0)                   AS progress,
		  MustNum.porder
		FROM UserCycleSec
		LEFT JOIN UserInfo
		ON UserInfo.UserID = UserCycleSec.UserID
		LEFT JOIN
		  (SELECT CySecID,
		    case when sum(num) = 0 then '1' else sum(num) end as MustNum,
		    Title,
		    dataType,
		    porder
		  FROM
		    (SELECT SUM(RequireNumber) AS num,
		      CySecID,
		      '大病历' AS title,
		      'mr'  AS dataType,
		      '1'   AS porder
		    FROM BigHistoryCase
		    GROUP BY CySecID
		    UNION
		    SELECT SUM(CaRequireNumber) AS num,
		      CySecID,
		      '病种'      AS title,
		      'disease' AS dataType,
		      '2'       AS porder
		    FROM CaseClass
		    GROUP BY CySecID
		    UNION
		    SELECT SUM(OpRequireNumber) AS num,
		      CySecID,
		      '操作技能'  AS title,
		      'skill' AS dataType,
		      '3'     AS porder
		    FROM OperateSkill
		    GROUP BY CySecID
		    UNION
		    SELECT SUM(OPSRequireNumber) AS num,
		      CySecID,
		      '手术'        AS title,
		      'operation' AS dataType,
		      '4'         AS porder
		    FROM OPSSkill
		    GROUP BY CySecID
		    ) AS Temp
		  GROUP BY CySecID,
		    Title,
		    dataType,
		    porder
		  ) AS MustNum
		ON MustNum.CySecID = UserCycleSec.CySecID
		LEFT JOIN
		  (SELECT userid,
		    CySecID,
		    SUM(num) AS num,
		    Title,
		    dataType,
		    porder
		  FROM
		    (SELECT COUNT(*) + isnull(ExplanNum,0) as num , BigHistoryCase.cysecid, Rec_BigHistory.userid, '大病历' AS title, 'mr' AS dataType
				, '1' AS porder
			FROM Rec_BigHistory
				LEFT JOIN BigHistoryCase ON BigHistoryCase.bhid = Rec_BigHistory.fromid
				LEFT JOIN (select isnull(sum(Num),0) as ExplanNum,Explan.CySecID from Explan  
						   inner join BigHistoryCase on BigHistoryCase.CySecID = Explan.CySecID  and Explan.ExplanObjID = BigHistoryCase.BHID
						   where userid = #{userFlow} and ExplanSort = 0
						   group by Explan.CySecID) as Temp on Temp.CySecID = BigHistoryCase.CySecID
			WHERE Rec_BigHistory.userid = #{userFlow} 
			GROUP BY Rec_BigHistory.userid, BigHistoryCase.cysecid,ExplanNum
			UNION
			SELECT COUNT(*) + isnull(ExplanNum,0) as num , CaseClass.cysecid, Rec_CaseClass.userid, '病种' AS title, 'disease' AS dataType
				, '2' AS porder
			FROM Rec_CaseClass
				LEFT JOIN CaseClass ON CaseClass.CaID = Rec_CaseClass.fromid
				LEFT JOIN (select isnull(sum(Num),0) as ExplanNum,Explan.CySecID from Explan  
						   inner join CaseClass on CaseClass.CySecID = Explan.CySecID  and Explan.ExplanObjID = CaseClass.CaID
						   where userid = #{userFlow} and ExplanSort = 1
						   group by Explan.CySecID) as Temp on Temp.CySecID = CaseClass.CySecID
			WHERE Rec_CaseClass.userid = #{userFlow}
			GROUP BY Rec_CaseClass.userid, CaseClass.cysecid,ExplanNum
			UNION
			SELECT COUNT(*) + isnull(ExplanNum,0) as num ,OperateSkill.cysecid, Rec_OperateSkill.userid, '操作技能' AS title, 'skill' AS dataType
				, '3' AS porder
			FROM Rec_OperateSkill
				LEFT JOIN OperateSkill ON OperateSkill.OpID = Rec_OperateSkill.fromid
				LEFT JOIN (select isnull(sum(Num),0) as ExplanNum,Explan.CySecID from Explan  
						   inner join OperateSkill on OperateSkill.CySecID = Explan.CySecID  and Explan.ExplanObjID = OperateSkill.OpID
						   where userid = #{userFlow} and ExplanSort = 2
						   group by Explan.CySecID) as Temp on Temp.CySecID = OperateSkill.CySecID
			WHERE Rec_OperateSkill.userid = #{userFlow}
			GROUP BY Rec_OperateSkill.userid, OperateSkill.cysecid,ExplanNum
			UNION
			SELECT COUNT(*) + isnull(ExplanNum,0) as num , OPSSkill.cysecid, Rec_POSSkill.userid, '手术' AS title, 'operation' AS dataType
				, '4' AS porder
			FROM Rec_POSSkill
				LEFT JOIN OPSSkill ON OPSSkill.OPSID = Rec_POSSkill.fromid
				LEFT JOIN (select isnull(sum(Num),0) as ExplanNum,Explan.CySecID from Explan  
						   inner join OPSSkill on OPSSkill.CySecID = Explan.CySecID  and Explan.ExplanObjID = OPSSkill.OPSID
						   where userid = #{userFlow} and ExplanSort = 3
						   group by Explan.CySecID) as Temp on Temp.CySecID = OPSSkill.CySecID
			WHERE Rec_POSSkill.userid = #{userFlow}
			GROUP BY Rec_POSSkill.userid, OPSSkill.cysecid,ExplanNum
		    ) AS Temp
		  GROUP BY userid,
		    cysecid,
		    Title,
		    dataType,
		    porder
		  ) AS Num ON Num.UserID  = UserCycleSec.UserID
		AND Num.CySecID           = UserCycleSec.CySecID
		AND num.title             = MustNum.title
		AND num.dataType          = MustNum.dataType
		WHERE UserCycleSec.userid = #{userFlow}
		AND UserCycleSec.ucsid    = #{deptFlow}
		UNION
		SELECT '活动'                            AS title,
		  'activity'                           AS dataType,
		  '已登记'+ CAST(COUNT(*) AS VARCHAR)+'条' AS label,
		  '0'                                  AS progress,
		  '5'                                  AS porder
		FROM UserCycleSec
		LEFT JOIN UserInfo
		ON UserInfo.UserID = UserCycleSec.UserID
		INNER JOIN CaseDiscuss
		ON CaseDiscuss.UserID     = UserCycleSec.UserID
		AND CaseDiscuss.CySecID   = UserCycleSec.CySecID
		WHERE UserCycleSec.userid = #{userFlow}
		AND UserCycleSec.ucsid    = #{deptFlow}
		GROUP BY UserCycleSec.userid,
		  UserCycleSec.cysecid
		UNION
		SELECT '出科小结' AS title,
		  'summary'   AS dataType,
		  CASE
		    WHEN CheckStatus = 1
		    THEN '已审核'
		    WHEN BriefID IS NULL
		    THEN '未提交'
		    WHEN BriefID IS NOT NULL
		    THEN '已提交'
		  END AS label,
		  '0' AS progress,
		  '6' AS porder
		FROM UserCycleSec
		LEFT JOIN UserInfo
		ON UserInfo.UserID = UserCycleSec.UserID
		LEFT JOIN OutSecBrief
		ON OutSecBrief.UCSID      = UserCycleSec.UCSID
		WHERE UserCycleSec.userid = #{userFlow}
		AND UserCycleSec.ucsid    = #{deptFlow}
		GROUP BY UserCycleSec.userid,
		  UserCycleSec.cysecid,
		  BriefID,
		  CheckStatus
		ORDER BY porder					
	</select>
</mapper>