<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.res.dao.njmu.ext.InputListMapper">
	<resultMap id="diseaseDiagNameMap" type="hashmap">
		<result column="CaID" property="diagId" javaType="java.lang.String"/>
		<result column="CaName" property="diagName" javaType="java.lang.String"/>
	</resultMap>
	<select id="diseaseDiagNameList" parameterType="string" resultMap="diseaseDiagNameMap">
		select CaID,CaName from CaseClass
		left join UserCycleSec on UserCycleSec.CySecID = CaseClass.CySecID
		WHERE UCSID = ${deptFlow} order by CaName
	</select>
	
	<resultMap id="operationOperNameMap" type="hashmap">
		<result column="OpsID" property="operId" javaType="java.lang.String"/>
		<result column="OPSName" property="operName" javaType="java.lang.String"/>
	</resultMap>
	<select id="operationOperNameList" parameterType="string" resultMap="operationOperNameMap">
		select OpsID,OPSName from OPSSkill
		left join UserCycleSec on UserCycleSec.CySecID = OPSSkill.CySecID
		WHERE UCSID = ${deptFlow} order by OPSName
	</select>
	
	<resultMap id="skillOperNameMap" type="hashmap">
		<result column="OpID" property="operId" javaType="java.lang.String"/>
		<result column="OpClass" property="operName" javaType="java.lang.String"/>
	</resultMap>
	<select id="skillOperNameList" parameterType="string" resultMap="skillOperNameMap">
		select OpID,OpClass from OperateSkill
		left join UserCycleSec on UserCycleSec.CySecID = OperateSkill.CySecID
		WHERE UCSID = ${deptFlow} order by OpClass
	</select>
</mapper>