<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.res.dao.njmu.ext.TeacherListMapper">
	<resultMap id="teacherMap" type="hashmap">
		<result column="teacherFlow" property="teacherFlow" javaType="java.lang.String"/>
		<result column="teacherName" property="teacherName" javaType="java.lang.String"/>
		<result column="deptName" property="deptName" javaType="java.lang.String"/>
		<result column="teacherSex" property="teacherSex" javaType="java.lang.String"/>
	</resultMap>
	<select id="search" parameterType="string" resultMap="teacherMap">
		SELECT *
		FROM (SELECT ROW_NUMBER() OVER (ORDER BY T.teacherFlow DESC) AS Row, T.*
			FROM (
				select userinfo.userid as teacherFlow,truename as teacherName,hossecname as deptName,case sex when 1 then '男' else '女' end as teacherSex  from  userinfo 
				inner join UserRole on UserRole.userid = userinfo.userid
				inner join hossection on hossection.hossecid = userinfo.szks
				where UserRole.roleid = 6 and userinfo.hosid = (select hosid from UserCycleSec where ucsid = ${deptFlow})
				and userinfo.truename like '${teacherName}'
			) T
			) TT
		WHERE TT.Row between ${startRow} and ${endRow}
		ORDER BY teacherFlow
		
		
	</select>
</mapper>