<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.res.dao.hzyy.ext.HzyyKzrMapper">

	<select id="getStudentList" resultType="java.util.Map">

        SELECT * FROM (
              SELECT ROW_NUMBER() OVER (order by TrueName,T.StartTime desc,UCSID desc)AS Row, T.*
                from (
		select RoleName,SpName, StartYear, CONVERT(varchar(10), UserCycleSec.starttime, 23) AS StartTime,
        CONVERT(varchar(10),RStartTime,23) as RStartTime,
        CONVERT(varchar(10),REndTime,23) as REndTime,
        CONVERT(varchar(10), UserCycleSec.EndTime, 23)	AS EndTime,
        URSD_ID,UserInfo.UserID,UserInfo.TrueName,HosSecName,
                case UserInfo.SFZC
                when '0' then '否'
                when '1' then '是'
                else '否' end SFZC,
                    case OutSecBrief.VerifyState
                    when 0 then '待审核'
                    when 1 then '已审核'
                    when 2 then '已审核'
                    when 3 then '已审核'
                    else '未提交' end as OutBriefState,BriefID,
                    case S_UserReadSecDocument.[STATE]
                    when '0' then '否'
                    when '1' then '是' end as UserNowState,
                    case S_UserReadSecDocument.[STATE]
                    when '0' then '【是】'
                    when '1' then '【否】' end as UserUpdateState,
                    UserSectionManager.UCSID,isnull(AssessmentMark,0) as AssessmentMark,

                    UserInfo.UserType,
                    CASE when UserInfo.UserType = 4 then '实习生'
                    when UserInfo.UserType = 6 then '带教老师'
                    when UserInfo.UserType = 1 then '研究生'
                    when UserInfo.UserType = 2 then '住院医师'
                    when UserInfo.UserType = 5 then '八年制'
                    when UserInfo.UserType = 36 then '教学秘书'
                    END as UserTypeName,UserCycleSec.CySecID
                    from UserSectionManager
                    inner join UserRealCycleSec on UserRealCycleSec.RUCSID = UserSectionManager.UCSID
                    inner JOIN UserCycleSec ON UserRealCycleSec.RUCSID = UserCycleSec.UCSID
                    inner join UserInfo on UserInfo.UserID = UserSectionManager.StudentID
                    left join Specialty on Specialty.SpID = UserInfo.SpecialtyID
                    left join HosSection on HosSection.HosSecID = UserSectionManager.HosSecID
                    inner join S_UserReadSecDocument on S_UserReadSecDocument.UCSID = UserSectionManager.UCSID
                    left join OutSecBrief on OutSecBrief.UCSID = UserSectionManager.UCSID
                    left join UserRole on UserRole.UserID = UserInfo.UserID
                    left join Role on Role.RoleID = UserRole.RoleID
                    left join CycleOutSectionRecord_NF on CycleOutSectionRecord_NF.UCSID = UserRealCycleSec.RUCSID
                    where UserInfo.IsUser=0 and UserInfo.IsComplete=0
                    and UserSectionManager.SectionManagerID = #{userFlow}
                    <if test="searhStr!=''and searhStr!=null">
                        and( UserInfo.TrueName like '%${searhStr}%'
                        or HosSecName like '%${searhStr}%'
                        or SpName like '%${searhStr}%'
                        )
                    </if>
                )as T
        ) TT
        WHERE TT.Row between #{start} and #{end}

	</select>
	<select id="getDeptList" resultType="java.util.Map">

        SELECT * FROM (
              SELECT ROW_NUMBER() OVER (order by HosSecName desc,HosSecID desc)AS Row, T.*
                from (
                select userinfo.UserID, hossection.HosSecID,hossection.HosSecName from userinfo
                left join DirectorSection on DirectorSection.UserID = userinfo.USERID
                inner join hossection  on hossection.hossecid = DirectorSection.SecID
                where userinfo.userid = #{userFlow}
            <if test="searhStr!=''and searhStr!=null">
                and( HosSecName like '%${searhStr}%' )
            </if>
                union
                select UserID, hossection.HosSecID,hossection.HosSecName from userinfo
                left join hossection  on hossection.hossecid = userinfo.szks
                where userinfo.userid = #{userFlow}
                <if test="searhStr!=''and searhStr!=null">
                    and( HosSecName like '%${searhStr}%' )
                </if>
                )as T
        ) TT
        WHERE TT.Row between #{start} and #{end}

	</select>
    <select id="getDeptEvalInfo" resultType="java.util.Map">
        SELECT RequestItem.ReqItemName,
         ROUND(AVG(Mark.MarkDF),2) AS Grade,
        Convert(decimal(18, 2),AVG(ExamInfo.ExamInfoDF) ) AS ExamInfoDF,
                HosSection.HosSecID ,
                HosSection.HosSecName
        FROM    HosSection ,
                ExamInfo,
                Mark,
                RequestItem WHERE   ExamInfo.ExamInfoType = 6
                AND ExamInfo.SecID = HosSection.HosSecID
                AND Mark.ExamInfoID = ExamInfo.ExamInfoID
                AND Mark.ReqItemID = RequestItem.ReqItemID
                AND ExamInfo.SecID IN ( SELECT  HosSection.HosSecID
                                        FROM    HosSection
                                        WHERE   HosID =#{HosID})
                and substring((CONVERT(varchar(25), ExamInfoKHSJ,20)),1,4) = #{year}
                AND HosSection.HosSecID =#{hosSecID}
                GROUP BY HosSection.HosSecName,HosSection.HosSecID ,
                ReqItemName
                 ORDER BY HosSection.HosSecID
    </select>
	<select id="getTeacherList" resultType="java.util.Map">

        SELECT * FROM (
              SELECT ROW_NUMBER() OVER (order by TrueName ,HosSecName )AS Row, T.*
                from (
        select TrueName, UserID,HosSecName from UserInfo
        left join HosSection on HosSection.HosSecID = UserInfo.SZKS
        where UserInfo.UserID in (select UserRole.UserID from UserRole where UserRole.RoleID in
        (select Role.RoleID from Role where Role.CheckIndex=2)) and UserInfo.HosID = #{hosID}
        and UserInfo.SZKS = #{szks}
                <if test="searhStr!=''and searhStr!=null">
                    and( TrueName like '%${searhStr}%' )
                </if>
                )as T
        ) TT
        WHERE TT.Row between #{start} and #{end}

	</select>
    <select id="getTeacherEvalInfo" resultType="java.util.Map">
        SELECT RequestItem.ReqItemName,Convert(decimal(18,2),AVG(Mark.MarkDF)) AS Grade,
        Convert(decimal(18, 2),AVG(ExamInfo.ExamInfoDF) ) AS ExamInfoDF,
                                        UserInfo.UserID,UserInfo.TrueName
                                        FROM UserInfo,ExamInfo,Mark,RequestItem
                                        WHERE   ExamInfo.ExamInfoType = 0
                                             AND ExamInfo.UserID = UserInfo.UserID
                                             AND Mark.ExamInfoID = ExamInfo.ExamInfoID
                                             AND Mark.ReqItemID = RequestItem.ReqItemID
                        <if test='startTime!=null and startTime!="" '>
                            AND ExamInfoKHSJ >=  #{startTime}
                        </if>
                        <if test='  endTime!=null and endTime!=""'>
                            AND ExamInfoKHSJ <![CDATA[<=]]> #{endTime}
                        </if>
                            AND UserInfo.UserID =#{teaFlow}
                            GROUP BY UserInfo.UserID,UserInfo.TrueName,ReqItemName
                                            ORDER BY UserInfo.TrueName,ReqItemName

    </select>
</mapper>