<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.res.dao.hzyy.ext.HzyyTutorAppMapper">

	<resultMap id="imgMap" type="hashmap">
		<result column="T_UpLoadFlow"  property="fileFlow" javaType="java.lang.String"/>
		<result column="T_ToturID"  property="toturFlow" javaType="java.lang.String"/>
		<result column="T_FileUrl"  property="fileUrl" javaType="java.lang.String"/>
		<result column="T_FileName"  property="fileName" javaType="java.lang.String"/>
		<result column="T_DateTime"  property="dateTime" javaType="java.lang.String"/>
		<result column="T_DateMonth"  property="dateMonth" javaType="java.lang.String"/>
	</resultMap>
	<insert id="saveFile">
		INSERT INTO T_ToturUpload   (T_UpLoadFlow,T_ToturID,T_FileUrl,T_FileName,T_DateTime,T_UploadType)
		  values(newid(),#{userFlow},#{fileUrl},#{fileName},#{yearMonth},${type})
	</insert>
	<delete id="delFile">
		DELETE T_ToturUpload WHERE T_UpLoadFlow=#{fileFlow}
	</delete>
	<select id="stuImgList" resultMap="imgMap">
    SELECT T_UpLoadFlow,T_ToturID,T_FileUrl,T_FileName,T_DateTime
	FROM T_ToturUpload WHERE T_ToturID=#{userFlow}
 	AND T_UploadType=0 AND T_DateTime Between #{startTime} AND #{endTime}
  </select>
	<select id="stuSchImgList" resultMap="imgMap">

		SELECT * FROM (
			SELECT ROW_NUMBER() OVER (order by T.T_DateTime desc)AS Row, T.*
			from (
				SELECT T_UpLoadFlow,T_ToturID,T_FileUrl,T_FileName
				,convert(varchar(100),T_DateTime,23) T_DateTime
				, convert(varchar(7), T_DateTime, 120) AS T_DateMonth
				FROM T_ToturUpload WHERE T_ToturID=#{userFlow}
				AND T_UploadType=#{type}
				AND T_DateTime >= #{startTime}
				 AND T_DateTime <![CDATA[<=]]>#{endTime}
			) as T
			where 1=1
			<if test="dateMonth!=null and dateMonth!=''">
				and t.T_DateMonth =#{dateMonth}
			</if>
			<if test="sufs!=null and sufs.size()>0">
				and
				<foreach collection="sufs" open="(" separator="or" close=")" item="item">
					lower(t.T_FileUrl) like '%${item}'
				</foreach>
			</if>
		) TT
		WHERE TT.Row  between  #{start} and #{end}
		ORDER BY T_DateTime desc
	</select>
	<select id="readFile" resultMap="imgMap">
		SELECT T_UpLoadFlow,T_ToturID,T_FileUrl,T_FileName,T_DateTime
		FROM T_ToturUpload WHERE T_UpLoadFlow=#{fileFlow}
	</select>


</mapper>