@charset "utf-8";
/* CSS Document */

*{font-family:"微软雅黑"}
body{margin:0;}
ul{margin:0;padding:0;}
li{list-style:none;}
p{padding:0;margin:0;}
a{text-decoration:none;padding:0;margin:0;}
.fl{float:left;}
.fr{float:right;}
.log_item{overflow:hidden;margin-top:20px;margin-left:20px;}
.timeline_date{width:140px;border-radius:2px;}
.timeline_date p{text-align:right;font-size:18px;line-height:28px;color:#222;}
.log_content{width:50%;border:#dfe2ef 1px solid;border-radius:2px;margin-left:20px;position:relative;}
.arrow01{position:absolute;left:-6px;top:12px;color:#dfe2ef;font-size:15px;}
.timeline_title01,.timeline_title{width:90%;margin:auto;border-bottom:#dfe2ef solid 1px;padding-bottom:10px;padding-top:20px;}
.timeline_title01 a{font-size:30px;color:#aaa;border-radius:2px;}
.timeline_title01 a:hover{color:#646464;text-decoration:underline;}
/* .timeline_title a{font-size:30px;color:#000;display:block;} */
.timeline_title span{padding-left:20px;background:url(../images/pic01.png) no-repeat left center;font-size:14px;color:#646464;}
.timeline_title .more_all{font-size:12px;background:#3aaffd;border-radius:2px;color:#fff;padding:2px;}
.timeline_title .more_all:hover{text-decoration:underline;background:#089afc;}
.content_area,.content_area01{width:90%;margin:auto;padding:20px 0;}
.content_area p{font-size:14px;color:#aaa;line-height:21px;}
.content_area01 p{font-szie:16px;color:#222;line-height:24px;}
.content_area01 li{font-size:14px;color:#222;line-height:21px;}

/*工作日志*/
.datework_contain{ width:80%; height:100%; border-radius:5px; margin:0 auto; box-shadow:0px 0px 5px #aaa;}
.datework_main{ padding:50px;}
.datework_main h1{text-align: center;font-weight:bold;font-size: 18px;margin-bottom: 20px;}
.datework_main h2{text-align: center;font-weight:bold;color:#0995ed; font-size: 18px;margin-bottom: 20px;}
.datework_main h3{float:left;color:#0995ed; font-size:14px; font-weight:bold;}
.datework_edit{text-align:right; border-bottom:1px solid #e4e4e4;padding-bottom: 10px;}
.datework_edit a,.datework_edit a:hover{padding:15px;}
.datework_cz_edit{ padding:5px; color:#969696; background:url(../images/timework_edit.png) no-repeat center;}
.datework_cz_delete{ padding:5px; color:#969696; background:url(../images/timework_delete.png) no-repeat center;}
.datework_cz_back{ padding:5px; color:#969696; background:url(../images/timework_back.png) no-repeat center;}
.datework_cz_edit:hover{ padding:5px; color:#969696; background:url(../images/timework_edit2.png) no-repeat center;}
.datework_cz_delete:hover{ padding:5px; color:#969696; background:url(../images/timework_delete2.png) no-repeat center;}
.datework_cz_back:hover{ padding:5px; color:#969696; background:url(../images/timework_back2.png) no-repeat center;}
.date_work{margin-top:10px; text-align:left;}

