<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.webService.ShzsWebServiceMapper" >

  <update id="updateInProcessDeptNameByFlow">
    update RES_INPROCESS_INFO SET DEPT_NAME=#{dept.deptName} WHERE DEPT_FLOW=#{dept.deptFlow}
  </update>
  <update id="updateUserDeptNameByFlow">
    update SYS_USER_DEPT SET DEPT_NAME=#{dept.deptName} WHERE DEPT_FLOW=#{dept.deptFlow}
  </update>
  <update id="updateResultDeptNameByFlow">

    update SCH_ARRANGE_RESULT SET DEPT_NAME=#{schDept.deptName}
    ,SCH_DEPT_NAME=#{schDept.schDeptName}
    WHERE SCH_DEPT_FLOW=#{schDept.schDeptFlow}

  </update>
  <update id="updateProcessDeptNameByFlow">
    update RES_DOCTOR_SCH_PROCESS SET DEPT_NAME=#{schDept.deptName}
    ,SCH_DEPT_NAME=#{schDept.schDeptName}
    WHERE SCH_DEPT_FLOW=#{schDept.schDeptFlow}

  </update>
  <update id="stopSchDept">
    UPDATE PDSCI.SCH_DEPT
    SET RECORD_STATUS = 'N',  MODIFY_USER_FLOW = 'webService'
    WHERE SCH_DEPT_FLOW = #{deptInfo.deptId}
  </update>
  <update id="delDeptRel">
    UPDATE PDSCI.SCH_DEPT_REL
    SET RECORD_STATUS = 'N',  MODIFY_USER_FLOW = 'webService'
    WHERE SCH_DEPT_FLOW = #{deptInfo.deptId}
    AND RECORD_STATUS='Y'
  </update>
  <update id="delExamStandardDept">
    UPDATE PDSCI.SCH_EXAM_STANDARD_DEPT
    SET RECORD_STATUS = 'N',  MODIFY_USER_FLOW = 'webService'
    WHERE STANDARD_DEPT_ID = #{deptInfo.deptId}
    AND RECORD_STATUS='Y'
  </update>
  <update id="enableDept">
    UPDATE PDSCI.SCH_DEPT
    SET RECORD_STATUS = 'Y',  MODIFY_USER_FLOW = 'webService'
    WHERE SCH_DEPT_FLOW = #{deptInfo.deptId}
    AND MODIFY_USER_FLOW = 'webService'
  </update>
  <update id="enableDeptRel">
    UPDATE PDSCI.SCH_DEPT_REL
    SET RECORD_STATUS = 'Y',  MODIFY_USER_FLOW = 'webService'
    WHERE SCH_DEPT_FLOW = #{deptInfo.deptId}
    AND RECORD_STATUS='N'
    AND MODIFY_USER_FLOW = 'webService'
  </update>
  <update id="enableExamStandardDept">
    UPDATE PDSCI.SCH_EXAM_STANDARD_DEPT
    SET RECORD_STATUS = 'Y',  MODIFY_USER_FLOW = 'webService'
    WHERE STANDARD_DEPT_ID = #{deptInfo.deptId}
    AND RECORD_STATUS='N'
    AND MODIFY_USER_FLOW = 'webService'
  </update>
  <update id="delUserRole">
    UPDATE PDSCI.SYS_USER_ROLE
    SET RECORD_STATUS = 'N',  MODIFY_USER_FLOW = 'webService'
    WHERE USER_FLOW = #{userFlow}
    AND RECORD_STATUS='Y'
    AND WS_ID='res'
  </update>
  <update id="delUserDept">
    UPDATE PDSCI.SYS_USER_DEPT
    SET RECORD_STATUS = 'N',  MODIFY_USER_FLOW = 'webService'
    WHERE USER_FLOW = #{userFlow}
    AND RECORD_STATUS='Y'
  </update>
  <select id="readDocCountByTea" resultType="java.lang.Integer">
      SELECT COUNT(1) FROM RES_DOCTOR_SCH_PROCESS
      WHERE RECORD_STATUS='Y'
      AND TEACHER_USER_FLOW=#{userFlow}
  </select>
  <select id="readDocCountByHead" resultType="java.lang.Integer">
      SELECT COUNT(1) FROM RES_DOCTOR_SCH_PROCESS
      WHERE RECORD_STATUS='Y'
      AND HEAD_USER_FLOW=#{userFlow}
  </select>
  <select id="readDocProcess" resultType="java.lang.Integer">
      SELECT COUNT(1) FROM RES_DOCTOR_SCH_PROCESS
      WHERE RECORD_STATUS='Y'
      AND USER_FLOW=#{userFlow}
  </select>
  <select id="checkUserDept" resultType="java.lang.Integer">
      SELECT COUNT(1)
      FROM (SELECT USER_FLOW, DEPT_FLOW
              FROM SYS_USER_DEPT
             WHERE RECORD_STATUS = 'Y'
               AND USER_FLOW =#{userFlow}
            UNION
            SELECT USER_FLOW, DEPT_FLOW
              FROM SYS_USER
             WHERE RECORD_STATUS = 'Y'
               AND USER_FLOW =#{userFlow}) B
     WHERE DEPT_FLOW = #{deptFlow}
  </select>
  <resultMap id="deptMap" type="hashmap">
    <result column="RECORD_FLOW" jdbcType="VARCHAR" property="deptCode" />
    <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
    <result column="STANDARD_DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
  </resultMap>
  <select id="readRotationDeptByFlow" resultMap="deptMap">
      SELECT DEPT.RECORD_FLOW,DEPT.STANDARD_DEPT_NAME,G.GROUP_NAME
    FROM SCH_ROTATION_DEPT DEPT
    LEFT JOIN SCH_ROTATION_GROUP G
    ON DEPT.GROUP_FLOW = G.GROUP_FLOW
   WHERE DEPT.RECORD_STATUS = 'Y'
     AND DEPT.ORG_FLOW IS NULL
     AND DEPT.ROTATION_FLOW = #{rotationFlow}
        ORDER BY G.ORDINAL,DEPT.ORDINAL
  </select>
  <select id="checkResultDate" parameterType="java.util.Map" resultMap="com.pinde.sci.dao.base.SchArrangeResultMapper.BaseResultMap">
    select *
    from pdsci.sch_arrange_result
    where record_status = 'Y'
    and doctor_flow = #{doctorFlow}
    and (
    (
    sch_start_date <![CDATA[<=]]> #{startDate}
    and  sch_end_date >= #{startDate}
    )
    or
    (
    sch_start_date <![CDATA[<=]]> #{endDate}
    and  sch_end_date >= #{endDate}
    )
    or
    (
    sch_start_date <![CDATA[>=]]> #{startDate}
    and  sch_end_date <![CDATA[<=]]> #{endDate}
    )
    )
    <if test='resultFlow!=null and resultFlow!=""'>
      and result_flow != #{resultFlow}
    </if>
    <if test='rotationFlow!=null and rotationFlow!=""'>
      and rotation_flow = #{rotationFlow}
    </if>
  </select>
</mapper>