@charset "utf-8";
/* CSS Document */

html, body, div, iframe, h1, h2, h3, h4, h5, h6, p, a, del, em, b, i, s, img, strong, dd, dl, dt,  ol, ul, li, label, form, table, tbody, thead, tr, th, td, address, span, cite ,input{ margin:0; padding:0; border:medium none; }
body { width:100%; font:14px 'Microsoft Yahei'; color:#000; _word-break:break-all; white-space:normal;}
h1, h2, h3, h4, h5, h6 {font-size:100%;}
table { border-spacing:0px;border-collapse:collapse;}
a {text-decoration: none; outline:0;color:#000;}
a:hover { text-decoration:none; color:#2b6bc8;}
em, b, cite, i, s { font-style:normal;}
ul,ol { list-style:none; text-align: left;}
hr{ magin:0; padding:0;}
img, input, select, button, textarea { font:14px 'Microsoft Yahei', sans-serif; vertical-align:middle; padding:0; margin:0; }
.fr{ float:right;}
.fl{ float:left;}
.fright{ text-align:right;}
.clear { clear:both; height:0; font-size:0; visibility:hidden; display:block;}

/*header*/
.top{ border-bottom:3px solid #79bcfc;}
#header{ height:72px;}
.header{ margin:0 auto; width:1100px;}
.header img{ padding-left:10px; padding-top:10px; float:left;}
.nav{ float:right; margin-right:20px;}
.nav ul li{ float:left; line-height:69px; font-size:16px; width:110px; text-align:center;}
.nav li.active{ color:#2b6bc8; border-bottom:3px solid #2b6bc8;}

/*banner*/
#banner{ background:#01a0e2 url(../images/banner.jpg) no-repeat center; height:380px;}
.banner{margin:0 auto; width:1100px;}
.login{ float:right;background:url(../images/login.png) no-repeat center; width:388px; height:295px; margin-right:10px; margin-top:55px;}
.login table{ width:300px; margin-top:27px; margin-left:44px; text-align:left;}
.user{ line-height:40px; height:40px; width:240px; padding-left:5px;*margin-top:-2px!important;}
.yzm{ line-height:40px; height:40px; width:130px; padding-left:5px;*margin-top:-2px!important;}
.butt{line-height:40px; height:40px; background:#35c242; width:130px; font-size:16px; color:#fff; text-align:center; cursor:pointer; margin-right:20px;}
.submit{background:#6c9eb0;line-height:40px;height:40px; width:140px; font-size:16px; color:#fff; text-align:center; cursor:pointer;}

/*news*/
#news{margin:0 auto; width:1100px; min-height:350px;}
#news h1{height:35px; margin:20px 20px;}
.news{ position:relative; top:0px; left:50%; margin-left:-550px; width:1100px; height:290px;}
.news li{ width:450px;} 
.line{ display:block; border-bottom:1px solid #CCC; margin:10px 0; height:1px;*margin-top:-10px!important;*margin-bottom:0px!important;}
/*新闻内容*/
.anno_box ul{margin-top:2px;background:#fff;height:82px;}
.anno_box li:hover{background:#e3f0f7;cursor:pointer;}
.anno_box ul li{overflow:hidden; float:left; margin-right:100px; margin-bottom:40px;}
.date{width:75px;}
.date .day{text-align:center;display:block;font-size:45px;color:#969799;}
.date .moon{text-align:center;display:block;font-size:14px;color:#969799;}
.anno_content{width:350px; padding-left:20px;} 
.anno_content h2{color:#222;font-size:16px; line-height:35px;}
.anno_content p{color:#646566;font-size:14px;margin:3px 0;}
.more a{ position:absolute; bottom:0px; left:30%;border:1px solid #c8c9cc;text-align:center; padding:10px 150px;}


/*notice*/
#notice{ width:100%;background:#f8f8f8; min-height:400px;}
.content{margin:0 auto; width:1100px;}
.content ul li span,.download ul li span,.allNewbox ul li span{color:#7d7e80; float:right;}
.notice{ width:500px;}
.notice h2,.policy h2{height:35px; margin:15px 20px;}
.notice li,.policy li{  width:480px;line-height:35px;border-bottom:1px solid #c8c9cc;text-overflow:ellipsis; white-space:nowrap;*white-space:nowrap; overflow:hidden;}
.line_center{ margin:50px 55px;*margin-left:50px!important; width:1px; border-right:1px solid #c8c9cc; text-align:center; height:314px;}
.notice_more{ line-height:35px;}

/*download*/
.down{ background:#f8f8f8;}
#download{ margin:0 auto; width:1100px; background:url(../images/down.png) 30px 0 no-repeat; height:370px; margin-top:20px;}
.download{ margin-right:20px; margin-top: 50px;}
.download ul{ float:right;}
.download li{ background:url(../images/point.png) no-repeat 3px; padding-left:20px;width:480px;line-height:40px;border-bottom:1px solid #c8c9cc;text-overflow:ellipsis; white-space:nowrap;*white-space:nowrap; overflow:hidden;}
.down_more{ height:65px; width:1100px; text-align:right; }
.down_more img{ margin-top:20px;}

/*footer*/
#footer{  background:#3c3c3c; height:100px; width:100%; color:#fff; line-height:35px; padding-top:40px; text-align:center;}
#footer a{ color: white;}

/*二级页面*/
#banner_sec{ height:300px; background:url(../images/sec_bg.png) repeat-x;}
.banner_sec{  margin:0 auto; height:300px; background:url(../images/second.jpg) no-repeat center; width:100%;}
/*新闻二级子页全部新闻*/
.newChild{width:1002px;margin:auto;overflow:hidden;background:#FFF; margin-bottom:10px;}
.shouye{margin-top:12px;}
.new_title{display:block;text-align:left;font-size:24px;padding:12px 0px;border-bottom:solid 2px #c8c9cc;background:url(../images/icon01.png) no-repeat left center;padding-left:37px;margin-top:20px;}
.allNewbox{height:510px;}
.allNewbox li{border-bottom:solid 1px #c8c9cc;overflow:hidden;padding:0 10px;color:#222;font-size:16px;display:block;line-height:50px;padding-left:12px;background:url(../images/newIcon.png) no-repeat left center;}
.allNewbox li:hover{color:#2b6bc8;text-decoration:underline; cursor:pointer;}
.page{margin:10px;}
.page input{padding:4px;color:#30F;background:#fff;border:1px solid #fff;display:block;width:24px;height:24px;float:left;margin-left:2px;}
.page input:hover{background:#969799;color:#fff;border:1px solid #969799;cursor:pointer;}
.page .xuanzhong{color:#000;font-siee:16px;border:1px solid #969799;}

/*新闻三级子页*/
.newChildren{width:1002px;margin:auto;}
.newTitle{font-size:28px;text-align:center;line-height:56px;margin:25px 0;}
.laiyuan{color:#7d7e80;padding:10px 0;text-align:center;border-top:solid 1px #c8c9cc;border-bottom:solid 1px #c8c9cc;display:block;}
.news-icontent{padding-bottom:40px;border-bottom:solid 1px #c8c9cc;}
.news-icontent p{color:#4b4b4d;line-height:21px;width:890px;margin:auto;display:block;margin-top:20px; line-height:28px; text-indent:28px; text-align:justify;font-size:14px;text-justify:inter-ideograph}

.fenxiang{overflow:hidden;padding:10px 0px;padding-bottom:30px;}
.fright{font-size:14px;}
.fright a{color:#151a7e;}
.fright a:hover{color:#ff0024;}
.fle a,.fle span{float:left;margin-left:4px;}

