<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.xjgl.XjEduNoticeExtMapper">

    <select id="searchByRoles" parameterType="java.lang.String" resultMap="com.pinde.sci.dao.base.EduTeachingnoticeMapper.BaseResultMap">
        select et.*
        from edu_teachingnotice et
        where   et.record_status = 'Y'
        and (
        et.INFO_TARGET_FLOW  is null
        or
        exists(
        select null from sys_user_role sur
        where sur.record_status = 'Y'
        and sur.ROLE_FLOW   = et.INFO_TARGET_FLOW
        and sur.record_status = 'Y'
        <if test='userFlow!=null and userFlow!=""'>
            and sur.user_flow= #{userFlow}
        </if>
        )
        )
        order by et.CREATE_TIME DESC
    </select>
</mapper>