<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.xjgl.XjStuFeeExtMapper">
    <select id="queryStuAllFeeInfo" resultType="java.util.Map" parameterType="java.util.Map">
        select rybh,rymc,xysje,sjje,qfje
        from V_XSZSFXX where rybh=#{sid}
    </select>
    <select id="queryStuFeeInfo" resultType="java.util.Map" parameterType="java.util.Map">
        select rybh,rymc,sfnd,sfqjbh,sfqjmc,xmbh,xmmc,xysje,sjje,qfje,ywrq
        from V_XSSFMX where rybh=#{sid}
    </select>
</mapper>