<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.xjgl.XjVoteManageExtMapper">
    <select id="queryElectorList" parameterType="java.util.Map" resultType="java.util.Map">
        select ne.elector_flow,max(ne.elector_name) elector_name
            ,max(ne.sex_id) sex_id,max(ne.sex_name) sex_name
            ,max(ne.pydw_org_flow) pydw_org_flow,max(ne.pydw_org_name) pydw_org_name
            ,max(ne.party_branch_id) party_branch_id,max(ne.party_branch_name) party_branch_name
            ,count(nvd.record_flow) votes
        from nydw_elector ne
        left join nydw_vote_detail nvd
        on ne.elector_flow=nvd.elector_flow
        and ne.vote_flow=nvd.vote_flow
        where ne.record_status='Y'
        and nvd.record_status='Y'
        <if test="voteFlow!=null and voteFlow!=''">
            and ne.vote_flow=#{voteFlow}
        </if>
        group by ne.elector_flow
    </select>
    <select id="queryVoterList" parameterType="java.util.Map" resultType="java.util.Map">
        select nv.vote_flow,nv.voter_flow,nv.voter_name
        ,nv.sex_id,nv.sex_name,nv.party_branch_id,nv.party_branch_name
        from nydw_voter nv
        left join nydw_vote_detail nvd
        on nvd.vote_flow=nv.vote_flow
        and nvd.voter_flow=nv.voter_flow
        where nv.record_status='Y'
        <if test="voteFlow!=null and voteFlow!=''">
            and nv.vote_flow=#{voteFlow}
        </if>
        <if test="electorFlow!=null and electorFlow!=''">
            and nvd.elector_flow=#{electorFlow}
        </if>
        order by nv.modify_time desc
    </select>
    <select id="queryVoteMainList" parameterType="java.util.Map" resultMap="com.pinde.sci.dao.base.NydwVoteMainMapper.BaseResultMap">
        select * from nydw_vote_main nvm
        where nvm.record_status='Y'
        <if test="voterFlow!=null and voterFlow!=''">
            and nvm.record_flow in (
            select nv.vote_flow from nydw_voter nv
            where nv.record_status='Y'
            and nv.voter_flow=#{voterFlow}
            )
        </if>
        <if test="voteName!=null and voteName!=''">
            <bind name="name" value="'%'+voteName+'%'"/>
            and nvm.vote_name like #{name}
        </if>
        <if test="beginTime!=null and beginTime!=''">
            and nvm.begin_time >=#{beginTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            and #{endTime} >= nvm.end_time
        </if>
        order by nvm.modify_time desc
    </select>
</mapper>