@charset "utf-8";
/* CSS Document */
body,html,ul,li,table,tr,td,th,a,span,h1,h2,div，br,input,caption{
	padding:0;
	margin:0;
    }
table{
	border-spacing:16px;
	}
a{
	text-decoration:none;
	display:block;
	}
img{
	padding:0;
	margin:0;
	display:block;
	}
input{ border:none; outline:none;}
/*login*/
html{ max-height:900px; background-color:#f0f6fa;}
h1{ width:100%; height:100px; background-color:#FFFFFF;}
h1 img{ width:736px; height:70px; margin-left:20%; padding-top:15px;}
.bg{ background:url(../images/bg.png) no-repeat center; width:100%; height:640px; position:relative;}
img.cloud_left{ position:absolute; left:0; bottom:0;}
img.cloud_right{ position:absolute; right:0; bottom:0;}
.login{ width:350px; height:364px; background:#FFFFFF; opacity:0.9; border-radius:10px; position:absolute; left:50%; margin-left:180px; top:50%; margin-top:-210px;}
.login table{ width:302px; margin:auto;}
.login th{ font-size:18px; padding-top:10px;}
.login td{ border:#c5c5c5 1px solid; width:302px; height:48px;border-radius:2px}
.login td img{ float:left; padding-left:15px; padding-top:5px;}
.login td input{ float:left; padding-left:15px; font-size:14px; padding-top:3px; width:146px; height:38px;}
.login td input.loginsr{ width:240px;}
.login td img.img_yzm{ float:right; padding-right:10px; padding-top:-2px;}
.login td.last{border:none; padding-top:10px;border-radius:2px}
.login td input.btn{  background-color:#2d90dd; width:302px; height:50px; color:#FFFFFF; font-size:16px; padding-left:0px; border-radius:2px;}
.login td input.btn:hover{  background-color:#5bb1f4; }

.foot{ background-color:#f0f6fa; width:100%; height:80px;}
.foot span{ display:block;text-align:center; padding-top:15px;}
.foot a{ text-align:center; padding-top:8px; color:#000000; margin-bottom:20px;}
.foot a:hover{ text-decoration:underline; color:#3793ED;}