<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.sys.SysCfgExtMapper" >
    <select id="getOpenSwitchCount" resultType="int">
        select count(0)
        from sys_cfg
        where record_status = 'Y'
              and cfg_value = 'Y'
              and cfg_code like CONCAT(#{cfgCodePre},'%')
    </select>

    <select id="searchByPreAndSuf" resultMap="com.pinde.core.common.sci.dao.SysCfgMapper.BaseResultMap">
        select cfg_code,cfg_value
        from sys_cfg
        where record_status = 'Y'
        and cfg_code like CONCAT(#{cfgCodePre},CONCAT('%', #{cfgCodeSuf}))
        <if test='cfgValue!=null and cfgValue!=""'>
            and cfg_value = #{cfgValue}
        </if>
    </select>

    <update id="updateSchoolSubmit" parameterType="map">
        update sys_dict
        set check_status_id = '',check_status_name = '',check_reason = ''
        <if test="isSubmitId != null and isSubmitId == 'Y'.toString()">
            , is_submit_id = 'NotSubmit',is_submit_name = '未提交'
        </if>
        <if test="isSubmitId != null and isSubmitId == 'N'.toString()">
            , is_submit_id = '',is_submit_name = ''
        </if>
        where dict_flow = #{dictFlow}
    </update>

    <update id="saveSchoolSubmit" parameterType="list">
        update sys_dict
        set is_submit_id = 'Submit',is_submit_name = '已提交'
        , check_status_id = 'Passing',check_status_name = '待审核'
        where dict_flow in
        <foreach collection="list"  item="dictFlow" open="(" separator="," close=")">
            #{dictFlow}
        </foreach>
    </update>

    <update id="updateCheckAll" parameterType="map">
        update sys_dict
        <if test="flag != null and flag == 'Y'.toString()">
            set check_status_id = 'Passed',check_status_name = '审核通过'
        </if>
        <if test="flag != null and flag == 'N'.toString()">
            set check_status_id = 'UnPassed',check_status_name = '审核不通过'
        </if>
        <if test="checkReason != null and checkReason != ''">
            ,check_reason = #{checkReason}
        </if>
        where dict_flow in
        <foreach collection="list"  item="dictFlow" open="(" separator="," close=")">
            #{dictFlow}
        </foreach>
    </update>

    <update id="updateSchoolNotSubmit" parameterType="list">
        update sys_dict
        set is_submit_id = 'NotSubmit',is_submit_name = '未提交'
        , check_status_id = '',check_status_name = '',check_reason = ''
        where dict_flow in
        <foreach collection="list"  item="dictFlow" open="(" separator="," close=")">
            #{dictFlow}
        </foreach>
    </update>
</mapper>