<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.sys.SysLogExtMapper" >
	<select id="searchLog" parameterType="java.util.Map" resultMap="com.pinde.sci.dao.base.SysLogMapper.BaseResultMap">
  		select <include refid="com.pinde.sci.dao.base.SysLogMapper.Base_Column_List" /> from PDSCI.sys_log 
  		where user_flow in(select distinct user_flow from PDSCI.sys_log where record_status='Y'
           <if test='deptFlow!=null and deptFlow!=""'>
              and dept_flow = #{deptFlow}
           </if>
           <if test='logTime!=null and logTime!=""'>
              and log_time like '${logTime}%'
           </if>
           <if test='wsIds!=null and wsIds!=""'>
           	  and ws_id in
              <foreach collection="wsIds" open="(" separator="," close=")" item="item">#{item}</foreach>
           </if>
           <if test='operIds!=null and operIds!=""'>
           	  and oper_id in
              <foreach collection="operIds" open="(" separator="," close=")" item="item">#{item}</foreach>
           </if>
  		)
  		order by user_name
	</select>
	
</mapper>