@charset "utf-8";
.searchTable{
    width: auto;
}
.searchTable td{
    width: auto;
    height: 45px;
    line-height: auto;
    text-align: left;
}
.searchTable th{
    width: auto;
    height: 35px;
    background-color: lightgrey;
}
.searchTable .td_left{
    word-wrap:break-word;
    width:6em;
    height: auto;
    line-height: auto;
    text-align: right;
}

.stepDiv{background:white; height:45px; border:none; position:relative; }
.stepDiv a{ position:absolute;width:240px; height:46px; line-height:46px; text-align:center;color:#6b6b6b; background:url(../images/step3.png) no-repeat}

.stepDiv .stepA1{ width:240px; left:0; top:-1px; background-position:0px 0; text-align:center; }
/*.stepDiv .stepA1.activeA1{background-position:0px -46px; color:#fff;}*/
.stepDiv .stepA1.active{background-position:0px -46px; color:#fff;}

.stepDiv .stepA2{left:240px; top:-1px;background-position:0px 0px;}
/*.stepDiv .stepA2.activeA2{background-position:0px -46px;color:#fff;}*/
.stepDiv .stepA2.active{background-position:0px -46px;color:#fff;}

.stepDiv .stepA3{left:480px;top:-1px;background-position:0px 0px;}
/*.stepDiv .stepA3.activeA3{background-position:0px -46px;color:#fff;}*/
.stepDiv .stepA3.active{background-position:0px -46px;color:#fff;}

.stepDiv .stepA4{left:720px;top:-1px;background-position:0px 0px;}
/*.stepDiv .stepA4.activeA4{background-position:0px -46px;color:#fff;}*/
.stepDiv .stepA4.active{background-position:0px -46px;color:#fff;}

.stepDiv .stepA5{ width:241px; right:0;top:-1px;background-position:-508px 0px;}
.stepDiv .stepA5.activeA5{width:242px; right:-1px;background-position:-508px -46px;color:#fff;}

.spanClick{
    width: 24px;height: 24px;background-color: #44B549;color:white;cursor:pointer;
}
.spanNotClick{
    width: 24px;height: 24px;background-color: grey;color:white;cursor:pointer;
}

.div_table h4 {
    border-left: 4px solid #5a9ed7;
}