<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.res.dao.stdp.ext.StdpResDoctorExtMapper">
	<resultMap type="HashMap" id="processMap">
		<result column="doctor_flow" javaType="string" property="doctorFlow"/>
		<result column="doctor_name" javaType="string" property="doctorName"/>
		<result column="doctor_img" javaType="string" property="doctorImg"/>
		<result column="user_phone" javaType="string" property="phone"/>
		<result column="sch_start_date" javaType="string" property="schStartDate"/>
		<result column="sch_end_date" javaType="string" property="schEndDate"/>
		<result column="start_date" javaType="string" property="startDate"/>
		<result column="end_date" javaType="string" property="endDate"/>
		<result column="score" javaType="string" property="score"/>
		<result column="sch_flag" javaType="string" property="schFlag"/>
		<result column="is_current_flag" javaType="string" property="isCurrentFlag"/>
		<result column="result_flow" javaType="string" property="resultFlow"/>
		<result column="sch_dept_name" javaType="string" property="schDeptName"/>
		<result column="sch_dept_flow" javaType="string" property="schDeptFlow"/>
		<result column="process_flow" javaType="string" property="processFlow"/>
		<result column="session_number" javaType="string" property="sessionNumber"/>
		<result column="training_spe_id" javaType="string" property="trainingSpeId"/>
		<result column="training_spe_name" javaType="string" property="trainingSpeName"/>
		<result column="DEPART_MENT_FLOW" javaType="string" property="departMentFlow"/>
		<result column="DEPART_MENT_name" javaType="string" property="departMentName"/>
		<result column="DOCTOR_TYPE_ID" javaType="string" property="doctorTypeId"/>
	</resultMap>
	<select id="getDocListByTeacher" parameterType="map" resultMap="processMap">
		select
		rd.doctor_flow,
		rd.doctor_name,
		su.user_head_img doctor_img,
		sar.sch_start_date,
		sar.sch_end_date,
		rdsp.start_date,
		rdsp.end_date,
		rdsp.sch_score score,
		rdsp.sch_flag,
		rdsp.is_current_flag,
		sar.result_flow,
		sar.sch_dept_name,
		rdsp.process_flow
		from pdsci.res_doctor_sch_process rdsp
		LEFT JOIN res_power_cfg rpc
			on 'res_doctor_web_' || rdsp.user_flow = rpc.cfg_code
			inner join pdsci.sch_arrange_result sar
			on sar.record_status = 'Y'
			and sar.result_flow = rdsp.sch_result_flow
				inner join pdsci.res_doctor rd
				on rd.record_status = 'Y'
				and rdsp.user_flow = rd.doctor_flow
					inner join pdsci.sys_user su
					on su.record_status = 'Y'
					and su.user_flow = rd.doctor_flow
		where rdsp.record_status = 'Y'
		<if test='isPermitOpen != null and isPermitOpen!="" and isPermitOpen=="Y"'>
			and rpc.record_status = 'Y'
			and rpc.cfg_value = 'Y'
			and (
			(rpc.power_start_time between rdsp.sch_start_date  and rdsp.sch_end_date )
			or (rpc.power_end_time between rdsp.sch_start_date and rdsp.sch_end_date)
			or (rdsp.sch_start_date >= rpc.power_start_time and rdsp.sch_end_date <![CDATA[ <= ]]>  rpc.power_end_time)
			)
		</if>
		and rdsp.teacher_user_flow = #{teacherUserFlow}
		
<!-- 		学员姓名 -->
		<if test='doctorName!=null and doctorName!=""'>
			and rd.doctor_name like '%${doctorName}%'
		</if>
		<if test='deptFlow!=null and deptFlow!=""'>
			and rdsp.dept_flow =#{deptFlow}
		</if>
		
<!-- 		入科状态 -->
		<if test='statusId!=null and statusId!=""'>
			<if test='statusId=="Entering"'>
				and rdsp.is_current_flag = 'Y'
			</if>
			<if test='statusId=="Exited"'>
				and rdsp.sch_flag = 'Y'
			</if>
		</if>
	</select>
	<select id="getCountDocListByTeacher" parameterType="map" resultType="int">
		select count(DISTINCT rd.doctor_flow)
		from pdsci.res_doctor_sch_process rdsp
		LEFT JOIN res_power_cfg rpc
			on 'res_doctor_web_' || rdsp.user_flow = rpc.cfg_code
			inner join pdsci.sch_arrange_result sar
			on sar.record_status = 'Y'
			and sar.result_flow = rdsp.sch_result_flow
				inner join pdsci.res_doctor rd
				on rd.record_status = 'Y'
				and rdsp.user_flow = rd.doctor_flow
					inner join pdsci.sys_user su
					on su.record_status = 'Y'
					and su.user_flow = rd.doctor_flow
		where rdsp.record_status = 'Y'
		<if test='isPermitOpen != null and isPermitOpen!="" and isPermitOpen=="Y"'>
			and rpc.record_status = 'Y'
			and rpc.cfg_value = 'Y'
			and (
			(rpc.power_start_time between rdsp.sch_start_date  and rdsp.sch_end_date )
			or (rpc.power_end_time between rdsp.sch_start_date and rdsp.sch_end_date)
			or (rdsp.sch_start_date >= rpc.power_start_time and rdsp.sch_end_date <![CDATA[ <= ]]>  rpc.power_end_time)
			)
		</if>
		and rdsp.teacher_user_flow = #{teacherUserFlow}

<!-- 		学员姓名 -->
		<if test='doctorName!=null and doctorName!=""'>
			and rd.doctor_name like '%${doctorName}%'
		</if>
		<if test='deptFlow!=null and deptFlow!=""'>
			and rdsp.dept_flow =#{deptFlow}
		</if>

<!-- 		入科状态 -->
		<if test='statusId!=null and statusId!=""'>
			<if test='statusId=="Entering"'>
				and rdsp.is_current_flag = 'Y'
			</if>
			<if test='statusId=="Exited"'>
				and rdsp.sch_flag = 'Y'
			</if>
		</if>
	</select>
	<select id="schDoctorSchProcessQuery" parameterType="java.util.Map" resultMap="processMap">
		SELECT rd.doctor_flow,
		rd.doctor_name,
		rd.session_number,
		rd.training_spe_id,
		rd.training_spe_name,
		su.user_head_img     AS doctor_img,
		sar.sch_start_date,
		sar.sch_end_date,
		rdsp.start_date,
		rdsp.end_date,
		rdsp.sch_score       AS score,
		rdsp.sch_flag,
		rdsp.is_current_flag,
		sar.result_flow,
		sar.sch_dept_name,
		sar.sch_dept_flow,
		rdsp.process_flow,
		rd.doctor_type_id
		FROM pdsci.res_doctor_sch_process rdsp
		LEFT JOIN res_power_cfg rpc
		on 'res_doctor_web_' || rdsp.user_flow = rpc.cfg_code
		INNER JOIN pdsci.sch_arrange_result sar
		ON sar.record_status = 'Y'
		AND sar.result_flow = rdsp.sch_result_flow
		INNER JOIN pdsci.res_doctor rd
		ON rd.record_status = 'Y'
		AND rdsp.user_flow = rd.doctor_flow
		INNER JOIN pdsci.sys_user su
		ON su.record_status = 'Y'
		AND su.user_flow = rd.doctor_flow
		WHERE rdsp.record_status = 'Y'
		and (rdsp.sch_flag ='Y' or rdsp.is_current_flag='Y')
		<if test='isPermitOpen != null and isPermitOpen!="" and isPermitOpen=="Y"'>
			and rpc.record_status = 'Y'
			and rpc.cfg_value = 'Y'
			and (
			(rpc.power_start_time between rdsp.sch_start_date  and rdsp.sch_end_date )
			or (rpc.power_end_time between rdsp.sch_start_date and rdsp.sch_end_date)
			or (rdsp.sch_start_date >= rpc.power_start_time and rdsp.sch_end_date <![CDATA[ <= ]]>  rpc.power_end_time)
			)
		</if>
		<if test="teacherUserFlow!=null and teacherUserFlow!=''">
			and rdsp.TEACHER_USER_FLOW = #{teacherUserFlow}
		</if>
		<if test="speId!=null and speId!=''">
			and rd.training_spe_id = #{speId}
		</if>
		<if test="doctorFlow!=null and doctorFlow!=''">
			and rd.doctor_flow = #{doctorFlow}
		</if>
		<if test="sessionNumber!=null and sessionNumber!=''">
			and rd.session_number = #{sessionNumber}
		</if>
		<if test="statusId!=null and statusId!=''">
			<if test="statusId=='NotEntered'">
				and	( rdsp.process_flow is null or (rdsp.is_current_flag!='Y' and rdsp.sch_flag !='Y')
				)
			</if>
			<if test="statusId=='Entering'">
				and	 rdsp.is_current_flag ='Y'
			</if>
			<if test="statusId=='Exited'">
				and	 rdsp.sch_flag ='Y'
			</if>

		</if>
		<if test="userName!=null and userName!=''">
			<bind name="name" value="'%'+userName+'%'"/>
			and su.USER_NAME like #{name}
		</if>
		<if test='deptFlow!=null and deptFlow!=""'>
			and rdsp.dept_flow =#{deptFlow}
		</if>

		<if test="biaoJi!=null and biaoJi!='' and recTypes!=null and recTypes.size>0">
			and exists(
			select null
			from res_rec rr
			where rr.RECORD_STATUS='Y'
			and rr.PROCESS_FLOW = rdsp.PROCESS_FLOW
			and rr.AUDIT_STATUS_ID is null
			AND RR.REC_TYPE_ID IN
			<foreach collection="recTypes" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
			)
		</if>
		ORDER BY sar.sch_start_date DESC,sar.sch_end_date desc,sar.result_flow
	</select>
	<select id="zseySchDoctorSchProcessQuery" parameterType="java.util.Map" resultMap="processMap">
		SELECT rd.doctor_flow,
		rd.doctor_name,
		rd.session_number,
		rd.training_spe_id,
		rd.training_spe_name,
		su.user_head_img     AS doctor_img,
		sar.sch_start_date,
		sar.sch_end_date,
		rdsp.start_date,
		rdsp.end_date,
		rdsp.sch_score       AS score,
		rdsp.sch_flag,
		rdsp.is_current_flag,
		sar.result_flow,
		sar.sch_dept_name,
		rdsp.process_flow
		FROM pdsci.res_doctor_sch_process rdsp
		LEFT JOIN res_power_cfg rpc
		on 'res_doctor_web_' || rdsp.user_flow = rpc.cfg_code
		INNER JOIN pdsci.sch_arrange_result sar
		ON sar.record_status = 'Y'
		AND sar.result_flow = rdsp.sch_result_flow
		INNER JOIN pdsci.res_doctor rd
		ON rd.record_status = 'Y'
		AND rdsp.user_flow = rd.doctor_flow
		INNER JOIN pdsci.sys_user su
		ON su.record_status = 'Y'
		AND su.user_flow = rd.doctor_flow
		WHERE rdsp.record_status = 'Y'
		and (rdsp.sch_flag ='Y' or rdsp.is_current_flag='Y')
		<if test='isPermitOpen != null and isPermitOpen!="" and isPermitOpen=="Y"'>
			and rpc.record_status = 'Y'
			and rpc.cfg_value = 'Y'
			and (
			(rpc.power_start_time between rdsp.sch_start_date  and rdsp.sch_end_date )
			or (rpc.power_end_time between rdsp.sch_start_date and rdsp.sch_end_date)
			or (rdsp.sch_start_date >= rpc.power_start_time and rdsp.sch_end_date <![CDATA[ <= ]]>  rpc.power_end_time)
			)
		</if>
		<if test="teacherUserFlow!=null and teacherUserFlow!=''">
			and rdsp.TEACHER_USER_FLOW = #{teacherUserFlow}
		</if>
		<if test="speId!=null and speId!=''">
			and rd.training_spe_id = #{speId}
		</if>
		<if test="doctorFlow!=null and doctorFlow!=''">
			and rd.doctor_flow = #{doctorFlow}
		</if>
		<if test="sessionNumber!=null and sessionNumber!=''">
			and rd.session_number = #{sessionNumber}
		</if>
		<if test="dataType!=null and dataType!='' and dataType=='360Eval'">
			and rd.session_number <![CDATA[ <= ]]> '2016'
		</if>
		<if test="statusId!=null and statusId!=''">
			<if test="statusId=='NotEntered'">
				and	( rdsp.process_flow is null or (rdsp.is_current_flag!='Y' and rdsp.sch_flag !='Y')
				)
			</if>
			<if test="statusId=='Entering'">
				and	 rdsp.is_current_flag ='Y'
			</if>
			<if test="statusId=='Exited'">
				and	 rdsp.sch_flag ='Y'
			</if>

		</if>
		<if test="userName!=null and userName!=''">
			<bind name="name" value="'%'+userName+'%'"/>
			and su.USER_NAME like #{name}
		</if>
		<if test='deptFlow!=null and deptFlow!=""'>
			and rdsp.dept_flow =#{deptFlow}
		</if>

		<if test="biaoJi!=null and biaoJi!='' and recTypes!=null and recTypes.size>0">
			and exists(
			select null
			from res_rec rr
			where rr.RECORD_STATUS='Y'
			and rr.PROCESS_FLOW = rdsp.PROCESS_FLOW
			and rr.AUDIT_STATUS_ID is null
			AND RR.REC_TYPE_ID IN
			<foreach collection="recTypes" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
			)
		</if>
		ORDER BY sar.sch_start_date DESC,sar.sch_end_date desc,sar.result_flow
	</select>
	<select id="teacherDocUserList" parameterType="java.util.Map" resultMap="processMap">
		SELECT rd.doctor_flow,
		rd.doctor_name,
		rd.session_number,
		rd.DEPART_MENT_FLOW,
		rd.DEPART_MENT_name,
		rd.training_spe_id,
		rd.training_spe_name,
		su.user_phone ,
		su.user_head_img    AS doctor_img
		FROM sys_user su
		left join res_doctor rd
		on su.user_flow=rd.doctor_flow
		where su.record_status='Y'
		and rd.record_status='Y'
		<if test="speId!=null and speId!=''">
			and rd.training_spe_id = #{speId}
		</if>
		<if test="doctorFlow!=null and doctorFlow!=''">
			and rd.doctor_flow = #{doctorFlow}
		</if>
		<if test="sessionNumber!=null and sessionNumber!=''">
			and rd.session_number = #{sessionNumber}
		</if>
		<if test="typeId!=null and typeId!='' and typeId=='360Eval'">
			and rd.session_number <![CDATA[ <= ]]> '2016'
		</if>
		<if test="userName!=null and userName!=''">
			<bind name="name" value="'%'+userName+'%'"/>
			and su.USER_NAME like #{name}
		</if>
		and exists(
			SELECT 1
			FROM pdsci.res_doctor_sch_process rdsp
			LEFT JOIN res_power_cfg rpc
			on 'res_doctor_web_' || rdsp.user_flow = rpc.cfg_code
			INNER JOIN pdsci.sch_arrange_result sar
			ON sar.record_status = 'Y'
			AND sar.result_flow = rdsp.sch_result_flow
			WHERE rdsp.record_status = 'Y'
			and (rdsp.sch_flag ='Y' or rdsp.is_current_flag='Y')
			and rdsp.user_flow=su.user_flow
			<if test='isPermitOpen != null and isPermitOpen!="" and isPermitOpen=="Y"'>
				and rpc.record_status = 'Y'
				and rpc.cfg_value = 'Y'
				and (
				(rpc.power_start_time between rdsp.sch_start_date and rdsp.sch_end_date )
				or (rpc.power_end_time between rdsp.sch_start_date and rdsp.sch_end_date)
				or (rdsp.sch_start_date >= rpc.power_start_time and rdsp.sch_end_date <![CDATA[ <= ]]>  rpc.power_end_time)
				)
			</if>
			<if test="teacherUserFlow!=null and teacherUserFlow!=''">
				and rdsp.TEACHER_USER_FLOW = #{teacherUserFlow}
			</if>
			<if test="statusId!=null and statusId!=''">
				<if test="statusId=='NotEntered'">
					and ( rdsp.process_flow is null or (rdsp.is_current_flag!='Y' and rdsp.sch_flag !='Y')
					)
				</if>
				<if test="statusId=='Entering'">
					and rdsp.is_current_flag ='Y'
				</if>
				<if test="statusId=='Exited'">
					and rdsp.sch_flag ='Y'
				</if>
			</if>
			<if test='deptFlow!=null and deptFlow!=""'>
				and rdsp.dept_flow =#{deptFlow}
			</if>
			<if test="biaoJi!=null and biaoJi!='' and recTypes!=null and recTypes.size>0">
				and exists(
				select null
				from res_rec rr
				where rr.RECORD_STATUS='Y'
				and rr.PROCESS_FLOW = rdsp.PROCESS_FLOW
				and rr.AUDIT_STATUS_ID is null
				AND RR.REC_TYPE_ID IN
				<foreach collection="recTypes" item="item" index="index" open="(" separator="," close=")">
					#{item}
				</foreach>
				)
			</if>
			)
		ORDER BY rd.session_number desc,rd.training_spe_id ,su.user_flow
	</select>
	<select id="schDoctorSchProcessInfoQuery" parameterType="java.util.Map" resultMap="processMap">
		SELECT rd.doctor_flow,
		rd.doctor_name,
		rd.session_number,
		rd.training_spe_id,
		rd.training_spe_name,
		su.user_head_img     AS doctor_img,
		sar.sch_start_date,
		sar.sch_end_date,
		rdsp.start_date,
		rdsp.end_date,
		rdsp.sch_score       AS score,
		rdsp.sch_flag,
		rdsp.is_current_flag,
		sar.result_flow,
		sar.sch_dept_name,
		rdsp.process_flow,
		rd.doctor_type_id
		FROM pdsci.res_doctor_sch_process rdsp
		LEFT JOIN res_power_cfg rpc
		on 'res_doctor_web_' || rdsp.user_flow = rpc.cfg_code
		INNER JOIN pdsci.sch_arrange_result sar
		ON sar.record_status = 'Y'
		AND sar.result_flow = rdsp.sch_result_flow
		INNER JOIN pdsci.res_doctor rd
		ON rd.record_status = 'Y'
		AND rdsp.user_flow = rd.doctor_flow
		INNER JOIN pdsci.sys_user su
		ON su.record_status = 'Y'
		AND su.user_flow = rd.doctor_flow
		WHERE rdsp.record_status = 'Y'
		<if test='isPermitOpen != null and isPermitOpen!="" and isPermitOpen=="Y"'>
			and rpc.record_status = 'Y'
			and rpc.cfg_value = 'Y'
			and (
			(rpc.power_start_time between rdsp.sch_start_date  and rdsp.sch_end_date )
			or (rpc.power_end_time between rdsp.sch_start_date and rdsp.sch_end_date)
			or (rdsp.sch_start_date >= rpc.power_start_time and rdsp.sch_end_date <![CDATA[ <= ]]>  rpc.power_end_time)
			)
		</if>
		and (rdsp.sch_flag ='Y' or rdsp.is_current_flag='Y')
		<if test="speId!=null and speId!=''">
			and rd.training_spe_id = #{speId}
		</if>
		<if test="sessionNumber!=null and sessionNumber!=''">
			and rd.session_number = #{sessionNumber}
		</if>
		<if test="doctorFlow!=null and doctorFlow!=''">
			and rd.doctor_flow = #{doctorFlow}
		</if>
		<if test="statusId!=null and statusId!=''">
			<if test="statusId=='NotEntered'">
				and	( rdsp.process_flow is null or (rdsp.is_current_flag!='Y' and rdsp.sch_flag !='Y')
				)
			</if>
			<if test="statusId=='Entering'">
				and	 rdsp.is_current_flag ='Y'
			</if>
			<if test="statusId=='Exited'">
				and	 rdsp.sch_flag ='Y'
			</if>

		</if>
		<if test="teacherUserFlow!=null and teacherUserFlow!=''">
			and rdsp.TEACHER_USER_FLOW = #{teacherUserFlow}
		</if>
		<if test="userName!=null and userName!=''">
			<bind name="name" value="'%'+userName+'%'"/>
			and su.USER_NAME like #{name}
		</if>
		<if test="biaoJi!=null and biaoJi!='' and recTypes!=null and recTypes.size>0">
			<if test="recTypes!=null and recTypes.size>1">
				and (exists(
				select null
				from RES_SCH_PROCESS_EXPRESS rr
				where rr.RECORD_STATUS='Y'
				and rr.PROCESS_FLOW = rdsp.PROCESS_FLOW
				and rr.AUDIT_STATUS_ID is null
				AND RR.REC_TYPE_ID ='AfterSummary'
				)
				<if test="  recTypes.size>2">
					or exists(
						select null
						from RES_SCH_PROCESS_EXPRESS rr
						where rr.RECORD_STATUS='Y'
						and rr.PROCESS_FLOW = rdsp.PROCESS_FLOW
						and rr.AUDIT_STATUS_ID is null
						AND RR.REC_TYPE_ID ='DiscipleSummary'
					)
				</if>
				or (
				not exists(
				select null
				from RES_SCH_PROCESS_EXPRESS rr
				where rr.RECORD_STATUS='Y'
				and rr.PROCESS_FLOW = rdsp.PROCESS_FLOW
				and rr.rec_type_id ='AfterEvaluation'
				)
				))
			</if>
			<if test="recTypes!=null and recTypes.size==1">
				and (
					not exists(
					select null
					from res_sch_process_express rr
					where rr.RECORD_STATUS='Y'
					and rr.PROCESS_FLOW = rdsp.PROCESS_FLOW
					and rr.rec_type_id in (
						<foreach collection="recTypes" item="item" index="index" open="(" separator="," close=")">
							#{item}
						</foreach>
						)
					)
				)
			</if>
		</if>
		ORDER BY sar.sch_start_date DESC
	</select>
	<select id="zseySchDoctorSchProcessInfoQuery" parameterType="java.util.Map" resultMap="processMap">
		SELECT rd.doctor_flow,
		rd.doctor_name,
		rd.session_number,
		rd.training_spe_id,
		rd.training_spe_name,
		su.user_head_img     AS doctor_img,
		sar.sch_start_date,
		sar.sch_end_date,
		rdsp.start_date,
		rdsp.end_date,
		rdsp.sch_score       AS score,
		rdsp.sch_flag,
		rdsp.is_current_flag,
		sar.result_flow,
		sar.sch_dept_name,
		rdsp.process_flow
		FROM pdsci.res_doctor_sch_process rdsp
		LEFT JOIN res_power_cfg rpc
		on 'res_doctor_web_' || rdsp.user_flow = rpc.cfg_code
		INNER JOIN pdsci.sch_arrange_result sar
		ON sar.record_status = 'Y'
		AND sar.result_flow = rdsp.sch_result_flow
		INNER JOIN pdsci.res_doctor rd
		ON rd.record_status = 'Y'
		AND rdsp.user_flow = rd.doctor_flow
		INNER JOIN pdsci.sys_user su
		ON su.record_status = 'Y'
		AND su.user_flow = rd.doctor_flow
		WHERE rdsp.record_status = 'Y'
		<if test='isPermitOpen != null and isPermitOpen!="" and isPermitOpen=="Y"'>
			and rpc.record_status = 'Y'
			and rpc.cfg_value = 'Y'
			and (
			(rpc.power_start_time between rdsp.sch_start_date  and rdsp.sch_end_date )
			or (rpc.power_end_time between rdsp.sch_start_date and rdsp.sch_end_date)
			or (rdsp.sch_start_date >= rpc.power_start_time and rdsp.sch_end_date <![CDATA[ <= ]]>  rpc.power_end_time)
			)
		</if>
		and (rdsp.sch_flag ='Y' or rdsp.is_current_flag='Y')
		<if test="speId!=null and speId!=''">
			and rd.training_spe_id = #{speId}
		</if>
		<if test="sessionNumber!=null and sessionNumber!=''">
			and rd.session_number = #{sessionNumber}
		</if>
		<if test="doctorFlow!=null and doctorFlow!=''">
			and rd.doctor_flow = #{doctorFlow}
		</if>
		<if test="statusId!=null and statusId!=''">
			<if test="statusId=='NotEntered'">
				and	( rdsp.process_flow is null or (rdsp.is_current_flag!='Y' and rdsp.sch_flag !='Y')
				)
			</if>
			<if test="statusId=='Entering'">
				and	 rdsp.is_current_flag ='Y'
			</if>
			<if test="statusId=='Exited'">
				and	 rdsp.sch_flag ='Y'
			</if>

		</if>
		<if test="teacherUserFlow!=null and teacherUserFlow!=''">
			and rdsp.TEACHER_USER_FLOW = #{teacherUserFlow}
		</if>
		<if test="userName!=null and userName!=''">
			<bind name="name" value="'%'+userName+'%'"/>
			and su.USER_NAME like #{name}
		</if>
		<if test="biaoJi!=null and biaoJi!='' and recTypes!=null and recTypes.size>0">
			<if test="recTypes!=null and recTypes.size>1">
				and (exists(
				select null
				from RES_SCH_PROCESS_EXPRESS rr
				where rr.RECORD_STATUS='Y'
				and rr.PROCESS_FLOW = rdsp.PROCESS_FLOW
				and rr.AUDIT_STATUS_ID is null
				AND RR.REC_TYPE_ID ='AfterSummary'
				)
				or (
				not exists(
				select null
				from RES_SCH_PROCESS_EXPRESS rr
				where rr.RECORD_STATUS='Y'
				and rr.PROCESS_FLOW = rdsp.PROCESS_FLOW
				and rr.rec_type_id ='AfterEvaluation'
				)
				))
			</if>
			<if test="recTypes!=null and recTypes.size==1">
				and (
					not exists(
					select null
					from res_sch_process_express rr
					where rr.RECORD_STATUS='Y'
					and rr.PROCESS_FLOW = rdsp.PROCESS_FLOW
					and rr.rec_type_id in (
						<foreach collection="recTypes" item="item" index="index" open="(" separator="," close=")">
							#{item}
						</foreach>
						)
					)
				)
			</if>
		</if>
		ORDER BY sar.sch_start_date DESC
	</select>
	<resultMap type="HashMap" id="dataNoAuditMap">
		<result column="oper_user_flow" javaType="string" property="doctorFlow"/>
		<result column="oper_user_name" javaType="string" property="doctorName"/>
		<result column="process_flow" javaType="string" property="processFlow"/>
		<result column="rec_type_id" javaType="string" property="recTypeId"/>
		<result column="rec_type_name" javaType="string" property="recTypeName"/>
		<result column="num" javaType="string" property="notAuditNum"/>
	</resultMap>
	<select id="findDataNoAudit" parameterType="java.util.Map" resultMap="dataNoAuditMap">
		<if test="dataType!=null and dataType!=''">
			<if test="dataType=='fiveData'">
				select
					rr.oper_user_flow,
					rr.oper_user_name,
					a.process_flow,
					a.rec_type_id,
					count(rr.rec_flow) num
				from
				(
					<if test="recTypes!=null and recTypes.size>0">
						<foreach collection="recTypes" item="item" index="index" separator=" UNION ALL " >
							SELECT #{processFlow} PROCESS_FLOW ,#{item} REC_TYPE_ID FROM DUAL
						</foreach>
					</if>
				)a
				left join
				res_rec rr on rr.process_flow=a.process_flow
				and rr.rec_type_id = a.rec_type_id
				and rr.record_status='Y'
				where rr.oper_user_flow=#{docFlow}
				and rr.AUDIT_STATUS_ID is null
				group by rr.oper_user_flow,
				rr.oper_user_name,
				a.process_flow,
				a.rec_type_id
			</if>
			<if test="dataType=='after'">
				select rr.oper_user_flow,
				rr.oper_user_name,
				rr.process_flow,
				rr.rec_type_id
				from
				RES_SCH_PROCESS_EXPRESS rr
				where rr.process_flow=#{processFlow}
					and rr.rec_type_id = 'AfterSummary'
					and rr.record_status='Y'
					and rr.oper_user_flow=#{docFlow}
					and rr.AUDIT_STATUS_ID is null
				union all
				<if test="isSctcm120!=null and isSctcm120!=''and isSctcm120=='Y'.toString()">
					select rr.oper_user_flow,
					rr.oper_user_name,
					rr.process_flow,
					rr.rec_type_id
					from
					RES_SCH_PROCESS_EXPRESS rr
					where rr.process_flow=#{processFlow}
						and rr.rec_type_id = 'DiscipleSummary'
						and rr.record_status='Y'
						and rr.oper_user_flow=#{docFlow}
						and rr.AUDIT_STATUS_ID is null
					union all
				</if>
				select
				a.oper_user_flow,
				rr.oper_user_name,
				a.process_flow,
				a.rec_type_id
				from
				(
					SELECT #{docFlow} oper_user_flow, #{processFlow} PROCESS_FLOW ,'AfterEvaluation' REC_TYPE_ID FROM DUAL
				)a
				left join
				RES_SCH_PROCESS_EXPRESS rr on rr.process_flow=a.process_flow
				and rr.rec_type_id = a.rec_type_id
				and rr.oper_user_flow=a.oper_user_flow
				and rr.record_status='Y'
				where a.oper_user_flow=#{docFlow}
				and rr.AUDIT_STATUS_ID is null
			</if>
		</if>
	</select>
	<select id="getDocCapDatas"  resultType="java.util.HashMap">
		select a.activity_way_INfo INFO_KEY,count(1) NUM from (
		SELECT to_char(rec_content) AS rec_content,xmltype(rec_content).extract('//activity_way/text()').getstringval() activity_way,
		substr(xmltype(rec_content).extract('//activity_way').getstringval(),1,21) activity_way_INfo
		FROM res_rec
		WHERE record_status = 'Y'
			AND rec_type_id =#{id}
				AND process_flow = #{processFlow}
		  ) a
		  where a.activity_way_INfo is not null
		  group by a.activity_way_INfo
	</select>
	<select id="getPowerMap"  resultType="java.util.HashMap">
		SELECT
			RD.*,
			nvl((select CFG_VALUE from sys_cfg cfg where cfg.record_status='Y' and cfg.cfg_code = 'jswjw_'||rd.org_flow||'_P001' ),'N') STU_JD_GC,
			nvl((select CFG_VALUE from sys_cfg cfg where cfg.record_status='Y' and cfg.cfg_code = 'jswjw_sendSchool_'||rd.Work_Org_Id||'_P007' AND RD.DOCTOR_TYPE_ID='Graduate' ),'Y') STU_SEND_SCHOOL_GC,
			nvl((select CFG_VALUE from sys_cfg cfg where cfg.record_status='Y' and cfg.cfg_code = 'jswjw_'||rd.org_flow||'_P008' ),'N') STU_JDZS_GC,
			nvl((select CFG_VALUE from sys_cfg cfg where cfg.record_status='Y' and cfg.cfg_code = 'jswjw_'||rd.org_flow||'_P004' ),'N') STU_JD_CKK,
			nvl((select CFG_VALUE from sys_cfg cfg where cfg.record_status='Y' and cfg.cfg_code = 'jswjw_'||rd.org_flow||'_P009' ),'N') STU_JDZS_CKK,
			nvl((select CFG_VALUE from sys_cfg cfg where cfg.record_status='Y' and cfg.cfg_code = 'jswjw_sendSchool_'||rd.Work_Org_Id||'_P010' AND RD.DOCTOR_TYPE_ID='Graduate' ),'N') STU_SEND_SCHOOL_CKK
		FROM RES_DOCTOR RD
		WHERE RD.DOCTOR_FLOW=#{docFlow}
	</select>
</mapper>