<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.res.dao.stdp.ext.StdpResRecExtMapper">
	<select id="getRecs" resultMap="com.pinde.sci.dao.base.ResRecMapper.ResultMapWithBLOBs">
		select * 
		from pdsci.res_rec rr
		where record_status = 'Y'
		and rr.oper_user_flow = #{operUserFlow}  and
		exists (select null from sys_cfg where cfg_value='Y' and record_status='Y' and cfg_code='res_registry_type_'||rr.rec_type_id) 
		
<!-- 		登记类型 -->
		<if test='recTypeId!=null and recTypeId!=""'>
			and rr.rec_type_id = #{recTypeId}
		</if>
		
<!-- 		过程标识 -->
		<if test='processFlow!=null and processFlow!=""'>
			and rr.process_flow = #{processFlow}
		</if>
		
<!-- 		子项标识 -->
		<if test='itemId!=null and itemId!=""'>
			and rr.item_id = #{itemId}
		</if>
		
<!-- 		忽略11 -->
		<if test='doNotSearch!=null'>
			and rr.rec_type_id not in
			<foreach collection="doNotSearch" close=")" item="recType" open="(" separator=",">
				#{recType}
			</foreach>
		</if>
		
<!-- 		审核状态 -->
		<if test='join!=null and join!=""'>
			<if test='join=="NotAudit"'>
				and rr.audit_status_id is null
			</if>
			<if test='join=="Audited"'>
				and rr.audit_status_id is not null
			</if>
		</if>
		order by rr.audit_status_id desc,rr.rec_type_id,rr.item_id,rr.oper_time desc
	</select>
</mapper>