<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ConsultInfoMapper" >
    <resultMap id="BaseResultMap" type="com.pinde.core.model.ConsultInfo">
    <id column="CONSULT_INFO_FLOW" property="consultInfoFlow" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="CONSULT_QUESTION" property="consultQuestion" jdbcType="VARCHAR" />
    <result column="CONSULT_QUESTIONER_FLOW" property="consultQuestionerFlow" jdbcType="VARCHAR" />
    <result column="CONSULT_QUESTIONER_NAME" property="consultQuestionerName" jdbcType="VARCHAR" />
    <result column="CONSULT_QUESTIONER_GRADE" property="consultQuestionerGrade" jdbcType="VARCHAR" />
    <result column="CONSULT_QUESTIONER_BASE_NAME" property="consultQuestionerBaseName" jdbcType="VARCHAR" />
    <result column="CONSULT_QUESTIONER_BASE_FLOW" property="consultQuestionerBaseFlow" jdbcType="VARCHAR" />
    <result column="CONSULT_QUESTION_CREATE_TIME" property="consultQuestionCreateTime" jdbcType="VARCHAR" />
    <result column="CONSULT_QUESTION_MODIFY_TIME" property="consultQuestionModifyTime" jdbcType="VARCHAR" />
    <result column="CONSULT_VISIT_NUMBER" property="consultVisitNumber" jdbcType="VARCHAR" />
    <result column="CONSULT_QUESTION_ROLE_ID" property="consultQuestionRoleId" jdbcType="VARCHAR" />
    <result column="CONSULT_QUESTION_ROLE_NAME" property="consultQuestionRoleName" jdbcType="VARCHAR" />
    <result column="CONSULT_TYPE_ID" property="consultTypeId" jdbcType="VARCHAR" />
    <result column="CONSULT_TYPE_NAME" property="consultTypeName" jdbcType="VARCHAR" />
    <result column="CONSULT_TYPE_SON_ID" property="consultTypeSonId" jdbcType="VARCHAR" />
    <result column="CONSULT_TYPE_SON_NAME" property="consultTypeSonName" jdbcType="VARCHAR" />
    <result column="IS_ANSWER" property="isAnswer" jdbcType="VARCHAR" />
    <result column="IS_POLICY" property="isPolicy" jdbcType="VARCHAR" />
    <result column="ORG_CITY_ID" property="orgCityId" jdbcType="VARCHAR" />
    <result column="ORG_CITY_NAME" property="orgCityName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="CHARGE_NAME" property="chargeName" jdbcType="VARCHAR" />
  </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.pinde.core.model.ConsultInfo" extends="BaseResultMap">
    <result column="CONSULT_ANSWER" property="consultAnswer" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CONSULT_INFO_FLOW, ORG_FLOW, CONSULT_QUESTION, CONSULT_QUESTIONER_FLOW, CONSULT_QUESTIONER_NAME, 
    CONSULT_QUESTIONER_GRADE, CONSULT_QUESTIONER_BASE_NAME, CONSULT_QUESTIONER_BASE_FLOW, 
    CONSULT_QUESTION_CREATE_TIME, CONSULT_QUESTION_MODIFY_TIME, CONSULT_VISIT_NUMBER, 
    CONSULT_QUESTION_ROLE_ID, CONSULT_QUESTION_ROLE_NAME, CONSULT_TYPE_ID, CONSULT_TYPE_NAME, 
    CONSULT_TYPE_SON_ID, CONSULT_TYPE_SON_NAME, IS_ANSWER, IS_POLICY, ORG_CITY_ID, ORG_CITY_NAME, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, CHARGE_NAME
  </sql>
  <sql id="Blob_Column_List" >
    CONSULT_ANSWER
  </sql>
    <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"
            parameterType="com.pinde.core.model.ConsultInfoExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
        from CONSULT_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.ConsultInfoExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
        from CONSULT_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
      from CONSULT_INFO
    where CONSULT_INFO_FLOW = #{consultInfoFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from CONSULT_INFO
    where CONSULT_INFO_FLOW = #{consultInfoFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.ConsultInfoExample">
        delete from CONSULT_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.ConsultInfo">
        insert into CONSULT_INFO (CONSULT_INFO_FLOW, ORG_FLOW, CONSULT_QUESTION,
      CONSULT_QUESTIONER_FLOW, CONSULT_QUESTIONER_NAME, 
      CONSULT_QUESTIONER_GRADE, CONSULT_QUESTIONER_BASE_NAME, 
      CONSULT_QUESTIONER_BASE_FLOW, CONSULT_QUESTION_CREATE_TIME, 
      CONSULT_QUESTION_MODIFY_TIME, CONSULT_VISIT_NUMBER, 
      CONSULT_QUESTION_ROLE_ID, CONSULT_QUESTION_ROLE_NAME, 
      CONSULT_TYPE_ID, CONSULT_TYPE_NAME, CONSULT_TYPE_SON_ID, 
      CONSULT_TYPE_SON_NAME, IS_ANSWER, IS_POLICY, 
      ORG_CITY_ID, ORG_CITY_NAME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, CHARGE_NAME, CONSULT_ANSWER
      )
    values (#{consultInfoFlow,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, #{consultQuestion,jdbcType=VARCHAR}, 
      #{consultQuestionerFlow,jdbcType=VARCHAR}, #{consultQuestionerName,jdbcType=VARCHAR}, 
      #{consultQuestionerGrade,jdbcType=VARCHAR}, #{consultQuestionerBaseName,jdbcType=VARCHAR}, 
      #{consultQuestionerBaseFlow,jdbcType=VARCHAR}, #{consultQuestionCreateTime,jdbcType=VARCHAR}, 
      #{consultQuestionModifyTime,jdbcType=VARCHAR}, #{consultVisitNumber,jdbcType=VARCHAR}, 
      #{consultQuestionRoleId,jdbcType=VARCHAR}, #{consultQuestionRoleName,jdbcType=VARCHAR}, 
      #{consultTypeId,jdbcType=VARCHAR}, #{consultTypeName,jdbcType=VARCHAR}, #{consultTypeSonId,jdbcType=VARCHAR}, 
      #{consultTypeSonName,jdbcType=VARCHAR}, #{isAnswer,jdbcType=VARCHAR}, #{isPolicy,jdbcType=VARCHAR}, 
      #{orgCityId,jdbcType=VARCHAR}, #{orgCityName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{chargeName,jdbcType=VARCHAR}, #{consultAnswer,jdbcType=CLOB}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.ConsultInfo">
        insert into CONSULT_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="consultInfoFlow != null" >
        CONSULT_INFO_FLOW,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="consultQuestion != null" >
        CONSULT_QUESTION,
      </if>
      <if test="consultQuestionerFlow != null" >
        CONSULT_QUESTIONER_FLOW,
      </if>
      <if test="consultQuestionerName != null" >
        CONSULT_QUESTIONER_NAME,
      </if>
      <if test="consultQuestionerGrade != null" >
        CONSULT_QUESTIONER_GRADE,
      </if>
      <if test="consultQuestionerBaseName != null" >
        CONSULT_QUESTIONER_BASE_NAME,
      </if>
      <if test="consultQuestionerBaseFlow != null" >
        CONSULT_QUESTIONER_BASE_FLOW,
      </if>
      <if test="consultQuestionCreateTime != null" >
        CONSULT_QUESTION_CREATE_TIME,
      </if>
      <if test="consultQuestionModifyTime != null" >
        CONSULT_QUESTION_MODIFY_TIME,
      </if>
      <if test="consultVisitNumber != null" >
        CONSULT_VISIT_NUMBER,
      </if>
      <if test="consultQuestionRoleId != null" >
        CONSULT_QUESTION_ROLE_ID,
      </if>
      <if test="consultQuestionRoleName != null" >
        CONSULT_QUESTION_ROLE_NAME,
      </if>
      <if test="consultTypeId != null" >
        CONSULT_TYPE_ID,
      </if>
      <if test="consultTypeName != null" >
        CONSULT_TYPE_NAME,
      </if>
      <if test="consultTypeSonId != null" >
        CONSULT_TYPE_SON_ID,
      </if>
      <if test="consultTypeSonName != null" >
        CONSULT_TYPE_SON_NAME,
      </if>
      <if test="isAnswer != null" >
        IS_ANSWER,
      </if>
      <if test="isPolicy != null" >
        IS_POLICY,
      </if>
      <if test="orgCityId != null" >
        ORG_CITY_ID,
      </if>
      <if test="orgCityName != null" >
        ORG_CITY_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="chargeName != null" >
        CHARGE_NAME,
      </if>
      <if test="consultAnswer != null" >
        CONSULT_ANSWER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="consultInfoFlow != null" >
        #{consultInfoFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestion != null" >
        #{consultQuestion,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestionerFlow != null" >
        #{consultQuestionerFlow,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestionerName != null" >
        #{consultQuestionerName,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestionerGrade != null" >
        #{consultQuestionerGrade,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestionerBaseName != null" >
        #{consultQuestionerBaseName,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestionerBaseFlow != null" >
        #{consultQuestionerBaseFlow,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestionCreateTime != null" >
        #{consultQuestionCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestionModifyTime != null" >
        #{consultQuestionModifyTime,jdbcType=VARCHAR},
      </if>
      <if test="consultVisitNumber != null" >
        #{consultVisitNumber,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestionRoleId != null" >
        #{consultQuestionRoleId,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestionRoleName != null" >
        #{consultQuestionRoleName,jdbcType=VARCHAR},
      </if>
      <if test="consultTypeId != null" >
        #{consultTypeId,jdbcType=VARCHAR},
      </if>
      <if test="consultTypeName != null" >
        #{consultTypeName,jdbcType=VARCHAR},
      </if>
      <if test="consultTypeSonId != null" >
        #{consultTypeSonId,jdbcType=VARCHAR},
      </if>
      <if test="consultTypeSonName != null" >
        #{consultTypeSonName,jdbcType=VARCHAR},
      </if>
      <if test="isAnswer != null" >
        #{isAnswer,jdbcType=VARCHAR},
      </if>
      <if test="isPolicy != null" >
        #{isPolicy,jdbcType=VARCHAR},
      </if>
      <if test="orgCityId != null" >
        #{orgCityId,jdbcType=VARCHAR},
      </if>
      <if test="orgCityName != null" >
        #{orgCityName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="chargeName != null" >
        #{chargeName,jdbcType=VARCHAR},
      </if>
      <if test="consultAnswer != null" >
        #{consultAnswer,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.ConsultInfoExample" resultType="java.lang.Integer">
        select count(*) from CONSULT_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update CONSULT_INFO
    <set >
      <if test="record.consultInfoFlow != null" >
        CONSULT_INFO_FLOW = #{record.consultInfoFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.consultQuestion != null" >
        CONSULT_QUESTION = #{record.consultQuestion,jdbcType=VARCHAR},
      </if>
      <if test="record.consultQuestionerFlow != null" >
        CONSULT_QUESTIONER_FLOW = #{record.consultQuestionerFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.consultQuestionerName != null" >
        CONSULT_QUESTIONER_NAME = #{record.consultQuestionerName,jdbcType=VARCHAR},
      </if>
      <if test="record.consultQuestionerGrade != null" >
        CONSULT_QUESTIONER_GRADE = #{record.consultQuestionerGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.consultQuestionerBaseName != null" >
        CONSULT_QUESTIONER_BASE_NAME = #{record.consultQuestionerBaseName,jdbcType=VARCHAR},
      </if>
      <if test="record.consultQuestionerBaseFlow != null" >
        CONSULT_QUESTIONER_BASE_FLOW = #{record.consultQuestionerBaseFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.consultQuestionCreateTime != null" >
        CONSULT_QUESTION_CREATE_TIME = #{record.consultQuestionCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.consultQuestionModifyTime != null" >
        CONSULT_QUESTION_MODIFY_TIME = #{record.consultQuestionModifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.consultVisitNumber != null" >
        CONSULT_VISIT_NUMBER = #{record.consultVisitNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.consultQuestionRoleId != null" >
        CONSULT_QUESTION_ROLE_ID = #{record.consultQuestionRoleId,jdbcType=VARCHAR},
      </if>
      <if test="record.consultQuestionRoleName != null" >
        CONSULT_QUESTION_ROLE_NAME = #{record.consultQuestionRoleName,jdbcType=VARCHAR},
      </if>
      <if test="record.consultTypeId != null" >
        CONSULT_TYPE_ID = #{record.consultTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.consultTypeName != null" >
        CONSULT_TYPE_NAME = #{record.consultTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.consultTypeSonId != null" >
        CONSULT_TYPE_SON_ID = #{record.consultTypeSonId,jdbcType=VARCHAR},
      </if>
      <if test="record.consultTypeSonName != null" >
        CONSULT_TYPE_SON_NAME = #{record.consultTypeSonName,jdbcType=VARCHAR},
      </if>
      <if test="record.isAnswer != null" >
        IS_ANSWER = #{record.isAnswer,jdbcType=VARCHAR},
      </if>
      <if test="record.isPolicy != null" >
        IS_POLICY = #{record.isPolicy,jdbcType=VARCHAR},
      </if>
      <if test="record.orgCityId != null" >
        ORG_CITY_ID = #{record.orgCityId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgCityName != null" >
        ORG_CITY_NAME = #{record.orgCityName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeName != null" >
        CHARGE_NAME = #{record.chargeName,jdbcType=VARCHAR},
      </if>
      <if test="record.consultAnswer != null" >
        CONSULT_ANSWER = #{record.consultAnswer,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
      update CONSULT_INFO
    set CONSULT_INFO_FLOW = #{record.consultInfoFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      CONSULT_QUESTION = #{record.consultQuestion,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_FLOW = #{record.consultQuestionerFlow,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_NAME = #{record.consultQuestionerName,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_GRADE = #{record.consultQuestionerGrade,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_BASE_NAME = #{record.consultQuestionerBaseName,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_BASE_FLOW = #{record.consultQuestionerBaseFlow,jdbcType=VARCHAR},
      CONSULT_QUESTION_CREATE_TIME = #{record.consultQuestionCreateTime,jdbcType=VARCHAR},
      CONSULT_QUESTION_MODIFY_TIME = #{record.consultQuestionModifyTime,jdbcType=VARCHAR},
      CONSULT_VISIT_NUMBER = #{record.consultVisitNumber,jdbcType=VARCHAR},
      CONSULT_QUESTION_ROLE_ID = #{record.consultQuestionRoleId,jdbcType=VARCHAR},
      CONSULT_QUESTION_ROLE_NAME = #{record.consultQuestionRoleName,jdbcType=VARCHAR},
      CONSULT_TYPE_ID = #{record.consultTypeId,jdbcType=VARCHAR},
      CONSULT_TYPE_NAME = #{record.consultTypeName,jdbcType=VARCHAR},
      CONSULT_TYPE_SON_ID = #{record.consultTypeSonId,jdbcType=VARCHAR},
      CONSULT_TYPE_SON_NAME = #{record.consultTypeSonName,jdbcType=VARCHAR},
      IS_ANSWER = #{record.isAnswer,jdbcType=VARCHAR},
      IS_POLICY = #{record.isPolicy,jdbcType=VARCHAR},
      ORG_CITY_ID = #{record.orgCityId,jdbcType=VARCHAR},
      ORG_CITY_NAME = #{record.orgCityName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      CHARGE_NAME = #{record.chargeName,jdbcType=VARCHAR},
      CONSULT_ANSWER = #{record.consultAnswer,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update CONSULT_INFO
    set CONSULT_INFO_FLOW = #{record.consultInfoFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      CONSULT_QUESTION = #{record.consultQuestion,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_FLOW = #{record.consultQuestionerFlow,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_NAME = #{record.consultQuestionerName,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_GRADE = #{record.consultQuestionerGrade,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_BASE_NAME = #{record.consultQuestionerBaseName,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_BASE_FLOW = #{record.consultQuestionerBaseFlow,jdbcType=VARCHAR},
      CONSULT_QUESTION_CREATE_TIME = #{record.consultQuestionCreateTime,jdbcType=VARCHAR},
      CONSULT_QUESTION_MODIFY_TIME = #{record.consultQuestionModifyTime,jdbcType=VARCHAR},
      CONSULT_VISIT_NUMBER = #{record.consultVisitNumber,jdbcType=VARCHAR},
      CONSULT_QUESTION_ROLE_ID = #{record.consultQuestionRoleId,jdbcType=VARCHAR},
      CONSULT_QUESTION_ROLE_NAME = #{record.consultQuestionRoleName,jdbcType=VARCHAR},
      CONSULT_TYPE_ID = #{record.consultTypeId,jdbcType=VARCHAR},
      CONSULT_TYPE_NAME = #{record.consultTypeName,jdbcType=VARCHAR},
      CONSULT_TYPE_SON_ID = #{record.consultTypeSonId,jdbcType=VARCHAR},
      CONSULT_TYPE_SON_NAME = #{record.consultTypeSonName,jdbcType=VARCHAR},
      IS_ANSWER = #{record.isAnswer,jdbcType=VARCHAR},
      IS_POLICY = #{record.isPolicy,jdbcType=VARCHAR},
      ORG_CITY_ID = #{record.orgCityId,jdbcType=VARCHAR},
      ORG_CITY_NAME = #{record.orgCityName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      CHARGE_NAME = #{record.chargeName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.ConsultInfo">
        update CONSULT_INFO
    <set >
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestion != null" >
        CONSULT_QUESTION = #{consultQuestion,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestionerFlow != null" >
        CONSULT_QUESTIONER_FLOW = #{consultQuestionerFlow,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestionerName != null" >
        CONSULT_QUESTIONER_NAME = #{consultQuestionerName,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestionerGrade != null" >
        CONSULT_QUESTIONER_GRADE = #{consultQuestionerGrade,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestionerBaseName != null" >
        CONSULT_QUESTIONER_BASE_NAME = #{consultQuestionerBaseName,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestionerBaseFlow != null" >
        CONSULT_QUESTIONER_BASE_FLOW = #{consultQuestionerBaseFlow,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestionCreateTime != null" >
        CONSULT_QUESTION_CREATE_TIME = #{consultQuestionCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestionModifyTime != null" >
        CONSULT_QUESTION_MODIFY_TIME = #{consultQuestionModifyTime,jdbcType=VARCHAR},
      </if>
      <if test="consultVisitNumber != null" >
        CONSULT_VISIT_NUMBER = #{consultVisitNumber,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestionRoleId != null" >
        CONSULT_QUESTION_ROLE_ID = #{consultQuestionRoleId,jdbcType=VARCHAR},
      </if>
      <if test="consultQuestionRoleName != null" >
        CONSULT_QUESTION_ROLE_NAME = #{consultQuestionRoleName,jdbcType=VARCHAR},
      </if>
      <if test="consultTypeId != null" >
        CONSULT_TYPE_ID = #{consultTypeId,jdbcType=VARCHAR},
      </if>
      <if test="consultTypeName != null" >
        CONSULT_TYPE_NAME = #{consultTypeName,jdbcType=VARCHAR},
      </if>
      <if test="consultTypeSonId != null" >
        CONSULT_TYPE_SON_ID = #{consultTypeSonId,jdbcType=VARCHAR},
      </if>
      <if test="consultTypeSonName != null" >
        CONSULT_TYPE_SON_NAME = #{consultTypeSonName,jdbcType=VARCHAR},
      </if>
      <if test="isAnswer != null" >
        IS_ANSWER = #{isAnswer,jdbcType=VARCHAR},
      </if>
      <if test="isPolicy != null" >
        IS_POLICY = #{isPolicy,jdbcType=VARCHAR},
      </if>
      <if test="orgCityId != null" >
        ORG_CITY_ID = #{orgCityId,jdbcType=VARCHAR},
      </if>
      <if test="orgCityName != null" >
        ORG_CITY_NAME = #{orgCityName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="chargeName != null" >
        CHARGE_NAME = #{chargeName,jdbcType=VARCHAR},
      </if>
      <if test="consultAnswer != null" >
        CONSULT_ANSWER = #{consultAnswer,jdbcType=CLOB},
      </if>
    </set>
    where CONSULT_INFO_FLOW = #{consultInfoFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.core.model.ConsultInfo">
        update CONSULT_INFO
    set ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      CONSULT_QUESTION = #{consultQuestion,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_FLOW = #{consultQuestionerFlow,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_NAME = #{consultQuestionerName,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_GRADE = #{consultQuestionerGrade,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_BASE_NAME = #{consultQuestionerBaseName,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_BASE_FLOW = #{consultQuestionerBaseFlow,jdbcType=VARCHAR},
      CONSULT_QUESTION_CREATE_TIME = #{consultQuestionCreateTime,jdbcType=VARCHAR},
      CONSULT_QUESTION_MODIFY_TIME = #{consultQuestionModifyTime,jdbcType=VARCHAR},
      CONSULT_VISIT_NUMBER = #{consultVisitNumber,jdbcType=VARCHAR},
      CONSULT_QUESTION_ROLE_ID = #{consultQuestionRoleId,jdbcType=VARCHAR},
      CONSULT_QUESTION_ROLE_NAME = #{consultQuestionRoleName,jdbcType=VARCHAR},
      CONSULT_TYPE_ID = #{consultTypeId,jdbcType=VARCHAR},
      CONSULT_TYPE_NAME = #{consultTypeName,jdbcType=VARCHAR},
      CONSULT_TYPE_SON_ID = #{consultTypeSonId,jdbcType=VARCHAR},
      CONSULT_TYPE_SON_NAME = #{consultTypeSonName,jdbcType=VARCHAR},
      IS_ANSWER = #{isAnswer,jdbcType=VARCHAR},
      IS_POLICY = #{isPolicy,jdbcType=VARCHAR},
      ORG_CITY_ID = #{orgCityId,jdbcType=VARCHAR},
      ORG_CITY_NAME = #{orgCityName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      CHARGE_NAME = #{chargeName,jdbcType=VARCHAR},
      CONSULT_ANSWER = #{consultAnswer,jdbcType=CLOB}
    where CONSULT_INFO_FLOW = #{consultInfoFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.ConsultInfo">
        update CONSULT_INFO
    set ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      CONSULT_QUESTION = #{consultQuestion,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_FLOW = #{consultQuestionerFlow,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_NAME = #{consultQuestionerName,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_GRADE = #{consultQuestionerGrade,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_BASE_NAME = #{consultQuestionerBaseName,jdbcType=VARCHAR},
      CONSULT_QUESTIONER_BASE_FLOW = #{consultQuestionerBaseFlow,jdbcType=VARCHAR},
      CONSULT_QUESTION_CREATE_TIME = #{consultQuestionCreateTime,jdbcType=VARCHAR},
      CONSULT_QUESTION_MODIFY_TIME = #{consultQuestionModifyTime,jdbcType=VARCHAR},
      CONSULT_VISIT_NUMBER = #{consultVisitNumber,jdbcType=VARCHAR},
      CONSULT_QUESTION_ROLE_ID = #{consultQuestionRoleId,jdbcType=VARCHAR},
      CONSULT_QUESTION_ROLE_NAME = #{consultQuestionRoleName,jdbcType=VARCHAR},
      CONSULT_TYPE_ID = #{consultTypeId,jdbcType=VARCHAR},
      CONSULT_TYPE_NAME = #{consultTypeName,jdbcType=VARCHAR},
      CONSULT_TYPE_SON_ID = #{consultTypeSonId,jdbcType=VARCHAR},
      CONSULT_TYPE_SON_NAME = #{consultTypeSonName,jdbcType=VARCHAR},
      IS_ANSWER = #{isAnswer,jdbcType=VARCHAR},
      IS_POLICY = #{isPolicy,jdbcType=VARCHAR},
      ORG_CITY_ID = #{orgCityId,jdbcType=VARCHAR},
      ORG_CITY_NAME = #{orgCityName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      CHARGE_NAME = #{chargeName,jdbcType=VARCHAR}
    where CONSULT_INFO_FLOW = #{consultInfoFlow,jdbcType=VARCHAR}
  </update>
</mapper>