<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.DoctorDataMapper" >
    <resultMap id="BaseResultMap" type="com.pinde.core.model.DoctorData">
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="DOCTOR_FLOW" property="doctorFlow" jdbcType="VARCHAR" />
    <result column="USER_PHONE" property="userPhone" jdbcType="VARCHAR" />
    <result column="ID_NO" property="idNo" jdbcType="VARCHAR" />
    <result column="SESSION_NUMBER" property="sessionNumber" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="SPE_ID" property="speId" jdbcType="VARCHAR" />
    <result column="SPE_NAME" property="speName" jdbcType="VARCHAR" />
    <result column="DOCTOR_TYPE_ID" property="doctorTypeId" jdbcType="VARCHAR" />
    <result column="DOCTOR_TYPE_NAME" property="doctorTypeName" jdbcType="VARCHAR" />
    <result column="COMPLETE_NUM" property="completeNum" jdbcType="VARCHAR" />
    <result column="REQ_NUM" property="reqNum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    USER_NAME, DOCTOR_FLOW, USER_PHONE, ID_NO, SESSION_NUMBER, ORG_FLOW, SPE_ID, SPE_NAME, 
    DOCTOR_TYPE_ID, DOCTOR_TYPE_NAME, COMPLETE_NUM, REQ_NUM
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.DoctorDataExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.DOCTOR_DATA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.DoctorDataExample">
    delete from PDSCI.DOCTOR_DATA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.DoctorData">
    insert into PDSCI.DOCTOR_DATA (USER_NAME, DOCTOR_FLOW, USER_PHONE, 
      ID_NO, SESSION_NUMBER, ORG_FLOW, 
      SPE_ID, SPE_NAME, DOCTOR_TYPE_ID, 
      DOCTOR_TYPE_NAME, COMPLETE_NUM, REQ_NUM
      )
    values (#{userName,jdbcType=VARCHAR}, #{doctorFlow,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, 
      #{idNo,jdbcType=VARCHAR}, #{sessionNumber,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, 
      #{speId,jdbcType=VARCHAR}, #{speName,jdbcType=VARCHAR}, #{doctorTypeId,jdbcType=VARCHAR}, 
      #{doctorTypeName,jdbcType=VARCHAR}, #{completeNum,jdbcType=VARCHAR}, #{reqNum,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.DoctorData">
    insert into PDSCI.DOCTOR_DATA
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="doctorFlow != null" >
        DOCTOR_FLOW,
      </if>
      <if test="userPhone != null" >
        USER_PHONE,
      </if>
      <if test="idNo != null" >
        ID_NO,
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="speId != null" >
        SPE_ID,
      </if>
      <if test="speName != null" >
        SPE_NAME,
      </if>
      <if test="doctorTypeId != null" >
        DOCTOR_TYPE_ID,
      </if>
      <if test="doctorTypeName != null" >
        DOCTOR_TYPE_NAME,
      </if>
      <if test="completeNum != null" >
        COMPLETE_NUM,
      </if>
      <if test="reqNum != null" >
        REQ_NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="doctorFlow != null" >
        #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null" >
        #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="speId != null" >
        #{speId,jdbcType=VARCHAR},
      </if>
      <if test="speName != null" >
        #{speName,jdbcType=VARCHAR},
      </if>
      <if test="doctorTypeId != null" >
        #{doctorTypeId,jdbcType=VARCHAR},
      </if>
      <if test="doctorTypeName != null" >
        #{doctorTypeName,jdbcType=VARCHAR},
      </if>
      <if test="completeNum != null" >
        #{completeNum,jdbcType=VARCHAR},
      </if>
      <if test="reqNum != null" >
        #{reqNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.DoctorDataExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.DOCTOR_DATA
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.DOCTOR_DATA
    <set >
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorFlow != null" >
        DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userPhone != null" >
        USER_PHONE = #{record.userPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.idNo != null" >
        ID_NO = #{record.idNo,jdbcType=VARCHAR},
      </if>
      <if test="record.sessionNumber != null" >
        SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.speId != null" >
        SPE_ID = #{record.speId,jdbcType=VARCHAR},
      </if>
      <if test="record.speName != null" >
        SPE_NAME = #{record.speName,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorTypeId != null" >
        DOCTOR_TYPE_ID = #{record.doctorTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorTypeName != null" >
        DOCTOR_TYPE_NAME = #{record.doctorTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.completeNum != null" >
        COMPLETE_NUM = #{record.completeNum,jdbcType=VARCHAR},
      </if>
      <if test="record.reqNum != null" >
        REQ_NUM = #{record.reqNum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.DOCTOR_DATA
    set USER_NAME = #{record.userName,jdbcType=VARCHAR},
      DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      USER_PHONE = #{record.userPhone,jdbcType=VARCHAR},
      ID_NO = #{record.idNo,jdbcType=VARCHAR},
      SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      SPE_ID = #{record.speId,jdbcType=VARCHAR},
      SPE_NAME = #{record.speName,jdbcType=VARCHAR},
      DOCTOR_TYPE_ID = #{record.doctorTypeId,jdbcType=VARCHAR},
      DOCTOR_TYPE_NAME = #{record.doctorTypeName,jdbcType=VARCHAR},
      COMPLETE_NUM = #{record.completeNum,jdbcType=VARCHAR},
      REQ_NUM = #{record.reqNum,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>