<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.EdcIeMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.EdcIe" >
    <id column="IE_FLOW" property="ieFlow" jdbcType="VARCHAR" />
    <result column="PROJ_FLOW" property="projFlow" jdbcType="VARCHAR" />
    <result column="IE_NAME" property="ieName" jdbcType="VARCHAR" />
    <result column="IE_VAR_NAME" property="ieVarName" jdbcType="VARCHAR" />
    <result column="TYPE_ID" property="typeId" jdbcType="VARCHAR" />
    <result column="TYPE_NAME" property="typeName" jdbcType="VARCHAR" />
    <result column="INPUT_TYPE_ID" property="inputTypeId" jdbcType="VARCHAR" />
    <result column="INPUT_TYPE_NAME" property="inputTypeName" jdbcType="VARCHAR" />
    <result column="PASSED_VALUE" property="passedValue" jdbcType="VARCHAR" />
    <result column="MAX_VALUE" property="maxValue" jdbcType="VARCHAR" />
    <result column="MIN_VALUE" property="minValue" jdbcType="VARCHAR" />
    <result column="ORDINAL" property="ordinal" jdbcType="DECIMAL" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    IE_FLOW, PROJ_FLOW, IE_NAME, IE_VAR_NAME, TYPE_ID, TYPE_NAME, INPUT_TYPE_ID, INPUT_TYPE_NAME, 
    PASSED_VALUE, MAX_VALUE, MIN_VALUE, ORDINAL, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.EdcIeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.EDC_IE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.EDC_IE
    where IE_FLOW = #{ieFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.EDC_IE
    where IE_FLOW = #{ieFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.EdcIeExample" >
    delete from PDSCI.EDC_IE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.EdcIe" >
    insert into PDSCI.EDC_IE (IE_FLOW, PROJ_FLOW, IE_NAME, 
      IE_VAR_NAME, TYPE_ID, TYPE_NAME, 
      INPUT_TYPE_ID, INPUT_TYPE_NAME, PASSED_VALUE, 
      MAX_VALUE, MIN_VALUE, ORDINAL, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{ieFlow,jdbcType=VARCHAR}, #{projFlow,jdbcType=VARCHAR}, #{ieName,jdbcType=VARCHAR}, 
      #{ieVarName,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, 
      #{inputTypeId,jdbcType=VARCHAR}, #{inputTypeName,jdbcType=VARCHAR}, #{passedValue,jdbcType=VARCHAR}, 
      #{maxValue,jdbcType=VARCHAR}, #{minValue,jdbcType=VARCHAR}, #{ordinal,jdbcType=DECIMAL}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.EdcIe" >
    insert into PDSCI.EDC_IE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ieFlow != null" >
        IE_FLOW,
      </if>
      <if test="projFlow != null" >
        PROJ_FLOW,
      </if>
      <if test="ieName != null" >
        IE_NAME,
      </if>
      <if test="ieVarName != null" >
        IE_VAR_NAME,
      </if>
      <if test="typeId != null" >
        TYPE_ID,
      </if>
      <if test="typeName != null" >
        TYPE_NAME,
      </if>
      <if test="inputTypeId != null" >
        INPUT_TYPE_ID,
      </if>
      <if test="inputTypeName != null" >
        INPUT_TYPE_NAME,
      </if>
      <if test="passedValue != null" >
        PASSED_VALUE,
      </if>
      <if test="maxValue != null" >
        MAX_VALUE,
      </if>
      <if test="minValue != null" >
        MIN_VALUE,
      </if>
      <if test="ordinal != null" >
        ORDINAL,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ieFlow != null" >
        #{ieFlow,jdbcType=VARCHAR},
      </if>
      <if test="projFlow != null" >
        #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="ieName != null" >
        #{ieName,jdbcType=VARCHAR},
      </if>
      <if test="ieVarName != null" >
        #{ieVarName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="inputTypeId != null" >
        #{inputTypeId,jdbcType=VARCHAR},
      </if>
      <if test="inputTypeName != null" >
        #{inputTypeName,jdbcType=VARCHAR},
      </if>
      <if test="passedValue != null" >
        #{passedValue,jdbcType=VARCHAR},
      </if>
      <if test="maxValue != null" >
        #{maxValue,jdbcType=VARCHAR},
      </if>
      <if test="minValue != null" >
        #{minValue,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null" >
        #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.EdcIeExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.EDC_IE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.EDC_IE
    <set >
      <if test="record.ieFlow != null" >
        IE_FLOW = #{record.ieFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projFlow != null" >
        PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.ieName != null" >
        IE_NAME = #{record.ieName,jdbcType=VARCHAR},
      </if>
      <if test="record.ieVarName != null" >
        IE_VAR_NAME = #{record.ieVarName,jdbcType=VARCHAR},
      </if>
      <if test="record.typeId != null" >
        TYPE_ID = #{record.typeId,jdbcType=VARCHAR},
      </if>
      <if test="record.typeName != null" >
        TYPE_NAME = #{record.typeName,jdbcType=VARCHAR},
      </if>
      <if test="record.inputTypeId != null" >
        INPUT_TYPE_ID = #{record.inputTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.inputTypeName != null" >
        INPUT_TYPE_NAME = #{record.inputTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.passedValue != null" >
        PASSED_VALUE = #{record.passedValue,jdbcType=VARCHAR},
      </if>
      <if test="record.maxValue != null" >
        MAX_VALUE = #{record.maxValue,jdbcType=VARCHAR},
      </if>
      <if test="record.minValue != null" >
        MIN_VALUE = #{record.minValue,jdbcType=VARCHAR},
      </if>
      <if test="record.ordinal != null" >
        ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.EDC_IE
    set IE_FLOW = #{record.ieFlow,jdbcType=VARCHAR},
      PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      IE_NAME = #{record.ieName,jdbcType=VARCHAR},
      IE_VAR_NAME = #{record.ieVarName,jdbcType=VARCHAR},
      TYPE_ID = #{record.typeId,jdbcType=VARCHAR},
      TYPE_NAME = #{record.typeName,jdbcType=VARCHAR},
      INPUT_TYPE_ID = #{record.inputTypeId,jdbcType=VARCHAR},
      INPUT_TYPE_NAME = #{record.inputTypeName,jdbcType=VARCHAR},
      PASSED_VALUE = #{record.passedValue,jdbcType=VARCHAR},
      MAX_VALUE = #{record.maxValue,jdbcType=VARCHAR},
      MIN_VALUE = #{record.minValue,jdbcType=VARCHAR},
      ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.EdcIe" >
    update PDSCI.EDC_IE
    <set >
      <if test="projFlow != null" >
        PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="ieName != null" >
        IE_NAME = #{ieName,jdbcType=VARCHAR},
      </if>
      <if test="ieVarName != null" >
        IE_VAR_NAME = #{ieVarName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        TYPE_ID = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="inputTypeId != null" >
        INPUT_TYPE_ID = #{inputTypeId,jdbcType=VARCHAR},
      </if>
      <if test="inputTypeName != null" >
        INPUT_TYPE_NAME = #{inputTypeName,jdbcType=VARCHAR},
      </if>
      <if test="passedValue != null" >
        PASSED_VALUE = #{passedValue,jdbcType=VARCHAR},
      </if>
      <if test="maxValue != null" >
        MAX_VALUE = #{maxValue,jdbcType=VARCHAR},
      </if>
      <if test="minValue != null" >
        MIN_VALUE = #{minValue,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null" >
        ORDINAL = #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where IE_FLOW = #{ieFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.EdcIe" >
    update PDSCI.EDC_IE
    set PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      IE_NAME = #{ieName,jdbcType=VARCHAR},
      IE_VAR_NAME = #{ieVarName,jdbcType=VARCHAR},
      TYPE_ID = #{typeId,jdbcType=VARCHAR},
      TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      INPUT_TYPE_ID = #{inputTypeId,jdbcType=VARCHAR},
      INPUT_TYPE_NAME = #{inputTypeName,jdbcType=VARCHAR},
      PASSED_VALUE = #{passedValue,jdbcType=VARCHAR},
      MAX_VALUE = #{maxValue,jdbcType=VARCHAR},
      MIN_VALUE = #{minValue,jdbcType=VARCHAR},
      ORDINAL = #{ordinal,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where IE_FLOW = #{ieFlow,jdbcType=VARCHAR}
  </update>
</mapper>