<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.EdcVisitMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.EdcVisit" >
    <id column="VISIT_FLOW" property="visitFlow" jdbcType="VARCHAR" />
    <result column="VISIT_NAME" property="visitName" jdbcType="VARCHAR" />
    <result column="VISIT_TYPE_ID" property="visitTypeId" jdbcType="VARCHAR" />
    <result column="VISIT_TYPE_NAME" property="visitTypeName" jdbcType="VARCHAR" />
    <result column="ORDINAL" property="ordinal" jdbcType="DECIMAL" />
    <result column="PROJ_FLOW" property="projFlow" jdbcType="VARCHAR" />
    <result column="VISIT_WINDOW" property="visitWindow" jdbcType="VARCHAR" />
    <result column="IS_VISIT" property="isVisit" jdbcType="VARCHAR" />
    <result column="IS_BASELINE" property="isBaseline" jdbcType="VARCHAR" />
    <result column="GROUP_FLOW" property="groupFlow" jdbcType="VARCHAR" />
    <result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    VISIT_FLOW, VISIT_NAME, VISIT_TYPE_ID, VISIT_TYPE_NAME, ORDINAL, PROJ_FLOW, VISIT_WINDOW, 
    IS_VISIT, IS_BASELINE, GROUP_FLOW, GROUP_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.EdcVisitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.EDC_VISIT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.EDC_VISIT
    where VISIT_FLOW = #{visitFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.EDC_VISIT
    where VISIT_FLOW = #{visitFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.EdcVisitExample" >
    delete from PDSCI.EDC_VISIT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.EdcVisit" >
    insert into PDSCI.EDC_VISIT (VISIT_FLOW, VISIT_NAME, VISIT_TYPE_ID, 
      VISIT_TYPE_NAME, ORDINAL, PROJ_FLOW, 
      VISIT_WINDOW, IS_VISIT, IS_BASELINE, 
      GROUP_FLOW, GROUP_NAME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW)
    values (#{visitFlow,jdbcType=VARCHAR}, #{visitName,jdbcType=VARCHAR}, #{visitTypeId,jdbcType=VARCHAR}, 
      #{visitTypeName,jdbcType=VARCHAR}, #{ordinal,jdbcType=DECIMAL}, #{projFlow,jdbcType=VARCHAR}, 
      #{visitWindow,jdbcType=VARCHAR}, #{isVisit,jdbcType=VARCHAR}, #{isBaseline,jdbcType=VARCHAR}, 
      #{groupFlow,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.EdcVisit" >
    insert into PDSCI.EDC_VISIT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="visitFlow != null" >
        VISIT_FLOW,
      </if>
      <if test="visitName != null" >
        VISIT_NAME,
      </if>
      <if test="visitTypeId != null" >
        VISIT_TYPE_ID,
      </if>
      <if test="visitTypeName != null" >
        VISIT_TYPE_NAME,
      </if>
      <if test="ordinal != null" >
        ORDINAL,
      </if>
      <if test="projFlow != null" >
        PROJ_FLOW,
      </if>
      <if test="visitWindow != null" >
        VISIT_WINDOW,
      </if>
      <if test="isVisit != null" >
        IS_VISIT,
      </if>
      <if test="isBaseline != null" >
        IS_BASELINE,
      </if>
      <if test="groupFlow != null" >
        GROUP_FLOW,
      </if>
      <if test="groupName != null" >
        GROUP_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="visitFlow != null" >
        #{visitFlow,jdbcType=VARCHAR},
      </if>
      <if test="visitName != null" >
        #{visitName,jdbcType=VARCHAR},
      </if>
      <if test="visitTypeId != null" >
        #{visitTypeId,jdbcType=VARCHAR},
      </if>
      <if test="visitTypeName != null" >
        #{visitTypeName,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null" >
        #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="projFlow != null" >
        #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="visitWindow != null" >
        #{visitWindow,jdbcType=VARCHAR},
      </if>
      <if test="isVisit != null" >
        #{isVisit,jdbcType=VARCHAR},
      </if>
      <if test="isBaseline != null" >
        #{isBaseline,jdbcType=VARCHAR},
      </if>
      <if test="groupFlow != null" >
        #{groupFlow,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.EdcVisitExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.EDC_VISIT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.EDC_VISIT
    <set >
      <if test="record.visitFlow != null" >
        VISIT_FLOW = #{record.visitFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.visitName != null" >
        VISIT_NAME = #{record.visitName,jdbcType=VARCHAR},
      </if>
      <if test="record.visitTypeId != null" >
        VISIT_TYPE_ID = #{record.visitTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.visitTypeName != null" >
        VISIT_TYPE_NAME = #{record.visitTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.ordinal != null" >
        ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      </if>
      <if test="record.projFlow != null" >
        PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.visitWindow != null" >
        VISIT_WINDOW = #{record.visitWindow,jdbcType=VARCHAR},
      </if>
      <if test="record.isVisit != null" >
        IS_VISIT = #{record.isVisit,jdbcType=VARCHAR},
      </if>
      <if test="record.isBaseline != null" >
        IS_BASELINE = #{record.isBaseline,jdbcType=VARCHAR},
      </if>
      <if test="record.groupFlow != null" >
        GROUP_FLOW = #{record.groupFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.groupName != null" >
        GROUP_NAME = #{record.groupName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.EDC_VISIT
    set VISIT_FLOW = #{record.visitFlow,jdbcType=VARCHAR},
      VISIT_NAME = #{record.visitName,jdbcType=VARCHAR},
      VISIT_TYPE_ID = #{record.visitTypeId,jdbcType=VARCHAR},
      VISIT_TYPE_NAME = #{record.visitTypeName,jdbcType=VARCHAR},
      ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      VISIT_WINDOW = #{record.visitWindow,jdbcType=VARCHAR},
      IS_VISIT = #{record.isVisit,jdbcType=VARCHAR},
      IS_BASELINE = #{record.isBaseline,jdbcType=VARCHAR},
      GROUP_FLOW = #{record.groupFlow,jdbcType=VARCHAR},
      GROUP_NAME = #{record.groupName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.EdcVisit" >
    update PDSCI.EDC_VISIT
    <set >
      <if test="visitName != null" >
        VISIT_NAME = #{visitName,jdbcType=VARCHAR},
      </if>
      <if test="visitTypeId != null" >
        VISIT_TYPE_ID = #{visitTypeId,jdbcType=VARCHAR},
      </if>
      <if test="visitTypeName != null" >
        VISIT_TYPE_NAME = #{visitTypeName,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null" >
        ORDINAL = #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="projFlow != null" >
        PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="visitWindow != null" >
        VISIT_WINDOW = #{visitWindow,jdbcType=VARCHAR},
      </if>
      <if test="isVisit != null" >
        IS_VISIT = #{isVisit,jdbcType=VARCHAR},
      </if>
      <if test="isBaseline != null" >
        IS_BASELINE = #{isBaseline,jdbcType=VARCHAR},
      </if>
      <if test="groupFlow != null" >
        GROUP_FLOW = #{groupFlow,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where VISIT_FLOW = #{visitFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.EdcVisit" >
    update PDSCI.EDC_VISIT
    set VISIT_NAME = #{visitName,jdbcType=VARCHAR},
      VISIT_TYPE_ID = #{visitTypeId,jdbcType=VARCHAR},
      VISIT_TYPE_NAME = #{visitTypeName,jdbcType=VARCHAR},
      ORDINAL = #{ordinal,jdbcType=DECIMAL},
      PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      VISIT_WINDOW = #{visitWindow,jdbcType=VARCHAR},
      IS_VISIT = #{isVisit,jdbcType=VARCHAR},
      IS_BASELINE = #{isBaseline,jdbcType=VARCHAR},
      GROUP_FLOW = #{groupFlow,jdbcType=VARCHAR},
      GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where VISIT_FLOW = #{visitFlow,jdbcType=VARCHAR}
  </update>
</mapper>