<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.EduCourseChapterMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.EduCourseChapter" >
    <id column="CHAPTER_FLOW" property="chapterFlow" jdbcType="VARCHAR" />
    <result column="CHAPTER_NAME" property="chapterName" jdbcType="VARCHAR" />
    <result column="CHAPTER_NO" property="chapterNo" jdbcType="VARCHAR" />
    <result column="PARENT_CHAPTER_FLOW" property="parentChapterFlow" jdbcType="VARCHAR" />
    <result column="COURSE_FLOW" property="courseFlow" jdbcType="VARCHAR" />
    <result column="CHAPTER_FILE" property="chapterFile" jdbcType="VARCHAR" />
    <result column="CHAPTER_IMG" property="chapterImg" jdbcType="VARCHAR" />
    <result column="TEACHER_ID" property="teacherId" jdbcType="VARCHAR" />
    <result column="CHAPTER_TIME" property="chapterTime" jdbcType="VARCHAR" />
    <result column="CHAPTER_PRAISE" property="chapterPraise" jdbcType="DECIMAL" />
    <result column="COLLECTION_COUNT" property="collectionCount" jdbcType="DECIMAL" />
    <result column="CHAPTER_SCORE" property="chapterScore" jdbcType="DECIMAL" />
    <result column="CHAPTER_JOIN_COUNT" property="chapterJoinCount" jdbcType="DECIMAL" />
    <result column="CHAPTER_FINISH_COUNT" property="chapterFinishCount" jdbcType="DECIMAL" />
    <result column="CHAPTER_ORDER" property="chapterOrder" jdbcType="DECIMAL" />
    <result column="CHAPTER_INTRO" property="chapterIntro" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="CHAPTER_FILE_NAME" property="chapterFileName" jdbcType="VARCHAR" />
    <result column="CHAPTER_IMG_NAME" property="chapterImgName" jdbcType="VARCHAR" />
    <result column="CHAPTER_CREDIT" property="chapterCredit" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CHAPTER_FLOW, CHAPTER_NAME, CHAPTER_NO, PARENT_CHAPTER_FLOW, COURSE_FLOW, CHAPTER_FILE, 
    CHAPTER_IMG, TEACHER_ID, CHAPTER_TIME, CHAPTER_PRAISE, COLLECTION_COUNT, CHAPTER_SCORE, 
    CHAPTER_JOIN_COUNT, CHAPTER_FINISH_COUNT, CHAPTER_ORDER, CHAPTER_INTRO, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, CHAPTER_FILE_NAME, 
    CHAPTER_IMG_NAME, CHAPTER_CREDIT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.EduCourseChapterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.EDU_COURSE_CHAPTER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.EDU_COURSE_CHAPTER
    where CHAPTER_FLOW = #{chapterFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.EDU_COURSE_CHAPTER
    where CHAPTER_FLOW = #{chapterFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.EduCourseChapterExample" >
    delete from PDSCI.EDU_COURSE_CHAPTER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.EduCourseChapter" >
    insert into PDSCI.EDU_COURSE_CHAPTER (CHAPTER_FLOW, CHAPTER_NAME, CHAPTER_NO, 
      PARENT_CHAPTER_FLOW, COURSE_FLOW, CHAPTER_FILE, 
      CHAPTER_IMG, TEACHER_ID, CHAPTER_TIME, 
      CHAPTER_PRAISE, COLLECTION_COUNT, CHAPTER_SCORE, 
      CHAPTER_JOIN_COUNT, CHAPTER_FINISH_COUNT, CHAPTER_ORDER, 
      CHAPTER_INTRO, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      CHAPTER_FILE_NAME, CHAPTER_IMG_NAME, CHAPTER_CREDIT
      )
    values (#{chapterFlow,jdbcType=VARCHAR}, #{chapterName,jdbcType=VARCHAR}, #{chapterNo,jdbcType=VARCHAR}, 
      #{parentChapterFlow,jdbcType=VARCHAR}, #{courseFlow,jdbcType=VARCHAR}, #{chapterFile,jdbcType=VARCHAR}, 
      #{chapterImg,jdbcType=VARCHAR}, #{teacherId,jdbcType=VARCHAR}, #{chapterTime,jdbcType=VARCHAR}, 
      #{chapterPraise,jdbcType=DECIMAL}, #{collectionCount,jdbcType=DECIMAL}, #{chapterScore,jdbcType=DECIMAL}, 
      #{chapterJoinCount,jdbcType=DECIMAL}, #{chapterFinishCount,jdbcType=DECIMAL}, #{chapterOrder,jdbcType=DECIMAL}, 
      #{chapterIntro,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{chapterFileName,jdbcType=VARCHAR}, #{chapterImgName,jdbcType=VARCHAR}, #{chapterCredit,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.EduCourseChapter" >
    insert into PDSCI.EDU_COURSE_CHAPTER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chapterFlow != null" >
        CHAPTER_FLOW,
      </if>
      <if test="chapterName != null" >
        CHAPTER_NAME,
      </if>
      <if test="chapterNo != null" >
        CHAPTER_NO,
      </if>
      <if test="parentChapterFlow != null" >
        PARENT_CHAPTER_FLOW,
      </if>
      <if test="courseFlow != null" >
        COURSE_FLOW,
      </if>
      <if test="chapterFile != null" >
        CHAPTER_FILE,
      </if>
      <if test="chapterImg != null" >
        CHAPTER_IMG,
      </if>
      <if test="teacherId != null" >
        TEACHER_ID,
      </if>
      <if test="chapterTime != null" >
        CHAPTER_TIME,
      </if>
      <if test="chapterPraise != null" >
        CHAPTER_PRAISE,
      </if>
      <if test="collectionCount != null" >
        COLLECTION_COUNT,
      </if>
      <if test="chapterScore != null" >
        CHAPTER_SCORE,
      </if>
      <if test="chapterJoinCount != null" >
        CHAPTER_JOIN_COUNT,
      </if>
      <if test="chapterFinishCount != null" >
        CHAPTER_FINISH_COUNT,
      </if>
      <if test="chapterOrder != null" >
        CHAPTER_ORDER,
      </if>
      <if test="chapterIntro != null" >
        CHAPTER_INTRO,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="chapterFileName != null" >
        CHAPTER_FILE_NAME,
      </if>
      <if test="chapterImgName != null" >
        CHAPTER_IMG_NAME,
      </if>
      <if test="chapterCredit != null" >
        CHAPTER_CREDIT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chapterFlow != null" >
        #{chapterFlow,jdbcType=VARCHAR},
      </if>
      <if test="chapterName != null" >
        #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="chapterNo != null" >
        #{chapterNo,jdbcType=VARCHAR},
      </if>
      <if test="parentChapterFlow != null" >
        #{parentChapterFlow,jdbcType=VARCHAR},
      </if>
      <if test="courseFlow != null" >
        #{courseFlow,jdbcType=VARCHAR},
      </if>
      <if test="chapterFile != null" >
        #{chapterFile,jdbcType=VARCHAR},
      </if>
      <if test="chapterImg != null" >
        #{chapterImg,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="chapterTime != null" >
        #{chapterTime,jdbcType=VARCHAR},
      </if>
      <if test="chapterPraise != null" >
        #{chapterPraise,jdbcType=DECIMAL},
      </if>
      <if test="collectionCount != null" >
        #{collectionCount,jdbcType=DECIMAL},
      </if>
      <if test="chapterScore != null" >
        #{chapterScore,jdbcType=DECIMAL},
      </if>
      <if test="chapterJoinCount != null" >
        #{chapterJoinCount,jdbcType=DECIMAL},
      </if>
      <if test="chapterFinishCount != null" >
        #{chapterFinishCount,jdbcType=DECIMAL},
      </if>
      <if test="chapterOrder != null" >
        #{chapterOrder,jdbcType=DECIMAL},
      </if>
      <if test="chapterIntro != null" >
        #{chapterIntro,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="chapterFileName != null" >
        #{chapterFileName,jdbcType=VARCHAR},
      </if>
      <if test="chapterImgName != null" >
        #{chapterImgName,jdbcType=VARCHAR},
      </if>
      <if test="chapterCredit != null" >
        #{chapterCredit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.EduCourseChapterExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.EDU_COURSE_CHAPTER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.EDU_COURSE_CHAPTER
    <set >
      <if test="record.chapterFlow != null" >
        CHAPTER_FLOW = #{record.chapterFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.chapterName != null" >
        CHAPTER_NAME = #{record.chapterName,jdbcType=VARCHAR},
      </if>
      <if test="record.chapterNo != null" >
        CHAPTER_NO = #{record.chapterNo,jdbcType=VARCHAR},
      </if>
      <if test="record.parentChapterFlow != null" >
        PARENT_CHAPTER_FLOW = #{record.parentChapterFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.courseFlow != null" >
        COURSE_FLOW = #{record.courseFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.chapterFile != null" >
        CHAPTER_FILE = #{record.chapterFile,jdbcType=VARCHAR},
      </if>
      <if test="record.chapterImg != null" >
        CHAPTER_IMG = #{record.chapterImg,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherId != null" >
        TEACHER_ID = #{record.teacherId,jdbcType=VARCHAR},
      </if>
      <if test="record.chapterTime != null" >
        CHAPTER_TIME = #{record.chapterTime,jdbcType=VARCHAR},
      </if>
      <if test="record.chapterPraise != null" >
        CHAPTER_PRAISE = #{record.chapterPraise,jdbcType=DECIMAL},
      </if>
      <if test="record.collectionCount != null" >
        COLLECTION_COUNT = #{record.collectionCount,jdbcType=DECIMAL},
      </if>
      <if test="record.chapterScore != null" >
        CHAPTER_SCORE = #{record.chapterScore,jdbcType=DECIMAL},
      </if>
      <if test="record.chapterJoinCount != null" >
        CHAPTER_JOIN_COUNT = #{record.chapterJoinCount,jdbcType=DECIMAL},
      </if>
      <if test="record.chapterFinishCount != null" >
        CHAPTER_FINISH_COUNT = #{record.chapterFinishCount,jdbcType=DECIMAL},
      </if>
      <if test="record.chapterOrder != null" >
        CHAPTER_ORDER = #{record.chapterOrder,jdbcType=DECIMAL},
      </if>
      <if test="record.chapterIntro != null" >
        CHAPTER_INTRO = #{record.chapterIntro,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.chapterFileName != null" >
        CHAPTER_FILE_NAME = #{record.chapterFileName,jdbcType=VARCHAR},
      </if>
      <if test="record.chapterImgName != null" >
        CHAPTER_IMG_NAME = #{record.chapterImgName,jdbcType=VARCHAR},
      </if>
      <if test="record.chapterCredit != null" >
        CHAPTER_CREDIT = #{record.chapterCredit,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.EDU_COURSE_CHAPTER
    set CHAPTER_FLOW = #{record.chapterFlow,jdbcType=VARCHAR},
      CHAPTER_NAME = #{record.chapterName,jdbcType=VARCHAR},
      CHAPTER_NO = #{record.chapterNo,jdbcType=VARCHAR},
      PARENT_CHAPTER_FLOW = #{record.parentChapterFlow,jdbcType=VARCHAR},
      COURSE_FLOW = #{record.courseFlow,jdbcType=VARCHAR},
      CHAPTER_FILE = #{record.chapterFile,jdbcType=VARCHAR},
      CHAPTER_IMG = #{record.chapterImg,jdbcType=VARCHAR},
      TEACHER_ID = #{record.teacherId,jdbcType=VARCHAR},
      CHAPTER_TIME = #{record.chapterTime,jdbcType=VARCHAR},
      CHAPTER_PRAISE = #{record.chapterPraise,jdbcType=DECIMAL},
      COLLECTION_COUNT = #{record.collectionCount,jdbcType=DECIMAL},
      CHAPTER_SCORE = #{record.chapterScore,jdbcType=DECIMAL},
      CHAPTER_JOIN_COUNT = #{record.chapterJoinCount,jdbcType=DECIMAL},
      CHAPTER_FINISH_COUNT = #{record.chapterFinishCount,jdbcType=DECIMAL},
      CHAPTER_ORDER = #{record.chapterOrder,jdbcType=DECIMAL},
      CHAPTER_INTRO = #{record.chapterIntro,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      CHAPTER_FILE_NAME = #{record.chapterFileName,jdbcType=VARCHAR},
      CHAPTER_IMG_NAME = #{record.chapterImgName,jdbcType=VARCHAR},
      CHAPTER_CREDIT = #{record.chapterCredit,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.EduCourseChapter" >
    update PDSCI.EDU_COURSE_CHAPTER
    <set >
      <if test="chapterName != null" >
        CHAPTER_NAME = #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="chapterNo != null" >
        CHAPTER_NO = #{chapterNo,jdbcType=VARCHAR},
      </if>
      <if test="parentChapterFlow != null" >
        PARENT_CHAPTER_FLOW = #{parentChapterFlow,jdbcType=VARCHAR},
      </if>
      <if test="courseFlow != null" >
        COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR},
      </if>
      <if test="chapterFile != null" >
        CHAPTER_FILE = #{chapterFile,jdbcType=VARCHAR},
      </if>
      <if test="chapterImg != null" >
        CHAPTER_IMG = #{chapterImg,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        TEACHER_ID = #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="chapterTime != null" >
        CHAPTER_TIME = #{chapterTime,jdbcType=VARCHAR},
      </if>
      <if test="chapterPraise != null" >
        CHAPTER_PRAISE = #{chapterPraise,jdbcType=DECIMAL},
      </if>
      <if test="collectionCount != null" >
        COLLECTION_COUNT = #{collectionCount,jdbcType=DECIMAL},
      </if>
      <if test="chapterScore != null" >
        CHAPTER_SCORE = #{chapterScore,jdbcType=DECIMAL},
      </if>
      <if test="chapterJoinCount != null" >
        CHAPTER_JOIN_COUNT = #{chapterJoinCount,jdbcType=DECIMAL},
      </if>
      <if test="chapterFinishCount != null" >
        CHAPTER_FINISH_COUNT = #{chapterFinishCount,jdbcType=DECIMAL},
      </if>
      <if test="chapterOrder != null" >
        CHAPTER_ORDER = #{chapterOrder,jdbcType=DECIMAL},
      </if>
      <if test="chapterIntro != null" >
        CHAPTER_INTRO = #{chapterIntro,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="chapterFileName != null" >
        CHAPTER_FILE_NAME = #{chapterFileName,jdbcType=VARCHAR},
      </if>
      <if test="chapterImgName != null" >
        CHAPTER_IMG_NAME = #{chapterImgName,jdbcType=VARCHAR},
      </if>
      <if test="chapterCredit != null" >
        CHAPTER_CREDIT = #{chapterCredit,jdbcType=VARCHAR},
      </if>
    </set>
    where CHAPTER_FLOW = #{chapterFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.EduCourseChapter" >
    update PDSCI.EDU_COURSE_CHAPTER
    set CHAPTER_NAME = #{chapterName,jdbcType=VARCHAR},
      CHAPTER_NO = #{chapterNo,jdbcType=VARCHAR},
      PARENT_CHAPTER_FLOW = #{parentChapterFlow,jdbcType=VARCHAR},
      COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR},
      CHAPTER_FILE = #{chapterFile,jdbcType=VARCHAR},
      CHAPTER_IMG = #{chapterImg,jdbcType=VARCHAR},
      TEACHER_ID = #{teacherId,jdbcType=VARCHAR},
      CHAPTER_TIME = #{chapterTime,jdbcType=VARCHAR},
      CHAPTER_PRAISE = #{chapterPraise,jdbcType=DECIMAL},
      COLLECTION_COUNT = #{collectionCount,jdbcType=DECIMAL},
      CHAPTER_SCORE = #{chapterScore,jdbcType=DECIMAL},
      CHAPTER_JOIN_COUNT = #{chapterJoinCount,jdbcType=DECIMAL},
      CHAPTER_FINISH_COUNT = #{chapterFinishCount,jdbcType=DECIMAL},
      CHAPTER_ORDER = #{chapterOrder,jdbcType=DECIMAL},
      CHAPTER_INTRO = #{chapterIntro,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      CHAPTER_FILE_NAME = #{chapterFileName,jdbcType=VARCHAR},
      CHAPTER_IMG_NAME = #{chapterImgName,jdbcType=VARCHAR},
      CHAPTER_CREDIT = #{chapterCredit,jdbcType=VARCHAR}
    where CHAPTER_FLOW = #{chapterFlow,jdbcType=VARCHAR}
  </update>
</mapper>