<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.EduTermMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.EduTerm" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="SESSION_NUMBER" property="sessionNumber" jdbcType="VARCHAR" />
    <result column="GRADE_TERM_ID" property="gradeTermId" jdbcType="VARCHAR" />
    <result column="GRADE_TERM_NAME" property="gradeTermName" jdbcType="VARCHAR" />
    <result column="CLASS_ID" property="classId" jdbcType="VARCHAR" />
    <result column="CLASS_NAME" property="className" jdbcType="VARCHAR" />
    <result column="GRADATION_ID" property="gradationId" jdbcType="VARCHAR" />
    <result column="GRADATION_NAME" property="gradationName" jdbcType="VARCHAR" />
    <result column="TERM_START_TIME" property="termStartTime" jdbcType="VARCHAR" />
    <result column="TERM_END_TIME" property="termEndTime" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, SESSION_NUMBER, GRADE_TERM_ID, GRADE_TERM_NAME, CLASS_ID, CLASS_NAME, 
    GRADATION_ID, GRADATION_NAME, TERM_START_TIME, TERM_END_TIME, RECORD_STATUS, CREATE_TIME, 
    CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.EduTermExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.EDU_TERM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.EDU_TERM
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.EDU_TERM
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.EduTermExample" >
    delete from PDSCI.EDU_TERM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.EduTerm" >
    insert into PDSCI.EDU_TERM (RECORD_FLOW, SESSION_NUMBER, GRADE_TERM_ID, 
      GRADE_TERM_NAME, CLASS_ID, CLASS_NAME, 
      GRADATION_ID, GRADATION_NAME, TERM_START_TIME, 
      TERM_END_TIME, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
      )
    values (#{recordFlow,jdbcType=VARCHAR}, #{sessionNumber,jdbcType=VARCHAR}, #{gradeTermId,jdbcType=VARCHAR}, 
      #{gradeTermName,jdbcType=VARCHAR}, #{classId,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, 
      #{gradationId,jdbcType=VARCHAR}, #{gradationName,jdbcType=VARCHAR}, #{termStartTime,jdbcType=VARCHAR}, 
      #{termEndTime,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.EduTerm" >
    insert into PDSCI.EDU_TERM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER,
      </if>
      <if test="gradeTermId != null" >
        GRADE_TERM_ID,
      </if>
      <if test="gradeTermName != null" >
        GRADE_TERM_NAME,
      </if>
      <if test="classId != null" >
        CLASS_ID,
      </if>
      <if test="className != null" >
        CLASS_NAME,
      </if>
      <if test="gradationId != null" >
        GRADATION_ID,
      </if>
      <if test="gradationName != null" >
        GRADATION_NAME,
      </if>
      <if test="termStartTime != null" >
        TERM_START_TIME,
      </if>
      <if test="termEndTime != null" >
        TERM_END_TIME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="gradeTermId != null" >
        #{gradeTermId,jdbcType=VARCHAR},
      </if>
      <if test="gradeTermName != null" >
        #{gradeTermName,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="className != null" >
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="gradationId != null" >
        #{gradationId,jdbcType=VARCHAR},
      </if>
      <if test="gradationName != null" >
        #{gradationName,jdbcType=VARCHAR},
      </if>
      <if test="termStartTime != null" >
        #{termStartTime,jdbcType=VARCHAR},
      </if>
      <if test="termEndTime != null" >
        #{termEndTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.EduTermExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.EDU_TERM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.EDU_TERM
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.sessionNumber != null" >
        SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.gradeTermId != null" >
        GRADE_TERM_ID = #{record.gradeTermId,jdbcType=VARCHAR},
      </if>
      <if test="record.gradeTermName != null" >
        GRADE_TERM_NAME = #{record.gradeTermName,jdbcType=VARCHAR},
      </if>
      <if test="record.classId != null" >
        CLASS_ID = #{record.classId,jdbcType=VARCHAR},
      </if>
      <if test="record.className != null" >
        CLASS_NAME = #{record.className,jdbcType=VARCHAR},
      </if>
      <if test="record.gradationId != null" >
        GRADATION_ID = #{record.gradationId,jdbcType=VARCHAR},
      </if>
      <if test="record.gradationName != null" >
        GRADATION_NAME = #{record.gradationName,jdbcType=VARCHAR},
      </if>
      <if test="record.termStartTime != null" >
        TERM_START_TIME = #{record.termStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.termEndTime != null" >
        TERM_END_TIME = #{record.termEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.EDU_TERM
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      GRADE_TERM_ID = #{record.gradeTermId,jdbcType=VARCHAR},
      GRADE_TERM_NAME = #{record.gradeTermName,jdbcType=VARCHAR},
      CLASS_ID = #{record.classId,jdbcType=VARCHAR},
      CLASS_NAME = #{record.className,jdbcType=VARCHAR},
      GRADATION_ID = #{record.gradationId,jdbcType=VARCHAR},
      GRADATION_NAME = #{record.gradationName,jdbcType=VARCHAR},
      TERM_START_TIME = #{record.termStartTime,jdbcType=VARCHAR},
      TERM_END_TIME = #{record.termEndTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.EduTerm" >
    update PDSCI.EDU_TERM
    <set >
      <if test="sessionNumber != null" >
        SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="gradeTermId != null" >
        GRADE_TERM_ID = #{gradeTermId,jdbcType=VARCHAR},
      </if>
      <if test="gradeTermName != null" >
        GRADE_TERM_NAME = #{gradeTermName,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        CLASS_ID = #{classId,jdbcType=VARCHAR},
      </if>
      <if test="className != null" >
        CLASS_NAME = #{className,jdbcType=VARCHAR},
      </if>
      <if test="gradationId != null" >
        GRADATION_ID = #{gradationId,jdbcType=VARCHAR},
      </if>
      <if test="gradationName != null" >
        GRADATION_NAME = #{gradationName,jdbcType=VARCHAR},
      </if>
      <if test="termStartTime != null" >
        TERM_START_TIME = #{termStartTime,jdbcType=VARCHAR},
      </if>
      <if test="termEndTime != null" >
        TERM_END_TIME = #{termEndTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.EduTerm" >
    update PDSCI.EDU_TERM
    set SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      GRADE_TERM_ID = #{gradeTermId,jdbcType=VARCHAR},
      GRADE_TERM_NAME = #{gradeTermName,jdbcType=VARCHAR},
      CLASS_ID = #{classId,jdbcType=VARCHAR},
      CLASS_NAME = #{className,jdbcType=VARCHAR},
      GRADATION_ID = #{gradationId,jdbcType=VARCHAR},
      GRADATION_NAME = #{gradationName,jdbcType=VARCHAR},
      TERM_START_TIME = #{termStartTime,jdbcType=VARCHAR},
      TERM_END_TIME = #{termEndTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>