<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.ErpCrmContractMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ErpCrmContract">
    <id column="CONTRACT_FLOW" jdbcType="VARCHAR" property="contractFlow" />
    <result column="CUSTOMER_FLOW" jdbcType="VARCHAR" property="customerFlow" />
    <result column="CONTRACT_NO" jdbcType="VARCHAR" property="contractNo" />
    <result column="CONTRACT_NAME" jdbcType="VARCHAR" property="contractName" />
    <result column="CONTRACT_CATEGORY_ID" jdbcType="VARCHAR" property="contractCategoryId" />
    <result column="CONTRACT_CATEGORY_NAME" jdbcType="VARCHAR" property="contractCategoryName" />
    <result column="CONTRACT_TYPE_ID" jdbcType="VARCHAR" property="contractTypeId" />
    <result column="CONTRACT_TYPE_NAME" jdbcType="VARCHAR" property="contractTypeName" />
    <result column="SIGN_DATE" jdbcType="VARCHAR" property="signDate" />
    <result column="SIGN_DEPT_FLOW" jdbcType="VARCHAR" property="signDeptFlow" />
    <result column="SIGN_DEPT_NAME" jdbcType="VARCHAR" property="signDeptName" />
    <result column="SIGN_USER_FLOW" jdbcType="VARCHAR" property="signUserFlow" />
    <result column="SIGN_USER_NAME" jdbcType="VARCHAR" property="signUserName" />
    <result column="CONTRACT_DUE_DATE" jdbcType="VARCHAR" property="contractDueDate" />
    <result column="MAINTAIN_DUE_DATE" jdbcType="VARCHAR" property="maintainDueDate" />
    <result column="CONTRACT_FUND" jdbcType="DECIMAL" property="contractFund" />
    <result column="CONTRACT_FILE_FLOW" jdbcType="VARCHAR" property="contractFileFlow" />
    <result column="CONTRACT_STATUS_ID" jdbcType="VARCHAR" property="contractStatusId" />
    <result column="CONTRACT_STATUS_NAME" jdbcType="VARCHAR" property="contractStatusName" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="SUB_COUNT" jdbcType="DECIMAL" property="subCount" />
    <result column="CONTRACT_OWN_ID" jdbcType="VARCHAR" property="contractOwnId" />
    <result column="CONTRACT_OWN_NAME" jdbcType="VARCHAR" property="contractOwnName" />
    <result column="CHARGE_USER_FLOW" jdbcType="VARCHAR" property="chargeUserFlow" />
    <result column="CHARGE_USER_NAME" jdbcType="VARCHAR" property="chargeUserName" />
    <result column="CUSTOMER_DEPT" jdbcType="VARCHAR" property="customerDept" />
    <result column="CONSUMER_FLOW" jdbcType="VARCHAR" property="consumerFlow" />
    <result column="CONSUMER_NAME" jdbcType="VARCHAR" property="consumerName" />
    <result column="CONTRACT_ARCHIVES_NO" jdbcType="VARCHAR" property="contractArchivesNo" />
    <result column="FEED_BACK_TIME" jdbcType="VARCHAR" property="feedBackTime" />
    <result column="FEED_BACK_USER_FLOW" jdbcType="VARCHAR" property="feedBackUserFlow" />
    <result column="FEED_BACK_USER_NAME" jdbcType="VARCHAR" property="feedBackUserName" />
    <result column="FEED_BACK_CONTENT" jdbcType="VARCHAR" property="feedBackContent" />
    <result column="CHARGE_USER2_FLOW" jdbcType="VARCHAR" property="chargeUser2Flow" />
    <result column="CHARGE_USER2_NAME" jdbcType="VARCHAR" property="chargeUser2Name" />
    <result column="PLAN_ACCEPT_DATE" jdbcType="VARCHAR" property="planAcceptDate" />
    <result column="MAINTAIN_COUNT" jdbcType="VARCHAR" property="maintainCount" />
    <result column="NEXT_MAINTAIN_DATE" jdbcType="VARCHAR" property="nextMaintainDate" />
    <result column="AUDIT_USER_FLOW" jdbcType="VARCHAR" property="auditUserFlow" />
    <result column="AUDIT_USER_NAME" jdbcType="VARCHAR" property="auditUserName" />
    <result column="AUDIT_REASON" jdbcType="VARCHAR" property="auditReason" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CONTRACT_FLOW, CUSTOMER_FLOW, CONTRACT_NO, CONTRACT_NAME, CONTRACT_CATEGORY_ID, CONTRACT_CATEGORY_NAME, 
    CONTRACT_TYPE_ID, CONTRACT_TYPE_NAME, SIGN_DATE, SIGN_DEPT_FLOW, SIGN_DEPT_NAME, 
    SIGN_USER_FLOW, SIGN_USER_NAME, CONTRACT_DUE_DATE, MAINTAIN_DUE_DATE, CONTRACT_FUND, 
    CONTRACT_FILE_FLOW, CONTRACT_STATUS_ID, CONTRACT_STATUS_NAME, RECORD_STATUS, CREATE_TIME, 
    CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, SUB_COUNT, CONTRACT_OWN_ID, CONTRACT_OWN_NAME, 
    CHARGE_USER_FLOW, CHARGE_USER_NAME, CUSTOMER_DEPT, CONSUMER_FLOW, CONSUMER_NAME, 
    CONTRACT_ARCHIVES_NO, FEED_BACK_TIME, FEED_BACK_USER_FLOW, FEED_BACK_USER_NAME, FEED_BACK_CONTENT, 
    CHARGE_USER2_FLOW, CHARGE_USER2_NAME, PLAN_ACCEPT_DATE, MAINTAIN_COUNT, NEXT_MAINTAIN_DATE, 
    AUDIT_USER_FLOW, AUDIT_USER_NAME, AUDIT_REASON
  </sql>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.ErpCrmContractExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.ERP_CRM_CONTRACT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PDSCI.ERP_CRM_CONTRACT
    where CONTRACT_FLOW = #{contractFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.ERP_CRM_CONTRACT
    where CONTRACT_FLOW = #{contractFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ErpCrmContractExample">
    delete from PDSCI.ERP_CRM_CONTRACT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ErpCrmContract">
    insert into PDSCI.ERP_CRM_CONTRACT (CONTRACT_FLOW, CUSTOMER_FLOW, CONTRACT_NO, 
      CONTRACT_NAME, CONTRACT_CATEGORY_ID, CONTRACT_CATEGORY_NAME, 
      CONTRACT_TYPE_ID, CONTRACT_TYPE_NAME, SIGN_DATE, 
      SIGN_DEPT_FLOW, SIGN_DEPT_NAME, SIGN_USER_FLOW, 
      SIGN_USER_NAME, CONTRACT_DUE_DATE, MAINTAIN_DUE_DATE, 
      CONTRACT_FUND, CONTRACT_FILE_FLOW, CONTRACT_STATUS_ID, 
      CONTRACT_STATUS_NAME, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      SUB_COUNT, CONTRACT_OWN_ID, CONTRACT_OWN_NAME, 
      CHARGE_USER_FLOW, CHARGE_USER_NAME, CUSTOMER_DEPT, 
      CONSUMER_FLOW, CONSUMER_NAME, CONTRACT_ARCHIVES_NO, 
      FEED_BACK_TIME, FEED_BACK_USER_FLOW, FEED_BACK_USER_NAME, 
      FEED_BACK_CONTENT, CHARGE_USER2_FLOW, CHARGE_USER2_NAME, 
      PLAN_ACCEPT_DATE, MAINTAIN_COUNT, NEXT_MAINTAIN_DATE, 
      AUDIT_USER_FLOW, AUDIT_USER_NAME, AUDIT_REASON
      )
    values (#{contractFlow,jdbcType=VARCHAR}, #{customerFlow,jdbcType=VARCHAR}, #{contractNo,jdbcType=VARCHAR}, 
      #{contractName,jdbcType=VARCHAR}, #{contractCategoryId,jdbcType=VARCHAR}, #{contractCategoryName,jdbcType=VARCHAR}, 
      #{contractTypeId,jdbcType=VARCHAR}, #{contractTypeName,jdbcType=VARCHAR}, #{signDate,jdbcType=VARCHAR}, 
      #{signDeptFlow,jdbcType=VARCHAR}, #{signDeptName,jdbcType=VARCHAR}, #{signUserFlow,jdbcType=VARCHAR}, 
      #{signUserName,jdbcType=VARCHAR}, #{contractDueDate,jdbcType=VARCHAR}, #{maintainDueDate,jdbcType=VARCHAR}, 
      #{contractFund,jdbcType=DECIMAL}, #{contractFileFlow,jdbcType=VARCHAR}, #{contractStatusId,jdbcType=VARCHAR}, 
      #{contractStatusName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{subCount,jdbcType=DECIMAL}, #{contractOwnId,jdbcType=VARCHAR}, #{contractOwnName,jdbcType=VARCHAR}, 
      #{chargeUserFlow,jdbcType=VARCHAR}, #{chargeUserName,jdbcType=VARCHAR}, #{customerDept,jdbcType=VARCHAR}, 
      #{consumerFlow,jdbcType=VARCHAR}, #{consumerName,jdbcType=VARCHAR}, #{contractArchivesNo,jdbcType=VARCHAR}, 
      #{feedBackTime,jdbcType=VARCHAR}, #{feedBackUserFlow,jdbcType=VARCHAR}, #{feedBackUserName,jdbcType=VARCHAR}, 
      #{feedBackContent,jdbcType=VARCHAR}, #{chargeUser2Flow,jdbcType=VARCHAR}, #{chargeUser2Name,jdbcType=VARCHAR}, 
      #{planAcceptDate,jdbcType=VARCHAR}, #{maintainCount,jdbcType=VARCHAR}, #{nextMaintainDate,jdbcType=VARCHAR}, 
      #{auditUserFlow,jdbcType=VARCHAR}, #{auditUserName,jdbcType=VARCHAR}, #{auditReason,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ErpCrmContract">
    insert into PDSCI.ERP_CRM_CONTRACT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contractFlow != null">
        CONTRACT_FLOW,
      </if>
      <if test="customerFlow != null">
        CUSTOMER_FLOW,
      </if>
      <if test="contractNo != null">
        CONTRACT_NO,
      </if>
      <if test="contractName != null">
        CONTRACT_NAME,
      </if>
      <if test="contractCategoryId != null">
        CONTRACT_CATEGORY_ID,
      </if>
      <if test="contractCategoryName != null">
        CONTRACT_CATEGORY_NAME,
      </if>
      <if test="contractTypeId != null">
        CONTRACT_TYPE_ID,
      </if>
      <if test="contractTypeName != null">
        CONTRACT_TYPE_NAME,
      </if>
      <if test="signDate != null">
        SIGN_DATE,
      </if>
      <if test="signDeptFlow != null">
        SIGN_DEPT_FLOW,
      </if>
      <if test="signDeptName != null">
        SIGN_DEPT_NAME,
      </if>
      <if test="signUserFlow != null">
        SIGN_USER_FLOW,
      </if>
      <if test="signUserName != null">
        SIGN_USER_NAME,
      </if>
      <if test="contractDueDate != null">
        CONTRACT_DUE_DATE,
      </if>
      <if test="maintainDueDate != null">
        MAINTAIN_DUE_DATE,
      </if>
      <if test="contractFund != null">
        CONTRACT_FUND,
      </if>
      <if test="contractFileFlow != null">
        CONTRACT_FILE_FLOW,
      </if>
      <if test="contractStatusId != null">
        CONTRACT_STATUS_ID,
      </if>
      <if test="contractStatusName != null">
        CONTRACT_STATUS_NAME,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="subCount != null">
        SUB_COUNT,
      </if>
      <if test="contractOwnId != null">
        CONTRACT_OWN_ID,
      </if>
      <if test="contractOwnName != null">
        CONTRACT_OWN_NAME,
      </if>
      <if test="chargeUserFlow != null">
        CHARGE_USER_FLOW,
      </if>
      <if test="chargeUserName != null">
        CHARGE_USER_NAME,
      </if>
      <if test="customerDept != null">
        CUSTOMER_DEPT,
      </if>
      <if test="consumerFlow != null">
        CONSUMER_FLOW,
      </if>
      <if test="consumerName != null">
        CONSUMER_NAME,
      </if>
      <if test="contractArchivesNo != null">
        CONTRACT_ARCHIVES_NO,
      </if>
      <if test="feedBackTime != null">
        FEED_BACK_TIME,
      </if>
      <if test="feedBackUserFlow != null">
        FEED_BACK_USER_FLOW,
      </if>
      <if test="feedBackUserName != null">
        FEED_BACK_USER_NAME,
      </if>
      <if test="feedBackContent != null">
        FEED_BACK_CONTENT,
      </if>
      <if test="chargeUser2Flow != null">
        CHARGE_USER2_FLOW,
      </if>
      <if test="chargeUser2Name != null">
        CHARGE_USER2_NAME,
      </if>
      <if test="planAcceptDate != null">
        PLAN_ACCEPT_DATE,
      </if>
      <if test="maintainCount != null">
        MAINTAIN_COUNT,
      </if>
      <if test="nextMaintainDate != null">
        NEXT_MAINTAIN_DATE,
      </if>
      <if test="auditUserFlow != null">
        AUDIT_USER_FLOW,
      </if>
      <if test="auditUserName != null">
        AUDIT_USER_NAME,
      </if>
      <if test="auditReason != null">
        AUDIT_REASON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contractFlow != null">
        #{contractFlow,jdbcType=VARCHAR},
      </if>
      <if test="customerFlow != null">
        #{customerFlow,jdbcType=VARCHAR},
      </if>
      <if test="contractNo != null">
        #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="contractName != null">
        #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="contractCategoryId != null">
        #{contractCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="contractCategoryName != null">
        #{contractCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="contractTypeId != null">
        #{contractTypeId,jdbcType=VARCHAR},
      </if>
      <if test="contractTypeName != null">
        #{contractTypeName,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null">
        #{signDate,jdbcType=VARCHAR},
      </if>
      <if test="signDeptFlow != null">
        #{signDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="signDeptName != null">
        #{signDeptName,jdbcType=VARCHAR},
      </if>
      <if test="signUserFlow != null">
        #{signUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="signUserName != null">
        #{signUserName,jdbcType=VARCHAR},
      </if>
      <if test="contractDueDate != null">
        #{contractDueDate,jdbcType=VARCHAR},
      </if>
      <if test="maintainDueDate != null">
        #{maintainDueDate,jdbcType=VARCHAR},
      </if>
      <if test="contractFund != null">
        #{contractFund,jdbcType=DECIMAL},
      </if>
      <if test="contractFileFlow != null">
        #{contractFileFlow,jdbcType=VARCHAR},
      </if>
      <if test="contractStatusId != null">
        #{contractStatusId,jdbcType=VARCHAR},
      </if>
      <if test="contractStatusName != null">
        #{contractStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="subCount != null">
        #{subCount,jdbcType=DECIMAL},
      </if>
      <if test="contractOwnId != null">
        #{contractOwnId,jdbcType=VARCHAR},
      </if>
      <if test="contractOwnName != null">
        #{contractOwnName,jdbcType=VARCHAR},
      </if>
      <if test="chargeUserFlow != null">
        #{chargeUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="chargeUserName != null">
        #{chargeUserName,jdbcType=VARCHAR},
      </if>
      <if test="customerDept != null">
        #{customerDept,jdbcType=VARCHAR},
      </if>
      <if test="consumerFlow != null">
        #{consumerFlow,jdbcType=VARCHAR},
      </if>
      <if test="consumerName != null">
        #{consumerName,jdbcType=VARCHAR},
      </if>
      <if test="contractArchivesNo != null">
        #{contractArchivesNo,jdbcType=VARCHAR},
      </if>
      <if test="feedBackTime != null">
        #{feedBackTime,jdbcType=VARCHAR},
      </if>
      <if test="feedBackUserFlow != null">
        #{feedBackUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="feedBackUserName != null">
        #{feedBackUserName,jdbcType=VARCHAR},
      </if>
      <if test="feedBackContent != null">
        #{feedBackContent,jdbcType=VARCHAR},
      </if>
      <if test="chargeUser2Flow != null">
        #{chargeUser2Flow,jdbcType=VARCHAR},
      </if>
      <if test="chargeUser2Name != null">
        #{chargeUser2Name,jdbcType=VARCHAR},
      </if>
      <if test="planAcceptDate != null">
        #{planAcceptDate,jdbcType=VARCHAR},
      </if>
      <if test="maintainCount != null">
        #{maintainCount,jdbcType=VARCHAR},
      </if>
      <if test="nextMaintainDate != null">
        #{nextMaintainDate,jdbcType=VARCHAR},
      </if>
      <if test="auditUserFlow != null">
        #{auditUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="auditUserName != null">
        #{auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditReason != null">
        #{auditReason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ErpCrmContractExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.ERP_CRM_CONTRACT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.ERP_CRM_CONTRACT
    <set>
      <if test="record.contractFlow != null">
        CONTRACT_FLOW = #{record.contractFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.customerFlow != null">
        CUSTOMER_FLOW = #{record.customerFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.contractNo != null">
        CONTRACT_NO = #{record.contractNo,jdbcType=VARCHAR},
      </if>
      <if test="record.contractName != null">
        CONTRACT_NAME = #{record.contractName,jdbcType=VARCHAR},
      </if>
      <if test="record.contractCategoryId != null">
        CONTRACT_CATEGORY_ID = #{record.contractCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.contractCategoryName != null">
        CONTRACT_CATEGORY_NAME = #{record.contractCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.contractTypeId != null">
        CONTRACT_TYPE_ID = #{record.contractTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.contractTypeName != null">
        CONTRACT_TYPE_NAME = #{record.contractTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.signDate != null">
        SIGN_DATE = #{record.signDate,jdbcType=VARCHAR},
      </if>
      <if test="record.signDeptFlow != null">
        SIGN_DEPT_FLOW = #{record.signDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.signDeptName != null">
        SIGN_DEPT_NAME = #{record.signDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.signUserFlow != null">
        SIGN_USER_FLOW = #{record.signUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.signUserName != null">
        SIGN_USER_NAME = #{record.signUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.contractDueDate != null">
        CONTRACT_DUE_DATE = #{record.contractDueDate,jdbcType=VARCHAR},
      </if>
      <if test="record.maintainDueDate != null">
        MAINTAIN_DUE_DATE = #{record.maintainDueDate,jdbcType=VARCHAR},
      </if>
      <if test="record.contractFund != null">
        CONTRACT_FUND = #{record.contractFund,jdbcType=DECIMAL},
      </if>
      <if test="record.contractFileFlow != null">
        CONTRACT_FILE_FLOW = #{record.contractFileFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.contractStatusId != null">
        CONTRACT_STATUS_ID = #{record.contractStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.contractStatusName != null">
        CONTRACT_STATUS_NAME = #{record.contractStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.subCount != null">
        SUB_COUNT = #{record.subCount,jdbcType=DECIMAL},
      </if>
      <if test="record.contractOwnId != null">
        CONTRACT_OWN_ID = #{record.contractOwnId,jdbcType=VARCHAR},
      </if>
      <if test="record.contractOwnName != null">
        CONTRACT_OWN_NAME = #{record.contractOwnName,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeUserFlow != null">
        CHARGE_USER_FLOW = #{record.chargeUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeUserName != null">
        CHARGE_USER_NAME = #{record.chargeUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.customerDept != null">
        CUSTOMER_DEPT = #{record.customerDept,jdbcType=VARCHAR},
      </if>
      <if test="record.consumerFlow != null">
        CONSUMER_FLOW = #{record.consumerFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.consumerName != null">
        CONSUMER_NAME = #{record.consumerName,jdbcType=VARCHAR},
      </if>
      <if test="record.contractArchivesNo != null">
        CONTRACT_ARCHIVES_NO = #{record.contractArchivesNo,jdbcType=VARCHAR},
      </if>
      <if test="record.feedBackTime != null">
        FEED_BACK_TIME = #{record.feedBackTime,jdbcType=VARCHAR},
      </if>
      <if test="record.feedBackUserFlow != null">
        FEED_BACK_USER_FLOW = #{record.feedBackUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.feedBackUserName != null">
        FEED_BACK_USER_NAME = #{record.feedBackUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.feedBackContent != null">
        FEED_BACK_CONTENT = #{record.feedBackContent,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeUser2Flow != null">
        CHARGE_USER2_FLOW = #{record.chargeUser2Flow,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeUser2Name != null">
        CHARGE_USER2_NAME = #{record.chargeUser2Name,jdbcType=VARCHAR},
      </if>
      <if test="record.planAcceptDate != null">
        PLAN_ACCEPT_DATE = #{record.planAcceptDate,jdbcType=VARCHAR},
      </if>
      <if test="record.maintainCount != null">
        MAINTAIN_COUNT = #{record.maintainCount,jdbcType=VARCHAR},
      </if>
      <if test="record.nextMaintainDate != null">
        NEXT_MAINTAIN_DATE = #{record.nextMaintainDate,jdbcType=VARCHAR},
      </if>
      <if test="record.auditUserFlow != null">
        AUDIT_USER_FLOW = #{record.auditUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.auditUserName != null">
        AUDIT_USER_NAME = #{record.auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.auditReason != null">
        AUDIT_REASON = #{record.auditReason,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.ERP_CRM_CONTRACT
    set CONTRACT_FLOW = #{record.contractFlow,jdbcType=VARCHAR},
      CUSTOMER_FLOW = #{record.customerFlow,jdbcType=VARCHAR},
      CONTRACT_NO = #{record.contractNo,jdbcType=VARCHAR},
      CONTRACT_NAME = #{record.contractName,jdbcType=VARCHAR},
      CONTRACT_CATEGORY_ID = #{record.contractCategoryId,jdbcType=VARCHAR},
      CONTRACT_CATEGORY_NAME = #{record.contractCategoryName,jdbcType=VARCHAR},
      CONTRACT_TYPE_ID = #{record.contractTypeId,jdbcType=VARCHAR},
      CONTRACT_TYPE_NAME = #{record.contractTypeName,jdbcType=VARCHAR},
      SIGN_DATE = #{record.signDate,jdbcType=VARCHAR},
      SIGN_DEPT_FLOW = #{record.signDeptFlow,jdbcType=VARCHAR},
      SIGN_DEPT_NAME = #{record.signDeptName,jdbcType=VARCHAR},
      SIGN_USER_FLOW = #{record.signUserFlow,jdbcType=VARCHAR},
      SIGN_USER_NAME = #{record.signUserName,jdbcType=VARCHAR},
      CONTRACT_DUE_DATE = #{record.contractDueDate,jdbcType=VARCHAR},
      MAINTAIN_DUE_DATE = #{record.maintainDueDate,jdbcType=VARCHAR},
      CONTRACT_FUND = #{record.contractFund,jdbcType=DECIMAL},
      CONTRACT_FILE_FLOW = #{record.contractFileFlow,jdbcType=VARCHAR},
      CONTRACT_STATUS_ID = #{record.contractStatusId,jdbcType=VARCHAR},
      CONTRACT_STATUS_NAME = #{record.contractStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      SUB_COUNT = #{record.subCount,jdbcType=DECIMAL},
      CONTRACT_OWN_ID = #{record.contractOwnId,jdbcType=VARCHAR},
      CONTRACT_OWN_NAME = #{record.contractOwnName,jdbcType=VARCHAR},
      CHARGE_USER_FLOW = #{record.chargeUserFlow,jdbcType=VARCHAR},
      CHARGE_USER_NAME = #{record.chargeUserName,jdbcType=VARCHAR},
      CUSTOMER_DEPT = #{record.customerDept,jdbcType=VARCHAR},
      CONSUMER_FLOW = #{record.consumerFlow,jdbcType=VARCHAR},
      CONSUMER_NAME = #{record.consumerName,jdbcType=VARCHAR},
      CONTRACT_ARCHIVES_NO = #{record.contractArchivesNo,jdbcType=VARCHAR},
      FEED_BACK_TIME = #{record.feedBackTime,jdbcType=VARCHAR},
      FEED_BACK_USER_FLOW = #{record.feedBackUserFlow,jdbcType=VARCHAR},
      FEED_BACK_USER_NAME = #{record.feedBackUserName,jdbcType=VARCHAR},
      FEED_BACK_CONTENT = #{record.feedBackContent,jdbcType=VARCHAR},
      CHARGE_USER2_FLOW = #{record.chargeUser2Flow,jdbcType=VARCHAR},
      CHARGE_USER2_NAME = #{record.chargeUser2Name,jdbcType=VARCHAR},
      PLAN_ACCEPT_DATE = #{record.planAcceptDate,jdbcType=VARCHAR},
      MAINTAIN_COUNT = #{record.maintainCount,jdbcType=VARCHAR},
      NEXT_MAINTAIN_DATE = #{record.nextMaintainDate,jdbcType=VARCHAR},
      AUDIT_USER_FLOW = #{record.auditUserFlow,jdbcType=VARCHAR},
      AUDIT_USER_NAME = #{record.auditUserName,jdbcType=VARCHAR},
      AUDIT_REASON = #{record.auditReason,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ErpCrmContract">
    update PDSCI.ERP_CRM_CONTRACT
    <set>
      <if test="customerFlow != null">
        CUSTOMER_FLOW = #{customerFlow,jdbcType=VARCHAR},
      </if>
      <if test="contractNo != null">
        CONTRACT_NO = #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="contractName != null">
        CONTRACT_NAME = #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="contractCategoryId != null">
        CONTRACT_CATEGORY_ID = #{contractCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="contractCategoryName != null">
        CONTRACT_CATEGORY_NAME = #{contractCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="contractTypeId != null">
        CONTRACT_TYPE_ID = #{contractTypeId,jdbcType=VARCHAR},
      </if>
      <if test="contractTypeName != null">
        CONTRACT_TYPE_NAME = #{contractTypeName,jdbcType=VARCHAR},
      </if>
      <if test="signDate != null">
        SIGN_DATE = #{signDate,jdbcType=VARCHAR},
      </if>
      <if test="signDeptFlow != null">
        SIGN_DEPT_FLOW = #{signDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="signDeptName != null">
        SIGN_DEPT_NAME = #{signDeptName,jdbcType=VARCHAR},
      </if>
      <if test="signUserFlow != null">
        SIGN_USER_FLOW = #{signUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="signUserName != null">
        SIGN_USER_NAME = #{signUserName,jdbcType=VARCHAR},
      </if>
      <if test="contractDueDate != null">
        CONTRACT_DUE_DATE = #{contractDueDate,jdbcType=VARCHAR},
      </if>
      <if test="maintainDueDate != null">
        MAINTAIN_DUE_DATE = #{maintainDueDate,jdbcType=VARCHAR},
      </if>
      <if test="contractFund != null">
        CONTRACT_FUND = #{contractFund,jdbcType=DECIMAL},
      </if>
      <if test="contractFileFlow != null">
        CONTRACT_FILE_FLOW = #{contractFileFlow,jdbcType=VARCHAR},
      </if>
      <if test="contractStatusId != null">
        CONTRACT_STATUS_ID = #{contractStatusId,jdbcType=VARCHAR},
      </if>
      <if test="contractStatusName != null">
        CONTRACT_STATUS_NAME = #{contractStatusName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="subCount != null">
        SUB_COUNT = #{subCount,jdbcType=DECIMAL},
      </if>
      <if test="contractOwnId != null">
        CONTRACT_OWN_ID = #{contractOwnId,jdbcType=VARCHAR},
      </if>
      <if test="contractOwnName != null">
        CONTRACT_OWN_NAME = #{contractOwnName,jdbcType=VARCHAR},
      </if>
      <if test="chargeUserFlow != null">
        CHARGE_USER_FLOW = #{chargeUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="chargeUserName != null">
        CHARGE_USER_NAME = #{chargeUserName,jdbcType=VARCHAR},
      </if>
      <if test="customerDept != null">
        CUSTOMER_DEPT = #{customerDept,jdbcType=VARCHAR},
      </if>
      <if test="consumerFlow != null">
        CONSUMER_FLOW = #{consumerFlow,jdbcType=VARCHAR},
      </if>
      <if test="consumerName != null">
        CONSUMER_NAME = #{consumerName,jdbcType=VARCHAR},
      </if>
      <if test="contractArchivesNo != null">
        CONTRACT_ARCHIVES_NO = #{contractArchivesNo,jdbcType=VARCHAR},
      </if>
      <if test="feedBackTime != null">
        FEED_BACK_TIME = #{feedBackTime,jdbcType=VARCHAR},
      </if>
      <if test="feedBackUserFlow != null">
        FEED_BACK_USER_FLOW = #{feedBackUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="feedBackUserName != null">
        FEED_BACK_USER_NAME = #{feedBackUserName,jdbcType=VARCHAR},
      </if>
      <if test="feedBackContent != null">
        FEED_BACK_CONTENT = #{feedBackContent,jdbcType=VARCHAR},
      </if>
      <if test="chargeUser2Flow != null">
        CHARGE_USER2_FLOW = #{chargeUser2Flow,jdbcType=VARCHAR},
      </if>
      <if test="chargeUser2Name != null">
        CHARGE_USER2_NAME = #{chargeUser2Name,jdbcType=VARCHAR},
      </if>
      <if test="planAcceptDate != null">
        PLAN_ACCEPT_DATE = #{planAcceptDate,jdbcType=VARCHAR},
      </if>
      <if test="maintainCount != null">
        MAINTAIN_COUNT = #{maintainCount,jdbcType=VARCHAR},
      </if>
      <if test="nextMaintainDate != null">
        NEXT_MAINTAIN_DATE = #{nextMaintainDate,jdbcType=VARCHAR},
      </if>
      <if test="auditUserFlow != null">
        AUDIT_USER_FLOW = #{auditUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="auditUserName != null">
        AUDIT_USER_NAME = #{auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditReason != null">
        AUDIT_REASON = #{auditReason,jdbcType=VARCHAR},
      </if>
    </set>
    where CONTRACT_FLOW = #{contractFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ErpCrmContract">
    update PDSCI.ERP_CRM_CONTRACT
    set CUSTOMER_FLOW = #{customerFlow,jdbcType=VARCHAR},
      CONTRACT_NO = #{contractNo,jdbcType=VARCHAR},
      CONTRACT_NAME = #{contractName,jdbcType=VARCHAR},
      CONTRACT_CATEGORY_ID = #{contractCategoryId,jdbcType=VARCHAR},
      CONTRACT_CATEGORY_NAME = #{contractCategoryName,jdbcType=VARCHAR},
      CONTRACT_TYPE_ID = #{contractTypeId,jdbcType=VARCHAR},
      CONTRACT_TYPE_NAME = #{contractTypeName,jdbcType=VARCHAR},
      SIGN_DATE = #{signDate,jdbcType=VARCHAR},
      SIGN_DEPT_FLOW = #{signDeptFlow,jdbcType=VARCHAR},
      SIGN_DEPT_NAME = #{signDeptName,jdbcType=VARCHAR},
      SIGN_USER_FLOW = #{signUserFlow,jdbcType=VARCHAR},
      SIGN_USER_NAME = #{signUserName,jdbcType=VARCHAR},
      CONTRACT_DUE_DATE = #{contractDueDate,jdbcType=VARCHAR},
      MAINTAIN_DUE_DATE = #{maintainDueDate,jdbcType=VARCHAR},
      CONTRACT_FUND = #{contractFund,jdbcType=DECIMAL},
      CONTRACT_FILE_FLOW = #{contractFileFlow,jdbcType=VARCHAR},
      CONTRACT_STATUS_ID = #{contractStatusId,jdbcType=VARCHAR},
      CONTRACT_STATUS_NAME = #{contractStatusName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      SUB_COUNT = #{subCount,jdbcType=DECIMAL},
      CONTRACT_OWN_ID = #{contractOwnId,jdbcType=VARCHAR},
      CONTRACT_OWN_NAME = #{contractOwnName,jdbcType=VARCHAR},
      CHARGE_USER_FLOW = #{chargeUserFlow,jdbcType=VARCHAR},
      CHARGE_USER_NAME = #{chargeUserName,jdbcType=VARCHAR},
      CUSTOMER_DEPT = #{customerDept,jdbcType=VARCHAR},
      CONSUMER_FLOW = #{consumerFlow,jdbcType=VARCHAR},
      CONSUMER_NAME = #{consumerName,jdbcType=VARCHAR},
      CONTRACT_ARCHIVES_NO = #{contractArchivesNo,jdbcType=VARCHAR},
      FEED_BACK_TIME = #{feedBackTime,jdbcType=VARCHAR},
      FEED_BACK_USER_FLOW = #{feedBackUserFlow,jdbcType=VARCHAR},
      FEED_BACK_USER_NAME = #{feedBackUserName,jdbcType=VARCHAR},
      FEED_BACK_CONTENT = #{feedBackContent,jdbcType=VARCHAR},
      CHARGE_USER2_FLOW = #{chargeUser2Flow,jdbcType=VARCHAR},
      CHARGE_USER2_NAME = #{chargeUser2Name,jdbcType=VARCHAR},
      PLAN_ACCEPT_DATE = #{planAcceptDate,jdbcType=VARCHAR},
      MAINTAIN_COUNT = #{maintainCount,jdbcType=VARCHAR},
      NEXT_MAINTAIN_DATE = #{nextMaintainDate,jdbcType=VARCHAR},
      AUDIT_USER_FLOW = #{auditUserFlow,jdbcType=VARCHAR},
      AUDIT_USER_NAME = #{auditUserName,jdbcType=VARCHAR},
      AUDIT_REASON = #{auditReason,jdbcType=VARCHAR}
    where CONTRACT_FLOW = #{contractFlow,jdbcType=VARCHAR}
  </update>
</mapper>