<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ErpCrmContractProductMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ErpCrmContractProduct" >
    <id column="PRODUCT_FLOW" property="productFlow" jdbcType="VARCHAR" />
    <result column="CONTRACT_FLOW" property="contractFlow" jdbcType="VARCHAR" />
    <result column="PRODUCT_TYPE_ID" property="productTypeId" jdbcType="VARCHAR" />
    <result column="PRODUCT_TYPE_NAME" property="productTypeName" jdbcType="VARCHAR" />
    <result column="PRODUCT_ITEM" property="productItem" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="INSTALL_PLACE" property="installPlace" jdbcType="VARCHAR" />
    <result column="VERSIONS" property="versions" jdbcType="VARCHAR" />
    <result column="REG_FILE_CLIENT_NAME" property="regFileClientName" jdbcType="VARCHAR" />
    <result column="REG_FILE_INDATE" property="regFileIndate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PRODUCT_FLOW, CONTRACT_FLOW, PRODUCT_TYPE_ID, PRODUCT_TYPE_NAME, PRODUCT_ITEM, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, INSTALL_PLACE, VERSIONS, 
    REG_FILE_CLIENT_NAME, REG_FILE_INDATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ErpCrmContractProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.ERP_CRM_CONTRACT_PRODUCT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.ERP_CRM_CONTRACT_PRODUCT
    where PRODUCT_FLOW = #{productFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.ERP_CRM_CONTRACT_PRODUCT
    where PRODUCT_FLOW = #{productFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ErpCrmContractProductExample" >
    delete from PDSCI.ERP_CRM_CONTRACT_PRODUCT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ErpCrmContractProduct" >
    insert into PDSCI.ERP_CRM_CONTRACT_PRODUCT (PRODUCT_FLOW, CONTRACT_FLOW, PRODUCT_TYPE_ID, 
      PRODUCT_TYPE_NAME, PRODUCT_ITEM, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, INSTALL_PLACE, VERSIONS, 
      REG_FILE_CLIENT_NAME, REG_FILE_INDATE)
    values (#{productFlow,jdbcType=VARCHAR}, #{contractFlow,jdbcType=VARCHAR}, #{productTypeId,jdbcType=VARCHAR}, 
      #{productTypeName,jdbcType=VARCHAR}, #{productItem,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{installPlace,jdbcType=VARCHAR}, #{versions,jdbcType=VARCHAR}, 
      #{regFileClientName,jdbcType=VARCHAR}, #{regFileIndate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ErpCrmContractProduct" >
    insert into PDSCI.ERP_CRM_CONTRACT_PRODUCT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productFlow != null" >
        PRODUCT_FLOW,
      </if>
      <if test="contractFlow != null" >
        CONTRACT_FLOW,
      </if>
      <if test="productTypeId != null" >
        PRODUCT_TYPE_ID,
      </if>
      <if test="productTypeName != null" >
        PRODUCT_TYPE_NAME,
      </if>
      <if test="productItem != null" >
        PRODUCT_ITEM,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="installPlace != null" >
        INSTALL_PLACE,
      </if>
      <if test="versions != null" >
        VERSIONS,
      </if>
      <if test="regFileClientName != null" >
        REG_FILE_CLIENT_NAME,
      </if>
      <if test="regFileIndate != null" >
        REG_FILE_INDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productFlow != null" >
        #{productFlow,jdbcType=VARCHAR},
      </if>
      <if test="contractFlow != null" >
        #{contractFlow,jdbcType=VARCHAR},
      </if>
      <if test="productTypeId != null" >
        #{productTypeId,jdbcType=VARCHAR},
      </if>
      <if test="productTypeName != null" >
        #{productTypeName,jdbcType=VARCHAR},
      </if>
      <if test="productItem != null" >
        #{productItem,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="installPlace != null" >
        #{installPlace,jdbcType=VARCHAR},
      </if>
      <if test="versions != null" >
        #{versions,jdbcType=VARCHAR},
      </if>
      <if test="regFileClientName != null" >
        #{regFileClientName,jdbcType=VARCHAR},
      </if>
      <if test="regFileIndate != null" >
        #{regFileIndate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ErpCrmContractProductExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.ERP_CRM_CONTRACT_PRODUCT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.ERP_CRM_CONTRACT_PRODUCT
    <set >
      <if test="record.productFlow != null" >
        PRODUCT_FLOW = #{record.productFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.contractFlow != null" >
        CONTRACT_FLOW = #{record.contractFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.productTypeId != null" >
        PRODUCT_TYPE_ID = #{record.productTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.productTypeName != null" >
        PRODUCT_TYPE_NAME = #{record.productTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.productItem != null" >
        PRODUCT_ITEM = #{record.productItem,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.installPlace != null" >
        INSTALL_PLACE = #{record.installPlace,jdbcType=VARCHAR},
      </if>
      <if test="record.versions != null" >
        VERSIONS = #{record.versions,jdbcType=VARCHAR},
      </if>
      <if test="record.regFileClientName != null" >
        REG_FILE_CLIENT_NAME = #{record.regFileClientName,jdbcType=VARCHAR},
      </if>
      <if test="record.regFileIndate != null" >
        REG_FILE_INDATE = #{record.regFileIndate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.ERP_CRM_CONTRACT_PRODUCT
    set PRODUCT_FLOW = #{record.productFlow,jdbcType=VARCHAR},
      CONTRACT_FLOW = #{record.contractFlow,jdbcType=VARCHAR},
      PRODUCT_TYPE_ID = #{record.productTypeId,jdbcType=VARCHAR},
      PRODUCT_TYPE_NAME = #{record.productTypeName,jdbcType=VARCHAR},
      PRODUCT_ITEM = #{record.productItem,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      INSTALL_PLACE = #{record.installPlace,jdbcType=VARCHAR},
      VERSIONS = #{record.versions,jdbcType=VARCHAR},
      REG_FILE_CLIENT_NAME = #{record.regFileClientName,jdbcType=VARCHAR},
      REG_FILE_INDATE = #{record.regFileIndate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ErpCrmContractProduct" >
    update PDSCI.ERP_CRM_CONTRACT_PRODUCT
    <set >
      <if test="contractFlow != null" >
        CONTRACT_FLOW = #{contractFlow,jdbcType=VARCHAR},
      </if>
      <if test="productTypeId != null" >
        PRODUCT_TYPE_ID = #{productTypeId,jdbcType=VARCHAR},
      </if>
      <if test="productTypeName != null" >
        PRODUCT_TYPE_NAME = #{productTypeName,jdbcType=VARCHAR},
      </if>
      <if test="productItem != null" >
        PRODUCT_ITEM = #{productItem,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="installPlace != null" >
        INSTALL_PLACE = #{installPlace,jdbcType=VARCHAR},
      </if>
      <if test="versions != null" >
        VERSIONS = #{versions,jdbcType=VARCHAR},
      </if>
      <if test="regFileClientName != null" >
        REG_FILE_CLIENT_NAME = #{regFileClientName,jdbcType=VARCHAR},
      </if>
      <if test="regFileIndate != null" >
        REG_FILE_INDATE = #{regFileIndate,jdbcType=VARCHAR},
      </if>
    </set>
    where PRODUCT_FLOW = #{productFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ErpCrmContractProduct" >
    update PDSCI.ERP_CRM_CONTRACT_PRODUCT
    set CONTRACT_FLOW = #{contractFlow,jdbcType=VARCHAR},
      PRODUCT_TYPE_ID = #{productTypeId,jdbcType=VARCHAR},
      PRODUCT_TYPE_NAME = #{productTypeName,jdbcType=VARCHAR},
      PRODUCT_ITEM = #{productItem,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      INSTALL_PLACE = #{installPlace,jdbcType=VARCHAR},
      VERSIONS = #{versions,jdbcType=VARCHAR},
      REG_FILE_CLIENT_NAME = #{regFileClientName,jdbcType=VARCHAR},
      REG_FILE_INDATE = #{regFileIndate,jdbcType=VARCHAR}
    where PRODUCT_FLOW = #{productFlow,jdbcType=VARCHAR}
  </update>
</mapper>