<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.ErpCrmChargeUserChangeMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ErpCrmChargeUserChange">
    <id column="CHANGE_FLOW" jdbcType="VARCHAR" property="changeFlow" />
    <result column="OLD_SIGN_DEPT_FLOW" jdbcType="VARCHAR" property="oldSignDeptFlow" />
    <result column="OLD_SIGN_DEPT_NAME" jdbcType="VARCHAR" property="oldSignDeptName" />
    <result column="OLD_CHARGE_USER_FLOW" jdbcType="VARCHAR" property="oldChargeUserFlow" />
    <result column="OLD_CHARGE_USER_NAME" jdbcType="VARCHAR" property="oldChargeUserName" />
    <result column="OLD_CHARGE_USER2_FLOW" jdbcType="VARCHAR" property="oldChargeUser2Flow" />
    <result column="OLD_CHARGE_USER2_NAME" jdbcType="VARCHAR" property="oldChargeUser2Name" />
    <result column="SIGN_DEPT_FLOW" jdbcType="VARCHAR" property="signDeptFlow" />
    <result column="SIGN_DEPT_NAME" jdbcType="VARCHAR" property="signDeptName" />
    <result column="CHARGE_USER_FLOW" jdbcType="VARCHAR" property="chargeUserFlow" />
    <result column="CHARGE_USER_NAME" jdbcType="VARCHAR" property="chargeUserName" />
    <result column="CHARGE_USER2_FLOW" jdbcType="VARCHAR" property="chargeUser2Flow" />
    <result column="CHARGE_USER2_NAME" jdbcType="VARCHAR" property="chargeUser2Name" />
    <result column="STATUS_ID" jdbcType="VARCHAR" property="statusId" />
    <result column="STATUS_NAME" jdbcType="VARCHAR" property="statusName" />
    <result column="APPLY_USER_FLOW" jdbcType="VARCHAR" property="applyUserFlow" />
    <result column="APPLY_USER_NAME" jdbcType="VARCHAR" property="applyUserName" />
    <result column="APPLY_TIME" jdbcType="VARCHAR" property="applyTime" />
    <result column="AUDIT_USER_FLOW" jdbcType="VARCHAR" property="auditUserFlow" />
    <result column="AUDIT_USER_NAME" jdbcType="VARCHAR" property="auditUserName" />
    <result column="AUDIT_TIME" jdbcType="VARCHAR" property="auditTime" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CHANGE_FLOW, OLD_SIGN_DEPT_FLOW, OLD_SIGN_DEPT_NAME, OLD_CHARGE_USER_FLOW, OLD_CHARGE_USER_NAME, 
    OLD_CHARGE_USER2_FLOW, OLD_CHARGE_USER2_NAME, SIGN_DEPT_FLOW, SIGN_DEPT_NAME, CHARGE_USER_FLOW, 
    CHARGE_USER_NAME, CHARGE_USER2_FLOW, CHARGE_USER2_NAME, STATUS_ID, STATUS_NAME, APPLY_USER_FLOW, 
    APPLY_USER_NAME, APPLY_TIME, AUDIT_USER_FLOW, AUDIT_USER_NAME, AUDIT_TIME, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.ErpCrmChargeUserChangeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.ERP_CRM_CHARGE_USER_CHANGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PDSCI.ERP_CRM_CHARGE_USER_CHANGE
    where CHANGE_FLOW = #{changeFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.ERP_CRM_CHARGE_USER_CHANGE
    where CHANGE_FLOW = #{changeFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ErpCrmChargeUserChangeExample">
    delete from PDSCI.ERP_CRM_CHARGE_USER_CHANGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ErpCrmChargeUserChange">
    insert into PDSCI.ERP_CRM_CHARGE_USER_CHANGE (CHANGE_FLOW, OLD_SIGN_DEPT_FLOW, OLD_SIGN_DEPT_NAME, 
      OLD_CHARGE_USER_FLOW, OLD_CHARGE_USER_NAME, OLD_CHARGE_USER2_FLOW, 
      OLD_CHARGE_USER2_NAME, SIGN_DEPT_FLOW, SIGN_DEPT_NAME, 
      CHARGE_USER_FLOW, CHARGE_USER_NAME, CHARGE_USER2_FLOW, 
      CHARGE_USER2_NAME, STATUS_ID, STATUS_NAME, 
      APPLY_USER_FLOW, APPLY_USER_NAME, APPLY_TIME, 
      AUDIT_USER_FLOW, AUDIT_USER_NAME, AUDIT_TIME, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{changeFlow,jdbcType=VARCHAR}, #{oldSignDeptFlow,jdbcType=VARCHAR}, #{oldSignDeptName,jdbcType=VARCHAR}, 
      #{oldChargeUserFlow,jdbcType=VARCHAR}, #{oldChargeUserName,jdbcType=VARCHAR}, #{oldChargeUser2Flow,jdbcType=VARCHAR}, 
      #{oldChargeUser2Name,jdbcType=VARCHAR}, #{signDeptFlow,jdbcType=VARCHAR}, #{signDeptName,jdbcType=VARCHAR}, 
      #{chargeUserFlow,jdbcType=VARCHAR}, #{chargeUserName,jdbcType=VARCHAR}, #{chargeUser2Flow,jdbcType=VARCHAR}, 
      #{chargeUser2Name,jdbcType=VARCHAR}, #{statusId,jdbcType=VARCHAR}, #{statusName,jdbcType=VARCHAR}, 
      #{applyUserFlow,jdbcType=VARCHAR}, #{applyUserName,jdbcType=VARCHAR}, #{applyTime,jdbcType=VARCHAR}, 
      #{auditUserFlow,jdbcType=VARCHAR}, #{auditUserName,jdbcType=VARCHAR}, #{auditTime,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ErpCrmChargeUserChange">
    insert into PDSCI.ERP_CRM_CHARGE_USER_CHANGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="changeFlow != null">
        CHANGE_FLOW,
      </if>
      <if test="oldSignDeptFlow != null">
        OLD_SIGN_DEPT_FLOW,
      </if>
      <if test="oldSignDeptName != null">
        OLD_SIGN_DEPT_NAME,
      </if>
      <if test="oldChargeUserFlow != null">
        OLD_CHARGE_USER_FLOW,
      </if>
      <if test="oldChargeUserName != null">
        OLD_CHARGE_USER_NAME,
      </if>
      <if test="oldChargeUser2Flow != null">
        OLD_CHARGE_USER2_FLOW,
      </if>
      <if test="oldChargeUser2Name != null">
        OLD_CHARGE_USER2_NAME,
      </if>
      <if test="signDeptFlow != null">
        SIGN_DEPT_FLOW,
      </if>
      <if test="signDeptName != null">
        SIGN_DEPT_NAME,
      </if>
      <if test="chargeUserFlow != null">
        CHARGE_USER_FLOW,
      </if>
      <if test="chargeUserName != null">
        CHARGE_USER_NAME,
      </if>
      <if test="chargeUser2Flow != null">
        CHARGE_USER2_FLOW,
      </if>
      <if test="chargeUser2Name != null">
        CHARGE_USER2_NAME,
      </if>
      <if test="statusId != null">
        STATUS_ID,
      </if>
      <if test="statusName != null">
        STATUS_NAME,
      </if>
      <if test="applyUserFlow != null">
        APPLY_USER_FLOW,
      </if>
      <if test="applyUserName != null">
        APPLY_USER_NAME,
      </if>
      <if test="applyTime != null">
        APPLY_TIME,
      </if>
      <if test="auditUserFlow != null">
        AUDIT_USER_FLOW,
      </if>
      <if test="auditUserName != null">
        AUDIT_USER_NAME,
      </if>
      <if test="auditTime != null">
        AUDIT_TIME,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="changeFlow != null">
        #{changeFlow,jdbcType=VARCHAR},
      </if>
      <if test="oldSignDeptFlow != null">
        #{oldSignDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="oldSignDeptName != null">
        #{oldSignDeptName,jdbcType=VARCHAR},
      </if>
      <if test="oldChargeUserFlow != null">
        #{oldChargeUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="oldChargeUserName != null">
        #{oldChargeUserName,jdbcType=VARCHAR},
      </if>
      <if test="oldChargeUser2Flow != null">
        #{oldChargeUser2Flow,jdbcType=VARCHAR},
      </if>
      <if test="oldChargeUser2Name != null">
        #{oldChargeUser2Name,jdbcType=VARCHAR},
      </if>
      <if test="signDeptFlow != null">
        #{signDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="signDeptName != null">
        #{signDeptName,jdbcType=VARCHAR},
      </if>
      <if test="chargeUserFlow != null">
        #{chargeUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="chargeUserName != null">
        #{chargeUserName,jdbcType=VARCHAR},
      </if>
      <if test="chargeUser2Flow != null">
        #{chargeUser2Flow,jdbcType=VARCHAR},
      </if>
      <if test="chargeUser2Name != null">
        #{chargeUser2Name,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null">
        #{statusId,jdbcType=VARCHAR},
      </if>
      <if test="statusName != null">
        #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="applyUserFlow != null">
        #{applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyUserName != null">
        #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=VARCHAR},
      </if>
      <if test="auditUserFlow != null">
        #{auditUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="auditUserName != null">
        #{auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ErpCrmChargeUserChangeExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.ERP_CRM_CHARGE_USER_CHANGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.ERP_CRM_CHARGE_USER_CHANGE
    <set>
      <if test="record.changeFlow != null">
        CHANGE_FLOW = #{record.changeFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.oldSignDeptFlow != null">
        OLD_SIGN_DEPT_FLOW = #{record.oldSignDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.oldSignDeptName != null">
        OLD_SIGN_DEPT_NAME = #{record.oldSignDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.oldChargeUserFlow != null">
        OLD_CHARGE_USER_FLOW = #{record.oldChargeUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.oldChargeUserName != null">
        OLD_CHARGE_USER_NAME = #{record.oldChargeUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.oldChargeUser2Flow != null">
        OLD_CHARGE_USER2_FLOW = #{record.oldChargeUser2Flow,jdbcType=VARCHAR},
      </if>
      <if test="record.oldChargeUser2Name != null">
        OLD_CHARGE_USER2_NAME = #{record.oldChargeUser2Name,jdbcType=VARCHAR},
      </if>
      <if test="record.signDeptFlow != null">
        SIGN_DEPT_FLOW = #{record.signDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.signDeptName != null">
        SIGN_DEPT_NAME = #{record.signDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeUserFlow != null">
        CHARGE_USER_FLOW = #{record.chargeUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeUserName != null">
        CHARGE_USER_NAME = #{record.chargeUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeUser2Flow != null">
        CHARGE_USER2_FLOW = #{record.chargeUser2Flow,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeUser2Name != null">
        CHARGE_USER2_NAME = #{record.chargeUser2Name,jdbcType=VARCHAR},
      </if>
      <if test="record.statusId != null">
        STATUS_ID = #{record.statusId,jdbcType=VARCHAR},
      </if>
      <if test="record.statusName != null">
        STATUS_NAME = #{record.statusName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserFlow != null">
        APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserName != null">
        APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyTime != null">
        APPLY_TIME = #{record.applyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.auditUserFlow != null">
        AUDIT_USER_FLOW = #{record.auditUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.auditUserName != null">
        AUDIT_USER_NAME = #{record.auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.auditTime != null">
        AUDIT_TIME = #{record.auditTime,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.ERP_CRM_CHARGE_USER_CHANGE
    set CHANGE_FLOW = #{record.changeFlow,jdbcType=VARCHAR},
      OLD_SIGN_DEPT_FLOW = #{record.oldSignDeptFlow,jdbcType=VARCHAR},
      OLD_SIGN_DEPT_NAME = #{record.oldSignDeptName,jdbcType=VARCHAR},
      OLD_CHARGE_USER_FLOW = #{record.oldChargeUserFlow,jdbcType=VARCHAR},
      OLD_CHARGE_USER_NAME = #{record.oldChargeUserName,jdbcType=VARCHAR},
      OLD_CHARGE_USER2_FLOW = #{record.oldChargeUser2Flow,jdbcType=VARCHAR},
      OLD_CHARGE_USER2_NAME = #{record.oldChargeUser2Name,jdbcType=VARCHAR},
      SIGN_DEPT_FLOW = #{record.signDeptFlow,jdbcType=VARCHAR},
      SIGN_DEPT_NAME = #{record.signDeptName,jdbcType=VARCHAR},
      CHARGE_USER_FLOW = #{record.chargeUserFlow,jdbcType=VARCHAR},
      CHARGE_USER_NAME = #{record.chargeUserName,jdbcType=VARCHAR},
      CHARGE_USER2_FLOW = #{record.chargeUser2Flow,jdbcType=VARCHAR},
      CHARGE_USER2_NAME = #{record.chargeUser2Name,jdbcType=VARCHAR},
      STATUS_ID = #{record.statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{record.statusName,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      APPLY_TIME = #{record.applyTime,jdbcType=VARCHAR},
      AUDIT_USER_FLOW = #{record.auditUserFlow,jdbcType=VARCHAR},
      AUDIT_USER_NAME = #{record.auditUserName,jdbcType=VARCHAR},
      AUDIT_TIME = #{record.auditTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ErpCrmChargeUserChange">
    update PDSCI.ERP_CRM_CHARGE_USER_CHANGE
    <set>
      <if test="oldSignDeptFlow != null">
        OLD_SIGN_DEPT_FLOW = #{oldSignDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="oldSignDeptName != null">
        OLD_SIGN_DEPT_NAME = #{oldSignDeptName,jdbcType=VARCHAR},
      </if>
      <if test="oldChargeUserFlow != null">
        OLD_CHARGE_USER_FLOW = #{oldChargeUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="oldChargeUserName != null">
        OLD_CHARGE_USER_NAME = #{oldChargeUserName,jdbcType=VARCHAR},
      </if>
      <if test="oldChargeUser2Flow != null">
        OLD_CHARGE_USER2_FLOW = #{oldChargeUser2Flow,jdbcType=VARCHAR},
      </if>
      <if test="oldChargeUser2Name != null">
        OLD_CHARGE_USER2_NAME = #{oldChargeUser2Name,jdbcType=VARCHAR},
      </if>
      <if test="signDeptFlow != null">
        SIGN_DEPT_FLOW = #{signDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="signDeptName != null">
        SIGN_DEPT_NAME = #{signDeptName,jdbcType=VARCHAR},
      </if>
      <if test="chargeUserFlow != null">
        CHARGE_USER_FLOW = #{chargeUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="chargeUserName != null">
        CHARGE_USER_NAME = #{chargeUserName,jdbcType=VARCHAR},
      </if>
      <if test="chargeUser2Flow != null">
        CHARGE_USER2_FLOW = #{chargeUser2Flow,jdbcType=VARCHAR},
      </if>
      <if test="chargeUser2Name != null">
        CHARGE_USER2_NAME = #{chargeUser2Name,jdbcType=VARCHAR},
      </if>
      <if test="statusId != null">
        STATUS_ID = #{statusId,jdbcType=VARCHAR},
      </if>
      <if test="statusName != null">
        STATUS_NAME = #{statusName,jdbcType=VARCHAR},
      </if>
      <if test="applyUserFlow != null">
        APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyUserName != null">
        APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        APPLY_TIME = #{applyTime,jdbcType=VARCHAR},
      </if>
      <if test="auditUserFlow != null">
        AUDIT_USER_FLOW = #{auditUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="auditUserName != null">
        AUDIT_USER_NAME = #{auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        AUDIT_TIME = #{auditTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where CHANGE_FLOW = #{changeFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ErpCrmChargeUserChange">
    update PDSCI.ERP_CRM_CHARGE_USER_CHANGE
    set OLD_SIGN_DEPT_FLOW = #{oldSignDeptFlow,jdbcType=VARCHAR},
      OLD_SIGN_DEPT_NAME = #{oldSignDeptName,jdbcType=VARCHAR},
      OLD_CHARGE_USER_FLOW = #{oldChargeUserFlow,jdbcType=VARCHAR},
      OLD_CHARGE_USER_NAME = #{oldChargeUserName,jdbcType=VARCHAR},
      OLD_CHARGE_USER2_FLOW = #{oldChargeUser2Flow,jdbcType=VARCHAR},
      OLD_CHARGE_USER2_NAME = #{oldChargeUser2Name,jdbcType=VARCHAR},
      SIGN_DEPT_FLOW = #{signDeptFlow,jdbcType=VARCHAR},
      SIGN_DEPT_NAME = #{signDeptName,jdbcType=VARCHAR},
      CHARGE_USER_FLOW = #{chargeUserFlow,jdbcType=VARCHAR},
      CHARGE_USER_NAME = #{chargeUserName,jdbcType=VARCHAR},
      CHARGE_USER2_FLOW = #{chargeUser2Flow,jdbcType=VARCHAR},
      CHARGE_USER2_NAME = #{chargeUser2Name,jdbcType=VARCHAR},
      STATUS_ID = #{statusId,jdbcType=VARCHAR},
      STATUS_NAME = #{statusName,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      APPLY_TIME = #{applyTime,jdbcType=VARCHAR},
      AUDIT_USER_FLOW = #{auditUserFlow,jdbcType=VARCHAR},
      AUDIT_USER_NAME = #{auditUserName,jdbcType=VARCHAR},
      AUDIT_TIME = #{auditTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where CHANGE_FLOW = #{changeFlow,jdbcType=VARCHAR}
  </update>
</mapper>