<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ExamQuestionDetailMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ExamQuestionDetail" >
    <id column="DETAIL_FLOW" property="detailFlow" jdbcType="VARCHAR" />
    <result column="QUESTION_FLOW" property="questionFlow" jdbcType="VARCHAR" />
    <result column="PARENT_QUESTION_CODE" property="parentQuestionCode" jdbcType="VARCHAR" />
    <result column="QUESTION_CODE" property="questionCode" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pinde.sci.model.mo.ExamQuestionDetailWithBLOBs" extends="BaseResultMap" >
    <result column="QUESTION_CONTENT" property="questionContent" jdbcType="CLOB" />
    <result column="QUESTION_ANSWER" property="questionAnswer" jdbcType="CLOB" />
    <result column="RIGHT_ANSWER" property="rightAnswer" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DETAIL_FLOW, QUESTION_FLOW, PARENT_QUESTION_CODE, QUESTION_CODE, MEMO, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <sql id="Blob_Column_List" >
    QUESTION_CONTENT, QUESTION_ANSWER, RIGHT_ANSWER
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pinde.sci.model.mo.ExamQuestionDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.EXAM_QUESTION_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ExamQuestionDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.EXAM_QUESTION_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.EXAM_QUESTION_DETAIL
    where DETAIL_FLOW = #{detailFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.EXAM_QUESTION_DETAIL
    where DETAIL_FLOW = #{detailFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ExamQuestionDetailExample" >
    delete from PDSCI.EXAM_QUESTION_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ExamQuestionDetailWithBLOBs" >
    <selectKey resultType="java.lang.String" keyProperty="detailFlow" order="BEFORE" >
      select SEQ_EXAM_QUESTION_DETAIL_FLOW.nextval from dual
    </selectKey>
    insert into PDSCI.EXAM_QUESTION_DETAIL (DETAIL_FLOW, QUESTION_FLOW, PARENT_QUESTION_CODE, 
      QUESTION_CODE, MEMO, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, QUESTION_CONTENT, QUESTION_ANSWER, 
      RIGHT_ANSWER)
    values (#{detailFlow,jdbcType=VARCHAR}, #{questionFlow,jdbcType=VARCHAR}, #{parentQuestionCode,jdbcType=VARCHAR}, 
      #{questionCode,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{questionContent,jdbcType=CLOB}, #{questionAnswer,jdbcType=CLOB}, 
      #{rightAnswer,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ExamQuestionDetailWithBLOBs" >
    <selectKey resultType="java.lang.String" keyProperty="detailFlow" order="BEFORE" >
      select SEQ_EXAM_QUESTION_DETAIL_FLOW.nextval from dual
    </selectKey>
    insert into PDSCI.EXAM_QUESTION_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      DETAIL_FLOW,
      <if test="questionFlow != null" >
        QUESTION_FLOW,
      </if>
      <if test="parentQuestionCode != null" >
        PARENT_QUESTION_CODE,
      </if>
      <if test="questionCode != null" >
        QUESTION_CODE,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="questionContent != null" >
        QUESTION_CONTENT,
      </if>
      <if test="questionAnswer != null" >
        QUESTION_ANSWER,
      </if>
      <if test="rightAnswer != null" >
        RIGHT_ANSWER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{detailFlow,jdbcType=VARCHAR},
      <if test="questionFlow != null" >
        #{questionFlow,jdbcType=VARCHAR},
      </if>
      <if test="parentQuestionCode != null" >
        #{parentQuestionCode,jdbcType=VARCHAR},
      </if>
      <if test="questionCode != null" >
        #{questionCode,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="questionContent != null" >
        #{questionContent,jdbcType=CLOB},
      </if>
      <if test="questionAnswer != null" >
        #{questionAnswer,jdbcType=CLOB},
      </if>
      <if test="rightAnswer != null" >
        #{rightAnswer,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ExamQuestionDetailExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.EXAM_QUESTION_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.EXAM_QUESTION_DETAIL
    <set >
      <if test="record.detailFlow != null" >
        DETAIL_FLOW = #{record.detailFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.questionFlow != null" >
        QUESTION_FLOW = #{record.questionFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.parentQuestionCode != null" >
        PARENT_QUESTION_CODE = #{record.parentQuestionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.questionCode != null" >
        QUESTION_CODE = #{record.questionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null" >
        MEMO = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.questionContent != null" >
        QUESTION_CONTENT = #{record.questionContent,jdbcType=CLOB},
      </if>
      <if test="record.questionAnswer != null" >
        QUESTION_ANSWER = #{record.questionAnswer,jdbcType=CLOB},
      </if>
      <if test="record.rightAnswer != null" >
        RIGHT_ANSWER = #{record.rightAnswer,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update PDSCI.EXAM_QUESTION_DETAIL
    set DETAIL_FLOW = #{record.detailFlow,jdbcType=VARCHAR},
      QUESTION_FLOW = #{record.questionFlow,jdbcType=VARCHAR},
      PARENT_QUESTION_CODE = #{record.parentQuestionCode,jdbcType=VARCHAR},
      QUESTION_CODE = #{record.questionCode,jdbcType=VARCHAR},
      MEMO = #{record.memo,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      QUESTION_CONTENT = #{record.questionContent,jdbcType=CLOB},
      QUESTION_ANSWER = #{record.questionAnswer,jdbcType=CLOB},
      RIGHT_ANSWER = #{record.rightAnswer,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.EXAM_QUESTION_DETAIL
    set DETAIL_FLOW = #{record.detailFlow,jdbcType=VARCHAR},
      QUESTION_FLOW = #{record.questionFlow,jdbcType=VARCHAR},
      PARENT_QUESTION_CODE = #{record.parentQuestionCode,jdbcType=VARCHAR},
      QUESTION_CODE = #{record.questionCode,jdbcType=VARCHAR},
      MEMO = #{record.memo,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ExamQuestionDetailWithBLOBs" >
    update PDSCI.EXAM_QUESTION_DETAIL
    <set >
      <if test="questionFlow != null" >
        QUESTION_FLOW = #{questionFlow,jdbcType=VARCHAR},
      </if>
      <if test="parentQuestionCode != null" >
        PARENT_QUESTION_CODE = #{parentQuestionCode,jdbcType=VARCHAR},
      </if>
      <if test="questionCode != null" >
        QUESTION_CODE = #{questionCode,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="questionContent != null" >
        QUESTION_CONTENT = #{questionContent,jdbcType=CLOB},
      </if>
      <if test="questionAnswer != null" >
        QUESTION_ANSWER = #{questionAnswer,jdbcType=CLOB},
      </if>
      <if test="rightAnswer != null" >
        RIGHT_ANSWER = #{rightAnswer,jdbcType=CLOB},
      </if>
    </set>
    where DETAIL_FLOW = #{detailFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.sci.model.mo.ExamQuestionDetailWithBLOBs" >
    update PDSCI.EXAM_QUESTION_DETAIL
    set QUESTION_FLOW = #{questionFlow,jdbcType=VARCHAR},
      PARENT_QUESTION_CODE = #{parentQuestionCode,jdbcType=VARCHAR},
      QUESTION_CODE = #{questionCode,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      QUESTION_CONTENT = #{questionContent,jdbcType=CLOB},
      QUESTION_ANSWER = #{questionAnswer,jdbcType=CLOB},
      RIGHT_ANSWER = #{rightAnswer,jdbcType=CLOB}
    where DETAIL_FLOW = #{detailFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ExamQuestionDetail" >
    update PDSCI.EXAM_QUESTION_DETAIL
    set QUESTION_FLOW = #{questionFlow,jdbcType=VARCHAR},
      PARENT_QUESTION_CODE = #{parentQuestionCode,jdbcType=VARCHAR},
      QUESTION_CODE = #{questionCode,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where DETAIL_FLOW = #{detailFlow,jdbcType=VARCHAR}
  </update>
</mapper>