<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.FstuBookMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.FstuBook">
    <id column="BOOK_FLOW" jdbcType="VARCHAR" property="bookFlow" />
    <result column="BOOK_NAME" jdbcType="VARCHAR" property="bookName" />
    <result column="ORG_BELONG_ID" jdbcType="VARCHAR" property="orgBelongId" />
    <result column="ORG_BELONG_NAME" jdbcType="VARCHAR" property="orgBelongName" />
    <result column="PUBLISH_ORG" jdbcType="VARCHAR" property="publishOrg" />
    <result column="PUBLISH_DATE" jdbcType="VARCHAR" property="publishDate" />
    <result column="PUB_PLACE_ID" jdbcType="VARCHAR" property="pubPlaceId" />
    <result column="PUB_PLACE_NAME" jdbcType="VARCHAR" property="pubPlaceName" />
    <result column="TYPE_ID" jdbcType="VARCHAR" property="typeId" />
    <result column="TYPE_NAME" jdbcType="VARCHAR" property="typeName" />
    <result column="CATEGORY_ID" jdbcType="VARCHAR" property="categoryId" />
    <result column="CATEGORY_NAME" jdbcType="VARCHAR" property="categoryName" />
    <result column="WORD_COUNT" jdbcType="VARCHAR" property="wordCount" />
    <result column="IS_TRANSLATED" jdbcType="VARCHAR" property="isTranslated" />
    <result column="PRESS_LEVEL_ID" jdbcType="VARCHAR" property="pressLevelId" />
    <result column="PRESS_LEVEL_NAME" jdbcType="VARCHAR" property="pressLevelName" />
    <result column="ISBN_CODE" jdbcType="VARCHAR" property="isbnCode" />
    <result column="CPT_CODE" jdbcType="VARCHAR" property="cptCode" />
    <result column="PROJ_SOURCE_ID" jdbcType="VARCHAR" property="projSourceId" />
    <result column="PROJ_SOURCE_NAME" jdbcType="VARCHAR" property="projSourceName" />
    <result column="LANGUAGE_TYPE_ID" jdbcType="VARCHAR" property="languageTypeId" />
    <result column="LANGUAGE_TYPE_NAME" jdbcType="VARCHAR" property="languageTypeName" />
    <result column="APPLY_ORG_FLOW" jdbcType="VARCHAR" property="applyOrgFlow" />
    <result column="APPLY_ORG_NAME" jdbcType="VARCHAR" property="applyOrgName" />
    <result column="OPER_STATUS_ID" jdbcType="VARCHAR" property="operStatusId" />
    <result column="OPER_STATUS_NAME" jdbcType="VARCHAR" property="operStatusName" />
    <result column="LAST_AUDIT_ADVICE" jdbcType="VARCHAR" property="lastAuditAdvice" />
    <result column="LAST_AUDIT_TIME" jdbcType="VARCHAR" property="lastAuditTime" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="APPLY_USER_FLOW" jdbcType="VARCHAR" property="applyUserFlow" />
    <result column="APPLY_USER_NAME" jdbcType="VARCHAR" property="applyUserName" />
    <result column="DEPT_FLOW" jdbcType="VARCHAR" property="deptFlow" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="SCORE_VALUE" jdbcType="VARCHAR" property="scoreValue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BOOK_FLOW, BOOK_NAME, ORG_BELONG_ID, ORG_BELONG_NAME, PUBLISH_ORG, PUBLISH_DATE, 
    PUB_PLACE_ID, PUB_PLACE_NAME, TYPE_ID, TYPE_NAME, CATEGORY_ID, CATEGORY_NAME, WORD_COUNT, 
    IS_TRANSLATED, PRESS_LEVEL_ID, PRESS_LEVEL_NAME, ISBN_CODE, CPT_CODE, PROJ_SOURCE_ID, 
    PROJ_SOURCE_NAME, LANGUAGE_TYPE_ID, LANGUAGE_TYPE_NAME, APPLY_ORG_FLOW, APPLY_ORG_NAME, 
    OPER_STATUS_ID, OPER_STATUS_NAME, LAST_AUDIT_ADVICE, LAST_AUDIT_TIME, REMARK, APPLY_USER_FLOW, 
    APPLY_USER_NAME, DEPT_FLOW, DEPT_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW, SCORE_VALUE
  </sql>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.FstuBookExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.FSTU_BOOK
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PDSCI.FSTU_BOOK
    where BOOK_FLOW = #{bookFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.FSTU_BOOK
    where BOOK_FLOW = #{bookFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.FstuBookExample">
    delete from PDSCI.FSTU_BOOK
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.FstuBook">
    insert into PDSCI.FSTU_BOOK (BOOK_FLOW, BOOK_NAME, ORG_BELONG_ID, 
      ORG_BELONG_NAME, PUBLISH_ORG, PUBLISH_DATE, 
      PUB_PLACE_ID, PUB_PLACE_NAME, TYPE_ID, 
      TYPE_NAME, CATEGORY_ID, CATEGORY_NAME, 
      WORD_COUNT, IS_TRANSLATED, PRESS_LEVEL_ID, 
      PRESS_LEVEL_NAME, ISBN_CODE, CPT_CODE, 
      PROJ_SOURCE_ID, PROJ_SOURCE_NAME, LANGUAGE_TYPE_ID, 
      LANGUAGE_TYPE_NAME, APPLY_ORG_FLOW, APPLY_ORG_NAME, 
      OPER_STATUS_ID, OPER_STATUS_NAME, LAST_AUDIT_ADVICE, 
      LAST_AUDIT_TIME, REMARK, APPLY_USER_FLOW, 
      APPLY_USER_NAME, DEPT_FLOW, DEPT_NAME, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, SCORE_VALUE
      )
    values (#{bookFlow,jdbcType=VARCHAR}, #{bookName,jdbcType=VARCHAR}, #{orgBelongId,jdbcType=VARCHAR}, 
      #{orgBelongName,jdbcType=VARCHAR}, #{publishOrg,jdbcType=VARCHAR}, #{publishDate,jdbcType=VARCHAR}, 
      #{pubPlaceId,jdbcType=VARCHAR}, #{pubPlaceName,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, 
      #{typeName,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}, 
      #{wordCount,jdbcType=VARCHAR}, #{isTranslated,jdbcType=VARCHAR}, #{pressLevelId,jdbcType=VARCHAR}, 
      #{pressLevelName,jdbcType=VARCHAR}, #{isbnCode,jdbcType=VARCHAR}, #{cptCode,jdbcType=VARCHAR}, 
      #{projSourceId,jdbcType=VARCHAR}, #{projSourceName,jdbcType=VARCHAR}, #{languageTypeId,jdbcType=VARCHAR}, 
      #{languageTypeName,jdbcType=VARCHAR}, #{applyOrgFlow,jdbcType=VARCHAR}, #{applyOrgName,jdbcType=VARCHAR}, 
      #{operStatusId,jdbcType=VARCHAR}, #{operStatusName,jdbcType=VARCHAR}, #{lastAuditAdvice,jdbcType=VARCHAR}, 
      #{lastAuditTime,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{applyUserFlow,jdbcType=VARCHAR}, 
      #{applyUserName,jdbcType=VARCHAR}, #{deptFlow,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{scoreValue,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.FstuBook">
    insert into PDSCI.FSTU_BOOK
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bookFlow != null">
        BOOK_FLOW,
      </if>
      <if test="bookName != null">
        BOOK_NAME,
      </if>
      <if test="orgBelongId != null">
        ORG_BELONG_ID,
      </if>
      <if test="orgBelongName != null">
        ORG_BELONG_NAME,
      </if>
      <if test="publishOrg != null">
        PUBLISH_ORG,
      </if>
      <if test="publishDate != null">
        PUBLISH_DATE,
      </if>
      <if test="pubPlaceId != null">
        PUB_PLACE_ID,
      </if>
      <if test="pubPlaceName != null">
        PUB_PLACE_NAME,
      </if>
      <if test="typeId != null">
        TYPE_ID,
      </if>
      <if test="typeName != null">
        TYPE_NAME,
      </if>
      <if test="categoryId != null">
        CATEGORY_ID,
      </if>
      <if test="categoryName != null">
        CATEGORY_NAME,
      </if>
      <if test="wordCount != null">
        WORD_COUNT,
      </if>
      <if test="isTranslated != null">
        IS_TRANSLATED,
      </if>
      <if test="pressLevelId != null">
        PRESS_LEVEL_ID,
      </if>
      <if test="pressLevelName != null">
        PRESS_LEVEL_NAME,
      </if>
      <if test="isbnCode != null">
        ISBN_CODE,
      </if>
      <if test="cptCode != null">
        CPT_CODE,
      </if>
      <if test="projSourceId != null">
        PROJ_SOURCE_ID,
      </if>
      <if test="projSourceName != null">
        PROJ_SOURCE_NAME,
      </if>
      <if test="languageTypeId != null">
        LANGUAGE_TYPE_ID,
      </if>
      <if test="languageTypeName != null">
        LANGUAGE_TYPE_NAME,
      </if>
      <if test="applyOrgFlow != null">
        APPLY_ORG_FLOW,
      </if>
      <if test="applyOrgName != null">
        APPLY_ORG_NAME,
      </if>
      <if test="operStatusId != null">
        OPER_STATUS_ID,
      </if>
      <if test="operStatusName != null">
        OPER_STATUS_NAME,
      </if>
      <if test="lastAuditAdvice != null">
        LAST_AUDIT_ADVICE,
      </if>
      <if test="lastAuditTime != null">
        LAST_AUDIT_TIME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="applyUserFlow != null">
        APPLY_USER_FLOW,
      </if>
      <if test="applyUserName != null">
        APPLY_USER_NAME,
      </if>
      <if test="deptFlow != null">
        DEPT_FLOW,
      </if>
      <if test="deptName != null">
        DEPT_NAME,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="scoreValue != null">
        SCORE_VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bookFlow != null">
        #{bookFlow,jdbcType=VARCHAR},
      </if>
      <if test="bookName != null">
        #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="orgBelongId != null">
        #{orgBelongId,jdbcType=VARCHAR},
      </if>
      <if test="orgBelongName != null">
        #{orgBelongName,jdbcType=VARCHAR},
      </if>
      <if test="publishOrg != null">
        #{publishOrg,jdbcType=VARCHAR},
      </if>
      <if test="publishDate != null">
        #{publishDate,jdbcType=VARCHAR},
      </if>
      <if test="pubPlaceId != null">
        #{pubPlaceId,jdbcType=VARCHAR},
      </if>
      <if test="pubPlaceName != null">
        #{pubPlaceName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="wordCount != null">
        #{wordCount,jdbcType=VARCHAR},
      </if>
      <if test="isTranslated != null">
        #{isTranslated,jdbcType=VARCHAR},
      </if>
      <if test="pressLevelId != null">
        #{pressLevelId,jdbcType=VARCHAR},
      </if>
      <if test="pressLevelName != null">
        #{pressLevelName,jdbcType=VARCHAR},
      </if>
      <if test="isbnCode != null">
        #{isbnCode,jdbcType=VARCHAR},
      </if>
      <if test="cptCode != null">
        #{cptCode,jdbcType=VARCHAR},
      </if>
      <if test="projSourceId != null">
        #{projSourceId,jdbcType=VARCHAR},
      </if>
      <if test="projSourceName != null">
        #{projSourceName,jdbcType=VARCHAR},
      </if>
      <if test="languageTypeId != null">
        #{languageTypeId,jdbcType=VARCHAR},
      </if>
      <if test="languageTypeName != null">
        #{languageTypeName,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgFlow != null">
        #{applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgName != null">
        #{applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="operStatusId != null">
        #{operStatusId,jdbcType=VARCHAR},
      </if>
      <if test="operStatusName != null">
        #{operStatusName,jdbcType=VARCHAR},
      </if>
      <if test="lastAuditAdvice != null">
        #{lastAuditAdvice,jdbcType=VARCHAR},
      </if>
      <if test="lastAuditTime != null">
        #{lastAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="applyUserFlow != null">
        #{applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyUserName != null">
        #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null">
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="scoreValue != null">
        #{scoreValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.FstuBookExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.FSTU_BOOK
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.FSTU_BOOK
    <set>
      <if test="record.bookFlow != null">
        BOOK_FLOW = #{record.bookFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.bookName != null">
        BOOK_NAME = #{record.bookName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgBelongId != null">
        ORG_BELONG_ID = #{record.orgBelongId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgBelongName != null">
        ORG_BELONG_NAME = #{record.orgBelongName,jdbcType=VARCHAR},
      </if>
      <if test="record.publishOrg != null">
        PUBLISH_ORG = #{record.publishOrg,jdbcType=VARCHAR},
      </if>
      <if test="record.publishDate != null">
        PUBLISH_DATE = #{record.publishDate,jdbcType=VARCHAR},
      </if>
      <if test="record.pubPlaceId != null">
        PUB_PLACE_ID = #{record.pubPlaceId,jdbcType=VARCHAR},
      </if>
      <if test="record.pubPlaceName != null">
        PUB_PLACE_NAME = #{record.pubPlaceName,jdbcType=VARCHAR},
      </if>
      <if test="record.typeId != null">
        TYPE_ID = #{record.typeId,jdbcType=VARCHAR},
      </if>
      <if test="record.typeName != null">
        TYPE_NAME = #{record.typeName,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null">
        CATEGORY_ID = #{record.categoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryName != null">
        CATEGORY_NAME = #{record.categoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.wordCount != null">
        WORD_COUNT = #{record.wordCount,jdbcType=VARCHAR},
      </if>
      <if test="record.isTranslated != null">
        IS_TRANSLATED = #{record.isTranslated,jdbcType=VARCHAR},
      </if>
      <if test="record.pressLevelId != null">
        PRESS_LEVEL_ID = #{record.pressLevelId,jdbcType=VARCHAR},
      </if>
      <if test="record.pressLevelName != null">
        PRESS_LEVEL_NAME = #{record.pressLevelName,jdbcType=VARCHAR},
      </if>
      <if test="record.isbnCode != null">
        ISBN_CODE = #{record.isbnCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cptCode != null">
        CPT_CODE = #{record.cptCode,jdbcType=VARCHAR},
      </if>
      <if test="record.projSourceId != null">
        PROJ_SOURCE_ID = #{record.projSourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.projSourceName != null">
        PROJ_SOURCE_NAME = #{record.projSourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.languageTypeId != null">
        LANGUAGE_TYPE_ID = #{record.languageTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.languageTypeName != null">
        LANGUAGE_TYPE_NAME = #{record.languageTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyOrgFlow != null">
        APPLY_ORG_FLOW = #{record.applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.applyOrgName != null">
        APPLY_ORG_NAME = #{record.applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.operStatusId != null">
        OPER_STATUS_ID = #{record.operStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.operStatusName != null">
        OPER_STATUS_NAME = #{record.operStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.lastAuditAdvice != null">
        LAST_AUDIT_ADVICE = #{record.lastAuditAdvice,jdbcType=VARCHAR},
      </if>
      <if test="record.lastAuditTime != null">
        LAST_AUDIT_TIME = #{record.lastAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserFlow != null">
        APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserName != null">
        APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null">
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null">
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreValue != null">
        SCORE_VALUE = #{record.scoreValue,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.FSTU_BOOK
    set BOOK_FLOW = #{record.bookFlow,jdbcType=VARCHAR},
      BOOK_NAME = #{record.bookName,jdbcType=VARCHAR},
      ORG_BELONG_ID = #{record.orgBelongId,jdbcType=VARCHAR},
      ORG_BELONG_NAME = #{record.orgBelongName,jdbcType=VARCHAR},
      PUBLISH_ORG = #{record.publishOrg,jdbcType=VARCHAR},
      PUBLISH_DATE = #{record.publishDate,jdbcType=VARCHAR},
      PUB_PLACE_ID = #{record.pubPlaceId,jdbcType=VARCHAR},
      PUB_PLACE_NAME = #{record.pubPlaceName,jdbcType=VARCHAR},
      TYPE_ID = #{record.typeId,jdbcType=VARCHAR},
      TYPE_NAME = #{record.typeName,jdbcType=VARCHAR},
      CATEGORY_ID = #{record.categoryId,jdbcType=VARCHAR},
      CATEGORY_NAME = #{record.categoryName,jdbcType=VARCHAR},
      WORD_COUNT = #{record.wordCount,jdbcType=VARCHAR},
      IS_TRANSLATED = #{record.isTranslated,jdbcType=VARCHAR},
      PRESS_LEVEL_ID = #{record.pressLevelId,jdbcType=VARCHAR},
      PRESS_LEVEL_NAME = #{record.pressLevelName,jdbcType=VARCHAR},
      ISBN_CODE = #{record.isbnCode,jdbcType=VARCHAR},
      CPT_CODE = #{record.cptCode,jdbcType=VARCHAR},
      PROJ_SOURCE_ID = #{record.projSourceId,jdbcType=VARCHAR},
      PROJ_SOURCE_NAME = #{record.projSourceName,jdbcType=VARCHAR},
      LANGUAGE_TYPE_ID = #{record.languageTypeId,jdbcType=VARCHAR},
      LANGUAGE_TYPE_NAME = #{record.languageTypeName,jdbcType=VARCHAR},
      APPLY_ORG_FLOW = #{record.applyOrgFlow,jdbcType=VARCHAR},
      APPLY_ORG_NAME = #{record.applyOrgName,jdbcType=VARCHAR},
      OPER_STATUS_ID = #{record.operStatusId,jdbcType=VARCHAR},
      OPER_STATUS_NAME = #{record.operStatusName,jdbcType=VARCHAR},
      LAST_AUDIT_ADVICE = #{record.lastAuditAdvice,jdbcType=VARCHAR},
      LAST_AUDIT_TIME = #{record.lastAuditTime,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      SCORE_VALUE = #{record.scoreValue,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.FstuBook">
    update PDSCI.FSTU_BOOK
    <set>
      <if test="bookName != null">
        BOOK_NAME = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="orgBelongId != null">
        ORG_BELONG_ID = #{orgBelongId,jdbcType=VARCHAR},
      </if>
      <if test="orgBelongName != null">
        ORG_BELONG_NAME = #{orgBelongName,jdbcType=VARCHAR},
      </if>
      <if test="publishOrg != null">
        PUBLISH_ORG = #{publishOrg,jdbcType=VARCHAR},
      </if>
      <if test="publishDate != null">
        PUBLISH_DATE = #{publishDate,jdbcType=VARCHAR},
      </if>
      <if test="pubPlaceId != null">
        PUB_PLACE_ID = #{pubPlaceId,jdbcType=VARCHAR},
      </if>
      <if test="pubPlaceName != null">
        PUB_PLACE_NAME = #{pubPlaceName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        TYPE_ID = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        CATEGORY_ID = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        CATEGORY_NAME = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="wordCount != null">
        WORD_COUNT = #{wordCount,jdbcType=VARCHAR},
      </if>
      <if test="isTranslated != null">
        IS_TRANSLATED = #{isTranslated,jdbcType=VARCHAR},
      </if>
      <if test="pressLevelId != null">
        PRESS_LEVEL_ID = #{pressLevelId,jdbcType=VARCHAR},
      </if>
      <if test="pressLevelName != null">
        PRESS_LEVEL_NAME = #{pressLevelName,jdbcType=VARCHAR},
      </if>
      <if test="isbnCode != null">
        ISBN_CODE = #{isbnCode,jdbcType=VARCHAR},
      </if>
      <if test="cptCode != null">
        CPT_CODE = #{cptCode,jdbcType=VARCHAR},
      </if>
      <if test="projSourceId != null">
        PROJ_SOURCE_ID = #{projSourceId,jdbcType=VARCHAR},
      </if>
      <if test="projSourceName != null">
        PROJ_SOURCE_NAME = #{projSourceName,jdbcType=VARCHAR},
      </if>
      <if test="languageTypeId != null">
        LANGUAGE_TYPE_ID = #{languageTypeId,jdbcType=VARCHAR},
      </if>
      <if test="languageTypeName != null">
        LANGUAGE_TYPE_NAME = #{languageTypeName,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgFlow != null">
        APPLY_ORG_FLOW = #{applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgName != null">
        APPLY_ORG_NAME = #{applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="operStatusId != null">
        OPER_STATUS_ID = #{operStatusId,jdbcType=VARCHAR},
      </if>
      <if test="operStatusName != null">
        OPER_STATUS_NAME = #{operStatusName,jdbcType=VARCHAR},
      </if>
      <if test="lastAuditAdvice != null">
        LAST_AUDIT_ADVICE = #{lastAuditAdvice,jdbcType=VARCHAR},
      </if>
      <if test="lastAuditTime != null">
        LAST_AUDIT_TIME = #{lastAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="applyUserFlow != null">
        APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyUserName != null">
        APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null">
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="scoreValue != null">
        SCORE_VALUE = #{scoreValue,jdbcType=VARCHAR},
      </if>
    </set>
    where BOOK_FLOW = #{bookFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.FstuBook">
    update PDSCI.FSTU_BOOK
    set BOOK_NAME = #{bookName,jdbcType=VARCHAR},
      ORG_BELONG_ID = #{orgBelongId,jdbcType=VARCHAR},
      ORG_BELONG_NAME = #{orgBelongName,jdbcType=VARCHAR},
      PUBLISH_ORG = #{publishOrg,jdbcType=VARCHAR},
      PUBLISH_DATE = #{publishDate,jdbcType=VARCHAR},
      PUB_PLACE_ID = #{pubPlaceId,jdbcType=VARCHAR},
      PUB_PLACE_NAME = #{pubPlaceName,jdbcType=VARCHAR},
      TYPE_ID = #{typeId,jdbcType=VARCHAR},
      TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      CATEGORY_ID = #{categoryId,jdbcType=VARCHAR},
      CATEGORY_NAME = #{categoryName,jdbcType=VARCHAR},
      WORD_COUNT = #{wordCount,jdbcType=VARCHAR},
      IS_TRANSLATED = #{isTranslated,jdbcType=VARCHAR},
      PRESS_LEVEL_ID = #{pressLevelId,jdbcType=VARCHAR},
      PRESS_LEVEL_NAME = #{pressLevelName,jdbcType=VARCHAR},
      ISBN_CODE = #{isbnCode,jdbcType=VARCHAR},
      CPT_CODE = #{cptCode,jdbcType=VARCHAR},
      PROJ_SOURCE_ID = #{projSourceId,jdbcType=VARCHAR},
      PROJ_SOURCE_NAME = #{projSourceName,jdbcType=VARCHAR},
      LANGUAGE_TYPE_ID = #{languageTypeId,jdbcType=VARCHAR},
      LANGUAGE_TYPE_NAME = #{languageTypeName,jdbcType=VARCHAR},
      APPLY_ORG_FLOW = #{applyOrgFlow,jdbcType=VARCHAR},
      APPLY_ORG_NAME = #{applyOrgName,jdbcType=VARCHAR},
      OPER_STATUS_ID = #{operStatusId,jdbcType=VARCHAR},
      OPER_STATUS_NAME = #{operStatusName,jdbcType=VARCHAR},
      LAST_AUDIT_ADVICE = #{lastAuditAdvice,jdbcType=VARCHAR},
      LAST_AUDIT_TIME = #{lastAuditTime,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      SCORE_VALUE = #{scoreValue,jdbcType=VARCHAR}
    where BOOK_FLOW = #{bookFlow,jdbcType=VARCHAR}
  </update>
</mapper>