<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.FstuPatentMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.FstuPatent">
    <id column="PATENT_FLOW" jdbcType="VARCHAR" property="patentFlow" />
    <result column="PATENT_NAME" jdbcType="VARCHAR" property="patentName" />
    <result column="ORG_BELONG_ID" jdbcType="VARCHAR" property="orgBelongId" />
    <result column="ORG_BELONG_NAME" jdbcType="VARCHAR" property="orgBelongName" />
    <result column="ACH_TYPE_ID" jdbcType="VARCHAR" property="achTypeId" />
    <result column="ACH_TYPE_NAME" jdbcType="VARCHAR" property="achTypeName" />
    <result column="PRIZED_DATE" jdbcType="VARCHAR" property="prizedDate" />
    <result column="PRIZED_GRADE_ID" jdbcType="VARCHAR" property="prizedGradeId" />
    <result column="PRIZED_GRADE_NAME" jdbcType="VARCHAR" property="prizedGradeName" />
    <result column="PRIZED_LEVEL_ID" jdbcType="VARCHAR" property="prizedLevelId" />
    <result column="PRIZED_LEVEL_NAME" jdbcType="VARCHAR" property="prizedLevelName" />
    <result column="CATEGORY_ID" jdbcType="VARCHAR" property="categoryId" />
    <result column="CATEGORY_NAME" jdbcType="VARCHAR" property="categoryName" />
    <result column="APPROVAL_CODE" jdbcType="VARCHAR" property="approvalCode" />
    <result column="PROJ_SOURCE_ID" jdbcType="VARCHAR" property="projSourceId" />
    <result column="PROJ_SOURCE_NAME" jdbcType="VARCHAR" property="projSourceName" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="OPER_STATUS_ID" jdbcType="VARCHAR" property="operStatusId" />
    <result column="OPER_STATUS_NAME" jdbcType="VARCHAR" property="operStatusName" />
    <result column="LAST_AUDIT_ADVICE" jdbcType="VARCHAR" property="lastAuditAdvice" />
    <result column="LAST_AUDIT_TIME" jdbcType="VARCHAR" property="lastAuditTime" />
    <result column="APPLY_USER_FLOW" jdbcType="VARCHAR" property="applyUserFlow" />
    <result column="APPLY_USER_NAME" jdbcType="VARCHAR" property="applyUserName" />
    <result column="APPLY_ORG_FLOW" jdbcType="VARCHAR" property="applyOrgFlow" />
    <result column="APPLY_ORG_NAME" jdbcType="VARCHAR" property="applyOrgName" />
    <result column="DEPT_FLOW" jdbcType="VARCHAR" property="deptFlow" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="PROJ_TYPE_ID" jdbcType="VARCHAR" property="projTypeId" />
    <result column="PROJ_TYPE_NAME" jdbcType="VARCHAR" property="projTypeName" />
    <result column="PATENT_CHANGE_MAN" jdbcType="VARCHAR" property="patentChangeMan" />
    <result column="PATENT_DEPT_NAME" jdbcType="VARCHAR" property="patentDeptName" />
    <result column="PATENT_LEVEL_ID" jdbcType="VARCHAR" property="patentLevelId" />
    <result column="PATENT_LEVEL_NAME" jdbcType="VARCHAR" property="patentLevelName" />
    <result column="PRIZED_END_DATE" jdbcType="VARCHAR" property="prizedEndDate" />
    <result column="SCORE_VALUE" jdbcType="VARCHAR" property="scoreValue" />
    <result column="BRIEF_INTRODUCTION" jdbcType="VARCHAR" property="briefIntroduction" />
    <result column="PATENT_STATUS_ID" jdbcType="VARCHAR" property="patentStatusId" />
    <result column="PATENT_STATUS_NAME" jdbcType="VARCHAR" property="patentStatusName" />
    <result column="PRIZED_START_DATE" jdbcType="VARCHAR" property="prizedStartDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PATENT_FLOW, PATENT_NAME, ORG_BELONG_ID, ORG_BELONG_NAME, ACH_TYPE_ID, ACH_TYPE_NAME, 
    PRIZED_DATE, PRIZED_GRADE_ID, PRIZED_GRADE_NAME, PRIZED_LEVEL_ID, PRIZED_LEVEL_NAME, 
    CATEGORY_ID, CATEGORY_NAME, APPROVAL_CODE, PROJ_SOURCE_ID, PROJ_SOURCE_NAME, REMARK, 
    OPER_STATUS_ID, OPER_STATUS_NAME, LAST_AUDIT_ADVICE, LAST_AUDIT_TIME, APPLY_USER_FLOW, 
    APPLY_USER_NAME, APPLY_ORG_FLOW, APPLY_ORG_NAME, DEPT_FLOW, DEPT_NAME, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, PROJ_TYPE_ID, PROJ_TYPE_NAME, 
    PATENT_CHANGE_MAN, PATENT_DEPT_NAME, PATENT_LEVEL_ID, PATENT_LEVEL_NAME, PRIZED_END_DATE, 
    SCORE_VALUE, BRIEF_INTRODUCTION, PATENT_STATUS_ID, PATENT_STATUS_NAME, PRIZED_START_DATE
  </sql>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.FstuPatentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.FSTU_PATENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PDSCI.FSTU_PATENT
    where PATENT_FLOW = #{patentFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.FSTU_PATENT
    where PATENT_FLOW = #{patentFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.FstuPatentExample">
    delete from PDSCI.FSTU_PATENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.FstuPatent">
    insert into PDSCI.FSTU_PATENT (PATENT_FLOW, PATENT_NAME, ORG_BELONG_ID, 
      ORG_BELONG_NAME, ACH_TYPE_ID, ACH_TYPE_NAME, 
      PRIZED_DATE, PRIZED_GRADE_ID, PRIZED_GRADE_NAME, 
      PRIZED_LEVEL_ID, PRIZED_LEVEL_NAME, CATEGORY_ID, 
      CATEGORY_NAME, APPROVAL_CODE, PROJ_SOURCE_ID, 
      PROJ_SOURCE_NAME, REMARK, OPER_STATUS_ID, 
      OPER_STATUS_NAME, LAST_AUDIT_ADVICE, LAST_AUDIT_TIME, 
      APPLY_USER_FLOW, APPLY_USER_NAME, APPLY_ORG_FLOW, 
      APPLY_ORG_NAME, DEPT_FLOW, DEPT_NAME, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, PROJ_TYPE_ID, 
      PROJ_TYPE_NAME, PATENT_CHANGE_MAN, PATENT_DEPT_NAME, 
      PATENT_LEVEL_ID, PATENT_LEVEL_NAME, PRIZED_END_DATE, 
      SCORE_VALUE, BRIEF_INTRODUCTION, PATENT_STATUS_ID, 
      PATENT_STATUS_NAME, PRIZED_START_DATE)
    values (#{patentFlow,jdbcType=VARCHAR}, #{patentName,jdbcType=VARCHAR}, #{orgBelongId,jdbcType=VARCHAR}, 
      #{orgBelongName,jdbcType=VARCHAR}, #{achTypeId,jdbcType=VARCHAR}, #{achTypeName,jdbcType=VARCHAR}, 
      #{prizedDate,jdbcType=VARCHAR}, #{prizedGradeId,jdbcType=VARCHAR}, #{prizedGradeName,jdbcType=VARCHAR}, 
      #{prizedLevelId,jdbcType=VARCHAR}, #{prizedLevelName,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR}, 
      #{categoryName,jdbcType=VARCHAR}, #{approvalCode,jdbcType=VARCHAR}, #{projSourceId,jdbcType=VARCHAR}, 
      #{projSourceName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{operStatusId,jdbcType=VARCHAR}, 
      #{operStatusName,jdbcType=VARCHAR}, #{lastAuditAdvice,jdbcType=VARCHAR}, #{lastAuditTime,jdbcType=VARCHAR}, 
      #{applyUserFlow,jdbcType=VARCHAR}, #{applyUserName,jdbcType=VARCHAR}, #{applyOrgFlow,jdbcType=VARCHAR}, 
      #{applyOrgName,jdbcType=VARCHAR}, #{deptFlow,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{projTypeId,jdbcType=VARCHAR}, 
      #{projTypeName,jdbcType=VARCHAR}, #{patentChangeMan,jdbcType=VARCHAR}, #{patentDeptName,jdbcType=VARCHAR}, 
      #{patentLevelId,jdbcType=VARCHAR}, #{patentLevelName,jdbcType=VARCHAR}, #{prizedEndDate,jdbcType=VARCHAR}, 
      #{scoreValue,jdbcType=VARCHAR}, #{briefIntroduction,jdbcType=VARCHAR}, #{patentStatusId,jdbcType=VARCHAR}, 
      #{patentStatusName,jdbcType=VARCHAR}, #{prizedStartDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.FstuPatent">
    insert into PDSCI.FSTU_PATENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="patentFlow != null">
        PATENT_FLOW,
      </if>
      <if test="patentName != null">
        PATENT_NAME,
      </if>
      <if test="orgBelongId != null">
        ORG_BELONG_ID,
      </if>
      <if test="orgBelongName != null">
        ORG_BELONG_NAME,
      </if>
      <if test="achTypeId != null">
        ACH_TYPE_ID,
      </if>
      <if test="achTypeName != null">
        ACH_TYPE_NAME,
      </if>
      <if test="prizedDate != null">
        PRIZED_DATE,
      </if>
      <if test="prizedGradeId != null">
        PRIZED_GRADE_ID,
      </if>
      <if test="prizedGradeName != null">
        PRIZED_GRADE_NAME,
      </if>
      <if test="prizedLevelId != null">
        PRIZED_LEVEL_ID,
      </if>
      <if test="prizedLevelName != null">
        PRIZED_LEVEL_NAME,
      </if>
      <if test="categoryId != null">
        CATEGORY_ID,
      </if>
      <if test="categoryName != null">
        CATEGORY_NAME,
      </if>
      <if test="approvalCode != null">
        APPROVAL_CODE,
      </if>
      <if test="projSourceId != null">
        PROJ_SOURCE_ID,
      </if>
      <if test="projSourceName != null">
        PROJ_SOURCE_NAME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="operStatusId != null">
        OPER_STATUS_ID,
      </if>
      <if test="operStatusName != null">
        OPER_STATUS_NAME,
      </if>
      <if test="lastAuditAdvice != null">
        LAST_AUDIT_ADVICE,
      </if>
      <if test="lastAuditTime != null">
        LAST_AUDIT_TIME,
      </if>
      <if test="applyUserFlow != null">
        APPLY_USER_FLOW,
      </if>
      <if test="applyUserName != null">
        APPLY_USER_NAME,
      </if>
      <if test="applyOrgFlow != null">
        APPLY_ORG_FLOW,
      </if>
      <if test="applyOrgName != null">
        APPLY_ORG_NAME,
      </if>
      <if test="deptFlow != null">
        DEPT_FLOW,
      </if>
      <if test="deptName != null">
        DEPT_NAME,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="projTypeId != null">
        PROJ_TYPE_ID,
      </if>
      <if test="projTypeName != null">
        PROJ_TYPE_NAME,
      </if>
      <if test="patentChangeMan != null">
        PATENT_CHANGE_MAN,
      </if>
      <if test="patentDeptName != null">
        PATENT_DEPT_NAME,
      </if>
      <if test="patentLevelId != null">
        PATENT_LEVEL_ID,
      </if>
      <if test="patentLevelName != null">
        PATENT_LEVEL_NAME,
      </if>
      <if test="prizedEndDate != null">
        PRIZED_END_DATE,
      </if>
      <if test="scoreValue != null">
        SCORE_VALUE,
      </if>
      <if test="briefIntroduction != null">
        BRIEF_INTRODUCTION,
      </if>
      <if test="patentStatusId != null">
        PATENT_STATUS_ID,
      </if>
      <if test="patentStatusName != null">
        PATENT_STATUS_NAME,
      </if>
      <if test="prizedStartDate != null">
        PRIZED_START_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="patentFlow != null">
        #{patentFlow,jdbcType=VARCHAR},
      </if>
      <if test="patentName != null">
        #{patentName,jdbcType=VARCHAR},
      </if>
      <if test="orgBelongId != null">
        #{orgBelongId,jdbcType=VARCHAR},
      </if>
      <if test="orgBelongName != null">
        #{orgBelongName,jdbcType=VARCHAR},
      </if>
      <if test="achTypeId != null">
        #{achTypeId,jdbcType=VARCHAR},
      </if>
      <if test="achTypeName != null">
        #{achTypeName,jdbcType=VARCHAR},
      </if>
      <if test="prizedDate != null">
        #{prizedDate,jdbcType=VARCHAR},
      </if>
      <if test="prizedGradeId != null">
        #{prizedGradeId,jdbcType=VARCHAR},
      </if>
      <if test="prizedGradeName != null">
        #{prizedGradeName,jdbcType=VARCHAR},
      </if>
      <if test="prizedLevelId != null">
        #{prizedLevelId,jdbcType=VARCHAR},
      </if>
      <if test="prizedLevelName != null">
        #{prizedLevelName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="approvalCode != null">
        #{approvalCode,jdbcType=VARCHAR},
      </if>
      <if test="projSourceId != null">
        #{projSourceId,jdbcType=VARCHAR},
      </if>
      <if test="projSourceName != null">
        #{projSourceName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operStatusId != null">
        #{operStatusId,jdbcType=VARCHAR},
      </if>
      <if test="operStatusName != null">
        #{operStatusName,jdbcType=VARCHAR},
      </if>
      <if test="lastAuditAdvice != null">
        #{lastAuditAdvice,jdbcType=VARCHAR},
      </if>
      <if test="lastAuditTime != null">
        #{lastAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="applyUserFlow != null">
        #{applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyUserName != null">
        #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgFlow != null">
        #{applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgName != null">
        #{applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null">
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="projTypeId != null">
        #{projTypeId,jdbcType=VARCHAR},
      </if>
      <if test="projTypeName != null">
        #{projTypeName,jdbcType=VARCHAR},
      </if>
      <if test="patentChangeMan != null">
        #{patentChangeMan,jdbcType=VARCHAR},
      </if>
      <if test="patentDeptName != null">
        #{patentDeptName,jdbcType=VARCHAR},
      </if>
      <if test="patentLevelId != null">
        #{patentLevelId,jdbcType=VARCHAR},
      </if>
      <if test="patentLevelName != null">
        #{patentLevelName,jdbcType=VARCHAR},
      </if>
      <if test="prizedEndDate != null">
        #{prizedEndDate,jdbcType=VARCHAR},
      </if>
      <if test="scoreValue != null">
        #{scoreValue,jdbcType=VARCHAR},
      </if>
      <if test="briefIntroduction != null">
        #{briefIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="patentStatusId != null">
        #{patentStatusId,jdbcType=VARCHAR},
      </if>
      <if test="patentStatusName != null">
        #{patentStatusName,jdbcType=VARCHAR},
      </if>
      <if test="prizedStartDate != null">
        #{prizedStartDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.FstuPatentExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.FSTU_PATENT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.FSTU_PATENT
    <set>
      <if test="record.patentFlow != null">
        PATENT_FLOW = #{record.patentFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.patentName != null">
        PATENT_NAME = #{record.patentName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgBelongId != null">
        ORG_BELONG_ID = #{record.orgBelongId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgBelongName != null">
        ORG_BELONG_NAME = #{record.orgBelongName,jdbcType=VARCHAR},
      </if>
      <if test="record.achTypeId != null">
        ACH_TYPE_ID = #{record.achTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.achTypeName != null">
        ACH_TYPE_NAME = #{record.achTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.prizedDate != null">
        PRIZED_DATE = #{record.prizedDate,jdbcType=VARCHAR},
      </if>
      <if test="record.prizedGradeId != null">
        PRIZED_GRADE_ID = #{record.prizedGradeId,jdbcType=VARCHAR},
      </if>
      <if test="record.prizedGradeName != null">
        PRIZED_GRADE_NAME = #{record.prizedGradeName,jdbcType=VARCHAR},
      </if>
      <if test="record.prizedLevelId != null">
        PRIZED_LEVEL_ID = #{record.prizedLevelId,jdbcType=VARCHAR},
      </if>
      <if test="record.prizedLevelName != null">
        PRIZED_LEVEL_NAME = #{record.prizedLevelName,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null">
        CATEGORY_ID = #{record.categoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryName != null">
        CATEGORY_NAME = #{record.categoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.approvalCode != null">
        APPROVAL_CODE = #{record.approvalCode,jdbcType=VARCHAR},
      </if>
      <if test="record.projSourceId != null">
        PROJ_SOURCE_ID = #{record.projSourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.projSourceName != null">
        PROJ_SOURCE_NAME = #{record.projSourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.operStatusId != null">
        OPER_STATUS_ID = #{record.operStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.operStatusName != null">
        OPER_STATUS_NAME = #{record.operStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.lastAuditAdvice != null">
        LAST_AUDIT_ADVICE = #{record.lastAuditAdvice,jdbcType=VARCHAR},
      </if>
      <if test="record.lastAuditTime != null">
        LAST_AUDIT_TIME = #{record.lastAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserFlow != null">
        APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserName != null">
        APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyOrgFlow != null">
        APPLY_ORG_FLOW = #{record.applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.applyOrgName != null">
        APPLY_ORG_NAME = #{record.applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null">
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null">
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projTypeId != null">
        PROJ_TYPE_ID = #{record.projTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.projTypeName != null">
        PROJ_TYPE_NAME = #{record.projTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.patentChangeMan != null">
        PATENT_CHANGE_MAN = #{record.patentChangeMan,jdbcType=VARCHAR},
      </if>
      <if test="record.patentDeptName != null">
        PATENT_DEPT_NAME = #{record.patentDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.patentLevelId != null">
        PATENT_LEVEL_ID = #{record.patentLevelId,jdbcType=VARCHAR},
      </if>
      <if test="record.patentLevelName != null">
        PATENT_LEVEL_NAME = #{record.patentLevelName,jdbcType=VARCHAR},
      </if>
      <if test="record.prizedEndDate != null">
        PRIZED_END_DATE = #{record.prizedEndDate,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreValue != null">
        SCORE_VALUE = #{record.scoreValue,jdbcType=VARCHAR},
      </if>
      <if test="record.briefIntroduction != null">
        BRIEF_INTRODUCTION = #{record.briefIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.patentStatusId != null">
        PATENT_STATUS_ID = #{record.patentStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.patentStatusName != null">
        PATENT_STATUS_NAME = #{record.patentStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.prizedStartDate != null">
        PRIZED_START_DATE = #{record.prizedStartDate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.FSTU_PATENT
    set PATENT_FLOW = #{record.patentFlow,jdbcType=VARCHAR},
      PATENT_NAME = #{record.patentName,jdbcType=VARCHAR},
      ORG_BELONG_ID = #{record.orgBelongId,jdbcType=VARCHAR},
      ORG_BELONG_NAME = #{record.orgBelongName,jdbcType=VARCHAR},
      ACH_TYPE_ID = #{record.achTypeId,jdbcType=VARCHAR},
      ACH_TYPE_NAME = #{record.achTypeName,jdbcType=VARCHAR},
      PRIZED_DATE = #{record.prizedDate,jdbcType=VARCHAR},
      PRIZED_GRADE_ID = #{record.prizedGradeId,jdbcType=VARCHAR},
      PRIZED_GRADE_NAME = #{record.prizedGradeName,jdbcType=VARCHAR},
      PRIZED_LEVEL_ID = #{record.prizedLevelId,jdbcType=VARCHAR},
      PRIZED_LEVEL_NAME = #{record.prizedLevelName,jdbcType=VARCHAR},
      CATEGORY_ID = #{record.categoryId,jdbcType=VARCHAR},
      CATEGORY_NAME = #{record.categoryName,jdbcType=VARCHAR},
      APPROVAL_CODE = #{record.approvalCode,jdbcType=VARCHAR},
      PROJ_SOURCE_ID = #{record.projSourceId,jdbcType=VARCHAR},
      PROJ_SOURCE_NAME = #{record.projSourceName,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      OPER_STATUS_ID = #{record.operStatusId,jdbcType=VARCHAR},
      OPER_STATUS_NAME = #{record.operStatusName,jdbcType=VARCHAR},
      LAST_AUDIT_ADVICE = #{record.lastAuditAdvice,jdbcType=VARCHAR},
      LAST_AUDIT_TIME = #{record.lastAuditTime,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      APPLY_ORG_FLOW = #{record.applyOrgFlow,jdbcType=VARCHAR},
      APPLY_ORG_NAME = #{record.applyOrgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      PROJ_TYPE_ID = #{record.projTypeId,jdbcType=VARCHAR},
      PROJ_TYPE_NAME = #{record.projTypeName,jdbcType=VARCHAR},
      PATENT_CHANGE_MAN = #{record.patentChangeMan,jdbcType=VARCHAR},
      PATENT_DEPT_NAME = #{record.patentDeptName,jdbcType=VARCHAR},
      PATENT_LEVEL_ID = #{record.patentLevelId,jdbcType=VARCHAR},
      PATENT_LEVEL_NAME = #{record.patentLevelName,jdbcType=VARCHAR},
      PRIZED_END_DATE = #{record.prizedEndDate,jdbcType=VARCHAR},
      SCORE_VALUE = #{record.scoreValue,jdbcType=VARCHAR},
      BRIEF_INTRODUCTION = #{record.briefIntroduction,jdbcType=VARCHAR},
      PATENT_STATUS_ID = #{record.patentStatusId,jdbcType=VARCHAR},
      PATENT_STATUS_NAME = #{record.patentStatusName,jdbcType=VARCHAR},
      PRIZED_START_DATE = #{record.prizedStartDate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.FstuPatent">
    update PDSCI.FSTU_PATENT
    <set>
      <if test="patentName != null">
        PATENT_NAME = #{patentName,jdbcType=VARCHAR},
      </if>
      <if test="orgBelongId != null">
        ORG_BELONG_ID = #{orgBelongId,jdbcType=VARCHAR},
      </if>
      <if test="orgBelongName != null">
        ORG_BELONG_NAME = #{orgBelongName,jdbcType=VARCHAR},
      </if>
      <if test="achTypeId != null">
        ACH_TYPE_ID = #{achTypeId,jdbcType=VARCHAR},
      </if>
      <if test="achTypeName != null">
        ACH_TYPE_NAME = #{achTypeName,jdbcType=VARCHAR},
      </if>
      <if test="prizedDate != null">
        PRIZED_DATE = #{prizedDate,jdbcType=VARCHAR},
      </if>
      <if test="prizedGradeId != null">
        PRIZED_GRADE_ID = #{prizedGradeId,jdbcType=VARCHAR},
      </if>
      <if test="prizedGradeName != null">
        PRIZED_GRADE_NAME = #{prizedGradeName,jdbcType=VARCHAR},
      </if>
      <if test="prizedLevelId != null">
        PRIZED_LEVEL_ID = #{prizedLevelId,jdbcType=VARCHAR},
      </if>
      <if test="prizedLevelName != null">
        PRIZED_LEVEL_NAME = #{prizedLevelName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        CATEGORY_ID = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        CATEGORY_NAME = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="approvalCode != null">
        APPROVAL_CODE = #{approvalCode,jdbcType=VARCHAR},
      </if>
      <if test="projSourceId != null">
        PROJ_SOURCE_ID = #{projSourceId,jdbcType=VARCHAR},
      </if>
      <if test="projSourceName != null">
        PROJ_SOURCE_NAME = #{projSourceName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="operStatusId != null">
        OPER_STATUS_ID = #{operStatusId,jdbcType=VARCHAR},
      </if>
      <if test="operStatusName != null">
        OPER_STATUS_NAME = #{operStatusName,jdbcType=VARCHAR},
      </if>
      <if test="lastAuditAdvice != null">
        LAST_AUDIT_ADVICE = #{lastAuditAdvice,jdbcType=VARCHAR},
      </if>
      <if test="lastAuditTime != null">
        LAST_AUDIT_TIME = #{lastAuditTime,jdbcType=VARCHAR},
      </if>
      <if test="applyUserFlow != null">
        APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyUserName != null">
        APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgFlow != null">
        APPLY_ORG_FLOW = #{applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgName != null">
        APPLY_ORG_NAME = #{applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null">
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="projTypeId != null">
        PROJ_TYPE_ID = #{projTypeId,jdbcType=VARCHAR},
      </if>
      <if test="projTypeName != null">
        PROJ_TYPE_NAME = #{projTypeName,jdbcType=VARCHAR},
      </if>
      <if test="patentChangeMan != null">
        PATENT_CHANGE_MAN = #{patentChangeMan,jdbcType=VARCHAR},
      </if>
      <if test="patentDeptName != null">
        PATENT_DEPT_NAME = #{patentDeptName,jdbcType=VARCHAR},
      </if>
      <if test="patentLevelId != null">
        PATENT_LEVEL_ID = #{patentLevelId,jdbcType=VARCHAR},
      </if>
      <if test="patentLevelName != null">
        PATENT_LEVEL_NAME = #{patentLevelName,jdbcType=VARCHAR},
      </if>
      <if test="prizedEndDate != null">
        PRIZED_END_DATE = #{prizedEndDate,jdbcType=VARCHAR},
      </if>
      <if test="scoreValue != null">
        SCORE_VALUE = #{scoreValue,jdbcType=VARCHAR},
      </if>
      <if test="briefIntroduction != null">
        BRIEF_INTRODUCTION = #{briefIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="patentStatusId != null">
        PATENT_STATUS_ID = #{patentStatusId,jdbcType=VARCHAR},
      </if>
      <if test="patentStatusName != null">
        PATENT_STATUS_NAME = #{patentStatusName,jdbcType=VARCHAR},
      </if>
      <if test="prizedStartDate != null">
        PRIZED_START_DATE = #{prizedStartDate,jdbcType=VARCHAR},
      </if>
    </set>
    where PATENT_FLOW = #{patentFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.FstuPatent">
    update PDSCI.FSTU_PATENT
    set PATENT_NAME = #{patentName,jdbcType=VARCHAR},
      ORG_BELONG_ID = #{orgBelongId,jdbcType=VARCHAR},
      ORG_BELONG_NAME = #{orgBelongName,jdbcType=VARCHAR},
      ACH_TYPE_ID = #{achTypeId,jdbcType=VARCHAR},
      ACH_TYPE_NAME = #{achTypeName,jdbcType=VARCHAR},
      PRIZED_DATE = #{prizedDate,jdbcType=VARCHAR},
      PRIZED_GRADE_ID = #{prizedGradeId,jdbcType=VARCHAR},
      PRIZED_GRADE_NAME = #{prizedGradeName,jdbcType=VARCHAR},
      PRIZED_LEVEL_ID = #{prizedLevelId,jdbcType=VARCHAR},
      PRIZED_LEVEL_NAME = #{prizedLevelName,jdbcType=VARCHAR},
      CATEGORY_ID = #{categoryId,jdbcType=VARCHAR},
      CATEGORY_NAME = #{categoryName,jdbcType=VARCHAR},
      APPROVAL_CODE = #{approvalCode,jdbcType=VARCHAR},
      PROJ_SOURCE_ID = #{projSourceId,jdbcType=VARCHAR},
      PROJ_SOURCE_NAME = #{projSourceName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      OPER_STATUS_ID = #{operStatusId,jdbcType=VARCHAR},
      OPER_STATUS_NAME = #{operStatusName,jdbcType=VARCHAR},
      LAST_AUDIT_ADVICE = #{lastAuditAdvice,jdbcType=VARCHAR},
      LAST_AUDIT_TIME = #{lastAuditTime,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      APPLY_ORG_FLOW = #{applyOrgFlow,jdbcType=VARCHAR},
      APPLY_ORG_NAME = #{applyOrgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      PROJ_TYPE_ID = #{projTypeId,jdbcType=VARCHAR},
      PROJ_TYPE_NAME = #{projTypeName,jdbcType=VARCHAR},
      PATENT_CHANGE_MAN = #{patentChangeMan,jdbcType=VARCHAR},
      PATENT_DEPT_NAME = #{patentDeptName,jdbcType=VARCHAR},
      PATENT_LEVEL_ID = #{patentLevelId,jdbcType=VARCHAR},
      PATENT_LEVEL_NAME = #{patentLevelName,jdbcType=VARCHAR},
      PRIZED_END_DATE = #{prizedEndDate,jdbcType=VARCHAR},
      SCORE_VALUE = #{scoreValue,jdbcType=VARCHAR},
      BRIEF_INTRODUCTION = #{briefIntroduction,jdbcType=VARCHAR},
      PATENT_STATUS_ID = #{patentStatusId,jdbcType=VARCHAR},
      PATENT_STATUS_NAME = #{patentStatusName,jdbcType=VARCHAR},
      PRIZED_START_DATE = #{prizedStartDate,jdbcType=VARCHAR}
    where PATENT_FLOW = #{patentFlow,jdbcType=VARCHAR}
  </update>
</mapper>