<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.FstuPatentAuthorMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.FstuPatentAuthor">
    <id column="AUTHOR_FLOW" jdbcType="VARCHAR" property="authorFlow" />
    <result column="PATENT_FLOW" jdbcType="VARCHAR" property="patentFlow" />
    <result column="AUTHOR_NAME" jdbcType="VARCHAR" property="authorName" />
    <result column="TYPE_ID" jdbcType="VARCHAR" property="typeId" />
    <result column="TYPE_NAME" jdbcType="VARCHAR" property="typeName" />
    <result column="SEX_ID" jdbcType="VARCHAR" property="sexId" />
    <result column="SEX_NAME" jdbcType="VARCHAR" property="sexName" />
    <result column="TITLE_ID" jdbcType="VARCHAR" property="titleId" />
    <result column="TITLE_NAME" jdbcType="VARCHAR" property="titleName" />
    <result column="DEGREE_ID" jdbcType="VARCHAR" property="degreeId" />
    <result column="DEGREE_NAME" jdbcType="VARCHAR" property="degreeName" />
    <result column="EDUCATION_ID" jdbcType="VARCHAR" property="educationId" />
    <result column="EDUCATION_NAME" jdbcType="VARCHAR" property="educationName" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    AUTHOR_FLOW, PATENT_FLOW, AUTHOR_NAME, TYPE_ID, TYPE_NAME, SEX_ID, SEX_NAME, TITLE_ID, 
    TITLE_NAME, DEGREE_ID, DEGREE_NAME, EDUCATION_ID, EDUCATION_NAME, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.FstuPatentAuthorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.FSTU_PATENT_AUTHOR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PDSCI.FSTU_PATENT_AUTHOR
    where AUTHOR_FLOW = #{authorFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.FSTU_PATENT_AUTHOR
    where AUTHOR_FLOW = #{authorFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.FstuPatentAuthorExample">
    delete from PDSCI.FSTU_PATENT_AUTHOR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.FstuPatentAuthor">
    insert into PDSCI.FSTU_PATENT_AUTHOR (AUTHOR_FLOW, PATENT_FLOW, AUTHOR_NAME, 
      TYPE_ID, TYPE_NAME, SEX_ID, 
      SEX_NAME, TITLE_ID, TITLE_NAME, 
      DEGREE_ID, DEGREE_NAME, EDUCATION_ID, 
      EDUCATION_NAME, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
      )
    values (#{authorFlow,jdbcType=VARCHAR}, #{patentFlow,jdbcType=VARCHAR}, #{authorName,jdbcType=VARCHAR}, 
      #{typeId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{sexId,jdbcType=VARCHAR}, 
      #{sexName,jdbcType=VARCHAR}, #{titleId,jdbcType=VARCHAR}, #{titleName,jdbcType=VARCHAR}, 
      #{degreeId,jdbcType=VARCHAR}, #{degreeName,jdbcType=VARCHAR}, #{educationId,jdbcType=VARCHAR}, 
      #{educationName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.FstuPatentAuthor">
    insert into PDSCI.FSTU_PATENT_AUTHOR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authorFlow != null">
        AUTHOR_FLOW,
      </if>
      <if test="patentFlow != null">
        PATENT_FLOW,
      </if>
      <if test="authorName != null">
        AUTHOR_NAME,
      </if>
      <if test="typeId != null">
        TYPE_ID,
      </if>
      <if test="typeName != null">
        TYPE_NAME,
      </if>
      <if test="sexId != null">
        SEX_ID,
      </if>
      <if test="sexName != null">
        SEX_NAME,
      </if>
      <if test="titleId != null">
        TITLE_ID,
      </if>
      <if test="titleName != null">
        TITLE_NAME,
      </if>
      <if test="degreeId != null">
        DEGREE_ID,
      </if>
      <if test="degreeName != null">
        DEGREE_NAME,
      </if>
      <if test="educationId != null">
        EDUCATION_ID,
      </if>
      <if test="educationName != null">
        EDUCATION_NAME,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authorFlow != null">
        #{authorFlow,jdbcType=VARCHAR},
      </if>
      <if test="patentFlow != null">
        #{patentFlow,jdbcType=VARCHAR},
      </if>
      <if test="authorName != null">
        #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="sexId != null">
        #{sexId,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null">
        #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null">
        #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="titleName != null">
        #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="degreeId != null">
        #{degreeId,jdbcType=VARCHAR},
      </if>
      <if test="degreeName != null">
        #{degreeName,jdbcType=VARCHAR},
      </if>
      <if test="educationId != null">
        #{educationId,jdbcType=VARCHAR},
      </if>
      <if test="educationName != null">
        #{educationName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.FstuPatentAuthorExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.FSTU_PATENT_AUTHOR
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.FSTU_PATENT_AUTHOR
    <set>
      <if test="record.authorFlow != null">
        AUTHOR_FLOW = #{record.authorFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.patentFlow != null">
        PATENT_FLOW = #{record.patentFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.authorName != null">
        AUTHOR_NAME = #{record.authorName,jdbcType=VARCHAR},
      </if>
      <if test="record.typeId != null">
        TYPE_ID = #{record.typeId,jdbcType=VARCHAR},
      </if>
      <if test="record.typeName != null">
        TYPE_NAME = #{record.typeName,jdbcType=VARCHAR},
      </if>
      <if test="record.sexId != null">
        SEX_ID = #{record.sexId,jdbcType=VARCHAR},
      </if>
      <if test="record.sexName != null">
        SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      </if>
      <if test="record.titleId != null">
        TITLE_ID = #{record.titleId,jdbcType=VARCHAR},
      </if>
      <if test="record.titleName != null">
        TITLE_NAME = #{record.titleName,jdbcType=VARCHAR},
      </if>
      <if test="record.degreeId != null">
        DEGREE_ID = #{record.degreeId,jdbcType=VARCHAR},
      </if>
      <if test="record.degreeName != null">
        DEGREE_NAME = #{record.degreeName,jdbcType=VARCHAR},
      </if>
      <if test="record.educationId != null">
        EDUCATION_ID = #{record.educationId,jdbcType=VARCHAR},
      </if>
      <if test="record.educationName != null">
        EDUCATION_NAME = #{record.educationName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.FSTU_PATENT_AUTHOR
    set AUTHOR_FLOW = #{record.authorFlow,jdbcType=VARCHAR},
      PATENT_FLOW = #{record.patentFlow,jdbcType=VARCHAR},
      AUTHOR_NAME = #{record.authorName,jdbcType=VARCHAR},
      TYPE_ID = #{record.typeId,jdbcType=VARCHAR},
      TYPE_NAME = #{record.typeName,jdbcType=VARCHAR},
      SEX_ID = #{record.sexId,jdbcType=VARCHAR},
      SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      TITLE_ID = #{record.titleId,jdbcType=VARCHAR},
      TITLE_NAME = #{record.titleName,jdbcType=VARCHAR},
      DEGREE_ID = #{record.degreeId,jdbcType=VARCHAR},
      DEGREE_NAME = #{record.degreeName,jdbcType=VARCHAR},
      EDUCATION_ID = #{record.educationId,jdbcType=VARCHAR},
      EDUCATION_NAME = #{record.educationName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.FstuPatentAuthor">
    update PDSCI.FSTU_PATENT_AUTHOR
    <set>
      <if test="patentFlow != null">
        PATENT_FLOW = #{patentFlow,jdbcType=VARCHAR},
      </if>
      <if test="authorName != null">
        AUTHOR_NAME = #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        TYPE_ID = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="sexId != null">
        SEX_ID = #{sexId,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null">
        SEX_NAME = #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="titleId != null">
        TITLE_ID = #{titleId,jdbcType=VARCHAR},
      </if>
      <if test="titleName != null">
        TITLE_NAME = #{titleName,jdbcType=VARCHAR},
      </if>
      <if test="degreeId != null">
        DEGREE_ID = #{degreeId,jdbcType=VARCHAR},
      </if>
      <if test="degreeName != null">
        DEGREE_NAME = #{degreeName,jdbcType=VARCHAR},
      </if>
      <if test="educationId != null">
        EDUCATION_ID = #{educationId,jdbcType=VARCHAR},
      </if>
      <if test="educationName != null">
        EDUCATION_NAME = #{educationName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where AUTHOR_FLOW = #{authorFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.FstuPatentAuthor">
    update PDSCI.FSTU_PATENT_AUTHOR
    set PATENT_FLOW = #{patentFlow,jdbcType=VARCHAR},
      AUTHOR_NAME = #{authorName,jdbcType=VARCHAR},
      TYPE_ID = #{typeId,jdbcType=VARCHAR},
      TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      SEX_ID = #{sexId,jdbcType=VARCHAR},
      SEX_NAME = #{sexName,jdbcType=VARCHAR},
      TITLE_ID = #{titleId,jdbcType=VARCHAR},
      TITLE_NAME = #{titleName,jdbcType=VARCHAR},
      DEGREE_ID = #{degreeId,jdbcType=VARCHAR},
      DEGREE_NAME = #{degreeName,jdbcType=VARCHAR},
      EDUCATION_ID = #{educationId,jdbcType=VARCHAR},
      EDUCATION_NAME = #{educationName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where AUTHOR_FLOW = #{authorFlow,jdbcType=VARCHAR}
  </update>
</mapper>