<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.GydxjInsertGradeMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.GydxjInsertGrade" >
    <id column="STU_NO" property="stuNo" jdbcType="VARCHAR" />
    <result column="TRAIN_TYPE" property="trainType" jdbcType="VARCHAR" />
    <result column="TRAIN_TYPE_EN" property="trainTypeEn" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_NAME_EN" property="userNameEn" jdbcType="VARCHAR" />
    <result column="DEGREE_TYPE" property="degreeType" jdbcType="VARCHAR" />
    <result column="DEGREE_TYPE_EN" property="degreeTypeEn" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="SEX_EN" property="sexEn" jdbcType="VARCHAR" />
    <result column="MAJOR" property="major" jdbcType="VARCHAR" />
    <result column="MAJOR_EN" property="majorEn" jdbcType="VARCHAR" />
    <result column="STUDY_FORM" property="studyForm" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    STU_NO, TRAIN_TYPE, TRAIN_TYPE_EN, USER_NAME, USER_NAME_EN, DEGREE_TYPE, DEGREE_TYPE_EN, 
    SEX, SEX_EN, MAJOR, MAJOR_EN, STUDY_FORM, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.GydxjInsertGradeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.GYDXJ_INSERT_GRADE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.GYDXJ_INSERT_GRADE
    where STU_NO = #{stuNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.GYDXJ_INSERT_GRADE
    where STU_NO = #{stuNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.GydxjInsertGradeExample" >
    delete from PDSCI.GYDXJ_INSERT_GRADE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.GydxjInsertGrade" >
    insert into PDSCI.GYDXJ_INSERT_GRADE (STU_NO, TRAIN_TYPE, TRAIN_TYPE_EN, 
      USER_NAME, USER_NAME_EN, DEGREE_TYPE, 
      DEGREE_TYPE_EN, SEX, SEX_EN, 
      MAJOR, MAJOR_EN, STUDY_FORM, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{stuNo,jdbcType=VARCHAR}, #{trainType,jdbcType=VARCHAR}, #{trainTypeEn,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userNameEn,jdbcType=VARCHAR}, #{degreeType,jdbcType=VARCHAR}, 
      #{degreeTypeEn,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{sexEn,jdbcType=VARCHAR}, 
      #{major,jdbcType=VARCHAR}, #{majorEn,jdbcType=VARCHAR}, #{studyForm,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.GydxjInsertGrade" >
    insert into PDSCI.GYDXJ_INSERT_GRADE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stuNo != null" >
        STU_NO,
      </if>
      <if test="trainType != null" >
        TRAIN_TYPE,
      </if>
      <if test="trainTypeEn != null" >
        TRAIN_TYPE_EN,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userNameEn != null" >
        USER_NAME_EN,
      </if>
      <if test="degreeType != null" >
        DEGREE_TYPE,
      </if>
      <if test="degreeTypeEn != null" >
        DEGREE_TYPE_EN,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="sexEn != null" >
        SEX_EN,
      </if>
      <if test="major != null" >
        MAJOR,
      </if>
      <if test="majorEn != null" >
        MAJOR_EN,
      </if>
      <if test="studyForm != null" >
        STUDY_FORM,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stuNo != null" >
        #{stuNo,jdbcType=VARCHAR},
      </if>
      <if test="trainType != null" >
        #{trainType,jdbcType=VARCHAR},
      </if>
      <if test="trainTypeEn != null" >
        #{trainTypeEn,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNameEn != null" >
        #{userNameEn,jdbcType=VARCHAR},
      </if>
      <if test="degreeType != null" >
        #{degreeType,jdbcType=VARCHAR},
      </if>
      <if test="degreeTypeEn != null" >
        #{degreeTypeEn,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="sexEn != null" >
        #{sexEn,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="majorEn != null" >
        #{majorEn,jdbcType=VARCHAR},
      </if>
      <if test="studyForm != null" >
        #{studyForm,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.GydxjInsertGradeExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.GYDXJ_INSERT_GRADE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.GYDXJ_INSERT_GRADE
    <set >
      <if test="record.stuNo != null" >
        STU_NO = #{record.stuNo,jdbcType=VARCHAR},
      </if>
      <if test="record.trainType != null" >
        TRAIN_TYPE = #{record.trainType,jdbcType=VARCHAR},
      </if>
      <if test="record.trainTypeEn != null" >
        TRAIN_TYPE_EN = #{record.trainTypeEn,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userNameEn != null" >
        USER_NAME_EN = #{record.userNameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.degreeType != null" >
        DEGREE_TYPE = #{record.degreeType,jdbcType=VARCHAR},
      </if>
      <if test="record.degreeTypeEn != null" >
        DEGREE_TYPE_EN = #{record.degreeTypeEn,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        SEX = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.sexEn != null" >
        SEX_EN = #{record.sexEn,jdbcType=VARCHAR},
      </if>
      <if test="record.major != null" >
        MAJOR = #{record.major,jdbcType=VARCHAR},
      </if>
      <if test="record.majorEn != null" >
        MAJOR_EN = #{record.majorEn,jdbcType=VARCHAR},
      </if>
      <if test="record.studyForm != null" >
        STUDY_FORM = #{record.studyForm,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.GYDXJ_INSERT_GRADE
    set STU_NO = #{record.stuNo,jdbcType=VARCHAR},
      TRAIN_TYPE = #{record.trainType,jdbcType=VARCHAR},
      TRAIN_TYPE_EN = #{record.trainTypeEn,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      USER_NAME_EN = #{record.userNameEn,jdbcType=VARCHAR},
      DEGREE_TYPE = #{record.degreeType,jdbcType=VARCHAR},
      DEGREE_TYPE_EN = #{record.degreeTypeEn,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=VARCHAR},
      SEX_EN = #{record.sexEn,jdbcType=VARCHAR},
      MAJOR = #{record.major,jdbcType=VARCHAR},
      MAJOR_EN = #{record.majorEn,jdbcType=VARCHAR},
      STUDY_FORM = #{record.studyForm,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.GydxjInsertGrade" >
    update PDSCI.GYDXJ_INSERT_GRADE
    <set >
      <if test="trainType != null" >
        TRAIN_TYPE = #{trainType,jdbcType=VARCHAR},
      </if>
      <if test="trainTypeEn != null" >
        TRAIN_TYPE_EN = #{trainTypeEn,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNameEn != null" >
        USER_NAME_EN = #{userNameEn,jdbcType=VARCHAR},
      </if>
      <if test="degreeType != null" >
        DEGREE_TYPE = #{degreeType,jdbcType=VARCHAR},
      </if>
      <if test="degreeTypeEn != null" >
        DEGREE_TYPE_EN = #{degreeTypeEn,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="sexEn != null" >
        SEX_EN = #{sexEn,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        MAJOR = #{major,jdbcType=VARCHAR},
      </if>
      <if test="majorEn != null" >
        MAJOR_EN = #{majorEn,jdbcType=VARCHAR},
      </if>
      <if test="studyForm != null" >
        STUDY_FORM = #{studyForm,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where STU_NO = #{stuNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.GydxjInsertGrade" >
    update PDSCI.GYDXJ_INSERT_GRADE
    set TRAIN_TYPE = #{trainType,jdbcType=VARCHAR},
      TRAIN_TYPE_EN = #{trainTypeEn,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_NAME_EN = #{userNameEn,jdbcType=VARCHAR},
      DEGREE_TYPE = #{degreeType,jdbcType=VARCHAR},
      DEGREE_TYPE_EN = #{degreeTypeEn,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      SEX_EN = #{sexEn,jdbcType=VARCHAR},
      MAJOR = #{major,jdbcType=VARCHAR},
      MAJOR_EN = #{majorEn,jdbcType=VARCHAR},
      STUDY_FORM = #{studyForm,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where STU_NO = #{stuNo,jdbcType=VARCHAR}
  </update>
</mapper>