<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.core.common.sci.dao.JsresLoginInfoMapper" >
    <resultMap id="BaseResultMap" type="com.pinde.core.model.JsresLoginInfo">
    <id column="REOCRD_FLOW" property="reocrdFlow" jdbcType="VARCHAR" />
    <result column="LOGIN_DOMAIN" property="loginDomain" jdbcType="VARCHAR" />
    <result column="LOGIN_DOMAIN_SUFFIX" property="loginDomainSuffix" jdbcType="VARCHAR" />
    <result column="LOGIN_URL" property="loginUrl" jdbcType="VARCHAR" />
    <result column="LOGIN_TITLE" property="loginTitle" jdbcType="VARCHAR" />
    <result column="TYPE_ID" property="typeId" jdbcType="VARCHAR" />
    <result column="TYPE_NAME" property="typeName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    REOCRD_FLOW, LOGIN_DOMAIN, LOGIN_DOMAIN_SUFFIX, LOGIN_URL, LOGIN_TITLE, TYPE_ID, 
    TYPE_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.JsresLoginInfoExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
        from JSRES_LOGIN_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from JSRES_LOGIN_INFO
    where REOCRD_FLOW = #{reocrdFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from JSRES_LOGIN_INFO
    where REOCRD_FLOW = #{reocrdFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.JsresLoginInfoExample">
        delete from JSRES_LOGIN_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.JsresLoginInfo">
        insert into JSRES_LOGIN_INFO (REOCRD_FLOW, LOGIN_DOMAIN, LOGIN_DOMAIN_SUFFIX,
      LOGIN_URL, LOGIN_TITLE, TYPE_ID, 
      TYPE_NAME, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
      )
    values (#{reocrdFlow,jdbcType=VARCHAR}, #{loginDomain,jdbcType=VARCHAR}, #{loginDomainSuffix,jdbcType=VARCHAR}, 
      #{loginUrl,jdbcType=VARCHAR}, #{loginTitle,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, 
      #{typeName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.JsresLoginInfo">
        insert into JSRES_LOGIN_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reocrdFlow != null" >
        REOCRD_FLOW,
      </if>
      <if test="loginDomain != null" >
        LOGIN_DOMAIN,
      </if>
      <if test="loginDomainSuffix != null" >
        LOGIN_DOMAIN_SUFFIX,
      </if>
      <if test="loginUrl != null" >
        LOGIN_URL,
      </if>
      <if test="loginTitle != null" >
        LOGIN_TITLE,
      </if>
      <if test="typeId != null" >
        TYPE_ID,
      </if>
      <if test="typeName != null" >
        TYPE_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reocrdFlow != null" >
        #{reocrdFlow,jdbcType=VARCHAR},
      </if>
      <if test="loginDomain != null" >
        #{loginDomain,jdbcType=VARCHAR},
      </if>
      <if test="loginDomainSuffix != null" >
        #{loginDomainSuffix,jdbcType=VARCHAR},
      </if>
      <if test="loginUrl != null" >
        #{loginUrl,jdbcType=VARCHAR},
      </if>
      <if test="loginTitle != null" >
        #{loginTitle,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.JsresLoginInfoExample"
            resultType="java.lang.Integer">
        select count(*) from JSRES_LOGIN_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update JSRES_LOGIN_INFO
    <set >
      <if test="record.reocrdFlow != null" >
        REOCRD_FLOW = #{record.reocrdFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.loginDomain != null" >
        LOGIN_DOMAIN = #{record.loginDomain,jdbcType=VARCHAR},
      </if>
      <if test="record.loginDomainSuffix != null" >
        LOGIN_DOMAIN_SUFFIX = #{record.loginDomainSuffix,jdbcType=VARCHAR},
      </if>
      <if test="record.loginUrl != null" >
        LOGIN_URL = #{record.loginUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.loginTitle != null" >
        LOGIN_TITLE = #{record.loginTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.typeId != null" >
        TYPE_ID = #{record.typeId,jdbcType=VARCHAR},
      </if>
      <if test="record.typeName != null" >
        TYPE_NAME = #{record.typeName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update JSRES_LOGIN_INFO
    set REOCRD_FLOW = #{record.reocrdFlow,jdbcType=VARCHAR},
      LOGIN_DOMAIN = #{record.loginDomain,jdbcType=VARCHAR},
      LOGIN_DOMAIN_SUFFIX = #{record.loginDomainSuffix,jdbcType=VARCHAR},
      LOGIN_URL = #{record.loginUrl,jdbcType=VARCHAR},
      LOGIN_TITLE = #{record.loginTitle,jdbcType=VARCHAR},
      TYPE_ID = #{record.typeId,jdbcType=VARCHAR},
      TYPE_NAME = #{record.typeName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.JsresLoginInfo">
        update JSRES_LOGIN_INFO
    <set >
      <if test="loginDomain != null" >
        LOGIN_DOMAIN = #{loginDomain,jdbcType=VARCHAR},
      </if>
      <if test="loginDomainSuffix != null" >
        LOGIN_DOMAIN_SUFFIX = #{loginDomainSuffix,jdbcType=VARCHAR},
      </if>
      <if test="loginUrl != null" >
        LOGIN_URL = #{loginUrl,jdbcType=VARCHAR},
      </if>
      <if test="loginTitle != null" >
        LOGIN_TITLE = #{loginTitle,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        TYPE_ID = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where REOCRD_FLOW = #{reocrdFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.JsresLoginInfo">
        update JSRES_LOGIN_INFO
    set LOGIN_DOMAIN = #{loginDomain,jdbcType=VARCHAR},
      LOGIN_DOMAIN_SUFFIX = #{loginDomainSuffix,jdbcType=VARCHAR},
      LOGIN_URL = #{loginUrl,jdbcType=VARCHAR},
      LOGIN_TITLE = #{loginTitle,jdbcType=VARCHAR},
      TYPE_ID = #{typeId,jdbcType=VARCHAR},
      TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where REOCRD_FLOW = #{reocrdFlow,jdbcType=VARCHAR}
  </update>
</mapper>