<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.core.common.sci.dao.JsresOrgTeacherAuditTempMapper">
    <resultMap id="BaseResultMap" type="com.pinde.core.model.JsresOrgTeacherAuditTemp">
    <id column="RECORD_FLOW" jdbcType="VARCHAR" property="recordFlow" />
    <result column="ORG_FLOW" jdbcType="VARCHAR" property="orgFlow" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="WORK_ORG_ID" jdbcType="VARCHAR" property="workOrgId" />
    <result column="WORK_ORG_NAME" jdbcType="VARCHAR" property="workOrgName" />
    <result column="SESSION_NUMBER" jdbcType="VARCHAR" property="sessionNumber" />
    <result column="COMPLETE_NUM" jdbcType="VARCHAR" property="completeNum" />
    <result column="AUDIT_NUM" jdbcType="VARCHAR" property="auditNum" />
    <result column="NOT_AUDIT_NUM" jdbcType="VARCHAR" property="notAuditNum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RECORD_FLOW, ORG_FLOW, ORG_NAME, WORK_ORG_ID, WORK_ORG_NAME, SESSION_NUMBER, COMPLETE_NUM, 
    AUDIT_NUM, NOT_AUDIT_NUM
  </sql>
    <select id="selectByExample" parameterType="com.pinde.core.model.JsresOrgTeacherAuditTempExample"
            resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
        from JSRES_ORG_TEACHER_AUDIT_TEMP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
      from JSRES_ORG_TEACHER_AUDIT_TEMP
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
      delete from JSRES_ORG_TEACHER_AUDIT_TEMP
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.JsresOrgTeacherAuditTempExample">
        delete from JSRES_ORG_TEACHER_AUDIT_TEMP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.JsresOrgTeacherAuditTemp">
        insert into JSRES_ORG_TEACHER_AUDIT_TEMP (RECORD_FLOW, ORG_FLOW, ORG_NAME,
      WORK_ORG_ID, WORK_ORG_NAME, SESSION_NUMBER, 
      COMPLETE_NUM, AUDIT_NUM, NOT_AUDIT_NUM
      )
    values (#{recordFlow,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{workOrgId,jdbcType=VARCHAR}, #{workOrgName,jdbcType=VARCHAR}, #{sessionNumber,jdbcType=VARCHAR}, 
      #{completeNum,jdbcType=VARCHAR}, #{auditNum,jdbcType=VARCHAR}, #{notAuditNum,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.JsresOrgTeacherAuditTemp">
        insert into JSRES_ORG_TEACHER_AUDIT_TEMP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordFlow != null">
        RECORD_FLOW,
      </if>
      <if test="orgFlow != null">
        ORG_FLOW,
      </if>
      <if test="orgName != null">
        ORG_NAME,
      </if>
      <if test="workOrgId != null">
        WORK_ORG_ID,
      </if>
      <if test="workOrgName != null">
        WORK_ORG_NAME,
      </if>
      <if test="sessionNumber != null">
        SESSION_NUMBER,
      </if>
      <if test="completeNum != null">
        COMPLETE_NUM,
      </if>
      <if test="auditNum != null">
        AUDIT_NUM,
      </if>
      <if test="notAuditNum != null">
        NOT_AUDIT_NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordFlow != null">
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null">
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="workOrgId != null">
        #{workOrgId,jdbcType=VARCHAR},
      </if>
      <if test="workOrgName != null">
        #{workOrgName,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null">
        #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="completeNum != null">
        #{completeNum,jdbcType=VARCHAR},
      </if>
      <if test="auditNum != null">
        #{auditNum,jdbcType=VARCHAR},
      </if>
      <if test="notAuditNum != null">
        #{notAuditNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.JsresOrgTeacherAuditTempExample"
            resultType="java.lang.Integer">
        select count(*) from JSRES_ORG_TEACHER_AUDIT_TEMP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
      update JSRES_ORG_TEACHER_AUDIT_TEMP
    <set>
      <if test="record.recordFlow != null">
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null">
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null">
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.workOrgId != null">
        WORK_ORG_ID = #{record.workOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.workOrgName != null">
        WORK_ORG_NAME = #{record.workOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.sessionNumber != null">
        SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.completeNum != null">
        COMPLETE_NUM = #{record.completeNum,jdbcType=VARCHAR},
      </if>
      <if test="record.auditNum != null">
        AUDIT_NUM = #{record.auditNum,jdbcType=VARCHAR},
      </if>
      <if test="record.notAuditNum != null">
        NOT_AUDIT_NUM = #{record.notAuditNum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
      update JSRES_ORG_TEACHER_AUDIT_TEMP
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      WORK_ORG_ID = #{record.workOrgId,jdbcType=VARCHAR},
      WORK_ORG_NAME = #{record.workOrgName,jdbcType=VARCHAR},
      SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      COMPLETE_NUM = #{record.completeNum,jdbcType=VARCHAR},
      AUDIT_NUM = #{record.auditNum,jdbcType=VARCHAR},
      NOT_AUDIT_NUM = #{record.notAuditNum,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.JsresOrgTeacherAuditTemp">
        update JSRES_ORG_TEACHER_AUDIT_TEMP
    <set>
      <if test="orgFlow != null">
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="workOrgId != null">
        WORK_ORG_ID = #{workOrgId,jdbcType=VARCHAR},
      </if>
      <if test="workOrgName != null">
        WORK_ORG_NAME = #{workOrgName,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null">
        SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="completeNum != null">
        COMPLETE_NUM = #{completeNum,jdbcType=VARCHAR},
      </if>
      <if test="auditNum != null">
        AUDIT_NUM = #{auditNum,jdbcType=VARCHAR},
      </if>
      <if test="notAuditNum != null">
        NOT_AUDIT_NUM = #{notAuditNum,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.JsresOrgTeacherAuditTemp">
        update JSRES_ORG_TEACHER_AUDIT_TEMP
    set ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      WORK_ORG_ID = #{workOrgId,jdbcType=VARCHAR},
      WORK_ORG_NAME = #{workOrgName,jdbcType=VARCHAR},
      SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      COMPLETE_NUM = #{completeNum,jdbcType=VARCHAR},
      AUDIT_NUM = #{auditNum,jdbcType=VARCHAR},
      NOT_AUDIT_NUM = #{notAuditNum,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>