<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.JsresSchDataStatisticsMapper" >
    <resultMap id="BaseResultMap" type="com.pinde.core.model.JsresSchDataStatistics">
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
    <result column="PARENT_ORG_FLOW" property="parentOrgFlow" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="MONTH_DATE" property="monthDate" jdbcType="VARCHAR" />
    <result column="DOCTOR_TRAIN_TOTAL" property="doctorTrainTotal" jdbcType="VARCHAR" />
    <result column="DATA_WRITE_TOTAL" property="dataWriteTotal" jdbcType="VARCHAR" />
    <result column="DATA_AUDIT_TOTAL" property="dataAuditTotal" jdbcType="VARCHAR" />
    <result column="AUDIT_SCALE" property="auditScale" jdbcType="VARCHAR" />
    <result column="AVG_WRITE" property="avgWrite" jdbcType="VARCHAR" />
    <result column="AVG_AUDIT" property="avgAudit" jdbcType="VARCHAR" />
    <result column="DOCTOR_TYPE_ID" property="doctorTypeId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, ORG_CODE, PARENT_ORG_FLOW, ORG_FLOW, ORG_NAME, MONTH_DATE, DOCTOR_TRAIN_TOTAL, 
    DATA_WRITE_TOTAL, DATA_AUDIT_TOTAL, AUDIT_SCALE, AVG_WRITE, AVG_AUDIT, DOCTOR_TYPE_ID, 
    CREATE_TIME
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.pinde.core.model.JsresSchDataStatisticsExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
        from JSRES_SCH_DATA_STATISTICS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from JSRES_SCH_DATA_STATISTICS
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from JSRES_SCH_DATA_STATISTICS
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.JsresSchDataStatisticsExample">
        delete from JSRES_SCH_DATA_STATISTICS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.JsresSchDataStatistics">
        insert into JSRES_SCH_DATA_STATISTICS (RECORD_FLOW, ORG_CODE, PARENT_ORG_FLOW,
      ORG_FLOW, ORG_NAME, MONTH_DATE, 
      DOCTOR_TRAIN_TOTAL, DATA_WRITE_TOTAL, DATA_AUDIT_TOTAL, 
      AUDIT_SCALE, AVG_WRITE, AVG_AUDIT, 
      DOCTOR_TYPE_ID, CREATE_TIME)
    values (#{recordFlow,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{parentOrgFlow,jdbcType=VARCHAR}, 
      #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{monthDate,jdbcType=VARCHAR}, 
      #{doctorTrainTotal,jdbcType=VARCHAR}, #{dataWriteTotal,jdbcType=VARCHAR}, #{dataAuditTotal,jdbcType=VARCHAR}, 
      #{auditScale,jdbcType=VARCHAR}, #{avgWrite,jdbcType=VARCHAR}, #{avgAudit,jdbcType=VARCHAR}, 
      #{doctorTypeId,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.JsresSchDataStatistics">
        insert into JSRES_SCH_DATA_STATISTICS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="orgCode != null" >
        ORG_CODE,
      </if>
      <if test="parentOrgFlow != null" >
        PARENT_ORG_FLOW,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="monthDate != null" >
        MONTH_DATE,
      </if>
      <if test="doctorTrainTotal != null" >
        DOCTOR_TRAIN_TOTAL,
      </if>
      <if test="dataWriteTotal != null" >
        DATA_WRITE_TOTAL,
      </if>
      <if test="dataAuditTotal != null" >
        DATA_AUDIT_TOTAL,
      </if>
      <if test="auditScale != null" >
        AUDIT_SCALE,
      </if>
      <if test="avgWrite != null" >
        AVG_WRITE,
      </if>
      <if test="avgAudit != null" >
        AVG_AUDIT,
      </if>
      <if test="doctorTypeId != null" >
        DOCTOR_TYPE_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="parentOrgFlow != null" >
        #{parentOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="monthDate != null" >
        #{monthDate,jdbcType=VARCHAR},
      </if>
      <if test="doctorTrainTotal != null" >
        #{doctorTrainTotal,jdbcType=VARCHAR},
      </if>
      <if test="dataWriteTotal != null" >
        #{dataWriteTotal,jdbcType=VARCHAR},
      </if>
      <if test="dataAuditTotal != null" >
        #{dataAuditTotal,jdbcType=VARCHAR},
      </if>
      <if test="auditScale != null" >
        #{auditScale,jdbcType=VARCHAR},
      </if>
      <if test="avgWrite != null" >
        #{avgWrite,jdbcType=VARCHAR},
      </if>
      <if test="avgAudit != null" >
        #{avgAudit,jdbcType=VARCHAR},
      </if>
      <if test="doctorTypeId != null" >
        #{doctorTypeId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.JsresSchDataStatisticsExample"
            resultType="java.lang.Integer">
        select count(*) from JSRES_SCH_DATA_STATISTICS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update JSRES_SCH_DATA_STATISTICS
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgCode != null" >
        ORG_CODE = #{record.orgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.parentOrgFlow != null" >
        PARENT_ORG_FLOW = #{record.parentOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.monthDate != null" >
        MONTH_DATE = #{record.monthDate,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorTrainTotal != null" >
        DOCTOR_TRAIN_TOTAL = #{record.doctorTrainTotal,jdbcType=VARCHAR},
      </if>
      <if test="record.dataWriteTotal != null" >
        DATA_WRITE_TOTAL = #{record.dataWriteTotal,jdbcType=VARCHAR},
      </if>
      <if test="record.dataAuditTotal != null" >
        DATA_AUDIT_TOTAL = #{record.dataAuditTotal,jdbcType=VARCHAR},
      </if>
      <if test="record.auditScale != null" >
        AUDIT_SCALE = #{record.auditScale,jdbcType=VARCHAR},
      </if>
      <if test="record.avgWrite != null" >
        AVG_WRITE = #{record.avgWrite,jdbcType=VARCHAR},
      </if>
      <if test="record.avgAudit != null" >
        AVG_AUDIT = #{record.avgAudit,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorTypeId != null" >
        DOCTOR_TYPE_ID = #{record.doctorTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update JSRES_SCH_DATA_STATISTICS
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      ORG_CODE = #{record.orgCode,jdbcType=VARCHAR},
      PARENT_ORG_FLOW = #{record.parentOrgFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      MONTH_DATE = #{record.monthDate,jdbcType=VARCHAR},
      DOCTOR_TRAIN_TOTAL = #{record.doctorTrainTotal,jdbcType=VARCHAR},
      DATA_WRITE_TOTAL = #{record.dataWriteTotal,jdbcType=VARCHAR},
      DATA_AUDIT_TOTAL = #{record.dataAuditTotal,jdbcType=VARCHAR},
      AUDIT_SCALE = #{record.auditScale,jdbcType=VARCHAR},
      AVG_WRITE = #{record.avgWrite,jdbcType=VARCHAR},
      AVG_AUDIT = #{record.avgAudit,jdbcType=VARCHAR},
      DOCTOR_TYPE_ID = #{record.doctorTypeId,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.JsresSchDataStatistics">
        update JSRES_SCH_DATA_STATISTICS
    <set >
      <if test="orgCode != null" >
        ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="parentOrgFlow != null" >
        PARENT_ORG_FLOW = #{parentOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="monthDate != null" >
        MONTH_DATE = #{monthDate,jdbcType=VARCHAR},
      </if>
      <if test="doctorTrainTotal != null" >
        DOCTOR_TRAIN_TOTAL = #{doctorTrainTotal,jdbcType=VARCHAR},
      </if>
      <if test="dataWriteTotal != null" >
        DATA_WRITE_TOTAL = #{dataWriteTotal,jdbcType=VARCHAR},
      </if>
      <if test="dataAuditTotal != null" >
        DATA_AUDIT_TOTAL = #{dataAuditTotal,jdbcType=VARCHAR},
      </if>
      <if test="auditScale != null" >
        AUDIT_SCALE = #{auditScale,jdbcType=VARCHAR},
      </if>
      <if test="avgWrite != null" >
        AVG_WRITE = #{avgWrite,jdbcType=VARCHAR},
      </if>
      <if test="avgAudit != null" >
        AVG_AUDIT = #{avgAudit,jdbcType=VARCHAR},
      </if>
      <if test="doctorTypeId != null" >
        DOCTOR_TYPE_ID = #{doctorTypeId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.JsresSchDataStatistics">
        update JSRES_SCH_DATA_STATISTICS
    set ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      PARENT_ORG_FLOW = #{parentOrgFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      MONTH_DATE = #{monthDate,jdbcType=VARCHAR},
      DOCTOR_TRAIN_TOTAL = #{doctorTrainTotal,jdbcType=VARCHAR},
      DATA_WRITE_TOTAL = #{dataWriteTotal,jdbcType=VARCHAR},
      DATA_AUDIT_TOTAL = #{dataAuditTotal,jdbcType=VARCHAR},
      AUDIT_SCALE = #{auditScale,jdbcType=VARCHAR},
      AVG_WRITE = #{avgWrite,jdbcType=VARCHAR},
      AVG_AUDIT = #{avgAudit,jdbcType=VARCHAR},
      DOCTOR_TYPE_ID = #{doctorTypeId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>