<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.core.common.sci.dao.JsresDoctorParticipationMapper">
    <resultMap id="BaseResultMap" type="com.pinde.core.model.JsresDoctorParticipation">
    <id column="RECORD_FLOW" jdbcType="VARCHAR" property="recordFlow" />
    <result column="DOCTOR_FLOW" jdbcType="VARCHAR" property="doctorFlow" />
    <result column="DOCTOR_NAME" jdbcType="VARCHAR" property="doctorName" />
    <result column="PARTICIPATION_DATE" jdbcType="VARCHAR" property="participationDate" />
    <result column="PARTICIPATION_ROOM" jdbcType="VARCHAR" property="participationRoom" />
    <result column="PARTICIPATION_TITLE" jdbcType="VARCHAR" property="participationTitle" />
    <result column="PARTICIPATION_ROLE" jdbcType="VARCHAR" property="participationRole" />
    <result column="PARTICIPATION_COMPLETE" jdbcType="VARCHAR" property="participationComplete" />
    <result column="PARTICIPATION_AUTHOR" jdbcType="VARCHAR" property="participationAuthor" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RECORD_FLOW, DOCTOR_FLOW, DOCTOR_NAME, PARTICIPATION_DATE, PARTICIPATION_ROOM, PARTICIPATION_TITLE, 
    PARTICIPATION_ROLE, PARTICIPATION_COMPLETE, PARTICIPATION_AUTHOR, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
    <select id="selectByExample" parameterType="com.pinde.core.model.JsresDoctorParticipationExample"
            resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
        from JSRES_DOCTOR_PARTICIPATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
      from JSRES_DOCTOR_PARTICIPATION
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
      delete from JSRES_DOCTOR_PARTICIPATION
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.JsresDoctorParticipationExample">
        delete from JSRES_DOCTOR_PARTICIPATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.JsresDoctorParticipation">
        insert into JSRES_DOCTOR_PARTICIPATION (RECORD_FLOW, DOCTOR_FLOW, DOCTOR_NAME,
      PARTICIPATION_DATE, PARTICIPATION_ROOM, PARTICIPATION_TITLE, 
      PARTICIPATION_ROLE, PARTICIPATION_COMPLETE, 
      PARTICIPATION_AUTHOR, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
      )
    values (#{recordFlow,jdbcType=VARCHAR}, #{doctorFlow,jdbcType=VARCHAR}, #{doctorName,jdbcType=VARCHAR}, 
      #{participationDate,jdbcType=VARCHAR}, #{participationRoom,jdbcType=VARCHAR}, #{participationTitle,jdbcType=VARCHAR}, 
      #{participationRole,jdbcType=VARCHAR}, #{participationComplete,jdbcType=VARCHAR}, 
      #{participationAuthor,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.JsresDoctorParticipation">
        insert into JSRES_DOCTOR_PARTICIPATION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordFlow != null">
        RECORD_FLOW,
      </if>
      <if test="doctorFlow != null">
        DOCTOR_FLOW,
      </if>
      <if test="doctorName != null">
        DOCTOR_NAME,
      </if>
      <if test="participationDate != null">
        PARTICIPATION_DATE,
      </if>
      <if test="participationRoom != null">
        PARTICIPATION_ROOM,
      </if>
      <if test="participationTitle != null">
        PARTICIPATION_TITLE,
      </if>
      <if test="participationRole != null">
        PARTICIPATION_ROLE,
      </if>
      <if test="participationComplete != null">
        PARTICIPATION_COMPLETE,
      </if>
      <if test="participationAuthor != null">
        PARTICIPATION_AUTHOR,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordFlow != null">
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorFlow != null">
        #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null">
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="participationDate != null">
        #{participationDate,jdbcType=VARCHAR},
      </if>
      <if test="participationRoom != null">
        #{participationRoom,jdbcType=VARCHAR},
      </if>
      <if test="participationTitle != null">
        #{participationTitle,jdbcType=VARCHAR},
      </if>
      <if test="participationRole != null">
        #{participationRole,jdbcType=VARCHAR},
      </if>
      <if test="participationComplete != null">
        #{participationComplete,jdbcType=VARCHAR},
      </if>
      <if test="participationAuthor != null">
        #{participationAuthor,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.JsresDoctorParticipationExample"
            resultType="java.lang.Integer">
        select count(*) from JSRES_DOCTOR_PARTICIPATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
      update JSRES_DOCTOR_PARTICIPATION
    <set>
      <if test="record.recordFlow != null">
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorFlow != null">
        DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorName != null">
        DOCTOR_NAME = #{record.doctorName,jdbcType=VARCHAR},
      </if>
      <if test="record.participationDate != null">
        PARTICIPATION_DATE = #{record.participationDate,jdbcType=VARCHAR},
      </if>
      <if test="record.participationRoom != null">
        PARTICIPATION_ROOM = #{record.participationRoom,jdbcType=VARCHAR},
      </if>
      <if test="record.participationTitle != null">
        PARTICIPATION_TITLE = #{record.participationTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.participationRole != null">
        PARTICIPATION_ROLE = #{record.participationRole,jdbcType=VARCHAR},
      </if>
      <if test="record.participationComplete != null">
        PARTICIPATION_COMPLETE = #{record.participationComplete,jdbcType=VARCHAR},
      </if>
      <if test="record.participationAuthor != null">
        PARTICIPATION_AUTHOR = #{record.participationAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
      update JSRES_DOCTOR_PARTICIPATION
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      DOCTOR_NAME = #{record.doctorName,jdbcType=VARCHAR},
      PARTICIPATION_DATE = #{record.participationDate,jdbcType=VARCHAR},
      PARTICIPATION_ROOM = #{record.participationRoom,jdbcType=VARCHAR},
      PARTICIPATION_TITLE = #{record.participationTitle,jdbcType=VARCHAR},
      PARTICIPATION_ROLE = #{record.participationRole,jdbcType=VARCHAR},
      PARTICIPATION_COMPLETE = #{record.participationComplete,jdbcType=VARCHAR},
      PARTICIPATION_AUTHOR = #{record.participationAuthor,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.JsresDoctorParticipation">
        update JSRES_DOCTOR_PARTICIPATION
    <set>
      <if test="doctorFlow != null">
        DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null">
        DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="participationDate != null">
        PARTICIPATION_DATE = #{participationDate,jdbcType=VARCHAR},
      </if>
      <if test="participationRoom != null">
        PARTICIPATION_ROOM = #{participationRoom,jdbcType=VARCHAR},
      </if>
      <if test="participationTitle != null">
        PARTICIPATION_TITLE = #{participationTitle,jdbcType=VARCHAR},
      </if>
      <if test="participationRole != null">
        PARTICIPATION_ROLE = #{participationRole,jdbcType=VARCHAR},
      </if>
      <if test="participationComplete != null">
        PARTICIPATION_COMPLETE = #{participationComplete,jdbcType=VARCHAR},
      </if>
      <if test="participationAuthor != null">
        PARTICIPATION_AUTHOR = #{participationAuthor,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.JsresDoctorParticipation">
        update JSRES_DOCTOR_PARTICIPATION
    set DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      PARTICIPATION_DATE = #{participationDate,jdbcType=VARCHAR},
      PARTICIPATION_ROOM = #{participationRoom,jdbcType=VARCHAR},
      PARTICIPATION_TITLE = #{participationTitle,jdbcType=VARCHAR},
      PARTICIPATION_ROLE = #{participationRole,jdbcType=VARCHAR},
      PARTICIPATION_COMPLETE = #{participationComplete,jdbcType=VARCHAR},
      PARTICIPATION_AUTHOR = #{participationAuthor,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>