<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.JsresPowerCfgMapper" >
    <resultMap id="BaseResultMap" type="com.pinde.core.model.JsresPowerCfg">
    <id column="CFG_CODE" property="cfgCode" jdbcType="VARCHAR" />
    <result column="CFG_VALUE" property="cfgValue" jdbcType="VARCHAR" />
    <result column="CFG_DESC" property="cfgDesc" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="POWER_START_TIME" property="powerStartTime" jdbcType="VARCHAR" />
    <result column="POWER_END_TIME" property="powerEndTime" jdbcType="VARCHAR" />
    <result column="CHECK_STATUS_ID" property="checkStatusId" jdbcType="VARCHAR" />
    <result column="CHECK_STATUS_NAME" property="checkStatusName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CFG_CODE, CFG_VALUE, CFG_DESC, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
    MODIFY_USER_FLOW, POWER_START_TIME, POWER_END_TIME, CHECK_STATUS_ID, CHECK_STATUS_NAME
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.JsresPowerCfgExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
        from JSRES_POWER_CFG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from JSRES_POWER_CFG
    where CFG_CODE = #{cfgCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from JSRES_POWER_CFG
    where CFG_CODE = #{cfgCode,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.JsresPowerCfgExample">
        delete from JSRES_POWER_CFG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.JsresPowerCfg">
        insert into JSRES_POWER_CFG (CFG_CODE, CFG_VALUE, CFG_DESC,
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, POWER_START_TIME, 
      POWER_END_TIME, CHECK_STATUS_ID, CHECK_STATUS_NAME
      )
    values (#{cfgCode,jdbcType=VARCHAR}, #{cfgValue,jdbcType=VARCHAR}, #{cfgDesc,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{powerStartTime,jdbcType=VARCHAR}, 
      #{powerEndTime,jdbcType=VARCHAR}, #{checkStatusId,jdbcType=VARCHAR}, #{checkStatusName,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.JsresPowerCfg">
        insert into JSRES_POWER_CFG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cfgCode != null" >
        CFG_CODE,
      </if>
      <if test="cfgValue != null" >
        CFG_VALUE,
      </if>
      <if test="cfgDesc != null" >
        CFG_DESC,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="powerStartTime != null" >
        POWER_START_TIME,
      </if>
      <if test="powerEndTime != null" >
        POWER_END_TIME,
      </if>
      <if test="checkStatusId != null" >
        CHECK_STATUS_ID,
      </if>
      <if test="checkStatusName != null" >
        CHECK_STATUS_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cfgCode != null" >
        #{cfgCode,jdbcType=VARCHAR},
      </if>
      <if test="cfgValue != null" >
        #{cfgValue,jdbcType=VARCHAR},
      </if>
      <if test="cfgDesc != null" >
        #{cfgDesc,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="powerStartTime != null" >
        #{powerStartTime,jdbcType=VARCHAR},
      </if>
      <if test="powerEndTime != null" >
        #{powerEndTime,jdbcType=VARCHAR},
      </if>
      <if test="checkStatusId != null" >
        #{checkStatusId,jdbcType=VARCHAR},
      </if>
      <if test="checkStatusName != null" >
        #{checkStatusName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.JsresPowerCfgExample"
            resultType="java.lang.Integer">
        select count(*) from JSRES_POWER_CFG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update JSRES_POWER_CFG
    <set >
      <if test="record.cfgCode != null" >
        CFG_CODE = #{record.cfgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cfgValue != null" >
        CFG_VALUE = #{record.cfgValue,jdbcType=VARCHAR},
      </if>
      <if test="record.cfgDesc != null" >
        CFG_DESC = #{record.cfgDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.powerStartTime != null" >
        POWER_START_TIME = #{record.powerStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.powerEndTime != null" >
        POWER_END_TIME = #{record.powerEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.checkStatusId != null" >
        CHECK_STATUS_ID = #{record.checkStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.checkStatusName != null" >
        CHECK_STATUS_NAME = #{record.checkStatusName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update JSRES_POWER_CFG
    set CFG_CODE = #{record.cfgCode,jdbcType=VARCHAR},
      CFG_VALUE = #{record.cfgValue,jdbcType=VARCHAR},
      CFG_DESC = #{record.cfgDesc,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      POWER_START_TIME = #{record.powerStartTime,jdbcType=VARCHAR},
      POWER_END_TIME = #{record.powerEndTime,jdbcType=VARCHAR},
      CHECK_STATUS_ID = #{record.checkStatusId,jdbcType=VARCHAR},
      CHECK_STATUS_NAME = #{record.checkStatusName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.JsresPowerCfg">
        update JSRES_POWER_CFG
    <set >
      <if test="cfgValue != null" >
        CFG_VALUE = #{cfgValue,jdbcType=VARCHAR},
      </if>
      <if test="cfgDesc != null" >
        CFG_DESC = #{cfgDesc,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="powerStartTime != null" >
        POWER_START_TIME = #{powerStartTime,jdbcType=VARCHAR},
      </if>
      <if test="powerEndTime != null" >
        POWER_END_TIME = #{powerEndTime,jdbcType=VARCHAR},
      </if>
      <if test="checkStatusId != null" >
        CHECK_STATUS_ID = #{checkStatusId,jdbcType=VARCHAR},
      </if>
      <if test="checkStatusName != null" >
        CHECK_STATUS_NAME = #{checkStatusName,jdbcType=VARCHAR},
      </if>
    </set>
    where CFG_CODE = #{cfgCode,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.JsresPowerCfg">
        update JSRES_POWER_CFG
    set CFG_VALUE = #{cfgValue,jdbcType=VARCHAR},
      CFG_DESC = #{cfgDesc,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      POWER_START_TIME = #{powerStartTime,jdbcType=VARCHAR},
      POWER_END_TIME = #{powerEndTime,jdbcType=VARCHAR},
      CHECK_STATUS_ID = #{checkStatusId,jdbcType=VARCHAR},
      CHECK_STATUS_NAME = #{checkStatusName,jdbcType=VARCHAR}
    where CFG_CODE = #{cfgCode,jdbcType=VARCHAR}
  </update>
</mapper>