<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.JsresExamSignupMapper" >
    <resultMap id="BaseResultMap" type="com.pinde.core.model.JsresExamSignup"
               extends="com.pinde.sci.dao.base.PubUserResumeMapper.ResultMapWithBLOBs">
    <id column="SIGNUP_FLOW" property="signupFlow" jdbcType="VARCHAR" />
    <result column="SIGNUP_YEAR" property="signupYear" jdbcType="VARCHAR" />
    <result column="SIGNUP_TYPE_ID" property="signupTypeId" jdbcType="VARCHAR" />
    <result column="SIGNUP_TYPE_NAME" property="signupTypeName" jdbcType="VARCHAR" />
    <result column="DOCTOR_FLOW" property="doctorFlow" jdbcType="VARCHAR" />
    <result column="DOCTOR_TYPE_ID" property="doctorTypeId" jdbcType="VARCHAR" />
    <result column="DOCTOR_TYPE_NAME" property="doctorTypeName" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="SESSION_NUMBER" property="sessionNumber" jdbcType="VARCHAR" />
    <result column="TRAINING_YEARS" property="trainingYears" jdbcType="VARCHAR" />
    <result column="TRAINING_TYPE_ID" property="trainingTypeId" jdbcType="VARCHAR" />
    <result column="TRAINING_TYPE_NAME" property="trainingTypeName" jdbcType="VARCHAR" />
    <result column="TRAINING_SPE_ID" property="trainingSpeId" jdbcType="VARCHAR" />
    <result column="TRAINING_SPE_NAME" property="trainingSpeName" jdbcType="VARCHAR" />
    <result column="CHANGE_SPE_ID" property="changeSpeId" jdbcType="VARCHAR" />
    <result column="CHANGE_SPE_NAME" property="changeSpeName" jdbcType="VARCHAR" />
    <result column="AUDIT_STATUS_ID" property="auditStatusId" jdbcType="VARCHAR" />
    <result column="AUDIT_STATUS_NAME" property="auditStatusName" jdbcType="VARCHAR" />
    <result column="AUDIT_INFO" property="auditInfo" jdbcType="VARCHAR" />
    <result column="AUDIT_USER_FLOW" property="auditUserFlow" jdbcType="VARCHAR" />
    <result column="AUDIT_USER_NAME" property="auditUserName" jdbcType="VARCHAR" />
    <result column="AUDIT_TIME" property="auditTime" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="LOCAL_AUDIT_STATUS_ID" property="localAuditStatusId" jdbcType="VARCHAR" />
    <result column="LOCAL_AUDIT_STATUS_NAME" property="localAuditStatusName" jdbcType="VARCHAR" />
    <result column="LOCAL_REASON" property="localReason" jdbcType="VARCHAR" />
    <result column="CITY_AUDIT_STATUS_ID" property="cityAuditStatusId" jdbcType="VARCHAR" />
    <result column="CITY_AUDIT_STATUS_NAME" property="cityAuditStatusName" jdbcType="VARCHAR" />
    <result column="CITY_REASON" property="cityReason" jdbcType="VARCHAR" />
    <result column="GLOBAL_AUDIT_STATUS_ID" property="globalAuditStatusId" jdbcType="VARCHAR" />
    <result column="GLOBAL_AUDIT_STATUS_NAME" property="globalAuditStatusName" jdbcType="VARCHAR" />
    <result column="GLOBAL_REASON" property="globalReason" jdbcType="VARCHAR" />
    <result column="TEST_ID" property="testId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SIGNUP_FLOW, SIGNUP_YEAR, SIGNUP_TYPE_ID, SIGNUP_TYPE_NAME, DOCTOR_FLOW, DOCTOR_TYPE_ID,
    DOCTOR_TYPE_NAME, ORG_FLOW, ORG_NAME, SESSION_NUMBER, TRAINING_YEARS, TRAINING_TYPE_ID,
    TRAINING_TYPE_NAME, TRAINING_SPE_ID, TRAINING_SPE_NAME, CHANGE_SPE_ID, CHANGE_SPE_NAME,
    AUDIT_STATUS_ID, AUDIT_STATUS_NAME, AUDIT_INFO, AUDIT_USER_FLOW, AUDIT_USER_NAME,
    AUDIT_TIME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW,
    LOCAL_AUDIT_STATUS_ID, LOCAL_AUDIT_STATUS_NAME, LOCAL_REASON, CITY_AUDIT_STATUS_ID,
    CITY_AUDIT_STATUS_NAME, CITY_REASON, GLOBAL_AUDIT_STATUS_ID, GLOBAL_AUDIT_STATUS_NAME,
    GLOBAL_REASON, TEST_ID
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.JsresExamSignupExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
        from JSRES_EXAM_SIGNUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
      from JSRES_EXAM_SIGNUP
    where SIGNUP_FLOW = #{signupFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from JSRES_EXAM_SIGNUP
    where SIGNUP_FLOW = #{signupFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.JsresExamSignupExample">
        delete from JSRES_EXAM_SIGNUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.JsresExamSignup">
        insert into JSRES_EXAM_SIGNUP (SIGNUP_FLOW, SIGNUP_YEAR, SIGNUP_TYPE_ID,
      SIGNUP_TYPE_NAME, DOCTOR_FLOW, DOCTOR_TYPE_ID,
      DOCTOR_TYPE_NAME, ORG_FLOW, ORG_NAME,
      SESSION_NUMBER, TRAINING_YEARS, TRAINING_TYPE_ID,
      TRAINING_TYPE_NAME, TRAINING_SPE_ID, TRAINING_SPE_NAME,
      CHANGE_SPE_ID, CHANGE_SPE_NAME, AUDIT_STATUS_ID,
      AUDIT_STATUS_NAME, AUDIT_INFO, AUDIT_USER_FLOW,
      AUDIT_USER_NAME, AUDIT_TIME, RECORD_STATUS,
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME,
      MODIFY_USER_FLOW, LOCAL_AUDIT_STATUS_ID, LOCAL_AUDIT_STATUS_NAME,
      LOCAL_REASON, CITY_AUDIT_STATUS_ID, CITY_AUDIT_STATUS_NAME,
      CITY_REASON, GLOBAL_AUDIT_STATUS_ID, GLOBAL_AUDIT_STATUS_NAME,
      GLOBAL_REASON, TEST_ID)
    values (#{signupFlow,jdbcType=VARCHAR}, #{signupYear,jdbcType=VARCHAR}, #{signupTypeId,jdbcType=VARCHAR},
      #{signupTypeName,jdbcType=VARCHAR}, #{doctorFlow,jdbcType=VARCHAR}, #{doctorTypeId,jdbcType=VARCHAR},
      #{doctorTypeName,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR},
      #{sessionNumber,jdbcType=VARCHAR}, #{trainingYears,jdbcType=VARCHAR}, #{trainingTypeId,jdbcType=VARCHAR},
      #{trainingTypeName,jdbcType=VARCHAR}, #{trainingSpeId,jdbcType=VARCHAR}, #{trainingSpeName,jdbcType=VARCHAR},
      #{changeSpeId,jdbcType=VARCHAR}, #{changeSpeName,jdbcType=VARCHAR}, #{auditStatusId,jdbcType=VARCHAR},
      #{auditStatusName,jdbcType=VARCHAR}, #{auditInfo,jdbcType=VARCHAR}, #{auditUserFlow,jdbcType=VARCHAR},
      #{auditUserName,jdbcType=VARCHAR}, #{auditTime,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR},
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR},
      #{modifyUserFlow,jdbcType=VARCHAR}, #{localAuditStatusId,jdbcType=VARCHAR}, #{localAuditStatusName,jdbcType=VARCHAR},
      #{localReason,jdbcType=VARCHAR}, #{cityAuditStatusId,jdbcType=VARCHAR}, #{cityAuditStatusName,jdbcType=VARCHAR},
      #{cityReason,jdbcType=VARCHAR}, #{globalAuditStatusId,jdbcType=VARCHAR}, #{globalAuditStatusName,jdbcType=VARCHAR},
      #{globalReason,jdbcType=VARCHAR}, #{testId,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.JsresExamSignup">
        insert into JSRES_EXAM_SIGNUP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="signupFlow != null" >
        SIGNUP_FLOW,
      </if>
      <if test="signupYear != null" >
        SIGNUP_YEAR,
      </if>
      <if test="signupTypeId != null" >
        SIGNUP_TYPE_ID,
      </if>
      <if test="signupTypeName != null" >
        SIGNUP_TYPE_NAME,
      </if>
      <if test="doctorFlow != null" >
        DOCTOR_FLOW,
      </if>
      <if test="doctorTypeId != null" >
        DOCTOR_TYPE_ID,
      </if>
      <if test="doctorTypeName != null" >
        DOCTOR_TYPE_NAME,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER,
      </if>
      <if test="trainingYears != null" >
        TRAINING_YEARS,
      </if>
      <if test="trainingTypeId != null" >
        TRAINING_TYPE_ID,
      </if>
      <if test="trainingTypeName != null" >
        TRAINING_TYPE_NAME,
      </if>
      <if test="trainingSpeId != null" >
        TRAINING_SPE_ID,
      </if>
      <if test="trainingSpeName != null" >
        TRAINING_SPE_NAME,
      </if>
      <if test="changeSpeId != null" >
        CHANGE_SPE_ID,
      </if>
      <if test="changeSpeName != null" >
        CHANGE_SPE_NAME,
      </if>
      <if test="auditStatusId != null" >
        AUDIT_STATUS_ID,
      </if>
      <if test="auditStatusName != null" >
        AUDIT_STATUS_NAME,
      </if>
      <if test="auditInfo != null" >
        AUDIT_INFO,
      </if>
      <if test="auditUserFlow != null" >
        AUDIT_USER_FLOW,
      </if>
      <if test="auditUserName != null" >
        AUDIT_USER_NAME,
      </if>
      <if test="auditTime != null" >
        AUDIT_TIME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="localAuditStatusId != null" >
        LOCAL_AUDIT_STATUS_ID,
      </if>
      <if test="localAuditStatusName != null" >
        LOCAL_AUDIT_STATUS_NAME,
      </if>
      <if test="localReason != null" >
        LOCAL_REASON,
      </if>
      <if test="cityAuditStatusId != null" >
        CITY_AUDIT_STATUS_ID,
      </if>
      <if test="cityAuditStatusName != null" >
        CITY_AUDIT_STATUS_NAME,
      </if>
      <if test="cityReason != null" >
        CITY_REASON,
      </if>
      <if test="globalAuditStatusId != null" >
        GLOBAL_AUDIT_STATUS_ID,
      </if>
      <if test="globalAuditStatusName != null" >
        GLOBAL_AUDIT_STATUS_NAME,
      </if>
      <if test="globalReason != null" >
        GLOBAL_REASON,
      </if>
      <if test="testId != null" >
        TEST_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="signupFlow != null" >
        #{signupFlow,jdbcType=VARCHAR},
      </if>
      <if test="signupYear != null" >
        #{signupYear,jdbcType=VARCHAR},
      </if>
      <if test="signupTypeId != null" >
        #{signupTypeId,jdbcType=VARCHAR},
      </if>
      <if test="signupTypeName != null" >
        #{signupTypeName,jdbcType=VARCHAR},
      </if>
      <if test="doctorFlow != null" >
        #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorTypeId != null" >
        #{doctorTypeId,jdbcType=VARCHAR},
      </if>
      <if test="doctorTypeName != null" >
        #{doctorTypeName,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="trainingYears != null" >
        #{trainingYears,jdbcType=VARCHAR},
      </if>
      <if test="trainingTypeId != null" >
        #{trainingTypeId,jdbcType=VARCHAR},
      </if>
      <if test="trainingTypeName != null" >
        #{trainingTypeName,jdbcType=VARCHAR},
      </if>
      <if test="trainingSpeId != null" >
        #{trainingSpeId,jdbcType=VARCHAR},
      </if>
      <if test="trainingSpeName != null" >
        #{trainingSpeName,jdbcType=VARCHAR},
      </if>
      <if test="changeSpeId != null" >
        #{changeSpeId,jdbcType=VARCHAR},
      </if>
      <if test="changeSpeName != null" >
        #{changeSpeName,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusId != null" >
        #{auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusName != null" >
        #{auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="auditInfo != null" >
        #{auditInfo,jdbcType=VARCHAR},
      </if>
      <if test="auditUserFlow != null" >
        #{auditUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="auditUserName != null" >
        #{auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="localAuditStatusId != null" >
        #{localAuditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="localAuditStatusName != null" >
        #{localAuditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="localReason != null" >
        #{localReason,jdbcType=VARCHAR},
      </if>
      <if test="cityAuditStatusId != null" >
        #{cityAuditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="cityAuditStatusName != null" >
        #{cityAuditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="cityReason != null" >
        #{cityReason,jdbcType=VARCHAR},
      </if>
      <if test="globalAuditStatusId != null" >
        #{globalAuditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="globalAuditStatusName != null" >
        #{globalAuditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="globalReason != null" >
        #{globalReason,jdbcType=VARCHAR},
      </if>
      <if test="testId != null" >
        #{testId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.JsresExamSignupExample"
            resultType="java.lang.Integer">
        select count(*) from JSRES_EXAM_SIGNUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update JSRES_EXAM_SIGNUP
    <set >
      <if test="record.signupFlow != null" >
        SIGNUP_FLOW = #{record.signupFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.signupYear != null" >
        SIGNUP_YEAR = #{record.signupYear,jdbcType=VARCHAR},
      </if>
      <if test="record.signupTypeId != null" >
        SIGNUP_TYPE_ID = #{record.signupTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.signupTypeName != null" >
        SIGNUP_TYPE_NAME = #{record.signupTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorFlow != null" >
        DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorTypeId != null" >
        DOCTOR_TYPE_ID = #{record.doctorTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorTypeName != null" >
        DOCTOR_TYPE_NAME = #{record.doctorTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.sessionNumber != null" >
        SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingYears != null" >
        TRAINING_YEARS = #{record.trainingYears,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingTypeId != null" >
        TRAINING_TYPE_ID = #{record.trainingTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingTypeName != null" >
        TRAINING_TYPE_NAME = #{record.trainingTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingSpeId != null" >
        TRAINING_SPE_ID = #{record.trainingSpeId,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingSpeName != null" >
        TRAINING_SPE_NAME = #{record.trainingSpeName,jdbcType=VARCHAR},
      </if>
      <if test="record.changeSpeId != null" >
        CHANGE_SPE_ID = #{record.changeSpeId,jdbcType=VARCHAR},
      </if>
      <if test="record.changeSpeName != null" >
        CHANGE_SPE_NAME = #{record.changeSpeName,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatusId != null" >
        AUDIT_STATUS_ID = #{record.auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatusName != null" >
        AUDIT_STATUS_NAME = #{record.auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.auditInfo != null" >
        AUDIT_INFO = #{record.auditInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.auditUserFlow != null" >
        AUDIT_USER_FLOW = #{record.auditUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.auditUserName != null" >
        AUDIT_USER_NAME = #{record.auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.auditTime != null" >
        AUDIT_TIME = #{record.auditTime,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.localAuditStatusId != null" >
        LOCAL_AUDIT_STATUS_ID = #{record.localAuditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.localAuditStatusName != null" >
        LOCAL_AUDIT_STATUS_NAME = #{record.localAuditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.localReason != null" >
        LOCAL_REASON = #{record.localReason,jdbcType=VARCHAR},
      </if>
      <if test="record.cityAuditStatusId != null" >
        CITY_AUDIT_STATUS_ID = #{record.cityAuditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.cityAuditStatusName != null" >
        CITY_AUDIT_STATUS_NAME = #{record.cityAuditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.cityReason != null" >
        CITY_REASON = #{record.cityReason,jdbcType=VARCHAR},
      </if>
      <if test="record.globalAuditStatusId != null" >
        GLOBAL_AUDIT_STATUS_ID = #{record.globalAuditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.globalAuditStatusName != null" >
        GLOBAL_AUDIT_STATUS_NAME = #{record.globalAuditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.globalReason != null" >
        GLOBAL_REASON = #{record.globalReason,jdbcType=VARCHAR},
      </if>
      <if test="record.testId != null" >
        TEST_ID = #{record.testId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update JSRES_EXAM_SIGNUP
    set SIGNUP_FLOW = #{record.signupFlow,jdbcType=VARCHAR},
    SIGNUP_YEAR = #{record.signupYear,jdbcType=VARCHAR},
    SIGNUP_TYPE_ID = #{record.signupTypeId,jdbcType=VARCHAR},
    SIGNUP_TYPE_NAME = #{record.signupTypeName,jdbcType=VARCHAR},
    DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
    DOCTOR_TYPE_ID = #{record.doctorTypeId,jdbcType=VARCHAR},
    DOCTOR_TYPE_NAME = #{record.doctorTypeName,jdbcType=VARCHAR},
    ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
    ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
    SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
    TRAINING_YEARS = #{record.trainingYears,jdbcType=VARCHAR},
    TRAINING_TYPE_ID = #{record.trainingTypeId,jdbcType=VARCHAR},
    TRAINING_TYPE_NAME = #{record.trainingTypeName,jdbcType=VARCHAR},
    TRAINING_SPE_ID = #{record.trainingSpeId,jdbcType=VARCHAR},
    TRAINING_SPE_NAME = #{record.trainingSpeName,jdbcType=VARCHAR},
    CHANGE_SPE_ID = #{record.changeSpeId,jdbcType=VARCHAR},
    CHANGE_SPE_NAME = #{record.changeSpeName,jdbcType=VARCHAR},
    AUDIT_STATUS_ID = #{record.auditStatusId,jdbcType=VARCHAR},
    AUDIT_STATUS_NAME = #{record.auditStatusName,jdbcType=VARCHAR},
    AUDIT_INFO = #{record.auditInfo,jdbcType=VARCHAR},
    AUDIT_USER_FLOW = #{record.auditUserFlow,jdbcType=VARCHAR},
    AUDIT_USER_NAME = #{record.auditUserName,jdbcType=VARCHAR},
    AUDIT_TIME = #{record.auditTime,jdbcType=VARCHAR},
    RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
    CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
    CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
    MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
    MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
    LOCAL_AUDIT_STATUS_ID = #{record.localAuditStatusId,jdbcType=VARCHAR},
    LOCAL_AUDIT_STATUS_NAME = #{record.localAuditStatusName,jdbcType=VARCHAR},
    LOCAL_REASON = #{record.localReason,jdbcType=VARCHAR},
    CITY_AUDIT_STATUS_ID = #{record.cityAuditStatusId,jdbcType=VARCHAR},
    CITY_AUDIT_STATUS_NAME = #{record.cityAuditStatusName,jdbcType=VARCHAR},
    CITY_REASON = #{record.cityReason,jdbcType=VARCHAR},
    GLOBAL_AUDIT_STATUS_ID = #{record.globalAuditStatusId,jdbcType=VARCHAR},
    GLOBAL_AUDIT_STATUS_NAME = #{record.globalAuditStatusName,jdbcType=VARCHAR},
    GLOBAL_REASON = #{record.globalReason,jdbcType=VARCHAR},
    TEST_ID = #{record.testId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.JsresExamSignup">
        update JSRES_EXAM_SIGNUP
    <set >
      <if test="signupYear != null" >
        SIGNUP_YEAR = #{signupYear,jdbcType=VARCHAR},
      </if>
      <if test="signupTypeId != null" >
        SIGNUP_TYPE_ID = #{signupTypeId,jdbcType=VARCHAR},
      </if>
      <if test="signupTypeName != null" >
        SIGNUP_TYPE_NAME = #{signupTypeName,jdbcType=VARCHAR},
      </if>
      <if test="doctorFlow != null" >
        DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorTypeId != null" >
        DOCTOR_TYPE_ID = #{doctorTypeId,jdbcType=VARCHAR},
      </if>
      <if test="doctorTypeName != null" >
        DOCTOR_TYPE_NAME = #{doctorTypeName,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="trainingYears != null" >
        TRAINING_YEARS = #{trainingYears,jdbcType=VARCHAR},
      </if>
      <if test="trainingTypeId != null" >
        TRAINING_TYPE_ID = #{trainingTypeId,jdbcType=VARCHAR},
      </if>
      <if test="trainingTypeName != null" >
        TRAINING_TYPE_NAME = #{trainingTypeName,jdbcType=VARCHAR},
      </if>
      <if test="trainingSpeId != null" >
        TRAINING_SPE_ID = #{trainingSpeId,jdbcType=VARCHAR},
      </if>
      <if test="trainingSpeName != null" >
        TRAINING_SPE_NAME = #{trainingSpeName,jdbcType=VARCHAR},
      </if>
      <if test="changeSpeId != null" >
        CHANGE_SPE_ID = #{changeSpeId,jdbcType=VARCHAR},
      </if>
      <if test="changeSpeName != null" >
        CHANGE_SPE_NAME = #{changeSpeName,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusId != null" >
        AUDIT_STATUS_ID = #{auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusName != null" >
        AUDIT_STATUS_NAME = #{auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="auditInfo != null" >
        AUDIT_INFO = #{auditInfo,jdbcType=VARCHAR},
      </if>
      <if test="auditUserFlow != null" >
        AUDIT_USER_FLOW = #{auditUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="auditUserName != null" >
        AUDIT_USER_NAME = #{auditUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        AUDIT_TIME = #{auditTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="localAuditStatusId != null" >
        LOCAL_AUDIT_STATUS_ID = #{localAuditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="localAuditStatusName != null" >
        LOCAL_AUDIT_STATUS_NAME = #{localAuditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="localReason != null" >
        LOCAL_REASON = #{localReason,jdbcType=VARCHAR},
      </if>
      <if test="cityAuditStatusId != null" >
        CITY_AUDIT_STATUS_ID = #{cityAuditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="cityAuditStatusName != null" >
        CITY_AUDIT_STATUS_NAME = #{cityAuditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="cityReason != null" >
        CITY_REASON = #{cityReason,jdbcType=VARCHAR},
      </if>
      <if test="globalAuditStatusId != null" >
        GLOBAL_AUDIT_STATUS_ID = #{globalAuditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="globalAuditStatusName != null" >
        GLOBAL_AUDIT_STATUS_NAME = #{globalAuditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="globalReason != null" >
        GLOBAL_REASON = #{globalReason,jdbcType=VARCHAR},
      </if>
      <if test="testId != null" >
        TEST_ID = #{testId,jdbcType=VARCHAR},
      </if>
    </set>
    where SIGNUP_FLOW = #{signupFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.JsresExamSignup">
        update JSRES_EXAM_SIGNUP
    set SIGNUP_YEAR = #{signupYear,jdbcType=VARCHAR},
      SIGNUP_TYPE_ID = #{signupTypeId,jdbcType=VARCHAR},
      SIGNUP_TYPE_NAME = #{signupTypeName,jdbcType=VARCHAR},
      DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      DOCTOR_TYPE_ID = #{doctorTypeId,jdbcType=VARCHAR},
      DOCTOR_TYPE_NAME = #{doctorTypeName,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      TRAINING_YEARS = #{trainingYears,jdbcType=VARCHAR},
      TRAINING_TYPE_ID = #{trainingTypeId,jdbcType=VARCHAR},
      TRAINING_TYPE_NAME = #{trainingTypeName,jdbcType=VARCHAR},
      TRAINING_SPE_ID = #{trainingSpeId,jdbcType=VARCHAR},
      TRAINING_SPE_NAME = #{trainingSpeName,jdbcType=VARCHAR},
      CHANGE_SPE_ID = #{changeSpeId,jdbcType=VARCHAR},
      CHANGE_SPE_NAME = #{changeSpeName,jdbcType=VARCHAR},
      AUDIT_STATUS_ID = #{auditStatusId,jdbcType=VARCHAR},
      AUDIT_STATUS_NAME = #{auditStatusName,jdbcType=VARCHAR},
      AUDIT_INFO = #{auditInfo,jdbcType=VARCHAR},
      AUDIT_USER_FLOW = #{auditUserFlow,jdbcType=VARCHAR},
      AUDIT_USER_NAME = #{auditUserName,jdbcType=VARCHAR},
      AUDIT_TIME = #{auditTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      LOCAL_AUDIT_STATUS_ID = #{localAuditStatusId,jdbcType=VARCHAR},
      LOCAL_AUDIT_STATUS_NAME = #{localAuditStatusName,jdbcType=VARCHAR},
      LOCAL_REASON = #{localReason,jdbcType=VARCHAR},
      CITY_AUDIT_STATUS_ID = #{cityAuditStatusId,jdbcType=VARCHAR},
      CITY_AUDIT_STATUS_NAME = #{cityAuditStatusName,jdbcType=VARCHAR},
      CITY_REASON = #{cityReason,jdbcType=VARCHAR},
      GLOBAL_AUDIT_STATUS_ID = #{globalAuditStatusId,jdbcType=VARCHAR},
      GLOBAL_AUDIT_STATUS_NAME = #{globalAuditStatusName,jdbcType=VARCHAR},
      GLOBAL_REASON = #{globalReason,jdbcType=VARCHAR},
      TEST_ID = #{testId,jdbcType=VARCHAR}
    where SIGNUP_FLOW = #{signupFlow,jdbcType=VARCHAR}
  </update>
</mapper>