<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.JsszportalCommunicationMainMapper" >
    <resultMap id="BaseResultMap" type="com.pinde.core.model.JsszportalCommunicationMain">
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="DISEASE_ID" property="diseaseId" jdbcType="VARCHAR" />
    <result column="DISEASE_NAME" property="diseaseName" jdbcType="VARCHAR" />
    <result column="UPLOAD_TIME" property="uploadTime" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="UPLOAD_USER_FLOW" property="uploadUserFlow" jdbcType="VARCHAR" />
    <result column="UPLOAD_USER_NAME" property="uploadUserName" jdbcType="VARCHAR" />
    <result column="REPLAY_TIMES" property="replayTimes" jdbcType="VARCHAR" />
    <result column="NEWEST_REPLAY_TIME" property="newestReplayTime" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.pinde.core.model.JsszportalCommunicationMain" extends="BaseResultMap">
    <result column="CONTENT" property="content" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, DISEASE_ID, DISEASE_NAME, UPLOAD_TIME, TITLE, UPLOAD_USER_FLOW, UPLOAD_USER_NAME, 
    REPLAY_TIMES, NEWEST_REPLAY_TIME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
    MODIFY_USER_FLOW
  </sql>
  <sql id="Blob_Column_List" >
    CONTENT
  </sql>
    <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"
            parameterType="com.pinde.core.model.JsszportalCommunicationMainExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.JSSZPORTAL_COMMUNICATION_MAIN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.pinde.core.model.JsszportalCommunicationMainExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.JSSZPORTAL_COMMUNICATION_MAIN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.JSSZPORTAL_COMMUNICATION_MAIN
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.JSSZPORTAL_COMMUNICATION_MAIN
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.JsszportalCommunicationMainExample">
    delete from PDSCI.JSSZPORTAL_COMMUNICATION_MAIN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.JsszportalCommunicationMain">
    insert into PDSCI.JSSZPORTAL_COMMUNICATION_MAIN (RECORD_FLOW, DISEASE_ID, DISEASE_NAME, 
      UPLOAD_TIME, TITLE, UPLOAD_USER_FLOW, 
      UPLOAD_USER_NAME, REPLAY_TIMES, NEWEST_REPLAY_TIME, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, CONTENT
      )
    values (#{recordFlow,jdbcType=VARCHAR}, #{diseaseId,jdbcType=VARCHAR}, #{diseaseName,jdbcType=VARCHAR}, 
      #{uploadTime,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{uploadUserFlow,jdbcType=VARCHAR}, 
      #{uploadUserName,jdbcType=VARCHAR}, #{replayTimes,jdbcType=VARCHAR}, #{newestReplayTime,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{content,jdbcType=CLOB}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.JsszportalCommunicationMain">
    insert into PDSCI.JSSZPORTAL_COMMUNICATION_MAIN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="diseaseId != null" >
        DISEASE_ID,
      </if>
      <if test="diseaseName != null" >
        DISEASE_NAME,
      </if>
      <if test="uploadTime != null" >
        UPLOAD_TIME,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="uploadUserFlow != null" >
        UPLOAD_USER_FLOW,
      </if>
      <if test="uploadUserName != null" >
        UPLOAD_USER_NAME,
      </if>
      <if test="replayTimes != null" >
        REPLAY_TIMES,
      </if>
      <if test="newestReplayTime != null" >
        NEWEST_REPLAY_TIME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="diseaseId != null" >
        #{diseaseId,jdbcType=VARCHAR},
      </if>
      <if test="diseaseName != null" >
        #{diseaseName,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        #{uploadTime,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="uploadUserFlow != null" >
        #{uploadUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="uploadUserName != null" >
        #{uploadUserName,jdbcType=VARCHAR},
      </if>
      <if test="replayTimes != null" >
        #{replayTimes,jdbcType=VARCHAR},
      </if>
      <if test="newestReplayTime != null" >
        #{newestReplayTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.JsszportalCommunicationMainExample"
            resultType="java.lang.Integer">
    select count(*) from PDSCI.JSSZPORTAL_COMMUNICATION_MAIN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.JSSZPORTAL_COMMUNICATION_MAIN
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.diseaseId != null" >
        DISEASE_ID = #{record.diseaseId,jdbcType=VARCHAR},
      </if>
      <if test="record.diseaseName != null" >
        DISEASE_NAME = #{record.diseaseName,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadTime != null" >
        UPLOAD_TIME = #{record.uploadTime,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadUserFlow != null" >
        UPLOAD_USER_FLOW = #{record.uploadUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadUserName != null" >
        UPLOAD_USER_NAME = #{record.uploadUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.replayTimes != null" >
        REPLAY_TIMES = #{record.replayTimes,jdbcType=VARCHAR},
      </if>
      <if test="record.newestReplayTime != null" >
        NEWEST_REPLAY_TIME = #{record.newestReplayTime,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        CONTENT = #{record.content,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update PDSCI.JSSZPORTAL_COMMUNICATION_MAIN
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      DISEASE_ID = #{record.diseaseId,jdbcType=VARCHAR},
      DISEASE_NAME = #{record.diseaseName,jdbcType=VARCHAR},
      UPLOAD_TIME = #{record.uploadTime,jdbcType=VARCHAR},
      TITLE = #{record.title,jdbcType=VARCHAR},
      UPLOAD_USER_FLOW = #{record.uploadUserFlow,jdbcType=VARCHAR},
      UPLOAD_USER_NAME = #{record.uploadUserName,jdbcType=VARCHAR},
      REPLAY_TIMES = #{record.replayTimes,jdbcType=VARCHAR},
      NEWEST_REPLAY_TIME = #{record.newestReplayTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      CONTENT = #{record.content,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.JSSZPORTAL_COMMUNICATION_MAIN
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      DISEASE_ID = #{record.diseaseId,jdbcType=VARCHAR},
      DISEASE_NAME = #{record.diseaseName,jdbcType=VARCHAR},
      UPLOAD_TIME = #{record.uploadTime,jdbcType=VARCHAR},
      TITLE = #{record.title,jdbcType=VARCHAR},
      UPLOAD_USER_FLOW = #{record.uploadUserFlow,jdbcType=VARCHAR},
      UPLOAD_USER_NAME = #{record.uploadUserName,jdbcType=VARCHAR},
      REPLAY_TIMES = #{record.replayTimes,jdbcType=VARCHAR},
      NEWEST_REPLAY_TIME = #{record.newestReplayTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.JsszportalCommunicationMain">
    update PDSCI.JSSZPORTAL_COMMUNICATION_MAIN
    <set >
      <if test="diseaseId != null" >
        DISEASE_ID = #{diseaseId,jdbcType=VARCHAR},
      </if>
      <if test="diseaseName != null" >
        DISEASE_NAME = #{diseaseName,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        UPLOAD_TIME = #{uploadTime,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="uploadUserFlow != null" >
        UPLOAD_USER_FLOW = #{uploadUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="uploadUserName != null" >
        UPLOAD_USER_NAME = #{uploadUserName,jdbcType=VARCHAR},
      </if>
      <if test="replayTimes != null" >
        REPLAY_TIMES = #{replayTimes,jdbcType=VARCHAR},
      </if>
      <if test="newestReplayTime != null" >
        NEWEST_REPLAY_TIME = #{newestReplayTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=CLOB},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.core.model.JsszportalCommunicationMain">
    update PDSCI.JSSZPORTAL_COMMUNICATION_MAIN
    set DISEASE_ID = #{diseaseId,jdbcType=VARCHAR},
      DISEASE_NAME = #{diseaseName,jdbcType=VARCHAR},
      UPLOAD_TIME = #{uploadTime,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      UPLOAD_USER_FLOW = #{uploadUserFlow,jdbcType=VARCHAR},
      UPLOAD_USER_NAME = #{uploadUserName,jdbcType=VARCHAR},
      REPLAY_TIMES = #{replayTimes,jdbcType=VARCHAR},
      NEWEST_REPLAY_TIME = #{newestReplayTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=CLOB}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.JsszportalCommunicationMain">
    update PDSCI.JSSZPORTAL_COMMUNICATION_MAIN
    set DISEASE_ID = #{diseaseId,jdbcType=VARCHAR},
      DISEASE_NAME = #{diseaseName,jdbcType=VARCHAR},
      UPLOAD_TIME = #{uploadTime,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      UPLOAD_USER_FLOW = #{uploadUserFlow,jdbcType=VARCHAR},
      UPLOAD_USER_NAME = #{uploadUserName,jdbcType=VARCHAR},
      REPLAY_TIMES = #{replayTimes,jdbcType=VARCHAR},
      NEWEST_REPLAY_TIME = #{newestReplayTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>