<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.LcjnCourseSuppliesMapper">
    <resultMap id="BaseResultMap" type="com.pinde.core.model.LcjnCourseSupplies">
    <id column="RECORD_FLOW" jdbcType="VARCHAR" property="recordFlow" />
    <result column="COURSE_FLOW" jdbcType="VARCHAR" property="courseFlow" />
    <result column="COURSE_NAME" jdbcType="VARCHAR" property="courseName" />
    <result column="SKILL_FLOW" jdbcType="VARCHAR" property="skillFlow" />
    <result column="SKILL_NAME" jdbcType="VARCHAR" property="skillName" />
    <result column="DICT_ID" jdbcType="VARCHAR" property="dictId" />
    <result column="DICT_NAME" jdbcType="VARCHAR" property="dictName" />
    <result column="USE_NUM" jdbcType="VARCHAR" property="useNum" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RECORD_FLOW, COURSE_FLOW, COURSE_NAME, SKILL_FLOW, SKILL_NAME, DICT_ID, DICT_NAME, 
    USE_NUM, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
    <select id="selectByExample" parameterType="com.pinde.core.model.LcjnCourseSuppliesExample"
            resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
        from LCJN_COURSE_SUPPLIES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
      from LCJN_COURSE_SUPPLIES
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
      delete from LCJN_COURSE_SUPPLIES
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.LcjnCourseSuppliesExample">
        delete from LCJN_COURSE_SUPPLIES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.LcjnCourseSupplies">
        insert into LCJN_COURSE_SUPPLIES (RECORD_FLOW, COURSE_FLOW, COURSE_NAME,
      SKILL_FLOW, SKILL_NAME, DICT_ID, 
      DICT_NAME, USE_NUM, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW)
    values (#{recordFlow,jdbcType=VARCHAR}, #{courseFlow,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR}, 
      #{skillFlow,jdbcType=VARCHAR}, #{skillName,jdbcType=VARCHAR}, #{dictId,jdbcType=VARCHAR}, 
      #{dictName,jdbcType=VARCHAR}, #{useNum,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.LcjnCourseSupplies">
        insert into LCJN_COURSE_SUPPLIES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordFlow != null">
        RECORD_FLOW,
      </if>
      <if test="courseFlow != null">
        COURSE_FLOW,
      </if>
      <if test="courseName != null">
        COURSE_NAME,
      </if>
      <if test="skillFlow != null">
        SKILL_FLOW,
      </if>
      <if test="skillName != null">
        SKILL_NAME,
      </if>
      <if test="dictId != null">
        DICT_ID,
      </if>
      <if test="dictName != null">
        DICT_NAME,
      </if>
      <if test="useNum != null">
        USE_NUM,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordFlow != null">
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="courseFlow != null">
        #{courseFlow,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="skillFlow != null">
        #{skillFlow,jdbcType=VARCHAR},
      </if>
      <if test="skillName != null">
        #{skillName,jdbcType=VARCHAR},
      </if>
      <if test="dictId != null">
        #{dictId,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null">
        #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="useNum != null">
        #{useNum,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.LcjnCourseSuppliesExample"
            resultType="java.lang.Integer">
        select count(*) from LCJN_COURSE_SUPPLIES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
      update LCJN_COURSE_SUPPLIES
    <set>
      <if test="record.recordFlow != null">
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.courseFlow != null">
        COURSE_FLOW = #{record.courseFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.courseName != null">
        COURSE_NAME = #{record.courseName,jdbcType=VARCHAR},
      </if>
      <if test="record.skillFlow != null">
        SKILL_FLOW = #{record.skillFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.skillName != null">
        SKILL_NAME = #{record.skillName,jdbcType=VARCHAR},
      </if>
      <if test="record.dictId != null">
        DICT_ID = #{record.dictId,jdbcType=VARCHAR},
      </if>
      <if test="record.dictName != null">
        DICT_NAME = #{record.dictName,jdbcType=VARCHAR},
      </if>
      <if test="record.useNum != null">
        USE_NUM = #{record.useNum,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
      update LCJN_COURSE_SUPPLIES
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      COURSE_FLOW = #{record.courseFlow,jdbcType=VARCHAR},
      COURSE_NAME = #{record.courseName,jdbcType=VARCHAR},
      SKILL_FLOW = #{record.skillFlow,jdbcType=VARCHAR},
      SKILL_NAME = #{record.skillName,jdbcType=VARCHAR},
      DICT_ID = #{record.dictId,jdbcType=VARCHAR},
      DICT_NAME = #{record.dictName,jdbcType=VARCHAR},
      USE_NUM = #{record.useNum,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.LcjnCourseSupplies">
        update LCJN_COURSE_SUPPLIES
    <set>
      <if test="courseFlow != null">
        COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        COURSE_NAME = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="skillFlow != null">
        SKILL_FLOW = #{skillFlow,jdbcType=VARCHAR},
      </if>
      <if test="skillName != null">
        SKILL_NAME = #{skillName,jdbcType=VARCHAR},
      </if>
      <if test="dictId != null">
        DICT_ID = #{dictId,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null">
        DICT_NAME = #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="useNum != null">
        USE_NUM = #{useNum,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.LcjnCourseSupplies">
        update LCJN_COURSE_SUPPLIES
    set COURSE_FLOW = #{courseFlow,jdbcType=VARCHAR},
      COURSE_NAME = #{courseName,jdbcType=VARCHAR},
      SKILL_FLOW = #{skillFlow,jdbcType=VARCHAR},
      SKILL_NAME = #{skillName,jdbcType=VARCHAR},
      DICT_ID = #{dictId,jdbcType=VARCHAR},
      DICT_NAME = #{dictName,jdbcType=VARCHAR},
      USE_NUM = #{useNum,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>