<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.NyzlAdmissionStudentMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.NyzlAdmissionStudent" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="RECRUIT_YEAR" property="recruitYear" jdbcType="VARCHAR" />
    <result column="STU_SIGN" property="stuSign" jdbcType="VARCHAR" />
    <result column="STU_NO" property="stuNo" jdbcType="VARCHAR" />
    <result column="STU_NAME" property="stuName" jdbcType="VARCHAR" />
    <result column="CARD_NO" property="cardNo" jdbcType="VARCHAR" />
    <result column="SPE_ID" property="speId" jdbcType="VARCHAR" />
    <result column="SPE_NAME" property="speName" jdbcType="VARCHAR" />
    <result column="TEST_GRADE" property="testGrade" jdbcType="VARCHAR" />
    <result column="RETEST_GRADE" property="retestGrade" jdbcType="VARCHAR" />
    <result column="TOTAL_GRADE" property="totalGrade" jdbcType="VARCHAR" />
    <result column="TEA_WORK_UNIT" property="teaWorkUnit" jdbcType="VARCHAR" />
    <result column="TEA_NAME" property="teaName" jdbcType="VARCHAR" />
    <result column="TEA_DIRECTION_ID" property="teaDirectionId" jdbcType="VARCHAR" />
    <result column="TEA_DIRECTION_NAME" property="teaDirectionName" jdbcType="VARCHAR" />
    <result column="STU_DIRECTION_ID" property="stuDirectionId" jdbcType="VARCHAR" />
    <result column="STU_DIRECTION_NAME" property="stuDirectionName" jdbcType="VARCHAR" />
    <result column="GROUP_RANKING" property="groupRanking" jdbcType="VARCHAR" />
    <result column="ADMISSION_FLAG" property="admissionFlag" jdbcType="VARCHAR" />
    <result column="DEGREE_TYPE_ID" property="degreeTypeId" jdbcType="VARCHAR" />
    <result column="DEGREE_TYPE_NAME" property="degreeTypeName" jdbcType="VARCHAR" />
    <result column="SWAP_FLAG" property="swapFlag" jdbcType="VARCHAR" />
    <result column="SWAP_BATCH_ID" property="swapBatchId" jdbcType="VARCHAR" />
    <result column="SWAP_BATCH_NAME" property="swapBatchName" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="EDUCATION_TYPE_ID" property="educationTypeId" jdbcType="VARCHAR" />
    <result column="EDUCATION_TYPE_NAME" property="educationTypeName" jdbcType="VARCHAR" />
    <result column="FWH_FLOW" property="fwhFlow" jdbcType="VARCHAR" />
    <result column="FWH_NAME" property="fwhName" jdbcType="VARCHAR" />
    <result column="STU_SPE_DIRECTION_ID" property="stuSpeDirectionId" jdbcType="VARCHAR" />
    <result column="STU_SPE_DIRECTION_NAME" property="stuSpeDirectionName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, RECRUIT_YEAR, STU_SIGN, STU_NO, STU_NAME, CARD_NO, SPE_ID, SPE_NAME, 
    TEST_GRADE, RETEST_GRADE, TOTAL_GRADE, TEA_WORK_UNIT, TEA_NAME, TEA_DIRECTION_ID, 
    TEA_DIRECTION_NAME, STU_DIRECTION_ID, STU_DIRECTION_NAME, GROUP_RANKING, ADMISSION_FLAG, 
    DEGREE_TYPE_ID, DEGREE_TYPE_NAME, SWAP_FLAG, SWAP_BATCH_ID, SWAP_BATCH_NAME, ORG_FLOW, 
    ORG_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
    EDUCATION_TYPE_ID, EDUCATION_TYPE_NAME, FWH_FLOW, FWH_NAME, STU_SPE_DIRECTION_ID, 
    STU_SPE_DIRECTION_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.NyzlAdmissionStudentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.NYZL_ADMISSION_STUDENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.NYZL_ADMISSION_STUDENT
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.NYZL_ADMISSION_STUDENT
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.NyzlAdmissionStudentExample" >
    delete from PDSCI.NYZL_ADMISSION_STUDENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.NyzlAdmissionStudent" >
    insert into PDSCI.NYZL_ADMISSION_STUDENT (RECORD_FLOW, RECRUIT_YEAR, STU_SIGN, 
      STU_NO, STU_NAME, CARD_NO, 
      SPE_ID, SPE_NAME, TEST_GRADE, 
      RETEST_GRADE, TOTAL_GRADE, TEA_WORK_UNIT, 
      TEA_NAME, TEA_DIRECTION_ID, TEA_DIRECTION_NAME, 
      STU_DIRECTION_ID, STU_DIRECTION_NAME, GROUP_RANKING, 
      ADMISSION_FLAG, DEGREE_TYPE_ID, DEGREE_TYPE_NAME, 
      SWAP_FLAG, SWAP_BATCH_ID, SWAP_BATCH_NAME, 
      ORG_FLOW, ORG_NAME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, EDUCATION_TYPE_ID, EDUCATION_TYPE_NAME, 
      FWH_FLOW, FWH_NAME, STU_SPE_DIRECTION_ID, 
      STU_SPE_DIRECTION_NAME)
    values (#{recordFlow,jdbcType=VARCHAR}, #{recruitYear,jdbcType=VARCHAR}, #{stuSign,jdbcType=VARCHAR}, 
      #{stuNo,jdbcType=VARCHAR}, #{stuName,jdbcType=VARCHAR}, #{cardNo,jdbcType=VARCHAR}, 
      #{speId,jdbcType=VARCHAR}, #{speName,jdbcType=VARCHAR}, #{testGrade,jdbcType=VARCHAR}, 
      #{retestGrade,jdbcType=VARCHAR}, #{totalGrade,jdbcType=VARCHAR}, #{teaWorkUnit,jdbcType=VARCHAR}, 
      #{teaName,jdbcType=VARCHAR}, #{teaDirectionId,jdbcType=VARCHAR}, #{teaDirectionName,jdbcType=VARCHAR}, 
      #{stuDirectionId,jdbcType=VARCHAR}, #{stuDirectionName,jdbcType=VARCHAR}, #{groupRanking,jdbcType=VARCHAR}, 
      #{admissionFlag,jdbcType=VARCHAR}, #{degreeTypeId,jdbcType=VARCHAR}, #{degreeTypeName,jdbcType=VARCHAR}, 
      #{swapFlag,jdbcType=VARCHAR}, #{swapBatchId,jdbcType=VARCHAR}, #{swapBatchName,jdbcType=VARCHAR}, 
      #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{educationTypeId,jdbcType=VARCHAR}, #{educationTypeName,jdbcType=VARCHAR}, 
      #{fwhFlow,jdbcType=VARCHAR}, #{fwhName,jdbcType=VARCHAR}, #{stuSpeDirectionId,jdbcType=VARCHAR}, 
      #{stuSpeDirectionName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.NyzlAdmissionStudent" >
    insert into PDSCI.NYZL_ADMISSION_STUDENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="recruitYear != null" >
        RECRUIT_YEAR,
      </if>
      <if test="stuSign != null" >
        STU_SIGN,
      </if>
      <if test="stuNo != null" >
        STU_NO,
      </if>
      <if test="stuName != null" >
        STU_NAME,
      </if>
      <if test="cardNo != null" >
        CARD_NO,
      </if>
      <if test="speId != null" >
        SPE_ID,
      </if>
      <if test="speName != null" >
        SPE_NAME,
      </if>
      <if test="testGrade != null" >
        TEST_GRADE,
      </if>
      <if test="retestGrade != null" >
        RETEST_GRADE,
      </if>
      <if test="totalGrade != null" >
        TOTAL_GRADE,
      </if>
      <if test="teaWorkUnit != null" >
        TEA_WORK_UNIT,
      </if>
      <if test="teaName != null" >
        TEA_NAME,
      </if>
      <if test="teaDirectionId != null" >
        TEA_DIRECTION_ID,
      </if>
      <if test="teaDirectionName != null" >
        TEA_DIRECTION_NAME,
      </if>
      <if test="stuDirectionId != null" >
        STU_DIRECTION_ID,
      </if>
      <if test="stuDirectionName != null" >
        STU_DIRECTION_NAME,
      </if>
      <if test="groupRanking != null" >
        GROUP_RANKING,
      </if>
      <if test="admissionFlag != null" >
        ADMISSION_FLAG,
      </if>
      <if test="degreeTypeId != null" >
        DEGREE_TYPE_ID,
      </if>
      <if test="degreeTypeName != null" >
        DEGREE_TYPE_NAME,
      </if>
      <if test="swapFlag != null" >
        SWAP_FLAG,
      </if>
      <if test="swapBatchId != null" >
        SWAP_BATCH_ID,
      </if>
      <if test="swapBatchName != null" >
        SWAP_BATCH_NAME,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="educationTypeId != null" >
        EDUCATION_TYPE_ID,
      </if>
      <if test="educationTypeName != null" >
        EDUCATION_TYPE_NAME,
      </if>
      <if test="fwhFlow != null" >
        FWH_FLOW,
      </if>
      <if test="fwhName != null" >
        FWH_NAME,
      </if>
      <if test="stuSpeDirectionId != null" >
        STU_SPE_DIRECTION_ID,
      </if>
      <if test="stuSpeDirectionName != null" >
        STU_SPE_DIRECTION_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="recruitYear != null" >
        #{recruitYear,jdbcType=VARCHAR},
      </if>
      <if test="stuSign != null" >
        #{stuSign,jdbcType=VARCHAR},
      </if>
      <if test="stuNo != null" >
        #{stuNo,jdbcType=VARCHAR},
      </if>
      <if test="stuName != null" >
        #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="speId != null" >
        #{speId,jdbcType=VARCHAR},
      </if>
      <if test="speName != null" >
        #{speName,jdbcType=VARCHAR},
      </if>
      <if test="testGrade != null" >
        #{testGrade,jdbcType=VARCHAR},
      </if>
      <if test="retestGrade != null" >
        #{retestGrade,jdbcType=VARCHAR},
      </if>
      <if test="totalGrade != null" >
        #{totalGrade,jdbcType=VARCHAR},
      </if>
      <if test="teaWorkUnit != null" >
        #{teaWorkUnit,jdbcType=VARCHAR},
      </if>
      <if test="teaName != null" >
        #{teaName,jdbcType=VARCHAR},
      </if>
      <if test="teaDirectionId != null" >
        #{teaDirectionId,jdbcType=VARCHAR},
      </if>
      <if test="teaDirectionName != null" >
        #{teaDirectionName,jdbcType=VARCHAR},
      </if>
      <if test="stuDirectionId != null" >
        #{stuDirectionId,jdbcType=VARCHAR},
      </if>
      <if test="stuDirectionName != null" >
        #{stuDirectionName,jdbcType=VARCHAR},
      </if>
      <if test="groupRanking != null" >
        #{groupRanking,jdbcType=VARCHAR},
      </if>
      <if test="admissionFlag != null" >
        #{admissionFlag,jdbcType=VARCHAR},
      </if>
      <if test="degreeTypeId != null" >
        #{degreeTypeId,jdbcType=VARCHAR},
      </if>
      <if test="degreeTypeName != null" >
        #{degreeTypeName,jdbcType=VARCHAR},
      </if>
      <if test="swapFlag != null" >
        #{swapFlag,jdbcType=VARCHAR},
      </if>
      <if test="swapBatchId != null" >
        #{swapBatchId,jdbcType=VARCHAR},
      </if>
      <if test="swapBatchName != null" >
        #{swapBatchName,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="educationTypeId != null" >
        #{educationTypeId,jdbcType=VARCHAR},
      </if>
      <if test="educationTypeName != null" >
        #{educationTypeName,jdbcType=VARCHAR},
      </if>
      <if test="fwhFlow != null" >
        #{fwhFlow,jdbcType=VARCHAR},
      </if>
      <if test="fwhName != null" >
        #{fwhName,jdbcType=VARCHAR},
      </if>
      <if test="stuSpeDirectionId != null" >
        #{stuSpeDirectionId,jdbcType=VARCHAR},
      </if>
      <if test="stuSpeDirectionName != null" >
        #{stuSpeDirectionName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.NyzlAdmissionStudentExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.NYZL_ADMISSION_STUDENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.NYZL_ADMISSION_STUDENT
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.recruitYear != null" >
        RECRUIT_YEAR = #{record.recruitYear,jdbcType=VARCHAR},
      </if>
      <if test="record.stuSign != null" >
        STU_SIGN = #{record.stuSign,jdbcType=VARCHAR},
      </if>
      <if test="record.stuNo != null" >
        STU_NO = #{record.stuNo,jdbcType=VARCHAR},
      </if>
      <if test="record.stuName != null" >
        STU_NAME = #{record.stuName,jdbcType=VARCHAR},
      </if>
      <if test="record.cardNo != null" >
        CARD_NO = #{record.cardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.speId != null" >
        SPE_ID = #{record.speId,jdbcType=VARCHAR},
      </if>
      <if test="record.speName != null" >
        SPE_NAME = #{record.speName,jdbcType=VARCHAR},
      </if>
      <if test="record.testGrade != null" >
        TEST_GRADE = #{record.testGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.retestGrade != null" >
        RETEST_GRADE = #{record.retestGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.totalGrade != null" >
        TOTAL_GRADE = #{record.totalGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.teaWorkUnit != null" >
        TEA_WORK_UNIT = #{record.teaWorkUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.teaName != null" >
        TEA_NAME = #{record.teaName,jdbcType=VARCHAR},
      </if>
      <if test="record.teaDirectionId != null" >
        TEA_DIRECTION_ID = #{record.teaDirectionId,jdbcType=VARCHAR},
      </if>
      <if test="record.teaDirectionName != null" >
        TEA_DIRECTION_NAME = #{record.teaDirectionName,jdbcType=VARCHAR},
      </if>
      <if test="record.stuDirectionId != null" >
        STU_DIRECTION_ID = #{record.stuDirectionId,jdbcType=VARCHAR},
      </if>
      <if test="record.stuDirectionName != null" >
        STU_DIRECTION_NAME = #{record.stuDirectionName,jdbcType=VARCHAR},
      </if>
      <if test="record.groupRanking != null" >
        GROUP_RANKING = #{record.groupRanking,jdbcType=VARCHAR},
      </if>
      <if test="record.admissionFlag != null" >
        ADMISSION_FLAG = #{record.admissionFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.degreeTypeId != null" >
        DEGREE_TYPE_ID = #{record.degreeTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.degreeTypeName != null" >
        DEGREE_TYPE_NAME = #{record.degreeTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.swapFlag != null" >
        SWAP_FLAG = #{record.swapFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.swapBatchId != null" >
        SWAP_BATCH_ID = #{record.swapBatchId,jdbcType=VARCHAR},
      </if>
      <if test="record.swapBatchName != null" >
        SWAP_BATCH_NAME = #{record.swapBatchName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.educationTypeId != null" >
        EDUCATION_TYPE_ID = #{record.educationTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.educationTypeName != null" >
        EDUCATION_TYPE_NAME = #{record.educationTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.fwhFlow != null" >
        FWH_FLOW = #{record.fwhFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.fwhName != null" >
        FWH_NAME = #{record.fwhName,jdbcType=VARCHAR},
      </if>
      <if test="record.stuSpeDirectionId != null" >
        STU_SPE_DIRECTION_ID = #{record.stuSpeDirectionId,jdbcType=VARCHAR},
      </if>
      <if test="record.stuSpeDirectionName != null" >
        STU_SPE_DIRECTION_NAME = #{record.stuSpeDirectionName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.NYZL_ADMISSION_STUDENT
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      RECRUIT_YEAR = #{record.recruitYear,jdbcType=VARCHAR},
      STU_SIGN = #{record.stuSign,jdbcType=VARCHAR},
      STU_NO = #{record.stuNo,jdbcType=VARCHAR},
      STU_NAME = #{record.stuName,jdbcType=VARCHAR},
      CARD_NO = #{record.cardNo,jdbcType=VARCHAR},
      SPE_ID = #{record.speId,jdbcType=VARCHAR},
      SPE_NAME = #{record.speName,jdbcType=VARCHAR},
      TEST_GRADE = #{record.testGrade,jdbcType=VARCHAR},
      RETEST_GRADE = #{record.retestGrade,jdbcType=VARCHAR},
      TOTAL_GRADE = #{record.totalGrade,jdbcType=VARCHAR},
      TEA_WORK_UNIT = #{record.teaWorkUnit,jdbcType=VARCHAR},
      TEA_NAME = #{record.teaName,jdbcType=VARCHAR},
      TEA_DIRECTION_ID = #{record.teaDirectionId,jdbcType=VARCHAR},
      TEA_DIRECTION_NAME = #{record.teaDirectionName,jdbcType=VARCHAR},
      STU_DIRECTION_ID = #{record.stuDirectionId,jdbcType=VARCHAR},
      STU_DIRECTION_NAME = #{record.stuDirectionName,jdbcType=VARCHAR},
      GROUP_RANKING = #{record.groupRanking,jdbcType=VARCHAR},
      ADMISSION_FLAG = #{record.admissionFlag,jdbcType=VARCHAR},
      DEGREE_TYPE_ID = #{record.degreeTypeId,jdbcType=VARCHAR},
      DEGREE_TYPE_NAME = #{record.degreeTypeName,jdbcType=VARCHAR},
      SWAP_FLAG = #{record.swapFlag,jdbcType=VARCHAR},
      SWAP_BATCH_ID = #{record.swapBatchId,jdbcType=VARCHAR},
      SWAP_BATCH_NAME = #{record.swapBatchName,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      EDUCATION_TYPE_ID = #{record.educationTypeId,jdbcType=VARCHAR},
      EDUCATION_TYPE_NAME = #{record.educationTypeName,jdbcType=VARCHAR},
      FWH_FLOW = #{record.fwhFlow,jdbcType=VARCHAR},
      FWH_NAME = #{record.fwhName,jdbcType=VARCHAR},
      STU_SPE_DIRECTION_ID = #{record.stuSpeDirectionId,jdbcType=VARCHAR},
      STU_SPE_DIRECTION_NAME = #{record.stuSpeDirectionName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.NyzlAdmissionStudent" >
    update PDSCI.NYZL_ADMISSION_STUDENT
    <set >
      <if test="recruitYear != null" >
        RECRUIT_YEAR = #{recruitYear,jdbcType=VARCHAR},
      </if>
      <if test="stuSign != null" >
        STU_SIGN = #{stuSign,jdbcType=VARCHAR},
      </if>
      <if test="stuNo != null" >
        STU_NO = #{stuNo,jdbcType=VARCHAR},
      </if>
      <if test="stuName != null" >
        STU_NAME = #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        CARD_NO = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="speId != null" >
        SPE_ID = #{speId,jdbcType=VARCHAR},
      </if>
      <if test="speName != null" >
        SPE_NAME = #{speName,jdbcType=VARCHAR},
      </if>
      <if test="testGrade != null" >
        TEST_GRADE = #{testGrade,jdbcType=VARCHAR},
      </if>
      <if test="retestGrade != null" >
        RETEST_GRADE = #{retestGrade,jdbcType=VARCHAR},
      </if>
      <if test="totalGrade != null" >
        TOTAL_GRADE = #{totalGrade,jdbcType=VARCHAR},
      </if>
      <if test="teaWorkUnit != null" >
        TEA_WORK_UNIT = #{teaWorkUnit,jdbcType=VARCHAR},
      </if>
      <if test="teaName != null" >
        TEA_NAME = #{teaName,jdbcType=VARCHAR},
      </if>
      <if test="teaDirectionId != null" >
        TEA_DIRECTION_ID = #{teaDirectionId,jdbcType=VARCHAR},
      </if>
      <if test="teaDirectionName != null" >
        TEA_DIRECTION_NAME = #{teaDirectionName,jdbcType=VARCHAR},
      </if>
      <if test="stuDirectionId != null" >
        STU_DIRECTION_ID = #{stuDirectionId,jdbcType=VARCHAR},
      </if>
      <if test="stuDirectionName != null" >
        STU_DIRECTION_NAME = #{stuDirectionName,jdbcType=VARCHAR},
      </if>
      <if test="groupRanking != null" >
        GROUP_RANKING = #{groupRanking,jdbcType=VARCHAR},
      </if>
      <if test="admissionFlag != null" >
        ADMISSION_FLAG = #{admissionFlag,jdbcType=VARCHAR},
      </if>
      <if test="degreeTypeId != null" >
        DEGREE_TYPE_ID = #{degreeTypeId,jdbcType=VARCHAR},
      </if>
      <if test="degreeTypeName != null" >
        DEGREE_TYPE_NAME = #{degreeTypeName,jdbcType=VARCHAR},
      </if>
      <if test="swapFlag != null" >
        SWAP_FLAG = #{swapFlag,jdbcType=VARCHAR},
      </if>
      <if test="swapBatchId != null" >
        SWAP_BATCH_ID = #{swapBatchId,jdbcType=VARCHAR},
      </if>
      <if test="swapBatchName != null" >
        SWAP_BATCH_NAME = #{swapBatchName,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="educationTypeId != null" >
        EDUCATION_TYPE_ID = #{educationTypeId,jdbcType=VARCHAR},
      </if>
      <if test="educationTypeName != null" >
        EDUCATION_TYPE_NAME = #{educationTypeName,jdbcType=VARCHAR},
      </if>
      <if test="fwhFlow != null" >
        FWH_FLOW = #{fwhFlow,jdbcType=VARCHAR},
      </if>
      <if test="fwhName != null" >
        FWH_NAME = #{fwhName,jdbcType=VARCHAR},
      </if>
      <if test="stuSpeDirectionId != null" >
        STU_SPE_DIRECTION_ID = #{stuSpeDirectionId,jdbcType=VARCHAR},
      </if>
      <if test="stuSpeDirectionName != null" >
        STU_SPE_DIRECTION_NAME = #{stuSpeDirectionName,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.NyzlAdmissionStudent" >
    update PDSCI.NYZL_ADMISSION_STUDENT
    set RECRUIT_YEAR = #{recruitYear,jdbcType=VARCHAR},
      STU_SIGN = #{stuSign,jdbcType=VARCHAR},
      STU_NO = #{stuNo,jdbcType=VARCHAR},
      STU_NAME = #{stuName,jdbcType=VARCHAR},
      CARD_NO = #{cardNo,jdbcType=VARCHAR},
      SPE_ID = #{speId,jdbcType=VARCHAR},
      SPE_NAME = #{speName,jdbcType=VARCHAR},
      TEST_GRADE = #{testGrade,jdbcType=VARCHAR},
      RETEST_GRADE = #{retestGrade,jdbcType=VARCHAR},
      TOTAL_GRADE = #{totalGrade,jdbcType=VARCHAR},
      TEA_WORK_UNIT = #{teaWorkUnit,jdbcType=VARCHAR},
      TEA_NAME = #{teaName,jdbcType=VARCHAR},
      TEA_DIRECTION_ID = #{teaDirectionId,jdbcType=VARCHAR},
      TEA_DIRECTION_NAME = #{teaDirectionName,jdbcType=VARCHAR},
      STU_DIRECTION_ID = #{stuDirectionId,jdbcType=VARCHAR},
      STU_DIRECTION_NAME = #{stuDirectionName,jdbcType=VARCHAR},
      GROUP_RANKING = #{groupRanking,jdbcType=VARCHAR},
      ADMISSION_FLAG = #{admissionFlag,jdbcType=VARCHAR},
      DEGREE_TYPE_ID = #{degreeTypeId,jdbcType=VARCHAR},
      DEGREE_TYPE_NAME = #{degreeTypeName,jdbcType=VARCHAR},
      SWAP_FLAG = #{swapFlag,jdbcType=VARCHAR},
      SWAP_BATCH_ID = #{swapBatchId,jdbcType=VARCHAR},
      SWAP_BATCH_NAME = #{swapBatchName,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      EDUCATION_TYPE_ID = #{educationTypeId,jdbcType=VARCHAR},
      EDUCATION_TYPE_NAME = #{educationTypeName,jdbcType=VARCHAR},
      FWH_FLOW = #{fwhFlow,jdbcType=VARCHAR},
      FWH_NAME = #{fwhName,jdbcType=VARCHAR},
      STU_SPE_DIRECTION_ID = #{stuSpeDirectionId,jdbcType=VARCHAR},
      STU_SPE_DIRECTION_NAME = #{stuSpeDirectionName,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>