<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.OscaSkillsAssessmentTimeMapper">
    <resultMap id="BaseResultMap" type="com.pinde.core.model.OscaSkillsAssessmentTime">
    <id column="RECROD_FLOW" jdbcType="VARCHAR" property="recrodFlow" />
    <result column="CLINICAL_FLOW" jdbcType="VARCHAR" property="clinicalFlow" />
    <result column="EXAM_START_TIME" jdbcType="VARCHAR" property="examStartTime" />
    <result column="EXAM_END_TIME" jdbcType="VARCHAR" property="examEndTime" />
    <result column="TEST_NUMBER" jdbcType="VARCHAR" property="testNumber" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RECROD_FLOW, CLINICAL_FLOW, EXAM_START_TIME, EXAM_END_TIME, TEST_NUMBER, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
    <select id="selectByExample" parameterType="com.pinde.core.model.OscaSkillsAssessmentTimeExample"
            resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
        from OSCA_SKILLS_ASSESSMENT_TIME
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
      from OSCA_SKILLS_ASSESSMENT_TIME
    where RECROD_FLOW = #{recrodFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
      delete from OSCA_SKILLS_ASSESSMENT_TIME
    where RECROD_FLOW = #{recrodFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.OscaSkillsAssessmentTimeExample">
        delete from OSCA_SKILLS_ASSESSMENT_TIME
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.OscaSkillsAssessmentTime">
        insert into OSCA_SKILLS_ASSESSMENT_TIME (RECROD_FLOW, CLINICAL_FLOW, EXAM_START_TIME,
      EXAM_END_TIME, TEST_NUMBER, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW)
    values (#{recrodFlow,jdbcType=VARCHAR}, #{clinicalFlow,jdbcType=VARCHAR}, #{examStartTime,jdbcType=VARCHAR}, 
      #{examEndTime,jdbcType=VARCHAR}, #{testNumber,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.OscaSkillsAssessmentTime">
        insert into OSCA_SKILLS_ASSESSMENT_TIME
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recrodFlow != null">
        RECROD_FLOW,
      </if>
      <if test="clinicalFlow != null">
        CLINICAL_FLOW,
      </if>
      <if test="examStartTime != null">
        EXAM_START_TIME,
      </if>
      <if test="examEndTime != null">
        EXAM_END_TIME,
      </if>
      <if test="testNumber != null">
        TEST_NUMBER,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recrodFlow != null">
        #{recrodFlow,jdbcType=VARCHAR},
      </if>
      <if test="clinicalFlow != null">
        #{clinicalFlow,jdbcType=VARCHAR},
      </if>
      <if test="examStartTime != null">
        #{examStartTime,jdbcType=VARCHAR},
      </if>
      <if test="examEndTime != null">
        #{examEndTime,jdbcType=VARCHAR},
      </if>
      <if test="testNumber != null">
        #{testNumber,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.OscaSkillsAssessmentTimeExample"
            resultType="java.lang.Integer">
        select count(*) from OSCA_SKILLS_ASSESSMENT_TIME
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
      update OSCA_SKILLS_ASSESSMENT_TIME
    <set>
      <if test="record.recrodFlow != null">
        RECROD_FLOW = #{record.recrodFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.clinicalFlow != null">
        CLINICAL_FLOW = #{record.clinicalFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.examStartTime != null">
        EXAM_START_TIME = #{record.examStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.examEndTime != null">
        EXAM_END_TIME = #{record.examEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.testNumber != null">
        TEST_NUMBER = #{record.testNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
      update OSCA_SKILLS_ASSESSMENT_TIME
    set RECROD_FLOW = #{record.recrodFlow,jdbcType=VARCHAR},
      CLINICAL_FLOW = #{record.clinicalFlow,jdbcType=VARCHAR},
      EXAM_START_TIME = #{record.examStartTime,jdbcType=VARCHAR},
      EXAM_END_TIME = #{record.examEndTime,jdbcType=VARCHAR},
      TEST_NUMBER = #{record.testNumber,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.OscaSkillsAssessmentTime">
        update OSCA_SKILLS_ASSESSMENT_TIME
    <set>
      <if test="clinicalFlow != null">
        CLINICAL_FLOW = #{clinicalFlow,jdbcType=VARCHAR},
      </if>
      <if test="examStartTime != null">
        EXAM_START_TIME = #{examStartTime,jdbcType=VARCHAR},
      </if>
      <if test="examEndTime != null">
        EXAM_END_TIME = #{examEndTime,jdbcType=VARCHAR},
      </if>
      <if test="testNumber != null">
        TEST_NUMBER = #{testNumber,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where RECROD_FLOW = #{recrodFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.OscaSkillsAssessmentTime">
        update OSCA_SKILLS_ASSESSMENT_TIME
    set CLINICAL_FLOW = #{clinicalFlow,jdbcType=VARCHAR},
      EXAM_START_TIME = #{examStartTime,jdbcType=VARCHAR},
      EXAM_END_TIME = #{examEndTime,jdbcType=VARCHAR},
      TEST_NUMBER = #{testNumber,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where RECROD_FLOW = #{recrodFlow,jdbcType=VARCHAR}
  </update>
</mapper>