<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.PersonnelStatisticsMapper" >
    <resultMap id="BaseResultMap" type="com.pinde.core.model.PersonnelStatisticsByName">
        <result column="org_flow" property="orgFlow" jdbcType="VARCHAR" />
        <result column="TRAINING_SPE_NAME" property="trainingSpeName" jdbcType="VARCHAR" />
        <result column="SESSION_NUMBER" property="sessionNumber" jdbcType="VARCHAR" />
        <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
        <result column="lastResidentNum" property="lastResidentNum" jdbcType="INTEGER" />
        <result column="residentNum" property="residentNum" jdbcType="INTEGER" />
        <result column="lastInSchoolNum" property="lastInSchoolNum" jdbcType="INTEGER" />
        <result column="inSchoolNum" property="inSchoolNum" jdbcType="INTEGER" />
        <result column="residentRecruitNum" property="residentRecruitNum" jdbcType="INTEGER" />
        <result column="inSchoolRecruitNum" property="inSchoolRecruitNum" jdbcType="INTEGER" />
        <result column="residentGraduatNum" property="residentGraduatNum" jdbcType="INTEGER" />
        <result column="inSchoolGraduatNum" property="inSchoolGraduatNum" jdbcType="INTEGER" />
        <result column="residentExaminedNum" property="residentExaminedNum" jdbcType="INTEGER" />
        <result column="inSchoolExaminedNum" property="inSchoolExaminedNum" jdbcType="INTEGER" />
        <result column="residentReturnNum" property="residentReturnNum" jdbcType="INTEGER" />
        <result column="inSchoolReturnNum" property="inSchoolReturnNum" jdbcType="INTEGER" />
        <result column="residentOutNum" property="residentOutNum" jdbcType="INTEGER" />
        <result column="inSchoolOutNum" property="inSchoolOutNum" jdbcType="INTEGER" />
        <result column="residentInNum" property="residentInNum" jdbcType="INTEGER" />
        <result column="inSchoolInNum" property="inSchoolInNum" jdbcType="INTEGER" />
    </resultMap>
    <select id="selectSection" resultMap="BaseResultMap">
        select
        t.training_spe_name,
        SUM(CASE WHEN t.doctor_Status_Id = '20'
        <if test="lastDateMonth!=null and lastDateMonth!=''">
            and t.DATE_MONTH = #{lastDateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) lastResidentNum,
        SUM(CASE WHEN t.doctor_Status_Id = '20'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) residentNum,
        SUM(CASE WHEN t.doctor_Status_Id = '20'
        <if test="lastDateMonth!=null and lastDateMonth!=''">
            and t.DATE_MONTH = #{lastDateMonth}
        </if>
        and t.doctor_type_id ='Graduate' THEN 1 ELSE 0 END) lastInSchoolNum,
        SUM(CASE WHEN t.doctor_Status_Id = '20'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id ='Graduate' THEN 1 ELSE 0 END) inSchoolNum,
        SUM(CASE WHEN
        <if test="dateMonth!=null and dateMonth!=''">
            t.DATE_MONTH = #{dateMonth}
        </if>
        <if test="dateMonth!=null and dateMonth!=''">
            and substr(dr.recruit_date,0,7) = #{dateMonth}
        </if>
            and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) residentRecruitNum,
        SUM(CASE WHEN
        <if test="dateMonth!=null and dateMonth!=''">
            t.DATE_MONTH = #{dateMonth}
        </if>
        <if test="dateMonth!=null and dateMonth!=''">
            and substr(dr.recruit_date,0,7) = #{dateMonth}
        </if>
            and t.doctor_type_id = 'Graduate' THEN 1 ELSE 0 END) inSchoolRecruitNum,
        SUM(CASE WHEN t.doctor_Status_Id = '21'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) residentGraduatNum,
        SUM(CASE WHEN t.doctor_Status_Id = '21'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id = 'Graduate' THEN 1 ELSE 0 END) inSchoolGraduatNum,
        SUM(CASE WHEN t.doctor_Status_Id = '22'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust')  THEN 1 ELSE 0 END) residentExaminedNum,
        SUM(CASE WHEN t.doctor_Status_Id = '22'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id = 'Graduate' THEN 1 ELSE 0 END) inSchoolExaminedNum,
        SUM(CASE WHEN rddt.type_id = 'ReturnTraining' and rddt.audit_status_id = '1'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) residentReturnNum,
        SUM(CASE WHEN rddt.type_id = 'ReturnTraining' and rddt.audit_status_id = '1'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id ='Graduate' THEN 1 ELSE 0 END) inSchoolReturnNum,
        SUM(CASE WHEN doh.history_org_flow=t.org_flow and doh.RECORD_STATUS = 'Y' AND doh.CHANGE_TYPE_ID = 'BaseChange' AND doh.CHANGE_STATUS_ID = 'GlobalApplyPass'
        <if test="strDateMonth!=null and strDateMonth!=''">
            and substr(doh.out_date,0,6) = #{strDateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) residentOutNum,
        SUM(CASE WHEN doh.history_org_flow=t.org_flow and doh.RECORD_STATUS = 'Y' AND doh.CHANGE_TYPE_ID = 'BaseChange' AND doh.CHANGE_STATUS_ID = 'GlobalApplyPass'
        <if test="strDateMonth!=null and strDateMonth!=''">
            and substr(doh.out_date,0,6) = #{strDateMonth}
        </if>
        and t.doctor_type_id ='Graduate' THEN 1 ELSE 0 END) inSchoolOutNum,
        SUM(CASE WHEN doh.org_flow=t.org_flow and doh.RECORD_STATUS = 'Y' AND doh.CHANGE_TYPE_ID = 'BaseChange' AND doh.CHANGE_STATUS_ID = 'GlobalApplyPass'
        <if test="strDateMonth!=null and strDateMonth!=''">
            and substr(doh.out_date,0,6) = #{strDateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) residentInNum,
        SUM(CASE WHEN doh.org_flow=t.org_flow and doh.RECORD_STATUS = 'Y' AND doh.CHANGE_TYPE_ID = 'BaseChange' AND doh.CHANGE_STATUS_ID = 'GlobalApplyPass'
        <if test="strDateMonth!=null and strDateMonth!=''">
            and substr(doh.out_date,0,6) = #{strDateMonth}
        </if>
        and t.doctor_type_id ='Graduate' THEN 1 ELSE 0 END) inSchoolInNum
        FROM PDSCI.SYS_MONTHLY_DOCTOR_INFO t
        left join res_docotr_delay_teturn rddt on rddt.doctor_flow = t.doctor_flow
        left join jsres_recruit_doc_info dr on dr.doctor_flow=t.doctor_flow
        left join RES_DOCTOR_ORG_HISTORY doh on doh.doctor_flow=t.doctor_flow
        WHERE t.RECORD_STATUS = 'Y'
        <if test="orgFlow!=null and orgFlow!=''">
            and t.ORG_FLOW = #{orgFlow}
        </if>
        and t.training_spe_id in (
          SELECT DICT_ID
             FROM PDSCI.SYS_DICT
             WHERE DICT_TYPE_ID = 'DoctorTrainingSpe'
             and record_status = 'Y')
        group by t.training_spe_name
    </select>


    <select id="selectGrade" resultMap="BaseResultMap">
        select
        t.session_number,
        SUM(CASE WHEN t.doctor_Status_Id = '20'
        <if test="lastDateMonth!=null and lastDateMonth!=''">
            and t.DATE_MONTH = #{lastDateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) lastResidentNum,
        SUM(CASE WHEN t.doctor_Status_Id = '20'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) residentNum,
        SUM(CASE WHEN t.doctor_Status_Id = '20'
        <if test="lastDateMonth!=null and lastDateMonth!=''">
            and t.DATE_MONTH = #{lastDateMonth}
        </if>
        and t.doctor_type_id ='Graduate' THEN 1 ELSE 0 END) lastInSchoolNum,
        SUM(CASE WHEN t.doctor_Status_Id = '20'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id ='Graduate' THEN 1 ELSE 0 END) inSchoolNum,
        SUM(CASE WHEN
        <if test="dateMonth!=null and dateMonth!=''">
            t.DATE_MONTH = #{dateMonth}
        </if>
        <if test="dateMonth!=null and dateMonth!=''">
            and substr(dr.recruit_date,0,7) = #{dateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) residentRecruitNum,
        SUM(CASE WHEN
        <if test="dateMonth!=null and dateMonth!=''">
            t.DATE_MONTH = #{dateMonth}
        </if>
        <if test="dateMonth!=null and dateMonth!=''">
            and substr(dr.recruit_date,0,7) = #{dateMonth}
        </if>
        and t.doctor_type_id = 'Graduate' THEN 1 ELSE 0 END) inSchoolRecruitNum,
        SUM(CASE WHEN t.doctor_Status_Id = '21'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) residentGraduatNum,
        SUM(CASE WHEN t.doctor_Status_Id = '21'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id = 'Graduate' THEN 1 ELSE 0 END) inSchoolGraduatNum,
        SUM(CASE WHEN t.doctor_Status_Id = '22'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust')  THEN 1 ELSE 0 END) residentExaminedNum,
        SUM(CASE WHEN t.doctor_Status_Id = '22'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id = 'Graduate' THEN 1 ELSE 0 END) inSchoolExaminedNum,
        SUM(CASE WHEN rddt.type_id = 'ReturnTraining' and rddt.audit_status_id = '1'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) residentReturnNum,
        SUM(CASE WHEN rddt.type_id = 'ReturnTraining' and rddt.audit_status_id = '1'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id ='Graduate' THEN 1 ELSE 0 END) inSchoolReturnNum,
        SUM(CASE WHEN doh.history_org_flow=t.org_flow and doh.RECORD_STATUS = 'Y' AND doh.CHANGE_TYPE_ID = 'BaseChange' AND doh.CHANGE_STATUS_ID = 'GlobalApplyPass'
        <if test="strDateMonth!=null and strDateMonth!=''">
            and substr(doh.out_date,0,6) = #{strDateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) residentOutNum,
        SUM(CASE WHEN doh.history_org_flow=t.org_flow and doh.RECORD_STATUS = 'Y' AND doh.CHANGE_TYPE_ID = 'BaseChange' AND doh.CHANGE_STATUS_ID = 'GlobalApplyPass'
        <if test="strDateMonth!=null and strDateMonth!=''">
            and substr(doh.out_date,0,6) = #{strDateMonth}
        </if>
        and t.doctor_type_id ='Graduate' THEN 1 ELSE 0 END) inSchoolOutNum,
        SUM(CASE WHEN doh.org_flow=t.org_flow and doh.RECORD_STATUS = 'Y' AND doh.CHANGE_TYPE_ID = 'BaseChange' AND doh.CHANGE_STATUS_ID = 'GlobalApplyPass'
        <if test="strDateMonth!=null and strDateMonth!=''">
            and substr(doh.out_date,0,6) = #{strDateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) residentInNum,
        SUM(CASE WHEN doh.org_flow=t.org_flow and doh.RECORD_STATUS = 'Y' AND doh.CHANGE_TYPE_ID = 'BaseChange' AND doh.CHANGE_STATUS_ID = 'GlobalApplyPass'
        <if test="strDateMonth!=null and strDateMonth!=''">
            and substr(doh.out_date,0,6) = #{strDateMonth}
        </if>
        and t.doctor_type_id ='Graduate' THEN 1 ELSE 0 END) inSchoolInNum
        FROM PDSCI.SYS_MONTHLY_DOCTOR_INFO t
        left join res_docotr_delay_teturn rddt on rddt.doctor_flow = t.doctor_flow
        left join jsres_recruit_doc_info dr on dr.doctor_flow=t.doctor_flow
        left join RES_DOCTOR_ORG_HISTORY doh on doh.doctor_flow=t.doctor_flow
        WHERE t.RECORD_STATUS = 'Y'
        <if test="orgFlow!=null and orgFlow!=''">
            and t.ORG_FLOW = #{orgFlow}
        </if>
        and t.training_spe_id in (SELECT DICT_ID
        FROM PDSCI.SYS_DICT
        WHERE DICT_TYPE_ID = 'DoctorTrainingSpe'
        and record_status = 'Y')
        <if test="trainingSpeName!=null and trainingSpeName!=''">
            and t.training_spe_name = #{trainingSpeName}
        </if>
        group by t.session_number
    </select>


    <select id="selectCollaborativeBase" resultMap="BaseResultMap">
        select
        t.org_name,
        SUM(CASE WHEN t.doctor_Status_Id = '20'
        <if test="lastDateMonth!=null and lastDateMonth!=''">
            and t.DATE_MONTH = #{lastDateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) lastResidentNum,
        SUM(CASE WHEN t.doctor_Status_Id = '20'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) residentNum,
        SUM(CASE WHEN t.doctor_Status_Id = '20'
        <if test="lastDateMonth!=null and lastDateMonth!=''">
            and t.DATE_MONTH = #{lastDateMonth}
        </if>
        and t.doctor_type_id ='Graduate' THEN 1 ELSE 0 END) lastInSchoolNum,
        SUM(CASE WHEN t.doctor_Status_Id = '20'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id ='Graduate' THEN 1 ELSE 0 END) inSchoolNum,
        SUM(CASE WHEN
        <if test="dateMonth!=null and dateMonth!=''">
            t.DATE_MONTH = #{dateMonth}
        </if>
        <if test="dateMonth!=null and dateMonth!=''">
            and substr(dr.recruit_date,0,7) = #{dateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) residentRecruitNum,
        SUM(CASE WHEN
        <if test="dateMonth!=null and dateMonth!=''">
            t.DATE_MONTH = #{dateMonth}
        </if>
        <if test="dateMonth!=null and dateMonth!=''">
            and substr(dr.recruit_date,0,7) = #{dateMonth}
        </if>
        and t.doctor_type_id = 'Graduate' THEN 1 ELSE 0 END) inSchoolRecruitNum,
        SUM(CASE WHEN t.doctor_Status_Id = '21'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) residentGraduatNum,
        SUM(CASE WHEN t.doctor_Status_Id = '21'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id = 'Graduate' THEN 1 ELSE 0 END) inSchoolGraduatNum,
        SUM(CASE WHEN t.doctor_Status_Id = '22'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust')  THEN 1 ELSE 0 END) residentExaminedNum,
        SUM(CASE WHEN t.doctor_Status_Id = '22'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id = 'Graduate' THEN 1 ELSE 0 END) inSchoolExaminedNum,
        SUM(CASE WHEN rddt.type_id = 'ReturnTraining' and rddt.audit_status_id = '1'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) residentReturnNum,
        SUM(CASE WHEN rddt.type_id = 'ReturnTraining' and rddt.audit_status_id = '1'
        <if test="dateMonth!=null and dateMonth!=''">
            and t.DATE_MONTH = #{dateMonth}
        </if>
        and t.doctor_type_id ='Graduate' THEN 1 ELSE 0 END) inSchoolReturnNum,
        SUM(CASE WHEN doh.history_org_flow=t.org_flow and doh.RECORD_STATUS = 'Y' AND doh.CHANGE_TYPE_ID = 'BaseChange' AND doh.CHANGE_STATUS_ID = 'GlobalApplyPass'
        <if test="strDateMonth!=null and strDateMonth!=''">
            and substr(doh.out_date,0,6) = #{strDateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) residentOutNum,
        SUM(CASE WHEN doh.history_org_flow=t.org_flow and doh.RECORD_STATUS = 'Y' AND doh.CHANGE_TYPE_ID = 'BaseChange' AND doh.CHANGE_STATUS_ID = 'GlobalApplyPass'
        <if test="strDateMonth!=null and strDateMonth!=''">
            and substr(doh.out_date,0,6) = #{strDateMonth}
        </if>
        and t.doctor_type_id ='Graduate' THEN 1 ELSE 0 END) inSchoolOutNum,
        SUM(CASE WHEN doh.org_flow=t.org_flow and doh.RECORD_STATUS = 'Y' AND doh.CHANGE_TYPE_ID = 'BaseChange' AND doh.CHANGE_STATUS_ID = 'GlobalApplyPass'
        <if test="strDateMonth!=null and strDateMonth!=''">
            and substr(doh.out_date,0,6) = #{strDateMonth}
        </if>
        and t.doctor_type_id in ('Social','Company','CompanyEntrust') THEN 1 ELSE 0 END) residentInNum,
        SUM(CASE WHEN doh.org_flow=t.org_flow and doh.RECORD_STATUS = 'Y' AND doh.CHANGE_TYPE_ID = 'BaseChange' AND doh.CHANGE_STATUS_ID = 'GlobalApplyPass'
        <if test="strDateMonth!=null and strDateMonth!=''">
            and substr(doh.out_date,0,6) = #{strDateMonth}
        </if>
        and t.doctor_type_id ='Graduate' THEN 1 ELSE 0 END) inSchoolInNum
        FROM PDSCI.SYS_MONTHLY_DOCTOR_INFO t
        left join res_docotr_delay_teturn rddt on rddt.doctor_flow = t.doctor_flow
        left join jsres_recruit_doc_info dr on dr.doctor_flow=t.doctor_flow
        left join RES_DOCTOR_ORG_HISTORY doh on doh.doctor_flow=t.doctor_flow
        WHERE t.RECORD_STATUS = 'Y'
        and t.training_spe_id in (SELECT DICT_ID
        FROM PDSCI.SYS_DICT
        WHERE DICT_TYPE_ID = 'DoctorTrainingSpe'
        and record_status = 'Y')
        and t.org_flow in(
        select joint_org_flow from res_joint_org where org_flow in (
        select distinct(org_flow) from PDSCI.SYS_MONTHLY_DOCTOR_INFO  where
        <if test="trainingSpeName!=null and trainingSpeName!=''">
            training_spe_name = #{trainingSpeName}
        </if>
        <if test="sessionNumber!=null and sessionNumber!=''">
            and session_number = #{sessionNumber}
        </if>
        <if test="orgFlow!=null and orgFlow!=''">
            and ORG_FLOW = #{orgFlow}
        </if>)
        )
        <if test="trainingSpeName!=null and trainingSpeName!=''">
            and t.training_spe_name = #{trainingSpeName}
        </if>
        <if test="sessionNumber!=null and sessionNumber!=''">
            and t.session_number = #{sessionNumber}
        </if>
        group by t.org_name
    </select>
    <select id="inTheNumOf" resultType="java.lang.Integer">
        select count(1) from (
            SELECT dr.*, u.USER_FLOW, u.USER_CODE, u.USER_NAME, u.SEX_ID
            , u.SEX_NAME, u.USER_PHONE, u.USER_EMAIL, u.ID_NO, u.USER_BIRTHDAY
            , u.TITLE_ID, u.TITLE_NAME, u.DEGREE_ID, u.DEGREE_NAME, u.EDUCATION_ID
            , u.EDUCATION_NAME, u.POST_ID, u.POST_NAME, ed.ORG_FLOW AS edOrgFlow, ed.ORG_Name AS edOrgName
            , ed.doctor_type_name, ed.doctor_type_id
            FROM pdsci.RES_DOCTOR_RECRUIT dr
            LEFT JOIN pdsci.SYS_USER u ON dr.DOCTOR_FLOW = u.USER_FLOW
            LEFT JOIN RES_DOCTOR ed ON dr.DOCTOR_FLOW = ed.DOCTOR_FLOW
            WHERE dr.RECORD_STATUS = 'Y'
            AND u.RECORD_STATUS = 'Y'
            AND dr.org_flow IN (SELECT ORG_FLOW
            FROM PDSCI.SYS_ORG
            WHERE PDSCI.SYS_ORG.RECORD_STATUS = 'Y'
            AND dr.AUDIT_STATUS_ID != 'NotSubmit'
            <if test="orgFlow!=null and  orgFlow!=''">
                AND dr.ORG_FLOW = #{orgFlow}
            </if>
            <if test="allOrgFlow!=null ">
                AND dr.ORG_FLOW  in
                <foreach collection="allOrgFlow" open="(" separator="," close=")" item="item">#{item,jdbcType=VARCHAR}</foreach>
            </if>
            <if test="docTypeList!=null ">
                and ed.DOCTOR_TYPE_ID in
                <foreach collection="docTypeList" open="(" separator="," close=")" item="item">#{item,jdbcType=VARCHAR}</foreach>
            </if>
            AND dr.TRAIN_YEAR IN ('OneYear', 'TwoYear', 'ThreeYear'))
            AND dr.AUDIT_STATUS_ID = 'Passed'
            AND dr.CAT_SPE_ID = 'DoctorTrainingSpe'
            <if test="speName!=null and  speName!=''">
                AND dr.spe_name = #{speName}
            </if>
            <if test="monthdate!=null and  monthdate!=''">
                AND SUBSTR(DR.MODIFY_TIME, 0, 6) = #{monthdate}
            </if>
            AND dr.doctor_Status_Id = '20'
        )
    </select>
</mapper>