<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.PortalInfoMapper" >
    <resultMap id="BaseResultMap" type="com.pinde.core.model.PortalInfo">
    <id column="INFO_FLOW" property="infoFlow" jdbcType="VARCHAR" />
    <result column="INFO_TITLE" property="infoTitle" jdbcType="VARCHAR" />
    <result column="TITLE_IMG" property="titleImg" jdbcType="VARCHAR" />
    <result column="COLUMN_ID" property="columnId" jdbcType="VARCHAR" />
    <result column="COLUMN_NAME" property="columnName" jdbcType="VARCHAR" />
    <result column="INFO_STATUS_ID" property="infoStatusId" jdbcType="VARCHAR" />
    <result column="INFO_STATUS_NAME" property="infoStatusName" jdbcType="VARCHAR" />
    <result column="INFO_TIME" property="infoTime" jdbcType="VARCHAR" />
    <result column="PASS_TIME" property="passTime" jdbcType="VARCHAR" />
    <result column="PASS_USER_FLOW" property="passUserFlow" jdbcType="VARCHAR" />
    <result column="CANCEL_TIME" property="cancelTime" jdbcType="VARCHAR" />
    <result column="CANCEL_USER_FLOW" property="cancelUserFlow" jdbcType="VARCHAR" />
    <result column="DELETE_TIME" property="deleteTime" jdbcType="VARCHAR" />
    <result column="DELETE_USER_FLOW" property="deleteUserFlow" jdbcType="VARCHAR" />
    <result column="INFO_KEYWORD" property="infoKeyword" jdbcType="VARCHAR" />
    <result column="IS_TOP" property="isTop" jdbcType="CHAR" />
    <result column="VIEW_NUM" property="viewNum" jdbcType="DECIMAL" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="CITY_ID" property="cityId" jdbcType="VARCHAR" />
    <result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
    <result column="WEST_EAET_TYPE" property="westEaetType" jdbcType="VARCHAR" />
    <result column="INFO_USER_NAME" property="infoUserName" jdbcType="VARCHAR" />
    <result column="AUTHOR" property="author" jdbcType="VARCHAR" />
  </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.pinde.core.model.PortalInfo" extends="BaseResultMap">
    <result column="INFO_CONTENT" property="infoContent" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    INFO_FLOW, INFO_TITLE, TITLE_IMG, COLUMN_ID, COLUMN_NAME, INFO_STATUS_ID, INFO_STATUS_NAME, 
    INFO_TIME, PASS_TIME, PASS_USER_FLOW, CANCEL_TIME, CANCEL_USER_FLOW, DELETE_TIME, 
    DELETE_USER_FLOW, INFO_KEYWORD, IS_TOP, VIEW_NUM, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW, ORG_FLOW, ORG_NAME, CITY_ID, CITY_NAME, WEST_EAET_TYPE, 
    INFO_USER_NAME, AUTHOR
  </sql>
  <sql id="Blob_Column_List" >
    INFO_CONTENT
  </sql>
    <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"
            parameterType="com.pinde.core.model.PortalInfoExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
        from PORTAL_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.PortalInfoExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
        from PORTAL_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
      from PORTAL_INFO
    where INFO_FLOW = #{infoFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from PORTAL_INFO
    where INFO_FLOW = #{infoFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.PortalInfoExample">
        delete from PORTAL_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.PortalInfo">
        insert into PORTAL_INFO (INFO_FLOW, INFO_TITLE, TITLE_IMG,
      COLUMN_ID, COLUMN_NAME, INFO_STATUS_ID, 
      INFO_STATUS_NAME, INFO_TIME, PASS_TIME, 
      PASS_USER_FLOW, CANCEL_TIME, CANCEL_USER_FLOW, 
      DELETE_TIME, DELETE_USER_FLOW, INFO_KEYWORD, 
      IS_TOP, VIEW_NUM, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, ORG_FLOW, ORG_NAME, 
      CITY_ID, CITY_NAME, WEST_EAET_TYPE, 
      INFO_USER_NAME, AUTHOR, INFO_CONTENT
      )
    values (#{infoFlow,jdbcType=VARCHAR}, #{infoTitle,jdbcType=VARCHAR}, #{titleImg,jdbcType=VARCHAR}, 
      #{columnId,jdbcType=VARCHAR}, #{columnName,jdbcType=VARCHAR}, #{infoStatusId,jdbcType=VARCHAR}, 
      #{infoStatusName,jdbcType=VARCHAR}, #{infoTime,jdbcType=VARCHAR}, #{passTime,jdbcType=VARCHAR}, 
      #{passUserFlow,jdbcType=VARCHAR}, #{cancelTime,jdbcType=VARCHAR}, #{cancelUserFlow,jdbcType=VARCHAR}, 
      #{deleteTime,jdbcType=VARCHAR}, #{deleteUserFlow,jdbcType=VARCHAR}, #{infoKeyword,jdbcType=VARCHAR}, 
      #{isTop,jdbcType=CHAR}, #{viewNum,jdbcType=DECIMAL}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{cityId,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, #{westEaetType,jdbcType=VARCHAR}, 
      #{infoUserName,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{infoContent,jdbcType=CLOB}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.PortalInfo">
        insert into PORTAL_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="infoFlow != null" >
        INFO_FLOW,
      </if>
      <if test="infoTitle != null" >
        INFO_TITLE,
      </if>
      <if test="titleImg != null" >
        TITLE_IMG,
      </if>
      <if test="columnId != null" >
        COLUMN_ID,
      </if>
      <if test="columnName != null" >
        COLUMN_NAME,
      </if>
      <if test="infoStatusId != null" >
        INFO_STATUS_ID,
      </if>
      <if test="infoStatusName != null" >
        INFO_STATUS_NAME,
      </if>
      <if test="infoTime != null" >
        INFO_TIME,
      </if>
      <if test="passTime != null" >
        PASS_TIME,
      </if>
      <if test="passUserFlow != null" >
        PASS_USER_FLOW,
      </if>
      <if test="cancelTime != null" >
        CANCEL_TIME,
      </if>
      <if test="cancelUserFlow != null" >
        CANCEL_USER_FLOW,
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME,
      </if>
      <if test="deleteUserFlow != null" >
        DELETE_USER_FLOW,
      </if>
      <if test="infoKeyword != null" >
        INFO_KEYWORD,
      </if>
      <if test="isTop != null" >
        IS_TOP,
      </if>
      <if test="viewNum != null" >
        VIEW_NUM,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="cityName != null" >
        CITY_NAME,
      </if>
      <if test="westEaetType != null" >
        WEST_EAET_TYPE,
      </if>
      <if test="infoUserName != null" >
        INFO_USER_NAME,
      </if>
      <if test="author != null" >
        AUTHOR,
      </if>
      <if test="infoContent != null" >
        INFO_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="infoFlow != null" >
        #{infoFlow,jdbcType=VARCHAR},
      </if>
      <if test="infoTitle != null" >
        #{infoTitle,jdbcType=VARCHAR},
      </if>
      <if test="titleImg != null" >
        #{titleImg,jdbcType=VARCHAR},
      </if>
      <if test="columnId != null" >
        #{columnId,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null" >
        #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="infoStatusId != null" >
        #{infoStatusId,jdbcType=VARCHAR},
      </if>
      <if test="infoStatusName != null" >
        #{infoStatusName,jdbcType=VARCHAR},
      </if>
      <if test="infoTime != null" >
        #{infoTime,jdbcType=VARCHAR},
      </if>
      <if test="passTime != null" >
        #{passTime,jdbcType=VARCHAR},
      </if>
      <if test="passUserFlow != null" >
        #{passUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="cancelTime != null" >
        #{cancelTime,jdbcType=VARCHAR},
      </if>
      <if test="cancelUserFlow != null" >
        #{cancelUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=VARCHAR},
      </if>
      <if test="deleteUserFlow != null" >
        #{deleteUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="infoKeyword != null" >
        #{infoKeyword,jdbcType=VARCHAR},
      </if>
      <if test="isTop != null" >
        #{isTop,jdbcType=CHAR},
      </if>
      <if test="viewNum != null" >
        #{viewNum,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="westEaetType != null" >
        #{westEaetType,jdbcType=VARCHAR},
      </if>
      <if test="infoUserName != null" >
        #{infoUserName,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="infoContent != null" >
        #{infoContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.PortalInfoExample" resultType="java.lang.Integer">
        select count(*) from PORTAL_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update PORTAL_INFO
    <set >
      <if test="record.infoFlow != null" >
        INFO_FLOW = #{record.infoFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.infoTitle != null" >
        INFO_TITLE = #{record.infoTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.titleImg != null" >
        TITLE_IMG = #{record.titleImg,jdbcType=VARCHAR},
      </if>
      <if test="record.columnId != null" >
        COLUMN_ID = #{record.columnId,jdbcType=VARCHAR},
      </if>
      <if test="record.columnName != null" >
        COLUMN_NAME = #{record.columnName,jdbcType=VARCHAR},
      </if>
      <if test="record.infoStatusId != null" >
        INFO_STATUS_ID = #{record.infoStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.infoStatusName != null" >
        INFO_STATUS_NAME = #{record.infoStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.infoTime != null" >
        INFO_TIME = #{record.infoTime,jdbcType=VARCHAR},
      </if>
      <if test="record.passTime != null" >
        PASS_TIME = #{record.passTime,jdbcType=VARCHAR},
      </if>
      <if test="record.passUserFlow != null" >
        PASS_USER_FLOW = #{record.passUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.cancelTime != null" >
        CANCEL_TIME = #{record.cancelTime,jdbcType=VARCHAR},
      </if>
      <if test="record.cancelUserFlow != null" >
        CANCEL_USER_FLOW = #{record.cancelUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteTime != null" >
        DELETE_TIME = #{record.deleteTime,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteUserFlow != null" >
        DELETE_USER_FLOW = #{record.deleteUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.infoKeyword != null" >
        INFO_KEYWORD = #{record.infoKeyword,jdbcType=VARCHAR},
      </if>
      <if test="record.isTop != null" >
        IS_TOP = #{record.isTop,jdbcType=CHAR},
      </if>
      <if test="record.viewNum != null" >
        VIEW_NUM = #{record.viewNum,jdbcType=DECIMAL},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.cityId != null" >
        CITY_ID = #{record.cityId,jdbcType=VARCHAR},
      </if>
      <if test="record.cityName != null" >
        CITY_NAME = #{record.cityName,jdbcType=VARCHAR},
      </if>
      <if test="record.westEaetType != null" >
        WEST_EAET_TYPE = #{record.westEaetType,jdbcType=VARCHAR},
      </if>
      <if test="record.infoUserName != null" >
        INFO_USER_NAME = #{record.infoUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        AUTHOR = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.infoContent != null" >
        INFO_CONTENT = #{record.infoContent,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
      update PORTAL_INFO
    set INFO_FLOW = #{record.infoFlow,jdbcType=VARCHAR},
      INFO_TITLE = #{record.infoTitle,jdbcType=VARCHAR},
      TITLE_IMG = #{record.titleImg,jdbcType=VARCHAR},
      COLUMN_ID = #{record.columnId,jdbcType=VARCHAR},
      COLUMN_NAME = #{record.columnName,jdbcType=VARCHAR},
      INFO_STATUS_ID = #{record.infoStatusId,jdbcType=VARCHAR},
      INFO_STATUS_NAME = #{record.infoStatusName,jdbcType=VARCHAR},
      INFO_TIME = #{record.infoTime,jdbcType=VARCHAR},
      PASS_TIME = #{record.passTime,jdbcType=VARCHAR},
      PASS_USER_FLOW = #{record.passUserFlow,jdbcType=VARCHAR},
      CANCEL_TIME = #{record.cancelTime,jdbcType=VARCHAR},
      CANCEL_USER_FLOW = #{record.cancelUserFlow,jdbcType=VARCHAR},
      DELETE_TIME = #{record.deleteTime,jdbcType=VARCHAR},
      DELETE_USER_FLOW = #{record.deleteUserFlow,jdbcType=VARCHAR},
      INFO_KEYWORD = #{record.infoKeyword,jdbcType=VARCHAR},
      IS_TOP = #{record.isTop,jdbcType=CHAR},
      VIEW_NUM = #{record.viewNum,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      CITY_ID = #{record.cityId,jdbcType=VARCHAR},
      CITY_NAME = #{record.cityName,jdbcType=VARCHAR},
      WEST_EAET_TYPE = #{record.westEaetType,jdbcType=VARCHAR},
      INFO_USER_NAME = #{record.infoUserName,jdbcType=VARCHAR},
      AUTHOR = #{record.author,jdbcType=VARCHAR},
      INFO_CONTENT = #{record.infoContent,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update PORTAL_INFO
    set INFO_FLOW = #{record.infoFlow,jdbcType=VARCHAR},
      INFO_TITLE = #{record.infoTitle,jdbcType=VARCHAR},
      TITLE_IMG = #{record.titleImg,jdbcType=VARCHAR},
      COLUMN_ID = #{record.columnId,jdbcType=VARCHAR},
      COLUMN_NAME = #{record.columnName,jdbcType=VARCHAR},
      INFO_STATUS_ID = #{record.infoStatusId,jdbcType=VARCHAR},
      INFO_STATUS_NAME = #{record.infoStatusName,jdbcType=VARCHAR},
      INFO_TIME = #{record.infoTime,jdbcType=VARCHAR},
      PASS_TIME = #{record.passTime,jdbcType=VARCHAR},
      PASS_USER_FLOW = #{record.passUserFlow,jdbcType=VARCHAR},
      CANCEL_TIME = #{record.cancelTime,jdbcType=VARCHAR},
      CANCEL_USER_FLOW = #{record.cancelUserFlow,jdbcType=VARCHAR},
      DELETE_TIME = #{record.deleteTime,jdbcType=VARCHAR},
      DELETE_USER_FLOW = #{record.deleteUserFlow,jdbcType=VARCHAR},
      INFO_KEYWORD = #{record.infoKeyword,jdbcType=VARCHAR},
      IS_TOP = #{record.isTop,jdbcType=CHAR},
      VIEW_NUM = #{record.viewNum,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      CITY_ID = #{record.cityId,jdbcType=VARCHAR},
      CITY_NAME = #{record.cityName,jdbcType=VARCHAR},
      WEST_EAET_TYPE = #{record.westEaetType,jdbcType=VARCHAR},
      INFO_USER_NAME = #{record.infoUserName,jdbcType=VARCHAR},
      AUTHOR = #{record.author,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.PortalInfo">
        update PORTAL_INFO
    <set >
      <if test="infoTitle != null" >
        INFO_TITLE = #{infoTitle,jdbcType=VARCHAR},
      </if>
      <if test="titleImg != null" >
        TITLE_IMG = #{titleImg,jdbcType=VARCHAR},
      </if>
      <if test="columnId != null" >
        COLUMN_ID = #{columnId,jdbcType=VARCHAR},
      </if>
      <if test="columnName != null" >
        COLUMN_NAME = #{columnName,jdbcType=VARCHAR},
      </if>
      <if test="infoStatusId != null" >
        INFO_STATUS_ID = #{infoStatusId,jdbcType=VARCHAR},
      </if>
      <if test="infoStatusName != null" >
        INFO_STATUS_NAME = #{infoStatusName,jdbcType=VARCHAR},
      </if>
      <if test="infoTime != null" >
        INFO_TIME = #{infoTime,jdbcType=VARCHAR},
      </if>
      <if test="passTime != null" >
        PASS_TIME = #{passTime,jdbcType=VARCHAR},
      </if>
      <if test="passUserFlow != null" >
        PASS_USER_FLOW = #{passUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="cancelTime != null" >
        CANCEL_TIME = #{cancelTime,jdbcType=VARCHAR},
      </if>
      <if test="cancelUserFlow != null" >
        CANCEL_USER_FLOW = #{cancelUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        DELETE_TIME = #{deleteTime,jdbcType=VARCHAR},
      </if>
      <if test="deleteUserFlow != null" >
        DELETE_USER_FLOW = #{deleteUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="infoKeyword != null" >
        INFO_KEYWORD = #{infoKeyword,jdbcType=VARCHAR},
      </if>
      <if test="isTop != null" >
        IS_TOP = #{isTop,jdbcType=CHAR},
      </if>
      <if test="viewNum != null" >
        VIEW_NUM = #{viewNum,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        CITY_NAME = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="westEaetType != null" >
        WEST_EAET_TYPE = #{westEaetType,jdbcType=VARCHAR},
      </if>
      <if test="infoUserName != null" >
        INFO_USER_NAME = #{infoUserName,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        AUTHOR = #{author,jdbcType=VARCHAR},
      </if>
      <if test="infoContent != null" >
        INFO_CONTENT = #{infoContent,jdbcType=CLOB},
      </if>
    </set>
    where INFO_FLOW = #{infoFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.core.model.PortalInfo">
        update PORTAL_INFO
    set INFO_TITLE = #{infoTitle,jdbcType=VARCHAR},
      TITLE_IMG = #{titleImg,jdbcType=VARCHAR},
      COLUMN_ID = #{columnId,jdbcType=VARCHAR},
      COLUMN_NAME = #{columnName,jdbcType=VARCHAR},
      INFO_STATUS_ID = #{infoStatusId,jdbcType=VARCHAR},
      INFO_STATUS_NAME = #{infoStatusName,jdbcType=VARCHAR},
      INFO_TIME = #{infoTime,jdbcType=VARCHAR},
      PASS_TIME = #{passTime,jdbcType=VARCHAR},
      PASS_USER_FLOW = #{passUserFlow,jdbcType=VARCHAR},
      CANCEL_TIME = #{cancelTime,jdbcType=VARCHAR},
      CANCEL_USER_FLOW = #{cancelUserFlow,jdbcType=VARCHAR},
      DELETE_TIME = #{deleteTime,jdbcType=VARCHAR},
      DELETE_USER_FLOW = #{deleteUserFlow,jdbcType=VARCHAR},
      INFO_KEYWORD = #{infoKeyword,jdbcType=VARCHAR},
      IS_TOP = #{isTop,jdbcType=CHAR},
      VIEW_NUM = #{viewNum,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      CITY_ID = #{cityId,jdbcType=VARCHAR},
      CITY_NAME = #{cityName,jdbcType=VARCHAR},
      WEST_EAET_TYPE = #{westEaetType,jdbcType=VARCHAR},
      INFO_USER_NAME = #{infoUserName,jdbcType=VARCHAR},
      AUTHOR = #{author,jdbcType=VARCHAR},
      INFO_CONTENT = #{infoContent,jdbcType=CLOB}
    where INFO_FLOW = #{infoFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.PortalInfo">
        update PORTAL_INFO
    set INFO_TITLE = #{infoTitle,jdbcType=VARCHAR},
      TITLE_IMG = #{titleImg,jdbcType=VARCHAR},
      COLUMN_ID = #{columnId,jdbcType=VARCHAR},
      COLUMN_NAME = #{columnName,jdbcType=VARCHAR},
      INFO_STATUS_ID = #{infoStatusId,jdbcType=VARCHAR},
      INFO_STATUS_NAME = #{infoStatusName,jdbcType=VARCHAR},
      INFO_TIME = #{infoTime,jdbcType=VARCHAR},
      PASS_TIME = #{passTime,jdbcType=VARCHAR},
      PASS_USER_FLOW = #{passUserFlow,jdbcType=VARCHAR},
      CANCEL_TIME = #{cancelTime,jdbcType=VARCHAR},
      CANCEL_USER_FLOW = #{cancelUserFlow,jdbcType=VARCHAR},
      DELETE_TIME = #{deleteTime,jdbcType=VARCHAR},
      DELETE_USER_FLOW = #{deleteUserFlow,jdbcType=VARCHAR},
      INFO_KEYWORD = #{infoKeyword,jdbcType=VARCHAR},
      IS_TOP = #{isTop,jdbcType=CHAR},
      VIEW_NUM = #{viewNum,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      CITY_ID = #{cityId,jdbcType=VARCHAR},
      CITY_NAME = #{cityName,jdbcType=VARCHAR},
      WEST_EAET_TYPE = #{westEaetType,jdbcType=VARCHAR},
      INFO_USER_NAME = #{infoUserName,jdbcType=VARCHAR},
      AUTHOR = #{author,jdbcType=VARCHAR}
    where INFO_FLOW = #{infoFlow,jdbcType=VARCHAR}
  </update>
</mapper>