<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.PubImpactorFactorMapper" >
    <resultMap id="BaseResultMap" type="com.pinde.core.model.PubImpactorFactor">
    <id column="FACTOR_FLOW" property="factorFlow" jdbcType="VARCHAR" />
    <result column="YEAR" property="year" jdbcType="VARCHAR" />
    <result column="FACTOR_TYPE_ID" property="factorTypeId" jdbcType="VARCHAR" />
    <result column="FACTOR_TYPE_NAME" property="factorTypeName" jdbcType="VARCHAR" />
    <result column="RANK" property="rank" jdbcType="VARCHAR" />
    <result column="JOURNAL_TITLE" property="journalTitle" jdbcType="VARCHAR" />
    <result column="ISSN" property="issn" jdbcType="VARCHAR" />
    <result column="TOTAL_CITES" property="totalCites" jdbcType="VARCHAR" />
    <result column="IMPACT_FACTOR" property="impactFactor" jdbcType="VARCHAR" />
    <result column="FIVE_YEAR_IMPACTOR_FACTOR" property="fiveYearImpactorFactor" jdbcType="VARCHAR" />
    <result column="IMMEDIACY_INDEX" property="immediacyIndex" jdbcType="VARCHAR" />
    <result column="ARTICLES" property="articles" jdbcType="VARCHAR" />
    <result column="CITED_HALFLIFE" property="citedHalflife" jdbcType="VARCHAR" />
    <result column="EIGENFACTORTM_SOURCE" property="eigenfactortmSource" jdbcType="VARCHAR" />
    <result column="INFLUENCETM_SOURCE" property="influencetmSource" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    FACTOR_FLOW, YEAR, FACTOR_TYPE_ID, FACTOR_TYPE_NAME, RANK, JOURNAL_TITLE, ISSN, TOTAL_CITES, 
    IMPACT_FACTOR, FIVE_YEAR_IMPACTOR_FACTOR, IMMEDIACY_INDEX, ARTICLES, CITED_HALFLIFE, 
    EIGENFACTORTM_SOURCE, INFLUENCETM_SOURCE, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.pinde.core.model.PubImpactorFactorExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.PUB_IMPACTOR_FACTOR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.PUB_IMPACTOR_FACTOR
    where FACTOR_FLOW = #{factorFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.PUB_IMPACTOR_FACTOR
    where FACTOR_FLOW = #{factorFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.PubImpactorFactorExample">
    delete from PDSCI.PUB_IMPACTOR_FACTOR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.PubImpactorFactor">
    insert into PDSCI.PUB_IMPACTOR_FACTOR (FACTOR_FLOW, YEAR, FACTOR_TYPE_ID, 
      FACTOR_TYPE_NAME, RANK, JOURNAL_TITLE, 
      ISSN, TOTAL_CITES, IMPACT_FACTOR, 
      FIVE_YEAR_IMPACTOR_FACTOR, IMMEDIACY_INDEX, 
      ARTICLES, CITED_HALFLIFE, EIGENFACTORTM_SOURCE, 
      INFLUENCETM_SOURCE, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
      )
    values (#{factorFlow,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, #{factorTypeId,jdbcType=VARCHAR}, 
      #{factorTypeName,jdbcType=VARCHAR}, #{rank,jdbcType=VARCHAR}, #{journalTitle,jdbcType=VARCHAR}, 
      #{issn,jdbcType=VARCHAR}, #{totalCites,jdbcType=VARCHAR}, #{impactFactor,jdbcType=VARCHAR}, 
      #{fiveYearImpactorFactor,jdbcType=VARCHAR}, #{immediacyIndex,jdbcType=VARCHAR}, 
      #{articles,jdbcType=VARCHAR}, #{citedHalflife,jdbcType=VARCHAR}, #{eigenfactortmSource,jdbcType=VARCHAR}, 
      #{influencetmSource,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.PubImpactorFactor">
    insert into PDSCI.PUB_IMPACTOR_FACTOR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="factorFlow != null" >
        FACTOR_FLOW,
      </if>
      <if test="year != null" >
        YEAR,
      </if>
      <if test="factorTypeId != null" >
        FACTOR_TYPE_ID,
      </if>
      <if test="factorTypeName != null" >
        FACTOR_TYPE_NAME,
      </if>
      <if test="rank != null" >
        RANK,
      </if>
      <if test="journalTitle != null" >
        JOURNAL_TITLE,
      </if>
      <if test="issn != null" >
        ISSN,
      </if>
      <if test="totalCites != null" >
        TOTAL_CITES,
      </if>
      <if test="impactFactor != null" >
        IMPACT_FACTOR,
      </if>
      <if test="fiveYearImpactorFactor != null" >
        FIVE_YEAR_IMPACTOR_FACTOR,
      </if>
      <if test="immediacyIndex != null" >
        IMMEDIACY_INDEX,
      </if>
      <if test="articles != null" >
        ARTICLES,
      </if>
      <if test="citedHalflife != null" >
        CITED_HALFLIFE,
      </if>
      <if test="eigenfactortmSource != null" >
        EIGENFACTORTM_SOURCE,
      </if>
      <if test="influencetmSource != null" >
        INFLUENCETM_SOURCE,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="factorFlow != null" >
        #{factorFlow,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="factorTypeId != null" >
        #{factorTypeId,jdbcType=VARCHAR},
      </if>
      <if test="factorTypeName != null" >
        #{factorTypeName,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=VARCHAR},
      </if>
      <if test="journalTitle != null" >
        #{journalTitle,jdbcType=VARCHAR},
      </if>
      <if test="issn != null" >
        #{issn,jdbcType=VARCHAR},
      </if>
      <if test="totalCites != null" >
        #{totalCites,jdbcType=VARCHAR},
      </if>
      <if test="impactFactor != null" >
        #{impactFactor,jdbcType=VARCHAR},
      </if>
      <if test="fiveYearImpactorFactor != null" >
        #{fiveYearImpactorFactor,jdbcType=VARCHAR},
      </if>
      <if test="immediacyIndex != null" >
        #{immediacyIndex,jdbcType=VARCHAR},
      </if>
      <if test="articles != null" >
        #{articles,jdbcType=VARCHAR},
      </if>
      <if test="citedHalflife != null" >
        #{citedHalflife,jdbcType=VARCHAR},
      </if>
      <if test="eigenfactortmSource != null" >
        #{eigenfactortmSource,jdbcType=VARCHAR},
      </if>
      <if test="influencetmSource != null" >
        #{influencetmSource,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.PubImpactorFactorExample"
            resultType="java.lang.Integer">
    select count(*) from PDSCI.PUB_IMPACTOR_FACTOR
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.PUB_IMPACTOR_FACTOR
    <set >
      <if test="record.factorFlow != null" >
        FACTOR_FLOW = #{record.factorFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null" >
        YEAR = #{record.year,jdbcType=VARCHAR},
      </if>
      <if test="record.factorTypeId != null" >
        FACTOR_TYPE_ID = #{record.factorTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.factorTypeName != null" >
        FACTOR_TYPE_NAME = #{record.factorTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.rank != null" >
        RANK = #{record.rank,jdbcType=VARCHAR},
      </if>
      <if test="record.journalTitle != null" >
        JOURNAL_TITLE = #{record.journalTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.issn != null" >
        ISSN = #{record.issn,jdbcType=VARCHAR},
      </if>
      <if test="record.totalCites != null" >
        TOTAL_CITES = #{record.totalCites,jdbcType=VARCHAR},
      </if>
      <if test="record.impactFactor != null" >
        IMPACT_FACTOR = #{record.impactFactor,jdbcType=VARCHAR},
      </if>
      <if test="record.fiveYearImpactorFactor != null" >
        FIVE_YEAR_IMPACTOR_FACTOR = #{record.fiveYearImpactorFactor,jdbcType=VARCHAR},
      </if>
      <if test="record.immediacyIndex != null" >
        IMMEDIACY_INDEX = #{record.immediacyIndex,jdbcType=VARCHAR},
      </if>
      <if test="record.articles != null" >
        ARTICLES = #{record.articles,jdbcType=VARCHAR},
      </if>
      <if test="record.citedHalflife != null" >
        CITED_HALFLIFE = #{record.citedHalflife,jdbcType=VARCHAR},
      </if>
      <if test="record.eigenfactortmSource != null" >
        EIGENFACTORTM_SOURCE = #{record.eigenfactortmSource,jdbcType=VARCHAR},
      </if>
      <if test="record.influencetmSource != null" >
        INFLUENCETM_SOURCE = #{record.influencetmSource,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.PUB_IMPACTOR_FACTOR
    set FACTOR_FLOW = #{record.factorFlow,jdbcType=VARCHAR},
      YEAR = #{record.year,jdbcType=VARCHAR},
      FACTOR_TYPE_ID = #{record.factorTypeId,jdbcType=VARCHAR},
      FACTOR_TYPE_NAME = #{record.factorTypeName,jdbcType=VARCHAR},
      RANK = #{record.rank,jdbcType=VARCHAR},
      JOURNAL_TITLE = #{record.journalTitle,jdbcType=VARCHAR},
      ISSN = #{record.issn,jdbcType=VARCHAR},
      TOTAL_CITES = #{record.totalCites,jdbcType=VARCHAR},
      IMPACT_FACTOR = #{record.impactFactor,jdbcType=VARCHAR},
      FIVE_YEAR_IMPACTOR_FACTOR = #{record.fiveYearImpactorFactor,jdbcType=VARCHAR},
      IMMEDIACY_INDEX = #{record.immediacyIndex,jdbcType=VARCHAR},
      ARTICLES = #{record.articles,jdbcType=VARCHAR},
      CITED_HALFLIFE = #{record.citedHalflife,jdbcType=VARCHAR},
      EIGENFACTORTM_SOURCE = #{record.eigenfactortmSource,jdbcType=VARCHAR},
      INFLUENCETM_SOURCE = #{record.influencetmSource,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.PubImpactorFactor">
    update PDSCI.PUB_IMPACTOR_FACTOR
    <set >
      <if test="year != null" >
        YEAR = #{year,jdbcType=VARCHAR},
      </if>
      <if test="factorTypeId != null" >
        FACTOR_TYPE_ID = #{factorTypeId,jdbcType=VARCHAR},
      </if>
      <if test="factorTypeName != null" >
        FACTOR_TYPE_NAME = #{factorTypeName,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        RANK = #{rank,jdbcType=VARCHAR},
      </if>
      <if test="journalTitle != null" >
        JOURNAL_TITLE = #{journalTitle,jdbcType=VARCHAR},
      </if>
      <if test="issn != null" >
        ISSN = #{issn,jdbcType=VARCHAR},
      </if>
      <if test="totalCites != null" >
        TOTAL_CITES = #{totalCites,jdbcType=VARCHAR},
      </if>
      <if test="impactFactor != null" >
        IMPACT_FACTOR = #{impactFactor,jdbcType=VARCHAR},
      </if>
      <if test="fiveYearImpactorFactor != null" >
        FIVE_YEAR_IMPACTOR_FACTOR = #{fiveYearImpactorFactor,jdbcType=VARCHAR},
      </if>
      <if test="immediacyIndex != null" >
        IMMEDIACY_INDEX = #{immediacyIndex,jdbcType=VARCHAR},
      </if>
      <if test="articles != null" >
        ARTICLES = #{articles,jdbcType=VARCHAR},
      </if>
      <if test="citedHalflife != null" >
        CITED_HALFLIFE = #{citedHalflife,jdbcType=VARCHAR},
      </if>
      <if test="eigenfactortmSource != null" >
        EIGENFACTORTM_SOURCE = #{eigenfactortmSource,jdbcType=VARCHAR},
      </if>
      <if test="influencetmSource != null" >
        INFLUENCETM_SOURCE = #{influencetmSource,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where FACTOR_FLOW = #{factorFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.PubImpactorFactor">
    update PDSCI.PUB_IMPACTOR_FACTOR
    set YEAR = #{year,jdbcType=VARCHAR},
      FACTOR_TYPE_ID = #{factorTypeId,jdbcType=VARCHAR},
      FACTOR_TYPE_NAME = #{factorTypeName,jdbcType=VARCHAR},
      RANK = #{rank,jdbcType=VARCHAR},
      JOURNAL_TITLE = #{journalTitle,jdbcType=VARCHAR},
      ISSN = #{issn,jdbcType=VARCHAR},
      TOTAL_CITES = #{totalCites,jdbcType=VARCHAR},
      IMPACT_FACTOR = #{impactFactor,jdbcType=VARCHAR},
      FIVE_YEAR_IMPACTOR_FACTOR = #{fiveYearImpactorFactor,jdbcType=VARCHAR},
      IMMEDIACY_INDEX = #{immediacyIndex,jdbcType=VARCHAR},
      ARTICLES = #{articles,jdbcType=VARCHAR},
      CITED_HALFLIFE = #{citedHalflife,jdbcType=VARCHAR},
      EIGENFACTORTM_SOURCE = #{eigenfactortmSource,jdbcType=VARCHAR},
      INFLUENCETM_SOURCE = #{influencetmSource,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where FACTOR_FLOW = #{factorFlow,jdbcType=VARCHAR}
  </update>
</mapper>