<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.PubModuleMapper" >
    <resultMap id="BaseResultMap" type="com.pinde.core.model.PubModule">
    <id column="MODULE_FLOW" property="moduleFlow" jdbcType="VARCHAR" />
    <result column="MODULE_NAME" property="moduleName" jdbcType="VARCHAR" />
    <result column="MODULE_CODE" property="moduleCode" jdbcType="VARCHAR" />
    <result column="MODULE_TYPE_ID" property="moduleTypeId" jdbcType="VARCHAR" />
    <result column="MODULE_TYPE_NAME" property="moduleTypeName" jdbcType="VARCHAR" />
    <result column="MODULE_SHORT_NAME" property="moduleShortName" jdbcType="VARCHAR" />
    <result column="MODULE_SEARCH" property="moduleSearch" jdbcType="VARCHAR" />
    <result column="ORDINAL" property="ordinal" jdbcType="DECIMAL" />
    <result column="MODULE_STYLE_ID" property="moduleStyleId" jdbcType="VARCHAR" />
    <result column="MODULE_STYLE_NAME" property="moduleStyleName" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MODULE_FLOW, MODULE_NAME, MODULE_CODE, MODULE_TYPE_ID, MODULE_TYPE_NAME, MODULE_SHORT_NAME, 
    MODULE_SEARCH, ORDINAL, MODULE_STYLE_ID, MODULE_STYLE_NAME, RECORD_STATUS, CREATE_TIME, 
    CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.PubModuleExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
        from PUB_MODULE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from PUB_MODULE
    where MODULE_FLOW = #{moduleFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from PUB_MODULE
    where MODULE_FLOW = #{moduleFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.PubModuleExample">
        delete from PUB_MODULE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.PubModule">
        insert into PUB_MODULE (MODULE_FLOW, MODULE_NAME, MODULE_CODE,
      MODULE_TYPE_ID, MODULE_TYPE_NAME, MODULE_SHORT_NAME, 
      MODULE_SEARCH, ORDINAL, MODULE_STYLE_ID, 
      MODULE_STYLE_NAME, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
      )
    values (#{moduleFlow,jdbcType=VARCHAR}, #{moduleName,jdbcType=VARCHAR}, #{moduleCode,jdbcType=VARCHAR}, 
      #{moduleTypeId,jdbcType=VARCHAR}, #{moduleTypeName,jdbcType=VARCHAR}, #{moduleShortName,jdbcType=VARCHAR}, 
      #{moduleSearch,jdbcType=VARCHAR}, #{ordinal,jdbcType=DECIMAL}, #{moduleStyleId,jdbcType=VARCHAR}, 
      #{moduleStyleName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.PubModule">
        insert into PUB_MODULE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="moduleFlow != null" >
        MODULE_FLOW,
      </if>
      <if test="moduleName != null" >
        MODULE_NAME,
      </if>
      <if test="moduleCode != null" >
        MODULE_CODE,
      </if>
      <if test="moduleTypeId != null" >
        MODULE_TYPE_ID,
      </if>
      <if test="moduleTypeName != null" >
        MODULE_TYPE_NAME,
      </if>
      <if test="moduleShortName != null" >
        MODULE_SHORT_NAME,
      </if>
      <if test="moduleSearch != null" >
        MODULE_SEARCH,
      </if>
      <if test="ordinal != null" >
        ORDINAL,
      </if>
      <if test="moduleStyleId != null" >
        MODULE_STYLE_ID,
      </if>
      <if test="moduleStyleName != null" >
        MODULE_STYLE_NAME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="moduleFlow != null" >
        #{moduleFlow,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null" >
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleCode != null" >
        #{moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="moduleTypeId != null" >
        #{moduleTypeId,jdbcType=VARCHAR},
      </if>
      <if test="moduleTypeName != null" >
        #{moduleTypeName,jdbcType=VARCHAR},
      </if>
      <if test="moduleShortName != null" >
        #{moduleShortName,jdbcType=VARCHAR},
      </if>
      <if test="moduleSearch != null" >
        #{moduleSearch,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null" >
        #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="moduleStyleId != null" >
        #{moduleStyleId,jdbcType=VARCHAR},
      </if>
      <if test="moduleStyleName != null" >
        #{moduleStyleName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.PubModuleExample" resultType="java.lang.Integer">
        select count(*) from PUB_MODULE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update PUB_MODULE
    <set >
      <if test="record.moduleFlow != null" >
        MODULE_FLOW = #{record.moduleFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleName != null" >
        MODULE_NAME = #{record.moduleName,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleCode != null" >
        MODULE_CODE = #{record.moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleTypeId != null" >
        MODULE_TYPE_ID = #{record.moduleTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleTypeName != null" >
        MODULE_TYPE_NAME = #{record.moduleTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleShortName != null" >
        MODULE_SHORT_NAME = #{record.moduleShortName,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleSearch != null" >
        MODULE_SEARCH = #{record.moduleSearch,jdbcType=VARCHAR},
      </if>
      <if test="record.ordinal != null" >
        ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      </if>
      <if test="record.moduleStyleId != null" >
        MODULE_STYLE_ID = #{record.moduleStyleId,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleStyleName != null" >
        MODULE_STYLE_NAME = #{record.moduleStyleName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update PUB_MODULE
    set MODULE_FLOW = #{record.moduleFlow,jdbcType=VARCHAR},
      MODULE_NAME = #{record.moduleName,jdbcType=VARCHAR},
      MODULE_CODE = #{record.moduleCode,jdbcType=VARCHAR},
      MODULE_TYPE_ID = #{record.moduleTypeId,jdbcType=VARCHAR},
      MODULE_TYPE_NAME = #{record.moduleTypeName,jdbcType=VARCHAR},
      MODULE_SHORT_NAME = #{record.moduleShortName,jdbcType=VARCHAR},
      MODULE_SEARCH = #{record.moduleSearch,jdbcType=VARCHAR},
      ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      MODULE_STYLE_ID = #{record.moduleStyleId,jdbcType=VARCHAR},
      MODULE_STYLE_NAME = #{record.moduleStyleName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.PubModule">
        update PUB_MODULE
    <set >
      <if test="moduleName != null" >
        MODULE_NAME = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleCode != null" >
        MODULE_CODE = #{moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="moduleTypeId != null" >
        MODULE_TYPE_ID = #{moduleTypeId,jdbcType=VARCHAR},
      </if>
      <if test="moduleTypeName != null" >
        MODULE_TYPE_NAME = #{moduleTypeName,jdbcType=VARCHAR},
      </if>
      <if test="moduleShortName != null" >
        MODULE_SHORT_NAME = #{moduleShortName,jdbcType=VARCHAR},
      </if>
      <if test="moduleSearch != null" >
        MODULE_SEARCH = #{moduleSearch,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null" >
        ORDINAL = #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="moduleStyleId != null" >
        MODULE_STYLE_ID = #{moduleStyleId,jdbcType=VARCHAR},
      </if>
      <if test="moduleStyleName != null" >
        MODULE_STYLE_NAME = #{moduleStyleName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where MODULE_FLOW = #{moduleFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.PubModule">
        update PUB_MODULE
    set MODULE_NAME = #{moduleName,jdbcType=VARCHAR},
      MODULE_CODE = #{moduleCode,jdbcType=VARCHAR},
      MODULE_TYPE_ID = #{moduleTypeId,jdbcType=VARCHAR},
      MODULE_TYPE_NAME = #{moduleTypeName,jdbcType=VARCHAR},
      MODULE_SHORT_NAME = #{moduleShortName,jdbcType=VARCHAR},
      MODULE_SEARCH = #{moduleSearch,jdbcType=VARCHAR},
      ORDINAL = #{ordinal,jdbcType=DECIMAL},
      MODULE_STYLE_ID = #{moduleStyleId,jdbcType=VARCHAR},
      MODULE_STYLE_NAME = #{moduleStyleName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where MODULE_FLOW = #{moduleFlow,jdbcType=VARCHAR}
  </update>
</mapper>