<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.PubMeetingMapper" >
    <resultMap id="BaseResultMap" type="com.pinde.core.model.PubMeeting">
    <id column="MEETING_FLOW" property="meetingFlow" jdbcType="VARCHAR" />
    <result column="MEETING_NAME" property="meetingName" jdbcType="VARCHAR" />
    <result column="MEETING_DATE" property="meetingDate" jdbcType="VARCHAR" />
    <result column="MEETING_ADDRESS" property="meetingAddress" jdbcType="VARCHAR" />
    <result column="MEETING_HOST" property="meetingHost" jdbcType="VARCHAR" />
    <result column="MEETING_TYPE_ID" property="meetingTypeId" jdbcType="VARCHAR" />
    <result column="MEETING_TYPE_NAME" property="meetingTypeName" jdbcType="VARCHAR" />
    <result column="MEETING_SUMMARY" property="meetingSummary" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MEETING_FLOW, MEETING_NAME, MEETING_DATE, MEETING_ADDRESS, MEETING_HOST, MEETING_TYPE_ID, 
    MEETING_TYPE_NAME, MEETING_SUMMARY, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.PubMeetingExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.PUB_MEETING
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.PUB_MEETING
    where MEETING_FLOW = #{meetingFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.PUB_MEETING
    where MEETING_FLOW = #{meetingFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.PubMeetingExample">
    delete from PDSCI.PUB_MEETING
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.PubMeeting">
    insert into PDSCI.PUB_MEETING (MEETING_FLOW, MEETING_NAME, MEETING_DATE, 
      MEETING_ADDRESS, MEETING_HOST, MEETING_TYPE_ID, 
      MEETING_TYPE_NAME, MEETING_SUMMARY, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW)
    values (#{meetingFlow,jdbcType=VARCHAR}, #{meetingName,jdbcType=VARCHAR}, #{meetingDate,jdbcType=VARCHAR}, 
      #{meetingAddress,jdbcType=VARCHAR}, #{meetingHost,jdbcType=VARCHAR}, #{meetingTypeId,jdbcType=VARCHAR}, 
      #{meetingTypeName,jdbcType=VARCHAR}, #{meetingSummary,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.PubMeeting">
    insert into PDSCI.PUB_MEETING
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="meetingFlow != null" >
        MEETING_FLOW,
      </if>
      <if test="meetingName != null" >
        MEETING_NAME,
      </if>
      <if test="meetingDate != null" >
        MEETING_DATE,
      </if>
      <if test="meetingAddress != null" >
        MEETING_ADDRESS,
      </if>
      <if test="meetingHost != null" >
        MEETING_HOST,
      </if>
      <if test="meetingTypeId != null" >
        MEETING_TYPE_ID,
      </if>
      <if test="meetingTypeName != null" >
        MEETING_TYPE_NAME,
      </if>
      <if test="meetingSummary != null" >
        MEETING_SUMMARY,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="meetingFlow != null" >
        #{meetingFlow,jdbcType=VARCHAR},
      </if>
      <if test="meetingName != null" >
        #{meetingName,jdbcType=VARCHAR},
      </if>
      <if test="meetingDate != null" >
        #{meetingDate,jdbcType=VARCHAR},
      </if>
      <if test="meetingAddress != null" >
        #{meetingAddress,jdbcType=VARCHAR},
      </if>
      <if test="meetingHost != null" >
        #{meetingHost,jdbcType=VARCHAR},
      </if>
      <if test="meetingTypeId != null" >
        #{meetingTypeId,jdbcType=VARCHAR},
      </if>
      <if test="meetingTypeName != null" >
        #{meetingTypeName,jdbcType=VARCHAR},
      </if>
      <if test="meetingSummary != null" >
        #{meetingSummary,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.PubMeetingExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.PUB_MEETING
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.PUB_MEETING
    <set >
      <if test="record.meetingFlow != null" >
        MEETING_FLOW = #{record.meetingFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingName != null" >
        MEETING_NAME = #{record.meetingName,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingDate != null" >
        MEETING_DATE = #{record.meetingDate,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingAddress != null" >
        MEETING_ADDRESS = #{record.meetingAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingHost != null" >
        MEETING_HOST = #{record.meetingHost,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingTypeId != null" >
        MEETING_TYPE_ID = #{record.meetingTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingTypeName != null" >
        MEETING_TYPE_NAME = #{record.meetingTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingSummary != null" >
        MEETING_SUMMARY = #{record.meetingSummary,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.PUB_MEETING
    set MEETING_FLOW = #{record.meetingFlow,jdbcType=VARCHAR},
      MEETING_NAME = #{record.meetingName,jdbcType=VARCHAR},
      MEETING_DATE = #{record.meetingDate,jdbcType=VARCHAR},
      MEETING_ADDRESS = #{record.meetingAddress,jdbcType=VARCHAR},
      MEETING_HOST = #{record.meetingHost,jdbcType=VARCHAR},
      MEETING_TYPE_ID = #{record.meetingTypeId,jdbcType=VARCHAR},
      MEETING_TYPE_NAME = #{record.meetingTypeName,jdbcType=VARCHAR},
      MEETING_SUMMARY = #{record.meetingSummary,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.PubMeeting">
    update PDSCI.PUB_MEETING
    <set >
      <if test="meetingName != null" >
        MEETING_NAME = #{meetingName,jdbcType=VARCHAR},
      </if>
      <if test="meetingDate != null" >
        MEETING_DATE = #{meetingDate,jdbcType=VARCHAR},
      </if>
      <if test="meetingAddress != null" >
        MEETING_ADDRESS = #{meetingAddress,jdbcType=VARCHAR},
      </if>
      <if test="meetingHost != null" >
        MEETING_HOST = #{meetingHost,jdbcType=VARCHAR},
      </if>
      <if test="meetingTypeId != null" >
        MEETING_TYPE_ID = #{meetingTypeId,jdbcType=VARCHAR},
      </if>
      <if test="meetingTypeName != null" >
        MEETING_TYPE_NAME = #{meetingTypeName,jdbcType=VARCHAR},
      </if>
      <if test="meetingSummary != null" >
        MEETING_SUMMARY = #{meetingSummary,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where MEETING_FLOW = #{meetingFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.PubMeeting">
    update PDSCI.PUB_MEETING
    set MEETING_NAME = #{meetingName,jdbcType=VARCHAR},
      MEETING_DATE = #{meetingDate,jdbcType=VARCHAR},
      MEETING_ADDRESS = #{meetingAddress,jdbcType=VARCHAR},
      MEETING_HOST = #{meetingHost,jdbcType=VARCHAR},
      MEETING_TYPE_ID = #{meetingTypeId,jdbcType=VARCHAR},
      MEETING_TYPE_NAME = #{meetingTypeName,jdbcType=VARCHAR},
      MEETING_SUMMARY = #{meetingSummary,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where MEETING_FLOW = #{meetingFlow,jdbcType=VARCHAR}
  </update>
</mapper>