<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.PubProjMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.PubProj">
    <id column="PROJ_FLOW" jdbcType="VARCHAR" property="projFlow" />
    <result column="PROJ_YEAR" jdbcType="VARCHAR" property="projYear" />
    <result column="PROJ_NAME" jdbcType="VARCHAR" property="projName" />
    <result column="PROJ_SHORT_NAME" jdbcType="VARCHAR" property="projShortName" />
    <result column="PROJ_DECLARER" jdbcType="VARCHAR" property="projDeclarer" />
    <result column="PROJ_SHORT_DECLARER" jdbcType="VARCHAR" property="projShortDeclarer" />
    <result column="PROJ_DECLARER_FLOW" jdbcType="VARCHAR" property="projDeclarerFlow" />
    <result column="PROJ_CATEGORY_ID" jdbcType="VARCHAR" property="projCategoryId" />
    <result column="PROJ_CATEGORY_NAME" jdbcType="VARCHAR" property="projCategoryName" />
    <result column="PROJ_NO" jdbcType="VARCHAR" property="projNo" />
    <result column="CFDA_NO" jdbcType="VARCHAR" property="cfdaNo" />
    <result column="PROJ_TYPE_ID" jdbcType="VARCHAR" property="projTypeId" />
    <result column="PROJ_TYPE_NAME" jdbcType="VARCHAR" property="projTypeName" />
    <result column="PROJ_SUB_TYPE_ID" jdbcType="VARCHAR" property="projSubTypeId" />
    <result column="PROJ_SUB_TYPE_NAME" jdbcType="VARCHAR" property="projSubTypeName" />
    <result column="PROJ_STAGE_ID" jdbcType="VARCHAR" property="projStageId" />
    <result column="PROJ_STAGE_NAME" jdbcType="VARCHAR" property="projStageName" />
    <result column="PROJ_STATUS_ID" jdbcType="VARCHAR" property="projStatusId" />
    <result column="PROJ_STATUS_NAME" jdbcType="VARCHAR" property="projStatusName" />
    <result column="APPLY_USER_FLOW" jdbcType="VARCHAR" property="applyUserFlow" />
    <result column="APPLY_USER_NAME" jdbcType="VARCHAR" property="applyUserName" />
    <result column="APPLY_ORG_FLOW" jdbcType="VARCHAR" property="applyOrgFlow" />
    <result column="APPLY_ORG_NAME" jdbcType="VARCHAR" property="applyOrgName" />
    <result column="APPLY_DEPT_FLOW" jdbcType="VARCHAR" property="applyDeptFlow" />
    <result column="APPLY_DEPT_NAME" jdbcType="VARCHAR" property="applyDeptName" />
    <result column="CHARGE_ORG_FLOW" jdbcType="VARCHAR" property="chargeOrgFlow" />
    <result column="CHARGE_ORG_NAME" jdbcType="VARCHAR" property="chargeOrgName" />
    <result column="PROJ_START_TIME" jdbcType="VARCHAR" property="projStartTime" />
    <result column="PROJ_END_TIME" jdbcType="VARCHAR" property="projEndTime" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="BRANCH_ID" jdbcType="VARCHAR" property="branchId" />
    <result column="BRANCH_NAME" jdbcType="VARCHAR" property="branchName" />
    <result column="APPLY_USER_EMPNUM" jdbcType="VARCHAR" property="applyUserEmpnum" />
    <result column="ACCEPT_NUMBER" jdbcType="VARCHAR" property="acceptNumber" />
    <result column="SUBJ_ID" jdbcType="VARCHAR" property="subjId" />
    <result column="SUBJ_NAME" jdbcType="VARCHAR" property="subjName" />
    <result column="PROJ_SECOND_SOURCE_ID" jdbcType="VARCHAR" property="projSecondSourceId" />
    <result column="PROJ_SECOND_SOURCE_NAME" jdbcType="VARCHAR" property="projSecondSourceName" />
    <result column="APPLY_USER_PHONE" jdbcType="VARCHAR" property="applyUserPhone" />
    <result column="PLAN_TYPE_ID" jdbcType="VARCHAR" property="planTypeId" />
    <result column="PLAN_TYPE_NAME" jdbcType="VARCHAR" property="planTypeName" />
    <result column="ACCOUNT_NO" jdbcType="VARCHAR" property="accountNo" />
    <result column="IS_ETHICAL_FLAG" jdbcType="VARCHAR" property="isEthicalFlag" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.pinde.sci.model.mo.PubProj">
    <result column="PROJ_INFO" jdbcType="CLOB" property="projInfo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PROJ_FLOW, PROJ_YEAR, PROJ_NAME, PROJ_SHORT_NAME, PROJ_DECLARER, PROJ_SHORT_DECLARER, 
    PROJ_DECLARER_FLOW, PROJ_CATEGORY_ID, PROJ_CATEGORY_NAME, PROJ_NO, CFDA_NO, PROJ_TYPE_ID, 
    PROJ_TYPE_NAME, PROJ_SUB_TYPE_ID, PROJ_SUB_TYPE_NAME, PROJ_STAGE_ID, PROJ_STAGE_NAME, 
    PROJ_STATUS_ID, PROJ_STATUS_NAME, APPLY_USER_FLOW, APPLY_USER_NAME, APPLY_ORG_FLOW, 
    APPLY_ORG_NAME, APPLY_DEPT_FLOW, APPLY_DEPT_NAME, CHARGE_ORG_FLOW, CHARGE_ORG_NAME, 
    PROJ_START_TIME, PROJ_END_TIME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
    MODIFY_USER_FLOW, BRANCH_ID, BRANCH_NAME, APPLY_USER_EMPNUM, ACCEPT_NUMBER, SUBJ_ID, 
    SUBJ_NAME, PROJ_SECOND_SOURCE_ID, PROJ_SECOND_SOURCE_NAME, APPLY_USER_PHONE, PLAN_TYPE_ID, 
    PLAN_TYPE_NAME, ACCOUNT_NO, IS_ETHICAL_FLAG
  </sql>
  <sql id="Blob_Column_List">
    PROJ_INFO
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.pinde.sci.model.mo.PubProjExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.PUB_PROJ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.PubProjExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.PUB_PROJ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PDSCI.PUB_PROJ
    where PROJ_FLOW = #{projFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.PUB_PROJ
    where PROJ_FLOW = #{projFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.PubProjExample">
    delete from PDSCI.PUB_PROJ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.PubProj">
    insert into PDSCI.PUB_PROJ (PROJ_FLOW, PROJ_YEAR, PROJ_NAME, 
      PROJ_SHORT_NAME, PROJ_DECLARER, PROJ_SHORT_DECLARER, 
      PROJ_DECLARER_FLOW, PROJ_CATEGORY_ID, PROJ_CATEGORY_NAME, 
      PROJ_NO, CFDA_NO, PROJ_TYPE_ID, 
      PROJ_TYPE_NAME, PROJ_SUB_TYPE_ID, PROJ_SUB_TYPE_NAME, 
      PROJ_STAGE_ID, PROJ_STAGE_NAME, PROJ_STATUS_ID, 
      PROJ_STATUS_NAME, APPLY_USER_FLOW, APPLY_USER_NAME, 
      APPLY_ORG_FLOW, APPLY_ORG_NAME, APPLY_DEPT_FLOW, 
      APPLY_DEPT_NAME, CHARGE_ORG_FLOW, CHARGE_ORG_NAME, 
      PROJ_START_TIME, PROJ_END_TIME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, BRANCH_ID, BRANCH_NAME, 
      APPLY_USER_EMPNUM, ACCEPT_NUMBER, SUBJ_ID, 
      SUBJ_NAME, PROJ_SECOND_SOURCE_ID, PROJ_SECOND_SOURCE_NAME, 
      APPLY_USER_PHONE, PLAN_TYPE_ID, PLAN_TYPE_NAME, 
      ACCOUNT_NO, IS_ETHICAL_FLAG, PROJ_INFO
      )
    values (#{projFlow,jdbcType=VARCHAR}, #{projYear,jdbcType=VARCHAR}, #{projName,jdbcType=VARCHAR}, 
      #{projShortName,jdbcType=VARCHAR}, #{projDeclarer,jdbcType=VARCHAR}, #{projShortDeclarer,jdbcType=VARCHAR}, 
      #{projDeclarerFlow,jdbcType=VARCHAR}, #{projCategoryId,jdbcType=VARCHAR}, #{projCategoryName,jdbcType=VARCHAR}, 
      #{projNo,jdbcType=VARCHAR}, #{cfdaNo,jdbcType=VARCHAR}, #{projTypeId,jdbcType=VARCHAR}, 
      #{projTypeName,jdbcType=VARCHAR}, #{projSubTypeId,jdbcType=VARCHAR}, #{projSubTypeName,jdbcType=VARCHAR}, 
      #{projStageId,jdbcType=VARCHAR}, #{projStageName,jdbcType=VARCHAR}, #{projStatusId,jdbcType=VARCHAR}, 
      #{projStatusName,jdbcType=VARCHAR}, #{applyUserFlow,jdbcType=VARCHAR}, #{applyUserName,jdbcType=VARCHAR}, 
      #{applyOrgFlow,jdbcType=VARCHAR}, #{applyOrgName,jdbcType=VARCHAR}, #{applyDeptFlow,jdbcType=VARCHAR}, 
      #{applyDeptName,jdbcType=VARCHAR}, #{chargeOrgFlow,jdbcType=VARCHAR}, #{chargeOrgName,jdbcType=VARCHAR}, 
      #{projStartTime,jdbcType=VARCHAR}, #{projEndTime,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{branchId,jdbcType=VARCHAR}, #{branchName,jdbcType=VARCHAR}, 
      #{applyUserEmpnum,jdbcType=VARCHAR}, #{acceptNumber,jdbcType=VARCHAR}, #{subjId,jdbcType=VARCHAR}, 
      #{subjName,jdbcType=VARCHAR}, #{projSecondSourceId,jdbcType=VARCHAR}, #{projSecondSourceName,jdbcType=VARCHAR}, 
      #{applyUserPhone,jdbcType=VARCHAR}, #{planTypeId,jdbcType=VARCHAR}, #{planTypeName,jdbcType=VARCHAR}, 
      #{accountNo,jdbcType=VARCHAR}, #{isEthicalFlag,jdbcType=VARCHAR}, #{projInfo,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.PubProj">
    insert into PDSCI.PUB_PROJ
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projFlow != null">
        PROJ_FLOW,
      </if>
      <if test="projYear != null">
        PROJ_YEAR,
      </if>
      <if test="projName != null">
        PROJ_NAME,
      </if>
      <if test="projShortName != null">
        PROJ_SHORT_NAME,
      </if>
      <if test="projDeclarer != null">
        PROJ_DECLARER,
      </if>
      <if test="projShortDeclarer != null">
        PROJ_SHORT_DECLARER,
      </if>
      <if test="projDeclarerFlow != null">
        PROJ_DECLARER_FLOW,
      </if>
      <if test="projCategoryId != null">
        PROJ_CATEGORY_ID,
      </if>
      <if test="projCategoryName != null">
        PROJ_CATEGORY_NAME,
      </if>
      <if test="projNo != null">
        PROJ_NO,
      </if>
      <if test="cfdaNo != null">
        CFDA_NO,
      </if>
      <if test="projTypeId != null">
        PROJ_TYPE_ID,
      </if>
      <if test="projTypeName != null">
        PROJ_TYPE_NAME,
      </if>
      <if test="projSubTypeId != null">
        PROJ_SUB_TYPE_ID,
      </if>
      <if test="projSubTypeName != null">
        PROJ_SUB_TYPE_NAME,
      </if>
      <if test="projStageId != null">
        PROJ_STAGE_ID,
      </if>
      <if test="projStageName != null">
        PROJ_STAGE_NAME,
      </if>
      <if test="projStatusId != null">
        PROJ_STATUS_ID,
      </if>
      <if test="projStatusName != null">
        PROJ_STATUS_NAME,
      </if>
      <if test="applyUserFlow != null">
        APPLY_USER_FLOW,
      </if>
      <if test="applyUserName != null">
        APPLY_USER_NAME,
      </if>
      <if test="applyOrgFlow != null">
        APPLY_ORG_FLOW,
      </if>
      <if test="applyOrgName != null">
        APPLY_ORG_NAME,
      </if>
      <if test="applyDeptFlow != null">
        APPLY_DEPT_FLOW,
      </if>
      <if test="applyDeptName != null">
        APPLY_DEPT_NAME,
      </if>
      <if test="chargeOrgFlow != null">
        CHARGE_ORG_FLOW,
      </if>
      <if test="chargeOrgName != null">
        CHARGE_ORG_NAME,
      </if>
      <if test="projStartTime != null">
        PROJ_START_TIME,
      </if>
      <if test="projEndTime != null">
        PROJ_END_TIME,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="branchId != null">
        BRANCH_ID,
      </if>
      <if test="branchName != null">
        BRANCH_NAME,
      </if>
      <if test="applyUserEmpnum != null">
        APPLY_USER_EMPNUM,
      </if>
      <if test="acceptNumber != null">
        ACCEPT_NUMBER,
      </if>
      <if test="subjId != null">
        SUBJ_ID,
      </if>
      <if test="subjName != null">
        SUBJ_NAME,
      </if>
      <if test="projSecondSourceId != null">
        PROJ_SECOND_SOURCE_ID,
      </if>
      <if test="projSecondSourceName != null">
        PROJ_SECOND_SOURCE_NAME,
      </if>
      <if test="applyUserPhone != null">
        APPLY_USER_PHONE,
      </if>
      <if test="planTypeId != null">
        PLAN_TYPE_ID,
      </if>
      <if test="planTypeName != null">
        PLAN_TYPE_NAME,
      </if>
      <if test="accountNo != null">
        ACCOUNT_NO,
      </if>
      <if test="isEthicalFlag != null">
        IS_ETHICAL_FLAG,
      </if>
      <if test="projInfo != null">
        PROJ_INFO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projFlow != null">
        #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="projYear != null">
        #{projYear,jdbcType=VARCHAR},
      </if>
      <if test="projName != null">
        #{projName,jdbcType=VARCHAR},
      </if>
      <if test="projShortName != null">
        #{projShortName,jdbcType=VARCHAR},
      </if>
      <if test="projDeclarer != null">
        #{projDeclarer,jdbcType=VARCHAR},
      </if>
      <if test="projShortDeclarer != null">
        #{projShortDeclarer,jdbcType=VARCHAR},
      </if>
      <if test="projDeclarerFlow != null">
        #{projDeclarerFlow,jdbcType=VARCHAR},
      </if>
      <if test="projCategoryId != null">
        #{projCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="projCategoryName != null">
        #{projCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="projNo != null">
        #{projNo,jdbcType=VARCHAR},
      </if>
      <if test="cfdaNo != null">
        #{cfdaNo,jdbcType=VARCHAR},
      </if>
      <if test="projTypeId != null">
        #{projTypeId,jdbcType=VARCHAR},
      </if>
      <if test="projTypeName != null">
        #{projTypeName,jdbcType=VARCHAR},
      </if>
      <if test="projSubTypeId != null">
        #{projSubTypeId,jdbcType=VARCHAR},
      </if>
      <if test="projSubTypeName != null">
        #{projSubTypeName,jdbcType=VARCHAR},
      </if>
      <if test="projStageId != null">
        #{projStageId,jdbcType=VARCHAR},
      </if>
      <if test="projStageName != null">
        #{projStageName,jdbcType=VARCHAR},
      </if>
      <if test="projStatusId != null">
        #{projStatusId,jdbcType=VARCHAR},
      </if>
      <if test="projStatusName != null">
        #{projStatusName,jdbcType=VARCHAR},
      </if>
      <if test="applyUserFlow != null">
        #{applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyUserName != null">
        #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgFlow != null">
        #{applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgName != null">
        #{applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="applyDeptFlow != null">
        #{applyDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyDeptName != null">
        #{applyDeptName,jdbcType=VARCHAR},
      </if>
      <if test="chargeOrgFlow != null">
        #{chargeOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="chargeOrgName != null">
        #{chargeOrgName,jdbcType=VARCHAR},
      </if>
      <if test="projStartTime != null">
        #{projStartTime,jdbcType=VARCHAR},
      </if>
      <if test="projEndTime != null">
        #{projEndTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="branchId != null">
        #{branchId,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null">
        #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="applyUserEmpnum != null">
        #{applyUserEmpnum,jdbcType=VARCHAR},
      </if>
      <if test="acceptNumber != null">
        #{acceptNumber,jdbcType=VARCHAR},
      </if>
      <if test="subjId != null">
        #{subjId,jdbcType=VARCHAR},
      </if>
      <if test="subjName != null">
        #{subjName,jdbcType=VARCHAR},
      </if>
      <if test="projSecondSourceId != null">
        #{projSecondSourceId,jdbcType=VARCHAR},
      </if>
      <if test="projSecondSourceName != null">
        #{projSecondSourceName,jdbcType=VARCHAR},
      </if>
      <if test="applyUserPhone != null">
        #{applyUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="planTypeId != null">
        #{planTypeId,jdbcType=VARCHAR},
      </if>
      <if test="planTypeName != null">
        #{planTypeName,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null">
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="isEthicalFlag != null">
        #{isEthicalFlag,jdbcType=VARCHAR},
      </if>
      <if test="projInfo != null">
        #{projInfo,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.PubProjExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.PUB_PROJ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.PUB_PROJ
    <set>
      <if test="record.projFlow != null">
        PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projYear != null">
        PROJ_YEAR = #{record.projYear,jdbcType=VARCHAR},
      </if>
      <if test="record.projName != null">
        PROJ_NAME = #{record.projName,jdbcType=VARCHAR},
      </if>
      <if test="record.projShortName != null">
        PROJ_SHORT_NAME = #{record.projShortName,jdbcType=VARCHAR},
      </if>
      <if test="record.projDeclarer != null">
        PROJ_DECLARER = #{record.projDeclarer,jdbcType=VARCHAR},
      </if>
      <if test="record.projShortDeclarer != null">
        PROJ_SHORT_DECLARER = #{record.projShortDeclarer,jdbcType=VARCHAR},
      </if>
      <if test="record.projDeclarerFlow != null">
        PROJ_DECLARER_FLOW = #{record.projDeclarerFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.projCategoryId != null">
        PROJ_CATEGORY_ID = #{record.projCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.projCategoryName != null">
        PROJ_CATEGORY_NAME = #{record.projCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.projNo != null">
        PROJ_NO = #{record.projNo,jdbcType=VARCHAR},
      </if>
      <if test="record.cfdaNo != null">
        CFDA_NO = #{record.cfdaNo,jdbcType=VARCHAR},
      </if>
      <if test="record.projTypeId != null">
        PROJ_TYPE_ID = #{record.projTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.projTypeName != null">
        PROJ_TYPE_NAME = #{record.projTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.projSubTypeId != null">
        PROJ_SUB_TYPE_ID = #{record.projSubTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.projSubTypeName != null">
        PROJ_SUB_TYPE_NAME = #{record.projSubTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.projStageId != null">
        PROJ_STAGE_ID = #{record.projStageId,jdbcType=VARCHAR},
      </if>
      <if test="record.projStageName != null">
        PROJ_STAGE_NAME = #{record.projStageName,jdbcType=VARCHAR},
      </if>
      <if test="record.projStatusId != null">
        PROJ_STATUS_ID = #{record.projStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.projStatusName != null">
        PROJ_STATUS_NAME = #{record.projStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserFlow != null">
        APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserName != null">
        APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyOrgFlow != null">
        APPLY_ORG_FLOW = #{record.applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.applyOrgName != null">
        APPLY_ORG_NAME = #{record.applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyDeptFlow != null">
        APPLY_DEPT_FLOW = #{record.applyDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.applyDeptName != null">
        APPLY_DEPT_NAME = #{record.applyDeptName,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeOrgFlow != null">
        CHARGE_ORG_FLOW = #{record.chargeOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeOrgName != null">
        CHARGE_ORG_NAME = #{record.chargeOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.projStartTime != null">
        PROJ_START_TIME = #{record.projStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.projEndTime != null">
        PROJ_END_TIME = #{record.projEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.branchId != null">
        BRANCH_ID = #{record.branchId,jdbcType=VARCHAR},
      </if>
      <if test="record.branchName != null">
        BRANCH_NAME = #{record.branchName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserEmpnum != null">
        APPLY_USER_EMPNUM = #{record.applyUserEmpnum,jdbcType=VARCHAR},
      </if>
      <if test="record.acceptNumber != null">
        ACCEPT_NUMBER = #{record.acceptNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.subjId != null">
        SUBJ_ID = #{record.subjId,jdbcType=VARCHAR},
      </if>
      <if test="record.subjName != null">
        SUBJ_NAME = #{record.subjName,jdbcType=VARCHAR},
      </if>
      <if test="record.projSecondSourceId != null">
        PROJ_SECOND_SOURCE_ID = #{record.projSecondSourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.projSecondSourceName != null">
        PROJ_SECOND_SOURCE_NAME = #{record.projSecondSourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyUserPhone != null">
        APPLY_USER_PHONE = #{record.applyUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.planTypeId != null">
        PLAN_TYPE_ID = #{record.planTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.planTypeName != null">
        PLAN_TYPE_NAME = #{record.planTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.accountNo != null">
        ACCOUNT_NO = #{record.accountNo,jdbcType=VARCHAR},
      </if>
      <if test="record.isEthicalFlag != null">
        IS_ETHICAL_FLAG = #{record.isEthicalFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.projInfo != null">
        PROJ_INFO = #{record.projInfo,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update PDSCI.PUB_PROJ
    set PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      PROJ_YEAR = #{record.projYear,jdbcType=VARCHAR},
      PROJ_NAME = #{record.projName,jdbcType=VARCHAR},
      PROJ_SHORT_NAME = #{record.projShortName,jdbcType=VARCHAR},
      PROJ_DECLARER = #{record.projDeclarer,jdbcType=VARCHAR},
      PROJ_SHORT_DECLARER = #{record.projShortDeclarer,jdbcType=VARCHAR},
      PROJ_DECLARER_FLOW = #{record.projDeclarerFlow,jdbcType=VARCHAR},
      PROJ_CATEGORY_ID = #{record.projCategoryId,jdbcType=VARCHAR},
      PROJ_CATEGORY_NAME = #{record.projCategoryName,jdbcType=VARCHAR},
      PROJ_NO = #{record.projNo,jdbcType=VARCHAR},
      CFDA_NO = #{record.cfdaNo,jdbcType=VARCHAR},
      PROJ_TYPE_ID = #{record.projTypeId,jdbcType=VARCHAR},
      PROJ_TYPE_NAME = #{record.projTypeName,jdbcType=VARCHAR},
      PROJ_SUB_TYPE_ID = #{record.projSubTypeId,jdbcType=VARCHAR},
      PROJ_SUB_TYPE_NAME = #{record.projSubTypeName,jdbcType=VARCHAR},
      PROJ_STAGE_ID = #{record.projStageId,jdbcType=VARCHAR},
      PROJ_STAGE_NAME = #{record.projStageName,jdbcType=VARCHAR},
      PROJ_STATUS_ID = #{record.projStatusId,jdbcType=VARCHAR},
      PROJ_STATUS_NAME = #{record.projStatusName,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      APPLY_ORG_FLOW = #{record.applyOrgFlow,jdbcType=VARCHAR},
      APPLY_ORG_NAME = #{record.applyOrgName,jdbcType=VARCHAR},
      APPLY_DEPT_FLOW = #{record.applyDeptFlow,jdbcType=VARCHAR},
      APPLY_DEPT_NAME = #{record.applyDeptName,jdbcType=VARCHAR},
      CHARGE_ORG_FLOW = #{record.chargeOrgFlow,jdbcType=VARCHAR},
      CHARGE_ORG_NAME = #{record.chargeOrgName,jdbcType=VARCHAR},
      PROJ_START_TIME = #{record.projStartTime,jdbcType=VARCHAR},
      PROJ_END_TIME = #{record.projEndTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      BRANCH_ID = #{record.branchId,jdbcType=VARCHAR},
      BRANCH_NAME = #{record.branchName,jdbcType=VARCHAR},
      APPLY_USER_EMPNUM = #{record.applyUserEmpnum,jdbcType=VARCHAR},
      ACCEPT_NUMBER = #{record.acceptNumber,jdbcType=VARCHAR},
      SUBJ_ID = #{record.subjId,jdbcType=VARCHAR},
      SUBJ_NAME = #{record.subjName,jdbcType=VARCHAR},
      PROJ_SECOND_SOURCE_ID = #{record.projSecondSourceId,jdbcType=VARCHAR},
      PROJ_SECOND_SOURCE_NAME = #{record.projSecondSourceName,jdbcType=VARCHAR},
      APPLY_USER_PHONE = #{record.applyUserPhone,jdbcType=VARCHAR},
      PLAN_TYPE_ID = #{record.planTypeId,jdbcType=VARCHAR},
      PLAN_TYPE_NAME = #{record.planTypeName,jdbcType=VARCHAR},
      ACCOUNT_NO = #{record.accountNo,jdbcType=VARCHAR},
      IS_ETHICAL_FLAG = #{record.isEthicalFlag,jdbcType=VARCHAR},
      PROJ_INFO = #{record.projInfo,jdbcType=CLOB}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.PUB_PROJ
    set PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      PROJ_YEAR = #{record.projYear,jdbcType=VARCHAR},
      PROJ_NAME = #{record.projName,jdbcType=VARCHAR},
      PROJ_SHORT_NAME = #{record.projShortName,jdbcType=VARCHAR},
      PROJ_DECLARER = #{record.projDeclarer,jdbcType=VARCHAR},
      PROJ_SHORT_DECLARER = #{record.projShortDeclarer,jdbcType=VARCHAR},
      PROJ_DECLARER_FLOW = #{record.projDeclarerFlow,jdbcType=VARCHAR},
      PROJ_CATEGORY_ID = #{record.projCategoryId,jdbcType=VARCHAR},
      PROJ_CATEGORY_NAME = #{record.projCategoryName,jdbcType=VARCHAR},
      PROJ_NO = #{record.projNo,jdbcType=VARCHAR},
      CFDA_NO = #{record.cfdaNo,jdbcType=VARCHAR},
      PROJ_TYPE_ID = #{record.projTypeId,jdbcType=VARCHAR},
      PROJ_TYPE_NAME = #{record.projTypeName,jdbcType=VARCHAR},
      PROJ_SUB_TYPE_ID = #{record.projSubTypeId,jdbcType=VARCHAR},
      PROJ_SUB_TYPE_NAME = #{record.projSubTypeName,jdbcType=VARCHAR},
      PROJ_STAGE_ID = #{record.projStageId,jdbcType=VARCHAR},
      PROJ_STAGE_NAME = #{record.projStageName,jdbcType=VARCHAR},
      PROJ_STATUS_ID = #{record.projStatusId,jdbcType=VARCHAR},
      PROJ_STATUS_NAME = #{record.projStatusName,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{record.applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{record.applyUserName,jdbcType=VARCHAR},
      APPLY_ORG_FLOW = #{record.applyOrgFlow,jdbcType=VARCHAR},
      APPLY_ORG_NAME = #{record.applyOrgName,jdbcType=VARCHAR},
      APPLY_DEPT_FLOW = #{record.applyDeptFlow,jdbcType=VARCHAR},
      APPLY_DEPT_NAME = #{record.applyDeptName,jdbcType=VARCHAR},
      CHARGE_ORG_FLOW = #{record.chargeOrgFlow,jdbcType=VARCHAR},
      CHARGE_ORG_NAME = #{record.chargeOrgName,jdbcType=VARCHAR},
      PROJ_START_TIME = #{record.projStartTime,jdbcType=VARCHAR},
      PROJ_END_TIME = #{record.projEndTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      BRANCH_ID = #{record.branchId,jdbcType=VARCHAR},
      BRANCH_NAME = #{record.branchName,jdbcType=VARCHAR},
      APPLY_USER_EMPNUM = #{record.applyUserEmpnum,jdbcType=VARCHAR},
      ACCEPT_NUMBER = #{record.acceptNumber,jdbcType=VARCHAR},
      SUBJ_ID = #{record.subjId,jdbcType=VARCHAR},
      SUBJ_NAME = #{record.subjName,jdbcType=VARCHAR},
      PROJ_SECOND_SOURCE_ID = #{record.projSecondSourceId,jdbcType=VARCHAR},
      PROJ_SECOND_SOURCE_NAME = #{record.projSecondSourceName,jdbcType=VARCHAR},
      APPLY_USER_PHONE = #{record.applyUserPhone,jdbcType=VARCHAR},
      PLAN_TYPE_ID = #{record.planTypeId,jdbcType=VARCHAR},
      PLAN_TYPE_NAME = #{record.planTypeName,jdbcType=VARCHAR},
      ACCOUNT_NO = #{record.accountNo,jdbcType=VARCHAR},
      IS_ETHICAL_FLAG = #{record.isEthicalFlag,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.PubProj">
    update PDSCI.PUB_PROJ
    <set>
      <if test="projYear != null">
        PROJ_YEAR = #{projYear,jdbcType=VARCHAR},
      </if>
      <if test="projName != null">
        PROJ_NAME = #{projName,jdbcType=VARCHAR},
      </if>
      <if test="projShortName != null">
        PROJ_SHORT_NAME = #{projShortName,jdbcType=VARCHAR},
      </if>
      <if test="projDeclarer != null">
        PROJ_DECLARER = #{projDeclarer,jdbcType=VARCHAR},
      </if>
      <if test="projShortDeclarer != null">
        PROJ_SHORT_DECLARER = #{projShortDeclarer,jdbcType=VARCHAR},
      </if>
      <if test="projDeclarerFlow != null">
        PROJ_DECLARER_FLOW = #{projDeclarerFlow,jdbcType=VARCHAR},
      </if>
      <if test="projCategoryId != null">
        PROJ_CATEGORY_ID = #{projCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="projCategoryName != null">
        PROJ_CATEGORY_NAME = #{projCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="projNo != null">
        PROJ_NO = #{projNo,jdbcType=VARCHAR},
      </if>
      <if test="cfdaNo != null">
        CFDA_NO = #{cfdaNo,jdbcType=VARCHAR},
      </if>
      <if test="projTypeId != null">
        PROJ_TYPE_ID = #{projTypeId,jdbcType=VARCHAR},
      </if>
      <if test="projTypeName != null">
        PROJ_TYPE_NAME = #{projTypeName,jdbcType=VARCHAR},
      </if>
      <if test="projSubTypeId != null">
        PROJ_SUB_TYPE_ID = #{projSubTypeId,jdbcType=VARCHAR},
      </if>
      <if test="projSubTypeName != null">
        PROJ_SUB_TYPE_NAME = #{projSubTypeName,jdbcType=VARCHAR},
      </if>
      <if test="projStageId != null">
        PROJ_STAGE_ID = #{projStageId,jdbcType=VARCHAR},
      </if>
      <if test="projStageName != null">
        PROJ_STAGE_NAME = #{projStageName,jdbcType=VARCHAR},
      </if>
      <if test="projStatusId != null">
        PROJ_STATUS_ID = #{projStatusId,jdbcType=VARCHAR},
      </if>
      <if test="projStatusName != null">
        PROJ_STATUS_NAME = #{projStatusName,jdbcType=VARCHAR},
      </if>
      <if test="applyUserFlow != null">
        APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyUserName != null">
        APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgFlow != null">
        APPLY_ORG_FLOW = #{applyOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyOrgName != null">
        APPLY_ORG_NAME = #{applyOrgName,jdbcType=VARCHAR},
      </if>
      <if test="applyDeptFlow != null">
        APPLY_DEPT_FLOW = #{applyDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="applyDeptName != null">
        APPLY_DEPT_NAME = #{applyDeptName,jdbcType=VARCHAR},
      </if>
      <if test="chargeOrgFlow != null">
        CHARGE_ORG_FLOW = #{chargeOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="chargeOrgName != null">
        CHARGE_ORG_NAME = #{chargeOrgName,jdbcType=VARCHAR},
      </if>
      <if test="projStartTime != null">
        PROJ_START_TIME = #{projStartTime,jdbcType=VARCHAR},
      </if>
      <if test="projEndTime != null">
        PROJ_END_TIME = #{projEndTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="branchId != null">
        BRANCH_ID = #{branchId,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null">
        BRANCH_NAME = #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="applyUserEmpnum != null">
        APPLY_USER_EMPNUM = #{applyUserEmpnum,jdbcType=VARCHAR},
      </if>
      <if test="acceptNumber != null">
        ACCEPT_NUMBER = #{acceptNumber,jdbcType=VARCHAR},
      </if>
      <if test="subjId != null">
        SUBJ_ID = #{subjId,jdbcType=VARCHAR},
      </if>
      <if test="subjName != null">
        SUBJ_NAME = #{subjName,jdbcType=VARCHAR},
      </if>
      <if test="projSecondSourceId != null">
        PROJ_SECOND_SOURCE_ID = #{projSecondSourceId,jdbcType=VARCHAR},
      </if>
      <if test="projSecondSourceName != null">
        PROJ_SECOND_SOURCE_NAME = #{projSecondSourceName,jdbcType=VARCHAR},
      </if>
      <if test="applyUserPhone != null">
        APPLY_USER_PHONE = #{applyUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="planTypeId != null">
        PLAN_TYPE_ID = #{planTypeId,jdbcType=VARCHAR},
      </if>
      <if test="planTypeName != null">
        PLAN_TYPE_NAME = #{planTypeName,jdbcType=VARCHAR},
      </if>
      <if test="accountNo != null">
        ACCOUNT_NO = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="isEthicalFlag != null">
        IS_ETHICAL_FLAG = #{isEthicalFlag,jdbcType=VARCHAR},
      </if>
      <if test="projInfo != null">
        PROJ_INFO = #{projInfo,jdbcType=CLOB},
      </if>
    </set>
    where PROJ_FLOW = #{projFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.sci.model.mo.PubProj">
    update PDSCI.PUB_PROJ
    set PROJ_YEAR = #{projYear,jdbcType=VARCHAR},
      PROJ_NAME = #{projName,jdbcType=VARCHAR},
      PROJ_SHORT_NAME = #{projShortName,jdbcType=VARCHAR},
      PROJ_DECLARER = #{projDeclarer,jdbcType=VARCHAR},
      PROJ_SHORT_DECLARER = #{projShortDeclarer,jdbcType=VARCHAR},
      PROJ_DECLARER_FLOW = #{projDeclarerFlow,jdbcType=VARCHAR},
      PROJ_CATEGORY_ID = #{projCategoryId,jdbcType=VARCHAR},
      PROJ_CATEGORY_NAME = #{projCategoryName,jdbcType=VARCHAR},
      PROJ_NO = #{projNo,jdbcType=VARCHAR},
      CFDA_NO = #{cfdaNo,jdbcType=VARCHAR},
      PROJ_TYPE_ID = #{projTypeId,jdbcType=VARCHAR},
      PROJ_TYPE_NAME = #{projTypeName,jdbcType=VARCHAR},
      PROJ_SUB_TYPE_ID = #{projSubTypeId,jdbcType=VARCHAR},
      PROJ_SUB_TYPE_NAME = #{projSubTypeName,jdbcType=VARCHAR},
      PROJ_STAGE_ID = #{projStageId,jdbcType=VARCHAR},
      PROJ_STAGE_NAME = #{projStageName,jdbcType=VARCHAR},
      PROJ_STATUS_ID = #{projStatusId,jdbcType=VARCHAR},
      PROJ_STATUS_NAME = #{projStatusName,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      APPLY_ORG_FLOW = #{applyOrgFlow,jdbcType=VARCHAR},
      APPLY_ORG_NAME = #{applyOrgName,jdbcType=VARCHAR},
      APPLY_DEPT_FLOW = #{applyDeptFlow,jdbcType=VARCHAR},
      APPLY_DEPT_NAME = #{applyDeptName,jdbcType=VARCHAR},
      CHARGE_ORG_FLOW = #{chargeOrgFlow,jdbcType=VARCHAR},
      CHARGE_ORG_NAME = #{chargeOrgName,jdbcType=VARCHAR},
      PROJ_START_TIME = #{projStartTime,jdbcType=VARCHAR},
      PROJ_END_TIME = #{projEndTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      BRANCH_ID = #{branchId,jdbcType=VARCHAR},
      BRANCH_NAME = #{branchName,jdbcType=VARCHAR},
      APPLY_USER_EMPNUM = #{applyUserEmpnum,jdbcType=VARCHAR},
      ACCEPT_NUMBER = #{acceptNumber,jdbcType=VARCHAR},
      SUBJ_ID = #{subjId,jdbcType=VARCHAR},
      SUBJ_NAME = #{subjName,jdbcType=VARCHAR},
      PROJ_SECOND_SOURCE_ID = #{projSecondSourceId,jdbcType=VARCHAR},
      PROJ_SECOND_SOURCE_NAME = #{projSecondSourceName,jdbcType=VARCHAR},
      APPLY_USER_PHONE = #{applyUserPhone,jdbcType=VARCHAR},
      PLAN_TYPE_ID = #{planTypeId,jdbcType=VARCHAR},
      PLAN_TYPE_NAME = #{planTypeName,jdbcType=VARCHAR},
      ACCOUNT_NO = #{accountNo,jdbcType=VARCHAR},
      IS_ETHICAL_FLAG = #{isEthicalFlag,jdbcType=VARCHAR},
      PROJ_INFO = #{projInfo,jdbcType=CLOB}
    where PROJ_FLOW = #{projFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.PubProj">
    update PDSCI.PUB_PROJ
    set PROJ_YEAR = #{projYear,jdbcType=VARCHAR},
      PROJ_NAME = #{projName,jdbcType=VARCHAR},
      PROJ_SHORT_NAME = #{projShortName,jdbcType=VARCHAR},
      PROJ_DECLARER = #{projDeclarer,jdbcType=VARCHAR},
      PROJ_SHORT_DECLARER = #{projShortDeclarer,jdbcType=VARCHAR},
      PROJ_DECLARER_FLOW = #{projDeclarerFlow,jdbcType=VARCHAR},
      PROJ_CATEGORY_ID = #{projCategoryId,jdbcType=VARCHAR},
      PROJ_CATEGORY_NAME = #{projCategoryName,jdbcType=VARCHAR},
      PROJ_NO = #{projNo,jdbcType=VARCHAR},
      CFDA_NO = #{cfdaNo,jdbcType=VARCHAR},
      PROJ_TYPE_ID = #{projTypeId,jdbcType=VARCHAR},
      PROJ_TYPE_NAME = #{projTypeName,jdbcType=VARCHAR},
      PROJ_SUB_TYPE_ID = #{projSubTypeId,jdbcType=VARCHAR},
      PROJ_SUB_TYPE_NAME = #{projSubTypeName,jdbcType=VARCHAR},
      PROJ_STAGE_ID = #{projStageId,jdbcType=VARCHAR},
      PROJ_STAGE_NAME = #{projStageName,jdbcType=VARCHAR},
      PROJ_STATUS_ID = #{projStatusId,jdbcType=VARCHAR},
      PROJ_STATUS_NAME = #{projStatusName,jdbcType=VARCHAR},
      APPLY_USER_FLOW = #{applyUserFlow,jdbcType=VARCHAR},
      APPLY_USER_NAME = #{applyUserName,jdbcType=VARCHAR},
      APPLY_ORG_FLOW = #{applyOrgFlow,jdbcType=VARCHAR},
      APPLY_ORG_NAME = #{applyOrgName,jdbcType=VARCHAR},
      APPLY_DEPT_FLOW = #{applyDeptFlow,jdbcType=VARCHAR},
      APPLY_DEPT_NAME = #{applyDeptName,jdbcType=VARCHAR},
      CHARGE_ORG_FLOW = #{chargeOrgFlow,jdbcType=VARCHAR},
      CHARGE_ORG_NAME = #{chargeOrgName,jdbcType=VARCHAR},
      PROJ_START_TIME = #{projStartTime,jdbcType=VARCHAR},
      PROJ_END_TIME = #{projEndTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      BRANCH_ID = #{branchId,jdbcType=VARCHAR},
      BRANCH_NAME = #{branchName,jdbcType=VARCHAR},
      APPLY_USER_EMPNUM = #{applyUserEmpnum,jdbcType=VARCHAR},
      ACCEPT_NUMBER = #{acceptNumber,jdbcType=VARCHAR},
      SUBJ_ID = #{subjId,jdbcType=VARCHAR},
      SUBJ_NAME = #{subjName,jdbcType=VARCHAR},
      PROJ_SECOND_SOURCE_ID = #{projSecondSourceId,jdbcType=VARCHAR},
      PROJ_SECOND_SOURCE_NAME = #{projSecondSourceName,jdbcType=VARCHAR},
      APPLY_USER_PHONE = #{applyUserPhone,jdbcType=VARCHAR},
      PLAN_TYPE_ID = #{planTypeId,jdbcType=VARCHAR},
      PLAN_TYPE_NAME = #{planTypeName,jdbcType=VARCHAR},
      ACCOUNT_NO = #{accountNo,jdbcType=VARCHAR},
      IS_ETHICAL_FLAG = #{isEthicalFlag,jdbcType=VARCHAR}
    where PROJ_FLOW = #{projFlow,jdbcType=VARCHAR}
  </update>
</mapper>