<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.PubPatientMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.PubPatient" >
    <id column="PATIENT_FLOW" property="patientFlow" jdbcType="VARCHAR" />
    <result column="PATIENT_NAME" property="patientName" jdbcType="VARCHAR" />
    <result column="PATIENT_NAME_PY" property="patientNamePy" jdbcType="VARCHAR" />
    <result column="PATIENT_SEQ" property="patientSeq" jdbcType="DECIMAL" />
    <result column="PATIENT_CODE" property="patientCode" jdbcType="VARCHAR" />
    <result column="PROJ_FLOW" property="projFlow" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="SEX_ID" property="sexId" jdbcType="VARCHAR" />
    <result column="SEX_NAME" property="sexName" jdbcType="VARCHAR" />
    <result column="ID_NO" property="idNo" jdbcType="VARCHAR" />
    <result column="PATIENT_STAGE_ID" property="patientStageId" jdbcType="VARCHAR" />
    <result column="PATIENT_STAGE_NAME" property="patientStageName" jdbcType="VARCHAR" />
    <result column="PATIENT_AGE" property="patientAge" jdbcType="VARCHAR" />
    <result column="PATIENT_BIRTHDAY" property="patientBirthday" jdbcType="VARCHAR" />
    <result column="PATIENT_HEIGHT" property="patientHeight" jdbcType="VARCHAR" />
    <result column="PATIENT_WEIGHT" property="patientWeight" jdbcType="VARCHAR" />
    <result column="PATIENT_PHONE" property="patientPhone" jdbcType="VARCHAR" />
    <result column="PATIENT_TYPE_ID" property="patientTypeId" jdbcType="VARCHAR" />
    <result column="PATIENT_TYPE_NAME" property="patientTypeName" jdbcType="VARCHAR" />
    <result column="PATIENT_SOURCE_ID" property="patientSourceId" jdbcType="VARCHAR" />
    <result column="PATIENT_SOURCE_NAME" property="patientSourceName" jdbcType="VARCHAR" />
    <result column="PATIENT_NO" property="patientNo" jdbcType="VARCHAR" />
    <result column="ICF_DATE" property="icfDate" jdbcType="VARCHAR" />
    <result column="IN_DATE" property="inDate" jdbcType="VARCHAR" />
    <result column="IN_DOCTOR_FLOW" property="inDoctorFlow" jdbcType="VARCHAR" />
    <result column="IN_DOCTOR_NAME" property="inDoctorName" jdbcType="VARCHAR" />
    <result column="PATIENT_STAGE_NOTE" property="patientStageNote" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PATIENT_FLOW, PATIENT_NAME, PATIENT_NAME_PY, PATIENT_SEQ, PATIENT_CODE, PROJ_FLOW, 
    ORG_FLOW, SEX_ID, SEX_NAME, ID_NO, PATIENT_STAGE_ID, PATIENT_STAGE_NAME, PATIENT_AGE, 
    PATIENT_BIRTHDAY, PATIENT_HEIGHT, PATIENT_WEIGHT, PATIENT_PHONE, PATIENT_TYPE_ID, 
    PATIENT_TYPE_NAME, PATIENT_SOURCE_ID, PATIENT_SOURCE_NAME, PATIENT_NO, ICF_DATE, 
    IN_DATE, IN_DOCTOR_FLOW, IN_DOCTOR_NAME, PATIENT_STAGE_NOTE, RECORD_STATUS, CREATE_TIME, 
    CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.PubPatientExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.PUB_PATIENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.PUB_PATIENT
    where PATIENT_FLOW = #{patientFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.PUB_PATIENT
    where PATIENT_FLOW = #{patientFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.PubPatientExample" >
    delete from PDSCI.PUB_PATIENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.PubPatient" >
    insert into PDSCI.PUB_PATIENT (PATIENT_FLOW, PATIENT_NAME, PATIENT_NAME_PY, 
      PATIENT_SEQ, PATIENT_CODE, PROJ_FLOW, 
      ORG_FLOW, SEX_ID, SEX_NAME, 
      ID_NO, PATIENT_STAGE_ID, PATIENT_STAGE_NAME, 
      PATIENT_AGE, PATIENT_BIRTHDAY, PATIENT_HEIGHT, 
      PATIENT_WEIGHT, PATIENT_PHONE, PATIENT_TYPE_ID, 
      PATIENT_TYPE_NAME, PATIENT_SOURCE_ID, PATIENT_SOURCE_NAME, 
      PATIENT_NO, ICF_DATE, IN_DATE, 
      IN_DOCTOR_FLOW, IN_DOCTOR_NAME, PATIENT_STAGE_NOTE, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{patientFlow,jdbcType=VARCHAR}, #{patientName,jdbcType=VARCHAR}, #{patientNamePy,jdbcType=VARCHAR}, 
      #{patientSeq,jdbcType=DECIMAL}, #{patientCode,jdbcType=VARCHAR}, #{projFlow,jdbcType=VARCHAR}, 
      #{orgFlow,jdbcType=VARCHAR}, #{sexId,jdbcType=VARCHAR}, #{sexName,jdbcType=VARCHAR}, 
      #{idNo,jdbcType=VARCHAR}, #{patientStageId,jdbcType=VARCHAR}, #{patientStageName,jdbcType=VARCHAR}, 
      #{patientAge,jdbcType=VARCHAR}, #{patientBirthday,jdbcType=VARCHAR}, #{patientHeight,jdbcType=VARCHAR}, 
      #{patientWeight,jdbcType=VARCHAR}, #{patientPhone,jdbcType=VARCHAR}, #{patientTypeId,jdbcType=VARCHAR}, 
      #{patientTypeName,jdbcType=VARCHAR}, #{patientSourceId,jdbcType=VARCHAR}, #{patientSourceName,jdbcType=VARCHAR}, 
      #{patientNo,jdbcType=VARCHAR}, #{icfDate,jdbcType=VARCHAR}, #{inDate,jdbcType=VARCHAR}, 
      #{inDoctorFlow,jdbcType=VARCHAR}, #{inDoctorName,jdbcType=VARCHAR}, #{patientStageNote,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.PubPatient" >
    insert into PDSCI.PUB_PATIENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="patientFlow != null" >
        PATIENT_FLOW,
      </if>
      <if test="patientName != null" >
        PATIENT_NAME,
      </if>
      <if test="patientNamePy != null" >
        PATIENT_NAME_PY,
      </if>
      <if test="patientSeq != null" >
        PATIENT_SEQ,
      </if>
      <if test="patientCode != null" >
        PATIENT_CODE,
      </if>
      <if test="projFlow != null" >
        PROJ_FLOW,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="sexId != null" >
        SEX_ID,
      </if>
      <if test="sexName != null" >
        SEX_NAME,
      </if>
      <if test="idNo != null" >
        ID_NO,
      </if>
      <if test="patientStageId != null" >
        PATIENT_STAGE_ID,
      </if>
      <if test="patientStageName != null" >
        PATIENT_STAGE_NAME,
      </if>
      <if test="patientAge != null" >
        PATIENT_AGE,
      </if>
      <if test="patientBirthday != null" >
        PATIENT_BIRTHDAY,
      </if>
      <if test="patientHeight != null" >
        PATIENT_HEIGHT,
      </if>
      <if test="patientWeight != null" >
        PATIENT_WEIGHT,
      </if>
      <if test="patientPhone != null" >
        PATIENT_PHONE,
      </if>
      <if test="patientTypeId != null" >
        PATIENT_TYPE_ID,
      </if>
      <if test="patientTypeName != null" >
        PATIENT_TYPE_NAME,
      </if>
      <if test="patientSourceId != null" >
        PATIENT_SOURCE_ID,
      </if>
      <if test="patientSourceName != null" >
        PATIENT_SOURCE_NAME,
      </if>
      <if test="patientNo != null" >
        PATIENT_NO,
      </if>
      <if test="icfDate != null" >
        ICF_DATE,
      </if>
      <if test="inDate != null" >
        IN_DATE,
      </if>
      <if test="inDoctorFlow != null" >
        IN_DOCTOR_FLOW,
      </if>
      <if test="inDoctorName != null" >
        IN_DOCTOR_NAME,
      </if>
      <if test="patientStageNote != null" >
        PATIENT_STAGE_NOTE,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="patientFlow != null" >
        #{patientFlow,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null" >
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientNamePy != null" >
        #{patientNamePy,jdbcType=VARCHAR},
      </if>
      <if test="patientSeq != null" >
        #{patientSeq,jdbcType=DECIMAL},
      </if>
      <if test="patientCode != null" >
        #{patientCode,jdbcType=VARCHAR},
      </if>
      <if test="projFlow != null" >
        #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="sexId != null" >
        #{sexId,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null" >
        #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null" >
        #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="patientStageId != null" >
        #{patientStageId,jdbcType=VARCHAR},
      </if>
      <if test="patientStageName != null" >
        #{patientStageName,jdbcType=VARCHAR},
      </if>
      <if test="patientAge != null" >
        #{patientAge,jdbcType=VARCHAR},
      </if>
      <if test="patientBirthday != null" >
        #{patientBirthday,jdbcType=VARCHAR},
      </if>
      <if test="patientHeight != null" >
        #{patientHeight,jdbcType=VARCHAR},
      </if>
      <if test="patientWeight != null" >
        #{patientWeight,jdbcType=VARCHAR},
      </if>
      <if test="patientPhone != null" >
        #{patientPhone,jdbcType=VARCHAR},
      </if>
      <if test="patientTypeId != null" >
        #{patientTypeId,jdbcType=VARCHAR},
      </if>
      <if test="patientTypeName != null" >
        #{patientTypeName,jdbcType=VARCHAR},
      </if>
      <if test="patientSourceId != null" >
        #{patientSourceId,jdbcType=VARCHAR},
      </if>
      <if test="patientSourceName != null" >
        #{patientSourceName,jdbcType=VARCHAR},
      </if>
      <if test="patientNo != null" >
        #{patientNo,jdbcType=VARCHAR},
      </if>
      <if test="icfDate != null" >
        #{icfDate,jdbcType=VARCHAR},
      </if>
      <if test="inDate != null" >
        #{inDate,jdbcType=VARCHAR},
      </if>
      <if test="inDoctorFlow != null" >
        #{inDoctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="inDoctorName != null" >
        #{inDoctorName,jdbcType=VARCHAR},
      </if>
      <if test="patientStageNote != null" >
        #{patientStageNote,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.PubPatientExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.PUB_PATIENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.PUB_PATIENT
    <set >
      <if test="record.patientFlow != null" >
        PATIENT_FLOW = #{record.patientFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.patientName != null" >
        PATIENT_NAME = #{record.patientName,jdbcType=VARCHAR},
      </if>
      <if test="record.patientNamePy != null" >
        PATIENT_NAME_PY = #{record.patientNamePy,jdbcType=VARCHAR},
      </if>
      <if test="record.patientSeq != null" >
        PATIENT_SEQ = #{record.patientSeq,jdbcType=DECIMAL},
      </if>
      <if test="record.patientCode != null" >
        PATIENT_CODE = #{record.patientCode,jdbcType=VARCHAR},
      </if>
      <if test="record.projFlow != null" >
        PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.sexId != null" >
        SEX_ID = #{record.sexId,jdbcType=VARCHAR},
      </if>
      <if test="record.sexName != null" >
        SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      </if>
      <if test="record.idNo != null" >
        ID_NO = #{record.idNo,jdbcType=VARCHAR},
      </if>
      <if test="record.patientStageId != null" >
        PATIENT_STAGE_ID = #{record.patientStageId,jdbcType=VARCHAR},
      </if>
      <if test="record.patientStageName != null" >
        PATIENT_STAGE_NAME = #{record.patientStageName,jdbcType=VARCHAR},
      </if>
      <if test="record.patientAge != null" >
        PATIENT_AGE = #{record.patientAge,jdbcType=VARCHAR},
      </if>
      <if test="record.patientBirthday != null" >
        PATIENT_BIRTHDAY = #{record.patientBirthday,jdbcType=VARCHAR},
      </if>
      <if test="record.patientHeight != null" >
        PATIENT_HEIGHT = #{record.patientHeight,jdbcType=VARCHAR},
      </if>
      <if test="record.patientWeight != null" >
        PATIENT_WEIGHT = #{record.patientWeight,jdbcType=VARCHAR},
      </if>
      <if test="record.patientPhone != null" >
        PATIENT_PHONE = #{record.patientPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.patientTypeId != null" >
        PATIENT_TYPE_ID = #{record.patientTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.patientTypeName != null" >
        PATIENT_TYPE_NAME = #{record.patientTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.patientSourceId != null" >
        PATIENT_SOURCE_ID = #{record.patientSourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.patientSourceName != null" >
        PATIENT_SOURCE_NAME = #{record.patientSourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.patientNo != null" >
        PATIENT_NO = #{record.patientNo,jdbcType=VARCHAR},
      </if>
      <if test="record.icfDate != null" >
        ICF_DATE = #{record.icfDate,jdbcType=VARCHAR},
      </if>
      <if test="record.inDate != null" >
        IN_DATE = #{record.inDate,jdbcType=VARCHAR},
      </if>
      <if test="record.inDoctorFlow != null" >
        IN_DOCTOR_FLOW = #{record.inDoctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.inDoctorName != null" >
        IN_DOCTOR_NAME = #{record.inDoctorName,jdbcType=VARCHAR},
      </if>
      <if test="record.patientStageNote != null" >
        PATIENT_STAGE_NOTE = #{record.patientStageNote,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.PUB_PATIENT
    set PATIENT_FLOW = #{record.patientFlow,jdbcType=VARCHAR},
      PATIENT_NAME = #{record.patientName,jdbcType=VARCHAR},
      PATIENT_NAME_PY = #{record.patientNamePy,jdbcType=VARCHAR},
      PATIENT_SEQ = #{record.patientSeq,jdbcType=DECIMAL},
      PATIENT_CODE = #{record.patientCode,jdbcType=VARCHAR},
      PROJ_FLOW = #{record.projFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      SEX_ID = #{record.sexId,jdbcType=VARCHAR},
      SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      ID_NO = #{record.idNo,jdbcType=VARCHAR},
      PATIENT_STAGE_ID = #{record.patientStageId,jdbcType=VARCHAR},
      PATIENT_STAGE_NAME = #{record.patientStageName,jdbcType=VARCHAR},
      PATIENT_AGE = #{record.patientAge,jdbcType=VARCHAR},
      PATIENT_BIRTHDAY = #{record.patientBirthday,jdbcType=VARCHAR},
      PATIENT_HEIGHT = #{record.patientHeight,jdbcType=VARCHAR},
      PATIENT_WEIGHT = #{record.patientWeight,jdbcType=VARCHAR},
      PATIENT_PHONE = #{record.patientPhone,jdbcType=VARCHAR},
      PATIENT_TYPE_ID = #{record.patientTypeId,jdbcType=VARCHAR},
      PATIENT_TYPE_NAME = #{record.patientTypeName,jdbcType=VARCHAR},
      PATIENT_SOURCE_ID = #{record.patientSourceId,jdbcType=VARCHAR},
      PATIENT_SOURCE_NAME = #{record.patientSourceName,jdbcType=VARCHAR},
      PATIENT_NO = #{record.patientNo,jdbcType=VARCHAR},
      ICF_DATE = #{record.icfDate,jdbcType=VARCHAR},
      IN_DATE = #{record.inDate,jdbcType=VARCHAR},
      IN_DOCTOR_FLOW = #{record.inDoctorFlow,jdbcType=VARCHAR},
      IN_DOCTOR_NAME = #{record.inDoctorName,jdbcType=VARCHAR},
      PATIENT_STAGE_NOTE = #{record.patientStageNote,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.PubPatient" >
    update PDSCI.PUB_PATIENT
    <set >
      <if test="patientName != null" >
        PATIENT_NAME = #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientNamePy != null" >
        PATIENT_NAME_PY = #{patientNamePy,jdbcType=VARCHAR},
      </if>
      <if test="patientSeq != null" >
        PATIENT_SEQ = #{patientSeq,jdbcType=DECIMAL},
      </if>
      <if test="patientCode != null" >
        PATIENT_CODE = #{patientCode,jdbcType=VARCHAR},
      </if>
      <if test="projFlow != null" >
        PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="sexId != null" >
        SEX_ID = #{sexId,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null" >
        SEX_NAME = #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null" >
        ID_NO = #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="patientStageId != null" >
        PATIENT_STAGE_ID = #{patientStageId,jdbcType=VARCHAR},
      </if>
      <if test="patientStageName != null" >
        PATIENT_STAGE_NAME = #{patientStageName,jdbcType=VARCHAR},
      </if>
      <if test="patientAge != null" >
        PATIENT_AGE = #{patientAge,jdbcType=VARCHAR},
      </if>
      <if test="patientBirthday != null" >
        PATIENT_BIRTHDAY = #{patientBirthday,jdbcType=VARCHAR},
      </if>
      <if test="patientHeight != null" >
        PATIENT_HEIGHT = #{patientHeight,jdbcType=VARCHAR},
      </if>
      <if test="patientWeight != null" >
        PATIENT_WEIGHT = #{patientWeight,jdbcType=VARCHAR},
      </if>
      <if test="patientPhone != null" >
        PATIENT_PHONE = #{patientPhone,jdbcType=VARCHAR},
      </if>
      <if test="patientTypeId != null" >
        PATIENT_TYPE_ID = #{patientTypeId,jdbcType=VARCHAR},
      </if>
      <if test="patientTypeName != null" >
        PATIENT_TYPE_NAME = #{patientTypeName,jdbcType=VARCHAR},
      </if>
      <if test="patientSourceId != null" >
        PATIENT_SOURCE_ID = #{patientSourceId,jdbcType=VARCHAR},
      </if>
      <if test="patientSourceName != null" >
        PATIENT_SOURCE_NAME = #{patientSourceName,jdbcType=VARCHAR},
      </if>
      <if test="patientNo != null" >
        PATIENT_NO = #{patientNo,jdbcType=VARCHAR},
      </if>
      <if test="icfDate != null" >
        ICF_DATE = #{icfDate,jdbcType=VARCHAR},
      </if>
      <if test="inDate != null" >
        IN_DATE = #{inDate,jdbcType=VARCHAR},
      </if>
      <if test="inDoctorFlow != null" >
        IN_DOCTOR_FLOW = #{inDoctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="inDoctorName != null" >
        IN_DOCTOR_NAME = #{inDoctorName,jdbcType=VARCHAR},
      </if>
      <if test="patientStageNote != null" >
        PATIENT_STAGE_NOTE = #{patientStageNote,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where PATIENT_FLOW = #{patientFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.PubPatient" >
    update PDSCI.PUB_PATIENT
    set PATIENT_NAME = #{patientName,jdbcType=VARCHAR},
      PATIENT_NAME_PY = #{patientNamePy,jdbcType=VARCHAR},
      PATIENT_SEQ = #{patientSeq,jdbcType=DECIMAL},
      PATIENT_CODE = #{patientCode,jdbcType=VARCHAR},
      PROJ_FLOW = #{projFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      SEX_ID = #{sexId,jdbcType=VARCHAR},
      SEX_NAME = #{sexName,jdbcType=VARCHAR},
      ID_NO = #{idNo,jdbcType=VARCHAR},
      PATIENT_STAGE_ID = #{patientStageId,jdbcType=VARCHAR},
      PATIENT_STAGE_NAME = #{patientStageName,jdbcType=VARCHAR},
      PATIENT_AGE = #{patientAge,jdbcType=VARCHAR},
      PATIENT_BIRTHDAY = #{patientBirthday,jdbcType=VARCHAR},
      PATIENT_HEIGHT = #{patientHeight,jdbcType=VARCHAR},
      PATIENT_WEIGHT = #{patientWeight,jdbcType=VARCHAR},
      PATIENT_PHONE = #{patientPhone,jdbcType=VARCHAR},
      PATIENT_TYPE_ID = #{patientTypeId,jdbcType=VARCHAR},
      PATIENT_TYPE_NAME = #{patientTypeName,jdbcType=VARCHAR},
      PATIENT_SOURCE_ID = #{patientSourceId,jdbcType=VARCHAR},
      PATIENT_SOURCE_NAME = #{patientSourceName,jdbcType=VARCHAR},
      PATIENT_NO = #{patientNo,jdbcType=VARCHAR},
      ICF_DATE = #{icfDate,jdbcType=VARCHAR},
      IN_DATE = #{inDate,jdbcType=VARCHAR},
      IN_DOCTOR_FLOW = #{inDoctorFlow,jdbcType=VARCHAR},
      IN_DOCTOR_NAME = #{inDoctorName,jdbcType=VARCHAR},
      PATIENT_STAGE_NOTE = #{patientStageNote,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where PATIENT_FLOW = #{patientFlow,jdbcType=VARCHAR}
  </update>
</mapper>