<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.PubRegulationMapper" >
    <resultMap id="BaseResultMap" type="com.pinde.core.model.PubRegulation">
    <id column="REGULATION_FLOW" property="regulationFlow" jdbcType="VARCHAR" />
    <result column="REGULATION_NAME" property="regulationName" jdbcType="VARCHAR" />
    <result column="REGULATION_CODE" property="regulationCode" jdbcType="VARCHAR" />
    <result column="REGULATION_CATEGORY_ID" property="regulationCategoryId" jdbcType="VARCHAR" />
    <result column="REGULATION_CATEGORY_NAME" property="regulationCategoryName" jdbcType="VARCHAR" />
    <result column="REGULATION_TYPE_ID" property="regulationTypeId" jdbcType="VARCHAR" />
    <result column="REGULATION_TYPE_NAME" property="regulationTypeName" jdbcType="VARCHAR" />
    <result column="FILE_FLOW" property="fileFlow" jdbcType="VARCHAR" />
    <result column="DEPT_FLOW" property="deptFlow" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="REGULATION_YEAR" property="regulationYear" jdbcType="VARCHAR" />
    <result column="ORDINAL" property="ordinal" jdbcType="DECIMAL" />
    <result column="REGULATION_REMARK" property="regulationRemark" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    REGULATION_FLOW, REGULATION_NAME, REGULATION_CODE, REGULATION_CATEGORY_ID, REGULATION_CATEGORY_NAME, 
    REGULATION_TYPE_ID, REGULATION_TYPE_NAME, FILE_FLOW, DEPT_FLOW, DEPT_NAME, REGULATION_YEAR, 
    ORDINAL, REGULATION_REMARK, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
    MODIFY_USER_FLOW
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.PubRegulationExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
        from PUB_REGULATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from PUB_REGULATION
    where REGULATION_FLOW = #{regulationFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from PUB_REGULATION
    where REGULATION_FLOW = #{regulationFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.PubRegulationExample">
        delete from PUB_REGULATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.PubRegulation">
        insert into PUB_REGULATION (REGULATION_FLOW, REGULATION_NAME, REGULATION_CODE,
      REGULATION_CATEGORY_ID, REGULATION_CATEGORY_NAME, 
      REGULATION_TYPE_ID, REGULATION_TYPE_NAME, FILE_FLOW, 
      DEPT_FLOW, DEPT_NAME, REGULATION_YEAR, 
      ORDINAL, REGULATION_REMARK, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW)
    values (#{regulationFlow,jdbcType=VARCHAR}, #{regulationName,jdbcType=VARCHAR}, #{regulationCode,jdbcType=VARCHAR}, 
      #{regulationCategoryId,jdbcType=VARCHAR}, #{regulationCategoryName,jdbcType=VARCHAR}, 
      #{regulationTypeId,jdbcType=VARCHAR}, #{regulationTypeName,jdbcType=VARCHAR}, #{fileFlow,jdbcType=VARCHAR}, 
      #{deptFlow,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{regulationYear,jdbcType=VARCHAR}, 
      #{ordinal,jdbcType=DECIMAL}, #{regulationRemark,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.PubRegulation">
        insert into PUB_REGULATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="regulationFlow != null" >
        REGULATION_FLOW,
      </if>
      <if test="regulationName != null" >
        REGULATION_NAME,
      </if>
      <if test="regulationCode != null" >
        REGULATION_CODE,
      </if>
      <if test="regulationCategoryId != null" >
        REGULATION_CATEGORY_ID,
      </if>
      <if test="regulationCategoryName != null" >
        REGULATION_CATEGORY_NAME,
      </if>
      <if test="regulationTypeId != null" >
        REGULATION_TYPE_ID,
      </if>
      <if test="regulationTypeName != null" >
        REGULATION_TYPE_NAME,
      </if>
      <if test="fileFlow != null" >
        FILE_FLOW,
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="regulationYear != null" >
        REGULATION_YEAR,
      </if>
      <if test="ordinal != null" >
        ORDINAL,
      </if>
      <if test="regulationRemark != null" >
        REGULATION_REMARK,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="regulationFlow != null" >
        #{regulationFlow,jdbcType=VARCHAR},
      </if>
      <if test="regulationName != null" >
        #{regulationName,jdbcType=VARCHAR},
      </if>
      <if test="regulationCode != null" >
        #{regulationCode,jdbcType=VARCHAR},
      </if>
      <if test="regulationCategoryId != null" >
        #{regulationCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="regulationCategoryName != null" >
        #{regulationCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="regulationTypeId != null" >
        #{regulationTypeId,jdbcType=VARCHAR},
      </if>
      <if test="regulationTypeName != null" >
        #{regulationTypeName,jdbcType=VARCHAR},
      </if>
      <if test="fileFlow != null" >
        #{fileFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="regulationYear != null" >
        #{regulationYear,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null" >
        #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="regulationRemark != null" >
        #{regulationRemark,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.PubRegulationExample"
            resultType="java.lang.Integer">
        select count(*) from PUB_REGULATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update PUB_REGULATION
    <set >
      <if test="record.regulationFlow != null" >
        REGULATION_FLOW = #{record.regulationFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.regulationName != null" >
        REGULATION_NAME = #{record.regulationName,jdbcType=VARCHAR},
      </if>
      <if test="record.regulationCode != null" >
        REGULATION_CODE = #{record.regulationCode,jdbcType=VARCHAR},
      </if>
      <if test="record.regulationCategoryId != null" >
        REGULATION_CATEGORY_ID = #{record.regulationCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.regulationCategoryName != null" >
        REGULATION_CATEGORY_NAME = #{record.regulationCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.regulationTypeId != null" >
        REGULATION_TYPE_ID = #{record.regulationTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.regulationTypeName != null" >
        REGULATION_TYPE_NAME = #{record.regulationTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.fileFlow != null" >
        FILE_FLOW = #{record.fileFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null" >
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.regulationYear != null" >
        REGULATION_YEAR = #{record.regulationYear,jdbcType=VARCHAR},
      </if>
      <if test="record.ordinal != null" >
        ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      </if>
      <if test="record.regulationRemark != null" >
        REGULATION_REMARK = #{record.regulationRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update PUB_REGULATION
    set REGULATION_FLOW = #{record.regulationFlow,jdbcType=VARCHAR},
      REGULATION_NAME = #{record.regulationName,jdbcType=VARCHAR},
      REGULATION_CODE = #{record.regulationCode,jdbcType=VARCHAR},
      REGULATION_CATEGORY_ID = #{record.regulationCategoryId,jdbcType=VARCHAR},
      REGULATION_CATEGORY_NAME = #{record.regulationCategoryName,jdbcType=VARCHAR},
      REGULATION_TYPE_ID = #{record.regulationTypeId,jdbcType=VARCHAR},
      REGULATION_TYPE_NAME = #{record.regulationTypeName,jdbcType=VARCHAR},
      FILE_FLOW = #{record.fileFlow,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      REGULATION_YEAR = #{record.regulationYear,jdbcType=VARCHAR},
      ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      REGULATION_REMARK = #{record.regulationRemark,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.PubRegulation">
        update PUB_REGULATION
    <set >
      <if test="regulationName != null" >
        REGULATION_NAME = #{regulationName,jdbcType=VARCHAR},
      </if>
      <if test="regulationCode != null" >
        REGULATION_CODE = #{regulationCode,jdbcType=VARCHAR},
      </if>
      <if test="regulationCategoryId != null" >
        REGULATION_CATEGORY_ID = #{regulationCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="regulationCategoryName != null" >
        REGULATION_CATEGORY_NAME = #{regulationCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="regulationTypeId != null" >
        REGULATION_TYPE_ID = #{regulationTypeId,jdbcType=VARCHAR},
      </if>
      <if test="regulationTypeName != null" >
        REGULATION_TYPE_NAME = #{regulationTypeName,jdbcType=VARCHAR},
      </if>
      <if test="fileFlow != null" >
        FILE_FLOW = #{fileFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="regulationYear != null" >
        REGULATION_YEAR = #{regulationYear,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null" >
        ORDINAL = #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="regulationRemark != null" >
        REGULATION_REMARK = #{regulationRemark,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where REGULATION_FLOW = #{regulationFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.PubRegulation">
        update PUB_REGULATION
    set REGULATION_NAME = #{regulationName,jdbcType=VARCHAR},
      REGULATION_CODE = #{regulationCode,jdbcType=VARCHAR},
      REGULATION_CATEGORY_ID = #{regulationCategoryId,jdbcType=VARCHAR},
      REGULATION_CATEGORY_NAME = #{regulationCategoryName,jdbcType=VARCHAR},
      REGULATION_TYPE_ID = #{regulationTypeId,jdbcType=VARCHAR},
      REGULATION_TYPE_NAME = #{regulationTypeName,jdbcType=VARCHAR},
      FILE_FLOW = #{fileFlow,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      REGULATION_YEAR = #{regulationYear,jdbcType=VARCHAR},
      ORDINAL = #{ordinal,jdbcType=DECIMAL},
      REGULATION_REMARK = #{regulationRemark,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where REGULATION_FLOW = #{regulationFlow,jdbcType=VARCHAR}
  </update>
</mapper>