<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.RecruitExamTeacherMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.RecruitExamTeacher" >
    <id column="TEACHER_FLOW" property="teacherFlow" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ROOM_FLOW" property="roomFlow" jdbcType="VARCHAR" />
    <result column="TEA_NAME" property="teaName" jdbcType="VARCHAR" />
    <result column="TEA_ROLE" property="teaRole" jdbcType="VARCHAR" />
    <result column="TEA_DEMO" property="teaDemo" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TEACHER_FLOW, ORG_FLOW, ROOM_FLOW, TEA_NAME, TEA_ROLE, TEA_DEMO, RECORD_STATUS, CREATE_TIME, 
    CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.RecruitExamTeacherExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.RECRUIT_EXAM_TEACHER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.RECRUIT_EXAM_TEACHER
    where TEACHER_FLOW = #{teacherFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.RECRUIT_EXAM_TEACHER
    where TEACHER_FLOW = #{teacherFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.RecruitExamTeacherExample" >
    delete from PDSCI.RECRUIT_EXAM_TEACHER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.RecruitExamTeacher" >
    insert into PDSCI.RECRUIT_EXAM_TEACHER (TEACHER_FLOW, ORG_FLOW, ROOM_FLOW, 
      TEA_NAME, TEA_ROLE, TEA_DEMO, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{teacherFlow,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, #{roomFlow,jdbcType=VARCHAR}, 
      #{teaName,jdbcType=VARCHAR}, #{teaRole,jdbcType=VARCHAR}, #{teaDemo,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.RecruitExamTeacher" >
    insert into PDSCI.RECRUIT_EXAM_TEACHER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teacherFlow != null" >
        TEACHER_FLOW,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="roomFlow != null" >
        ROOM_FLOW,
      </if>
      <if test="teaName != null" >
        TEA_NAME,
      </if>
      <if test="teaRole != null" >
        TEA_ROLE,
      </if>
      <if test="teaDemo != null" >
        TEA_DEMO,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teacherFlow != null" >
        #{teacherFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="roomFlow != null" >
        #{roomFlow,jdbcType=VARCHAR},
      </if>
      <if test="teaName != null" >
        #{teaName,jdbcType=VARCHAR},
      </if>
      <if test="teaRole != null" >
        #{teaRole,jdbcType=VARCHAR},
      </if>
      <if test="teaDemo != null" >
        #{teaDemo,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.RecruitExamTeacherExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.RECRUIT_EXAM_TEACHER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.RECRUIT_EXAM_TEACHER
    <set >
      <if test="record.teacherFlow != null" >
        TEACHER_FLOW = #{record.teacherFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.roomFlow != null" >
        ROOM_FLOW = #{record.roomFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.teaName != null" >
        TEA_NAME = #{record.teaName,jdbcType=VARCHAR},
      </if>
      <if test="record.teaRole != null" >
        TEA_ROLE = #{record.teaRole,jdbcType=VARCHAR},
      </if>
      <if test="record.teaDemo != null" >
        TEA_DEMO = #{record.teaDemo,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.RECRUIT_EXAM_TEACHER
    set TEACHER_FLOW = #{record.teacherFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ROOM_FLOW = #{record.roomFlow,jdbcType=VARCHAR},
      TEA_NAME = #{record.teaName,jdbcType=VARCHAR},
      TEA_ROLE = #{record.teaRole,jdbcType=VARCHAR},
      TEA_DEMO = #{record.teaDemo,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.RecruitExamTeacher" >
    update PDSCI.RECRUIT_EXAM_TEACHER
    <set >
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="roomFlow != null" >
        ROOM_FLOW = #{roomFlow,jdbcType=VARCHAR},
      </if>
      <if test="teaName != null" >
        TEA_NAME = #{teaName,jdbcType=VARCHAR},
      </if>
      <if test="teaRole != null" >
        TEA_ROLE = #{teaRole,jdbcType=VARCHAR},
      </if>
      <if test="teaDemo != null" >
        TEA_DEMO = #{teaDemo,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where TEACHER_FLOW = #{teacherFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.RecruitExamTeacher" >
    update PDSCI.RECRUIT_EXAM_TEACHER
    set ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ROOM_FLOW = #{roomFlow,jdbcType=VARCHAR},
      TEA_NAME = #{teaName,jdbcType=VARCHAR},
      TEA_ROLE = #{teaRole,jdbcType=VARCHAR},
      TEA_DEMO = #{teaDemo,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where TEACHER_FLOW = #{teacherFlow,jdbcType=VARCHAR}
  </update>
</mapper>