<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ResCostCfgDetailMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ResCostCfgDetail" >
    <id column="DETAIL_FLOW" property="detailFlow" jdbcType="VARCHAR" />
    <result column="MAIN_FLOW" property="mainFlow" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="ITEM_ID" property="itemId" jdbcType="VARCHAR" />
    <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
    <result column="START_DATE" property="startDate" jdbcType="VARCHAR" />
    <result column="END_DATE" property="endDate" jdbcType="VARCHAR" />
    <result column="TEA_COST" property="teaCost" jdbcType="VARCHAR" />
    <result column="KM_COST" property="kmCost" jdbcType="VARCHAR" />
    <result column="HEAD_COST" property="headCost" jdbcType="VARCHAR" />
    <result column="SPE_COST" property="speCost" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DETAIL_FLOW, MAIN_FLOW, ORG_FLOW, ORG_NAME, ITEM_ID, ITEM_NAME, START_DATE, END_DATE, 
    TEA_COST, KM_COST, HEAD_COST, SPE_COST, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ResCostCfgDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.RES_COST_CFG_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.RES_COST_CFG_DETAIL
    where DETAIL_FLOW = #{detailFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.RES_COST_CFG_DETAIL
    where DETAIL_FLOW = #{detailFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ResCostCfgDetailExample" >
    delete from PDSCI.RES_COST_CFG_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ResCostCfgDetail" >
    insert into PDSCI.RES_COST_CFG_DETAIL (DETAIL_FLOW, MAIN_FLOW, ORG_FLOW, 
      ORG_NAME, ITEM_ID, ITEM_NAME, 
      START_DATE, END_DATE, TEA_COST, 
      KM_COST, HEAD_COST, SPE_COST, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{detailFlow,jdbcType=VARCHAR}, #{mainFlow,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, 
      #{orgName,jdbcType=VARCHAR}, #{itemId,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, 
      #{startDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR}, #{teaCost,jdbcType=VARCHAR}, 
      #{kmCost,jdbcType=VARCHAR}, #{headCost,jdbcType=VARCHAR}, #{speCost,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ResCostCfgDetail" >
    insert into PDSCI.RES_COST_CFG_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detailFlow != null" >
        DETAIL_FLOW,
      </if>
      <if test="mainFlow != null" >
        MAIN_FLOW,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="itemId != null" >
        ITEM_ID,
      </if>
      <if test="itemName != null" >
        ITEM_NAME,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="teaCost != null" >
        TEA_COST,
      </if>
      <if test="kmCost != null" >
        KM_COST,
      </if>
      <if test="headCost != null" >
        HEAD_COST,
      </if>
      <if test="speCost != null" >
        SPE_COST,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detailFlow != null" >
        #{detailFlow,jdbcType=VARCHAR},
      </if>
      <if test="mainFlow != null" >
        #{mainFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="teaCost != null" >
        #{teaCost,jdbcType=VARCHAR},
      </if>
      <if test="kmCost != null" >
        #{kmCost,jdbcType=VARCHAR},
      </if>
      <if test="headCost != null" >
        #{headCost,jdbcType=VARCHAR},
      </if>
      <if test="speCost != null" >
        #{speCost,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ResCostCfgDetailExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.RES_COST_CFG_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.RES_COST_CFG_DETAIL
    <set >
      <if test="record.detailFlow != null" >
        DETAIL_FLOW = #{record.detailFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.mainFlow != null" >
        MAIN_FLOW = #{record.mainFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.itemId != null" >
        ITEM_ID = #{record.itemId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null" >
        ITEM_NAME = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.startDate != null" >
        START_DATE = #{record.startDate,jdbcType=VARCHAR},
      </if>
      <if test="record.endDate != null" >
        END_DATE = #{record.endDate,jdbcType=VARCHAR},
      </if>
      <if test="record.teaCost != null" >
        TEA_COST = #{record.teaCost,jdbcType=VARCHAR},
      </if>
      <if test="record.kmCost != null" >
        KM_COST = #{record.kmCost,jdbcType=VARCHAR},
      </if>
      <if test="record.headCost != null" >
        HEAD_COST = #{record.headCost,jdbcType=VARCHAR},
      </if>
      <if test="record.speCost != null" >
        SPE_COST = #{record.speCost,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.RES_COST_CFG_DETAIL
    set DETAIL_FLOW = #{record.detailFlow,jdbcType=VARCHAR},
      MAIN_FLOW = #{record.mainFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      ITEM_ID = #{record.itemId,jdbcType=VARCHAR},
      ITEM_NAME = #{record.itemName,jdbcType=VARCHAR},
      START_DATE = #{record.startDate,jdbcType=VARCHAR},
      END_DATE = #{record.endDate,jdbcType=VARCHAR},
      TEA_COST = #{record.teaCost,jdbcType=VARCHAR},
      KM_COST = #{record.kmCost,jdbcType=VARCHAR},
      HEAD_COST = #{record.headCost,jdbcType=VARCHAR},
      SPE_COST = #{record.speCost,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ResCostCfgDetail" >
    update PDSCI.RES_COST_CFG_DETAIL
    <set >
      <if test="mainFlow != null" >
        MAIN_FLOW = #{mainFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        ITEM_ID = #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        START_DATE = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="teaCost != null" >
        TEA_COST = #{teaCost,jdbcType=VARCHAR},
      </if>
      <if test="kmCost != null" >
        KM_COST = #{kmCost,jdbcType=VARCHAR},
      </if>
      <if test="headCost != null" >
        HEAD_COST = #{headCost,jdbcType=VARCHAR},
      </if>
      <if test="speCost != null" >
        SPE_COST = #{speCost,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where DETAIL_FLOW = #{detailFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ResCostCfgDetail" >
    update PDSCI.RES_COST_CFG_DETAIL
    set MAIN_FLOW = #{mainFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      ITEM_ID = #{itemId,jdbcType=VARCHAR},
      ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      START_DATE = #{startDate,jdbcType=VARCHAR},
      END_DATE = #{endDate,jdbcType=VARCHAR},
      TEA_COST = #{teaCost,jdbcType=VARCHAR},
      KM_COST = #{kmCost,jdbcType=VARCHAR},
      HEAD_COST = #{headCost,jdbcType=VARCHAR},
      SPE_COST = #{speCost,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where DETAIL_FLOW = #{detailFlow,jdbcType=VARCHAR}
  </update>
</mapper>