<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.ResDiscipleReqMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ResDiscipleReq">
    <id column="RECORD_FLOW" jdbcType="VARCHAR" property="recordFlow" />
    <result column="ORG_FLOW" jdbcType="VARCHAR" property="orgFlow" />
    <result column="SESSION_NUMBER" jdbcType="VARCHAR" property="sessionNumber" />
    <result column="TRAINING_TYPE_ID" jdbcType="VARCHAR" property="trainingTypeId" />
    <result column="TRAINING_TYPE_NAME" jdbcType="VARCHAR" property="trainingTypeName" />
    <result column="DISCIPLE_TYPE_ID" jdbcType="VARCHAR" property="discipleTypeId" />
    <result column="DISCIPLE_TYPE_NAME" jdbcType="VARCHAR" property="discipleTypeName" />
    <result column="REQ_NUMBER" jdbcType="DECIMAL" property="reqNumber" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RECORD_FLOW, ORG_FLOW, SESSION_NUMBER, TRAINING_TYPE_ID, TRAINING_TYPE_NAME, DISCIPLE_TYPE_ID, 
    DISCIPLE_TYPE_NAME, REQ_NUMBER, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
    MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.ResDiscipleReqExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.RES_DISCIPLE_REQ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PDSCI.RES_DISCIPLE_REQ
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.RES_DISCIPLE_REQ
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ResDiscipleReqExample">
    delete from PDSCI.RES_DISCIPLE_REQ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ResDiscipleReq">
    insert into PDSCI.RES_DISCIPLE_REQ (RECORD_FLOW, ORG_FLOW, SESSION_NUMBER, 
      TRAINING_TYPE_ID, TRAINING_TYPE_NAME, DISCIPLE_TYPE_ID, 
      DISCIPLE_TYPE_NAME, REQ_NUMBER, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW)
    values (#{recordFlow,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, #{sessionNumber,jdbcType=VARCHAR}, 
      #{trainingTypeId,jdbcType=VARCHAR}, #{trainingTypeName,jdbcType=VARCHAR}, #{discipleTypeId,jdbcType=VARCHAR}, 
      #{discipleTypeName,jdbcType=VARCHAR}, #{reqNumber,jdbcType=DECIMAL}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ResDiscipleReq">
    insert into PDSCI.RES_DISCIPLE_REQ
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordFlow != null">
        RECORD_FLOW,
      </if>
      <if test="orgFlow != null">
        ORG_FLOW,
      </if>
      <if test="sessionNumber != null">
        SESSION_NUMBER,
      </if>
      <if test="trainingTypeId != null">
        TRAINING_TYPE_ID,
      </if>
      <if test="trainingTypeName != null">
        TRAINING_TYPE_NAME,
      </if>
      <if test="discipleTypeId != null">
        DISCIPLE_TYPE_ID,
      </if>
      <if test="discipleTypeName != null">
        DISCIPLE_TYPE_NAME,
      </if>
      <if test="reqNumber != null">
        REQ_NUMBER,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordFlow != null">
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null">
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null">
        #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="trainingTypeId != null">
        #{trainingTypeId,jdbcType=VARCHAR},
      </if>
      <if test="trainingTypeName != null">
        #{trainingTypeName,jdbcType=VARCHAR},
      </if>
      <if test="discipleTypeId != null">
        #{discipleTypeId,jdbcType=VARCHAR},
      </if>
      <if test="discipleTypeName != null">
        #{discipleTypeName,jdbcType=VARCHAR},
      </if>
      <if test="reqNumber != null">
        #{reqNumber,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ResDiscipleReqExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.RES_DISCIPLE_REQ
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.RES_DISCIPLE_REQ
    <set>
      <if test="record.recordFlow != null">
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null">
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.sessionNumber != null">
        SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingTypeId != null">
        TRAINING_TYPE_ID = #{record.trainingTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingTypeName != null">
        TRAINING_TYPE_NAME = #{record.trainingTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.discipleTypeId != null">
        DISCIPLE_TYPE_ID = #{record.discipleTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.discipleTypeName != null">
        DISCIPLE_TYPE_NAME = #{record.discipleTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.reqNumber != null">
        REQ_NUMBER = #{record.reqNumber,jdbcType=DECIMAL},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.RES_DISCIPLE_REQ
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      TRAINING_TYPE_ID = #{record.trainingTypeId,jdbcType=VARCHAR},
      TRAINING_TYPE_NAME = #{record.trainingTypeName,jdbcType=VARCHAR},
      DISCIPLE_TYPE_ID = #{record.discipleTypeId,jdbcType=VARCHAR},
      DISCIPLE_TYPE_NAME = #{record.discipleTypeName,jdbcType=VARCHAR},
      REQ_NUMBER = #{record.reqNumber,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ResDiscipleReq">
    update PDSCI.RES_DISCIPLE_REQ
    <set>
      <if test="orgFlow != null">
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null">
        SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="trainingTypeId != null">
        TRAINING_TYPE_ID = #{trainingTypeId,jdbcType=VARCHAR},
      </if>
      <if test="trainingTypeName != null">
        TRAINING_TYPE_NAME = #{trainingTypeName,jdbcType=VARCHAR},
      </if>
      <if test="discipleTypeId != null">
        DISCIPLE_TYPE_ID = #{discipleTypeId,jdbcType=VARCHAR},
      </if>
      <if test="discipleTypeName != null">
        DISCIPLE_TYPE_NAME = #{discipleTypeName,jdbcType=VARCHAR},
      </if>
      <if test="reqNumber != null">
        REQ_NUMBER = #{reqNumber,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ResDiscipleReq">
    update PDSCI.RES_DISCIPLE_REQ
    set ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      TRAINING_TYPE_ID = #{trainingTypeId,jdbcType=VARCHAR},
      TRAINING_TYPE_NAME = #{trainingTypeName,jdbcType=VARCHAR},
      DISCIPLE_TYPE_ID = #{discipleTypeId,jdbcType=VARCHAR},
      DISCIPLE_TYPE_NAME = #{discipleTypeName,jdbcType=VARCHAR},
      REQ_NUMBER = #{reqNumber,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>