<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ResGradeBorderlineMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ResGradeBorderline" >
    <id column="BORDERLINE_FLOW" property="borderlineFlow" jdbcType="VARCHAR" />
    <result column="EXAM_FLOW" property="examFlow" jdbcType="VARCHAR" />
    <result column="SPE_ID" property="speId" jdbcType="VARCHAR" />
    <result column="SPE_NAME" property="speName" jdbcType="VARCHAR" />
    <result column="GRADE_STEP" property="gradeStep" jdbcType="VARCHAR" />
    <result column="GRADE_BORDERLINE" property="gradeBorderline" jdbcType="VARCHAR" />
    <result column="PUBLISH_FLAG" property="publishFlag" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    BORDERLINE_FLOW, EXAM_FLOW, SPE_ID, SPE_NAME, GRADE_STEP, GRADE_BORDERLINE, PUBLISH_FLAG, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ResGradeBorderlineExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
      from RES_GRADE_BORDERLINE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from RES_GRADE_BORDERLINE
    where BORDERLINE_FLOW = #{borderlineFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from RES_GRADE_BORDERLINE
    where BORDERLINE_FLOW = #{borderlineFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ResGradeBorderlineExample" >
      delete from RES_GRADE_BORDERLINE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ResGradeBorderline" >
      insert into RES_GRADE_BORDERLINE (BORDERLINE_FLOW, EXAM_FLOW, SPE_ID,
      SPE_NAME, GRADE_STEP, GRADE_BORDERLINE, 
      PUBLISH_FLAG, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
      )
    values (#{borderlineFlow,jdbcType=VARCHAR}, #{examFlow,jdbcType=VARCHAR}, #{speId,jdbcType=VARCHAR}, 
      #{speName,jdbcType=VARCHAR}, #{gradeStep,jdbcType=VARCHAR}, #{gradeBorderline,jdbcType=VARCHAR}, 
      #{publishFlag,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ResGradeBorderline" >
      insert into RES_GRADE_BORDERLINE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="borderlineFlow != null" >
        BORDERLINE_FLOW,
      </if>
      <if test="examFlow != null" >
        EXAM_FLOW,
      </if>
      <if test="speId != null" >
        SPE_ID,
      </if>
      <if test="speName != null" >
        SPE_NAME,
      </if>
      <if test="gradeStep != null" >
        GRADE_STEP,
      </if>
      <if test="gradeBorderline != null" >
        GRADE_BORDERLINE,
      </if>
      <if test="publishFlag != null" >
        PUBLISH_FLAG,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="borderlineFlow != null" >
        #{borderlineFlow,jdbcType=VARCHAR},
      </if>
      <if test="examFlow != null" >
        #{examFlow,jdbcType=VARCHAR},
      </if>
      <if test="speId != null" >
        #{speId,jdbcType=VARCHAR},
      </if>
      <if test="speName != null" >
        #{speName,jdbcType=VARCHAR},
      </if>
      <if test="gradeStep != null" >
        #{gradeStep,jdbcType=VARCHAR},
      </if>
      <if test="gradeBorderline != null" >
        #{gradeBorderline,jdbcType=VARCHAR},
      </if>
      <if test="publishFlag != null" >
        #{publishFlag,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ResGradeBorderlineExample" resultType="java.lang.Integer" >
      select count(*) from RES_GRADE_BORDERLINE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update RES_GRADE_BORDERLINE
    <set >
      <if test="record.borderlineFlow != null" >
        BORDERLINE_FLOW = #{record.borderlineFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.examFlow != null" >
        EXAM_FLOW = #{record.examFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.speId != null" >
        SPE_ID = #{record.speId,jdbcType=VARCHAR},
      </if>
      <if test="record.speName != null" >
        SPE_NAME = #{record.speName,jdbcType=VARCHAR},
      </if>
      <if test="record.gradeStep != null" >
        GRADE_STEP = #{record.gradeStep,jdbcType=VARCHAR},
      </if>
      <if test="record.gradeBorderline != null" >
        GRADE_BORDERLINE = #{record.gradeBorderline,jdbcType=VARCHAR},
      </if>
      <if test="record.publishFlag != null" >
        PUBLISH_FLAG = #{record.publishFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update RES_GRADE_BORDERLINE
    set BORDERLINE_FLOW = #{record.borderlineFlow,jdbcType=VARCHAR},
      EXAM_FLOW = #{record.examFlow,jdbcType=VARCHAR},
      SPE_ID = #{record.speId,jdbcType=VARCHAR},
      SPE_NAME = #{record.speName,jdbcType=VARCHAR},
      GRADE_STEP = #{record.gradeStep,jdbcType=VARCHAR},
      GRADE_BORDERLINE = #{record.gradeBorderline,jdbcType=VARCHAR},
      PUBLISH_FLAG = #{record.publishFlag,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ResGradeBorderline" >
      update RES_GRADE_BORDERLINE
    <set >
      <if test="examFlow != null" >
        EXAM_FLOW = #{examFlow,jdbcType=VARCHAR},
      </if>
      <if test="speId != null" >
        SPE_ID = #{speId,jdbcType=VARCHAR},
      </if>
      <if test="speName != null" >
        SPE_NAME = #{speName,jdbcType=VARCHAR},
      </if>
      <if test="gradeStep != null" >
        GRADE_STEP = #{gradeStep,jdbcType=VARCHAR},
      </if>
      <if test="gradeBorderline != null" >
        GRADE_BORDERLINE = #{gradeBorderline,jdbcType=VARCHAR},
      </if>
      <if test="publishFlag != null" >
        PUBLISH_FLAG = #{publishFlag,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where BORDERLINE_FLOW = #{borderlineFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ResGradeBorderline" >
      update RES_GRADE_BORDERLINE
    set EXAM_FLOW = #{examFlow,jdbcType=VARCHAR},
      SPE_ID = #{speId,jdbcType=VARCHAR},
      SPE_NAME = #{speName,jdbcType=VARCHAR},
      GRADE_STEP = #{gradeStep,jdbcType=VARCHAR},
      GRADE_BORDERLINE = #{gradeBorderline,jdbcType=VARCHAR},
      PUBLISH_FLAG = #{publishFlag,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where BORDERLINE_FLOW = #{borderlineFlow,jdbcType=VARCHAR}
  </update>
</mapper>