<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.ResInprocessInfoMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ResInprocessInfo">
    <id column="RECORD_FLOW" jdbcType="VARCHAR" property="recordFlow" />
    <result column="ORG_FLOW" jdbcType="VARCHAR" property="orgFlow" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="DEPT_FLOW" jdbcType="VARCHAR" property="deptFlow" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="DEPT_BRIEFING" jdbcType="VARCHAR" property="deptBriefing" />
    <result column="DEPT_FRAMEWORK" jdbcType="VARCHAR" property="deptFramework" />
    <result column="WORK_ENVIRONMENT" jdbcType="VARCHAR" property="workEnvironment" />
    <result column="WORK_SCOPE" jdbcType="VARCHAR" property="workScope" />
    <result column="ATTENDANCE_INFO" jdbcType="VARCHAR" property="attendanceInfo" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.pinde.sci.model.mo.ResInprocessInfo">
    <result column="TEACHING_ARRANGEMENT" jdbcType="CLOB" property="teachingArrangement" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RECORD_FLOW, ORG_FLOW, ORG_NAME, DEPT_FLOW, DEPT_NAME, DEPT_BRIEFING, DEPT_FRAMEWORK, 
    WORK_ENVIRONMENT, WORK_SCOPE, ATTENDANCE_INFO, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <sql id="Blob_Column_List">
    TEACHING_ARRANGEMENT
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.pinde.sci.model.mo.ResInprocessInfoExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
      from RES_INPROCESS_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.ResInprocessInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
      from RES_INPROCESS_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
      from RES_INPROCESS_INFO
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
      delete from RES_INPROCESS_INFO
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ResInprocessInfoExample">
      delete from RES_INPROCESS_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ResInprocessInfo">
      insert into RES_INPROCESS_INFO (RECORD_FLOW, ORG_FLOW, ORG_NAME,
      DEPT_FLOW, DEPT_NAME, DEPT_BRIEFING, 
      DEPT_FRAMEWORK, WORK_ENVIRONMENT, WORK_SCOPE, 
      ATTENDANCE_INFO, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      TEACHING_ARRANGEMENT)
    values (#{recordFlow,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{deptFlow,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{deptBriefing,jdbcType=VARCHAR}, 
      #{deptFramework,jdbcType=VARCHAR}, #{workEnvironment,jdbcType=VARCHAR}, #{workScope,jdbcType=VARCHAR}, 
      #{attendanceInfo,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{teachingArrangement,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ResInprocessInfo">
      insert into RES_INPROCESS_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordFlow != null">
        RECORD_FLOW,
      </if>
      <if test="orgFlow != null">
        ORG_FLOW,
      </if>
      <if test="orgName != null">
        ORG_NAME,
      </if>
      <if test="deptFlow != null">
        DEPT_FLOW,
      </if>
      <if test="deptName != null">
        DEPT_NAME,
      </if>
      <if test="deptBriefing != null">
        DEPT_BRIEFING,
      </if>
      <if test="deptFramework != null">
        DEPT_FRAMEWORK,
      </if>
      <if test="workEnvironment != null">
        WORK_ENVIRONMENT,
      </if>
      <if test="workScope != null">
        WORK_SCOPE,
      </if>
      <if test="attendanceInfo != null">
        ATTENDANCE_INFO,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="teachingArrangement != null">
        TEACHING_ARRANGEMENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordFlow != null">
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null">
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null">
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptBriefing != null">
        #{deptBriefing,jdbcType=VARCHAR},
      </if>
      <if test="deptFramework != null">
        #{deptFramework,jdbcType=VARCHAR},
      </if>
      <if test="workEnvironment != null">
        #{workEnvironment,jdbcType=VARCHAR},
      </if>
      <if test="workScope != null">
        #{workScope,jdbcType=VARCHAR},
      </if>
      <if test="attendanceInfo != null">
        #{attendanceInfo,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="teachingArrangement != null">
        #{teachingArrangement,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ResInprocessInfoExample" resultType="java.lang.Integer">
      select count(*) from RES_INPROCESS_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
      update RES_INPROCESS_INFO
    <set>
      <if test="record.recordFlow != null">
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null">
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null">
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null">
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null">
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptBriefing != null">
        DEPT_BRIEFING = #{record.deptBriefing,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFramework != null">
        DEPT_FRAMEWORK = #{record.deptFramework,jdbcType=VARCHAR},
      </if>
      <if test="record.workEnvironment != null">
        WORK_ENVIRONMENT = #{record.workEnvironment,jdbcType=VARCHAR},
      </if>
      <if test="record.workScope != null">
        WORK_SCOPE = #{record.workScope,jdbcType=VARCHAR},
      </if>
      <if test="record.attendanceInfo != null">
        ATTENDANCE_INFO = #{record.attendanceInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.teachingArrangement != null">
        TEACHING_ARRANGEMENT = #{record.teachingArrangement,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
      update RES_INPROCESS_INFO
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      DEPT_BRIEFING = #{record.deptBriefing,jdbcType=VARCHAR},
      DEPT_FRAMEWORK = #{record.deptFramework,jdbcType=VARCHAR},
      WORK_ENVIRONMENT = #{record.workEnvironment,jdbcType=VARCHAR},
      WORK_SCOPE = #{record.workScope,jdbcType=VARCHAR},
      ATTENDANCE_INFO = #{record.attendanceInfo,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      TEACHING_ARRANGEMENT = #{record.teachingArrangement,jdbcType=CLOB}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
      update RES_INPROCESS_INFO
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      DEPT_BRIEFING = #{record.deptBriefing,jdbcType=VARCHAR},
      DEPT_FRAMEWORK = #{record.deptFramework,jdbcType=VARCHAR},
      WORK_ENVIRONMENT = #{record.workEnvironment,jdbcType=VARCHAR},
      WORK_SCOPE = #{record.workScope,jdbcType=VARCHAR},
      ATTENDANCE_INFO = #{record.attendanceInfo,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ResInprocessInfo">
      update RES_INPROCESS_INFO
    <set>
      <if test="orgFlow != null">
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null">
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptBriefing != null">
        DEPT_BRIEFING = #{deptBriefing,jdbcType=VARCHAR},
      </if>
      <if test="deptFramework != null">
        DEPT_FRAMEWORK = #{deptFramework,jdbcType=VARCHAR},
      </if>
      <if test="workEnvironment != null">
        WORK_ENVIRONMENT = #{workEnvironment,jdbcType=VARCHAR},
      </if>
      <if test="workScope != null">
        WORK_SCOPE = #{workScope,jdbcType=VARCHAR},
      </if>
      <if test="attendanceInfo != null">
        ATTENDANCE_INFO = #{attendanceInfo,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="teachingArrangement != null">
        TEACHING_ARRANGEMENT = #{teachingArrangement,jdbcType=CLOB},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.sci.model.mo.ResInprocessInfo">
      update RES_INPROCESS_INFO
    set ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      DEPT_BRIEFING = #{deptBriefing,jdbcType=VARCHAR},
      DEPT_FRAMEWORK = #{deptFramework,jdbcType=VARCHAR},
      WORK_ENVIRONMENT = #{workEnvironment,jdbcType=VARCHAR},
      WORK_SCOPE = #{workScope,jdbcType=VARCHAR},
      ATTENDANCE_INFO = #{attendanceInfo,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      TEACHING_ARRANGEMENT = #{teachingArrangement,jdbcType=CLOB}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ResInprocessInfo">
      update RES_INPROCESS_INFO
    set ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      DEPT_BRIEFING = #{deptBriefing,jdbcType=VARCHAR},
      DEPT_FRAMEWORK = #{deptFramework,jdbcType=VARCHAR},
      WORK_ENVIRONMENT = #{workEnvironment,jdbcType=VARCHAR},
      WORK_SCOPE = #{workScope,jdbcType=VARCHAR},
      ATTENDANCE_INFO = #{attendanceInfo,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>