<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ResJointOrgMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ResJointOrg" >
    <id column="JOINT_FLOW" property="jointFlow" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="JOINT_ORG_FLOW" property="jointOrgFlow" jdbcType="VARCHAR" />
    <result column="JOINT_ORG_NAME" property="jointOrgName" jdbcType="VARCHAR" />
    <result column="SESSION_NUMBER" property="sessionNumber" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="SPE_ID" property="speId" jdbcType="VARCHAR" />
    <result column="SPE_NAME" property="speName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    JOINT_FLOW, ORG_FLOW, ORG_NAME, JOINT_ORG_FLOW, JOINT_ORG_NAME, SESSION_NUMBER, RECORD_STATUS, CREATE_TIME,
    CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, spe_id, spe_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ResJointOrgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    JOINT_FLOW, ORG_FLOW, ORG_NAME, JOINT_ORG_FLOW, JOINT_ORG_NAME, RECORD_STATUS,spe_id, spe_name
      from RES_JOINT_ORG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from RES_JOINT_ORG
    where JOINT_FLOW = #{jointFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from RES_JOINT_ORG
    where JOINT_FLOW = #{jointFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ResJointOrgExample" >
      delete from RES_JOINT_ORG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ResJointOrg" >
      insert into RES_JOINT_ORG (JOINT_FLOW, ORG_FLOW, ORG_NAME,
      JOINT_ORG_FLOW, JOINT_ORG_NAME, SESSION_NUMBER, RECORD_STATUS,
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW)
    values (#{jointFlow,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{jointOrgFlow,jdbcType=VARCHAR}, #{jointOrgName,jdbcType=VARCHAR}, #{sessionNumber,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR},
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>

  <!-- 注意一下下面的写法【oracle批量插入】，一定要这样写，差一点都可能出错，搞了很久 -->
  <insert id="insertAll" parameterType="com.pinde.sci.model.mo.ResJointOrg" useGeneratedKeys="false">
    INSERT ALL
    <foreach collection="resJointOrgList" item="resJointOrg" separator=" ">
        into RES_JOINT_ORG (JOINT_FLOW, ORG_FLOW, ORG_NAME,
      JOINT_ORG_FLOW, JOINT_ORG_NAME, RECORD_STATUS,
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME,
      MODIFY_USER_FLOW, SESSION_NUMBER, spe_id, spe_name)
      values (#{resJointOrg.jointFlow,jdbcType=VARCHAR}, #{resJointOrg.orgFlow,jdbcType=VARCHAR}, #{resJointOrg.orgName,jdbcType=VARCHAR},
      #{resJointOrg.jointOrgFlow,jdbcType=VARCHAR}, #{resJointOrg.jointOrgName,jdbcType=VARCHAR}, #{resJointOrg.recordStatus,jdbcType=VARCHAR},
      #{resJointOrg.createTime,jdbcType=VARCHAR}, #{resJointOrg.createUserFlow,jdbcType=VARCHAR}, #{resJointOrg.modifyTime,jdbcType=VARCHAR},
      #{resJointOrg.modifyUserFlow,jdbcType=VARCHAR},#{resJointOrg.sessionNumber,jdbcType=VARCHAR},#{resJointOrg.speId,jdbcType=VARCHAR},
    #{resJointOrg.speName,jdbcType=VARCHAR})
    </foreach>
    select 1 from dual
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ResJointOrg" >
      insert into RES_JOINT_ORG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jointFlow != null" >
        JOINT_FLOW,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="jointOrgFlow != null" >
        JOINT_ORG_FLOW,
      </if>
      <if test="jointOrgName != null" >
        JOINT_ORG_NAME,
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="speId != null" >
        SPE_ID,
      </if>
      <if test="speName != null" >
        SPE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jointFlow != null" >
        #{jointFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="jointOrgFlow != null" >
        #{jointOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="jointOrgName != null" >
        #{jointOrgName,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="speId != null" >
        #{speId,jdbcType=VARCHAR},
      </if>
      <if test="speName != null" >
        #{speName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ResJointOrgExample" resultType="java.lang.Integer" >
      select count(*) from RES_JOINT_ORG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update RES_JOINT_ORG
    <set >
      <if test="record.jointFlow != null" >
        JOINT_FLOW = #{record.jointFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.jointOrgFlow != null" >
        JOINT_ORG_FLOW = #{record.jointOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.jointOrgName != null" >
        JOINT_ORG_NAME = #{record.jointOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.sessionNumber != null" >
        SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update RES_JOINT_ORG
    set JOINT_FLOW = #{record.jointFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      JOINT_ORG_FLOW = #{record.jointOrgFlow,jdbcType=VARCHAR},
      JOINT_ORG_NAME = #{record.jointOrgName,jdbcType=VARCHAR},
        SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ResJointOrg" >
      update RES_JOINT_ORG
    <set >
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="jointOrgFlow != null" >
        JOINT_ORG_FLOW = #{jointOrgFlow,jdbcType=VARCHAR},
      </if>
      <if test="jointOrgName != null" >
        JOINT_ORG_NAME = #{jointOrgName,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="speId != null" >
        SPE_ID = #{speId,jdbcType=VARCHAR},
      </if>
      <if test="speName != null" >
        SPE_NAME = #{speName,jdbcType=VARCHAR},
      </if>
    </set>
    where JOINT_FLOW = #{jointFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ResJointOrg" >
      update RES_JOINT_ORG
    set ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      JOINT_ORG_FLOW = #{jointOrgFlow,jdbcType=VARCHAR},
      JOINT_ORG_NAME = #{jointOrgName,jdbcType=VARCHAR},
      SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where JOINT_FLOW = #{jointFlow,jdbcType=VARCHAR}
  </update>
  <select id="selectByJointOrgFlow" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
      from RES_JOINT_ORG
    where JOINT_ORG_FLOW = #{orgFlow,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByOrgFlow">
      update RES_JOINT_ORG
          set record_status = 'N'
        where org_flow = #{orgFlow}
          and session_number = #{sessionNumber}
        and record_status = 'Y'
  </delete>
  <!-- 通过flow来更新，用choose，防止无条件更新全表 -->
  <delete id="deleteJointOrg" parameterType="com.pinde.sci.model.mo.ResJointOrg">
      update RES_JOINT_ORG
        set record_status = 'N',
            modify_time = #{modifyTime},
            modify_user_flow = #{modifyUserFlow}
        where record_status = 'Y'
        <choose>
            <when test="jointOrgFlowList != null and jointOrgFlowList.size() > 0">
                and JOINT_ORG_FLOW in
                <foreach collection="jointOrgFlowList" item="jointOrgFlow" open="(" close=")" separator=",">
                    #{jointOrgFlow}
                </foreach>
            </when>
            <otherwise>
                and JOINT_ORG_FLOW = #{jointOrgFlow}
            </otherwise>
        </choose>
  </delete>
</mapper>