<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ResOrgSpeAssignMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ResOrgSpeAssign" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="SPE_ID" property="speId" jdbcType="VARCHAR" />
    <result column="SPE_NAME" property="speName" jdbcType="VARCHAR" />
    <result column="ASSIGN_PLAN" property="assignPlan" jdbcType="DECIMAL" />
    <result column="ASSIGN_REAL" property="assignReal" jdbcType="DECIMAL" />
    <result column="ASSIGN_YEAR" property="assignYear" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="ASSIGN_PLAN_ORG" property="assignPlanOrg" jdbcType="DECIMAL" />
    <result column="IS_SEND" property="isSend" jdbcType="VARCHAR" />
    <result column="AUDIT_STATUS_ID" property="auditStatusId" jdbcType="VARCHAR" />
    <result column="AUDIT_STATUS_NAME" property="auditStatusName" jdbcType="VARCHAR" />
    <result column="EDUCATION" property="education" jdbcType="VARCHAR" />
    <result column="GRADUATE_SPE" property="graduateSpe" jdbcType="VARCHAR" />
    <result column="SPE_DESC" property="speDesc" jdbcType="VARCHAR" />
    <result column="START_TIME" property="startTime" jdbcType="VARCHAR" />
    <result column="END_TIME" property="endTime" jdbcType="VARCHAR" />
    <result column="IS_SHOWN" property="isShown" jdbcType="VARCHAR" />
    <result column="BASE_CAPACITY" property="baseCapacity" jdbcType="VARCHAR" />
    <result column="SEND_START_TIME" property="sendStartTime" jdbcType="VARCHAR" />
    <result column="SEND_END_TIME" property="sendEndTime" jdbcType="VARCHAR" />
    <result column="SEND_PLAN" property="sendPlan" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, ORG_FLOW, SPE_ID, SPE_NAME, ASSIGN_PLAN, ASSIGN_REAL, ASSIGN_YEAR, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, ASSIGN_PLAN_ORG, IS_SEND, 
    AUDIT_STATUS_ID, AUDIT_STATUS_NAME, EDUCATION, GRADUATE_SPE, SPE_DESC, START_TIME, 
    END_TIME, IS_SHOWN, BASE_CAPACITY, SEND_START_TIME, SEND_END_TIME, SEND_PLAN
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ResOrgSpeAssignExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
      from RES_ORG_SPE_ASSIGN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from RES_ORG_SPE_ASSIGN
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from RES_ORG_SPE_ASSIGN
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ResOrgSpeAssignExample" >
      delete from RES_ORG_SPE_ASSIGN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ResOrgSpeAssign" >
      insert into RES_ORG_SPE_ASSIGN (RECORD_FLOW, ORG_FLOW, SPE_ID,
      SPE_NAME, ASSIGN_PLAN, ASSIGN_REAL, 
      ASSIGN_YEAR, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      ASSIGN_PLAN_ORG, IS_SEND, AUDIT_STATUS_ID, 
      AUDIT_STATUS_NAME, EDUCATION, GRADUATE_SPE, 
      SPE_DESC, START_TIME, END_TIME, 
      IS_SHOWN, BASE_CAPACITY, SEND_START_TIME, 
      SEND_END_TIME, SEND_PLAN)
    values (#{recordFlow,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, #{speId,jdbcType=VARCHAR}, 
      #{speName,jdbcType=VARCHAR}, #{assignPlan,jdbcType=DECIMAL}, #{assignReal,jdbcType=DECIMAL}, 
      #{assignYear,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{assignPlanOrg,jdbcType=DECIMAL}, #{isSend,jdbcType=VARCHAR}, #{auditStatusId,jdbcType=VARCHAR}, 
      #{auditStatusName,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, #{graduateSpe,jdbcType=VARCHAR}, 
      #{speDesc,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR}, 
      #{isShown,jdbcType=VARCHAR}, #{baseCapacity,jdbcType=VARCHAR}, #{sendStartTime,jdbcType=VARCHAR}, 
      #{sendEndTime,jdbcType=VARCHAR}, #{sendPlan,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ResOrgSpeAssign" >
      insert into RES_ORG_SPE_ASSIGN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="speId != null" >
        SPE_ID,
      </if>
      <if test="speName != null" >
        SPE_NAME,
      </if>
      <if test="assignPlan != null" >
        ASSIGN_PLAN,
      </if>
      <if test="assignReal != null" >
        ASSIGN_REAL,
      </if>
      <if test="assignYear != null" >
        ASSIGN_YEAR,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="assignPlanOrg != null" >
        ASSIGN_PLAN_ORG,
      </if>
      <if test="isSend != null" >
        IS_SEND,
      </if>
      <if test="auditStatusId != null" >
        AUDIT_STATUS_ID,
      </if>
      <if test="auditStatusName != null" >
        AUDIT_STATUS_NAME,
      </if>
      <if test="education != null" >
        EDUCATION,
      </if>
      <if test="graduateSpe != null" >
        GRADUATE_SPE,
      </if>
      <if test="speDesc != null" >
        SPE_DESC,
      </if>
      <if test="startTime != null" >
        START_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
      <if test="isShown != null" >
        IS_SHOWN,
      </if>
      <if test="baseCapacity != null" >
        BASE_CAPACITY,
      </if>
      <if test="sendStartTime != null" >
        SEND_START_TIME,
      </if>
      <if test="sendEndTime != null" >
        SEND_END_TIME,
      </if>
      <if test="sendPlan != null" >
        SEND_PLAN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="speId != null" >
        #{speId,jdbcType=VARCHAR},
      </if>
      <if test="speName != null" >
        #{speName,jdbcType=VARCHAR},
      </if>
      <if test="assignPlan != null" >
        #{assignPlan,jdbcType=DECIMAL},
      </if>
      <if test="assignReal != null" >
        #{assignReal,jdbcType=DECIMAL},
      </if>
      <if test="assignYear != null" >
        #{assignYear,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="assignPlanOrg != null" >
        #{assignPlanOrg,jdbcType=DECIMAL},
      </if>
      <if test="isSend != null" >
        #{isSend,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusId != null" >
        #{auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusName != null" >
        #{auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="graduateSpe != null" >
        #{graduateSpe,jdbcType=VARCHAR},
      </if>
      <if test="speDesc != null" >
        #{speDesc,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="isShown != null" >
        #{isShown,jdbcType=VARCHAR},
      </if>
      <if test="baseCapacity != null" >
        #{baseCapacity,jdbcType=VARCHAR},
      </if>
      <if test="sendStartTime != null" >
        #{sendStartTime,jdbcType=VARCHAR},
      </if>
      <if test="sendEndTime != null" >
        #{sendEndTime,jdbcType=VARCHAR},
      </if>
      <if test="sendPlan != null" >
        #{sendPlan,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ResOrgSpeAssignExample" resultType="java.lang.Integer" >
      select count(*) from RES_ORG_SPE_ASSIGN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update RES_ORG_SPE_ASSIGN
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.speId != null" >
        SPE_ID = #{record.speId,jdbcType=VARCHAR},
      </if>
      <if test="record.speName != null" >
        SPE_NAME = #{record.speName,jdbcType=VARCHAR},
      </if>
      <if test="record.assignPlan != null" >
        ASSIGN_PLAN = #{record.assignPlan,jdbcType=DECIMAL},
      </if>
      <if test="record.assignReal != null" >
        ASSIGN_REAL = #{record.assignReal,jdbcType=DECIMAL},
      </if>
      <if test="record.assignYear != null" >
        ASSIGN_YEAR = #{record.assignYear,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.assignPlanOrg != null" >
        ASSIGN_PLAN_ORG = #{record.assignPlanOrg,jdbcType=DECIMAL},
      </if>
      <if test="record.isSend != null" >
        IS_SEND = #{record.isSend,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatusId != null" >
        AUDIT_STATUS_ID = #{record.auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatusName != null" >
        AUDIT_STATUS_NAME = #{record.auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.education != null" >
        EDUCATION = #{record.education,jdbcType=VARCHAR},
      </if>
      <if test="record.graduateSpe != null" >
        GRADUATE_SPE = #{record.graduateSpe,jdbcType=VARCHAR},
      </if>
      <if test="record.speDesc != null" >
        SPE_DESC = #{record.speDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        START_TIME = #{record.startTime,jdbcType=VARCHAR},
      </if>
      <if test="record.endTime != null" >
        END_TIME = #{record.endTime,jdbcType=VARCHAR},
      </if>
      <if test="record.isShown != null" >
        IS_SHOWN = #{record.isShown,jdbcType=VARCHAR},
      </if>
      <if test="record.baseCapacity != null" >
        BASE_CAPACITY = #{record.baseCapacity,jdbcType=VARCHAR},
      </if>
      <if test="record.sendStartTime != null" >
        SEND_START_TIME = #{record.sendStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.sendEndTime != null" >
        SEND_END_TIME = #{record.sendEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.sendPlan != null" >
        SEND_PLAN = #{record.sendPlan,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update RES_ORG_SPE_ASSIGN
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      SPE_ID = #{record.speId,jdbcType=VARCHAR},
      SPE_NAME = #{record.speName,jdbcType=VARCHAR},
      ASSIGN_PLAN = #{record.assignPlan,jdbcType=DECIMAL},
      ASSIGN_REAL = #{record.assignReal,jdbcType=DECIMAL},
      ASSIGN_YEAR = #{record.assignYear,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      ASSIGN_PLAN_ORG = #{record.assignPlanOrg,jdbcType=DECIMAL},
      IS_SEND = #{record.isSend,jdbcType=VARCHAR},
      AUDIT_STATUS_ID = #{record.auditStatusId,jdbcType=VARCHAR},
      AUDIT_STATUS_NAME = #{record.auditStatusName,jdbcType=VARCHAR},
      EDUCATION = #{record.education,jdbcType=VARCHAR},
      GRADUATE_SPE = #{record.graduateSpe,jdbcType=VARCHAR},
      SPE_DESC = #{record.speDesc,jdbcType=VARCHAR},
      START_TIME = #{record.startTime,jdbcType=VARCHAR},
      END_TIME = #{record.endTime,jdbcType=VARCHAR},
      IS_SHOWN = #{record.isShown,jdbcType=VARCHAR},
      BASE_CAPACITY = #{record.baseCapacity,jdbcType=VARCHAR},
      SEND_START_TIME = #{record.sendStartTime,jdbcType=VARCHAR},
      SEND_END_TIME = #{record.sendEndTime,jdbcType=VARCHAR},
      SEND_PLAN = #{record.sendPlan,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ResOrgSpeAssign" >
      update RES_ORG_SPE_ASSIGN
    <set >
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="speId != null" >
        SPE_ID = #{speId,jdbcType=VARCHAR},
      </if>
      <if test="speName != null" >
        SPE_NAME = #{speName,jdbcType=VARCHAR},
      </if>
      <if test="assignPlan != null" >
        ASSIGN_PLAN = #{assignPlan,jdbcType=DECIMAL},
      </if>
      <if test="assignReal != null" >
        ASSIGN_REAL = #{assignReal,jdbcType=DECIMAL},
      </if>
      <if test="assignYear != null" >
        ASSIGN_YEAR = #{assignYear,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="assignPlanOrg != null" >
        ASSIGN_PLAN_ORG = #{assignPlanOrg,jdbcType=DECIMAL},
      </if>
      <if test="isSend != null" >
        IS_SEND = #{isSend,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusId != null" >
        AUDIT_STATUS_ID = #{auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusName != null" >
        AUDIT_STATUS_NAME = #{auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        EDUCATION = #{education,jdbcType=VARCHAR},
      </if>
      <if test="graduateSpe != null" >
        GRADUATE_SPE = #{graduateSpe,jdbcType=VARCHAR},
      </if>
      <if test="speDesc != null" >
        SPE_DESC = #{speDesc,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        START_TIME = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="isShown != null" >
        IS_SHOWN = #{isShown,jdbcType=VARCHAR},
      </if>
      <if test="baseCapacity != null" >
        BASE_CAPACITY = #{baseCapacity,jdbcType=VARCHAR},
      </if>
      <if test="sendStartTime != null" >
        SEND_START_TIME = #{sendStartTime,jdbcType=VARCHAR},
      </if>
      <if test="sendEndTime != null" >
        SEND_END_TIME = #{sendEndTime,jdbcType=VARCHAR},
      </if>
      <if test="sendPlan != null" >
        SEND_PLAN = #{sendPlan,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ResOrgSpeAssign" >
      update RES_ORG_SPE_ASSIGN
    set ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      SPE_ID = #{speId,jdbcType=VARCHAR},
      SPE_NAME = #{speName,jdbcType=VARCHAR},
      ASSIGN_PLAN = #{assignPlan,jdbcType=DECIMAL},
      ASSIGN_REAL = #{assignReal,jdbcType=DECIMAL},
      ASSIGN_YEAR = #{assignYear,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      ASSIGN_PLAN_ORG = #{assignPlanOrg,jdbcType=DECIMAL},
      IS_SEND = #{isSend,jdbcType=VARCHAR},
      AUDIT_STATUS_ID = #{auditStatusId,jdbcType=VARCHAR},
      AUDIT_STATUS_NAME = #{auditStatusName,jdbcType=VARCHAR},
      EDUCATION = #{education,jdbcType=VARCHAR},
      GRADUATE_SPE = #{graduateSpe,jdbcType=VARCHAR},
      SPE_DESC = #{speDesc,jdbcType=VARCHAR},
      START_TIME = #{startTime,jdbcType=VARCHAR},
      END_TIME = #{endTime,jdbcType=VARCHAR},
      IS_SHOWN = #{isShown,jdbcType=VARCHAR},
      BASE_CAPACITY = #{baseCapacity,jdbcType=VARCHAR},
      SEND_START_TIME = #{sendStartTime,jdbcType=VARCHAR},
      SEND_END_TIME = #{sendEndTime,jdbcType=VARCHAR},
      SEND_PLAN = #{sendPlan,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>