<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ResSkillTimeConfigMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ResSkillTimeConfig" >
    <id column="SKILL_TIME_FLOW" property="skillTimeFlow" jdbcType="VARCHAR" />
    <result column="TEST_ID" property="testId" jdbcType="VARCHAR" />
    <result column="TEST_NAME" property="testName" jdbcType="VARCHAR" />
    <result column="APPLY_START_TIME" property="applyStartTime" jdbcType="VARCHAR" />
    <result column="APPLY_END_TIME" property="applyEndTime" jdbcType="VARCHAR" />
    <result column="CITYS_ID" property="citysId" jdbcType="VARCHAR" />
    <result column="LOCAL_AUDIT" property="localAudit" jdbcType="VARCHAR" />
    <result column="LOCAL_AUDIT_START_TIME" property="localAuditStartTime" jdbcType="VARCHAR" />
    <result column="LOCAL_AUDIT_END_TIME" property="localAuditEndTime" jdbcType="VARCHAR" />
    <result column="CHARGE_AUDIT" property="chargeAudit" jdbcType="VARCHAR" />
    <result column="CHARGE_AUDIT_START_TIME" property="chargeAuditStartTime" jdbcType="VARCHAR" />
    <result column="CHARGE_AUDIT_END_TIME" property="chargeAuditEndTime" jdbcType="VARCHAR" />
    <result column="SKILL_START_TIME" property="skillStartTime" jdbcType="VARCHAR" />
    <result column="SKILL_END_TIME" property="skillEndTime" jdbcType="VARCHAR" />
    <result column="TEST_END_TIME" property="testEndTime" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SKILL_TIME_FLOW, TEST_ID, TEST_NAME, APPLY_START_TIME, APPLY_END_TIME, CITYS_ID, 
    LOCAL_AUDIT, LOCAL_AUDIT_START_TIME, LOCAL_AUDIT_END_TIME, CHARGE_AUDIT, CHARGE_AUDIT_START_TIME, 
    CHARGE_AUDIT_END_TIME, SKILL_START_TIME, SKILL_END_TIME, TEST_END_TIME, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ResSkillTimeConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
      from RES_SKILL_TIME_CONFIG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from RES_SKILL_TIME_CONFIG
    where SKILL_TIME_FLOW = #{skillTimeFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from RES_SKILL_TIME_CONFIG
    where SKILL_TIME_FLOW = #{skillTimeFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ResSkillTimeConfigExample" >
      delete from RES_SKILL_TIME_CONFIG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ResSkillTimeConfig" >
      insert into RES_SKILL_TIME_CONFIG (SKILL_TIME_FLOW, TEST_ID, TEST_NAME,
      APPLY_START_TIME, APPLY_END_TIME, CITYS_ID, 
      LOCAL_AUDIT, LOCAL_AUDIT_START_TIME, LOCAL_AUDIT_END_TIME, 
      CHARGE_AUDIT, CHARGE_AUDIT_START_TIME, CHARGE_AUDIT_END_TIME, 
      SKILL_START_TIME, SKILL_END_TIME, TEST_END_TIME, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW)
    values (#{skillTimeFlow,jdbcType=VARCHAR}, #{testId,jdbcType=VARCHAR}, #{testName,jdbcType=VARCHAR}, 
      #{applyStartTime,jdbcType=VARCHAR}, #{applyEndTime,jdbcType=VARCHAR}, #{citysId,jdbcType=VARCHAR}, 
      #{localAudit,jdbcType=VARCHAR}, #{localAuditStartTime,jdbcType=VARCHAR}, #{localAuditEndTime,jdbcType=VARCHAR}, 
      #{chargeAudit,jdbcType=VARCHAR}, #{chargeAuditStartTime,jdbcType=VARCHAR}, #{chargeAuditEndTime,jdbcType=VARCHAR}, 
      #{skillStartTime,jdbcType=VARCHAR}, #{skillEndTime,jdbcType=VARCHAR}, #{testEndTime,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ResSkillTimeConfig" >
      insert into RES_SKILL_TIME_CONFIG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="skillTimeFlow != null" >
        SKILL_TIME_FLOW,
      </if>
      <if test="testId != null" >
        TEST_ID,
      </if>
      <if test="testName != null" >
        TEST_NAME,
      </if>
      <if test="applyStartTime != null" >
        APPLY_START_TIME,
      </if>
      <if test="applyEndTime != null" >
        APPLY_END_TIME,
      </if>
      <if test="citysId != null" >
        CITYS_ID,
      </if>
      <if test="localAudit != null" >
        LOCAL_AUDIT,
      </if>
      <if test="localAuditStartTime != null" >
        LOCAL_AUDIT_START_TIME,
      </if>
      <if test="localAuditEndTime != null" >
        LOCAL_AUDIT_END_TIME,
      </if>
      <if test="chargeAudit != null" >
        CHARGE_AUDIT,
      </if>
      <if test="chargeAuditStartTime != null" >
        CHARGE_AUDIT_START_TIME,
      </if>
      <if test="chargeAuditEndTime != null" >
        CHARGE_AUDIT_END_TIME,
      </if>
      <if test="skillStartTime != null" >
        SKILL_START_TIME,
      </if>
      <if test="skillEndTime != null" >
        SKILL_END_TIME,
      </if>
      <if test="testEndTime != null" >
        TEST_END_TIME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="skillTimeFlow != null" >
        #{skillTimeFlow,jdbcType=VARCHAR},
      </if>
      <if test="testId != null" >
        #{testId,jdbcType=VARCHAR},
      </if>
      <if test="testName != null" >
        #{testName,jdbcType=VARCHAR},
      </if>
      <if test="applyStartTime != null" >
        #{applyStartTime,jdbcType=VARCHAR},
      </if>
      <if test="applyEndTime != null" >
        #{applyEndTime,jdbcType=VARCHAR},
      </if>
      <if test="citysId != null" >
        #{citysId,jdbcType=VARCHAR},
      </if>
      <if test="localAudit != null" >
        #{localAudit,jdbcType=VARCHAR},
      </if>
      <if test="localAuditStartTime != null" >
        #{localAuditStartTime,jdbcType=VARCHAR},
      </if>
      <if test="localAuditEndTime != null" >
        #{localAuditEndTime,jdbcType=VARCHAR},
      </if>
      <if test="chargeAudit != null" >
        #{chargeAudit,jdbcType=VARCHAR},
      </if>
      <if test="chargeAuditStartTime != null" >
        #{chargeAuditStartTime,jdbcType=VARCHAR},
      </if>
      <if test="chargeAuditEndTime != null" >
        #{chargeAuditEndTime,jdbcType=VARCHAR},
      </if>
      <if test="skillStartTime != null" >
        #{skillStartTime,jdbcType=VARCHAR},
      </if>
      <if test="skillEndTime != null" >
        #{skillEndTime,jdbcType=VARCHAR},
      </if>
      <if test="testEndTime != null" >
        #{testEndTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ResSkillTimeConfigExample" resultType="java.lang.Integer" >
      select count(*) from RES_SKILL_TIME_CONFIG
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update RES_SKILL_TIME_CONFIG
    <set >
      <if test="record.skillTimeFlow != null" >
        SKILL_TIME_FLOW = #{record.skillTimeFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.testId != null" >
        TEST_ID = #{record.testId,jdbcType=VARCHAR},
      </if>
      <if test="record.testName != null" >
        TEST_NAME = #{record.testName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyStartTime != null" >
        APPLY_START_TIME = #{record.applyStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.applyEndTime != null" >
        APPLY_END_TIME = #{record.applyEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.citysId != null" >
        CITYS_ID = #{record.citysId,jdbcType=VARCHAR},
      </if>
      <if test="record.localAudit != null" >
        LOCAL_AUDIT = #{record.localAudit,jdbcType=VARCHAR},
      </if>
      <if test="record.localAuditStartTime != null" >
        LOCAL_AUDIT_START_TIME = #{record.localAuditStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.localAuditEndTime != null" >
        LOCAL_AUDIT_END_TIME = #{record.localAuditEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeAudit != null" >
        CHARGE_AUDIT = #{record.chargeAudit,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeAuditStartTime != null" >
        CHARGE_AUDIT_START_TIME = #{record.chargeAuditStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.chargeAuditEndTime != null" >
        CHARGE_AUDIT_END_TIME = #{record.chargeAuditEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.skillStartTime != null" >
        SKILL_START_TIME = #{record.skillStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.skillEndTime != null" >
        SKILL_END_TIME = #{record.skillEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.testEndTime != null" >
        TEST_END_TIME = #{record.testEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update RES_SKILL_TIME_CONFIG
    set SKILL_TIME_FLOW = #{record.skillTimeFlow,jdbcType=VARCHAR},
      TEST_ID = #{record.testId,jdbcType=VARCHAR},
      TEST_NAME = #{record.testName,jdbcType=VARCHAR},
      APPLY_START_TIME = #{record.applyStartTime,jdbcType=VARCHAR},
      APPLY_END_TIME = #{record.applyEndTime,jdbcType=VARCHAR},
      CITYS_ID = #{record.citysId,jdbcType=VARCHAR},
      LOCAL_AUDIT = #{record.localAudit,jdbcType=VARCHAR},
      LOCAL_AUDIT_START_TIME = #{record.localAuditStartTime,jdbcType=VARCHAR},
      LOCAL_AUDIT_END_TIME = #{record.localAuditEndTime,jdbcType=VARCHAR},
      CHARGE_AUDIT = #{record.chargeAudit,jdbcType=VARCHAR},
      CHARGE_AUDIT_START_TIME = #{record.chargeAuditStartTime,jdbcType=VARCHAR},
      CHARGE_AUDIT_END_TIME = #{record.chargeAuditEndTime,jdbcType=VARCHAR},
      SKILL_START_TIME = #{record.skillStartTime,jdbcType=VARCHAR},
      SKILL_END_TIME = #{record.skillEndTime,jdbcType=VARCHAR},
      TEST_END_TIME = #{record.testEndTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ResSkillTimeConfig" >
      update RES_SKILL_TIME_CONFIG
    <set >
      <if test="testId != null" >
        TEST_ID = #{testId,jdbcType=VARCHAR},
      </if>
      <if test="testName != null" >
        TEST_NAME = #{testName,jdbcType=VARCHAR},
      </if>
      <if test="applyStartTime != null" >
        APPLY_START_TIME = #{applyStartTime,jdbcType=VARCHAR},
      </if>
      <if test="applyEndTime != null" >
        APPLY_END_TIME = #{applyEndTime,jdbcType=VARCHAR},
      </if>
      <if test="citysId != null" >
        CITYS_ID = #{citysId,jdbcType=VARCHAR},
      </if>
      <if test="localAudit != null" >
        LOCAL_AUDIT = #{localAudit,jdbcType=VARCHAR},
      </if>
      <if test="localAuditStartTime != null" >
        LOCAL_AUDIT_START_TIME = #{localAuditStartTime,jdbcType=VARCHAR},
      </if>
      <if test="localAuditEndTime != null" >
        LOCAL_AUDIT_END_TIME = #{localAuditEndTime,jdbcType=VARCHAR},
      </if>
      <if test="chargeAudit != null" >
        CHARGE_AUDIT = #{chargeAudit,jdbcType=VARCHAR},
      </if>
      <if test="chargeAuditStartTime != null" >
        CHARGE_AUDIT_START_TIME = #{chargeAuditStartTime,jdbcType=VARCHAR},
      </if>
      <if test="chargeAuditEndTime != null" >
        CHARGE_AUDIT_END_TIME = #{chargeAuditEndTime,jdbcType=VARCHAR},
      </if>
      <if test="skillStartTime != null" >
        SKILL_START_TIME = #{skillStartTime,jdbcType=VARCHAR},
      </if>
      <if test="skillEndTime != null" >
        SKILL_END_TIME = #{skillEndTime,jdbcType=VARCHAR},
      </if>
      <if test="testEndTime != null" >
        TEST_END_TIME = #{testEndTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where SKILL_TIME_FLOW = #{skillTimeFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ResSkillTimeConfig" >
      update RES_SKILL_TIME_CONFIG
    set TEST_ID = #{testId,jdbcType=VARCHAR},
      TEST_NAME = #{testName,jdbcType=VARCHAR},
      APPLY_START_TIME = #{applyStartTime,jdbcType=VARCHAR},
      APPLY_END_TIME = #{applyEndTime,jdbcType=VARCHAR},
      CITYS_ID = #{citysId,jdbcType=VARCHAR},
      LOCAL_AUDIT = #{localAudit,jdbcType=VARCHAR},
      LOCAL_AUDIT_START_TIME = #{localAuditStartTime,jdbcType=VARCHAR},
      LOCAL_AUDIT_END_TIME = #{localAuditEndTime,jdbcType=VARCHAR},
      CHARGE_AUDIT = #{chargeAudit,jdbcType=VARCHAR},
      CHARGE_AUDIT_START_TIME = #{chargeAuditStartTime,jdbcType=VARCHAR},
      CHARGE_AUDIT_END_TIME = #{chargeAuditEndTime,jdbcType=VARCHAR},
      SKILL_START_TIME = #{skillStartTime,jdbcType=VARCHAR},
      SKILL_END_TIME = #{skillEndTime,jdbcType=VARCHAR},
      TEST_END_TIME = #{testEndTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where SKILL_TIME_FLOW = #{skillTimeFlow,jdbcType=VARCHAR}
  </update>
</mapper>