<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.ResTeacherTrainingMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.ResTeacherTraining" >
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="DOCTOR_NAME" property="doctorName" jdbcType="VARCHAR" />
    <result column="SEX_NAME" property="sexName" jdbcType="VARCHAR" />
    <result column="TECHNICAL_TITLE" property="technicalTitle" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="CERTIFICATE_NO" property="certificateNo" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="SPE_ID" property="speId" jdbcType="VARCHAR" />
    <result column="SPE_NAME" property="speName" jdbcType="VARCHAR" />
    <result column="DEPT_FLOW" property="deptFlow" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="TRAINING_YEAR" property="trainingYear" jdbcType="VARCHAR" />
    <result column="CERTIFICATE_URL" property="certificateUrl" jdbcType="VARCHAR" />
    <result column="MEETING_NAME" property="meetingName" jdbcType="VARCHAR" />
    <result column="DOCTOR_AGE" property="doctorAge" jdbcType="VARCHAR" />
    <result column="DOCTOR_EDU" property="doctorEdu" jdbcType="VARCHAR" />
    <result column="OFFICE_YEAR" property="officeYear" jdbcType="VARCHAR" />
    <result column="WORK_YEAR" property="workYear" jdbcType="VARCHAR" />
    <result column="INTERN_YEAR" property="internYear" jdbcType="VARCHAR" />
    <result column="THREE_INTERN_YEAR" property="threeInternYear" jdbcType="VARCHAR" />
    <result column="HOS_YEAR" property="hosYear" jdbcType="VARCHAR" />
    <result column="THREE_HOS_YEAR" property="threeHosYear" jdbcType="VARCHAR" />
    <result column="IS_TRAIN" property="isTrain" jdbcType="VARCHAR" />
    <result column="ACHIEVEMENT_URL" property="achievementUrl" jdbcType="VARCHAR" />
    <result column="TEACHER_LEVEL_ID" property="teacherLevelId" jdbcType="VARCHAR" />
    <result column="TEACHER_LEVEL_NAME" property="teacherLevelName" jdbcType="VARCHAR" />
    <result column="USER_PHONE" property="userPhone" jdbcType="VARCHAR" />
    <result column="APPLICATION_TEACHER_LEVEL_ID" property="applicationTeacherLevelId" jdbcType="VARCHAR" />
    <result column="APPLICATION_AUDIT_STATUS" property="applicationAuditStatus" jdbcType="VARCHAR" />
    <result column="APPLICATION_AUDIT_MESSAGE" property="applicationAuditMessage" jdbcType="VARCHAR" />
    <result column="APPLICATION_MESSAGE" property="applicationMessage" jdbcType="VARCHAR" />
    <result column="APPLICATION_PROVAL_URL" property="applicationProvalUrl" jdbcType="VARCHAR" />
    <result column="GRADUATION_SCHOOL" property="graduationSchool" jdbcType="VARCHAR" />
    <result column="GRADUATION_TIME" property="graduationTime" jdbcType="VARCHAR" />
    <result column="WORKING_TIME" property="workingTime" jdbcType="VARCHAR" />
    <result column="CERTIFICATE_LEVEL" property="certificateLevel" jdbcType="VARCHAR" />
    <result column="CERTIFICATE_TIME" property="certificateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, DOCTOR_NAME, SEX_NAME, TECHNICAL_TITLE, ORG_FLOW, ORG_NAME, CERTIFICATE_NO, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, SPE_ID, 
    SPE_NAME, DEPT_FLOW, DEPT_NAME, TRAINING_YEAR, CERTIFICATE_URL, MEETING_NAME, DOCTOR_AGE, 
    DOCTOR_EDU, OFFICE_YEAR, WORK_YEAR, INTERN_YEAR, THREE_INTERN_YEAR, HOS_YEAR, THREE_HOS_YEAR, 
    IS_TRAIN, ACHIEVEMENT_URL, TEACHER_LEVEL_ID, TEACHER_LEVEL_NAME, USER_PHONE, APPLICATION_TEACHER_LEVEL_ID, 
    APPLICATION_AUDIT_STATUS, APPLICATION_AUDIT_MESSAGE, APPLICATION_MESSAGE, APPLICATION_PROVAL_URL, 
    GRADUATION_SCHOOL, GRADUATION_TIME, WORKING_TIME, CERTIFICATE_LEVEL, CERTIFICATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.ResTeacherTrainingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.RES_TEACHER_TRAINING
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.RES_TEACHER_TRAINING
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.RES_TEACHER_TRAINING
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.ResTeacherTrainingExample" >
    delete from PDSCI.RES_TEACHER_TRAINING
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.ResTeacherTraining" >
    insert into PDSCI.RES_TEACHER_TRAINING (RECORD_FLOW, DOCTOR_NAME, SEX_NAME, 
      TECHNICAL_TITLE, ORG_FLOW, ORG_NAME, 
      CERTIFICATE_NO, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      SPE_ID, SPE_NAME, DEPT_FLOW, 
      DEPT_NAME, TRAINING_YEAR, CERTIFICATE_URL, 
      MEETING_NAME, DOCTOR_AGE, DOCTOR_EDU, 
      OFFICE_YEAR, WORK_YEAR, INTERN_YEAR, 
      THREE_INTERN_YEAR, HOS_YEAR, THREE_HOS_YEAR, 
      IS_TRAIN, ACHIEVEMENT_URL, TEACHER_LEVEL_ID, 
      TEACHER_LEVEL_NAME, USER_PHONE, APPLICATION_TEACHER_LEVEL_ID, 
      APPLICATION_AUDIT_STATUS, APPLICATION_AUDIT_MESSAGE, 
      APPLICATION_MESSAGE, APPLICATION_PROVAL_URL, 
      GRADUATION_SCHOOL, GRADUATION_TIME, WORKING_TIME, 
      CERTIFICATE_LEVEL, CERTIFICATE_TIME)
    values (#{recordFlow,jdbcType=VARCHAR}, #{doctorName,jdbcType=VARCHAR}, #{sexName,jdbcType=VARCHAR}, 
      #{technicalTitle,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{certificateNo,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{speId,jdbcType=VARCHAR}, #{speName,jdbcType=VARCHAR}, #{deptFlow,jdbcType=VARCHAR}, 
      #{deptName,jdbcType=VARCHAR}, #{trainingYear,jdbcType=VARCHAR}, #{certificateUrl,jdbcType=VARCHAR}, 
      #{meetingName,jdbcType=VARCHAR}, #{doctorAge,jdbcType=VARCHAR}, #{doctorEdu,jdbcType=VARCHAR}, 
      #{officeYear,jdbcType=VARCHAR}, #{workYear,jdbcType=VARCHAR}, #{internYear,jdbcType=VARCHAR}, 
      #{threeInternYear,jdbcType=VARCHAR}, #{hosYear,jdbcType=VARCHAR}, #{threeHosYear,jdbcType=VARCHAR}, 
      #{isTrain,jdbcType=VARCHAR}, #{achievementUrl,jdbcType=VARCHAR}, #{teacherLevelId,jdbcType=VARCHAR}, 
      #{teacherLevelName,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{applicationTeacherLevelId,jdbcType=VARCHAR}, 
      #{applicationAuditStatus,jdbcType=VARCHAR}, #{applicationAuditMessage,jdbcType=VARCHAR}, 
      #{applicationMessage,jdbcType=VARCHAR}, #{applicationProvalUrl,jdbcType=VARCHAR}, 
      #{graduationSchool,jdbcType=VARCHAR}, #{graduationTime,jdbcType=VARCHAR}, #{workingTime,jdbcType=VARCHAR}, 
      #{certificateLevel,jdbcType=VARCHAR}, #{certificateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.ResTeacherTraining" >
    insert into PDSCI.RES_TEACHER_TRAINING
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="doctorName != null" >
        DOCTOR_NAME,
      </if>
      <if test="sexName != null" >
        SEX_NAME,
      </if>
      <if test="technicalTitle != null" >
        TECHNICAL_TITLE,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="certificateNo != null" >
        CERTIFICATE_NO,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="speId != null" >
        SPE_ID,
      </if>
      <if test="speName != null" >
        SPE_NAME,
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="trainingYear != null" >
        TRAINING_YEAR,
      </if>
      <if test="certificateUrl != null" >
        CERTIFICATE_URL,
      </if>
      <if test="meetingName != null" >
        MEETING_NAME,
      </if>
      <if test="doctorAge != null" >
        DOCTOR_AGE,
      </if>
      <if test="doctorEdu != null" >
        DOCTOR_EDU,
      </if>
      <if test="officeYear != null" >
        OFFICE_YEAR,
      </if>
      <if test="workYear != null" >
        WORK_YEAR,
      </if>
      <if test="internYear != null" >
        INTERN_YEAR,
      </if>
      <if test="threeInternYear != null" >
        THREE_INTERN_YEAR,
      </if>
      <if test="hosYear != null" >
        HOS_YEAR,
      </if>
      <if test="threeHosYear != null" >
        THREE_HOS_YEAR,
      </if>
      <if test="isTrain != null" >
        IS_TRAIN,
      </if>
      <if test="achievementUrl != null" >
        ACHIEVEMENT_URL,
      </if>
      <if test="teacherLevelId != null" >
        TEACHER_LEVEL_ID,
      </if>
      <if test="teacherLevelName != null" >
        TEACHER_LEVEL_NAME,
      </if>
      <if test="userPhone != null" >
        USER_PHONE,
      </if>
      <if test="applicationTeacherLevelId != null" >
        APPLICATION_TEACHER_LEVEL_ID,
      </if>
      <if test="applicationAuditStatus != null" >
        APPLICATION_AUDIT_STATUS,
      </if>
      <if test="applicationAuditMessage != null" >
        APPLICATION_AUDIT_MESSAGE,
      </if>
      <if test="applicationMessage != null" >
        APPLICATION_MESSAGE,
      </if>
      <if test="applicationProvalUrl != null" >
        APPLICATION_PROVAL_URL,
      </if>
      <if test="graduationSchool != null" >
        GRADUATION_SCHOOL,
      </if>
      <if test="graduationTime != null" >
        GRADUATION_TIME,
      </if>
      <if test="workingTime != null" >
        WORKING_TIME,
      </if>
      <if test="certificateLevel != null" >
        CERTIFICATE_LEVEL,
      </if>
      <if test="certificateTime != null" >
        CERTIFICATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorName != null" >
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null" >
        #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="technicalTitle != null" >
        #{technicalTitle,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="certificateNo != null" >
        #{certificateNo,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="speId != null" >
        #{speId,jdbcType=VARCHAR},
      </if>
      <if test="speName != null" >
        #{speName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="trainingYear != null" >
        #{trainingYear,jdbcType=VARCHAR},
      </if>
      <if test="certificateUrl != null" >
        #{certificateUrl,jdbcType=VARCHAR},
      </if>
      <if test="meetingName != null" >
        #{meetingName,jdbcType=VARCHAR},
      </if>
      <if test="doctorAge != null" >
        #{doctorAge,jdbcType=VARCHAR},
      </if>
      <if test="doctorEdu != null" >
        #{doctorEdu,jdbcType=VARCHAR},
      </if>
      <if test="officeYear != null" >
        #{officeYear,jdbcType=VARCHAR},
      </if>
      <if test="workYear != null" >
        #{workYear,jdbcType=VARCHAR},
      </if>
      <if test="internYear != null" >
        #{internYear,jdbcType=VARCHAR},
      </if>
      <if test="threeInternYear != null" >
        #{threeInternYear,jdbcType=VARCHAR},
      </if>
      <if test="hosYear != null" >
        #{hosYear,jdbcType=VARCHAR},
      </if>
      <if test="threeHosYear != null" >
        #{threeHosYear,jdbcType=VARCHAR},
      </if>
      <if test="isTrain != null" >
        #{isTrain,jdbcType=VARCHAR},
      </if>
      <if test="achievementUrl != null" >
        #{achievementUrl,jdbcType=VARCHAR},
      </if>
      <if test="teacherLevelId != null" >
        #{teacherLevelId,jdbcType=VARCHAR},
      </if>
      <if test="teacherLevelName != null" >
        #{teacherLevelName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="applicationTeacherLevelId != null" >
        #{applicationTeacherLevelId,jdbcType=VARCHAR},
      </if>
      <if test="applicationAuditStatus != null" >
        #{applicationAuditStatus,jdbcType=VARCHAR},
      </if>
      <if test="applicationAuditMessage != null" >
        #{applicationAuditMessage,jdbcType=VARCHAR},
      </if>
      <if test="applicationMessage != null" >
        #{applicationMessage,jdbcType=VARCHAR},
      </if>
      <if test="applicationProvalUrl != null" >
        #{applicationProvalUrl,jdbcType=VARCHAR},
      </if>
      <if test="graduationSchool != null" >
        #{graduationSchool,jdbcType=VARCHAR},
      </if>
      <if test="graduationTime != null" >
        #{graduationTime,jdbcType=VARCHAR},
      </if>
      <if test="workingTime != null" >
        #{workingTime,jdbcType=VARCHAR},
      </if>
      <if test="certificateLevel != null" >
        #{certificateLevel,jdbcType=VARCHAR},
      </if>
      <if test="certificateTime != null" >
        #{certificateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.ResTeacherTrainingExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.RES_TEACHER_TRAINING
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.RES_TEACHER_TRAINING
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorName != null" >
        DOCTOR_NAME = #{record.doctorName,jdbcType=VARCHAR},
      </if>
      <if test="record.sexName != null" >
        SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      </if>
      <if test="record.technicalTitle != null" >
        TECHNICAL_TITLE = #{record.technicalTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateNo != null" >
        CERTIFICATE_NO = #{record.certificateNo,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.speId != null" >
        SPE_ID = #{record.speId,jdbcType=VARCHAR},
      </if>
      <if test="record.speName != null" >
        SPE_NAME = #{record.speName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null" >
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingYear != null" >
        TRAINING_YEAR = #{record.trainingYear,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateUrl != null" >
        CERTIFICATE_URL = #{record.certificateUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingName != null" >
        MEETING_NAME = #{record.meetingName,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorAge != null" >
        DOCTOR_AGE = #{record.doctorAge,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorEdu != null" >
        DOCTOR_EDU = #{record.doctorEdu,jdbcType=VARCHAR},
      </if>
      <if test="record.officeYear != null" >
        OFFICE_YEAR = #{record.officeYear,jdbcType=VARCHAR},
      </if>
      <if test="record.workYear != null" >
        WORK_YEAR = #{record.workYear,jdbcType=VARCHAR},
      </if>
      <if test="record.internYear != null" >
        INTERN_YEAR = #{record.internYear,jdbcType=VARCHAR},
      </if>
      <if test="record.threeInternYear != null" >
        THREE_INTERN_YEAR = #{record.threeInternYear,jdbcType=VARCHAR},
      </if>
      <if test="record.hosYear != null" >
        HOS_YEAR = #{record.hosYear,jdbcType=VARCHAR},
      </if>
      <if test="record.threeHosYear != null" >
        THREE_HOS_YEAR = #{record.threeHosYear,jdbcType=VARCHAR},
      </if>
      <if test="record.isTrain != null" >
        IS_TRAIN = #{record.isTrain,jdbcType=VARCHAR},
      </if>
      <if test="record.achievementUrl != null" >
        ACHIEVEMENT_URL = #{record.achievementUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherLevelId != null" >
        TEACHER_LEVEL_ID = #{record.teacherLevelId,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherLevelName != null" >
        TEACHER_LEVEL_NAME = #{record.teacherLevelName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPhone != null" >
        USER_PHONE = #{record.userPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationTeacherLevelId != null" >
        APPLICATION_TEACHER_LEVEL_ID = #{record.applicationTeacherLevelId,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationAuditStatus != null" >
        APPLICATION_AUDIT_STATUS = #{record.applicationAuditStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationAuditMessage != null" >
        APPLICATION_AUDIT_MESSAGE = #{record.applicationAuditMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationMessage != null" >
        APPLICATION_MESSAGE = #{record.applicationMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationProvalUrl != null" >
        APPLICATION_PROVAL_URL = #{record.applicationProvalUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.graduationSchool != null" >
        GRADUATION_SCHOOL = #{record.graduationSchool,jdbcType=VARCHAR},
      </if>
      <if test="record.graduationTime != null" >
        GRADUATION_TIME = #{record.graduationTime,jdbcType=VARCHAR},
      </if>
      <if test="record.workingTime != null" >
        WORKING_TIME = #{record.workingTime,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateLevel != null" >
        CERTIFICATE_LEVEL = #{record.certificateLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.certificateTime != null" >
        CERTIFICATE_TIME = #{record.certificateTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.RES_TEACHER_TRAINING
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      DOCTOR_NAME = #{record.doctorName,jdbcType=VARCHAR},
      SEX_NAME = #{record.sexName,jdbcType=VARCHAR},
      TECHNICAL_TITLE = #{record.technicalTitle,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      CERTIFICATE_NO = #{record.certificateNo,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      SPE_ID = #{record.speId,jdbcType=VARCHAR},
      SPE_NAME = #{record.speName,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      TRAINING_YEAR = #{record.trainingYear,jdbcType=VARCHAR},
      CERTIFICATE_URL = #{record.certificateUrl,jdbcType=VARCHAR},
      MEETING_NAME = #{record.meetingName,jdbcType=VARCHAR},
      DOCTOR_AGE = #{record.doctorAge,jdbcType=VARCHAR},
      DOCTOR_EDU = #{record.doctorEdu,jdbcType=VARCHAR},
      OFFICE_YEAR = #{record.officeYear,jdbcType=VARCHAR},
      WORK_YEAR = #{record.workYear,jdbcType=VARCHAR},
      INTERN_YEAR = #{record.internYear,jdbcType=VARCHAR},
      THREE_INTERN_YEAR = #{record.threeInternYear,jdbcType=VARCHAR},
      HOS_YEAR = #{record.hosYear,jdbcType=VARCHAR},
      THREE_HOS_YEAR = #{record.threeHosYear,jdbcType=VARCHAR},
      IS_TRAIN = #{record.isTrain,jdbcType=VARCHAR},
      ACHIEVEMENT_URL = #{record.achievementUrl,jdbcType=VARCHAR},
      TEACHER_LEVEL_ID = #{record.teacherLevelId,jdbcType=VARCHAR},
      TEACHER_LEVEL_NAME = #{record.teacherLevelName,jdbcType=VARCHAR},
      USER_PHONE = #{record.userPhone,jdbcType=VARCHAR},
      APPLICATION_TEACHER_LEVEL_ID = #{record.applicationTeacherLevelId,jdbcType=VARCHAR},
      APPLICATION_AUDIT_STATUS = #{record.applicationAuditStatus,jdbcType=VARCHAR},
      APPLICATION_AUDIT_MESSAGE = #{record.applicationAuditMessage,jdbcType=VARCHAR},
      APPLICATION_MESSAGE = #{record.applicationMessage,jdbcType=VARCHAR},
      APPLICATION_PROVAL_URL = #{record.applicationProvalUrl,jdbcType=VARCHAR},
      GRADUATION_SCHOOL = #{record.graduationSchool,jdbcType=VARCHAR},
      GRADUATION_TIME = #{record.graduationTime,jdbcType=VARCHAR},
      WORKING_TIME = #{record.workingTime,jdbcType=VARCHAR},
      CERTIFICATE_LEVEL = #{record.certificateLevel,jdbcType=VARCHAR},
      CERTIFICATE_TIME = #{record.certificateTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.ResTeacherTraining" >
    update PDSCI.RES_TEACHER_TRAINING
    <set >
      <if test="doctorName != null" >
        DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="sexName != null" >
        SEX_NAME = #{sexName,jdbcType=VARCHAR},
      </if>
      <if test="technicalTitle != null" >
        TECHNICAL_TITLE = #{technicalTitle,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="certificateNo != null" >
        CERTIFICATE_NO = #{certificateNo,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="speId != null" >
        SPE_ID = #{speId,jdbcType=VARCHAR},
      </if>
      <if test="speName != null" >
        SPE_NAME = #{speName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="trainingYear != null" >
        TRAINING_YEAR = #{trainingYear,jdbcType=VARCHAR},
      </if>
      <if test="certificateUrl != null" >
        CERTIFICATE_URL = #{certificateUrl,jdbcType=VARCHAR},
      </if>
      <if test="meetingName != null" >
        MEETING_NAME = #{meetingName,jdbcType=VARCHAR},
      </if>
      <if test="doctorAge != null" >
        DOCTOR_AGE = #{doctorAge,jdbcType=VARCHAR},
      </if>
      <if test="doctorEdu != null" >
        DOCTOR_EDU = #{doctorEdu,jdbcType=VARCHAR},
      </if>
      <if test="officeYear != null" >
        OFFICE_YEAR = #{officeYear,jdbcType=VARCHAR},
      </if>
      <if test="workYear != null" >
        WORK_YEAR = #{workYear,jdbcType=VARCHAR},
      </if>
      <if test="internYear != null" >
        INTERN_YEAR = #{internYear,jdbcType=VARCHAR},
      </if>
      <if test="threeInternYear != null" >
        THREE_INTERN_YEAR = #{threeInternYear,jdbcType=VARCHAR},
      </if>
      <if test="hosYear != null" >
        HOS_YEAR = #{hosYear,jdbcType=VARCHAR},
      </if>
      <if test="threeHosYear != null" >
        THREE_HOS_YEAR = #{threeHosYear,jdbcType=VARCHAR},
      </if>
      <if test="isTrain != null" >
        IS_TRAIN = #{isTrain,jdbcType=VARCHAR},
      </if>
      <if test="achievementUrl != null" >
        ACHIEVEMENT_URL = #{achievementUrl,jdbcType=VARCHAR},
      </if>
      <if test="teacherLevelId != null" >
        TEACHER_LEVEL_ID = #{teacherLevelId,jdbcType=VARCHAR},
      </if>
      <if test="teacherLevelName != null" >
        TEACHER_LEVEL_NAME = #{teacherLevelName,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        USER_PHONE = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="applicationTeacherLevelId != null" >
        APPLICATION_TEACHER_LEVEL_ID = #{applicationTeacherLevelId,jdbcType=VARCHAR},
      </if>
      <if test="applicationAuditStatus != null" >
        APPLICATION_AUDIT_STATUS = #{applicationAuditStatus,jdbcType=VARCHAR},
      </if>
      <if test="applicationAuditMessage != null" >
        APPLICATION_AUDIT_MESSAGE = #{applicationAuditMessage,jdbcType=VARCHAR},
      </if>
      <if test="applicationMessage != null" >
        APPLICATION_MESSAGE = #{applicationMessage,jdbcType=VARCHAR},
      </if>
      <if test="applicationProvalUrl != null" >
        APPLICATION_PROVAL_URL = #{applicationProvalUrl,jdbcType=VARCHAR},
      </if>
      <if test="graduationSchool != null" >
        GRADUATION_SCHOOL = #{graduationSchool,jdbcType=VARCHAR},
      </if>
      <if test="graduationTime != null" >
        GRADUATION_TIME = #{graduationTime,jdbcType=VARCHAR},
      </if>
      <if test="workingTime != null" >
        WORKING_TIME = #{workingTime,jdbcType=VARCHAR},
      </if>
      <if test="certificateLevel != null" >
        CERTIFICATE_LEVEL = #{certificateLevel,jdbcType=VARCHAR},
      </if>
      <if test="certificateTime != null" >
        CERTIFICATE_TIME = #{certificateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.ResTeacherTraining" >
    update PDSCI.RES_TEACHER_TRAINING
    set DOCTOR_NAME = #{doctorName,jdbcType=VARCHAR},
      SEX_NAME = #{sexName,jdbcType=VARCHAR},
      TECHNICAL_TITLE = #{technicalTitle,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      CERTIFICATE_NO = #{certificateNo,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      SPE_ID = #{speId,jdbcType=VARCHAR},
      SPE_NAME = #{speName,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      TRAINING_YEAR = #{trainingYear,jdbcType=VARCHAR},
      CERTIFICATE_URL = #{certificateUrl,jdbcType=VARCHAR},
      MEETING_NAME = #{meetingName,jdbcType=VARCHAR},
      DOCTOR_AGE = #{doctorAge,jdbcType=VARCHAR},
      DOCTOR_EDU = #{doctorEdu,jdbcType=VARCHAR},
      OFFICE_YEAR = #{officeYear,jdbcType=VARCHAR},
      WORK_YEAR = #{workYear,jdbcType=VARCHAR},
      INTERN_YEAR = #{internYear,jdbcType=VARCHAR},
      THREE_INTERN_YEAR = #{threeInternYear,jdbcType=VARCHAR},
      HOS_YEAR = #{hosYear,jdbcType=VARCHAR},
      THREE_HOS_YEAR = #{threeHosYear,jdbcType=VARCHAR},
      IS_TRAIN = #{isTrain,jdbcType=VARCHAR},
      ACHIEVEMENT_URL = #{achievementUrl,jdbcType=VARCHAR},
      TEACHER_LEVEL_ID = #{teacherLevelId,jdbcType=VARCHAR},
      TEACHER_LEVEL_NAME = #{teacherLevelName,jdbcType=VARCHAR},
      USER_PHONE = #{userPhone,jdbcType=VARCHAR},
      APPLICATION_TEACHER_LEVEL_ID = #{applicationTeacherLevelId,jdbcType=VARCHAR},
      APPLICATION_AUDIT_STATUS = #{applicationAuditStatus,jdbcType=VARCHAR},
      APPLICATION_AUDIT_MESSAGE = #{applicationAuditMessage,jdbcType=VARCHAR},
      APPLICATION_MESSAGE = #{applicationMessage,jdbcType=VARCHAR},
      APPLICATION_PROVAL_URL = #{applicationProvalUrl,jdbcType=VARCHAR},
      GRADUATION_SCHOOL = #{graduationSchool,jdbcType=VARCHAR},
      GRADUATION_TIME = #{graduationTime,jdbcType=VARCHAR},
      WORKING_TIME = #{workingTime,jdbcType=VARCHAR},
      CERTIFICATE_LEVEL = #{certificateLevel,jdbcType=VARCHAR},
      CERTIFICATE_TIME = #{certificateTime,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>