<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.SchRotationOrgGroupMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SchRotationOrgGroup" >
    <id column="GROUP_FLOW" property="groupFlow" jdbcType="VARCHAR" />
    <result column="ROTATION_FLOW" property="rotationFlow" jdbcType="VARCHAR" />
    <result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR" />
    <result column="DEPT_NUM" property="deptNum" jdbcType="DECIMAL" />
    <result column="SCH_MONTH" property="schMonth" jdbcType="VARCHAR" />
    <result column="ONE_SCH_MONTH" property="oneSchMonth" jdbcType="VARCHAR" />
    <result column="TWO_SCH_MONTH" property="twoSchMonth" jdbcType="VARCHAR" />
    <result column="THREE_SCH_MONTH" property="threeSchMonth" jdbcType="VARCHAR" />
    <result column="GROUP_NOTE" property="groupNote" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="SEL_TYPE_ID" property="selTypeId" jdbcType="VARCHAR" />
    <result column="SEL_TYPE_NAME" property="selTypeName" jdbcType="VARCHAR" />
    <result column="MAX_DEPT_NUM" property="maxDeptNum" jdbcType="DECIMAL" />
    <result column="STANDARD_GROUP_FLOW" property="standardGroupFlow" jdbcType="VARCHAR" />
    <result column="ORDINAL" property="ordinal" jdbcType="DECIMAL" />
    <result column="IS_REQUIRED" property="isRequired" jdbcType="VARCHAR" />
    <result column="SCH_STAGE_ID" property="schStageId" jdbcType="VARCHAR" />
    <result column="SCH_STAGE_NAME" property="schStageName" jdbcType="VARCHAR" />
    <result column="SESSION_NUMBER" property="sessionNumber" jdbcType="VARCHAR" />
    <result column="SELECT_YEAR" property="selectYear" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    GROUP_FLOW, ROTATION_FLOW, GROUP_NAME, DEPT_NUM, SCH_MONTH, ONE_SCH_MONTH, TWO_SCH_MONTH, 
    THREE_SCH_MONTH, GROUP_NOTE, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
    MODIFY_USER_FLOW, ORG_FLOW, ORG_NAME, SEL_TYPE_ID, SEL_TYPE_NAME, MAX_DEPT_NUM, STANDARD_GROUP_FLOW, 
    ORDINAL, IS_REQUIRED, SCH_STAGE_ID, SCH_STAGE_NAME, SESSION_NUMBER, SELECT_YEAR
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.SchRotationOrgGroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
      from SCH_ROTATION_ORG_GROUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from SCH_ROTATION_ORG_GROUP
    where GROUP_FLOW = #{groupFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from SCH_ROTATION_ORG_GROUP
    where GROUP_FLOW = #{groupFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SchRotationOrgGroupExample" >
      delete from SCH_ROTATION_ORG_GROUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SchRotationOrgGroup" >
      insert into SCH_ROTATION_ORG_GROUP (GROUP_FLOW, ROTATION_FLOW, GROUP_NAME,
      DEPT_NUM, SCH_MONTH, ONE_SCH_MONTH, 
      TWO_SCH_MONTH, THREE_SCH_MONTH, GROUP_NOTE, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, ORG_FLOW, 
      ORG_NAME, SEL_TYPE_ID, SEL_TYPE_NAME, 
      MAX_DEPT_NUM, STANDARD_GROUP_FLOW, ORDINAL, 
      IS_REQUIRED, SCH_STAGE_ID, SCH_STAGE_NAME, 
      SESSION_NUMBER, SELECT_YEAR)
    values (#{groupFlow,jdbcType=VARCHAR}, #{rotationFlow,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, 
      #{deptNum,jdbcType=DECIMAL}, #{schMonth,jdbcType=VARCHAR}, #{oneSchMonth,jdbcType=VARCHAR}, 
      #{twoSchMonth,jdbcType=VARCHAR}, #{threeSchMonth,jdbcType=VARCHAR}, #{groupNote,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, 
      #{orgName,jdbcType=VARCHAR}, #{selTypeId,jdbcType=VARCHAR}, #{selTypeName,jdbcType=VARCHAR}, 
      #{maxDeptNum,jdbcType=DECIMAL}, #{standardGroupFlow,jdbcType=VARCHAR}, #{ordinal,jdbcType=DECIMAL}, 
      #{isRequired,jdbcType=VARCHAR}, #{schStageId,jdbcType=VARCHAR}, #{schStageName,jdbcType=VARCHAR}, 
      #{sessionNumber,jdbcType=VARCHAR}, #{selectYear,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SchRotationOrgGroup" >
      insert into SCH_ROTATION_ORG_GROUP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupFlow != null" >
        GROUP_FLOW,
      </if>
      <if test="rotationFlow != null" >
        ROTATION_FLOW,
      </if>
      <if test="groupName != null" >
        GROUP_NAME,
      </if>
      <if test="deptNum != null" >
        DEPT_NUM,
      </if>
      <if test="schMonth != null" >
        SCH_MONTH,
      </if>
      <if test="oneSchMonth != null" >
        ONE_SCH_MONTH,
      </if>
      <if test="twoSchMonth != null" >
        TWO_SCH_MONTH,
      </if>
      <if test="threeSchMonth != null" >
        THREE_SCH_MONTH,
      </if>
      <if test="groupNote != null" >
        GROUP_NOTE,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="selTypeId != null" >
        SEL_TYPE_ID,
      </if>
      <if test="selTypeName != null" >
        SEL_TYPE_NAME,
      </if>
      <if test="maxDeptNum != null" >
        MAX_DEPT_NUM,
      </if>
      <if test="standardGroupFlow != null" >
        STANDARD_GROUP_FLOW,
      </if>
      <if test="ordinal != null" >
        ORDINAL,
      </if>
      <if test="isRequired != null" >
        IS_REQUIRED,
      </if>
      <if test="schStageId != null" >
        SCH_STAGE_ID,
      </if>
      <if test="schStageName != null" >
        SCH_STAGE_NAME,
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER,
      </if>
      <if test="selectYear != null" >
        SELECT_YEAR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupFlow != null" >
        #{groupFlow,jdbcType=VARCHAR},
      </if>
      <if test="rotationFlow != null" >
        #{rotationFlow,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="deptNum != null" >
        #{deptNum,jdbcType=DECIMAL},
      </if>
      <if test="schMonth != null" >
        #{schMonth,jdbcType=VARCHAR},
      </if>
      <if test="oneSchMonth != null" >
        #{oneSchMonth,jdbcType=VARCHAR},
      </if>
      <if test="twoSchMonth != null" >
        #{twoSchMonth,jdbcType=VARCHAR},
      </if>
      <if test="threeSchMonth != null" >
        #{threeSchMonth,jdbcType=VARCHAR},
      </if>
      <if test="groupNote != null" >
        #{groupNote,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="selTypeId != null" >
        #{selTypeId,jdbcType=VARCHAR},
      </if>
      <if test="selTypeName != null" >
        #{selTypeName,jdbcType=VARCHAR},
      </if>
      <if test="maxDeptNum != null" >
        #{maxDeptNum,jdbcType=DECIMAL},
      </if>
      <if test="standardGroupFlow != null" >
        #{standardGroupFlow,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null" >
        #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="isRequired != null" >
        #{isRequired,jdbcType=VARCHAR},
      </if>
      <if test="schStageId != null" >
        #{schStageId,jdbcType=VARCHAR},
      </if>
      <if test="schStageName != null" >
        #{schStageName,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="selectYear != null" >
        #{selectYear,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SchRotationOrgGroupExample" resultType="java.lang.Integer" >
      select count(*) from SCH_ROTATION_ORG_GROUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update SCH_ROTATION_ORG_GROUP
    <set >
      <if test="record.groupFlow != null" >
        GROUP_FLOW = #{record.groupFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.rotationFlow != null" >
        ROTATION_FLOW = #{record.rotationFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.groupName != null" >
        GROUP_NAME = #{record.groupName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptNum != null" >
        DEPT_NUM = #{record.deptNum,jdbcType=DECIMAL},
      </if>
      <if test="record.schMonth != null" >
        SCH_MONTH = #{record.schMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.oneSchMonth != null" >
        ONE_SCH_MONTH = #{record.oneSchMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.twoSchMonth != null" >
        TWO_SCH_MONTH = #{record.twoSchMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.threeSchMonth != null" >
        THREE_SCH_MONTH = #{record.threeSchMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.groupNote != null" >
        GROUP_NOTE = #{record.groupNote,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.selTypeId != null" >
        SEL_TYPE_ID = #{record.selTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.selTypeName != null" >
        SEL_TYPE_NAME = #{record.selTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.maxDeptNum != null" >
        MAX_DEPT_NUM = #{record.maxDeptNum,jdbcType=DECIMAL},
      </if>
      <if test="record.standardGroupFlow != null" >
        STANDARD_GROUP_FLOW = #{record.standardGroupFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.ordinal != null" >
        ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      </if>
      <if test="record.isRequired != null" >
        IS_REQUIRED = #{record.isRequired,jdbcType=VARCHAR},
      </if>
      <if test="record.schStageId != null" >
        SCH_STAGE_ID = #{record.schStageId,jdbcType=VARCHAR},
      </if>
      <if test="record.schStageName != null" >
        SCH_STAGE_NAME = #{record.schStageName,jdbcType=VARCHAR},
      </if>
      <if test="record.sessionNumber != null" >
        SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.selectYear != null" >
        SELECT_YEAR = #{record.selectYear,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update SCH_ROTATION_ORG_GROUP
    set GROUP_FLOW = #{record.groupFlow,jdbcType=VARCHAR},
      ROTATION_FLOW = #{record.rotationFlow,jdbcType=VARCHAR},
      GROUP_NAME = #{record.groupName,jdbcType=VARCHAR},
      DEPT_NUM = #{record.deptNum,jdbcType=DECIMAL},
      SCH_MONTH = #{record.schMonth,jdbcType=VARCHAR},
      ONE_SCH_MONTH = #{record.oneSchMonth,jdbcType=VARCHAR},
      TWO_SCH_MONTH = #{record.twoSchMonth,jdbcType=VARCHAR},
      THREE_SCH_MONTH = #{record.threeSchMonth,jdbcType=VARCHAR},
      GROUP_NOTE = #{record.groupNote,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      SEL_TYPE_ID = #{record.selTypeId,jdbcType=VARCHAR},
      SEL_TYPE_NAME = #{record.selTypeName,jdbcType=VARCHAR},
      MAX_DEPT_NUM = #{record.maxDeptNum,jdbcType=DECIMAL},
      STANDARD_GROUP_FLOW = #{record.standardGroupFlow,jdbcType=VARCHAR},
      ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      IS_REQUIRED = #{record.isRequired,jdbcType=VARCHAR},
      SCH_STAGE_ID = #{record.schStageId,jdbcType=VARCHAR},
      SCH_STAGE_NAME = #{record.schStageName,jdbcType=VARCHAR},
      SESSION_NUMBER = #{record.sessionNumber,jdbcType=VARCHAR},
      SELECT_YEAR = #{record.selectYear,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SchRotationOrgGroup" >
      update SCH_ROTATION_ORG_GROUP
    <set >
      <if test="rotationFlow != null" >
        ROTATION_FLOW = #{rotationFlow,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="deptNum != null" >
        DEPT_NUM = #{deptNum,jdbcType=DECIMAL},
      </if>
      <if test="schMonth != null" >
        SCH_MONTH = #{schMonth,jdbcType=VARCHAR},
      </if>
      <if test="oneSchMonth != null" >
        ONE_SCH_MONTH = #{oneSchMonth,jdbcType=VARCHAR},
      </if>
      <if test="twoSchMonth != null" >
        TWO_SCH_MONTH = #{twoSchMonth,jdbcType=VARCHAR},
      </if>
      <if test="threeSchMonth != null" >
        THREE_SCH_MONTH = #{threeSchMonth,jdbcType=VARCHAR},
      </if>
      <if test="groupNote != null" >
        GROUP_NOTE = #{groupNote,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="selTypeId != null" >
        SEL_TYPE_ID = #{selTypeId,jdbcType=VARCHAR},
      </if>
      <if test="selTypeName != null" >
        SEL_TYPE_NAME = #{selTypeName,jdbcType=VARCHAR},
      </if>
      <if test="maxDeptNum != null" >
        MAX_DEPT_NUM = #{maxDeptNum,jdbcType=DECIMAL},
      </if>
      <if test="standardGroupFlow != null" >
        STANDARD_GROUP_FLOW = #{standardGroupFlow,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null" >
        ORDINAL = #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="isRequired != null" >
        IS_REQUIRED = #{isRequired,jdbcType=VARCHAR},
      </if>
      <if test="schStageId != null" >
        SCH_STAGE_ID = #{schStageId,jdbcType=VARCHAR},
      </if>
      <if test="schStageName != null" >
        SCH_STAGE_NAME = #{schStageName,jdbcType=VARCHAR},
      </if>
      <if test="sessionNumber != null" >
        SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      </if>
      <if test="selectYear != null" >
        SELECT_YEAR = #{selectYear,jdbcType=VARCHAR},
      </if>
    </set>
    where GROUP_FLOW = #{groupFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SchRotationOrgGroup" >
      update SCH_ROTATION_ORG_GROUP
    set ROTATION_FLOW = #{rotationFlow,jdbcType=VARCHAR},
      GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      DEPT_NUM = #{deptNum,jdbcType=DECIMAL},
      SCH_MONTH = #{schMonth,jdbcType=VARCHAR},
      ONE_SCH_MONTH = #{oneSchMonth,jdbcType=VARCHAR},
      TWO_SCH_MONTH = #{twoSchMonth,jdbcType=VARCHAR},
      THREE_SCH_MONTH = #{threeSchMonth,jdbcType=VARCHAR},
      GROUP_NOTE = #{groupNote,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      SEL_TYPE_ID = #{selTypeId,jdbcType=VARCHAR},
      SEL_TYPE_NAME = #{selTypeName,jdbcType=VARCHAR},
      MAX_DEPT_NUM = #{maxDeptNum,jdbcType=DECIMAL},
      STANDARD_GROUP_FLOW = #{standardGroupFlow,jdbcType=VARCHAR},
      ORDINAL = #{ordinal,jdbcType=DECIMAL},
      IS_REQUIRED = #{isRequired,jdbcType=VARCHAR},
      SCH_STAGE_ID = #{schStageId,jdbcType=VARCHAR},
      SCH_STAGE_NAME = #{schStageName,jdbcType=VARCHAR},
      SESSION_NUMBER = #{sessionNumber,jdbcType=VARCHAR},
      SELECT_YEAR = #{selectYear,jdbcType=VARCHAR}
    where GROUP_FLOW = #{groupFlow,jdbcType=VARCHAR}
  </update>
</mapper>