<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.core.common.sci.dao.SchRotationDeptAfterMapper" >
    <resultMap id="BaseResultMap" type="com.pinde.core.model.SchRotationDeptAfter">
    <id column="RECORD_FLOW" property="recordFlow" jdbcType="VARCHAR" />
    <result column="SCH_ROTATION_DEPT_FLOW" property="schRotationDeptFlow" jdbcType="VARCHAR" />
    <result column="DOCTOR_FLOW" property="doctorFlow" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="MODFIY_TIME" property="modfiyTime" jdbcType="VARCHAR" />
    <result column="IMAGE_URLS_BACK" property="imageUrlsBack" jdbcType="VARCHAR" />
    <result column="THUMB_URLS_BACK" property="thumbUrlsBack" jdbcType="VARCHAR" />
    <result column="APPLY_YEAR" property="applyYear" jdbcType="VARCHAR" />
  </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.pinde.core.model.SchRotationDeptAfterWithBLOBs"
               extends="BaseResultMap">
    <result column="IMAGE_URLS" property="imageUrls" jdbcType="CLOB" />
    <result column="THUMB_URLS" property="thumbUrls" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECORD_FLOW, SCH_ROTATION_DEPT_FLOW, DOCTOR_FLOW, RECORD_STATUS, MODFIY_TIME, IMAGE_URLS_BACK, 
    THUMB_URLS_BACK, APPLY_YEAR
  </sql>
  <sql id="Blob_Column_List" >
    IMAGE_URLS, THUMB_URLS
  </sql>
    <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"
            parameterType="com.pinde.core.model.SchRotationDeptAfterExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
      from SCH_ROTATION_DEPT_AFTER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.pinde.core.model.SchRotationDeptAfterExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
      from SCH_ROTATION_DEPT_AFTER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
      from SCH_ROTATION_DEPT_AFTER
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from SCH_ROTATION_DEPT_AFTER
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.SchRotationDeptAfterExample">
      delete from SCH_ROTATION_DEPT_AFTER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.SchRotationDeptAfterWithBLOBs">
      insert into SCH_ROTATION_DEPT_AFTER (RECORD_FLOW, SCH_ROTATION_DEPT_FLOW,
      DOCTOR_FLOW, RECORD_STATUS, MODFIY_TIME, 
      IMAGE_URLS_BACK, THUMB_URLS_BACK, APPLY_YEAR, 
      IMAGE_URLS, THUMB_URLS)
    values (#{recordFlow,jdbcType=VARCHAR}, #{schRotationDeptFlow,jdbcType=VARCHAR}, 
      #{doctorFlow,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{modfiyTime,jdbcType=VARCHAR}, 
      #{imageUrlsBack,jdbcType=VARCHAR}, #{thumbUrlsBack,jdbcType=VARCHAR}, #{applyYear,jdbcType=VARCHAR}, 
      #{imageUrls,jdbcType=CLOB}, #{thumbUrls,jdbcType=CLOB})
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.SchRotationDeptAfterWithBLOBs">
      insert into SCH_ROTATION_DEPT_AFTER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        RECORD_FLOW,
      </if>
      <if test="schRotationDeptFlow != null" >
        SCH_ROTATION_DEPT_FLOW,
      </if>
      <if test="doctorFlow != null" >
        DOCTOR_FLOW,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="modfiyTime != null" >
        MODFIY_TIME,
      </if>
      <if test="imageUrlsBack != null" >
        IMAGE_URLS_BACK,
      </if>
      <if test="thumbUrlsBack != null" >
        THUMB_URLS_BACK,
      </if>
      <if test="applyYear != null" >
        APPLY_YEAR,
      </if>
      <if test="imageUrls != null" >
        IMAGE_URLS,
      </if>
      <if test="thumbUrls != null" >
        THUMB_URLS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordFlow != null" >
        #{recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="schRotationDeptFlow != null" >
        #{schRotationDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorFlow != null" >
        #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="modfiyTime != null" >
        #{modfiyTime,jdbcType=VARCHAR},
      </if>
      <if test="imageUrlsBack != null" >
        #{imageUrlsBack,jdbcType=VARCHAR},
      </if>
      <if test="thumbUrlsBack != null" >
        #{thumbUrlsBack,jdbcType=VARCHAR},
      </if>
      <if test="applyYear != null" >
        #{applyYear,jdbcType=VARCHAR},
      </if>
      <if test="imageUrls != null" >
        #{imageUrls,jdbcType=CLOB},
      </if>
      <if test="thumbUrls != null" >
        #{thumbUrls,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.SchRotationDeptAfterExample"
            resultType="java.lang.Integer">
      select count(*) from SCH_ROTATION_DEPT_AFTER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update SCH_ROTATION_DEPT_AFTER
    <set >
      <if test="record.recordFlow != null" >
        RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.schRotationDeptFlow != null" >
        SCH_ROTATION_DEPT_FLOW = #{record.schRotationDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.doctorFlow != null" >
        DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.modfiyTime != null" >
        MODFIY_TIME = #{record.modfiyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.imageUrlsBack != null" >
        IMAGE_URLS_BACK = #{record.imageUrlsBack,jdbcType=VARCHAR},
      </if>
      <if test="record.thumbUrlsBack != null" >
        THUMB_URLS_BACK = #{record.thumbUrlsBack,jdbcType=VARCHAR},
      </if>
      <if test="record.applyYear != null" >
        APPLY_YEAR = #{record.applyYear,jdbcType=VARCHAR},
      </if>
      <if test="record.imageUrls != null" >
        IMAGE_URLS = #{record.imageUrls,jdbcType=CLOB},
      </if>
      <if test="record.thumbUrls != null" >
        THUMB_URLS = #{record.thumbUrls,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
      update SCH_ROTATION_DEPT_AFTER
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      SCH_ROTATION_DEPT_FLOW = #{record.schRotationDeptFlow,jdbcType=VARCHAR},
      DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      MODFIY_TIME = #{record.modfiyTime,jdbcType=VARCHAR},
      IMAGE_URLS_BACK = #{record.imageUrlsBack,jdbcType=VARCHAR},
      THUMB_URLS_BACK = #{record.thumbUrlsBack,jdbcType=VARCHAR},
      APPLY_YEAR = #{record.applyYear,jdbcType=VARCHAR},
      IMAGE_URLS = #{record.imageUrls,jdbcType=CLOB},
      THUMB_URLS = #{record.thumbUrls,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update SCH_ROTATION_DEPT_AFTER
    set RECORD_FLOW = #{record.recordFlow,jdbcType=VARCHAR},
      SCH_ROTATION_DEPT_FLOW = #{record.schRotationDeptFlow,jdbcType=VARCHAR},
      DOCTOR_FLOW = #{record.doctorFlow,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      MODFIY_TIME = #{record.modfiyTime,jdbcType=VARCHAR},
      IMAGE_URLS_BACK = #{record.imageUrlsBack,jdbcType=VARCHAR},
      THUMB_URLS_BACK = #{record.thumbUrlsBack,jdbcType=VARCHAR},
      APPLY_YEAR = #{record.applyYear,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.SchRotationDeptAfterWithBLOBs">
      update SCH_ROTATION_DEPT_AFTER
    <set >
      <if test="schRotationDeptFlow != null" >
        SCH_ROTATION_DEPT_FLOW = #{schRotationDeptFlow,jdbcType=VARCHAR},
      </if>
      <if test="doctorFlow != null" >
        DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="modfiyTime != null" >
        MODFIY_TIME = #{modfiyTime,jdbcType=VARCHAR},
      </if>
      <if test="imageUrlsBack != null" >
        IMAGE_URLS_BACK = #{imageUrlsBack,jdbcType=VARCHAR},
      </if>
      <if test="thumbUrlsBack != null" >
        THUMB_URLS_BACK = #{thumbUrlsBack,jdbcType=VARCHAR},
      </if>
      <if test="applyYear != null" >
        APPLY_YEAR = #{applyYear,jdbcType=VARCHAR},
      </if>
      <if test="imageUrls != null" >
        IMAGE_URLS = #{imageUrls,jdbcType=CLOB},
      </if>
      <if test="thumbUrls != null" >
        THUMB_URLS = #{thumbUrls,jdbcType=CLOB},
      </if>
    </set>
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinde.core.model.SchRotationDeptAfterWithBLOBs">
      update SCH_ROTATION_DEPT_AFTER
    set SCH_ROTATION_DEPT_FLOW = #{schRotationDeptFlow,jdbcType=VARCHAR},
      DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      MODFIY_TIME = #{modfiyTime,jdbcType=VARCHAR},
      IMAGE_URLS_BACK = #{imageUrlsBack,jdbcType=VARCHAR},
      THUMB_URLS_BACK = #{thumbUrlsBack,jdbcType=VARCHAR},
      APPLY_YEAR = #{applyYear,jdbcType=VARCHAR},
      IMAGE_URLS = #{imageUrls,jdbcType=CLOB},
      THUMB_URLS = #{thumbUrls,jdbcType=CLOB}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.SchRotationDeptAfter">
      update SCH_ROTATION_DEPT_AFTER
    set SCH_ROTATION_DEPT_FLOW = #{schRotationDeptFlow,jdbcType=VARCHAR},
      DOCTOR_FLOW = #{doctorFlow,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      MODFIY_TIME = #{modfiyTime,jdbcType=VARCHAR},
      IMAGE_URLS_BACK = #{imageUrlsBack,jdbcType=VARCHAR},
      THUMB_URLS_BACK = #{thumbUrlsBack,jdbcType=VARCHAR},
      APPLY_YEAR = #{applyYear,jdbcType=VARCHAR}
    where RECORD_FLOW = #{recordFlow,jdbcType=VARCHAR}
  </update>
</mapper>