<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.SrmExpertGroupMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SrmExpertGroup" >
    <id column="GROUP_FLOW" property="groupFlow" jdbcType="VARCHAR" />
    <result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR" />
    <result column="GROUP_TYPE_ID" property="groupTypeId" jdbcType="VARCHAR" />
    <result column="GROUP_TYPE_NAME" property="groupTypeName" jdbcType="VARCHAR" />
    <result column="GROUP_NOTE" property="groupNote" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="MEETING_DATE" property="meetingDate" jdbcType="VARCHAR" />
    <result column="MEETING_START_TIME" property="meetingStartTime" jdbcType="VARCHAR" />
    <result column="MEETING_END_TIME" property="meetingEndTime" jdbcType="VARCHAR" />
    <result column="MEETING_ADDRESS" property="meetingAddress" jdbcType="VARCHAR" />
    <result column="EVALUATION_WAY_ID" property="evaluationWayId" jdbcType="VARCHAR" />
    <result column="EVALUATION_WAY_NAME" property="evaluationWayName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    GROUP_FLOW, GROUP_NAME, GROUP_TYPE_ID, GROUP_TYPE_NAME, GROUP_NOTE, RECORD_STATUS, 
    CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, MEETING_DATE, MEETING_START_TIME, 
    MEETING_END_TIME, MEETING_ADDRESS, EVALUATION_WAY_ID, EVALUATION_WAY_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.SrmExpertGroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.SRM_EXPERT_GROUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.SRM_EXPERT_GROUP
    where GROUP_FLOW = #{groupFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.SRM_EXPERT_GROUP
    where GROUP_FLOW = #{groupFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SrmExpertGroupExample" >
    delete from PDSCI.SRM_EXPERT_GROUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SrmExpertGroup" >
    insert into PDSCI.SRM_EXPERT_GROUP (GROUP_FLOW, GROUP_NAME, GROUP_TYPE_ID, 
      GROUP_TYPE_NAME, GROUP_NOTE, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW, MEETING_DATE, MEETING_START_TIME, 
      MEETING_END_TIME, MEETING_ADDRESS, EVALUATION_WAY_ID, 
      EVALUATION_WAY_NAME)
    values (#{groupFlow,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, #{groupTypeId,jdbcType=VARCHAR}, 
      #{groupTypeName,jdbcType=VARCHAR}, #{groupNote,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR}, #{meetingDate,jdbcType=VARCHAR}, #{meetingStartTime,jdbcType=VARCHAR}, 
      #{meetingEndTime,jdbcType=VARCHAR}, #{meetingAddress,jdbcType=VARCHAR}, #{evaluationWayId,jdbcType=VARCHAR}, 
      #{evaluationWayName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SrmExpertGroup" >
    insert into PDSCI.SRM_EXPERT_GROUP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupFlow != null" >
        GROUP_FLOW,
      </if>
      <if test="groupName != null" >
        GROUP_NAME,
      </if>
      <if test="groupTypeId != null" >
        GROUP_TYPE_ID,
      </if>
      <if test="groupTypeName != null" >
        GROUP_TYPE_NAME,
      </if>
      <if test="groupNote != null" >
        GROUP_NOTE,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="meetingDate != null" >
        MEETING_DATE,
      </if>
      <if test="meetingStartTime != null" >
        MEETING_START_TIME,
      </if>
      <if test="meetingEndTime != null" >
        MEETING_END_TIME,
      </if>
      <if test="meetingAddress != null" >
        MEETING_ADDRESS,
      </if>
      <if test="evaluationWayId != null" >
        EVALUATION_WAY_ID,
      </if>
      <if test="evaluationWayName != null" >
        EVALUATION_WAY_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupFlow != null" >
        #{groupFlow,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupTypeId != null" >
        #{groupTypeId,jdbcType=VARCHAR},
      </if>
      <if test="groupTypeName != null" >
        #{groupTypeName,jdbcType=VARCHAR},
      </if>
      <if test="groupNote != null" >
        #{groupNote,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="meetingDate != null" >
        #{meetingDate,jdbcType=VARCHAR},
      </if>
      <if test="meetingStartTime != null" >
        #{meetingStartTime,jdbcType=VARCHAR},
      </if>
      <if test="meetingEndTime != null" >
        #{meetingEndTime,jdbcType=VARCHAR},
      </if>
      <if test="meetingAddress != null" >
        #{meetingAddress,jdbcType=VARCHAR},
      </if>
      <if test="evaluationWayId != null" >
        #{evaluationWayId,jdbcType=VARCHAR},
      </if>
      <if test="evaluationWayName != null" >
        #{evaluationWayName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SrmExpertGroupExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.SRM_EXPERT_GROUP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.SRM_EXPERT_GROUP
    <set >
      <if test="record.groupFlow != null" >
        GROUP_FLOW = #{record.groupFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.groupName != null" >
        GROUP_NAME = #{record.groupName,jdbcType=VARCHAR},
      </if>
      <if test="record.groupTypeId != null" >
        GROUP_TYPE_ID = #{record.groupTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.groupTypeName != null" >
        GROUP_TYPE_NAME = #{record.groupTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.groupNote != null" >
        GROUP_NOTE = #{record.groupNote,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingDate != null" >
        MEETING_DATE = #{record.meetingDate,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingStartTime != null" >
        MEETING_START_TIME = #{record.meetingStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingEndTime != null" >
        MEETING_END_TIME = #{record.meetingEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingAddress != null" >
        MEETING_ADDRESS = #{record.meetingAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluationWayId != null" >
        EVALUATION_WAY_ID = #{record.evaluationWayId,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluationWayName != null" >
        EVALUATION_WAY_NAME = #{record.evaluationWayName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.SRM_EXPERT_GROUP
    set GROUP_FLOW = #{record.groupFlow,jdbcType=VARCHAR},
      GROUP_NAME = #{record.groupName,jdbcType=VARCHAR},
      GROUP_TYPE_ID = #{record.groupTypeId,jdbcType=VARCHAR},
      GROUP_TYPE_NAME = #{record.groupTypeName,jdbcType=VARCHAR},
      GROUP_NOTE = #{record.groupNote,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      MEETING_DATE = #{record.meetingDate,jdbcType=VARCHAR},
      MEETING_START_TIME = #{record.meetingStartTime,jdbcType=VARCHAR},
      MEETING_END_TIME = #{record.meetingEndTime,jdbcType=VARCHAR},
      MEETING_ADDRESS = #{record.meetingAddress,jdbcType=VARCHAR},
      EVALUATION_WAY_ID = #{record.evaluationWayId,jdbcType=VARCHAR},
      EVALUATION_WAY_NAME = #{record.evaluationWayName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SrmExpertGroup" >
    update PDSCI.SRM_EXPERT_GROUP
    <set >
      <if test="groupName != null" >
        GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupTypeId != null" >
        GROUP_TYPE_ID = #{groupTypeId,jdbcType=VARCHAR},
      </if>
      <if test="groupTypeName != null" >
        GROUP_TYPE_NAME = #{groupTypeName,jdbcType=VARCHAR},
      </if>
      <if test="groupNote != null" >
        GROUP_NOTE = #{groupNote,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="meetingDate != null" >
        MEETING_DATE = #{meetingDate,jdbcType=VARCHAR},
      </if>
      <if test="meetingStartTime != null" >
        MEETING_START_TIME = #{meetingStartTime,jdbcType=VARCHAR},
      </if>
      <if test="meetingEndTime != null" >
        MEETING_END_TIME = #{meetingEndTime,jdbcType=VARCHAR},
      </if>
      <if test="meetingAddress != null" >
        MEETING_ADDRESS = #{meetingAddress,jdbcType=VARCHAR},
      </if>
      <if test="evaluationWayId != null" >
        EVALUATION_WAY_ID = #{evaluationWayId,jdbcType=VARCHAR},
      </if>
      <if test="evaluationWayName != null" >
        EVALUATION_WAY_NAME = #{evaluationWayName,jdbcType=VARCHAR},
      </if>
    </set>
    where GROUP_FLOW = #{groupFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SrmExpertGroup" >
    update PDSCI.SRM_EXPERT_GROUP
    set GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      GROUP_TYPE_ID = #{groupTypeId,jdbcType=VARCHAR},
      GROUP_TYPE_NAME = #{groupTypeName,jdbcType=VARCHAR},
      GROUP_NOTE = #{groupNote,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      MEETING_DATE = #{meetingDate,jdbcType=VARCHAR},
      MEETING_START_TIME = #{meetingStartTime,jdbcType=VARCHAR},
      MEETING_END_TIME = #{meetingEndTime,jdbcType=VARCHAR},
      MEETING_ADDRESS = #{meetingAddress,jdbcType=VARCHAR},
      EVALUATION_WAY_ID = #{evaluationWayId,jdbcType=VARCHAR},
      EVALUATION_WAY_NAME = #{evaluationWayName,jdbcType=VARCHAR}
    where GROUP_FLOW = #{groupFlow,jdbcType=VARCHAR}
  </update>
</mapper>