<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.SrmGradeItemMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SrmGradeItem">
    <id column="ITEM_FLOW" jdbcType="VARCHAR" property="itemFlow" />
    <result column="ITEM_NAME" jdbcType="VARCHAR" property="itemName" />
    <result column="SCHEME_FLOW" jdbcType="VARCHAR" property="schemeFlow" />
    <result column="ITEM_SCORE" jdbcType="DECIMAL" property="itemScore" />
    <result column="ITEM_SCORE_TIP" jdbcType="VARCHAR" property="itemScoreTip" />
    <result column="ITEM_DESC" jdbcType="VARCHAR" property="itemDesc" />
    <result column="ORDINAL" jdbcType="DECIMAL" property="ordinal" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="SCORE_WEIGHT" jdbcType="DECIMAL" property="scoreWeight" />
    <result column="ITEM_TYPE" jdbcType="VARCHAR" property="itemType" />
    <result column="SECOND_LEVEL_FORM" jdbcType="VARCHAR" property="secondLevelForm" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ITEM_FLOW, ITEM_NAME, SCHEME_FLOW, ITEM_SCORE, ITEM_SCORE_TIP, ITEM_DESC, ORDINAL, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, SCORE_WEIGHT, 
    ITEM_TYPE, SECOND_LEVEL_FORM
  </sql>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.SrmGradeItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.SRM_GRADE_ITEM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PDSCI.SRM_GRADE_ITEM
    where ITEM_FLOW = #{itemFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.SRM_GRADE_ITEM
    where ITEM_FLOW = #{itemFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SrmGradeItemExample">
    delete from PDSCI.SRM_GRADE_ITEM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SrmGradeItem">
    insert into PDSCI.SRM_GRADE_ITEM (ITEM_FLOW, ITEM_NAME, SCHEME_FLOW, 
      ITEM_SCORE, ITEM_SCORE_TIP, ITEM_DESC, 
      ORDINAL, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      SCORE_WEIGHT, ITEM_TYPE, SECOND_LEVEL_FORM
      )
    values (#{itemFlow,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, #{schemeFlow,jdbcType=VARCHAR}, 
      #{itemScore,jdbcType=DECIMAL}, #{itemScoreTip,jdbcType=VARCHAR}, #{itemDesc,jdbcType=VARCHAR}, 
      #{ordinal,jdbcType=DECIMAL}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{scoreWeight,jdbcType=DECIMAL}, #{itemType,jdbcType=VARCHAR}, #{secondLevelForm,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SrmGradeItem">
    insert into PDSCI.SRM_GRADE_ITEM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemFlow != null">
        ITEM_FLOW,
      </if>
      <if test="itemName != null">
        ITEM_NAME,
      </if>
      <if test="schemeFlow != null">
        SCHEME_FLOW,
      </if>
      <if test="itemScore != null">
        ITEM_SCORE,
      </if>
      <if test="itemScoreTip != null">
        ITEM_SCORE_TIP,
      </if>
      <if test="itemDesc != null">
        ITEM_DESC,
      </if>
      <if test="ordinal != null">
        ORDINAL,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="scoreWeight != null">
        SCORE_WEIGHT,
      </if>
      <if test="itemType != null">
        ITEM_TYPE,
      </if>
      <if test="secondLevelForm != null">
        SECOND_LEVEL_FORM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemFlow != null">
        #{itemFlow,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="schemeFlow != null">
        #{schemeFlow,jdbcType=VARCHAR},
      </if>
      <if test="itemScore != null">
        #{itemScore,jdbcType=DECIMAL},
      </if>
      <if test="itemScoreTip != null">
        #{itemScoreTip,jdbcType=VARCHAR},
      </if>
      <if test="itemDesc != null">
        #{itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null">
        #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="scoreWeight != null">
        #{scoreWeight,jdbcType=DECIMAL},
      </if>
      <if test="itemType != null">
        #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="secondLevelForm != null">
        #{secondLevelForm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SrmGradeItemExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.SRM_GRADE_ITEM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.SRM_GRADE_ITEM
    <set>
      <if test="record.itemFlow != null">
        ITEM_FLOW = #{record.itemFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null">
        ITEM_NAME = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.schemeFlow != null">
        SCHEME_FLOW = #{record.schemeFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.itemScore != null">
        ITEM_SCORE = #{record.itemScore,jdbcType=DECIMAL},
      </if>
      <if test="record.itemScoreTip != null">
        ITEM_SCORE_TIP = #{record.itemScoreTip,jdbcType=VARCHAR},
      </if>
      <if test="record.itemDesc != null">
        ITEM_DESC = #{record.itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.ordinal != null">
        ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.scoreWeight != null">
        SCORE_WEIGHT = #{record.scoreWeight,jdbcType=DECIMAL},
      </if>
      <if test="record.itemType != null">
        ITEM_TYPE = #{record.itemType,jdbcType=VARCHAR},
      </if>
      <if test="record.secondLevelForm != null">
        SECOND_LEVEL_FORM = #{record.secondLevelForm,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.SRM_GRADE_ITEM
    set ITEM_FLOW = #{record.itemFlow,jdbcType=VARCHAR},
      ITEM_NAME = #{record.itemName,jdbcType=VARCHAR},
      SCHEME_FLOW = #{record.schemeFlow,jdbcType=VARCHAR},
      ITEM_SCORE = #{record.itemScore,jdbcType=DECIMAL},
      ITEM_SCORE_TIP = #{record.itemScoreTip,jdbcType=VARCHAR},
      ITEM_DESC = #{record.itemDesc,jdbcType=VARCHAR},
      ORDINAL = #{record.ordinal,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      SCORE_WEIGHT = #{record.scoreWeight,jdbcType=DECIMAL},
      ITEM_TYPE = #{record.itemType,jdbcType=VARCHAR},
      SECOND_LEVEL_FORM = #{record.secondLevelForm,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SrmGradeItem">
    update PDSCI.SRM_GRADE_ITEM
    <set>
      <if test="itemName != null">
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="schemeFlow != null">
        SCHEME_FLOW = #{schemeFlow,jdbcType=VARCHAR},
      </if>
      <if test="itemScore != null">
        ITEM_SCORE = #{itemScore,jdbcType=DECIMAL},
      </if>
      <if test="itemScoreTip != null">
        ITEM_SCORE_TIP = #{itemScoreTip,jdbcType=VARCHAR},
      </if>
      <if test="itemDesc != null">
        ITEM_DESC = #{itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="ordinal != null">
        ORDINAL = #{ordinal,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="scoreWeight != null">
        SCORE_WEIGHT = #{scoreWeight,jdbcType=DECIMAL},
      </if>
      <if test="itemType != null">
        ITEM_TYPE = #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="secondLevelForm != null">
        SECOND_LEVEL_FORM = #{secondLevelForm,jdbcType=VARCHAR},
      </if>
    </set>
    where ITEM_FLOW = #{itemFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SrmGradeItem">
    update PDSCI.SRM_GRADE_ITEM
    set ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      SCHEME_FLOW = #{schemeFlow,jdbcType=VARCHAR},
      ITEM_SCORE = #{itemScore,jdbcType=DECIMAL},
      ITEM_SCORE_TIP = #{itemScoreTip,jdbcType=VARCHAR},
      ITEM_DESC = #{itemDesc,jdbcType=VARCHAR},
      ORDINAL = #{ordinal,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      SCORE_WEIGHT = #{scoreWeight,jdbcType=DECIMAL},
      ITEM_TYPE = #{itemType,jdbcType=VARCHAR},
      SECOND_LEVEL_FORM = #{secondLevelForm,jdbcType=VARCHAR}
    where ITEM_FLOW = #{itemFlow,jdbcType=VARCHAR}
  </update>
</mapper>