<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.SrmLearningSocietyMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SrmLearningSociety">
    <id column="SOCIETY_FLOW" jdbcType="VARCHAR" property="societyFlow" />
    <result column="USER_FLOW" jdbcType="VARCHAR" property="userFlow" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="DEPT_FLOW" jdbcType="VARCHAR" property="deptFlow" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="SOCIETY_NAME" jdbcType="VARCHAR" property="societyName" />
    <result column="SOCIETY_DETAILED" jdbcType="VARCHAR" property="societyDetailed" />
    <result column="SOCIETY_POSITION" jdbcType="VARCHAR" property="societyPosition" />
    <result column="START_YEAR" jdbcType="VARCHAR" property="startYear" />
    <result column="END_YEAR" jdbcType="VARCHAR" property="endYear" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="ORG_FLOW" jdbcType="VARCHAR" property="orgFlow" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    SOCIETY_FLOW, USER_FLOW, USER_NAME, DEPT_FLOW, DEPT_NAME, SOCIETY_NAME, SOCIETY_DETAILED, 
    SOCIETY_POSITION, START_YEAR, END_YEAR, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW, ORG_FLOW, ORG_NAME
  </sql>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.SrmLearningSocietyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.SRM_LEARNING_SOCIETY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PDSCI.SRM_LEARNING_SOCIETY
    where SOCIETY_FLOW = #{societyFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.SRM_LEARNING_SOCIETY
    where SOCIETY_FLOW = #{societyFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SrmLearningSocietyExample">
    delete from PDSCI.SRM_LEARNING_SOCIETY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SrmLearningSociety">
    insert into PDSCI.SRM_LEARNING_SOCIETY (SOCIETY_FLOW, USER_FLOW, USER_NAME, 
      DEPT_FLOW, DEPT_NAME, SOCIETY_NAME, 
      SOCIETY_DETAILED, SOCIETY_POSITION, START_YEAR, 
      END_YEAR, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      ORG_FLOW, ORG_NAME)
    values (#{societyFlow,jdbcType=VARCHAR}, #{userFlow,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{deptFlow,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{societyName,jdbcType=VARCHAR}, 
      #{societyDetailed,jdbcType=VARCHAR}, #{societyPosition,jdbcType=VARCHAR}, #{startYear,jdbcType=VARCHAR}, 
      #{endYear,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{orgFlow,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SrmLearningSociety">
    insert into PDSCI.SRM_LEARNING_SOCIETY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="societyFlow != null">
        SOCIETY_FLOW,
      </if>
      <if test="userFlow != null">
        USER_FLOW,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="deptFlow != null">
        DEPT_FLOW,
      </if>
      <if test="deptName != null">
        DEPT_NAME,
      </if>
      <if test="societyName != null">
        SOCIETY_NAME,
      </if>
      <if test="societyDetailed != null">
        SOCIETY_DETAILED,
      </if>
      <if test="societyPosition != null">
        SOCIETY_POSITION,
      </if>
      <if test="startYear != null">
        START_YEAR,
      </if>
      <if test="endYear != null">
        END_YEAR,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="orgFlow != null">
        ORG_FLOW,
      </if>
      <if test="orgName != null">
        ORG_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="societyFlow != null">
        #{societyFlow,jdbcType=VARCHAR},
      </if>
      <if test="userFlow != null">
        #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null">
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="societyName != null">
        #{societyName,jdbcType=VARCHAR},
      </if>
      <if test="societyDetailed != null">
        #{societyDetailed,jdbcType=VARCHAR},
      </if>
      <if test="societyPosition != null">
        #{societyPosition,jdbcType=VARCHAR},
      </if>
      <if test="startYear != null">
        #{startYear,jdbcType=VARCHAR},
      </if>
      <if test="endYear != null">
        #{endYear,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null">
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SrmLearningSocietyExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.SRM_LEARNING_SOCIETY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.SRM_LEARNING_SOCIETY
    <set>
      <if test="record.societyFlow != null">
        SOCIETY_FLOW = #{record.societyFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userFlow != null">
        USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null">
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null">
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.societyName != null">
        SOCIETY_NAME = #{record.societyName,jdbcType=VARCHAR},
      </if>
      <if test="record.societyDetailed != null">
        SOCIETY_DETAILED = #{record.societyDetailed,jdbcType=VARCHAR},
      </if>
      <if test="record.societyPosition != null">
        SOCIETY_POSITION = #{record.societyPosition,jdbcType=VARCHAR},
      </if>
      <if test="record.startYear != null">
        START_YEAR = #{record.startYear,jdbcType=VARCHAR},
      </if>
      <if test="record.endYear != null">
        END_YEAR = #{record.endYear,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null">
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null">
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.SRM_LEARNING_SOCIETY
    set SOCIETY_FLOW = #{record.societyFlow,jdbcType=VARCHAR},
      USER_FLOW = #{record.userFlow,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      SOCIETY_NAME = #{record.societyName,jdbcType=VARCHAR},
      SOCIETY_DETAILED = #{record.societyDetailed,jdbcType=VARCHAR},
      SOCIETY_POSITION = #{record.societyPosition,jdbcType=VARCHAR},
      START_YEAR = #{record.startYear,jdbcType=VARCHAR},
      END_YEAR = #{record.endYear,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SrmLearningSociety">
    update PDSCI.SRM_LEARNING_SOCIETY
    <set>
      <if test="userFlow != null">
        USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null">
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="societyName != null">
        SOCIETY_NAME = #{societyName,jdbcType=VARCHAR},
      </if>
      <if test="societyDetailed != null">
        SOCIETY_DETAILED = #{societyDetailed,jdbcType=VARCHAR},
      </if>
      <if test="societyPosition != null">
        SOCIETY_POSITION = #{societyPosition,jdbcType=VARCHAR},
      </if>
      <if test="startYear != null">
        START_YEAR = #{startYear,jdbcType=VARCHAR},
      </if>
      <if test="endYear != null">
        END_YEAR = #{endYear,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null">
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
    </set>
    where SOCIETY_FLOW = #{societyFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SrmLearningSociety">
    update PDSCI.SRM_LEARNING_SOCIETY
    set USER_FLOW = #{userFlow,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      SOCIETY_NAME = #{societyName,jdbcType=VARCHAR},
      SOCIETY_DETAILED = #{societyDetailed,jdbcType=VARCHAR},
      SOCIETY_POSITION = #{societyPosition,jdbcType=VARCHAR},
      START_YEAR = #{startYear,jdbcType=VARCHAR},
      END_YEAR = #{endYear,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR}
    where SOCIETY_FLOW = #{societyFlow,jdbcType=VARCHAR}
  </update>
</mapper>