<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinde.sci.dao.base.SrmProjFundDetailMapper">
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SrmProjFundDetail">
    <id column="FUND_DETAIL_FLOW" jdbcType="VARCHAR" property="fundDetailFlow" />
    <result column="FUND_FLOW" jdbcType="VARCHAR" property="fundFlow" />
    <result column="ITEM_FLOW" jdbcType="VARCHAR" property="itemFlow" />
    <result column="FUND_TYPE_ID" jdbcType="VARCHAR" property="fundTypeId" />
    <result column="FUND_TYPE_NAME" jdbcType="VARCHAR" property="fundTypeName" />
    <result column="MONEY" jdbcType="DECIMAL" property="money" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="OPER_STATUS_ID" jdbcType="VARCHAR" property="operStatusId" />
    <result column="OPER_STATUS_NAME" jdbcType="VARCHAR" property="operStatusName" />
    <result column="PROVIDE_ORG" jdbcType="VARCHAR" property="provideOrg" />
    <result column="PROVIDE_DATE_TIME" jdbcType="VARCHAR" property="provideDateTime" />
    <result column="REALITY_TYPE_ID" jdbcType="VARCHAR" property="realityTypeId" />
    <result column="REALITY_TYPE_NAME" jdbcType="VARCHAR" property="realityTypeName" />
    <result column="RECORD_STATUS" jdbcType="VARCHAR" property="recordStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_USER_FLOW" jdbcType="VARCHAR" property="createUserFlow" />
    <result column="MODIFY_TIME" jdbcType="VARCHAR" property="modifyTime" />
    <result column="MODIFY_USER_FLOW" jdbcType="VARCHAR" property="modifyUserFlow" />
    <result column="FUND_OPERATOR" jdbcType="VARCHAR" property="fundOperator" />
    <result column="FUND_RETYPE" jdbcType="VARCHAR" property="fundRetype" />
    <result column="REALMONEY" jdbcType="DECIMAL" property="realmoney" />
    <result column="FUND_FORM_NUM" jdbcType="DECIMAL" property="fundFormNum" />
    <result column="FUND_FORM_FLOW" jdbcType="VARCHAR" property="fundFormFlow" />
    <result column="REIMBURSE_ID" jdbcType="VARCHAR" property="reimburseId" />
    <result column="REIMBURSE_NAME" jdbcType="VARCHAR" property="reimburseName" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="ITEM_ID" jdbcType="VARCHAR" property="itemId" />
    <result column="ITEM_NAME" jdbcType="VARCHAR" property="itemName" />
    <result column="ITEM_PID" jdbcType="VARCHAR" property="itemPid" />
    <result column="MAX_LIMIT" jdbcType="VARCHAR" property="maxLimit" />
    <result column="ALLOCATE_MONEY" jdbcType="DECIMAL" property="allocateMoney" />
    <result column="MATCHING_MONEY" jdbcType="DECIMAL" property="matchingMoney" />
    <result column="ITEM_PNAME" jdbcType="VARCHAR" property="itemPname" />
    <result column="FUND_SOURCE_ID" jdbcType="VARCHAR" property="fundSourceId" />
    <result column="FUND_SOURCE_NAME" jdbcType="VARCHAR" property="fundSourceName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    FUND_DETAIL_FLOW, FUND_FLOW, ITEM_FLOW, FUND_TYPE_ID, FUND_TYPE_NAME, MONEY, CONTENT, 
    OPER_STATUS_ID, OPER_STATUS_NAME, PROVIDE_ORG, PROVIDE_DATE_TIME, REALITY_TYPE_ID, 
    REALITY_TYPE_NAME, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
    FUND_OPERATOR, FUND_RETYPE, REALMONEY, FUND_FORM_NUM, FUND_FORM_FLOW, REIMBURSE_ID, 
    REIMBURSE_NAME, REMARK, ITEM_ID, ITEM_NAME, ITEM_PID, MAX_LIMIT, ALLOCATE_MONEY, 
    MATCHING_MONEY, ITEM_PNAME, FUND_SOURCE_ID, FUND_SOURCE_NAME
  </sql>
  <select id="selectByExample" parameterType="com.pinde.sci.model.mo.SrmProjFundDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.SRM_PROJ_FUND_DETAIL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PDSCI.SRM_PROJ_FUND_DETAIL
    where FUND_DETAIL_FLOW = #{fundDetailFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PDSCI.SRM_PROJ_FUND_DETAIL
    where FUND_DETAIL_FLOW = #{fundDetailFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SrmProjFundDetailExample">
    delete from PDSCI.SRM_PROJ_FUND_DETAIL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SrmProjFundDetail">
    insert into PDSCI.SRM_PROJ_FUND_DETAIL (FUND_DETAIL_FLOW, FUND_FLOW, ITEM_FLOW, 
      FUND_TYPE_ID, FUND_TYPE_NAME, MONEY, 
      CONTENT, OPER_STATUS_ID, OPER_STATUS_NAME, 
      PROVIDE_ORG, PROVIDE_DATE_TIME, REALITY_TYPE_ID, 
      REALITY_TYPE_NAME, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, 
      FUND_OPERATOR, FUND_RETYPE, REALMONEY, 
      FUND_FORM_NUM, FUND_FORM_FLOW, REIMBURSE_ID, 
      REIMBURSE_NAME, REMARK, ITEM_ID, 
      ITEM_NAME, ITEM_PID, MAX_LIMIT, 
      ALLOCATE_MONEY, MATCHING_MONEY, ITEM_PNAME, 
      FUND_SOURCE_ID, FUND_SOURCE_NAME)
    values (#{fundDetailFlow,jdbcType=VARCHAR}, #{fundFlow,jdbcType=VARCHAR}, #{itemFlow,jdbcType=VARCHAR}, 
      #{fundTypeId,jdbcType=VARCHAR}, #{fundTypeName,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, 
      #{content,jdbcType=VARCHAR}, #{operStatusId,jdbcType=VARCHAR}, #{operStatusName,jdbcType=VARCHAR}, 
      #{provideOrg,jdbcType=VARCHAR}, #{provideDateTime,jdbcType=VARCHAR}, #{realityTypeId,jdbcType=VARCHAR}, 
      #{realityTypeName,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, 
      #{fundOperator,jdbcType=VARCHAR}, #{fundRetype,jdbcType=VARCHAR}, #{realmoney,jdbcType=DECIMAL}, 
      #{fundFormNum,jdbcType=DECIMAL}, #{fundFormFlow,jdbcType=VARCHAR}, #{reimburseId,jdbcType=VARCHAR}, 
      #{reimburseName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{itemId,jdbcType=VARCHAR}, 
      #{itemName,jdbcType=VARCHAR}, #{itemPid,jdbcType=VARCHAR}, #{maxLimit,jdbcType=VARCHAR}, 
      #{allocateMoney,jdbcType=DECIMAL}, #{matchingMoney,jdbcType=DECIMAL}, #{itemPname,jdbcType=VARCHAR}, 
      #{fundSourceId,jdbcType=VARCHAR}, #{fundSourceName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SrmProjFundDetail">
    insert into PDSCI.SRM_PROJ_FUND_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fundDetailFlow != null">
        FUND_DETAIL_FLOW,
      </if>
      <if test="fundFlow != null">
        FUND_FLOW,
      </if>
      <if test="itemFlow != null">
        ITEM_FLOW,
      </if>
      <if test="fundTypeId != null">
        FUND_TYPE_ID,
      </if>
      <if test="fundTypeName != null">
        FUND_TYPE_NAME,
      </if>
      <if test="money != null">
        MONEY,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="operStatusId != null">
        OPER_STATUS_ID,
      </if>
      <if test="operStatusName != null">
        OPER_STATUS_NAME,
      </if>
      <if test="provideOrg != null">
        PROVIDE_ORG,
      </if>
      <if test="provideDateTime != null">
        PROVIDE_DATE_TIME,
      </if>
      <if test="realityTypeId != null">
        REALITY_TYPE_ID,
      </if>
      <if test="realityTypeName != null">
        REALITY_TYPE_NAME,
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW,
      </if>
      <if test="fundOperator != null">
        FUND_OPERATOR,
      </if>
      <if test="fundRetype != null">
        FUND_RETYPE,
      </if>
      <if test="realmoney != null">
        REALMONEY,
      </if>
      <if test="fundFormNum != null">
        FUND_FORM_NUM,
      </if>
      <if test="fundFormFlow != null">
        FUND_FORM_FLOW,
      </if>
      <if test="reimburseId != null">
        REIMBURSE_ID,
      </if>
      <if test="reimburseName != null">
        REIMBURSE_NAME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="itemId != null">
        ITEM_ID,
      </if>
      <if test="itemName != null">
        ITEM_NAME,
      </if>
      <if test="itemPid != null">
        ITEM_PID,
      </if>
      <if test="maxLimit != null">
        MAX_LIMIT,
      </if>
      <if test="allocateMoney != null">
        ALLOCATE_MONEY,
      </if>
      <if test="matchingMoney != null">
        MATCHING_MONEY,
      </if>
      <if test="itemPname != null">
        ITEM_PNAME,
      </if>
      <if test="fundSourceId != null">
        FUND_SOURCE_ID,
      </if>
      <if test="fundSourceName != null">
        FUND_SOURCE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fundDetailFlow != null">
        #{fundDetailFlow,jdbcType=VARCHAR},
      </if>
      <if test="fundFlow != null">
        #{fundFlow,jdbcType=VARCHAR},
      </if>
      <if test="itemFlow != null">
        #{itemFlow,jdbcType=VARCHAR},
      </if>
      <if test="fundTypeId != null">
        #{fundTypeId,jdbcType=VARCHAR},
      </if>
      <if test="fundTypeName != null">
        #{fundTypeName,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="operStatusId != null">
        #{operStatusId,jdbcType=VARCHAR},
      </if>
      <if test="operStatusName != null">
        #{operStatusName,jdbcType=VARCHAR},
      </if>
      <if test="provideOrg != null">
        #{provideOrg,jdbcType=VARCHAR},
      </if>
      <if test="provideDateTime != null">
        #{provideDateTime,jdbcType=VARCHAR},
      </if>
      <if test="realityTypeId != null">
        #{realityTypeId,jdbcType=VARCHAR},
      </if>
      <if test="realityTypeName != null">
        #{realityTypeName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="fundOperator != null">
        #{fundOperator,jdbcType=VARCHAR},
      </if>
      <if test="fundRetype != null">
        #{fundRetype,jdbcType=VARCHAR},
      </if>
      <if test="realmoney != null">
        #{realmoney,jdbcType=DECIMAL},
      </if>
      <if test="fundFormNum != null">
        #{fundFormNum,jdbcType=DECIMAL},
      </if>
      <if test="fundFormFlow != null">
        #{fundFormFlow,jdbcType=VARCHAR},
      </if>
      <if test="reimburseId != null">
        #{reimburseId,jdbcType=VARCHAR},
      </if>
      <if test="reimburseName != null">
        #{reimburseName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemPid != null">
        #{itemPid,jdbcType=VARCHAR},
      </if>
      <if test="maxLimit != null">
        #{maxLimit,jdbcType=VARCHAR},
      </if>
      <if test="allocateMoney != null">
        #{allocateMoney,jdbcType=DECIMAL},
      </if>
      <if test="matchingMoney != null">
        #{matchingMoney,jdbcType=DECIMAL},
      </if>
      <if test="itemPname != null">
        #{itemPname,jdbcType=VARCHAR},
      </if>
      <if test="fundSourceId != null">
        #{fundSourceId,jdbcType=VARCHAR},
      </if>
      <if test="fundSourceName != null">
        #{fundSourceName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SrmProjFundDetailExample" resultType="java.lang.Integer">
    select count(*) from PDSCI.SRM_PROJ_FUND_DETAIL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PDSCI.SRM_PROJ_FUND_DETAIL
    <set>
      <if test="record.fundDetailFlow != null">
        FUND_DETAIL_FLOW = #{record.fundDetailFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.fundFlow != null">
        FUND_FLOW = #{record.fundFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.itemFlow != null">
        ITEM_FLOW = #{record.itemFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.fundTypeId != null">
        FUND_TYPE_ID = #{record.fundTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.fundTypeName != null">
        FUND_TYPE_NAME = #{record.fundTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null">
        MONEY = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.content != null">
        CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.operStatusId != null">
        OPER_STATUS_ID = #{record.operStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.operStatusName != null">
        OPER_STATUS_NAME = #{record.operStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.provideOrg != null">
        PROVIDE_ORG = #{record.provideOrg,jdbcType=VARCHAR},
      </if>
      <if test="record.provideDateTime != null">
        PROVIDE_DATE_TIME = #{record.provideDateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.realityTypeId != null">
        REALITY_TYPE_ID = #{record.realityTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.realityTypeName != null">
        REALITY_TYPE_NAME = #{record.realityTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null">
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null">
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null">
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.fundOperator != null">
        FUND_OPERATOR = #{record.fundOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.fundRetype != null">
        FUND_RETYPE = #{record.fundRetype,jdbcType=VARCHAR},
      </if>
      <if test="record.realmoney != null">
        REALMONEY = #{record.realmoney,jdbcType=DECIMAL},
      </if>
      <if test="record.fundFormNum != null">
        FUND_FORM_NUM = #{record.fundFormNum,jdbcType=DECIMAL},
      </if>
      <if test="record.fundFormFlow != null">
        FUND_FORM_FLOW = #{record.fundFormFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.reimburseId != null">
        REIMBURSE_ID = #{record.reimburseId,jdbcType=VARCHAR},
      </if>
      <if test="record.reimburseName != null">
        REIMBURSE_NAME = #{record.reimburseName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.itemId != null">
        ITEM_ID = #{record.itemId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null">
        ITEM_NAME = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.itemPid != null">
        ITEM_PID = #{record.itemPid,jdbcType=VARCHAR},
      </if>
      <if test="record.maxLimit != null">
        MAX_LIMIT = #{record.maxLimit,jdbcType=VARCHAR},
      </if>
      <if test="record.allocateMoney != null">
        ALLOCATE_MONEY = #{record.allocateMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.matchingMoney != null">
        MATCHING_MONEY = #{record.matchingMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.itemPname != null">
        ITEM_PNAME = #{record.itemPname,jdbcType=VARCHAR},
      </if>
      <if test="record.fundSourceId != null">
        FUND_SOURCE_ID = #{record.fundSourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.fundSourceName != null">
        FUND_SOURCE_NAME = #{record.fundSourceName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PDSCI.SRM_PROJ_FUND_DETAIL
    set FUND_DETAIL_FLOW = #{record.fundDetailFlow,jdbcType=VARCHAR},
      FUND_FLOW = #{record.fundFlow,jdbcType=VARCHAR},
      ITEM_FLOW = #{record.itemFlow,jdbcType=VARCHAR},
      FUND_TYPE_ID = #{record.fundTypeId,jdbcType=VARCHAR},
      FUND_TYPE_NAME = #{record.fundTypeName,jdbcType=VARCHAR},
      MONEY = #{record.money,jdbcType=DECIMAL},
      CONTENT = #{record.content,jdbcType=VARCHAR},
      OPER_STATUS_ID = #{record.operStatusId,jdbcType=VARCHAR},
      OPER_STATUS_NAME = #{record.operStatusName,jdbcType=VARCHAR},
      PROVIDE_ORG = #{record.provideOrg,jdbcType=VARCHAR},
      PROVIDE_DATE_TIME = #{record.provideDateTime,jdbcType=VARCHAR},
      REALITY_TYPE_ID = #{record.realityTypeId,jdbcType=VARCHAR},
      REALITY_TYPE_NAME = #{record.realityTypeName,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      FUND_OPERATOR = #{record.fundOperator,jdbcType=VARCHAR},
      FUND_RETYPE = #{record.fundRetype,jdbcType=VARCHAR},
      REALMONEY = #{record.realmoney,jdbcType=DECIMAL},
      FUND_FORM_NUM = #{record.fundFormNum,jdbcType=DECIMAL},
      FUND_FORM_FLOW = #{record.fundFormFlow,jdbcType=VARCHAR},
      REIMBURSE_ID = #{record.reimburseId,jdbcType=VARCHAR},
      REIMBURSE_NAME = #{record.reimburseName,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      ITEM_ID = #{record.itemId,jdbcType=VARCHAR},
      ITEM_NAME = #{record.itemName,jdbcType=VARCHAR},
      ITEM_PID = #{record.itemPid,jdbcType=VARCHAR},
      MAX_LIMIT = #{record.maxLimit,jdbcType=VARCHAR},
      ALLOCATE_MONEY = #{record.allocateMoney,jdbcType=DECIMAL},
      MATCHING_MONEY = #{record.matchingMoney,jdbcType=DECIMAL},
      ITEM_PNAME = #{record.itemPname,jdbcType=VARCHAR},
      FUND_SOURCE_ID = #{record.fundSourceId,jdbcType=VARCHAR},
      FUND_SOURCE_NAME = #{record.fundSourceName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SrmProjFundDetail">
    update PDSCI.SRM_PROJ_FUND_DETAIL
    <set>
      <if test="fundFlow != null">
        FUND_FLOW = #{fundFlow,jdbcType=VARCHAR},
      </if>
      <if test="itemFlow != null">
        ITEM_FLOW = #{itemFlow,jdbcType=VARCHAR},
      </if>
      <if test="fundTypeId != null">
        FUND_TYPE_ID = #{fundTypeId,jdbcType=VARCHAR},
      </if>
      <if test="fundTypeName != null">
        FUND_TYPE_NAME = #{fundTypeName,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        MONEY = #{money,jdbcType=DECIMAL},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="operStatusId != null">
        OPER_STATUS_ID = #{operStatusId,jdbcType=VARCHAR},
      </if>
      <if test="operStatusName != null">
        OPER_STATUS_NAME = #{operStatusName,jdbcType=VARCHAR},
      </if>
      <if test="provideOrg != null">
        PROVIDE_ORG = #{provideOrg,jdbcType=VARCHAR},
      </if>
      <if test="provideDateTime != null">
        PROVIDE_DATE_TIME = #{provideDateTime,jdbcType=VARCHAR},
      </if>
      <if test="realityTypeId != null">
        REALITY_TYPE_ID = #{realityTypeId,jdbcType=VARCHAR},
      </if>
      <if test="realityTypeName != null">
        REALITY_TYPE_NAME = #{realityTypeName,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null">
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null">
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null">
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="fundOperator != null">
        FUND_OPERATOR = #{fundOperator,jdbcType=VARCHAR},
      </if>
      <if test="fundRetype != null">
        FUND_RETYPE = #{fundRetype,jdbcType=VARCHAR},
      </if>
      <if test="realmoney != null">
        REALMONEY = #{realmoney,jdbcType=DECIMAL},
      </if>
      <if test="fundFormNum != null">
        FUND_FORM_NUM = #{fundFormNum,jdbcType=DECIMAL},
      </if>
      <if test="fundFormFlow != null">
        FUND_FORM_FLOW = #{fundFormFlow,jdbcType=VARCHAR},
      </if>
      <if test="reimburseId != null">
        REIMBURSE_ID = #{reimburseId,jdbcType=VARCHAR},
      </if>
      <if test="reimburseName != null">
        REIMBURSE_NAME = #{reimburseName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
        ITEM_ID = #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemPid != null">
        ITEM_PID = #{itemPid,jdbcType=VARCHAR},
      </if>
      <if test="maxLimit != null">
        MAX_LIMIT = #{maxLimit,jdbcType=VARCHAR},
      </if>
      <if test="allocateMoney != null">
        ALLOCATE_MONEY = #{allocateMoney,jdbcType=DECIMAL},
      </if>
      <if test="matchingMoney != null">
        MATCHING_MONEY = #{matchingMoney,jdbcType=DECIMAL},
      </if>
      <if test="itemPname != null">
        ITEM_PNAME = #{itemPname,jdbcType=VARCHAR},
      </if>
      <if test="fundSourceId != null">
        FUND_SOURCE_ID = #{fundSourceId,jdbcType=VARCHAR},
      </if>
      <if test="fundSourceName != null">
        FUND_SOURCE_NAME = #{fundSourceName,jdbcType=VARCHAR},
      </if>
    </set>
    where FUND_DETAIL_FLOW = #{fundDetailFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SrmProjFundDetail">
    update PDSCI.SRM_PROJ_FUND_DETAIL
    set FUND_FLOW = #{fundFlow,jdbcType=VARCHAR},
      ITEM_FLOW = #{itemFlow,jdbcType=VARCHAR},
      FUND_TYPE_ID = #{fundTypeId,jdbcType=VARCHAR},
      FUND_TYPE_NAME = #{fundTypeName,jdbcType=VARCHAR},
      MONEY = #{money,jdbcType=DECIMAL},
      CONTENT = #{content,jdbcType=VARCHAR},
      OPER_STATUS_ID = #{operStatusId,jdbcType=VARCHAR},
      OPER_STATUS_NAME = #{operStatusName,jdbcType=VARCHAR},
      PROVIDE_ORG = #{provideOrg,jdbcType=VARCHAR},
      PROVIDE_DATE_TIME = #{provideDateTime,jdbcType=VARCHAR},
      REALITY_TYPE_ID = #{realityTypeId,jdbcType=VARCHAR},
      REALITY_TYPE_NAME = #{realityTypeName,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      FUND_OPERATOR = #{fundOperator,jdbcType=VARCHAR},
      FUND_RETYPE = #{fundRetype,jdbcType=VARCHAR},
      REALMONEY = #{realmoney,jdbcType=DECIMAL},
      FUND_FORM_NUM = #{fundFormNum,jdbcType=DECIMAL},
      FUND_FORM_FLOW = #{fundFormFlow,jdbcType=VARCHAR},
      REIMBURSE_ID = #{reimburseId,jdbcType=VARCHAR},
      REIMBURSE_NAME = #{reimburseName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      ITEM_ID = #{itemId,jdbcType=VARCHAR},
      ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      ITEM_PID = #{itemPid,jdbcType=VARCHAR},
      MAX_LIMIT = #{maxLimit,jdbcType=VARCHAR},
      ALLOCATE_MONEY = #{allocateMoney,jdbcType=DECIMAL},
      MATCHING_MONEY = #{matchingMoney,jdbcType=DECIMAL},
      ITEM_PNAME = #{itemPname,jdbcType=VARCHAR},
      FUND_SOURCE_ID = #{fundSourceId,jdbcType=VARCHAR},
      FUND_SOURCE_NAME = #{fundSourceName,jdbcType=VARCHAR}
    where FUND_DETAIL_FLOW = #{fundDetailFlow,jdbcType=VARCHAR}
  </update>
</mapper>