<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.SysDeptMonthPlanMapper" >
    <resultMap id="BaseResultMap" type="com.pinde.core.model.SysDeptMonthPlan">
    <id column="PLAN_FLOW" property="planFlow" jdbcType="VARCHAR" />
    <result column="DEPT_FLOW" property="deptFlow" jdbcType="VARCHAR" />
    <result column="PLAN_DATE" property="planDate" jdbcType="VARCHAR" />
    <result column="PLAN_TYPE_ID" property="planTypeId" jdbcType="VARCHAR" />
    <result column="PLAN_TYPE_NAME" property="planTypeName" jdbcType="VARCHAR" />
    <result column="PLAN_DEMO" property="planDemo" jdbcType="VARCHAR" />
    <result column="AUDIT_STATUS_ID" property="auditStatusId" jdbcType="VARCHAR" />
    <result column="AUDIT_STATUS_NAME" property="auditStatusName" jdbcType="VARCHAR" />
    <result column="AUDIT_USER_FLOW" property="auditUserFlow" jdbcType="VARCHAR" />
    <result column="IS_REPORT" property="isReport" jdbcType="VARCHAR" />
    <result column="THEORY_EXAM_TIME" property="theoryExamTime" jdbcType="VARCHAR" />
    <result column="SKILL_EXAM_TIME" property="skillExamTime" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
    <result column="AUDIT_REASON" property="auditReason" jdbcType="VARCHAR" />
    <result column="SKILL_OR_THEORY" property="skillOrTheory" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PLAN_FLOW, DEPT_FLOW, PLAN_DATE, PLAN_TYPE_ID, PLAN_TYPE_NAME, PLAN_DEMO, AUDIT_STATUS_ID, 
    AUDIT_STATUS_NAME, AUDIT_USER_FLOW, IS_REPORT, THEORY_EXAM_TIME, SKILL_EXAM_TIME, 
    RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW, AUDIT_REASON, 
    SKILL_OR_THEORY
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.core.model.SysDeptMonthPlanExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
      from SYS_DEPT_MONTH_PLAN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from SYS_DEPT_MONTH_PLAN
    where PLAN_FLOW = #{planFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from SYS_DEPT_MONTH_PLAN
    where PLAN_FLOW = #{planFlow,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.pinde.core.model.SysDeptMonthPlanExample">
      delete from SYS_DEPT_MONTH_PLAN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
    <insert id="insert" parameterType="com.pinde.core.model.SysDeptMonthPlan">
      insert into SYS_DEPT_MONTH_PLAN (PLAN_FLOW, DEPT_FLOW, PLAN_DATE,
      PLAN_TYPE_ID, PLAN_TYPE_NAME, PLAN_DEMO, 
      AUDIT_STATUS_ID, AUDIT_STATUS_NAME, AUDIT_USER_FLOW, 
      IS_REPORT, THEORY_EXAM_TIME, SKILL_EXAM_TIME, 
      RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
      MODIFY_TIME, MODIFY_USER_FLOW, AUDIT_REASON, 
      SKILL_OR_THEORY)
    values (#{planFlow,jdbcType=VARCHAR}, #{deptFlow,jdbcType=VARCHAR}, #{planDate,jdbcType=VARCHAR}, 
      #{planTypeId,jdbcType=VARCHAR}, #{planTypeName,jdbcType=VARCHAR}, #{planDemo,jdbcType=VARCHAR}, 
      #{auditStatusId,jdbcType=VARCHAR}, #{auditStatusName,jdbcType=VARCHAR}, #{auditUserFlow,jdbcType=VARCHAR}, 
      #{isReport,jdbcType=VARCHAR}, #{theoryExamTime,jdbcType=VARCHAR}, #{skillExamTime,jdbcType=VARCHAR}, 
      #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}, #{auditReason,jdbcType=VARCHAR}, 
      #{skillOrTheory,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.pinde.core.model.SysDeptMonthPlan">
      insert into SYS_DEPT_MONTH_PLAN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="planFlow != null" >
        PLAN_FLOW,
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW,
      </if>
      <if test="planDate != null" >
        PLAN_DATE,
      </if>
      <if test="planTypeId != null" >
        PLAN_TYPE_ID,
      </if>
      <if test="planTypeName != null" >
        PLAN_TYPE_NAME,
      </if>
      <if test="planDemo != null" >
        PLAN_DEMO,
      </if>
      <if test="auditStatusId != null" >
        AUDIT_STATUS_ID,
      </if>
      <if test="auditStatusName != null" >
        AUDIT_STATUS_NAME,
      </if>
      <if test="auditUserFlow != null" >
        AUDIT_USER_FLOW,
      </if>
      <if test="isReport != null" >
        IS_REPORT,
      </if>
      <if test="theoryExamTime != null" >
        THEORY_EXAM_TIME,
      </if>
      <if test="skillExamTime != null" >
        SKILL_EXAM_TIME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
      <if test="auditReason != null" >
        AUDIT_REASON,
      </if>
      <if test="skillOrTheory != null" >
        SKILL_OR_THEORY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="planFlow != null" >
        #{planFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="planDate != null" >
        #{planDate,jdbcType=VARCHAR},
      </if>
      <if test="planTypeId != null" >
        #{planTypeId,jdbcType=VARCHAR},
      </if>
      <if test="planTypeName != null" >
        #{planTypeName,jdbcType=VARCHAR},
      </if>
      <if test="planDemo != null" >
        #{planDemo,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusId != null" >
        #{auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusName != null" >
        #{auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="auditUserFlow != null" >
        #{auditUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="isReport != null" >
        #{isReport,jdbcType=VARCHAR},
      </if>
      <if test="theoryExamTime != null" >
        #{theoryExamTime,jdbcType=VARCHAR},
      </if>
      <if test="skillExamTime != null" >
        #{skillExamTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="auditReason != null" >
        #{auditReason,jdbcType=VARCHAR},
      </if>
      <if test="skillOrTheory != null" >
        #{skillOrTheory,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.pinde.core.model.SysDeptMonthPlanExample"
            resultType="java.lang.Integer">
      select count(*) from SYS_DEPT_MONTH_PLAN
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update SYS_DEPT_MONTH_PLAN
    <set >
      <if test="record.planFlow != null" >
        PLAN_FLOW = #{record.planFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null" >
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.planDate != null" >
        PLAN_DATE = #{record.planDate,jdbcType=VARCHAR},
      </if>
      <if test="record.planTypeId != null" >
        PLAN_TYPE_ID = #{record.planTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.planTypeName != null" >
        PLAN_TYPE_NAME = #{record.planTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.planDemo != null" >
        PLAN_DEMO = #{record.planDemo,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatusId != null" >
        AUDIT_STATUS_ID = #{record.auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="record.auditStatusName != null" >
        AUDIT_STATUS_NAME = #{record.auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.auditUserFlow != null" >
        AUDIT_USER_FLOW = #{record.auditUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.isReport != null" >
        IS_REPORT = #{record.isReport,jdbcType=VARCHAR},
      </if>
      <if test="record.theoryExamTime != null" >
        THEORY_EXAM_TIME = #{record.theoryExamTime,jdbcType=VARCHAR},
      </if>
      <if test="record.skillExamTime != null" >
        SKILL_EXAM_TIME = #{record.skillExamTime,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.auditReason != null" >
        AUDIT_REASON = #{record.auditReason,jdbcType=VARCHAR},
      </if>
      <if test="record.skillOrTheory != null" >
        SKILL_OR_THEORY = #{record.skillOrTheory,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update SYS_DEPT_MONTH_PLAN
    set PLAN_FLOW = #{record.planFlow,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      PLAN_DATE = #{record.planDate,jdbcType=VARCHAR},
      PLAN_TYPE_ID = #{record.planTypeId,jdbcType=VARCHAR},
      PLAN_TYPE_NAME = #{record.planTypeName,jdbcType=VARCHAR},
      PLAN_DEMO = #{record.planDemo,jdbcType=VARCHAR},
      AUDIT_STATUS_ID = #{record.auditStatusId,jdbcType=VARCHAR},
      AUDIT_STATUS_NAME = #{record.auditStatusName,jdbcType=VARCHAR},
      AUDIT_USER_FLOW = #{record.auditUserFlow,jdbcType=VARCHAR},
      IS_REPORT = #{record.isReport,jdbcType=VARCHAR},
      THEORY_EXAM_TIME = #{record.theoryExamTime,jdbcType=VARCHAR},
      SKILL_EXAM_TIME = #{record.skillExamTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      AUDIT_REASON = #{record.auditReason,jdbcType=VARCHAR},
      SKILL_OR_THEORY = #{record.skillOrTheory,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pinde.core.model.SysDeptMonthPlan">
      update SYS_DEPT_MONTH_PLAN
    <set >
      <if test="deptFlow != null" >
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="planDate != null" >
        PLAN_DATE = #{planDate,jdbcType=VARCHAR},
      </if>
      <if test="planTypeId != null" >
        PLAN_TYPE_ID = #{planTypeId,jdbcType=VARCHAR},
      </if>
      <if test="planTypeName != null" >
        PLAN_TYPE_NAME = #{planTypeName,jdbcType=VARCHAR},
      </if>
      <if test="planDemo != null" >
        PLAN_DEMO = #{planDemo,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusId != null" >
        AUDIT_STATUS_ID = #{auditStatusId,jdbcType=VARCHAR},
      </if>
      <if test="auditStatusName != null" >
        AUDIT_STATUS_NAME = #{auditStatusName,jdbcType=VARCHAR},
      </if>
      <if test="auditUserFlow != null" >
        AUDIT_USER_FLOW = #{auditUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="isReport != null" >
        IS_REPORT = #{isReport,jdbcType=VARCHAR},
      </if>
      <if test="theoryExamTime != null" >
        THEORY_EXAM_TIME = #{theoryExamTime,jdbcType=VARCHAR},
      </if>
      <if test="skillExamTime != null" >
        SKILL_EXAM_TIME = #{skillExamTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="auditReason != null" >
        AUDIT_REASON = #{auditReason,jdbcType=VARCHAR},
      </if>
      <if test="skillOrTheory != null" >
        SKILL_OR_THEORY = #{skillOrTheory,jdbcType=VARCHAR},
      </if>
    </set>
    where PLAN_FLOW = #{planFlow,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.pinde.core.model.SysDeptMonthPlan">
      update SYS_DEPT_MONTH_PLAN
    set DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      PLAN_DATE = #{planDate,jdbcType=VARCHAR},
      PLAN_TYPE_ID = #{planTypeId,jdbcType=VARCHAR},
      PLAN_TYPE_NAME = #{planTypeName,jdbcType=VARCHAR},
      PLAN_DEMO = #{planDemo,jdbcType=VARCHAR},
      AUDIT_STATUS_ID = #{auditStatusId,jdbcType=VARCHAR},
      AUDIT_STATUS_NAME = #{auditStatusName,jdbcType=VARCHAR},
      AUDIT_USER_FLOW = #{auditUserFlow,jdbcType=VARCHAR},
      IS_REPORT = #{isReport,jdbcType=VARCHAR},
      THEORY_EXAM_TIME = #{theoryExamTime,jdbcType=VARCHAR},
      SKILL_EXAM_TIME = #{skillExamTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      AUDIT_REASON = #{auditReason,jdbcType=VARCHAR},
      SKILL_OR_THEORY = #{skillOrTheory,jdbcType=VARCHAR}
    where PLAN_FLOW = #{planFlow,jdbcType=VARCHAR}
  </update>
</mapper>