<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.SysMonthlyActivityInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.SysMonthlyActivityInfo" >
    <id column="SMRDI_FLOW" property="smrdiFlow" jdbcType="VARCHAR" />
    <result column="DATE_MONTH" property="dateMonth" jdbcType="VARCHAR" />
    <result column="ORG_FLOW" property="orgFlow" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="DEPT_FLOW" property="deptFlow" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="ACTIVITY_TYPE_ID" property="activityTypeId" jdbcType="VARCHAR" />
    <result column="ACTIVITY_TYPE_NAME" property="activityTypeName" jdbcType="VARCHAR" />
    <result column="ACTIVTIY_NUM" property="activtiyNum" jdbcType="DECIMAL" />
    <result column="JOIN_NUM" property="joinNum" jdbcType="DECIMAL" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SMRDI_FLOW, DATE_MONTH, ORG_FLOW, ORG_NAME, DEPT_FLOW, DEPT_NAME, ACTIVITY_TYPE_ID, 
    ACTIVITY_TYPE_NAME, ACTIVTIY_NUM, JOIN_NUM, RECORD_STATUS, CREATE_TIME, CREATE_USER_FLOW, 
    MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.SysMonthlyActivityInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
      from SYS_MONTHLY_ACTIVITY_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
      from SYS_MONTHLY_ACTIVITY_INFO
    where SMRDI_FLOW = #{smrdiFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
      delete from SYS_MONTHLY_ACTIVITY_INFO
    where SMRDI_FLOW = #{smrdiFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.SysMonthlyActivityInfoExample" >
      delete from SYS_MONTHLY_ACTIVITY_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.SysMonthlyActivityInfo" >
      insert into SYS_MONTHLY_ACTIVITY_INFO (SMRDI_FLOW, DATE_MONTH, ORG_FLOW,
      ORG_NAME, DEPT_FLOW, DEPT_NAME, 
      ACTIVITY_TYPE_ID, ACTIVITY_TYPE_NAME, ACTIVTIY_NUM, 
      JOIN_NUM, RECORD_STATUS, CREATE_TIME, 
      CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
      )
    values (#{smrdiFlow,jdbcType=VARCHAR}, #{dateMonth,jdbcType=VARCHAR}, #{orgFlow,jdbcType=VARCHAR}, 
      #{orgName,jdbcType=VARCHAR}, #{deptFlow,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, 
      #{activityTypeId,jdbcType=VARCHAR}, #{activityTypeName,jdbcType=VARCHAR}, #{activtiyNum,jdbcType=DECIMAL}, 
      #{joinNum,jdbcType=DECIMAL}, #{recordStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, 
      #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{modifyUserFlow,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.SysMonthlyActivityInfo" >
      insert into SYS_MONTHLY_ACTIVITY_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="smrdiFlow != null" >
        SMRDI_FLOW,
      </if>
      <if test="dateMonth != null" >
        DATE_MONTH,
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="activityTypeId != null" >
        ACTIVITY_TYPE_ID,
      </if>
      <if test="activityTypeName != null" >
        ACTIVITY_TYPE_NAME,
      </if>
      <if test="activtiyNum != null" >
        ACTIVTIY_NUM,
      </if>
      <if test="joinNum != null" >
        JOIN_NUM,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="smrdiFlow != null" >
        #{smrdiFlow,jdbcType=VARCHAR},
      </if>
      <if test="dateMonth != null" >
        #{dateMonth,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="activityTypeId != null" >
        #{activityTypeId,jdbcType=VARCHAR},
      </if>
      <if test="activityTypeName != null" >
        #{activityTypeName,jdbcType=VARCHAR},
      </if>
      <if test="activtiyNum != null" >
        #{activtiyNum,jdbcType=DECIMAL},
      </if>
      <if test="joinNum != null" >
        #{joinNum,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.SysMonthlyActivityInfoExample" resultType="java.lang.Integer" >
      select count(*) from SYS_MONTHLY_ACTIVITY_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
      update SYS_MONTHLY_ACTIVITY_INFO
    <set >
      <if test="record.smrdiFlow != null" >
        SMRDI_FLOW = #{record.smrdiFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.dateMonth != null" >
        DATE_MONTH = #{record.dateMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.orgFlow != null" >
        ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFlow != null" >
        DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.activityTypeId != null" >
        ACTIVITY_TYPE_ID = #{record.activityTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.activityTypeName != null" >
        ACTIVITY_TYPE_NAME = #{record.activityTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.activtiyNum != null" >
        ACTIVTIY_NUM = #{record.activtiyNum,jdbcType=DECIMAL},
      </if>
      <if test="record.joinNum != null" >
        JOIN_NUM = #{record.joinNum,jdbcType=DECIMAL},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update SYS_MONTHLY_ACTIVITY_INFO
    set SMRDI_FLOW = #{record.smrdiFlow,jdbcType=VARCHAR},
      DATE_MONTH = #{record.dateMonth,jdbcType=VARCHAR},
      ORG_FLOW = #{record.orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{record.deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      ACTIVITY_TYPE_ID = #{record.activityTypeId,jdbcType=VARCHAR},
      ACTIVITY_TYPE_NAME = #{record.activityTypeName,jdbcType=VARCHAR},
      ACTIVTIY_NUM = #{record.activtiyNum,jdbcType=DECIMAL},
      JOIN_NUM = #{record.joinNum,jdbcType=DECIMAL},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.SysMonthlyActivityInfo" >
      update SYS_MONTHLY_ACTIVITY_INFO
    <set >
      <if test="dateMonth != null" >
        DATE_MONTH = #{dateMonth,jdbcType=VARCHAR},
      </if>
      <if test="orgFlow != null" >
        ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="deptFlow != null" >
        DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="activityTypeId != null" >
        ACTIVITY_TYPE_ID = #{activityTypeId,jdbcType=VARCHAR},
      </if>
      <if test="activityTypeName != null" >
        ACTIVITY_TYPE_NAME = #{activityTypeName,jdbcType=VARCHAR},
      </if>
      <if test="activtiyNum != null" >
        ACTIVTIY_NUM = #{activtiyNum,jdbcType=DECIMAL},
      </if>
      <if test="joinNum != null" >
        JOIN_NUM = #{joinNum,jdbcType=DECIMAL},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where SMRDI_FLOW = #{smrdiFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.SysMonthlyActivityInfo" >
      update SYS_MONTHLY_ACTIVITY_INFO
    set DATE_MONTH = #{dateMonth,jdbcType=VARCHAR},
      ORG_FLOW = #{orgFlow,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      DEPT_FLOW = #{deptFlow,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      ACTIVITY_TYPE_ID = #{activityTypeId,jdbcType=VARCHAR},
      ACTIVITY_TYPE_NAME = #{activityTypeName,jdbcType=VARCHAR},
      ACTIVTIY_NUM = #{activtiyNum,jdbcType=DECIMAL},
      JOIN_NUM = #{joinNum,jdbcType=DECIMAL},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where SMRDI_FLOW = #{smrdiFlow,jdbcType=VARCHAR}
  </update>
</mapper>