<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.base.TestPaperMapper" >
  <resultMap id="BaseResultMap" type="com.pinde.sci.model.mo.TestPaper" >
    <id column="PAPER_FLOW" property="paperFlow" jdbcType="VARCHAR" />
    <result column="PAPER_NAME" property="paperName" jdbcType="VARCHAR" />
    <result column="TOTLE_SCORE" property="totleScore" jdbcType="DECIMAL" />
    <result column="PASS_SCORE" property="passScore" jdbcType="DECIMAL" />
    <result column="TEST_TIME" property="testTime" jdbcType="VARCHAR" />
    <result column="PAPER_TYPE_ID" property="paperTypeId" jdbcType="VARCHAR" />
    <result column="PAPER_TYPE_NAME" property="paperTypeName" jdbcType="VARCHAR" />
    <result column="PAPER_USER_FLOW" property="paperUserFlow" jdbcType="VARCHAR" />
    <result column="PAPER_USER_CODE" property="paperUserCode" jdbcType="VARCHAR" />
    <result column="PAPER_USER_NAME" property="paperUserName" jdbcType="VARCHAR" />
    <result column="PAPER_TIME" property="paperTime" jdbcType="VARCHAR" />
    <result column="RECORD_STATUS" property="recordStatus" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_USER_FLOW" property="createUserFlow" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="VARCHAR" />
    <result column="MODIFY_USER_FLOW" property="modifyUserFlow" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PAPER_FLOW, PAPER_NAME, TOTLE_SCORE, PASS_SCORE, TEST_TIME, PAPER_TYPE_ID, PAPER_TYPE_NAME, 
    PAPER_USER_FLOW, PAPER_USER_CODE, PAPER_USER_NAME, PAPER_TIME, RECORD_STATUS, CREATE_TIME, 
    CREATE_USER_FLOW, MODIFY_TIME, MODIFY_USER_FLOW
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pinde.sci.model.mo.TestPaperExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PDSCI.TEST_PAPER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PDSCI.TEST_PAPER
    where PAPER_FLOW = #{paperFlow,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PDSCI.TEST_PAPER
    where PAPER_FLOW = #{paperFlow,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.pinde.sci.model.mo.TestPaperExample" >
    delete from PDSCI.TEST_PAPER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pinde.sci.model.mo.TestPaper" >
    insert into PDSCI.TEST_PAPER (PAPER_FLOW, PAPER_NAME, TOTLE_SCORE, 
      PASS_SCORE, TEST_TIME, PAPER_TYPE_ID, 
      PAPER_TYPE_NAME, PAPER_USER_FLOW, PAPER_USER_CODE, 
      PAPER_USER_NAME, PAPER_TIME, RECORD_STATUS, 
      CREATE_TIME, CREATE_USER_FLOW, MODIFY_TIME, 
      MODIFY_USER_FLOW)
    values (#{paperFlow,jdbcType=VARCHAR}, #{paperName,jdbcType=VARCHAR}, #{totleScore,jdbcType=DECIMAL}, 
      #{passScore,jdbcType=DECIMAL}, #{testTime,jdbcType=VARCHAR}, #{paperTypeId,jdbcType=VARCHAR}, 
      #{paperTypeName,jdbcType=VARCHAR}, #{paperUserFlow,jdbcType=VARCHAR}, #{paperUserCode,jdbcType=VARCHAR}, 
      #{paperUserName,jdbcType=VARCHAR}, #{paperTime,jdbcType=VARCHAR}, #{recordStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createUserFlow,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, 
      #{modifyUserFlow,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pinde.sci.model.mo.TestPaper" >
    insert into PDSCI.TEST_PAPER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paperFlow != null" >
        PAPER_FLOW,
      </if>
      <if test="paperName != null" >
        PAPER_NAME,
      </if>
      <if test="totleScore != null" >
        TOTLE_SCORE,
      </if>
      <if test="passScore != null" >
        PASS_SCORE,
      </if>
      <if test="testTime != null" >
        TEST_TIME,
      </if>
      <if test="paperTypeId != null" >
        PAPER_TYPE_ID,
      </if>
      <if test="paperTypeName != null" >
        PAPER_TYPE_NAME,
      </if>
      <if test="paperUserFlow != null" >
        PAPER_USER_FLOW,
      </if>
      <if test="paperUserCode != null" >
        PAPER_USER_CODE,
      </if>
      <if test="paperUserName != null" >
        PAPER_USER_NAME,
      </if>
      <if test="paperTime != null" >
        PAPER_TIME,
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paperFlow != null" >
        #{paperFlow,jdbcType=VARCHAR},
      </if>
      <if test="paperName != null" >
        #{paperName,jdbcType=VARCHAR},
      </if>
      <if test="totleScore != null" >
        #{totleScore,jdbcType=DECIMAL},
      </if>
      <if test="passScore != null" >
        #{passScore,jdbcType=DECIMAL},
      </if>
      <if test="testTime != null" >
        #{testTime,jdbcType=VARCHAR},
      </if>
      <if test="paperTypeId != null" >
        #{paperTypeId,jdbcType=VARCHAR},
      </if>
      <if test="paperTypeName != null" >
        #{paperTypeName,jdbcType=VARCHAR},
      </if>
      <if test="paperUserFlow != null" >
        #{paperUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="paperUserCode != null" >
        #{paperUserCode,jdbcType=VARCHAR},
      </if>
      <if test="paperUserName != null" >
        #{paperUserName,jdbcType=VARCHAR},
      </if>
      <if test="paperTime != null" >
        #{paperTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pinde.sci.model.mo.TestPaperExample" resultType="java.lang.Integer" >
    select count(*) from PDSCI.TEST_PAPER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PDSCI.TEST_PAPER
    <set >
      <if test="record.paperFlow != null" >
        PAPER_FLOW = #{record.paperFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.paperName != null" >
        PAPER_NAME = #{record.paperName,jdbcType=VARCHAR},
      </if>
      <if test="record.totleScore != null" >
        TOTLE_SCORE = #{record.totleScore,jdbcType=DECIMAL},
      </if>
      <if test="record.passScore != null" >
        PASS_SCORE = #{record.passScore,jdbcType=DECIMAL},
      </if>
      <if test="record.testTime != null" >
        TEST_TIME = #{record.testTime,jdbcType=VARCHAR},
      </if>
      <if test="record.paperTypeId != null" >
        PAPER_TYPE_ID = #{record.paperTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.paperTypeName != null" >
        PAPER_TYPE_NAME = #{record.paperTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.paperUserFlow != null" >
        PAPER_USER_FLOW = #{record.paperUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.paperUserCode != null" >
        PAPER_USER_CODE = #{record.paperUserCode,jdbcType=VARCHAR},
      </if>
      <if test="record.paperUserName != null" >
        PAPER_USER_NAME = #{record.paperUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.paperTime != null" >
        PAPER_TIME = #{record.paperTime,jdbcType=VARCHAR},
      </if>
      <if test="record.recordStatus != null" >
        RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserFlow != null" >
        CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PDSCI.TEST_PAPER
    set PAPER_FLOW = #{record.paperFlow,jdbcType=VARCHAR},
      PAPER_NAME = #{record.paperName,jdbcType=VARCHAR},
      TOTLE_SCORE = #{record.totleScore,jdbcType=DECIMAL},
      PASS_SCORE = #{record.passScore,jdbcType=DECIMAL},
      TEST_TIME = #{record.testTime,jdbcType=VARCHAR},
      PAPER_TYPE_ID = #{record.paperTypeId,jdbcType=VARCHAR},
      PAPER_TYPE_NAME = #{record.paperTypeName,jdbcType=VARCHAR},
      PAPER_USER_FLOW = #{record.paperUserFlow,jdbcType=VARCHAR},
      PAPER_USER_CODE = #{record.paperUserCode,jdbcType=VARCHAR},
      PAPER_USER_NAME = #{record.paperUserName,jdbcType=VARCHAR},
      PAPER_TIME = #{record.paperTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{record.recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{record.createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{record.modifyUserFlow,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinde.sci.model.mo.TestPaper" >
    update PDSCI.TEST_PAPER
    <set >
      <if test="paperName != null" >
        PAPER_NAME = #{paperName,jdbcType=VARCHAR},
      </if>
      <if test="totleScore != null" >
        TOTLE_SCORE = #{totleScore,jdbcType=DECIMAL},
      </if>
      <if test="passScore != null" >
        PASS_SCORE = #{passScore,jdbcType=DECIMAL},
      </if>
      <if test="testTime != null" >
        TEST_TIME = #{testTime,jdbcType=VARCHAR},
      </if>
      <if test="paperTypeId != null" >
        PAPER_TYPE_ID = #{paperTypeId,jdbcType=VARCHAR},
      </if>
      <if test="paperTypeName != null" >
        PAPER_TYPE_NAME = #{paperTypeName,jdbcType=VARCHAR},
      </if>
      <if test="paperUserFlow != null" >
        PAPER_USER_FLOW = #{paperUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="paperUserCode != null" >
        PAPER_USER_CODE = #{paperUserCode,jdbcType=VARCHAR},
      </if>
      <if test="paperUserName != null" >
        PAPER_USER_NAME = #{paperUserName,jdbcType=VARCHAR},
      </if>
      <if test="paperTime != null" >
        PAPER_TIME = #{paperTime,jdbcType=VARCHAR},
      </if>
      <if test="recordStatus != null" >
        RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createUserFlow != null" >
        CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserFlow != null" >
        MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR},
      </if>
    </set>
    where PAPER_FLOW = #{paperFlow,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinde.sci.model.mo.TestPaper" >
    update PDSCI.TEST_PAPER
    set PAPER_NAME = #{paperName,jdbcType=VARCHAR},
      TOTLE_SCORE = #{totleScore,jdbcType=DECIMAL},
      PASS_SCORE = #{passScore,jdbcType=DECIMAL},
      TEST_TIME = #{testTime,jdbcType=VARCHAR},
      PAPER_TYPE_ID = #{paperTypeId,jdbcType=VARCHAR},
      PAPER_TYPE_NAME = #{paperTypeName,jdbcType=VARCHAR},
      PAPER_USER_FLOW = #{paperUserFlow,jdbcType=VARCHAR},
      PAPER_USER_CODE = #{paperUserCode,jdbcType=VARCHAR},
      PAPER_USER_NAME = #{paperUserName,jdbcType=VARCHAR},
      PAPER_TIME = #{paperTime,jdbcType=VARCHAR},
      RECORD_STATUS = #{recordStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_USER_FLOW = #{createUserFlow,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
      MODIFY_USER_FLOW = #{modifyUserFlow,jdbcType=VARCHAR}
    where PAPER_FLOW = #{paperFlow,jdbcType=VARCHAR}
  </update>
</mapper>