@charset "utf-8";
/* CSS Document */

body,html,ul,li,table,tr,td,th,a,span,h1,h2,div,caption{
	margin:0;
	padding:0;
}
*{
	padding:0;
	margin:0 auto;
}
body,html{
	height:100%;
	width:100%;
	font-size:13px;
	overflow:auto;
	font-family:'微软雅黑';
	text-algin: center;
}
table{
	border-collapse:collapse;
	font-size:13px;
}
img{
	border:0;
	vertical-align:middle;
}
a{
	text-decoration:none;
	border:0;
}
/*login*/
.loginbg{
	background:url(../images/loginbarbg.png) repeat-x center;
	background-color:#eef9ff;
	height:100%;
	width:100%;
	position:absolute;
}
.loginbar{
	background:url(../images/loginbar.jpg) no-repeat center;
	height:100%;
	width:100%;
	position:absolute;
}
.mainlogin{
	position:absolute;
	left:50%;
	top:50%;
	width:594px;
	margin-left:38px;
	margin-top:-136px;
}
.leftlogin{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-411px;
	margin-top:-173px;
}
.logintb{
	width:412px;
	color:#444444;
	font-size:16px;
}
.lefttb{
	width:450px;
}
.logintb_td img{
	padding-left:20px;
}
.phone{
	height:48px;
	padding-left:10px;
}
.phone span{
	color:#737373;
	font-size:13px;
}

#list li{float:left; margin:0 3px;}
#list li span.img{display:none;}
#list li a:hover{position:relative;}
#list li a:hover span.img{display:block;position:absolute;top:-125px;left:-30px;}
	
.loginsr{
	border:0;
	background:none;
	height:30px;
	line-height:30px;
	color:#676767;
	font-size:14px;
	margin-left:10px;
	font-family:'微软雅黑';
}

/*loginbtn*/
.btn_y,.btn_b{
	width:127px;
	height:40px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
	font-family:'微软雅黑';
}
.btn_y{
	border:1px solid #b36800;
	background:#dc7801;
	background:-webkit-gradient(linear, left top, left bottom, from(#ffd32a), to(#dc7801));/*google*/
	background:-moz-linear-gradient(top,  #ffd32a,  #dc7801);/*火狐*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd32a', endColorstr='#dc7801'); /* for IE */  
	background:-ms-linear-gradient(top, #ffd32a, #dc7801);/*IE10*/
	color:#913000;
}
.btn_b{
	border:1px solid #006fb7;
	background:#066ca7;
	background:-webkit-gradient(linear, left top, left bottom, from(#21a6ff), to(#066ca7));
	/*google*/
	background:-moz-linear-gradient(top,  #21a6ff,  #066ca7);/*火狐*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#21a6ff', endColorstr='#066ca7'); /* for IE */  
	background:-ms-linear-gradient(top, #21a6ff, #066ca7);/*IE10*/      
	color:#fff;
}

.loginlogo{
	z-index:50;
	position:absolute;
	left:10%;
	top:8%;
}
.loginbottom{
	position:absolute;
	bottom:10px;
	width:100%;
	text-align:center;
	font-size:12px;
	color:#757575;
}
.system{
	clear:both;
}
.system ul{
	display:inline-block;
	height:30px;
	margin:0 auto;
}
.system>ul>li{
	float:left;
	list-style:none;
	line-height:30px;
	height:30px;
}
.system ul li a{
	color:#333;
}
.system ul li a:hover{
	text-decoration:underline;
	color:#0a8cd2;
	cursor:pointer;
}
.iphone{
	background:url(../images/apple.png) no-repeat left;
	padding-right:25px;
	margin-left:8px;
}
.android{
	background:url(../images/android.png) no-repeat left;
	padding-right:25px;
	margin-left:8px;
}
.web{
	background:url(../images/web.png) no-repeat left;
	padding-right:25px;
	margin-left:8px;
}
.wechat{
	background:url(../images/wechat.png) no-repeat left;
	width:147px;
	height:211px;
	margin-left:10px;
	text-align:center;
}
.wechat>b{
	font-variant:normal;
	vertical-align:bottom;
	color:#696969;
	display:block;
	padding-top:160px;
}
.left{
	float:left;
}