<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.res.dao.xnres.ext.XnSchDeptExtMapper">

	<select id="getUserListBySchDept" resultMap="com.pinde.sci.dao.base.SysUserMapper.BaseResultMap">
		select *
		from sys_user su
		inner join sys_user_role sur
		on sur.user_flow = su.user_flow
		where su.record_status = 'Y'
		and sur.record_status = 'Y'
		and sur.role_flow = #{roleFlow}
		<if test="userName !=null and userName !=''">
			and su.user_name like '%${userName}%'
		</if>
		and (
		  exists(
			select null
			from sys_user_dept sud
			where sud.dept_flow = (select sd.dept_flow from sch_dept sd where sd.record_status = 'Y' and sd.sch_dept_flow = #{schDeptFlow})
			and sud.user_flow = su.user_flow
			and sud.record_status='Y'
		  )
		  or su.dept_flow = (select sd.dept_flow from sch_dept sd where sd.record_status = 'Y' and sd.sch_dept_flow = #{schDeptFlow})
		)
	</select>
</mapper>