<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.nyzl.NyzlAdmissionSubjectExtMapper">

    <select id="countAdmissionSubject" parameterType="map" resultType="map">

        select NVL(SUM(nas.tk_academic_num),0) tk_academic_num,
        NVL(SUM(nas.academic_admission_num),0) academic_admission_num,
        NVL(SUM(nas.academic_surplus_num),0) academic_surplus_num,
        NVL(SUM(nas.tk_special_num),0) tk_special_num,
        NVL(SUM(nas.special_admission_num),0) special_admission_num,
        NVL(SUM(nas.special_surplus_num),0) special_surplus_num,
        NVL(SUM(nas.tms_academic_num),0) tms_academic_num,
        NVL(SUM(nas.tms_special_num),0) tms_special_num
        from Nyzl_Admission_Subject nas
        where nas.record_status='Y'
        <if test="recruitYear!=null and recruitYear!=''">
            and nas.recruit_year=#{recruitYear}
        </if>
        <if test="orgFlow!=null and orgFlow!=''">
            and nas.org_flow=#{orgFlow}
        </if>
        <if test="stuSign!=null and stuSign!=''">
            and nas.stu_sign=#{stuSign}
        </if>

    </select>

</mapper>