body{
  font-family: "Microsoft YaHei";
}
body a:hover,body a:focus{
  text-decoration: none;
}
body ul{
  list-style: none;
}
/* 导航条样式开始 */
.navbar{
  border: none;
  margin-bottom: 0;
  background-color: white;
}
.navbar .navbar_content{
  max-width: 1000px;
  margin: 0 auto;
  height: 107px;
  display: flex;
  align-items: center;
}
.navbar_content .navbar-header{
  margin-right: 94px;
}
.navbar_content ul{
  display: flex;
  flex-wrap: nowrap;
}
.navbar_content ul li{
  white-space: nowrap;
  font-size: 18px;
}
.navbar-default .navbar-nav > li > a{
  font-size: 18px;
  color: black;
  padding: 7px 0;
  margin: 0 15px;
}
.choose{
  border-top: 3px solid #5380e6;
  font-weight: bold;
  padding: 4px 0!important;
}

/* 导航条样式结束 */
/* banner图开始 */
/* .bg{
  background: url("../images/banner.png") repeat-x;
  height: 420px;
  background-size: 1920px auto;
} */
.bg .row .col-xs-12{
  padding: 0;
  position: relative;
}
.bg .row .col-xs-12 .img_banner{
  max-width: 1920px;
  min-width: 1000px;
  width: 100%;
  height: 420px;
}
.banner_box{
  width: 1000px;
  height: 380px;
  position: absolute;
  top:20px;
  left: 0;
  right: 0;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* banner图结束 */
/* 联系我们开始 */
.notice_container{
  margin: 16px 0;
  width: 100%;
  padding: 0;
  background-color: #f6f9fe;
}
.notice_container .row{
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 25px;
}
.notice_container .row .notice_left a,.notice_container .row .notice_left .notice_info{
  color: rgb(153,153,153);
}
.notice_container .row .notice_left a:hover{
  color: rgb( 95, 150, 251 );
}
.container .row .notice_left .notice_header{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.container .row .notice_left .notice_header .notice_title{
  font-size: 24px;
  position: relative;
}
.n_title{
  margin: 0;
  height: 24px;
  line-height: 24px;
  padding-left: 14px;
  font-family: 'FZHZGBJW';
}
.n_title span{
  font-family: 'Arial';
  color: #e6edf9;
}

.n_border{
  position: absolute;
  top: 2.5px;
  width: 4px;
  height: 19px;
  background-color: rgb( 92, 147, 254 );
  border-radius: 1px;
}
.container .row .notice_left .notice_header .notice_title p:last-child{
  width: 150px;
  height: 1px;
  background: #88a4d8;
  margin-top: 10px;
  margin-bottom: 0;
}
.container .row .notice_left .notice_header .span_border{
  width: 850px;
  border-bottom: 1px solid #dcdcdc;
  position: absolute;
  left: 150px;
  bottom: 0;
}
.notice_left .contact_box{
  min-width: 1000px;
  display: flex;
  margin-top: 47px;
}
.notice_left .contact_box ul li{
  font-size: 18px;
}
.notice_left .contact-b_left ul{
  padding-left: 12px;
}
.notice_left .contact-b_left ul li{
  margin-bottom: 18px;
}
.notice_left .contact-b_left ul li:first-child{
  margin-bottom: 21px;
}
.notice_left .contact-b_left ul li:last-child{
  margin-bottom: 62px;
}
.notice_left .contact-b_right ul{
  padding-left: 145px;
}
.notice_left .contact-b_right ul li::before{
  content: "●";
  color: #999999;
  padding-right: 13px;
}
.notice_left .contact-b_right ul li{
  margin-top: 39px;
  color: #888888;
}
.notice_left .contact-b_right ul li span{
  color: #333333;
}
.notice_left .contact-b_right ul li:first-child{
  margin-top: 34px;
}
.contact-b_img{
  min-width: 1000px;
}
/* 联系我们结束 */
/* 底栏开始 */
.footer_container{
  padding: 0;
  background-color: #41527a;
  padding-top: 27px;
  color: white;
}
.footer_container .row{
  text-align: center;
  min-width: 1000px;
  margin: 0 auto;
}
.footer_title{
  font-size: 16px;
}
.footer_text{
  max-width: 1000px;
  margin: 25px auto 45px;


}
.footer-text_box{
  display: flex;
  margin-left: 275px;
}
.footer_text p{
  margin: 0;
}
.footer-t_left{
  border-right: 1px solid white;
  padding-right: 28px;
}
.footer-t_right{
  text-align: left;
  margin-left: 30px;
}
.footer-t_left p:first-child,.footer-t_right p:first-child{
  margin-bottom: 6px;
}
/* 底栏结束 */
/* 字体引用 */
@font-face {
  font-family: 'FZHZGBJW';
  src: url('../font/FZHZGBJW.ttf');
}