body{
  font-family: "Microsoft YaHei";
}
body a:hover,body a:focus{
  text-decoration: none;
}
body ul{
  list-style: none;
}
/* 导航条样式开始 */
.navbar{
  border: none;
  margin-bottom: 0;
  background-color: white;
}
.navbar .navbar_content{
  max-width: 1000px;
  margin: 0 auto;
  height: 107px;
  display: flex;
  align-items: center;
}
.navbar_content .navbar-header{
  margin-right: 94px;
}
.navbar_content ul{
  display: flex;
  flex-wrap: nowrap;
}
.navbar_content ul li{
  white-space: nowrap;
  font-size: 18px;
}
.navbar-default .navbar-nav > li > a{
  font-size: 18px;
  color: black;
  padding: 7px 0;
  margin: 0 15px;
}
.choose{
  border-top: 3px solid #5380e6;
  font-weight: bold;
  padding: 4px 0!important;
}

/* 导航条样式结束 */
/* banner图开始 */
/* .bg{
  background: url("../images/banner.png") repeat-x;
  height: 420px;
  background-size: 1920px auto;
} */
.bg .row .col-xs-12{
  padding: 0;
  position: relative;
}
.bg .row .col-xs-12 .img_banner{
  max-width: 1920px;
  min-width: 1000px;
  width: 100%;
  height: 420px;
}
.banner_box{
  width: 1000px;
  height: 380px;
  position: absolute;
  top:20px;
  left: 0;
  right: 0;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* banner图结束 */
/* 公示公告开始 */
.notice_container{
  margin: 16px 0;
  width: 100%;
  padding: 0;
  background-color: #f6f9fe;
}
.notice_container .row{
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 25px;
}
.notice_container .row .notice_left{
  min-width: 1000px;
}
.notice_container .row .notice_left a,.notice_container .row .notice_left .notice_info{
  color: rgb(153,153,153);
}
.notice_container .row .notice_left a:hover{
  color: rgb( 95, 150, 251 );
}
.container .row .notice_left .notice_header{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.container .row .notice_left .notice_header .notice_title{
  font-size: 24px;
  position: relative;
}
.n_title{
  margin: 0;
  height: 24px;
  line-height: 24px;
  padding-left: 14px;
  font-family: 'FZHZGBJW';
}
.n_title span{
  font-family: 'Arial';
  color: #e6edf9;
}

.n_border{
  position: absolute;
  top: 2.5px;
  width: 4px;
  height: 19px;
  background-color: rgb( 92, 147, 254 );
  border-radius: 1px;
}
.container .row .notice_left .notice_header .notice_title p:last-child{
  width: 150px;
  height: 1px;
  background: #88a4d8;
  margin-top: 10px;
  margin-bottom: 0;
}
.container .row .notice_left .notice_header .span_border{
  width: 850px;
  border-bottom: 1px solid #dcdcdc;
  position: absolute;
  left: 150px;
  bottom: 0;
}
.notice_left .notice_info ul{
  padding: 0
}
.notice_left .notice_info ul li{
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}
.notice_left .notice_info ul li:first-child{
  margin-top: 32px;
}
/* 分页 */
.hospital_footer{
  display: flex;
  align-items: center;
  max-width: 1000px;
  padding-left: 25.5%;
}
.hospital-f_left{
  display: flex;
  font-size: 12px;
}
.hospital-f_left p{
  margin: 0;
}
.hospital-f_left p:first-child{
  margin-right: 12px;
}
.hospital-f_middle{
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.pagination{
  margin: 20px 0 26px;
}
.hospital-f_middle .pagination li a{
  background-color: transparent;
  border: 1px solid #999999;
  border-radius: 0;
  margin-right: 8px;
  height: 30px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 30px;
  color: #999999;
}
.hospital_footer .hospital-f_middle .pagination li a:hover{
  color: #999999;
}
.hospital-f_middle .pagination .page a{
  width: 23px;
  background-color: #5f96fb;
  color: white!important;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  border: none;
}
.hospital-f_right{
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-bottom: 7px;
}
.hospital-f_right .btn{
  border: 1px solid #999999;
  background-color: transparent;
  border-radius: 0;
  margin-left: 6px;
  padding-left: 10px;
  padding-right: 6px;
}
.hospital-f_right .btn span{
  margin-left: 23px;
}
.hospital-f_right .btn,.hospital-f_right ul{
  font-size: 12px;
}
/* 公示公告结束 */
/* 底栏开始 */
.footer_container{
  padding: 0;
  background-color: #41527a;
  padding-top: 27px;
  color: white;
}
.footer_container .row{
  text-align: center;
  min-width: 1000px;
  margin: 0 auto;
}
.footer_title{
  font-size: 16px;
}
.footer_text{
  max-width: 1000px;
  margin: 25px auto 45px;


}
.footer-text_box{
  display: flex;
  margin-left: 275px;
}
.footer_text p{
  margin: 0;
}
.footer-t_left{
  border-right: 1px solid white;
  padding-right: 28px;
}
.footer-t_right{
  text-align: left;
  margin-left: 30px;
}
.footer-t_left p:first-child,.footer-t_right p:first-child{
  margin-bottom: 6px;
}
/* 底栏结束 */
/* noticeinfo页面样式开始 */
.noticeinfo_container{
  margin-top: 16px;
  width: 100%;
  padding: 0;
  background-color: #f6f9fe;
}
.noticeinfo_container .row{
  max-width: 950px;
  margin: 0 auto;
  padding-top: 25px;
}
.noticeinfo_container .noticeinfo_title{
  text-align: center;
  position: relative;
  min-width: 950px;
}
.noticeinfo_container .noticeinfo_title span:first-child{
  font-size: 18px;
  font-weight: bold;

}
.noticeinfo_container .noticeinfo_title span:nth-child(2){
  position: absolute;
  right: 0;
  font-size: 14px;
  color: #999999;
}
.noticeinfo_container .noticeinfo_title p{
  font-size: 12px;
  color: #999999;
  margin-top: 12px;
  margin-bottom: 25px;
}
.noticeinfo_content{
  color: #666666;
  min-width: 950px;
  border-top: 1px dashed #dfe3eb;
  border-bottom: 1px dashed #dfe3eb;
  padding-top: 24px;
}
.noticeinfo_content .noticei-c_box{
  margin-top: 32px;
}
.noticeinfo_content .noticei-c_title{
  color: #333333;
  font-weight: bold;
  margin-bottom: 12px;
}
.noticeinfo_content .noticei-c_text{
  margin-bottom: 0;
}
.noticeinfo_content .noticei_file{
  color: #999999;
  margin-top: 63px;
  margin-bottom: 15px;
}
.noticeinfo_footer{
  min-width: 950px;
  display: flex;
  justify-content: space-between;
  margin: 24px 0 80px 0;

}
.noticeinfo_footer a{
  color: #333333;
}
/* noticeinfo页面样式结束 */
/* 字体引用 */
@font-face {
  font-family: 'FZHZGBJW';
  src: url('../font/FZHZGBJW.ttf');
}
