/* CSS Document */


html {height:100%;max-height:100%;padding:0;margin:0;border:0;overflow: hidden;}
body{margin:0;}
a{text-decoration:none;color:#222;font-size:14px;font-family: Microsoft yahei}
.fl{float:left}
.fr{float:right;}
.db{display:block;}
img{border:none;}
.weixin input{outline:none;margin:0;border:0;font-family:Microsoft yahei;}

.top_box{position:absolute;overflow:hidden;top:0;left:0;width:100%;z-index:5;display:block;}
.top{width:1024px;margin:auto;overflow:hidden;}
.top a{color:#222;margin-top:42px;}
.riqi{float:left;padding:6px 0;}
.top .liji{color:#47a6e9;}
.top .liji:hover{text-decoration:underline;}

.banner_box{position:absolute;width:100%;overflow:hidden;background:#2f9fdf;z-index:3;top:68px;bottom:68px;}
.banner{position:absolute;top:2%;left:50%;width:1920px;margin-left:-960px;}
.weixin input{height:36px; line-height:36px;width:220px;color:#a3a3a3;font-size:14px;}
.weixin_bg{position:absolute;top:12%;left:50%;margin-left:212px;width:300px;height:300px;background:url(images/njmu_login_bg.png)}
.weixin{width:262px;margin:auto;}
.weixin .login_title{font-size:16px;color:#FFF;text-align:center;line-height:44px;}
.login img,.login input,.mima img,.mima input,.yanzm input,.yanzm img{float:left;}
.login,.mima,.jizhu,.yanzm{overflow:hidden;}
.login,.mima{margin-bottom:10px;}
.jizhu a{color:#fff;}
.yanzm input{width:114px;margin-right:12px;padding-left:10px;}
.jizhu{ width:260px; line-height:38px; height:38px;}
.weixin .jizhu_01{width:16px;height:16px;margin-right:8px;margin-top:16px;}
.jizhu .red{font-size:14px;color:#F00;display:block;font-weight:bold;}
.denglu input{line-height:40px; height:40px;width:260px;text-align:center;font-size:16px;color:#FFF;}
.denglu .login1{background:#10ad86;margin-right:10px;}
.denglu .login1:hover{background:#0d8668;text-decoration:none; cursor:pointer;}
.denglu .login2{background:#328fba;}
.denglu .login2:hover{background:#277396;text-decoration:none; cursor:pointer;}
.jizhu .dengluu:hover{text-decoration:underline;}
.jizhu .dengluu{font-weight:bold;}


.footer_box{background:#d6d6d6;position:absolute;bottom:0;left:0;width:100%;z-index:5;display:block;overflow:hidden;}
.footer{color:#3b3b3b;text-align:center;line-height:48px;font-size:14px;}



