
/*page*/
.page{ text-align:right; margin-top:15px;margin-bottom: 20px;}
.btn_next{border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;height: 100%; font-size:15px; padding:5px 0;*padding:2px 0; cursor: pointer;font-family: "Microsoft YaHei"; vertical-align:middle; background-color:#fff;border: 1px solid #e6e7ec;color: #222; background-image:url(../images/next.png); background-repeat:no-repeat; background-position:center;}
.btn_prev{border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;height: 100%; font-size:15px; padding:5px 0;*padding:2px 0; cursor: pointer;font-family: "Microsoft YaHei"; vertical-align:middle; background-color:#fff;border: 1px solid #e6e7ec;color: #222; background-image:url(../images/prev.png); background-repeat:no-repeat; background-position:center;}
.btn_next:hover,.btn_prev:hover{background-color: #e6e7ec;}
.arrow{display: inline-block;height: 0;border-width: 6px;border-style: dashed;border-color: transparent;border-right-width: 0;border-left-color: #919191;border-left-style: solid; width: 15px;margin-left: 15px;}
.page_num{ font-weight:normal; color:#222222; letter-spacing:2px; vertical-align: middle; margin-right:4px;}
.fenye_select{ padding:4px 0;vertical-align: middle;border: 1px solid #e7e7eb;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;font-size: 14px; color:#363636; font-family: "Microsoft YaHei"; outline:none;}

/*表格*/
.grid{ width:100%; text-align:center; border:1px solid #e7e7eb; color:#353535; border-collapse:collapse;font-size: 14px }
.grid th{ background:#f4f5f9; color:#222222;border-bottom:1px solid #e7e7eb;}
.grid th,.grid td{ line-height:26px; height:40px; padding:0 5px;}
.grid td{border-bottom:1px solid #e7e7eb;}
.grid td a{color:#459ae9;}
.grid td a:hover{text-decoration:underline;}