@charset "utf-8";
/*江苏西医查询项新样式*/
.searchTable{
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px 10px;
	font-size: 14px;
	line-height:normal;
}
.searchTable td{
	width: 157px;
	height: auto;
	line-height: auto;
	text-align: left;
}
.searchTable tr{
	line-height: 40px;
}
.searchTable .td_left{
	word-wrap:break-word;
	width:6em;
	height: auto;
	line-height: auto;
	text-align: right;
}
.searchTable .input{
	width:128px;
	margin-left: 0px
}
.searchTable .select{
	width:128px;
	margin-left: 0px
}
/*.searchTable .btn_green,.btn_grey{*/
/*	margin-left: 10px*/
/*}*/