@charset "utf-8";
/*江苏西医查询项新样式*/
.searchTable{
	/*width: 100%;*/
	border-collapse: separate;
	border-spacing: 0px 10px;
	font-size: 14px;
	line-height:normal;
}
.searchTable td{
	/*width: 157px;*/
	height: auto;
	line-height: auto;
	text-align: left;
}
.searchTable tr{
	line-height: 40px;
}
.searchTable .td_left{
	/*width: auto;*/
	min-width: 60px;
	word-wrap:break-word;
	width:6em;
	height: auto;
	line-height: auto;
	text-align: right;
}

.searchTable .td_right{
	width: 200px;
	text-align:left;
}

.searchTable .input{
	max-width:151px !important;
	margin-left: 0px
}
.searchTable .select{
	max-width:161px !important;
	margin-left: 0px
}
/*.searchTable .btn_green,.btn_grey{*/
/*	margin-left: 10px*/
/*}*/