<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.fstu.FstuScoreExtMapper" >
    <resultMap id="scoreMap" type="HashMap">
        <result property="userName" column="USER_NAME" javaType="string"/>
        <result property="userFlow" column="USER_FLOW" javaType="string"/>
        <result property="orgName" column="ORG_NAME" javaType="string"/>
        <result property="userDeptName" column="USER_DEPT_NAME" javaType="string"/>
        <result property="firstScoreTypeId" column="FIRST_SCORE_TYPE_ID" javaType="string"/>
        <result property="firstScoreTypeName" column="FIRST_SCORE_TYPE_NAME" javaType="string"/>
        <result property="firstProjTypeName" column="FIRST_PROJ_TYPE_NAME" javaType="string"/>
        <result property="firstScoreItemName" column="FIRST_SCORE_ITEM_NAME" javaType="string"/>
        <result property="firstExecutionName" column="FIRST_EXECUTION_NAME" javaType="string"/>
        <result property="myScore" column="MY_SCORE" javaType="string"/>
        <result property="sessionNumber" column="SESSION_NUMBER" javaType="string"/>
        <result property="yearScore" column="year_score" javaType="string"/>
    </resultMap>

    <select id="searchScoreList" parameterType="java.util.Map" resultMap="scoreMap">
        select * from (
        select fsm.FIRST_SCORE_TYPE_NAME,fsm.FIRST_PROJ_TYPE_NAME,
        fsm.FIRST_SCORE_ITEM_NAME,fsm.FIRST_EXECUTION_NAME,
        fsm.USER_DEPT_NAME,fsm.MY_SCORE,su.ORG_NAME,fsm.USER_NAME,
        fsm.SESSION_NUMBER,fsm.USER_FLOW,fsm.begin_time,fsm.first_score_type_id
        ,(select nvl(sum(m.my_score),0) from FSTU_SCORE_MAIN m where m.record_status='Y' and m.user_flow=fsm.user_flow and fsm.SESSION_NUMBER=m.SESSION_NUMBER) year_score
        from FSTU_SCORE_MAIN fsm left join SYS_USER su on fsm.user_flow=su.user_flow
        where fsm.RECORD_STATUS = 'Y' and su.RECORD_STATUS = 'Y'
                <if test='sessionNumber != null and sessionNumber != ""'>
                    and fsm.SESSION_NUMBER = #{sessionNumber}
                </if>
                <if test='userCode!=null and userCode!=""'>
                    <bind name="userCode" value="'%'+userCode+'%'"/>
                    and fsm.USER_CODE like #{userCode}
                </if>
                <if test='userName!=null and userName!=""'>
                    <bind name="userName" value="'%'+userName+'%'"/>
                    and fsm.USER_NAME like #{userName}
                </if>
                <if test='orgName!=null and orgName!=""'>
                    <bind name="orgName" value="'%'+orgName+'%'"/>
                    and su.ORG_NAME like #{orgName}
                </if>
                <if test='userDeptName!=null and userDeptName!=""'>
                    <bind name="userDeptName" value="'%'+userDeptName+'%'"/>
                    and fsm.USER_DEPT_NAME like #{userDeptName}
                </if>
                <if test='firstProjTypeName!=null and firstProjTypeName!=""'>
                    and fsm.FIRST_PROJ_TYPE_Name = #{firstProjTypeName}
                </if>
                <if test='firstProjTypeId!=null and firstProjTypeId!=""'>
                    and fsm.FIRST_PROJ_TYPE_Id = #{firstProjTypeId}
                </if>
                <!--提交并管理员已审核通过-->
                <if test='auditStatusId=="Passed"'>
                    and fsm.AUDIT_STATUS_ID = #{auditStatusId}
                </if>
                <!--提交并管理员未审核通过-->
                <if test='auditStatusId=="Passing"'>
                    and fsm.header_AUDIT_STATUS_ID != 'Add'
                    and (fsm.AUDIT_STATUS_ID != 'Passed' or fsm.AUDIT_STATUS_ID is null)
                </if>
                <if test='deptFlow!=null and deptFlow!=""'>
                    and fsm.user_dept_flow = #{deptFlow}
                </if>
                <if test='firstScoreTypeId!=null and firstScoreTypeId!=""'>
                    and fsm.first_Score_Type_Id = #{firstScoreTypeId}
                </if>
        ) a
        where 1=1
        <if test='startScore!=null and startScore!=""'>
            and to_number(a.year_score) >= to_number(#{startScore})
        </if>
        <if test='endScore!=null and endScore!=""'>
            and to_number(#{endScore}) >= to_number(a.year_score)
        </if>

        order by begin_time desc
    </select>
    <select id="searchUserNotInScore" parameterType="string" resultMap="com.pinde.sci.dao.base.SysUserMapper.BaseResultMap">
        select * from sys_user a where a.record_status='Y' and a.status_id='Activated'
        <if test='orgFlow != null and orgFlow != ""'>
            and a.org_flow = #{orgFlow}
        </if>
        <if test='flag != null and flag != ""'>
            <if test='flag == "score"'>
                and not exists(select null from fstu_user_score b where b.record_status='Y' and a.user_flow = b.user_flow)
            </if>
            <if test='flag == "study"'>
                and not exists(select null from fstu_user_study b where b.record_status='Y' and a.user_flow = b.user_flow)
            </if>
        </if>
    </select>
</mapper>