@charset "utf-8";
/* CSS Document */
body{margin:0;padding:0; font-family: "Microsoft YaHei",Tahoma,Verdana,Arial; font-size:14px; color:#333; height:100%;}
html, body, div, iframe, h1, h2, h3, h4, h5, h6, p, a, del, em, b, i, s, img, strong, dd, dl, dt,  ol, ul, li, label, form, table, tbody, thead, tr, th, td, address, span, cite, b { margin:0; padding:0; border:medium none; font-weight:normal;}
div{display:block;}
a{ color:#ff8400; cursor:pointer;}
a:hover{text-decoration:underline;}

input{font-family:'微软雅黑';outline:medium;}
input[type="button"]{ cursor:pointer;border:none;}

/*---login---*/
.login-body{height:100%;position:absolute;width:100%;}
.login-bar{
	background-image:url(../images/login_bar.png);
	background-repeat:no-repeat;
	background-position:center;
	position:absolute;
	bottom:0;
	top:-1%;
	width:100%;
	z-index:100;
}
.mainlogin{
	position:absolute;
    left:50%;
	top:50%;
	margin-left:150px;
	margin-top:-112px;
}
.yzm img{vertical-align: middle;width: 114px;}
.logintb{width:339px;color:#2a2a2a;font-size:16px; }
.logintb-td img{padding-left:25px;vertical-align:middle;}
.loginsr{border:none;background:#fff;height:30px;color:#676767;font-size:15px;font-family:'微软雅黑';}
.btn-dl{background-color:#44b549; border:0; width:127px; height:42px; color:#fff;font-size:16px; margin-left:17px;}
.btn-dl:hover{background-color:#39A93E; cursor:pointer;}
.log-tips{color:#F00; font-size:14px; padding-left:32px;}
.logintitle{z-index:50;position:absolute;text-align:center;width:100%;top:10%;}
.loginlogo{z-index:50;position:absolute;top:5%; left:5%;}
.logincloud{z-index:50;position:absolute; bottom:60px; height:168px; width:100%; background:url(../images/login_cloud.png) repeat-x;}
.apk{z-index:200;position:absolute; bottom:60px; height:30px;line-height:30px; width:100%;text-align:center; display:block;}
.apk span.img{ display:none; z-index:201;}
.apk a:hover{position:relative;}
.apk a:hover span.img{display:block;position:absolute;top:-160px;left:-25px;}
.loginbottom{position:absolute;bottom:0; right:0; height:60px; line-height:60px;width:100%; background-color:#888888;text-align:center;font-size:13px;color:#fff;}
/*---login-end---*/