<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.inx.InxColumnExtMapper" >
    <resultMap id="extResultMap" type="com.pinde.core.model.InxColumnExt"
               extends="com.pinde.core.common.sci.dao.InxColumnMapper.BaseResultMap">
        <association property="parentColumn" column="parent_column_id" javaType="com.pinde.core.model.InxColumn">
			<id column="PAR_COLUMN_FLOW" property="columnFlow" jdbcType="VARCHAR" />
		    <result column="PAR_COLUMN_ID" property="columnId" jdbcType="VARCHAR" />
		    <result column="PAR_COLUMN_NAME" property="columnName" jdbcType="VARCHAR" />
		    <result column="PAR_PARENT_COLUMN_ID" property="parentColumnId" jdbcType="VARCHAR" />
		    <result column="PAR_ORDINAL" property="ordinal" jdbcType="DECIMAL" />
		    <result column="PAR_RECORD_STATUS" property="recordStatus" jdbcType="CHAR" />
		</association>
	</resultMap>
  
  <select id="searchInxColumnList" parameterType="java.util.Map" resultMap="com.pinde.core.common.sci.dao.InxColumnMapper.BaseResultMap">
      select * from INX_COLUMN
	    where RECORD_STATUS = 'Y'
		<if test='columnId != null and columnId != ""'>
			<bind name="columnId" value="columnId+'%'"/>
			and PARENT_COLUMN_ID like #{columnId}
		</if>
		order by ORDINAL
  </select>
</mapper>