<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pinde.sci.dao.inx.TempExtMapper" >
  <select id="selectUserResume" resultMap="com.pinde.core.common.sci.dao.PubUserResumeMapper.ResultMapWithBLOBs">
	SELECT * FROM pub_user_resume where record_status='Y'
	and xmltype(user_resume).extract('//hbResResumeExtInfoForm').getstringval() is not null
  </select>
  <select id="getDeptGradeList" resultMap="com.pinde.sci.dao.base.ResRecMapper.ResultMapWithBLOBs">
	select * from res_rec where record_status='Y' and rec_type_id like 'DeptGrade'
    and xmltype(rec_content).extract('//totalScore/text()').getstringval()   >100
  </select>
  <select id="getTeacherGradeList" resultMap="com.pinde.sci.dao.base.ResRecMapper.ResultMapWithBLOBs">
	select * from res_rec where record_status='Y' and rec_type_id like 'TeacherGrade'
    and xmltype(rec_content).extract('//totalScore/text()').getstringval()   >100
  </select>

    <select id="getPubProjRecList" resultMap="com.pinde.core.common.sci.dao.PubProjRecMapper.ResultMapWithBLOBs">
        select ppr.* from pub_proj pp ,pub_proj_rec ppr where ppr.record_status='Y'
        and pp.record_status='Y' and pp.proj_flow = ppr.proj_flow
        and ppr.proj_stage_id = 'Contract' and pp.PROJ_TYPE_ID = 'szwsj.lczcbzzljs'
    </select>
</mapper>
